Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

[dumpling] planner: fix the panic that the index's range length may exceed its original column count (#25267)
  dumpling/planner/core/cbo_test.go
  dumpling/planner/core/logical_plans.go
  dumpling/planner/core/stats.go
  dumpling/statistics/selectivity.go
Owners: none

cherry pick #25267 to release-5.1
  planner/core/cbo_test.go
  planner/core/logical_plans.go
  planner/core/stats.go
  statistics/selectivity.go
Owners: @winoros, @rebelice, @hanfei1991, @eurekaka

planner: fix wrong aggregate pruning for some cases (#25289) (#25499)
  planner/core/rule_column_pruning.go
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

[dumpling] metrics: refine the SafeTS gap metric and panel (#25530)
  dumpling/go.mod
  dumpling/go.sum
  dumpling/metrics/grafana/tidb.json
Owners: none

metrics: refine the SafeTS gap metric and panel (#25530)
  go.mod
  go.sum
  metrics/grafana/tidb.json
Owners: @jackysp, @lzmhhh123

cherry pick #25530 to release-5.1
  go.mod
  go.sum
  metrics/grafana/tidb.json
Owners: @jackysp, @lzmhhh123

fix select
  distsql/request_builder_test.go
  executor/table_reader.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

Resolve the conflicts
  go.mod
  go.sum
  store/tikv/kv.go
  store/tikv/metrics/metrics.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] planner,executor: fix point get for update read panic on partition table (#25537)
  dumpling/executor/partition_table_test.go
  dumpling/planner/core/find_best_task.go
Owners: none

planner,executor: fix point get for update read panic on partition table (#25537)
  executor/partition_table_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25537 to release-5.1
  executor/partition_table_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

executor: check ErrRowDoesNotMatchGivenPartitionSet when inserting rows into a partition table (#25484) (#25498)
  executor/batch_checker.go
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix select
  distsql/request_builder_test.go
Owners: @crazycs520, @qw4990

[dumpling] infoschema: improve performance (#25536)
  dumpling/infoschema/cache.go
Owners: none

infoschema: improve performance (#25536)
  infoschema/cache.go
Owners: @djshow832, @lysu

cherry pick #25536 to release-5.1
  infoschema/cache.go
Owners: @djshow832, @lysu

fix select
  planner/core/preprocess.go
Owners: @winoros, @rebelice, @hanfei1991

telemetry: fix the bug about unnecessary error when run tidb only (#25264)
  telemetry/data_slow_query.go
  telemetry/data_window.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

planner: fix begin statement consumed read_ts wrongly (#25492) (#25520)
  executor/stale_txn_test.go
  planner/core/planbuilder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] telemetry: fix the bug about unnecessary error when run tidb only (#25264)
  dumpling/telemetry/data_slow_query.go
  dumpling/telemetry/data_window.go
Owners: none

cherry pick #25264 to release-5.1
  telemetry/data_slow_query.go
  telemetry/data_window.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

cherry pick #25435 to release-5.1
  ddl/ddl_api.go
  ddl/partition.go
  table/tables/partition_test.go
Owners: @zimulala, @tiancaiamao, @wjhuang2016

fix CI
  executor/point_get_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[parser] fix the usage of ODBC style time literal (#1253)
  parser/parser.y
  parser/parser_test.go
Owners: none

delete c.Skip()
  executor/join_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix select
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

tikv: fix empty result for cluster table when enable grpc compress (#25513)
  store/tikv/client/client.go
Owners: @disksing, @AndreMouche, @MyonKeminta

fix select
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

planner,executor: fix point get for update read panic on partition table (#25537) (#25552)
  executor/partition_table_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

fix integration test
  infoschema/tables_test.go
Owners: @djshow832, @lysu

ddl: fix create partition table error under NO_UNSIGNED_SUBTRACTION (#25435) (#25556)
  ddl/ddl_api.go
  ddl/partition.go
  table/tables/partition_test.go
Owners: @zimulala, @tiancaiamao, @wjhuang2016

cherry pick #25513 to release-5.0
  store/tikv/client.go
Owners: @disksing, @AndreMouche, @MyonKeminta

cherry pick #25513 to release-4.0
  store/tikv/client.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] *: temporarily skip some unstable test cases. (#25548)
  dumpling/ddl/db_test.go
  dumpling/executor/stale_txn_test.go
  dumpling/planner/core/prepare_test.go
  dumpling/server/tidb_test.go
Owners: none

*: temporarily skip some unstable test cases. (#25548)
  ddl/db_test.go
  executor/stale_txn_test.go
  planner/core/prepare_test.go
  server/tidb_test.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @coocood, @morgo

infoschema: improve performance (#25536)
  infoschema/cache.go
Owners: @djshow832, @lysu

planner,executor: fix point get for update read panic on partition table (#25537)
  executor/partition_table_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

telemetry: fix the bug about unnecessary error when run tidb only (#25264)
  telemetry/data_slow_query.go
  telemetry/data_window.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

fix select
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

variable: hide txn scope setting (#25519) (#25542)
  sessionctx/variable/sysvar.go
Owners: @morgo

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
