Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

cherry pick #18494 to release-3.0
  server/conn.go
Owners: none

cherry pick #18494 to release-3.1
  server/conn.go
Owners: none

cherry pick #18494 to release-4.0
  server/conn.go
Owners: none

fix test
  distsql/select_result.go
Owners: @pingcap/exec-reviewers

server: return the actual error when conn panic (#18494) (#18498)
  server/conn.go
Owners: none

server: return the actual error when conn panic (#18494) (#18500)
  server/conn.go
Owners: none

server: return the actual error when conn panic (#18494) (#18499)
  server/conn.go
Owners: none

address comments
  executor/split.go
  planner/core/planbuilder.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

expression: add header for tidb_decode_plan result (#18440)
  expression/integration_test.go
  infoschema/tables_test.go
  util/plancodec/codec.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl, @pingcap/planner-reviewers

expression: add header for tidb_decode_plan result (#18440)
  expression/integration_test.go
  infoschema/tables_test.go
  util/plancodec/codec.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl, @pingcap/planner-reviewers

[dumpling] expression: add header for tidb_decode_plan result (#18440)
  dumpling/expression/integration_test.go
  dumpling/infoschema/tables_test.go
  dumpling/util/plancodec/codec.go
Owners: none

cherry pick #18440 to release-4.0
  expression/integration_test.go
  infoschema/tables_test.go
  util/plancodec/codec.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl, @pingcap/planner-reviewers

fix ddl_test
  Makefile
  cmd/ddltest/ddl_test.go
  table/tables/tables.go
Owners: none

config: set the default value of OOMAction to OOMActionCancel
  config/config.go
Owners: none

fix test
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

update config.toml.example
  config/config.toml.example
Owners: none

executor: return the error when recovering indexHashJoin worker
  executor/index_lookup_hash_join.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

fix Test of PR/18277
  executor/executor_test.go
Owners: @pingcap/exec-reviewers

resolve conflict after merge master
  config/config.toml.example
  executor/write_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/cleanup.go
  store/tikv/commit.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/txn.go
Owners: @pingcap/exec-reviewers

fix Test of PR/18277
  executor/executor_test.go
Owners: @pingcap/exec-reviewers

cherry pick #18277 to release-4.0
  distsql/select_result.go
  executor/executor.go
  executor/executor_test.go
  server/conn.go
  server/server.go
  session/pessimistic_test.go
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

cherry pick #18277 to release-3.0
  distsql/select_result.go
  executor/executor.go
  executor/executor_test.go
  server/conn.go
  server/server.go
  session/pessimistic_test.go
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

sessionctx, executor: add session var to control explicit insertion on auto_random column (#17102)
  ddl/serial_test.go
  executor/ddl_test.go
  executor/insert_common.go
  executor/insert_test.go
  executor/show_test.go
  go.sum
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

cherry pick #18277 to release-3.1
  distsql/select_result.go
  executor/executor.go
  executor/executor_test.go
  server/conn.go
  server/server.go
  session/pessimistic_test.go
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

executor: fix bug of read information_schema.columns (#18503)
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

[dumpling] executor: fix bug of read information_schema.columns (#18503)
  dumpling/executor/infoschema_reader.go
Owners: none

executor: fix bug of read information_schema.columns (#18503)
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

fix Test of PR/18277
  executor/executor_test.go
Owners: @pingcap/exec-reviewers

autoid: only initialize rowid allocator if necessary (#18326)
  executor/seqtest/seq_executor_test.go
  meta/autoid/autoid.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl

[dumpling] autoid: only initialize rowid allocator if necessary (#18326)
  dumpling/executor/seqtest/seq_executor_test.go
  dumpling/meta/autoid/autoid.go
Owners: none

autoid: only initialize rowid allocator if necessary (#18326)
  executor/seqtest/seq_executor_test.go
  meta/autoid/autoid.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl

cherry pick #18440 to release-4.0 (#18501)
  expression/integration_test.go
  infoschema/tables_test.go
  util/plancodec/codec.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl, @pingcap/planner-reviewers

Update config.toml.example
  config/config.toml.example
Owners: none

ddl: fix max allocation count when create auto_random tables (#18417)
  ddl/serial_test.go
  meta/autoid/autoid.go
Owners: @pingcap/co-ddl

ddl: fix max allocation count when create auto_random tables (#18417)
  ddl/serial_test.go
  meta/autoid/autoid.go
Owners: @pingcap/co-ddl

[dumpling] ddl: fix max allocation count when create auto_random tables (#18417)
  dumpling/ddl/serial_test.go
  dumpling/meta/autoid/autoid.go
Owners: none

test
  distsql/select_result.go
  executor/executor.go
  server/conn.go
  session/pessimistic_test.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

executor: log when setting a global variable (#18457)
  executor/set.go
Owners: @pingcap/exec-reviewers

executor: log when setting a global variable (#18457)
  executor/set.go
Owners: @pingcap/exec-reviewers

[dumpling] executor: log when setting a global variable (#18457)
  dumpling/executor/set.go
Owners: none
