Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

executor: return error when recover indexHash/MergeJoin worker (#18509)
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

cherry pick #18509 to release-4.0
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

resolve conflicts
  executor/index_lookup_merge_join.go
Owners: @pingcap/exec-reviewers

refine code
  util/execdetails/execdetails.go
Owners: @pingcap/exec-reviewers

refine code
  executor/aggregate.go
  executor/join.go
Owners: @pingcap/exec-reviewers

executor: return error when recover indexHash/MergeJoin worker (#18509) (#18527)
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

cherry pick #18424 to release-4.0
  executor/executor_test.go
  executor/merge_join.go
  executor/merge_join_test.go
  executor/pkg_test.go
  executor/sort_test.go
  util/chunk/row_container.go
Owners: @pingcap/exec-reviewers

[dumpling] *: add HTTP API to generate TiDB metric profile (#18272)
  dumpling/executor/inspection_profile.go
  dumpling/executor/inspection_summary.go
  dumpling/infoschema/metric_table_def.go
  dumpling/metrics/session.go
  dumpling/server/http_handler.go
  dumpling/server/http_status.go
  dumpling/store/tikv/snapshot.go
  dumpling/store/tikv/txn.go
Owners: none

*: add HTTP API to generate TiDB metric profile (#18272)
  executor/inspection_profile.go
  executor/inspection_summary.go
  infoschema/metric_table_def.go
  metrics/session.go
  server/http_handler.go
  server/http_status.go
  store/tikv/snapshot.go
  store/tikv/txn.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl

*: add HTTP API to generate TiDB metric profile (#18272)
  executor/inspection_profile.go
  executor/inspection_summary.go
  infoschema/metric_table_def.go
  metrics/session.go
  server/http_handler.go
  server/http_status.go
  store/tikv/snapshot.go
  store/tikv/txn.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl

unistore: disable coprocessor point get for common handle
  store/mockstore/unistore/cophandler/closure_exec.go
Owners: none

cherry pick #18272 to release-4.0
  executor/inspection_profile.go
  executor/inspection_summary.go
  infoschema/metric_table_def.go
  metrics/session.go
  server/http_handler.go
  server/http_status.go
  store/tikv/snapshot.go
  store/tikv/txn.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl

make ci happy
  util/execdetails/execdetails.go
Owners: @pingcap/exec-reviewers

change log level and check error content in test
  planner/core/integration_test.go
  planner/optimize.go
Owners: @pingcap/planner-reviewers

planner: ban tiflash engine when the statement is not read only (#18458)
  executor/adapter.go
  executor/executor.go
  executor/prepared.go
  planner/core/integration_test.go
  planner/optimize.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

[dumpling] planner: ban tiflash engine when the statement is not read only (#18458)
  dumpling/executor/adapter.go
  dumpling/executor/executor.go
  dumpling/executor/prepared.go
  dumpling/planner/core/integration_test.go
  dumpling/planner/optimize.go
Owners: none

planner: ban tiflash engine when the statement is not read only (#18458)
  executor/adapter.go
  executor/executor.go
  executor/prepared.go
  planner/core/integration_test.go
  planner/optimize.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

cherry pick #18458 to release-3.1
  executor/adapter.go
  executor/executor.go
  executor/prepared.go
  planner/core/integration_test.go
  planner/optimize.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

cherry pick #18458 to release-4.0
  executor/adapter.go
  executor/executor.go
  executor/prepared.go
  planner/core/integration_test.go
  planner/optimize.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

resolve conflicts
  planner/core/integration_test.go
  planner/optimize.go
Owners: @pingcap/planner-reviewers

executor: fix bug of read information_schema.columns (#18503)
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

resolve conflicts
  executor/adapter.go
  executor/prepared.go
  planner/core/integration_test.go
  planner/optimize.go
  sessionctx/variable/session.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

session: add no register API for using TiDB as a library (#17513)
  config/config.go
  config/config.toml.example
  config/config_test.go
  domain/domain.go
  domain/infosync/info.go
  domain/infosync/info_test.go
Owners: @pingcap/co-ddl

[dumpling] session: add no register API for using TiDB as a library (#17513)
  dumpling/config/config.go
  dumpling/config/config.toml.example
  dumpling/config/config_test.go
  dumpling/domain/domain.go
  dumpling/domain/infosync/info.go
  dumpling/domain/infosync/info_test.go
Owners: none

session: add no register API for using TiDB as a library (#17513)
  config/config.go
  config/config.toml.example
  config/config_test.go
  domain/domain.go
  domain/infosync/info.go
  domain/infosync/info_test.go
Owners: @pingcap/co-ddl

cherry pick #18092 to release-4.0
  executor/builder.go
  executor/explainfor_test.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  planner/core/logical_plan_builder.go
  planner/core/memtable_predicate_extractor.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl, @pingcap/planner-reviewers

executor: fix mislead inconsistent log after Context.Cancel
  executor/distsql.go
  util/misc.go
Owners: @pingcap/exec-reviewers

fix import not used issue
  executor/insert_test.go
  go.mod
  go.sum
Owners: @pingcap/exec-reviewers

solved pr comments
  executor/aggfuncs/func_max_min.go
Owners: @pingcap/exec-reviewers

fix conflict
  executor/explainfor_test.go
  executor/infoschema_reader.go
  infoschema/tables.go
  planner/core/logical_plan_builder.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl, @pingcap/planner-reviewers

remove unexpcted test
  executor/explainfor_test.go
Owners: @pingcap/exec-reviewers

ddl: Add some limit for `auto_random` (#17119)
  ddl/ddl_api.go
  ddl/serial_test.go
  executor/ddl_test.go
  executor/insert_test.go
  executor/seqtest/seq_executor_test.go
  executor/write.go
  infoschema/tables_test.go
  meta/autoid/autoid.go
  meta/autoid/errors.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

ddl, sessionctx: make auto_random aware of auto_increment_increment (#17575)
  ddl/serial_test.go
  executor/insert_common.go
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

solved pr comments
  executor/aggfuncs/func_max_min.go
Owners: @pingcap/exec-reviewers

fix
  executor/aggfuncs/func_max_min.go
Owners: @pingcap/exec-reviewers

fix
  executor/aggfuncs/func_max_min.go
Owners: @pingcap/exec-reviewers

ddl: limit the range of auto_random_base (#18188) (#18241)
  ddl/ddl_api.go
  executor/insert_test.go
  go.mod
  go.sum
  meta/autoid/errors.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

ddl: fix mix DDLs blocks 2*lease on unistore (#18468)
  ddl/mock.go
Owners: @pingcap/co-ddl

[dumpling] ddl: fix mix DDLs blocks 2*lease on unistore (#18468)
  dumpling/ddl/mock.go
Owners: none

ddl: fix mix DDLs blocks 2*lease on unistore (#18468)
  ddl/mock.go
Owners: @pingcap/co-ddl
