Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

wait longer on failure wait
  util/topsql/reporter/mock/server.go
Owners: @winoros, @wshwsh12

[dumpling] config: add example config line for sem (#25315)
  dumpling/config/config.toml.example
Owners: none

config: add example config line for sem (#25315)
  config/config.toml.example
Owners: @tiancaiamao, @qw4990

test_parser
  go.mod
  go.sum
Owners: none

tests: use pingcap/errors to replace juju/errors (#25290)
  tests/globalkilltest/global_kill_test.go
  tests/globalkilltest/go.mod
  tests/globalkilltest/go.sum
Owners: @ichn-hu

[dumpling] tests: use pingcap/errors to replace juju/errors (#25290)
  dumpling/tests/globalkilltest/global_kill_test.go
  dumpling/tests/globalkilltest/go.mod
  dumpling/tests/globalkilltest/go.sum
Owners: none

test_parser
  go.mod
  go.sum
Owners: none

[dumpling] store: fix region request have no backoff in some retry situation (#25310)
  dumpling/store/tikv/error/error.go
  dumpling/store/tikv/metrics/shortcuts.go
  dumpling/store/tikv/region_cache_test.go
  dumpling/store/tikv/region_request.go
  dumpling/store/tikv/region_request_test.go
  dumpling/store/tikv/retry/config.go
Owners: none

store: fix region request have no backoff in some retry situation (#25310)
  store/tikv/error/error.go
  store/tikv/metrics/shortcuts.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/retry/config.go
Owners: @disksing, @AndreMouche, @MyonKeminta

cherry pick #25310 to release-5.1
  store/tikv/error/error.go
  store/tikv/metrics/shortcuts.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/retry/config.go
Owners: @disksing, @AndreMouche, @MyonKeminta

address comment
  types/format_test.go
  types/time.go
Owners: @XuHuaiyu, @guo-shaoge

address comment
  types/format_test.go
Owners: @XuHuaiyu, @guo-shaoge

refine statement.
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/task.go
Owners: @winoros, @rebelice, @hanfei1991

[dumpling] metrics: Add err label for TiFlashQueryTotalCounter (#25317)
  dumpling/executor/adapter.go
  dumpling/metrics/server.go
  dumpling/server/conn.go
  dumpling/session/session.go
Owners: none

metrics: Add err label for TiFlashQueryTotalCounter (#25317)
  executor/adapter.go
  metrics/server.go
  server/conn.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @coocood, @morgo, @cfzjywxk, @tiancaiamao

address comment
  table/tables/tables.go
Owners: @wjhuang2016

cherry pick #25317 to release-4.0
  executor/adapter.go
  metrics/server.go
  server/conn.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @coocood, @morgo, @cfzjywxk, @tiancaiamao

cherry pick #25317 to release-5.0
  executor/adapter.go
  metrics/server.go
  server/conn.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @coocood, @morgo, @cfzjywxk, @tiancaiamao

cherry pick #25317 to release-5.1
  executor/adapter.go
  metrics/server.go
  server/conn.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @coocood, @morgo, @cfzjywxk, @tiancaiamao

go fmt
  types/format_test.go
Owners: @XuHuaiyu, @guo-shaoge

planner/core: fix post-opt resolve bug
  executor/tiflash_test.go
  planner/core/rule_inject_extra_projection.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

Block logs when referenced by other components outside tidb
  telemetry/data_slow_query.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

[dumpling] store/tikv: move region_* into package store/tikv/region (#25205)
  dumpling/executor/executor_test.go
  dumpling/executor/stale_txn_test.go
  dumpling/server/conn_test.go
  dumpling/session/session_fail_test.go
  dumpling/store/gcworker/gc_worker.go
  dumpling/store/gcworker/gc_worker_test.go
  dumpling/store/tikv/2pc.go
  dumpling/store/tikv/client_helper.go
  dumpling/store/tikv/commit.go
  dumpling/store/tikv/interface.go
  dumpling/store/tikv/kv.go
  dumpling/store/tikv/locate/accessmode.go
  dumpling/store/tikv/locate/pd_codec.go
  dumpling/store/tikv/locate/region_cache.go
  dumpling/store/tikv/locate/region_cache_test.go
  dumpling/store/tikv/locate/region_request.go
  dumpling/store/tikv/locate/region_request_test.go
  dumpling/store/tikv/lock_resolver.go
  dumpling/store/tikv/pessimistic.go
  dumpling/store/tikv/prewrite.go
  dumpling/store/tikv/rawkv.go
  dumpling/store/tikv/rawkv_test.go
  dumpling/store/tikv/region.go
  dumpling/store/tikv/scan.go
  dumpling/store/tikv/snapshot.go
  dumpling/store/tikv/split_region.go
  dumpling/store/tikv/test_probe.go
  dumpling/store/tikv/test_util.go
  dumpling/store/tikv/tests/2pc_test.go
  dumpling/store/tikv/tests/async_commit_fail_test.go
Owners: none

store/tikv: move region_* into package store/tikv/region (#25205)
  executor/executor_test.go
  executor/stale_txn_test.go
  server/conn_test.go
  session/session_fail_test.go
  store/gcworker/gc_worker.go
  store/gcworker/gc_worker_test.go
  store/tikv/2pc.go
  store/tikv/client_helper.go
  store/tikv/commit.go
  store/tikv/interface.go
  store/tikv/kv.go
  store/tikv/locate/accessmode.go
  store/tikv/locate/pd_codec.go
  store/tikv/locate/region_cache.go
  store/tikv/locate/region_cache_test.go
  store/tikv/locate/region_request.go
  store/tikv/locate/region_request_test.go
  store/tikv/lock_resolver.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/rawkv.go
  store/tikv/rawkv_test.go
  store/tikv/region.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/test_probe.go
  store/tikv/test_util.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/async_commit_fail_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @coocood, @morgo, @cfzjywxk, @tiancaiamao, @disksing, @AndreMouche, @MyonKeminta

.
  table/tables/tables.go
Owners: @wjhuang2016

executor: open childExec during execution for UnionExec (#24899)
  executor/executor.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] executor: open childExec during execution for UnionExec (#24899)
  dumpling/executor/executor.go
  dumpling/executor/executor_test.go
Owners: none

cherry pick #24899 to release-5.1
  executor/executor.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

address comment
  table/tables/tables.go
Owners: @wjhuang2016

[parser] auth: check for NUL in caching_sha2_password salt (#1246)
  parser/ast/misc.go
  parser/auth/caching_sha2.go
  parser/parser_test.go
Owners: none

executor: temporarily skip some unstable test cases
  executor/analyze_test.go
  executor/infoschema_reader_test.go
  executor/partition_table_test.go
  executor/set_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

done
  go.mod
  go.sum
Owners: none

update log info
  table/tables/tables.go
Owners: @wjhuang2016

address comment
  structure/hash.go
  structure/structure.go
Owners: @zimulala

add a test
  statistics/integration_test.go
Owners: @winoros, @eurekaka

fix
  planner/core/rule_inject_extra_projection.go
Owners: @winoros, @rebelice, @hanfei1991

fix union injected proj
  planner/core/rule_inject_extra_projection.go
Owners: @winoros, @rebelice, @hanfei1991

*: fix binding doesn't work for CTE (#25308)
  cmd/explaintest/r/cte.result
  cmd/explaintest/t/cte.test
  go.mod
  go.sum
Owners: @eurekaka, @rebelice

[dumpling] *: fix binding doesn't work for CTE (#25308)
  dumpling/cmd/explaintest/r/cte.result
  dumpling/cmd/explaintest/t/cte.test
  dumpling/go.mod
  dumpling/go.sum
Owners: none

stash test
  planner/core/enforce_mpp_test.go
  planner/core/integration_test.go
  planner/core/testdata/enforce_mpp_suite_in.json
  planner/core/testdata/enforce_mpp_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
