Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

try to fix test
  planner/core/exhaust_physical_plans.go
Owners: @winoros, @rebelice, @hanfei1991

bugfix
  executor/table_reader.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

make test stable
  server/tidb_test.go
Owners: @coocood, @morgo

change SCHEMA_NAME and DIGEST to NULL
  infoschema/tables.go
  infoschema/tables_test.go
  util/stmtsummary/evicted.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Owners: @djshow832, @lysu, @winoros, @wshwsh12

typo fix
  util/stmtsummary/evicted.go
  util/stmtsummary/statement_summary.go
Owners: @winoros, @wshwsh12

executor: fix bug when use limit in CTE.
  executor/cte.go
  executor/cte_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] planner/core: remove the union branch with dual table. (#25218)
  dumpling/planner/core/exhaust_physical_plans.go
  dumpling/planner/core/find_best_task.go
  dumpling/planner/core/integration_test.go
  dumpling/planner/core/task.go
  dumpling/planner/core/testdata/integration_serial_suite_in.json
  dumpling/planner/core/testdata/integration_serial_suite_out.json
Owners: none

planner/core: remove the union branch with dual table. (#25218)
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

cherry pick #25218 to release-5.0
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

typo fix
  util/stmtsummary/statement_summary.go
Owners: @winoros, @wshwsh12

cherry pick #25218 to release-5.1
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

[dumpling] planner: solve an incompatible issue about dynamic-mode and TiFlash and enable dynamic mode by default (#25255)
  dumpling/distsql/select_result.go
  dumpling/executor/builder.go
  dumpling/executor/partition_table_test.go
  dumpling/executor/table_reader.go
  dumpling/session/bootstrap.go
  dumpling/sessionctx/variable/sysvar.go
Owners: none

planner: solve an incompatible issue about dynamic-mode and TiFlash and enable dynamic mode by default (#25255)
  distsql/select_result.go
  executor/builder.go
  executor/partition_table_test.go
  executor/table_reader.go
  session/bootstrap.go
  sessionctx/variable/sysvar.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @morgo

cherry pick #25255 to release-5.1
  distsql/select_result.go
  executor/builder.go
  executor/partition_table_test.go
  executor/table_reader.go
  session/bootstrap.go
  sessionctx/variable/sysvar.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @morgo

done
  a
  ddl/column.go
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/failtest/fail_db_test.go
  ddl/generated_column.go
  executor/admin_test.go
  executor/ddl_test.go
  executor/executor_test.go
  executor/set_test.go
  expression/integration_test.go
  session/pessimistic_test.go
  session/schema_amender.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @cfzjywxk, @morgo

clean
  a
Owners: none

fix bug about error when start tidb only
  telemetry/data_window.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

remove useless comments
  telemetry/data_window.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

*: update kvrpcpb to not use abbreviations
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
  session/schema_amender.go
  store/tikv/2pc.go
  store/tikv/cleanup.go
  store/tikv/commit.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/test_probe.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/prewrite_test.go
  store/tikv/tests/snapshot_test.go
  store/tikv/tests/store_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @disksing, @AndreMouche, @MyonKeminta

typo fix...
  util/stmtsummary/evicted_test.go
Owners: @winoros, @wshwsh12

types: optimize MyDecimal.ToFloat64
  types/mydecimal.go
Owners: @XuHuaiyu, @guo-shaoge

variable: small cleanups
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @morgo

planner: fix the panic that the index's range length may exceed its original column count
  planner/core/cbo_test.go
  planner/core/logical_plans.go
Owners: @winoros, @rebelice, @hanfei1991

fix ci
  executor/tiflash_test.go
  planner/core/testdata/integration_serial_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #23803 to release-3.0
  server/server.go
Owners: @coocood, @morgo

fix conflicts
  server/server.go
Owners: @coocood, @morgo

fix test for clienterrors
  server/server_test.go
Owners: @coocood, @morgo

[dumpling] executor: fix bug when use limit in CTE (#25261)
  dumpling/executor/cte.go
  dumpling/executor/cte_test.go
Owners: none

executor: fix bug when use limit in CTE (#25261)
  executor/cte.go
  executor/cte_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25261 to release-5.1
  executor/cte.go
  executor/cte_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] *: enable column-type-change totally (#25263)
  dumpling/ddl/column.go
  dumpling/ddl/column_test.go
  dumpling/ddl/column_type_change_test.go
  dumpling/ddl/db_change_test.go
  dumpling/ddl/db_integration_test.go
  dumpling/ddl/db_test.go
  dumpling/ddl/ddl_api.go
  dumpling/ddl/failtest/fail_db_test.go
  dumpling/ddl/generated_column.go
  dumpling/executor/admin_test.go
  dumpling/executor/ddl_test.go
  dumpling/executor/executor_test.go
  dumpling/executor/set_test.go
  dumpling/expression/integration_test.go
  dumpling/session/pessimistic_test.go
  dumpling/session/schema_amender.go
  dumpling/sessionctx/variable/session.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/tidb_vars.go
  dumpling/sessionctx/variable/varsutil_test.go
Owners: none

*: enable column-type-change totally (#25263)
  ddl/column.go
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/failtest/fail_db_test.go
  ddl/generated_column.go
  executor/admin_test.go
  executor/ddl_test.go
  executor/executor_test.go
  executor/set_test.go
  expression/integration_test.go
  session/pessimistic_test.go
  session/schema_amender.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @cfzjywxk, @morgo

cherry pick #25263 to release-5.1
  ddl/column.go
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/failtest/fail_db_test.go
  ddl/generated_column.go
  executor/admin_test.go
  executor/ddl_test.go
  executor/executor_test.go
  executor/set_test.go
  expression/integration_test.go
  session/pessimistic_test.go
  session/schema_amender.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @cfzjywxk, @morgo

store/tikv: rename tikv/region to tikv/locate
  executor/executor_test.go
  store/tikv/2pc.go
  store/tikv/client_helper.go
  store/tikv/commit.go
  store/tikv/interface.go
  store/tikv/kv.go
  store/tikv/locate/accessmode.go
  store/tikv/locate/pd_codec.go
  store/tikv/locate/region_cache.go
  store/tikv/locate/region_cache_test.go
  store/tikv/locate/region_request.go
  store/tikv/locate/region_request_test.go
  store/tikv/lock_resolver.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/rawkv.go
  store/tikv/region.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/test_probe.go
  store/tikv/test_util.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche, @MyonKeminta

types: optimize MyDecimal.ToFloat64
  types/mydecimal.go
Owners: @XuHuaiyu, @guo-shaoge

store/tikv: cleanup dependency
  store/tikv/tikv_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

address comments
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] planner: disable mpp_outer_join_fixed_build_side by default (#25240)
  dumpling/executor/tiflash_test.go
  dumpling/planner/core/testdata/integration_serial_suite_out.json
  dumpling/sessionctx/variable/tidb_vars.go
Owners: none

planner: disable mpp_outer_join_fixed_build_side by default (#25240)
  executor/tiflash_test.go
  planner/core/testdata/integration_serial_suite_out.json
  sessionctx/variable/tidb_vars.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

cherry pick #25240 to release-5.1
  executor/tiflash_test.go
  planner/core/testdata/integration_serial_suite_out.json
  sessionctx/variable/tidb_vars.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo
