Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

ddl: disallow change columns from zero int to time
  ddl/backfilling.go
  ddl/column_type_change_test.go
  types/time.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @guo-shaoge

tiny refactor test and add debug log
  server/tidb_test.go
  util/topsql/topsql.go
  util/topsql/tracecpu/mock/mock.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

define err
  errno/errcode.go
  errno/errname.go
  errors.toml
  planner/core/errors.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
Owners: @morgo, @tangenta, @winoros, @rebelice, @hanfei1991

init
  util/topsql/reporter/client.go
  util/topsql/reporter/reporter.go
Owners: @winoros, @wshwsh12

executor: Let the SHUTDOWN statement do a graceful shutdown
  executor/simple.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix test
  executor/ddl_test.go
  go.mod
  go.sum
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Owners: none

executor: reject a future tidb_snapshot session variable
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add unit test
  executor/executor_test.go
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

refmt
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

merge master
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/t/partition_pruning.test
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  distsql/distsql.go
  domain/sysvar_cache.go
  executor/builder.go
  executor/index_lookup_merge_join_test.go
  executor/set.go
  executor/tiflash_test.go
  expression/builtin_like_test.go
  expression/integration_test.go
  go.mod
  infoschema/tables.go
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
  planner/core/preprocess.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  server/tidb_test.go
  session/session.go
  statistics/handle/handle_test.go
  store/copr/mpp.go
  store/driver/txn/snapshot.go
  structure/type.go
  util/stringutil/string_util.go
  util/stringutil/string_util_test.go
Owners: @eurekaka, @rebelice, @zimulala, @tiancaiamao, @crazycs520, @qw4990, @lysu, @xhebox, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @winoros, @hanfei1991, @coocood, @morgo, @cfzjywxk, @disksing, @AndreMouche, @MyonKeminta

executor: fix incorrect result of enum type merge join (#24775) (#25648)
  executor/index_lookup_join_test.go
  executor/index_lookup_merge_join_test.go
  planner/core/exhaust_physical_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

fix integration tests
  ddl/column_type_change_test.go
  ddl/db_test.go
  types/time.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @guo-shaoge

[dumpling] planner: Log warnings when agg function can not be pushdown in explain statement (#25553)
  dumpling/executor/show_test.go
  dumpling/planner/core/exhaust_physical_plans.go
  dumpling/planner/core/task.go
  dumpling/planner/core/testdata/enforce_mpp_suite_out.json
Owners: none

planner: Log warnings when agg function can not be pushdown in explain statement (#25553)
  executor/show_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25553 to release-5.0
  executor/show_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

add more tests
  planner/core/preprocess_test.go
Owners: @winoros, @rebelice, @hanfei1991

cherry pick #25553 to release-5.1
  executor/show_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25450 to release-5.0
  executor/tiflash_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25450 to release-5.1
  executor/tiflash_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

mistakes
  planner/core/preprocess_test.go
Owners: @winoros, @rebelice, @hanfei1991

Update executor/seqtest/prepared_test.go
  executor/seqtest/prepared_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add test
  util/topsql/reporter/reporter_test.go
Owners: @winoros, @wshwsh12

add tests
  ddl/serial_test.go
Owners: @zimulala, @tiancaiamao

fix the auth problem in the test of set replica for system tables
  ddl/db_test.go
Owners: @zimulala, @tiancaiamao

also check stale read ts
  executor/executor_test.go
  executor/set.go
  executor/stale_txn_test.go
  planner/core/planbuilder.go
  sessionctx/context.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @qw4990

sessionctx: add tidb_enable_list_partition global system variable
  session/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil_test.go
Owners: @cfzjywxk, @tiancaiamao, @morgo

make fmt
  ddl/db_test.go
Owners: @zimulala, @tiancaiamao

ddl: fix CREATE GLOBAL TEMPORARY TABLE ... LIKE creates a normal table (#25644)
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @zimulala, @tiancaiamao

[dumpling] ddl: fix CREATE GLOBAL TEMPORARY TABLE ... LIKE creates a normal table (#25644)
  dumpling/ddl/ddl_api.go
  dumpling/ddl/serial_test.go
Owners: none

fix
  distsql/request_builder.go
  executor/builder.go
  executor/stale_txn_test.go
  planner/core/common_plans.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] expression: fix float64 overflow check in plus/minus real function (#24179)
  dumpling/expression/builtin_arithmetic.go
  dumpling/expression/builtin_arithmetic_vec.go
  dumpling/expression/integration_test.go
  dumpling/util/math/math.go
Owners: none

expression: fix float64 overflow check in plus/minus real function (#24179)
  expression/builtin_arithmetic.go
  expression/builtin_arithmetic_vec.go
  expression/integration_test.go
  util/math/math.go
Owners: @XuHuaiyu, @wjhuang2016, @winoros, @wshwsh12

ddl: DROP GLOBAL TEMPORARY TABLE should fail on normal tables (#25639)
  errno/errcode.go
  errno/errname.go
  errors.toml
  planner/core/errors.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
Owners: @morgo, @tangenta, @winoros, @rebelice, @hanfei1991

[dumpling] ddl: DROP GLOBAL TEMPORARY TABLE should fail on normal tables (#25639)
  dumpling/errno/errcode.go
  dumpling/errno/errname.go
  dumpling/errors.toml
  dumpling/planner/core/errors.go
  dumpling/planner/core/preprocess.go
  dumpling/planner/core/preprocess_test.go
Owners: none

executor: Modify temporary table behavior for history read
  executor/builder.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

t
  server/conn.go
Owners: @coocood, @morgo

validate in different syntaxes
  executor/stale_txn_test.go
  planner/core/preprocess.go
  sessionctx/context.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @qw4990

add some modify
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: init assertion
  ddl/index.go
  executor/admin.go
  executor/admin_test.go
  executor/distsql_test.go
  executor/executor_test.go
  kv/keyflags.go
  kv/kv.go
  session/schema_amender.go
  session/schema_amender_test.go
  store/driver/txn/txn_driver.go
  store/driver/txn/unionstore_driver.go
  store/mockstore/unistore/tikv/mvcc.go
  store/tikv/2pc.go
  store/tikv/kv/keyflags.go
  store/tikv/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/prewrite.go
  store/tikv/tests/2pc_test.go
  table/index.go
  table/tables/index.go
  table/tables/index_test.go
  table/tables/tables.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche, @cfzjywxk, @MyonKeminta, @wjhuang2016
