Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

cherry pick #25268 to release-4.0
  executor/grant_test.go
  executor/simple.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

cherry pick #25268 to release-5.0
  executor/grant_test.go
  executor/simple.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

cherry pick #25268 to release-5.1
  executor/grant_test.go
  executor/simple.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

add read/write variable log
  executor/replace.go
  executor/table_reader.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao

update to remove restricted_local_admin
  executor/executor_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

executor: add tests
  executor/batch_point_get_test.go
  executor/point_get_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

infoschema: maintain the snapshotTS in the infocache
  ddl/ddl_test.go
  ddl/util/syncer_test.go
  domain/domain.go
  infoschema/cache.go
  infoschema/cache_test.go
  owner/manager_test.go
Owners: @zimulala, @tiancaiamao, @lysu, @xhebox, @djshow832, @wjhuang2016

address comments
  infoschema/cache.go
  infoschema/cache_test.go
  metrics/domain.go
  metrics/session.go
Owners: @djshow832, @lysu, @jackysp, @lzmhhh123

feedback from reviewer
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Owners: @morgo

ddl,server,store: Fix ineffectual assignment in tests etc. (#25236)
  ddl/column_type_change_test.go
  server/http_handler_test.go
  store/tikv/locate/region_request_test.go
Owners: @zimulala, @tiancaiamao, @coocood, @morgo, @disksing, @AndreMouche, @MyonKeminta

[dumpling] ddl,server,store: Fix ineffectual assignment in tests etc. (#25236)
  dumpling/ddl/column_type_change_test.go
  dumpling/server/http_handler_test.go
  dumpling/store/tikv/locate/region_request_test.go
Owners: none

ddl: fix the data and indexes inconsistency during ctc (#25323) (#25337)
  ddl/db_change_test.go
  table/tables/tables.go
Owners: @zimulala, @tiancaiamao, @wjhuang2016

planner: Revert `tidb_allow_mpp` modification for downgrade compatibility and add warnings for enforce mpp. (#25302)
  executor/tiflash_test.go
  planner/core/enforce_mpp_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_in.json
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/property/physical_property.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

[dumpling] planner: Revert `tidb_allow_mpp` modification for downgrade compatibility and add warnings for enforce mpp. (#25302)
  dumpling/executor/tiflash_test.go
  dumpling/planner/core/enforce_mpp_test.go
  dumpling/planner/core/exhaust_physical_plans.go
  dumpling/planner/core/find_best_task.go
  dumpling/planner/core/integration_test.go
  dumpling/planner/core/logical_plan_builder.go
  dumpling/planner/core/planbuilder.go
  dumpling/planner/core/task.go
  dumpling/planner/core/testdata/enforce_mpp_suite_in.json
  dumpling/planner/core/testdata/enforce_mpp_suite_out.json
  dumpling/planner/property/physical_property.go
  dumpling/sessionctx/variable/session.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/tidb_vars.go
Owners: none

cherry pick #25302 to release-5.1
  executor/tiflash_test.go
  planner/core/enforce_mpp_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_in.json
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/property/physical_property.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

make test stable
  domain/domain.go
  server/tidb_test.go
Owners: @lysu, @xhebox, @coocood, @morgo

ddl: refactor bundle[1/2] [5/6] (#24008)
  ddl/ddl_api.go
  ddl/partition.go
  ddl/placement/bundle.go
  ddl/placement/bundle_test.go
  ddl/placement/errors.go
  ddl/placement/types.go
  ddl/placement/types_test.go
  ddl/placement_rule_test.go
  ddl/placement_sql_test.go
  ddl/schema.go
  ddl/table.go
  store/gcworker/gc_worker.go
Owners: @zimulala, @tiancaiamao, @disksing, @AndreMouche, @MyonKeminta

[dumpling] ddl: refactor bundle[1/2] [5/6] (#24008)
  dumpling/ddl/ddl_api.go
  dumpling/ddl/partition.go
  dumpling/ddl/placement/bundle.go
  dumpling/ddl/placement/bundle_test.go
  dumpling/ddl/placement/errors.go
  dumpling/ddl/placement/types.go
  dumpling/ddl/placement/types_test.go
  dumpling/ddl/placement_rule_test.go
  dumpling/ddl/placement_sql_test.go
  dumpling/ddl/schema.go
  dumpling/ddl/table.go
  dumpling/store/gcworker/gc_worker.go
Owners: none

ddl: refactor bundle[2/2]
  ddl/placement/bundle.go
  ddl/placement/bundle_test.go
  ddl/placement/utils.go
  ddl/placement/utils_test.go
  distsql/request_builder.go
  executor/infoschema_reader.go
  session/session.go
Owners: @zimulala, @tiancaiamao, @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk

ddl: remove multierror
  ddl/placement/bundle.go
Owners: @zimulala, @tiancaiamao

telemetry: Block logs when referenced by other components outside tidb (#25330)
  telemetry/data_slow_query.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

[dumpling] telemetry: Block logs when referenced by other components outside tidb (#25330)
  dumpling/telemetry/data_slow_query.go
Owners: none

address comments
  metrics/session.go
Owners: @jackysp, @lzmhhh123

infoschema, util/stmtsummary: enhance statements_summary. (#25031)
  infoschema/tables.go
  infoschema/tables_test.go
  util/stmtsummary/evicted.go
  util/stmtsummary/evicted_test.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Owners: @djshow832, @lysu, @winoros, @wshwsh12

[dumpling] infoschema, util/stmtsummary: enhance statements_summary. (#25031)
  dumpling/infoschema/tables.go
  dumpling/infoschema/tables_test.go
  dumpling/util/stmtsummary/evicted.go
  dumpling/util/stmtsummary/evicted_test.go
  dumpling/util/stmtsummary/statement_summary.go
  dumpling/util/stmtsummary/statement_summary_test.go
Owners: none

done
  expression/builtin_compare.go
Owners: @XuHuaiyu, @wjhuang2016

cherry pick #25330 to release-5.1
  telemetry/data_slow_query.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

fix issue #25257
  executor/sample.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

make test stable
  domain/domain.go
  server/tidb_test.go
  util/topsql/reporter/reporter.go
Owners: @lysu, @xhebox, @coocood, @morgo, @winoros, @wshwsh12

refine comment
  domain/domain.go
Owners: @lysu, @xhebox

telemetry: Block logs when referenced by other components outside tidb (#25330) (#25354)
  telemetry/data_slow_query.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

format code
  executor/sample.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix test
  executor/tiflash_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

sli: move small read duration metrics to store/tikv (#25343)
  distsql/select_result.go
  metrics/metrics.go
  metrics/sli.go
  store/tikv/metrics/metrics.go
  store/tikv/snapshot.go
  util/sli/sli.go
Owners: @crazycs520, @qw4990, @jackysp, @lzmhhh123, @disksing, @AndreMouche, @MyonKeminta, @winoros, @wshwsh12

[dumpling] sli: move small read duration metrics to store/tikv (#25343)
  dumpling/distsql/select_result.go
  dumpling/metrics/metrics.go
  dumpling/metrics/sli.go
  dumpling/store/tikv/metrics/metrics.go
  dumpling/store/tikv/snapshot.go
  dumpling/util/sli/sli.go
Owners: none

ddl/partition: remove the usage of package 'pd/pkg/slice'
  ddl/partition.go
  util/slice/slice.go
  util/slice/slice_test.go
Owners: @zimulala, @tiancaiamao, @winoros, @wshwsh12

executor: open childExec during execution for UnionExec (#24899) (#25334)
  executor/executor.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25302 to release-5.0
  executor/tiflash_test.go
  planner/core/enforce_mpp_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_in.json
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/property/physical_property.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

planner/core: fix bug that injected proj get wrong index. (#25336)
  executor/tiflash_test.go
  planner/core/rule_inject_extra_projection.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] planner/core: fix bug that injected proj get wrong index. (#25336)
  dumpling/executor/tiflash_test.go
  dumpling/planner/core/rule_inject_extra_projection.go
Owners: none
