Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

cherry pick #18676 to release-4.0
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

new strategy acquiring server_id
  docs/design/2020-06-01-global-kill.md
  domain/domain.go
  util/processinfo.go
Owners: @pingcap/co-ddl

util/ranger: extract DNF as equal access conditions for composite indexes (#18315)
  util/ranger/detacher.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Owners: @pingcap/planner-reviewers

util/ranger: extract DNF as equal access conditions for composite indexes (#18315)
  util/ranger/detacher.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Owners: @pingcap/planner-reviewers

[dumpling] util/ranger: extract DNF as equal access conditions for composite indexes (#18315)
  dumpling/util/ranger/detacher.go
  dumpling/util/ranger/ranger.go
  dumpling/util/ranger/ranger_test.go
  dumpling/util/ranger/testdata/ranger_suite_in.json
  dumpling/util/ranger/testdata/ranger_suite_out.json
Owners: none

save
  ddl/db_integration_test.go
  expression/function_traits.go
  go.mod
  go.sum
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

grafana: update the description of 'Go GC Duration' (#18628)
  infoschema/metric_table_def.go
  metrics/grafana/tidb.json
Owners: @pingcap/co-ddl

grafana: update the description of 'Go GC Duration' (#18628)
  infoschema/metric_table_def.go
  metrics/grafana/tidb.json
Owners: @pingcap/co-ddl

[dumpling] grafana: update the description of 'Go GC Duration' (#18628)
  dumpling/infoschema/metric_table_def.go
  dumpling/metrics/grafana/tidb.json
Owners: none

add ut
  executor/sort.go
  util/chunk/row_container_test.go
Owners: @pingcap/exec-reviewers

store/tikv: limit batch split count for one request (#18191)
  store/tikv/split_region.go
Owners: none

store/tikv: limit batch split count for one request (#18191)
  store/tikv/split_region.go
Owners: none

[dumpling] store/tikv: limit batch split count for one request (#18191)
  dumpling/store/tikv/split_region.go
Owners: none

cherry pick #18191 to release-3.0
  store/tikv/split_region.go
Owners: none
