Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

fix issue#25595
  planner/core/preprocess.go
  planner/core/preprocess_test.go
Owners: @winoros, @rebelice, @hanfei1991

fix case
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

fix issue#25613
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @zimulala, @tiancaiamao

sessionctx, variable: add skip name resolve (#25464)
  session/session.go
  sessionctx/variable/noop.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
Owners: @cfzjywxk, @tiancaiamao, @morgo

[dumpling] sessionctx, variable: add skip name resolve (#25464)
  dumpling/session/session.go
  dumpling/sessionctx/variable/noop.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/sysvar_test.go
Owners: none

*: temporarily skip some unstable test cases (#25592)
  ddl/db_test.go
  expression/expr_to_pb_test.go
  planner/core/prepare_test.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991

[dumpling] *: temporarily skip some unstable test cases (#25592)
  dumpling/ddl/db_test.go
  dumpling/expression/expr_to_pb_test.go
  dumpling/planner/core/prepare_test.go
Owners: none

go.mod: update parser to fix the parse error for subquery
  go.mod
  go.sum
Owners: none

executor: optimize warning information when query table information_schema.cluster_config (#24691)
  executor/memtable_reader.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] executor: optimize warning information when query table information_schema.cluster_config (#24691)
  dumpling/executor/memtable_reader.go
Owners: none

add test
  executor/ddl_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #24775 to release-5.0
  executor/index_lookup_join_test.go
  executor/index_lookup_merge_join_test.go
  planner/core/exhaust_physical_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] planner: fix the risk of integer overflow when locating partitions (#25599)
  dumpling/executor/partition_table_test.go
  dumpling/planner/core/rule_partition_processor.go
Owners: none

planner: fix the risk of integer overflow when locating partitions (#25599)
  executor/partition_table_test.go
  planner/core/rule_partition_processor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25599 to release-5.0
  executor/partition_table_test.go
  planner/core/rule_partition_processor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25599 to release-5.1
  executor/partition_table_test.go
  planner/core/rule_partition_processor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

test: make test TestTopSQLCPUProfile stable
  server/tidb_test.go
Owners: @coocood, @morgo

executor: make the ParallelApply be safe to be called again after returning empty results (#24935) (#25011)
  executor/parallel_apply.go
  executor/parallel_apply_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix unstable test
  executor/index_lookup_merge_join_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

store: avoid sessions of GC being affected by global variables (#24975) (#25609)
  store/gcworker/gc_worker.go
Owners: @disksing, @AndreMouche, @MyonKeminta

planner: generate correct number of rows when all agg funcs are pruned (#24937) (#25062)
  cmd/explaintest/r/explain_easy.result
  planner/core/integration_test.go
  planner/core/rule_column_pruning.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Owners: @eurekaka, @rebelice, @winoros, @hanfei1991

Address the comments
  session/session_test.go
  sessionctx/variable/sysvar.go
Owners: @cfzjywxk, @tiancaiamao, @morgo

fix conflicts
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

planner,executor: fix batch point get for update read panic on partition table
  executor/partition_table_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

extract a func
  ddl/ddl_api.go
Owners: @zimulala, @tiancaiamao

fix conflict
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

fix
  planner/core/find_best_task.go
Owners: @winoros, @rebelice, @hanfei1991

planner: select distinct should bypass batchget (#25477) (#25533)
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

add a test
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

planner/core: remove random test to reduce CI time (#24207) (#24241)
  planner/core/partition_pruner_test.go
Owners: @winoros, @rebelice, @hanfei1991

fix test
  planner/core/planbuilder.go
Owners: @winoros, @rebelice, @hanfei1991

test: make test TestTopSQLCPUProfile stable (#25651)
  server/tidb_test.go
Owners: @coocood, @morgo

[dumpling] test: make test TestTopSQLCPUProfile stable (#25651)
  dumpling/server/tidb_test.go
Owners: none

cherry pick #25651 to release-5.1
  server/tidb_test.go
Owners: @coocood, @morgo

planner/core: remove the union branch with dual table. (#25218) (#25614)
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

[dumpling] planner,executor: fix batch point get for update read panic on partition table (#25652)
  dumpling/executor/partition_table_test.go
  dumpling/planner/core/find_best_task.go
Owners: none

planner,executor: fix batch point get for update read panic on partition table (#25652)
  executor/partition_table_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25652 to release-5.1
  executor/partition_table_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

resolve conflicts
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  executor/partition_table_test.go
  go.sum
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/rule_partition_processor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

add tests
  planner/core/preprocess.go
  planner/core/preprocess_test.go
Owners: @winoros, @rebelice, @hanfei1991
