Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

expression: push down left/right/abs to tiflash (#25018) (#25133)
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

ddl: fix cast datetime timestamp under column type change (#25560) (#25566)
  ddl/column_type_change_test.go
  ddl/db_test.go
  types/datum.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @guo-shaoge

[dumpling] session: read local dc replicas automatically for stale read (#25525)
  dumpling/distsql/request_builder.go
  dumpling/distsql/request_builder_test.go
  dumpling/executor/adapter.go
  dumpling/executor/batch_point_get.go
  dumpling/executor/benchmark_test.go
  dumpling/executor/builder.go
  dumpling/executor/compiler.go
  dumpling/executor/coprocessor.go
  dumpling/executor/distsql.go
  dumpling/executor/executor_required_rows_test.go
  dumpling/executor/index_merge_reader.go
  dumpling/executor/point_get.go
  dumpling/executor/stale_txn_test.go
  dumpling/executor/table_reader.go
  dumpling/expression/builtin_time.go
  dumpling/expression/integration_test.go
  dumpling/kv/txn_scope_var.go
  dumpling/planner/core/preprocess.go
  dumpling/session/session.go
  dumpling/session/session_test.go
Owners: none

session: read local dc replicas automatically for stale read (#25525)
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/adapter.go
  executor/batch_point_get.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/distsql.go
  executor/executor_required_rows_test.go
  executor/index_merge_reader.go
  executor/point_get.go
  executor/stale_txn_test.go
  executor/table_reader.go
  expression/builtin_time.go
  expression/integration_test.go
  kv/txn_scope_var.go
  planner/core/preprocess.go
  session/session.go
  session/session_test.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @disksing, @AndreMouche, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

cherry pick #25525 to release-5.1
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/adapter.go
  executor/batch_point_get.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/distsql.go
  executor/executor_required_rows_test.go
  executor/index_merge_reader.go
  executor/point_get.go
  executor/stale_txn_test.go
  executor/table_reader.go
  expression/builtin_time.go
  expression/integration_test.go
  kv/txn_scope_var.go
  planner/core/preprocess.go
  session/session.go
  session/session_test.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @disksing, @AndreMouche, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

planner: fix the panic that the index's range length may exceed its original column count (#25267) (#25549)
  planner/core/cbo_test.go
  planner/core/logical_plans.go
  planner/core/stats.go
  statistics/selectivity.go
Owners: @winoros, @rebelice, @hanfei1991, @eurekaka

expression: [cherry-pick-5.0] Support push function replace down to TiFlash (#25565)
  expression/expr_to_pb_test.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

Refine the tests
  kv/txn_scope_var.go
  session/session_test.go
  sessionctx/variable/sysvar.go
Owners: @disksing, @AndreMouche, @cfzjywxk, @tiancaiamao, @morgo

*: update parser to fix ODBC-styled literal
  go.mod
  go.sum
Owners: none

cherry pick #21557 to release-4.0
  executor/executor_test.go
  session/tidb.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @morgo

[dumpling] executor: forbid stale read table with tiflash (#25561)
  dumpling/executor/builder.go
Owners: none

executor: forbid stale read table with tiflash (#25561)
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25561 to release-5.1
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix select
  executor/adapter.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  executor/stale_txn_test.go
  expression/integration_test.go
  go.mod
  go.sum
  planner/core/preprocess.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @winoros, @rebelice, @hanfei1991

executor: fix a bug in `filterTemporaryTableKeys()` function (#25521) (#25522)
  executor/executor.go
  executor/executor_pkg_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix build
  session/tidb.go
  sessionctx/variable/session.go
Owners: @cfzjywxk, @tiancaiamao, @morgo

fix test
  executor/tiflash_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

Make EnableLocalTxn become a system variable
  config/config.go
  config/config_test.go
  config/config_util.go
  ddl/placement_sql_test.go
  expression/builtin_time.go
  expression/integration_test.go
  go.mod
  go.sum
  kv/txn_scope_var.go
  planner/core/preprocess.go
  server/server.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @tiancaiamao, @qw4990, @zimulala, @XuHuaiyu, @wjhuang2016, @disksing, @AndreMouche, @winoros, @rebelice, @hanfei1991, @coocood, @morgo, @cfzjywxk

store/copr: invalidate stale regions for Mpp query. (#24410) (#24432)
  store/copr/mpp.go
  store/tikv/region_cache.go
Owners: @disksing, @AndreMouche, @MyonKeminta

session: read local dc replicas automatically for stale read (#25525) (#25567)
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/adapter.go
  executor/batch_point_get.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/distsql.go
  executor/executor_required_rows_test.go
  executor/index_merge_reader.go
  executor/point_get.go
  executor/stale_txn_test.go
  executor/table_reader.go
  expression/builtin_time.go
  expression/integration_test.go
  go.mod
  go.sum
  kv/txn_scope_var.go
  planner/core/preprocess.go
  session/session.go
  session/session_test.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @disksing, @AndreMouche, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

executor: mutex snapshot with txn (#25511)
  executor/set.go
  executor/simple.go
  executor/stale_txn_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

cherry pick #25477 to release-5.1 (#25534)
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[parser] Add 'HELP' statement support (#1250)
  parser/ast/misc.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
Owners: none

fix fmt
  executor/tiflash_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

planner/core: change agg cost factor (#25210) (#25241)
  planner/core/integration_test.go
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/implementation/simple_plans.go
Owners: @winoros, @rebelice, @hanfei1991

store/tikv: change backoff type for missed tiflash peer. (#24577) (#24600)
  store/copr/batch_coprocessor.go
Owners: @disksing, @AndreMouche, @MyonKeminta

change method
  executor/executor_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  types/field_name.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @guo-shaoge

fix case
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

Fix the DDL tests
  ddl/placement_sql_test.go
  expression/integration_test.go
  session/session_test.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @wjhuang2016, @cfzjywxk

add capFlag
  planner/core/logical_plan_builder.go
Owners: @winoros, @rebelice, @hanfei1991

addressed some comments
  infoschema/infoschema.go
  infoschema/infoschema_test.go
  sessionctx/variable/session.go
Owners: @djshow832, @lysu, @morgo

add some comments
  infoschema/infoschema.go
Owners: @djshow832, @lysu

conn: vectorized clientConn.writeChunks
  server/conn.go
  server/util.go
Owners: @coocood, @morgo

fix
  server/conn.go
Owners: @coocood, @morgo

opt
  server/conn.go
Owners: @coocood, @morgo

fix
  server/conn.go
  server/util.go
Owners: @coocood, @morgo

fix
  server/util.go
Owners: @coocood, @morgo

opt
  server/util.go
Owners: @coocood, @morgo

opt
  server/util.go
Owners: @coocood, @morgo

opt
  server/util.go
Owners: @coocood, @morgo

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
