Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

update tests
  planner/core/testdata/enforce_mpp_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

config, session: make Local Transaction not to affect Stale Read (#25559) (#25668)
  config/config_util.go
  ddl/placement_sql_test.go
  executor/stale_txn_test.go
  expression/builtin_time.go
  expression/integration_test.go
  go.mod
  kv/txn_scope_var.go
  planner/core/preprocess.go
  server/server.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/tikv/config/config.go
  store/tikv/config/config_test.go
Owners: @tiancaiamao, @qw4990, @zimulala, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @disksing, @AndreMouche, @winoros, @rebelice, @hanfei1991, @coocood, @morgo, @cfzjywxk, @MyonKeminta

copr: log more mpp task info when rpc fail (#25671)
  store/copr/mpp.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] copr: log more mpp task info when rpc fail (#25671)
  dumpling/store/copr/mpp.go
Owners: none

cherry pick #25671 to release-5.0
  store/copr/mpp.go
Owners: @disksing, @AndreMouche, @MyonKeminta

cherry pick #25671 to release-5.1
  store/copr/mpp.go
Owners: @disksing, @AndreMouche, @MyonKeminta

add commit
  planner/core/point_get_plan.go
Owners: @winoros, @rebelice, @hanfei1991

Add columns for information_schema.tiflash_tables
  infoschema/tables.go
Owners: @djshow832, @lysu

ddl: fix add index handle shard row id
  ddl/index.go
Owners: @zimulala, @tiancaiamao

ddl: add tests
  ddl/db_test.go
  ddl/ddl_test.go
  ddl/index.go
Owners: @zimulala, @tiancaiamao

fix err
  planner/core/preprocess.go
  planner/core/preprocess_test.go
Owners: @winoros, @rebelice, @hanfei1991

remove check
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

test: make test TestTopSQLCPUProfile stable by avoid write conflict
  server/tidb_test.go
Owners: @coocood, @morgo

enlarge range
  server/tidb_test.go
Owners: @coocood, @morgo

[dumpling] planner: generate wrong plan when update has subquery (#25660)
  dumpling/planner/core/point_get_plan.go
  dumpling/planner/core/point_get_plan_test.go
Owners: none

planner: generate wrong plan when update has subquery (#25660)
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Owners: @winoros, @rebelice, @hanfei1991

[dumpling] planner: enforce projection push down (#25450)
  dumpling/executor/tiflash_test.go
  dumpling/planner/core/exhaust_physical_plans.go
  dumpling/planner/core/integration_test.go
  dumpling/planner/core/testdata/enforce_mpp_suite_out.json
  dumpling/planner/core/testdata/integration_serial_suite_in.json
  dumpling/planner/core/testdata/integration_serial_suite_out.json
Owners: none

planner: enforce projection push down (#25450)
  executor/tiflash_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

Fix the @@tidb_enable_local_txn sync bug
  domain/sysvar_cache.go
Owners: @lysu, @xhebox

planner: generate wrong plan when update has subquery (#25660)
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Owners: @winoros, @rebelice, @hanfei1991

planner: generate wrong plan when update has subquery (#25660)
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Owners: @winoros, @rebelice, @hanfei1991

planner: generate wrong plan when update has subquery (#25660)
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Owners: @winoros, @rebelice, @hanfei1991

fix test
  bindinfo/bind_test.go
Owners: @rebelice

[dumpling] domain: fix the `@@tidb_enable_local_txn` sync bug (#25682)
  dumpling/domain/sysvar_cache.go
Owners: none

domain: fix the `@@tidb_enable_local_txn` sync bug (#25682)
  domain/sysvar_cache.go
Owners: @lysu, @xhebox

*: Test cleanup (#25581)
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/t/partition_pruning.test
Owners: @eurekaka, @rebelice

[dumpling] *: Test cleanup (#25581)
  dumpling/cmd/explaintest/r/partition_pruning.result
  dumpling/cmd/explaintest/t/partition_pruning.test
Owners: none

fix test
  bindinfo/bind_test.go
Owners: @rebelice

variable: always convert sysvar values when out of range
  executor/ddl_test.go
  executor/set_test.go
  sessionctx/variable/noop.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/varsutil_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

fix additional tests
  planner/core/enforce_mpp_test.go
  session/session_test.go
Owners: @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

cherry pick #24555 to release-5.0
  expression/integration_test.go
  sessionctx/variable/noop.go
Owners: @XuHuaiyu, @wjhuang2016, @morgo

planner: fix incorrect TableDual plan built from nulleq (#24596) (#24633)
  util/ranger/points.go
  util/ranger/ranger_test.go
Owners: @winoros, @wshwsh12

planner: fix a panic caused by sinking a Limit with inlined Proj into IndexLookUp when accessing a partition table (#25063) (#25139)
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  executor/partition_table_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_suite_out.json
Owners: @eurekaka, @rebelice, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @hanfei1991

fix merge
  expression/integration_test.go
  sessionctx/variable/noop.go
Owners: @XuHuaiyu, @wjhuang2016, @morgo

fix case
  planner/core/expression_rewriter_test.go
Owners: @winoros, @rebelice, @hanfei1991

planner: fix index-out-of-range error when checking only_full_group_by && make sure limit outputs no more columns than its child
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/rule_column_pruning.go
Owners: @winoros, @rebelice, @hanfei1991

planner, executor: fix index merge partial table scan schema (#23936) (#24155)
  executor/executor.go
  executor/index_merge_reader.go
  planner/core/find_best_task.go
  planner/core/handle_cols.go
  planner/core/integration_test.go
  planner/core/testdata/integration_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

ddl: address comment
  ddl/index.go
Owners: @zimulala, @tiancaiamao

linter: fix linter error when `make dev` locally (#25661)
  ddl/column_type_change_test.go
  executor/builder.go
  go.mod
  planner/core/logical_plan_builder.go
  planner/core/preprocess.go
  server/tidb_test.go
  structure/type.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @coocood, @morgo

[dumpling] linter: fix linter error when `make dev` locally (#25661)
  dumpling/ddl/column_type_change_test.go
  dumpling/executor/builder.go
  dumpling/go.mod
  dumpling/planner/core/logical_plan_builder.go
  dumpling/planner/core/preprocess.go
  dumpling/server/tidb_test.go
  dumpling/structure/type.go
Owners: none

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
