Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

Add EnableLocalTxn config
  config/config.go
  config/config_test.go
  go.mod
  go.sum
  sessionctx/variable/session.go
Owners: @tiancaiamao, @qw4990, @morgo

Update the client-go
  go.mod
  go.sum
Owners: none

planner: Mpp outer join build side (#25130) (#25142)
  executor/tiflash_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao, @morgo

fix select
  telemetry/data_slow_query.go
  telemetry/data_window.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

metrics: refine the SafeTS gap metric and panel (#25530) (#25551)
  metrics/grafana/tidb.json
  store/tikv/kv.go
  store/tikv/metrics/metrics.go
Owners: @jackysp, @lzmhhh123, @disksing, @AndreMouche, @MyonKeminta

Update the client-go to add tests later
  go.mod
  go.sum
Owners: none

fix cast datetime timestamp
  ddl/column_type_change_test.go
  types/datum.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @guo-shaoge

executor: forbid stale read table with tiflash
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

expression: Support push function year,day,datediff,datesub,castTimeAsString,concat_ws down to TiFlash. (#25097)
  expression/expr_to_pb_test.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

cherry pick #24841 to release-5.0
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

expression: Support push fucntion unix_timestamp, concat down to TiFlash. (#25083)
  expression/expr_to_pb_test.go
Owners: @XuHuaiyu, @wjhuang2016

cherry pick #24840 to release-5.0
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

executor: reword
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix the old test
  ddl/db_test.go
Owners: @zimulala, @tiancaiamao

.
  ddl/column_type_change_test.go
Owners: @zimulala, @tiancaiamao

planner: fix getPartitionColumnPos panic (#25524) (#25544)
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

fix select
  kv/txn_scope_var.go
  planner/core/preprocess.go
Owners: @disksing, @AndreMouche, @winoros, @rebelice, @hanfei1991

fix test
  server/util_test.go
  types/time_test.go
Owners: @coocood, @morgo, @XuHuaiyu, @guo-shaoge

.
  types/datum.go
Owners: @XuHuaiyu, @guo-shaoge

.
  types/datum.go
Owners: @XuHuaiyu, @guo-shaoge

fix select
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

[dumpling] executor: make analyze test be stable (#25547)
  dumpling/executor/analyze_test.go
  dumpling/executor/join_test.go
Owners: none

executor: make analyze test be stable (#25547)
  executor/analyze_test.go
  executor/join_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix select
  expression/builtin_time.go
Owners: @XuHuaiyu, @wjhuang2016

infoschema: improve performance (#25536) (#25554)
  infoschema/cache.go
Owners: @djshow832, @lysu

Update expression.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

fix normal cast datetime to timestamp
  ddl/column_type_change_test.go
Owners: @zimulala, @tiancaiamao

expression: [cherry-pick-5.0] Support push function replace down to TiFlash
  expression/expr_to_pb_test.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

address comments
  store/copr/mpp.go
Owners: @disksing, @AndreMouche, @MyonKeminta

Update expression.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

Update types/datum.go
  types/datum.go
Owners: @XuHuaiyu, @guo-shaoge

Update types/datum.go
  types/datum.go
Owners: @XuHuaiyu, @guo-shaoge

fix select
  planner/core/preprocess.go
Owners: @winoros, @rebelice, @hanfei1991

ddl: fix cast datetime timestamp under column type change (#25560)
  ddl/column_type_change_test.go
  ddl/db_test.go
  types/datum.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @guo-shaoge

[dumpling] ddl: fix cast datetime timestamp under column type change (#25560)
  dumpling/ddl/column_type_change_test.go
  dumpling/ddl/db_test.go
  dumpling/types/datum.go
Owners: none

fix test
  executor/tiflash_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25560 to release-5.1
  ddl/column_type_change_test.go
  ddl/db_test.go
  types/datum.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @guo-shaoge

expression: [cherry-pick-5.0] support push fucntions down to TiFlash: unix_timestamp,concat,year,day,datediff,datesub,castTimeAsString,concat_ws. (#25564)
  expression/expr_to_pb_test.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

fix select
  expression/integration_test.go
  planner/core/preprocess.go
Owners: @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991

Refine the tests
  ddl/placement_sql_test.go
  expression/integration_test.go
  go.mod
  go.sum
  kv/txn_scope_var.go
  session/session_test.go
  sessionctx/variable/sysvar.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @wjhuang2016, @disksing, @AndreMouche, @cfzjywxk, @morgo
