Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

add test
  executor/sample.go
  executor/sample_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

ddl: add create table like check for temporary table (#25082)
  ddl/serial_test.go
  errors.toml
  planner/core/errors.go
  planner/core/preprocess.go
Owners: @zimulala, @tiancaiamao, @winoros, @rebelice, @hanfei1991

[dumpling] ddl: add create table like check for temporary table (#25082)
  dumpling/ddl/serial_test.go
  dumpling/errors.toml
  dumpling/planner/core/errors.go
  dumpling/planner/core/preprocess.go
Owners: none

update img
  docs/design/imgs/cte_computation.png
Owners: @zz-jason, @bb7133

mute some test
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

planner: fix index join on unmatched collation suffix columns
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
Owners: @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991

...
  planner/core/exhaust_physical_plans.go
Owners: @winoros, @rebelice, @hanfei1991

address comments
  planner/core/exhaust_physical_plans.go
Owners: @winoros, @rebelice, @hanfei1991

address comment
  bindinfo/bind_test.go
Owners: @rebelice

update
  docs/design/2021-04-18-common-table-expression.md
Owners: @zz-jason, @bb7133

update
  docs/design/imgs/physical_plan.png
Owners: @zz-jason, @bb7133

update
  docs/design/2021-04-18-common-table-expression.md
  docs/design/imgs/cte_computation.png
  docs/design/imgs/executors.png
  docs/design/imgs/logical_plan.png
  docs/design/imgs/physical_plan.png
Owners: @zz-jason, @bb7133

fix uncorrect log using
  telemetry/data_slow_query.go
  telemetry/data_window.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

fix log using
  telemetry/data_window.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

executor: Fix losing the auth string on changing SSL/TLS requirements (#25268) (#25349)
  executor/grant_test.go
  executor/simple.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

replace with disksing/br
  go.mod
  go.sum
Owners: none

enable test
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

planner/core: fix bug that injected proj get wrong index. (#25336) (#25361)
  executor/tiflash_test.go
  planner/core/rule_inject_extra_projection.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] config: add config for `tidb_enforce_mpp` and remove the global scope of it. (#25369)
  dumpling/config/config.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/tidb-server/main.go
Owners: none

config: add config for `tidb_enforce_mpp` and remove the global scope of it. (#25369)
  config/config.go
  sessionctx/variable/sysvar.go
  tidb-server/main.go
Owners: @tiancaiamao, @qw4990, @morgo, @coocood, @crazycs520

[dumpling] *: stale reads compatible with prepare (#25156)
  dumpling/executor/adapter.go
  dumpling/executor/benchmark_test.go
  dumpling/executor/builder.go
  dumpling/executor/compiler.go
  dumpling/executor/coprocessor.go
  dumpling/executor/executor_required_rows_test.go
  dumpling/executor/prepared.go
  dumpling/executor/seqtest/prepared_test.go
  dumpling/executor/stale_txn_test.go
  dumpling/planner/core/cache.go
  dumpling/planner/core/common_plans.go
  dumpling/planner/core/preprocess.go
  dumpling/session/session.go
Owners: none

*: stale reads compatible with prepare (#25156)
  executor/adapter.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  executor/prepared.go
  executor/seqtest/prepared_test.go
  executor/stale_txn_test.go
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/preprocess.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

cherry pick #25156 to release-5.1
  executor/adapter.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  executor/prepared.go
  executor/seqtest/prepared_test.go
  executor/stale_txn_test.go
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/preprocess.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

Metric: Collect TiKV Read Duration Metric for SLI/SLO (#23884) (#25307)
  distsql/select_result.go
  metrics/metrics.go
  metrics/sli.go
  store/copr/coprocessor.go
  store/tikv/snapshot.go
  store/tikv/util/execdetails.go
  util/sli/sli.go
Owners: @crazycs520, @qw4990, @jackysp, @lzmhhh123, @disksing, @AndreMouche, @MyonKeminta, @winoros, @wshwsh12

executor: use primary key
  executor/batch_point_get_test.go
  executor/point_get_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: explicitstaleness is not cherry-picked yet
  executor/adapter.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  planner/core/preprocess.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

executor: fix fmt
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

planner: forbid stale select in txn
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/stale_txn_test.go
  planner/core/common_plans.go
  planner/core/errors.go
  planner/core/preprocess.go
Owners: @morgo, @tangenta, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

executor: fix autoid doesn't handle float, double type and tiny cleanup #11110
  executor/insert_common.go
  executor/write.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #11389
  executor/insert_common.go
  executor/write.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

infoschema: maintain the snapshotTS in the infocache (#25322)
  ddl/ddl_test.go
  ddl/util/syncer_test.go
  domain/domain.go
  infoschema/cache.go
  infoschema/cache_test.go
  metrics/domain.go
  owner/manager_test.go
Owners: @zimulala, @tiancaiamao, @lysu, @xhebox, @djshow832, @jackysp, @lzmhhh123, @wjhuang2016

[dumpling] infoschema: maintain the snapshotTS in the infocache (#25322)
  dumpling/ddl/ddl_test.go
  dumpling/ddl/util/syncer_test.go
  dumpling/domain/domain.go
  dumpling/infoschema/cache.go
  dumpling/infoschema/cache_test.go
  dumpling/metrics/domain.go
  dumpling/owner/manager_test.go
Owners: none

cherry pick #25322 to release-5.1
  ddl/ddl_test.go
  ddl/util/syncer_test.go
  domain/domain.go
  infoschema/cache.go
  infoschema/cache_test.go
  metrics/domain.go
  owner/manager_test.go
Owners: @zimulala, @tiancaiamao, @lysu, @xhebox, @djshow832, @jackysp, @lzmhhh123, @wjhuang2016

*: fix syntax
  executor/batch_point_get_test.go
  executor/point_get_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: update br
  go.mod
  go.sum
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

update kvproto
  go.mod
  go.sum
Owners: none

*: update br and kvproto (#25378)
  go.mod
  go.sum
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

[dumpling] *: update br and kvproto (#25378)
  dumpling/go.mod
  dumpling/go.sum
  dumpling/session/session_test.go
Owners: none

[dumpling] variable: small cleanups (#25266)
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/tidb_vars.go
Owners: none

variable: small cleanups (#25266)
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @morgo

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
