Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

planner: generate wrong plan when update has subquery (#25660) (#25697)
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Owners: @winoros, @rebelice, @hanfei1991

init
  ddl/backfilling.go
  ddl/ddl_worker.go
  ddl/reorg.go
Owners: @zimulala, @tiancaiamao

expression: fix IN expr critical bug (#25653) (#25666)
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

executor: fix character_octet_length from information_schema.columns (#25476)
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @djshow832

[dumpling] executor: fix character_octet_length from information_schema.columns (#25476)
  dumpling/executor/infoschema_reader.go
  dumpling/executor/infoschema_reader_test.go
  dumpling/infoschema/tables_test.go
Owners: none

planner: fix incorrect result of set type for merge join (#25672) (#25694)
  executor/index_lookup_merge_join_test.go
  planner/core/exhaust_physical_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] CONTRIBUTORS: Update the contributor list link (#25733)
  dumpling/CONTRIBUTORS.md
Owners: none

CONTRIBUTORS: Update the contributor list link (#25733)
  CONTRIBUTORS.md
Owners: none

planner: fix the ORDER BY column not match the GROUP BY clause (#24708) (#25759)
  executor/aggregate_test.go
  planner/core/logical_plan_builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

add http api to change the unique index lock behaviour
  executor/batch_point_get.go
  executor/point_get.go
  server/http_handler.go
  server/http_handler_test.go
  session/pessimistic_test.go
  sessionctx/variable/tidb_vars.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @coocood, @morgo, @cfzjywxk, @tiancaiamao

add log info for tidb_lock_unique_key change
  server/http_handler.go
Owners: @coocood, @morgo

executor: reject setting read ts to a future time (#25732)
  executor/executor_test.go
  executor/set.go
  metrics/metrics.go
  metrics/session.go
  sessionctx/context.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @qw4990

simplify check logic
  executor/point_get.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: update count / modify_count of mysql.stats_meta incrementally
  executor/analyze.go
  executor/builder.go
  statistics/analyze.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @eurekaka

Update SECURITY.md
  SECURITY.md
Owners: none

[dumpling] executor: reject setting read ts to a future time (#25732)
  dumpling/executor/executor_test.go
  dumpling/executor/set.go
  dumpling/executor/stale_txn_test.go
  dumpling/metrics/metrics.go
  dumpling/metrics/session.go
  dumpling/planner/core/planbuilder.go
  dumpling/planner/core/preprocess.go
  dumpling/sessionctx/context.go
Owners: none

executor: reject setting read ts to a future time (#25732)
  executor/executor_test.go
  executor/set.go
  executor/stale_txn_test.go
  metrics/metrics.go
  metrics/session.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  sessionctx/context.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @winoros, @rebelice, @hanfei1991, @qw4990

cherry pick #25732 to release-5.0
  executor/executor_test.go
  executor/set.go
  executor/stale_txn_test.go
  metrics/metrics.go
  metrics/session.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  sessionctx/context.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @winoros, @rebelice, @hanfei1991, @qw4990

cherry pick #25732 to release-5.1
  executor/executor_test.go
  executor/set.go
  executor/stale_txn_test.go
  metrics/metrics.go
  metrics/session.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  sessionctx/context.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @winoros, @rebelice, @hanfei1991, @qw4990

executor: reject setting read ts to a future time (#25732) (#25761)
  executor/executor_test.go
  executor/set.go
  metrics/metrics.go
  metrics/session.go
  sessionctx/context.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @qw4990

expression: Fix Greatest and least function lost decimal precision compared with MySQL
  expression/builtin_compare.go
  expression/builtin_compare_test.go
  expression/builtin_compare_vec.go
  expression/integration_test.go
  types/mydecimal.go
Owners: @XuHuaiyu, @wjhuang2016, @guo-shaoge

[dumpling] expression: Improve the compatibility of `str_to_date` (#25386)
  dumpling/expression/builtin_time_test.go
  dumpling/types/format_test.go
  dumpling/types/time.go
Owners: none

expression: Improve the compatibility of `str_to_date` (#25386)
  expression/builtin_time_test.go
  types/format_test.go
  types/time.go
Owners: @XuHuaiyu, @wjhuang2016, @guo-shaoge

cherry pick #25386 to release-5.0
  expression/builtin_time_test.go
  types/format_test.go
  types/time.go
Owners: @XuHuaiyu, @wjhuang2016, @guo-shaoge

cherry pick #25386 to release-5.1
  expression/builtin_time_test.go
  types/format_test.go
  types/time.go
Owners: @XuHuaiyu, @wjhuang2016, @guo-shaoge

[dumpling] test: make test TestTopSQLCPUProfile stable by mock high cpu usage (#25702)
  dumpling/server/tidb_test.go
  dumpling/util/topsql/topsql.go
  dumpling/util/topsql/tracecpu/mock/mock.go
Owners: none

test: make test TestTopSQLCPUProfile stable by mock high cpu usage (#25702)
  server/tidb_test.go
  util/topsql/topsql.go
  util/topsql/tracecpu/mock/mock.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

Fix lint
  types/time.go
Owners: @XuHuaiyu, @guo-shaoge

add some comment for checkOnlyFullGroupBy
  planner/core/logical_plan_builder.go
Owners: @winoros, @rebelice, @hanfei1991

cherry pick #25702 to release-5.1
  server/tidb_test.go
  util/topsql/topsql.go
  util/topsql/tracecpu/mock/mock.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

.github: update issue template
  .github/ISSUE_TEMPLATE/challenge-program.md
  .github/ISSUE_TEMPLATE/development-task.md
Owners: none

*: remove gitcookie.sh
  gitcookie.sh
Owners: none

[dumpling] *: Fixed some linter check errors (#25608)
  dumpling/executor/analyze_test.go
  dumpling/executor/distsql_test.go
  dumpling/executor/memory_test.go
  dumpling/planner/core/prepare_test.go
  dumpling/statistics/handle/handle_test.go
  dumpling/structure/type.go
Owners: none

*: Fixed some linter check errors (#25608)
  executor/analyze_test.go
  executor/distsql_test.go
  executor/memory_test.go
  planner/core/prepare_test.go
  statistics/handle/handle_test.go
  structure/type.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @eurekaka, @zimulala

*: move with-tikv flag to each package
  session/pessimistic_test.go
  session/session_test.go
  store/driver/sql_fail_test.go
  store/driver/util_test.go
Owners: @cfzjywxk, @tiancaiamao, @disksing, @AndreMouche, @MyonKeminta

types: fix json_unquote (#25546)
  expression/builtin_json_test.go
  types/json/binary_functions.go
  types/json/binary_functions_test.go
Owners: @XuHuaiyu, @wjhuang2016, @guo-shaoge

avoid use OneByOneSuite
  store/driver/kv_test.go
  store/driver/sql_fail_test.go
  store/driver/util_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

remove factory
  server/rpc_server.go
Owners: @coocood, @morgo

remove unistore GRPCClientFactory
  server/rpc_server.go
  store/mockstore/unistore/rpc.go
Owners: @coocood, @morgo, @disksing, @AndreMouche, @MyonKeminta

rename
  .github/ISSUE_TEMPLATE/development-task.md
  .github/ISSUE_TEMPLATE/enhancement.md
Owners: none

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
