Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

[dumpling] store/tikv: make RegionStore private (#25231)
  dumpling/store/tikv/region_cache.go
Owners: none

store/tikv: make RegionStore private (#25231)
  store/tikv/region_cache.go
Owners: @disksing, @AndreMouche, @MyonKeminta

executor: add history read compatibility for temporary table
  executor/builder.go
  executor/executor_test.go
  executor/point_get.go
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

refine variables.
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @morgo

[dumpling] store/tikv: move function GetStoreTypeByMeta to sub package tikvrpc (#25233)
  dumpling/store/tikv/region_cache.go
  dumpling/store/tikv/store_type.go
  dumpling/store/tikv/tikvrpc/endpoint.go
Owners: none

store/tikv: move function GetStoreTypeByMeta to sub package tikvrpc (#25233)
  store/tikv/region_cache.go
  store/tikv/store_type.go
  store/tikv/tikvrpc/endpoint.go
Owners: @disksing, @AndreMouche, @MyonKeminta

fix comment
  store/tikv/util/execdetails.go
  util/sli/sli.go
Owners: @disksing, @AndreMouche, @MyonKeminta, @winoros, @wshwsh12

fix tidb parse tso
  expression/builtin_time_vec_test.go
Owners: @XuHuaiyu, @wjhuang2016

fix
  expression/bench_test.go
Owners: @XuHuaiyu, @wjhuang2016

store/tikv: make AccessMode private (#25232)
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/store_type.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] store/tikv: make AccessMode private (#25232)
  dumpling/store/tikv/region_cache.go
  dumpling/store/tikv/region_cache_test.go
  dumpling/store/tikv/region_request.go
  dumpling/store/tikv/region_request_test.go
  dumpling/store/tikv/store_type.go
Owners: none

disable mpp_outer_join_fixed_build_side by default
  sessionctx/variable/tidb_vars.go
Owners: @morgo

store/tikv: make groupSortedMutationByRegion as a normal function in 2pc (#25209)
  store/tikv/2pc.go
  store/tikv/region_cache.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] store/tikv: make groupSortedMutationByRegion as a normal function in 2pc (#25209)
  dumpling/store/tikv/2pc.go
  dumpling/store/tikv/region_cache.go
Owners: none

fix comment
  util/sli/sli.go
Owners: @winoros, @wshwsh12

fix ci
  expression/bench_test.go
Owners: @XuHuaiyu, @wjhuang2016

[dumpling] executor: temporarily skip some unstable test cases. (#25224)
  dumpling/executor/analyze_test.go
  dumpling/executor/executor_test.go
  dumpling/executor/join_test.go
Owners: none

executor: temporarily skip some unstable test cases. (#25224)
  executor/analyze_test.go
  executor/executor_test.go
  executor/join_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

merge master && fix conflicts
  store/tikv/region.go
  store/tikv/region/accessmode.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[parser] CI: Use Go 1.16 instead of Go 1.13 (#1241)
  parser/circle.yml
Owners: none

[dumpling] planner/core: change agg cost factor (#25210)
  dumpling/planner/core/physical_plans.go
  dumpling/planner/core/task.go
  dumpling/planner/core/testdata/integration_serial_suite_in.json
  dumpling/planner/core/testdata/integration_serial_suite_out.json
  dumpling/planner/implementation/simple_plans.go
Owners: none

planner/core: change agg cost factor (#25210)
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/implementation/simple_plans.go
Owners: @winoros, @rebelice, @hanfei1991

cherry pick #25210 to release-5.0
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/implementation/simple_plans.go
Owners: @winoros, @rebelice, @hanfei1991

cherry pick #25210 to release-5.1
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/implementation/simple_plans.go
Owners: @winoros, @rebelice, @hanfei1991

store/tikv: make failpoints without code generations
  ddl/placement_sql_test.go
  ddl/serial_test.go
  executor/executor_test.go
  executor/stale_txn_test.go
  expression/integration_test.go
  server/conn_test.go
  session/pessimistic_test.go
  session/session_fail_test.go
  session/session_test.go
  store/driver/sql_fail_test.go
  store/gcworker/gc_worker_test.go
  store/tikv/2pc.go
  store/tikv/client/client_batch.go
  store/tikv/client/client_fail_test.go
  store/tikv/client_helper.go
  store/tikv/config/config.go
  store/tikv/config/config_test.go
  store/tikv/kv.go
  store/tikv/lock_resolver.go
  store/tikv/mockstore/mocktikv/rpc.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/region_cache.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/snapshot.go
  store/tikv/tests/2pc_fail_test.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/async_commit_fail_test.go
  store/tikv/tests/lock_test.go
  store/tikv/tests/snapshot_fail_test.go
  store/tikv/tests/snapshot_test.go
  store/tikv/tests/store_fail_test.go
  store/tikv/txn.go
  store/tikv/util/failpoint.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @coocood, @morgo, @cfzjywxk, @disksing, @AndreMouche, @MyonKeminta

remove failpoint variables
  executor/executor_test.go
  session/session_test.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/util/failpoint.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @disksing, @AndreMouche, @MyonKeminta

fix failpoint
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add integrated test
  infoschema/tables_test.go
  util/stmtsummary/evicted_test.go
Owners: @djshow832, @lysu, @winoros, @wshwsh12

try fix lock problem
  util/stmtsummary/evicted_test.go
Owners: @winoros, @wshwsh12

ignore errcheck
  tools/check/errcheck_excludes.txt
Owners: @zhuo-zhi

clean side effects in tables_test.go
  infoschema/tables_test.go
Owners: @djshow832, @lysu

fix a compatible issue with TiFlash
  distsql/select_result.go
  executor/builder.go
  executor/table_reader.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

ddl: make the column type change switch transparent (#25213)
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  executor/executor_test.go
  expression/integration_test.go
  sessionctx/variable/tidb_vars.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @morgo

[dumpling] ddl: make the column type change switch transparent (#25213)
  dumpling/ddl/column_test.go
  dumpling/ddl/column_type_change_test.go
  dumpling/ddl/db_change_test.go
  dumpling/ddl/db_integration_test.go
  dumpling/ddl/db_test.go
  dumpling/executor/executor_test.go
  dumpling/expression/integration_test.go
  dumpling/sessionctx/variable/tidb_vars.go
Owners: none

cherry pick #25213 to release-5.1
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  executor/executor_test.go
  expression/integration_test.go
  sessionctx/variable/tidb_vars.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @morgo

fix test
  store/tikv/region_request.go
Owners: @disksing, @AndreMouche, @MyonKeminta

enable dynamic mode by defaul
  executor/partition_table_test.go
  session/bootstrap.go
  sessionctx/variable/sysvar.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @morgo

make linter happy
  executor/table_reader.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

make test stable
  server/tidb_test.go
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter_test.go
  util/topsql/topsql_test.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

refine call.
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/task.go
  sessionctx/variable/session.go
Owners: @winoros, @rebelice, @hanfei1991, @morgo

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
