Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

fix conflicts
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix up
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

make golint happy
  go.sum
  planner/core/logical_plan_builder.go
  tools/check/go.sum
Owners: @winoros, @rebelice, @hanfei1991, @zhuo-zhi

add ast.Sign push down to tiflash
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

modify
  ddl/ddl_api.go
Owners: @zimulala, @tiancaiamao

format code
  planner/core/preprocess_test.go
Owners: @winoros, @rebelice, @hanfei1991

tests: make TestIndexLookupMergeJoinHang and TestIssue18068 stable (#23741) (#23796)
  executor/index_lookup_merge_join_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix err
  ddl/ddl_api.go
Owners: @zimulala, @tiancaiamao

planner: generate wrong plan when update has subquery
  planner/core/point_get_plan.go
Owners: @winoros, @rebelice, @hanfei1991

Refine the logic
  ddl/placement_sql_test.go
  expression/integration_test.go
  server/server.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @wjhuang2016, @coocood, @morgo, @cfzjywxk

make linter happy locally
  ddl/column_type_change_test.go
  executor/builder.go
  planner/core/logical_plan_builder.go
  planner/core/preprocess.go
  server/tidb_test.go
  structure/type.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @coocood, @morgo

.
  go.mod
Owners: none

Address the comment
  sessionctx/variable/sysvar.go
Owners: @morgo

remote useless code
  ddl/db_change_test.go
Owners: @zimulala, @tiancaiamao

[dumpling] expression: fix IN expr critical bug (#25653)
  dumpling/expression/builtin_other.go
  dumpling/expression/builtin_other_vec_generated.go
  dumpling/expression/generator/other_vec.go
  dumpling/expression/integration_test.go
Owners: none

expression: fix IN expr critical bug (#25653)
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

cherry pick #25653 to release-4.0
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

cherry pick #25653 to release-5.0
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

cherry pick #25653 to release-5.1
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

use diff variable
  server/tidb_test.go
Owners: @coocood, @morgo

config, session: make Local Transaction not to affect Stale Read (#25559)
  config/config_util.go
  ddl/placement_sql_test.go
  executor/stale_txn_test.go
  expression/builtin_time.go
  expression/integration_test.go
  go.mod
  go.sum
  kv/txn_scope_var.go
  planner/core/preprocess.go
  server/server.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @tiancaiamao, @qw4990, @zimulala, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @disksing, @AndreMouche, @winoros, @rebelice, @hanfei1991, @coocood, @morgo, @cfzjywxk

[dumpling] config, session: make Local Transaction not to affect Stale Read (#25559)
  dumpling/config/config_util.go
  dumpling/ddl/placement_sql_test.go
  dumpling/executor/stale_txn_test.go
  dumpling/expression/builtin_time.go
  dumpling/expression/integration_test.go
  dumpling/go.mod
  dumpling/go.sum
  dumpling/kv/txn_scope_var.go
  dumpling/planner/core/preprocess.go
  dumpling/server/server.go
  dumpling/session/session.go
  dumpling/session/session_test.go
  dumpling/sessionctx/variable/session.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/tidb_vars.go
Owners: none

cherry pick #25559 to release-5.1
  config/config_util.go
  ddl/placement_sql_test.go
  executor/stale_txn_test.go
  expression/builtin_time.go
  expression/integration_test.go
  go.mod
  go.sum
  kv/txn_scope_var.go
  planner/core/preprocess.go
  server/server.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @tiancaiamao, @qw4990, @zimulala, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @disksing, @AndreMouche, @winoros, @rebelice, @hanfei1991, @coocood, @morgo, @cfzjywxk

planner/core: thoroughly push down count-distinct agg that has no group by columns
  planner/core/exhaust_physical_plans.go
  planner/core/fragment.go
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

log more mpp task info when rpc fail
  store/copr/mpp.go
Owners: @disksing, @AndreMouche, @MyonKeminta

remove useless change
  store/copr/mpp.go
Owners: @disksing, @AndreMouche, @MyonKeminta

Resolve the conflicts
  ddl/placement_sql_test.go
  go.mod
  go.sum
  session/session_test.go
  sessionctx/variable/tidb_vars.go
  store/tikv/config/config.go
  store/tikv/config/config_test.go
Owners: @zimulala, @tiancaiamao, @cfzjywxk, @morgo, @disksing, @AndreMouche, @MyonKeminta

Merge skipWhiteSpace into parseSep
  types/time.go
Owners: @XuHuaiyu, @guo-shaoge

add expression check
  planner/core/exhaust_physical_plans.go
Owners: @winoros, @rebelice, @hanfei1991

add canPushToCop check
  planner/core/exhaust_physical_plans.go
Owners: @winoros, @rebelice, @hanfei1991

update tests
  planner/core/testdata/enforce_mpp_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

enforce projection push down
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

update test to avoid timeout
  executor/tiflash_test.go
  planner/core/exhaust_physical_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

test,planner: generate wrong plan when update has subquery
  planner/core/point_get_plan_test.go
Owners: @winoros, @rebelice, @hanfei1991

test: remove useless code (#25664)
  ddl/db_change_test.go
Owners: @zimulala, @tiancaiamao

[dumpling] test: remove useless code (#25664)
  dumpling/ddl/db_change_test.go
Owners: none

expression: fix IN expr critical bug (#25653) (#25667)
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

fix
  executor/index_lookup_merge_join_test.go
  planner/core/exhaust_physical_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

add more tests
  executor/show_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add more tests
  executor/show_test.go
  planner/core/exhaust_physical_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991
