Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

tmp
  go.mod
  go.sum
  planner/core/logical_plan_builder.go
Owners: @pingcap/planner-reviewers

add copyright
  util/collate/unicode_ci.go
Owners: none

init: use int as runtime info ID
  distsql/distsql.go
  distsql/distsql_test.go
  distsql/select_result.go
  distsql/select_result_test.go
  executor/aggregate.go
  executor/benchmark_test.go
  executor/brie.go
  executor/builder.go
  executor/delete.go
  executor/distsql.go
  executor/executor.go
  executor/executor_pkg_test.go
  executor/executor_required_rows_test.go
  executor/explain_unit_test.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/index_merge_reader.go
  executor/insert.go
  executor/join.go
  executor/load_data.go
  executor/merge_join.go
  executor/pkg_test.go
  executor/point_get.go
  executor/prepared.go
  executor/projection.go
  executor/replace.go
  executor/sort.go
  executor/split_test.go
  executor/table_reader.go
  executor/table_readers_required_rows_test.go
  executor/update.go
  planner/core/common_plans.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

executor,ddl: update auto_random_base in 'show create table' after insertion (#18217) (#18316)
  ddl/reorg.go
  executor/ddl_test.go
  executor/show.go
  executor/show_test.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

ddl: fix add a PK when the table's pk_is_handle is true (#18340) (#18342)
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @pingcap/co-ddl

ddl: fix add a PK when the table's pk_is_handle is true (#18340) (#18344)
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @pingcap/co-ddl

ddl: fix add a PK when the table's pk_is_handle is true (#18340) (#18343)
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @pingcap/co-ddl

add warning when setting hj concurrency
  executor/set_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
Owners: @pingcap/exec-reviewers

fix
  go.mod
  go.sum
Owners: none

fix
  go.sum
Owners: none

.github: update the project path
  .github/workflows/assign_project.yml
Owners: none

.github: tiny update
  .github/workflows/assign_project.yml
Owners: none

address comment
  ddl/partition.go
Owners: @pingcap/co-ddl

[parser] fix: remove warning in parser for rebuild/check/optimize/repair partition (#920)
  parser/parser.y
Owners: none

fix
  util/chunk/row_container.go
Owners: @pingcap/exec-reviewers

address comments
  kv/kv.go
  kv/memdb.go
  kv/memdb_test.go
  kv/union_store.go
  session/txn.go
Owners: none

tikv: fix infine panic when transportReader is wrong
  store/tikv/client_batch.go
Owners: none

...
  store/tikv/client_batch.go
Owners: none

done
  ddl/index.go
  expression/expression.go
  util/admin/admin.go
  util/rowDecoder/decoder.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

docs: address comments
  docs/design/2020-07-07-change-column-types.md
Owners: none

log when setting global variable
  executor/set.go
Owners: @pingcap/exec-reviewers

add more descriptions
  docs/design/2020-06-24-placement-rules-in-sql.md
Owners: none

ddl: add config value 'EnableGlobalIndex'
  config/config.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/ddl_test.go
  ddl/index.go
  ddl/partition.go
  ddl/rollingback.go
Owners: @pingcap/co-ddl

planner: ban tiflash engine when the statement is not read only
  executor/adapter.go
  executor/executor.go
  executor/prepared.go
  planner/optimize.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

add more examples
  docs/design/2020-06-24-placement-rules-in-sql.md
Owners: none

fix
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

[parser] model: add a `Global` field to IndexInfo (#917)
  parser/model/model.go
Owners: none

add test
  planner/core/integration_test.go
Owners: @pingcap/planner-reviewers

add test
  ddl/partition_test.go
Owners: @pingcap/co-ddl

fmt
  ddl/partition_test.go
Owners: @pingcap/co-ddl

address comment
  ddl/partition.go
Owners: @pingcap/co-ddl

executor: kill tableReader for each connection correctly (#18277)
  distsql/select_result.go
  executor/executor.go
  executor/executor_test.go
  server/conn.go
  server/server.go
  session/pessimistic_test.go
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

executor: kill tableReader for each connection correctly (#18277)
  distsql/select_result.go
  executor/executor.go
  executor/executor_test.go
  server/conn.go
  server/server.go
  session/pessimistic_test.go
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

[dumpling] executor: kill tableReader for each connection correctly (#18277)
  dumpling/distsql/select_result.go
  dumpling/executor/executor.go
  dumpling/executor/executor_test.go
  dumpling/server/conn.go
  dumpling/server/server.go
  dumpling/session/pessimistic_test.go
  dumpling/store/tikv/backoff.go
  dumpling/store/tikv/client.go
  dumpling/store/tikv/coprocessor.go
  dumpling/store/tikv/region_request.go
Owners: none

tikv: support cancel before rpc response return.
  store/tikv/batch_coprocessor.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: none

fix memory leak and race during stop
  store/tikv/batch_coprocessor.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: none

fix stream response returned but cannot cancel ctx bug
  store/tikv/batch_coprocessor.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: none

make cop consumer goroutine can detect kill flag
  store/tikv/batch_coprocessor.go
  store/tikv/client_batch.go
  store/tikv/coprocessor.go
Owners: none

Update table_reader.go
  executor/table_reader.go
Owners: @pingcap/exec-reviewers

tests: update testcase for creating global index
  ddl/db_test.go
Owners: @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl
