Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

test batch cop
  store/mockstore/mocktikv/cluster.go
  store/tikv/batch_coprocessor_test.go
Owners: none

multi-query prefetch support pessimistic transaction (#18439)
  executor/batch_point_get.go
  executor/point_get.go
  server/conn.go
  server/conn_test.go
  sessionctx/variable/session.go
Owners: @pingcap/exec-reviewers

multi-query prefetch support pessimistic transaction (#18439)
  executor/batch_point_get.go
  executor/point_get.go
  server/conn.go
  server/conn_test.go
  sessionctx/variable/session.go
Owners: @pingcap/exec-reviewers

[dumpling] multi-query prefetch support pessimistic transaction (#18439)
  dumpling/executor/batch_point_get.go
  dumpling/executor/point_get.go
  dumpling/server/conn.go
  dumpling/server/conn_test.go
  dumpling/sessionctx/variable/session.go
Owners: none

address comments
  executor/executor_test.go
  planner/core/explain.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

refactor runtime stats
  executor/aggregate.go
  executor/executor.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/join.go
  executor/projection.go
  executor/shuffle.go
  util/execdetails/execdetails.go
Owners: @pingcap/exec-reviewers

明天再写
  util/chunk/checksum.go
  util/chunk/disk.go
Owners: @pingcap/exec-reviewers

sessionctx: future proof tidb-specific comment
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
Owners: none

more test
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

fmt
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

回家debug
  util/chunk/checksum.go
  util/chunk/disk.go
  util/chunk/disk_test.go
Owners: @pingcap/exec-reviewers

implement utf8_unicode_ci
  util/collate/unicode_ci.go
Owners: none

test unicode ci
  ddl/db_test.go
  executor/collation_test.go
  expression/builtin_like_test.go
  expression/collation_test.go
  expression/integration_test.go
  types/enum_test.go
  types/set_test.go
  util/codec/collation_test.go
  util/collate/collate.go
  util/collate/collate_test.go
  util/collate/unicode_ci.go
  util/ranger/ranger_test.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers, @pingcap/planner-reviewers

fmt
  expression/builtin_like_test.go
  expression/collation_test.go
  util/collate/collate.go
  util/collate/collate_test.go
  util/collate/unicode_ci.go
Owners: @pingcap/exec-reviewers

Revert "update parser"
  go.mod
  go.sum
Owners: none

fix test
  ddl/db_test.go
  expression/builtin_like_test.go
  util/codec/collation_test.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

fix test
  expression/builtin_like_test.go
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

fix test
  expression/builtin_like_test.go
Owners: @pingcap/exec-reviewers

address comments
  executor/executor_test.go
  executor/merge_join_test.go
  executor/sort_test.go
Owners: @pingcap/exec-reviewers

fix
  executor/pkg_test.go
  executor/sort_test.go
  util/chunk/row_container.go
Owners: @pingcap/exec-reviewers

update
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/batch_coprocessor_test.go
Owners: none

make KeyFlags easier to understand
  kv/memdb.go
Owners: none

docs/design: address comments
  docs/design/2020-07-07-change-column-types.md
Owners: none

docs/design: address comments
  docs/design/2020-07-07-change-column-types.md
Owners: none

WIP: update con info
  executor/parallel_apply.go
Owners: @pingcap/exec-reviewers

docs/design: address comments
  docs/design/2020-07-07-change-column-types.md
Owners: none

Makefile: exclude cmd from packages
  Makefile
Owners: none

update comments
  planner/core/optimizer.go
Owners: @pingcap/planner-reviewers

address comments
  executor/merge_join.go
  util/chunk/row_container.go
Owners: @pingcap/exec-reviewers

make linter happy
  executor/parallel_apply.go
Owners: @pingcap/exec-reviewers

update Merge
  kv/memdb.go
Owners: none

server: return the actual error when conn panic
  server/conn.go
Owners: none

[dumpling] *: make test more TestSortInDisk stable (#18424)
  dumpling/executor/executor_test.go
  dumpling/executor/merge_join.go
  dumpling/executor/merge_join_test.go
  dumpling/executor/pkg_test.go
  dumpling/executor/sort_test.go
  dumpling/util/chunk/row_container.go
Owners: none

*: make test more TestSortInDisk stable (#18424)
  executor/executor_test.go
  executor/merge_join.go
  executor/merge_join_test.go
  executor/pkg_test.go
  executor/sort_test.go
  util/chunk/row_container.go
Owners: @pingcap/exec-reviewers

*: make test more TestSortInDisk stable (#18424)
  executor/executor_test.go
  executor/merge_join.go
  executor/merge_join_test.go
  executor/pkg_test.go
  executor/sort_test.go
  util/chunk/row_container.go
Owners: @pingcap/exec-reviewers

executor: make test stable
  executor/executor_test.go
Owners: @pingcap/exec-reviewers

make test stable
  infoschema/tables_test.go
Owners: @pingcap/co-ddl

server: return the actual error when conn panic (#18494)
  server/conn.go
Owners: none

[dumpling] server: return the actual error when conn panic (#18494)
  dumpling/server/conn.go
Owners: none

server: return the actual error when conn panic (#18494)
  server/conn.go
Owners: none
