Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

domain: fix sysvar cache leak
  domain/sysvar_cache.go
Owners: @lysu, @xhebox

session, variable: fix linter issues
  session/session.go
  sessionctx/variable/sysvar_test.go
Owners: @cfzjywxk, @tiancaiamao, @morgo

sessionctx, variable: add skip name resolve
  session/session.go
  sessionctx/variable/noop.go
  sessionctx/variable/sysvar.go
Owners: @cfzjywxk, @tiancaiamao, @morgo

remove deprecated
  ddl/db_test.go
Owners: @zimulala, @tiancaiamao

expression: PlusInt check null iff overflow
  expression/builtin_arithmetic_vec.go
Owners: @XuHuaiyu, @wjhuang2016

remove integration_tikv_test
  Makefile
Owners: none

[dumpling] docs/design: add proposal for common table expression (#24147)
  dumpling/docs/design/2021-04-18-common-table-expression.md
  dumpling/docs/design/imgs/cte_computation.png
  dumpling/docs/design/imgs/executors.png
  dumpling/docs/design/imgs/logical_plan.png
  dumpling/docs/design/imgs/physical_plan.png
Owners: none

docs/design: add proposal for common table expression (#24147)
  docs/design/2021-04-18-common-table-expression.md
  docs/design/imgs/cte_computation.png
  docs/design/imgs/executors.png
  docs/design/imgs/logical_plan.png
  docs/design/imgs/physical_plan.png
Owners: @zz-jason, @bb7133

expression: move to unit tests
  expression/builtin_info_test.go
  server/server_test.go
  server/tidb_test.go
Owners: @XuHuaiyu, @wjhuang2016, @coocood, @morgo

add soft limit
  executor/spilledAggregate.go
  util/memory/tracker.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros

fix import path
  store/tikv/tests/client_fp_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

executor: mutex snapshot with txn
  executor/set.go
  executor/simple.go
  executor/stale_txn_test.go
  sessionctx/variable/varsutil.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

executor: fix fmt
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: fix tests
  executor/stale_txn_test.go
  sessionctx/variable/sysvar.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

refine unit tests
  table/tables/partition_test.go
Owners: @wjhuang2016

Update SafeTS metrics and grafana panels
  go.mod
  go.sum
  metrics/grafana/tidb.json
Owners: @jackysp, @lzmhhh123

expression: empty CURRENT_ROLE (#25438)
  expression/builtin_info.go
  expression/builtin_info_test.go
  expression/builtin_info_vec.go
Owners: @XuHuaiyu, @wjhuang2016

[dumpling] expression: empty CURRENT_ROLE (#25438)
  dumpling/expression/builtin_info.go
  dumpling/expression/builtin_info_test.go
  dumpling/expression/builtin_info_vec.go
Owners: none

refine unit test
  table/tables/partition_test.go
Owners: @wjhuang2016

config: Add Lock View's config to config template and tests
  config/config.go
  config/config.toml.example
  config/config_test.go
Owners: @tiancaiamao, @qw4990

expression: Maintain separate scalar function pushdown lists for each engine instead of unified. (#23284) (#23661)
  expression/expr_to_pb_test.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

Update the client-go version
  go.mod
  go.sum
Owners: none

[dumpling] planner: fix wrong aggregate pruning for some cases (#25289)
  dumpling/planner/core/rule_column_pruning.go
  dumpling/planner/core/testdata/integration_serial_suite_out.json
  dumpling/planner/core/testdata/integration_suite_in.json
  dumpling/planner/core/testdata/integration_suite_out.json
Owners: none

planner: fix wrong aggregate pruning for some cases (#25289)
  planner/core/rule_column_pruning.go
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

expression: PlusInt check null iff overflow (#25466)
  expression/builtin_arithmetic_vec.go
Owners: @XuHuaiyu, @wjhuang2016

[dumpling] expression: PlusInt check null iff overflow (#25466)
  dumpling/expression/builtin_arithmetic_vec.go
Owners: none

[dumpling] store, metrics: update SafeTS metrics and grafana panels (#25407)
  dumpling/go.mod
  dumpling/go.sum
  dumpling/metrics/grafana/tidb.json
Owners: none

store, metrics: update SafeTS metrics and grafana panels (#25407)
  go.mod
  go.sum
  metrics/grafana/tidb.json
Owners: @jackysp, @lzmhhh123

cherry pick #25407 to release-5.1
  go.mod
  go.sum
  metrics/grafana/tidb.json
Owners: @jackysp, @lzmhhh123

[dumpling] ddl: converts NULL to NOT NULL for column types with NULL data reports err (#24641)
  dumpling/ddl/column.go
  dumpling/ddl/column_type_change_test.go
  dumpling/ddl/db_test.go
  dumpling/ddl/ddl_api.go
Owners: none

ddl: converts NULL to NOT NULL for column types with NULL data reports err (#24641)
  ddl/column.go
  ddl/column_type_change_test.go
  ddl/db_test.go
  ddl/ddl_api.go
Owners: @zimulala, @tiancaiamao

Update store/tikv
  go.mod
  go.sum
  store/tikv/kv.go
  store/tikv/metrics/metrics.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] planner: check filter condition in func convertToPartialTableScan (#25294)
  dumpling/executor/index_merge_reader_test.go
  dumpling/planner/core/find_best_task.go
Owners: none

planner: check filter condition in func convertToPartialTableScan (#25294)
  executor/index_merge_reader_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

refine unit test
  table/tables/partition_test.go
Owners: @wjhuang2016

executor: fix character_octet_length from information_schema.columns
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

select distinct should bypass batchget
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

add gzip compressor in tidb grpc server
  server/rpc_server.go
Owners: @coocood, @morgo

close useless grpc connection
  server/tidb_test.go
  util/topsql/reporter/client.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

fix issue 25253
  executor/batch_checker.go
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu
