Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

region_cache: invalidate cached region for not leader error (#18577)
  store/tikv/region_request.go
Owners: none

[dumpling] region_cache: invalidate cached region for not leader error (#18577)
  dumpling/store/tikv/region_request.go
Owners: none

region_cache: invalidate cached region for not leader error (#18577)
  store/tikv/region_request.go
Owners: none

cherry pick #18577 to release-3.0
  store/tikv/region_request.go
Owners: none

cherry pick #18577 to release-3.1
  store/tikv/region_request.go
Owners: none

cherry pick #18577 to release-4.0
  store/tikv/region_request.go
Owners: none

tidb: update parser to fix error as keyword problem
  go.mod
  go.sum
Owners: none

delete unused mod manually
  go.sum
Owners: none

search logs: update sysutil to support search logs include invalid lines (#18579)
  go.mod
  go.sum
Owners: none

search logs: update sysutil to support search logs include invalid lines (#18579)
  go.mod
  go.sum
Owners: none

[dumpling] search logs: update sysutil to support search logs include invalid lines (#18579)
  dumpling/go.mod
  dumpling/go.sum
Owners: none

cherry pick #18579 to release-4.0
  go.mod
  go.sum
Owners: none

fix
  executor/aggfuncs/func_max_min.go
Owners: @pingcap/exec-reviewers

fix CI
  ddl/db_partition_test.go
  ddl/partition.go
Owners: @pingcap/co-ddl

ddl, meta: allow increasing auto_random bits (#17423)
  ddl/column.go
  ddl/column_change_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
  meta/autoid/errors.go
  meta/meta.go
Owners: @pingcap/co-ddl

fix: add test
  ddl/db_test.go
Owners: @pingcap/co-ddl

fix CI
  ddl/partition.go
Owners: @pingcap/co-ddl

kv: fix typos
  kv/sandbox.go
  kv/sandbox_test.go
Owners: none

config: remove allow-auto-random config option (#16596)
  config/config.go
  config/config.toml.example
  config/config_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
  executor/insert_test.go
  executor/seqtest/seq_executor_test.go
  go.mod
  go.sum
  meta/autoid/errors.go
  util/testutil/testutil.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

refine comments
  ddl/db_partition_test.go
  ddl/partition.go
Owners: @pingcap/co-ddl

remove unused import
  executor/insert_test.go
Owners: @pingcap/exec-reviewers

config: remove allow-auto-random config option (#16596) (#18613)
  config/config.go
  config/config.toml.example
  config/config_test.go
  ddl/column.go
  ddl/column_change_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
  executor/insert_test.go
  executor/seqtest/seq_executor_test.go
  go.mod
  go.sum
  meta/autoid/errors.go
  meta/meta.go
  util/testutil/testutil.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

executor, sessionctx: add a variable of enable_change_column_type
  executor/analyze.go
  executor/set_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Owners: @pingcap/exec-reviewers

update pd dependency
  go.mod
  go.sum
  store/mockstore/mocktikv/pd.go
  store/mockstore/unistore/pd.go
  store/tikv/store_test.go
Owners: none

add test
  expression/integration_test.go
  planner/core/rule_predicate_push_down.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

add test
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

add tests
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Owners: @pingcap/planner-reviewers

session: add a mutex in TxnState.initStmtBuf
  session/txn.go
Owners: none

fix
  expression/builtin_time_vec_test.go
Owners: @pingcap/exec-reviewers

config: add allow-auto-random option and deprecate it
  config/config.go
  config/config.toml.example
Owners: none

[dumpling] session: add a mutex in TxnState.initStmtBuf (#18617)
  dumpling/session/txn.go
Owners: none

session: add a mutex in TxnState.initStmtBuf (#18617)
  session/txn.go
Owners: none

session: add a mutex in TxnState.initStmtBuf (#18617)
  session/txn.go
Owners: none

refine comments about the config option
  config/config.go
  config/config.toml.example
Owners: none

*: fix some missing set kv variables
  session/session.go
  session/session_test.go
  store/tikv/txn.go
Owners: none

remove allow-auto-random from struct
  config/config.go
  config/config.toml.example
Owners: none

commit change for async commit protocol
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/prewrite.go
Owners: none

[dumpling] planner: support keep order for clustered index (#18590)
  dumpling/planner/core/find_best_task.go
  dumpling/planner/core/testdata/integration_suite_in.json
  dumpling/planner/core/testdata/integration_suite_out.json
Owners: none

planner: support keep order for clustered index (#18590)
  planner/core/find_best_task.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Owners: @pingcap/planner-reviewers

planner: support keep order for clustered index (#18590)
  planner/core/find_best_task.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Owners: @pingcap/planner-reviewers

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl
