Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

config: deprecate allow-auto-random option (#18618)
  config/config.go
Owners: none

[dumpling] config: deprecate allow-auto-random option (#18618)
  dumpling/config/config.go
Owners: none

config: deprecate allow-auto-random option (#18618)
  config/config.go
Owners: none

cherry pick #18618 to release-4.0
  config/config.go
Owners: none

Update config.go
  config/config.go
Owners: none

done
  session/pessimistic_test.go
Owners: none

config: deprecate allow-auto-random option (#18618) (#18623)
  config/config.go
Owners: none

session: stabilize test TestBatchCommit (#18625)
  session/pessimistic_test.go
Owners: none

[dumpling] session: stabilize test TestBatchCommit (#18625)
  dumpling/session/pessimistic_test.go
Owners: none

session: stabilize test TestBatchCommit (#18625)
  session/pessimistic_test.go
Owners: none

kv: fix typos
  kv/sandbox.go
  kv/sandbox_test.go
Owners: none

grafana: update the description of 'Go GC Duration'
  infoschema/metric_table_def.go
  metrics/grafana/tidb.json
Owners: @pingcap/co-ddl

resolve conflicts
  go.mod
Owners: none

ddl: add explicit error message when adding index (#18563)
  ddl/db_test.go
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

ddl: add explicit error message when adding index (#18563)
  ddl/db_test.go
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

[dumpling] ddl: add explicit error message when adding index (#18563)
  dumpling/ddl/db_test.go
  dumpling/ddl/ddl_api.go
Owners: none

cherry pick #18563 to release-4.0
  ddl/db_test.go
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

kv: fix typos (#18626)
  kv/sandbox.go
  kv/sandbox_test.go
Owners: none

kv: fix typos (#18626)
  kv/sandbox.go
  kv/sandbox_test.go
Owners: none

[dumpling] kv: fix typos (#18626)
  dumpling/kv/sandbox.go
  dumpling/kv/sandbox_test.go
Owners: none

executor: make test TestForServersInfo stable
  executor/infoschema_reader_test.go
Owners: @pingcap/exec-reviewers

test
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

fix: fix test & err
  ddl/db_test.go
Owners: @pingcap/co-ddl

Clean some staled content from github PR template
  .github/pull_request_template.md
Owners: none

executor: fix wrong result for keep desc order in index merge join
  executor/index_lookup_merge_join.go
  executor/index_lookup_merge_join_test.go
Owners: @pingcap/exec-reviewers

close ttl manager in the async commit goroutine
  store/tikv/2pc.go
  store/tikv/txn.go
Owners: none

mockstore: add empty executor runtime information for unistore cop handler
  store/mockstore/unistore/cophandler/cop_handler.go
Owners: none

fix 18638
  expression/integration_test.go
  planner/core/rule_predicate_push_down.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

process prewrite response with zero ts
  store/tikv/2pc.go
  store/tikv/prewrite.go
  store/tikv/txn.go
Owners: none

kv: fix typos
  kv/kv.go
  kv/memdb.go
  kv/sandbox.go
Owners: none

metrics: add disconnection_metrics (#18594)
  metrics/grafana/tidb.json
Owners: none

metrics: add disconnection_metrics (#18594)
  metrics/grafana/tidb.json
Owners: none

[dumpling] metrics: add disconnection_metrics (#18594)
  dumpling/metrics/grafana/tidb.json
Owners: none

[dumpling] ddl: fix test `TestAddIndexWithDupIndex` (#18634)
  dumpling/ddl/db_test.go
Owners: none

ddl: fix test `TestAddIndexWithDupIndex` (#18634)
  ddl/db_test.go
Owners: @pingcap/co-ddl

ddl: fix test `TestAddIndexWithDupIndex` (#18634)
  ddl/db_test.go
Owners: @pingcap/co-ddl

ddl: add explicit error message when adding index (#18563)
  ddl/db_test.go
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

ddl: fix test `TestAddIndexWithDupIndex` (#18634)
  ddl/db_test.go
Owners: @pingcap/co-ddl

planner: fix wrong select result when using collation (#18639)
  expression/integration_test.go
  planner/core/rule_predicate_push_down.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

planner: fix wrong select result when using collation (#18639)
  expression/integration_test.go
  planner/core/rule_predicate_push_down.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers
