Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

[dumpling] planner: fix wrong select result when using collation (#18639)
  dumpling/expression/integration_test.go
  dumpling/planner/core/rule_predicate_push_down.go
Owners: none

cherry pick #18639 to release-4.0
  expression/integration_test.go
  planner/core/rule_predicate_push_down.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

remove binlog lines
  store/tikv/2pc.go
Owners: none

kv: replace Sandbox with a newly designed memdb
  kv/kv.go
  kv/memdb.go
  kv/memdb_arena.go
  kv/memdb_bench_test.go
  kv/memdb_iterator.go
  kv/memdb_norace_test.go
  kv/memdb_test.go
  kv/sandbox.go
  kv/sandbox_arena.go
  kv/sandbox_iterator.go
  kv/sandbox_test.go
  kv/union_store.go
  kv/utils.go
  session/txn.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  table/tables/index.go
  table/tables/index_test.go
  table/tables/tables.go
Owners: none

[dumpling] mockstore: add empty executor runtime information for unistore cop handler (#18640)
  dumpling/store/mockstore/unistore/cophandler/cop_handler.go
Owners: none

mockstore: add empty executor runtime information for unistore cop handler (#18640)
  store/mockstore/unistore/cophandler/cop_handler.go
Owners: none

mockstore: add empty executor runtime information for unistore cop handler (#18640)
  store/mockstore/unistore/cophandler/cop_handler.go
Owners: none

ddl: add explicit error message when adding index (#18563) (#18634) (#18646)
  ddl/db_test.go
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

make check happy
  kv/memdb.go
  kv/memdb_iterator.go
Owners: none

executor: fix wrong result for keep desc order in index merge join (#18637)
  executor/index_lookup_merge_join.go
  executor/index_lookup_merge_join_test.go
Owners: @pingcap/exec-reviewers

[dumpling] executor: fix wrong result for keep desc order in index merge join (#18637)
  dumpling/executor/index_lookup_merge_join.go
  dumpling/executor/index_lookup_merge_join_test.go
Owners: none

executor: fix wrong result for keep desc order in index merge join (#18637)
  executor/index_lookup_merge_join.go
  executor/index_lookup_merge_join_test.go
Owners: @pingcap/exec-reviewers

cherry pick #18637 to release-4.0
  executor/index_lookup_merge_join.go
  executor/index_lookup_merge_join_test.go
Owners: @pingcap/exec-reviewers

planner: apply min-max eliminator on common handle columns
  planner/core/integration_test.go
  planner/core/rule_max_min_eliminate.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  util/ranger/checker.go
Owners: @pingcap/planner-reviewers

kv: add partial implementation of new memdb
  kv/new_memdb.go
  kv/new_memdb_arena.go
  kv/sandbox_norace_test.go
  kv/sandbox_test.go
Owners: none

add an unit test to verify the correctness of checksum layer
  util/chunk/disk.go
  util/chunk/disk_test.go
Owners: @pingcap/exec-reviewers

add an unit test to verify the correctness of checksum layer
  util/chunk/disk.go
  util/chunk/disk_test.go
Owners: @pingcap/exec-reviewers

read还是有问题，明天再看
  util/chunk/checksum.go
  util/chunk/disk_test.go
Owners: @pingcap/exec-reviewers

planner,executor: implement partition table executor and move partition pruning
  executor/builder.go
  planner/core/explain.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/physical_plans.go
  planner/core/rule_partition_processor.go
  planner/core/task.go
  util/plancodec/id.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

cherry pick #18637 to release-4.0 (#18651)
  executor/index_lookup_merge_join.go
  executor/index_lookup_merge_join_test.go
Owners: @pingcap/exec-reviewers

[dumpling] .github: add the auto-assignment for project SIG DDL Kanban (#18442)
  dumpling/.github/workflows/assign_project.yml
Owners: none

.github: add the auto-assignment for project SIG DDL Kanban (#18442)
  .github/workflows/assign_project.yml
Owners: none

.github: add the auto-assignment for project SIG DDL Kanban (#18442)
  .github/workflows/assign_project.yml
Owners: none

fix
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

.github: auto assign component/coprocessor to sig-runtime kanban
  .github/workflows/assign_project.yml
Owners: none

remove duplicate setVars
  session/session.go
Owners: none

[parser] parser: support set operator EXCEPT and INTERSECT (#916)
  parser/ast/dml.go
  parser/ast/dml_test.go
  parser/ast/util.go
  parser/ast/util_test.go
  parser/misc.go
  parser/model/flags.go
  parser/parser.y
  parser/parser_test.go
Owners: none

fix mod
  go.mod
  go.sum
Owners: none

单个chunk应该通过测试了，多个chunk还需要看看失败的原因
  util/chunk/checksum.go
  util/chunk/disk.go
  util/chunk/disk_test.go
Owners: @pingcap/exec-reviewers

fix fmt
  planner/core/logical_plan_builder.go
Owners: @pingcap/planner-reviewers

fix test
  executor/builder.go
  executor/executor.go
Owners: @pingcap/exec-reviewers

bug fix
  expression/distsql_builtin.go
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

ddl: fix issue that cannot modify other columns on auto_random table
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @pingcap/co-ddl

rename test name
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

fix tests
  planner/core/exhaust_physical_plans.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/rpc.go
Owners: @pingcap/planner-reviewers

refine code
  store/tikv/region_request.go
  store/tikv/snapshot.go
Owners: none

add some tests
  ddl/serial_test.go
Owners: @pingcap/co-ddl

fix permission
  store/tikv/2pc.go
  store/tikv/txn.go
Owners: none

disable async commit if binlog is enabled
  store/tikv/2pc.go
Owners: none

refine code
  executor/join.go
  executor/point_get.go
  store/tikv/snapshot.go
Owners: @pingcap/exec-reviewers

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl
