Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

refactor tracker
  util/memory/tracker.go
Owners: @winoros, @wshwsh12

[dumpling] executor: remove gc safe point check in set executor (#25679)
  dumpling/executor/set.go
Owners: none

executor: remove gc safe point check in set executor (#25679)
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25679 to release-5.1
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

remve client-go
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/benchmark_test.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  go.mod
  go.sum
  planner/core/preprocess.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

executor: fix KVSnapshot missing set txnScope (#25710)
  store/driver/txn/snapshot.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] executor: fix KVSnapshot missing set txnScope (#25710)
  dumpling/store/driver/txn/snapshot.go
Owners: none

cherry pick #25710 to release-5.1
  store/driver/txn/snapshot.go
Owners: @disksing, @AndreMouche, @MyonKeminta

polish code
  executor/aggregate.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

Update SECURITY.md
  SECURITY.md
Owners: none

planner,executor: fix batch point get for update read panic on partition table (#25652) (#25657)
  executor/partition_table_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

remve client-go
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/benchmark_test.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  go.mod
  go.sum
  planner/core/preprocess.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

executor: remove gc safe point check in set executor (#25679)
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

remove unneccessary defer
  server/server.go
Owners: @coocood, @morgo

executor: fix KVSnapshot missing set txnScope (#25710) (#25713)
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/benchmark_test.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  executor/set.go
  go.mod
  go.sum
  planner/core/preprocess.go
  store/driver/txn/snapshot.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @disksing, @AndreMouche, @MyonKeminta

init commit: typo fix
  distsql/distsql.go
Owners: @crazycs520, @qw4990

cherry pick #24504 to release-5.0
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

cherry pick #24504 to release-4.0
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

planner, executor: add stale read compatibility for temporary table (#25206)
  executor/adapter.go
  executor/builder.go
  executor/point_get.go
  executor/stale_txn_test.go
  planner/core/preprocess.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

executor: add history read compatibility for temporary table (#25237)
  executor/builder.go
  executor/executor_test.go
  executor/point_get.go
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: add global system variable `tmp_table_size` (#24827)
  errors.toml
  executor/set_test.go
  session/session_test.go
  sessionctx/variable/noop.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  table/table.go
  table/tables/tables.go
  util/tableutil/tableutil.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @morgo, @wjhuang2016, @winoros

executor: add tablesample compatibility for temporary table (#25288)
  executor/builder.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

ddl: add create table like check for temporary table (#25082)
  ddl/serial_test.go
  errors.toml
  planner/core/errors.go
  planner/core/preprocess.go
Owners: @zimulala, @tiancaiamao, @winoros, @rebelice, @hanfei1991

bindinfo,planner: report error when creating sql binding on temporary table (#25058)
  bindinfo/bind_test.go
  planner/core/preprocess.go
Owners: @rebelice, @winoros, @hanfei1991

*: fix bug that write on temporary table send request to TiKV (#25535)
  executor/executor_test.go
  kv/option.go
  planner/core/preprocess.go
  session/session.go
  store/driver/txn/txn_driver.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao, @MyonKeminta

fix kvproto
  go.mod
  go.sum
  trace/reporter.go
Owners: none

format code
  ddl/ddl_api.go
Owners: @zimulala, @tiancaiamao

fix err
  planner/core/preprocess.go
Owners: @winoros, @rebelice, @hanfei1991

session: force tidb_multi_statement_mode=OFF when mode=WARN
  session/bootstrap.go
Owners: @cfzjywxk, @tiancaiamao

add comments
  executor/aggregate.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

distsql/*: typo fix for `dispatches` (#25719)
  distsql/distsql.go
Owners: @crazycs520, @qw4990

[dumpling] distsql/*: typo fix for `dispatches` (#25719)
  dumpling/distsql/distsql.go
Owners: none

executor: run all tests and fix CI
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

randomize span id prefix
  trace/reporter.go
Owners: none

external span as parent span
  go.mod
  go.sum
  server/conn.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  store/tikv/tikvrpc/tikvrpc.go
  trace/query.go
  trace/reporter.go
Owners: @coocood, @morgo, @disksing, @AndreMouche, @MyonKeminta

remove unnecessary defer in clientConn.dispatch
  server/conn.go
Owners: @coocood, @morgo

infoschema: Add new columns for information_schema.tiflash_tables (#25678)
  infoschema/tables.go
Owners: @djshow832, @lysu

Revert "remove unnecessary defer in clientConn.dispatch"
  server/conn.go
Owners: @coocood, @morgo

infoschema: Add new columns for information_schema.tiflash_tables (#25678) (#25725)
  infoschema/tables.go
Owners: @djshow832, @lysu

infoschema: Add new columns for information_schema.tiflash_tables (#25678) (#25708)
  infoschema/tables.go
Owners: @djshow832, @lysu
