Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

make fmt
  structure/structure.go
Owners: @zimulala

move test to /session to make them run with real TiKV
  session/session_test.go
  statistics/integration_test.go
Owners: @cfzjywxk, @tiancaiamao, @winoros, @eurekaka

.
  ddl/db_change_test.go
Owners: @zimulala, @tiancaiamao

types: modify comment
  types/mydecimal.go
Owners: @XuHuaiyu, @guo-shaoge

[dumpling] ddl: fix the data and indexes inconsistency during ctc (#25323)
  dumpling/ddl/db_change_test.go
  dumpling/table/tables/tables.go
Owners: none

ddl: fix the data and indexes inconsistency during ctc (#25323)
  ddl/db_change_test.go
  table/tables/tables.go
Owners: @zimulala, @tiancaiamao, @wjhuang2016

cherry pick #25323 to release-5.1
  ddl/db_change_test.go
  table/tables/tables.go
Owners: @zimulala, @tiancaiamao, @wjhuang2016

ddl,server,store: Fix ineffectual assignment in tests etc.
  ddl/column_type_change_test.go
  server/http_handler_test.go
  store/tikv/locate/region_request_test.go
Owners: @zimulala, @tiancaiamao, @coocood, @morgo, @disksing, @AndreMouche, @MyonKeminta

adjust test
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

add debug log
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter.go
Owners: @winoros, @wshwsh12

[dumpling] store/tikv: make failpoints without code generations (#25247)
  dumpling/ddl/placement_sql_test.go
  dumpling/ddl/serial_test.go
  dumpling/executor/executor_test.go
  dumpling/executor/stale_txn_test.go
  dumpling/expression/integration_test.go
  dumpling/server/conn_test.go
  dumpling/session/pessimistic_test.go
  dumpling/session/session_fail_test.go
  dumpling/session/session_test.go
  dumpling/store/driver/sql_fail_test.go
  dumpling/store/gcworker/gc_worker_test.go
  dumpling/store/tikv/2pc.go
  dumpling/store/tikv/client/client_batch.go
  dumpling/store/tikv/client/client_fail_test.go
  dumpling/store/tikv/client_helper.go
  dumpling/store/tikv/config/config.go
  dumpling/store/tikv/config/config_test.go
  dumpling/store/tikv/kv.go
  dumpling/store/tikv/locate/region_cache.go
  dumpling/store/tikv/locate/region_request.go
  dumpling/store/tikv/lock_resolver.go
  dumpling/store/tikv/mockstore/mocktikv/rpc.go
  dumpling/store/tikv/pessimistic.go
  dumpling/store/tikv/prewrite.go
  dumpling/store/tikv/snapshot.go
  dumpling/store/tikv/split_region.go
  dumpling/store/tikv/tests/2pc_fail_test.go
  dumpling/store/tikv/tests/2pc_test.go
  dumpling/store/tikv/tests/async_commit_fail_test.go
  dumpling/store/tikv/tests/lock_test.go
  dumpling/store/tikv/tests/snapshot_fail_test.go
  dumpling/store/tikv/tests/snapshot_test.go
  dumpling/store/tikv/tests/store_fail_test.go
  dumpling/store/tikv/txn.go
  dumpling/store/tikv/util/failpoint.go
  dumpling/tools/check/errcheck_excludes.txt
Owners: none

store/tikv: make failpoints without code generations (#25247)
  ddl/placement_sql_test.go
  ddl/serial_test.go
  executor/executor_test.go
  executor/stale_txn_test.go
  expression/integration_test.go
  server/conn_test.go
  session/pessimistic_test.go
  session/session_fail_test.go
  session/session_test.go
  store/driver/sql_fail_test.go
  store/gcworker/gc_worker_test.go
  store/tikv/2pc.go
  store/tikv/client/client_batch.go
  store/tikv/client/client_fail_test.go
  store/tikv/client_helper.go
  store/tikv/config/config.go
  store/tikv/config/config_test.go
  store/tikv/kv.go
  store/tikv/locate/region_cache.go
  store/tikv/locate/region_request.go
  store/tikv/lock_resolver.go
  store/tikv/mockstore/mocktikv/rpc.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/tests/2pc_fail_test.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/async_commit_fail_test.go
  store/tikv/tests/lock_test.go
  store/tikv/tests/snapshot_fail_test.go
  store/tikv/tests/snapshot_test.go
  store/tikv/tests/store_fail_test.go
  store/tikv/txn.go
  store/tikv/util/failpoint.go
  tools/check/errcheck_excludes.txt
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @coocood, @morgo, @cfzjywxk, @disksing, @AndreMouche, @MyonKeminta, @zhuo-zhi

fix union with collation
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Owners: @winoros, @rebelice, @hanfei1991

disable dynamic mode
  sessionctx/variable/tidb_vars.go
Owners: @morgo

add tests
  ddl/serial_test.go
  planner/core/preprocess.go
Owners: @zimulala, @tiancaiamao, @winoros, @rebelice, @hanfei1991

executor: temporarily skip some unstable test cases (#25335)
  executor/analyze_test.go
  executor/infoschema_reader_test.go
  executor/partition_table_test.go
  executor/set_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] executor: temporarily skip some unstable test cases (#25335)
  dumpling/executor/analyze_test.go
  dumpling/executor/infoschema_reader_test.go
  dumpling/executor/partition_table_test.go
  dumpling/executor/set_test.go
Owners: none

adjust test again
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

add failpoint try to make test stable
  server/tidb_test.go
  util/topsql/reporter/reporter.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

add debug log
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter.go
Owners: @winoros, @wshwsh12

Revert "executor: temporarily skip some unstable test cases (#25335)"
  executor/analyze_test.go
  executor/infoschema_reader_test.go
  executor/partition_table_test.go
  executor/set_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

Update analyze_test.go
  executor/analyze_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

Update set_test.go
  executor/set_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add log stack
  domain/sysvar_cache.go
  server/tidb_test.go
  sessionctx/variable/sysvar.go
Owners: @lysu, @xhebox, @coocood, @morgo

sli: move small read duration metrics to store/tikv
  distsql/select_result.go
  metrics/metrics.go
  metrics/sli.go
  store/tikv/metrics/metrics.go
  store/tikv/snapshot.go
  util/sli/sli.go
Owners: @crazycs520, @qw4990, @jackysp, @lzmhhh123, @disksing, @AndreMouche, @MyonKeminta, @winoros, @wshwsh12

add debug log
  domain/sysvar_cache.go
  server/tidb_test.go
  sessionctx/variable/sysvar.go
Owners: @lysu, @xhebox, @coocood, @morgo

fix fmt
  executor/tiflash_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

meta,structure: modify structure hash API to avoid conflict on auto table ID key (#25221)
  structure/hash.go
  structure/structure_test.go
Owners: @zimulala

[dumpling] meta,structure: modify structure hash API to avoid conflict on auto table ID key (#25221)
  dumpling/structure/hash.go
  dumpling/structure/structure_test.go
Owners: none

add debug log
  domain/sysvar_cache.go
Owners: @lysu, @xhebox

*: fix #25167
  executor/batch_point_get.go
  executor/point_get.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add debug log
  domain/domain.go
Owners: @lysu, @xhebox

restore mistake change
  domain/domain.go
Owners: @lysu, @xhebox

add tests
  planner/core/enforce_mpp_test.go
  planner/core/testdata/enforce_mpp_suite_in.json
  planner/core/testdata/enforce_mpp_suite_out.json
  sessionctx/variable/sysvar.go
Owners: @winoros, @rebelice, @hanfei1991, @morgo

add debug log
  domain/domain.go
Owners: @lysu, @xhebox

Revert "add debug log"
  domain/domain.go
Owners: @lysu, @xhebox

make fmt
  planner/core/enforce_mpp_test.go
  planner/core/testdata/enforce_mpp_suite_in.json
Owners: @winoros, @rebelice, @hanfei1991

revert
  executor/tiflash_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] executor: Fix losing the auth string on changing SSL/TLS requirements (#25268)
  dumpling/executor/grant_test.go
  dumpling/executor/simple.go
  dumpling/privilege/privileges/privileges_test.go
Owners: none

executor: Fix losing the auth string on changing SSL/TLS requirements (#25268)
  executor/grant_test.go
  executor/simple.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
