Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

fix ci
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join_test.go
Owners: @pingcap/exec-reviewers

fix
  ddl/index.go
  expression/expression.go
  util/rowDecoder/decoder.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

make check
  executor/index_lookup_merge_join_test.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

fix cherry-pick
  executor/merge_join_test.go
  executor/sort_test.go
Owners: @pingcap/exec-reviewers

fix cherry-pick
  executor/sort_test.go
Owners: @pingcap/exec-reviewers

fix: modify error message
  ddl/db_test.go
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

search logs: update sysutil to support search logs include invalid lines
  go.mod
  go.sum
Owners: none

executor: kill tableReader for each connection correctly (#18277) (#18505)
  distsql/select_result.go
  executor/executor.go
  executor/executor_test.go
  server/conn.go
  server/server.go
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

tikv: support cancel before cop response return (#18445)
  store/tikv/batch_coprocessor.go
  store/tikv/client_batch.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: none

tikv: support cancel before cop response return (#18445)
  store/tikv/batch_coprocessor.go
  store/tikv/client_batch.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: none

[dumpling] tikv: support cancel before cop response return (#18445)
  dumpling/store/tikv/batch_coprocessor.go
  dumpling/store/tikv/client_batch.go
  dumpling/store/tikv/coprocessor.go
  dumpling/store/tikv/region_request.go
Owners: none

remove redundant code
  executor/distsql.go
  executor/table_reader.go
  util/execdetails/execdetails.go
Owners: @pingcap/exec-reviewers

Update tracker.go
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

Update tracker.go
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

Update tracker.go
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

executor: check gc safe time first when iterate the history ddl jobs (#18380) (#18386)
  executor/ddl.go
Owners: @pingcap/exec-reviewers

executor: check gc safe time first when iterate the history ddl jobs (#18380)
  executor/ddl.go
Owners: @pingcap/exec-reviewers

Update tracker.go
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

Update tracker.go
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

Update tracker.go
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

Update tracker.go
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

Update tracker.go
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

make null eq effective
  executor/builder.go
  executor/hash_table.go
  executor/hash_table_test.go
  executor/join.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/stats.go
  util/codec/codec.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

Update tracker.go
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

kv: refactor MemBuffer and reduce the memory usage (#18372)
  ddl/ddl_worker.go
  ddl/index.go
  ddl/index_change_test.go
  executor/admin.go
  executor/admin_test.go
  executor/distsql_test.go
  executor/executor_test.go
  executor/insert_common.go
  executor/write_test.go
  kv/buffer_store.go
  kv/buffer_store_test.go
  kv/interface_mock_test.go
  kv/kv.go
  kv/memdb.go
  kv/memdb_buffer.go
  kv/memdb_test.go
  kv/mock_test.go
  kv/sandbox.go
  kv/sandbox_arena.go
  kv/sandbox_iterator.go
  kv/sandbox_norace_test.go
  kv/sandbox_test.go
  kv/union_store.go
  kv/union_store_test.go
  kv/utils_test.go
  session/txn.go
  sessionctx/variable/session.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/txn.go
  table/index.go
  table/tables/index.go
  table/tables/index_test.go
  table/tables/tables.go
  table/tables/tables_test.go
  util/admin/admin.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

kv: refactor MemBuffer and reduce the memory usage (#18372)
  ddl/ddl_worker.go
  ddl/index.go
  ddl/index_change_test.go
  executor/admin.go
  executor/admin_test.go
  executor/distsql_test.go
  executor/executor_test.go
  executor/insert_common.go
  executor/write_test.go
  kv/buffer_store.go
  kv/buffer_store_test.go
  kv/interface_mock_test.go
  kv/kv.go
  kv/memdb.go
  kv/memdb_buffer.go
  kv/memdb_test.go
  kv/mock_test.go
  kv/sandbox.go
  kv/sandbox_arena.go
  kv/sandbox_iterator.go
  kv/sandbox_norace_test.go
  kv/sandbox_test.go
  kv/union_store.go
  kv/union_store_test.go
  kv/utils_test.go
  session/txn.go
  sessionctx/variable/session.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/txn.go
  table/index.go
  table/tables/index.go
  table/tables/index_test.go
  table/tables/tables.go
  table/tables/tables_test.go
  util/admin/admin.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

[dumpling] kv: refactor MemBuffer and reduce the memory usage (#18372)
  dumpling/ddl/ddl_worker.go
  dumpling/ddl/index.go
  dumpling/ddl/index_change_test.go
  dumpling/executor/admin.go
  dumpling/executor/admin_test.go
  dumpling/executor/distsql_test.go
  dumpling/executor/executor_test.go
  dumpling/executor/insert_common.go
  dumpling/executor/write_test.go
  dumpling/kv/buffer_store.go
  dumpling/kv/buffer_store_test.go
  dumpling/kv/interface_mock_test.go
  dumpling/kv/kv.go
  dumpling/kv/memdb.go
  dumpling/kv/memdb_buffer.go
  dumpling/kv/memdb_test.go
  dumpling/kv/mock_test.go
  dumpling/kv/sandbox.go
  dumpling/kv/sandbox_arena.go
  dumpling/kv/sandbox_iterator.go
  dumpling/kv/sandbox_norace_test.go
  dumpling/kv/sandbox_test.go
  dumpling/kv/union_store.go
  dumpling/kv/union_store_test.go
  dumpling/kv/utils_test.go
  dumpling/session/txn.go
  dumpling/sessionctx/variable/session.go
  dumpling/store/tikv/2pc.go
  dumpling/store/tikv/2pc_test.go
  dumpling/store/tikv/pessimistic.go
  dumpling/store/tikv/prewrite.go
  dumpling/store/tikv/txn.go
  dumpling/table/index.go
  dumpling/table/tables/index.go
  dumpling/table/tables/index_test.go
  dumpling/table/tables/tables.go
  dumpling/table/tables/tables_test.go
  dumpling/util/admin/admin.go
Owners: none

planner: ban tiflash engine when the statement is not read only (#18458) (#18534)
  executor/adapter.go
  executor/executor.go
  executor/prepared.go
  planner/core/integration_test.go
  planner/optimize.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

log: add `tidb_log_desensitization` global variable to control whether do desensitization when log query (#18578)
  executor/adapter.go
  server/conn.go
  server/conn_stmt.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @pingcap/exec-reviewers

[dumpling] log: add `tidb_log_desensitization` global variable to control whether do desensitization when log query (#18578)
  dumpling/executor/adapter.go
  dumpling/server/conn.go
  dumpling/server/conn_stmt.go
  dumpling/session/session.go
  dumpling/sessionctx/variable/session.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/tidb_vars.go
Owners: none

log: add `tidb_log_desensitization` global variable to control whether do desensitization when log query (#18578)
  executor/adapter.go
  server/conn.go
  server/conn_stmt.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @pingcap/exec-reviewers

cherry pick #18578 to release-4.0
  executor/adapter.go
  server/conn.go
  server/conn_stmt.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @pingcap/exec-reviewers

executor: fix mislead inconsistent log after Context.Cancel (#18537) (#18554)
  executor/distsql.go
  util/misc.go
Owners: @pingcap/exec-reviewers

[dumpling] [store/tikv] add some unit tests for batch coprocessor (#18514)
  dumpling/store/mockstore/mocktikv/cop_handler_dag.go
  dumpling/store/mockstore/mocktikv/rpc.go
  dumpling/store/tikv/batch_coprocessor_test.go
Owners: none

[store/tikv] add some unit tests for batch coprocessor (#18514)
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/batch_coprocessor_test.go
Owners: none

[store/tikv] add some unit tests for batch coprocessor (#18514)
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/batch_coprocessor_test.go
Owners: none

cherry pick #18514 to release-4.0
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/batch_coprocessor_test.go
Owners: none

address comment
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/index_merge_reader.go
Owners: @pingcap/exec-reviewers

fix conflict
  executor/adapter.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @pingcap/exec-reviewers

support null eq in hash join
  executor/executor_test.go
  executor/join.go
  executor/testdata/executor_suite_out.json
  util/codec/codec_test.go
Owners: @pingcap/exec-reviewers
