Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

fix issue 25506
  expression/chunk_executor.go
Owners: @XuHuaiyu, @wjhuang2016

*: Fix the wrong usage of go.mod replace
  go.mod
  go.sum
Owners: none

*: update parser to fix ODBC-styled literal (#25570)
  go.mod
  go.sum
Owners: none

[dumpling] *: update parser to fix ODBC-styled literal (#25570)
  dumpling/go.mod
  dumpling/go.sum
Owners: none

cherry pick #25570 to release-5.0
  go.mod
  go.sum
Owners: none

cherry pick #25570 to release-5.1
  go.mod
  go.sum
Owners: none

add test
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix test
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

fix test
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

Test cleanup
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/t/partition_pruning.test
Owners: @eurekaka, @rebelice

add log to record task id when mpp task fail
  store/copr/mpp.go
Owners: @disksing, @AndreMouche, @MyonKeminta

add log to record task id when mpp task fail (#25582)
  store/copr/mpp.go
Owners: @disksing, @AndreMouche, @MyonKeminta

fix test
  executor/executor_test.go
  expression/chunk_executor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016

fix SPM doesn't work for CTE
  bindinfo/handle.go
Owners: @rebelice

add test
  bindinfo/bind_test.go
Owners: @rebelice

cherry pick #25418 to release-5.1
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/cluster.go
  infoschema/tables.go
  infoschema/tables_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @djshow832

cherry pick #25418 to release-4.0
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/cluster.go
  infoschema/tables.go
  infoschema/tables_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @djshow832

cherry pick #25418 to release-5.0
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/cluster.go
  infoschema/tables.go
  infoschema/tables_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @djshow832

Revert "add debug log"
  domain/domain.go
  sessionctx/variable/sysvar.go
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter.go
Owners: @lysu, @xhebox, @morgo, @winoros, @wshwsh12

infoschema: version of tiflash is inconsistent with other component in table information_schema.cluster_info (#24694)
  infoschema/tables.go
  infoschema/tables_test.go
Owners: @djshow832, @lysu

[dumpling] infoschema: version of tiflash is inconsistent with other component in table information_schema.cluster_info (#24694)
  dumpling/infoschema/tables.go
  dumpling/infoschema/tables_test.go
Owners: none

fix
  expression/chunk_executor.go
Owners: @XuHuaiyu, @wjhuang2016

*: temporarily skip some unstable test cases
  ddl/db_test.go
  expression/expr_to_pb_test.go
  planner/core/prepare_test.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991

cherry pick #25294 to release-5.1
  executor/index_merge_reader_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

types: warning information is inconsistent with MySQL when convert string to double/float (#24889)
  executor/show_test.go
  executor/write_test.go
  expression/integration_test.go
  types/convert.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @guo-shaoge

[dumpling] types: warning information is inconsistent with MySQL when convert string to double/float (#24889)
  dumpling/executor/show_test.go
  dumpling/executor/write_test.go
  dumpling/expression/integration_test.go
  dumpling/types/convert.go
Owners: none

Update the client-go
  go.mod
  go.sum
Owners: none

execution: fix dayofweek('0000-00-00') behavior (#21508)
  executor/insert_common.go
  expression/integration_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016

[dumpling] execution: fix dayofweek('0000-00-00') behavior (#21508)
  dumpling/executor/insert_common.go
  dumpling/expression/integration_test.go
Owners: none

executor: checking chunk is full precedes filtering (#23963)
  executor/executor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] executor: checking chunk is full precedes filtering (#23963)
  dumpling/executor/executor.go
Owners: none

ranger: fix the case which could have duplicate ranges (#24590) (#24635)
  util/ranger/ranger.go
  util/ranger/ranger_test.go
Owners: @winoros, @wshwsh12

Keep the default value of TiDBTxnScope unchanged
  sessionctx/variable/sysvar.go
Owners: @morgo

Update CheckAndGetTxnScope
  sessionctx/variable/session.go
Owners: @morgo

Address the comment
  kv/txn_scope_var.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Owners: @disksing, @AndreMouche, @morgo

planner: check filter condition in func convertToPartialTableScan (#25294) (#25593)
  executor/index_merge_reader_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] expression: uncomment pushdown for JSONUnquote expression (#24504)
  dumpling/expression/expression.go
Owners: none

expression: uncomment pushdown for JSONUnquote expression (#24504)
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

Fix the test
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

Address the comment
  kv/txn_scope_var.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Owners: @disksing, @AndreMouche, @cfzjywxk, @tiancaiamao, @morgo

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
