Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

planner: fix incorrect result of set type for merge join (#25672)
  executor/index_lookup_merge_join_test.go
  planner/core/exhaust_physical_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] planner: fix incorrect result of set type for merge join (#25672)
  dumpling/executor/index_lookup_merge_join_test.go
  dumpling/planner/core/exhaust_physical_plans.go
Owners: none

cherry pick #25672 to release-5.0
  executor/index_lookup_merge_join_test.go
  planner/core/exhaust_physical_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25672 to release-5.1
  executor/index_lookup_merge_join_test.go
  planner/core/exhaust_physical_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

executor: fix ifnull bug when arg is enum/set (#25110) (#25116)
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
Owners: @winoros, @rebelice, @hanfei1991

cherry pick #25660 to release-4.0
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Owners: @winoros, @rebelice, @hanfei1991

cherry pick #25660 to release-5.0
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Owners: @winoros, @rebelice, @hanfei1991

support unparalleled hash agg spill
  executor/aggregate.go
  util/memory/tracker.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros

cherry pick #25660 to release-5.1
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Owners: @winoros, @rebelice, @hanfei1991

[dumpling] test: make test TestTopSQLCPUProfile stable by avoid write conflict (#25681)
  dumpling/server/tidb_test.go
Owners: none

test: make test TestTopSQLCPUProfile stable by avoid write conflict (#25681)
  server/tidb_test.go
Owners: @coocood, @morgo

Revert "remove check"
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

remove check
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix index column offset beyound the range
  ddl/db_change_test.go
  infoschema/perfschema/tables.go
  infoschema/tables.go
  planner/core/logical_plan_builder.go
  table/table.go
  table/tables/tables.go
Owners: @zimulala, @tiancaiamao, @djshow832, @lysu, @winoros, @rebelice, @hanfei1991, @wjhuang2016

.
  ddl/db_change_test.go
Owners: @zimulala, @tiancaiamao

Update executor/set.go
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix conflicts
  go.mod
  go.sum
Owners: none

ddl: address a comment
  ddl/db_test.go
  ddl/index.go
Owners: @zimulala, @tiancaiamao

main: Don't log error for syncing /dev/stdout
  tidb-server/main.go
Owners: @coocood, @crazycs520

test: make test TestTopSQLCPUProfile stable by mock high cpu usage
  server/tidb_test.go
  util/topsql/topsql.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

add a test
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

fix format
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

revert copr.buildCopTasks
  store/copr/coprocessor.go
  store/copr/region_cache.go
Owners: @disksing, @AndreMouche, @MyonKeminta

add trace id to session var
  server/conn.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @coocood, @morgo

[dumpling] *: fix wrong resource tag of transaction commit statement (#25616)
  dumpling/server/tidb_test.go
  dumpling/session/session.go
Owners: none

*: fix wrong resource tag of transaction commit statement (#25616)
  server/tidb_test.go
  session/session.go
Owners: @coocood, @morgo, @cfzjywxk, @tiancaiamao

cherry pick #25616 to release-5.1
  server/tidb_test.go
  session/session.go
Owners: @coocood, @morgo, @cfzjywxk, @tiancaiamao

*: update parser to fix ODBC-styled literal (#25570) (#25577)
  go.mod
  go.sum
Owners: none

expression: make escape character can be handled in like function (#25141)
  expression/builtin_like_test.go
  expression/integration_test.go
  util/stringutil/string_util.go
  util/stringutil/string_util_test.go
Owners: @XuHuaiyu, @wjhuang2016, @winoros, @wshwsh12

[dumpling] expression: make escape character can be handled in like function (#25141)
  dumpling/expression/builtin_like_test.go
  dumpling/expression/integration_test.go
  dumpling/util/stringutil/string_util.go
  dumpling/util/stringutil/string_util_test.go
Owners: none

fix scope
  store/driver/txn/snapshot.go
Owners: @disksing, @AndreMouche, @MyonKeminta

statistics: fix two unstable tests (#25487)
  statistics/handle/handle_test.go
Owners: @winoros, @eurekaka

[dumpling] statistics: fix two unstable tests (#25487)
  dumpling/statistics/handle/handle_test.go
Owners: none

infoschema: Add new columns for information_schema.tiflash_tables (#25678)
  infoschema/tables.go
Owners: @djshow832, @lysu

[dumpling] infoschema: Add new columns for information_schema.tiflash_tables (#25678)
  dumpling/infoschema/tables.go
Owners: none

cherry pick #25678 to release-4.0
  infoschema/tables.go
Owners: @djshow832, @lysu

cherry pick #25678 to release-5.0
  infoschema/tables.go
Owners: @djshow832, @lysu

cherry pick #25678 to release-5.1
  infoschema/tables.go
Owners: @djshow832, @lysu

sessionctx: change innodb large prefix default (#24555) (#25687)
  expression/integration_test.go
  sessionctx/variable/noop.go
Owners: @XuHuaiyu, @wjhuang2016, @morgo

support soft limit
  util/memory/tracker.go
  util/memory/tracker_test.go
Owners: @winoros, @wshwsh12

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
