Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

*: change SHOW CONFIG to require CONFIG privilege
  docs/design/2021-03-09-security-enhanced-mode.md
  expression/integration_test.go
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  privilege/privileges/privileges_test.go
Owners: @zz-jason, @bb7133, @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991, @morgo

logutil: InitLogger as a more abstract method, deprecated InitZapLogger
  cmd/benchdb/main.go
  cmd/benchfilesort/main.go
  cmd/explaintest/main.go
  server/server_test.go
  tidb-server/main.go
  util/logutil/log.go
  util/logutil/log_test.go
Owners: @eurekaka, @rebelice, @coocood, @morgo, @crazycs520, @winoros, @wshwsh12

fmt
  docs/design/2021-04-18-common-table-expression.md
Owners: @zz-jason, @bb7133

make linter happy
  util/logutil/log.go
Owners: @winoros, @wshwsh12

Update util/logutil/log.go
  util/logutil/log.go
Owners: @winoros, @wshwsh12

done
  expression/builtin_compare.go
Owners: @XuHuaiyu, @wjhuang2016

done (#25382)
  expression/builtin_compare.go
Owners: @XuHuaiyu, @wjhuang2016

connID allocator part of global kill 32 tidb#8854
  domain/domain.go
  server/conn.go
  server/server.go
  tidb-server/main.go
  util/global_conn_id.go
  util/global_conn_id_test.go
  util/processinfo.go
  util/processinfo_test.go
Owners: @lysu, @xhebox, @coocood, @morgo, @crazycs520, @winoros, @wshwsh12

wip
  util/global_conn_id.go
  util/global_conn_id_test.go
Owners: @winoros, @wshwsh12

wip
  executor/simple_test.go
  server/conn.go
  util/global_conn_id.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @coocood, @morgo, @winoros

wip
  util/global_conn_id.go
  util/global_conn_id_test.go
Owners: @winoros, @wshwsh12

improve benchmark
  util/global_conn_id.go
  util/global_conn_id_test.go
Owners: @winoros, @wshwsh12

ddl: fix #25383
  ddl/column.go
  ddl/column_type_change_test.go
Owners: @zimulala, @tiancaiamao

lower # of iteration to get more stable benchmark result
  util/global_conn_id_test.go
Owners: @winoros, @wshwsh12

improve codes
  server/conn.go
  server/server.go
  util/global_conn_id.go
  util/global_conn_id_test.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

%b/%M should be case insensitive
  expression/builtin_time_test.go
  types/time.go
Owners: @XuHuaiyu, @wjhuang2016, @guo-shaoge

fix
  statistics/handle/handle.go
Owners: @winoros, @eurekaka

improve compatibility for %r %T
  expression/builtin_time_test.go
  types/format_test.go
  types/time.go
Owners: @XuHuaiyu, @wjhuang2016, @guo-shaoge

add test
  statistics/handle/handle_test.go
Owners: @winoros, @eurekaka

remove InitZapLogger
  util/logutil/log.go
Owners: @winoros, @wshwsh12

More test cases
  expression/builtin_time_test.go
  types/format_test.go
Owners: @XuHuaiyu, @wjhuang2016, @guo-shaoge

Revert "remove InitZapLogger"
  util/logutil/log.go
Owners: @winoros, @wshwsh12

[feat][2021-06-14 15:04] fix 25364
  planner/core/preprocess.go
Owners: @winoros, @rebelice, @hanfei1991

Fix typo
  types/format_test.go
Owners: @XuHuaiyu, @guo-shaoge

Add more test for AllowInvalidDate
  types/format_test.go
Owners: @XuHuaiyu, @guo-shaoge

variable: set max duration of gc interval/lifetime to 365 days
  sessionctx/variable/sysvar.go
Owners: @morgo

fix comment
  docs/design/2021-04-18-common-table-expression.md
Owners: @zz-jason, @bb7133

server: try to make test TestTopSQLAgent stable
  server/tidb_test.go
Owners: @coocood, @morgo

logutil: InitLogger as a more abstract method, deprecated InitZapLogger (#25381)
  cmd/benchdb/main.go
  cmd/benchfilesort/main.go
  cmd/explaintest/main.go
  server/server_test.go
  tidb-server/main.go
  util/logutil/log.go
  util/logutil/log_test.go
Owners: @eurekaka, @rebelice, @coocood, @morgo, @crazycs520, @winoros, @wshwsh12

[dumpling] logutil: InitLogger as a more abstract method, deprecated InitZapLogger (#25381)
  dumpling/cmd/benchdb/main.go
  dumpling/cmd/benchfilesort/main.go
  dumpling/cmd/explaintest/main.go
  dumpling/server/server_test.go
  dumpling/tidb-server/main.go
  dumpling/util/logutil/log.go
  dumpling/util/logutil/log_test.go
Owners: none

metric: fix wrong total-query-counter label
  server/conn.go
Owners: @coocood, @morgo

[dumpling] planner: disable partition table dynamic mode by default (#25339)
  dumpling/sessionctx/variable/tidb_vars.go
Owners: none

planner: disable partition table dynamic mode by default (#25339)
  sessionctx/variable/tidb_vars.go
Owners: @morgo

cherry pick #25339 to release-5.1
  sessionctx/variable/tidb_vars.go
Owners: @morgo

fix tests
  expression/builtin_cast_vec.go
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

ddl, executor: fix test race in terror
  ddl/ddl_api.go
  ddl/error.go
  executor/ddl.go
  executor/errors.go
  executor/insert_common.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

planner: disable partition table dynamic mode by default (#25339) (#25403)
  sessionctx/variable/tidb_vars.go
Owners: @morgo

executor: snapshot for (batch) point get not working correctly (#25346)
  executor/batch_point_get.go
  executor/batch_point_get_test.go
  executor/point_get.go
  executor/point_get_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] executor: snapshot for (batch) point get not working correctly (#25346)
  dumpling/executor/batch_point_get.go
  dumpling/executor/batch_point_get_test.go
  dumpling/executor/point_get.go
  dumpling/executor/point_get_test.go
Owners: none

ddl: convert value to string
  ddl/column.go
  ddl/column_type_change_test.go
Owners: @zimulala, @tiancaiamao

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
