Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

session: force tidb_multi_statement_mode=OFF when mode=WARN (#25723)
  session/bootstrap.go
Owners: @cfzjywxk, @tiancaiamao

[dumpling] session: force tidb_multi_statement_mode=OFF when mode=WARN (#25723)
  dumpling/session/bootstrap.go
Owners: none

cherry pick #25723 to release-4.0
  session/bootstrap.go
Owners: @cfzjywxk, @tiancaiamao

cherry pick #25723 to release-5.0
  session/bootstrap.go
Owners: @cfzjywxk, @tiancaiamao

cherry pick #25723 to release-5.1
  session/bootstrap.go
Owners: @cfzjywxk, @tiancaiamao

[dumpling] executor: make show create table show index comments (#25515)
  dumpling/executor/show.go
  dumpling/executor/show_test.go
Owners: none

executor: make show create table show index comments (#25515)
  executor/show.go
  executor/show_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

check test result
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: Modify temporary table behavior for history read (#25747)
  executor/builder.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] executor: Modify temporary table behavior for history read (#25747)
  dumpling/executor/builder.go
  dumpling/executor/executor_test.go
Owners: none

executor: tablesample for temporary table should always return empty
  executor/builder.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix merge
  session/bootstrap.go
Owners: @cfzjywxk, @tiancaiamao

[dumpling] executor: tablesample for temporary table should always return empty (#25752)
  dumpling/executor/builder.go
  dumpling/executor/executor_test.go
Owners: none

executor: tablesample for temporary table should always return empty (#25752)
  executor/builder.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

merge changes
  session/bootstrap.go
  sessionctx/variable/sysvar.go
Owners: @cfzjywxk, @tiancaiamao, @morgo

add metrics for validating via PD
  metrics/metrics.go
  metrics/session.go
  sessionctx/context.go
Owners: @jackysp, @lzmhhh123, @qw4990

split implementation of checks for stale read and snapshot read
  executor/set.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  sessionctx/context.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @qw4990

re-fmt
  sessionctx/context.go
Owners: @qw4990

Conflicts resolved
  executor/analyze_test.go
  executor/distsql_test.go
  executor/memory_test.go
  planner/core/prepare_test.go
  statistics/handle/handle_test.go
  structure/type.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @eurekaka, @zimulala

resolve conflict
  executor/index_lookup_merge_join_test.go
  planner/core/exhaust_physical_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

unset trace id when finish span
  sessionctx/variable/session.go
Owners: @morgo

Add missing `ld` for arm64 Go builds
  Dockerfile
Owners: none

planner: fix index-out-of-range error when checking only_full_group_by (#23844) (#24016)
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Owners: @winoros, @rebelice, @hanfei1991

combine if branches
  executor/set.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix
  executor/stale_txn_test.go
  planner/core/common_plans.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

fix conflicts
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

expression: uncomment pushdown for JSONUnquote expression (#24504) (#25720)
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

cherry pick #24708 to release-5.0
  executor/aggregate_test.go
  planner/core/logical_plan_builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

allow stale read 100ms future from now
  sessionctx/context.go
Owners: @qw4990

ddl: DROP GLOBAL TEMPORARY TABLE should fail on normal tables (#25639)
  errno/errcode.go
  errno/errname.go
  errors.toml
  planner/core/errors.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
Owners: @morgo, @tangenta, @winoros, @rebelice, @hanfei1991

ddl: fix CREATE GLOBAL TEMPORARY TABLE ... LIKE creates a normal table (#25644)
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @zimulala, @tiancaiamao

executor: Modify temporary table behavior for history read (#25747)
  executor/builder.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: tablesample for temporary table should always return empty (#25752)
  executor/builder.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: introduce snapshot into analyze
  executor/analyze.go
  executor/analyze_test.go
  executor/builder.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  session/bootstrap.go
  statistics/analyze.go
  statistics/handle/handle.go
  statistics/integration_test.go
  util/sqlexec/restricted_sql_executor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao, @eurekaka

use global scope for snapshot read ts check
  sessionctx/context.go
Owners: @qw4990

*: introduce snapshot into analyze (#24575)
  executor/analyze.go
  executor/analyze_test.go
  executor/builder.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  session/bootstrap.go
  statistics/analyze.go
  statistics/handle/handle.go
  statistics/integration_test.go
  util/sqlexec/restricted_sql_executor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao, @eurekaka

[dumpling] *: introduce snapshot into analyze (#24575)
  dumpling/executor/analyze.go
  dumpling/executor/analyze_test.go
  dumpling/executor/builder.go
  dumpling/planner/core/common_plans.go
  dumpling/planner/core/planbuilder.go
  dumpling/session/bootstrap.go
  dumpling/statistics/analyze.go
  dumpling/statistics/handle/handle.go
  dumpling/statistics/integration_test.go
  dumpling/util/sqlexec/restricted_sql_executor.go
Owners: none

*: Fix the wrong usage of go.mod replace (#25576)
  go.mod
  go.sum
Owners: none

[dumpling] *: Fix the wrong usage of go.mod replace (#25576)
  dumpling/go.mod
  dumpling/go.sum
Owners: none

use global txn scope for all checks
  sessionctx/context.go
Owners: @qw4990
