Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

fix typo
  store/tikv/gcworker/gc_worker.go
Owners: none

try to fix ddl_test
  cmd/ddltest/ddl_test.go
Owners: none

add comment for store state
  store/tikv/gcworker/gc_worker.go
Owners: none

test: try to avoid race test
  planner/cascades/integration_test.go
Owners: @pingcap/planner-reviewers

debug
  store/tikv/2pc.go
  store/tikv/2pc_slow_test.go
  store/tikv/2pc_test.go
  store/tikv/cleanup.go
  store/tikv/commit.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/txn.go
Owners: none

update a heuristic rule
  statistics/histogram.go
  statistics/selectivity_test.go
  statistics/table.go
Owners: @pingcap/planner-reviewers

ddl, sessionctx: make auto_random aware of auto_increment_increment (#17575) (#18539)
  ddl/serial_test.go
  executor/insert_common.go
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

fix not leader retry
  store/tikv/region_request.go
Owners: none

support specify ouput filename format (#122)
  cmd/dumpling/main.go
  v4/export/config.go
  v4/export/prepare.go
  v4/export/writer.go
  v4/export/writer_test.go
Owners: none

[dumpling] support specify ouput filename format (#122)
  dumpling/cmd/dumpling/main.go
  dumpling/v4/export/config.go
  dumpling/v4/export/prepare.go
  dumpling/v4/export/writer.go
  dumpling/v4/export/writer_test.go
Owners: none

ddl: Add some limit for `auto_random` (#17119) (#18538)
  ddl/ddl_api.go
  ddl/serial_test.go
  executor/ddl_test.go
  executor/insert_test.go
  executor/seqtest/seq_executor_test.go
  executor/write.go
  infoschema/tables_test.go
  meta/autoid/autoid.go
  meta/autoid/errors.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

[dumpling] *: support 'admin check table' on clustered index table (#18346)
  dumpling/cmd/ddltest/ddl_test.go
  dumpling/ddl/db_integration_test.go
  dumpling/ddl/db_test.go
  dumpling/ddl/failtest/fail_db_test.go
  dumpling/ddl/index.go
  dumpling/executor/admin_test.go
  dumpling/executor/builder.go
  dumpling/executor/distsql.go
  dumpling/executor/executor.go
  dumpling/executor/executor_test.go
  dumpling/planner/core/explain.go
  dumpling/planner/core/physical_plans.go
  dumpling/planner/core/planbuilder.go
  dumpling/planner/core/planbuilder_test.go
  dumpling/planner/core/task.go
  dumpling/store/mockstore/unistore/cophandler/closure_exec.go
  dumpling/table/tables/index.go
  dumpling/table/tables/tables.go
  dumpling/util/admin/admin.go
  dumpling/util/admin/admin_integration_test.go
  dumpling/util/rowDecoder/decoder.go
Owners: none

*: support 'admin check table' on clustered index table (#18346)
  cmd/ddltest/ddl_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/failtest/fail_db_test.go
  ddl/index.go
  executor/admin_test.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  planner/core/explain.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
  planner/core/task.go
  store/mockstore/unistore/cophandler/closure_exec.go
  table/tables/index.go
  table/tables/tables.go
  util/admin/admin.go
  util/admin/admin_integration_test.go
  util/rowDecoder/decoder.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers, @pingcap/planner-reviewers

*: support 'admin check table' on clustered index table (#18346)
  cmd/ddltest/ddl_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/failtest/fail_db_test.go
  ddl/index.go
  executor/admin_test.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  planner/core/explain.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
  planner/core/task.go
  store/mockstore/unistore/cophandler/closure_exec.go
  table/tables/index.go
  table/tables/tables.go
  util/admin/admin.go
  util/admin/admin_integration_test.go
  util/rowDecoder/decoder.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers, @pingcap/planner-reviewers

fix CI
  planner/core/cbo_test.go
  planner/core/testdata/analyze_suite_out.json
Owners: @pingcap/planner-reviewers

move the constant under printer to versioninfo
  domain/infosync/info.go
  server/http_handler_test.go
  server/http_status.go
  server/server_test.go
  sessionctx/variable/sysvar.go
  util/printer/printer.go
  util/versioninfo/versioninfo.go
Owners: @pingcap/co-ddl

add test
  config/config.go
  config/config_test.go
Owners: none

update Makefile
  Makefile
Owners: none

update Makefile
  Makefile
Owners: none

config: Non-community edition disable telemetry by default
  config/config.go
Owners: none

ddl, meta: allow increasing auto_random bits (#17423)
  ddl/column.go
  ddl/column_change_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
  meta/autoid/errors.go
  meta/meta.go
Owners: @pingcap/co-ddl

test: try to avoid race test
  planner/cascades/integration_test.go
Owners: @pingcap/planner-reviewers

fix CI
  cmd/explaintest/r/explain_union_scan.result
Owners: none

fix unique key null bug (#119)
  tests/null_unique_index/run.sh
  v4/export/ir_impl.go
Owners: none

[dumpling] fix unique key null bug (#119)
  dumpling/tests/null_unique_index/run.sh
  dumpling/v4/export/ir_impl.go
Owners: none

fix CI
  statistics/handle/update_test.go
Owners: @pingcap/planner-reviewers

fix lint
  util/versioninfo/versioninfo.go
Owners: none

fix TestAdminShowNextID
  executor/seqtest/seq_executor_test.go
Owners: @pingcap/exec-reviewers

config: set the default value of OOMAction to OOMActionCancel (#18502)
  config/config.go
  config/config.toml.example
Owners: none

fix
  planner/core/physical_plans.go
Owners: @pingcap/planner-reviewers

resolve auto consistency (#123)
  v4/export/dump.go
  v4/export/prepare.go
Owners: none

[dumpling] resolve auto consistency (#123)
  dumpling/v4/export/dump.go
  dumpling/v4/export/prepare.go
Owners: none

add test
  expression/builtin_string_test.go
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

ddl: fix max allocation count when create auto_random tables (#18417)
  ddl/serial_test.go
  meta/autoid/autoid.go
Owners: @pingcap/co-ddl

fix test
  config/config_test.go
Owners: none

config: enable collect execution information by default (#18415) (#18518)
  config/config.go
  distsql/select_result.go
  infoschema/tables_test.go
  planner/cascades/integration_test.go
  sessionctx/variable/tidb_vars.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl, @pingcap/planner-reviewers

gc_worker: resolve locks on offline stores (#18383)
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Owners: none

gc_worker: resolve locks on offline stores (#18383)
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Owners: none

[dumpling] gc_worker: resolve locks on offline stores (#18383)
  dumpling/store/tikv/gcworker/gc_worker.go
  dumpling/store/tikv/gcworker/gc_worker_test.go
Owners: none

cherry pick #18383 to release-4.0
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Owners: none

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl
