Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

fix test
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

mutex issues :(
  util/stmtsummary/statement_summary.go
Owners: @winoros, @wshwsh12

config: add example config line for sem
  config/config.toml.example
Owners: @tiancaiamao, @qw4990

fix
  server/conn_test.go
Owners: @coocood, @morgo

fix panic
  statistics/selectivity.go
Owners: @winoros, @eurekaka

add comment
  planner/core/stats.go
Owners: @winoros, @rebelice, @hanfei1991

[parser] auth: Fix salt generation of caching_sha2_password (#1242)
  parser/auth/caching_sha2.go
  parser/auth/caching_sha2_test.go
Owners: none

*: fix sem bugs
  executor/executor_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

fix case
  cmd/explaintest/r/explain_generate_column_substitute.result
  cmd/explaintest/r/select.result
  executor/executor_test.go
Owners: @eurekaka, @rebelice, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix case
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

ddl, planner: fix bug when agg func is used in view definiton.
  executor/executor_test.go
  planner/core/logical_plan_builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

use err to instead err==nil
  executor/adapter.go
  metrics/server.go
  server/conn.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @coocood, @morgo, @cfzjywxk, @tiancaiamao

add error label for TiFlashQueryTotalCounter
  executor/adapter.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

remove useless import
  executor/adapter.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix typo
  executor/adapter.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add top sql max collect limit and default value is 10000
  domain/sysvar_cache.go
  executor/set_test.go
  server/tidb_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  util/topsql/reporter/reporter.go
  util/topsql/reporter/reporter_test.go
Owners: @lysu, @xhebox, @XuHuaiyu, @wshwsh12, @ichn-hu, @coocood, @morgo, @winoros

fix bug: reset the sql/plan map size
  util/topsql/reporter/reporter.go
  util/topsql/reporter/reporter_test.go
Owners: @winoros, @wshwsh12

done
  cmd/explaintest/r/cte.result
  cmd/explaintest/t/cte.test
  go.mod
  go.sum
Owners: @eurekaka, @rebelice

done
  go.mod
  go.sum
Owners: none

address comment
  meta/meta.go
  structure/hash.go
  structure/structure_test.go
Owners: @tangenta, @AilinKid, @zimulala

try to make test stable
  server/tidb_test.go
Owners: @coocood, @morgo

types: add tests
  types/mydecimal.go
  types/mydecimal_test.go
Owners: @XuHuaiyu, @guo-shaoge

address comment
  planner/core/logical_plans.go
Owners: @winoros, @rebelice, @hanfei1991

fix bug of sql/plan length
  util/topsql/reporter/reporter.go
Owners: @winoros, @wshwsh12

fix lint
  store/tikv/region_cache_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

use empty type
  executor/adapter.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add test cases for TopSQL agent
  server/tidb_test.go
Owners: @coocood, @morgo

try to make test stable
  server/tidb_test.go
  util/topsql/reporter/mock/server.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

fix firstSeen
  util/stmtsummary/evicted.go
Owners: @winoros, @wshwsh12

*: fix binding doesn't work for CTE (#25318)
  cmd/explaintest/r/cte.result
  cmd/explaintest/t/cte.test
  go.mod
  go.sum
Owners: @eurekaka, @rebelice

fmt
  util/stmtsummary/evicted.go
Owners: @winoros, @wshwsh12

var
  executor/adapter.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix comment
  executor/adapter.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix the data and indexes inconsistency during ctc
  ddl/db_change_test.go
  table/tables/tables.go
Owners: @zimulala, @tiancaiamao, @wjhuang2016

executor: avoid panic in the test
  executor/analyze_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

try to make test stable
  server/tidb_test.go
  util/topsql/reporter/mock/server.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

address comment.
  planner/core/exhaust_physical_plans.go
  sessionctx/variable/tidb_vars.go
Owners: @winoros, @rebelice, @hanfei1991, @morgo

[dumpling] executor: avoid panic in the test (#25114)
  dumpling/executor/analyze_test.go
Owners: none

executor: avoid panic in the test (#25114)
  executor/analyze_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: Fix losing the auth string on changing SSL/TLS requirements
  executor/grant_test.go
  executor/simple.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo
