Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

go.mod: updade parser to support IndexInfo.Global
  go.mod
  go.sum
Owners: none

go.mod: updade parser to support IndexInfo.Global
  go.mod
  go.sum
Owners: none

fix: add warning for AlterTableRepairPartition
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/error.go
Owners: @pingcap/co-ddl

executor, planner: support split table regions on clustered index
  ddl/index.go
  executor/builder.go
  executor/executor_test.go
  executor/split.go
  executor/split_test.go
  planner/core/handle_cols.go
  planner/core/planbuilder.go
  store/tikv/split_region.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers, @pingcap/planner-reviewers

planner: reset plan ID count when using nth_plan hint (#18409)
  planner/core/find_best_task.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Owners: @pingcap/planner-reviewers

planner: reset plan ID count when using nth_plan hint (#18409)
  planner/core/find_best_task.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Owners: @pingcap/planner-reviewers

[dumpling] planner: reset plan ID count when using nth_plan hint (#18409)
  dumpling/planner/core/find_best_task.go
  dumpling/planner/core/physical_plan_test.go
  dumpling/planner/core/testdata/plan_suite_in.json
  dumpling/planner/core/testdata/plan_suite_out.json
Owners: none

enable clustered index in bootstrap
  session/bootstrap.go
Owners: none

[dumpling] fix concurrency problem (#117)
  dumpling/v4/export/dump.go
  dumpling/v4/export/metadata.go
  dumpling/v4/export/metadata_test.go
Owners: none

fix concurrency problem (#117)
  v4/export/dump.go
  v4/export/metadata.go
  v4/export/metadata_test.go
Owners: none

resolve conflicts
  infoschema/builder.go
Owners: @pingcap/co-ddl

ddl: fix mix DDLs blocks 2*lease on unistore
  ddl/mock.go
Owners: @pingcap/co-ddl

test: make TestDispatchClientProtocol41 stable (#18414) (#18418)
  server/conn_test.go
Owners: none

address comment
  util/plancodec/codec.go
Owners: @pingcap/planner-reviewers

fix
  ddl/db_integration_test.go
  ddl/ddl_api.go
  ddl/ddl_test.go
  ddl/index.go
  ddl/rollingback.go
Owners: @pingcap/co-ddl

ddl: fix admin repair table will reload fail on the other node (#18285) (#18323)
  infoschema/builder.go
Owners: @pingcap/co-ddl

add comment for exported function NewIntHandleCols
  executor/builder.go
  executor/split_test.go
  planner/core/handle_cols.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

planner: clustered index support `primary` index hint
  executor/clustered_index_test.go
  planner/core/planbuilder.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

[dumpling] planner: clustered index support `primary` index hint (#18478)
  dumpling/executor/clustered_index_test.go
  dumpling/planner/core/planbuilder.go
Owners: none

planner: clustered index support `primary` index hint (#18478)
  executor/clustered_index_test.go
  planner/core/planbuilder.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

planner: clustered index support `primary` index hint (#18478)
  executor/clustered_index_test.go
  planner/core/planbuilder.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

fix
  go.mod
  go.sum
  planner/core/logical_plan_builder.go
Owners: @pingcap/planner-reviewers

fix test
  planner/cascades/testdata/stringer_suite_out.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/testdata/integration_suite_out.json
Owners: @pingcap/planner-reviewers

fixup
  executor/aggregate_test.go
Owners: @pingcap/exec-reviewers

fixup
  executor/aggregate_test.go
Owners: @pingcap/exec-reviewers

fixup
  executor/aggregate_test.go
Owners: @pingcap/exec-reviewers

fixup
  executor/aggregate_test.go
Owners: @pingcap/exec-reviewers

fixup
  executor/aggregate_test.go
Owners: @pingcap/exec-reviewers

add tests
  executor/executor_test.go
  executor/testdata/executor_suite_in.json
  executor/testdata/executor_suite_out.json
Owners: @pingcap/exec-reviewers

fix: add warning for AlterTableRepairPartition (#18454)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/error.go
Owners: @pingcap/co-ddl

[dumpling] fix: add warning for AlterTableRepairPartition (#18454)
  dumpling/ddl/db_partition_test.go
  dumpling/ddl/ddl_api.go
  dumpling/ddl/error.go
Owners: none

fix: add warning for AlterTableRepairPartition (#18454)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/error.go
Owners: @pingcap/co-ddl

handle notify-worker panic
  executor/parallel_apply.go
Owners: @pingcap/exec-reviewers

address comments
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/topn_push_down.result
  executor/parallel_apply_test.go
  planner/core/explain.go
  planner/core/testdata/integration_suite_out.json
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

[parser] types: fix restore cast as binary (#922)
  parser/parser_test.go
  parser/types/field_type.go
Owners: none

executor: only reserve the sign bit when auto_random column is signed (#15566) (#18404)
  ddl/ddl_api.go
  ddl/serial_test.go
  ddl/table.go
  executor/ddl_test.go
  executor/insert_common.go
  meta/autoid/autoid.go
  table/tables/tables.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

[dumpling] ddl: change drop partition and truncate partition's job args to support multi partition id array (#18419)
  dumpling/ddl/ddl_api.go
  dumpling/ddl/ddl_worker_test.go
  dumpling/ddl/delete_range.go
  dumpling/ddl/partition.go
  dumpling/ddl/partition_test.go
Owners: none

ddl: change drop partition and truncate partition's job args to support multi partition id array (#18419)
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  ddl/partition.go
  ddl/partition_test.go
Owners: @pingcap/co-ddl

ddl: change drop partition and truncate partition's job args to support multi partition id array (#18419)
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  ddl/partition.go
  ddl/partition_test.go
Owners: @pingcap/co-ddl

*: support "rename database"
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/schema.go
  executor/ddl.go
  go.mod
  go.sum
  infoschema/builder.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers, @pingcap/planner-reviewers
