Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

ddl: stabilize test TestSyncerSimple (#18229)
  ddl/util/syncer_test.go
Owners: @pingcap/co-ddl

ddl: stabilize test TestSyncerSimple (#18229)
  ddl/util/syncer_test.go
Owners: @pingcap/co-ddl

[dumpling] ddl: stabilize test TestSyncerSimple (#18229)
  dumpling/ddl/util/syncer_test.go
Owners: none

fix the explain output
  planner/core/common_plans.go
  planner/core/explain.go
Owners: @pingcap/planner-reviewers

util/memory: warn potential deadlock for Consume in remove (#16987) (#18393)
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

executor: log stack info when panic converting to ... (#15627) (#18278)
  executor/aggregate.go
  server/conn.go
  util/testutil/testutil.go
Owners: @pingcap/exec-reviewers

address comments
  ddl/db_partition_test.go
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

fix
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
Owners: @pingcap/planner-reviewers

stats:fix doc
  statistics/table.go
  util/chunk/chunk.go
Owners: @pingcap/planner-reviewers, @pingcap/exec-reviewers

fix
  go.mod
  go.sum
Owners: none

planner: add error message for group_concat (#15345)
  go.mod
  go.sum
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
Owners: @pingcap/planner-reviewers

test: make TestFromUnixTime stable in different timezone (#16692) (#16729)
  expression/builtin_time_test.go
Owners: @pingcap/exec-reviewers

planner: add warning when table doesn't exist in read_from_storage hint (#15256) (#15828)
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @pingcap/planner-reviewers

util/memory: warn potential deadlock for Consume in remove (#16987) (#18394)
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

Fix the problem that a statement panic in a transaction but the transaction did not rollback again.
  session/session.go
  session/txn.go
Owners: none

Associate each region with an independent backoffer (#17568) (#17584)
  store/tikv/coprocessor.go
Owners: none

Fix the problem that a statement panic in a transaction but the transaction did not rollback again.
  session/session.go
Owners: none

change comments
  util/collate/unicode_ci.go
Owners: none

tidy
  go.sum
Owners: none

tidy
  go.sum
Owners: none

planner: add error message for group_concat (#15345) (#18686)
  go.mod
  go.sum
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
Owners: @pingcap/planner-reviewers

planner: add error message for group_concat (#15345) (#16166)
  go.mod
  go.sum
  planner/core/logical_plan_builder.go
Owners: @pingcap/planner-reviewers

stats-log
  domain/domain.go
  statistics/handle/update.go
Owners: @pingcap/co-ddl, @pingcap/planner-reviewers

fix
  statistics/cmsketch.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/histogram.go
  statistics/table.go
Owners: @pingcap/planner-reviewers

fix
  statistics/histogram.go
Owners: @pingcap/planner-reviewers

try to make TestSplitRegion stable
  executor/executor_test.go
Owners: @pingcap/exec-reviewers

executor: make test TestForServersInfo stable (#18633)
  executor/infoschema_reader_test.go
Owners: @pingcap/exec-reviewers

[dumpling] executor: make test TestForServersInfo stable (#18633)
  dumpling/executor/infoschema_reader_test.go
Owners: none

executor: make test TestForServersInfo stable (#18633)
  executor/infoschema_reader_test.go
Owners: @pingcap/exec-reviewers

add test
  util/collate/collate_test.go
Owners: none

address comments
  executor/parallel_apply.go
  executor/parallel_apply_test.go
Owners: @pingcap/exec-reviewers

address comments
  executor/parallel_apply.go
Owners: @pingcap/exec-reviewers

config, test: add nullableBool MarshalText test
  config/config_test.go
Owners: none

fix
  statistics/handle/handle_test.go
Owners: @pingcap/planner-reviewers

fix
  statistics/handle/handle.go
Owners: @pingcap/planner-reviewers

[dumpling] executor: 'select * from information_schema.tables' fail after setting @@tidb_snapshot (#18676)
  dumpling/executor/infoschema_reader.go
Owners: none

executor: 'select * from information_schema.tables' fail after setting @@tidb_snapshot (#18676)
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

executor: 'select * from information_schema.tables' fail after setting @@tidb_snapshot (#18676)
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

cherry pick #18676 to release-3.0
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

cherry pick #18676 to release-3.1
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers
