Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

cherry pick #25346 to release-5.1
  executor/batch_point_get.go
  executor/batch_point_get_test.go
  executor/point_get.go
  executor/point_get_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: fix permissions of brie RESTORE to be RESTORE_ADMIN (#25039) (#25227)
  executor/brie.go
  executor/executor_test.go
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

*: fix sem dynamic privilege permission issues (#25316)
  executor/executor_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

[dumpling] *: fix sem dynamic privilege permission issues (#25316)
  dumpling/executor/executor_test.go
  dumpling/planner/core/planbuilder.go
  dumpling/privilege/privileges/privileges.go
  dumpling/privilege/privileges/privileges_test.go
Owners: none

cherry pick #25316 to release-5.1
  executor/executor_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

infoschema: maintain the snapshotTS in the infocache (#25322) (#25376)
  ddl/ddl_test.go
  ddl/util/syncer_test.go
  domain/domain.go
  infoschema/cache.go
  infoschema/cache_test.go
  metrics/domain.go
  owner/manager_test.go
Owners: @zimulala, @tiancaiamao, @lysu, @xhebox, @djshow832, @jackysp, @lzmhhh123, @wjhuang2016

variable: set max duration of gc interval/lifetime to 365 days (#25396)
  sessionctx/variable/sysvar.go
Owners: @morgo

[dumpling] variable: set max duration of gc interval/lifetime to 365 days (#25396)
  dumpling/sessionctx/variable/sysvar.go
Owners: none

[dumpling] ddl: fix drop table show errors (#25071)
  dumpling/server/conn_test.go
  dumpling/server/driver_tidb.go
Owners: none

ddl: fix drop table show errors (#25071)
  server/conn_test.go
  server/driver_tidb.go
Owners: @coocood, @morgo

[parser] auth: caching_sha2_password salt fix (#1249)
  parser/auth/caching_sha2.go
  parser/auth/caching_sha2_test.go
Owners: none

ddl, executor: fix test race in terror (#25405)
  ddl/ddl_api.go
  ddl/error.go
  executor/ddl.go
  executor/errors.go
  executor/insert_common.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] ddl, executor: fix test race in terror (#25405)
  dumpling/ddl/ddl_api.go
  dumpling/ddl/error.go
  dumpling/executor/ddl.go
  dumpling/executor/errors.go
  dumpling/executor/insert_common.go
Owners: none

cherry pick #25405 to release-5.1
  ddl/ddl_api.go
  ddl/error.go
  executor/ddl.go
  executor/errors.go
  executor/insert_common.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add comments
  statistics/handle/handle.go
Owners: @winoros, @eurekaka

address comment
  planner/core/preprocess.go
Owners: @winoros, @rebelice, @hanfei1991

*: stale reads compatible with prepare (#25156) (#25371)
  executor/adapter.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  executor/prepared.go
  executor/seqtest/prepared_test.go
  executor/stale_txn_test.go
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/preprocess.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

ddl: fixed update data report an error when converting from CHAR to DATETIME after adding columns (#25384)
  ddl/column.go
  ddl/column_type_change_test.go
Owners: @zimulala, @tiancaiamao

[dumpling] ddl: fixed update data report an error when converting from CHAR to DATETIME after adding columns (#25384)
  dumpling/ddl/column.go
  dumpling/ddl/column_type_change_test.go
Owners: none

cherry pick #25384 to release-5.1
  ddl/column.go
  ddl/column_type_change_test.go
Owners: @zimulala, @tiancaiamao

executor: fix panic for point get executor during stale read (#25292)
  executor/stale_txn_test.go
  session/txn.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao

[dumpling] executor: fix panic for point get executor during stale read (#25292)
  dumpling/executor/stale_txn_test.go
  dumpling/session/txn.go
Owners: none

cherry pick #25292 to release-5.1
  executor/stale_txn_test.go
  session/txn.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao

*: infoschema compatibility with pessimistic txn
  planner/core/common_plans.go
  session/pessimistic_test.go
Owners: @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

[dumpling] bindinfo,planner: report error when creating sql binding on temporary table (#25058)
  dumpling/bindinfo/bind_test.go
  dumpling/planner/core/preprocess.go
Owners: none

bindinfo,planner: report error when creating sql binding on temporary table (#25058)
  bindinfo/bind_test.go
  planner/core/preprocess.go
Owners: @rebelice, @winoros, @hanfei1991

executor: add & fix tests
  errors.toml
  executor/errors.go
  executor/grant.go
  executor/grant_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: add a tip
  executor/utils.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: use the merged PR parser#1198
  executor/grant.go
  executor/revoke.go
  executor/revoke_test.go
  executor/utils.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: correct test logic
  executor/revoke_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: check privilege before adding
  executor/errors.go
  executor/grant.go
  executor/utils.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add spill mode
  executor/spilledAggregate.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

txn: fix panic on duplicate insert on index column len longer than data len
  executor/ddl_test.go
  executor/insert_test.go
  store/driver/txn/error.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche, @MyonKeminta

add option for spilled aggregate
  executor/builder.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

planner: forbid prepared stale select in txn (#25375)
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/stale_txn_test.go
  planner/core/common_plans.go
  planner/core/errors.go
  planner/core/preprocess.go
Owners: @morgo, @tangenta, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

executor: fix panic for point get executor during stale read (#25292) (#25411)
  executor/stale_txn_test.go
  session/txn.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao

[dumpling] planner: forbid prepared stale select in txn (#25375)
  dumpling/errno/errcode.go
  dumpling/errno/errname.go
  dumpling/errors.toml
  dumpling/executor/stale_txn_test.go
  dumpling/planner/core/common_plans.go
  dumpling/planner/core/errors.go
  dumpling/planner/core/preprocess.go
Owners: none

cherry pick #25375 to release-5.1
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/stale_txn_test.go
  planner/core/common_plans.go
  planner/core/errors.go
  planner/core/preprocess.go
Owners: @morgo, @tangenta, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

store/tikv: sort keys in batch get
  store/tikv/snapshot.go
  store/tikv/test_probe.go
Owners: @disksing, @AndreMouche, @MyonKeminta

ddl/partition: remove the usage of package 'pd/pkg/slice' (#25356)
  ddl/partition.go
  util/slice/slice.go
  util/slice/slice_test.go
Owners: @zimulala, @tiancaiamao, @winoros, @wshwsh12

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
