Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

store/tikv: clean up stale tests
  store/tikv/tests/1pc_test.go
  store/tikv/tests/2pc_fail_test.go
  store/tikv/tests/2pc_slow_test.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/async_commit_fail_test.go
  store/tikv/tests/async_commit_test.go
  store/tikv/tests/client_fp_test.go
  store/tikv/tests/delete_range_test.go
  store/tikv/tests/isolation_test.go
  store/tikv/tests/lock_test.go
  store/tikv/tests/prewrite_test.go
  store/tikv/tests/range_task_test.go
  store/tikv/tests/rawkv_test.go
  store/tikv/tests/safepoint_test.go
  store/tikv/tests/scan_mock_test.go
  store/tikv/tests/scan_test.go
  store/tikv/tests/snapshot_fail_test.go
  store/tikv/tests/snapshot_test.go
  store/tikv/tests/split_test.go
  store/tikv/tests/store_fail_test.go
  store/tikv/tests/store_test.go
  store/tikv/tests/ticlient_slow_test.go
  store/tikv/tests/ticlient_test.go
  store/tikv/tests/util_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

fix config copy
  util/logutil/log.go
  util/logutil/slow_query_logger.go
Owners: @winoros, @wshwsh12

statistics: fix two unstable tests
  statistics/handle/handle_test.go
Owners: @winoros, @eurekaka

cherry-pick
  expression/expr_to_pb_test.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

fix
  session/session.go
Owners: @cfzjywxk, @tiancaiamao

fix check_dev
  ddl/column.go
  ddl/index.go
Owners: @zimulala, @tiancaiamao

fix
  executor/stale_txn_test.go
  planner/core/planbuilder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

refine unit tests
  table/tables/partition_test.go
Owners: @wjhuang2016

fmt
  statistics/handle/handle_test.go
Owners: @winoros, @eurekaka

executor: stable tests
  executor/batch_point_get_test.go
  executor/point_get_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

avoid DATA RACE, fix CI
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

store: avoid sessions of GC being affected by global variables (#24975) (#25449)
  store/gcworker/gc_worker.go
Owners: @disksing, @AndreMouche, @MyonKeminta

address the comment
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] executor: check ErrRowDoesNotMatchGivenPartitionSet when inserting rows into a partition table (#25484)
  dumpling/executor/batch_checker.go
  dumpling/executor/partition_table_test.go
Owners: none

executor: check ErrRowDoesNotMatchGivenPartitionSet when inserting rows into a partition table (#25484)
  executor/batch_checker.go
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25484 to release-5.1
  executor/batch_checker.go
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add unit test
  util/logutil/log.go
  util/logutil/log_test.go
  util/logutil/slow_query_logger.go
Owners: @winoros, @wshwsh12

cherry pick #25289 to release-5.1
  planner/core/rule_column_pruning.go
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

executor: refine tests
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: fix check dev
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: check the length of lookUpContent in prunePartitionForInnerExecutor (#25426) (#25439)
  executor/builder.go
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

planner: fix index join on unmatched collation suffix columns paniced (#24828) (#25436)
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
Owners: @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991

metric: fix wrong total-query-counter label (#25402) (#25446)
  server/conn.go
Owners: @coocood, @morgo

fix integration test
  planner/core/rule_partition_processor.go
Owners: @winoros, @rebelice, @hanfei1991

[dumpling] planner,executor: fix 'select ...(join on partition table) for update' panic (#21148)
  dumpling/executor/builder.go
  dumpling/executor/distsql.go
  dumpling/executor/executor.go
  dumpling/executor/executor_test.go
  dumpling/executor/partition_table_test.go
  dumpling/executor/table_reader.go
  dumpling/planner/core/exhaust_physical_plans.go
  dumpling/planner/core/logical_plan_builder.go
  dumpling/planner/core/logical_plans.go
  dumpling/planner/core/physical_plans.go
  dumpling/planner/core/planbuilder.go
  dumpling/planner/core/rule_column_pruning.go
  dumpling/planner/core/rule_partition_processor.go
Owners: none

planner,executor: fix 'select ...(join on partition table) for update' panic (#21148)
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  executor/partition_table_test.go
  executor/table_reader.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/rule_column_pruning.go
  planner/core/rule_partition_processor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #21148 to release-4.0
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  executor/partition_table_test.go
  executor/table_reader.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/rule_column_pruning.go
  planner/core/rule_partition_processor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #21148 to release-5.1
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  executor/partition_table_test.go
  executor/table_reader.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/rule_column_pruning.go
  planner/core/rule_partition_processor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

executor: mutex snapshot with txn (#25468)
  executor/set.go
  executor/simple.go
  executor/stale_txn_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

[dumpling] executor: mutex snapshot with txn (#25468)
  dumpling/executor/set.go
  dumpling/executor/simple.go
  dumpling/executor/stale_txn_test.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/varsutil.go
Owners: none

[dumpling] executor: stable tests (#25495)
  dumpling/executor/batch_point_get_test.go
  dumpling/executor/point_get_test.go
Owners: none

executor: stable tests (#25495)
  executor/batch_point_get_test.go
  executor/point_get_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

make restricted_user_admin imply system_user
  executor/simple.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

planner: make sure limit outputs no more columns than its child (#25345)
  planner/core/integration_test.go
  planner/core/rule_column_pruning.go
Owners: @winoros, @rebelice, @hanfei1991

[dumpling] planner: make sure limit outputs no more columns than its child (#25345)
  dumpling/planner/core/integration_test.go
  dumpling/planner/core/rule_column_pruning.go
Owners: none

docs: update dynamic privileges proposal for SEM changes
  docs/design/2021-03-09-dynamic-privileges.md
Owners: @zz-jason, @bb7133

[dumpling] statistics, executor: fix new collation for analyze version 2 (#25311)
  dumpling/executor/analyze.go
  dumpling/executor/analyze_test.go
  dumpling/session/session_test.go
  dumpling/statistics/row_sampler.go
  dumpling/statistics/selectivity_test.go
  dumpling/statistics/testdata/stats_suite_in.json
  dumpling/statistics/testdata/stats_suite_out.json
Owners: none

statistics, executor: fix new collation for analyze version 2 (#25311)
  executor/analyze.go
  executor/analyze_test.go
  session/session_test.go
  statistics/row_sampler.go
  statistics/selectivity_test.go
  statistics/testdata/stats_suite_in.json
  statistics/testdata/stats_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @winoros, @eurekaka

cherry pick #25311 to release-5.1
  executor/analyze.go
  executor/analyze_test.go
  session/session_test.go
  statistics/row_sampler.go
  statistics/selectivity_test.go
  statistics/testdata/stats_suite_in.json
  statistics/testdata/stats_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @winoros, @eurekaka

fix audit panic (#25366)
  server/server.go
Owners: @coocood, @morgo
