Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

*: fix some missing set kv variables (#18620)
  session/session.go
  session/session_test.go
  store/tikv/2pc.go
  store/tikv/txn.go
Owners: none

[dumpling] *: fix some missing set kv variables (#18620)
  dumpling/session/session.go
  dumpling/session/session_test.go
  dumpling/store/tikv/2pc.go
  dumpling/store/tikv/txn.go
Owners: none

*: fix some missing set kv variables (#18620)
  session/session.go
  session/session_test.go
  store/tikv/2pc.go
  store/tikv/txn.go
Owners: none

cherry pick #18620 to release-4.0
  session/session.go
  session/session_test.go
  store/tikv/txn.go
Owners: none

address comments
  executor/aggregate_test.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

add comment
  executor/point_get.go
  store/tikv/region_request.go
  store/tikv/snapshot.go
Owners: @pingcap/exec-reviewers

add comments
  expression/builtin.go
  expression/collation.go
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

address comments
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @pingcap/co-ddl

fix test
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

make comments of replaceNode more clear
  kv/new_memdb.go
Owners: none

refine check
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

expression: correct test files
  expression/builtin_math_test.go
Owners: @pingcap/exec-reviewers

expression: add warnings for Log function
  errno/errcode.go
  errno/errname.go
  expression/builtin_math.go
  expression/builtin_math_test.go
  expression/builtin_math_vec.go
  expression/errors.go
Owners: @pingcap/exec-reviewers

add comment
  ddl/index_change_test.go
Owners: @pingcap/co-ddl

ddl: fix issue that cannot modify other columns on auto_random table (#18664)
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @pingcap/co-ddl

ddl: fix issue that cannot modify other columns on auto_random table (#18664)
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @pingcap/co-ddl

[dumpling] ddl: fix issue that cannot modify other columns on auto_random table (#18664)
  dumpling/ddl/ddl_api.go
  dumpling/ddl/serial_test.go
Owners: none

cherry pick #18664 to release-4.0
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @pingcap/co-ddl

cherry pick #18664 to release-4.0 (#18671)
  ddl/ddl_api.go
  ddl/serial_test.go
Owners: @pingcap/co-ddl

address comment
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Owners: @pingcap/planner-reviewers

[dumpling] planner: apply min-max eliminator on common handle columns (#18589)
  dumpling/executor/aggregate_test.go
  dumpling/planner/core/integration_test.go
  dumpling/planner/core/rule_max_min_eliminate.go
  dumpling/planner/core/testdata/integration_suite_in.json
  dumpling/planner/core/testdata/integration_suite_out.json
  dumpling/util/ranger/checker.go
Owners: none

planner: apply min-max eliminator on common handle columns (#18589)
  executor/aggregate_test.go
  planner/core/integration_test.go
  planner/core/rule_max_min_eliminate.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  util/ranger/checker.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

planner: apply min-max eliminator on common handle columns (#18589)
  executor/aggregate_test.go
  planner/core/integration_test.go
  planner/core/rule_max_min_eliminate.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  util/ranger/checker.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

simplify code
  kv/new_memdb.go
Owners: none

executor: kill tableReader for each connection correctly (#18277) (#18507)
  executor/executor.go
  executor/executor_test.go
  server/conn.go
  server/server.go
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

address comments
  kv/new_memdb.go
Owners: none

make replaceNode more clear
  kv/new_memdb.go
Owners: none

eliminate special case in deleteNode
  kv/new_memdb.go
Owners: none

explain how nullAddr be handled in getNode
  kv/new_memdb_arena.go
Owners: none

cleanup async commit transaction if error happens doing commit
  store/tikv/2pc.go
Owners: none

pass unit test
  util/chunk/checksum.go
  util/chunk/disk.go
  util/chunk/disk_test.go
Owners: @pingcap/exec-reviewers

pass unit test
  util/chunk/checksum.go
Owners: @pingcap/exec-reviewers

fix go make check
  util/chunk/checksum.go
  util/chunk/disk.go
Owners: @pingcap/exec-reviewers

the simplest code now run
  distsql/select_result.go
  executor/builder.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/optimizer.go
  planner/core/physical_plans.go
  planner/core/task.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

exchange replaceNode's arguments
  kv/new_memdb.go
Owners: none

address comments
  kv/new_memdb.go
Owners: none

kv: add partial implementation of new memdb (#18654)
  kv/new_memdb.go
  kv/new_memdb_arena.go
  kv/sandbox_norace_test.go
  kv/sandbox_test.go
Owners: none

[dumpling] kv: add partial implementation of new memdb (#18654)
  dumpling/kv/new_memdb.go
  dumpling/kv/new_memdb_arena.go
  dumpling/kv/sandbox_norace_test.go
  dumpling/kv/sandbox_test.go
Owners: none

kv: add partial implementation of new memdb (#18654)
  kv/new_memdb.go
  kv/new_memdb_arena.go
  kv/sandbox_norace_test.go
  kv/sandbox_test.go
Owners: none

给checksum加个单元测试
  util/chunk/checksum.go
  util/chunk/checksum_test.go
Owners: @pingcap/exec-reviewers
