Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

kv: complete the implementation of the new memdb
  kv/new_memdb_arena.go
  kv/new_memdb_iterator.go
Owners: none

给checksum加个单元测试
  util/chunk/checksum.go
  util/chunk/checksum_test.go
Owners: @pingcap/exec-reviewers

*
  util/chunk/checksum_test.go
  util/chunk/disk_test.go
Owners: @pingcap/exec-reviewers

[parser] fix: remove warning for "REORGANIZE PARTITION" (#605) (#924)
  parser/parser.y
Owners: none

executor: 'select * from information_schema.tables' fail after setting @@tidb_snapshot
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

parse tso for snapshot (#124)
  v4/export/dump.go
  v4/export/sql.go
  v4/export/sql_test.go
Owners: none

[dumpling] parse tso for snapshot (#124)
  dumpling/v4/export/dump.go
  dumpling/v4/export/sql.go
  dumpling/v4/export/sql_test.go
Owners: none

using GetCompareFunc
  util/chunk/disk_test.go
Owners: @pingcap/exec-reviewers

add unicode_ci interface
  ddl/serial_test.go
  executor/seqtest/seq_executor_test.go
  expression/distsql_builtin_test.go
  expression/expr_to_pb_test.go
  util/collate/collate.go
  util/collate/collate_test.go
  util/collate/unicode_ci.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

fix build
  util/collate/unicode_ci.go
Owners: none

fix check
  util/collate/unicode_ci.go
Owners: none

grafana: add detailed memory usage for each instance
  metrics/grafana/tidb.json
Owners: none

fix test
  ddl/serial_test.go
Owners: @pingcap/co-ddl

复现bug了
  util/chunk/checksum.go
  util/chunk/disk_test.go
Owners: @pingcap/exec-reviewers

stats:enable memtracker for table stats
  statistics/cmsketch.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
  statistics/histogram.go
  statistics/table.go
Owners: @pingcap/planner-reviewers

address comments
  ddl/partition.go
Owners: @pingcap/co-ddl

.github: auto assign component/coprocessor to sig-runtime kanban (#18670)
  .github/workflows/assign_project.yml
Owners: none

[dumpling] .github: auto assign component/coprocessor to sig-runtime kanban (#18670)
  dumpling/.github/workflows/assign_project.yml
Owners: none

.github: auto assign component/coprocessor to sig-runtime kanban (#18670)
  .github/workflows/assign_project.yml
Owners: none

remove duplicated load
  kv/new_memdb_arena.go
Owners: none

fix explain test
  cmd/explaintest/r/explain_easy.result
Owners: none

Update 2020-05-08-standardize-error-codes-and-messages.md
  docs/design/2020-05-08-standardize-error-codes-and-messages.md
Owners: none

fix lost connection in the next sql after out of memory quota
  session/session.go
Owners: none

address comments
  kv/new_memdb_arena.go
  kv/new_memdb_iterator.go
Owners: none

[dumpling] grafana: add detailed memory usage for each instance (#18679)
  dumpling/metrics/grafana/tidb.json
Owners: none

grafana: add detailed memory usage for each instance (#18679)
  metrics/grafana/tidb.json
Owners: none

grafana: add detailed memory usage for each instance (#18679)
  metrics/grafana/tidb.json
Owners: none

cherry pick #18679 to release-4.0
  metrics/grafana/tidb.json
Owners: none

[dumpling] kv: fix typos (#18645)
  dumpling/kv/kv.go
  dumpling/kv/memdb.go
  dumpling/kv/sandbox.go
Owners: none

kv: fix typos (#18645)
  kv/kv.go
  kv/memdb.go
  kv/sandbox.go
Owners: none

kv: fix typos (#18645)
  kv/kv.go
  kv/memdb.go
  kv/sandbox.go
Owners: none

Fix the problem that a statement panic in a transaction but the transaction did not rollback.
  session/session.go
Owners: none

tiny update
  distsql/select_result.go
  executor/builder.go
  executor/partition_table.go
Owners: @pingcap/exec-reviewers

executor: kill tableReader for each connection correctly (#18277) (#18506)
  distsql/select_result.go
  executor/executor.go
  executor/executor_test.go
  server/conn.go
  server/server.go
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

stats:fix mem size
  statistics/cmsketch.go
  statistics/handle/handle.go
  statistics/histogram.go
  util/chunk/chunk.go
Owners: @pingcap/planner-reviewers, @pingcap/exec-reviewers

add tiflash error code range
  docs/design/2020-05-08-standardize-error-codes-and-messages.md
Owners: none

[dumpling] Clean some staled content from github PR template (#18636)
  dumpling/.github/pull_request_template.md
Owners: none

Clean some staled content from github PR template (#18636)
  .github/pull_request_template.md
Owners: none

Clean some staled content from github PR template (#18636)
  .github/pull_request_template.md
Owners: none

add recover in StmtCommit
  session/session.go
  session/txn.go
Owners: none
