Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

Fix check_dev2
  ddl/ddl_api.go
Owners: @zimulala, @tiancaiamao

store, metrics: update SafeTS metrics and grafana panels (#25407) (#25473)
  metrics/grafana/tidb.json
  store/tikv/kv.go
  store/tikv/metrics/metrics.go
Owners: @jackysp, @lzmhhh123, @disksing, @AndreMouche, @MyonKeminta

planner: fix begin statement consumed read_ts wrongly (#25492)
  executor/stale_txn_test.go
  planner/core/planbuilder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] planner: fix begin statement consumed read_ts wrongly (#25492)
  dumpling/executor/stale_txn_test.go
  dumpling/planner/core/planbuilder.go
Owners: none

*: fix sem dynamic privilege permission issues (#25316) (#25408)
  executor/executor_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

Update integration_test.go
  planner/core/integration_test.go
Owners: @winoros, @rebelice, @hanfei1991

add create add drop local temporary table
  ddl/ddl_api.go
  infoschema/infoschema.go
  planner/core/preprocess.go
  sessionctx/variable/session.go
Owners: @zimulala, @tiancaiamao, @djshow832, @lysu, @winoros, @rebelice, @hanfei1991, @morgo

grpc log follows global log output
  util/logutil/log.go
Owners: @winoros, @wshwsh12

done
  expression/builtin_cast.go
  expression/builtin_cast_vec.go
  types/core_time.go
  types/datum.go
  types/time.go
  types/time_test.go
Owners: @XuHuaiyu, @wjhuang2016, @guo-shaoge

executor: mutex snapshot with txn
  executor/set.go
  executor/simple.go
  executor/stale_txn_test.go
  sessionctx/variable/varsutil.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

executor: fix fmt
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: fix tests
  executor/stale_txn_test.go
  sessionctx/variable/sysvar.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

executor: refine tests
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: fix check dev
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

assert after init a logger, the original conf is not changed
  util/logutil/log_test.go
Owners: @winoros, @wshwsh12

*: Fix ALTER USER privilege requirements (#25461)
  executor/executor_test.go
  executor/simple.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

[dumpling] *: Fix ALTER USER privilege requirements (#25461)
  dumpling/executor/executor_test.go
  dumpling/executor/simple.go
  dumpling/planner/core/planbuilder.go
  dumpling/privilege/privileges/privileges.go
  dumpling/privilege/privileges/privileges_test.go
Owners: none

cherry pick #25461 to release-5.1
  executor/executor_test.go
  executor/simple.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

*: change SHOW CONFIG to require CONFIG privilege (#25379) (#25433)
  docs/design/2021-03-09-security-enhanced-mode.md
  expression/integration_test.go
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  privilege/privileges/privileges_test.go
Owners: @zz-jason, @bb7133, @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991, @morgo

cur
  executor/stale_txn_test.go
  planner/core/preprocess.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

address comments
  store/tikv/region_cache.go
Owners: @disksing, @AndreMouche, @MyonKeminta

client: fix empty result for cluster table when enable grpc compress
  store/tikv/client/client.go
Owners: @disksing, @AndreMouche, @MyonKeminta

*: Fix ALTER USER privilege requirements (#25461) (#25512)
  executor/executor_test.go
  executor/simple.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

store/copr: balance region for batch cop task (#24521) (#24724)
  store/copr/batch_coprocessor.go
  store/copr/mpp.go
  store/tikv/batch_request_sender.go
  store/tikv/region_cache.go
Owners: @disksing, @AndreMouche, @MyonKeminta

*: remove useless
  kv/kv.go
  store/copr/coprocessor.go
Owners: @disksing, @AndreMouche, @MyonKeminta

*: add new api
  distsql/request_builder.go
  planner/core/preprocess.go
Owners: @crazycs520, @qw4990, @winoros, @rebelice, @hanfei1991

fix
  expression/expr_to_pb_test.go
Owners: @XuHuaiyu, @wjhuang2016

*: fix tests
  executor/adapter.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/distsql.go
  executor/executor_required_rows_test.go
  executor/index_merge_reader.go
  executor/stale_txn_test.go
  executor/table_reader.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add test
  executor/benchmark_test.go
  executor/builder.go
  executor/stale_txn_test.go
  kv/txn_scope_var.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche

address the comment
  distsql/request_builder.go
  executor/builder.go
  executor/distsql.go
  executor/index_merge_reader.go
  executor/table_reader.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix confliect
  executor/coprocessor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

planner: make sure limit outputs no more columns than its child (#25345)
  planner/core/integration_test.go
  planner/core/rule_column_pruning.go
Owners: @winoros, @rebelice, @hanfei1991

planner,executor: fix 'select ...(join on partition table) for update' panic (#21148) (#25502)
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  executor/partition_table_test.go
  executor/table_reader.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/rule_column_pruning.go
  planner/core/rule_partition_processor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

fix confliect
  executor/benchmark_test.go
  executor/executor_required_rows_test.go
  executor/table_reader.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25345 to release-5.0
  planner/core/integration_test.go
  planner/core/rule_column_pruning.go
Owners: @winoros, @rebelice, @hanfei1991

*: add TestLocalTemporaryTableInfoSchema to store local temporary table schemas
  infoschema/infoschema.go
  infoschema/infoschema_test.go
  sessionctx/variable/session.go
Owners: @djshow832, @lysu, @morgo

executor: make show create table show index comments
  executor/show.go
  executor/show_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: fix a stupid mistake in `filterTemporaryTableKeys()` function
  executor/executor.go
  executor/executor_pkg_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: hide txn scope setting
  sessionctx/variable/sysvar.go
Owners: @morgo

cherry pick #25492 to release-5.1
  executor/stale_txn_test.go
  planner/core/planbuilder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
