Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

table: improve error message for incorrect utf8 value
  expression/integration_test.go
  table/column.go
Owners: @XuHuaiyu, @wjhuang2016

polish
  executor/builder.go
  executor/spilledAggregate.go
  planner/core/plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

fixup
  executor/partition_table_test.go
  planner/core/rule_partition_processor.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

Address review comments.
  executor/partition_table_test.go
  go.sum
  planner/core/planbuilder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

executor: forbid stale read table with tiflash (#25561) (#25571)
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

table: improve error message for incorrect utf8 value (#25087)
  expression/integration_test.go
  table/column.go
Owners: @XuHuaiyu, @wjhuang2016

[dumpling] table: improve error message for incorrect utf8 value (#25087)
  dumpling/expression/integration_test.go
  dumpling/table/column.go
Owners: none

skip some planner test
  executor/executor_test.go
  executor/explain_test.go
  expression/expr_to_pb_test.go
  planner/core/cbo_test.go
  planner/core/enforce_mpp_test.go
  planner/core/integration_test.go
  planner/core/partition_pruner_test.go
  planner/core/physical_plan_test.go
  planner/core/plan_test.go
  planner/core/stats_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @winoros, @rebelice, @hanfei1991

[dumpling] server: try to make test TestTopSQLAgent stable (#25399)
  dumpling/executor/set_test.go
  dumpling/server/tidb_test.go
  dumpling/util/topsql/reporter/client.go
Owners: none

server: try to make test TestTopSQLAgent stable (#25399)
  executor/set_test.go
  server/tidb_test.go
  util/topsql/reporter/client.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @coocood, @morgo, @winoros

cherry pick #25399 to release-5.1
  executor/set_test.go
  server/tidb_test.go
  util/topsql/reporter/client.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @coocood, @morgo, @winoros

[dumpling] *: fix bug that write on temporary table send request to TiKV (#25535)
  dumpling/executor/executor_test.go
  dumpling/kv/option.go
  dumpling/session/session.go
  dumpling/store/driver/txn/txn_driver.go
Owners: none

*: fix bug that write on temporary table send request to TiKV (#25535)
  executor/executor_test.go
  kv/option.go
  session/session.go
  store/driver/txn/txn_driver.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche, @cfzjywxk, @tiancaiamao, @MyonKeminta

add comments
  planner/core/rule_partition_processor.go
Owners: @winoros, @rebelice, @hanfei1991

[dumpling] expression: fix BIT type columns are not padded with left zeros (#25575)
  dumpling/executor/executor_test.go
  dumpling/expression/chunk_executor.go
  dumpling/expression/integration_test.go
Owners: none

expression: fix BIT type columns are not padded with left zeros (#25575)
  executor/executor_test.go
  expression/chunk_executor.go
  expression/integration_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016

add tests
  executor/show_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

planner/core: support union all for mpp. (#24287) (#25051)
  distsql/select_result.go
  executor/mpp_gather.go
  executor/tiflash_test.go
  expression/column.go
  planner/core/exhaust_physical_plans.go
  planner/core/fragment.go
  planner/core/initialize.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/rule_inject_extra_projection.go
  planner/core/task.go
  store/copr/mpp.go
  util/execdetails/execdetails.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @winoros, @rebelice, @hanfei1991, @disksing, @AndreMouche, @MyonKeminta

add log to record task id when mpp task fail (#25582)
  store/copr/mpp.go
Owners: @disksing, @AndreMouche, @MyonKeminta

Refine the behavior
  kv/txn_scope_var.go
  session/session_test.go
  sessionctx/variable/sysvar.go
Owners: @disksing, @AndreMouche, @cfzjywxk, @tiancaiamao, @morgo

Add more tests
  session/session_test.go
  sessionctx/variable/sysvar.go
Owners: @cfzjywxk, @tiancaiamao, @morgo

cherry pick #24975 to release-5.0
  store/gcworker/gc_worker.go
Owners: @disksing, @AndreMouche, @MyonKeminta

planner/core: push down topn to mpp (#24081) (#25162)
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

planner/core: support limit push down (#24757) (#25159)
  planner/core/exhaust_physical_plans.go
  planner/core/task.go
Owners: @winoros, @rebelice, @hanfei1991

expression: error information is inconsistent with MySQL about date or time literal
  expression/builtin_time.go
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016

expression: error information is inconsistent with MySQL about date or time literal
  expression/builtin_time.go
Owners: @XuHuaiyu, @wjhuang2016

fix
  Makefile
  planner/core/integration_test.go
  types/time.go
Owners: @winoros, @rebelice, @hanfei1991, @XuHuaiyu, @guo-shaoge

fix
  Makefile
Owners: none

fix integration_test
  expression/integration_test.go
  planner/core/integration_test.go
  types/time.go
Owners: @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991, @guo-shaoge

planner/core: remove the union branch with dual table. (#25218)
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

*: fix wrong resource tag of transaction commit statement
  server/tidb_test.go
  session/session.go
Owners: @coocood, @morgo, @cfzjywxk, @tiancaiamao

refine
  session/session.go
Owners: @cfzjywxk, @tiancaiamao

fix ci
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

test: make test TestIssue25506 stable
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

test: make test TestIssue25506 stable (#25617)
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] test: make test TestIssue25506 stable (#25617)
  dumpling/executor/executor_test.go
Owners: none

planner: make sure limit outputs no more columns than its child (#25345) (#25517)
  planner/core/integration_test.go
  planner/core/rule_column_pruning.go
Owners: @winoros, @rebelice, @hanfei1991

Address the comment and refine the test
  ddl/placement_sql_test.go
  expression/integration_test.go
  session/session_test.go
  sessionctx/variable/sysvar.go
Owners: @zimulala, @tiancaiamao, @XuHuaiyu, @wjhuang2016, @cfzjywxk, @morgo

Fix the test
  executor/stale_txn_test.go
  session/session_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao

expression: fix IN expr critical bug
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Owners: @XuHuaiyu, @wjhuang2016
