Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

[dumpling] executor: fix a stupid mistake in `filterTemporaryTableKeys()` function (#25521)
  dumpling/executor/executor.go
  dumpling/executor/executor_pkg_test.go
Owners: none

executor: fix a stupid mistake in `filterTemporaryTableKeys()` function (#25521)
  executor/executor.go
  executor/executor_pkg_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25521 to release-5.1
  executor/executor.go
  executor/executor_pkg_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

expression: support datetime type for user variable
  expression/builtin_other.go
  expression/builtin_other_test.go
Owners: @XuHuaiyu, @wjhuang2016

fix getPartitionColumnPos panic
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

fix select
  distsql/request_builder.go
  executor/adapter.go
  executor/batch_point_get.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/distsql.go
  executor/executor_required_rows_test.go
  executor/index_merge_reader.go
  executor/point_get.go
  executor/stale_txn_test.go
  executor/table_reader.go
  go.mod
  go.sum
  kv/txn_scope_var.go
  planner/core/preprocess.go
  session/session.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

fix comments
  executor/executor_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

fix test
  expression/builtin_other_test.go
Owners: @XuHuaiyu, @wjhuang2016

make create table like compatible with MySQL
  ddl/ddl_api.go
  table/tables/partition_test.go
Owners: @zimulala, @tiancaiamao, @wjhuang2016

fix case
  cmd/explaintest/r/explain_generate_column_substitute.result
  cmd/explaintest/r/select.result
  executor/executor_test.go
  planner/core/planbuilder.go
Owners: @eurekaka, @rebelice, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @hanfei1991

fix select
  distsql/request_builder.go
  distsql/request_builder_test.go
Owners: @crazycs520, @qw4990

shuffle
  executor/builder.go
  planner/core/plan.go
  planner/core/rule_inject_extra_projection.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

variable: comment for the variable
  sessionctx/variable/sysvar.go
Owners: @morgo

fix select
  executor/builder.go
  planner/core/preprocess.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

fix
  session/session.go
  sessionctx/variable/session.go
Owners: @cfzjywxk, @tiancaiamao, @morgo

Refine the SafeTS gap metric and panel
  go.mod
  go.sum
  metrics/grafana/tidb.json
Owners: @jackysp, @lzmhhh123

Adjust the size and position of pannel
  metrics/grafana/tidb.json
Owners: @jackysp, @lzmhhh123

Add store type
  metrics/grafana/tidb.json
Owners: @jackysp, @lzmhhh123

expression: Support cast string as real push down (#25096) (#25109)
  expression/expr_to_pb_test.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

add unit tests
  executor/point_get_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

support mathematical functions pushdown to tiflash
  expression/expr_to_pb_test.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

resolve conflict
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

tiny change
  planner/core/stats.go
Owners: @winoros, @rebelice, @hanfei1991

Update the client-go
  go.mod
  go.sum
Owners: none

planner: support push down broadcast cartesian join to TiFlash (#25049) (#25106)
  go.mod
  go.sum
  planner/core/exhaust_physical_plans.go
  planner/core/plan_to_pb.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao, @morgo

expression: Support Sqrt, Ceil, Floor and CastIntAsReal push down to TiFlash (#25085)
  expression/expr_to_pb_test.go
Owners: @XuHuaiyu, @wjhuang2016

planner: select distinct should bypass batchget (#25477)
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] planner: select distinct should bypass batchget (#25477)
  dumpling/executor/point_get_test.go
  dumpling/planner/core/point_get_plan.go
Owners: none

cherry pick #25477 to release-4.0
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25477 to release-5.0
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25477 to release-5.1
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] store/tikv: clean up stale tests (#25488)
  dumpling/store/tikv/tests/1pc_test.go
  dumpling/store/tikv/tests/2pc_fail_test.go
  dumpling/store/tikv/tests/2pc_slow_test.go
  dumpling/store/tikv/tests/2pc_test.go
  dumpling/store/tikv/tests/async_commit_fail_test.go
  dumpling/store/tikv/tests/async_commit_test.go
  dumpling/store/tikv/tests/client_fp_test.go
  dumpling/store/tikv/tests/delete_range_test.go
  dumpling/store/tikv/tests/isolation_test.go
  dumpling/store/tikv/tests/lock_test.go
  dumpling/store/tikv/tests/prewrite_test.go
  dumpling/store/tikv/tests/range_task_test.go
  dumpling/store/tikv/tests/rawkv_test.go
  dumpling/store/tikv/tests/safepoint_test.go
  dumpling/store/tikv/tests/scan_mock_test.go
  dumpling/store/tikv/tests/scan_test.go
  dumpling/store/tikv/tests/snapshot_fail_test.go
  dumpling/store/tikv/tests/snapshot_test.go
  dumpling/store/tikv/tests/split_test.go
  dumpling/store/tikv/tests/store_fail_test.go
  dumpling/store/tikv/tests/store_test.go
  dumpling/store/tikv/tests/ticlient_slow_test.go
  dumpling/store/tikv/tests/ticlient_test.go
  dumpling/store/tikv/tests/util_test.go
Owners: none

store/tikv: clean up stale tests (#25488)
  store/tikv/tests/1pc_test.go
  store/tikv/tests/2pc_fail_test.go
  store/tikv/tests/2pc_slow_test.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/async_commit_fail_test.go
  store/tikv/tests/async_commit_test.go
  store/tikv/tests/client_fp_test.go
  store/tikv/tests/delete_range_test.go
  store/tikv/tests/isolation_test.go
  store/tikv/tests/lock_test.go
  store/tikv/tests/prewrite_test.go
  store/tikv/tests/range_task_test.go
  store/tikv/tests/rawkv_test.go
  store/tikv/tests/safepoint_test.go
  store/tikv/tests/scan_mock_test.go
  store/tikv/tests/scan_test.go
  store/tikv/tests/snapshot_fail_test.go
  store/tikv/tests/snapshot_test.go
  store/tikv/tests/split_test.go
  store/tikv/tests/store_fail_test.go
  store/tikv/tests/store_test.go
  store/tikv/tests/ticlient_slow_test.go
  store/tikv/tests/ticlient_test.go
  store/tikv/tests/util_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

remove Concat, ConcatWS, Year, Month, Day, DateDiff switch case in scalarExprSupportedByFlash
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

executor, infoschema: Add cluster_statements_summary_evicted table to TiDB (#25418)
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/cluster.go
  infoschema/tables.go
  infoschema/tables_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @djshow832

[dumpling] executor, infoschema: Add cluster_statements_summary_evicted table to TiDB (#25418)
  dumpling/executor/builder.go
  dumpling/executor/infoschema_reader.go
  dumpling/infoschema/cluster.go
  dumpling/infoschema/tables.go
  dumpling/infoschema/tables_test.go
Owners: none

*: fix bug that write on temporary table send request to TiKV
  executor/executor_test.go
  kv/option.go
  session/session.go
  store/driver/txn/txn_driver.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche, @cfzjywxk, @tiancaiamao, @MyonKeminta

infoschema: improve performance
  infoschema/cache.go
Owners: @djshow832, @lysu

Resolve conflict
  expression/expr_to_pb_test.go
Owners: @XuHuaiyu, @wjhuang2016

planner,executor: fix point get for update read panic on partition table
  executor/partition_table_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991
