Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

[dumpling] ddl/partition: remove the usage of package 'pd/pkg/slice' (#25356)
  dumpling/ddl/partition.go
  dumpling/util/slice/slice.go
  dumpling/util/slice/slice_test.go
Owners: none

ddl, executor: fix test race in terror (#25405) (#25409)
  ddl/ddl_api.go
  ddl/error.go
  executor/ddl.go
  executor/errors.go
  executor/insert_common.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: snapshot for (batch) point get not working correctly (#25346) (#25406)
  executor/batch_point_get.go
  executor/batch_point_get_test.go
  executor/point_get.go
  executor/point_get_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add ClusterTableEvictedCount to TiDB
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/cluster.go
  infoschema/tables.go
  infoschema/tables_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @djshow832

[dumpling] store/tikv: sort keys in batch get (#25416)
  dumpling/store/tikv/snapshot.go
  dumpling/store/tikv/test_probe.go
Owners: none

store/tikv: sort keys in batch get (#25416)
  store/tikv/snapshot.go
  store/tikv/test_probe.go
Owners: @disksing, @AndreMouche, @MyonKeminta

cherry pick #25416 to release-5.1
  store/tikv/snapshot.go
  store/tikv/test_probe.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] statistics: fix row count when not fully loading ver2 stats (#25388)
  dumpling/statistics/handle/handle.go
  dumpling/statistics/handle/handle_test.go
Owners: none

statistics: fix row count when not fully loading ver2 stats (#25388)
  statistics/handle/handle.go
  statistics/handle/handle_test.go
Owners: @winoros, @eurekaka

planner: forbid prepared stale select in txn (#25375) (#25413)
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/stale_txn_test.go
  planner/core/common_plans.go
  planner/core/errors.go
  planner/core/preprocess.go
Owners: @morgo, @tangenta, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25388 to release-5.1
  statistics/handle/handle.go
  statistics/handle/handle_test.go
Owners: @winoros, @eurekaka

Revert "store: avoid sessions of GC being affected by global variables"
  store/gcworker/gc_worker.go
Owners: @disksing, @AndreMouche, @MyonKeminta

tiny change
  store/gcworker/gc_worker.go
Owners: @disksing, @AndreMouche, @MyonKeminta

Update planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans.go
Owners: @winoros, @rebelice, @hanfei1991

store/tikv: avoid using unistore failpoints
  store/tikv/tests/async_commit_fail_test.go
  store/tikv/tests/async_commit_test.go
  store/tikv/tests/client_fp_test.go
  store/tikv/tests/snapshot_fail_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

planner/core: fix bug that injected proj get wrong index. (#25336)
  executor/tiflash_test.go
  planner/core/rule_inject_extra_projection.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

add debug log
  domain/domain.go
  sessionctx/variable/sysvar.go
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter.go
Owners: @lysu, @xhebox, @morgo, @winoros, @wshwsh12

fix dev
  planner/core/task.go
Owners: @winoros, @rebelice, @hanfei1991

txn: fix panic on duplicate insert on index column len longer than data len (#25414)
  executor/ddl_test.go
  executor/insert_test.go
  store/driver/txn/error.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche, @MyonKeminta

[dumpling] txn: fix panic on duplicate insert on index column len longer than data len (#25414)
  dumpling/executor/ddl_test.go
  dumpling/executor/insert_test.go
  dumpling/store/driver/txn/error.go
Owners: none

cherry pick #25414 to release-5.1
  executor/ddl_test.go
  executor/insert_test.go
  store/driver/txn/error.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche, @MyonKeminta

executor: check the length of lookUpContent in prunePartitionForInnerExecutor
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

resolve conflicts
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

Create SECURITY.md
  SECURITY.md
Owners: none

statistics: fix row count when not fully loading ver2 stats (#25388) (#25420)
  statistics/handle/handle.go
  statistics/handle/handle_test.go
Owners: @winoros, @eurekaka

add a test case
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

Revert "store/tikv: sort keys in batch get (#25416)"
  store/tikv/snapshot.go
  store/tikv/test_probe.go
Owners: @disksing, @AndreMouche, @MyonKeminta

add action
  executor/spilledAggregate.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

store/tikv: interate all keys in relocate of batch-get
  store/tikv/snapshot.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] executor: fix incorrect rows returned by `TABLESAMPLE` (#25357)
  dumpling/executor/sample.go
  dumpling/executor/sample_test.go
Owners: none

executor: fix incorrect rows returned by `TABLESAMPLE` (#25357)
  executor/sample.go
  executor/sample_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25357 to release-5.1
  executor/sample.go
  executor/sample_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

make TestSetTopSQLVariables stable
  executor/set_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

ddl: fixed update data report an error when converting from CHAR to DATETIME after adding columns (#25384) (#25410)
  ddl/column.go
  ddl/column_type_change_test.go
Owners: @zimulala, @tiancaiamao

[dumpling] *: change SHOW CONFIG to require CONFIG privilege (#25379)
  dumpling/docs/design/2021-03-09-security-enhanced-mode.md
  dumpling/expression/integration_test.go
  dumpling/planner/core/logical_plan_test.go
  dumpling/planner/core/planbuilder.go
  dumpling/planner/core/preprocess.go
  dumpling/privilege/privileges/privileges_test.go
Owners: none

*: change SHOW CONFIG to require CONFIG privilege (#25379)
  docs/design/2021-03-09-security-enhanced-mode.md
  expression/integration_test.go
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  privilege/privileges/privileges_test.go
Owners: @zz-jason, @bb7133, @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991, @morgo

cherry pick #25379 to release-5.1
  docs/design/2021-03-09-security-enhanced-mode.md
  expression/integration_test.go
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  privilege/privileges/privileges_test.go
Owners: @zz-jason, @bb7133, @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991, @morgo

fix create partition table error while using 'NO_UNSIGNED_SUBTRACTION sql mode
  ddl/partition.go
  table/tables/partition_test.go
Owners: @zimulala, @tiancaiamao, @wjhuang2016

[dumpling] store/tikv: interate all keys in relocate of batch-get (#25429)
  dumpling/store/tikv/snapshot.go
  dumpling/store/tikv/test_probe.go
Owners: none

store/tikv: interate all keys in relocate of batch-get (#25429)
  store/tikv/snapshot.go
  store/tikv/test_probe.go
Owners: @disksing, @AndreMouche, @MyonKeminta
