Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

wip
  planner/core/point_get_plan.go
  table/tables/partition.go
Owners: @winoros, @rebelice, @hanfei1991, @wjhuang2016

fix up
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fixup
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

docs: update dynamic privileges proposal for SEM changes (#25503)
  docs/design/2021-03-09-dynamic-privileges.md
Owners: @zz-jason, @bb7133

[dumpling] docs: update dynamic privileges proposal for SEM changes (#25503)
  dumpling/docs/design/2021-03-09-dynamic-privileges.md
Owners: none

Revert "cherry pick #25130 to release-5.0"
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @winoros, @rebelice, @hanfei1991, @morgo

planner: Mpp outer join build side (#25130)
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao, @morgo

planner: disable mpp_outer_join_fixed_build_side by default (#25240)
  executor/tiflash_test.go
  planner/core/testdata/integration_serial_suite_out.json
  sessionctx/variable/tidb_vars.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

infoschema: version of tiflash is inconsistent with other component in table information_schema.cluster_info
  infoschema/tables.go
  infoschema/tables_test.go
Owners: @djshow832, @lysu

refine
  sessionctx/variable/session.go
  sessionctx/variable/tidb_vars.go
Owners: @morgo

infoschema: version of tiflash is inconsistent with other component in table information_schema.cluster_info
  infoschema/tables.go
Owners: @djshow832, @lysu

cherry pick #25063 to release-5.1
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: fix incorrect rows returned by `TABLESAMPLE` (#25357) (#25430)
  executor/sample.go
  executor/sample_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: hide txn scope setting (#25519)
  sessionctx/variable/sysvar.go
Owners: @morgo

[dumpling] *: hide txn scope setting (#25519)
  dumpling/sessionctx/variable/sysvar.go
Owners: none

cherry pick #25519 to release-5.1
  sessionctx/variable/sysvar.go
Owners: @morgo

make fmt
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] planner: forbid BatchPointGet on tables partitioned by compound expressions (#25538)
  dumpling/executor/partition_table_test.go
  dumpling/planner/core/point_get_plan.go
  dumpling/table/tables/partition.go
Owners: none

planner: forbid BatchPointGet on tables partitioned by compound expressions (#25538)
  executor/partition_table_test.go
  planner/core/point_get_plan.go
  table/tables/partition.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @wjhuang2016

cherry pick #25538 to release-5.1
  executor/partition_table_test.go
  planner/core/point_get_plan.go
  table/tables/partition.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @wjhuang2016

infoschema: version of tiflash is inconsistent with other component in table information_schema.cluster_info
  infoschema/tables.go
  infoschema/tables_test.go
Owners: @djshow832, @lysu

executor: fix data race of parallel apply operator (#24257) (#24345)
  executor/parallel_apply.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

Update expression/builtin_other.go
  expression/builtin_other.go
Owners: @XuHuaiyu, @wjhuang2016

Update config/config.go
  config/config.go
Owners: @tiancaiamao, @qw4990

refine
  planner/core/task.go
Owners: @winoros, @rebelice, @hanfei1991

planner: fix getPartitionColumnPos panic (#25524)
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] planner: fix getPartitionColumnPos panic (#25524)
  dumpling/executor/point_get_test.go
  dumpling/planner/core/point_get_plan.go
Owners: none

address comments
  expression/builtin_other_test.go
Owners: @XuHuaiyu, @wjhuang2016

cherry pick #25524 to release-5.1
  executor/point_get_test.go
  planner/core/point_get_plan.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

[dumpling] config: Add Lock View's config to config example and test (#25470)
  dumpling/config/config.go
  dumpling/config/config.toml.example
  dumpling/config/config_test.go
Owners: none

config: Add Lock View's config to config example and test (#25470)
  config/config.go
  config/config.toml.example
  config/config_test.go
Owners: @tiancaiamao, @qw4990

cherry pick #25470 to release-5.1
  config/config.go
  config/config.toml.example
  config/config_test.go
Owners: @tiancaiamao, @qw4990

ddl: fix create partition table error under NO_UNSIGNED_SUBTRACTION (#25435)
  ddl/ddl_api.go
  ddl/partition.go
  table/tables/partition_test.go
Owners: @zimulala, @tiancaiamao, @wjhuang2016

[dumpling] ddl: fix create partition table error under NO_UNSIGNED_SUBTRACTION (#25435)
  dumpling/ddl/ddl_api.go
  dumpling/ddl/partition.go
  dumpling/table/tables/partition_test.go
Owners: none

expression: support `str_to_date` push to TiFlash (#25095) (#25148)
  expression/expr_to_pb_test.go
  expression/expression.go
Owners: @XuHuaiyu, @wjhuang2016

*: temporarily skip some unstable test cases.
  ddl/db_test.go
  executor/stale_txn_test.go
  planner/core/prepare_test.go
  server/tidb_test.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @coocood, @morgo

planner: forbid BatchPointGet on tables partitioned by compound expressions (#25538) (#25543)
  executor/partition_table_test.go
  planner/core/point_get_plan.go
  table/tables/partition.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @wjhuang2016

address comment
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: make analyze test be stable
  executor/analyze_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

planner: fix the panic that the index's range length may exceed its original column count (#25267)
  planner/core/cbo_test.go
  planner/core/logical_plans.go
  planner/core/stats.go
  statistics/selectivity.go
Owners: @winoros, @rebelice, @hanfei1991, @eurekaka
