Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

ddl: fix max allocation count when create auto_random tables (#18417) (#18549)
  ddl/serial_test.go
  meta/autoid/autoid.go
Owners: @pingcap/co-ddl

[parser] parser: add a state field for partitionDefinition (#927)
  parser/model/model.go
Owners: none

cherry pick #18190 to release-4.0
  sessionctx/variable/tidb_vars.go
Owners: none

sessionctx/variable: open batch_cop for tiflash by default (#18190) (#18552)
  sessionctx/variable/tidb_vars.go
Owners: none

fix
  executor/aggfuncs/func_max_min.go
Owners: @pingcap/exec-reviewers

先回家
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_max_min.go
  executor/builder.go
  expression/aggregation/descriptor.go
Owners: @pingcap/exec-reviewers

executor: fix mislead inconsistent log after Context.Cancel (#18537)
  executor/distsql.go
  util/misc.go
Owners: @pingcap/exec-reviewers

executor: fix mislead inconsistent log after Context.Cancel (#18537)
  executor/distsql.go
  util/misc.go
Owners: @pingcap/exec-reviewers

[dumpling] executor: fix mislead inconsistent log after Context.Cancel (#18537)
  dumpling/executor/distsql.go
  dumpling/util/misc.go
Owners: none

cherry pick #18537 to release-4.0
  executor/distsql.go
  util/misc.go
Owners: @pingcap/exec-reviewers

[dumpling] tikv: fix infinite panic when GRPC transportReader is broken (#18437)
  dumpling/store/tikv/client_batch.go
Owners: none

tikv: fix infinite panic when GRPC transportReader is broken (#18437)
  store/tikv/client_batch.go
Owners: none

tikv: fix infinite panic when GRPC transportReader is broken (#18437)
  store/tikv/client_batch.go
Owners: none

cherry pick #18437 to release-4.0
  store/tikv/client_batch.go
Owners: none

maxMin4IntSliding
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_max_min.go
Owners: @pingcap/exec-reviewers

fix import
  executor/aggfuncs/func_max_min.go
Owners: @pingcap/exec-reviewers

planner: don't put the handle column twice into the index column
  executor/join_test.go
  planner/core/logical_plans.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

fix: add explicit error message when adding index
  ddl/db_test.go
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

add test
  expression/builtin.go
  expression/collation.go
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

fix typo
  config/config.go
Owners: none

sessionctx: future proof tidb-specific comment (#18491)
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
Owners: none

[dumpling] sessionctx: future proof tidb-specific comment (#18491)
  dumpling/sessionctx/binloginfo/binloginfo.go
  dumpling/sessionctx/binloginfo/binloginfo_test.go
Owners: none

sessionctx: future proof tidb-specific comment (#18491)
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
Owners: none

information: Fix issue of query `information_schema.columns` cost too much memory when there are lots of tables in TiDB (#18362) (#18503) (#18436)
  executor/builder.go
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

make ci happy
  executor/infoschema_reader.go
Owners: @pingcap/exec-reviewers

telemetry: disable telemetry by default for non-community edition (#18524)
  Makefile
  config/config.go
  config/config_test.go
  domain/infosync/info.go
  server/http_handler_test.go
  server/http_status.go
  server/server_test.go
  sessionctx/variable/sysvar.go
  util/printer/printer.go
  util/versioninfo/versioninfo.go
Owners: @pingcap/co-ddl

[dumpling] telemetry: disable telemetry by default for non-community edition (#18524)
  dumpling/Makefile
  dumpling/config/config.go
  dumpling/config/config_test.go
  dumpling/domain/infosync/info.go
  dumpling/server/http_handler_test.go
  dumpling/server/http_status.go
  dumpling/server/server_test.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/util/printer/printer.go
  dumpling/util/versioninfo/versioninfo.go
Owners: none

telemetry: disable telemetry by default for non-community edition (#18524)
  Makefile
  config/config.go
  config/config_test.go
  domain/infosync/info.go
  server/http_handler_test.go
  server/http_status.go
  server/server_test.go
  sessionctx/variable/sysvar.go
  util/printer/printer.go
  util/versioninfo/versioninfo.go
Owners: @pingcap/co-ddl

cherry pick #18524 to release-4.0
  Makefile
  config/config.go
  config/config_test.go
  domain/infosync/info.go
  server/http_handler_test.go
  server/http_status.go
  server/server_test.go
  sessionctx/variable/sysvar.go
  util/printer/printer.go
  util/versioninfo/versioninfo.go
Owners: @pingcap/co-ddl

planner,executor,infoschema: add system tables `tiflash_tables` and `tiflash_segments` (#18092) (#18536)
  executor/builder.go
  executor/explainfor_test.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  planner/core/logical_plan_builder.go
  planner/core/memtable_predicate_extractor.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl, @pingcap/planner-reviewers

update pd dependency
  go.mod
  go.sum
  store/mockstore/mocktikv/pd.go
  store/tikv/store_test.go
Owners: none

config: complete the list of deprecated configurations (#18001) (#18046)
  config/config.go
Owners: none

log: add tidb_log_desensitization to desensitization when log query
  executor/adapter.go
  server/conn.go
  server/conn_stmt.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @pingcap/exec-reviewers

executor: return error from indexHashJoin worker to the main thread
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join_test.go
Owners: @pingcap/exec-reviewers

address comment
  kv/kv.go
  kv/memdb.go
  session/txn.go
Owners: none

format general log
  session/session.go
Owners: none

region_cache: invalidate cached region for not leader error
  store/tikv/region_request.go
Owners: none

make ci happy
  executor/adapter.go
Owners: @pingcap/exec-reviewers

executor: generalize SHOW TABLE t NEXT_ROW_ID for auto_random and sequences (#16821) (#17896)
  executor/executor.go
  executor/seqtest/seq_executor_test.go
  meta/autoid/autoid.go
  meta/autoid/errors.go
  planner/core/planbuilder.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl, @pingcap/planner-reviewers

table: fix a bug that replaces into a table with generated column fail (#17838) (#17907)
  executor/executor_test.go
  table/tables/tables.go
Owners: @pingcap/exec-reviewers
