Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

*: add case of point get
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: fix fmt
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: remove debug print
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: stable tests
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: handle infoschema
  executor/builder.go
  executor/prepared.go
  executor/seqtest/prepared_test.go
  executor/stale_txn_test.go
  planner/core/cache.go
  planner/core/common_plans.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

*: remove useless code
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

types: add tests for MyDecimal.ToFloat64()
  types/mydecimal.go
  types/mydecimal_benchmark_test.go
  types/mydecimal_test.go
Owners: @XuHuaiyu, @guo-shaoge

shorten lock range
  util/stmtsummary/evicted.go
  util/stmtsummary/statement_summary.go
Owners: @winoros, @wshwsh12

go fmt
  executor/set_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

remove flag in stmtSummaryDigest
  util/stmtsummary/evicted.go
  util/stmtsummary/statement_summary.go
Owners: @winoros, @wshwsh12

add warning.
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Owners: @winoros, @rebelice, @hanfei1991

error check
  errors.toml
Owners: none

fix append nil
  util/stmtsummary/statement_summary.go
Owners: @winoros, @wshwsh12

executor: fix bug when use limit in CTE (#25261) (#25279)
  executor/cte.go
  executor/cte_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: enable column-type-change totally (#25263) (#25280)
  ddl/column.go
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/failtest/fail_db_test.go
  ddl/generated_column.go
  executor/admin_test.go
  executor/ddl_test.go
  executor/executor_test.go
  executor/set_test.go
  expression/integration_test.go
  session/pessimistic_test.go
  session/schema_amender.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Owners: @zimulala, @tiancaiamao, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @cfzjywxk, @morgo

[parser] *: fix cte restore for binding (#1244)
  parser/ast/dml.go
  parser/format/format.go
  parser/parser_test.go
Owners: none

[dumpling] *: add global system variable `tmp_table_size` (#24827)
  dumpling/errors.toml
  dumpling/executor/set_test.go
  dumpling/session/session_test.go
  dumpling/sessionctx/variable/noop.go
  dumpling/sessionctx/variable/session.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/tidb_vars.go
  dumpling/sessionctx/variable/varsutil_test.go
  dumpling/table/table.go
  dumpling/table/tables/tables.go
  dumpling/util/tableutil/tableutil.go
Owners: none

*: add global system variable `tmp_table_size` (#24827)
  errors.toml
  executor/set_test.go
  session/session_test.go
  sessionctx/variable/noop.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  table/table.go
  table/tables/tables.go
  util/tableutil/tableutil.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @morgo, @wjhuang2016, @winoros

Metric: Collect TiKV Read Duration Metric for SLI/SLO (#23884)
  distsql/select_result.go
  metrics/metrics.go
  metrics/sli.go
  store/copr/coprocessor.go
  store/tikv/snapshot.go
  store/tikv/util/execdetails.go
  util/sli/sli.go
Owners: @crazycs520, @qw4990, @jackysp, @lzmhhh123, @disksing, @AndreMouche, @MyonKeminta, @winoros, @wshwsh12

[dumpling] Metric: Collect TiKV Read Duration Metric for SLI/SLO (#23884)
  dumpling/distsql/select_result.go
  dumpling/metrics/metrics.go
  dumpling/metrics/sli.go
  dumpling/store/copr/coprocessor.go
  dumpling/store/tikv/snapshot.go
  dumpling/store/tikv/util/execdetails.go
  dumpling/util/sli/sli.go
Owners: none

cherry pick #23884 to release-4.0
  distsql/select_result.go
  metrics/metrics.go
  metrics/sli.go
  store/tikv/coprocessor.go
  store/tikv/snapshot.go
  store/tikv/util/execdetails.go
  util/sli/sli.go
Owners: @crazycs520, @qw4990, @jackysp, @lzmhhh123, @disksing, @AndreMouche, @MyonKeminta, @winoros, @wshwsh12

cherry pick #23884 to release-5.0
  distsql/select_result.go
  metrics/metrics.go
  metrics/sli.go
  store/copr/coprocessor.go
  store/tikv/snapshot.go
  store/tikv/util/execdetails.go
  util/sli/sli.go
Owners: @crazycs520, @qw4990, @jackysp, @lzmhhh123, @disksing, @AndreMouche, @MyonKeminta, @winoros, @wshwsh12

cherry pick #23884 to release-5.1
  distsql/select_result.go
  metrics/metrics.go
  metrics/sli.go
  store/copr/coprocessor.go
  store/tikv/snapshot.go
  store/tikv/util/execdetails.go
  util/sli/sli.go
Owners: @crazycs520, @qw4990, @jackysp, @lzmhhh123, @disksing, @AndreMouche, @MyonKeminta, @winoros, @wshwsh12

done
  cmd/explaintest/r/cte.result
  cmd/explaintest/t/cte.test
  go.mod
  go.sum
Owners: @eurekaka, @rebelice

refine.
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/task.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Owners: @winoros, @rebelice, @hanfei1991, @morgo

fix new collation
  executor/analyze.go
  statistics/row_sampler.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @eurekaka

store/tikv: add and fix some metrics for the new retry logic (#25123) (#25212)
  metrics/grafana/tidb.json
  store/tikv/2pc.go
  store/tikv/metrics/metrics.go
  store/tikv/region_request.go
  store/tikv/retry/backoff.go
  store/tikv/txn.go
  store/tikv/util/execdetails.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Owners: @jackysp, @lzmhhh123, @disksing, @AndreMouche, @MyonKeminta, @winoros, @wshwsh12

fix no backoff
  store/tikv/error/error.go
  store/tikv/metrics/shortcuts.go
  store/tikv/region_request.go
  store/tikv/retry/config.go
Owners: @disksing, @AndreMouche, @MyonKeminta

planner/core: change agg cost factor (#25210) (#25242)
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/implementation/simple_plans.go
Owners: @winoros, @rebelice, @hanfei1991

expresssion: fix unstable time_vec_test (#25238)
  expression/bench_test.go
  expression/builtin_time_vec_test.go
Owners: @XuHuaiyu, @wjhuang2016

[dumpling] expresssion: fix unstable time_vec_test (#25238)
  dumpling/expression/bench_test.go
  dumpling/expression/builtin_time_vec_test.go
Owners: none

fixes and add tests
  executor/analyze_test.go
  statistics/row_sampler.go
  statistics/selectivity_test.go
  statistics/testdata/stats_suite_in.json
  statistics/testdata/stats_suite_out.json
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @eurekaka

[dumpling] server: fix test for clienterrors (#25278)
  dumpling/server/server_test.go
Owners: none

server: fix test for clienterrors (#25278)
  server/server_test.go
Owners: @coocood, @morgo

format
  executor/analyze.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

executor: add tablesample compatibility for temporary table (#25288)
  executor/builder.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] executor: add tablesample compatibility for temporary table (#25288)
  dumpling/executor/builder.go
  dumpling/executor/executor_test.go
Owners: none

add comments
  executor/analyze.go
  statistics/row_sampler.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @eurekaka

planner: disable mpp_outer_join_fixed_build_side by default (#25240) (#25286)
  executor/tiflash_test.go
  planner/core/testdata/integration_serial_suite_out.json
  sessionctx/variable/tidb_vars.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo

planner/core: remove the union branch with dual table. (#25218) (#25260)
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991
