Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

remove redundant code
  session/session.go
Owners: none

gc_worker: resolve locks on offline stores (#18383) (#18550)
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Owners: none

hide delete only partition when build partition table
  go.mod
  go.sum
  table/tables/partition.go
Owners: none

fix tidy
  go.sum
Owners: none

cherry pick #18437 to release-4.0 (#18562)
  store/tikv/client_batch.go
Owners: none

fix: fix judge :)
  ddl/db_test.go
  ddl/ddl_api.go
Owners: @pingcap/co-ddl

support mix collation in some function
  expression/builtin.go
  expression/collation.go
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

[dumpling] executor: return error from indexHashJoin worker to main thread (#18573)
  dumpling/executor/index_lookup_hash_join.go
  dumpling/executor/index_lookup_merge_join.go
  dumpling/executor/index_merge_reader.go
  dumpling/executor/join_test.go
Owners: none

executor: return error from indexHashJoin worker to main thread (#18573)
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/index_merge_reader.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

executor: return error from indexHashJoin worker to main thread (#18573)
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/index_merge_reader.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

cherry pick #18573 to release-4.0
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/index_merge_reader.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

session: add no register API for using TiDB as a library (#17513)
  config/config.go
  config/config.toml.example
  config/config_test.go
  domain/domain.go
  domain/infosync/info.go
  domain/infosync/info_test.go
Owners: @pingcap/co-ddl

fix wrong test
  expression/builtin.go
  expression/collation.go
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

executor: INLHJ worker return err to main thread (#18573) (#18586)
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/index_merge_reader.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

log: add `tidb_log_desensitization` global variable to control whether do desensitization when log query (#18578) (#18581)
  executor/adapter.go
  server/conn.go
  server/conn_stmt.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @pingcap/exec-reviewers

update latest sysutil
  go.mod
  go.sum
Owners: none

fix panic
  expression/collation.go
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

session: add no register API for using TiDB as a library (#17513) (#18587)
  config/config.go
  config/config.toml.example
  config/config_test.go
  domain/domain.go
  domain/infosync/info.go
  domain/infosync/info_test.go
Owners: @pingcap/co-ddl

metrics: add metrics for disconnections (#18441)
  metrics/metrics.go
  metrics/server.go
  server/conn.go
Owners: none

metrics: add metrics for disconnections (#18441)
  metrics/metrics.go
  metrics/server.go
  server/conn.go
Owners: none

[dumpling] metrics: add metrics for disconnections (#18441)
  dumpling/metrics/metrics.go
  dumpling/metrics/server.go
  dumpling/server/conn.go
Owners: none

drop table
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

telemetry: disable telemetry by default for non-community edition (#18524) (#18569)
  Makefile
  config/config.go
  config/config_test.go
  domain/infosync/info.go
  server/http_handler_test.go
  server/http_status.go
  server/server_test.go
  sessionctx/variable/sysvar.go
  util/printer/printer.go
  util/versioninfo/versioninfo.go
Owners: @pingcap/co-ddl

add test
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

planner: apply min-max eliminator on common handle columns
  executor/aggregate_test.go
  planner/core/rule_max_min_eliminate.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

reuse AccessPath.IsTablePath()
  planner/core/rule_max_min_eliminate.go
Owners: @pingcap/planner-reviewers

add test
  expression/integration_test.go
Owners: @pingcap/exec-reviewers

planner: support keep order for clustered index
  planner/core/find_best_task.go
Owners: @pingcap/planner-reviewers

ddl: remove limit of multi-partition drop
  ddl/ddl_api.go
  ddl/partition.go
Owners: @pingcap/co-ddl

util/execdetails: refactor execdetails information of runtime collect (#18530)
  executor/aggregate.go
  executor/distsql.go
  executor/executor.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/join.go
  executor/projection.go
  executor/shuffle.go
  executor/table_reader.go
  util/execdetails/execdetails.go
Owners: @pingcap/exec-reviewers

[dumpling] util/execdetails: refactor execdetails information of runtime collect (#18530)
  dumpling/executor/aggregate.go
  dumpling/executor/distsql.go
  dumpling/executor/executor.go
  dumpling/executor/index_lookup_hash_join.go
  dumpling/executor/index_lookup_join.go
  dumpling/executor/index_lookup_merge_join.go
  dumpling/executor/join.go
  dumpling/executor/projection.go
  dumpling/executor/shuffle.go
  dumpling/executor/table_reader.go
  dumpling/util/execdetails/execdetails.go
Owners: none

util/execdetails: refactor execdetails information of runtime collect (#18530)
  executor/aggregate.go
  executor/distsql.go
  executor/executor.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/join.go
  executor/projection.go
  executor/shuffle.go
  executor/table_reader.go
  util/execdetails/execdetails.go
Owners: @pingcap/exec-reviewers

cherry pick #18530 to release-4.0
  executor/aggregate.go
  executor/distsql.go
  executor/executor.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/join.go
  executor/projection.go
  executor/shuffle.go
  executor/table_reader.go
  util/execdetails/execdetails.go
Owners: @pingcap/exec-reviewers

[parser] parser: support `ALTER PARTITION` clause (#921)
  parser/ast/ddl.go
  parser/ast/ddl_test.go
  parser/misc.go
  parser/model/ddl.go
  parser/parser.y
  parser/parser_test.go
Owners: none

ddl: fix CI
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
Owners: @pingcap/co-ddl

coprocessor: Exceed action for copiterator (#17324) (#18392)
  executor/table_reader.go
  store/tikv/coprocessor.go
  util/memory/tracker.go
Owners: @pingcap/exec-reviewers

metrics: add disconnection_metrics
  metrics/grafana/tidb.json
Owners: none

done
  expression/errors.go
  expression/expression.go
Owners: @pingcap/exec-reviewers

fix conflict
  executor/join.go
  util/execdetails/execdetails.go
Owners: @pingcap/exec-reviewers

add comment
  planner/cascades/integration_test.go
Owners: @pingcap/planner-reviewers

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl
