Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

cherry pick #25429 to release-5.1
  store/tikv/snapshot.go
Owners: @disksing, @AndreMouche, @MyonKeminta

Update store/tikv/tests/client_fp_test.go
  store/tikv/tests/client_fp_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] planner: fix index join on unmatched collation suffix columns paniced (#24828)
  dumpling/expression/integration_test.go
  dumpling/planner/core/exhaust_physical_plans.go
Owners: none

planner: fix index join on unmatched collation suffix columns paniced (#24828)
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
Owners: @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991

cherry pick #24828 to release-5.1
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
Owners: @XuHuaiyu, @wjhuang2016, @winoros, @rebelice, @hanfei1991

txn: fix panic on duplicate insert on index column len longer than data len (#25414) (#25423)
  executor/ddl_test.go
  executor/insert_test.go
  store/driver/txn/error.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @disksing, @AndreMouche, @MyonKeminta

*: fix build
  executor/errors.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

Refacted way to set data for statements summary evicted
  executor/infoschema_reader.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: fix tests
  executor/grant_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

expression: empty CURRENT_ROLE
  expression/builtin_info.go
Owners: @XuHuaiyu, @wjhuang2016

[dumpling] executor: check the length of lookUpContent in prunePartitionForInnerExecutor (#25426)
  dumpling/executor/builder.go
  dumpling/executor/partition_table_test.go
Owners: none

executor: check the length of lookUpContent in prunePartitionForInnerExecutor (#25426)
  executor/builder.go
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25426 to release-5.1
  executor/builder.go
  executor/partition_table_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #25429 to release-5.1 (#25434)
  store/tikv/snapshot.go
Owners: @disksing, @AndreMouche, @MyonKeminta

fix: correct condition
  expression/builtin_info.go
Owners: @XuHuaiyu, @wjhuang2016

cleanup scripts
  .build.ps1
  Makefile
  tools/check/errcheck_excludes.txt
Owners: @zhuo-zhi

expression: test & vectorize
  expression/builtin_info.go
  expression/builtin_info_vec.go
  server/server_test.go
  server/tidb_test.go
Owners: @XuHuaiyu, @wjhuang2016, @coocood, @morgo

telemetry: fix panic caused by assign nil map (#25129)
  telemetry/data_slow_query.go
  telemetry/telemetry.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

telemetry: fix panic caused by assign nil map (#25129)
  telemetry/data_slow_query.go
  telemetry/telemetry.go
Owners: @breeswish, @lzmhhh123, @kaixu120811

fix: unstable test
  server/server_test.go
Owners: @coocood, @morgo

Update expression/builtin_info.go
  expression/builtin_info.go
Owners: @XuHuaiyu, @wjhuang2016

Update expression/builtin_info.go
  expression/builtin_info.go
Owners: @XuHuaiyu, @wjhuang2016

Update expression/builtin_info_vec.go
  expression/builtin_info_vec.go
Owners: @XuHuaiyu, @wjhuang2016

store/tikv: avoid using unistore failpoints (#25421)
  store/tikv/tests/async_commit_fail_test.go
  store/tikv/tests/async_commit_test.go
  store/tikv/tests/client_fp_test.go
  store/tikv/tests/snapshot_fail_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] store/tikv: avoid using unistore failpoints (#25421)
  dumpling/store/tikv/tests/async_commit_fail_test.go
  dumpling/store/tikv/tests/async_commit_test.go
  dumpling/store/tikv/tests/client_fp_test.go
  dumpling/store/tikv/tests/snapshot_fail_test.go
Owners: none

fix test
  infoschema/tables_test.go
Owners: @djshow832, @lysu

metric: fix wrong total-query-counter label (#25402)
  server/conn.go
Owners: @coocood, @morgo

[dumpling] metric: fix wrong total-query-counter label (#25402)
  dumpling/server/conn.go
Owners: none

cherry pick #25402 to release-4.0
  server/conn.go
Owners: @coocood, @morgo

cherry pick #25402 to release-5.0
  server/conn.go
Owners: @coocood, @morgo

cherry pick #25402 to release-5.1
  server/conn.go
Owners: @coocood, @morgo

store: avoid sessions of GC being affected by global variables (#24975)
  store/gcworker/gc_worker.go
Owners: @disksing, @AndreMouche, @MyonKeminta

[dumpling] store: avoid sessions of GC being affected by global variables (#24975)
  dumpling/store/gcworker/gc_worker.go
Owners: none

cherry pick #24975 to release-5.1
  store/gcworker/gc_worker.go
Owners: @disksing, @AndreMouche, @MyonKeminta

backoff when meets stale command
  store/tikv/region_request.go
Owners: @disksing, @AndreMouche, @MyonKeminta

remove useless grpc log
  util/logutil/log.go
Owners: @winoros, @wshwsh12

executor, planner: Allow ALTER USER to work on current user
  executor/simple.go
  planner/core/planbuilder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

use deepcopy to make init more safer
  util/logutil/log.go
  util/logutil/slow_query_logger.go
Owners: @winoros, @wshwsh12

fix null pointer
  util/logutil/log.go
Owners: @winoros, @wshwsh12

update for SYSTEM_USER privilege
  executor/executor_test.go
  executor/simple.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo
