Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers, @pingcap/co-ddl

.github/CODEOWNERS:

/distsql @pingcap/exec-reviewers
/executor @pingcap/exec-reviewers
/expression @pingcap/exec-reviewers
/types @pingcap/exec-reviewers
/util/chunk @pingcap/exec-reviewers
/util/disk @pingcap/exec-reviewers
/util/execdetails @pingcap/exec-reviewers
/util/expensivequery @pingcap/exec-reviewers
/util/filesort @pingcap/exec-reviewers
/util/memory @pingcap/exec-reviewers
/util/sqlexec @pingcap/exec-reviewers

/planner @pingcap/planner-reviewers
/statistics @pingcap/planner-reviewers
/util/ranger @pingcap/planner-reviewers
/util/plancodec @pingcap/planner-reviewers
/bindinfo @pingcap/planner-reviewers

/ddl @pingcap/co-ddl
/domain @pingcap/co-ddl
/infoschema @pingcap/co-ddl
/meta @pingcap/co-ddl
/owner @pingcap/co-ddl

[dumpling] executor: make the format of the DB field in slow logs be compatible with MySQL (#18389)
  dumpling/executor/simple.go
  dumpling/executor/slow_query.go
  dumpling/executor/slow_query_test.go
  dumpling/sessionctx/variable/session.go
  dumpling/sessionctx/variable/session_test.go
Owners: none

executor: make the format of the DB field in slow logs be compatible with MySQL (#18389)
  executor/simple.go
  executor/slow_query.go
  executor/slow_query_test.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Owners: @pingcap/exec-reviewers

executor: make the format of the DB field in slow logs be compatible with MySQL (#18389)
  executor/simple.go
  executor/slow_query.go
  executor/slow_query_test.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Owners: @pingcap/exec-reviewers

cherry pick #18389 to release-4.0
  executor/simple.go
  executor/slow_query.go
  executor/slow_query_test.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Owners: @pingcap/exec-reviewers

refine tests
  store/mockstore/mocktikv/rpc.go
  store/tikv/batch_coprocessor_test.go
  store/tikv/tikvrpc/tikvrpc.go
Owners: none

fix
  store/mockstore/mocktikv/rpc.go
Owners: none

fix
  store/mockstore/mocktikv/rpc.go
Owners: none

cherry pick #18457 to release-4.0
  executor/set.go
Owners: @pingcap/exec-reviewers

executor: add deprecation warning for hash_join_concurrency (#18453)
  executor/set_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
Owners: @pingcap/exec-reviewers

executor: add deprecation warning for hash_join_concurrency (#18453)
  executor/set_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
Owners: @pingcap/exec-reviewers

[dumpling] executor: add deprecation warning for hash_join_concurrency (#18453)
  dumpling/executor/set_test.go
  dumpling/session/session.go
  dumpling/sessionctx/variable/session.go
  dumpling/sessionctx/variable/varsutil.go
Owners: none

refine codes
  store/mockstore/mocktikv/rpc.go
  store/tikv/batch_coprocessor_test.go
  store/tikv/tikvrpc/tikvrpc.go
Owners: none

done
  expression/integration_test.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/point_get_plan.go
  planner/core/task.go
Owners: @pingcap/exec-reviewers, @pingcap/planner-reviewers

solve conflcts
  executor/executor_test.go
  server/conn.go
  session/pessimistic_test.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

update test
  executor/executor_test.go
Owners: @pingcap/exec-reviewers

address comment
  executor/index_lookup_merge_join.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

address comment
  executor/join_test.go
Owners: @pingcap/exec-reviewers

update test
  executor/executor_test.go
Owners: @pingcap/exec-reviewers

fix ci
  executor/join_test.go
Owners: @pingcap/exec-reviewers

config: enable collect execution information by default (#18415)
  config/config.go
  distsql/select_result.go
  infoschema/tables_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl

[dumpling] config: enable collect execution information by default (#18415)
  dumpling/config/config.go
  dumpling/distsql/select_result.go
  dumpling/infoschema/tables_test.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/tidb_vars.go
Owners: none

config: enable collect execution information by default (#18415)
  config/config.go
  distsql/select_result.go
  infoschema/tables_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl

cherry pick #18415 to release-4.0
  config/config.go
  distsql/select_result.go
  infoschema/tables_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: @pingcap/exec-reviewers, @pingcap/co-ddl

solve conflicts
  distsql/select_result.go
  executor/executor.go
  executor/executor_test.go
  server/conn.go
  session/pessimistic_test.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Owners: @pingcap/exec-reviewers

init
  executor/point_get.go
  kv/kv.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
  store/tikv/snapshot.go
  util/execdetails/execdetails.go
Owners: @pingcap/exec-reviewers

fix Test failed case from PR/18277 (#18504)
  executor/executor_test.go
Owners: @pingcap/exec-reviewers

[dumpling] fix Test failed case from PR/18277 (#18504)
  dumpling/executor/executor_test.go
Owners: none

fix Test failed case from PR/18277 (#18504)
  executor/executor_test.go
Owners: @pingcap/exec-reviewers

clean code
  server/server.go
Owners: none

clean code
  server/server.go
Owners: none

fix conflict
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Owners: none

clean code
  server/server.go
Owners: none

executor, planner: support split table regions on clustered index (#18465)
  ddl/index.go
  executor/builder.go
  executor/executor_test.go
  executor/split.go
  executor/split_test.go
  planner/core/handle_cols.go
  planner/core/planbuilder.go
  store/tikv/split_region.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers, @pingcap/planner-reviewers

executor, planner: support split table regions on clustered index (#18465)
  ddl/index.go
  executor/builder.go
  executor/executor_test.go
  executor/split.go
  executor/split_test.go
  planner/core/handle_cols.go
  planner/core/planbuilder.go
  store/tikv/split_region.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers, @pingcap/planner-reviewers

[dumpling] executor, planner: support split table regions on clustered index (#18465)
  dumpling/ddl/index.go
  dumpling/executor/builder.go
  dumpling/executor/executor_test.go
  dumpling/executor/split.go
  dumpling/executor/split_test.go
  dumpling/planner/core/handle_cols.go
  dumpling/planner/core/planbuilder.go
  dumpling/store/tikv/split_region.go
Owners: none

sessionctx, executor: add session var to control explicit insertion on auto_random column (#17102) (#18508)
  ddl/serial_test.go
  executor/ddl_test.go
  executor/insert_common.go
  executor/insert_test.go
  executor/show_test.go
  go.sum
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Owners: @pingcap/co-ddl, @pingcap/exec-reviewers

readat还是有点问题，明天再写
  util/chunk/checksum.go
  util/chunk/disk.go
  util/chunk/disk_test.go
Owners: @pingcap/exec-reviewers

fix ci
  executor/join_test.go
Owners: @pingcap/exec-reviewers

executor: return error when recover indexHash/MergeJoin worker (#18509)
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/join_test.go
Owners: @pingcap/exec-reviewers

[dumpling] executor: return error when recover indexHash/MergeJoin worker (#18509)
  dumpling/executor/index_lookup_hash_join.go
  dumpling/executor/index_lookup_merge_join.go
  dumpling/executor/join_test.go
Owners: none
