Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12

types: add benchmark for MyDecimal.ToFloat64()
  types/mydecimal_benchmark_test.go
Owners: @XuHuaiyu, @guo-shaoge

fix ci
  ddl/column_test.go
  ddl/column_type_change_test.go
  sessionctx/variable/tidb_vars.go
Owners: @zimulala, @tiancaiamao, @morgo

typo fix
  util/stmtsummary/evicted.go
  util/stmtsummary/statement_summary.go
Owners: @winoros, @wshwsh12

[dumpling] executor: add history read compatibility for temporary table (#25237)
  dumpling/executor/builder.go
  dumpling/executor/executor_test.go
  dumpling/executor/point_get.go
  dumpling/executor/stale_txn_test.go
Owners: none

executor: add history read compatibility for temporary table (#25237)
  executor/builder.go
  executor/executor_test.go
  executor/point_get.go
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: update kvrpcpb to not use abbreviations (#25265)
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
  session/schema_amender.go
  store/tikv/2pc.go
  store/tikv/cleanup.go
  store/tikv/commit.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/test_probe.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/prewrite_test.go
  store/tikv/tests/snapshot_test.go
  store/tikv/tests/store_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @disksing, @AndreMouche, @MyonKeminta

[dumpling] *: update kvrpcpb to not use abbreviations (#25265)
  dumpling/executor/executor_test.go
  dumpling/executor/seqtest/seq_executor_test.go
  dumpling/session/schema_amender.go
  dumpling/store/tikv/2pc.go
  dumpling/store/tikv/cleanup.go
  dumpling/store/tikv/commit.go
  dumpling/store/tikv/pessimistic.go
  dumpling/store/tikv/prewrite.go
  dumpling/store/tikv/scan.go
  dumpling/store/tikv/snapshot.go
  dumpling/store/tikv/test_probe.go
  dumpling/store/tikv/tests/2pc_test.go
  dumpling/store/tikv/tests/prewrite_test.go
  dumpling/store/tikv/tests/snapshot_test.go
  dumpling/store/tikv/tests/store_test.go
Owners: none

executor: add tablesample compatibility for temporary table
  executor/builder.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix error message
  executor/builder.go
  executor/executor_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

planner: fix wrong aggregate pruning for some cases
  planner/core/rule_column_pruning.go
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Owners: @winoros, @rebelice, @hanfei1991

planner: solve an incompatible issue about dynamic-mode and TiFlash and enable dynamic mode by default (#25255) (#25262)
  distsql/select_result.go
  executor/builder.go
  executor/partition_table_test.go
  executor/table_reader.go
  session/bootstrap.go
  sessionctx/variable/sysvar.go
Owners: @crazycs520, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao, @morgo

[dumpling] store/tikv: cleanup dependency (#25283)
  dumpling/store/tikv/tikv_test.go
Owners: none

store/tikv: cleanup dependency (#25283)
  store/tikv/tikv_test.go
Owners: @disksing, @AndreMouche, @MyonKeminta

tests: use pingcap/errors to replace juju/errors
  tests/globalkilltest/global_kill_test.go
  tests/globalkilltest/go.mod
  tests/globalkilltest/go.sum
Owners: @ichn-hu

hide top sql variable in show variable statement
  executor/set_test.go
  sessionctx/variable/sysvar.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @morgo

change tidb_top_sql_max_statement_count default value from 200 to 2000
  sessionctx/variable/tidb_vars.go
Owners: @morgo

store/tikv: address comments && fix failpoints
  executor/executor_test.go
  executor/stale_txn_test.go
  server/conn_test.go
  session/session_fail_test.go
  store/gcworker/gc_worker.go
  store/gcworker/gc_worker_test.go
  store/tikv/locate/region_cache.go
  store/tikv/locate/region_request_test.go
  store/tikv/region.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/async_commit_fail_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @coocood, @morgo, @cfzjywxk, @tiancaiamao, @disksing, @AndreMouche, @MyonKeminta

fix panic
  executor/stale_txn_test.go
  session/txn.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao

check filter condition in func convertToPartialTableScan
  executor/index_merge_reader_test.go
  planner/core/find_best_task.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

test virtual columns
  ddl/serial_test.go
  planner/core/preprocess.go
Owners: @zimulala, @tiancaiamao, @winoros, @rebelice, @hanfei1991

types: fixed threshold & add wikipedia reference
  types/mydecimal.go
Owners: @XuHuaiyu, @guo-shaoge

types: optimize MyDecimal.ToFloat64
  types/mydecimal.go
Owners: @XuHuaiyu, @guo-shaoge

cherry pick #24513 to release-5.0
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/tables.go
  infoschema/tables_test.go
  util/kvcache/simple_lru.go
  util/kvcache/simple_lru_test.go
  util/stmtsummary/evicted.go
  util/stmtsummary/evicted_test.go
  util/stmtsummary/statement_summary.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @djshow832, @winoros

cherry pick #24513 to release-4.0
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/tables.go
  infoschema/tables_test.go
  util/kvcache/simple_lru.go
  util/kvcache/simple_lru_test.go
  util/stmtsummary/evicted.go
  util/stmtsummary/evicted_test.go
  util/stmtsummary/statement_summary.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @djshow832, @winoros

address the comment
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

cherry pick #24242 to release-5.1
  util/kvcache/simple_lru_test.go
Owners: @winoros, @wshwsh12

cherry pick #24242 to release-4.0
  util/kvcache/simple_lru.go
  util/kvcache/simple_lru_test.go
Owners: @winoros, @wshwsh12

cherry pick #24242 to release-5.0
  util/kvcache/simple_lru.go
  util/kvcache/simple_lru_test.go
Owners: @winoros, @wshwsh12

add test cases for TopSQL agent
  server/tidb_test.go
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter_test.go
  util/topsql/topsql_test.go
Owners: @coocood, @morgo, @winoros, @wshwsh12

rename variables
  server/tidb_test.go
Owners: @coocood, @morgo

fix format
  server/tidb_test.go
Owners: @coocood, @morgo

*: support dynamic timestamp
  executor/adapter.go
  executor/builder.go
  executor/compiler.go
  executor/prepared.go
  executor/stale_txn_test.go
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/preprocess.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

*: stale reads compatible with prepare
  executor/adapter.go
  executor/benchmark_test.go
  executor/builder.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  executor/prepared.go
  executor/stale_txn_test.go
  planner/core/cache.go
  planner/core/common_plans.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

*: fix tests
  executor/seqtest/prepared_test.go
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: if schema changes, should re-preprocess
  planner/core/common_plans.go
Owners: @winoros, @rebelice, @hanfei1991

*: tweak tolerance
  executor/stale_txn_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

*: fix tests
  executor/seqtest/prepared_test.go
  planner/core/common_plans.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

*: fix comment
  planner/core/common_plans.go
  session/session.go
Owners: @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

*: rename to SnapshotTSEvaluator
  executor/prepared.go
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/preprocess.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @cfzjywxk, @tiancaiamao

*: fix fmt and refine
  planner/core/preprocess.go
Owners: @winoros, @rebelice, @hanfei1991
