Repository pingcap/tidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rebelice, @eurekaka, @tiancaiamao, @qw4990, @zimulala, @crazycs520, @zz-jason, @bb7133, @lysu, @xhebox, @morgo, @tangenta, @XuHuaiyu, @wshwsh12, @ichn-hu, @wjhuang2016, @djshow832, @disksing, @AndreMouche, @AilinKid, @jackysp, @lzmhhh123, @winoros, @hanfei1991, @coocood, @cfzjywxk, @MyonKeminta, @breeswish, @kaixu120811, @zhuo-zhi, @guo-shaoge

cherry pick #25336 to release-5.0
  executor/tiflash_test.go
  planner/core/rule_inject_extra_projection.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

cherry pick #25336 to release-5.1
  executor/tiflash_test.go
  planner/core/rule_inject_extra_projection.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991

minor update
  tools/check/errcheck_excludes.txt
Owners: @zhuo-zhi

fix test
  executor/tiflash_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

[dumpling] util: improve TopSQL reporter memory efficiency (#25195)
  dumpling/domain/domain.go
  dumpling/domain/sysvar_cache.go
  dumpling/executor/set_test.go
  dumpling/server/tidb_test.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/tidb_vars.go
  dumpling/tidb-server/main.go
  dumpling/util/topsql/reporter/client.go
  dumpling/util/topsql/reporter/mock/server.go
  dumpling/util/topsql/reporter/reporter.go
  dumpling/util/topsql/reporter/reporter_test.go
  dumpling/util/topsql/topsql.go
  dumpling/util/topsql/topsql_test.go
  dumpling/util/topsql/tracecpu/mock/mock.go
Owners: none

util: improve TopSQL reporter memory efficiency (#25195)
  domain/domain.go
  domain/sysvar_cache.go
  executor/set_test.go
  server/tidb_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/topsql/reporter/client.go
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter.go
  util/topsql/reporter/reporter_test.go
  util/topsql/topsql.go
  util/topsql/topsql_test.go
  util/topsql/tracecpu/mock/mock.go
Owners: @lysu, @xhebox, @XuHuaiyu, @wshwsh12, @ichn-hu, @coocood, @morgo, @crazycs520, @winoros

fix autoid
  ddl/ddl_api.go
Owners: @zimulala, @tiancaiamao

cherry pick #25195 to release-5.1
  domain/domain.go
  domain/sysvar_cache.go
  executor/set_test.go
  server/tidb_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/topsql/reporter/client.go
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter.go
  util/topsql/reporter/reporter_test.go
  util/topsql/topsql.go
  util/topsql/topsql_test.go
  util/topsql/tracecpu/mock/mock.go
Owners: @lysu, @xhebox, @XuHuaiyu, @wshwsh12, @ichn-hu, @coocood, @morgo, @crazycs520, @winoros

fix audit panic
  server/server.go
Owners: @coocood, @morgo

ddl: tidb panic while query hash partition table with is null condition (#23849) (#25228)
  planner/core/integration_test.go
  planner/core/rule_partition_processor.go
Owners: @winoros, @rebelice, @hanfei1991

fix autoid
  meta/autoid/autoid.go
Owners: @tangenta, @AilinKid

store: fix region request have no backoff in some retry situation (#25310) (#25324)
  store/tikv/error/error.go
  store/tikv/metrics/shortcuts.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/retry/config.go
Owners: @disksing, @AndreMouche, @MyonKeminta

resolve conflict
  executor/adapter.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

init
  executor/adapter.go
  metrics/server.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @cfzjywxk, @tiancaiamao, @qw4990

add isTiflash store
  executor/builder.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

types: modify comment
  types/mydecimal.go
Owners: @XuHuaiyu, @guo-shaoge

fix bug
  executor/adapter.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

fix bug
  executor/adapter.go
  session/tidb.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @cfzjywxk, @tiancaiamao

impl changes in kvcache; fix tables
  executor/infoschema_reader.go
  infoschema/tables.go
  util/kvcache/simple_lru.go
  util/kvcache/simple_lru_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @djshow832, @winoros

metrics: Add err label for TiFlashQueryTotalCounter (#25317) (#25328)
  executor/adapter.go
  metrics/server.go
  server/conn.go
  session/session.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @jackysp, @lzmhhh123, @coocood, @morgo, @cfzjywxk, @tiancaiamao

trivial change
  docs/design/2021-04-18-common-table-expression.md
Owners: @zz-jason, @bb7133

fix typos
  docs/design/2021-04-18-common-table-expression.md
Owners: @zz-jason, @bb7133

docs/design: add proposal for common table expression
  docs/design/2021-04-18-common-table-expression.md
Owners: @zz-jason, @bb7133

trivial change
  docs/design/2021-04-18-common-table-expression.md
Owners: @zz-jason, @bb7133

trivial change
  docs/design/2021-04-18-common-table-expression.md
Owners: @zz-jason, @bb7133

add images
  docs/design/imgs/cte_computation.png
  docs/design/imgs/executors.png
  docs/design/imgs/logical_plan.png
  docs/design/imgs/physical_plan.png
Owners: @zz-jason, @bb7133

fix spelling
  docs/design/2021-04-18-common-table-expression.md
Owners: @zz-jason, @bb7133

modify according to comments
  docs/design/2021-04-18-common-table-expression.md
Owners: @zz-jason, @bb7133

TempTable -> CTETable
  docs/design/2021-04-18-common-table-expression.md
  docs/design/imgs/cte_computation.png
  docs/design/imgs/executors.png
  docs/design/imgs/logical_plan.png
  docs/design/imgs/physical_plan.png
Owners: @zz-jason, @bb7133

[dumpling] types: optimize MyDecimal.ToFloat64 (#25229)
  dumpling/types/mydecimal.go
  dumpling/types/mydecimal_benchmark_test.go
  dumpling/types/mydecimal_test.go
Owners: none

types: optimize MyDecimal.ToFloat64 (#25229)
  types/mydecimal.go
  types/mydecimal_benchmark_test.go
  types/mydecimal_test.go
Owners: @XuHuaiyu, @guo-shaoge

disable test
  session/session_test.go
Owners: @cfzjywxk, @tiancaiamao

fix tables and infoschema_reader; fix kvcache
  executor/infoschema_reader.go
  infoschema/tables.go
  util/kvcache/simple_lru.go
  util/kvcache/simple_lru_test.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @djshow832, @winoros

add config, remove global.
  config/config.go
  sessionctx/variable/sysvar.go
  tidb-server/main.go
Owners: @tiancaiamao, @qw4990, @morgo, @coocood, @crazycs520

util: improve TopSQL reporter memory efficiency (#25195) (#25363)
  domain/domain.go
  domain/sysvar_cache.go
  executor/set_test.go
  server/tidb_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/topsql/reporter/client.go
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter.go
  util/topsql/reporter/reporter_test.go
  util/topsql/topsql.go
  util/topsql/topsql_test.go
  util/topsql/tracecpu/mock/mock.go
Owners: @lysu, @xhebox, @XuHuaiyu, @wshwsh12, @ichn-hu, @coocood, @morgo, @crazycs520, @winoros

planner: Revert `tidb_allow_mpp` modification for downgrade compatibility and add warnings for enforce mpp. (#25302) (#25353)
  config/config.go
  executor/tiflash_test.go
  planner/core/enforce_mpp_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_in.json
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/property/physical_property.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
Owners: @tiancaiamao, @qw4990, @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu, @winoros, @rebelice, @hanfei1991, @morgo, @coocood, @crazycs520

update doc
  docs/design/2021-04-18-common-table-expression.md
  docs/design/imgs/cte_computation.png
  docs/design/imgs/logical_plan.png
  docs/design/imgs/physical_plan.png
Owners: @zz-jason, @bb7133

unspilled
  executor/builder.go
  executor/executor.go
  executor/spilledAggregate.go
Owners: @lysu, @XuHuaiyu, @wshwsh12, @ichn-hu

add config, remove global.
  config/config.go
  sessionctx/variable/sysvar.go
  tidb-server/main.go
Owners: @tiancaiamao, @qw4990, @morgo, @coocood, @crazycs520

update imgs
  docs/design/2021-04-18-common-table-expression.md
  docs/design/imgs/physical_plan.png
Owners: @zz-jason, @bb7133

.github/CODEOWNERS:

/bindinfo @rebelice
/cmd @eurekaka @rebelice
/config @tiancaiamao @qw4990
/ddl @zimulala @tiancaiamao
/distsql @crazycs520 @qw4990
/docs @zz-jason @bb7133
/domain @lysu @xhebox
/errno @morgo @tangenta
/executor @lysu @XuHuaiyu @wshwsh12 @ichn-hu
/expression @XuHuaiyu @wjhuang2016
/infoschema @djshow832 @lysu
/kv @disksing @AndreMouche
/lock @crazycs520
/meta @tangenta @AilinKid
/metrics @jackysp @lzmhhh123
/owner @zimulala @wjhuang2016
/planner @winoros @rebelice @hanfei1991 
/plugin @lysu
/privilege @morgo
/server @coocood @morgo
/session @cfzjywxk @tiancaiamao
/sessionctx @qw4990
/sessionctx/variable @morgo
/statistics @winoros @eurekaka
/store @disksing @AndreMouche @MyonKeminta
/structure @zimulala
/table @wjhuang2016
/tablecodec @tangenta
/telemetry @breeswish @lzmhhh123 @kaixu120811
/tests @ichn-hu
/tidb-server @coocood @crazycs520
/tools @zhuo-zhi
/types @XuHuaiyu @guo-shaoge
/util @winoros @wshwsh12
