Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: component/expression, sig/planner, component/statistics, sig/sql-infra, component/config, sig/migrate

.github/labeler.yml:

sig/execution:
  - any:
      - distsql/*
      - executor/*
      - util/chunk/*
      - util/disk/*
      - util/execdetails/*
      - util/expensivequery/*
      - util/filesort/*
      - util/memory/*
      - util/sqlexec/*
  - all:
      - "!executor/brie*"

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/sql-infra:
  - ddl/*
  - domain/*
  - infoschema/*
  - session/*
  - server/*
  - privilege/*
  - plugin/*
  - config/*
  - meta/*
  - owner/*

component/config:
  - config/*

sig/migrate:
  - executor/brie*

NominalSort
  planner/core/physical_plans.go
Labels: none

lint
  expression/builtin_regexp.go
Labels: component/expression

test without padding
  util/chunk/row_container.go
Labels: none

parser: correctly escape placement options (#37606) (#37646)
  parser/model/model.go
  parser/model/model_test.go
Labels: none

revert job == 0
  ddl/reorg.go
Labels: sig/sql-infra

add test for concurrent insert child table
  executor/foreign_key.go
  executor/foreign_key_test.go
Labels: none

Revert "test without padding"
  util/chunk/row_container.go
Labels: none

Update br/pkg/restore/data.go
  br/pkg/restore/data.go
Labels: none

Update br/pkg/restore/data.go
  br/pkg/restore/data.go
Labels: none

Improve compatibility
  server/conn.go
Labels: sig/sql-infra

parser: correctly escape placement options (#37606) (#37644)
  parser/model/model.go
  parser/model/model_test.go
Labels: none

parser: correctly escape placement options (#37606) (#37645)
  parser/model/model.go
  parser/model/model_test.go
Labels: none

config: mark log.expensive-threshold as deprecated
  config/config.go
  config/config.toml.example
  config/config_test.go
Labels: sig/sql-infra, component/config

tweaking
  build/linter/unconvert/analysis.go
Labels: none

*: refine github golang version
  .github/integration-test-dumpling-base.yml
  .github/workflows/integration-test-br-compatibility.yml
  .github/workflows/integration-test-compile-br.yml
  .github/workflows/integration-test-dumpling.yml
  go.mod
Labels: none

executor: let plan replayer support load bindings (#37637)
  executor/plan_replayer.go
Labels: none

done
  ddl/ddl_worker.go
  ddl/job_table.go
Labels: sig/sql-infra

*: trigger BR workflow too
  br/README.md
Labels: none

refine
  ddl/job_table.go
Labels: sig/sql-infra

*: trigger BR workflow too
  br/README.md
  br/revive.toml
Labels: none

CIStr
  parser/model/model.go
Labels: none

CIStr
  parser/model/model.go
Labels: none

change var name to tidb_opt_force_inline_cte
  executor/set_test.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: none

Fix UT
  server/conn_test.go
Labels: sig/sql-infra

ddl: Delete TiFlash sync status from etcd when table is truncated or dropped (#37184)
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: sig/sql-infra

ddl: expose BuildTableInfoWithStmt
  ddl/ddl_api.go
Labels: sig/sql-infra

Add more tests
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: none

cherry pick #37184 to release-4.0
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: sig/sql-infra

cherry pick #37184 to release-5.0
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: sig/sql-infra

fix code format
  planner/core/logical_plan_builder.go
Labels: none

cherry pick #37184 to release-5.1
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: sig/sql-infra

cherry pick #37184 to release-5.2
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: sig/sql-infra

cherry pick #37184 to release-5.3
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: sig/sql-infra

cherry pick #37184 to release-5.4
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: sig/sql-infra

remove spawnAddIndexWorker
  ddl/backfilling.go
  ddl/column.go
  ddl/failtest/fail_db_test.go
  ddl/index.go
  ddl/index_lightning.go
  ddl/reorg.go
  metrics/ddl.go
Labels: sig/sql-infra

cherry pick #37184 to release-6.0
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: sig/sql-infra

linter: fix unconvert output
  br/pkg/task/stream.go
Labels: none

linter: fix unconvert output
  build/linter/unconvert/BUILD.bazel
  build/linter/unconvert/analysis.go
  domain/BUILD.bazel
  planner/core/BUILD.bazel
Labels: sig/sql-infra

linter
  go.mod
  go.sum
Labels: none

linter: fix unconvert output
  build/linter/unconvert/analysis.go
Labels: none
