Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

session: add encoded plan cache to avoid repeated encode plan when recording slow-log and statement (#21139)
  executor/adapter.go
  infoschema/tables_test.go
  sessionctx/stmtctx/stmtctx.go
Labels: sig/execution, sig/DDL

[dumpling] session: add encoded plan cache to avoid repeated encode plan when recording slow-log and statement (#21139)
  dumpling/executor/adapter.go
  dumpling/infoschema/tables_test.go
  dumpling/sessionctx/stmtctx/stmtctx.go
Labels: none

cherry pick #21139 to release-4.0
  executor/adapter.go
  infoschema/tables_test.go
  sessionctx/stmtctx/stmtctx.go
Labels: sig/execution, sig/DDL

fix
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: sig/DDL

[dumpling] executor: fix bug when parsing the slow logs if the logNum is small (#20959)
  dumpling/executor/slow_query.go
  dumpling/executor/slow_query_test.go
Labels: none

executor: fix bug when parsing the slow logs if the logNum is small (#20959)
  executor/slow_query.go
  executor/slow_query_test.go
Labels: sig/execution

executor: fix bug when parsing the slow logs if the logNum is small (#20959)
  executor/slow_query.go
  executor/slow_query_test.go
Labels: sig/execution

fix least/greatest tests
  expression/builtin_compare.go
  expression/builtin_compare_test.go
  expression/integration_test.go
  go.sum
Labels: component/expression

Update parser
  go.mod
  go.sum
Labels: none

cherry pick #20959 to release-4.0
  executor/slow_query.go
  executor/slow_query_test.go
Labels: sig/execution

go.mod, bindinfo: update parser to fix issue19836
  bindinfo/bind_test.go
  go.mod
  go.sum
Labels: sig/planner

add type CorrelatedColumn.
  planner/core/rule_eliminate_projection.go
Labels: none

[parser] restore: make restore sql contains charset information even default charset (#1012)
  parser/ast/ddl_test.go
  parser/ast/dml_test.go
  parser/ast/expressions_test.go
  parser/ast/functions_test.go
  parser/parser.y
  parser/parser_test.go
  parser/test_driver/test_driver.go
Labels: none

fix
  planner/core/exhaust_physical_plans.go
Labels: none

go.mod: update parser
  go.mod
  go.sum
Labels: none

address comment
  planner/core/exhaust_physical_plans.go
Labels: none

[dumpling] domain, kv: release table which was unlocked (#21180)
  dumpling/domain/schema_validator.go
  dumpling/kv/cachedb.go
Labels: none

domain, kv: release table which was unlocked (#21180)
  domain/schema_validator.go
  kv/cachedb.go
Labels: sig/DDL

domain, kv: release table which was unlocked (#21180)
  domain/schema_validator.go
  kv/cachedb.go
Labels: sig/DDL

clean
  planner/core/exhaust_physical_plans.go
Labels: none

update integration_test
  errno/errcode.go
  errno/errname.go
  planner/core/errors.go
  planner/core/integration_test.go
Labels: none

planner: check for only_full_group_by in ORDER BY and HAVING
  errno/errcode.go
  errno/errname.go
  planner/core/errors.go
  planner/core/logical_plan_builder.go
Labels: none

Remove parameter from getSnapshotTS
  executor/builder.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/point_get.go
Labels: sig/execution

update errors.toml
  errors.toml
Labels: none

fix between's unit tests
  expression/builtin_compare.go
  planner/core/expression_test.go
Labels: component/expression

expression: fix compatibility behaviors in zero datetime with MySQL
  expression/builtin_time.go
  expression/builtin_time_test.go
Labels: component/expression

fix
  expression/builtin_time.go
Labels: component/expression

only affects auto-commit UPDATE
  table/tables/tables.go
  table/tables/tables_test.go
Labels: none

[dumpling] table/tables: make the test case more stable (#21117)
  dumpling/table/tables/tables_test.go
Labels: none

table/tables: make the test case more stable (#21117)
  table/tables/tables_test.go
Labels: none

table/tables: make the test case more stable (#21117)
  table/tables/tables_test.go
Labels: none

ddl, planner: make partition table consider collation in create table and select sentence (#20937) (#21181)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
  planner/core/partition_pruning_test.go
  planner/core/rule_partition_processor.go
Labels: sig/DDL

[dumpling] planner: make index-hash-join and index-merge-join consider collation (#21201)
  dumpling/expression/integration_test.go
  dumpling/planner/core/exhaust_physical_plans.go
  dumpling/planner/core/exhaust_physical_plans_test.go
Labels: none

planner: make index-hash-join and index-merge-join consider collation (#21201)
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
Labels: component/expression

planner: make index-hash-join and index-merge-join consider collation (#21201)
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
Labels: component/expression

cherry pick #21201 to release-4.0
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
Labels: component/expression

fix
  executor/executor_test.go
  expression/builtin_time.go
  expression/builtin_time_test.go
Labels: sig/execution, component/expression

modify unit test
  table/tables/tables_test.go
Labels: none

remove fmt.print
  executor/executor_test.go
Labels: sig/execution

resolve conflicts
  executor/errors.go
Labels: sig/execution

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*
