Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: component/expression, sig/planner, component/statistics, sig/sql-infra, component/config, sig/migrate

br: fix comments & compile (#37642)
  Makefile
  br/cmd/br/restore.go
  br/pkg/task/restore_data.go
  go.sum
Labels: none

parser: correctly escape placement options (#37606)
  parser/model/model.go
  parser/model/model_test.go
Labels: none

Update field_type.go
  parser/types/field_type.go
Labels: none

another missed check of printable characters
  ddl/partition.go
Labels: sig/sql-infra

cherry pick #37606 to release-5.3
  parser/model/model.go
  parser/model/model_test.go
Labels: none

cherry pick #37606 to release-5.4
  parser/model/model.go
  parser/model/model_test.go
Labels: none

util: use channel.Clear to empty channel
  executor/join.go
Labels: none

cherry pick #37606 to release-6.1
  parser/model/model.go
  parser/model/model_test.go
Labels: none

*: flashback support send RPC
  ddl/cluster.go
  go.mod
  go.sum
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  statistics/handle/ddl.go
Labels: sig/sql-infra

change
  Makefile
  build-lightning-image.sh
  lightning-docker/Dockerfile.lightning
  lightning-pod.yaml
Labels: none

update client-go
  go.mod
  go.sum
Labels: none

remove inappropriate comments
  expression/builtin_regexp.go
Labels: component/expression

Update executor/builder.go
  executor/builder.go
Labels: none

merge json and types pkg
  types/json_binary.go
Labels: component/expression

update bazel
  DEPS.bzl
Labels: none

util: use channel.Clear to empty channel (#37643)
  executor/distsql.go
  executor/executor.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/join.go
  executor/shuffle.go
  sessiontxn/BUILD.bazel
  util/channel/channel.go
Labels: none

fix bazel
  DEPS.bzl
  br/pkg/aws/BUILD.bazel
  br/pkg/config/BUILD.bazel
  br/pkg/restore/BUILD.bazel
  br/pkg/task/BUILD.bazel
  planner/core/BUILD.bazel
  sessiontxn/BUILD.bazel
Labels: none

add range fallback test for plan cache
  planner/core/integration_test.go
  sessionctx/stmtctx/stmtctx.go
  util/ranger/detacher.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
Labels: sig/planner

fix lint
  errors.toml
Labels: none

fix lint
  br/pkg/config/BUILD.bazel
Labels: none

done
  ddl/ddl_worker.go
  ddl/job_table.go
  ddl/syncer/syncer.go
  ddl/util/util.go
  domain/infosync/info.go
  infoschema/infoschema.go
  planner/core/BUILD.bazel
  telemetry/BUILD.bazel
Labels: sig/sql-infra

done
  ddl/job_table.go
  session/session.go
Labels: sig/sql-infra

store: sets flagPreviousPresumeKNE after when a stmt finishes which sets Pre… (#37625)
  DEPS.bzl
  docs/design/2022-08-04-pessimistic-lazy-constraint-check.md
  go.mod
  go.sum
  kv/keyflags.go
  kv/kv.go
  session/txn.go
  store/driver/txn/unionstore_driver.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: sig/sql-infra

fix lint
  br/pkg/config/BUILD.bazel
  br/pkg/pdutil/pd.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/data.go
  go.mod
Labels: none

add test and refine test
  executor/foreign_key_test.go
Labels: none

change API
  br/pkg/lightning/common/security.go
  br/pkg/lightning/config/config.go
  dumpling/export/config.go
  go.mod
  util/security.go
  util/security_test.go
Labels: none

ddl: reduce code duplication
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl_workerpool_test.go
  ddl/index.go
  ddl/index_lightning.go
  ddl/index_lightning_test.go
  ddl/ingest/engine_mgr.go
  ddl/reorg.go
  tests/realtikvtest/addindextest/common.go
  tests/realtikvtest/addindextest/failpoint_test.go
Labels: sig/sql-infra

fix bazel build
  ddl/index.go
  sessiontxn/BUILD.bazel
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/failpoint_test.go
Labels: sig/sql-infra

fix typo
  tests/realtikvtest/addindextest/common.go
Labels: none

reset isolation and refactor some code
  planner/optimize.go
  session/session.go
  sessiontxn/isolation/base.go
  sessiontxn/isolation/readcommitted.go
  sessiontxn/txn_rc_tso_optimize_test.go
Labels: sig/planner, sig/sql-infra

*: upgrade go1.19.1
  WORKSPACE
Labels: none

fix error format
  executor/point_get.go
Labels: none

fix lint
  br/pkg/restore/data.go
Labels: none

fix CI
  br/pkg/lightning/common/security.go
  br/pkg/lightning/common/security_test.go
  util/security.go
Labels: none

fix br
  br/pkg/task/backup_ebs.go
Labels: none

refactor memorization
  expression/builtin_regexp.go
  expression/builtin_regexp_test.go
  expression/builtin_regexp_util.go
  expression/distsql_builtin.go
Labels: component/expression

fix lint
  br/pkg/task/common.go
  br/pkg/task/restore_data.go
Labels: none

planner: Expression memory trace (#37624)
  expression/builtin.go
  expression/builtin_vectorized.go
  expression/column.go
  expression/constant.go
  expression/expression.go
  expression/expression_test.go
  expression/scalar_function.go
  expression/util_test.go
  parser/types/field_type.go
  util/memory/tracker.go
Labels: component/expression

undo
  planner/core/physical_plan_test.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/property/physical_property.go
Labels: none

test: correct the integration test TestAllHistory
  server/http_handler_test.go
Labels: sig/sql-infra

.github/labeler.yml:

sig/execution:
  - any:
      - distsql/*
      - executor/*
      - util/chunk/*
      - util/disk/*
      - util/execdetails/*
      - util/expensivequery/*
      - util/filesort/*
      - util/memory/*
      - util/sqlexec/*
  - all:
      - "!executor/brie*"

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/sql-infra:
  - ddl/*
  - domain/*
  - infoschema/*
  - session/*
  - server/*
  - privilege/*
  - plugin/*
  - config/*
  - meta/*
  - owner/*

component/config:
  - config/*

sig/migrate:
  - executor/brie*
