Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

[dumpling] *: close transaction for all auto-committed SQLs (#21378)
  dumpling/executor/simple_test.go
  dumpling/session/session.go
Labels: none

*: close transaction for all auto-committed SQLs (#21378)
  executor/simple_test.go
  session/session.go
Labels: sig/execution

*: close transaction for all auto-committed SQLs (#21378)
  executor/simple_test.go
  session/session.go
Labels: sig/execution

add more test
  ddl/db_partition_test.go
Labels: sig/DDL

*: close transaction for all auto-committed SQLs
  executor/simple_test.go
  session/tidb.go
Labels: sig/execution

*: close transaction for all auto-committed SQLs (#21395)
  executor/simple_test.go
  session/tidb.go
Labels: sig/execution

session: fix unit test
  session/session_test.go
Labels: none

cherry pick #18962 to release-4.0
  Makefile
Labels: none

Refine the comments
  kv/interface_mock_test.go
  kv/kv.go
Labels: none

fix parameter.
  statistics/scalar.go
  statistics/table.go
Labels: component/statistics

expression, planner: fix decimal results for aggregate functions (#20017) (#20984)
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_avg.go
  executor/aggfuncs/func_first_row.go
  executor/aggfuncs/func_max_min.go
  executor/aggfuncs/func_sum.go
  executor/aggregate_test.go
  expression/aggregation/base_func.go
  planner/core/rule_inject_extra_projection.go
Labels: sig/execution

disable cast decimal as string push down to TiFlash (#21387)
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: component/expression

planner: fix unexpected bad plan when IndexJoin inner side estRow is 0. (#21084)
  planner/core/exhaust_physical_plans.go
Labels: none

planner: fix unexpected bad plan when IndexJoin inner side estRow is 0. (#21084)
  planner/core/exhaust_physical_plans.go
Labels: none

[dumpling] planner: fix unexpected bad plan when IndexJoin inner side estRow is 0. (#21084)
  dumpling/planner/core/exhaust_physical_plans.go
Labels: none

cherry pick #21084 to release-4.0
  planner/core/exhaust_physical_plans.go
Labels: none

fix TestIssue20658
  executor/aggregate_test.go
Labels: sig/execution

expression: fix the `in` function get the wrong result if args is time type (#21293)
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Labels: component/expression

[dumpling] expression: fix the `in` function get the wrong result if args is time type (#21293)
  dumpling/expression/builtin_other.go
  dumpling/expression/builtin_other_vec_generated.go
  dumpling/expression/generator/other_vec.go
  dumpling/expression/integration_test.go
Labels: none

expression: fix the `in` function get the wrong result if args is time type (#21293)
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Labels: component/expression

cherry pick #21293 to release-4.0
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Labels: component/expression

fix test
  sessionctx/variable/session.go
Labels: none

use states instead
  ddl/ddl_api.go
  ddl/partition.go
  go.mod
  go.sum
Labels: sig/DDL

revise test
  ddl/placement_sql_test.go
Labels: sig/DDL

executor: fix the display of large unsigned handle when show table regions (#21026) (#21224)
  executor/show_test.go
  executor/split.go
Labels: sig/execution

executor: fix test problems in TestIssue20658 (#21405)
  executor/aggregate_test.go
Labels: sig/execution

[dumpling] executor: fix test problems in TestIssue20658 (#21405)
  dumpling/executor/aggregate_test.go
Labels: none

executor: fix test problems in TestIssue20658 (#21405)
  executor/aggregate_test.go
Labels: sig/execution

Update integration_test.go
  expression/integration_test.go
Labels: component/expression

add test
  executor/analyze.go
  executor/analyze_test.go
  go.sum
Labels: sig/execution

test: stablize test case (#21336)
  session/pessimistic_test.go
  store/tikv/2pc.go
Labels: none

fmt
  expression/integration_test.go
Labels: component/expression

add failpoint to simulate CommitTsTooLarge
  store/tikv/prewrite.go
Labels: none

fix
  ddl/error.go
Labels: sig/DDL

cherry pick #19554 to release-4.0
  privilege/privileges/privileges_test.go
  session/session.go
Labels: none

planner: fix the behavior of correlated aggregate in subquery
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/subqeury_resolver.go
  planner/core/util.go
Labels: none

[dumpling] statistics: fix a bug which causes panic when using the clustered index and the new collation (#21379)
  dumpling/expression/integration_test.go
  dumpling/statistics/histogram.go
Labels: none

statistics: fix a bug which causes panic when using the clustered index and the new collation (#21379)
  expression/integration_test.go
  statistics/histogram.go
Labels: component/expression, component/statistics

statistics: fix a bug which causes panic when using the clustered index and the new collation (#21379)
  expression/integration_test.go
  statistics/histogram.go
Labels: component/expression, component/statistics

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*
