Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

planner: fix bit column compare with string
  planner/core/point_get_plan.go
Labels: none

done
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
Labels: none

fix bug
  planner/core/exhaust_physical_plans.go
Labels: none

planner: add test case for bit column compare string
  planner/core/point_get_plan_test.go
  planner/core/testdata/point_get_plan_in.json
  planner/core/testdata/point_get_plan_out.json
Labels: none

fix
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
Labels: component/expression

fix
  expression/integration_test.go
Labels: component/expression

expression: Improve compatibility of string literal comparisons (#3775)
  expression/builtin_string.go
  expression/integration_test.go
Labels: component/expression

fix
  expression/integration_test.go
Labels: component/expression

cherry pick #21188 to release-3.0
  errors.toml
  executor/errors.go
  executor/executor_test.go
  executor/prepared.go
Labels: sig/execution

fix
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
Labels: component/expression

[parser] terror: remove dead code which may cause data race (#1096)
  parser/terror/terror.go
Labels: none

update kvproto
  go.mod
  go.sum
Labels: none

fix
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: sig/DDL

cherry pick #21026 to release-4.0
  executor/show_test.go
  executor/split.go
Labels: sig/execution

resolve conflicts.
  executor/errors.go
Labels: sig/execution

make tidy
  go.sum
Labels: none

resolve conflicts.
  executor/executor_test.go
Labels: sig/execution

delete errors.toml
  errors.toml
Labels: none

executor: return the result immediately when combining LIMIT row_count with DISTINCT
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/func_first_row.go
  executor/aggregate.go
Labels: sig/execution

planner: make index-hash-join and index-merge-join consider the collation in the right way (#21221)
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
Labels: component/expression

[dumpling] planner: make index-hash-join and index-merge-join consider the collation in the right way (#21221)
  dumpling/expression/integration_test.go
  dumpling/planner/core/exhaust_physical_plans.go
Labels: none

planner: make index-hash-join and index-merge-join consider the collation in the right way (#21221)
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
Labels: component/expression

fix check_dev
  executor/aggfuncs/aggfuncs.go
Labels: none

[dumpling] parser: Update (#21212)
  dumpling/go.mod
  dumpling/go.sum
Labels: none

parser: Update (#21212)
  go.mod
  go.sum
Labels: none

parser: Update (#21212)
  go.mod
  go.sum
Labels: none

resolve conflicts in executor_test.go
  executor/executor_test.go
Labels: sig/execution

lock exist keys for point_get & batch_point_get
  executor/batch_point_get.go
  executor/batch_point_get_test.go
  executor/point_get.go
  executor/point_get_test.go
Labels: sig/execution

clean unused code
  executor/batch_point_get.go
Labels: sig/execution

rename test function name
  executor/batch_point_get_test.go
  executor/point_get_test.go
  go.sum
Labels: sig/execution

add ErrUnsupportedPs in tableMySQLErrCodes
  executor/errors.go
Labels: sig/execution

table/column: implement NO_ZERO_DATE,NO_ZERO_IN_DATE sql mode
  table/column.go
  types/errors.go
Labels: component/expression

types: add timestamp typeStr
  types/errors.go
Labels: component/expression

expression: fix a situation where Zero Date could fail
  expression/integration_test.go
Labels: component/expression

table: put the date handle code into a single func, CastValue more readable
  table/column.go
Labels: none

table: fix the timestamp special case
  table/column.go
Labels: none

executor,session: fix testcase of zero date
  executor/write_test.go
  session/session_test.go
Labels: sig/execution

expression: fix the error msg in zero integration test
  expression/integration_test.go
Labels: component/expression

table,expression: no error if NO_ZERO_DATE is not enabled
  expression/integration_test.go
  table/column.go
Labels: component/expression

table: continue check date with charset
  table/column.go
Labels: none

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*
