Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

fix test
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Labels: none

server: add metric for connection idle time (#21265)
  infoschema/metric_table_def.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/server.go
  metrics/session.go
  server/conn.go
Labels: sig/DDL

server: add metric for connection idle time (#21265)
  infoschema/metric_table_def.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/server.go
  metrics/session.go
  server/conn.go
Labels: sig/DDL

[dumpling] server: add metric for connection idle time (#21265)
  dumpling/infoschema/metric_table_def.go
  dumpling/metrics/grafana/tidb.json
  dumpling/metrics/metrics.go
  dumpling/metrics/server.go
  dumpling/metrics/session.go
  dumpling/server/conn.go
Labels: none

cherry pick #21265 to release-4.0
  infoschema/metric_table_def.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/server.go
  metrics/session.go
  server/conn.go
Labels: sig/DDL

executor: fix cannot use explain for with the statement queried by explain analyze (#21052)
  executor/explainfor_test.go
  session/session.go
Labels: sig/execution

[dumpling] executor: fix cannot use explain for with the statement queried by explain analyze (#21052)
  dumpling/executor/explainfor_test.go
  dumpling/session/session.go
Labels: none

executor: fix cannot use explain for with the statement queried by explain analyze (#21052)
  executor/explainfor_test.go
  session/session.go
Labels: sig/execution

cherry pick #21052 to release-4.0
  executor/explainfor_test.go
  session/session.go
Labels: sig/execution

session: fix unit test TestUnionScanForMemBufferReader (#21258) (#21292)
  session/session_test.go
Labels: none

fix
  executor/distsql.go
Labels: sig/execution

errno: show column name in redacted duplicate entry error (#21261)
  errno/errname.go
  executor/executor_test.go
  util/dbterror/terror_test.go
Labels: sig/execution

errno: show column name in redacted duplicate entry error (#21261)
  errno/errname.go
  executor/executor_test.go
  util/dbterror/terror_test.go
Labels: sig/execution

[dumpling] errno: show column name in redacted duplicate entry error (#21261)
  dumpling/errno/errname.go
  dumpling/executor/executor_test.go
  dumpling/util/dbterror/terror_test.go
Labels: none

fix test
  session/session.go
Labels: none

cherry pick #21261 to release-4.0
  errno/errname.go
  executor/executor_test.go
  util/dbterror/terror_test.go
Labels: sig/execution

refine comment
  session/session.go
Labels: none

config, session: keep the default value of mem-quota-query when upgrade from 3.0 to 4.0.9+
  config/config.go
  session/bootstrap.go
  session/session.go
Labels: component/config

[dumpling] executor: Add the HashAggExec runtime information (#20577)
  dumpling/executor/aggregate.go
  dumpling/executor/aggregate_test.go
  dumpling/executor/executor_test.go
  dumpling/util/execdetails/execdetails.go
Labels: none

executor: Add the HashAggExec runtime information (#20577)
  executor/aggregate.go
  executor/aggregate_test.go
  executor/executor_test.go
  util/execdetails/execdetails.go
Labels: sig/execution

executor: Add the HashAggExec runtime information (#20577)
  executor/aggregate.go
  executor/aggregate_test.go
  executor/executor_test.go
  util/execdetails/execdetails.go
Labels: sig/execution

cherry pick #20577 to release-4.0
  executor/aggregate.go
  executor/aggregate_test.go
  executor/executor_test.go
  util/execdetails/execdetails.go
Labels: sig/execution

remove useless log
  config/config.go
Labels: component/config

expression, executor: allow insert strings with overflowed trailing spaces (#20987) (#21282)
  executor/insert_test.go
  types/datum.go
Labels: sig/execution, component/expression

execute: fill arguments when returning `ErrUnknownSystemVar` in `SetSessionSystemVar` (#20102) (#20413)
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: none

update comment
  session/bootstrap.go
Labels: none

expression: adjust int constant when compare with year type (#21099) (#21283)
  executor/executor_test.go
  expression/builtin_compare.go
  types/time.go
  util/ranger/ranger_test.go
Labels: sig/execution, component/expression, sig/planner

cleanup go.sum
  go.sum
Labels: none

add basic code for range partition splitter.
  executor/builder.go
  executor/shuffle.go
  planner/core/physical_plans.go
  planner/core/plan.go
Labels: sig/execution

use task.plan() to build shuffle, windowExec with shuffle need to be revised.
  planner/core/find_best_task.go
  planner/core/plan.go
Labels: none

disable optimizeByShuffle4MergeJoin by default
  planner/core/plan.go
Labels: none

add comment to export field.
  planner/core/physical_plans.go
Labels: none

executor,planner: fix resource leak of shuffle and optimize merge join by shuffle (#21255)
  executor/shuffle.go
  planner/core/plan.go
Labels: sig/execution

[dumpling] executor,planner: fix resource leak of shuffle and optimize merge join by shuffle (#21255)
  dumpling/executor/shuffle.go
  dumpling/planner/core/plan.go
Labels: none

executor,planner: fix resource leak of shuffle and optimize merge join by shuffle (#21255)
  executor/shuffle.go
  planner/core/plan.go
Labels: sig/execution

fix test
  bindinfo/bind_test.go
Labels: sig/planner

resolve conflict
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution

address conflict
  infoschema/tables_test.go
Labels: sig/DDL

address conflict
  server/conn.go
Labels: none

fix a typo
  planner/core/logical_plan_builder.go
Labels: none
