Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

go.mod, bindinfo: update parser to fix binding doesn't work for prepared stmt with LIMIT (#21214)
  bindinfo/bind_test.go
  go.mod
  go.sum
Labels: sig/planner

address comments
  executor/executor.go
  store/tikv/coprocessor.go
  util/chunk/row_container.go
  util/memory/action.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: sig/execution

fix
  util/memory/action.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: sig/execution

executor: set the inner join keys' field length to unspecified (#21233)
  executor/builder.go
  executor/write_test.go
Labels: sig/execution

[dumpling] executor: set the inner join keys' field length to unspecified (#21233)
  dumpling/executor/builder.go
  dumpling/executor/write_test.go
Labels: none

executor: set the inner join keys' field length to unspecified (#21233)
  executor/builder.go
  executor/write_test.go
Labels: sig/execution

cherry pick #21233 to release-4.0
  executor/builder.go
  executor/write_test.go
Labels: sig/execution

resolve conflicts
  executor/write_test.go
Labels: sig/execution

Always print process time and wait time
  store/tikv/coprocessor.go
Labels: none

planner: fix incorrect results when using a prefix index with OR condition
  util/ranger/detacher.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Labels: sig/planner

[parser] parser: add PURGE IMPORT (#1102)
  parser/ast/misc.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
Labels: none

variable: cleanup code
  sessionctx/variable/session.go
Labels: none

fix
  executor/executor.go
  store/tikv/coprocessor.go
  util/chunk/row_container.go
  util/memory/action.go
  util/memory/tracker_test.go
Labels: sig/execution

executor: Fix IndexMergeReader works incorrectly under RC isolation level (#21208)
  executor/builder.go
  executor/point_get.go
  session/pessimistic_test.go
Labels: sig/execution

[dumpling] executor: Fix IndexMergeReader works incorrectly under RC isolation level (#21208)
  dumpling/executor/builder.go
  dumpling/executor/point_get.go
  dumpling/session/pessimistic_test.go
Labels: none

executor: Fix IndexMergeReader works incorrectly under RC isolation level (#21208)
  executor/builder.go
  executor/point_get.go
  session/pessimistic_test.go
Labels: sig/execution

lint
  util/memory/action.go
Labels: sig/execution

Fix
  go.sum
  store/tikv/coprocessor.go
Labels: none

cherry pick #21208 to release-4.0
  executor/builder.go
  executor/point_get.go
  session/pessimistic_test.go
Labels: sig/execution

[parser] parser: add RESUME and BRIEOptionLevel for IMPORT (#1100)
  parser/ast/misc.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
Labels: none

fix
  util/memory/tracker.go
Labels: sig/execution

expression, executor: allow insert strings with overflowed trailing spaces (#20987)
  executor/insert_test.go
  types/datum.go
Labels: sig/execution, component/expression

[dumpling] expression, executor: allow insert strings with overflowed trailing spaces (#20987)
  dumpling/executor/insert_test.go
  dumpling/types/datum.go
Labels: none

expression, executor: allow insert strings with overflowed trailing spaces (#20987)
  executor/insert_test.go
  types/datum.go
Labels: sig/execution, component/expression

hptc ycsb-worloade: Implement AppendRows for Chunk #21057
  executor/distsql.go
  executor/distsql_test.go
  executor/index_merge_reader.go
  util/chunk/chunk.go
  util/chunk/chunk_test.go
Labels: sig/execution

revert and fix multiple regions bug
  executor/sample.go
  executor/sample_test.go
Labels: sig/execution

add todo
  executor/sample.go
Labels: sig/execution

fix offset issue of result type infer
  types/field_type.go
Labels: component/expression

Fix conflict
  executor/builder.go
Labels: sig/execution

support switch
  distsql/distsql.go
  executor/executor_test.go
  executor/simple.go
  kv/kv.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/tikv/coprocessor.go
  util/mock/client.go
Labels: sig/execution

[dumpling] ddl: check partition name unique when create hash type partition table (#21210)
  dumpling/ddl/db_partition_test.go
  dumpling/ddl/ddl_api.go
Labels: none

ddl: check partition name unique when create hash type partition table (#21210)
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: sig/DDL

ddl: check partition name unique when create hash type partition table (#21210)
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: sig/DDL

session: fix unit test TestUnionScanForMemBufferReader
  session/session_test.go
Labels: none

add sysvar test
  session/session_test.go
Labels: none

cherry pick #21210 to release-4.0
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: sig/DDL

errno: show column name in redacted duplicate entry error
  errno/errname.go
  executor/executor_test.go
  util/dbterror/terror_test.go
Labels: sig/execution

commit with untouched lock
  store/tikv/2pc.go
Labels: none

statistics: fix the panic when analyze with collation enabled
  executor/analyze.go
  executor/analyze_test.go
  statistics/histogram.go
Labels: sig/execution, component/statistics

fix check
  go.sum
  store/tikv/2pc.go
Labels: none

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*
