Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

Cover more txn cases
  bindinfo/handle.go
  errno/errcode.go
  executor/ddl.go
  session/schema_amender.go
  session/session.go
  session/tidb.go
  statistics/handle/ddl.go
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/update.go
  table/tables/index.go
  table/tables/tables.go
Labels: sig/execution, sig/planner

executor: fix The JSON Data can not import to TiDB correctly by `load data` (#21043) (#21074)
  executor/executor_pkg_test.go
  executor/load_data.go
Labels: sig/execution

Update the PD client to fix the tso process freeze bug
  go.mod
  go.sum
Labels: none

restore test
  ddl/db_test.go
  executor/executor_test.go
  executor/insert_test.go
  executor/prepared_test.go
  executor/write_test.go
  infoschema/tables_test.go
  session/session_test.go
Labels: sig/execution, sig/DDL

remove redundant construct index hash join
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_join_stats.result
  cmd/explaintest/r/explain_union_scan.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  planner/core/exhaust_physical_plans.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
Labels: none

test: stabilize leak test #19526 (#21270)
  util/testleak/leaktest.go
Labels: none

modify bind test
  bindinfo/bind_test.go
Labels: sig/planner

modify unit test
  ddl/db_change_test.go
  executor/executor_test.go
  table/tables/tables.go
Labels: sig/execution, sig/DDL

fix test
  executor/join_test.go
Labels: sig/execution

executor, planner: do not coalesce column for update/delete natural_using_join (#21085) (#21103)
  executor/join_test.go
  planner/core/logical_plan_builder.go
Labels: sig/execution

planner, executor: parallelize stream aggregation with shuffle. (#21095)
  executor/aggregate_test.go
  executor/benchmark_test.go
  executor/builder.go
  executor/executor_required_rows_test.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/resolve_indices.go
Labels: sig/execution

[dumpling] planner, executor: parallelize stream aggregation with shuffle. (#21095)
  dumpling/executor/aggregate_test.go
  dumpling/executor/benchmark_test.go
  dumpling/executor/builder.go
  dumpling/executor/executor_required_rows_test.go
  dumpling/planner/core/physical_plans.go
  dumpling/planner/core/plan.go
  dumpling/planner/core/resolve_indices.go
Labels: none

planner, executor: parallelize stream aggregation with shuffle. (#21095)
  executor/aggregate_test.go
  executor/benchmark_test.go
  executor/builder.go
  executor/executor_required_rows_test.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/resolve_indices.go
Labels: sig/execution

change the unit test
  domain/domain.go
  domain/domain_test.go
  domain/infosync/info.go
Labels: sig/DDL

add unit tests for #issues/19534
  expression/builtin_compare_test.go
Labels: component/expression

address the comment
  store/tikv/coprocessor.go
Labels: none

planner: refine the explain message of expression (#16276) (#20410) (#20609)
  cmd/explaintest/r/explain_generate_column_substitute.result
  cmd/explaintest/t/explain_generate_column_substitute.test
  planner/core/explain.go
  planner/core/point_get_plan.go
Labels: none

add test
  bindinfo/bind_test.go
Labels: sig/planner

Update the PD client to fix the tso process freeze bug (#21268)
  go.mod
  go.sum
Labels: none

Update the PD client to fix the tso process freeze bug (#21268)
  go.mod
  go.sum
Labels: none

[dumpling] Update the PD client to fix the tso process freeze bug (#21268)
  dumpling/go.mod
  dumpling/go.sum
Labels: none

planner: reject ORDER BY conflicts with DISTINCT
  errno/errcode.go
  errno/errname.go
  planner/core/errors.go
  planner/core/logical_plan_builder.go
Labels: none

fix CI
  sessionctx/variable/varsutil_test.go
Labels: none

remove compare db
  bindinfo/cache.go
  bindinfo/handle.go
Labels: sig/planner

only for test
  session/session_test.go
  sessionctx/variable/tidb_vars.go
Labels: none

cherry pick #20987 to release-4.0
  executor/insert_test.go
  types/datum.go
Labels: sig/execution, component/expression

hptc ycsb-worloade: Implement AppendRows for Chunk(#21057
  executor/distsql.go
  executor/index_merge_reader.go
  util/chunk/chunk_test.go
Labels: sig/execution

cherry pick #21099 to release-4.0
  executor/executor_test.go
  expression/builtin_compare.go
  types/time.go
  util/ranger/ranger_test.go
Labels: sig/execution, component/expression, sig/planner

done
  executor/executor_test.go
  session/session.go
Labels: sig/execution

Update executor_test.go
  executor/executor_test.go
Labels: sig/execution

Apply suggestions from code review
  util/chunk/chunk.go
Labels: sig/execution

Update insert_test.go
  executor/insert_test.go
Labels: sig/execution

WIP
  planner/core/integration_test.go
  planner/core/stats.go
  planner/core/testdata/integration_suite_out.json
Labels: none

Revert "only for test"
  session/session_test.go
  sessionctx/variable/tidb_vars.go
Labels: none

modify errors.toml
  errors.toml
Labels: none

WIP
  planner/core/stats.go
Labels: none

Fix conflict
  executor/batch_point_get.go
  executor/executor.go
  sessionctx/variable/session.go
Labels: sig/execution

fix
  executor/executor_test.go
Labels: sig/execution

executor: Make tidb_constraint_check_in_place session variable work for unique index (#20939)
  table/tables/tables.go
  table/tables/tables_test.go
Labels: none

executor: Make tidb_constraint_check_in_place session variable work for unique index (#20939)
  table/tables/tables.go
  table/tables/tables_test.go
Labels: none

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*
