Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

ddl: fix duplicate entry message report by add index
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/index.go
  ddl/rollingback.go
  table/index.go
  table/tables/index.go
Labels: sig/DDL

cherry pick #20562 to release-4.0
  util/expensivequery/memory_usage_alarm.go
Labels: sig/execution

cherry pick #20805 to release-4.0
  util/memory/meminfo.go
Labels: sig/execution

add test
  server/server_test.go
  server/tidb_test.go
Labels: none

move into defer
  store/tikv/coprocessor.go
Labels: none

refine code
  executor/adapter.go
  session/session.go
Labels: sig/execution

refine code
  executor/adapter.go
Labels: sig/execution

refine code
  planner/core/common_plans.go
  session/session.go
Labels: none

Revert "expression: fix a bug that DML using caseWhen may cause schema change (#19857)"
  expression/aggregation/base_func.go
  expression/constant_fold.go
  expression/integration_test.go
Labels: component/expression

fix test
  server/server_test.go
Labels: none

fix leak
  store/tikv/coprocessor.go
Labels: none

cherry pick #21124 to release-4.0
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
  planner/core/testdata/point_get_plan_in.json
  planner/core/testdata/point_get_plan_out.json
Labels: none

Update the errors dependence to the latest version (#20917)
  ddl/error.go
  domain/domain.go
  domain/infosync/info.go
  executor/simple.go
  expression/errors.go
  kv/error.go
  planner/core/errors.go
  server/server.go
  types/errors.go
  util/collate/collate.go
  util/dbterror/terror.go
Labels: sig/execution, component/expression, sig/DDL

Update point_get_plan_test.go
  planner/core/point_get_plan_test.go
Labels: none

close child executor of each worker in shuffleExec.Close()
  executor/shuffle.go
Labels: sig/execution

optimizeByShuffle4MergeJoin
  planner/core/plan.go
Labels: none

omit the 404 error when /config/placement-rule is not existed
  domain/infosync/info.go
Labels: none

fix test and add comment
  store/tikv/coprocessor.go
Labels: none

done
  expression/aggregation/base_func.go
Labels: none

go fmt
  ddl/error.go
  sessionctx/variable/sysvar.go
Labels: sig/DDL

fix ci
  expression/testdata/partition_pruner_out.json
Labels: none

[dumpling] expression: revert some changes to fix mysql_test (#21246)
  dumpling/expression/aggregation/base_func.go
Labels: none

expression: revert some changes to fix mysql_test (#21246)
  expression/aggregation/base_func.go
Labels: none

expression: revert some changes to fix mysql_test (#21246)
  expression/aggregation/base_func.go
Labels: none

errors.toml
  errors.toml
Labels: none

add collate into test cases combination
  ddl/db_integration_test.go
Labels: sig/DDL

Add a basic test case
  kv/interface_mock_test.go
  kv/kv.go
  session/session.go
  session/session_test.go
  session/txn.go
  store/tikv/txn.go
Labels: none

planner: fix unit test
  planner/core/point_get_plan_test.go
  planner/core/testdata/point_get_plan_out.json
Labels: none

resolve conflicts
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: none

address the comment
  ddl/partition.go
Labels: sig/DDL

fix bug
  planner/core/fragment.go
Labels: none

omit the 404 error when /config/placement-rule is not existed
  domain/infosync/info.go
Labels: none

executor: load data statement shoule not be prepared (#21188) (#21199)
  errors.toml
  executor/errors.go
  executor/executor_test.go
  executor/prepared.go
Labels: sig/execution

go.mod, bindinfo: update parser to fix binding doesn't work for prepared stmt with LIMIT (#21214)
  bindinfo/bind_test.go
  go.mod
  go.sum
Labels: sig/planner

go.mod, bindinfo: update parser to fix binding doesn't work for prepared stmt with LIMIT (#21214)
  bindinfo/bind_test.go
  go.mod
  go.sum
Labels: sig/planner

[dumpling] go.mod, bindinfo: update parser to fix binding doesn't work for prepared stmt with LIMIT (#21214)
  dumpling/bindinfo/bind_test.go
  dumpling/go.mod
  dumpling/go.sum
Labels: none

fix planner test
  planner/core/testdata/plan_suite_out.json
Labels: none

[dumpling] store, executor: refactor ratelimitAction (#21168)
  dumpling/executor/executor_test.go
  dumpling/store/tikv/coprocessor.go
Labels: none

store, executor: refactor ratelimitAction (#21168)
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution

store, executor: refactor ratelimitAction (#21168)
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution
