Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

debug cop
  executor/table_reader.go
  planner/core/plan_to_pb.go
Labels: sig/execution

coprocessor: add sendrate control for non keep order case. (#19244)
  store/tikv/coprocessor.go
Labels: none

executor: add an OOMAction for copIterator to adaptive control the memory usage (#19246)
  distsql/distsql.go
  distsql/distsql_test.go
  executor/analyze.go
  executor/executor_test.go
  kv/kv.go
  store/tikv/coprocessor.go
  util/mock/client.go
Labels: sig/execution

executor: Fix IndexMergeReader works incorrectly under RC isolation level (#21208) (#21253)
  executor/builder.go
  executor/point_get.go
  session/pessimistic_test.go
Labels: sig/execution

executor: fix unstable TestCoprocessorOOMAction (#20238)
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution

fix
  planner/core/exhaust_physical_plans.go
Labels: none

store, executor: Fix rateLimitAction may fail to destroy token (#20644)
  store/tikv/coprocessor.go
Labels: none

store, executor: Fix coprocessor layer may encounter deadlock due to OOM (#20697)
  store/tikv/coprocessor.go
Labels: none

fix CI
  planner/core/integration_test.go
Labels: none

store, executor: Fix TestCoprocessorOOMAction may get stuck. (#20897)
  store/tikv/coprocessor.go
Labels: none

store, executor: refactor ratelimitAction (#21168)
  store/tikv/coprocessor.go
Labels: none

fix
  executor/distsql.go
Labels: sig/execution

session: fix a bug cause panic when retry is enable. (#21285)
  executor/executor_test.go
  session/session.go
Labels: sig/execution

[dumpling] *: implement priority control for OOM Action (#21170)
  dumpling/executor/executor.go
  dumpling/executor/executor_test.go
  dumpling/store/tikv/coprocessor.go
  dumpling/util/chunk/row_container.go
  dumpling/util/memory/action.go
  dumpling/util/memory/tracker.go
  dumpling/util/memory/tracker_test.go
Labels: none

*: implement priority control for OOM Action (#21170)
  executor/executor.go
  executor/executor_test.go
  store/tikv/coprocessor.go
  util/chunk/row_container.go
  util/memory/action.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: sig/execution

*: implement priority control for OOM Action (#21170)
  executor/executor.go
  executor/executor_test.go
  store/tikv/coprocessor.go
  util/chunk/row_container.go
  util/memory/action.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: sig/execution

cherry pick #21170 to release-4.0
  executor/executor.go
  executor/executor_test.go
  store/tikv/coprocessor.go
  util/chunk/row_container.go
  util/memory/action.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: sig/execution

go.mod, bindinfo: update parser to fix binding doesn't work for prepared stmt with LIMIT (#21214) (#21248)
  bindinfo/bind_test.go
  go.sum
Labels: sig/planner

[dumpling] planner: fix unit test for tidb_opt_prefer_range_scan variable (#21294)
  dumpling/planner/core/integration_test.go
  dumpling/planner/core/physical_plan_test.go
  dumpling/planner/core/testdata/plan_suite_in.json
  dumpling/planner/core/testdata/plan_suite_out.json
Labels: none

planner: fix unit test for tidb_opt_prefer_range_scan variable (#21294)
  planner/core/integration_test.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: none

planner: fix unit test for tidb_opt_prefer_range_scan variable (#21294)
  planner/core/integration_test.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: none

fixup
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: none

fix conflicts
  util/ranger/detacher.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Labels: sig/planner

statistics: fix the panic when analyze with collation enabled (#21262)
  executor/analyze.go
  executor/analyze_test.go
  statistics/histogram.go
Labels: sig/execution, component/statistics

[dumpling] statistics: fix the panic when analyze with collation enabled (#21262)
  dumpling/executor/analyze.go
  dumpling/executor/analyze_test.go
  dumpling/statistics/histogram.go
Labels: none

statistics: fix the panic when analyze with collation enabled (#21262)
  executor/analyze.go
  executor/analyze_test.go
  statistics/histogram.go
Labels: sig/execution, component/statistics

cherry pick #21262 to release-4.0
  executor/analyze.go
  executor/analyze_test.go
  statistics/histogram.go
Labels: sig/execution, component/statistics

address comment
  store/mockstore/unistore/rpc.go
Labels: none

store, session: Introduce system variable to control ratelimit action (#21259)
  distsql/distsql.go
  executor/executor_test.go
  executor/simple.go
  kv/kv.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/tikv/coprocessor.go
  util/mock/client.go
Labels: sig/execution

[dumpling] store, session: Introduce system variable to control ratelimit action (#21259)
  dumpling/distsql/distsql.go
  dumpling/executor/executor_test.go
  dumpling/executor/simple.go
  dumpling/kv/kv.go
  dumpling/session/session.go
  dumpling/session/session_test.go
  dumpling/sessionctx/variable/session.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/tidb_vars.go
  dumpling/store/tikv/coprocessor.go
  dumpling/util/mock/client.go
Labels: none

store, session: Introduce system variable to control ratelimit action (#21259)
  distsql/distsql.go
  executor/executor_test.go
  executor/simple.go
  kv/kv.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/tikv/coprocessor.go
  util/mock/client.go
Labels: sig/execution

Update util/chunk/chunk_test.go
  util/chunk/chunk_test.go
Labels: sig/execution

change log format
  planner/core/plan_to_pb.go
Labels: none

revert changes
  executor/partition_table_test.go
  executor/table_reader.go
  go.sum
Labels: sig/execution

nitpick
  executor/distsql.go
Labels: sig/execution

reimplement
  planner/core/logical_plan_builder.go
  planner/core/testdata/plan_suite_unexported_out.json
Labels: none

udpate testcases
  planner/core/integration_test.go
Labels: none

fix
  executor/distsql.go
Labels: sig/execution

store, session: Introduce system variable to control ratelimit action (#21259)
  distsql/distsql.go
  kv/kv.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/tikv/coprocessor.go
  util/mock/client.go
Labels: sig/execution

add unit test
  session/session_test.go
Labels: none
