Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

fix race
  executor/aggregate.go
Labels: sig/execution

Provide a new method GlobalTxn
  executor/builder.go
  executor/ddl.go
  executor/executor.go
  executor/infoschema_reader.go
  session/session.go
  sessionctx/context.go
  util/mock/context.go
Labels: sig/execution

fix unit test
  store/tikv/coprocessor.go
Labels: none

[dumpling] executor: load data statement shoule not be prepared (#21188)
  dumpling/errors.toml
  dumpling/executor/errors.go
  dumpling/executor/executor_test.go
  dumpling/executor/prepared.go
Labels: none

executor: load data statement shoule not be prepared (#21188)
  errors.toml
  executor/errors.go
  executor/executor_test.go
  executor/prepared.go
Labels: sig/execution

executor: load data statement shoule not be prepared (#21188)
  errors.toml
  executor/errors.go
  executor/executor_test.go
  executor/prepared.go
Labels: sig/execution

Update the session txns logic
  executor/ddl.go
  session/session.go
Labels: sig/execution

cherry pick #21188 to release-4.0
  errors.toml
  executor/errors.go
  executor/executor_test.go
  executor/prepared.go
Labels: sig/execution

done
  expression/integration_test.go
  go.sum
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
Labels: component/expression

try to fix race
  executor/aggregate.go
  executor/aggregate_test.go
Labels: sig/execution

support bcj
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/property/physical_property.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: none

[dumpling] ddl, infoschema: Support aborting the transaction when the placement rules are changed (#21116)
  dumpling/ddl/placement_sql_test.go
  dumpling/infoschema/builder.go
Labels: none

ddl, infoschema: Support aborting the transaction when the placement rules are changed (#21116)
  ddl/placement_sql_test.go
  infoschema/builder.go
Labels: sig/DDL

ddl, infoschema: Support aborting the transaction when the placement rules are changed (#21116)
  ddl/placement_sql_test.go
  infoschema/builder.go
Labels: sig/DDL

planner: `DELETE` cannot delete data in some cases when the database name is capitalized
  executor/delete_test.go
  planner/core/logical_plan_builder.go
Labels: sig/execution

make vet
  executor/partition_table_test.go
Labels: sig/execution

fix unit test
  executor/slow_query_test.go
Labels: sig/execution

try to fix race
  executor/aggregate.go
  executor/aggregate_test.go
Labels: sig/execution

Add caching logic
  executor/builder.go
Labels: sig/execution

amendment to multi-update on PK
  executor/update.go
  executor/update_test.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: sig/execution

try to fix race
  executor/aggregate.go
Labels: sig/execution

Update
  go.mod
  go.sum
Labels: none

intro_txn_state
  ddl/partition.go
  go.mod
  go.sum
Labels: sig/DDL

add default
  ddl/partition.go
Labels: sig/DDL

planner: `DELETE` cannot delete data in some cases when the database name is capitalized (#21202)
  executor/delete_test.go
  planner/core/logical_plan_builder.go
Labels: sig/execution

planner: `DELETE` cannot delete data in some cases when the database name is capitalized (#21202)
  executor/delete_test.go
  planner/core/logical_plan_builder.go
Labels: sig/execution

[dumpling] planner: `DELETE` cannot delete data in some cases when the database name is capitalized (#21202)
  dumpling/executor/delete_test.go
  dumpling/planner/core/logical_plan_builder.go
Labels: none

cherry pick #21202 to release-3.0
  executor/delete_test.go
  planner/core/logical_plan_builder.go
Labels: sig/execution

fix CI
  config/config_test.go
Labels: component/config

fix CI
  executor/builder.go
  executor/distsql.go
  executor/table_reader.go
Labels: sig/execution

cherry pick #21202 to release-4.0
  executor/delete_test.go
  planner/core/logical_plan_builder.go
Labels: sig/execution

Add test for index merge
  session/pessimistic_test.go
Labels: none

planner: fix the inappropriate out-of-range range estimation rule
  statistics/scalar.go
  statistics/table.go
Labels: component/statistics

fix testsuite name
  executor/delete_test.go
Labels: sig/execution

address comment
  infoschema/tables_test.go
Labels: sig/DDL

support abort
  session/session.go
Labels: none

fix message
  session/session.go
Labels: none

planner: `DELETE` cannot delete data in some cases when the database name is capitalized (#21202) (#21206)
  executor/delete_test.go
  planner/core/logical_plan_builder.go
Labels: sig/execution

planner: `DELETE` cannot delete data in some cases when the database name is capitalized (#21202) (#21205)
  executor/delete_test.go
  planner/core/logical_plan_builder.go
Labels: sig/execution

session: add encoded plan cache to avoid repeated encode plan when recording slow-log and statement (#21139)
  executor/adapter.go
  infoschema/tables_test.go
  sessionctx/stmtctx/stmtctx.go
Labels: sig/execution, sig/DDL
