Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

Update parser to test
  go.mod
Labels: none

save
  executor/brie.go
Labels: sig/execution

support index-limit config
  config/config.go
  config/config.toml.example
  config/config_test.go
  ddl/ddl_api.go
Labels: sig/DDL, component/config

fix index out of range bug
  executor/sample.go
  executor/sample_test.go
Labels: sig/execution

gomod could work
  go.mod
  go.sum
Labels: none

update data source as data sources
  cmd/explaintest/r/window_function.result
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/plan_suite_unexported_out.json
Labels: none

resolve conflict
  store/tikv/snapshot.go
Labels: none

fix bug
  executor/brie.go
  go.sum
Labels: sig/execution

update error.toml
  errors.toml
Labels: none

fix CI
  executor/brie.go
Labels: sig/execution

fix CI
  executor/brie.go
Labels: sig/execution

fix
  tidb-server/main.go
Labels: none

fix
  tidb-server/main.go
Labels: none

add test
  server/tidb_test.go
  sessionctx/variable/session.go
Labels: none

fix conflict
  server/tidb_test.go
Labels: none

fix check
  server/tidb_test.go
Labels: none

fix check
  server/tidb_test.go
Labels: none

fix check
  sessionctx/variable/session.go
Labels: none

fix test
  ddl/db_partition_test.go
Labels: sig/DDL

remove unused comment
  executor/brie.go
Labels: sig/execution

tikv: add size limit to batch get cache (#21015) (#21129)
  store/tikv/snapshot.go
Labels: none

fix test
  server/tidb_test.go
  sessionctx/variable/session.go
Labels: none

The load data statement does not support preparestatement. -- add test case
  executor/executor_test.go
Labels: sig/execution

[parser] Fix high not precedence (#938)
  parser/parser.y
Labels: none

Provide a new method RunInNewTxnWithTxnScope
  ddl/column.go
  ddl/column_change_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  ddl/index.go
  ddl/index_change_test.go
  ddl/reorg.go
  ddl/reorg_test.go
  ddl/schema_test.go
  ddl/serial_test.go
  ddl/stat.go
  ddl/table_test.go
  executor/admin.go
  executor/ddl_test.go
  executor/executor_test.go
  infoschema/infoschema_test.go
  kv/txn.go
  kv/txn_test.go
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  session/session.go
  store/store_test.go
  store/tikv/gcworker/gc_worker.go
  structure/structure_test.go
  table/tables/tables.go
Labels: sig/execution, sig/DDL

modify DefMaxOfIndexLimit
  config/config.go
Labels: component/config

use finResp
  store/tikv/coprocessor.go
Labels: none

remove comment
  store/tikv/coprocessor.go
Labels: none

remove useless code
  store/tikv/coprocessor.go
Labels: none

fix comment
  store/tikv/coprocessor.go
Labels: none

add test case
  executor/executor_test.go
Labels: sig/execution

refine code and fix race
  executor/aggregate.go
  executor/aggregate_test.go
Labels: sig/execution

add test case
  executor/executor_test.go
Labels: sig/execution

refine record
  executor/aggregate.go
Labels: sig/execution

fix unsigned_decimal_col=-int_cnst access index
  util/ranger/points.go
  util/ranger/ranger_test.go
Labels: sig/planner

refine code
  executor/aggregate.go
Labels: sig/execution

Provide a new method CurrentVersionWithTxnScope
  ddl/db_integration_test.go
  ddl/delete_range.go
  ddl/reorg.go
  domain/domain.go
  domain/domain_test.go
  domain/infosync/info.go
  executor/adapter.go
  executor/executor_test.go
  kv/interface_mock_test.go
  kv/kv.go
  kv/mock_test.go
  meta/meta_test.go
  session/schema_amender_test.go
  session/session_test.go
  store/store_test.go
  store/tikv/1pc_test.go
  store/tikv/2pc_test.go
  store/tikv/async_commit_test.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/kv.go
  store/tikv/lock_test.go
  util/mock/store.go
Labels: sig/execution, sig/DDL

Refine the comments
  kv/kv.go
  util/mock/store.go
Labels: none

add comment
  store/tikv/coprocessor.go
Labels: none

distsql: fix issue of table reader runtime stats display wrong result. (#21072) (#21133)
  distsql/distsql_test.go
  distsql/select_result.go
  store/tikv/region_request.go
Labels: sig/execution

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*
