Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

table: CastValue check timestamp the same as date
  table/column.go
Labels: none

expression: add integration of timestamp zero testcases
  expression/integration_test.go
Labels: component/expression

expression: add warning check for date update
  expression/integration_test.go
Labels: component/expression

expression: add more NO_ZERO_IN_DATE,NO_ZERO_DATE testcase
  expression/integration_test.go
Labels: component/expression

expression: add no_zero_(in_)date test case
  expression/integration_test.go
Labels: component/expression

expression: add more testcase of zero date
  expression/integration_test.go
Labels: component/expression

executor: ignore zero in date if sqlmode not enabled
  executor/executor.go
Labels: sig/execution

fix statement-level optimize hint will be ignored when `tryFastPlan` works and enable memory tracker in point_get/batch_point_get
  executor/batch_point_get.go
  executor/executor.go
  executor/point_get.go
  planner/optimize.go
  session/session_test.go
Labels: sig/execution, sig/planner

fix import,test sql
  executor/batch_point_get.go
  session/session_test.go
Labels: sig/execution

fix error
  executor/point_get.go
  session/session_test.go
Labels: sig/execution

fix unit test
  session/session_test.go
Labels: none

mockstore/unistore: fix unistore index panic
  store/mockstore/unistore/cophandler/closure_exec.go
Labels: none

fix unit test
  session/session_test.go
Labels: none

fix unit test
  session/session_test.go
Labels: none

fix unit test
  session/session_test.go
Labels: none

executor: set the inner join keys' field length to unspecified
  executor/builder.go
Labels: sig/execution

add test
  executor/write_test.go
Labels: sig/execution

expression: fix inaccurate error info for year column out of range (#20169) (#21169)
  ddl/db_test.go
  executor/insert_test.go
  executor/write_test.go
  types/datum.go
Labels: sig/execution, component/expression, sig/DDL

bugfix
  executor/distsql.go
  executor/index_merge_reader.go
  util/chunk/chunk.go
Labels: sig/execution

bugfix
  executor/distsql.go
Labels: sig/execution

nitpick, for debug.
  planner/core/plan.go
Labels: none

bugfix
  executor/distsql.go
Labels: sig/execution

resolve conflicts
  executor/show_test.go
  executor/split.go
Labels: sig/execution

bugfix
  executor/distsql.go
  executor/index_merge_reader.go
Labels: sig/execution

[dumpling] executor,planner/core,util/plancodec: extend executor.ShuffleExec and planner.core.PhysicalShuffle to support multiple data sources (#20942)
  dumpling/cmd/explaintest/r/window_function.result
  dumpling/executor/benchmark_test.go
  dumpling/executor/builder.go
  dumpling/executor/shuffle.go
  dumpling/planner/core/explain.go
  dumpling/planner/core/initialize.go
  dumpling/planner/core/physical_plans.go
  dumpling/planner/core/plan.go
  dumpling/planner/core/resolve_indices.go
  dumpling/planner/core/stringer.go
  dumpling/planner/core/testdata/plan_suite_out.json
  dumpling/planner/core/testdata/plan_suite_unexported_out.json
  dumpling/util/plancodec/id.go
Labels: none

executor,planner/core,util/plancodec: extend executor.ShuffleExec and planner.core.PhysicalShuffle to support multiple data sources (#20942)
  cmd/explaintest/r/window_function.result
  executor/benchmark_test.go
  executor/builder.go
  executor/shuffle.go
  planner/core/explain.go
  planner/core/initialize.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/resolve_indices.go
  planner/core/stringer.go
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/plan_suite_unexported_out.json
  util/plancodec/id.go
Labels: sig/execution, sig/planner

executor,planner/core,util/plancodec: extend executor.ShuffleExec and planner.core.PhysicalShuffle to support multiple data sources (#20942)
  cmd/explaintest/r/window_function.result
  executor/benchmark_test.go
  executor/builder.go
  executor/shuffle.go
  planner/core/explain.go
  planner/core/initialize.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/resolve_indices.go
  planner/core/stringer.go
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/plan_suite_unexported_out.json
  util/plancodec/id.go
Labels: sig/execution, sig/planner

update test
  planner/core/partition_pruning_test.go
Labels: none

resolve conflicts
  executor/join_test.go
Labels: sig/execution

planner, type: fix AggFieldType error when encouter unsigned and sign type (#21062)
  expression/constant.go
  planner/core/expression_rewriter_test.go
  types/etc.go
  types/field_type.go
  types/field_type_test.go
Labels: component/expression

[dumpling] planner, type: fix AggFieldType error when encouter unsigned and sign type (#21062)
  dumpling/expression/constant.go
  dumpling/planner/core/expression_rewriter_test.go
  dumpling/types/etc.go
  dumpling/types/field_type.go
  dumpling/types/field_type_test.go
Labels: none

planner, type: fix AggFieldType error when encouter unsigned and sign type (#21062)
  expression/constant.go
  planner/core/expression_rewriter_test.go
  types/etc.go
  types/field_type.go
  types/field_type_test.go
Labels: component/expression

cherry pick #21062 to release-4.0
  expression/constant.go
  planner/core/expression_rewriter_test.go
  types/etc.go
  types/field_type.go
  types/field_type_test.go
Labels: component/expression

fix conflicts
  executor/benchmark_test.go
Labels: sig/execution

fix ci
  executor/join_test.go
Labels: sig/execution

fix conflicts
  executor/insert_common.go
  executor/write_test.go
Labels: sig/execution

done
  executor/executor.go
  expression/integration_test.go
Labels: sig/execution, component/expression

planner: fix should not use point get plan (#21124)
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
  planner/core/testdata/point_get_plan_in.json
  planner/core/testdata/point_get_plan_out.json
Labels: none

planner: fix should not use point get plan (#21124)
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
  planner/core/testdata/point_get_plan_in.json
  planner/core/testdata/point_get_plan_out.json
Labels: none

[dumpling] planner: fix should not use point get plan (#21124)
  dumpling/planner/core/point_get_plan.go
  dumpling/planner/core/point_get_plan_test.go
  dumpling/planner/core/testdata/point_get_plan_in.json
  dumpling/planner/core/testdata/point_get_plan_out.json
Labels: none
