Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

address comment
  executor/slow_query.go
  util/expensivequery/expensivequery.go
  util/memory/tracker.go
Labels: sig/execution

fixup
  planner/core/stats.go
Labels: none

fix test
  util/memory/tracker_test.go
Labels: sig/execution

executor: fix issue of explain for connection can't show the last query plan (#21242)
  server/server_test.go
  server/tidb_test.go
  session/session.go
Labels: none

[dumpling] executor: fix issue of explain for connection can't show the last query plan (#21242)
  dumpling/server/server_test.go
  dumpling/server/tidb_test.go
  dumpling/session/session.go
Labels: none

executor: fix issue of explain for connection can't show the last query plan (#21242)
  server/server_test.go
  server/tidb_test.go
  session/session.go
Labels: none

cherry pick #21242 to release-4.0
  server/server_test.go
  server/tidb_test.go
  session/session.go
Labels: none

fix bug
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: none

store, executor: add an OOMAction for copIterator to adaptive control the memory usage (#21297)
  distsql/distsql.go
  distsql/distsql_test.go
  executor/analyze.go
  executor/executor_test.go
  kv/kv.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/tikv/coprocessor.go
  util/mock/client.go
Labels: sig/execution

format
  util/ranger/testdata/ranger_suite_in.json
Labels: none

util: support getting the environment memory in container. (#20805) (#21240)
  util/memory/meminfo.go
Labels: sig/execution

util: avoid to create tmp directory if memory-alarm is closed. (#20851) (#21312)
  util/disk/tempDir.go
  util/expensivequery/memory_usage_alarm.go
Labels: sig/execution

resolve conflict
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution

fmt
  store/tikv/coprocessor.go
Labels: none

fix test
  util/execdetails/execdetails_test.go
  util/expensivequery/expensivequerey_test.go
Labels: sig/execution

cherry pick #19709 to release-4.0
  expression/simple_rewriter.go
  go.mod
  go.sum
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Labels: component/expression

expression: fix convert time return error
  expression/integration_test.go
  types/convert.go
Labels: component/expression

expression: utilize the range of column types to simplify expressions
  expression/builtin_compare.go
  expression/flag_simplify_test.go
  expression/testdata/flag_simplify_in.json
  expression/testdata/flag_simplify_out.json
Labels: component/expression

Update go.mod
  go.mod
Labels: none

Update go.sum
  go.sum
Labels: none

Update planbuilder.go
  planner/core/planbuilder.go
Labels: none

fix fmt
  planner/core/exhaust_physical_plans.go
  planner/property/physical_property.go
Labels: none

fix warning
  expression/builtin_cast.go
  expression/builtin_cast_vec.go
  types/convert.go
Labels: component/expression

*: support to modify config server-memory-quota-ratio dynamically (#20927)
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  util/expensivequery/expensivequery.go
  util/expensivequery/memory_usage_alarm.go
Labels: sig/execution

add test
  session/bootstrap_test.go
Labels: none

*: fix unable to configure memory-usage-alarm by config file. (#21196)
  tidb-server/main.go
Labels: none

expression: convert a date to number if the date is used in numeric context (#20961)
  expression/builtin_compare.go
  expression/integration_test.go
Labels: component/expression

expression: convert a date to number if the date is used in numeric context (#20961)
  expression/builtin_compare.go
  expression/integration_test.go
Labels: component/expression

[dumpling] expression: convert a date to number if the date is used in numeric context (#20961)
  dumpling/expression/builtin_compare.go
  dumpling/expression/integration_test.go
Labels: none

fix
  executor/distsql.go
Labels: sig/execution

fix typo
  expression/builtin_compare.go
Labels: component/expression

address comment
  session/bootstrap_test.go
Labels: none

indicate cop cache disabled
  distsql/select_result.go
  executor/executor_test.go
Labels: sig/execution

ddl: forbid invalid usage of window function in the generated column (#20855) (#20889)
  ddl/db_test.go
  ddl/error.go
  ddl/generated_column.go
Labels: sig/DDL

add test
  util/execdetails/execdetails_test.go
Labels: sig/execution

remove redundant lock
  executor/batch_point_get.go
  executor/batch_point_get_test.go
  executor/builder.go
  executor/point_get_test.go
Labels: sig/execution

session: add encoded plan cache to avoid repeated encode plan when recording slow-log and statement (#21139) (#21209)
  executor/adapter.go
  infoschema/tables_test.go
  sessionctx/stmtctx/stmtctx.go
Labels: sig/execution, sig/DDL

add backoff for tikv ReadIndexNotReady and ProposalInMergingMode error
  errno/errcode.go
  go.mod
  go.sum
  store/tikv/backoff.go
  store/tikv/error.go
  store/tikv/region_request.go
Labels: none

fix
  sessionctx/variable/session.go
Labels: none

add comment
  util/execdetails/execdetails_test.go
Labels: sig/execution

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*
