Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

[dumpling] executor: Make tidb_constraint_check_in_place session variable work for unique index (#20939)
  dumpling/table/tables/tables.go
  dumpling/table/tables/tables_test.go
Labels: none

Update chunk.go
  util/chunk/chunk.go
Labels: sig/execution

add test
  bindinfo/bind_test.go
Labels: sig/planner

add integration test
  planner/core/integration_test.go
Labels: none

done
  server/tidb_test.go
Labels: none

cherry pick #21251 to release-4.0
  util/ranger/detacher.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Labels: sig/planner

[parser] parser, ast: track if order is implicit ASC/DESC (#1101)
  parser/ast/dml.go
  parser/parser.y
  parser/parser_test.go
Labels: none

fix conflicts
  expression/integration_test.go
Labels: component/expression

fix tablesample limit problem
  executor/sample.go
  executor/sample_test.go
Labels: sig/execution

add test
  executor/executor_test.go
  util/memory/tracker.go
Labels: sig/execution

bugfix
  executor/distsql.go
Labels: sig/execution

expression: keep the original data type when doing date arithmetic operations (#20940) (#21176)
  expression/builtin_time.go
  expression/integration_test.go
Labels: component/expression

forbid json comparison in least/greatest and emit warnings
  expression/builtin_compare.go
  expression/errors.go
Labels: component/expression

remove omitOrderBy
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Labels: none

fix test
  bindinfo/bind_test.go
Labels: sig/planner

fix
  executor/distsql.go
Labels: sig/execution

Update the err handling
  session/session.go
  session/tidb.go
Labels: none

recover comment
  planner/core/exhaust_physical_plans.go
Labels: none

ddl: Fix default value of a newly added enum column (#20798) (#20998)
  ddl/column.go
  ddl/db_integration_test.go
Labels: sig/DDL

fix fmt
  planner/core/exhaust_physical_plans.go
Labels: none

[dumpling] ddl: fix duplicate entry message report by add index (#21241)
  dumpling/ddl/db_integration_test.go
  dumpling/ddl/db_test.go
  dumpling/ddl/index.go
  dumpling/ddl/rollingback.go
  dumpling/table/index.go
  dumpling/table/tables/index.go
Labels: none

ddl: fix duplicate entry message report by add index (#21241)
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/index.go
  ddl/rollingback.go
  table/index.go
  table/tables/index.go
Labels: sig/DDL

ddl: fix duplicate entry message report by add index (#21241)
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/index.go
  ddl/rollingback.go
  table/index.go
  table/tables/index.go
Labels: sig/DDL

also consider 'as name'
  planner/core/logical_plan_builder.go
Labels: none

fix make check
  expression/builtin_compare.go
  expression/errors.go
Labels: component/expression

planner: fix should not use point get plan (#21124) (#21244)
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
  planner/core/testdata/point_get_plan_in.json
  planner/core/testdata/point_get_plan_out.json
Labels: none

fix linter
  errors.toml
  executor/executor_test.go
Labels: sig/execution

fix test
  executor/executor_test.go
Labels: sig/execution

session: fix unit test TestUnionScanForMemBufferReader (#21258)
  session/session_test.go
Labels: none

session: fix unit test TestUnionScanForMemBufferReader (#21258)
  session/session_test.go
Labels: none

[dumpling] session: fix unit test TestUnionScanForMemBufferReader (#21258)
  dumpling/session/session_test.go
Labels: none

cherry pick #21258 to release-4.0
  session/session_test.go
Labels: none

updates
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Labels: none

fix bug
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/generator/other_vec.go
  expression/integration_test.go
Labels: component/expression

Update session_test.go
  session/session_test.go
Labels: none

fix unit test for tidb_opt_prefer_range_scan variable
  planner/core/integration_test.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: none

executor: fix auto-id allocation during statements retry (#20659) (#21079)
  errors.toml
  executor/insert_common.go
  executor/seqtest/seq_executor_test.go
  sessionctx/variable/error.go
  sessionctx/variable/session.go
Labels: sig/execution

planner: ban (index) merge join heuristically when convert eq cond to other cond (#21138) (#21146)
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_join_stats.result
  cmd/explaintest/r/explain_union_scan.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  executor/join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: sig/execution

table: fix insert value into hash partition table which not int (#21182) (#21238)
  table/tables/partition.go
  table/tables/partition_test.go
Labels: none

ddl: compare expression in check partition definition according to column type (#21226) (#21273)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  planner/core/integration_test.go
  planner/core/partition_pruning_test.go
Labels: sig/DDL
