Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

address conflict
  executor/explainfor_test.go
Labels: sig/execution

fix list partition bug
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
  table/tables/partition_test.go
Labels: sig/DDL

ddl: convert hexLit to stringLit in enum and set default value. (#20459) (#20837)
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: sig/DDL

server: add metric for connection idle time (#21265) (#21301)
  infoschema/metric_table_def.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/server.go
  metrics/session.go
  server/conn.go
Labels: sig/DDL

cherry pick #18973 to release-4.0
  executor/executor_test.go
  executor/explainfor_test.go
  executor/prepared_test.go
  executor/set.go
  executor/show_test.go
  executor/testdata/prepare_suite_in.json
  executor/testdata/prepare_suite_out.json
  expression/bench_test.go
  expression/builtin.go
  expression/builtin_other.go
  expression/builtin_other_test.go
  expression/builtin_other_vec.go
  expression/builtin_other_vec_test.go
  expression/distsql_builtin.go
  expression/integration_test.go
  expression/scalar_function.go
  expression/util_test.go
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  sessionctx/variable/session.go
Labels: sig/execution, component/expression

cherry pick #18973 to release-4.0 (#21107)
  executor/executor_test.go
  executor/explainfor_test.go
  executor/prepared_test.go
  executor/set.go
  executor/show_test.go
  executor/testdata/prepare_suite_in.json
  executor/testdata/prepare_suite_out.json
  expression/bench_test.go
  expression/builtin.go
  expression/builtin_other.go
  expression/builtin_other_test.go
  expression/builtin_other_vec.go
  expression/builtin_other_vec_test.go
  expression/distsql_builtin.go
  expression/integration_test.go
  expression/scalar_function.go
  expression/util_test.go
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  sessionctx/variable/session.go
Labels: sig/execution, component/expression

types: convert string to MySQL BIT correctly
  types/datum.go
  types/datum_test.go
Labels: component/expression

fix
  ddl/db_partition_test.go
Labels: sig/DDL

session: fix a bug cause panic when retry is enable. (#21285)
  executor/executor_test.go
  session/session.go
Labels: sig/execution

planner: disallow multi-updates on primary key (#20603) (#21113)
  errors.toml
  executor/executor_test.go
  planner/core/errors.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: sig/execution

fix check
  ddl/ddl_api.go
Labels: sig/DDL

executor: fix cannot use explain for with the statement queried by explain analyze (#21052) (#21302)
  executor/explainfor_test.go
  session/session.go
Labels: sig/execution

nitpick
  executor/slow_query.go
Labels: sig/execution

fix test
  executor/executor_test.go
Labels: sig/execution

address the comment
  store/tikv/coprocessor.go
Labels: none

fix test
  types/datum.go
Labels: component/expression

fmt
  executor/executor_test.go
Labels: sig/execution

util: reduce memoryUsageAlarm log (#20562) (#21239)
  util/expensivequery/memory_usage_alarm.go
Labels: sig/execution

cherry pick #20851 to release-4.0
  util/disk/tempDir.go
  util/expensivequery/memory_usage_alarm.go
Labels: sig/execution

util: fix wrong calculation to get memory usage. (#21158) (#21161)
  util/memory/meminfo.go
Labels: sig/execution

[dumpling] ddl: refactor build definition logic in create table and alter table (#21115)
  dumpling/ddl/db_partition_test.go
  dumpling/ddl/ddl_api.go
  dumpling/ddl/partition.go
Labels: none

ddl: refactor build definition logic in create table and alter table (#21115)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
Labels: sig/DDL

ddl: refactor build definition logic in create table and alter table (#21115)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
Labels: sig/DDL

address the comment
  store/tikv/coprocessor.go
Labels: none

address comment
  session/bootstrap.go
  session/session.go
Labels: none

planner, type: fix AggFieldType error when encouter unsigned and sign type (#21062) (#21236)
  expression/constant.go
  planner/core/expression_rewriter_test.go
  types/etc.go
  types/field_type.go
  types/field_type_test.go
Labels: component/expression

address comment
  executor/executor_test.go
  util/execdetails/execdetails.go
Labels: sig/execution

infosync: omit the 404 error when /config/placement-rule is not existed (#21247)
  domain/domain.go
  domain/domain_test.go
  domain/infosync/info.go
Labels: sig/DDL

[dumpling] infosync: omit the 404 error when /config/placement-rule is not existed (#21247)
  dumpling/domain/domain.go
  dumpling/domain/domain_test.go
  dumpling/domain/infosync/info.go
Labels: none

infosync: omit the 404 error when /config/placement-rule is not existed (#21247)
  domain/domain.go
  domain/domain_test.go
  domain/infosync/info.go
Labels: sig/DDL

fix test
  executor/slow_query_test.go
Labels: sig/execution

executor: fix sum(double) result if value is +Inf or -Inf (#21058) (#21272)
  server/util.go
  server/util_test.go
Labels: none

Refine the comments
  sessionctx/context.go
Labels: none

refactor code
  ddl/ddl_api.go
Labels: sig/DDL

Remove the ErrFindMultipleValidTxn
  errno/errcode.go
Labels: none

store, executor: Add rateLimitAction Ticase (#20901)
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution

store, executor: Add rateLimitAction Ticase (#20901)
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution

[dumpling] store, executor: Add rateLimitAction Ticase (#20901)
  dumpling/executor/executor_test.go
  dumpling/store/tikv/coprocessor.go
Labels: none

add state
  ddl/partition.go
  go.mod
  go.sum
  session/session.go
Labels: sig/DDL

store, executor: Add rateLimitAction Ticase (#20901)
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*
