Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: component/expression, sig/planner, component/statistics, sig/sql-infra, component/config, sig/migrate

linter: fix unconvert output
  build/linter/unconvert/analysis.go
Labels: none

linter: fix unconvert output
  build/linter/unconvert/analysis.go
Labels: none

rename index_lightning to index_ingest
  ddl/index_ingest.go
  ddl/index_ingest_test.go
Labels: sig/sql-infra

cherry pick #37184 to release-6.1
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: sig/sql-infra

*: adjust TLS behaviour for dumpling and lightning (#37479)
  br/pkg/lightning/common/security.go
  br/pkg/lightning/common/security_test.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/lightning.go
  dumpling/export/config.go
  dumpling/export/dump.go
  go.mod
  util/security.go
  util/security_test.go
  util/tls_test/ca.key
  util/tls_test/ca.pem
  util/tls_test/client1.key
  util/tls_test/client1.pem
  util/tls_test/client2.key
  util/tls_test/client2.pem
  util/tls_test/generate.sh
  util/tls_test/server.key
  util/tls_test/server.pem
Labels: none

cherry pick #37184 to release-6.2
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: sig/sql-infra

don't fallback if the job has been converted to rollingback
  ddl/index.go
Labels: sig/sql-infra

cherry pick #37479 to release-5.3
  br/pkg/lightning/common/security.go
  br/pkg/lightning/common/security_test.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/lightning.go
  dumpling/export/config.go
  dumpling/export/dump.go
  go.mod
  util/security.go
  util/security_test.go
Labels: none

linter
  DEPS.bzl
Labels: none

HandleCols
  planner/core/handle_cols.go
Labels: none

cherry pick #37479 to release-5.4
  br/pkg/lightning/common/security.go
  br/pkg/lightning/common/security_test.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/lightning.go
  dumpling/export/config.go
  dumpling/export/dump.go
  go.mod
  util/security.go
  util/security_test.go
Labels: none

ddl: expose BuildTableInfoWithStmt for DM (#37670)
  ddl/ddl_api.go
Labels: sig/sql-infra

cherry pick #37479 to release-6.1
  br/pkg/lightning/common/security.go
  br/pkg/lightning/common/security_test.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/lightning.go
  dumpling/export/config.go
  dumpling/export/dump.go
  go.mod
  util/security.go
  util/security_test.go
  util/tls_test/ca.key
  util/tls_test/ca.pem
  util/tls_test/client1.key
  util/tls_test/client1.pem
  util/tls_test/client2.key
  util/tls_test/client2.pem
  util/tls_test/generate.sh
  util/tls_test/server.key
  util/tls_test/server.pem
Labels: none

PhysicalUnionScan
  planner/core/physical_plans.go
Labels: none

ddl: add logs to backfill worker and refactor some methods (#37662)
  br/pkg/lightning/backend/backend.go
  build/nogo_config.json
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl_test.go
  ddl/ddl_workerpool_test.go
  ddl/index.go
  ddl/ingest/engine_mgr.go
  ddl/reorg.go
  ddl/stat_test.go
  infoschema/tables.go
  table/table.go
  table/tables/tables.go
Labels: sig/sql-infra

feat: support importing int96 ts
  br/pkg/lightning/mydump/parquet/000000_0.parquet
  br/pkg/lightning/mydump/parquet_parser.go
  br/pkg/lightning/mydump/parquet_parser_test.go
  br/tests/lightning_parquet/data/test/test.test_time/000000_0.parquet
  br/tests/lightning_parquet/db.sql
  br/tests/lightning_parquet/run.sh
Labels: none

fix test
  ddl/db_partition_test.go
  executor/analyzetest/analyze_test.go
  executor/distsql_test.go
  executor/executor_issue_test.go
  executor/index_lookup_join_test.go
  executor/partition_table_test.go
  executor/write_test.go
  planner/cascades/integration_test.go
  planner/core/cbo_test.go
  planner/core/collect_column_stats_usage_test.go
  planner/core/integration_partition_test.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/partition_pruner_test.go
  planner/core/physical_plan_test.go
  planner/core/point_get_plan_test.go
  planner/core/rule_join_reorder_test.go
  statistics/handle/handle_test.go
  statistics/integration_test.go
  table/tables/partition_test.go
Labels: component/statistics, sig/sql-infra

physicalSchemaProducer
  planner/core/util.go
Labels: none

fix test
  planner/core/logical_plan_builder.go
Labels: none

rename
  planner/core/handle_cols.go
Labels: none

executor: add cache padding for lock of RowContainer (#37627)
  util/chunk/row_container.go
Labels: none

Fixed linter complaints
  planner/core/rule_partition_processor.go
Labels: none

fix test
  planner/core/point_get_plan_test.go
Labels: none

range
  util/ranger/types.go
Labels: sig/planner

.github/labeler.yml:

sig/execution:
  - any:
      - distsql/*
      - executor/*
      - util/chunk/*
      - util/disk/*
      - util/execdetails/*
      - util/expensivequery/*
      - util/filesort/*
      - util/memory/*
      - util/sqlexec/*
  - all:
      - "!executor/brie*"

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/sql-infra:
  - ddl/*
  - domain/*
  - infoschema/*
  - session/*
  - server/*
  - privilege/*
  - plugin/*
  - config/*
  - meta/*
  - owner/*

component/config:
  - config/*

sig/migrate:
  - executor/brie*
