Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

merge benchmarks
  executor/benchmark_test.go
Labels: sig/execution

[dumpling] executor: add benchmark for partitionRangeSplitter (#21363)
  dumpling/executor/benchmark_test.go
  dumpling/executor/shuffle.go
  dumpling/planner/core/plan.go
Labels: none

executor: add benchmark for partitionRangeSplitter (#21363)
  executor/benchmark_test.go
  executor/shuffle.go
  planner/core/plan.go
Labels: sig/execution

executor: add benchmark for partitionRangeSplitter (#21363)
  executor/benchmark_test.go
  executor/shuffle.go
  planner/core/plan.go
Labels: sig/execution

executor: add unit test and benchmark for shuffle merge join (#21360)
  executor/benchmark_test.go
  executor/merge_join_test.go
Labels: sig/execution

executor: add unit test and benchmark for shuffle merge join (#21360)
  executor/benchmark_test.go
  executor/merge_join_test.go
Labels: sig/execution

[dumpling] executor: add unit test and benchmark for shuffle merge join (#21360)
  dumpling/executor/benchmark_test.go
  dumpling/executor/merge_join_test.go
Labels: none

add a system variable for enabling 1PC
  session/bootstrap.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: none

add keyword
  store/tikv/2pc.go
Labels: none

try to fix test
  session/pessimistic_test.go
  store/tikv/2pc_test.go
  store/tikv/async_commit_fail_test.go
  store/tikv/async_commit_test.go
Labels: none

remove 1pc item in config
  config/config.go
  config/config.toml.example
  config/config_test.go
  kv/kv.go
  session/pessimistic_test.go
  session/session.go
  store/tikv/1pc_test.go
  store/tikv/2pc.go
Labels: component/config

add mpp mock test, part 1
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/cophandler/cop_handler.go
  store/mockstore/unistore/cophandler/cop_handler_test.go
  store/mockstore/unistore/cophandler/mpp.go
  store/mockstore/unistore/rpc.go
Labels: none

update comments
  expression/constant_propagation.go
Labels: component/expression

executor: make test TestSlowQuerySensitiveQuery stable
  executor/executor_test.go
Labels: sig/execution

update
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/rpc.go
Labels: none

try to fix test
  store/tikv/2pc_test.go
Labels: none

ddl: check the expression in partition definition and refactor code (#21325)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/error.go
  ddl/partition.go
  errors.toml
  expression/integration_test.go
Labels: component/expression, sig/DDL

[dumpling] ddl: check the expression in partition definition and refactor code (#21325)
  dumpling/ddl/db_partition_test.go
  dumpling/ddl/ddl_api.go
  dumpling/ddl/error.go
  dumpling/ddl/partition.go
  dumpling/errors.toml
  dumpling/expression/integration_test.go
Labels: none

ddl: check the expression in partition definition and refactor code (#21325)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/error.go
  ddl/partition.go
  errors.toml
  expression/integration_test.go
Labels: component/expression, sig/DDL

correct the condition to enable 1pc
  store/tikv/2pc.go
Labels: none

check add column error when it in txn insert
  ddl/db_test.go
  go.sum
Labels: sig/DDL

*: update pingcap/errors (#21352)
  Makefile
  errors.toml
  go.mod
  go.sum
  tests/globalkilltest/go.sum
Labels: none

[dumpling] *: update pingcap/errors (#21352)
  dumpling/Makefile
  dumpling/errors.toml
  dumpling/go.mod
  dumpling/go.sum
  dumpling/tests/globalkilltest/go.sum
Labels: none

*: update pingcap/errors (#21352)
  Makefile
  errors.toml
  go.mod
  go.sum
  tests/globalkilltest/go.sum
Labels: none

fix ci
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/cophandler/cop_handler.go
  store/mockstore/unistore/cophandler/mpp.go
Labels: none

fix ci
  store/mockstore/unistore/client/client.go
  store/mockstore/unistore/cophandler/cop_handler.go
  store/mockstore/unistore/cophandler/mpp.go
Labels: none

update kvproto
  go.mod
  go.sum
Labels: none

tidy go mod
  go.sum
Labels: none

fix ci
  store/mockstore/unistore/cophandler/closure_exec.go
Labels: none

[dumpling] planner: stablize unit test for tidb_opt_prefer_range_scan variable (#21346)
  dumpling/planner/core/integration_test.go
Labels: none

planner: stablize unit test for tidb_opt_prefer_range_scan variable (#21346)
  planner/core/integration_test.go
Labels: none

planner: stablize unit test for tidb_opt_prefer_range_scan variable (#21346)
  planner/core/integration_test.go
Labels: none

fix format
  store/tikv/scan.go
Labels: none

expression: enable coprocessor pushdown of function UUID (#21174)
  expression/builtin_miscellaneous.go
  expression/expression.go
Labels: component/expression

expression: enable coprocessor pushdown of function UUID (#21174)
  expression/builtin_miscellaneous.go
  expression/expression.go
Labels: component/expression

[dumpling] expression: enable coprocessor pushdown of function UUID (#21174)
  dumpling/expression/builtin_miscellaneous.go
  dumpling/expression/expression.go
Labels: none

cherry pick #21174 to release-4.0
  expression/builtin_miscellaneous.go
  expression/expression.go
Labels: component/expression

server: return results of ongoing queries when graceful shutdown
  server/conn.go
  server/server.go
Labels: none

update_tools
  go.mod
  go.sum
Labels: none

remove stable-mode's effect on non-selection statements
  planner/core/logical_plan_builder.go
  planner/core/optimizer.go
Labels: none
