Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

fix test
  planner/core/integration_test.go
Labels: none

executor: fix comment
  executor/sort.go
Labels: sig/execution

*: rewrite origin sql with default DB for sql bindings
  bindinfo/bind_test.go
  bindinfo/handle.go
  bindinfo/session_handle.go
  ddl/db_test.go
  executor/adapter.go
  executor/executor.go
  executor/executor_test.go
  executor/insert_test.go
  executor/prepared.go
  executor/prepared_test.go
  executor/write_test.go
  go.sum
  infoschema/tables_test.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  planner/optimize.go
  session/session.go
  session/session_test.go
  sessionctx/stmtctx/stmtctx.go
  types/parser_driver/value_expr.go
  util/parser/ast.go
Labels: sig/execution, sig/planner, sig/DDL

modify unit test
  executor/executor_test.go
  executor/write_test.go
Labels: sig/execution

[dumpling] *: fix unable to configure memory-usage-alarm by config file. (#21196)
  dumpling/tidb-server/main.go
Labels: none

*: fix unable to configure memory-usage-alarm by config file. (#21196)
  tidb-server/main.go
Labels: none

*: fix unable to configure memory-usage-alarm by config file. (#21196)
  tidb-server/main.go
Labels: none

restore go.sum
  go.sum
Labels: none

fixs and updates
  executor/builder.go
  executor/update.go
Labels: sig/execution

address the comment
  executor/executor_test.go
  session/session.go
  store/tikv/coprocessor.go
Labels: sig/execution

fmt file
  sessionctx/variable/tidb_vars.go
Labels: none

refine label value
  infoschema/metric_table_def.go
  metrics/grafana/tidb.json
  metrics/server.go
  metrics/session.go
  server/conn.go
Labels: sig/DDL

remove blank
  store/tikv/coprocessor.go
Labels: none

add test
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution

Update integration_test.go
  planner/core/integration_test.go
Labels: none

fix test build failure
  executor/write_test.go
Labels: sig/execution

add comment
  executor/analyze.go
Labels: sig/execution

remove RestoreWithDefaultDB flag
  util/parser/ast.go
Labels: none

*: seperate hash keys from join keys in IndexJoin (#20761) (#21086)
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_join_stats.result
  cmd/explaintest/r/explain_union_scan.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  executor/benchmark_test.go
  executor/builder.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/integration_test.go
  planner/core/physical_plans.go
  planner/core/resolve_indices.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_normalized_suite_out.json
  planner/core/testdata/plan_suite_out.json
  util/ranger/testdata/ranger_suite_out.json
Labels: sig/execution

fix inaccurate statistics
  store/helper/helper.go
  store/helper/helper_test.go
  store/tikv/test_util.go
Labels: none

executor: fix split table with large integers
  ddl/backfilling.go
  errno/errname.go
  executor/errors.go
  executor/executor_test.go
  executor/split.go
Labels: sig/execution, sig/DDL

[parser] *: add a flag `RestoreWithDefaultDB` for Restore (#1105)
  parser/ast/dml.go
  parser/format/format.go
Labels: none

rm another unnecessary test output
  executor/testdata/prepare_suite_out.json
Labels: none

Apply suggestions from code review
  statistics/histogram.go
Labels: component/statistics

cherry pick #20982 to release-4.0
  executor/batch_point_get.go
  executor/executor.go
  executor/executor_test.go
  executor/point_get.go
  sessionctx/variable/session.go
Labels: sig/execution

modify go mod & merge master
  go.mod
  go.sum
Labels: none

fix between type infer
  expression/builtin_compare.go
  planner/core/expression_rewriter.go
  planner/core/expression_test.go
  types/field_type.go
Labels: component/expression

executor: set the inner join keys' field length to unspecified (#21233) (#21249)
  executor/builder.go
  executor/write_test.go
Labels: sig/execution

fix test
  executor/executor_test.go
  session/session_test.go
Labels: sig/execution

remove useless join tp
  planner/core/exhaust_physical_plans.go
Labels: none

planner: fix incorrect results when using a prefix index with OR condition (#21251)
  util/ranger/detacher.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Labels: sig/planner

planner: fix incorrect results when using a prefix index with OR condition (#21251)
  util/ranger/detacher.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Labels: sig/planner

[dumpling] planner: fix incorrect results when using a prefix index with OR condition (#21251)
  dumpling/util/ranger/detacher.go
  dumpling/util/ranger/ranger_test.go
  dumpling/util/ranger/testdata/ranger_suite_in.json
  dumpling/util/ranger/testdata/ranger_suite_out.json
Labels: none

refactor dump.go (#203)
  cmd/dumpling/main.go
  v4/export/config.go
  v4/export/consistency.go
  v4/export/consistency_test.go
  v4/export/dump.go
  v4/export/prepare.go
  v4/export/prepare_test.go
  v4/export/writer.go
  v4/export/writer_test.go
Labels: none

[dumpling] refactor dump.go (#203)
  dumpling/cmd/dumpling/main.go
  dumpling/v4/export/config.go
  dumpling/v4/export/consistency.go
  dumpling/v4/export/consistency_test.go
  dumpling/v4/export/dump.go
  dumpling/v4/export/prepare.go
  dumpling/v4/export/prepare_test.go
  dumpling/v4/export/writer.go
  dumpling/v4/export/writer_test.go
Labels: none

fix go linter warnings
  expression/builtin_compare.go
  types/etc.go
  types/field_type.go
Labels: component/expression

fix IsTypeInteger redeclared
  types/etc.go
Labels: component/expression

do not effect StatementContext
  bindinfo/handle.go
  executor/adapter.go
  executor/executor.go
  executor/prepared.go
  planner/optimize.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
Labels: sig/execution, sig/planner

store/tikv: fix async commit amend txn failure with update statement
  session/pessimistic_test.go
  store/tikv/2pc.go
Labels: none

fix make check
  expression/builtin_compare.go
  expression/typeinfer_test.go
Labels: component/expression
