Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

update test
  planner/core/integration_test.go
Labels: none

fix conflicts
  cmd/explaintest/r/explain_easy.result
  planner/core/point_get_plan_test.go
Labels: none

test: fix testPointGetSuite.TestIssue20692 timeout (#20962)
  planner/core/point_get_plan_test.go
Labels: none

address the comment
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution

add comment
  store/tikv/coprocessor.go
Labels: none

fulfill close
  store/tikv/coprocessor.go
Labels: none

[dumpling] table: fix zero date in different sqlmode (#20206)
  dumpling/executor/executor.go
  dumpling/executor/write_test.go
  dumpling/expression/integration_test.go
  dumpling/session/session_test.go
  dumpling/table/column.go
  dumpling/types/errors.go
Labels: none

table: fix zero date in different sqlmode (#20206)
  executor/executor.go
  executor/write_test.go
  expression/integration_test.go
  session/session_test.go
  table/column.go
  types/errors.go
Labels: sig/execution, component/expression

table: fix zero date in different sqlmode (#20206)
  executor/executor.go
  executor/write_test.go
  expression/integration_test.go
  session/session_test.go
  table/column.go
  types/errors.go
Labels: sig/execution, component/expression

fix comment
  store/tikv/coprocessor.go
Labels: none

fix sum
  ddl/partition.go
  go.sum
Labels: sig/DDL

table: fix insert value into hash partition table which not int (#21182)
  table/tables/partition.go
  table/tables/partition_test.go
Labels: none

[dumpling] table: fix insert value into hash partition table which not int (#21182)
  dumpling/table/tables/partition.go
  dumpling/table/tables/partition_test.go
Labels: none

table: fix insert value into hash partition table which not int (#21182)
  table/tables/partition.go
  table/tables/partition_test.go
Labels: none

cherry pick #21182 to release-4.0
  table/tables/partition.go
  table/tables/partition_test.go
Labels: none

fix worker close
  store/tikv/coprocessor.go
Labels: none

remove useless attr
  store/tikv/coprocessor.go
Labels: none

remove useless code
  store/tikv/coprocessor.go
Labels: none

fix code
  store/tikv/coprocessor.go
Labels: none

executor: load data statement shoule not be prepared (#21188) (#21222)
  executor/errors.go
  executor/executor_test.go
  executor/prepared.go
Labels: sig/execution

update test
  planner/core/integration_test.go
Labels: none

[dumpling] expression: fix a bug that DML using caseWhen may cause schema change (#19857)
  dumpling/expression/aggregation/base_func.go
  dumpling/expression/constant_fold.go
  dumpling/expression/integration_test.go
Labels: none

expression: fix a bug that DML using caseWhen may cause schema change (#19857)
  expression/aggregation/base_func.go
  expression/constant_fold.go
  expression/integration_test.go
Labels: component/expression

expression: fix a bug that DML using caseWhen may cause schema change (#19857)
  expression/aggregation/base_func.go
  expression/constant_fold.go
  expression/integration_test.go
Labels: component/expression

add comment
  executor/builder.go
Labels: sig/execution

address comment
  types/datum.go
Labels: component/expression

correct the test
  executor/insert_test.go
Labels: sig/execution

enhance test
  executor/insert_test.go
Labels: sig/execution

correct the test
  executor/insert_test.go
Labels: sig/execution

fix
  types/datum.go
Labels: component/expression

fix
  types/datum.go
Labels: component/expression

add test
  executor/insert_test.go
  types/datum.go
Labels: sig/execution, component/expression

correct the test
  executor/insert_test.go
Labels: sig/execution

correct the test
  types/datum.go
Labels: component/expression

address cmt
  executor/insert_test.go
  types/datum.go
Labels: sig/execution, component/expression

fix conflicts
  table/tables/partition_test.go
Labels: none

address the code
  store/tikv/coprocessor.go
Labels: none

init
  executor/adapter.go
  planner/core/common_plans.go
  session/session.go
Labels: sig/execution

fix explain test
  executor/join_test.go
Labels: sig/execution

fix
  config/config.toml.example
Labels: component/config
