Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

Revert "reimplement" & updates
  planner/core/logical_plan_builder.go
  planner/core/testdata/plan_suite_unexported_out.json
Labels: none

infoschema: fix inaccurate statistics of TIDB_HOT_REGIONS (#21278)
  store/helper/helper.go
  store/helper/helper_test.go
  store/tikv/test_util.go
Labels: none

[dumpling] infoschema: fix inaccurate statistics of TIDB_HOT_REGIONS (#21278)
  dumpling/store/helper/helper.go
  dumpling/store/helper/helper_test.go
  dumpling/store/tikv/test_util.go
Labels: none

infoschema: fix inaccurate statistics of TIDB_HOT_REGIONS (#21278)
  store/helper/helper.go
  store/helper/helper_test.go
  store/tikv/test_util.go
Labels: none

Add numRows for lookupTableTask
  executor/distsql.go
Labels: sig/execution

fix error output
  sessionctx/variable/session.go
Labels: none

fix tests
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/point_get_plan_out.json
  util/ranger/ranger_test.go
Labels: sig/planner

bugfix
  executor/distsql.go
Labels: sig/execution

address comments
  util/memory/tracker_test.go
Labels: sig/execution

store/tikv: reduce BatchGet pending keys only when there is no response-level error (#21157)
  go.mod
  go.sum
  store/mockstore/unistore/rpc.go
  store/tikv/snapshot.go
  store/tikv/snapshot_fail_test.go
Labels: none

[dumpling] store/tikv: reduce BatchGet pending keys only when there is no response-level error (#21157)
  dumpling/go.mod
  dumpling/go.sum
  dumpling/store/mockstore/unistore/rpc.go
  dumpling/store/tikv/snapshot.go
  dumpling/store/tikv/snapshot_fail_test.go
Labels: none

store/tikv: reduce BatchGet pending keys only when there is no response-level error (#21157)
  go.mod
  go.sum
  store/mockstore/unistore/rpc.go
  store/tikv/snapshot.go
  store/tikv/snapshot_fail_test.go
Labels: none

bugfix
  executor/distsql.go
Labels: sig/execution

planner: fix incorrect results when using a prefix index with OR condition (#21251) (#21287)
  util/ranger/detacher.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Labels: sig/planner

fix tests
  expression/builtin_compare.go
  util/ranger/ranger_test.go
Labels: component/expression, sig/planner

Simplify the txn interfaces
  bindinfo/handle.go
  executor/builder.go
  executor/ddl.go
  executor/executor.go
  executor/grant.go
  executor/infoschema_reader.go
  executor/revoke.go
  server/conn.go
  session/schema_amender.go
  session/session.go
  sessionctx/context.go
  statistics/handle/ddl.go
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/update.go
  table/tables/index.go
  table/tables/tables.go
  util/mock/context.go
Labels: sig/execution, sig/planner

fix data race
  session/session.go
Labels: none

*: refine runtime stats display and tiny bug fix for metrics (#21022)
  bindinfo/bind_test.go
  distsql/select_result.go
  executor/distsql.go
  executor/distsql_test.go
  executor/executor_test.go
  executor/explainfor_test.go
  executor/hash_table.go
  executor/index_lookup_join.go
  executor/insert_common.go
  executor/insert_test.go
  executor/join.go
  executor/slow_query.go
  infoschema/metric_table_def.go
  planner/core/cbo_test.go
  planner/core/common_plans.go
  store/tikv/region_request.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
  util/expensivequery/expensivequerey_test.go
  util/expensivequery/expensivequery.go
  util/memory/tracker.go
  util/memory/tracker_test.go
  util/plancodec/codec.go
Labels: sig/execution, sig/planner, sig/DDL

[dumpling] *: refine runtime stats display and tiny bug fix for metrics (#21022)
  dumpling/bindinfo/bind_test.go
  dumpling/distsql/select_result.go
  dumpling/executor/distsql.go
  dumpling/executor/distsql_test.go
  dumpling/executor/executor_test.go
  dumpling/executor/explainfor_test.go
  dumpling/executor/hash_table.go
  dumpling/executor/index_lookup_join.go
  dumpling/executor/insert_common.go
  dumpling/executor/insert_test.go
  dumpling/executor/join.go
  dumpling/executor/slow_query.go
  dumpling/infoschema/metric_table_def.go
  dumpling/planner/core/cbo_test.go
  dumpling/planner/core/common_plans.go
  dumpling/store/tikv/region_request.go
  dumpling/store/tikv/snapshot.go
  dumpling/store/tikv/snapshot_test.go
  dumpling/util/execdetails/execdetails.go
  dumpling/util/execdetails/execdetails_test.go
  dumpling/util/expensivequery/expensivequerey_test.go
  dumpling/util/expensivequery/expensivequery.go
  dumpling/util/memory/tracker.go
  dumpling/util/memory/tracker_test.go
  dumpling/util/plancodec/codec.go
Labels: none

*: refine runtime stats display and tiny bug fix for metrics (#21022)
  bindinfo/bind_test.go
  distsql/select_result.go
  executor/distsql.go
  executor/distsql_test.go
  executor/executor_test.go
  executor/explainfor_test.go
  executor/hash_table.go
  executor/index_lookup_join.go
  executor/insert_common.go
  executor/insert_test.go
  executor/join.go
  executor/slow_query.go
  infoschema/metric_table_def.go
  planner/core/cbo_test.go
  planner/core/common_plans.go
  store/tikv/region_request.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
  util/expensivequery/expensivequerey_test.go
  util/expensivequery/expensivequery.go
  util/memory/tracker.go
  util/memory/tracker_test.go
  util/plancodec/codec.go
Labels: sig/execution, sig/planner, sig/DDL

cherry pick #21022 to release-4.0
  bindinfo/bind_test.go
  distsql/select_result.go
  executor/distsql.go
  executor/distsql_test.go
  executor/executor_test.go
  executor/explainfor_test.go
  executor/hash_table.go
  executor/index_lookup_join.go
  executor/insert_common.go
  executor/insert_test.go
  executor/join.go
  executor/slow_query.go
  infoschema/metric_table_def.go
  planner/core/cbo_test.go
  planner/core/common_plans.go
  store/tikv/region_request.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
  util/expensivequery/expensivequerey_test.go
  util/expensivequery/expensivequery.go
  util/memory/tracker.go
  util/memory/tracker_test.go
  util/plancodec/codec.go
Labels: sig/execution, sig/planner, sig/DDL

fix
  executor/distsql.go
Labels: sig/execution

fix
  executor/distsql.go
Labels: sig/execution

log: desensitize of dispatching error and parsing error (#21141) (#21171)
  server/conn.go
  session/session.go
  util/misc.go
Labels: none

[dumpling] config, session: keep the default value of mem-quota-query when upgrade from 3.0 to 4.0.9+ (#21305)
  dumpling/config/config.go
  dumpling/session/bootstrap.go
  dumpling/session/bootstrap_test.go
  dumpling/session/session.go
Labels: none

config, session: keep the default value of mem-quota-query when upgrade from 3.0 to 4.0.9+ (#21305)
  config/config.go
  session/bootstrap.go
  session/bootstrap_test.go
  session/session.go
Labels: component/config

config, session: keep the default value of mem-quota-query when upgrade from 3.0 to 4.0.9+ (#21305)
  config/config.go
  session/bootstrap.go
  session/bootstrap_test.go
  session/session.go
Labels: component/config

cherry pick #21305 to release-4.0
  config/config.go
  session/bootstrap.go
  session/bootstrap_test.go
  session/session.go
Labels: component/config

util: redact log for expensive sqls (#20852) (#20919)
  session/session.go
  util/expensivequery/expensivequerey_test.go
  util/expensivequery/expensivequery.go
  util/processinfo.go
Labels: sig/execution

resolve conflicts
  session/bootstrap.go
  session/session.go
Labels: none

add case for common handle in clustered index
  executor/batch_point_get_test.go
Labels: sig/execution

address comment: sleep to make sure add index run first
  session/pessimistic_test.go
Labels: none

fix conflict
  distsql/distsql_test.go
  executor/executor_test.go
  executor/explainfor_test.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: sig/execution

test
  session/bootstrap_test.go
Labels: none

resolve conflicts
  session/session.go
Labels: none

planner: natural join not consider rowid and null eq not propagate
  executor/join_test.go
  executor/testdata/executor_suite_in.json
  executor/testdata/executor_suite_out.json
  expression/constant_propagation.go
  planner/core/logical_plan_builder.go
  planner/core/testdata/point_get_plan_out.json
Labels: sig/execution, component/expression

store/tikv: fix async commit amend txn failure with update statement (#21281)
  session/pessimistic_test.go
  store/tikv/2pc.go
Labels: none

[dumpling] store/tikv: fix async commit amend txn failure with update statement (#21281)
  dumpling/session/pessimistic_test.go
  dumpling/store/tikv/2pc.go
Labels: none

store/tikv: fix async commit amend txn failure with update statement (#21281)
  session/pessimistic_test.go
  store/tikv/2pc.go
Labels: none

store/tikv: retry the same scan request when there is a response-level lock
  go.mod
  go.sum
  store/mockstore/unistore/rpc.go
  store/tikv/scan.go
Labels: none

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*
