Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: component/executor, component/expression, component/planner, component/statistics, component/DDL, component/config

.github/labeler.yml:

component/executor:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

component/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

component/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

planner/bindinfo: fix occasional panic of baseline evolution (#15233)
  bindinfo/bind.go
  bindinfo/bind_test.go
  bindinfo/cache.go
  bindinfo/handle.go
  bindinfo/session_handle.go
  planner/optimize.go
Labels: component/planner

planner/bindinfo: fix occasional panic of baseline evolution (#15233)
  bindinfo/bind.go
  bindinfo/bind_test.go
  bindinfo/cache.go
  bindinfo/handle.go
  bindinfo/session_handle.go
  planner/optimize.go
Labels: component/planner

[dumpling] planner/bindinfo: fix occasional panic of baseline evolution (#15233)
  dumpling/bindinfo/bind.go
  dumpling/bindinfo/bind_test.go
  dumpling/bindinfo/cache.go
  dumpling/bindinfo/handle.go
  dumpling/bindinfo/session_handle.go
  dumpling/planner/optimize.go
Labels: none

fix comment
  executor/benchmark_test.go
Labels: component/executor

add test
  executor/merge_join.go
  executor/merge_join_test.go
Labels: component/executor

gc_worker: Enable Green GC by default (#15490)
  store/mockstore/mocktikv/rpc.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Labels: none

gc_worker: Enable Green GC by default (#15490)
  store/mockstore/mocktikv/rpc.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Labels: none

[dumpling] gc_worker: Enable Green GC by default (#15490)
  dumpling/store/mockstore/mocktikv/rpc.go
  dumpling/store/tikv/gcworker/gc_worker.go
  dumpling/store/tikv/gcworker/gc_worker_test.go
Labels: none

gc_worker: Skip TiFlash nodes when doing UnsafeDestroyRange and Green GC
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Labels: none

Update test files;
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_union_scan.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/r/window_function.result
  distsql/select_result_test.go
  executor/analyze_test.go
  executor/executor_test.go
  executor/explainfor_test.go
  executor/join_test.go
  executor/merge_join_test.go
  executor/point_get_test.go
  executor/testdata/agg_suite_out.json
  expression/constant_fold_test.go
  expression/integration_test.go
  expression/testdata/expression_suite_out.json
  expression/testdata/partition_pruner_out.json
  infoschema/perfschema/tables_test.go
  planner/cascades/integration_test.go
  planner/cascades/testdata/integration_suite_out.json
  planner/core/cbo_test.go
  planner/core/common_plans.go
  planner/core/explain.go
  planner/core/integration_test.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/point_get_plan_out.json
  statistics/testdata/stats_suite_out.json
  util/execdetails/execdetails.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_out.json
  util/testkit/testkit.go
Labels: component/executor, component/expression, component/planner

fix comment
  expression/builtin_miscellaneous_vec.go
Labels: component/expression

change ddljobs time type
  executor/executor.go
  executor/executor_test.go
  executor/infoschema_reader_test.go
Labels: component/executor

refine code
  infoschema/tables.go
  planner/core/planbuilder.go
Labels: component/DDL

done
  expression/builtin_string_vec_generated.go
  expression/integration_test.go
Labels: component/expression

Fix bug.
  go.sum
  infoschema/perfschema/tables_test.go
  planner/core/common_plans.go
  planner/core/explain.go
  planner/core/point_get_plan.go
  util/execdetails/execdetails_test.go
Labels: component/executor

Show build and probe suffix for index merge operator.
  cmd/explaintest/r/explain_indexmerge.result
  expression/testdata/partition_pruner_out.json
  planner/core/common_plans.go
  planner/core/testdata/integration_suite_out.json
Labels: none

Add accessObject of `MemTableScan`.
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  executor/explainfor_test.go
  planner/cascades/testdata/integration_suite_out.json
  planner/core/explain.go
  planner/core/point_get_plan.go
Labels: component/executor

show index name in explain result.
  planner/core/explain.go
  planner/core/point_get_plan.go
Labels: none
