Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

fix TestIssue20658
  executor/aggregate_test.go
Labels: sig/execution

do not enable 1pc/async commit on bootstrap if store is not tikv
  session/bootstrap.go
Labels: none

*: update go.mod for sysutil
  go.mod
  go.sum
Labels: none

[parser] done (#1108)
  parser/types/field_type.go
  parser/types/field_type_test.go
Labels: none

store/tikv: retry the same scan request when there is a response-level lock (#21348)
  go.mod
  go.sum
  store/mockstore/unistore/rpc.go
  store/tikv/scan.go
  store/tikv/snapshot_fail_test.go
Labels: none

store/tikv: retry the same scan request when there is a response-level lock (#21348)
  go.mod
  go.sum
  store/mockstore/unistore/rpc.go
  store/tikv/scan.go
  store/tikv/snapshot_fail_test.go
Labels: none

[dumpling] store/tikv: retry the same scan request when there is a response-level lock (#21348)
  dumpling/go.mod
  dumpling/go.sum
  dumpling/store/mockstore/unistore/rpc.go
  dumpling/store/tikv/scan.go
  dumpling/store/tikv/snapshot_fail_test.go
Labels: none

[dumpling] *: update the tools dependence (#21370)
  dumpling/go.mod
  dumpling/go.sum
Labels: none

*: update the tools dependence (#21370)
  go.mod
  go.sum
Labels: none

*: update the tools dependence (#21370)
  go.mod
  go.sum
Labels: none

put rule_stable_mode behind rule_column_prune
  planner/core/optimizer.go
Labels: none

cherry pick #21370 to release-4.0
  go.mod
  go.sum
Labels: none

update
  go.mod
  go.sum
Labels: none

refactor checkAsyncCommit
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: none

executor: fix test problems in TestIssue20658 (#21371)
  executor/aggregate_test.go
Labels: sig/execution

executor: fix test problems in TestIssue20658 (#21371)
  executor/aggregate_test.go
Labels: sig/execution

[dumpling] executor: fix test problems in TestIssue20658 (#21371)
  dumpling/executor/aggregate_test.go
Labels: none

planner: generate proper hint for IndexHashJoin / IndexMergeJoin (#21020)
  planner/core/hints.go
  planner/core/physical_plan_test.go
Labels: none

*: update go.mod for sysutil (#21373)
  go.mod
  go.sum
Labels: none

*: update go.mod for sysutil (#21373)
  go.mod
  go.sum
Labels: none

[dumpling] *: update go.mod for sysutil (#21373)
  dumpling/go.mod
  dumpling/go.sum
Labels: none

cherry pick #21373 to release-4.0
  go.mod
  go.sum
Labels: none

fix bug
  planner/core/find_best_task.go
Labels: none

1
  expression/integration_test.go
  statistics/histogram.go
Labels: component/expression, component/statistics

done
  expression/integration_test.go
Labels: component/expression

*: close transaction for all SQLs
  executor/simple_test.go
  session/session.go
Labels: sig/execution

resolve conflict
  go.mod
  go.sum
Labels: none

update go mod
  go.mod
  go.sum
Labels: none

planner: choose better plan when the range condition can convert to point.
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: none

fix test: enable async commit or 1PC by setting txn options
  session/pessimistic_test.go
  store/tikv/1pc_test.go
  store/tikv/2pc_test.go
  store/tikv/async_commit_fail_test.go
  store/tikv/async_commit_test.go
Labels: none

fixup
  planner/core/find_best_task.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: none

planner: set dbName for hinted query block table alias (#21213)
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Labels: none

planner: set dbName for hinted query block table alias (#21213)
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Labels: none

[dumpling] planner: set dbName for hinted query block table alias (#21213)
  dumpling/planner/core/integration_test.go
  dumpling/planner/core/logical_plan_builder.go
Labels: none

cherry pick #21213 to release-4.0
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Labels: none

planner: var_pop/stdev(distinct) should be failed
  planner/core/preprocess.go
Labels: none

remove unused variable
  planner/core/planbuilder.go
Labels: none

planner: fix index merge doesn't take effect when using prefix key (#20425) (#21003)
  planner/core/integration_test.go
  planner/core/stats.go
Labels: none

planner: reimplement DEFAULT function to make the behavior consistent with MySQL when looking up the corresponding column (#19709) (#21316)
  expression/simple_rewriter.go
  go.mod
  go.sum
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Labels: component/expression

try another fix
  session/session.go
Labels: none
