Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

init
  infoschema/metric_table_def.go
  metrics/metrics.go
  metrics/server.go
  server/conn.go
Labels: sig/DDL

add metric panel in grafana
  metrics/grafana/tidb.json
Labels: none

fix test
  ddl/db_partition_test.go
Labels: sig/DDL

try to use rowids to replace rows
  executor/distsql.go
  executor/index_merge_reader.go
Labels: sig/execution

bugfix
  executor/index_merge_reader.go
Labels: sig/execution

expression: fix TIMESTAMP func get wrong result with decimal (#15185) (#20088) (#20470)
  expression/builtin_time.go
  expression/integration_test.go
  types/time.go
  types/time_test.go
Labels: component/expression

add test for rc, fix path which get handles from builder
  executor/batch_point_get.go
  executor/batch_point_get_test.go
  executor/builder.go
  executor/point_get.go
  executor/point_get_test.go
Labels: sig/execution

variable: cleanup code (#21252)
  sessionctx/variable/session.go
Labels: none

[dumpling] variable: cleanup code (#21252)
  dumpling/sessionctx/variable/session.go
Labels: none

variable: cleanup code (#21252)
  sessionctx/variable/session.go
Labels: none

infoschema: fix the bug that the metric of hot region will be same
  store/helper/helper.go
Labels: none

test: stabilize leak test #19526
  util/testleak/leaktest.go
Labels: none

executor: load data statement shoule not be prepared (#21188) (#21199)
  errors.toml
  executor/errors.go
  executor/executor_test.go
  executor/prepared.go
Labels: sig/execution

fix auto merge errors
  server/conn.go
  session/session.go
Labels: none

*: support read only lock (#21100)
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/table_lock.go
  executor/ddl.go
  executor/point_get.go
  lock/lock.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  session/session.go
Labels: sig/execution, sig/DDL

*: support read only lock (#21100)
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/table_lock.go
  executor/ddl.go
  executor/point_get.go
  lock/lock.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  session/session.go
Labels: sig/execution, sig/DDL

[dumpling] *: support read only lock (#21100)
  dumpling/ddl/db_test.go
  dumpling/ddl/ddl_api.go
  dumpling/ddl/table_lock.go
  dumpling/executor/ddl.go
  dumpling/executor/point_get.go
  dumpling/lock/lock.go
  dumpling/planner/core/logical_plan_test.go
  dumpling/planner/core/optimizer.go
  dumpling/planner/core/planbuilder.go
  dumpling/planner/core/point_get_plan.go
  dumpling/session/session.go
Labels: none

infoschema: resolve loopback address of node (#20546) (#20850)
  infoschema/tables.go
  infoschema/tables_test.go
Labels: sig/DDL

Update error.go
  ddl/error.go
Labels: sig/DDL

address comments
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: sig/execution

address the comment
  domain/infosync/info.go
Labels: none

modify unit test
  ddl/db_change_test.go
  executor/union_scan_test.go
  table/tables/tables_test.go
Labels: sig/execution, sig/DDL

modify unit test
  ddl/db_change_test.go
Labels: sig/DDL

coprocessor: Update KvProto (#20966)
  go.mod
  go.sum
  store/mockstore/unistore/cophandler/cop_handler.go
  store/tikv/batch_coprocessor.go
  store/tikv/coprocessor.go
Labels: none

coprocessor: Update KvProto (#20966)
  go.mod
  go.sum
  store/mockstore/unistore/cophandler/cop_handler.go
  store/tikv/batch_coprocessor.go
  store/tikv/coprocessor.go
Labels: none

[dumpling] coprocessor: Update KvProto (#20966)
  dumpling/go.mod
  dumpling/go.sum
  dumpling/store/mockstore/unistore/cophandler/cop_handler.go
  dumpling/store/tikv/batch_coprocessor.go
  dumpling/store/tikv/coprocessor.go
Labels: none

ddl: check partition name unique when create hash type partition table (#21210) (#21257)
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: sig/DDL

fix
  executor/distsql.go
  executor/index_merge_reader.go
Labels: sig/execution

executor: fix sum(double) result if value is +Inf or -Inf (#21058)
  server/util.go
  server/util_test.go
Labels: none

[dumpling] executor: fix sum(double) result if value is +Inf or -Inf (#21058)
  dumpling/server/util.go
  dumpling/server/util_test.go
Labels: none

executor: fix sum(double) result if value is +Inf or -Inf (#21058)
  server/util.go
  server/util_test.go
Labels: none

cherry pick #21058 to release-4.0
  server/util.go
  server/util_test.go
Labels: none

fix format
  store/tikv/snapshot_fail_test.go
Labels: none

ddl: compare expression in check partition definition according to column type (#21226)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  planner/core/integration_test.go
  planner/core/partition_pruning_test.go
Labels: sig/DDL

[dumpling] ddl: compare expression in check partition definition according to column type (#21226)
  dumpling/ddl/db_partition_test.go
  dumpling/ddl/ddl_api.go
  dumpling/planner/core/integration_test.go
  dumpling/planner/core/partition_pruning_test.go
Labels: none

ddl: compare expression in check partition definition according to column type (#21226)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  planner/core/integration_test.go
  planner/core/partition_pruning_test.go
Labels: sig/DDL

cherry pick #21226 to release-4.0
  ddl/db_partition_test.go
  ddl/ddl_api.go
  planner/core/integration_test.go
  planner/core/partition_pruning_test.go
Labels: sig/DDL

util: chunk add AppendRowByColIdxs&test
  util/chunk/list.go
  util/chunk/list_test.go
Labels: sig/execution

executor: fix topN doCompaction error on inline projection
  executor/builder.go
  executor/sort.go
Labels: sig/execution

planner: explain schema for topN&sort plan
  planner/cascades/testdata/stringer_suite_out.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/explain.go
  planner/core/testdata/point_get_plan_out.json
Labels: none
