Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: component/expression, sig/planner, component/statistics, sig/sql-infra, component/config, sig/migrate

fix lint
  br/pkg/task/backup_raw.go
Labels: none

Lightning: change severity of clusterResourceCheckItem,emptyRegionCheckItem from Critical to Warn
  br/pkg/lightning/restore/precheck_impl.go
  br/pkg/lightning/restore/precheck_impl_test.go
Labels: none

fix test TestGetIndexMVCC
  server/http_handler_test.go
Labels: sig/sql-infra

executor: disable closest replica read if cluster is not balanced (#36824)
  domain/domain.go
  domain/domain_test.go
  domain/infosync/info.go
  executor/builder.go
  executor/point_get.go
  sessionctx/variable/session.go
Labels: sig/sql-infra

fix TestJobNeedGC
  ddl/ddl_worker_test.go
Labels: sig/sql-infra

remove useless codes
  expression/builtin_regexp.go
Labels: component/expression

tweaking
  expression/builtin_regexp.go
Labels: component/expression

Rename tidb_tmp_storage_path to tmpdir
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/explain.go
  executor/merge_join_test.go
  executor/sort_test.go
  server/tidb_serial_test.go
  sessionctx/variable/noop.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/chunk/disk.go
  util/chunk/disk_test.go
  util/chunk/main_test.go
  util/disk/tempDir.go
  util/disk/tempDir_test.go
  util/expensivequery/memory_usage_alarm.go
  util/misc.go
Labels: sig/sql-infra, component/config

fix lint
  br/pkg/task/backup_raw.go
  br/pkg/task/stream.go
Labels: none

fix test
  br/tests/_utils/run_services
  util/security.go
Labels: none

sessionctx/variable: turn off TiDBEnablePseudoForOutdatedStats by default (#36797)
  session/session.go
  sessionctx/variable/tidb_vars.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/integration_test.go
Labels: component/statistics, sig/sql-infra

add comments
  util/chunk/row_container.go
Labels: none

fix lint
  br/cmd/br/restore.go
Labels: none

test: correct TestAllHistory (#37656)
  server/http_handler_test.go
Labels: sig/sql-infra

use constant
  planner/core/physical_plans.go
  planner/core/plan.go
  util/memory/tracker.go
Labels: none

feat: add retry for get all stores; add some unit tests
  br/pkg/restore/data.go
  br/pkg/restore/data_test.go
  br/pkg/restore/util_test.go
  br/pkg/task/restore_data.go
  br/pkg/utils/backoff.go
  go.sum
Labels: none

linter
  planner/core/plan.go
Labels: none

update design doc
  docs/design/2022-06-22-foreign-key.md
Labels: none

fix explain test
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/select.result
  cmd/explaintest/t/generated_columns.test
  cmd/explaintest/t/select.test
Labels: none

update comment
  util/security.go
Labels: none

fix debug
  br/tests/_utils/run_services
Labels: none

*: support create table with foreign key and maintain foreign key reference (#37148)
  ddl/db_table_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/ddl_error_test.go
  ddl/ddl_worker.go
  ddl/foreign_key.go
  ddl/foreign_key_test.go
  ddl/table.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/infoschema_reader.go
  executor/set_test.go
  executor/show.go
  executor/showtest/show_test.go
  expression/integration_test.go
  infoschema/builder.go
  infoschema/error.go
  infoschema/infoschema.go
  parser/ast/ddl.go
  parser/model/model.go
  parser/model/model_test.go
  parser/mysql/errcode.go
  parser/mysql/errname.go
  parser/parser.y
  planner/core/planbuilder.go
  planner/core/preprocess.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Labels: component/expression, sig/sql-infra

add some tests
  ddl/cluster.go
  ddl/cluster_test.go
  ddl/ddl_api.go
  executor/recover_test.go
  tests/realtikvtest/brietest/BUILD.bazel
  tests/realtikvtest/brietest/flashback_test.go
Labels: sig/sql-infra

fix shallow pointer of mutexForRowContainer
  util/chunk/row_container.go
Labels: none

refactor one line code
  sessiontxn/isolation/readcommitted.go
Labels: none

fix fmt
  ddl/cluster.go
Labels: sig/sql-infra

planner: add a session variable "tidb_opt_inline_cte"
  executor/set_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: none

add comment
  sessionctx/variable/session.go
Labels: none

tweaking
  expression/builtin_regexp.go
Labels: component/expression

fix fmt
  ddl/cluster.go
Labels: sig/sql-infra

fix fmt
  tests/realtikvtest/brietest/flashback_test.go
Labels: none

byItem sortItem PhysicalPropery
  planner/core/physical_plan_test.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/property/physical_property.go
  planner/util/byitem.go
  util/memory/tracker.go
Labels: none

resolve lint
  util/stringutil/string_util.go
Labels: none

Update tracker.go
  util/memory/tracker.go
Labels: none

ddl: add logs to backfill worker and refactor some methods
  br/pkg/lightning/backend/backend.go
  build/nogo_config.json
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl_test.go
  ddl/ddl_workerpool_test.go
  ddl/index.go
  ddl/ingest/engine_mgr.go
  ddl/reorg.go
  ddl/stat_test.go
  infoschema/tables.go
  table/table.go
  table/tables/tables.go
Labels: sig/sql-infra

Update physical_property.go
  planner/property/physical_property.go
Labels: none

Update
  server/server.go
  sessionctx/variable/sysvar.go
Labels: sig/sql-infra

fix explain test
  planner/core/integration_test.go
Labels: none

resolve lint
  expression/builtin_regexp.go
Labels: component/expression

fix test
  executor/recover_test.go
  tests/realtikvtest/brietest/flashback_test.go
Labels: none

.github/labeler.yml:

sig/execution:
  - any:
      - distsql/*
      - executor/*
      - util/chunk/*
      - util/disk/*
      - util/execdetails/*
      - util/expensivequery/*
      - util/filesort/*
      - util/memory/*
      - util/sqlexec/*
  - all:
      - "!executor/brie*"

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/sql-infra:
  - ddl/*
  - domain/*
  - infoschema/*
  - session/*
  - server/*
  - privilege/*
  - plugin/*
  - config/*
  - meta/*
  - owner/*

component/config:
  - config/*

sig/migrate:
  - executor/brie*
