Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

refactor code
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/error.go
  ddl/partition.go
Labels: sig/DDL

build chunk by rows
  executor/distsql.go
  executor/executor_test.go
Labels: sig/execution

planner: make index-hash-join and index-merge-join consider collation (#21201) (#21219)
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
Labels: component/expression

fix
  executor/distsql.go
Labels: sig/execution

*: implement priority control for OOM Action (#21170) (#21298)
  executor/executor.go
  executor/executor_test.go
  store/tikv/coprocessor.go
  util/chunk/row_container.go
  util/memory/action.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: sig/execution

cherry pick #21278 to release-4.0
  store/helper/helper.go
  store/helper/helper_test.go
  store/tikv/test_util.go
Labels: none

tiny refactor
  executor/distsql.go
  util/chunk/chunk.go
Labels: sig/execution

fix test
  distsql/distsql_test.go
  distsql/request_builder_test.go
  util/execdetails/execdetails.go
Labels: sig/execution

fix
  errno/errname.go
Labels: none

*: make rollback work on user-defined variable
  executor/set.go
  executor/simple.go
  expression/builtin_other.go
  expression/builtin_other_vec.go
  planner/core/planbuilder.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: sig/execution, component/expression

go mod tidy
  go.sum
Labels: none

add session variables for shuffle merge join
  planner/core/plan.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: none

executor: fix issue of explain for connection can't show the last query plan (#21242) (#21315)
  server/server_test.go
  server/tidb_test.go
  session/session.go
Labels: none

fix middle state
  ddl/ddl_api.go
  ddl/partition.go
  executor/brie.go
  go.mod
  go.sum
  infoschema/infoschema.go
  session/session.go
Labels: sig/execution, sig/DDL

fix mod
  go.sum
Labels: none

remove debug logs
  ddl/partition.go
Labels: sig/DDL

cherry pick #21076 to release-4.0
  executor/brie.go
  go.mod
  go.sum
Labels: sig/execution

resolve conflict
  go.mod
  go.sum
Labels: none

fix build
  expression/builtin_other_test.go
Labels: component/expression

try fix data race
  session/session.go
Labels: none

fix fmt
  errors.toml
  go.sum
Labels: none

format code
  planner/core/expression_rewriter_test.go
Labels: none

polish code according to comment
  session/session.go
Labels: none

address comment
  session/bootstrap_test.go
  session/session.go
Labels: none

stable test case
  session/pessimistic_test.go
  store/tikv/2pc.go
Labels: none

config, session: keep the default value of mem-quo ... (#21305) (#21327)
  config/config.go
  session/bootstrap.go
  session/bootstrap_test.go
  session/session.go
Labels: component/config

Simplify the boilerplate codes
  bindinfo/handle.go
  executor/builder.go
  executor/ddl.go
  executor/executor.go
  executor/grant.go
  executor/infoschema_reader.go
  executor/revoke.go
  server/conn.go
  session/schema_amender.go
  session/session.go
  sessionctx/context.go
  statistics/handle/ddl.go
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/update.go
  table/tables/tables.go
Labels: sig/execution, sig/planner

fix different types compare error and fix query for bit
  ddl/ddl_api.go
  expression/builtin_cast.go
  expression/integration_test.go
  server/util.go
Labels: component/expression, sig/DDL

fix different types compare error and query for bit
  ddl/ddl_api.go
  expression/builtin_cast.go
  expression/integration_test.go
  server/util.go
Labels: component/expression, sig/DDL

executor: fix bug when parsing the slow logs if the logNum is small (#20959) (#21211)
  executor/slow_query.go
  executor/slow_query_test.go
Labels: sig/execution

hptc ycsb-worloade: Implement AppendRows for Chunk #21057
  util/chunk/chunk.go
Labels: sig/execution

free the unused rows
  executor/distsql.go
Labels: sig/execution

Update the sessionctx.Context interface
  bindinfo/handle.go
  executor/adapter.go
  executor/admin.go
  executor/analyze.go
  executor/builder.go
  executor/ddl.go
  executor/delete.go
  executor/executor.go
  executor/grant.go
  executor/infoschema_reader.go
  executor/insert.go
  executor/insert_common.go
  executor/point_get.go
  executor/replace.go
  executor/revoke.go
  executor/simple.go
  executor/union_scan.go
  executor/update.go
  executor/write.go
  server/conn.go
  session/schema_amender.go
  session/schema_amender_test.go
  session/session.go
  session/tidb.go
  sessionctx/context.go
  sessionctx/variable/session.go
  statistics/handle/ddl.go
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/update.go
  table/tables/index.go
  table/tables/tables.go
  util/mock/context.go
Labels: sig/execution, sig/planner

fix Out of range error message is not informative enough
  executor/update.go
  executor/update_test.go
Labels: sig/execution

Update the Txn interfaces to support the local transaction
  kv/fault_injection.go
  kv/fault_injection_test.go
  kv/interface_mock_test.go
  kv/kv.go
  session/bootstrap_test.go
  session/schema_amender_test.go
  session/session.go
  session/tidb.go
  session/txn.go
  sessionctx/context.go
  sessionctx/variable/session.go
  store/mockoracle/oracle.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/async_commit_test.go
  store/tikv/commit.go
  store/tikv/kv.go
  store/tikv/lock_test.go
  store/tikv/oracle/oracle.go
  store/tikv/oracle/oracles/local.go
  store/tikv/oracle/oracles/pd.go
  store/tikv/store_test.go
  store/tikv/txn.go
  util/mock/context.go
  util/mock/store.go
Labels: none

Exclude a test case
  ddl/placement_sql_test.go
  session/session.go
  sessionctx/variable/session.go
Labels: sig/DDL

init
  executor/split.go
  planner/core/initialize.go
  planner/core/planbuilder.go
  store/tikv/split_region.go
  util/execdetails/execdetails.go
  util/plancodec/id.go
Labels: sig/execution, sig/planner

[dumpling] planner/core, session, sessionctx/variable: add session variable to control the concurrency of shuffle merge join (#21332)
  dumpling/planner/core/plan.go
  dumpling/session/session.go
  dumpling/sessionctx/variable/session.go
  dumpling/sessionctx/variable/sysvar.go
  dumpling/sessionctx/variable/tidb_vars.go
  dumpling/sessionctx/variable/varsutil.go
  dumpling/sessionctx/variable/varsutil_test.go
Labels: none

planner/core, session, sessionctx/variable: add session variable to control the concurrency of shuffle merge join (#21332)
  planner/core/plan.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: none

planner/core, session, sessionctx/variable: add session variable to control the concurrency of shuffle merge join (#21332)
  planner/core/plan.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: none
