Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

add e2e test
  tests/graceshutdown/.gitignore
  tests/graceshutdown/Makefile
  tests/graceshutdown/go.mod
  tests/graceshutdown/go.sum
  tests/graceshutdown/graceshutdown_test.go
  tests/graceshutdown/run-tests.sh
Labels: none

cherry pick #20686 to release-4.0
  bindinfo/bind_test.go
  bindinfo/handle.go
  executor/compiler.go
  planner/core/hints.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
  planner/core/testdata/plan_suite_out.json
  planner/optimize.go
  session/session_test.go
  util/hint/hint_processor.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Labels: sig/execution, sig/planner

fixup
  tests/graceshutdown/graceshutdown_test.go
Labels: none

[dumpling] util/hint: fix ineffective index hint for delete / update in SQL Bind (#21104)
  dumpling/bindinfo/bind_test.go
  dumpling/util/hint/hint_processor.go
Labels: none

util/hint: fix ineffective index hint for delete / update in SQL Bind (#21104)
  bindinfo/bind_test.go
  util/hint/hint_processor.go
Labels: sig/planner

util/hint: fix ineffective index hint for delete / update in SQL Bind (#21104)
  bindinfo/bind_test.go
  util/hint/hint_processor.go
Labels: sig/planner

fix conflicts
  planner/core/integration_test.go
Labels: none

revert
  session/session.go
Labels: none

remove useless change
  session/session.go
Labels: none

*: support to modify config server-memory-quota-ratio dynamically (#20927) (#21313)
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
  util/expensivequery/expensivequery.go
  util/expensivequery/memory_usage_alarm.go
Labels: sig/execution

disable cast decimal as string push down to TiFlash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: component/expression

add a system variable for external consistency
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: none

Update graceshutdown_test.go
  tests/graceshutdown/graceshutdown_test.go
Labels: none

disable cast decimal as string push down to TiFlash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: component/expression

remove external consistency config item
  config/config.go
  config/config.toml.example
  config/config_test.go
  kv/kv.go
  session/session.go
  store/tikv/2pc.go
Labels: component/config

fix go mod
  go.sum
Labels: none

.
  ddl/db_test.go
Labels: sig/DDL

refactor: checkXXX does not need parameters
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: none

refactor: add a helper function to pessimistic_test
  session/pessimistic_test.go
Labels: none

*: update go.mod for sysutil (#21373) (#21376)
  go.mod
  go.sum
Labels: none

session: do not add history when txn is invalid
  session/session.go
  session/session_test.go
Labels: none

fix test
  expression/integration_test.go
Labels: component/expression

[dumpling] session: fix the bug that may cause upgrading from v4.0 fail (#21350)
  dumpling/session/bootstrap.go
  dumpling/session/session.go
Labels: none

session: fix the bug that may cause upgrading from v4.0 fail (#21350)
  session/bootstrap.go
  session/session.go
Labels: none

session: fix the bug that may cause upgrading from v4.0 fail (#21350)
  session/bootstrap.go
  session/session.go
Labels: none

done
  ddl/ddl_worker.go
Labels: sig/DDL

address comments
  executor/brie.go
Labels: sig/execution

ddl: refactor to fit golang 1.13
  ddl/ddl.go
  ddl/ddl_test.go
  go.mod
Labels: sig/DDL

cherry pick #20686 to release-4.0 (#21101)
  bindinfo/bind_test.go
  bindinfo/handle.go
  executor/compiler.go
  planner/core/hints.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
  planner/core/testdata/plan_suite_out.json
  planner/optimize.go
  session/session_test.go
  util/hint/hint_processor.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Labels: sig/execution, sig/planner

update parser
  go.mod
  go.sum
Labels: none

util/hint: fix ineffective index hint for delete / update in SQL Bind (#21104)
  bindinfo/bind_test.go
  util/hint/hint_processor.go
Labels: sig/planner

add finer level and update lightning
  executor/brie.go
  go.mod
  go.sum
Labels: sig/execution

add create table test
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
Labels: sig/DDL

util/hint: fix ineffective index hint for delete / update in SQL Bind (#21104) (#21390)
  bindinfo/bind_test.go
  util/hint/hint_processor.go
Labels: sig/planner

done
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/error.go
Labels: sig/DDL

Try a new way to dispatch the user transaction
  kv/fault_injection.go
  kv/fault_injection_test.go
  kv/interface_mock_test.go
  kv/kv.go
  session/session.go
  session/session_test.go
  session/txn.go
  sessionctx/variable/session.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/async_commit_test.go
  store/tikv/commit.go
  store/tikv/kv.go
  store/tikv/lock_test.go
  store/tikv/store_test.go
  store/tikv/txn.go
  util/mock/context.go
  util/mock/store.go
Labels: none

try resolve cycle import
  expression/aggregation/base_func.go
  util/math/math.go
  util/math/math_test.go
Labels: none

expression: fix builtin IF truncation of type len (#20743) (#21144)
  expression/builtin_control.go
  expression/expr_to_pb_test.go
  expression/integration_test.go
Labels: component/expression

add more test
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: sig/DDL

*: fix prometheus expression in grafana json file
  metrics/grafana/tidb.json
Labels: none

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*
