Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

Refine codes and comments
  session/session.go
  store/tikv/kv.go
  store/tikv/txn.go
Labels: none

fix unit test for tidb_opt_prefer_range_scan variable
  planner/core/integration_test.go
Labels: none

refactor code
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/error.go
  ddl/partition.go
  errors.toml
  expression/integration_test.go
Labels: component/expression, sig/DDL

session: make rollback work on global variables
  session/session.go
  session/session_test.go
Labels: none

add unit test
  go.sum
  store/mockstore/unistore/rpc.go
  store/tikv/snapshot_fail_test.go
Labels: none

errno: show column name in redacted duplicate entry error (#21261) (#21303)
  errno/errname.go
  executor/executor_test.go
  util/dbterror/terror_test.go
Labels: sig/execution

session: fix the bug that may cause upgrading from v4.0 fail
  session/bootstrap.go
  session/session.go
Labels: none

init
  executor/show.go
  executor/split.go
  store/tikv/region_request.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: sig/execution

delete unneeded versions
  session/bootstrap.go
Labels: none

add a system variable for enabling async commit
  go.sum
  session/bootstrap.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: none

x
  ddl/partition.go
  ddl/placement_sql_test.go
  infoschema/builder.go
  session/session.go
Labels: sig/DDL

fix CI
  executor/set_test.go
  session/session.go
Labels: sig/execution

modify comments
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
Labels: none

cherry pick #20992 to release-4.0
  planner/core/hints.go
  planner/core/physical_plan_test.go
Labels: none

update
  executor/split.go
  store/tikv/backoff.go
  store/tikv/split_region.go
Labels: sig/execution

remove async commit enable config item
  config/config.go
  config/config.toml.example
  config/config_test.go
  kv/kv.go
  session/pessimistic_test.go
  session/session.go
  store/tikv/2pc.go
Labels: component/config

*: update pingcap/errors
  Makefile
  errors.toml
  go.mod
  go.sum
  tests/globalkilltest/go.sum
Labels: none

Remove the useless codes
  ddl/placement_sql_test.go
  sessionctx/variable/session.go
Labels: sig/DDL

refine backoff display
  store/tikv/backoff.go
  store/tikv/split_region.go
Labels: none

address comment
  executor/executor.go
  executor/partition_table_test.go
  planner/core/rule_column_pruning.go
Labels: sig/execution

hptc ycsb-worloade: Implement AppendRows for Chunk #21057
  executor/distsql.go
  executor/index_merge_reader.go
  util/chunk/chunk.go
Labels: sig/execution

nitpick
  executor/distsql.go
Labels: sig/execution

hptc ycsb-worloade: Implement AppendRows for Chunk #21057
  executor/distsql_test.go
Labels: sig/execution

hptc ycsb-worloade: Implement AppendRows for Chunk #21057
  executor/distsql_test.go
Labels: sig/execution

support global txn state
  ddl/ddl_worker.go
  ddl/partition.go
  ddl/placement_sql_test.go
  go.mod
  go.sum
  infoschema/builder.go
  infoschema/infoschema.go
  session/session.go
Labels: sig/DDL

planner/core: skip TestEncodePlanPerformance to accelerate CI
  planner/core/plan_test.go
Labels: none

refine code
  executor/show.go
  executor/split.go
  store/tikv/backoff.go
  store/tikv/region_request.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
Labels: sig/execution

Revert "util: chunk add AppendRowByColIdxs&test"
  util/chunk/list.go
  util/chunk/list_test.go
Labels: sig/execution

hptc ycsb-worloade: Implement AppendRows for Chunk #21057
  util/chunk/chunk_test.go
Labels: sig/execution

exectutor: fix comment of `retrieveColumnIdxsUsedByChild`
  executor/builder.go
Labels: sig/execution

exectutor, test: remove outdated test case `TestIssue20454`
  executor/executor_test.go
Labels: sig/execution

executor: change the logic of topN inline projection
  executor/sort.go
Labels: sig/execution

hptc ycsb-worloade: Implement AppendRows for Chunk #21057
  util/chunk/chunk_test.go
Labels: sig/execution

fix test
  expression/integration_test.go
Labels: component/expression

fix test
  expression/integration_test.go
Labels: component/expression

add groupChecher as a part of range spliter.
  executor/builder.go
  executor/shuffle.go
Labels: sig/execution

planner: explain schema for topN&sort physical plan
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/topn_pushdown.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/r/window_function.result
  planner/cascades/testdata/integration_suite_out.json
  planner/core/explain.go
  planner/core/integration_test.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_normalized_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: none

executor, expression: fix CI test
  executor/join_test.go
  executor/merge_join_test.go
  executor/testdata/agg_suite_out.json
  expression/testdata/partition_pruner_out.json
Labels: sig/execution

executor, expression: fix CI test
  executor/merge_join_test.go
  executor/testdata/agg_suite_out.json
  expression/testdata/partition_pruner_out.json
Labels: sig/execution

hptc ycsb-worloade: Implement AppendRows for Chunk #21057
  util/chunk/chunk_test.go
Labels: sig/execution
