Repository pingcap/tidb, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/execution, component/expression, sig/planner, component/statistics, sig/DDL, component/config

.github/labeler.yml:

sig/execution:
  - distsql/*
  - executor/*
  - util/chunk/*
  - util/disk/*
  - util/execdetails/*
  - util/expensivequery/*
  - util/filesort/*
  - util/memory/*
  - util/sqlexec/*

component/expression:
  - expression/*
  - types/*

sig/planner:
  - planner/*
  - bindinfo/*
  - util/ranger/*
  - util/plancodec/*

component/statistics:
  - statistics/*

sig/DDL:
  - ddl/*
  - domain/*
  - infoschema/*
  - meta/*
  - owner/*

component/config:
  - config/*

hptc ycsb-worloade: Implement AppendRows for Chunk #21057
  util/chunk/chunk_test.go
Labels: sig/execution

hptc ycsb-worloade: Implement AppendRows for Chunk #21057
  util/chunk/chunk_test.go
Labels: sig/execution

[dumpling] executor: Implement AppendRows for Chunk (#21057)
  dumpling/executor/distsql.go
  dumpling/executor/distsql_test.go
  dumpling/executor/index_merge_reader.go
  dumpling/util/chunk/chunk.go
  dumpling/util/chunk/chunk_test.go
Labels: none

executor: Implement AppendRows for Chunk (#21057)
  executor/distsql.go
  executor/distsql_test.go
  executor/index_merge_reader.go
  util/chunk/chunk.go
  util/chunk/chunk_test.go
Labels: sig/execution

executor: Implement AppendRows for Chunk (#21057)
  executor/distsql.go
  executor/distsql_test.go
  executor/index_merge_reader.go
  util/chunk/chunk.go
  util/chunk/chunk_test.go
Labels: sig/execution

add build for spliter.
  executor/builder.go
  executor/shuffle.go
  executor/shuffle_test.go
Labels: sig/execution

add a naive test for range splitter.
  executor/shuffle_test.go
Labels: sig/execution

add benchmark for shuffle_merge_join
  executor/benchmark_test.go
Labels: sig/execution

fix test.
  executor/shuffle_test.go
Labels: sig/execution

hptc ycsb-worloade: Make use of AppendRows in all cases #20841
  executor/adapter.go
  executor/show.go
Labels: sig/execution

hptc ycsb-worloade: Make use of AppendRows in all cases #20841
  executor/show.go
Labels: sig/execution

hptc ycsb-worloade: Make use of AppendRows in all cases #21163
  util/chunk/chunk_test.go
Labels: sig/execution

delete code
  executor/distsql.go
Labels: sig/execution

hptc ycsb-worloade: Make use of AppendRows in all cases #21163
  executor/adapter.go
  executor/admin.go
  executor/memtable_reader.go
  executor/sort.go
Labels: sig/execution

hptc ycsb-worloade: Make use of AppendRows in all cases #21163
  executor/adapter.go
  executor/show.go
Labels: sig/execution

hptc ycsb-worloade: Make use of AppendRows in all cases #21163
  executor/admin.go
  executor/memtable_reader.go
  executor/sort.go
Labels: sig/execution

hptc ycsb-worloade: Make use of AppendRows in all cases #21163
  executor/adapter.go
Labels: sig/execution

hptc ycsb-worloade: Make use of AppendRows in all cases #21163
  executor/admin.go
  executor/distsql.go
Labels: sig/execution

fix test
  expression/integration_test.go
  server/util_test.go
Labels: component/expression

add unit tests for shuffle merge join
  executor/merge_join_test.go
Labels: sig/execution

ddl: change ddl wait duration logic
  ddl/ddl.go
  ddl/ddl_test.go
  go.sum
Labels: sig/DDL

update
  executor/admin.go
Labels: sig/execution

update
  executor/sort.go
Labels: sig/execution

update
  executor/sort.go
Labels: sig/execution

ddl: update go.mod go version, refactor test code
  ddl/ddl_test.go
  go.mod
Labels: sig/DDL

remove commented code.
  planner/core/plan.go
Labels: none

executor hptc ycsb-worloade: Make use of AppendRows in all cases (#21163)
  executor/adapter.go
  executor/admin.go
  executor/show.go
  executor/sort.go
  util/chunk/chunk_test.go
Labels: sig/execution

executor hptc ycsb-worloade: Make use of AppendRows in all cases (#21163)
  executor/adapter.go
  executor/admin.go
  executor/show.go
  executor/sort.go
  util/chunk/chunk_test.go
Labels: sig/execution

[dumpling] executor hptc ycsb-worloade: Make use of AppendRows in all cases (#21163)
  dumpling/executor/adapter.go
  dumpling/executor/admin.go
  dumpling/executor/show.go
  dumpling/executor/sort.go
  dumpling/util/chunk/chunk_test.go
Labels: none

executor, planner: add partitionRangeSplitter for shuffle (#21306)
  executor/builder.go
  executor/shuffle.go
  executor/shuffle_test.go
  planner/core/find_best_task.go
  planner/core/physical_plans.go
  planner/core/plan.go
Labels: sig/execution

executor, planner: add partitionRangeSplitter for shuffle (#21306)
  executor/builder.go
  executor/shuffle.go
  executor/shuffle_test.go
  planner/core/find_best_task.go
  planner/core/physical_plans.go
  planner/core/plan.go
Labels: sig/execution

[dumpling] executor, planner: add partitionRangeSplitter for shuffle (#21306)
  dumpling/executor/builder.go
  dumpling/executor/shuffle.go
  dumpling/executor/shuffle_test.go
  dumpling/planner/core/find_best_task.go
  dumpling/planner/core/physical_plans.go
  dumpling/planner/core/plan.go
Labels: none

sort before merge join
  executor/benchmark_test.go
Labels: sig/execution

revert undignedFlag of typebit and evalReal not convert to uint when field's type is typebit
  ddl/ddl_api.go
  expression/builtin_cast.go
  expression/builtin_cast_vec.go
Labels: component/expression, sig/DDL

fix bug
  executor/benchmark_test.go
Labels: sig/execution

bench for range spliter.
  executor/benchmark_test.go
  executor/shuffle.go
  planner/core/plan.go
Labels: sig/execution

fix bug in partitionRangeSplitter.split.
  executor/shuffle.go
Labels: sig/execution

uncomment.
  executor/benchmark_test.go
Labels: sig/execution

remove shuffle on sorted data source temporarily.
  executor/shuffle.go
  planner/core/plan.go
Labels: sig/execution

fix typo
  session/bootstrap.go
Labels: none
