Repository pingcap/tidb, pull requests merged in 2018-05, with the labels that each got.

#6428 ddl: Add reorg log to make trouble-shooting easier.
  ddl/index.go
Labels: DDL, LGT2, require-LGT3

#6337 executor: reduce memory usage for duplicated key update
  executor/write.go
Labels: LGT2, all-tests-passed

#6433 ddl: Add reorg log to make trouble-shooting easier. (#6428)
  ddl/index.go
Labels: 2.0-cherry-pick

#6339 parser: only allow int column in range partition
  ddl/ddl.go
  ddl/ddl_api.go
  executor/show_test.go
Labels: LGT1, bug-fix

#6392 executor: move IgnoreErr to StmtCtx
  executor/builder.go
  executor/executor_test.go
  executor/prepared.go
  executor/write.go
  executor/write_test.go
  plan/common_plans.go
  plan/logical_plan_builder.go
  plan/planbuilder.go
  sessionctx/stmtctx/stmtctx.go
  table/column.go
  table/column_test.go
Labels: LGT2, all-tests-passed

#6426 *: check privilege for 'show create table' and infoschema tables
  infoschema/tables.go
  infoschema/tables_test.go
  mysql/const.go
  plan/logical_plan_test.go
  plan/planbuilder.go
  privilege/privilege.go
Labels: LGT2, all-tests-passed

#6369 *: provide a configurable tidb_retry_limit session variable
  config/config.go
  config/config.toml.example
  config/config_test.go
  session/isolation_test.go
  session/session.go
  session/session_test.go
  session/tidb.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  tidb-server/main.go
Labels: LGT2, all-tests-passed

#6378 http: scatter table API for table handler
  server/http_handler.go
  server/http_status.go
Labels: LGT2, all-tests-passed

#6455 *: add a system variable auto_analyze_ratio
  config/config.go
  config/config.toml.example
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/update.go
  statistics/update_test.go
  tidb-server/main.go
Labels: LGT2, all-tests-passed

#6453 ddl: update ddl add index progress timely
  ddl/index.go
  ddl/reorg.go
  ddl/reorg_test.go
Labels: DDL, LGT3, require-LGT3

#6468 store/tikv/coprocessor: check nil for cop stream response. (#6467)
  store/tikv/coprocessor.go
Labels: 2.0-cherry-pick, LGT1

#6461 vendor: update kvproto
  Gopkg.lock
  vendor/github.com/apache/thrift/contrib/fb303/LICENSE
  vendor/github.com/apache/thrift/lib/hs/LICENSE
  vendor/github.com/coreos/etcd/main.go
  vendor/github.com/coreos/gofail/gofail.go
  vendor/github.com/cznic/golex/doc.go
  vendor/github.com/cznic/golex/main.go
  vendor/github.com/cznic/golex/render.go
  vendor/github.com/cznic/mathutil/mersenne/LICENSE
  vendor/github.com/cznic/parser/nquads/LICENSE
  vendor/github.com/golang/protobuf/protoc-gen-go/doc.go
  vendor/github.com/golang/protobuf/protoc-gen-go/link_grpc.go
  vendor/github.com/golang/protobuf/protoc-gen-go/main.go
  vendor/github.com/pingcap/kvproto/pkg/kvrpcpb/kvrpcpb.pb.go
  vendor/github.com/pingcap/kvproto/pkg/pdpb/pdpb.pb.go
  vendor/github.com/prometheus/client_model/ruby/LICENSE
  vendor/golang.org/x/text/doc.go
  vendor/golang.org/x/text/gen.go
  vendor/golang.org/x/text/internal/gen.go
  vendor/golang.org/x/text/internal/internal.go
  vendor/golang.org/x/text/internal/match.go
  vendor/golang.org/x/text/internal/tables.go
  vendor/golang.org/x/text/secure/doc.go
  vendor/golang.org/x/text/unicode/doc.go
  vendor/google.golang.org/genproto/googleapis/api/authorization_config.pb.go
  vendor/google.golang.org/genproto/googleapis/api/experimental.pb.go
  vendor/google.golang.org/genproto/regen.go
  vendor/google.golang.org/grpc/grpclb/grpc_lb_v1/doc.go
  vendor/google.golang.org/grpc/health/health.go
Labels: LGT2, all-tests-passed

#6473 *: remove useless tipb alias
  distsql/distsql.go
  distsql/distsql_test.go
  distsql/request_builder.go
  distsql/request_builder_test.go
  distsql/stream.go
  executor/analyze.go
  executor/builder.go
  executor/checksum.go
  executor/distsql.go
  expression/aggregation/agg_to_pb.go
  expression/aggregation/aggregation.go
  expression/builtin.go
  expression/builtin_arithmetic.go
  expression/builtin_cast.go
  expression/builtin_compare.go
  expression/builtin_control.go
  expression/builtin_json.go
  expression/builtin_like.go
  expression/builtin_math.go
  expression/builtin_op.go
  expression/builtin_other.go
  expression/builtin_time.go
  expression/distsql_builtin.go
  expression/distsql_builtin_test.go
  expression/expr_to_pb.go
  plan/plan.go
  plan/plan_to_pb.go
  plan/plan_to_pb_test.go
  statistics/fmsketch.go
  statistics/sample.go
  store/mockstore/mocktikv/analyze.go
  store/mockstore/mocktikv/checksum.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/executor.go
  store/mockstore/mocktikv/topn.go
  store/tikv/coprocessor.go
Labels: LGT2

#6456 parser: support the syntax of "CharsetKw CharsetName OptBinMod"
  ast/ast.go
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, all-tests-passed

#6474 parser: index name in 'alter table drop index' should not be empty
  parser/parser.y
  parser/parser_test.go
Labels: LGT1

#6476 parser: support 'ALTER TABLE FORCE' syntax
  ast/ddl.go
  parser/parser.y
  parser/parser_test.go
Labels: LGT1, contribution

#6276 admin: admin show ddl jobs add tableName, schema name
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  model/ddl.go
  model/model.go
  model/model_test.go
  plan/planbuilder.go
Labels: LGT2, all-tests-passed

#6466 ddl: update ddl add index progress timely (#6453)
  ddl/column.go
  ddl/index.go
  ddl/reorg.go
  ddl/reorg_test.go
Labels: 2.0-cherry-pick, DDL, LGT2

#6452 tikv/gcworker: add failure metrics for `checkLeader` and `prepare`.
  store/tikv/gcworker/gc_worker.go
Labels: GC, LGT2, metrics

#6443 store/tikv/gcworker: Set default GC concurrency to 2
  store/tikv/gcworker/gc_worker.go
Labels: LGT2, all-tests-passed

#6450 set GC worker and loadDeleteRangeSQL high priority
  ddl/util/util.go
  store/tikv/gcworker/gc_worker.go
Labels: LGT2, all-tests-passed

#6418 tikv/txn: support local latch in transaction
  config/config.go
  config/config.toml.example
  executor/simple.go
  kv/txn.go
  server/conn.go
  session/session.go
  sessionctx/context.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/kv.go
  store/tikv/latch/latch.go
  store/tikv/latch/scheduler.go
  store/tikv/latch/scheduler_test.go
  store/tikv/test_util.go
  store/tikv/txn.go
Labels: LGT3, all-tests-passed, require-LGT3

#6480 metric: rename CreateDDL to CreateDDLInstance
  ddl/ddl.go
  metrics/ddl.go
Labels: LGT2

#6484 executor, parser: treat tx_isolation, transaction_isolation or tx_read_only, transaction_read_only as synonyms variable
  executor/set.go
  executor/set_test.go
  parser/parser.y
  sessionctx/variable/sysvar.go
Labels: 1.0-cherry-pick

#6403 plan, executor: correlated column can be pushed down.
  executor/builder.go
  executor/distsql.go
  expression/expr_to_pb.go
  expression/util.go
  plan/expression_rewriter.go
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
  plan/logical_plans.go
  plan/physical_plan_test.go
Labels: LGT2, all-tests-passed

#6391 ddl: support rename the same table name
  ddl/ddl_api.go
  ddl/ddl_db_test.go
Labels: DDL, LGT3, all-tests-passed, compatibility, mysql-test, require-LGT3

#6487 *: add a system variable auto_analyze_ratio (#6455)
  config/config.go
  config/config.toml.example
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/update.go
  statistics/update_test.go
  tidb-server/main.go
Labels: 2.0-cherry-pick

#6482 session: make tidb_opt_insubquery_unfold global
  session/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: LGT2, all-tests-passed

#6486 session: make unit test TestErrorRollback more stable
  session/session_test.go
Labels: LGT2

#6494 store/tikv: tiny improve when opentracing is not enabled
  store/tikv/client.go
  store/tikv/coprocessor.go
Labels: LGT2, all-tests-passed

#6470 store/tikv: avoid using Backoffer as context.Context
  store/tikv/backoff.go
  store/tikv/kv.go
  store/tikv/region_cache.go
  store/tikv/region_request.go
Labels: LGT2, all-tests-passed

#6495 store/tikv: rollback all keys when prewrite fails.
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: 2.0-cherry-pick, LGT1, bug-fix

#6498 executor: fix a wrong result of limit operator when offset is a multiple of MaxChunkSize
  executor/executor.go
  executor/executor_test.go
Labels: LGT1, bug-fix, priority/P1

#6462 ddl: handle parallel rename table
  ddl/ddl_db_change_test.go
  ddl/table.go
Labels: DDL, LGT3, all-tests-passed, priority/P1, require-LGT3

#6499 [release 2.0] executor: fix a wrong result of limit operator when offset is a multiple of MaxChunkSize (#6498)
  executor/executor.go
  executor/executor_test.go
Labels: 2.0-cherry-pick, bug-fix, priority/P1

#6451 *: fix a bug occurred when insert into time column
  executor/write_test.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  types/convert_test.go
  types/datum.go
  types/time.go
  types/time_test.go
Labels: LGT2, all-tests-passed

#6483 statistics: uniform the calculation of pseudo stats.
  plan/cbo_test.go
  plan/physical_plan_test.go
  statistics/selectivity.go
Labels: LGT2, all-tests-passed

#6444 stats: fix query feedback bugs
  distsql/request_builder.go
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/update_test.go
Labels: LGT2, all-tests-passed, statistics

#6377 plan: refactor errors
  executor/executor_test.go
  executor/prepared_test.go
  plan/errors.go
  plan/expression_rewriter.go
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
  plan/optimizer.go
  plan/planbuilder.go
  terror/terror.go
  util/ranger/points.go
Labels: LGT2, all-tests-passed

#6334 *: Refine error message about "Out of range value for column"
  ddl/ddl_db_test.go
  executor/write.go
  executor/write_test.go
  mysql/errname.go
  types/errors.go
Labels: LGT2, all-tests-passed, contribution

#6481 ddl: fix bug when add index meet math.MaxInt64 handle.
  ddl/index.go
  executor/ddl_test.go
Labels: DDL-need-LGT3, LGT3, bug-fix, priority/P1

#6345 executor: set last insert id in the duplicated update statement
  executor/write.go
  executor/write_test.go
Labels: LGT2, all-tests-passed, bug-fix

#6510 ddl: fix bug when add index meet math.MaxInt64 handle. (#6481)
  ddl/index.go
  executor/ddl_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed, bug-fix

#6508 planner: Fix index name check when build plan for 'ADMIN CHECK INDEX' syntax (#6477)
  executor/executor_test.go
  plan/planbuilder.go
Labels: 2.0-cherry-pick, LGT2

#6513 sever: add HTTP API to change log level dynamically.
  docs/tidb_http_api.md
  server/http_handler.go
  server/http_handler_test.go
Labels: LGT2, all-tests-passed, release-blocker

#6521 set GC worker and loadDeleteRangeSQL high priority (#6450)
  ddl/util/util.go
  store/tikv/gcworker/gc_worker.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6520 tikv/gcworker: add failure metrics for `checkLeader` and `prepare`.
  store/tikv/gcworker/gc_worker.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6504 stats: fix query feedback bugs (#6444)
  distsql/request_builder.go
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/update_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6519 sever: add HTTP API to change log level dynamically. (#6513)
  docs/tidb_http_api.md
  server/http_handler.go
  server/http_handler_test.go
Labels: 2.0-cherry-pick, LGT1

#6507 parser: index name in 'alter table drop index' should not be empty (#6474)
  parser/parser.y
  parser/parser_test.go
Labels: 2.0-cherry-pick, LGT1

#6525 http: revert log_level change
  docs/tidb_http_api.md
  server/http_handler.go
  server/http_handler_test.go
Labels: LGT2

#6506 plan :fix the compatibility problem of UNION statement (#6370)
  executor/executor_test.go
  plan/errors.go
  plan/preprocess.go
Labels: 2.0-cherry-pick, LGT2

#6532 http: revert log_level change (#6525)
  docs/tidb_http_api.md
  server/http_handler.go
  server/http_handler_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6514 store/tikv: copIteratorTaskSender is not initialized properly
  store/tikv/coprocessor.go
Labels: LGT2, all-tests-passed, bug-fix

#6485 plan: prepare possible property for logical Sort/TopN/Projection
  plan/physical_plan_test.go
  plan/property_cols_prune.go
Labels: LGT2, all-tests-passed

#6535 store/tikv: copIteratorTaskSender is not initialized properly (#6514)
  store/tikv/coprocessor.go
Labels: 2.0-cherry-pick, LGT2

#6534 ddl: fix bug that update handle failed before adding table indics (#6523)
  ddl/ddl_db_test.go
  ddl/index.go
  ddl/reorg.go
  ddl/reorg_test.go
Labels: 2.0-cherry-pick, LGT2, bug-fix

#6511 ddl: handle parallel rename table (#6462)
  ddl/ddl_db_change_test.go
  ddl/table.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6531 executor: set last insert id in the duplicated update statement (#6345)
  executor/write.go
  executor/write_test.go
Labels: 2.0-cherry-pick, all-tests-passed

#6526 session: tiny update leak check for some test function
  session/tidb_test.go
Labels: LGT2

#6540 plan: resolve indices for apply schema
  executor/write_test.go
  plan/resolve_indices.go
Labels: all-tests-passed, bug-fix

#6542 plan: resolve indices for apply schema (#6540)
  executor/write_test.go
  plan/resolve_indices.go
Labels: 2.0-cherry-pick

#6509 *: Refine error message about "Out of range value for column" (#6334)
  ddl/ddl_db_test.go
  executor/write.go
  executor/write_test.go
  mysql/errname.go
  types/errors.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6502 ddl:enhance ddl unit tests in tidb
  ddl/ddl_db_test.go
Labels: LGT2

#6544 *: support warnings when using coprocessor streaming
  distsql/stream.go
  executor/executor_test.go
  expression/integration_test.go
  store/mockstore/mocktikv/cop_handler_dag.go
Labels: LGT2, all-tests-passed

#6524 *: remove function "NewChunk"
  distsql/distsql_test.go
  executor/adapter.go
  executor/admin.go
  executor/distsql.go
  executor/executor.go
  executor/index_lookup_join.go
  executor/join_result_generators.go
  executor/sort.go
  executor/write.go
  statistics/histogram.go
  statistics/statistics_test.go
  store/mockstore/mocktikv/analyze.go
  util/chunk/chunk.go
  util/chunk/chunk_test.go
  util/chunk/iterator_test.go
  util/chunk/list.go
  util/chunk/list_test.go
  util/codec/bench_test.go
  util/codec/codec_test.go
Labels: LGT2, all-tests-passed

#6512 store/gc_worker: Save gc_delete_range items that is done in another table instead of deleting them.
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/index.go
  ddl/util/util.go
  executor/aggregate_test.go
  session/bootstrap.go
  session/session.go
Labels: DDL-need-LGT3, LGT3, all-tests-passed

#6258 ddl: add test for duplicate update
  ddl/ddl_db_change_test.go
Labels: LGT2

#6548 binloginfo: fix a data race on global.Config() in the unit test
  server/http_handler.go
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
  tidb-server/main.go
Labels: LGT2

#6552 server: do not log on handshake error
  metrics/server.go
  server/server.go
  terror/terror.go
Labels: LGT2, all-tests-passed

#6557 server: do not log on handshake error
  metrics/server.go
  server/server.go
  terror/terror.go
Labels: 2.0-cherry-pick, all-tests-passed

#6554 binloginfo: fix CI in unit test TestMaxRecvSize
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
  tidb-server/main.go
Labels: LGT2

#6553 store/tikv: log slow processing and waiting cop tasks separately with different labels
  store/tikv/coprocessor.go
Labels: LGT2, all-tests-passed

#6559 plan: prepare possible property for logical Sort/TopN/Projection (#6485)
  plan/physical_plan_test.go
  plan/property_cols_prune.go
Labels: 2.0-cherry-pick

#6563 store/tikv: log slow processing and waiting cop tasks separately with different labels (#6553)
  store/tikv/coprocessor.go
Labels: 2.0-cherry-pick, release-blocker

#6541 *: move leak check from each test to suite
  executor/join_test.go
  expression/typeinfer_test.go
  mysql/const_test.go
  mysql/error_test.go
  mysql/type_test.go
  privilege/privileges/privileges_test.go
  session/bootstrap_test.go
  structure/structure_test.go
  table/tables/tables_test.go
Labels: LGT2, all-tests-passed

#6546 *: Add an option to stop writting binlog when TiDB meets binlog error (#6503)
  config/config.go
  config/config.toml.example
  config/config_test.go
  server/http_handler.go
  server/http_status.go
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
  tidb-server/main.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed, release-blocker

#6562 tidb-server: don't bind graceful shutdown to SIGTERM
  tidb-server/main.go
Labels: LGT2, all-tests-passed

#6566 tables: close RecordSet after Next
  table/tables/tables_test.go
Labels: LGT2, all-tests-passed

#6568 Cherry pick the temporary solution of speeding up delete range to 2.0.1
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/index.go
  ddl/util/util.go
  executor/aggregate_test.go
  session/bootstrap.go
  session/session.go
Labels: 2.0-cherry-pick, all-tests-passed

#6569 tidb-server: don't bind graceful shutdown to SIGTERM (#6562)
  tidb-server/main.go
Labels: 2.0-cherry-pick, all-tests-passed

#6529 *: avoid passing 'for update' option via context in txn.Commit
  kv/kv.go
  kv/txn.go
  session/session.go
  sessionctx/context.go
  store/tikv/txn.go
Labels: all-tests-passed

#6539 plan: fix bug in prepare statement.
  executor/prepared_test.go
  plan/common_plans.go
  plan/physical_plans.go
Labels: LGT2, all-tests-passed, bug-fix

#6574 Makefile: fix 'errcheck' after github.com/kisielk/errcheck is updated
  Makefile
  errcheck_excludes.txt
  types/time.go
Labels: all-tests-passed

#6572 ddl: check `auto_increment` column for `shard_row_id_bits` statements.
  ddl/ddl.go
  ddl/ddl_api.go
  executor/ddl_test.go
Labels: DDL-need-LGT3, LGT3, bug

#6457 store/tikv: more friendly error log for WriteConflict
  server/http_handler_test.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  tablecodec/tablecodec.go
  tablecodec/tablecodec_test.go
Labels: LGT2, all-tests-passed

#6576 Makefile: fix 'errcheck' after github.com/kisielk/errcheck is updated…
  Makefile
  errcheck_excludes.txt
  types/time.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6527 *: add schema version to the log
  ast/ast.go
  ddl/ddl.go
  domain/domain.go
  executor/adapter.go
  executor/prepared_test.go
  session/session.go
Labels: LGT2, all-tests-passed

#6575 ddl: check `auto_increment` for `shard_row_id_bits` statements
  ddl/ddl.go
  ddl/ddl_api.go
  executor/ddl_test.go
Labels: 2.0-cherry-pick, LGT2, bug-fix

#6570 parser: support 'use index' in delete statement from single table
  parser/parser.y
  parser/parser_test.go
  plan/physical_plan_test.go
Labels: LGT2, all-tests-passed

#6543 executor: rewrite TestNotFillCacheFlag to avoid data race in CI
  executor/executor_test.go
Labels: LGT2, all-tests-passed

#6578 parser: support 'use index' in delete statement from single table
  parser/parser.y
  parser/parser_test.go
  plan/physical_plan_test.go
Labels: 2.0-cherry-pick, LGT1

#6558 sessionctx: make tidb_build_stats_concurrency global
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Labels: LGT2, all-tests-passed

#6516 server: support binary time type
  server/conn_stmt.go
  server/conn_stmt_test.go
  server/server_test.go
  server/tidb_test.go
Labels: LGT2, all-tests-passed

#6333 DDL: Refine error message about "Invalid default value"
  ddl/ddl_api.go
  ddl/integration_test.go
Labels: DDL-need-LGT3, LGT3, all-tests-passed, contribution

#6583 expression: set pb code for builtinArithmeticDivideDecimalSig
  expression/builtin_arithmetic.go
Labels: bug-fix

#6584 expression: set pb code for builtinArithmeticDivideDecimalSig (#6583)
  expression/builtin_arithmetic.go
Labels: 2.0-cherry-pick, all-tests-passed, bug-fix

#6586 model: adding a variable to aovid compatible issue
  model/model.go
Labels: LGT2

#6588 sessionctx/binloginfo: add a timeout for writing binlog
  config/config.go
  config/config.toml.example
  sessionctx/binloginfo/binloginfo.go
  tidb-server/main.go
Labels: 2.0-cherry-pick

#6599 *: update gitignore
  .gitignore
Labels: LGT2

#6596 stats: fix estimation for between row count
  statistics/histogram.go
  statistics/selectivity_test.go
Labels: LGT3, all-tests-passed, statistics

#6589 executor: fix a bug of duplicate key update
  executor/write.go
  executor/write_test.go
Labels: LGT2, all-tests-passed, bug-fix

#6598 expression: fix wrong result of CEIL
  expression/builtin_math.go
  expression/integration_test.go
Labels: LGT1, all-tests-passed, bug-fix

#6585 sessionctx: make tidb_max_chunk_size as a global variable
  session/session.go
  session/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: LGT3, all-tests-passed

#6604 http: support change log level.
  docs/tidb_http_api.md
  server/http_handler.go
  server/http_handler_test.go
Labels: LGT2, all-tests-passed

#6605 server: do not log write error during hand shake.
  server/conn.go
Labels: LGT2, all-tests-passed

#6613 server: do not log write error during hand shake. (#6605)
  server/conn.go
Labels: 2.0-cherry-pick, LGT1, all-tests-passed

#6614 chunk: fix delete index in year type; (#6611)
  executor/executor_test.go
  util/chunk/chunk.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6602 executor: fix a bug of duplicate key update (#6589)
  executor/write.go
  executor/write_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed, bug-fix

#6600 stats: fix estimation for between row count (#6596)
  statistics/histogram.go
  statistics/selectivity_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6603 expression: fix wrong result of CEIL (#6598)
  expression/builtin_math.go
  expression/integration_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6590 expression: Fix the decimal fraction of `DIV`
  expression/builtin_arithmetic.go
  expression/integration_test.go
Labels: LGT2, all-tests-passed, compatibility

#6592 parser: support high_priority for delete/update/replace into
  ast/dml.go
  executor/prepared.go
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, all-tests-passed

#6620 expression: fix wrong result of floor
  expression/builtin_math.go
  expression/integration_test.go
Labels: bug-fix

#6621 expression: refine compare timestamp col with string constant
  expression/builtin_compare.go
  expression/integration_test.go
Labels: LGT2, all-tests-passed, bug-fix

#6634 expression: refine compare timestamp col with string constant (#6621)
  expression/builtin_compare.go
  expression/integration_test.go
Labels: 2.0-cherry-pick

#6635 stats: refine stats log level (#6627)
  domain/domain.go
  statistics/handle.go
  statistics/table.go
Labels: 2.0-cherry-pick

#6581 *:check max/min timestamp bound with timezone aware
  expression/builtin_time.go
  server/server_test.go
  statistics/dump.go
  statistics/scalar.go
  tablecodec/tablecodec_test.go
  types/convert_test.go
  types/datum_test.go
  types/export_test.go
  types/time.go
  types/time_test.go
  util/mock/context.go
Labels: LGT1, LGT2, all-tests-passed

#6623 server: support ComChangeUser
  server/conn.go
  server/util.go
  server/util_test.go
Labels: LGT2, all-tests-passed

#6625 *: unflatten datum in checkIndexAndRecord, to fix admin check table false alarm
  ddl/column.go
  ddl/ddl_api.go
  ddl/index.go
  executor/admin_test.go
  model/model.go
  tablecodec/tablecodec.go
  util/admin/admin.go
Labels: LGT2, bug-fix

#6607 expression: push CEIL down to TiKV
  expression/distsql_builtin.go
  expression/expr_to_pb.go
Labels: LGT2, all-tests-passed

#6619 expression: Fix the decimal fraction of `DIV` (#6590)
  expression/builtin_arithmetic.go
  expression/integration_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed, compatibility

#6618 expression: fix wrong result of CEIL integer (#6606)
  expression/builtin_math.go
  expression/integration_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed, bug-fix, compatibility

#6567 ddl:add check invalid update column test
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_db_test.go
Labels: DDL-need-LGT3, LGT3, all-tests-passed

#6438 store/tikv/gc_worker: Create new backoffer for each region
  store/tikv/backoff.go
  store/tikv/delete_range.go
  store/tikv/delete_range_test.go
  store/tikv/gcworker/gc_worker.go
Labels: LGT2, all-tests-passed

#6632 executor, expression: fix a panic of MAX/MIN
  executor/aggregate_test.go
  expression/aggregation/descriptor.go
  plan/aggregation_push_down.go
  plan/decorrelate.go
  plan/expression_rewriter.go
  plan/logical_plan_builder.go
Labels: LGT1, all-tests-passed, bug-fix

#6638 server: support ComChangeUser
  server/conn.go
  server/util.go
  server/util_test.go
Labels: LGT2, all-tests-passed

#6639 *: unflatten datum in checkIndexAndRecord, to fix admin check table false alarm (#6625)
  ddl/column.go
  ddl/ddl_api.go
  ddl/index.go
  executor/admin_test.go
  model/model.go
  tablecodec/tablecodec.go
  util/admin/admin.go
Labels: 2.0-cherry-pick, LGT2

#6626 plan, parser: support JOIN hint for UPDATE/DELETE statements
  ast/dml.go
  parser/parser.y
  parser/parser_test.go
  plan/logical_plan_builder.go
  plan/physical_plan_test.go
Labels: LGT2, all-tests-passed

#6646 executor, expression: fix a panic of MAX/MIN (#6632)
  executor/aggregate_test.go
  expression/aggregation/descriptor.go
  plan/aggregation_push_down.go
  plan/decorrelate.go
  plan/expression_rewriter.go
  plan/logical_plan_builder.go
Labels: 2.0-cherry-pick, LGT2, bug-fix

#6651 Makefile: update coverage ignore list
  Makefile
Labels: LGT1

#6653 *: set rollback log to debug level
  executor/simple.go
  store/tikv/txn.go
Labels: all-tests-passed

#6478 metrics:fix add index duration bucket dosen't work
  ddl/index.go
  metrics/ddl.go
Labels: LGT2, all-tests-passed

#6657 *: set rollback log to debug level (#6653)
  executor/simple.go
  store/tikv/txn.go
Labels: 2.0-cherry-pick, LGT2

#6654 plan, cmd: plan, cmd: improve the code readability of planner
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  plan/exhaust_physical_plans.go
  plan/find_best_task.go
  plan/rule_aggregation_push_down.go
  plan/rule_build_key_info.go
  plan/rule_column_pruning.go
  plan/rule_decorrelate.go
  plan/rule_eliminate_projection.go
  plan/rule_join_reorder.go
  plan/rule_max_min_eliminate.go
  plan/rule_predicate_push_down.go
  plan/rule_topn_push_down.go
Labels: LGT2, all-tests-passed

#6655 Makefile: fix 'errcheck' after github.com/kisielk/errcheck is updated
  Makefile
  errcheck_excludes.txt
  util/types/time.go
Labels: 1.0-cherry-pick, LGT2, all-tests-passed

#6645 expression: fix wrong result of floor (#6620)
  expression/builtin_math.go
  expression/integration_test.go
Labels: 2.0-cherry-pick, all-tests-passed, bug-fix

#6660 executor: split write.go by executor
  executor/delete.go
  executor/insert.go
  executor/insert_common.go
  executor/load_data.go
  executor/replace.go
  executor/update.go
  executor/write.go
Labels: LGT2, all-tests-passed

#6669 plan: Fix the empty result of join
  executor/join_test.go
  plan/rule_predicate_push_down.go
Labels: LGT2, all-tests-passed, bug-fix, optimizer

#6679 plan: fix row count estimation for limit
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  plan/find_best_task.go
Labels: LGT2, all-tests-passed, bug-fix

#6631 types:check correctness of decimal's exponent part
  types/helper.go
  types/helper_test.go
  types/mydecimal.go
  types/mydecimal_test.go
Labels: LGT1, LGT2, all-tests-passed, compatibility

#6680 plan: Fix the empty result of join (#6669)
  executor/join_test.go
  plan/predicate_push_down.go
Labels: 2.0-cherry-pick, bug-fix

#6667 util: Fix range construction for `in` predicate
  expression/integration_test.go
  util/ranger/points.go
  util/ranger/ranger_test.go
Labels: LGT2, all-tests-passed, bug-fix, contribution

#6685 parser: support 'ALL' for 'BIT_AND', 'BIT_OR', 'BIT_XOR'
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, all-tests-passed, contribution

#6693 executor: don't output foreign keys in show create table statement.
  executor/show.go
  executor/show_test.go
Labels: LGT2, all-tests-passed

#6696 executor: don't output foreign keys in show create table statement. (#6693)
  executor/show.go
  executor/show_test.go
Labels: 2.0-cherry-pick, LGT2

#6690 expression: revert pr 6621
  expression/builtin_compare.go
  expression/integration_test.go
Labels: LGT2, all-tests-passed

#6694 server: support binary time type (#6516)
  server/conn_stmt.go
  server/conn_stmt_test.go
  server/server_test.go
  server/tidb_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6705 chunk: fix typo in comment
  util/chunk/chunk.go
Labels: LGT2, contribution, no-need-to-test

#6687 util: Fix range construction for `in` predicate (#6667)
  expression/integration_test.go
  util/ranger/points.go
  util/ranger/ranger_test.go
Labels: 2.0-cherry-pick, LGT2, bug-fix
