Repository pingcap/tidb, pull requests merged in 2018-06, with the labels that each got.

#6720 *: use DatumRow for DML executors
  executor/builder.go
  executor/delete.go
  executor/insert.go
  executor/insert_common.go
  executor/load_data.go
  executor/replace.go
  executor/update.go
  executor/write.go
  plan/common_plans.go
  plan/planbuilder.go
  plan/resolve_indices.go
Labels: LGT1, all-tests-passed, request-change

#6719 ddl, domain: unify logs
  ddl/ddl.go
  domain/domain.go
Labels: LGT2, all-tests-passed

#6723 expresssion: fix cast decimal to decimal side effect
  expression/builtin_cast.go
  expression/integration_test.go
Labels: LGT2, all-tests-passed, bug-fix

#6691 server: remove once.Do for HTTP server in tests
  server/http_status.go
  server/server.go
  server/statistics_handler_test.go
  server/tidb_test.go
Labels: LGT2, all-tests-passed

#6710 plan: check invalid task after physical optimization
  plan/errors.go
  plan/optimizer.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6725 Add change logs for 2.0.x
  CHANGELOG.md
Labels: LGT2

#6682 *: support select tidb_is_ddl_owner, to figure out whether tidb instance is ddl owner
  ast/functions.go
  expression/builtin.go
  expression/builtin_info.go
  expression/integration_test.go
  expression/typeinfer_test.go
  owner/manager.go
  parser/parser_test.go
  session/session.go
  sessionctx/context.go
  util/mock/context.go
Labels: all-tests-passed

#6733 server: fix CI nil pointer panic
  server/server.go
Labels: LGT2, all-tests-passed, bug-fix

#6571 expression: push ABS to TiKV
  expression/distsql_builtin.go
  expression/expr_to_pb.go
Labels: LGT2, all-tests-passed

#6644 *: adding trace syntax support
  ast/misc.go
  parser/consistent_test.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, all-tests-passed

#6738 *: fix typo
  model/model.go
Labels: LGT2, contribution

#6735 plan: stop finding best child task as soon as possible
  plan/find_best_task.go
  plan/task.go
Labels: all-tests-passed, optimizer

#6699 admin: admin check table do not use the timezone of session, it leads to false alarm.
  executor/admin_test.go
  util/admin/admin.go
  util/admin/admin_test.go
Labels: LGT2

#6721 types: fix unsigned decimal check and negative overflow bugs
  executor/executor_test.go
  types/datum.go
  types/mydecimal.go
  types/mydecimal_test.go
Labels: LGT1, all-tests-passed, bug-fix

#6718 add pull request template
  pull_request_template.md
Labels: LGT2, all-tests-passed

#6745 ddl: year type should not has unsigned flag
  ddl/ddl_api.go
  ddl/ddl_db_test.go
  executor/show_test.go
  expression/typeinfer_test.go
  table/column.go
Labels: LGT2, all-tests-passed

#6736 expression: push builtin function FLOOR down to TiKV
  expression/distsql_builtin.go
  expression/expr_to_pb.go
Labels: LGT2, all-tests-passed

#6746 stats: refine row count estimation
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/topn_push_down.result
  statistics/selectivity.go
  statistics/table.go
Labels: LGT2, all-tests-passed, bug-fix

#6747 server: fix fail to fetch profile by pprof
  server/http_handler_test.go
  server/http_status.go
Labels: LGT2, all-tests-passed

#6750 store, kvencoder: add a options to disable txn local latches in mockTikvStore, which may cause lightning to be oom.
  store/mockstore/tikv.go
  store/tikv/delete_range_test.go
  store/tikv/split_test.go
  store/tikv/test_util.go
  store/tikv/ticlient_test.go
  util/kvencoder/kv_encoder.go
Labels: LGT2, all-tests-passed

#6743 expression: add Partial1Mode/Partial2Mode/DedupMode for AggFunctionMode
  expression/aggregation/aggregation.go
  expression/aggregation/avg.go
  expression/aggregation/count.go
Labels: LGT2, all-tests-passed, priority/P1

#6751 expression: push builtin function `IS TRUE`/`IS FALSE` to TiKV
  expression/expr_to_pb.go
Labels: LGT2, all-tests-passed

#6754 plan, executor: fix the wrong result of merge join (#6753)
  executor/builder.go
  executor/join_test.go
  plan/explain.go
  plan/gen_physical_plans.go
  plan/physical_plan_test.go
  plan/physical_plans.go
  plan/resolve_indices.go
  plan/stringer.go
Labels: 2.0-cherry-pick, bug-fix

#6617 executor: make admin check table error more readable.
  executor/executor.go
  util/admin/admin.go
  util/admin/admin_test.go
Labels: LGT2, all-tests-passed

#6737 printer: update 'TiKVMinVersion' to '2.1.0-alpha.1'
  util/printer/printer.go
Labels: LGT2, all-tests-passed

#6741 store: print back off wall clock time out
  store/tikv/backoff.go
Labels: LGT2, all-tests-passed

#6756 stats: refine row count estimation (#6746)
  plan/cbo_test.go
  statistics/selectivity.go
  statistics/table.go
Labels: 2.0-cherry-pick, LGT1

#6758 expression, util: handle err instead of panic in EncodeDecimal
  expression/distsql_builtin_test.go
  expression/expr_to_pb.go
  util/codec/bench_test.go
  util/codec/codec.go
  util/codec/codec_test.go
  util/codec/decimal.go
  util/codec/decimal_test.go
Labels: LGT2

#6749 session: support tso when use tidb_snapshot
  executor/executor_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  store/tikv/oracle/oracle.go
Labels: LGT2, request-change

#6518 ddl: find max row id of the table that is backfilling indices, and just backfill indices in range [startHandle, maxRowID].
  ddl/ddl.go
  ddl/ddl_db_test.go
  ddl/index.go
  ddl/reorg.go
  ddl/reorg_test.go
  model/ddl.go
Labels: DDL-need-LGT3, LGT3, all-tests-passed, priority/P1

#6624 executor: fix drop user bug
  executor/simple.go
  executor/simple_test.go
Labels: LGT2, request-change

#6770 Add max backoff settings for tikv-client
  store/tikv/client.go
Labels: LGT2, all-tests-passed

#6761 types: handle `NULL datum` if we need convert it to string.
  executor/insert_common.go
  executor/show_stats_test.go
  server/http_handler_test.go
  statistics/histogram.go
  types/datum.go
Labels: LGT2, all-tests-passed, bug-fix

#6771 sessionctx/binloginfo: make TestMaxRecvSize more stable
  sessionctx/binloginfo/binloginfo_test.go
Labels: LGT2

#6579 *: Fix select lock option for union statement
  executor/executor_test.go
  parser/parser.y
Labels: LGT1, all-tests-passed, bug-fix

#6772 executor: gather all the error definitions together
  executor/errors.go
  executor/executor.go
  executor/simple.go
  executor/simple_test.go
Labels: LGT2, all-tests-passed

#6775 types: handle `NULL datum` if we need convert it to string. (#6761)
  executor/show_stats_test.go
  executor/write.go
  server/http_handler_test.go
  statistics/histogram.go
  types/datum.go
Labels: 2.0-cherry-pick

#6678 expression: Do not wrap a 'CAST As JSON' when input is already a JSON
  expression/builtin_cast.go
  expression/builtin_cast_test.go
  expression/evaluator_test.go
  mysql/type.go
Labels: LGT2, all-tests-passed, bug-fix

#6677 expression: improve constant folding of UDF if & ifnull
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  expression/constant_fold.go
  expression/expression_test.go
  expression/typeinfer_test.go
Labels: LGT2, all-tests-passed, enhancement

#6773 store: add max backoff settings for tikv-client
  store/tikv/client.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6475 ddl, parser: support 'ALTER TABLE RENAME KEY TO' syntax
  ast/ddl.go
  ddl/ddl_api.go
  ddl/ddl_db_test.go
  ddl/ddl_worker.go
  ddl/index.go
  ddl/table.go
  infoschema/infoschema.go
  model/ddl.go
  parser/parser.y
  parser/parser_test.go
Labels: DDL-need-LGT3, LGT3, all-tests-passed, contribution

#6776 expression: Do not wrap a 'CAST As JSON' when input is already a JSON (#6678)
  expression/builtin_cast.go
  expression/builtin_cast_test.go
  expression/evaluator_test.go
  mysql/type.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed, bug-fix

#6777 plan: refactor errors (#6377)
  executor/executor_test.go
  executor/prepared_test.go
  plan/errors.go
  plan/expression_rewriter.go
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
  plan/optimizer.go
  plan/planbuilder.go
  terror/terror.go
  util/ranger/points.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6752 plan, parser: fix the wrong result of the `UNION` statement
  ast/dml.go
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  executor/executor_test.go
  parser/parser.y
  plan/errors.go
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
Labels: LGT2, all-tests-passed, bug-fix

#6755 plan: refine the result of `EXPLAIN` statement
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/topn_push_down.result
  executor/join_test.go
  plan/explain.go
Labels: LGT2, all-tests-passed

#6454 plan: make "TIDB_SMJ" take effect even when no index can be used
  plan/exhaust_physical_plans.go
  plan/find_best_task.go
  plan/physical_plan_test.go
  plan/plan.go
Labels: LGT2, bug-fix, optimizer

#6323 executor: support parallel projection
  executor/builder.go
  executor/executor.go
  executor/projection.go
  expression/chunk_executor.go
  expression/evaluator.go
  expression/integration_test.go
  session/bootstrap_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Labels: LGT2, all-tests-passed

#6783 plan, parser: fix wrong `LIMIT`/`ORDER BY` check of the `UNION` statement
  ast/dml.go
  executor/executor_test.go
  parser/parser.y
  plan/preprocess.go
Labels: LGT2, all-tests-passed, bug-fix

#6781 tidb-server: check `run-ddl` is false when using mocktikv
  tidb-server/main.go
Labels: all-tests-passed

#6784 parser: fix the compatibility problem of `UNION` statement (#6335)
  executor/executor_test.go
  parser/parser.y
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6787 plan, parser: fix the wrong result of the `UNION` statement (#6752)
  ast/dml.go
  executor/executor_test.go
  parser/parser.y
  plan/errors.go
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
Labels: 2.0-cherry-pick, all-tests-passed

#6789 plan, parser: fix wrong `LIMIT`/`ORDER BY` check of the `UNION` (#6783)
  ast/dml.go
  executor/executor_test.go
  parser/parser.y
  plan/preprocess.go
Labels: 2.0-cherry-pick, all-tests-passed

#6732 expression, util: DecodeDecimal return real precision and frac
  executor/admin_test.go
  expression/distsql_builtin.go
  util/codec/codec.go
  util/codec/decimal.go
  util/codec/decimal_test.go
Labels: LGT2, all-tests-passed

#6790 executor: fix confusing statement label (#6419)
  executor/compiler.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6786 *: Fix select lock option for union statement (#6579)
  executor/executor_test.go
  parser/parser.y
Labels: 2.0-cherry-pick, all-tests-passed

#6791 parser: support drop column cascade syntax, parse it and ignore it.
  parser/parser.y
  parser/parser_test.go
Labels: LGT1, all-tests-passed

#6778 ddl:check column count limit when add column
  ddl/column.go
  ddl/ddl_api.go
  ddl/ddl_db_test.go
Labels: DDL-need-LGT3, LGT3, all-tests-passed

#6684 table/tables: modify `AddRecord` to handle table partition
  expression/simple_rewriter.go
  model/model.go
  table/table.go
  table/tables/gen_expr_test.go
  table/tables/tables.go
  table/tables/tables_test.go
Labels: LGT1, all-tests-passed

#6792 *: support 'show privileges'
  ast/dml.go
  executor/show.go
  executor/show_test.go
  parser/parser.y
  parser/parser_test.go
  plan/planbuilder.go
Labels: LGT2, all-tests-passed

#6803 parser: support drop column cascade syntax, parse it and ignore it. (#6791)
  parser/parser.y
  parser/parser_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6748 executor, session: replace new line and add user in query log
  executor/adapter.go
  session/session.go
Labels: LGT2

#6798 store: use first backoff error rather than last backoff error to generate mysql error
  store/tikv/backoff.go
Labels: LGT2, all-tests-passed

#6788 config, variable: add memory quota config for a query
  config/config.go
  config/config.toml.example
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Labels: LGT2, all-tests-passed

#6816 plan: fix a bug in `predicate push down` phase. (#6809)
  executor/join_test.go
  plan/predicate_push_down.go
Labels: 2.0-cherry-pick, LGT2

#6812 plan: change the value of `descScanFactor`
  plan/find_best_task.go
  plan/physical_plan_test.go
  util/printer/printer.go
Labels: LGT2, all-tests-passed

#6822 test: fix leak test
  executor/executor_test.go
  privilege/privileges/cache_test.go
  privilege/privileges/privileges_test.go
  server/http_handler_test.go
  server/statistics_handler_test.go
  server/tidb_test.go
  sessionctx/binloginfo/binloginfo_test.go
  util/codec/codec.go
  util/ranger/ranger_test.go
Labels: LGT2, all-tests-passed

#6762 expression: fix the wrong result of builtin function `CONCAT_WS`
  expression/builtin_cast.go
  expression/builtin_string_test.go
  expression/integration_test.go
  expression/typeinfer_test.go
Labels: LGT2, all-tests-passed, bug-fix

#6821 ddl: reduce test time when running tests with `race`
  ddl/column_change_test.go
  ddl/ddl_db_change_test.go
  ddl/ddl_db_test.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/syncer.go
Labels: LGT2, all-tests-passed

#6813 ddl: add M>=D checking for decimal/float/double column definition.
  ddl/ddl_api.go
  ddl/ddl_db_test.go
Labels: DDL-need-LGT3, LGT3, all-tests-passed

#6819 stroe: allow session variable tidb_snapeshot accepting tso.
  executor/executor_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  store/tikv/oracle/oracle.go
Labels: 2.0-cherry-pick, LGT2

#6830 executor: init builder startTS in `buildTableDual`
  executor/builder.go
  executor/executor_test.go
Labels: all-tests-passed, bug-fix

#6831 *: add tidb_hashagg_partial/final_concurrency
  executor/builder.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Labels: LGT2, all-tests-passed

#6829 kv: correct comments mistake.
  kv/memdb_buffer.go
  kv/txn.go
  kv/union_iter.go
  kv/variables.go
Labels: LGT1, contribution

#6449 ddl: adjust the structure of ddl
  ddl/column.go
  ddl/column_change_test.go
  ddl/column_test.go
  ddl/ddl.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  ddl/foreign_key.go
  ddl/foreign_key_test.go
  ddl/index.go
  ddl/index_change_test.go
  ddl/reorg.go
  ddl/reorg_test.go
  ddl/schema.go
  ddl/schema_test.go
  ddl/stat_test.go
  ddl/table.go
Labels: DDL-need-LGT3, LGT3, all-tests-passed

#6836 vendor: remove gogo protobuf and update tipb again
  Gopkg.lock
  vendor/github.com/gogo/protobuf/LICENSE
  vendor/github.com/gogo/protobuf/gogoproto/doc.go
  vendor/github.com/gogo/protobuf/gogoproto/gogo.pb.go
  vendor/github.com/gogo/protobuf/gogoproto/helper.go
  vendor/github.com/gogo/protobuf/proto/clone.go
  vendor/github.com/gogo/protobuf/proto/decode.go
  vendor/github.com/gogo/protobuf/proto/decode_gogo.go
  vendor/github.com/gogo/protobuf/proto/discard.go
  vendor/github.com/gogo/protobuf/proto/duration.go
  vendor/github.com/gogo/protobuf/proto/duration_gogo.go
  vendor/github.com/gogo/protobuf/proto/encode.go
  vendor/github.com/gogo/protobuf/proto/encode_gogo.go
  vendor/github.com/gogo/protobuf/proto/equal.go
  vendor/github.com/gogo/protobuf/proto/extensions.go
  vendor/github.com/gogo/protobuf/proto/extensions_gogo.go
  vendor/github.com/gogo/protobuf/proto/lib.go
  vendor/github.com/gogo/protobuf/proto/lib_gogo.go
  vendor/github.com/gogo/protobuf/proto/message_set.go
  vendor/github.com/gogo/protobuf/proto/pointer_reflect.go
  vendor/github.com/gogo/protobuf/proto/pointer_reflect_gogo.go
  vendor/github.com/gogo/protobuf/proto/pointer_unsafe.go
  vendor/github.com/gogo/protobuf/proto/pointer_unsafe_gogo.go
  vendor/github.com/gogo/protobuf/proto/properties.go
  vendor/github.com/gogo/protobuf/proto/properties_gogo.go
  vendor/github.com/gogo/protobuf/proto/skip_gogo.go
  vendor/github.com/gogo/protobuf/proto/text.go
  vendor/github.com/gogo/protobuf/proto/text_gogo.go
  vendor/github.com/gogo/protobuf/proto/text_parser.go
  vendor/github.com/gogo/protobuf/proto/timestamp.go
  vendor/github.com/gogo/protobuf/proto/timestamp_gogo.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor.pb.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/descriptor_gostring.gen.go
  vendor/github.com/gogo/protobuf/protoc-gen-gogo/descriptor/helper.go
  vendor/github.com/pingcap/tipb/go-binlog/binlog.pb.go
  vendor/github.com/pingcap/tipb/go-binlog/cistern.pb.go
  vendor/github.com/pingcap/tipb/go-binlog/pump.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Connection/mysqlx_connection.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Crud/mysqlx_crud.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Datatypes/mysqlx_datatypes.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Expect/mysqlx_expect.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Expr/mysqlx_expr.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Notice/mysqlx_notice.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Resultset/mysqlx_resultset.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Session/mysqlx_session.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Sql/mysqlx_sql.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/mysqlx.pb.go
Labels: LGT2, all-tests-passed

#6842 *: support 'show master status' (#6785)
  ast/dml.go
  executor/show.go
  executor/show_test.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
  plan/planbuilder.go
Labels: 2.0-cherry-pick, LGT2

#6843 config, variable: add memory quota config for a query (#6788)
  config/config.go
  config/config.toml.example
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Labels: 2.0-cherry-pick, LGT2

#6844 expression: fix the wrong result of builtin function `CONCAT_WS` (#6762)
  expression/builtin_cast.go
  expression/builtin_string_test.go
  expression/integration_test.go
  expression/typeinfer_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed

#6846 CHANGELOG: Add changelog for 2.0.4
  CHANGELOG.md
Labels: no-need-to-test

#6847 parser: allow comments end with multi asterisk
  parser/lexer.go
  parser/parser_test.go
Labels: LGT1, all-tests-passed, parser

#6858 parser: allow comments end with multi asterisk (#6847)
  parser/lexer.go
  parser/parser_test.go
Labels: 2.0-cherry-pick, parser

#6854 expression: fix err code in Regexp()/RegexpBinary()
  expression/builtin_like.go
  expression/errors.go
  expression/evaluator_test.go
Labels: LGT2, all-tests-passed, contribution

#6760 executor: improve performance for insert ignore on duplicate key update statement
  executor/batch_checker.go
  executor/insert.go
  executor/insert_common.go
  executor/load_data.go
  executor/write_test.go
Labels: LGT2, all-tests-passed

#6856 executor: start hash join inner/outer workers together
  executor/join.go
Labels: LGT2, all-tests-passed

#6664 plan: index join can be chosen in more scenario.
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  plan/exhaust_physical_plans.go
  plan/physical_plan_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#6876 *: update errcheck rule
  ddl/ddl_api.go
  errcheck_excludes.txt
  types/time.go
Labels: status/LGT2

#6877 session: add a global/session variable 'tidb_disable_txn_auto_retry'
  session/session.go
  session/session_test.go
  session/tidb.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, type/2.0 cherry-pick

#6642 *: support select from partition table
  executor/builder.go
  plan/find_best_task.go
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
  plan/logical_plans.go
  plan/optimizer.go
  plan/physical_plans.go
  plan/rule_partition_processor.go
  plan/stringer.go
  table/tables/tables.go
Labels: status/LGT2, status/all tests passed

#6874 config: enable TxnLocalLatches in default
  config/config.go
  config/config.toml.example
Labels: status/LGT2, status/all tests passed

#6837 util/goroutine_pool: change the recycle stratege from queue to stack
  util/goroutine_pool/gp.go
  util/goroutine_pool/gp_test.go
Labels: status/LGT2, status/all tests passed

#6865 tikv/gc_worker: cherry-pick "export gc concurrency (#6325)" to release-2.0
  store/tikv/gcworker/gc_worker.go
Labels: status/LGT2, type/2.0 cherry-pick

#6869 stats: refine index row count estimation
  executor/aggregate_test.go
  executor/builder.go
  session/bootstrap.go
  session/session.go
  statistics/boostrap.go
  statistics/histogram.go
  statistics/selectivity_test.go
  statistics/table.go
  store/mockstore/mocktikv/analyze.go
  util/printer/printer.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/enhancement

#6648 server,mysql: support server-side cursors
  mysql/const.go
  mysql/const_test.go
  server/conn.go
  server/conn_stmt.go
  server/conn_stmt_test.go
  server/driver.go
  server/driver_tidb.go
Labels: component/mysql-protocol, contribution, status/LGT2, status/all tests passed

#6851 parser: support 'CREATE TABLE ... SELECT' syntax (#4754)
  ast/ddl.go
  ddl/ddl.go
  ddl/ddl_db_test.go
  parser/parser.y
  parser/parser_test.go
  plan/preprocess.go
  plan/preprocess_test.go
Labels: component/parser, contribution, status/LGT2, status/all tests passed

#6885 Typo fix: fix some typos.
  distsql/request_builder.go
  tidb-server/main.go
Labels: component/docs, contribution, status/LGT2

#6890 executor: polish comment
  executor/revoke.go
Labels: component/docs, contribution, status/LGT2

#6734 plan: fix a bug when 'only_full_group_by' is set in sql_mode
  executor/aggregate_test.go
  plan/errors.go
  plan/logical_plan_builder.go
Labels: contribution, status/LGT1, status/LGT2, type/bug-fix

#6899 plan: fix a bug in `topn_push_down` rule.
  plan/logical_plan_test.go
  plan/rule_topn_push_down.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#6897 ddl: set correct startHandle when add indices meets some errors
  ddl/ddl_db_test.go
  ddl/index.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/bug-fix

#6861 ddl: speed up the operation of "create table"
  ddl/table.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#6880 store/tikv: avoid holding write lock for long time
  store/mockstore/mocktikv/cluster.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
Labels: component/tikv-client, status/LGT2, type/performance

#6903 ddl: set correct startHandle when add indices meets some errors (#6897)
  ddl/ddl_db_test.go
  ddl/index.go
Labels: status/LGT2, type/2.0 cherry-pick

#6904 ddl: fix gofail data race
  ddl/index.go
Labels: component/test, status/LGT2, type/bug-fix

#6421 ddl:support table partition in alter table add partition
  ast/ddl.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_db_test.go
  ddl/ddl_worker.go
  ddl/table.go
  model/ddl.go
  parser/parser.y
  parser/parser_test.go
Labels: component/DDL-need-LGT3, status/LGT3

#6808 stats: refine stats delta update
  domain/domain.go
  executor/show_stats_test.go
  infoschema/tables_test.go
  plan/cbo_test.go
  server/statistics_handler_test.go
  sessionctx/variable/session.go
  statistics/dump_test.go
  statistics/handle.go
  statistics/handle_test.go
  statistics/update.go
  statistics/update_list_test.go
  statistics/update_test.go
Labels: component/statistics, status/LGT1, status/all tests passed, type/enhancement

#6891 executor: reduce memory usage of insert select from statement
  executor/insert.go
  executor/insert_common.go
  executor/replace.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#6871 parser:support order by in select from dual
  parser/parser.y
  parser/parser_test.go
Labels: component/parser, contribution, status/LGT2, type/enhancement

#6914 util:check character set capitalization when creating a table
  ddl/ddl_db_test.go
  util/charset/charset.go
Labels: status/LGT3, status/all tests passed

#6911 plan: enhance the row count estimation when correlated column exists
  plan/cbo_test.go
  statistics/selectivity.go
Labels: component/statistics, status/LGT1, status/all tests passed, type/enhancement

#6565 stats: refine the pseudo condition for stats
  domain/domain.go
  executor/aggregate_test.go
  executor/analyze.go
  metrics/stats.go
  plan/cbo_test.go
  plan/logical_plan_builder.go
  session/bootstrap.go
  session/session.go
  sessionctx/variable/session.go
  statistics/dump.go
  statistics/feedback.go
  statistics/handle.go
  statistics/histogram.go
  statistics/table.go
  statistics/update.go
  statistics/update_test.go
  tidb-server/main.go
Labels: component/statistics, priority/release-blocker, status/LGT2, status/all tests passed, type/enhancement

#6441 *: add session var 'tidb_ddl_reorg_worker_cnt' to control ddl reorg workers count
  ddl/index.go
  executor/ddl_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: status/LGT2

#6894 plan: draw relation bewteen operators with indent
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/topn_push_down.result
  executor/join_test.go
  expression/integration_test.go
  plan/cbo_test.go
  plan/common_plans.go
  plan/explain.go
  plan/planbuilder.go
  statistics/selectivity_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#6923 plan: fix a bug in `topn_push_down` rule. (#6899)
  plan/logical_plan_test.go
  plan/topn_push_down.go
Labels: component/planner, type/2.0 cherry-pick, type/bug-fix

#6918 server: fix COM_FIELD_LIST response bug that make mariadb-client crash during `use db`
  server/conn.go
Labels: component/mysql-protocol, status/LGT2, status/all tests passed

#6913 *: add a session variable for table partition, tiny update
  ddl/ddl_api.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  table/tables/tables.go
  table/tables/tables_test.go
Labels: status/LGT2, status/all tests passed

#6779 plan, executor: use `CorrelatedColumn` to calculate range.
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/t/explain_easy.test
  executor/builder.go
  executor/distsql.go
  executor/distsql_test.go
  plan/explain.go
  plan/find_best_task.go
  plan/logical_plans.go
  plan/optimizer.go
  plan/physical_plan_test.go
  plan/physical_plans.go
  plan/property_cols_prune.go
  statistics/histogram.go
  statistics/selectivity.go
  statistics/table.go
  util/ranger/points.go
Labels: component/planner, priority/release-blocker, status/LGT2, status/all tests passed, type/enhancement

#6929 server: fix COM_FIELD_LIST response bug that make mariadb-client crash during `use db` (#6918)
  server/conn.go
Labels: status/all tests passed, type/2.0 cherry-pick

#6930 config: disable local latches for transaction as default
  config/config.go
  config/config.toml.example
Labels: require-LGT3, status/LGT3, status/all tests passed

#6931 tidb-server: move "setupMetrics" to the front of "createStoreAndDomai…
  tidb-server/main.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick

#6919 sqltostr: fix str_to_date('2018-6-14', '%Y-%m-%d') bug
  expression/integration_test.go
  types/time.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, type/bug-fix

#6902 ddl/reorg: enlarge runDDLJob wait timeout
  ddl/reorg.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#6465 executor: BadNullError should be ignored by insert ignore statement
  ddl/ddl.go
  executor/executor_test.go
  executor/insert.go
  executor/insert_common.go
  executor/load_data.go
  executor/prepared.go
  executor/update.go
  executor/write.go
  executor/write_test.go
  sessionctx/stmtctx/stmtctx.go
  store/mockstore/mocktikv/cop_handler_dag.go
  table/column.go
  table/column_test.go
  table/table.go
Labels: status/LGT2, status/all tests passed, type/bug-fix

#6925 plan: remove other `accessPath`s if one is unique key and full matched.
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/s/explain_easy_stats_index_prune.json
  cmd/explaintest/t/explain_easy_stats.test
  plan/logical_plans.go
  plan/stats.go
  statistics/selectivity_test.go
Labels: component/planner, priority/release-blocker, status/LGT2, type/enhancement

#6939 executor, types: fix bug of insert into unsigned float/double
  executor/write_test.go
  types/datum.go
Labels: component/expression, status/LGT2, type/bug-fix

#6852 executor: introduce a new execution framework for aggregate functions
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/builder.go
  executor/aggregate.go
  executor/builder.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#6888 aggregation: fix the wrong result of avg(double)
  expression/aggregation/avg.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix

#6932 mockstore,tikv: fix that mocktikv ignore latches config
  executor/distsql.go
  store/mockstore/tikv.go
  store/mockstore/tikv_test.go
  store/tikv/delete_range_test.go
  store/tikv/kv.go
  store/tikv/split_test.go
  store/tikv/test_util.go
  store/tikv/ticlient_test.go
  util/kvencoder/kv_encoder.go
Labels: status/LGT1, status/LGT2, status/all tests passed, type/bug-fix

#6936 *: 1. support 'SHOW ERRORS' statment 2. reports errors in 'SHOW WARNINGS' statement
  ast/dml.go
  executor/prepared.go
  executor/show.go
  executor/show_test.go
  parser/misc.go
  parser/parser.y
  plan/planbuilder.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
Labels: component/executor, component/parser, contribution, status/LGT2, type/enhancement

#6873 executor: handle \N as NULL in load data statement
  executor/executor_pkg_test.go
  executor/load_data.go
  executor/write_test.go
Labels: status/LGT2, status/all tests passed, type/compatibility
