Repository pingcap/tidb, pull requests merged in 2018-03, with the labels that each got.

#5926 cover Next() in merge join
  executor/merge_join_test.go
Labels: LGT1

#5725 *: support stream agg on TiKV
  kv/kv.go
  plan/gen_physical_plans.go
  store/tikv/coprocessor.go
  util/printer/printer.go
Labels: LGT1

#5929 plan: improve test coverage.
  plan/cache_test.go
  plan/cacheable_checker_test.go
  plan/logical_plan_test.go
Labels: LGT2

#5933 parser: support COMMENT = 'string' in partition definition
  parser/parser.y
  parser/parser_test.go
Labels: LGT2

#5931 tikv: add function SplitRegionRanges to get the split ranges from region.
  store/tikv/coprocessor.go
  store/tikv/coprocessor_test.go
Labels: LGT2, all-tests-passed

#5934 tikv,mocktikv,tikvrpc: introduce a `CopStreamResponse` structure for tikvrpc.Response
  store/mockstore/mocktikv/rpc.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: LGT2

#5923 mocktikv: set `Range` and `OutputCounts` in coprocessor Response for streaming API
  store/mockstore/mocktikv/aggregate.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/executor.go
Labels: LGT1

#5939 ranger: remove invalid interval when building range.
  plan/physical_plan_test.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
Labels: LGT2, all-tests-passed

#5937 parser: support reference as a column option
  ast/ddl.go
  executor/show_test.go
  parser/parser.y
  parser/parser_test.go
Labels: LGT2

#5920 parser: support long varchar
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, all-tests-passed

#5938 parser: add restrict and cascade in drop table
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, all-tests-passed

#5942 executor: remove supportChunk from interface Executor
  executor/adapter.go
  executor/builder.go
  executor/executor.go
Labels: LGT1

#5764 store/tikv: change CommitMaxBackoff to configuration parameters
  config/config.go
  config/config.toml.example
  config/config_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/backoff.go
  store/tikv/lock_test.go
  tidb-server/main.go
Labels: LGT2, all-tests-passed

#5932 *: support check an index
  ast/misc.go
  executor/builder.go
  executor/distsql.go
  executor/distsql_test.go
  executor/executor.go
  executor/executor_test.go
  parser/parser.y
  parser/parser_test.go
  plan/common_plans.go
  plan/planbuilder.go
Labels: LGT2, non-release-blocker, priority/P1

#5944 parser: correct mistake on maping between tinyint and boolean.
  executor/show_test.go
  parser/parser.y
Labels: LGT2, all-tests-passed

#5954 expression: correct the behavior of bit aggregate function.
  executor/aggregate_test.go
  expression/aggregation/bit_and.go
  expression/aggregation/bit_or.go
  expression/aggregation/bit_xor.go
Labels: LGT1

#5958 *: Improve code readability and unified aliases
  session.go
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
  sessionctx/context.go
  store/tikv/2pc.go
  store/tikv/txn.go
  table/tables/tables.go
  tidb-server/main.go
  txn.go
  util/mock/context.go
Labels: LGT1, contribution

#5826 executor, util: employ memory Tracker to track memory usage during query execution
  config/config.go
  config/config.toml.example
  executor/executor.go
  executor/join.go
  executor/prepared.go
  executor/sort.go
  mysql/errname.go
  server/conn.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
  util/chunk/list.go
  util/chunk/list_test.go
  util/memory/action.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: LGT2, all-tests-passed, priority/P1

#5948 executor,ast: check password format for 'create user identified by password XXX'
  ast/misc.go
  ast/misc_test.go
  executor/grant.go
  executor/simple.go
  executor/simple_test.go
Labels: LGT1, all-tests-passed

#5951 mocktikv: return error if coprocessor `range.start` is not smaller than `range.end`
  store/mockstore/mocktikv/analyze.go
  store/mockstore/mocktikv/cop_handler_dag.go
Labels: LGT2, all-tests-passed

#5950 stats, mocktikv: implement NextChunk for record set
  statistics/sample_test.go
  statistics/statistics_test.go
  store/mockstore/mocktikv/analyze.go
Labels: LGT2, all-tests-passed

#5906 distsql, mocktikv: handle warnings returned from tikv/mocktikv
  distsql/distsql.go
  expression/integration_test.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/tikv/error.go
Labels: LGT2, all-tests-passed

#5864 config: add validation for configuration
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/adapter.go
  executor/builder.go
  executor/join.go
  kv/txn.go
  kv/txn_test.go
  plan/cache.go
  plan/physical_plan_builder.go
  plan/physical_plans.go
  server/server.go
  server/server_test.go
  server/tokenlimiter.go
  session.go
  store/tikv/client.go
  tidb-server/main.go
  tidb.go
  util/kvcache/sharded_lru.go
  util/kvcache/simple_lru.go
  util/kvcache/simple_lru_test.go
  util/logutil/log.go
  x-server/config.go
Labels: LGT2, all-tests-passed

#5960 executor, infoschema: return a pseudo profiling table when system var profiling is set to 1
  executor/executor_test.go
  infoschema/tables.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: LGT2, all-tests-passed

#5945 executor: fix two bugs when enable chunk
  executor/show.go
  server/conn.go
  server/tidb_test.go
Labels: LGT2, all-tests-passed

#5953 plan: decorrelation enhancement.
  executor/executor_test.go
  plan/decorrelate.go
  plan/logical_plan_test.go
  plan/optimizer.go
  plan/physical_plan_test.go
Labels: LGT2, all-tests-passed, optimizer

#5925 metrics: improve handle cop task duration metric accuracy
  store/tikv/coprocessor.go
Labels: LGT2

#5860 server: add http api for settings
  docs/tidb_http_api.md
  server/http_handler.go
  server/http_handler_test.go
  server/http_status.go
Labels: LGT1, all-tests-passed

#5963 config: update config template
  config/config.go
  config/config.toml.example
  config/config_test.go
  util/logutil/log.go
Labels: LGT1, all-tests-passed

#5967 plan, executor: remove the duplicate function of setPBColumnsDefaultValue
  executor/builder.go
  executor/distsql.go
  plan/plan_to_pb.go
  plan/planbuilder.go
Labels: LGT1, all-tests-passed

#5968 executor: fix inconsistent behavior for insert
  executor/write.go
  executor/write_test.go
Labels: LGT2, all-tests-passed

#5969 *: remove SupportChunk() from interface ResultSet and RecordSet
  ast/ast.go
  executor/adapter.go
  server/conn.go
  server/driver.go
  server/driver_tidb.go
  statistics/statistics_test.go
  store/mockstore/mocktikv/analyze.go
  tidb.go
Labels: LGT1

#5927 server: support decode column
  docs/tidb_http_api.md
  server/http_handler.go
  server/http_handler_test.go
  server/http_status.go
Labels: LGT2

#5947 plan: fix a bug when expectedCnt and count after filter are all 0.
  plan/cbo_test.go
  plan/gen_physical_plans.go
  plan/physical_plan_builder.go
Labels: LGT2

#5983 server, docs: change rowBin to request.
  docs/tidb_http_api.md
  server/http_handler.go
  server/http_handler_test.go
  server/http_status.go
Labels: LGT2, all-tests-passed

#5978 stats: fix building too many buckets
  statistics/builder.go
  statistics/statistics_test.go
Labels: all-tests-passed, statistic

#5988 *: preparation for removing Next of Executors
  config/config.go
  executor/adapter.go
  executor/executor.go
  executor/join_test.go
  executor/merge_join_test.go
  server/conn.go
  server/driver.go
  server/driver_tidb.go
  session.go
  session_test.go
  sessionctx/variable/session.go
  tidb.go
Labels: LGT2

#5976 ddl:set the low priority for the adding the index
  ddl/index.go
  executor/executor_test.go
  kv/kv.go
  kv/mock.go
  store/tikv/snapshot.go
Labels: DDL, LGT1

#5991 executor: remove Next function for HashJoinExec
  executor/join.go
  executor/join_result_generators.go
  executor/merge_join_test.go
Labels: LGT2, all-tests-passed

#5993 executor: remove Next function for MergeJoinExec
  executor/merge_join.go
Labels: LGT2, all-tests-passed

#6002 executor: remove Next function for ExplainExec
  executor/explain.go
Labels: LGT2, contribution

#5977 plan: tiny code refine for building DataSource
  plan/logical_plan_builder.go
  plan/logical_plans.go
  plan/planbuilder.go
  statistics/table.go
Labels: LGT2, all-tests-passed

#5999 executor: remove Next for GrantExec
  executor/grant.go
Labels: LGT2, all-tests-passed, contribution

#6006 plan, executor: fix check index bug
  executor/executor_test.go
  plan/planbuilder.go
Labels: LGT2, all-tests-passed, bug-fix

#6010 executor: log the function stack when recovering from a panic
  executor/distsql.go
  executor/executor.go
  executor/index_lookup_join.go
  executor/join.go
Labels: LGT2, all-tests-passed

#6008 server: fix column length when convert column info for tinyint
  server/driver_tidb.go
  server/driver_tidb_test.go
Labels: LGT2, compatibility

#6018 remove Next() function for MaxOneRowExec
  executor/executor.go
Labels: LGT2, all-tests-passed, contribution

#6019 executor: remove Next() function for ExistsExec
  executor/executor.go
Labels: LGT2, all-tests-passed, contribution

#6012 executor: remove Next for AnalyzeExec
  executor/analyze.go
Labels: LGT2, all-tests-passed, contribution

#6024 expression: fix test cases in TestWrapWithCastAsTime and TestCompareBuiltin
  expression/builtin_cast_test.go
  expression/integration_test.go
Labels: LGT2, all-tests-passed

#6016 executor: remove Next() function for UnionExec
  executor/executor.go
Labels: LGT2, all-tests-passed, contribution

#5928 distsql: add unit test for distsql.go
  distsql/distsql_test.go
  distsql/request_builder_test.go
  plan/logical_plan_test.go
  util/mock/client.go
  util/mock/store.go
Labels: LGT2, all-tests-passed, test

#6017 executor: remove Next function for StreamAggExec
  executor/aggregate.go
  session.go
Labels: LGT2, all-tests-passed, contribution

#6013 executor: remove Next for DDLExec
  executor/ddl.go
Labels: LGT2, all-tests-passed, contribution

#5909 *: collect query feedback
  distsql/distsql.go
  distsql/distsql_test.go
  distsql/request_builder.go
  distsql/request_builder_test.go
  distsql/stream.go
  executor/admin.go
  executor/analyze.go
  executor/builder.go
  executor/distsql.go
  kv/kv.go
  plan/physical_plan_builder.go
  plan/physical_plans.go
  statistics/feedback.go
  statistics/histogram.go
  statistics/update.go
  statistics/update_test.go
  store/mockstore/mocktikv/aggregate.go
  store/mockstore/mocktikv/analyze.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/executor.go
  store/tikv/coprocessor.go
  tablecodec/tablecodec.go
  util/chunk/compare.go
Labels: LGT2, non-release-blocker, priority/P1

#5998 executor: remove Next function for ShowExec
  executor/executor_pkg_test.go
  executor/show.go
  executor/show_test.go
  server/tidb_test.go
  session_test.go
Labels: LGT2, all-tests-passed, contribution

#5994 executor: remove Next function for IndexLookUpJoin
  executor/index_lookup_join.go
Labels: LGT2

#6032 table, executor: fix a unique key with null
  executor/executor_test.go
  table/tables/index.go
  table/tables/index_test.go
Labels: LGT2, all-tests-passed

#6020 executor: remove Next() function for TableScanExec
  executor/executor.go
Labels: LGT1, contribution

#6026 ddl, model: add finished TS when a DDL job is finished
  ddl/ddl_test.go
  ddl/ddl_worker.go
  model/ddl.go
Labels: DDL, LGT2, all-tests-passed

#6025 infoschema: add missing columns in collations_information_applicability
  executor/aggregate_test.go
  infoschema/tables.go
Labels: DNM, LGT2, all-tests-passed, compatibility

#6000 expression: Add deprecation warning for builtin function PASSWORD
  expression/builtin_encryption.go
  expression/builtin_encryption_test.go
  expression/errors.go
Labels: all-tests-passed, contribution

#6034 stats: remove invalid range when split
  statistics/histogram.go
  statistics/update_test.go
Labels: LGT2, all-tests-passed, bug-fix, priority/P1, statistics

#6028 expression: fix comparation between uint and int
  expression/builtin_compare.go
  expression/integration_test.go
Labels: LGT2, all-tests-passed, bug-fix

#6039 parser: fix "insert into t1 (select * from t)"
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, all-tests-passed, compatibility

#6041 plan: fix a bug when do column substitution for join.
  executor/join_test.go
  plan/logical_plans.go
Labels: LGT2, all-tests-passed, bug-fix

#6029 executor: remove Next() function for TopNExec
  executor/sort.go
Labels: LGT2, all-tests-passed, contribution

#6040 *: remove Next function for RecordSet
  ast/ast.go
  bench_test.go
  bootstrap.go
  bootstrap_test.go
  cmd/benchdb/main.go
  ddl/util/util.go
  executor/ddl_test.go
  executor/distsql_test.go
  executor/executor.go
  executor/executor_test.go
  executor/join_test.go
  executor/prepared_test.go
  privilege/privileges/cache.go
  server/driver.go
  server/driver_tidb.go
  session_test.go
  statistics/ddl.go
  statistics/sample.go
  statistics/statistics_test.go
  store/mockstore/mocktikv/analyze.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/sql_fail_test.go
  table/tables/tables_test.go
Labels: LGT2, all-tests-passed, priority/P1

#6046 vendor: update tipb
  Gopkg.lock
  vendor/github.com/pingcap/tipb/go-tipb/analyze.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/select.pb.go
Labels: all-tests-passed

#6037 mysql: update server version to MySQL 5.7 GA release
  mysql/const.go
Labels: LGT1, all-tests-passed, compatibility

#5996 executor: remove Next function for UnionScanExec
  executor/union_scan.go
Labels: LGT2, contribution

#6055 executor: remove Next() function for LimitExec
  executor/executor.go
Labels: LGT2, all-tests-passed, contribution

#6050 vendor: update tipb package
  Gopkg.lock
  vendor/github.com/pingcap/tipb/go-tipb/analyze.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/checksum.pb.go
Labels: LGT2

#6054 config, variable: add a config to set 'lower_case_table_names' system variable.
  config/config.go
  config/config.toml.example
  tidb-server/main.go
Labels: LGT2, all-tests-passed

#6060 executor: remove Next() function for CancelDDLJobsExec
  executor/executor.go
Labels: LGT2, all-tests-passed, contribution

#6059 executor: remove Next() function for ShowDDLExec
  executor/executor.go
Labels: LGT2, all-tests-passed, contribution

#6058 executor: remove Next() function for ShowDDLJobsExec
  executor/executor.go
Labels: LGT2, all-tests-passed, contribution

#6056 executor: remove Next() function for SelectLockExec
  executor/executor.go
Labels: LGT2, all-tests-passed, contribution

#6022 executor: remove Next() function for TableDualExec
  executor/executor.go
Labels: LGT2, all-tests-passed, contribution

#5997 *:improve code readability and unified aliases
  distsql/distsql.go
  distsql/distsql_test.go
  distsql/request_builder.go
  distsql/request_builder_test.go
  distsql/stream.go
  executor/analyze.go
  executor/builder.go
  executor/distsql.go
  expression/aggregation/agg_to_pb.go
  expression/aggregation/agg_to_pb_test.go
  expression/aggregation/aggregation.go
  expression/builtin.go
  expression/builtin_arithmetic.go
  expression/builtin_cast.go
  expression/builtin_compare.go
  expression/builtin_control.go
  expression/builtin_json.go
  expression/builtin_like.go
  expression/builtin_math.go
  expression/builtin_op.go
  expression/builtin_other.go
  expression/builtin_time.go
  expression/distsql_builtin.go
  expression/distsql_builtin_test.go
  expression/expr_to_pb.go
  expression/expr_to_pb_test.go
  plan/plan.go
  plan/plan_to_pb.go
  plan/plan_to_pb_test.go
  statistics/cmsketch.go
  statistics/dump.go
  statistics/fmsketch.go
  statistics/histogram.go
  statistics/sample.go
  store/mockstore/mocktikv/analyze.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/executor.go
  store/mockstore/mocktikv/topn.go
  store/tikv/coprocessor.go
Labels: LGT2, all-tests-passed, contribution

#6023 executor: remove Next() function for ProjectionExec
  executor/builder.go
  executor/executor.go
Labels: LGT2, all-tests-passed, contribution

#6068 sessionctx: set explicit_defaults_for_timestamp to ON
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
Labels: all-tests-passed

#5984 *: export implicit rowid and use it in CRUD
  executor/rowid_test.go
  executor/write.go
  executor/write_test.go
  model/model.go
  sessionctx/binloginfo/binloginfo_test.go
  table/column.go
  table/column_test.go
  table/tables/tables.go
Labels: LGT2, all-tests-passed

#5980 *: support 'admin recover index'
  ast/misc.go
  distsql/request_builder_test.go
  executor/admin.go
  executor/admin_test.go
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
  plan/common_plans.go
  plan/logical_plan_test.go
  plan/planbuilder.go
  store/mockstore/mocktikv/executor.go
  table/tables/index.go
Labels: LGT2, all-tests-passed

#6061 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: LGT2, no-need-to-test

#6052 executor: remove Next function for SortExec
  executor/sort.go
Labels: LGT2, all-tests-passed, contribution

#6001 executor: remove Next function for SimpleExec
  executor/simple.go
Labels: LGT2, all-tests-passed, contribution

#6004 executor: remove Next function for RevokeExec
  executor/revoke.go
Labels: LGT2, all-tests-passed, contribution

#6035 admin: show more information on ddl history
  ast/misc.go
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  model/ddl.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
  plan/common_plans.go
  plan/planbuilder.go
Labels: LGT2, all-tests-passed

#6076 stats: fix data race when dump stats
  statistics/dump.go
Labels: LGT2, all-tests-passed

#5965 store/tikv: support retry and timeout for coprocessor streaming API
  expression/integration_test.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/client.go
  store/tikv/client_test.go
  store/tikv/coprocessor.go
  store/tikv/sql_fail_test.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: LGT2

#6021 executor: remove Next() function for SelectionExec
  executor/executor.go
Labels: LGT2, contribution

#6075 expression/agg: remove useless code.
  expression/aggregation/avg.go
Labels: LGT2, all-tests-passed

#6071 expression: add unsigned flag when convert uintPBConstant to Expression
  expression/distsql_builtin.go
  expression/integration_test.go
Labels: LGT2, all-tests-passed

#6049 executor: Change makeJoinRowToChunk to account for virtual rows
  executor/join_result_generators.go
  executor/join_test.go
Labels: LGT2, all-tests-passed, contribution

#6073 session: rollback the transaction on Compile error
  session.go
  session_test.go
Labels: LGT2, all-tests-passed

#5990 tidb: enable to forbid to retry when commit, add isolation test.
  isolation_test.go
  session.go
Labels: LGT1

#6005 executor: remove Next function for SetExec
  executor/set.go
Labels: LGT2, all-tests-passed, contribution

#6077 executor, util: refine row.GetMyDecimal
  executor/aggregate_test.go
  util/chunk/chunk.go
Labels: LGT2, all-tests-passed

#6057 executor: remove Next() function for CheckTableExec
  executor/executor.go
Labels: LGT2, contribution

#6003 executor: remove Next function for prepared.go
  executor/prepared.go
  session.go
Labels: LGT2, contribution

#6069 types,expression: make 'invalid time format' error log more friendly
  expression/builtin_time.go
  expression/integration_test.go
  types/convert.go
  types/mytime.go
  types/time.go
Labels: LGT2, all-tests-passed

#5995 executor: remove Next function for executor/write.go
  executor/executor.go
  executor/write.go
Labels: LGT1, all-tests-passed, contribution

#6048 infoschema: fix not null flag does not work
  infoschema/tables.go
  model/model_test.go
  perfschema/init.go
  util/charset/charset.go
Labels: LGT1, all-tests-passed

#6087 util: refine Row.GetDatum when tp is MyDecimal
  executor/aggregate_test.go
  expression/aggregation/max_min.go
  util/chunk/chunk.go
Labels: LGT2, all-tests-passed

#6074 expression/agg: add unit-test.
  expression/aggregation/aggregation_test.go
Labels: LGT2

#6053 store/tikv: add timeout for region error(not leader)
  store/tikv/backoff.go
  store/tikv/region_request.go
Labels: LGT2, all-tests-passed

#6027 executor: remove Next function for NestedLoopApplyExec
  distsql/request_builder_test.go
  executor/executor.go
  executor/join.go
  executor/pkg_test.go
Labels: LGT2, all-tests-passed, contribution

#6078 executor: refactor merge join
  executor/builder.go
  executor/executor.go
  executor/join_test.go
  executor/merge_join.go
  executor/sort.go
Labels: LGT2, all-tests-passed, priority/P1, release-blocker

#6009 executor: track the memory usage of IndexLookUpExecutor
  executor/distsql.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: LGT2, all-tests-passed

#6030 server, tablecodec: show region key's record id or index values.
  server/http_handler.go
  server/http_handler_test.go
  tablecodec/tablecodec.go
  tablecodec/tablecodec_test.go
Labels: LGT1, LGT2, all-tests-passed

#6096 *: fix a data race for SelectForUpdate executor
  executor/executor.go
Labels: all-tests-passed

#6098 *: check float/double display width and scale
  mysql/const.go
  parser/parser.y
  plan/preprocess.go
  plan/preprocess_test.go
Labels: LGT2, all-tests-passed, compatibility

#5343 *: remove useless code
  expression/aggregation/explain.go
  expression/column.go
  expression/constant.go
  expression/explain.go
  expression/scalar_function.go
  parser/parser_test.go
  plan/explain.go
  plan/preprocess.go
  types/mydecimal_test.go
Labels: LGT1, all-tests-passed, contribution

#6007 *: support STRAIGHT_JOIN to disable join reordering
  ast/dml.go
  ast/misc.go
  parser/parser.y
  parser/parser_test.go
  plan/cbo_test.go
  plan/join_reorder.go
  plan/logical_plan_builder.go
  plan/logical_plans.go
  plan/planbuilder.go
  plan/predicate_push_down.go
Labels: LGT2, all-tests-passed, release-blocker

#6108 memory: fix data race on concurrent access of Tracker.children
  util/memory/tracker.go
Labels: LGT2, all-tests-passed

#6099 infoschema: set collate and charset to null for non-varchar column type
  ddl/ddl_db_test.go
  infoschema/tables.go
Labels: LGT2, all-tests-passed, compatibility

#6081 types: support converting json to float64
  executor/aggregate_test.go
  types/datum.go
Labels: LGT2, all-tests-passed, contribution

#6097 expression/agg: add `ResetContext()` for stream aggregation.
  executor/aggregate.go
  expression/aggregation/aggregation.go
  expression/aggregation/avg.go
  expression/aggregation/bench_test.go
  expression/aggregation/bit_and.go
  expression/aggregation/bit_or.go
  expression/aggregation/bit_xor.go
  expression/aggregation/concat.go
  expression/aggregation/count.go
  expression/aggregation/first_row.go
Labels: LGT2, all-tests-passed

#5964 ddl: speed up add index by split handle range from pd region.
  ddl/ddl.go
  ddl/ddl_db_test.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/index.go
  ddl/reorg.go
  ddl/reorg_test.go
  store/tikv/2pc_test.go
  store/tikv/client_test.go
  store/tikv/coprocessor_test.go
  store/tikv/isolation_test.go
  store/tikv/lock_test.go
  store/tikv/rawkv_test.go
  store/tikv/region_cache_test.go
  store/tikv/safepoint_test.go
  store/tikv/scan_mock_test.go
  store/tikv/scan_test.go
  store/tikv/snapshot_test.go
  store/tikv/split_test.go
  store/tikv/sql_fail_test.go
  store/tikv/store_test.go
  store/tikv/ticlient_test.go
  store/tikv/tikv_test.go
Labels: LGT2, all-tests-passed, release-blocker

#6105 *: fix in-compatible behavior when modify value from Navicat GUI
  ddl/ddl_api.go
  expression/builtin_control.go
  expression/builtin_miscellaneous.go
  expression/builtin_string.go
  expression/typeinfer_test.go
  parser/parser.y
  parser/parser_test.go
  plan/logical_plan_test.go
  plan/physical_plan_test.go
  types/field_type.go
Labels: LGT2, all-tests-passed, compatibility

#5987 executor: remove Next function for HashAggExec
  executor/aggregate.go
Labels: LGT2, contribution

#6118 ddl: remove old logic of adding index
  ddl/index.go
Labels: LGT2

#6112 executor: remove some remained unused functions for removing Executor.Next
  executor/adapter.go
  executor/executor.go
  executor/load_stats.go
  executor/union_scan.go
Labels: LGT2, all-tests-passed

#6117 plan: rename dagPhysicalOptimize to physicalOptimize
  plan/optimizer.go
Labels: LGT2, all-tests-passed

#6113 store/tikv: make tikv_integration_test more stable
  store/mockstore/test_util.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/lock_test.go
  store/tikv/scan_mock_test.go
  store/tikv/store_test.go
  store/tikv/ticlient_test.go
Labels: LGT1, all-tests-passed

#6124 plan: `UnionScan`'s predicates should be cloned ones.
  executor/union_scan_test.go
  plan/predicate_push_down.go
Labels: LGT2, all-tests-passed

#6122 session: call "begin" in a transaction will auto commit, log this operation
  session/session.go
Labels: LGT1, all-tests-passed

#5974 stats: add average column size for the histogram
  executor/aggregate_test.go
  executor/show_stats.go
  plan/planbuilder.go
  server/statistics_handler_test.go
  session/bootstrap.go
  session/session.go
  statistics/boostrap.go
  statistics/builder.go
  statistics/ddl.go
  statistics/ddl_test.go
  statistics/dump.go
  statistics/handle.go
  statistics/handle_test.go
  statistics/histogram.go
  statistics/sample.go
  statistics/sample_test.go
  statistics/scalar_test.go
  statistics/selectivity_test.go
  statistics/statistics_test.go
  statistics/table.go
  statistics/update_test.go
  util/chunk/chunk.go
Labels: LGT1

#6128 domain: make schema validator test more stable
  domain/schema_validator_test.go
Labels: LGT1, all-tests-passed

#6126 ddl, tables: remove useless NewIndexWithBuffer
  ddl/index.go
  executor/admin_test.go
  table/tables/index.go
Labels: LGT2, all-tests-passed

#6111 infoschema: fill the TABLE_ROWS field of information_schema.TABLES with the information from statistics.
  infoschema/tables.go
  infoschema/tables_test.go
Labels: LGT2, all-tests-passed, contribution

#6131 fix syntax error on sql "set transaction isolation level serializable;"
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, contribution

#6132 ddl: recover panic in add index workers
  ddl/ddl.go
  ddl/index.go
Labels: LGT2, all-tests-passed

#6147 store/tikv: fix CI for tikv_integration_test
  store/tikv/safepoint_test.go
Labels: LGT1, LGT2, all-tests-passed, priority/P1

#6144 util/ranger: Improve the aesthetics of code review
  util/ranger/ranger_test.go
Labels: LGT1, contribution

#6103 store/tikv,mocktikv: tikv.Client.SendRequest API tiny refactor
  executor/executor_test.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc_test.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/store_test.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: LGT1

#6123 store/tikv/gcworker: add manual gc back for some kv api users
  store/tikv/gcworker/gc_worker.go
Labels: LGT2, all-tests-passed

#6140 store/tikv: fix a potential goroutine leak problem in copIterator
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: all-tests-passed, bug-fix

#6085 stats: control collection of feedback
  config/config.go
  config/config.toml.example
  executor/builder.go
  statistics/feedback.go
  statistics/update_test.go
  store/mockstore/mocktikv/analyze.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/executor.go
  tidb-server/main.go
Labels: LGT2, all-tests-passed

#6115 * Add conn ID to the transaction log
  executor/simple.go
  server/conn.go
  session/session.go
  sessionctx/context.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/lock_test.go
  store/tikv/txn.go
Labels: LGT2, all-tests-passed

#6146 executor: delete the obsolete Next() function in TableReaderExecutor
  executor/distsql.go
Labels: LGT2, contribution

#6138 executor:Improve the aesthetics of code review
  executor/show_test.go
  expression/bench_test.go
  expression/builtin_string_test.go
  expression/builtin_time_test.go
Labels: LGT2, contribution

#6153 parser: fix a bug lexer.Reset() doesn't reset to the initial state
  parser/lexer.go
  parser/parser_test.go
Labels: LGT1, all-tests-passed

#6154 parser: Fix a bug in CreateView
  parser/parser.y
  parser/parser_test.go
Labels: LGT1, all-tests-passed, bug-fix

#6151 expression: fix type infer for binary literal
  expression/builtin_arithmetic.go
  expression/builtin_arithmetic_test.go
  expression/evaluator_test.go
Labels: LGT2, all-tests-passed

#6155 vendor: update tipb package
  Gopkg.lock
  vendor/github.com/pingcap/tipb/go-tipb/analyze.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/checksum.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/executor.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/expression.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/schema.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/select.pb.go
Labels: LGT2

#6158 vendor: update tipb package
  Gopkg.lock
  vendor/github.com/pingcap/tipb/go-tipb/analyze.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/checksum.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/executor.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/expression.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/schema.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/select.pb.go
Labels: LGT2, all-tests-passed

#6143 parser,expression: decimal support for interval
  expression/builtin_time.go
  expression/integration_test.go
  parser/parser_test.go
Labels: LGT2, all-tests-passed, contribution

#6159 kvencoder: fix data race on plan.PreparedPlanCacheCapacity
  util/kvencoder/kv_encoder.go
Labels: bug-fix
