Repository pingcap/tidb, pull requests merged in 2018-02, with the labels that each got.

#5818 plan: get correct columns
  ddl/ddl_db_change_test.go
  model/model.go
  plan/plan_to_pb.go
Labels: LGT2, all-tests-passed, bug-fix, priority/P1

#5853 parser: create index support LOCK syntax (#5851)
  parser/parser.y
  parser/parser_test.go
Labels: cherry-pick

#5855 domain,metrics: move domain metrics, add privilege load counter
  domain/domain.go
  metrics/domain.go
Labels: metrics

#5848 importer: rand other types by stats
  cmd/importer/db.go
  cmd/importer/rand.go
  cmd/importer/stats.go
Labels: LGT2, all-tests-passed

#5858 metrics: Clean up metrics
  metrics/ddl.go
  metrics/meta.go
  metrics/metrics.go
  metrics/server.go
Labels: metrics

#5862 session_test: remove session_test.go
  new_session_test.go
  session_test.go
  tidb_test.go
Labels: LGT2

#5861 metrics, plan: add a metric for pseudo estimation.
  metrics/stats.go
  plan/logical_plan_builder.go
Labels: LGT2, metrics

#5868 metrics: rename `_count` to `_num`
  metrics/distsql.go
  metrics/session.go
  metrics/tikvclient.go
Labels: LGT1

#5856 owner: Add error check in NewSession (#5731)
  owner/fail_test.go
  owner/manager.go
Labels: LGT1, cherry-pick

#5870 executor: pass goCtx when initialize UnionExec
  executor/executor.go
  executor/join_test.go
Labels: all-tests-passed, bug-fix

#5859 metrics,tidb: add StatementsPerTransaction and TransactionDuration
  metrics/session.go
  session.go
  sessionctx/variable/session.go
  tidb.go
Labels: LGT2

#5872 expression: fix a test case that use inconsistent time zone
  expression/builtin_cast_test.go
Labels: LGT2, all-tests-passed

#5846 plan: get correct columns
  ddl/ddl_db_change_test.go
  model/model.go
  plan/plan_to_pb.go
Labels: LGT2, all-tests-passed, cherry-pick

#5843 ddl: add column info and index info in log
  ddl/column.go
  ddl/index.go
Labels: DDL, LGT2

#5847 util/systimemon: add keep alive metrics, used to figure out tidb instance is down.
  tidb-server/main.go
  util/systimemon/systime_mon.go
  util/systimemon/systime_mon_test.go
Labels: LGT1, all-tests-passed

#5869 util/admin: clean up and add comparing table and index count func
  util/admin/admin.go
  util/admin/admin_test.go
Labels: LGT1, non-release-blocker

#5852 [FIX] Cleanup code
  cmd/importer/rand.go
  context/context.go
  expression/aggregation/aggregation.go
  store/mockstore/mocktikv/mock.go
  store/mockstore/tikv.go
  store/tikv/2pc_test.go
  store/tikv/scan_test.go
  store/tikv/sql_fail_test.go
  store/tikv/test_util.go
  txn.go
  util/mock/context.go
  util/mvmap/mvmap_test.go
Labels: LGT2, all-tests-passed

#5880 stats: fix panic when updating stats table
  session.go
  statistics/update_test.go
Labels: bug-fix

#5881 parser: parse "select 1 order by 1" statement
  executor/executor_test.go
  parser/parser.y
  parser/parser_test.go
Labels: LGT1, all-tests-passed, contribution

#5871 ddl: refine syncer log and add some comments
  ddl/ddl_worker.go
  ddl/syncer.go
  domain/schema_validator.go
Labels: LGT2

#5842 tidb: read plan.PlanCacheEnabled only once
  session.go
Labels: LGT1

#5887 distsql, executor: rename "SelectDAG" to "Select"
  distsql/distsql.go
  executor/builder.go
  executor/distsql.go
Labels: LGT2

#5885 Update go version
  .travis.yml
  circle.yml
  util/arena/arena.go
Labels: all-tests-passed, enhancement, tools

#5874 tidb: improve session.go and txn.go test coverage
  session.go
  session_test.go
  store/mockstore/mocktikv/cop_handler_dag.go
Labels: LGT2

#5883 ddl: fix panic in drop column
  ddl/column.go
  ddl/ddl_db_change_test.go
  session_test.go
Labels: LGT2, all-tests-passed

#5891 (Cherry pick) ddl : fix panic in adding and dropping columns
  ddl/column.go
  ddl/ddl_db_change_test.go
Labels: LGT1, all-tests-passed, cherry-pick

#5867 *:fix some golint && ineffassign && misspell to improve GoReport Result
  cmd/importer/job.go
  ddl/column_change_test.go
  ddl/ddl_api.go
  ddl/mock.go
  executor/adapter.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_pkg_test.go
  executor/join.go
  executor/join_result_generators.go
  executor/merge_join.go
  executor/pkg_test.go
  executor/prepared.go
  executor/show_test.go
  executor/union_scan.go
  executor/write.go
  executor/write_test.go
  expression/aggregation/concat.go
  expression/aggregation/descriptor.go
  expression/bench_test.go
  expression/builtin.go
  expression/builtin_compare.go
  expression/builtin_op.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/chunk_executor.go
  expression/column.go
  expression/column_test.go
  expression/constant.go
  expression/constant_propagation.go
  expression/evaluator.go
  expression/expression.go
  expression/expression_test.go
  expression/helper.go
  expression/integration_test.go
  expression/scalar_function.go
  expression/scalar_function_test.go
  expression/schema.go
  expression/util.go
  expression/util_test.go
  parser/parser_test.go
  plan/aggregation_push_down.go
  plan/build_key_info.go
  plan/eliminate_projection.go
  plan/expression_rewriter.go
  plan/expression_test.go
  plan/gen_physical_plans.go
  plan/initialize.go
  plan/logical_plan_builder.go
  plan/physical_plan_builder.go
  plan/plan.go
  plan/stats.go
  plan/task.go
  statistics/selectivity.go
  util/logutil/log.go
  util/ranger/detacher.go
  util/ranger/ranger_test.go
Labels: LGT1, contribution

#5893 *: move irrelevant code out of package "distsql"
  distsql/distsql.go
  distsql/distsql_test.go
  executor/builder.go
  plan/plan_to_pb.go
  plan/plan_to_pb_test.go
  store/mockstore/mocktikv/analyze.go
  store/mockstore/mocktikv/cop_handler_dag.go
Labels: LGT2

#5894 executor: add recover mechanism for join workers
  executor/join.go
Labels: LGT2

#5898 makefile,store/tikv: allow golint check context.Context in 'make check'
  Makefile
  ddl/table_split_test.go
  server/region_handler.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/backoff.go
  store/tikv/coprocessor.go
  store/tikv/coprocessor_test.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/kv.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
  store/tikv/rawkv.go
  store/tikv/rawkv_test.go
  store/tikv/region_cache_test.go
  store/tikv/region_request_test.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/split_test.go
  store/tikv/store_test.go
  store/tikv/txn.go
Labels: LGT2

#5889 store: add tests to ensure `store/tikv` has no dependency on `parser`
  store/tikv/tikv_test.go
Labels: LGT2, all-tests-passed

#5825 executor:add more comments for baseExecutor
  executor/executor.go
Labels: LGT2

#5901 *:fix some ineffassign to improve GoReport Result
  expression/builtin_time_test.go
Labels: LGT1, contribution

#5903 executor, distsql: move "requestBuilder" from package "executor" to "distsql"
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/analyze.go
  executor/builder.go
  executor/distsql.go
  executor/executor_pkg_test.go
Labels: all-tests-passed

#5900 executor: add recover mechanism for union workers
  executor/executor.go
Labels: LGT2, all-tests-passed

#5904 owner: add recover panic in owner campaignLoop.
  metrics/metrics.go
  owner/manager.go
Labels: LGT2, all-tests-passed

#5907 variable: set `have_profiling` to `NO`
  sessionctx/variable/sysvar.go
Labels: LGT2, all-tests-passed

#5831 expression, plan: extract the same part from DNF's leaves.
  expression/column.go
  expression/column_test.go
  expression/constant.go
  expression/constant_propagation.go
  expression/expression.go
  expression/expression_test.go
  expression/integration_test.go
  expression/scalar_function.go
  expression/scalar_function_test.go
  expression/util.go
  plan/eliminate_projection.go
  plan/plan.go
  plan/predicate_push_down.go
Labels: LGT2, all-tests-passed

#5836 executor:improve test coverage
  executor/join_test.go
  session.go
Labels: LGT1

#5908 distsql: improve test coverage for "request_builder_test.go"
  distsql/request_builder_test.go
Labels: LGT2, all-tests-passed

#5902 executor: add recover mechanism for index join workers
  executor/index_lookup_join.go
Labels: LGT2

#5914 *: change the interface for kv.Response
  distsql/distsql.go
  distsql/stream.go
  kv/kv.go
  store/tikv/coprocessor.go
Labels: LGT2, all-tests-passed

#5921 codec: improve the performance of decoding decimal
  expression/distsql_builtin.go
  types/mydecimal.go
  util/codec/bench_test.go
  util/codec/codec.go
  util/codec/decimal.go
  util/codec/decimal_test.go
Labels: LGT1
