Repository pingcap/tidb, pull requests merged in 2018-04, with the labels that each got.

#6130 executor: Improve the aesthetics of code review
  executor/aggregate_test.go
Labels: LGT2, contribution

#6191 kv: tiny clean up
  kv/txn.go
Labels: LGT2, all-tests-passed

#6127 ddl:support alter table comment
  ast/ddl.go
  ddl/ddl_api.go
  ddl/ddl_db_test.go
  ddl/ddl_worker.go
  ddl/table.go
  executor/executor_test.go
  model/ddl.go
Labels: DDL, LGT1, all-tests-passed

#6171 executor: track memory usage for nested loop apply
  executor/builder.go
  executor/join.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: LGT1, all-tests-passed

#6198 vendor: update kvproto
  Gopkg.lock
  store/tikv/region_request_test.go
  vendor/github.com/pingcap/kvproto/pkg/coprocessor/coprocessor.pb.go
  vendor/github.com/pingcap/kvproto/pkg/eraftpb/eraftpb.pb.go
  vendor/github.com/pingcap/kvproto/pkg/errorpb/errorpb.pb.go
  vendor/github.com/pingcap/kvproto/pkg/kvrpcpb/kvrpcpb.pb.go
  vendor/github.com/pingcap/kvproto/pkg/metapb/metapb.pb.go
  vendor/github.com/pingcap/kvproto/pkg/pdpb/pdpb.pb.go
  vendor/github.com/pingcap/kvproto/pkg/raft_serverpb/raft_serverpb.pb.go
  vendor/github.com/pingcap/kvproto/pkg/tikvpb/tikvpb.pb.go
Labels: LGT2, all-tests-passed

#6188 ddl: delete ranges when rolling back 'add index'
  ddl/ddl_db_test.go
  ddl/ddl_worker.go
  ddl/delete_range.go
Labels: DDL, LGT1, all-tests-passed

#6102 executor: support cleanup dangling index data command
  ast/misc.go
  executor/admin.go
  executor/admin_test.go
  executor/builder.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
  plan/common_plans.go
  plan/planbuilder.go
Labels: LGT1, all-tests-passed

#6199 stats: fix row estimation for pseudo unique key
  executor/show_stats.go
  executor/simple_test.go
  plan/logical_plan_builder.go
  plan/physical_plan_test.go
  statistics/ddl_test.go
  statistics/dump_test.go
  statistics/handle.go
  statistics/handle_test.go
  statistics/selectivity.go
  statistics/selectivity_test.go
  statistics/statistics_test.go
  statistics/table.go
  statistics/update.go
  statistics/update_test.go
Labels: LGT1, all-tests-passed

#6210 executor: improve perf of aggregation which have no group-by item
  executor/aggregate.go
Labels: LGT2, all-tests-passed, performance

#6212 config: remove useless 'enable-chunk' config item
  config/config.toml.example
Labels: LGT2

#6209 session: upgrade mysql.db user column length to 32
  session/bootstrap.go
  session/session.go
  session/session_test.go
Labels: LGT2, all-tests-passed

#6216 executor: remove joinResultGenerator.emit and rename emitToChunk to emit
  executor/index_lookup_join.go
  executor/join.go
  executor/join_result_generators.go
  executor/merge_join.go
Labels: LGT1

#6214 *: rename NextChunk to Next
  ast/ast.go
  cmd/benchdb/main.go
  ddl/util/util.go
  distsql/distsql.go
  distsql/distsql_test.go
  distsql/stream.go
  executor/adapter.go
  executor/admin.go
  executor/aggregate.go
  executor/analyze.go
  executor/checksum.go
  executor/ddl.go
  executor/ddl_test.go
  executor/distsql.go
  executor/distsql_test.go
  executor/executor.go
  executor/executor_pkg_test.go
  executor/executor_test.go
  executor/explain.go
  executor/grant.go
  executor/index_lookup_join.go
  executor/join.go
  executor/join_test.go
  executor/load_stats.go
  executor/merge_join.go
  executor/pkg_test.go
  executor/prepared.go
  executor/prepared_test.go
  executor/revoke.go
  executor/set.go
  executor/show.go
  executor/simple.go
  executor/sort.go
  executor/union_scan.go
  executor/write.go
  privilege/privileges/cache.go
  server/conn.go
  server/driver.go
  server/driver_tidb.go
  server/tidb_test.go
  session/bench_test.go
  session/bootstrap.go
  session/bootstrap_test.go
  session/session.go
  session/session_test.go
  session/tidb.go
  statistics/boostrap.go
  statistics/ddl.go
  statistics/sample.go
  statistics/statistics_test.go
  store/mockstore/mocktikv/analyze.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/sql_fail_test.go
  table/tables/tables_test.go
Labels: LGT2, all-tests-passed

#6213 column: fix zero value for binary type
  table/column.go
  table/column_test.go
Labels: LGT2, all-tests-passed, bug-fix

#6211 parser: fix the result of `cast (0x10 as binary(2))`.
  expression/typeinfer_test.go
  parser/parser.y
  session/session_test.go
Labels: LGT2, all-tests-passed, bug-fix

#6203 stats: fix row count estimation for null
  executor/analyze.go
  plan/cbo_test.go
  statistics/boostrap.go
  statistics/ddl_test.go
  statistics/histogram.go
  statistics/table.go
Labels: all-tests-passed

#6215 kv: merge batch get results to fix insert ignore in a transaction block
  executor/admin.go
  executor/write.go
  executor/write_test.go
  kv/txn.go
Labels: LGT1, all-tests-passed, bug-fix

#6186 store/tikv: coprocess streaming tiny fix
  store/tikv/client.go
  store/tikv/coprocessor.go
Labels: LGT1, all-tests-passed, bug-fix

#6175 *: modify 'session transaction isolation level' to take effect once
  distsql/request_builder.go
  executor/executor.go
  executor/set.go
  parser/parser.y
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Labels: LGT2

#6161 ddl, meta: clean the jobs in adding index queue
  ddl/ddl_test.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/schema_test.go
  ddl/stat_test.go
  meta/meta.go
Labels: DDL, LGT2, all-tests-passed

#6224 ddl: make testleak be more stable.
  ddl/callback_test.go
  ddl/column_change_test.go
  ddl/column_test.go
  ddl/ddl_db_change_test.go
  ddl/ddl_worker_test.go
  ddl/fail_test.go
  ddl/index_change_test.go
  ddl/reorg_test.go
  ddl/schema_test.go
  ddl/stat_test.go
  ddl/table_test.go
Labels: DDL, LGT2

#6194 executor: optimization for insert on duplicate key update
  executor/write.go
  executor/write_test.go
  table/tables/index.go
  table/tables/tables.go
Labels: LGT2, all-tests-passed

#6226 ddl: wait for 2*lease when finishing delete-reorg in a rollback operation
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  ddl/index.go
  model/ddl.go
  model/model_test.go
  util/admin/admin.go
Labels: DDL, LGT2, all-tests-passed

#6235 executor: fix insert on duplicate update
  executor/write.go
  executor/write_test.go
Labels: LGT1, bug-fix, priority/P1

#6234 *: fix data race
  executor/aggregate_test.go
  plan/cache.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  tidb-server/main.go
Labels: LGT2, all-tests-passed

#6233 expression: make inferring of decimal for unix_timestamp be more consistent with MySQL
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_test.go
  expression/typeinfer_test.go
Labels: LGT2

#6225 store/tikv: refactor copIterator
  store/tikv/coprocessor.go
Labels: LGT2, all-tests-passed

#6150 store/mockstore: Add DeleteRange to mock MvccStore and MVCCLevelDB
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
Labels: LGT2

#6246 store: use MVCCLevelDB in 2pc_test.go testCommitterSuite
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/2pc_test.go
Labels: LGT2, all-tests-passed

#6240 *: use tidb_index_lookup_join_currency to control the number of IndexLookupJoin inner workers
  executor/index_lookup_join.go
  executor/join_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: LGT2, all-tests-passed

#6254 config: make pseudo estimate ratio configurable
  config/config.go
  config/config.toml.example
  tidb-server/main.go
Labels: LGT2

#6255 config: increase the default lease.
  config/config.go
  config/config.toml.example
  tidb-server/main.go
Labels: LGT2, all-tests-passed

#6197 *: update stats using query feedback
  config/config.go
  config/config.toml.example
  domain/domain.go
  executor/aggregate_test.go
  session/bootstrap.go
  session/session.go
  statistics/cmsketch.go
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/handle.go
  statistics/histogram.go
  statistics/update.go
  statistics/update_test.go
  tidb-server/main.go
Labels: LGT2, all-tests-passed, priority/P1, statistics

#6262 expression: optimize the `Clone` of Constant.
  expression/constant.go
Labels: LGT2

#6257 *: make query feedback compatiable with tikv
  statistics/feedback.go
  store/mockstore/mocktikv/cop_handler_dag.go
  util/printer/printer.go
Labels: LGT2, all-tests-passed

#6256 *: clean up MvccStore in mocktikv
  executor/executor_test.go
  mysql/const_test.go
  server/http_handler_test.go
  server/statistics_handler_test.go
  session/isolation_test.go
  session/session_test.go
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/cluster_test.go
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/rawkv_test.go
  store/tikv/region_cache_test.go
  store/tikv/region_request_test.go
  util/ranger/ranger_test.go
Labels: LGT2

#6238 *: make explicit timestamp on
  ddl/ddl_api.go
  executor/show.go
  executor/show_test.go
  expression/typeinfer_test.go
Labels: LGT1

#6267 executor: fix index lookup join hang
  executor/index_lookup_join.go
  executor/index_lookup_join_test.go
Labels: bug-fix, priority/P1

#6272 variable: fix `NewSessionVars`
  sessionctx/variable/session.go
Labels: LGT1, bug-fix, priority/P1

#6266 *: show memory usage in "show processlist"
  executor/executor_pkg_test.go
  executor/show.go
  plan/planbuilder.go
  session/session.go
  util/processinfo.go
Labels: all-tests-passed

#6270 plan: change some function names to improve code readability
  plan/gen_physical_plans.go
  plan/optimizer.go
  plan/physical_plan_builder.go
  plan/plan.go
  plan/property_cols_prune.go
  plan/stats.go
Labels: LGT2

#6274 ddl: update the column's offset when we do modify column
  ddl/callback_test.go
  ddl/column.go
  ddl/ddl_api.go
  ddl/ddl_db_change_test.go
Labels: DDL, LGT1, cherry-pick

#6251 *: support create table with range type table partition.
  ast/ddl.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_db_test.go
  executor/ddl.go
  model/model.go
  parser/parser.y
Labels: DDL, LGT1, all-tests-passed

#6269 [release-1.0]ddl: update the column's offset when we do modify column
  ddl/callback_test.go
  ddl/column.go
  ddl/ddl_api.go
  ddl/ddl_db_change_test.go
Labels: DDL, LGT1

#6206 *: support set relation job
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  meta/meta.go
  meta/meta_test.go
  model/ddl.go
  model/model_test.go
  structure/list.go
  structure/structure_test.go
Labels: DDL, LGT1, all-tests-passed

#6264 store/mockstore: Fix that DeleteRange didn't encode keys.
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc_leveldb.go
Labels: LGT2, all-tests-passed

#6263 plan: always clone `Expression` when set it to plan.
  executor/join_test.go
  plan/predicate_push_down.go
Labels: LGT2, all-tests-passed, bug-fix, release-blocker

#6170 stats: dynamically update the average column size
  executor/executor.go
  executor/show_stats.go
  executor/write.go
  session/session.go
  sessionctx/variable/session.go
  statistics/ddl.go
  statistics/ddl_test.go
  statistics/dump.go
  statistics/feedback_test.go
  statistics/handle_test.go
  statistics/histogram.go
  statistics/table.go
  statistics/update.go
  statistics/update_test.go
  table/tables/tables.go
  types/datum.go
Labels: LGT2, statistics

#6283 executor: support insert ignore on duplicate update
  ddl/ddl_db_change_test.go
  executor/write.go
  executor/write_test.go
Labels: LGT2, bug-fix

#6245 HTTP API: support query the DDL history
  server/http_handler.go
  server/http_handler_test.go
  server/http_status.go
Labels: LGT2, all-tests-passed

#6284 ddl: check if the column name already exists when we rename the column name
  ddl/column.go
  ddl/ddl_api.go
  ddl/ddl_db_change_test.go
  ddl/ddl_db_test.go
Labels: DDL, LGT2, all-tests-passed, bug-fix

#6281 [release 1.0] store/tikv: pass integration connection test
  store/tikv/gc_worker_test.go
  store/tikv/lock_test.go
  store/tikv/mock-tikv/rpc.go
  store/tikv/safepoint_test.go
  store/tikv/scan_test.go
  store/tikv/ticlient_test.go
Labels: LGT1, all-tests-passed

#6293 table/tables: add logs when column offsets are wrong
  table/tables/tables.go
Labels: LGT2, all-tests-passed, release-blocker

#6286 ddl: fix parallel create table if not exists
  ddl/ddl_api.go
  ddl/ddl_db_change_test.go
Labels: DDL, LGT2, all-tests-passed, bug-fix, release-blocker

#6295 variable: set default hash join concurrency in NewSessionVars
  sessionctx/variable/session.go
  sessionctx/variable/varsutil_test.go
Labels: LGT2, all-tests-passed, bug-fix

#6275 mocktikv: tiny update ScanLock and ResolveLock function
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
Labels: LGT1, all-tests-passed

#6280 (cherry pick) *: fix writing null value into not null column in write-only state.
  ddl/ddl_db_change_test.go
  ddl/ddl_db_test.go
  executor/write.go
  table/tables/tables.go
Labels: all-tests-passed, cherry-pick

#6299 expression: remove mockKvClient
  expression/aggregation/agg_to_pb_test.go
  expression/expr_to_pb_test.go
  util/mock/client.go
Labels: LGT1, all-tests-passed

#6301 ddl: support the rolling upgrade.
  ddl/column.go
  ddl/ddl_api.go
  ddl/fail_db_test.go
Labels: DDL, LGT2, bug-fix, priority/P1

#6297 variable: group same kind of variables into structs.
  sessionctx/variable/session.go
  sessionctx/variable/varsutil_test.go
Labels: LGT2

#6305 [release-2.0]ddl: support the rolling upgrade. (#6301)
  ddl/column.go
  ddl/ddl_api.go
  ddl/fail_db_test.go
Labels: LGT2, all-tests-passed, cherry-pick

#6294 stats: support auto analyze table when modify/count is too high
  config/config.go
  config/config.toml.example
  statistics/update.go
  statistics/update_test.go
  tidb-server/main.go
Labels: LGT2, all-tests-passed

#6302 stats: fix pseudo selectivity for primary key
  plan/physical_plan_test.go
  statistics/selectivity.go
  statistics/selectivity_test.go
  statistics/table.go
Labels: LGT2, all-tests-passed

#6290 expression: refactor scalarFuncToPBExpr
  expression/builtin_json.go
  expression/expr_to_pb.go
Labels: LGT2, all-tests-passed

#6308 [cherry-pick]stats: support auto analyze table when modify/count is too high (#6294)
  config/config.go
  config/config.toml.example
  statistics/update.go
  statistics/update_test.go
  tidb-server/main.go
Labels: cherry-pick

#6312 executor: buffer snapshotChunk to avoid too many object memory allocation
  executor/union_scan.go
Labels: all-tests-passed

#6314 vender: remove useless ExprType
  vendor/github.com/pingcap/tipb/go-tipb/analyze.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/checksum.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/executor.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/expression.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/schema.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/select.pb.go
Labels: LGT2, all-tests-passed

#6307 plan: make agg's cost formula more reasonable.
  plan/cbo_test.go
  plan/physical_plan_builder.go
  plan/physical_plans.go
  plan/task.go
Labels: LGT2, all-tests-passed

#6311 util/printer: add race enabled in TiDBInfo
  tidb-server/main.go
  util/israce/israce.go
  util/israce/norace.go
  util/printer/printer.go
Labels: LGT2

#6318 executor, plan: eliminate projection if the schema len is 0
  executor/executor_test.go
  plan/eliminate_projection.go
Labels: LGT1, all-tests-passed, bug-fix

#6325 export gc concurrency
  store/tikv/gcworker/gc_worker.go
Labels: LGT2, all-tests-passed

#6309 parser: trying to fix maxvalue list
  ast/expressions.go
  ddl/ddl_api.go
  ddl/ddl_db_test.go
  executor/show.go
  model/model.go
  parser/parser.y
Labels: LGT2, all-tests-passed, bug-fix

#6322 *: make session variables control TiKV client variables.
  distsql/distsql.go
  distsql/distsql_test.go
  executor/analyze.go
  executor/checksum.go
  kv/kv.go
  kv/mock.go
  kv/variables.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/tikv/2pc.go
  store/tikv/backoff.go
  store/tikv/coprocessor.go
  store/tikv/snapshot.go
  store/tikv/txn.go
  util/mock/client.go
Labels: LGT2, all-tests-passed

#6315 session: cache global variable for a short while
  executor/executor_test.go
  session/session.go
  session/session_test.go
Labels: LGT2, all-tests-passed

#6328 *: clean up code for set SQL statement priority, let it bypass plan
  distsql/distsql_test.go
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/adapter.go
  executor/analyze.go
  executor/builder.go
  executor/distsql.go
  executor/executor_test.go
  executor/prepared.go
  plan/common_plans.go
  plan/planbuilder.go
Labels: LGT2, all-tests-passed

#6365 fix fetch issue of golint (#6363)
  Makefile
Labels: LGT2, cherry-pick

#6366 *: remove `IntColumnRange`.
  executor/builder.go
  executor/executor.go
  plan/physical_plan_builder.go
  plan/physical_plans.go
  util/ranger/points.go
  util/ranger/types.go
  util/ranger/types_test.go
Labels: LGT2

#6355 stats: fix pseudo selectivity for primary key (#6302)
  plan/physical_plan_test.go
  statistics/selectivity.go
  statistics/selectivity_test.go
  statistics/table.go
Labels: cherry-pick

#6342 executor, plan: eliminate projection if the schema len is 0 (#6318)
  executor/executor_test.go
  plan/eliminate_projection.go
Labels: LGT2, cherry-pick

#6364 distsql: make behavior of `TableHandlesToKVRanges` correct.
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/distsql_test.go
Labels: LGT2, all-tests-passed

#6372 Makefile: use go get golint again (#6371)
  Makefile
Labels: cherry-pick

#6368 *: rename `NewRange` to `Range`.
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/admin.go
  executor/analyze.go
  executor/builder.go
  executor/checksum.go
  executor/distsql.go
  executor/executor_pkg_test.go
  executor/index_lookup_join.go
  plan/common_plans.go
  plan/gen_physical_plans.go
  plan/physical_plan_builder.go
  plan/physical_plans.go
  plan/plan_to_pb.go
  plan/planbuilder.go
  statistics/feedback.go
  statistics/histogram.go
  statistics/selectivity.go
  statistics/statistics_test.go
  statistics/table.go
  statistics/update_test.go
  util/ranger/detacher.go
  util/ranger/points.go
  util/ranger/ranger.go
  util/ranger/types.go
  util/ranger/types_test.go
Labels: LGT2

#6332 executor: support range column in show create table
  ddl/ddl_db_change_test.go
  executor/show.go
  executor/show_test.go
Labels: LGT2, all-tests-passed

#6336 *: bump etcd's version to 3.2.18
  Gopkg.lock
  Gopkg.toml
  hack/clean_vendor.sh
  vendor/github.com/coreos/etcd/clientv3/cluster.go
  vendor/github.com/coreos/etcd/clientv3/options.go
  vendor/github.com/coreos/etcd/etcdserver/api/v3rpc/rpctypes/error.go
  vendor/github.com/coreos/etcd/pkg/types/doc.go
  vendor/github.com/coreos/etcd/pkg/types/id.go
  vendor/github.com/coreos/etcd/pkg/types/set.go
  vendor/github.com/coreos/etcd/pkg/types/slice.go
  vendor/github.com/coreos/etcd/pkg/types/urls.go
  vendor/github.com/coreos/etcd/pkg/types/urlsmap.go
  vendor/github.com/pingcap/kvproto/pkg/kvrpcpb/kvrpcpb.pb.go
  vendor/github.com/pingcap/kvproto/pkg/metapb/metapb.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/analyze.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/checksum.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/executor.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/expression.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/schema.pb.go
  vendor/github.com/pingcap/tipb/go-tipb/select.pb.go
Labels: LGT2

#6370 plan :fix the compatibility problem of UNION statement
  executor/executor_test.go
  plan/errors.go
  plan/preprocess.go
Labels: LGT2, all-tests-passed, contribution

#6384 store/tikv: make LockKeys() function thread safe (#6340)
  store/tikv/txn.go
Labels: all-tests-passed, cherry-pick

#6382 config: set min auto-analyze-ratio to 0.3
  config/config.toml.example
  tidb-server/main.go
Labels: LGT2, all-tests-passed, release-blocker

#6343 executor: refine log information about slow queries
  executor/adapter.go
  executor/builder.go
  sessionctx/stmtctx/stmtctx.go
Labels: LGT2, all-tests-passed, release-blocker

#6383 plan: check empty table name in RenameTableStmt
  plan/preprocess.go
  plan/preprocess_test.go
Labels: LGT2, all-tests-passed

#6386 config: set min auto-analyze-ratio to 0.3 (#6382)
  config/config.toml.example
  tidb-server/main.go
Labels: 2.0-cherry-pick, release-blocker

#6379 ddl: remove some useless functions
  ddl/column.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/schema_test.go
Labels: DDL, LGT2, all-tests-passed

#6390 plan: fix a bug in `tryToGetMemTask` function
  plan/physical_plan_builder.go
  plan/physical_plan_test.go
Labels: LGT2, all-tests-passed

#6388 [release 2.0] expression: remove mockKVClient (#6299)
  expression/aggregation/agg_to_pb_test.go
  expression/expr_to_pb_test.go
  util/mock/client.go
Labels: 2.0-cherry-pick, LGT2

#6354 [release 1.0] RunGCJob use interface
  store/tikv/gc_worker.go
Labels: all-tests-passed

#6385 [release-2.0] executor: refine log information about slow queries (#6343)
  executor/adapter.go
  executor/builder.go
  sessionctx/stmtctx/stmtctx.go
Labels: 2.0-cherry-pick, LGT2

#6387 plan: check empty table name in RenameTableStmt (#6383)
  plan/preprocess.go
  plan/preprocess_test.go
Labels: 2.0-cherry-pick, LGT2, all-tests-passed, release-blocker

#6344 tikv: log slow coprocessor task in detail
  store/tikv/coprocessor.go
Labels: LGT1, all-tests-passed, release-blocker

#6393 tikv: log slow coprocessor task in detail (#6344)
  store/tikv/coprocessor.go
Labels: 2.0-cherry-pick, release-blocker

#6285 stats: fix dump stats
  cmd/importer/stats.go
  domain/domain.go
  executor/load_stats.go
  server/statistics_handler_test.go
  statistics/dump.go
  statistics/dump_test.go
  statistics/handle.go
  statistics/handle_test.go
  statistics/histogram.go
  statistics/table.go
Labels: LGT2, all-tests-passed, bug-fix, statistics

#6349 ddl: enhance validation of column names when creating table
  ddl/ddl_db_test.go
  executor/executor_test.go
  plan/preprocess.go
Labels: DDL, LGT2, all-tests-passed

#6357 tikv/latch: implement latch_scheduler-with-one-acquire
  store/tikv/latch/latch.go
  store/tikv/latch/latch_test.go
  store/tikv/latch/scheduler.go
  store/tikv/latch/scheduler_test.go
Labels: all-tests-passed

#6404 parser: Fix "SET NAMES" syntax
  executor/set_test.go
  parser/parser.y
Labels: LGT2, all-tests-passed, contribution

#6409 plan: fix a bug in `tryToGetMemTask` function (#6390)
  plan/physical_plan_builder.go
  plan/physical_plan_test.go
Labels: 2.0-cherry-pick, LGT2

#6402 *: add a changelog file
  CHANGELOG.md
Labels: LGT2

#6411 *: add a changelog file (#6402)
  CHANGELOG.md
Labels: 2.0-cherry-pick, LGT1

#6407 plan: refine rule "TopN Push Down"
  plan/gen_physical_plans.go
  plan/logical_plan_test.go
  plan/logical_plans.go
  plan/physical_plan_test.go
  plan/physical_plans.go
  plan/task.go
  plan/topn_push_down.go
Labels: LGT2, all-tests-passed

#6414 [release 2.0] plan: refine rule "TopN Push Down" (#6407)
  plan/gen_physical_plans.go
  plan/logical_plan_test.go
  plan/logical_plans.go
  plan/physical_plan_test.go
  plan/physical_plans.go
  plan/task.go
  plan/topn_push_down.go
Labels: 2.0-cherry-pick, LGT2

#6412 update container builder image to use golang 1.10.1 (#6410)
  Dockerfile
Labels: 2.0-cherry-pick, LGT2

#6413 changelog: fix wording, links and update format
  CHANGELOG.md
Labels: LGT1

#6417 parser: support 'ALTER TABLE t AUTO_INCREMENT number' syntax
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, all-tests-passed, contribution

#6419 executor: fix statement label for `use`
  executor/compiler.go
Labels: all-tests-passed

#6416 parser: Support alter convert to syntax
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, contribution

#6415 README: show release instead of project status
  README.md
Labels: LGT2

#6399 parser: Support more ODBC syntaxes
  parser/parser.y
  parser/parser_test.go
Labels: LGT2, contribution

#6346 plan: calc `access path` when doing `deriveStats`.
  plan/build_key_info.go
  plan/gen_physical_plans.go
  plan/logical_plan_builder.go
  plan/logical_plans.go
  plan/optimizer.go
  plan/physical_plan_builder.go
  plan/plan.go
  plan/planbuilder.go
  plan/property_cols_prune.go
  plan/stats.go
Labels: LGT2, all-tests-passed
