Repository pingcap/tidb, pull requests merged in 2018-09, with the labels that each got.

#7583 stats, plan: return row count 0 for empty range on handle
  statistics/table.go
Labels: component/planner, component/statistics, status/LGT2, status/all tests passed

#7571 executor: fix update join result when join table order changed
  executor/builder.go
  executor/executor_test.go
Labels: component/executor, status/all tests passed, type/bug-fix

#7585 chunk: reduce chunk's iterator function call
  util/chunk/iterator.go
Labels: component/executor, status/LGT2, type/enhancement

#7588 stats: fix panic when log detailed stats info
  statistics/feedback.go
  statistics/update_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/bug-fix

#7589 store/tikv: relax tso backoff limit
  store/tikv/backoff.go
Labels: component/tikv-client, status/LGT2, type/enhancement

#7587 server: add USR1 signal handler to dump goroutine
  tidb-server/main.go
Labels: component/tools, status/LGT2, status/all tests passed

#7586 plan: use point get plan for UPDATE statement
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  domain/schema_validator_test.go
  expression/simple_rewriter.go
  plan/point_get_plan.go
Labels: status/LGT2, status/all tests passed, type/performance

#7520 ddl:fix create partitioned table with bigint column fail
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/partition.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#7447 ddl: worker add ctxPool field to make executing sql in ddl package possible.
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  ddl/session_pool.go
  util/mock/context.go
Labels: component/DDL-need-LGT3, status/LGT3

#7612 parser: fix single line comment end with newline error
  parser/lexer.go
  parser/lexer_test.go
Labels: component/parser, status/LGT1, status/all tests passed, type/compatibility

#7493 executor: add batch copy to inner join, left and right outer join.
  executor/joiner.go
  util/chunk/chunk_util.go
  util/chunk/chunk_util_test.go
  util/chunk/column.go
Labels: component/executor, status/LGT1, status/all tests passed, type/enhancement

#7570 stats: auto analyze on certain period of a day
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  statistics/update.go
  statistics/update_test.go
Labels: component/statistics, status/LGT3, status/all tests passed, type/enhancement

#7573 server: make long-data type no longer check nullBitmap
  server/conn_stmt.go
Labels: component/mysql-protocol, status/LGT2, status/all tests passed, type/compatibility

#7610 store/gc_worker: Fix that gc_delete_range table is queried with wrong form of TS
  ddl/delete_range.go
  session/bootstrap.go
Labels: component/tikv-client, status/LGT2, status/all tests passed

#7617 docs: add author profile link and fix typo
  docs/design/TEMPLATE.md
Labels: component/docs

#7616 *: add HIGH_PRIORITY for the bootstrap SQLs.
  privilege/privileges/cache.go
  server/server.go
  session/bootstrap.go
  statistics/bootstrap.go
  store/tikv/gcworker/gc_worker.go
Labels: status/LGT2, status/all tests passed, type/enhancement

#7621 Update issue templates and tikv repo links
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  CHANGELOG.md
  CONTRIBUTING.md
  docs/ROADMAP.md
Labels: component/docs

#7562 ddl: batch check the constrains when we add a unique-index. (#7132)
  ddl/ddl_db_test.go
  ddl/index.go
  ddl/integration_test.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/2.0 cherry-pick

#7598 ddl: a little refactor in the reorganization stage of adding indices
  ddl/index.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/enhancement

#7599 ddl: check only the range type partition
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#7619 *: make analyze buckets number configurable
  ast/stats.go
  executor/analyze.go
  executor/analyze_test.go
  executor/builder.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
  plan/cbo_test.go
  plan/common_plans.go
  plan/planbuilder.go
  statistics/update_test.go
Labels: component/statistics, status/LGT3, status/all tests passed, type/enhancement

#7633 stats: fix compatibility of analyze period variables
  statistics/update.go
Labels: component/statistics, status/LGT3, status/all tests passed

#7626 README.md: updated links and arch diagram
  README.md
  docs/architecture.png
Labels: component/docs, status/LGT2

#7576 executor: support load data with ignore lines
  ast/dml.go
  executor/builder.go
  executor/executor_test.go
  executor/load_data.go
  executor/write_test.go
  parser/parser.y
  parser/parser_test.go
  plan/common_plans.go
  plan/planbuilder.go
Labels: contribution, status/LGT2, status/all tests passed, type/compatibility

#7635 parser: fix single line comment end with newline (#7612)
  parser/lexer.go
  parser/lexer_test.go
Labels: component/mysql-protocol, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#7443 expression: support builtin function json_contains
  expression/builtin.go
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/distsql_builtin.go
  expression/integration_test.go
  mysql/errcode.go
  mysql/errname.go
  mysql/state.go
  types/json/binary_functions.go
  types/json/binary_test.go
  types/json/constants.go
  types/json/path_expr.go
Labels: component/document store, contribution, status/LGT2

#7636 expression: Fix some datetime related cases that is inconsistent with MySQL
  expression/builtin_cast.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#7641 CHANGELOG: Add 2.0.7 change logs
  CHANGELOG.md
Labels: component/docs, priority/release-blocker, status/LGT2

#7600 server, mysql: return correct column name and column label name
  executor/adapter.go
  executor/executor_test.go
  expression/column.go
  plan/logical_plan_builder.go
Labels: component/mysql-protocol, status/LGT2, status/all tests passed

#7640 stats: fix panic when updating empty histogram
  domain/domain.go
  statistics/feedback.go
  statistics/update.go
  statistics/update_test.go
Labels: component/statistics, type/bug-fix

#7596 expression: support builtin function json_contains_path
  ast/functions.go
  expression/builtin.go
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/integration_test.go
  mysql/errcode.go
  mysql/errname.go
  types/json/binary_functions.go
  types/json/constants.go
  vendor/github.com/pingcap/tipb/go-tipb/expression.pb.go
Labels: component/expression, contribution, status/LGT2, type/enhancement

#7557 executer: make updateRecord easier to understand
  executor/write.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#7655 executor, expression: calculating the default value for datetime should consider the time zone
  executor/insert_test.go
  expression/helper.go
Labels: component/executor, component/expression, priority/P1, status/LGT2, type/bug-fix

#7653 vendor: fix tipb depency version.
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/pingcap/tipb/go-tipb/expression.pb.go
Labels: priority/non-release-blocker, status/all tests passed, type/bug-fix

#7577 ranger: merge multiple EQ or In expressions if possible
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  plan/cbo_test.go
  plan/find_best_task.go
  plan/physical_plan_test.go
  plan/stats.go
  util/ranger/detacher.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#7543 docs: proposal a SQL planner based on the Volcano/Cascades model
  docs/design/2018-08-29-new-planner.md
  docs/design/group-and-expression.png
Labels: component/planner, status/LGT2, type/enhancement

#7651 expression: json builtin function archetypes
  ast/functions.go
  expression/builtin.go
  expression/builtin_json.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#7661 *: correct comments mistake.
  mysql/type.go
  server/conn_stmt.go
  server/http_handler.go
  server/http_status.go
  server/server_test.go
Labels: component/docs, contribution

#7602 infoschema: fix default NUMBER_SCALE value of float type
  infoschema/tables.go
  infoschema/tables_test.go
Labels: status/LGT2, status/all tests passed, type/bug-fix, type/compatibility

#7658 store/tikv,mysql: improve error message of GC life time
  domain/schema_validator.go
  mysql/errname.go
  store/tikv/kv.go
  store/tikv/oracle/oracle.go
Labels: component/GC, status/LGT2

#7662 vendor: update the protobuffer files in vendor
  Gopkg.lock
  vendor/github.com/pingcap/tipb/go-mysqlx/Connection/mysqlx_connection.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Crud/mysqlx_crud.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Datatypes/mysqlx_datatypes.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Expect/mysqlx_expect.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Expr/mysqlx_expr.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Notice/mysqlx_notice.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Resultset/mysqlx_resultset.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Session/mysqlx_session.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Sql/mysqlx_sql.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/mysqlx.pb.go
  x-server/server.go
Labels: component/document store, status/LGT2, status/all tests passed

#7656 docs/design: Infer the System Timezone of a TiDB cluster via TZ environment variable
  docs/adding_tz_env.md
Labels: component/docs, priority/P1, priority/release-blocker, status/LGT2

#7654 types,expression: Fix parse time from string
  expression/integration_test.go
  types/time.go
  types/time_test.go
Labels: component/mysql-protocol, contribution, status/LGT2, status/all tests passed

#7649 server: support resigning ddl owner, use http method ddl/owner/resign
  ddl/schema_test.go
  docs/tidb_http_api.md
  owner/manager.go
  owner/mock.go
  server/http_handler.go
  server/http_status.go
Labels: component/DDL-need-LGT3, release-note, status/LGT2, status/all tests passed

#7673 docs: Remove ROADMAP.md
  docs/ROADMAP.md
Labels: component/docs

#7630 plan: split property to a single package
  plan/common_plans.go
  plan/exhaust_physical_plans.go
  plan/explain.go
  plan/find_best_task.go
  plan/initialize.go
  plan/logical_plans.go
  plan/optimizer.go
  plan/plan.go
  plan/planbuilder.go
  plan/point_get_plan.go
  plan/property/physical_property.go
  plan/property/stats_info.go
  plan/property/task_type.go
  plan/stats.go
  plan/task.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#7541 executor: remove *MVMap from agg executor
  executor/aggfuncs/func_avg.go
  executor/aggfuncs/func_count.go
  executor/aggfuncs/func_group_concat.go
  executor/aggfuncs/func_sum.go
  executor/aggfuncs/sets.go
  executor/aggregate.go
  util/set/decimal_set.go
  util/set/float64_set.go
  util/set/string_set.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#7669 vendor: update vendor of x-server
  Gopkg.lock
  vendor/github.com/pingcap/tipb/go-mysqlx/Connection/mysqlx_connection.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Crud/mysqlx_crud.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Datatypes/mysqlx_datatypes.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Expect/mysqlx_expect.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Expr/mysqlx_expr.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Notice/mysqlx_notice.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Resultset/mysqlx_resultset.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Session/mysqlx_session.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Sql/mysqlx_sql.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/mysqlx.pb.go
  x-server/server.go
Labels: component/document store, status/LGT2, type/2.0 cherry-pick

#7667 type: make decimal default precision visible in `show create table`
  executor/show_test.go
  types/field_type.go
Labels: status/LGT2, status/all tests passed, type/bug-fix, type/compatibility

#7646 domain,executor: store topN slow query in domain
  domain/domain.go
  domain/topn_slow_query.go
  domain/topn_slow_query_test.go
  executor/adapter.go
Labels: component/executor, status/LGT2, type/enhancement

#7670 docs/design:fix doc fmt
  docs/design/2018-09-10-adding-tz-env.md
  docs/design/README.md
Labels: component/docs, status/LGT2

#7608 ddl: reduce the interval for checking "create table/schema"
  ddl/ddl.go
Labels: component/DDL-need-LGT3, status/LGT3

#7624 plan: use the inferred type as the column type in the schema
  executor/aggregate_test.go
  plan/logical_plan_builder.go
  plan/rule_aggregation_push_down.go
  plan/rule_decorrelate.go
Labels: component/planner, status/LGT1, type/bug-fix

#7488 stats: update the way of using index feedback
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/scalar.go
  statistics/table.go
  statistics/update.go
  statistics/update_test.go
  types/time.go
Labels: component/statistics, status/LGT1, status/all tests passed, type/enhancement

#7657 infoschema: fill data length fields for tables
  infoschema/tables.go
  infoschema/tables_test.go
  types/field_type.go
Labels: component/tools, status/LGT2, status/all tests passed, type/enhancement

#7659 binlog: use pumps client to write binlog
  config/config.go
  config/config.toml.example
  config/config_test.go
  ddl/ddl.go
  session/session.go
  session/session_test.go
  session/tidb.go
  session/tidb_test.go
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
  sessionctx/variable/session.go
  table/tables/tables_test.go
  tidb-server/main.go
Labels: component/binlog

#7560 store/gc_worker: Use UnsafeDestroyRange instead of DeleteRange in GC
  ddl/util/util.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/client.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/interface.go
  store/tikv/kv.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: status/LGT2

#7638 *: write system timezone into mysql.tidb in bootstrap stage.
  executor/admin.go
  executor/builder.go
  executor/distsql.go
  executor/executor_test.go
  expression/builtin_time_test.go
  session/bootstrap.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
  store/mockstore/mocktikv/cop_handler_dag.go
  util/timeutil/time.go
  util/timeutil/time_test.go
Labels: component/coprocessor, priority/release-blocker, status/LGT1, status/all tests passed

#7705 CHANGELOGS: Add change logs for 2.1.0-rc.2
  CHANGELOG.md
Labels: component/docs, priority/release-blocker, status/LGT2

#7675 executor: Fix a bug in 'INSERT ... ON DUPLICATE KEY UPDATE'
  executor/batch_checker.go
  executor/insert.go
  executor/insert_test.go
  executor/replace.go
Labels: component/executor, contribution, status/LGT2, status/all tests passed, type/bug-fix

#7717 executor: reuse chunk to reduce memory usage in union scan
  executor/union_scan.go
Labels: component/executor, status/LGT1, status/all tests passed, type/performance

#7689 plan: fix mistaken conversion from outer join to inner join
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  executor/join_test.go
  plan/rule_predicate_push_down.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#7713 expression: fix comments mistake
  expression/aggregation/aggregation.go
  expression/aggregation/concat.go
  expression/aggregation/descriptor.go
  expression/builtin_arithmetic.go
  expression/builtin_control.go
  expression/builtin_info.go
  expression/builtin_info_test.go
  expression/builtin_json.go
  expression/builtin_math.go
  expression/builtin_other.go
  expression/builtin_time.go
  expression/column.go
  expression/simple_rewriter.go
Labels: component/docs, contribution, status/LGT2

#7645 plan: enhance predicate pushdown over join
  cmd/explaintest/r/tpch.result
  expression/util.go
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
  plan/logical_plans.go
  plan/rule_predicate_push_down.go
Labels: component/planner, release-note, status/LGT2, status/all tests passed, type/enhancement

#7695 plan: fix predicate push down for UnionScan
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  executor/union_scan_test.go
  plan/rule_predicate_push_down.go
Labels: component/planner, type/bug-fix

#7716 executor,sessionctx:Add correctness for system variable: sync_binlog,…
  executor/set_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Labels: contribution, status/LGT2, status/all tests passed

#7725 plan: prune columns for LogicalTableDual
  cmd/explaintest/r/explain_easy_stats.result
  plan/cbo_test.go
  plan/physical_plan_test.go
  plan/rule_column_pruning.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#7729 tidb-server: set TiDBMemQuotaQuery to the value in configuration file
  tidb-server/main.go
Labels: component/executor, status/LGT2, type/bug-fix

#7720 plan: support limit/group-by/order-by clauses in point get
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/t/explain_easy_stats.test
  plan/logical_plan_builder.go
  plan/point_get_plan.go
Labels: component/planner, status/LGT2, status/all tests passed

#7751 infoschema: Fix is.schemata to show correct charset/collation
  infoschema/tables.go
  infoschema/tables_test.go
Labels: status/all tests passed

#7672 executor, expression: calculating the default value for datetime should consider the time zone (#7655)
  executor/write_test.go
  expression/helper.go
Labels: component/expression, status/LGT2, type/2.0 cherry-pick, type/bug-fix

#7685 executor: fix lost insert row when insert multi rows on duplicate key update
  executor/write.go
  executor/write_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#7726 plan: fix predicate push down for UnionScan
  executor/union_scan_test.go
  plan/predicate_push_down.go
Labels: status/LGT2, type/2.0 cherry-pick, type/bug-fix

#7724 ddl: fix add index on timestamp column bug
  ddl/index.go
  executor/admin_test.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/bug-fix

#7680 plan: fix a problem caused by union's schema
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  executor/aggregate_test.go
  plan/exhaust_physical_plans.go
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
  plan/logical_plans.go
  plan/physical_plans.go
  plan/rule_column_pruning.go
  plan/rule_partition_processor.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#7730 tidb-server: set TiDBMemQuotaQuery to the value in configuration file(#7729)
  tidb-server/main.go
Labels: component/executor, status/LGT2, type/2.0 cherry-pick, type/bug-fix

#7755 binlog-dev: merge release-2.0
  CHANGELOG.md
  Gopkg.lock
  ddl/ddl_db_test.go
  ddl/index.go
  ddl/integration_test.go
  executor/union_scan_test.go
  executor/write.go
  executor/write_test.go
  expression/helper.go
  parser/lexer.go
  parser/lexer_test.go
  plan/predicate_push_down.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Connection/mysqlx_connection.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Crud/mysqlx_crud.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Datatypes/mysqlx_datatypes.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Expect/mysqlx_expect.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Expr/mysqlx_expr.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Notice/mysqlx_notice.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Resultset/mysqlx_resultset.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Session/mysqlx_session.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/Sql/mysqlx_sql.pb.go
  vendor/github.com/pingcap/tipb/go-mysqlx/mysqlx.pb.go
  x-server/server.go
Labels: component/binlog

#7694 *: add a variable to force statement priority of TiDB server
  executor/prepared.go
  executor/set_test.go
  mysql/const.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, type/enhancement

#7722 kv: optimize IsPoint
  kv/key.go
  kv/key_test.go
Labels: status/LGT1, status/all tests passed, type/performance

#7765 executor: fix session time in `show processlist`
  executor/show.go
Labels: component/executor, status/LGT1, status/all tests passed, type/compatibility

#7753 stats: support dump stats for partition table
  cmd/importer/stats.go
  statistics/dump.go
  statistics/dump_test.go
  statistics/table.go
Labels: component/statistics, status/LGT2, type/enhancement

#7696 expression, plan: aggressive constant fold for null parameter expression to simplify outer join
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/t/explain_easy.test
  expression/constant_fold.go
  plan/logical_plan_test.go
  plan/rule_predicate_push_down.go
  sessionctx/stmtctx/stmtctx.go
Labels: component/expression, component/planner, status/LGT2, status/all tests passed, type/enhancement

#7425 expression: ECB/CBC modes with 128/192/256-bit key length for AES
  expression/builtin_encryption.go
  expression/builtin_encryption_test.go
  expression/errors.go
  expression/integration_test.go
  session/session.go
  sessionctx/variable/sysvar.go
  util/encrypt/aes.go
  util/encrypt/aes_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#7770 ast: fix format bug for some expressions
  ast/expressions.go
  ast/format_test.go
Labels: contribution, status/LGT2, status/all tests passed, type/bug-fix

#7737 ddl, metrics: remove DDL version in metrics
  ddl/syncer.go
  metrics/ddl.go
Labels: component/metrics, status/LGT2, status/all tests passed

#7756 plan: return table dual when filter is false/null
  plan/logical_plan_test.go
  plan/rule_predicate_push_down.go
Labels: component/planner, status/LGT1, status/all tests passed, type/enhancement

#7732 plan: refine the handle check to use point get plan for prepare statement
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  planner/core/point_get_plan.go
Labels: component/planner, status/LGT2, status/all tests passed

#7648 docs/design: add proposal docs for constraint propagation enhancement
  docs/design/2018-07-22-enhance-propagations.md
Labels: component/docs, component/planner, contribution, status/LGT2

#7777 config: add config force-priority
  config/config.go
  config/config.toml.example
  tidb-server/main.go
Labels: status/LGT2, type/enhancement

#7688 parser,ast: parse `admin show slow` statement
  ast/misc.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
Labels: component/parser, priority/release-blocker, status/LGT2

#7692 domain: add recent slow queries queue and ShowSlowQuery() function
  domain/domain.go
  domain/domain_test.go
  domain/topn_slow_query.go
  domain/topn_slow_query_test.go
  executor/adapter.go
Labels: priority/release-blocker, status/LGT1

#7773 add windows build support
  tidb-server/main.go
  util/signal/signal_posix.go
  util/signal/signal_windows.go
Labels: component/tools, contribution, status/LGT2, type/enhancement

#7782 ddl:support 'show create table with compression'
  ddl/ddl_api.go
  executor/show.go
  executor/show_test.go
  model/model.go
  parser/parser_test.go
Labels: component/DDL-need-LGT3, status/LGT3

#7783 planner: fix compatibility issue that update subquery table should be forbidden
  executor/write_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, contribution

#7785 planner,executor: support `admin show slow` command
  executor/adapter.go
  executor/builder.go
  executor/executor.go
  executor/show_test.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: component/executor, component/planner, status/all tests passed

#7540 *: use chunk grow for simple executor
  ddl/reorg.go
  distsql/distsql_test.go
  executor/adapter.go
  executor/admin.go
  executor/aggregate.go
  executor/builder.go
  executor/delete.go
  executor/distsql.go
  executor/executor.go
  executor/executor_pkg_test.go
  executor/explain.go
  executor/index_lookup_join.go
  executor/insert_common.go
  executor/join.go
  executor/load_data.go
  executor/load_stats.go
  executor/merge_join.go
  executor/pkg_test.go
  executor/point_get.go
  executor/prepared.go
  executor/projection.go
  executor/show.go
  executor/sort.go
  executor/trace.go
  executor/union_scan.go
  executor/update.go
  privilege/privileges/cache.go
  server/conn.go
  server/driver.go
  server/driver_tidb.go
  session/session.go
  session/tidb.go
  util/chunk/chunk.go
  util/chunk/iterator_test.go
  util/chunk/list.go
  util/chunk/list_test.go
  util/codec/bench_test.go
  util/codec/codec_test.go
Labels: component/executor, status/LGT2, type/enhancement

#7784 util/timeutil: fix get tz at mojave
  executor/executor_test.go
  util/timeutil/time.go
  util/timeutil/time_test.go
Labels: component/tools, status/LGT2, status/all tests passed

#7788 sessionctx: Change pfs default to OFF
  sessionctx/variable/sysvar.go
Labels: status/LGT2, status/all tests passed, type/compatibility

#7772 Add *.fail.go to .gitignore
  .gitignore
Labels: contribution, status/LGT2

#7792 expression: fix cast unsigned integer to decimal
  expression/builtin_cast.go
  expression/builtin_cast_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, type/bug-fix

#7767 ddl: allow enum to append values
  ddl/db_change_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, contribution, status/LGT2, status/all tests passed

#7790 executor: fix point get null values
  executor/point_get.go
  executor/point_get_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#7793 ddl: fix 'show create table' result not correct when the table with a compression option
  executor/show.go
  executor/show_test.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#7774 domain: fast new a etcd session when the session is stale in the schemaVersionSyncer
  ddl/syncer.go
  domain/domain.go
Labels: component/DDL-need-LGT3, priority/release-blocker, status/LGT2, status/all tests passed

#7775 Optimize handling regionErr notLeader & staleEpoch
  store/tikv/backoff.go
Labels: component/tikv-client, type/enhancement

#7818 admin: fix admin check table compare bug
  executor/admin_test.go
  util/admin/admin.go
Labels: status/all tests passed, type/bug-fix

#7823 Change logo to the new design
  docs/logo.png
  docs/logo_with_text.png
Labels: component/docs

#7817 ast, plan: return error when the arg of VALUES() function is not a column
  ast/expressions.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, status/LGT2, type/bug-fix

#7815 parser: add complex query bench
  parser/bench_test.go
Labels: component/parser, status/LGT2
