Repository pingcap/tidb, pull requests merged in 2018-11, with the labels that each got.

#8059 proposal: introduce join reorder by dp subset
  docs/design/2018-10-20-join-reorder-dp-v1.md
  docs/design/README.md
Labels: component/planner, proposal, status/LGT2

#8132 planner/core: fix index resolution on PhysicalIndexReader (#8118)
  executor/executor_test.go
  planner/core/resolve_indices.go
Labels: component/planner, status/LGT1, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#8134 stats: fix selectivity estimation for primary key
  cmd/explaintest/r/partition_pruning.result
  statistics/bootstrap.go
  statistics/dump.go
  statistics/handle.go
  statistics/histogram.go
  statistics/selectivity.go
  statistics/selectivity_test.go
  statistics/table.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/bug-fix

#8105 expression,planner: support non-deterministic functions (e.g., now) in the prepared plan cache
  executor/executor.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/function_traits.go
  expression/scalar_function.go
  planner/core/expression_rewriter.go
  planner/core/prepare_test.go
  sessionctx/stmtctx/stmtctx.go
Labels: component/planner, contribution, status/LGT2, status/all tests passed, type/enhancement

#7996 planner: eliminate ifnull in expression rewriting process
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, status/LGT1, status/all tests passed, type/enhancement

#8025 planner/core: introduce join reorder by dp
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_dp.go
  planner/core/rule_join_reorder_dp_test.go
Labels: component/planner, status/LGT2, type/enhancement

#8117 docs/design: add proposal for window functions
  docs/design/2018-10-31-window-functions.md
  docs/design/README.md
Labels: component/docs, component/planner, status/LGT2

#8073 planner: refine PhysicalProjection.ResolveIndices during neighbouring Proj
  Makefile
  executor/executor_test.go
  planner/core/resolve_indices.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#8146 expression: handle INTERVAL HOUR for date arithmetic functions
  expression/builtin_time.go
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT2, type/bug-fix

#8143 planner: fix issue#8135
  executor/executor_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
Labels: component/planner, status/LGT2, type/bug-fix

#8148 expression, util: move disjoint set to util package(#7950)
  expression/constant_propagation.go
  util/disjointset/int_set.go
  util/disjointset/int_set_test.go
Labels: component/expression, status/LGT1, type/2.1 cherry-pick

#8152 planner: refine PhysicalProjection.ResolveIndices during neighbouringProj(#8073)
  executor/executor_test.go
  planner/core/resolve_indices.go
Labels: status/LGT2, type/2.1 cherry-pick

#8150 stats: fix selectivity estimation for primary key (#8134)
  statistics/boostrap.go
  statistics/dump.go
  statistics/handle.go
  statistics/histogram.go
  statistics/selectivity.go
  statistics/selectivity_test.go
  statistics/table.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#8159 domain: avoid an annoying log message
  domain/domain.go
  domain/domain_test.go
Labels: status/all tests passed, type/enhancement

#8162 Makefile: explicitly disable go module in release-2.1 branch
  Makefile
Labels: component/tools, status/LGT2, status/all tests passed, type/enhancement

#8163 *: modify tests to work with only-full-group-by on
  cmd/explaintest/main.go
  executor/aggregate_test.go
  executor/distsql_test.go
  executor/executor_test.go
  expression/integration_test.go
  planner/core/cbo_test.go
  planner/core/physical_plan_test.go
Labels: component/test, status/LGT1, status/all tests passed

#8114 ddl: refine error msg when alter table
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT3

#8019 expression: fix "values" function in non-insert statement
  expression/builtin_other.go
  expression/builtin_other_test.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix

#8126 executor: add a variable to control whether we can write _tidb_rowid
  executor/rowid_test.go
  executor/write.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#8094 *: add a variable tidb_slow_log_threshold to set the slow log threshold dynamically
  config/config.go
  executor/adapter.go
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  util/logutil/log.go
Labels: priority/release-blocker, type/enhancement

#8154 planner: refine PhysicalProjection.ResolveIndices during neighbouringProj (#8073)
  executor/executor_test.go
  plan/resolve_indices.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick

#8158 *: update logrus and parser package, tiny clean up
  Makefile
  cmd/explaintest/_helper.sh
  cmd/explaintest/run-tests.sh
  go.mod
  go.sum
Labels: component/parser, status/LGT2, status/all tests passed

#8169 expression: fix "values" function in non-insert statement (#8019)
  expression/builtin_other.go
  expression/builtin_other_test.go
  expression/integration_test.go
Labels: component/expression, type/2.1 cherry-pick, type/bug-fix

#8173 *: add a variable tidb_slow_log_threshold to set the slow log threshold dynamically (#8094)
  config/config.go
  executor/adapter.go
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  util/logutil/log.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/enhancement

#8168 *: avoid using columnEvaluator for the Projectin build by buildProjtion4Union (#8142)
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  expression/evaluator.go
  plan/gen_physical_plans.go
  plan/logical_plan_builder.go
  plan/logical_plans.go
  plan/physical_plans.go
Labels: component/expression, status/LGT1, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#8165 *: avoid using columnEvaluator for the Projectin build by buildProjtion4Union (#8142)
  executor/builder.go
  executor/executor_test.go
  executor/projection.go
  expression/evaluator.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
Labels: component/expression, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#8174 stats: fix converting duration to timestamp
  statistics/gc.go
  statistics/handle.go
  statistics/handle_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/bug-fix

#8179 expression: fix "values" function in non-insert statement (#8019)
  expression/builtin_other.go
  expression/builtin_other_test.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#8170 executor: fix update float panic (#8045)
  executor/update.go
  executor/write_test.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#8176 *: add a variable tidb_slow_log_threshold to set the slow log threshold dynamically (#8094)
  config/config.go
  executor/adapter.go
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  util/logutil/log.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/enhancement

#8180 planner: fix issue#8135 (#8143)
  executor/executor_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
Labels: component/planner, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#8182 stats: fix converting duration to timestamp (#8174)
  statistics/gc.go
  statistics/handle.go
  statistics/handle_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8187 [cherry-pick]*: add a variable to control whether we can write _tidb_rowid
  executor/insert_common.go
  executor/rowid_test.go
  executor/update.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#8184 stats: fix converting duration to timestamp (#8174)
  statistics/gc.go
  statistics/handle_test.go
Labels: component/statistics, status/LGT1, status/all tests passed, type/2.0 cherry-pick

#8185 executor: recovery panic in parallel hashagg and projection
  executor/aggregate.go
  executor/projection.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#8200 *: add a variable tidb_query_log_max_len to set the max length of the query string in the log dynamically (#8183)
  config/config.go
  executor/adapter.go
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  util/logutil/log.go
Labels: status/LGT2, type/2.1 cherry-pick, type/enhancement

#8211 types: move file `const_test.go` from the parser repository
  types/const_test.go
Labels: component/parser, status/LGT2

#8091 session: add transaction start timestamp to the log when retrying
  session/session.go
Labels: priority/release-blocker, type/enhancement

#8214 planner: fix union statements order
  cmd/explaintest/r/explain_easy.result
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, contribution, status/LGT1, type/bug-fix

#8186 store/tikv/latch: fix a deadlock in the latch scheduler
  store/tikv/latch/latch.go
  store/tikv/latch/latch_test.go
  store/tikv/latch/scheduler.go
  store/tikv/latch/scheduler_test.go
Labels: component/tikv-client, status/LGT2, status/all tests passed, type/bug-fix

#7971 chunk: support column pool
  util/chunk/pool.go
  util/chunk/pool_test.go
Labels: component/executor, status/LGT2, type/enhancement

#8224 session: add transaction start timestamp to the log when retrying (#8091)
  session/session.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/enhancement

#8220 store/tikv/latch: fix a deadlock in the latch scheduler (#8186)
  store/tikv/latch/latch.go
  store/tikv/latch/latch_test.go
  store/tikv/latch/scheduler.go
  store/tikv/latch/scheduler_test.go
Labels: component/tikv-client, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8212 CONTRIBUTING.md: update the description of dependency management
  CONTRIBUTING.md
Labels: contribution, status/LGT2

#8222 expression: fix wrong compare result of row
  expression/integration_test.go
  expression/simple_rewriter.go
  planner/core/expression_rewriter.go
  planner/core/expression_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix

#8229 remove an unused variable
  meta/autoid/autoid_test.go
Labels: contribution

#8230 session: add transaction start timestamp to the log when retrying (#8091)
  session/session.go
Labels: status/LGT1, type/2.0 cherry-pick, type/enhancement

#8225 plan: use original field name when `Column` is extracted from `IfNull`
  expression/column.go
  expression/schema.go
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
  planner/core/logical_plan_builder.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#8207 store/tikv: refine backoff log
  session/session.go
  store/tikv/2pc.go
  store/tikv/backoff.go
  store/tikv/coprocessor.go
  store/tikv/scan.go
  store/tikv/snapshot.go
Labels: component/tikv-client, status/LGT2, status/all tests passed

#8239 store/tikv: refine backoff log (#8207)
  session/session.go
  store/tikv/2pc.go
  store/tikv/backoff.go
  store/tikv/coprocessor.go
  store/tikv/scan.go
  store/tikv/snapshot.go
Labels: component/tikv-client, priority/release-blocker, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8241 planner: fix wrong row compare logic in expression_rewriter
  planner/core/expression_rewriter.go
  planner/core/expression_test.go
Labels: component/planner, status/LGT2, type/bug-fix

#8238 planner: fix union statements order (#8214)
  cmd/explaintest/r/explain_easy.result
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, priority/release-blocker, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#7965 *: change default charset and collation from 'utf8 utf8_bin' to 'utf8mb4 utf8mb4_bin'
  ddl/column_test.go
  ddl/db_change_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  executor/ddl_test.go
  executor/executor_test.go
  executor/show.go
  executor/show_test.go
  expression/aggregation/agg_to_pb_test.go
  expression/aggregation/descriptor.go
  expression/builtin.go
  expression/builtin_cast.go
  expression/builtin_control.go
  expression/builtin_math_test.go
  expression/builtin_miscellaneous.go
  expression/expr_to_pb_test.go
  expression/typeinfer_test.go
  go.mod
  go.sum
  infoschema/tables.go
  infoschema/tables_test.go
  owner/fail_test.go
  planner/core/plan_to_pb_test.go
  planner/core/planbuilder.go
  server/tidb_test.go
  sessionctx/variable/sysvar.go
  store/mockstore/mocktikv/analyze.go
  table/tables/gen_expr.go
  types/field_type.go
  types/field_type_test.go
Labels: release-note, status/LGT2, status/all tests passed

#8081 *: Make use of the upperBound of ticlient's kv_scan interface to ensure no overbound scan will happen
  ddl/delete_range.go
  ddl/index.go
  ddl/reorg.go
  store/tikv/scan.go
  structure/hash.go
  table/tables/index.go
  table/tables/tables.go
  util/admin/admin.go
  util/prefix_helper.go
Labels: component/tikv-client, priority/release-blocker, status/LGT2, status/all tests passed

#8255 *: spilt the internal SQLs in the transaction related metrics
  metrics/session.go
  session/session.go
Labels: status/LGT2, type/enhancement

#8021 planner: support join elimination rule
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/rule_join_elimination.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#8242 executor: support for "admin show next_row_id"
  executor/admin_test.go
  executor/aggregate_test.go
  executor/builder.go
  executor/executor.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: component/executor, priority/release-blocker, status/LGT3, status/all tests passed

#8246 [release-2.1] vendor: update kvproto
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/pingcap/kvproto/pkg/kvrpcpb/kvrpcpb.pb.go
Labels: component/tikv-client, status/LGT2, type/2.1 cherry-pick

#8061 design: add a proposal to support view feature
  docs/design/2018-10-24-view-support.md
  docs/design/imgs/view.png
Labels: component/docs, component/planner, contribution

#8228 docs: add proposal process
  docs/design/README.md
Labels: component/docs, proposal, status/LGT2

#8264 update vendor for pump client
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/pingcap/tidb-tools/tidb-binlog/pump_client/client.go
Labels: component/binlog, status/LGT2

#8248 planner: fix row compare logic for ast.LE and ast.GE
  planner/core/expression_rewriter.go
  planner/core/expression_test.go
Labels: component/expression, component/planner, status/LGT2, status/all tests passed, type/bug-fix

#8262 *: spilt the internal SQLs in the transaction related metrics (#8255)
  metrics/session.go
  session/session.go
Labels: status/LGT2, type/2.1 cherry-pick, type/enhancement

#8261 cmd/explaintest: clean up tidb-server process
  cmd/explaintest/run-tests.sh
Labels: component/test, status/LGT2, status/all tests passed

#8247 tikvclient: Add endKey param to Scanner (#8178)
  ddl/db_test.go
  ddl/delete_range.go
  ddl/index.go
  kv/buffer_store.go
  kv/buffer_store_test.go
  kv/kv.go
  kv/mem_buffer_test.go
  kv/memdb_buffer.go
  kv/mock.go
  kv/mock_test.go
  kv/union_store.go
  kv/union_store_test.go
  session/txn.go
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/rpc.go
  store/store_test.go
  store/tikv/delete_range_test.go
  store/tikv/lock_test.go
  store/tikv/safepoint_test.go
  store/tikv/scan.go
  store/tikv/scan_mock_test.go
  store/tikv/scan_test.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  store/tikv/store_test.go
  store/tikv/ticlient_test.go
  store/tikv/txn.go
  structure/hash.go
  table/tables/index.go
  table/tables/tables.go
  util/admin/admin.go
  util/prefix_helper.go
Labels: component/tikv-client, priority/release-blocker, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8236 plan: use `Column.UniqueID` in `conditionChecker` of ranger
  planner/core/rule_partition_processor.go
  statistics/selectivity.go
  table/tables/partition.go
  util/ranger/checker.go
  util/ranger/detacher.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT1, status/all tests passed, type/bug-fix

#8160 executor: Support NO_AUTO_CREATE_USER sql mode
  executor/grant.go
  executor/grant_test.go
  executor/simple_test.go
  session/session_test.go
Labels: component/privilege, status/LGT1, status/all tests passed, type/enhancement

#8215 store/tikv: Make maxTxnTimeUse a configurable value
  config/config.go
  config/config.toml.example
  store/tikv/2pc.go
Labels: component/tikv-client, status/LGT2, status/all tests passed, type/enhancement

#8268 *: support for "admin show next_row_id"
  ast/misc.go
  executor/admin_test.go
  executor/aggregate_test.go
  executor/builder.go
  executor/executor.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: priority/release-blocker, status/LGT2, type/2.1 cherry-pick

#8250 kv, store: remove `Rollback` in `RunInNewTxn`
  kv/txn.go
  store/tikv/2pc_fail_test.go
Labels: component/tikv-client, status/LGT2, status/all tests passed, type/enhancement

#8272 add changelog for v2.1.0-rc.5
  CHANGELOG.md
Labels: release-note

#8275 add changelog for v2.1.0-rc.5 (#8272)
  CHANGELOG.md
Labels: priority/release-blocker

#8209 store/tikv: Make maxTxnTimeUse a configurable value (#8215)
  config/config.go
  config/config.toml.example
  store/tikv/2pc.go
Labels: component/tikv-client, status/LGT2, type/2.0 cherry-pick

#8277 kv, store: remove `Rollback` in `RunInNewTxn` (#8250)
  kv/txn.go
  store/tikv/2pc_fail_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#8278 expression: make tests work with mysql sql_mode
  expression/integration_test.go
Labels: component/test, status/LGT2

#8273 planner: fix error caused by different length between inner and outer OrderByItems
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plan_test.go
Labels: component/planner, contribution, status/LGT2, status/all tests passed, type/bug-fix

#8288 planner: fix expression rewriter wrong compare logic (#8269)
  plan/expression_rewriter.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#8289 planner: fix expression rewriter wrong compare logic (#8269)
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
Labels: component/planner, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#8290 planner, executor: eliminate extra columns introduced by OrderBy upon Union
  executor/executor_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, contribution, status/LGT1, type/bug-fix

#8301 planner: fix error caused by different length between inner and outer OrderByItems(#8273)
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plan_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#8298 planner/core: make TIDB_INLJ to specify the inner table (#8243)
  executor/index_lookup_join_test.go
  executor/join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
Labels: component/planner, status/LGT2, type/2.1 cherry-pick

#8306 planner, executor: eliminate extra columns introduced by OrderBy upon Union (#8290)
  executor/executor_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, contribution, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#8307 planner, executor: eliminate extra columns introduced by OrderBy upon Union (#8290)
  executor/executor_test.go
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
Labels: component/planner, contribution, status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#8276 kv, store: remove `Rollback` in `RunInNewTxn` (#8250)
  kv/txn.go
  store/tikv/2pc_fail_test.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/enhancement

#8281 session: add SQL type labels to the commit and retry logs
  session/session.go
Labels: status/LGT2, type/enhancement

#8274 *: support for "admin show next_row_id" (#8268)
  ast/misc.go
  executor/admin_test.go
  executor/aggregate_test.go
  executor/builder.go
  executor/executor.go
  parser/misc.go
  parser/parser.y
  parser/parser_test.go
  plan/common_plans.go
  plan/planbuilder.go
Labels: component/executor, status/LGT1, status/all tests passed, type/2.0 cherry-pick

#8296 executor, cmd: refine HashJoinExec for specific JoinType if outer/inner is nil
  .gitignore
  executor/join.go
  executor/join_test.go
Labels: component/executor, status/LGT2, type/enhancement

#8260 session,executor: run statement without transaction
  executor/adapter.go
  executor/builder.go
  executor/errors.go
  executor/executor.go
  executor/executor_test.go
  executor/index_lookup_join.go
  executor/simple.go
  planner/core/logical_plan_builder.go
  session/session.go
  session/session_test.go
  session/tidb.go
  session/txn.go
  sessionctx/context.go
  table/tables/tables.go
  util/mock/context.go
Labels: component/executor, require-LGT3, status/LGT3, status/all tests passed, type/bug-fix

#8302 executor: properly escape backquotes in identifiers in SHOW CREATE TABLE
  executor/show.go
  executor/show_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#8317 planner: fix error caused by different length between inner and outer OrderByItems(#8273)
  plan/physical_plan_test.go
  plan/plan.go
Labels: component/planner, contribution, status/LGT2, type/2.0 cherry-pick

#8308 *: Update kvproto
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/pingcap/kvproto/pkg/eraftpb/eraftpb.pb.go
  vendor/github.com/pingcap/kvproto/pkg/kvrpcpb/kvrpcpb.pb.go
  vendor/github.com/pingcap/kvproto/pkg/metapb/metapb.pb.go
Labels: component/tikv-client, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#8324 util/execdetails: fix data race
  executor/explain.go
Labels: component/executor, status/LGT2, type/bug-fix

#8325 session,executor: run statement without transaction (#8260)
  executor/adapter.go
  executor/builder.go
  executor/errors.go
  executor/executor.go
  executor/executor_test.go
  executor/index_lookup_join.go
  executor/simple.go
  planner/core/logical_plan_builder.go
  session/session.go
  session/session_test.go
  session/tidb.go
  session/txn.go
  sessionctx/context.go
  table/tables/tables.go
  util/mock/context.go
Labels: component/executor, status/LGT1, status/all tests passed, type/2.1 cherry-pick

#8318 planner: fix union statements order (#8214)
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
Labels: component/planner, contribution, status/LGT1, type/2.0 cherry-pick

#8314 variable: validate setting tx_isolation variable value (#8299)
  domain/schema_validator_test.go
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, type/2.1 cherry-pick

#8331 util/execdetail: fix race 2.1
  executor/explain.go
Labels: status/LGT2, type/2.1 cherry-pick

#8315 executor, cmd: refine HashJoinExec for specific JoinType if outer/inner is nil (#8296)
  .gitignore
  executor/join.go
  executor/join_test.go
Labels: status/LGT2, type/2.1 cherry-pick, type/enhancement

#8327 *: Txn() function signature refactor and remove ActivePendingTxn()
  ddl/column_change_test.go
  ddl/column_test.go
  ddl/db_test.go
  ddl/ddl_test.go
  ddl/ddl_worker_test.go
  ddl/fail_test.go
  ddl/foreign_key_test.go
  ddl/index_change_test.go
  ddl/reorg_test.go
  executor/adapter.go
  executor/admin.go
  executor/batch_checker.go
  executor/builder.go
  executor/ddl.go
  executor/executor.go
  executor/executor_test.go
  executor/insert.go
  executor/insert_common.go
  executor/point_get.go
  executor/prepared.go
  executor/simple.go
  executor/write_test.go
  planner/core/physical_plan_test.go
  server/conn.go
  session/session.go
  session/session_test.go
  session/txn.go
  sessionctx/context.go
  statistics/ddl.go
  statistics/gc.go
  statistics/histogram.go
  statistics/update.go
  table/tables/tables.go
  table/tables/tables_test.go
  util/admin/admin_test.go
  util/kvencoder/kv_encoder.go
  util/kvencoder/kv_encoder_test.go
  util/mock/context.go
Labels: status/LGT2, status/all tests passed, type/enhancement

#8326 session: add sql types for commit and retry logs (#8281)
  session/session.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/enhancement

#8333 sessionctx: make tidb_max_chunk_size as a global variable (#6585)
  session/session.go
  session/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: component/server, priority/release-blocker, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#8328 *: clone AggDesc before modifying its `Mode` in AggDesc.Split
  executor/aggfuncs/func_avg_test.go
  executor/aggfuncs/func_count_test.go
  executor/aggfuncs/func_max_min_test.go
  executor/aggfuncs/func_sum_test.go
  executor/builder.go
  expression/aggregation/descriptor.go
  planner/core/prepare_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#8336 planner/core: derive `StatsInfo` lazily.
  planner/core/stats.go
Labels: component/planner, status/LGT2, type/enhancement

#8335 executor: fix union dual table order by but not sort
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  executor/executor_test.go
  parser/parser.y
  parser/parser_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8003 ddl: add check when build enum, set column
  ddl/db_test.go
  ddl/ddl_api.go
  types/errors.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#8312 ddl, domain: make schema correct after canceling jobs (#7997)
  ddl/ddl_worker.go
  ddl/fail_db_test.go
  ddl/table.go
  domain/domain.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#8329 session,executor: run statement without transaction
  executor/adapter.go
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  executor/index_lookup_join.go
  executor/simple.go
  plan/logical_plan_builder.go
  session/session.go
  session/session_test.go
  session/tidb.go
  session/txn.go
  sessionctx/context.go
  util/mock/context.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#8348 util/chunk: preallocate the columns array in MutRow to avoid array resize
  util/chunk/mutrow.go
Labels: component/executor, status/LGT1, status/all tests passed, type/performance

#8310 *: Make use of the upperBound of ticlient's kv_scan interface to ensure no overbound scan will happen (#8081)
  ddl/column.go
  ddl/delete_range.go
  ddl/index.go
  ddl/reorg.go
  store/tikv/scan.go
  structure/hash.go
  table/tables/index.go
  table/tables/tables.go
  util/admin/admin.go
  util/prefix_helper.go
Labels: component/tikv-client, status/LGT1, type/2.0 cherry-pick

#8338 executor: make sure hashjoin's goroutine exit before `Close` return
  executor/join.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#8332 planner: cleanup prepare cache when client send deallocate
  executor/prepared.go
  executor/prepared_test.go
  planner/core/cache.go
  session/session.go
  util/kvcache/simple_lru.go
  util/kvcache/simple_lru_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#8343 plan: support subquery in `Do` statement
  executor/executor_test.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
  planner/core/rule_column_pruning.go
  planner/core/rule_eliminate_projection.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#8334 domain: make TestSchemaValidator stable
  domain/schema_validator_test.go
Labels: component/test, status/LGT2

#8026 *: support creating a hash partitioned table
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/partition.go
  ddl/table.go
  go.mod
  go.sum
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
  table/tables/partition.go
Labels: component/DDL-need-LGT3, priority/non-release-blocker, status/LGT2, status/all tests passed

#7969 docs/design: add the table partition proposal
  docs/design/2018-10-19-table-partition.md
Labels: component/docs, status/LGT1, status/all tests passed

#8369 readme: update ETL description
  README.md
Labels: component/docs, status/LGT1

#8367 session: fix bootstrap error in ANSI sql_mode (#8353)
  session/bootstrap_test.go
  session/session.go
Labels: component/server, status/LGT1, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#8374 executor: fix hash join sqllogic test block
  executor/join.go
Labels: component/executor, priority/non-release-blocker, status/LGT2, status/all tests passed

#8357 *: redesign `trace` statement with json output
  executor/adapter.go
  executor/aggregate.go
  executor/builder.go
  executor/compiler.go
  executor/distsql.go
  executor/executor.go
  executor/projection.go
  executor/sort.go
  executor/table_reader.go
  executor/trace.go
  executor/trace_test.go
  go.mod
  go.sum
  planner/core/planbuilder.go
  planner/core/trace.go
  session/session.go
  session/tidb.go
  session/txn.go
Labels: component/server, status/LGT2, status/all tests passed, type/enhancement

#8355 expression: support JSON return type in `case` expression
  expression/builtin_control.go
  expression/builtin_control_test.go
  expression/distsql_builtin.go
  expression/evaluator_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/enhancement

#8363 Update dockerfile
  Dockerfile
Labels: component/server, status/LGT2

#8376 planner/core,session: fix privilege check for update
  planner/core/logical_plan_builder.go
  session/session_test.go
Labels: component/privilege, status/LGT2, status/all tests passed, type/bug-fix

#8297 store/kv: fix panic for EOF-stream & add recover to copIterateWorker
  store/tikv/coprocessor.go
Labels: component/tikv-client, status/LGT2, status/all tests passed, type/bug-fix

#8387 infoschema: Add missing i_s.files columns
  executor/aggregate_test.go
  infoschema/tables.go
Labels: status/LGT1, type/compatibility

#8381 server: unix socket should verify user's authentication
  server/conn.go
  server/server.go
  server/server_test.go
  session/session.go
  sessionctx/variable/tidb_vars.go
Labels: component/server, status/LGT2, status/all tests passed, type/bug-fix

#8398 server: unix socket should verify user's authentication (#8381)
  server/conn.go
  server/server.go
  server/server_test.go
  session/session.go
  sessionctx/variable/tidb_vars.go
Labels: component/server, status/LGT2, type/2.1 cherry-pick

#8395 plan: disable plan cache for query containing `SubqueryExpr`
  executor/prepared_test.go
  plan/cacheable_checker.go
Labels: component/planner, status/LGT1, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#8397 server,types: convert zero input correctly for column type `year`
  executor/insert_test.go
  server/util.go
  server/util_test.go
  types/datum.go
  types/time.go
  types/time_test.go
Labels: component/server, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix, type/compatibility

#8404 ast, plan: return error when the arg of VALUES() function is not a column (#7817)
  ast/expressions.go
  plan/logical_plan_builder.go
  plan/logical_plan_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#8396 server,types: convert zero input correctly for column type `year`
  server/util.go
  server/util_test.go
  types/datum.go
  types/time.go
  types/time_test.go
Labels: component/server, status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix, type/compatibility

#8392 executor: fix hash join sqllogic test block, data race.
  executor/join.go
Labels: component/executor, status/LGT2, type/2.1 cherry-pick

#8256 http: add http api for get db and table info that is related to the tableID
  docs/tidb_http_api.md
  infoschema/infoschema.go
  server/http_handler.go
  server/http_handler_test.go
  server/http_status.go
Labels: component/DDL-need-LGT3

#8339 config, util.kvcache: support the memory guard to prevent OOM for the plan cache
  config/config.go
  config/config.toml.example
  executor/prepared_test.go
  go.mod
  go.sum
  planner/core/cache.go
  planner/core/point_get_plan_test.go
  planner/core/prepare_test.go
  session/session.go
  tidb-server/main.go
  util/kvcache/simple_lru.go
  util/kvcache/simple_lru_test.go
  util/memory/bench_test.go
  util/memory/meminfo.go
Labels: component/planner, contribution, status/LGT2, status/all tests passed

#8406 expression: fix warning/error info of `group_concat()` (#7799)
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_group_concat.go
  executor/builder.go
  expression/aggregation/concat.go
  expression/errors.go
  expression/integration_test.go
  mysql/errname.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#8390 expression, types: fix some corner case when parsing string to datetime (#7701)
  expression/builtin_cast.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/constant.go
  expression/errors.go
  expression/integration_test.go
  server/util_test.go
  sessionctx/variable/varsutil.go
  statistics/scalar_test.go
  tablecodec/tablecodec_test.go
  types/convert.go
  types/convert_test.go
  types/datum.go
  types/datum_test.go
  types/time.go
  types/time_test.go
  util/codec/codec_test.go
Labels: component/executor, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#8360 ddl: fix drop database bug if the database has partition table (#8319)
  ddl/db_test.go
  ddl/schema.go
Labels: component/DDL-need-LGT3, status/LGT1, type/2.1 cherry-pick

#8408 domain: make TestSchemaValidator stable (#8334)
  domain/schema_validator_test.go
Labels: component/test, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8399 plan: disable plan cache for query containing `SubqueryExpr`
  executor/prepared_test.go
  planner/core/cacheable_checker.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#8407 ddl: add check when create table with foreign key. (#7885)
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8410 ddl: add check when create table with foreign key. (#7885)
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_db_test.go
Labels: component/DDL-need-LGT3, status/LGT1, type/2.0 cherry-pick

#8425 server/http: fix scatter table API and add document (#8424)
  docs/tidb_http_api.md
  server/http_handler.go
Labels: type/2.1 cherry-pick

#8409 domain: make TestSchemaValidator stable (#8334)
  domain/schema_validator_test.go
Labels: component/test, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#8421 ddl: add check when add foreign key. (#8050)
  ddl/ddl_api.go
  ddl/ddl_db_test.go
Labels: component/DDL-need-LGT3, status/LGT2, type/2.0 cherry-pick

#8316 add vendor folder to .gitignore
  .gitignore
Labels: contribution, status/LGT2

#8400 planner/core: support the optimize function for cascades planner
  planner/cascades/group.go
  planner/cascades/group_test.go
  planner/cascades/optimize.go
  planner/cascades/pattern.go
  planner/cascades/pattern_test.go
  planner/optimize.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#8279 types: let round take effect in converting float string to int string.
  expression/builtin_time.go
  types/convert.go
  types/convert_test.go
Labels: component/expression, status/LGT2, type/bug-fix

#8450 executor: add unit test for aggfuncs (#7966)
  executor/aggfuncs/func_max_min_test.go
Labels: component/executor, component/test, status/LGT2, type/2.1 cherry-pick

#8451 planner/core, expression: don't pushdown filters contains set or get var (#8412)
  expression/chunk_executor.go
  expression/integration_test.go
  planner/core/rule_predicate_push_down.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8417 executor: improve SHOW commands compatibility
  executor/errors.go
  executor/show.go
  executor/show_test.go
  infoschema/tables.go
  planner/core/planbuilder.go
Labels: status/LGT2, status/all tests passed, type/compatibility

#8448 stats: fix panic when dumping stats
  statistics/dump_test.go
  statistics/histogram.go
  statistics/table.go
Labels: component/statistics, status/LGT2, type/bug-fix

#8358 sessionctx: Set foreign_key_checks = OFF
  expression/integration_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: component/server, status/LGT2, status/all tests passed
