Repository pingcap/tidb, pull requests merged in 2019-02, with the labels that each got.

#9235 expression: handle empty input and improve compatibility for `format` (#8797)
  expression/builtin_string.go
  expression/builtin_string_test.go
  expression/errors.go
Labels: component/expression, status/LGT2, type/2.1 cherry-pick

#9237 domain: change "reload privilege success" to DEBUG level
  domain/domain.go
Labels: component/privilege, status/LGT2, type/enhancement

#9256 util/chunk: correct a typo in the comment
  util/chunk/row.go
Labels: contribution, status/LGT3

#9255 planner: enable function `any_value` in aggregation if `ONLY_FULL_GROUP_BY` is set
  executor/aggregate_test.go
  expression/integration_test.go
  planner/core/logical_plan_builder.go
Labels: component/planner, contribution, status/LGT1

#9254 expression: fix a bug in baseFuncDesc.clone()
  expression/aggregation/base_func.go
  expression/aggregation/base_func_test.go
Labels: component/expression, contribution, status/LGT1

#9258 expression: fix some typos in the comments
  expression/builtin_time.go
Labels: component/expression, contribution

#9202 *: remove returning error of RollbackTxn
  server/driver.go
  server/driver_tidb.go
  session/session.go
  session/tidb.go
  util/kvencoder/kv_encoder.go
Labels: component/transaction-need-LGT3, status/LGT3, status/all tests passed, type/enhancement

#9199 *: add some tests for writing-data corner cases
  executor/write_test.go
  session/txn.go
Labels: component/test, status/LGT2, status/all tests passed

#9250 types: fix processing of "0000" value for `year` type
  executor/insert_test.go
  types/datum.go
  types/time.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#9066 planner: fix assertion failure on LogicalJoin.EqualConditions
  cmd/explaintest/r/subquery.result
  cmd/explaintest/t/subquery.test
  expression/schema.go
  expression/util_test.go
  planner/core/logical_plans.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#9249 ddl: fix default value precision problem for time types
  ddl/ddl_api.go
  executor/ddl_test.go
Labels: component/DDL-need-LGT3, contribution, status/LGT2, status/all tests passed

#9264 planner: fix assertion failure on LogicalJoin.EqualConditions (#9066)
  cmd/explaintest/r/subquery.result
  cmd/explaintest/t/subquery.test
  expression/schema.go
  expression/util_test.go
  planner/core/logical_plans.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9265 planner: fix assertion failure on LogicalJoin.EqualConditions (#9066)
  executor/join_test.go
  expression/schema.go
  expression/util_test.go
  plan/logical_plans.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#9266 *: add some tests for writing-data corner cases (#9199)
  executor/write_test.go
  session/txn.go
Labels: component/test, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9267 executor,planner: fix 'show master status' output (#8737)
  executor/builder.go
  executor/show_test.go
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
Labels: component/binlog, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8988 expression: fix date_add interval month,year diffs from mysql
  expression/builtin_time.go
  expression/builtin_time_test.go
  types/mytime.go
  types/mytime_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/compatibility

#9275 domain: change "reload privilege success" to DEBUG level (#9237)
  domain/domain.go
Labels: component/privilege, type/2.0 cherry-pick

#9194 privilege,planner: handle View's security privilege check
  ddl/ddl_api.go
  executor/executor_test.go
  executor/show_test.go
  executor/write_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  privilege/privilege.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: component/privilege, contribution, status/LGT2, status/all tests passed

#9274 domain: change "reload privilege success" to DEBUG level (#9237)
  domain/domain.go
Labels: component/privilege, status/LGT2, type/2.1 cherry-pick

#7832 builtin: add json quote
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/distsql_builtin.go
  expression/integration_test.go
  types/json/binary_functions.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#9184 docs/design: add proposal for skyline pruning
  docs/design/2019-01-25-skyline-pruning.md
  docs/design/README.md
Labels: component/docs, status/LGT2, type/enhancement

#9225 expression: handle ENUM in builtin function Values()
  expression/builtin_other.go
  expression/column.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix

#9230 util/hack: define a MutableString type for function hack.String
  domain/info.go
  expression/util.go
  go.mod
  go.sum
  planner/core/logical_plan_test.go
  privilege/privileges/cache.go
  server/conn.go
  server/conn_stmt.go
  table/column.go
  types/convert.go
  types/datum.go
  types/json/binary_functions.go
  util/chunk/chunk_test.go
  util/chunk/codec_test.go
  util/chunk/row.go
  util/hack/hack.go
  util/hack/hack_test.go
Labels: component/server, status/LGT1, status/all tests passed, type/enhancement

#9280 expression: handle ENUM in builtin function Values() (#9225)
  expression/builtin_other.go
  expression/column.go
  expression/integration_test.go
Labels: component/expression, status/LGT1, status/all tests passed, type/2.1 cherry-pick

#9200 server: add test for OPTIONALLY keyword
  go.mod
  go.sum
  server/server_test.go
Labels: component/parser, status/LGT1, status/all tests passed

#9271 *: tiny update for the whitelist plugin
  domain/domain.go
  executor/simple.go
  plugin/spi.go
  server/server.go
  session/tidb.go
Labels: component/plugin, status/LGT2, status/all tests passed

#9021 issue_template: add template for performance issue
  .github/ISSUE_TEMPLATE/general-question.md
  .github/ISSUE_TEMPLATE/performance-questions.md
Labels: component/docs, status/LGT2

#9209 stats: add metircs for high error rate feedback
  metrics/metrics.go
  metrics/stats.go
  statistics/update.go
Labels: component/metrics, component/statistics, status/LGT2

#9216 ddl: fix a bug when adding an index to a generated column with an expression error
  ddl/db_test.go
  ddl/ddl.go
  ddl/index.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/bug-fix

#9217 infoschema: remove pfs setup_timers
  infoschema/perfschema/const.go
Labels: status/LGT2, status/all tests passed, type/compatibility

#9284 expression: fix date_add interval month,year diffs from mysql (#8988)
  expression/builtin_time.go
  expression/builtin_time_test.go
  types/mytime.go
  types/mytime_test.go
Labels: component/expression, status/all tests passed, type/2.1 cherry-pick

#9287 expression: fix date_add interval month,year diffs from mysql (#8988)
  expression/builtin_time.go
  expression/builtin_time_test.go
  types/mytime.go
  types/mytime_test.go
Labels: component/expression, status/all tests passed, type/2.0 cherry-pick

#9282 plan: handle DNF expressions in `Selectivity`
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/s/explain_easy_stats_tbl_dnf.json
  cmd/explaintest/t/explain_easy_stats.test
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plans.go
  statistics/selectivity.go
  util/ranger/detacher.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#9272 *: use less memory when many rows inserted in one transaction
  executor/union_scan.go
  session/txn.go
Labels: component/executor, status/LGT2, status/all tests passed

#9270 planner/core: refine explain for window function
  cmd/explaintest/main.go
  cmd/explaintest/r/window_function.result
  cmd/explaintest/t/window_function.test
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/logical_plan_test.go
  planner/core/physical_plans.go
  planner/core/stringer.go
Labels: component/planner, status/LGT1, status/all tests passed, type/enhancement

#9289 ddl: fix a bug when adding an index to a generated column with an expression error (#9216)
  ddl/db_test.go
  ddl/ddl.go
  ddl/index.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9151 metrics: add db QPS metric
  config/config.go
  config/config.toml.example
  executor/compiler.go
  metrics/executor.go
  metrics/metrics.go
  metrics/session.go
Labels: component/metrics, contribution, status/LGT2, status/all tests passed

#9252 expression, planner: support builtin function benchmark
  expression/builtin_info.go
  expression/builtin_info_test.go
  expression/function_traits.go
  expression/integration_test.go
  planner/core/expression_rewriter.go
  planner/core/planbuilder_test.go
Labels: component/expression, component/planner, contribution, status/LGT2

#9281 expression: handle ENUM in builtin function Values() (#9225)
  expression/builtin_other.go
  expression/column.go
  expression/integration_test.go
Labels: component/expression, status/LGT1, type/2.0 cherry-pick

#9169 store/tikv: make the batch strategy more smart
  store/tikv/client.go
Labels: component/tikv, status/LGT2

#9293 Control the number of rows in chunks returned by SelectResult
  distsql/distsql_test.go
  distsql/request_builder_test.go
  distsql/select_result.go
  distsql/stream.go
  util/chunk/chunk.go
  util/chunk/chunk_test.go
  util/chunk/recordbatch.go
Labels: component/executor, status/LGT2

#9291 ddl: use original column name in duplicate column error
  ddl/column_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, contribution, status/LGT2, type/compatibility

#8998 executor, util: add Benchmarks for HashAggExec and StreamAggExec
  executor/benchmark_test.go
  util/chunk/chunk.go
  util/chunk/chunk_test.go
  util/chunk/column.go
  util/chunk/column_test.go
Labels: component/executor, component/test, status/LGT2, status/all tests passed, type/performance

#9301 Control the number of rows in chunks returned by SelectResult
  distsql/distsql_test.go
  distsql/request_builder_test.go
  distsql/select_result.go
  distsql/stream.go
  util/chunk/chunk.go
  util/chunk/chunk_test.go
Labels: component/executor, status/all tests passed, type/2.1 cherry-pick

#9181 store/tikv/region_cache: Backoff when region epoch is ahead of TiKV
  go.mod
  go.sum
  store/mockstore/mocktikv/rpc.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
Labels: component/tikv, status/LGT2

#9113 executor:adjust 'show create table' for mysql compatibility
  ddl/db_test.go
  executor/ddl_test.go
  executor/seqtest/seq_executor_test.go
  executor/show.go
  executor/show_test.go
Labels: component/executor, type/compatibility

#9294 table: fix error code different from mysql "error 1604 : locate partition failed"
  table/table.go
  table/tables/partition.go
  table/tables/tables_test.go
Labels: status/LGT2, type/bug-fix

#9229 executor: make the results of `show create table` more consistent with MySQL
  ddl/db_test.go
  executor/show.go
  executor/show_test.go
Labels: component/executor, contribution, status/LGT2, status/all tests passed, type/compatibility

#9312 changelog: add release note v2.1.4
  CHANGELOG.md
Labels: CHANGELOG, status/LGT2

#9197 planner, executor: inject proj below TopN and Sort if byItem contains scalarFunc
  executor/aggregate_test.go
  executor/sort.go
  planner/core/physical_plan_test.go
  planner/core/rule_inject_extra_projection.go
Labels: component/executor, component/planner, status/LGT2, type/bug-fix

#9279 *: start replacing logger with zap logger
  cmd/benchdb/main.go
  cmd/benchfilesort/main.go
  cmd/explaintest/main.go
  config/config.go
  ddl/ddl_test.go
  ddl/failtest/fail_db_test.go
  distsql/request_builder_test.go
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
  go.mod
  go.sum
  owner/fail_test.go
  server/http_handler.go
  server/http_handler_test.go
  server/server_test.go
  session/tidb_test.go
  sessionctx/binloginfo/binloginfo_test.go
  store/store_test.go
  tidb-server/main.go
  util/logutil/log.go
  util/logutil/log_test.go
  util/memory/tracker_test.go
Labels: component/server, status/LGT2, status/all tests passed, type/enhancement

#9314 planner, executor: add post-process after physical plan optimization and move buildProjBelowAgg from executor to planner (#8828)
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/tpch.result
  executor/builder.go
  planner/core/cbo_test.go
  planner/core/optimizer.go
  planner/core/physical_plan_test.go
  planner/core/rule_build_proj_below_agg.go
Labels: component/planner, status/LGT1, status/all tests passed, type/2.1 cherry-pick

#9153 planner, privileges: add CreateViewPriv Support
  planner/core/planbuilder.go
  privilege/privileges/cache.go
  privilege/privileges/cache_test.go
  privilege/privileges/privileges_test.go
Labels: component/privilege, status/LGT2, status/all tests passed

#9306 executor: adjust message about Charset&&Collation in 'show create table` for compatibility
  ddl/db_test.go
  executor/ddl_test.go
  executor/show.go
  executor/show_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/compatibility

#9317 executor: introduce projInjector for postOptimize (#9097)
  planner/core/optimizer.go
  planner/core/rule_inject_extra_projection.go
Labels: component/planner, status/LGT2, type/2.1 cherry-pick

#9319 planner, executor: inject proj below TopN and Sort if byItem contains scalarFunc (#9197)
  executor/aggregate_test.go
  executor/sort.go
  planner/core/physical_plan_test.go
  planner/core/rule_inject_extra_projection.go
Labels: component/planner, type/2.1 cherry-pick, type/bug-fix

#9333 planner: remove constant sort items after substitution
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/t/topn_push_down.test
  planner/core/rule_topn_push_down.go
Labels: component/planner, priority/P1, status/LGT2, status/all tests passed, type/bug-fix

#9335 planner: remove constant sort items after substitution (#9333)
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/t/topn_push_down.test
  planner/core/rule_topn_push_down.go
Labels: component/planner, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#9226 ddl: fix canceling model.ActionRebaseAutoID and model.ActionShardRowID ddl jobs
  ddl/column.go
  ddl/ddl_worker_test.go
  ddl/foreign_key.go
  ddl/index.go
  ddl/partition.go
  ddl/rollingback.go
  ddl/table.go
  util/admin/admin.go
Labels: component/DDL-need-LGT3, status/LGT3

#9339 executor, session: refine insert unsigned bigint autoIncreID (#8181)
  ddl/column_change_test.go
  ddl/ddl_api.go
  ddl/table.go
  ddl/table_test.go
  executor/executor_test.go
  executor/insert_common.go
  go.mod
  go.sum
  infoschema/builder.go
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  meta/meta.go
  session/session_test.go
  util/admin/admin_test.go
Labels: type/2.1 cherry-pick, type/bug-fix

#9332 session: add current DB name to the general log
  session/session.go
Labels: status/LGT2, status/all tests passed, type/enhancement

#9320 plugin: support `flush tidb plugin {name}` in tidb-server
  executor/simple.go
  go.mod
  go.sum
  plugin/conn_ip_example/conn_ip_example_test.go
  plugin/plugin.go
  plugin/spi.go
  session/session.go
  tidb-server/main.go
Labels: component/plugin, status/LGT1, status/all tests passed, type/enhancement

#9302 value_expr: add charset value for string expr
  types/parser_driver/value_expr.go
Labels: component/charset, component/parser, status/LGT1, type/enhancement

#9338 ddl: make TiDB treat charset and collate case insensitive #8577
  ddl/integration_test.go
  util/charset/charset.go
  util/charset/charset_test.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#9115 * fix timestamp default value bug in multiple time zones.
  ddl/column.go
  ddl/ddl_api.go
  executor/executor_test.go
  executor/show.go
  executor/write_test.go
  table/column.go
Labels: require-LGT3, status/LGT3, status/all tests passed, type/bug-fix

#9329 doc: remove the document of the http disk usage api
  docs/tidb_http_api.md
Labels: component/docs, status/LGT2

#9330 doc: remove the document of the http disk usage api (#9329)
  docs/tidb_http_api.md
Labels: component/docs, status/LGT2, type/2.1 cherry-pick

#9024 table: add a http api to control whether tidb check inserting 4 bytes in utf8 charset column
  server/http_handler.go
  server/http_handler_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: component/server, status/LGT2, status/all tests passed

#9098 executor: support window function row number
  executor/aggfuncs/builder.go
  executor/aggfuncs/row_number.go
  executor/window_test.go
  expression/aggregation/base_func.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#9342 config: show tidb_force_priority should be same as config
  tidb-server/main.go
Labels: component/server, status/LGT1, status/all tests passed, type/bug-fix

#9212 add integration tests for access path selection
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/t/access_path_selection.test
Labels: component/planner, status/LGT2

#9347 config: show tidb_force_priority should be same as config (#9342)
  tidb-server/main.go
Labels: component/server, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9346 session: add current DB name to general log (#9332)
  session/session.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/enhancement

#9261 planner, expression: support builtin function `NAME_CONST`
  expression/builtin_miscellaneous.go
  expression/builtin_miscellaneous_test.go
  expression/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/preprocess.go
Labels: component/expression, component/planner, contribution, status/LGT2, status/all tests passed

#9309 executor,planner: support show create view
  ddl/ddl.go
  ddl/ddl_api.go
  executor/ddl_test.go
  executor/errors.go
  executor/show.go
  executor/show_test.go
  planner/core/planbuilder.go
Labels: component/executor, contribution, status/LGT2, status/all tests passed

#9337 planner/core: implement skyline pruning
  cmd/explaintest/main.go
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/r/window_function.result
  docs/design/README.md
  expression/util.go
  go.mod
  planner/core/find_best_task.go
  planner/core/logical_plan_test.go
  statistics/selectivity_test.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#9349 expression: return null when cast to huge binary type (#8768)
  expression/builtin_cast.go
  expression/builtin_cast_test.go
  types/datum.go
Labels: component/expression, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/enhancement

#9350 expression: return null when cast to huge binary type (#8768)
  expression/builtin_cast.go
  expression/builtin_cast_test.go
  types/datum.go
Labels: component/expression, status/LGT1, status/all tests passed, type/2.0 cherry-pick, type/enhancement

#9094 expression: refactor constant folding for IF&IFNULL
  expression/constant_fold.go
  expression/constant_fold_test.go
Labels: component/expression, status/LGT1, status/all tests passed, type/enhancement

#9351 expression: refactor constant folding for IF&IFNULL (#9094)
  expression/constant_fold.go
  expression/constant_fold_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9323 ddl: check unique key constraint for 'alter table add index' on partitioned table
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/partition.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed, type/bug-fix

#9057 *: collect coprocessor runtime stats for `explain analyze`
  distsql/distsql.go
  distsql/distsql_test.go
  distsql/select_result.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/table_reader.go
  go.mod
  go.sum
  planner/core/cbo_test.go
  planner/core/common_plans.go
  store/mockstore/mocktikv/aggregate.go
  store/mockstore/mocktikv/analyze.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/executor.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: component/executor, component/tikv, status/LGT2

#9352 ddl: fix cancel drop column ddl error
  ddl/db_test.go
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  util/admin/admin.go
Labels: status/LGT2, type/2.1 cherry-pick

#8938 ddl :fix cancel add/drop partitioned table ddl job
  ddl/db_test.go
  ddl/rollingback.go
  util/admin/admin.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#9354 Control the number of rows in chunks returned by LimitExec
  executor/executor.go
  executor/executor_required_rows_test.go
Labels: component/executor, status/LGT2

#9303 planner: change the cost formula for join reorder
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/tpch.result
  planner/core/cbo_test.go
  planner/core/rule_join_reorder_greedy.go
Labels: component/planner, status/LGT2, type/enhancement

#9356 planner/core: implement skyline pruning (#9337)
  cmd/explaintest/main.go
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/t/access_path_selection.test
  expression/util.go
  go.mod
  go.sum
  planner/core/find_best_task.go
  planner/core/logical_plan_test.go
  statistics/selectivity_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/enhancement

#9127 Push down condition check to TiKV for `prewrite` request
  go.mod
  go.sum
  kv/union_store.go
  kv/union_store_test.go
  store/mockstore/mocktikv/errors.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/txn.go
Labels: component/coprocessor, status/LGT2, status/all tests passed

#8811 ddl: support alter algorithm INPLACE/INSTANT
  ddl/db_integration_test.go
  ddl/ddl.go
  ddl/ddl_algorithm.go
  ddl/ddl_algorithm_test.go
  ddl/ddl_api.go
  go.mod
  go.sum
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/new-feature

#9326 planner: refactor 'Can't find column' panic to error
  planner/core/cbo_test.go
  planner/core/plan.go
  planner/core/rule_column_pruning.go
  planner/failtest/fail_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#9322 update Dockerfile to build master
  Dockerfile
Labels: component/tools, status/LGT2

#9365 sessionctx: show correct TiDB port instead of 3306
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
Labels: component/usability, status/LGT2

#9359 Control the number of rows in chunks returned by LimitExec (#9354)
  executor/executor.go
  executor/executor_required_rows_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9343 *: support variable `log_bin`
  executor/set_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
Labels: component/binlog, contribution, status/LGT2

#9082 ddl,table/tables: handle partition by range column when len(column)=1
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/partition.go
  ddl/table.go
  table/tables/partition.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/bug-fix, type/new-feature

#9376 ddl :fix cancel add/drop partitioned table ddl job
  ddl/db_test.go
  ddl/rollingback.go
  ddl/table.go
  util/admin/admin.go
Labels: component/DDL-need-LGT3, status/LGT1, status/LGT2, type/2.1 cherry-pick

#9364 executor: control Chunk size for TopN&Sort
  executor/executor_required_rows_test.go
  executor/sort.go
Labels: component/executor, status/LGT2, status/all tests passed

#9240 *: support "show create user"
  executor/show.go
  executor/show_test.go
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
  privilege/privilege.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
  util/testkit/testkit.go
Labels: contribution, status/LGT1, status/all tests passed, type/new-feature

#9367 ddl: return warnings when the alter algorithm is COPY, return errors when the algorithm is wrong
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#9358 executor: support row framed window functions
  executor/builder.go
  executor/window.go
  executor/window_test.go
Labels: component/executor, status/LGT2, type/enhancement

#9399 * fix timestamp default value bug in multiple time zones. (#9115) (#9108)
  ddl/column.go
  ddl/ddl_api.go
  executor/admin_test.go
  executor/executor_test.go
  executor/show.go
  go.mod
  go.sum
  table/column.go
  util/admin/admin.go
Labels: status/LGT1, type/2.1 cherry-pick, type/bug-fix

#9402 go.mod: update parser
  go.mod
  go.sum
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9383 server, sessionctx: workaround var initialization
  sessionctx/variable/sysvar.go
  tidb-server/main.go
Labels: status/LGT2, status/all tests passed, type/bug-fix

#9385 ddl: add err check in table.go
  ddl/table.go
Labels: component/DDL-need-LGT3, require-LGT3, status/LGT2, status/all tests passed, type/bug-fix

#9405 plan: handle DNF expressions in `Selectivity` (#9282)
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/s/explain_easy_stats_tbl_dnf.json
  cmd/explaintest/t/explain_easy_stats.test
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plans.go
  statistics/selectivity.go
  util/ranger/detacher.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT1, status/all tests passed, type/2.1 cherry-pick, type/enhancement

#9404 plan: check null and empty for `!= any(subq)` and `= all(subq)` (#9106)
  plan/expression_rewriter.go
  plan/expression_rewriter_test.go
Labels: component/planner, status/LGT1, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#9403 planner: check null and empty for `!= any(subq)` and `= all(subq)` (#…
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
Labels: component/planner, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9408 http: add http api for get db and table info that is related to the tableID (#8256)
  docs/tidb_http_api.md
  infoschema/infoschema.go
  server/http_handler.go
  server/http_handler_test.go
  server/http_status.go
Labels: component/server, status/LGT2, type/2.1 cherry-pick

#9344 expression: ECB/CBC modes with 128/192/256-bit key length for AES (#7425)
  expression/builtin_encryption.go
  expression/builtin_encryption_test.go
  expression/errors.go
  expression/integration_test.go
  session/session.go
  sessionctx/variable/sysvar.go
  util/encrypt/aes.go
  util/encrypt/aes_test.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick

#9409 plugin: update conn_ip_example_test.go
  plugin/conn_ip_example/conn_ip_example_test.go
Labels: component/test, contribution, status/LGT2

#9401 executor: add an variable to compatible with MySQL insert for OGG (#7863)
  executor/insert_common.go
  executor/set_test.go
  executor/write_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9324 expression: should not pass nil pointer to HashCode() function
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/t/partition_pruning.test
  expression/constraint_propagation.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix

#9407 ddl: fix NO_ZERO_DATE handled incorrectly (#8765)
  ddl/ddl_api.go
  ddl/integration_test.go
Labels: status/LGT1, status/all tests passed, type/2.0 cherry-pick

#9392 table: fix error code different from mysql "error 1604 : locate partition failed"
  table/table.go
  table/tables/partition.go
  table/tables/tables_test.go
Labels: status/LGT1, status/all tests passed, type/2.1 cherry-pick

#9400 ddl: fix NO_ZERO_DATE handled incorrectly (#8765)
  ddl/db_integration_test.go
  ddl/ddl.go
  ddl/ddl_api.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9374 *: merge statement buffer when BatchGetValues
  ddl/index.go
  executor/admin.go
  executor/batch_checker.go
  executor/write_test.go
  kv/fault_injection.go
  kv/kv.go
  kv/mock.go
  kv/txn.go
  session/txn.go
  store/tikv/txn.go
Labels: component/executor, component/session, component/transaction-need-LGT3, status/LGT3, status/all tests passed, type/bug-fix

#9410 domain: make tests stable
  domain/schema_validator_test.go
Labels: component/test, status/all tests passed

#9375 ddl: fix cancel rename index ddl error
  ddl/db_test.go
  ddl/rollingback.go
  util/admin/admin.go
Labels: status/LGT2, type/2.1 cherry-pick

#9412 test: fix gofail test race
  session/txn.go
Labels: component/test, status/LGT1, status/all tests passed

#9414 *: merge statement buffer when BatchGetValues (#9374)
  ddl/index.go
  executor/admin.go
  executor/batch_checker.go
  executor/write_test.go
  kv/fault_injection.go
  kv/kv.go
  kv/mock.go
  kv/txn.go
  session/txn.go
  store/tikv/txn.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9416 *: merge statement buffer when BatchGetValues (#9374)
  ddl/index.go
  executor/admin.go
  executor/write.go
  executor/write_test.go
  kv/fault_injection.go
  kv/kv.go
  kv/mock.go
  kv/txn.go
  session/txn.go
  store/tikv/txn.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#9417 test: fix gofail race (#9412)
  session/txn.go
Labels: component/test, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9345 ddl: fix unique key constraint check for 'create table'
  ddl/column.go
  ddl/db_partition_test.go
  ddl/partition.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/bug-fix

#8977 ddl: fix cancel truncate table ddl error
  ddl/db_test.go
  ddl/rollingback.go
  util/admin/admin.go
Labels: component/DDL-need-LGT3, status/LGT2

#9413 sessionctx/variable: Add correctness check when set system variables (#7117), (#8876)
  executor/ddl_test.go
  executor/set_test.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: status/LGT1, status/all tests passed, type/2.0 cherry-pick, type/enhancement

#9387 expression: refactor builtin function RAND to be compatible with MySQL
  expression/builtin_math.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, type/bug-fix

#9394 statistics: add PhysicalID to Column
  statistics/bootstrap.go
  statistics/dump.go
  statistics/handle.go
  statistics/histogram.go
  statistics/selectivity.go
  statistics/table.go
Labels: component/statistics, status/LGT2

#9377 session,privilege: upgrade TiDB, prepare data for RBAC
  go.mod
  go.sum
  privilege/privileges/cache.go
  privilege/privileges/cache_test.go
  privilege/privileges/errors.go
  session/bootstrap.go
  session/bootstrap_test.go
  session/session.go
Labels: status/LGT1, status/all tests passed, type/TEP

#9415 ddl:fix ineffassign and mis-spell
  ddl/db_test.go
  ddl/ddl_algorithm_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT3

#9388 executor, ddl: get the correct result of "show create table" when adding the first index to the table
  ddl/db_change_test.go
  executor/show.go
Labels: component/executor, status/LGT2, type/bug-fix

#9421 executor, ddl: get the correct result of "show create table" when add ing the first index to the table (#9388)
  ddl/db_change_test.go
  executor/show.go
Labels: component/executor, status/LGT1, status/all tests passed, type/2.1 cherry-pick

#9422 executor, ddl: get the correct result of "show create table" when add ing the first index to the table (#9388)
  ddl/ddl_db_change_test.go
  executor/show.go
Labels: component/executor, status/LGT1, status/all tests passed, type/2.0 cherry-pick

#9390 executor, planner: refine merge join compare methods to avoid some rare cases
  executor/builder.go
  executor/merge_join.go
  executor/merge_join_test.go
  expression/builtin_compare.go
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plans.go
  util/set/int_set.go
Labels: component/executor, component/planner, status/LGT1, status/all tests passed, type/bug-fix

#9435 planner: remove correlated column sort items
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/t/topn_push_down.test
  planner/core/rule_topn_push_down.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#9438 executor, planner: refine merge join compare methods to avoid some rare cases (#9390)
  executor/builder.go
  executor/merge_join.go
  executor/merge_join_test.go
  expression/builtin_compare.go
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plans.go
  util/set/int_set.go
Labels: component/executor, type/2.1 cherry-pick

#9051 plan/executor: make semi joins null and empty aware
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  executor/executor.go
  executor/index_lookup_join.go
  executor/join.go
  executor/join_test.go
  executor/joiner.go
  executor/merge_join.go
  executor/merge_join_test.go
  executor/union_scan.go
  expression/chunk_executor.go
  expression/column.go
  expression/constant_propagation.go
  expression/constant_propagation_test.go
  expression/expression.go
  expression/util.go
  planner/core/cbo_test.go
  planner/core/expression_rewriter.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/rule_eliminate_projection.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_push_down.go
Labels: component/executor, component/planner, status/LGT1, status/all tests passed, type/bug-fix

#9204 planner/core: fix Wrong behavior of prepare && execute
  planner/core/logical_plan_builder.go
  planner/core/prepare_test.go
Labels: component/planner, contribution, status/LGT2, status/all tests passed, type/bug-fix

#9440 planner: remove correlated column sort items (#9435)
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/t/topn_push_down.test
  planner/core/rule_topn_push_down.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9447 expression: refactor builtin function RAND to be compatible with MySQL (#9387)
  expression/builtin_math.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#9446 expression: refactor builtin function RAND to be compatible with MySQL (#9387)
  expression/builtin_math.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#9449 plan/executor: make semi joins null and empty aware (#9051)
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  executor/executor.go
  executor/index_lookup_join.go
  executor/join.go
  executor/join_test.go
  executor/joiner.go
  executor/merge_join.go
  executor/merge_join_test.go
  executor/union_scan.go
  expression/chunk_executor.go
  expression/column.go
  expression/constant_propagation.go
  expression/expression.go
  expression/util.go
  planner/core/cbo_test.go
  planner/core/expression_rewriter.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/rule_eliminate_projection.go
  planner/core/rule_predicate_push_down.go
Labels: component/executor, component/planner, status/LGT1, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9420 executor,sessionctx: Add correctness for more system variables (#7196)
  executor/set_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/enhancement

#9233 stats: reduce stats collecor's lock contention
  statistics/update.go
  statistics/update_list_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/enhancement

#9451 stats: reduce stats collecor's lock contention (#9233)
  statistics/update.go
  statistics/update_list_test.go
Labels: component/statistics, status/LGT1, type/2.1 cherry-pick, type/enhancement

#9448 session: fix account_locked for root
  privilege/privileges/cache_test.go
  session/bootstrap.go
  session/bootstrap_test.go
Labels: component/session, status/LGT1, status/all tests passed, type/bug-fix

#9445 stats: restrict the adjust factor for index feedback
  statistics/feedback.go
  statistics/update_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/enhancement

#9398 executor: control Chunk size for Selection&Projection
  executor/executor.go
  executor/executor_required_rows_test.go
  executor/projection.go
Labels: component/executor, status/LGT2, status/all tests passed

#9459 stats: restrict the adjust factor for index feedback (#9445)
  statistics/feedback.go
  statistics/update_test.go
Labels: component/statistics, status/LGT2, type/2.1 cherry-pick, type/enhancement

#9207 ddl: write binlog when ddl job state is done.
  ddl/ddl_worker.go
Labels: component/binlog, priority/release-blocker, status/LGT3

#9470 admin: fix admin check table err when add column not null, then add index on the column (#9108)
  executor/admin_test.go
  util/admin/admin.go
Labels: type/2.0 cherry-pick, type/bug-fix
