Repository pingcap/tidb, pull requests merged in 2019-03, with the labels that each got.

#9461 executor: add `CREATE ROLE` support
  executor/simple.go
  go.mod
  go.sum
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/TEP

#9511 executor: tiny refactor, remove `physicalTableID` from the three reader
  executor/builder.go
  executor/distsql.go
  executor/executor_test.go
  executor/table_reader.go
Labels: component/executor, status/LGT1, status/all tests passed, type/enhancement

#9234 ddl: disallow generated column referring to auto_increment column
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/generated_column.go
  executor/ddl_test.go
  executor/executor_test.go
Labels: component/DDL-need-LGT3, contribution, status/LGT3

#9516 types: provide a default slice capacity for result of ParseDateFormat
  types/time.go
Labels: component/expression, status/LGT2, status/all tests passed, type/performance

#9506 ddl: fix canceling model.ActionRebaseAutoID and model.ActionShardRowID ddl jobs (#9226)
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  util/admin/admin.go
Labels: type/2.1 cherry-pick

#9454 *: sleep 0 when retry whole transaction
  executor/adapter.go
  executor/compiler.go
  executor/executor_test.go
  executor/metrics_test.go
  executor/prepared.go
  expression/integration_test.go
  expression/typeinfer_test.go
  planner/core/cbo_test.go
  planner/core/common_plans.go
  planner/core/logical_plan_test.go
  planner/core/physical_plan_test.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
  session/session_fail_test.go
  statistics/selectivity_test.go
  store/tikv/2pc.go
  store/tikv/sql_fail_test.go
  util/ranger/ranger_test.go
Labels: component/planner, component/transaction-need-LGT3, status/LGT2, status/all tests passed, type/bug-fix

#9428 executor: only use the transaction buffer for union scan
  executor/union_scan.go
Labels: component/executor, status/LGT2, status/all tests passed

#9327 ddl: validate fsp for datetime/timestamp if they are used as defaultvalue of datetime/timestamp columns
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/t/topn_push_down.test
  ddl/ddl.go
  ddl/ddl_api.go
  executor/ddl_test.go
Labels: component/DDL-need-LGT3, contribution, status/LGT3, status/all tests passed, type/compatibility

#9533 sessionctx/variable: fix panic when set variable=''
  expression/integration_test.go
  sessionctx/variable/varsutil.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#9504 increase wait time in TestProjectionParallelRequiredRows to fix CI problem
  executor/executor_required_rows_test.go
Labels: component/executor, status/LGT2, status/all tests passed

#9439 planner/core: code refactor around join reorder
  planner/core/optimizer.go
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_greedy.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#9456 planner, executor: support SQL `show pump/drainer status`
  executor/show.go
  planner/core/planbuilder.go
Labels: component/binlog, contribution, status/LGT2

#9542 planner: fix false negative "full group by" check for agg in subquery
  planner/core/expression_rewriter_test.go
  planner/core/logical_plan_builder.go
Labels: component/planner, status/LGT1, status/all tests passed, type/bug-fix

#9541 sessionctx/variable: fix panic when set variable='' (#9533)
  expression/integration_test.go
  sessionctx/variable/varsutil.go
Labels: component/executor, status/LGT2, type/2.0 cherry-pick, type/bug-fix

#9539 sessionctx/variable: fix panic when set variable='' (#9533)
  expression/integration_test.go
  sessionctx/variable/varsutil.go
Labels: component/executor, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#9546 planner: convert SemiJoin to InnerJoin in more cases
  planner/core/expression_rewriter.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/rule_column_pruning.go
  planner/core/rule_decorrelate.go
Labels: component/planner, status/LGT1, status/all tests passed, type/enhancement

#9547 util: fix issue #9532, quote database name before running SQL with it
  util/kvencoder/kv_encoder.go
  util/kvencoder/kv_encoder_test.go
Labels: status/LGT2, status/all tests passed, type/bug-fix

#9551 planner: fix false negative "full group by" check for agg in subquery (#9542)
  planner/core/expression_rewriter_test.go
  planner/core/logical_plan_builder.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9555 store/tikv: add sanity check for startTS in 2pc
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: component/transaction-need-LGT3, status/LGT3, status/all tests passed

#9558 store/tikv: add sanity check for startTS in 2pc (#9555)
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: status/LGT1, status/all tests passed, type/2.0 cherry-pick

#9559 store/tikv: add sanity check for startTS in 2pc (#9555)
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: status/LGT1, status/all tests passed, type/2.1 cherry-pick

#9563 executor: add error check
  executor/executor_test.go
Labels: component/executor, component/test, status/LGT1, status/all tests passed

#9512 executor: control Chunk size for StreamAgg&HashAgg
  executor/aggregate.go
  executor/executor_required_rows_test.go
Labels: component/executor, status/LGT2

#9544 planner, executor: handle default frame for window functions
  cmd/explaintest/r/window_function.result
  executor/builder.go
  executor/window.go
  executor/window_test.go
  expression/aggregation/window_func.go
  planner/core/errors.go
  planner/core/explain.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/resolve_indices.go
Labels: component/executor, component/planner, status/LGT2, status/all tests passed, type/enhancement

#9560 executor: support window function first_value and last_value
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_value.go
  executor/window_test.go
  expression/aggregation/base_func.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#9406 executor: use single batch for insert
  executor/insert_common.go
Labels: component/executor, status/LGT1, status/all tests passed

#9575 domain, store/tikv: enable etcd client auto sync
  domain/domain.go
  store/tikv/kv.go
Labels: status/LGT1, type/bug-fix

#9587 plan: use `Column.UniqueID` in `conditionChecker` of ranger (#8236)
  planner/core/rule_partition_processor.go
  statistics/selectivity.go
  table/tables/partition.go
  util/ranger/checker.go
  util/ranger/detacher.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT1, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9491 ddl:fix data race in call_back_test.go
  ddl/foreign_key_test.go
Labels: component/test, status/LGT1

#9574 executor: Chunk size control test for Limit+TableScan and Limit+IndexScan
  executor/chunk_size_control_test.go
Labels: component/executor, status/LGT2

#9572 build: add check-static in test
  Makefile
  ddl/reorg.go
  table/tables/tables.go
Labels: component/build, component/test, type/enhancement

#9524 ddl: fix cancel drop table/database ddl job bug. (#8537)
  ddl/ddl_db_test.go
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  ddl/schema.go
  ddl/table.go
  util/admin/admin.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/2.0 cherry-pick

#9043 variable: change "ddl_slow_threshold"
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: status/LGT1, status/all tests passed, type/enhancement

#9584 *: update go-proxyprotocol version
  go.mod
  go.sum
Labels: component/server, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9583 *: update go-proxyprotocol version
  go.mod
  go.sum
Labels: component/server, status/LGT2, status/all tests passed

#9585 *: update go-proxyprotocol version
  go.mod
  go.sum
Labels: component/server, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#9595 util: fix issue #9532, quote database name before running SQL with it
  util/kvencoder/kv_encoder.go
  util/kvencoder/kv_encoder_test.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9553 docs: change all the MySQL version from 5.7.10 to 5.7.25
  docs/tidb_http_api.md
  go.mod
  go.sum
Labels: component/docs, status/LGT2

#9556 update go.mod
  go.mod
  go.sum
Labels: component/server, status/LGT2, type/2.1 cherry-pick

#9526 ddl: fix data race in test
  ddl/ddl_worker_test.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#9600 domain, store/tikv: enable etcd client auto sync (#9575)
  domain/domain.go
  store/tikv/kv.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9599 domain, store/tikv: enable etcd client auto sync (#9575)
  domain/domain.go
  store/tikv/kv.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick

#9605 planner: fix window func support
  executor/executor_test.go
  planner/core/logical_plan_builder.go
Labels: component/planner, contribution, status/LGT1, type/bug-fix

#9510 ddl: fix canceling model.ActionRebaseAutoID and model.ActionShardRowID ddl jobs (#9226)
  ddl/column.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/foreign_key.go
  ddl/index.go
  ddl/rollingback.go
  ddl/table.go
  util/admin/admin.go
Labels: status/LGT2, type/2.0 cherry-pick

#9610 ddl_test: fix the wrong test
  ddl/ddl_worker_test.go
  go.sum
Labels: component/test

#9611 build:fix `git describe` in sometimes fatal.
  Makefile
Labels: component/build

#9612 ddl_test: fix the wrong test #9610
  ddl/ddl_worker_test.go
  go.sum
Labels: type/2.1 cherry-pick

#9579 planner: chose outer table based on cost when both tables are specified in TIDB_INLJ
  cmd/explaintest/r/index_join.result
  cmd/explaintest/t/index_join.test
  executor/index_lookup_join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#9180 *: add assertion in kvproto to check data consistency
  executor/admin.go
  executor/admin_test.go
  executor/executor_test.go
  go.sum
  kv/kv.go
  kv/mock.go
  kv/union_store.go
  store/mockstore/mocktikv/errors.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/2pc.go
  store/tikv/txn.go
  table/index.go
  table/tables/index.go
  table/tables/index_test.go
  table/tables/tables.go
  util/admin/admin_test.go
Labels: component/tikv, status/LGT2

#9618 build:add codecov.yml
  .codecov.yml
  Makefile
Labels: component/build, priority/non-release-blocker, status/LGT1

#9548 log,server: add contextual log util & test it in conn.go
  go.mod
  go.sum
  server/conn.go
  server/conn_test.go
  server/server.go
  util/logutil/log.go
Labels: component/usability, status/LGT1, status/all tests passed

#9603 ddl: refine cancel modify column, add/drop foreign key rollback (#9419)
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  util/admin/admin.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9531 ddl: check no partitions error when create partition table
  ddl/db_partition_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/partition.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed, type/bug-fix

#9613 ddl: refine cancel modify column, add/drop foreign key rollback (#9419)
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  util/admin/admin.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed, type/2.0 cherry-pick

#9594 stats: fix data race when updating correlation
  statistics/table.go
Labels: component/statistics, status/LGT2, type/bug-fix

#9617 expression,types: improve `str_to_date` builtin function compatibility
  expression/builtin_time_test.go
  types/time.go
Labels: status/LGT2, type/compatibility

#9299 *: upgrade to go 1.12
  .travis.yml
  Dockerfile
  circle.yml
  go.sum
  tools/check/go.sum
Labels: component/build, contribution, status/LGT2, status/all tests passed

#9626 planner: Fix Error message about `select ... inner join` is not same with MYSQL.(#9573)
  planner/core/preprocess.go
  planner/core/preprocess_test.go
Labels: component/planner, contribution, status/LGT1, status/all tests passed

#9629 expression: remove useless functin fieldTypeFromPB
  expression/distsql_builtin.go
Labels: component/expression

#9290 *: refactor slow log format and parse slow query log to `SLOW_QUERY` table.
  config/config.go
  config/config.toml.example
  executor/adapter.go
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  infoschema/tables.go
  infoschema/tables_test.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
  util/logutil/log.go
  util/logutil/log_test.go
Labels: component/usability, type/enhancement

#9615 planner: chose outer table based on cost when both tables are specified in TIDB_INLJ (#9579)
  cmd/explaintest/r/index_join.result
  cmd/explaintest/t/index_join.test
  executor/index_lookup_join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
Labels: component/planner, status/LGT1, type/2.1 cherry-pick

#9497 planner: correct `ExpectedCnt` for children plans of join
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/t/topn_push_down.test
  executor/index_lookup_join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/stats.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#9634 *: support variable `log_bin`
  executor/set_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
Labels: component/binlog, status/LGT2, type/2.1 cherry-pick

#9253 executor, types: update tests for the description format of type year
  executor/seqtest/seq_executor_test.go
  go.mod
  go.sum
  types/field_type_test.go
Labels: component/executor, contribution, status/LGT3, status/all tests passed

#6316 expression: support bit for addtime & subtime
  expression/builtin_time.go
  expression/integration_test.go
Labels: contribution, status/LGT2, status/all tests passed

#9640 executor: remove a redundant `GetInfoSchema` call
  executor/prepared.go
Labels: component/executor, status/LGT1, type/enhancement

#9631 planner: cleanup unnecessary warning in join elimination
  planner/core/rule_join_elimination.go
Labels: component/planner, contribution, status/LGT2, type/enhancement

#9643 server: allocate slice from memory pool
  server/conn.go
Labels: component/server, status/LGT2, type/enhancement

#9627 planner: fix select denied message
  planner/core/logical_plan_builder.go
  privilege/privileges/privileges_test.go
Labels: component/planner, component/privilege, contribution, status/LGT2

#9644 planner: the expression field name disappears when there's window function
  executor/executor_test.go
  planner/core/logical_plan_builder.go
Labels: component/planner, status/LGT2, type/bug-fix

#9619 executor: support window function cume_dist
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_cume_dist.go
  executor/aggfuncs/func_rank.go
  executor/window_test.go
  expression/aggregation/base_func.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#9580 ddl: fix create table with like bug when refer table has non-public column/index
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT3, type/bug-fix

#9567 planner/core: fix unexpected error of window function
  go.mod
  go.sum
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, status/LGT2, type/bug-fix

#9649 planner: correct `ExpectedCnt` for children plans of join (#9497)
  plan/gen_physical_plans.go
  plan/stats.go
Labels: component/planner, status/LGT1, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#9625 binlog: update binlog enable config && add tidb_log_bin system variable
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/set_test.go
  session/session.go
  sessionctx/binloginfo/binloginfo.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
Labels: component/binlog, status/LGT2, status/all tests passed

#9596 executor: support window function nth_value
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_value.go
  executor/window_test.go
  expression/aggregation/base_func.go
  expression/aggregation/window_func.go
  expression/util.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#9637 planner, executor: check col.OrigColName instead of col.ColName in isCoveringIndex
  executor/executor_test.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
Labels: component/planner, status/LGT1, type/bug-fix

#9652 ddl: fix create table with like bug when refer table has non-public column/index (#9580)
  ddl/db_test.go
  ddl/ddl_api.go
Labels: status/LGT1, type/2.1 cherry-pick

#9653 ddl: fix create table with like bug when refer table has non-public column/index (#9580)
  ddl/ddl_api.go
  ddl/ddl_db_test.go
Labels: status/LGT2, type/2.0 cherry-pick

#9660 *: tiny refactor, more go idiom
  executor/executor.go
  util/memory/tracker.go
Labels: status/LGT2

#9673 log: temporary remove recvTs from context log
  server/conn.go
  util/logutil/log.go
Labels: status/all tests passed, type/bug-fix

#9676 executor: fix data race in testChunkSizeControlSuite
  executor/chunk_size_control_test.go
Labels: component/executor, status/LGT2, type/bug-fix

#9647 planner: correct `ExpectedCnt` for children plans of join (#9497)
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/t/topn_push_down.test
  planner/core/exhaust_physical_plans.go
  planner/core/stats.go
Labels: component/planner, status/LGT1, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9601 planner/core: match prefix columns when choosing index join
  planner/core/cbo_test.go
  planner/core/exhaust_physical_plans.go
Labels: component/planner, contribution, status/LGT1, type/enhancement

#9658 planner, executor: check col.OrigColName instead of col.ColName in isCoveringIndex (#9637)
  executor/executor_test.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
Labels: component/executor, component/planner, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#9650 types: use switch table to save memory
  CONTRIBUTING.md
  expression/builtin_cast.go
  statistics/feedback.go
  types/convert.go
  types/datum.go
Labels: component/expression, contribution, type/enhancement

#9679 statistics,store: tidy local variable
  statistics/histogram.go
  store/tikv/backoff.go
Labels: status/LGT1, status/all tests passed

#9671 executor: add window function PERCENT_RANK
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_percent_rank.go
  executor/window_test.go
  expression/aggregation/base_func.go
Labels: component/executor, status/LGT2, type/enhancement

#9434 sessionctx: change "server_uuid" fake value
  sessionctx/variable/sysvar.go
Labels: component/session, status/LGT2

#9684 planner, executor: set new child after injecting Project operator
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/topn_pushdown.result
  cmd/explaintest/t/topn_pushdown.test
  executor/join_test.go
  planner/core/physical_plan_test.go
  planner/core/rule_inject_extra_projection.go
  planner/core/rule_topn_push_down.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#9616 executor: add `DROP ROLE` support
  executor/simple.go
  executor/simple_test.go
  go.mod
  go.sum
  planner/core/planbuilder.go
Labels: component/executor, status/LGT1, status/all tests passed, type/TEP

#9685 expression: fix week func format
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/errors.go
  go.sum
  tools/check/go.sum
  types/time.go
Labels: component/expression, contribution, status/LGT1

#9696 statistics: stabilize sort order when computing correlation
  statistics/handle_test.go
  statistics/sample.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/bug-fix

#9602 ddl: add rolling back for rename table, modify table charset, truncate table partition
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  ddl/table_test.go
  util/admin/admin.go
Labels: component/DDL-need-LGT3, status/LGT3

#9694 planner: tiny refactor for building table scan
  planner/core/find_best_task.go
  planner/core/logical_plans.go
  util/ranger/detacher.go
Labels: component/planner, status/LGT1, status/all tests passed, type/enhancement

#9681 session,executor: performance improvement in SetProcessInfo
  executor/executor_pkg_test.go
  executor/show.go
  session/session.go
  util/processinfo.go
Labels: component/executor, component/session, status/LGT1, type/performance

#9692 planner, executor: set new child after injecting Project operator (#9684)
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/topn_pushdown.result
  cmd/explaintest/t/topn_pushdown.test
  executor/join_test.go
  planner/core/physical_plan_test.go
  planner/core/rule_inject_extra_projection.go
  planner/core/rule_topn_push_down.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9695 CONTRIBUTING.md: update commit message and pull request style
  CONTRIBUTING.md
Labels: component/docs, status/LGT2

#9630 planner: unify the log format
  planner/core/logical_plans.go
  planner/core/logical_plans_test.go
  planner/core/stats.go
Labels: component/planner, status/LGT2

#9703 session: skip loading previlige when "skip-grant-table" is enabled (#9654)
  session/session.go
Labels: component/privilege, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#9609 expression: add builtin json_array_append
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/distsql_builtin.go
Labels: component/expression, status/LGT2, status/all tests passed

#9706 ddl: add rolling back for rename table, modify table charset, truncate table partition (#9602)
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  ddl/table_test.go
  util/admin/admin.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9693 types: fix incompatible issue for builtin function `str_to_date`
  expression/builtin_time_test.go
  types/time.go
Labels: component/expression, status/LGT2, type/bug-fix, type/compatibility

#9662 log: generate digest and log it in slow log
  domain/topn_slow_query.go
  executor/adapter.go
  executor/executor.go
  executor/prepared.go
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  infoschema/tables_test.go
  planner/core/planbuilder.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: component/usability, status/LGT2, status/all tests passed

#9704 planner: fix the bug when resolving `WindowSpec`
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, status/LGT2, type/bug-fix

#9672 executor: support window function lead and lag
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_lead_lag.go
  executor/window_test.go
  expression/aggregation/base_func.go
  expression/aggregation/window_func.go
  expression/builtin_control.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#9521 executor: replace logger with zap logger
  executor/adapter.go
  executor/admin.go
  executor/aggregate.go
  executor/analyze.go
  executor/checksum.go
  executor/compiler.go
  executor/ddl.go
  executor/distsql.go
  executor/executor.go
  executor/index_lookup_join.go
  executor/insert.go
  executor/insert_common.go
  executor/load_data.go
  executor/projection.go
  executor/radix_hash_join.go
  executor/replace.go
  executor/set.go
  executor/show_stats.go
  executor/simple.go
  executor/write.go
  util/logutil/log.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#9718 executor: fix goroutine leak in unit tests
  executor/chunk_size_control_test.go
Labels: component/executor, status/LGT2, type/bug-fix

#9701 statistics: set correlation when loading needed column histogram
  statistics/handle.go
  statistics/histogram.go
  statistics/table.go
  statistics/update_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/bug-fix

#9688 binlog: update config for backward compatibility
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/set_test.go
  session/session.go
  sessionctx/binloginfo/binloginfo.go
  tidb-server/main.go
Labels: component/binlog, status/LGT2, status/all tests passed, type/compatibility

#9507 expression: using pingcap/log and unify the log format
  expression/builtin_string.go
  expression/builtin_time.go
  expression/constant.go
  expression/constant_fold.go
  expression/constant_propagation.go
  expression/constraint_propagation.go
  expression/distsql_builtin_test.go
  expression/expr_to_pb.go
  expression/util.go
Labels: component/expression, status/LGT2

#9645 util/testkit: add concurrent test toolkit
  executor/write_concurrent_test.go
  util/testkit/ctestkit.go
Labels: component/test, status/LGT2, status/all tests passed

#9719 expression: fix panic when wrap cast for window func
  expression/aggregation/base_func.go
  planner/core/logical_plan_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix

#9737 planner: fix point get with PK and UK
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  planner/core/point_get_plan.go
Labels: component/planner, status/LGT2, status/all tests passed

#9008 *: create sql bind table during bootstrap
  bindinfo/bind_test.go
  bindinfo/cache.go
  domain/domain.go
  session/bootstrap.go
  session/session.go
Labels: contribution, status/LGT2, type/new-feature

#9746 expression: fix last_day function
  expression/builtin_time.go
  expression/builtin_time_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#9592 planner/core: fix the stats of window function
  planner/core/logical_plan_test.go
  planner/core/stats.go
Labels: component/planner, status/LGT2, type/bug-fix

#9682 executor: add window function NTILE
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_ntile.go
  executor/window_test.go
  expression/aggregation/base_func.go
  expression/aggregation/window_func.go
  planner/core/logical_plan_test.go
Labels: component/executor, status/LGT1

#9747 CHANGELOG: add release notes for v2.1.6
  CHANGELOG.md
Labels: CHANGELOG

#9520 domain: make schema validator test more stable.
  domain/schema_validator_test.go
Labels: component/test, status/LGT2, status/all tests passed

#9514 table: replace logger with zap logger
  table/column.go
  table/tables/partition.go
  table/tables/tables.go
Labels: component/usability, status/LGT2, status/all tests passed

#9759 executor: fix slow log output format
  executor/adapter.go
Labels: status/LGT2, type/bug-fix

#9697 types: improve test coverage in types/json
  types/json/binary_test.go
Labels: component/test, status/LGT2

#9733 ddl: resolve the charset by the order: table->database->server (#9105)
  ddl/column_test.go
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
  ddl/integration_test.go
  ddl/mock.go
  util/charset/charset.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick

#9648 ddl: remove wait time after canceling a job
  ddl/ddl_worker.go
  ddl/serial_test.go
  go.sum
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#9712 test: fix go vet and run go vet regularly
  Makefile
  plugin/conn_ip_example/conn_ip_example_test.go
  util/execdetails/execdetails_test.go
Labels: component/test, status/LGT1, type/enhancement

#9534 statistics: unify log format in package statistics
  statistics/bootstrap.go
  statistics/feedback.go
  statistics/handle.go
  statistics/histogram.go
  statistics/table.go
  statistics/update.go
  statistics/update_test.go
Labels: component/statistics, status/LGT2

#9761 *: update pingcap/errors version
  go.mod
  go.sum
Labels: status/LGT2, status/all tests passed, type/performance

#9787 util: Fixed TestSlowQueryZapLogger to work with negative UTC offset timezones
  util/logutil/log_test.go
Labels: status/LGT2

#9758 domain: remove the struct of `MockFailure` to clean up
  ddl/failtest/fail_db_test.go
  domain/domain.go
  domain/domain_test.go
  session/session_test.go
Labels: status/LGT2, status/all tests passed, type/enhancement

#9659 ddl: using pingcap/log and unify the log format
  ddl/callback_test.go
  ddl/column.go
  ddl/db_change_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_test.go
  ddl/ddl_worker.go
  ddl/delete_range.go
  ddl/index.go
  ddl/reorg.go
  ddl/rollingback.go
  ddl/session_pool.go
  ddl/syncer.go
  ddl/table.go
  util/logutil/log.go
Labels: component/DDL-need-LGT3, status/LGT3

#9738 planner: improve row count estimation for index range containing correlated columns
  cmd/explaintest/r/subquery.result
  cmd/explaintest/t/subquery.test
  planner/core/logical_plans.go
  planner/core/stats.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#9768 ddl: remove wait time after canceling a job
  ddl/db_test.go
  ddl/ddl_worker.go
Labels: status/LGT1, status/all tests passed, type/2.1 cherry-pick

#9740 infoschema: replace logger with zap logger and refine slow log
  infoschema/slow_log.go
  sessionctx/variable/session.go
Labels: component/DDL-need-LGT3, status/LGT2

#9614 executor: control Chunk size for Joiners
  executor/builder.go
  executor/executor_required_rows_test.go
  executor/index_lookup_join.go
  executor/join.go
  executor/joiner.go
  executor/joiner_test.go
  executor/merge_join.go
  planner/core/logical_plans.go
Labels: component/executor, status/LGT2

#9802 config: fix config toml file `check-mb4-value-in-utf8` problem.
  config/config.toml.example
Labels: status/LGT2, status/all tests passed

#9817 expression,types: improve `str_to_date` builtin function compatibility (9617)
  expression/builtin_time_test.go
  types/time.go
Labels: component/expression, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9651 server: add `/debug/zip` api to get useful debuginfo at once
  docs/tidb_http_api.md
  server/http_status.go
Labels: component/usability, status/LGT2

#9794 update go.mod
  go.mod
  go.sum
Labels: status/LGT2, status/all tests passed

#9800 executor: fix window function when order by item contain NULL
  executor/aggfuncs/func_rank.go
  executor/window_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#9707 planner: fix plus prefix for select constant
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  planner/core/logical_plan_builder.go
Labels: component/planner, contribution, status/LGT2, type/compatibility

#9581 privilege, executor: add `SET ROLE` and `CURRENT_ROLE` support
  executor/errors.go
  executor/simple.go
  expression/builtin.go
  expression/builtin_info.go
  expression/builtin_info_test.go
  expression/function_traits.go
  go.mod
  go.sum
  planner/core/planbuilder.go
  privilege/privilege.go
  privilege/privileges/cache.go
  privilege/privileges/cache_test.go
  privilege/privileges/privileges.go
  sessionctx/variable/session.go
Labels: component/executor, component/privilege, status/LGT1, status/all tests passed, type/TEP

#9819 fix `str_to_date` func compatible issues 9773
  expression/builtin_time_test.go
  types/time.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, type/bug-fix, type/compatibility

#9739 ddl: add rolling back for rename table (#9602)
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  ddl/table_test.go
  util/admin/admin.go
Labels: status/LGT2, type/2.0 cherry-pick

#9845 planner: tidy code more go style
  planner/core/logical_plan_builder.go
Labels: component/planner, status/LGT2

#9789 planner, executor: support Change and ChangeExec
  executor/builder.go
  executor/change.go
  executor/compiler.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: component/binlog, contribution, status/LGT2, status/all tests passed

#9842 infoschema: fix panic in 'SELECT * FROM information_schema.processlist'
  executor/show.go
  infoschema/tables.go
  infoschema/tables_test.go
  util/processinfo.go
Labels: component/usability, status/LGT1, status/all tests passed, type/bug-fix

#9517 session: use the uniform log format for session
  session/bench_test.go
  session/bootstrap.go
  session/session.go
  session/session_test.go
  session/tidb.go
  session/txn.go
Labels: component/session, status/LGT2, status/all tests passed, type/enhancement

#9780 types: improve the code coverage
  types/etc_test.go
  types/time_test.go
Labels: component/test, status/LGT1

#9852 config: fix config toml file `check-mb4-value-in-utf8` problem (#9802)
  config/config.toml.example
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick
