Repository pingcap/tidb, pull requests merged in 2019-01, with the labels that each got.

#8884 table: add option for AddRecord and CreateIndex
  ddl/column_change_test.go
  ddl/column_test.go
  ddl/ddl_worker_test.go
  ddl/fail_test.go
  ddl/index_change_test.go
  ddl/reorg_test.go
  ddl/schema_test.go
  ddl/table_test.go
  executor/executor_test.go
  executor/insert_common.go
  executor/write.go
  executor/write_test.go
  infoschema/tables.go
  perfschema/tables.go
  table/index.go
  table/table.go
  table/tables/index.go
  table/tables/partition.go
  table/tables/tables.go
  table/tables/tables_test.go
  util/admin/admin_test.go
Labels: component/executor, status/LGT2, status/all tests passed

#8797 expression: handle empty input and improve compatibility for `format`
  expression/builtin_string.go
  expression/builtin_string_test.go
  expression/errors.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix, type/compatibility

#8792 executor: fix panic and update error data when table has column in write only state
  ddl/db_test.go
  executor/write.go
  table/table.go
  table/tables/tables.go
Labels: component/DDL-need-LGT3, component/executor, require-LGT3, status/LGT3, type/bug-fix

#8877 util/ranger: fix incorrect behavior about index who has prefix column(#8851)
  util/ranger/ranger.go
  util/ranger/ranger_test.go
Labels: component/planner, priority/release-blocker, status/LGT1, type/2.0 cherry-pick, type/bug-fix

#8898 table: add an option for AddRecord and Create (#8884)
  ddl/column_change_test.go
  ddl/column_test.go
  ddl/ddl_worker_test.go
  ddl/fail_test.go
  ddl/index_change_test.go
  ddl/reorg_test.go
  ddl/schema_test.go
  ddl/table_test.go
  executor/executor_test.go
  executor/insert_common.go
  executor/write.go
  executor/write_test.go
  infoschema/tables.go
  perfschema/tables.go
  table/index.go
  table/table.go
  table/tables/index.go
  table/tables/partition.go
  table/tables/tables.go
  table/tables/tables_test.go
  util/admin/admin_test.go
Labels: component/executor, status/LGT2, type/2.1 cherry-pick

#8621 ddl: fix can't cancel a job when add index meets panic
  ddl/index.go
  ddl/serial_test.go
  go.mod
  go.sum
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed, type/bug-fix

#8862 ddl: fix cancel drop column ddl error
  ddl/ddl_db_test.go
  ddl/ddl_test.go
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  util/admin/admin.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick

#8906 executor: fix panic and update error data when table has column in write only state (#8792)
  ddl/db_test.go
  executor/write.go
  table/table.go
  table/tables/tables.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8540 planner/core: add DefaultExpr support for expressionRewriter
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
  table/column.go
  table/table.go
Labels: component/planner, contribution, status/LGT2, type/enhancement

#8909 planner: update generated column inside a transaction should return error
  executor/executor_test.go
  executor/update_test.go
  planner/core/logical_plan_builder.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#7911 executor: support parallel partition for HashJoinExec
  executor/join.go
  executor/pkg_test.go
  util/chunk/chunk.go
  util/chunk/list.go
  util/chunk/list_test.go
Labels: component/executor, status/LGT2, type/enhancement

#8908 builder: use empty db should return NoDB error
  executor/simple_test.go
  planner/core/planbuilder.go
Labels: component/planner, contribution, status/LGT2, type/bug-fix

#8913 docs: add comments about why update statement using writable columns.
  planner/core/logical_plan_builder.go
Labels: component/docs

#8918 session: add a `doNotCommit` flag to transaction when `StmtCommit` fail
  session/session_fail_test.go
  session/txn.go
Labels: component/transaction-need-LGT3, status/all tests passed

#8919 *: make errcheck work again (#8795)
  .gitignore
  Makefile
  ddl/ddl_api.go
  domain/domain.go
  executor/aggregate.go
  executor/executor_test.go
  executor/explain.go
  executor/index_lookup_join.go
  executor/insert_common.go
  executor/merge_join_test.go
  executor/prepared_test.go
  executor/set_test.go
  executor/show_test.go
  executor/simple.go
  infoschema/infoschema_test.go
  meta/autoid/autoid_test.go
  session/session.go
  session/session_test.go
  statistics/feedback.go
  tools/check/errcheck_excludes.txt
  tools/check/revive.toml
Labels: status/LGT2, type/2.1 cherry-pick

#8630 planner: support window function
  expression/aggregation/window_func.go
  go.mod
  go.sum
  planner/core/errors.go
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/expression_rewriter.go
  planner/core/initialize.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/rule_column_pruning.go
  planner/core/rule_eliminate_projection.go
  planner/core/rule_predicate_push_down.go
  planner/core/stats.go
  planner/core/stringer.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#8923 session: add a `doNotCommit` flag to transaction when `StmtCommit` fail (#8918)
  session/session_fail_test.go
  session/txn.go
Labels: component/transaction-need-LGT3, type/2.0 cherry-pick

#8858 ddl: refine cancel drop table/schema code.
  ddl/column.go
  ddl/index.go
  ddl/rollingback.go
  ddl/schema.go
  ddl/table.go
Labels: component/DDL-need-LGT3, status/LGT2

#8925 CHANGELOG: add changelog for v2.0.11
  CHANGELOG.md
Labels: CHANGELOG

#8910 travis: enable code coverage test using codecov
  .travis.yml
  Makefile
  README.md
Labels: component/test, status/LGT2

#8902 ddl : fix concurrent add partition problem
  ddl/db_change_test.go
  ddl/table.go
Labels: component/DDL-need-LGT3, status/LGT3, type/2.1 cherry-pick, type/bug-fix

#8928 rebase release-2.0 to release-2.0-binlog
  CHANGELOG.md
  ddl/column_change_test.go
  ddl/column_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_db_test.go
  ddl/ddl_test.go
  ddl/ddl_worker_test.go
  ddl/fail_test.go
  ddl/foreign_key_test.go
  ddl/index_change_test.go
  ddl/reorg_test.go
  ddl/rollingback.go
  executor/adapter.go
  executor/admin.go
  executor/builder.go
  executor/ddl.go
  executor/executor.go
  executor/executor_test.go
  executor/prepared.go
  executor/simple.go
  executor/write.go
  executor/write_test.go
  infoschema/tables.go
  plan/logical_plan_builder.go
  plan/physical_plan_test.go
  privilege/privileges/privileges_test.go
  server/conn.go
  session/session.go
  session/session_fail_test.go
  session/session_test.go
  session/tidb.go
  session/txn.go
  sessionctx/context.go
  statistics/ddl.go
  statistics/gc.go
  statistics/histogram.go
  statistics/update.go
  store/tikv/gcworker/gc_worker_test.go
  table/table.go
  table/tables/memory_tables.go
  table/tables/tables.go
  table/tables/tables_test.go
  table/tables/virtual_tables.go
  util/admin/admin.go
  util/admin/admin_test.go
  util/kvencoder/kv_encoder.go
  util/kvencoder/kv_encoder_test.go
  util/mock/context.go
  util/ranger/detacher.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
Labels: component/binlog, status/LGT2, status/all tests passed

#8758 planner,executor: basic support for DROP_VIEW
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/rollingback.go
  ddl/table.go
  executor/ddl.go
  executor/ddl_test.go
  executor/executor_test.go
  infoschema/builder.go
Labels: component/DDL-need-LGT3, contribution, status/LGT3, type/new-feature

#8912 gcworker: let gofail in gcworker run serially, make ci happy
  store/tikv/gcworker/gc_worker_test.go
Labels: component/GC, status/LGT2

#8892 infoschema: add initial support for views
  executor/show.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/server, status/LGT2, type/enhancement

#8926 planner,executor: support `show create database if not exists` syntax
  executor/builder.go
  executor/seqtest/seq_executor_test.go
  executor/show.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: component/executor, component/planner, status/LGT2, type/compatibility

#8640 expression: constraint propagate for '>' and monotonous function
  expression/constant_test.go
  expression/constraint_propagation.go
Labels: component/expression, status/LGT2, status/all tests passed, type/enhancement

#8855 planner: added support for error in visitInfo
  planner/core/errors.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/planbuilder.go
  planner/optimize.go
Labels: component/planner, component/privilege, status/LGT2, status/all tests passed, type/enhancement

#8924 session: add a `doNotCommit` flag to transaction when `StmtCommit` fail (#8918)
  session/session_fail_test.go
  session/txn.go
Labels: component/transaction-need-LGT3, require-LGT3, status/all tests passed, type/2.1 cherry-pick

#8943 fix typo
  executor/executor_test.go
  expression/integration_test.go
Labels: contribution, status/LGT2, type/enhancement

#8837 planner, privilege: check user priv on SET GLOBAL
  planner/core/planbuilder.go
  privilege/privileges/privileges_test.go
Labels: component/planner, component/privilege, status/LGT2, type/bug-fix

#8863 executor: support "show columns from" for view
  executor/show.go
  executor/show_test.go
  planner/core/logical_plan_builder.go
Labels: component/executor, contribution, status/LGT2

#8944 Revert "gcworker: let gofail in gcworker run serially, make ci happy"
  store/tikv/gcworker/gc_worker_test.go
Labels: component/test, status/LGT2, status/all tests passed

#8480 *: add InitChunkSize variable as chunk init capacity
  executor/aggregate_test.go
  executor/executor.go
  executor/executor_test.go
  executor/index_lookup_join_test.go
  executor/join_test.go
  executor/pkg_test.go
  executor/write_test.go
  expression/bench_test.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  statistics/handle.go
  table/tables/tables.go
  util/mock/context.go
Labels: component/executor, status/LGT2, status/all tests passed

#8950 parser: better error message #133
  executor/seqtest/prepared_test.go
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/parser, contribution, status/LGT1, status/all tests passed, type/enhancement

#8951 ddl: support altering the other charset to utf8 or utf8mb4 (#8037)
  ddl/column_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/table.go
  go.mod
  go.sum
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8937 planner/core: support named window
  planner/core/errors.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
Labels: component/planner, status/LGT2, type/enhancement

#8960 ddl: fix rename table compatibility
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, contribution, status/LGT2, status/all tests passed, type/compatibility

#8966 expression, executor: castStringAsTime returns null when sql_mode is not strict (#8516)
  executor/write_test.go
  expression/builtin_cast.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#8952 Makefile: build gofail to tools/bin
  Makefile
Labels: component/tools, status/LGT2, type/enhancement

#8954 CONTRIBUTING: '／' -> '/'
  CONTRIBUTING.md
Labels: component/docs, contribution, status/LGT1

#8948 domain, privilege: backport #8886 to release-2.1
  domain/domain.go
  privilege/privileges/privileges_test.go
Labels: component/privilege, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/compatibility

#8936 executor: return error if autoid overflow to shard bits.
  executor/ddl_test.go
  table/tables/tables.go
Labels: component/executor, status/LGT2, status/all tests passed

#8517 types: fix the incorrect behavior of "%y"/"%Y" for STR_TO_DATE()
  executor/executor_test.go
  types/format_test.go
  types/time.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, type/compatibility

#8974 README: change release icon always show the latest tag
  README.md
Labels: component/docs

#8973 parser: update parser version
  go.mod
  go.sum
  types/parser_driver/value_expr.go
  types/parser_driver/value_expr_test.go
Labels: component/parser, status/all tests passed

#8927 executor: support parallel building hash table for radixHashJoin
  executor/join.go
  executor/pkg_test.go
Labels: component/executor, status/LGT2, type/enhancement

#8969 session: upgrade tidb_max_chunk_size to new low bound value
  session/bootstrap.go
  session/session.go
Labels: component/session, status/LGT2, status/all tests passed, type/bug-fix

#8897 ddl: modify `cancel drop column` ddl test
  ddl/ddl_worker_test.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#8945 gomod: update tidb-tools version
  go.mod
  go.sum
Labels: component/tools, contribution, status/LGT2, status/all tests passed

#8976 executor: return error if autoid overflows shard bits. (#8936)
  executor/ddl_test.go
  meta/autoid/errors.go
  table/tables/tables.go
Labels: status/LGT2, type/2.1 cherry-pick

#8836 server, tidb-server: improve unix socket handling
  server/server.go
  server/tidb_test.go
Labels: component/server, status/LGT1, status/all tests passed, type/compatibility

#8985 Handling insertion issue when the dropping column's flag is not null …
  ddl/column.go
  ddl/db_change_test.go
  ddl/ddl_api.go
Labels: status/LGT1, status/all tests passed, type/2.1 cherry-pick

#8984 stats: fix histogram bound overflow error
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/update.go
  statistics/update_test.go
Labels: component/statistics, status/LGT1, type/bug-fix

#8980 planner: update generated column inside a transaction should return error (#8909)
  executor/executor_test.go
  executor/update_test.go
  planner/core/logical_plan_builder.go
Labels: component/expression, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#8970 parser: add SHOW CREATE USER syntax
  go.mod
  go.sum
Labels: component/parser, contribution, status/LGT2, status/all tests passed

#8989 stats: fix histogram bound overflow error (#8984)
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/update.go
  statistics/update_test.go
Labels: component/statistics, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#8907 expression: throw "too big precision" error for CAST(AS TIME)
  expression/builtin_cast.go
  expression/integration_test.go
  planner/core/errors.go
  planner/core/expression_rewriter.go
Labels: component/expression, status/LGT2, type/bug-fix

#8978 executor: return error if autoid overflows shard bits. (#8936)
  executor/ddl_test.go
  meta/autoid/errors.go
  table/tables/tables.go
Labels: status/LGT2, type/2.0 cherry-pick

#8982 infoschema: move perfschema to infoschema directory, tiny refactor
  domain/domain.go
  infoschema/infoschema_test.go
  infoschema/perfschema/const.go
  infoschema/perfschema/init.go
  infoschema/perfschema/tables.go
  infoschema/perfschema/tables_test.go
  infoschema/tables.go
  perfschema/tables.go
Labels: component/DDL-need-LGT3, status/LGT2

#8941 variable: remove tidb_ddl_reorg_worker_cnt and tidb_ddl_reorg_batch_size session level.
  ddl/failtest/fail_db_test.go
  ddl/index.go
  ddl/util/util.go
  executor/ddl_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil_test.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed

#8544 *: fix the lower bound when converting numbers less than 0 to unsigned integers
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  executor/load_data.go
  executor/write_test.go
  expression/builtin_cast.go
  expression/errors.go
  sessionctx/stmtctx/stmtctx.go
  types/convert.go
  types/datum.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, type/compatibility

#9003 planner/core: fix a bug that check update privilege use wrong `AsName` and `DBName`
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  session/session_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#8979 executor: separate RadixHashJoinExec from HashJoinExec
  executor/builder.go
  executor/join.go
  executor/pkg_test.go
  executor/radix_hash_join.go
Labels: component/executor, status/LGT2, type/enhancement

#6833 tikv/gc_worker: Add support for distributed GC
  store/tikv/backoff.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/kv.go
  store/tikv/region_cache.go
Labels: component/tikv-client, status/LGT3, status/all tests passed

#8930 util/codec, types: add new method to get comparable hash key from MyDecimal
  executor/join_test.go
  types/mydecimal.go
  types/mydecimal_test.go
  util/codec/codec.go
Labels: component/executor, status/LGT2, type/bug-fix

#9011 *: use the forked github.com/pingcap/gofail
  Gopkg.lock
  Gopkg.toml
  Makefile
  ddl/ddl_db_test.go
  ddl/fail_db_test.go
  ddl/fail_test.go
  executor/executor_test.go
  go.mod
  go.sum
  owner/fail_test.go
  session/session_fail_test.go
  store/tikv/2pc_fail_test.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/sql_fail_test.go
  store/tikv/store_fail_test.go
  tablecodec/tablecodec_test.go
  tools/check/go.mod
  tools/check/go.sum
  vendor/github.com/pingcap/gofail/LICENSE
  vendor/github.com/pingcap/gofail/NOTICE
  vendor/github.com/pingcap/gofail/runtime/failpoint.go
  vendor/github.com/pingcap/gofail/runtime/http.go
  vendor/github.com/pingcap/gofail/runtime/runtime.go
  vendor/github.com/pingcap/gofail/runtime/terms.go
  vendor/modules.txt
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/enhancement

#9015 executor,util: log duration using seconds instead of the default Duration.String
  executor/adapter.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: component/server, contribution, status/LGT2, status/all tests passed

#8931 expression:add support for JSON_MERGE_PRESERVE
  expression/builtin_json.go
  expression/builtin_json_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#9022 util/codec, types: add new method to get comparable hash key from MyDecimal
  executor/join_test.go
  types/mydecimal.go
  types/mydecimal_test.go
  util/codec/codec.go
Labels: component/executor, status/LGT2, type/2.0 cherry-pick, type/bug-fix

#9023 util/codec, types: add new method to get comparable hash key from MyDecimal
  Makefile
  executor/join_test.go
  types/mydecimal.go
  types/mydecimal_test.go
  util/codec/codec.go
Labels: component/executor, status/LGT1, type/2.1 cherry-pick, type/bug-fix

#8711 server: try graceful close connection first
  server/conn.go
  server/server.go
  tidb-server/main.go
Labels: component/server, status/LGT2, type/enhancement

#9025 session: skip the SQL execution if transaction is aborted and reset aborted status in retry (#8942)
  session/session.go
  session/session_fail_test.go
  session/tidb.go
  session/txn.go
Labels: component/session, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9012 Makefile: build gofail to tools/bin (#8952)
  Makefile
  tools/check/go.mod
  tools/check/go.sum
Labels: component/tools, status/LGT1, type/2.1 cherry-pick, type/enhancement

#8802 docs/design: add proposal for plugin framework
  docs/design/2018-12-10-plugin-framework.md
Labels: component/docs, component/plugin, proposal, status/LGT2

#9007 cmd: add plugin package tool
  cmd/pluginpkg/pluginpkg.go
Labels: component/plugin, status/LGT1

#9029 executor: improve trace format='row'
  executor/trace.go
  executor/trace_test.go
Labels: status/LGT2, type/enhancement

#9030 *: fix the lower bound when converting numbers less than 0 to unsigned integers
  executor/distsql.go
  executor/executor_test.go
  executor/prepared.go
  executor/write_test.go
  expression/builtin_cast.go
  expression/errors.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  types/convert.go
  types/datum.go
Labels: component/executor, contribution, status/LGT1, status/all tests passed, type/2.0 cherry-pick

#9028 *: fix the lower bound when converting numbers less than 0 to unsigned integers
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  executor/load_data.go
  executor/write_test.go
  expression/builtin_cast.go
  expression/errors.go
  sessionctx/stmtctx/stmtctx.go
  types/convert.go
  types/datum.go
Labels: component/executor, contribution, status/LGT1, status/all tests passed, type/2.1 cherry-pick

#8788 plugin: introduce plugin framework
  cmd/pluginpkg/pluginpkg.go
  go.mod
  go.sum
  plugin/conn_ip_example/conn_ip_example.go
  plugin/conn_ip_example/conn_ip_example_test.go
  plugin/conn_ip_example/manifest.toml
  plugin/const.go
  plugin/errors.go
  plugin/helper.go
  plugin/plugin.go
  plugin/spi.go
  plugin/spi_test.go
Labels: component/plugin, status/LGT2, status/all tests passed, type/TEP, type/new-feature

#8986 batch grpc message to TiKVs
  config/config.go
  config/config.toml.example
  config/config_test.go
  go.mod
  go.sum
  metrics/metrics.go
  metrics/tikvclient.go
  store/tikv/client.go
  store/tikv/client_test.go
  store/tikv/region_request_test.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: component/tikv-client, status/LGT2

#8848 planner, executor: return err when INSERT/UPDATE/ANALYZE/DELETE a view
  executor/write_test.go
  planner/core/cbo_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Labels: component/DDL-need-LGT3, status/LGT3

#9006 *: integrate plugin framework with TiDB
  Makefile
  config/config.go
  domain/domain.go
  domain/topn_slow_query.go
  executor/show.go
  infoschema/infoschema.go
  infoschema/perfschema/tables.go
  planner/core/planbuilder.go
  session/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
Labels: component/plugin, status/LGT2, status/all tests passed

#8814 *: tiny update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: component/docs, status/LGT2, status/all tests passed

#8818 ddl: modify different character sets varchar type column maximum length limit
  ddl/db_test.go
  ddl/ddl_api.go
  planner/core/preprocess.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#9037 plan/executor: handle optimizer hint properly for cartesian join
  executor/merge_join.go
  executor/merge_join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plan_test.go
Labels: component/executor, component/planner, status/LGT2, status/all tests passed, type/bug-fix

#9027 types: support sql_mode ALLOW_INVALID_DATES
  executor/executor.go
  executor/insert_test.go
  go.mod
  go.sum
  sessionctx/stmtctx/stmtctx.go
  types/time.go
Labels: status/LGT2, type/compatibility

#9040 tikvclient: use global config instead write them again
  store/tikv/client.go
  tidb-server/main.go
Labels: component/tikv-client, status/LGT2, type/enhancement

#8866 executor: add column character sets when show create table
  ddl/db_test.go
  executor/ddl_test.go
  executor/seqtest/seq_executor_test.go
  executor/show.go
Labels: component/executor, contribution, status/LGT2, status/all tests passed

#7921 planner, statistics: build new histogram using range information
  distsql/request_builder.go
  executor/table_reader.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plans.go
  planner/core/rule_column_pruning.go
  planner/core/stats.go
  planner/property/stats_info.go
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/histogram.go
  statistics/histogram_test.go
  statistics/selectivity.go
  statistics/selectivity_test.go
  statistics/table.go
  statistics/update.go
  statistics/update_test.go
  types/datum.go
  util/ranger/types.go
Labels: component/planner, component/statistics, status/LGT2, status/all tests passed, type/enhancement

#8990 *: support select partition for partition table
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/partition.go
  executor/executor_test.go
  go.mod
  go.sum
  planner/core/errors.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/rule_partition_processor.go
  table/table.go
  table/tables/partition.go
Labels: component/planner, status/LGT2, status/all tests passed, type/new-feature

#9038 x-server: remove the X Server
  config/config.go
  tidb-server/main.go
  x-server/config.go
  x-server/conn.go
  x-server/server.go
Labels: component/server, status/LGT2

#8992 sessionctx/variable: fix select variable return wrong result when variable is only global scope variable (#8968)
  executor/set_test.go
  plan/expression_rewriter.go
Labels: status/LGT1, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#9059 support _tidb_rowid for table scan range (#8047)
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  planner/core/logical_plans.go
Labels: component/planner, status/LGT1, type/2.1 cherry-pick, type/enhancement

#8929 expression: return error when doing `ResolveIndices`
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  executor/builder.go
  expression/column.go
  expression/constant.go
  expression/expression.go
  expression/scalar_function.go
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/optimizer.go
  planner/core/physical_plan_test.go
  planner/core/plan.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  planner/core/resolve_indices.go
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_column_pruning.go
  planner/core/task.go
Labels: component/expression, status/LGT2, status/all tests passed

#9058 expression: throw "too big precision" error for CAST(AS TIME) (#8907)
  expression/builtin_cast.go
  expression/integration_test.go
  planner/core/errors.go
  planner/core/expression_rewriter.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#8352 store/tikv: support RawReverseScan
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/mvcc_test.go
  store/mockstore/mocktikv/pd.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/pd_codec.go
  store/tikv/rawkv.go
  store/tikv/rawkv_test.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/store_test.go
Labels: component/tikv-client, contribution, status/LGT2, status/all tests passed

#9065 ddl: fix changes the table charset error
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT3

#9072 domain: fix stats worker cannot recover from panic
  domain/domain.go
  domain/domain_test.go
Labels: status/LGT2, status/all tests passed, type/bug-fix

#9073 expression: throw "too big precision" error for CAST(AS TIME) (#8907)
  expression/builtin_cast.go
  expression/integration_test.go
  plan/errors.go
  plan/expression_rewriter.go
Labels: component/planner, status/LGT1, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#9053 executor: add column character sets when show create table
  ddl/db_test.go
  executor/ddl_test.go
  executor/show.go
  executor/show_test.go
Labels: status/LGT3, type/2.1 cherry-pick

#9074 plan/executor: handle optimizer hint properly for cartesian join (#9037)
  executor/merge_join.go
  executor/merge_join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plan_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9005 executor: fix csv parser
  executor/executor_pkg_test.go
  executor/load_data.go
  server/server_test.go
Labels: component/executor, status/all tests passed, type/bug-fix

#9076 planner: update generated column inside a transaction should return error (#8909)
  executor/update_test.go
  plan/logical_plan_builder.go
Labels: component/planner, status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#9070 store/tikv/scan: Cut the scan range by region before sending request to TiKV
  store/tikv/scan.go
  store/tikv/scan_test.go
Labels: component/tikv-client, status/LGT2, status/all tests passed

#9075 plan/executor: handle optimizer hint properly for cartesian join
  executor/merge_join.go
  plan/gen_physical_plans.go
  plan/physical_plan_test.go
Labels: component/executor, component/planner, status/LGT2, type/2.0 cherry-pick, type/bug-fix

#7937 ddl: add restore deleted table
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/delete_range.go
  ddl/mock.go
  ddl/serial_test.go
  ddl/table.go
  ddl/util/util.go
  domain/domain.go
  executor/builder.go
  executor/ddl.go
  executor/ddl_test.go
  executor/set.go
  go.mod
  go.sum
  infoschema/builder.go
  kv/txn.go
  meta/meta.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  store/tikv/txn.go
  util/gcutil/gcutil.go
Labels: component/DDL-need-LGT3, status/LGT2

#8765 ddl: fix NO_ZERO_DATE handled incorrectly
  ddl/db_integration_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  planner/core/prepare_test.go
Labels: component/DDL-need-LGT3, status/DNM, status/LGT1, status/all tests passed, type/bug-fix, type/compatibility

#9020 executor, planner: adjust the result of 'admin show ddl'
  executor/executor.go
  executor/executor_test.go
  planner/core/planbuilder.go
Labels: component/executor, component/planner, status/LGT2, type/enhancement

#9050 ddl: modify different character sets varchar type column maximum length limit
  ddl/db_test.go
  ddl/ddl_api.go
  planner/core/preprocess.go
Labels: status/DNM, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#8856 ddl: support "or replace" option when create view
  ddl/ddl_api.go
  ddl/table.go
  ddl/table_test.go
  executor/compiler.go
  executor/ddl_test.go
  executor/executor_test.go
  infoschema/builder.go
  infoschema/infoschema_test.go
  meta/autoid/autoid_test.go
  meta/meta.go
  meta/meta_test.go
Labels: component/DDL-need-LGT3, contribution, status/LGT3, status/all tests passed, type/new-feature

#9085 domain: fix stats worker cannot recover from panic (#9072)
  domain/domain.go
  domain/domain_test.go
Labels: status/LGT2, type/2.1 cherry-pick, type/bug-fix

#8890 ddl: disallow alter table on view
  ddl/db_change_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  executor/ddl_test.go
  infoschema/infoschema.go
  infoschema/infoschema_test.go
Labels: component/DDL-need-LGT3, contribution, status/LGT3

#9080 executor: reset hasMatch flag for each outer row in merge join (#9046)
  executor/merge_join.go
  executor/merge_join_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#8885 planner,expression: use constraint propagation in partition pruning
  cmd/explaintest/r/partition_pruning.result
  expression/constraint_propagation.go
  go.mod
  go.sum
  planner/core/logical_plans.go
  planner/core/partition_pruning_test.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_push_down.go
Labels: component/expression, component/planner, status/LGT1, status/all tests passed

#9097 executor: introduce projInjector for postOptimize
  planner/core/optimizer.go
  planner/core/rule_inject_extra_projection.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#9095 planner: set correct mysql error code
  planner/core/errors.go
  planner/core/planbuilder.go
  privilege/privileges/privileges_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#9093 ddl: support alter table .. truncate partition (#8624)
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/delete_range.go
  ddl/partition.go
  ddl/table.go
  go.mod
  go.sum
  vendor/github.com/pingcap/parser/ast/ddl.go
  vendor/github.com/pingcap/parser/lexer.go
  vendor/github.com/pingcap/parser/model/ddl.go
  vendor/github.com/pingcap/parser/parser.go
  vendor/github.com/pingcap/parser/parser.y
  vendor/github.com/pingcap/parser/yy_parser.go
  vendor/modules.txt
Labels: component/DDL-need-LGT3, status/LGT2, type/2.1 cherry-pick

#9104 server: adjust the result of curl *
  server/http_handler.go
Labels: component/server, status/LGT1, type/enhancement

#9026 session: skip the SQL execution if transaction is aborted and reset aborted status in retry (#8942)
  session/session.go
  session/session_fail_test.go
  session/tidb.go
  session/txn.go
Labels: component/session, require-LGT3, status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#9004 planner: support window function frame clause
  go.mod
  go.sum
  planner/core/errors.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/mock.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#9117 *: add release note 3.0.0-beta to CHANGLOG.md
  CHANGELOG.md
Labels: CHANGELOG

#9112 planner: improve error messages for mysql compatibility
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, status/all tests passed, type/compatibility, type/enhancement

#9122 types: remove not used CoerceDatum
  types/datum.go
  types/datum_test.go
Labels: contribution, status/LGT1, status/all tests passed

#9110 types: support sql_mode ALLOW_INVALID_DATES (#9027)
  executor/executor.go
  executor/insert_test.go
  go.mod
  go.sum
  sessionctx/stmtctx/stmtctx.go
  types/time.go
Labels: type/2.1 cherry-pick, type/compatibility

#9108 admin: fix admin check table err when add column not null, then add index on the column
  executor/admin_test.go
  util/admin/admin.go
Labels: status/LGT1, status/all tests passed, type/bug-fix

#9119 store/tikv: use new backoffer for async commit batches
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: component/transaction-need-LGT3, status/all tests passed, type/bug-fix

#9106 planner: check null and empty for `!= any(subq)` and `= all(subq)`
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#9105 ddl: resolve the charset by the order: table->database->server
  ddl/column_test.go
  ddl/db_integration_test.go
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
  ddl/mock.go
  executor/seqtest/seq_executor_test.go
  server/driver_tidb.go
Labels: component/charset, type/bug-fix

#9107 ddl: restricting altering the utf8 charset to utf8mb4
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#9103 *: improve syntax error code & message compatibility
  executor/prepared.go
  executor/seqtest/prepared_test.go
  expression/integration_test.go
  expression/simple_rewriter.go
  go.mod
  go.sum
  session/session.go
  table/tables/gen_expr.go
  util/misc.go
Labels: component/parser, status/LGT2, status/all tests passed, type/compatibility

#9152 ddl: restricting altering the utf8 charset to utf8mb4
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
Labels: status/LGT1, type/2.1 cherry-pick

#9147 ddl: resolve the charset by the order: table->database->server (#9105)
  ddl/column_test.go
  ddl/db_integration_test.go
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
  ddl/mock.go
  executor/show_test.go
  server/driver_tidb.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9109 expression: support JSON return type in `case` expression (#8355)
  expression/builtin_control.go
  expression/builtin_control_test.go
  expression/distsql_builtin.go
  expression/evaluator_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/enhancement

#9163 binlog: update pumps client && open log
  go.mod
  go.sum
  sessionctx/binloginfo/binloginfo.go
  tidb-server/main.go
Labels: component/binlog, status/LGT2

#9168 binlog: update pumps client && open log (#9163)
  go.mod
  go.sum
  sessionctx/binloginfo/binloginfo.go
  tidb-server/main.go
Labels: component/binlog, status/LGT1, status/all tests passed, type/2.1 cherry-pick

#9140 server: return correct response if pass specified
  server/conn.go
  server/server_test.go
Labels: component/server, status/LGT2, type/compatibility, type/enhancement

#9175 config: add a config item to control whether TiDB check the mb4 character in utf8
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/statement_context_test.go
  table/column.go
Labels: component/server, priority/release-blocker, status/all tests passed

#9176 statistics: log the reason when triggering auto analyze
  statistics/update.go
  statistics/update_test.go
Labels: component/statistics, status/LGT1

#9149 store/tikv/scan: Cut the scan range by region before sending request to TiKV (#9070)
  store/tikv/scan.go
  store/tikv/scan_test.go
Labels: component/tikv, type/2.1 cherry-pick

#9187 statistics: log the reason when triggering auto analyze (#9176)
  statistics/update.go
  statistics/update_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9178 stats: log auto analyze fail reason
  domain/domain.go
  statistics/update.go
  statistics/update_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/enhancement

#9179 config: add a config item to control whether TiDB check the mb4 character in utf8 (#9175)
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/statement_context_test.go
  table/column.go
Labels: priority/release-blocker, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9190 store: correct comments mistake.
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/2pc_slow_test.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/delete_range_test.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/isolation_test.go
  store/tikv/latch/latch.go
  store/tikv/pd_codec.go
  store/tikv/region_request_test.go
Labels: contribution, status/LGT2

#9189 stats: log auto analyze fail reason (#9178)
  domain/domain.go
  statistics/update.go
  statistics/update_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9087 expression: support JSON for builtin function COALESCE
  expression/builtin_compare.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix

#9071 plan: rewrite exact `like` expression to equal condition
  expression/function_traits.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_test.go
  planner/core/physical_plan_test.go
  util/ranger/ranger_test.go
  util/stringutil/string_util.go
  util/stringutil/string_util_test.go
Labels: component/planner, contribution, status/LGT1, type/enhancement

#9134 variable: remove tidb_ddl_reorg_worker_cnt and tidb_ddl_reorg_batch_size session level.
  ddl/fail_db_test.go
  ddl/index.go
  ddl/util/util.go
  executor/ddl_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil_test.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick

#9203 CHANGELOG: add release notes for v2.1.3 (#9174)
  CHANGELOG.md
Labels: CHANGELOG, status/LGT2

#9137 expression: fix precision when casting float to string
  expression/builtin_cast.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix
