Repository pingcap/tidb, pull requests merged in 2019-07, with the labels that each got.

#10992 *: fix malformed SQL statements in test
  ddl/db_change_test.go
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
  planner/core/prepare_test.go
Labels: component/test, status/LGT2

#10976 executor: locks key in point get executor for pessimistic transaction
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  executor/adapter.go
  executor/point_get.go
  planner/core/point_get_plan.go
  session/pessimistic_test.go
Labels: component/executor, status/LGT2, type/3.0 cherry-pick

#10974 planner: fix a corner case in column pruning rule
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  planner/core/logical_plan_test.go
  planner/core/rule_column_pruning.go
Labels: component/planner, status/LGT2, type/bug-fix

#10997 meta: make auto increment id can be adjust. (#10978)
  ddl/db_test.go
  executor/admin_test.go
  executor/ddl_test.go
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
Labels: status/LGT1, status/all tests passed, type/2.1 cherry-pick, type/enhancement

#10993 *: fix oom action cancel bug
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: component/executor, priority/release-blocker, status/LGT1, status/all tests passed, type/bug-fix

#10985 *: fix 'db' and 'Info' column of 'show processlist'
  infoschema/tables.go
  infoschema/tables_test.go
  session/session.go
  util/expensivequery/expensivequery.go
  util/processinfo.go
Labels: component/executor, status/LGT1, type/bug-fix

#10773 util: add `affinity-cpus` starting argument
  go.mod
  tidb-server/main.go
  util/sys/linux/sys_linux.go
  util/sys/linux/sys_other.go
Labels: component/server, component/usability, status/LGT2

#11005 tikv: remove max grpc msg limitation for kv request
  store/tikv/client.go
Labels: component/tikv, status/LGT2, status/all tests passed, type/enhancement

#10999 session,parser: make MAX_EXECUTION_TIME sql hint and global variable work
  domain/global_vars_cache.go
  go.mod
  go.sum
  session/session.go
  session/session_test.go
Labels: priority/release-blocker, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#11012 executor: fix point get snapshot TS for pessimistic transaction.
  executor/point_get.go
  session/pessimistic_test.go
Labels: component/executor, status/LGT1, status/all tests passed

#11006 meta: make auto increment id can be adjust. (#10978)
  ddl/db_test.go
  ddl/serial_test.go
  executor/ddl_test.go
  executor/seqtest/seq_executor_test.go
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
Labels: status/all tests passed, type/3.0 cherry-pick

#11000 *: fix 'db' and 'Info' column of 'show processlist' (#10985)
  infoschema/tables.go
  infoschema/tables_test.go
  session/session.go
  util/expensivequery/expensivequery.go
  util/processinfo.go
Labels: component/executor, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10959 expression: make `sleep` function response to the kill statement
  expression/builtin_miscellaneous.go
  expression/evaluator_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix, type/compatibility

#11004 *: fix oom action cancel bug (#10993)
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: type/3.0 cherry-pick

#10970 distsql: clean the memory usage of MemTracker when a query ends (#10898)
  distsql/distsql_test.go
  distsql/request_builder_test.go
  distsql/select_result.go
Labels: component/executor, status/LGT2, status/all tests passed, type/3.0 cherry-pick

#10949 bindinfo: fix unstable test
  bindinfo/bind_test.go
Labels: component/test, status/LGT2

#10981 ddl: add recover for run ddl job
  ddl/ddl_worker.go
  ddl/failtest/fail_db_test.go
  ddl/table.go
  infoschema/infoschema.go
Labels: component/DDL-need-LGT3, status/LGT3, type/bug-fix

#10986 executor: let flush privileges do nothing when `skip-grant-table` is configured
  executor/executor_test.go
  executor/simple.go
  executor/simple_test.go
Labels: component/privilege, priority/release-blocker, status/LGT2, status/all tests passed, type/bug-fix

#11013 plugin: setup connection info in session when audit enable(#10923)
  plugin/plugin.go
  server/conn.go
  server/server.go
  sessionctx/variable/session.go
Labels: component/plugin, status/LGT1, status/all tests passed, type/3.0 cherry-pick

#11022 ddl: add recover for run ddl job (#10981)
  ddl/ddl_worker.go
  ddl/failtest/fail_db_test.go
  ddl/table.go
  infoschema/infoschema.go
Labels: priority/release-blocker, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#11015 executor: fix point get snapshot TS for pessimistic transaction.
  executor/point_get.go
  session/pessimistic_test.go
Labels: component/executor, status/all tests passed, type/3.0 cherry-pick

#10884 *: directly save prepare execute args as datums in binary protocol
  executor/prepared.go
  executor/seqtest/prepared_test.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  server/conn_stmt.go
  server/conn_stmt_test.go
  server/driver.go
  server/driver_tidb.go
  session/session.go
  session/session_test.go
  session/tidb_test.go
  util/kvencoder/kv_encoder.go
  util/testkit/ctestkit.go
  util/testkit/testkit.go
Labels: component/executor, component/server, status/all tests passed, type/performance

#11019 planner: fix a corner case in column pruning rule (#10974)
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  planner/core/logical_plan_test.go
  planner/core/rule_column_pruning.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick

#11018 *: refactor the optional arguments for `table.AddRecord` and `index.Create`
  ddl/db_test.go
  executor/write.go
  infoschema/tables.go
  table/index.go
  table/table.go
  table/tables/index.go
  table/tables/partition.go
  table/tables/tables.go
Labels: status/all tests passed, type/enhancement

#11029 types: add `ToString` method for `HexLiteral` and `BitLiteral`
  types/binary_literal.go
  types/binary_literal_test.go
Labels: component/parser, status/LGT1, status/all tests passed

#11016 *: fix oom action cancel bug (#10993)
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: priority/release-blocker, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#11020 planner: fix a corner case in column pruning rule (#10974)
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  planner/core/logical_plan_test.go
  planner/core/rule_column_pruning.go
Labels: status/LGT2, status/all tests passed, type/3.0 cherry-pick

#10948 ddl: fix ddl modify column from null to not null bug: check null value again before change to no null
  ddl/column.go
  ddl/db_test.go
Labels: component/DDL-need-LGT3, priority/release-blocker, status/LGT2, type/bug-fix

#10994 planner: enable function `any_value` in aggregation if `ONLY_FULL_GROUP_BY` is set (#9255)
  executor/aggregate_test.go
  planner/core/logical_plan_builder.go
Labels: component/executor, priority/release-blocker, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#11041 expression: deep copy the string when assigning it to a user variable
  expression/builtin_other.go
  expression/builtin_other_test.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, priority/release-blocker, status/LGT1, status/all tests passed, type/bug-fix

#11028 expression: make `sleep` function response to the kill statement (#10959)
  expression/builtin_miscellaneous.go
  expression/evaluator_test.go
Labels: component/expression, type/3.0 cherry-pick, type/bug-fix

#11039 executor: disable trace statement
  executor/trace.go
Labels: component/executor, priority/release-blocker

#11035 planner: make WindowFunction uncacheable in prepare
  planner/core/cacheable_checker.go
  planner/core/cacheable_checker_test.go
Labels: component/planner, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/bug-fix

#11003 *: fix 'db' and 'Info' column of 'show processlist' (#10985)
  infoschema/tables.go
  infoschema/tables_test.go
  session/session.go
  util/expensivequery/expensivequery.go
  util/processinfo.go
Labels: component/executor, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#11021 parser: parse until the last character
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/parser, status/LGT1

#11043 expression: deep copy the string when setting user variable from Chunk (#11041)
  expression/builtin_other.go
  expression/builtin_other_test.go
Labels: component/expression, priority/release-blocker, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10480 store/tikv: Make maxTxnTimeUse a configurable value
  config/config.go
  config/config.toml.example
  store/tikv/2pc.go
Labels: component/tikv, priority/release-blocker, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#10998 *: add a blacklist to disallow pushing down specific expressions (#10688)
  executor/builder.go
  executor/reload_expr_pushdown_blacklist.go
  executor/reload_expr_pushdown_blacklist_test.go
  expression/expr_to_pb.go
  expression/integration_test.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
  session/bootstrap.go
  session/session.go
Labels: component/executor, priority/release-blocker, type/2.1 cherry-pick, type/enhancement

#11048 planner: make WindowFunction uncacheable in prepare (#11035)
  planner/core/cacheable_checker.go
  planner/core/cacheable_checker_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#11037 store/tikv: revert the optimization for optimistic conflicts pessimistic
  session/pessimistic_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: component/tikv, status/all tests passed, type/bug-fix

#11051 store/tikv: revert optimization for optimistic conflicts pessimistic
  session/pessimistic_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: status/LGT1, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#10932 ddl: disallow modifying the generated expression of stored or indexed column
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/generated_column.go
  table/tables/tables.go
Labels: component/DDL-need-LGT3, status/LGT2

#10952 ranger: some `sort` operation can be removed
  util/ranger/points.go
Labels: component/planner, type/performance

#11062 executor: fix two data races in tests
  config/config.go
  executor/executor_test.go
Labels: component/executor, status/LGT2, status/all tests passed

#11060 executor: fix a logical error which is introduced in a previous refactor
  domain/domain_test.go
  executor/write.go
  executor/write_test.go
Labels: component/executor, status/LGT1, status/all tests passed, type/bug-fix

#11058 config, kv: make TxnEntryCountLimit and TxnTotalSizeLimit configurable
  config/config.go
  config/config.toml.example
  config/config_test.go
  kv/kv.go
  kv/memdb_buffer.go
  store/tikv/2pc.go
  tidb-server/main.go
Labels: component/tikv, status/all tests passed, type/enhancement

#11040 planner: fix window which depends on another
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, contribution, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/bug-fix

#11038 lock: add delay clean table lock when session close
  config/config.go
  config/config.toml.example
  config/config_test.go
  ddl/db_test.go
  session/session.go
Labels: type/new-feature

#11074 executor: handle unsigned primary key for fast analyze
  executor/analyze.go
  executor/analyze_test.go
Labels: component/executor, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/bug-fix

#11023 ddl: Remove expired keys on PD (#10406)
  ddl/ddl.go
  ddl/ddl_worker.go
  ddl/mock.go
  ddl/util/syncer.go
  ddl/util/syncer_test.go
  domain/info.go
  go.mod
  go.sum
  metrics/ddl.go
  metrics/metrics.go
Labels: priority/release-blocker, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#10424 *: make assertion check more reasonable
  ddl/index.go
  executor/admin.go
  executor/distsql_test.go
  executor/executor_test.go
  executor/write_test.go
  kv/kv.go
  kv/mock.go
  session/txn.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/txn.go
  table/index.go
  table/tables/index.go
  table/tables/index_test.go
  table/tables/tables.go
  util/admin/admin_test.go
Labels: status/all tests passed, type/enhancement

#11070 executor, infoschema: fix display of default CURRENT_TIMESTAMP with decimal
  executor/show.go
  executor/show_test.go
  infoschema/tables_test.go
  table/column.go
Labels: component/DDL-need-LGT3, status/LGT2, type/bug-fix

#10958 ddl: allow more charset/collation modifications for database/table
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT2

#11042 insert, server: make generated column ref in insert set available
  executor/insert_common.go
  executor/write_test.go
  table/column.go
Labels: component/executor, component/expression, status/LGT2, status/all tests passed, type/bug-fix

#11072 executor: fix invalid key error of fast analyze
  executor/analyze.go
  executor/analyze_test.go
Labels: component/executor, needs-cherry-pick-3.0, status/LGT1, status/all tests passed, type/bug-fix

#11033 store/tikv: Remove gcTaskWorker
  store/tikv/delete_range.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/range_task.go
  store/tikv/range_task_test.go
Labels: component/tikv

#11068 ddl: disallow modifying the generated expression of stored or indexed column (#10932)
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/generated_column.go
  table/tables/tables.go
Labels: status/all tests passed, type/3.0 cherry-pick

#11083 planner: tiny cleanup of plan builder
  planner/core/logical_plan_builder.go
Labels: component/planner

#11090 executor: make `TestShowAnalyzeStatus` more stable
  executor/executor_test.go
  executor/show_stats_test.go
Labels: component/executor, component/test, status/LGT1

#11047 window function: function name of error message should be lowercase
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, contribution, status/LGT1, type/bug-fix

#11071 session: don't change the DDL lease when doing bootstrap (#10908)
  session/session.go
  session/tidb.go
Labels: status/LGT2, type/2.1 cherry-pick

#10512 planner: generate IndexMergePath in physical optimization
  planner/core/indexmerge_test.go
  planner/core/logical_plans.go
  planner/core/stats.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: component/planner, contribution, status/LGT2, status/all tests passed, type/enhancement

#10991 tikvclient: fix a bug that double close channels.
  go.mod
  go.sum
  metrics/tikvclient.go
  store/tikv/client.go
  store/tikv/client_fail_test.go
  store/tikv/client_test.go
  store/tikv/mock_tikv_service.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: component/tikv, needs-cherry-pick-3.0, priority/release-blocker, status/LGT2, status/all tests passed, type/bug-fix

#11014 ddl: remove expired keys on PD (#10406)
  ddl/ddl.go
  ddl/ddl_worker.go
  ddl/mock.go
  ddl/util/syncer.go
  ddl/util/syncer_test.go
  domain/info.go
  go.mod
  go.sum
  metrics/ddl.go
  metrics/metrics.go
Labels: status/LGT2, status/all tests passed, type/3.0 cherry-pick

#11086 ddl: allow more charset/collation modifications for database/table (#10958)
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: type/3.0 cherry-pick

#11099 executor: handle unsigned primary key for fast analyze (#11074)
  executor/analyze.go
  executor/analyze_test.go
Labels: component/executor, status/LGT3, type/3.0 cherry-pick

#11098 executor: fix invalid key error of fast analyze (#11072)
  executor/analyze.go
  executor/analyze_test.go
Labels: component/executor, status/LGT2, type/3.0 cherry-pick

#11088 executor, infoschema: fix display of default CURRENT_TIMESTAMP with decimal (#11070)
  executor/show.go
  executor/show_test.go
  infoschema/tables_test.go
  table/column.go
Labels: component/DDL-need-LGT3, status/LGT2, type/3.0 cherry-pick

#11027 executor: let flush privileges do nothing when `skip-grant-table` is configured (#10986)
  executor/executor_test.go
  executor/simple.go
  executor/simple_test.go
Labels: status/LGT2, type/3.0 cherry-pick, type/bug-fix

#11120 executor: fix two data races in tests
  config/config.go
  executor/executor_test.go
Labels: status/LGT1, type/3.0 cherry-pick

#11118 window function: function name of error message should be lowercase
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: status/LGT2, type/3.0 cherry-pick

#10987 *: add tidb_enable_noop_functions to default disable get_lock()/release_lock()
  executor/set_test.go
  expression/errors.go
  expression/function_traits.go
  expression/integration_test.go
  expression/scalar_function.go
  expression/typeinfer_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  store/tikv/client_fail_test.go
Labels: component/session, status/LGT2

#11076 expression: add built-in function `json_array_insert`
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/distsql_builtin.go
  types/json/binary_functions.go
  types/json/constants.go
Labels: component/expression, status/LGT2, status/all tests passed, type/enhancement

#10655 ddl: constant or timezone-dependent expressions in partition should not be allowed
  ddl/db_partition_test.go
  ddl/partition.go
Labels: status/LGT2, status/all tests passed, type/bug-fix

#11121 ddl: a better way to fix data race against #10900
  config/config.go
  ddl/db_test.go
  ddl/serial_test.go
Labels: component/test, status/all tests passed, type/enhancement

#11095 planner/core: stabilize the execution order of window functions
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#11125 planner/core: stabilize the execution order of window functions (#11095)
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, status/all tests passed, type/3.0 cherry-pick

#11045 ddl: fix the issue that the length of the index is 0.
  ddl/db_integration_test.go
  ddl/index.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed, type/compatibility

#11073 executor, test: skip `TestPBMemoryLeak` to reduce unit test time cost
  executor/memory_test.go
Labels: component/executor, component/test, status/all tests passed

#11101 tikvclient: fix a bug that double close channels. (#10991)
  go.mod
  go.sum
  metrics/tikvclient.go
  store/tikv/client.go
  store/tikv/client_fail_test.go
  store/tikv/client_test.go
  store/tikv/mock_tikv_service.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: priority/release-blocker, status/LGT2, type/3.0 cherry-pick

#11044 expression: deep copy the string when setting user variable from Chunk (#11041)
  expression/builtin_other.go
  expression/builtin_other_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#11122 plugin: support dynamic enable/disable plugins
  executor/admin_plugins.go
  executor/builder.go
  executor/show.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
  plugin/audit.go
  plugin/plugin.go
  server/conn.go
  server/server.go
Labels: component/plugin, status/LGT1, type/enhancement

#11134 domain: update the schema check outdate metric
  domain/schema_checker.go
Labels: component/metrics, status/LGT1, status/all tests passed, type/enhancement

#11133 executor, test: skip `TestPBMemoryLeak` to reduce unit test time cost(#11073)
  executor/memory_test.go
Labels: component/executor, component/test, type/3.0 cherry-pick

#11117 cmd: move ddltest from tidb-test
  Makefile
  cmd/ddltest/column_test.go
  cmd/ddltest/ddl_test.go
  cmd/ddltest/index_test.go
  cmd/ddltest/random.go
Labels: component/test, status/LGT1, status/all tests passed, type/2.1 cherry-pick

#11087 executor, infoschema: fix display of default CURRENT_TIMESTAMP with decimal (#11070)
  executor/show.go
  executor/show_test.go
  infoschema/tables_test.go
  table/column.go
Labels: status/LGT2, type/2.1 cherry-pick

#11144 metrics: add comments for metrics ranges (#10279)
  metrics/ddl.go
  metrics/distsql.go
  metrics/domain.go
  metrics/gc_worker.go
  metrics/meta.go
  metrics/metrics.go
  metrics/oracles.go
  metrics/owner.go
  metrics/server.go
  metrics/session.go
  metrics/stats.go
  metrics/tikvclient.go
Labels: component/metrics, status/all tests passed, type/2.1 cherry-pick

#10087 privilege: fix update privilege error
  plan/logical_plan_builder.go
  session/session_test.go
Labels: component/privilege, contribution, status/LGT2, status/all tests passed

#11085 ddl: allow more charset/collation modifications for database/table (#10958)
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#11142 executor: fix privilege check for 'show create user current_user()'
  executor/show.go
  executor/show_test.go
Labels: component/privilege, status/LGT1, status/all tests passed, type/bug-fix

#11153 planner/core: tiny cleanup the buildShow function
  planner/core/planbuilder.go
Labels: component/planner, type/enhancement

#10980 ddl: scatter the regions of table when creating them
  ddl/ddl_api.go
  ddl/split_region.go
  ddl/table.go
  executor/set_test.go
  executor/split.go
  kv/kv.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  store/tikv/scan_test.go
  store/tikv/split_region.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed

#10612 *: add show table regions syntax
  executor/builder.go
  executor/executor_test.go
  executor/show.go
  executor/split.go
  go.mod
  kv/kv.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/split_region.go
Labels: status/LGT2, type/new-feature

#10423 *: add admin cleanup table lock syntax support
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/table_lock.go
  executor/ddl.go
  infoschema/infoschema.go
  infoschema/perfschema/const.go
  lock/lock.go
  planner/core/planbuilder.go
  util/misc.go
Labels: require-LGT3, status/LGT2, status/all tests passed, type/new-feature

#11108 store/tikv: move batch client code to file client_batch.go
  store/tikv/client.go
  store/tikv/client_batch.go
  store/tikv/client_test.go
Labels: component/tikv, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/enhancement

#11158 *: add trace support for the `AllocAutoIncrementValue` function
  executor/executor_test.go
  executor/insert_common.go
  executor/load_data.go
  executor/write_test.go
  infoschema/tables.go
  server/conn.go
  table/table.go
  table/tables/tables.go
  table/tables/tables_test.go
Labels: needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/enhancement

#11157 plugin: support dynamic enable/disable plugins (#11122)
  executor/admin_plugins.go
  executor/builder.go
  executor/show.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
  plugin/audit.go
  plugin/const_test.go
  plugin/helper_test.go
  plugin/plugin.go
  plugin/plugin_test.go
  server/conn.go
  server/server.go
Labels: component/plugin, priority/release-blocker, status/LGT1, status/all tests passed, type/3.0 cherry-pick

#11075 CHANGELOG: add release notes for v2.1.14
  CHANGELOG.md
Labels: CHANGELOG

#11017 CHANGELOG: pick changelog from branch release-2.1 and branch release-3.0
  CHANGELOG.md
Labels: CHANGELOG, status/LGT1

#11166 *: rename and add tidb_wait_split_region_timeout session variable to set wait split region timeout. (#10797)
  ddl/ddl_api.go
  ddl/table.go
  executor/executor_test.go
  executor/set_test.go
  executor/split.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: priority/release-blocker, status/LGT2, type/3.0 cherry-pick

#11168 expressio: fix data race of rand function
  expression/builtin_math.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/bug-fix

#11135 server: don't interrupt when nodelay executed
  server/conn.go
  server/conn_test.go
Labels: component/server, status/LGT1, status/all tests passed, type/enhancement

#11187 planner: fix union scan on partition table bug
  executor/executor_test.go
  planner/core/rule_partition_processor.go
Labels: priority/release-blocker, status/LGT2, status/all tests passed, type/bug-fix

#11162 executor: explain analyze panic when processing `explain analyze insert ... select ...`
  executor/adapter.go
  executor/explain_test.go
  go.mod
  go.sum
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#11050 executor: fix a bug for 'int column <cmp> non-int constant'
  expression/builtin_compare.go
  expression/builtin_compare_test.go
  expression/integration_test.go
  expression/simple_rewriter.go
  planner/core/expression_rewriter.go
Labels: component/executor, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT1, status/all tests passed, type/bug-fix

#11169 expression: fix data race of rand function (#11168)
  expression/builtin_math.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, type/3.0 cherry-pick

#10982 infochema, server: export region_id in hot_region table
  infoschema/tables.go
  server/http_handler.go
  store/helper/helper.go
Labels: component/server, component/usability, status/LGT1, status/all tests passed

#11191 executor: fix a bug for 'int column <cmp> non-int constant' (#11050)
  expression/builtin_compare.go
  expression/builtin_compare_test.go
  expression/integration_test.go
  expression/simple_rewriter.go
  planner/core/expression_rewriter.go
Labels: component/executor, status/LGT1, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#11183 ddl: do not split index when creating table
  ddl/split_region.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed

#11079 executor, metrics: add metrics for fast analyze.
  executor/analyze.go
  metrics/metrics.go
  metrics/stats.go
Labels: component/executor, component/metrics, status/LGT2, status/all tests passed, type/enhancement

#11204 executor: fix a bug of 'insert on duplicate update' statement on partitioned table
  executor/insert.go
  executor/insert_test.go
  executor/simple_test.go
Labels: component/executor, needs-cherry-pick-3.0, priority/release-blocker, type/bug-fix

#11054 planner: fix bug when pruning columns for TableDual
  executor/executor_test.go
  planner/core/rule_column_pruning.go
Labels: needs-cherry-pick-3.0, status/LGT2, type/bug-fix

#11170 expression: fix data race of rand function (#11168)
  expression/builtin_math.go
  expression/integration_test.go
Labels: component/expression, status/LGT1, status/all tests passed, type/2.1 cherry-pick

#11150 update vendor to build on ARM64 (#10805)
  go.mod
  go.sum
Labels: component/deployment, status/LGT2, status/all tests passed, type/3.0 cherry-pick

#11194 executor: fix a bug for 'int column <cmp> non-int constant' (#11050)
  expression/builtin_compare.go
  expression/builtin_compare_test.go
  expression/integration_test.go
  expression/simple_rewriter.go
  planner/core/expression_rewriter.go
Labels: component/executor, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#11196 planner: fix union scan on partition table bug (#11187)
  executor/executor_test.go
  planner/core/rule_partition_processor.go
Labels: priority/release-blocker, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#10942 planner: support subquery in `SHOW` statement
  executor/builder.go
  planner/core/common_plans.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/integration_test.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  planner/core/resolve_indices.go
  planner/core/stringer.go
Labels: component/planner, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/bug-fix, type/enhancement

#11065 ddl: refine error messages in unsupported column options
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed

#11192 session: do not keep history when the transaction retry is disabled
  ddl/db_test.go
  session/session.go
  session/session_test.go
  session/tidb.go
  sessionctx/variable/session.go
Labels: component/transaction-need-LGT3, status/LGT1, status/all tests passed

#11164 planner: some cleanup
  planner/core/expression_rewriter.go
  planner/core/indexmerge_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/planbuilder_test.go
  planner/core/rule_partition_processor.go
Labels: component/planner, status/LGT2, type/enhancement

#11132 session: improvment refactor the logic of load data batch insert
  executor/executor_test.go
  executor/load_data.go
  executor/write_test.go
  server/conn.go
Labels: component/server, status/LGT1, status/all tests passed, type/enhancement

#11219 executor: fix bug of point get when meet null values
  executor/point_get.go
  executor/point_get_test.go
Labels: component/executor, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/bug-fix

#11216 ddl: scatter the regions of table when creating them (#10980)
  ddl/ddl_api.go
  ddl/split_region.go
  ddl/table.go
  executor/set_test.go
  executor/split.go
  kv/kv.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  store/tikv/scan_test.go
  store/tikv/split_region.go
Labels: component/DDL-need-LGT3, status/all tests passed, type/3.0 cherry-pick

#11213 ddl: scatter the regions of table when creating them (#10980)
  ddl/ddl_api.go
  ddl/split_region.go
  ddl/table.go
  executor/set_test.go
  executor/split.go
  kv/kv.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  store/tikv/scan_test.go
  store/tikv/split_region.go
Labels: component/DDL-need-LGT3, status/all tests passed, type/2.1 cherry-pick

#11093 executor: handle missing timestamp value for load data
  executor/load_data.go
  executor/write_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/compatibility

#10864 types: fix incorrect `weekday` for `ALLOW_INVALID_DATES` mode
  types/format_test.go
  types/mytime.go
  types/mytime_test.go
Labels: contribution, status/all tests passed, type/compatibility

#11225 go.mod: update tidb to use the latest release-3.0 pd client
  go.mod
  go.sum
  store/mockstore/mocktikv/pd.go
  store/tikv/store_test.go
Labels: component/metrics, status/all tests passed, v3.0

#11209 *: isolate testing code
  Makefile
  server/sql_info_fetcher.go
  session/tidb.go
  util/testkit/ctestkit.go
  util/testkit/fake.go
  util/testkit/testkit.go
  util/testutil/testutil.go
Labels: component/test, contribution, needs-cherry-pick-3.0, status/LGT2, status/all tests passed

#11227 executor: fix bug of point get when meet null values (#11219)
  executor/point_get.go
  executor/point_get_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#11226 executor: fix bug of point get when meet null values (#11219)
  executor/point_get.go
  executor/point_get_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/3.0 cherry-pick

#11094 planner: unsigned pk cannot be pushed as index column
  executor/executor_test.go
  planner/cascades/optimize_test.go
  planner/core/indexmerge_test.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/mock.go
  planner/core/physical_plan_test.go
  planner/core/preprocess_test.go
  planner/implementation/base_test.go
  planner/memo/group_test.go
Labels: component/planner, status/LGT2, type/bug-fix

#11176 CONVERT_TZ should return NULL if its arguments are invalid. (#11161)
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, type/compatibility

#11081 executor: fix the behavior when index join meet prefix index
  executor/builder.go
  executor/index_lookup_join.go
  executor/index_lookup_join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plans.go
  util/ranger/ranger.go
Labels: component/executor, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/bug-fix

#11067 executor: push-down LoadDataStmt in distsql
  executor/admin.go
  executor/builder.go
  executor/distsql.go
  go.sum
  sessionctx/stmtctx/stmtctx.go
  sessionctx/stmtctx/stmtctx_test.go
Labels: component/executor, status/LGT2

#11234 *: add show table regions syntax (#10612)
  executor/builder.go
  executor/executor_test.go
  executor/show.go
  executor/split.go
  go.mod
  go.sum
  kv/kv.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/split_region.go
Labels: type/3.0 cherry-pick, type/new-feature

#11242 chunk: use native go style to do initialization
  util/chunk/chunk.go
Labels: component/executor, status/LGT2

#11244 planner: tiny refactor
  planner/core/logical_plan_builder.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#11224 go.mod: update go.mod to use the latest pd
  go.mod
  go.sum
Labels: component/metrics, status/all tests passed

#11230 *: add trace support for the `AllocAutoIncrementValue` function (#11158)
  executor/executor_test.go
  executor/insert_common.go
  executor/load_data.go
  executor/write_test.go
  infoschema/tables.go
  server/conn.go
  table/table.go
  table/tables/tables.go
  table/tables/tables_test.go
Labels: status/all tests passed, type/3.0 cherry-pick, type/enhancement

#11237 expression: function INSERT should return NULL if any argument is NULL
  expression/builtin_string.go
  expression/builtin_string_test.go
  expression/integration_test.go
Labels: component/expression, contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/bug-fix

#11189 plugin: support dynamic enable/disable plugins(#11122)(#10923)(#10506)
  executor/admin_plugins.go
  executor/builder.go
  executor/show.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
  plugin/audit.go
  plugin/const_test.go
  plugin/helper_test.go
  plugin/plugin.go
  plugin/plugin_test.go
  server/conn.go
  server/server.go
  sessionctx/variable/session.go
Labels: component/plugin, needs-cherry-pick-2.1, priority/release-blocker, status/LGT2, status/all tests passed, type/TEP

#11091 *: improve column size calculation of statistics
  executor/analyze.go
  executor/show_stats.go
  infoschema/tables_test.go
  planner/core/plan_to_pb.go
  statistics/handle/ddl_test.go
  statistics/handle/handle_test.go
  statistics/handle/update_test.go
  statistics/histogram.go
  table/tables/tables.go
  tablecodec/tablecodec.go
  tablecodec/tablecodec_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/enhancement

#11239 executor,sessionctx: refine output format for tidb-specific variables of boolean type
  executor/set_test.go
  sessionctx/variable/varsutil.go
Labels: contribution, status/LGT2, status/all tests passed, type/compatibility

#11055 *: reduce tikvrpc request struct size
  executor/analyze.go
  executor/analyze_test.go
  server/http_handler.go
  store/helper/helper.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/client_fail_test.go
  store/tikv/coprocessor.go
  store/tikv/delete_range.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
  store/tikv/rawkv.go
  store/tikv/region_request_test.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: component/tikv, status/LGT1, type/enhancement

#10962 planner: disable projection elimination for select plan of update
  planner/core/cbo_test.go
  planner/core/logical_plan_builder.go
Labels: component/planner, priority/P1, priority/release-blocker, status/LGT2, status/all tests passed, type/bug-fix

#11231 executor: fix a bug of 'insert on duplicate update' statement on partitioned table (#11204)
  executor/insert.go
  executor/insert_test.go
  executor/simple_test.go
Labels: component/executor, priority/release-blocker, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#11232 ddl: do not split index when creating table (#11183)
  ddl/split_region.go
Labels: component/DDL-need-LGT3, status/all tests passed, type/3.0 cherry-pick

#11026 *: Add support for MAX_EXECUTION_TIME (#10541) (#10963)
  executor/adapter.go
  go.sum
  server/conn.go
  server/conn_stmt.go
  server/conn_test.go
  server/driver.go
  server/driver_tidb.go
  server/server.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
  util/expensivequery/expensivequery.go
  util/processinfo.go
Labels: priority/release-blocker, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/new-feature

#11254 planner: disable projection elimination for select plan of update (#10962)
  planner/core/cbo_test.go
  planner/core/logical_plan_builder.go
Labels: component/planner, status/LGT1, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#11252 planner: disable projection elimination for select plan of update (#10962)
  planner/core/cbo_test.go
  planner/core/logical_plan_builder.go
Labels: component/planner, priority/release-blocker, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/bug-fix
