Repository pingcap/tidb, pull requests merged in 2019-09, with the labels that each got.

#11962 executor: uncomment the BatchPointGet unit tests
  executor/batch_point_get_test.go
Labels: component/executor, status/PTAL

#11966 ddl: use the Options to reorganize the NewDDL paramaters
  ddl/column_change_test.go
  ddl/column_test.go
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/ddl_worker_test.go
  ddl/fail_test.go
  ddl/foreign_key_test.go
  ddl/index_change_test.go
  ddl/options.go
  ddl/options_test.go
  ddl/reorg_test.go
  ddl/schema_test.go
  ddl/stat_test.go
  ddl/table_test.go
  ddl/util/syncer_test.go
  domain/domain.go
  domain/domain_test.go
  owner/manager_test.go
Labels: status/LGT2, status/PTAL, type/enhancement

#11969 infoschema,store: fix the inconsistent definition of StoreStatus between TiDB/PD
  infoschema/tables.go
  store/helper/helper.go
Labels: component/json, needs-cherry-pick-3.0, status/LGT2, status/can merge

#11938 distsql: merge executioin detail in stream cop
  distsql/stream.go
Labels: component/usability, status/LGT2, status/can merge

#11929 executor: split a separate region for index when split table region (#11721)
  executor/executor_test.go
  executor/split.go
  planner/core/planbuilder.go
Labels: type/2.1 cherry-pick

#11978 executor: set the correct stmtCtx for explain statement (#11186)
  executor/executor.go
  executor/point_get_test.go
  util/testkit/testkit.go
Labels: component/planner, status/LGT1, type/2.1 cherry-pick, type/bug-fix

#11931 tikv: cleanup outdate regions's memory from region-cache in 2.1
  go.mod
  go.sum
  store/tikv/region_cache.go
Labels: component/tikv, status/LGT1, status/can merge, type/2.1 cherry-pick, type/enhancement

#11926 planner: split avg to count and sum for TableReader cop task
  cmd/explaintest/r/tpch.result
  planner/core/physical_plan_test.go
  planner/core/task.go
Labels: component/planner, status/LGT2, status/can merge

#11967 executor: fix execution info of explain analyze
  executor/distsql.go
  executor/executor.go
  executor/explain.go
  executor/explain_test.go
  executor/join.go
Labels: component/executor, status/LGT2, status/can merge, type/bug-fix

#11959 planner: use ExtraHandleColumn as PK when generating TablePath
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/t/access_path_selection.test
  planner/core/logical_plans.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge

#11942 planner/core: add a range check against the display width of BIT columns
  go.mod
  go.sum
  planner/core/integration_test.go
  planner/core/preprocess.go
  types/errors.go
Labels: component/planner, status/LGT2, status/PTAL, status/all tests passed

#11928 executor: split a separate region for index when split table region (#11721)
  executor/executor_test.go
  executor/split.go
  planner/core/planbuilder.go
Labels: type/3.0 cherry-pick

#11980 load data : fix load data rowcount should added first before call colsToRow()
  executor/load_data.go
  server/server_test.go
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#11920 Planner:eliminate redundant projection
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/topn_pushdown.result
  planner/core/logical_plan_test.go
  planner/core/physical_plan_test.go
  planner/core/rule_column_pruning.go
  planner/core/rule_eliminate_projection.go
Labels: component/planner, contribution, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#11975 executor: refine the usage of expression blacklist (#11940)
  cmd/explaintest/r/black_list.result
  cmd/explaintest/t/black_list.test
  executor/reload_expr_pushdown_blacklist.go
Labels: component/executor, status/LGT2, status/can merge, type/3.0 cherry-pick

#11989 expression: fix type infer of unaryMinus which should return ETDecimal if ETInt overflow int
  expression/builtin_op.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/can merge

#11973 dml : fix last insert id when autoid specified by user in first row.
  executor/insert_common.go
  executor/insert_test.go
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/can merge, type/bug-fix

#11982 table: Encode/Decode handle faster by reducing escaped variables
  table/tables/index.go
Labels: status/can merge, type/performance

#11965 expression: enable vectorized expression evaluation by default
  executor/projection.go
  expression/builtin_vectorized_test.go
  expression/chunk_executor.go
  expression/column.go
  expression/constant.go
  expression/integration_test.go
  expression/vectorized.go
  sessionctx/variable/session.go
  sessionctx/variable/tidb_vars.go
  util/chunk/column.go
  util/chunk/column_test.go
Labels: component/expression, status/LGT2, status/can merge

#11988 gomod: update region cache btree version
  go.mod
  go.sum
Labels: component/tikv, needs-cherry-pick-3.0, status/all tests passed, status/can merge

#11739 *: support a region divided into multiple regions
  ddl/split_region.go
  executor/executor_test.go
  executor/split.go
  go.mod
  go.sum
  kv/kv.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/backoff.go
  store/tikv/rawkv.go
  store/tikv/region_cache.go
  store/tikv/scan_test.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/split_test.go
Labels: component/executor, require-LGT3, status/LGT3, status/can merge

#11937 executor: reorg codes for hashtable in HashJoinExec
  executor/benchmark_test.go
  executor/builder.go
  executor/hash_table.go
  executor/hash_table_test.go
  executor/join.go
Labels: component/executor, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#11984 *: add region read/write bytes info and approximate size/keys in show table regions result. (#11847)
  executor/executor_test.go
  executor/show.go
  executor/split.go
  planner/core/planbuilder.go
  store/helper/helper.go
  util/pdapi/const.go
Labels: component/usability, status/all tests passed, status/can merge, type/3.0 cherry-pick

#8661 executor: support index nested loop hash join
  executor/builder.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plans.go
Labels: component/executor, component/planner, contribution, status/LGT2, status/all tests passed, status/can merge

#12000 CONTRIBUTING.md: update the github workflow
  CONTRIBUTING.md
Labels: status/LGT2, status/can merge, type/enhancement

#11994 load data : fix load data rowCount should added first before call colsToRow(). (#11980)
  executor/load_data.go
  server/server_test.go
Labels: status/LGT2, status/can merge, type/2.1 cherry-pick

#11995 load data : fix load data rowCount should added first before call colsToRow(). (#11980)
  executor/load_data.go
  server/server_test.go
Labels: status/LGT2, status/can merge, type/3.0 cherry-pick

#12007 *: add release notes for v3.0.3
  CHANGELOG.md
Labels: CHANGELOG, status/LGT1

#11963 Expression: Add test framework for vectorized expression evaluation functions
  expression/bench_test.go
Labels: component/expression, component/test, status/LGT2, status/can merge

#12010 CODE_OF_CONDUCT: Add Code of Conduct"
  CODE_OF_CONDUCT.md
Labels: component/community, status/LGT1, type/enhancement

#11908 *: record previous statement when commit is slow
  executor/adapter.go
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  infoschema/tables_test.go
  session/tidb.go
  sessionctx/variable/session.go
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/enhancement

#11981 *: not send tso request when point get with max tso
  executor/adapter.go
  planner/optimize.go
  session/session.go
  sessionctx/context.go
  util/mock/context.go
Labels: component/transaction-need-LGT3, status/LGT2, type/enhancement, type/performance

#12015 parser: update parser for add where for show table region syntax
  go.mod
  go.sum
Labels: closed/no-pr-quota, component/parser

#12002 dml : fix last insert id when autoid specified by user in first row. (#11973)
  executor/insert_common.go
  executor/insert_test.go
Labels: status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#12001 dml : fix last insert id when autoid specified by user in first row. (#11973)
  executor/insert_common.go
  executor/insert_test.go
Labels: status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#11338 planner: support index_lookup_merge_join in physical plan.
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  executor/builder.go
  planner/core/cbo_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/initialize.go
  planner/core/physical_plan_test.go
  planner/core/physical_plans.go
  planner/core/stringer.go
  planner/core/task.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT2, status/PTAL, status/all tests passed, status/can merge, type/enhancement, type/new-feature

#12012 expression: implement vectorized evaluation for `builtinLog10Sig`
  expression/bench_test.go
  expression/builtin_math_vec.go
Labels: component/expression, status/can merge

#11996 planner: fix aggregation hint didn't work in some cases
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
  planner/core/rule_aggregation_push_down.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/bug

#12014 expression: implement vectorized evaluation for `builtinRepeatSig`
  expression/bench_test.go
  expression/builtin.go
  expression/builtin_string_vec.go
  expression/builtin_vectorized_test.go
Labels: component/expression, status/LGT2, status/can merge

#11919 planner: tiny refactor around check index
  planner/core/planbuilder.go
Labels: component/planner, status/LGT2, status/can merge

#12032 store: fix missing line resolving conflicts
  store/tikv/2pc.go
Labels: status/can merge, type/bug-fix, type/new-feature

#11894 planner: use *expression.Column instead of *IndexColumn to represent index
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_easy.result
  expression/column.go
  expression/column_test.go
  planner/core/cbo_test.go
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
  planner/core/find_best_task.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
  planner/core/property_cols_prune.go
  util/ranger/ranger_test.go
Labels: component/expression, component/planner, status/LGT2, status/can merge

#12034 expression: support vectorized bitmap operations for `nulls` in `Column`
  util/chunk/column.go
  util/chunk/column_test.go
Labels: component/expression, status/LGT2, status/can merge

#11624 planner: Solve the problem that the parent query condition is pushed incorrectly when the setvar function is evaluated in the subquery.（#11622）
  expression/chunk_executor.go
  planner/core/integration_test.go
  planner/core/rule_predicate_push_down.go
Labels: component/planner, contribution, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#11754 store: implement MVCCDebugger Interface for MVCCLevelDB
  server/http_handler_test.go
  server/http_status.go
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
Labels: component/server, status/LGT2, status/PTAL, status/can merge

#12041 *: replace pessimistic default config option with global variable
  config/config.go
  config/config.toml.example
  executor/executor_test.go
  executor/simple.go
  session/pessimistic_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: component/transaction-need-LGT3, needs-cherry-pick-3.0, status/LGT2, status/can merge

#12008 ddl: fix the `modify column` operation on the `bit` column
  ddl/ddl_api.go
  executor/ddl_test.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT3, status/all tests passed, status/can merge, type/bug-fix

#12049 *: replace pessimistic default config option with global variable(#12041)
  config/config.go
  config/config.toml.example
  executor/executor_test.go
  executor/simple.go
  session/pessimistic_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: component/transaction-need-LGT3, status/LGT2, status/all tests passed, type/3.0 cherry-pick

#12044 expression: tiny refactor around the vectorized testing framework
  expression/bench_test.go
Labels: component/expression, status/LGT2, status/can merge

#12051 planner: fix wrong request data type when pushing down avg aggfuncs
  planner/core/physical_plan_test.go
  planner/core/task.go
Labels: component/planner, status/LGT2, status/can merge, type/bug-fix

#12029 planner: extract basePhysicalJoin for several physical joins
  executor/builder.go
  executor/executor_required_rows_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/resolve_indices.go
  planner/core/stats.go
  planner/core/stringer.go
  planner/core/task.go
Labels: component/planner, status/all tests passed, status/can merge, type/enhancement

#11985 planner/core: add bit column test about display width range
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/serial_test.go
  planner/core/integration_test.go
  types/errors.go
  util/testkit/testkit.go
Labels: component/planner, status/LGT1, status/PTAL, status/all tests passed

#12037 planner: choose TableScan when use an empty index hint
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#11979 *: implement the TxnHeartBeat API for the large transaction
  go.mod
  go.sum
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/lock_test.go
  store/tikv/region_request_test.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: component/tikv, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/new-feature

#12071 *: fix typo of `eliminator`
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/physical_plan_test.go
  planner/core/rule_eliminate_projection.go
Labels: component/planner, status/LGT2, status/can merge

#12061 *: record index name in the slow log instead of index id (#11795)
  domain/topn_slow_query.go
  executor/adapter.go
  executor/builder.go
  executor/executor.go
  go.mod
  infoschema/slow_log.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
  util/expensivequery/expensivequery.go
Labels: component/usability, status/all tests passed, type/3.0 cherry-pick

#12063 *: record index name in the slow log instead of index id (#11795)
  domain/topn_slow_query.go
  executor/adapter.go
  executor/builder.go
  executor/executor.go
  infoschema/slow_log.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: component/usability, status/all tests passed, type/2.1 cherry-pick

#12079 config: add split-region-max-num in config to control the maximum split region number (#11427)
  config/config.go
  config/config.toml.example
  config/config_test.go
  planner/core/planbuilder.go
Labels: component/usability, status/LGT2, status/can merge, type/3.0 cherry-pick

#12080 config: add split-region-max-num in config to control the maximum split region number (#11427)
  config/config.go
  config/config.toml.example
  config/config_test.go
  planner/core/planbuilder.go
Labels: component/usability, status/LGT2, status/can merge, type/2.1 cherry-pick

#12005 planner: don't DoOptimze when build show
  executor/builder.go
  planner/core/common_plans.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/stats.go
  planner/core/stringer.go
Labels: component/planner, status/LGT2, status/can merge

#12069 *: reference the CONTRIBUTING.md in the community repo
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Labels: component/community, type/enhancement

#12084 tikvclient: add metrics for gRPC connection transient failure
  metrics/gprc.go
  metrics/metrics.go
  metrics/session.go
  metrics/tikvclient.go
  store/tikv/client.go
Labels: component/metrics, needs-cherry-pick-2.1, needs-cherry-pick-3.0

#12072 executor: fix index hash join joiner race
  executor/builder.go
  executor/index_lookup_hash_join.go
Labels: component/executor, status/LGT2, status/can merge, type/bug-fix

#12081 expression: implement vectorized evaluation for `builtinIfJSONSig`
  expression/bench_test.go
  expression/builtin_control_vec.go
Labels: component/expression, status/LGT2, status/can merge

#12092 tikvclient: add metrics for gRPC connection transient failure (#12084)
  metrics/gprc.go
  metrics/metrics.go
  metrics/session.go
  metrics/tikvclient.go
  store/tikv/client.go
Labels: status/can merge, type/2.1 cherry-pick

#12038 planner: consider agg func type in cost model
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/index_join.result
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  planner/core/physical_plan_test.go
  planner/core/physical_plans.go
  planner/core/task.go
Labels: component/planner, status/LGT2, status/can merge, type/enhancement

#12093 tikvclient: add metrics for gRPC connection transient failure (#12084)
  metrics/gprc.go
  metrics/metrics.go
  metrics/session.go
  metrics/tikvclient.go
  store/tikv/client.go
Labels: status/can merge, type/3.0 cherry-pick

#12064 stats: support display invalid key in stats buckets
  executor/analyze.go
  statistics/feedback.go
  statistics/histogram.go
  statistics/histogram_test.go
  util/codec/codec.go
  util/codec/codec_test.go
Labels: component/statistics, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#12068 config: disable local latch by default
  config/config.go
  config/config.toml.example
Labels: needs-cherry-pick-3.0, status/LGT1, status/LGT2, status/can merge, type/enhancement

#12050 *: replace word error in warning, info, debug logs
  ddl/ddl_worker.go
  ddl/index.go
  executor/adapter.go
  executor/insert_common.go
  planner/core/stats.go
  server/conn.go
  session/session.go
  session/tidb.go
  statistics/histogram.go
  store/tikv/2pc.go
  store/tikv/region_request.go
  store/tikv/snapshot.go
Labels: status/LGT2, status/all tests passed, status/can merge, type/enhancement

#12022 planner: generate index path as candidate when it is a single scan
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/r/window_function.result
  cmd/explaintest/t/access_path_selection.test
  executor/admin_test.go
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  planner/core/logical_plan_test.go
  planner/core/physical_plan_test.go
  session/session_test.go
  util/admin/admin.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#12077 expression: implement vectorized evaluation for `builtinGreatestDecimalSig`
  expression/bench_test.go
  expression/builtin_compare_vec.go
Labels: component/expression, status/LGT2, status/can merge

#12096 types/json: fix an over-quoted bug in `BinaryJSON.Unquote` function #11934
  expression/builtin_json_test.go
  types/json/binary_functions.go
  types/json/binary_test.go
Labels: status/LGT1, status/LGT3, type/2.1 cherry-pick, type/bug-fix

#11156 type: add db prefix to function name for not exist error messages
  executor/aggregate_test.go
  expression/integration_test.go
  expression/scalar_function.go
  expression/scalar_function_test.go
Labels: component/expression, contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/ReqChange, status/can merge, type/compatibility

#12098 stats: support display invalid key in stats buckets (#12064)
  statistics/feedback.go
  statistics/histogram.go
  statistics/statistics_test.go
  util/codec/codec.go
  util/codec/codec_test.go
Labels: component/statistics, status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#12100 planner: choose TableScan when use an empty index hint
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
Labels: component/planner, needs-cherry-pick-3.0, status/can merge, type/3.0 cherry-pick, type/bug-fix

#12111 type: add db prefix to function name for not exist error messages (#11156)
  executor/aggregate_test.go
  expression/integration_test.go
  expression/scalar_function.go
Labels: component/expression, type/3.0 cherry-pick, type/bug-fix

#12112 planner: generate index path as candidate when it is a single scan (#12022)
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/window_function.result
  docs/design/2019-04-11-indexmerge.md
  executor/admin_test.go
  executor/join_test.go
  executor/union_scan_test.go
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  planner/core/logical_plan_test.go
  planner/core/physical_plan_test.go
  session/session_test.go
  statistics/handle/update_test.go
  util/admin/admin.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick

#11957 Faster Clone() in kv/key.go
  kv/key.go
Labels: contribution, status/LGT1, status/can merge, type/enhancement

#12090 conn: fix lost connection when insert from select panic cause by out of memory quota
  executor/adapter.go
  executor/executor_test.go
Labels: component/server, component/usability, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2

#12109 *: change the query start time to the parsing time (#11159)
  executor/adapter.go
  executor/prepared.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: status/LGT2, status/can merge, type/3.0 cherry-pick, type/enhancement

#12091 planner: split test data from test cases
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  util/testutil/testutil.go
Labels: component/test, status/LGT2, status/all tests passed, status/can merge

#11566 planner: introduce cascades adapter model and implement handle range scan
  expression/expression.go
  planner/cascades/implementation_rules.go
  planner/cascades/integration_test.go
  planner/cascades/optimize.go
  planner/cascades/transformation_rules.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/stats.go
  planner/core/task.go
  planner/implementation/datasource.go
  planner/memo/expr_iterator.go
  planner/memo/expr_iterator_test.go
  planner/memo/group.go
  planner/memo/group_test.go
  planner/memo/pattern.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/new-feature

#12121 sessionctx/binloginfo: fix uncomment pre_split_regions ddl-querys in binlog (#11762)
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
Labels: component/binlog, priority/non-release-blocker, status/LGT2, status/can merge, type/2.1 cherry-pick

#12108 *: refactoring the code of batchChecker
  executor/batch_checker.go
  executor/insert.go
  executor/insert_test.go
  store/tikv/snapshot.go
  table/tables/tables.go
Labels: component/executor, needs-cherry-pick-3.0, require-LGT3, status/LGT2, status/all tests passed, type/bug-fix, type/enhancement

#12126 conn: fix lost connection when insert from select panic cause by out of memory quota (#12090)
  executor/adapter.go
  executor/executor_test.go
Labels: priority/release-blocker, status/LGT1, type/2.1 cherry-pick

#12120 sessionctx/binloginfo: fix uncomment pre_split_regions ddl-querys in binlog (#11762)
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
Labels: component/binlog, status/LGT2, status/can merge, type/3.0 cherry-pick

#12124 parser: update parser for add where for show table region syntax (#12015)
  go.mod
  go.sum
Labels: component/parser, status/LGT2, type/2.1 cherry-pick

#11922 executor, expression: add a tryToMatchOuters for joiner
  executor/index_lookup_hash_join.go
  executor/joiner.go
  expression/chunk_executor.go
Labels: component/executor, status/LGT2, status/can merge, type/enhancement

#12115 expression: modify the test framework for vectorized expression evaluation functions
  expression/bench_test.go
  expression/builtin_cast.go
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
  expression/builtin_compare_vec_test.go
  expression/builtin_control_vec_test.go
  expression/builtin_math_vec_test.go
  expression/builtin_string_vec_test.go
Labels: component/expression, component/test, status/LGT2, status/can merge

#12122 executor: do not use batchChecker in 'insert ignore into ...'
  executor/batch_checker.go
  executor/insert.go
  executor/insert_common.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#12132 planner/core: split test data from physical plan test
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  util/testutil/testutil.go
Labels: component/test, status/LGT2, status/can merge

#12088 expression: implement vectorized evaluation for `builtinInetNtoaSig`
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, status/LGT2, status/PTAL, status/can merge

#12070 server: reset current start ts in processlist when transaction committed
  session/session.go
  util/processinfo.go
Labels: status/LGT2, status/can merge, type/bug-fix, type/enhancement

#12107 ddl: disallow dropping auto_increment column attribute
  ddl/db_integration_test.go
  ddl/ddl_api.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: component/DDL-need-LGT3, status/LGT2, status/PTAL, status/all tests passed

#11974 *: implement the `CheckTxnStatus` API for the large transaction
  go.sum
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
  store/tikv/region_request_test.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: component/tikv, component/transaction-need-LGT3, status/LGT2, type/new-feature

#12113 type: add db prefix to function name for not exist error messages (#11156)
  executor/aggregate_test.go
  expression/integration_test.go
  expression/scalar_function.go
Labels: component/expression, status/LGT2, type/3.1 cherry-pick, type/bug-fix

#12127 conn: fix lost connection when insert from select panic cause by out of memory quota (#12090)
  executor/adapter.go
  executor/executor_test.go
Labels: status/LGT2, status/can merge, type/3.0 cherry-pick

#12016 sessionctx/variable: refine slow log output by not print useless info
  sessionctx/variable/session.go
Labels: component/usability, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, type/enhancement

#12136 expression: implement vectorized evaluation for `builtinDateSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT1, status/can merge

#12013 expression: implement vectorized evaluation for `builtinLowerStr`
  expression/bench_test.go
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, status/LGT2, status/can merge

#12018 expression: implement vectorized evaluation for `builtinMonthSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, status/LGT2, status/can merge

#12123 parser: update parser for add where for show table region syntax (#12015)
  go.mod
  go.sum
Labels: component/parser, status/LGT2, type/3.0 cherry-pick

#12138 executor, expression: 1. rename tryToMatch to tryToMatchOuters 2. tiny refine tryToMatchOuters
  executor/index_lookup_join.go
  executor/join.go
  executor/joiner.go
  executor/joiner_test.go
  executor/merge_join.go
  expression/chunk_executor.go
Labels: component/executor, status/LGT1, status/can merge

#12137 *: record query start time to session variables (#11822)
  executor/adapter.go
  executor/adapter_test.go
  executor/prepared.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
Labels: status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#12149 Advertise https://asktug.com
  README.md
Labels: status/can merge

#12151 infoschema,store: change leader weight/score type to float64
  infoschema/tables.go
  store/helper/helper.go
  store/helper/helper_test.go
Labels: status/LGT2, status/can merge, type/bug-fix

#12076 executor: vectorize hash calculation in hashJoin (#12048)
  executor/hash_table.go
  executor/join.go
  util/codec/codec.go
  util/codec/codec_test.go
Labels: component/executor, contribution, status/LGT2, status/can merge, type/enhancement

#12152 main: rename `tidb-coverage-server` to `tidb-server-coverage`
  Makefile
Labels: status/LGT2, status/can merge, type/enhancement

#12009 stats: do not split excluded lower value ranges
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/histogram_test.go
Labels: component/statistics, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#12085 planner: improve row count estimation of IndexJoin's inner scan
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  planner/core/cbo_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#12154 planner: choose TableScan when use an empty index hint (#12037)
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
Labels: component/planner, status/LGT2, status/can merge, type/3.1 cherry-pick, type/bug-fix

#12116 executor: utilities for disk-based hash join
  util/chunk/codec.go
  util/chunk/column_test.go
  util/chunk/disk.go
  util/chunk/disk_test.go
  util/chunk/list.go
  util/chunk/list_test.go
  util/chunk/mutrow.go
  util/disk/tracker.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: component/executor, status/LGT2, status/all tests passed, status/can merge

#11936 planner/core: support generate hints from physical plan
  cmd/explaintest/r/index_join.result
  cmd/explaintest/t/index_join.test
  executor/benchmark_test.go
  planner/cascades/implementation_rules.go
  planner/cascades/transformation_rules.go
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
  planner/core/expression_rewriter.go
  planner/core/find_best_task.go
  planner/core/hints.go
  planner/core/initialize.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  planner/core/rule_aggregation_elimination.go
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_decorrelate.go
  planner/core/rule_inject_extra_projection.go
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_dp_test.go
  planner/core/rule_max_min_eliminate.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_push_down.go
  planner/core/rule_topn_push_down.go
  planner/core/task.go
  planner/core/testdata/plan_suite_out.json
  planner/implementation/base_test.go
  planner/memo/expr_iterator_test.go
  planner/memo/group_test.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/new-feature

#12156 README.md: add a `Getting Help` section
  README.md
Labels: status/LGT1, status/can merge, type/enhancement

#12147 store/tikv,session: invalidate snapshot cache under pessimistic transaction
  executor/adapter.go
  session/pessimistic_test.go
  store/tikv/snapshot.go
  store/tikv/txn.go
Labels: component/tikv, status/all tests passed, status/can merge, type/bug-fix

#12157 planner: generate index path as candidate when it is a single scan (#12112)
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/window_function.result
  docs/design/2019-04-11-indexmerge.md
  executor/admin_test.go
  executor/join_test.go
  executor/union_scan_test.go
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  planner/core/logical_plan_test.go
  planner/core/physical_plan_test.go
  session/session_test.go
  statistics/handle/update_test.go
  util/admin/admin.go
Labels: component/planner, type/3.1 cherry-pick

#12003 *: add max/avg cop response time for TableReader, IndexReader and IndexLookupReader.
  distsql/distsql.go
  distsql/distsql_test.go
  distsql/select_result.go
  distsql/select_result_test.go
  executor/builder.go
  executor/distsql.go
  executor/join_test.go
  executor/table_reader.go
  kv/kv.go
  planner/core/common_plans.go
  store/tikv/coprocessor.go
  util/execdetails/execdetails.go
Labels: component/usability, status/LGT2, status/all tests passed, status/can merge

#12119 meta/autoid : fix the issue that MaxUint64 and MaxInt64 autoID is incorrectly allocated
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  session/session_test.go
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#12159 expression: make `sleep` function response to the kill statement (#10959)
  expression/builtin_miscellaneous.go
  expression/evaluator_test.go
  server/conn_test.go
Labels: component/expression, status/LGT2, status/all tests passed, status/can merge, type/2.1 cherry-pick

#11702 executor: refactor union scan and dirty table
  executor/mem_reader.go
  executor/union_scan.go
  executor/union_scan_test.go
  kv/kv.go
  session/txn.go
  sessionctx/context.go
  store/tikv/2pc.go
  table/index.go
  table/table.go
  table/tables/index.go
  table/tables/tables.go
  tablecodec/tablecodec.go
  util/mock/context.go
Labels: component/executor, component/transaction-need-LGT3, status/LGT3, status/can merge

#12150 expression: implement vectorized evaluation for `builtinLeastDecimalSig`
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12145 ddl: disallow dropping auto_increment column attribute (#12107)
  ddl/db_integration_test.go
  ddl/ddl_api.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick

#12043 planner: add AGG_TO_COP hint
  planner/core/exhaust_physical_plans.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
  planner/core/rule_aggregation_push_down.go
Labels: component/planner, status/LGT2, status/can merge, type/new-feature

#12059 planner: add IGNORE_INDEX hint
  go.mod
  go.sum
  planner/core/hints.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, status/LGT2, status/all tests passed, type/new-feature

#12155 *: improve the format of the error log
  config/config.go
  config/config.toml.example
  config/config_test.go
  go.mod
  go.sum
  util/logutil/log.go
  util/logutil/log_test.go
Labels: component/util, status/LGT2, status/can merge

#12110 *: change the query start time to the parsing time (#11159)
  executor/adapter.go
  executor/prepared.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: status/LGT2, status/can merge, type/3.1 cherry-pick, type/enhancement

#12035 expression,planner/core: support unix_timestamp() function in partition pruning
  expression/constant_test.go
  expression/constraint_propagation.go
  expression/simple_rewriter_test.go
  planner/core/partition_pruning_test.go
Labels: component/expression, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#12164 store/tikv: fix data race on idle
  store/tikv/client_batch.go
Labels: component/tikv, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge, type/bug-fix

#12083 planner: enhance the rule max_min_eliminate to support multiple agg
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/rule_max_min_eliminate.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#12055 *: upgrade grpc to 1.23.0
  ddl/ddl.go
  go.mod
  go.sum
  owner/fail_test.go
  store/tikv/test_util.go
Labels: component/tikv, status/LGT2, status/all tests passed, status/can merge

#11245 planner: generate physical plan for IndexMergePath
  cmd/explaintest/r/explain_indexmerge.result
  cmd/explaintest/s/explain_indexmerge_stats_t.json
  cmd/explaintest/t/explain_indexmerge.test
  planner/core/common_plans.go
  planner/core/explain.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/stats.go
  planner/core/task.go
Labels: component/planner, contribution, status/LGT2, status/can merge, type/new-feature

#12146 ddl: disallow dropping auto_increment column attribute (#12107)
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: status/LGT3, status/all tests passed, status/can merge, type/2.1 cherry-pick

#12140 executor: go generate builtin_control_vec.go
  Makefile
  expression/bench_test.go
  expression/builtin.go
  expression/builtin_control_vec.go
  expression/builtin_control_vec_generated.go
  expression/builtin_control_vec_generated_test.go
  expression/generator/control_vec.go
  expression/vectorized.go
  tools/check/check-gogenerate.sh
  util/chunk/column.go
  util/chunk/column_test.go
Labels: component/expression, status/LGT2, status/PTAL, status/can merge

#12187 implement vectorized evaluation for builtinSqrtSig
  expression/builtin_math_vec.go
  expression/builtin_math_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12174 server: add sql to com_exec/com_fetch dispatch error log
  server/conn_stmt.go
Labels: component/server, component/usability, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge

#12158 expression: implement vectorized evaluation for builtinAbsDecSig
  expression/builtin_math_vec.go
  expression/builtin_math_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12089 expression: change the String() method of `expression.Column`
  bindinfo/bind_test.go
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/black_list.result
  cmd/explaintest/r/explain.result
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_indexmerge.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/topn_pushdown.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/r/window_function.result
  executor/aggregate_test.go
  executor/join_test.go
  executor/merge_join_test.go
  expression/builtin_compare_test.go
  expression/column.go
  expression/column_test.go
  expression/constant_propagation_test.go
  expression/constant_test.go
  expression/distsql_builtin_test.go
  expression/expression_test.go
  expression/integration_test.go
  expression/scalar_function_test.go
  expression/schema_test.go
  planner/cascades/integration_test.go
  planner/core/cbo_test.go
  planner/core/exhaust_physical_plans_test.go
  planner/core/indexmerge_test.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans_test.go
  planner/core/physical_plan_test.go
  planner/core/prepare_test.go
  planner/core/testdata/plan_suite_out.json
  statistics/selectivity_test.go
  table/tables/partition_test.go
  util/ranger/ranger_test.go
Labels: component/expression, status/LGT2, status/all tests passed, status/can merge

#12087 session: annotate the previous statement to the error when transaction commit failed
  ddl/db_test.go
  executor/adapter.go
  session/session_test.go
  session/tidb.go
Labels: status/LGT2, status/all tests passed, status/can merge, type/enhancement

#12170 stats: do not split excluded lower value ranges (#12009)
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/histogram_test.go
Labels: component/statistics, status/LGT2, status/can merge, type/3.0 cherry-pick

#12171 stats: do not split excluded lower value ranges (#12009)
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/histogram_test.go
Labels: component/statistics, status/LGT2, status/can merge, type/3.1 cherry-pick

#12175 expression: Implement `VecEvalBool` to prepare for vectorized selection operator
  expression/bench_test.go
  expression/builtin_vectorized.go
  expression/expression.go
  util/chunk/column.go
Labels: component/expression, status/LGT2, status/can merge

#11533 executor: load data statement, separate data preparing routine and commit routine
  executor/builder.go
  executor/executor_test.go
  executor/load_data.go
  executor/write_test.go
  server/conn.go
  server/server_test.go
  server/tidb_test.go
Labels: component/executor, status/LGT1, status/PTAL, status/all tests passed, status/can merge, type/performance

#12198 meta/autoid : fix the issue that MaxUint64 and MaxInt64 autoID is incorrectly allocated (#12119)
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  session/session_test.go
Labels: status/LGT2, type/3.1 cherry-pick, type/bug-fix

#12210 meta/autoid : fix the issue that MaxUint64 and MaxInt64 autoID is incorrectly allocated (#12119)
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  session/session_test.go
Labels: status/LGT2, type/2.1 cherry-pick, type/bug-fix

#12133 domain: report min start timestamp of TiDB server
  domain/domain.go
  domain/info.go
  tidb-server/main.go
Labels: status/can merge, type/enhancement

#12197 testutil: remove unnecessary flag parse
  util/testutil/testutil.go
Labels: component/test, status/LGT2, status/all tests passed, status/can merge

#12057 executor: fix scatter region timeout issues and "show processlist" display issues
  executor/executor_test.go
  executor/split.go
  store/tikv/split_region.go
Labels: component/executor, status/LGT2, status/can merge, type/bug-fix

#11809 executor: add several sql hint related to session variables
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/analyze.go
  executor/analyze_test.go
  executor/executor.go
  executor/point_get.go
  planner/core/expression_rewriter.go
  planner/core/indexmerge_test.go
  planner/core/stats.go
  session/session.go
  session/session_test.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil_test.go
  util/admin/admin.go
  util/memory/tracker.go
Labels: component/executor, status/LGT1, status/LGT2, status/all tests passed, status/can merge, type/new-feature

#11970 executor: new execution path for point execution within prepared plan cache
  executor/adapter.go
  executor/compiler.go
  executor/executor_test.go
  executor/prepared.go
  planner/core/common_plans.go
  planner/optimize.go
  session/session.go
Labels: component/executor, status/LGT2, status/PTAL, status/all tests passed, status/can merge, type/performance
