Repository pingcap/tidb, pull requests merged in 2019-06, with the labels that each got.

#10660 store/tikv: remove canceled requests before sending
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/client_test.go
Labels: status/LGT2, type/3.0 cherry-pick

#10620 kv: add more unit test
  kv/buffer_store_test.go
  kv/fault_injection_test.go
  kv/key.go
  kv/key_test.go
  kv/mock.go
  kv/mock_test.go
  kv/txn_test.go
  kv/union_store_test.go
Labels: component/test, status/LGT1, status/all tests passed

#10559 store/tikv: Refine metrics of RangeTaskRunner
  store/tikv/range_task.go
Labels: component/tikv

#10669 pessimistic-txn: support deadlock detector in mocktikv
  go.mod
  go.sum
  session/pessimistic_test.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  util/deadlock/deadlock.go
  util/deadlock/deadlock_test.go
Labels: status/LGT2, status/all tests passed

#10561 store/tikv/gc_worker: Add config to specify gc concurrency manually
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Labels: component/tikv

#10667 tikv: refine region-cache log and metric (#10589)
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
Labels: status/LGT2, type/3.0 cherry-pick

#10590 expression: fix uuid generate duplicate value with multi-node
  expression/builtin_miscellaneous.go
  go.mod
  go.sum
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix

#10686 mocktikv: fix mocktikv kv scan bug (#10652)
  store/mockstore/mocktikv/rpc.go
Labels: type/3.0 cherry-pick

#10502 binloginfo: Optimize addSpecialComment by reusing compiled regexp
  sessionctx/binloginfo/binloginfo.go
Labels: component/binlog, status/LGT2

#10687 *: implement IterReverse for tikvSnapshot and use desc scan to get latest N ddl history jobs. (#10152)
  executor/executor_test.go
  meta/meta.go
  meta/meta_test.go
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/scan.go
  store/tikv/scan_mock_test.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  structure/hash.go
  structure/structure_test.go
  structure/type.go
  util/admin/admin.go
Labels: type/3.0 cherry-pick

#10617 CHANGELOG: add release notes for v3.0.0-rc.2
  CHANGELOG.md
Labels: CHANGELOG, status/LGT2

#10682 executor: fix show create table for partitioned table
  executor/show.go
  executor/show_test.go
Labels: component/executor, status/all tests passed, type/bug-fix

#10690 executor: fix show create table for partitioned table
  executor/show.go
  executor/show_test.go
Labels: component/executor, priority/release-blocker, type/2.1 cherry-pick, type/bug-fix

#10680 executor, stats: fix fast analyze bugs
  executor/analyze.go
  executor/analyze_test.go
  statistics/cmsketch.go
  statistics/table.go
  store/mockstore/mocktikv/rpc.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/bug-fix

#10307 *: fix bug when unsigned pk meets feedback ranges
  distsql/request_builder.go
  executor/table_reader.go
  planner/core/logical_plan_test.go
  planner/core/rule_column_pruning.go
  statistics/feedback.go
  statistics/histogram.go
  statistics/update_test.go
Labels: component/statistics, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#10651 *: fix panic for create view using prepare
  ddl/ddl_api.go
  executor/ddl_test.go
  go.mod
  go.sum
  planner/core/planbuilder.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#10537 planner: use max correlation in heuristic row count estimation
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  sessionctx/variable/session.go
  sessionctx/variable/tidb_vars.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#10691 executor, stats: fix fast analyze bugs (#10680)
  executor/analyze.go
  executor/analyze_test.go
  statistics/cmsketch.go
  statistics/table.go
  store/mockstore/mocktikv/rpc.go
Labels: component/statistics, type/3.0 cherry-pick

#10683 store/tikv: fix goroutine leak in gcworker (#10622)
  store/tikv/range_task.go
Labels: priority/release-blocker, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#10684 executor,privilege: fix "show grants" result for RBAC (#10571)
  executor/builder.go
  executor/show_test.go
  executor/simple.go
  privilege/privileges/privileges_test.go
Labels: priority/release-blocker, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#10689 executor: fix show create table for partitioned table (#10682)
  executor/show.go
  executor/show_test.go
Labels: component/executor, priority/release-blocker, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#10676 planner, executor: return TableDual when tryFastPlan is promised to be false
  executor/executor_test.go
  executor/point_get.go
  planner/core/common_plans.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: component/planner, status/LGT2, type/bug-fix

#10477 ddl: fix alter table charset bug that change blob column type to text
  ddl/db_integration_test.go
  ddl/table.go
Labels: component/DDL-need-LGT3, status/LGT3, type/bug-fix

#10695 *: fix bug when unsigned histogram meets signed ranges in feedback (#…
  distsql/request_builder.go
  executor/executor_test.go
  executor/table_reader.go
  planner/core/logical_plans.go
  statistics/feedback.go
  statistics/histogram.go
  statistics/update_test.go
Labels: component/statistics, type/2.1 cherry-pick

#10438 docs/design: move pictures to imgs && other tiny refinement
  docs/design/2018-07-19-row-format.md
  docs/design/2018-08-10-restore-dropped-table.md
  docs/design/2018-08-29-new-planner.md
  docs/design/2018-10-08-online-DDL.md
  docs/design/2018-10-22-the-column-pool.md
  docs/design/2019-04-11-indexmerge.md
  docs/design/README.md
  docs/design/imgs/group-and-expression.png
  docs/design/imgs/owner-detail-flow-chart.png
  docs/design/imgs/row-format.jpeg
  docs/design/imgs/structure-flow-chart.png
  docs/design/imgs/the-column-pool.png
Labels: contribution, status/LGT2

#10701 expression: improve UT coverage of expression package
  expression/integration_test.go
  expression/simple_rewriter.go
  expression/simple_rewriter_test.go
  expression/util_test.go
Labels: component/expression, component/test, status/LGT2

#10702 types: extract month support 0 (#10116)
  types/time.go
  types/time_test.go
Labels: type/2.1 cherry-pick, type/bug-fix

#10696 infoschema/slow_query: fix shallow copy problem
  infoschema/slow_log.go
Labels: status/LGT2, type/bug-fix

#10699 planner, executor: return TableDual when tryFastPlan is promised to be false (#10676)
  executor/executor_test.go
  executor/point_get.go
  planner/core/common_plans.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: component/planner, status/LGT1, type/3.0 cherry-pick, type/bug-fix

#10703 expression: fix `cast(-num as datetime)` to return null instead of error (#10368)
  expression/builtin_cast.go
  expression/builtin_time_test.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10694 expression: check corCol in DisableParseJSONFlag4Expr (#10224)
  expression/util.go
  expression/util_test.go
Labels: component/expression, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#10697 go.mod: update parser to fix case expression format bug (#10600)
  ddl/db_test.go
  go.mod
  go.sum
Labels: status/LGT2, type/3.0 cherry-pick

#10693 infoschema/slow_query: add host column in slow_query table.
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  infoschema/tables_test.go
  sessionctx/variable/session.go
Labels: component/usability, status/LGT1

#10632 store/tikv: recycle idle connection in tikv client (#10616)
  store/tikv/client.go
  store/tikv/client_test.go
Labels: priority/release-blocker, status/LGT2, status/all tests passed, type/3.0 cherry-pick

#8608 expression/aggregation: remove unused function in `aggregation.Aggregation`
  expression/aggregation/aggregation.go
Labels: component/expression, contribution, status/LGT1, type/enhancement

#10698 ddl: fix alter table charset bug that change blob column type to text(#10477)
  ddl/db_integration_test.go
  ddl/table.go
Labels: status/LGT2, type/3.0 cherry-pick

#10706 ticlient: set max send/recv msg size match tikv's config
  store/tikv/client.go
Labels: component/tikv, status/LGT2, status/all tests passed

#10681 privileges: add SkipWithGrant check for RBAC methods
  privilege/privileges/privileges.go
  session/session_test.go
Labels: component/privilege, status/LGT2, status/all tests passed, type/TEP, type/bug-fix

#10709 ticlient: set max send/recv msg size match tikv's config (#10706)
  store/tikv/client.go
Labels: type/3.0 cherry-pick

#10712 expression: fix uuid generate duplicate value with multi-node (#10590)
  expression/builtin_miscellaneous.go
  go.mod
  go.sum
Labels: component/expression, status/LGT2, status/all tests passed, type/3.0 cherry-pick

#10654 store/tikv: support single statement rollback for pessimistic transaction
  executor/adapter.go
  executor/errors.go
  executor/executor.go
  session/pessimistic_test.go
  session/tidb.go
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/errors.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/backoff.go
  store/tikv/error.go
  store/tikv/tikvrpc/tikvrpc.go
  store/tikv/txn.go
  util/deadlock/deadlock.go
  util/testkit/testkit.go
Labels: status/LGT2

#10713 *: fix panic for create view using prepare (#10651)
  ddl/ddl_api.go
  executor/ddl_test.go
  go.mod
  go.sum
  planner/core/planbuilder.go
Labels: component/planner, status/all tests passed, type/3.0 cherry-pick

#10711 expression: fix uuid generate duplicate value with multi-node (#10590)
  expression/builtin_miscellaneous.go
  go.mod
  go.sum
Labels: component/expression, status/all tests passed, type/2.1 cherry-pick

#10715 pessimistic-txn: support deadlock detector in mocktikv (#10669)
  go.mod
  go.sum
  session/pessimistic_test.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  util/deadlock/deadlock.go
  util/deadlock/deadlock_test.go
Labels: status/LGT1, status/all tests passed, type/3.0 cherry-pick

#10716 planner, executor: return TableDual in tryFastPlan for predicate like handlePK=1.1
  executor/executor_test.go
  executor/point_get_test.go
  planner/core/point_get_plan.go
Labels: component/planner, status/LGT2, type/bug-fix

#10719 use deadlock error (#10624)
  go.mod
  go.sum
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: status/LGT2, type/3.0 cherry-pick

#10720 planner: should clone column in injectProjBelowSort (#10452)
  executor/executor_test.go
  planner/core/rule_inject_extra_projection.go
Labels: type/3.0 cherry-pick, type/bug-fix

#10721 store/tikv: support single statement rollback for pessimistic txn (#10654)
  executor/adapter.go
  executor/errors.go
  executor/executor.go
  session/pessimistic_test.go
  session/tidb.go
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/errors.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/backoff.go
  store/tikv/error.go
  store/tikv/tikvrpc/tikvrpc.go
  store/tikv/txn.go
  util/deadlock/deadlock.go
  util/testkit/testkit.go
Labels: type/3.0 cherry-pick

#10725 *: add config item for bind info lease
  bindinfo/handle.go
  config/config.go
  config/config.toml.example
  domain/domain.go
  tidb-server/main.go
Labels: status/LGT1, type/enhancement

#10724 planner: `ByItem` should filter `NULL` out (#10488)
  planner/core/physical_plan_test.go
  planner/core/rule_column_pruning.go
Labels: component/planner, type/bug-fix

#10350 *: print an expensive log when a query exceeds time threshold
  domain/domain.go
  executor/adapter.go
  executor/compiler.go
  executor/executor_pkg_test.go
  executor/explainfor_test.go
  executor/prepared.go
  executor/set_test.go
  executor/show_test.go
  infoschema/tables_test.go
  planner/core/util.go
  server/driver.go
  server/driver_tidb.go
  server/server.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
  util/execdetails/execdetails.go
  util/expensivequery/expensivequery.go
  util/memory/action.go
  util/memory/tracker.go
  util/processinfo.go
Labels: component/executor, type/enhancement

#10710 ticlient: set max send/recv msg size match tikv's config (#10706)
  store/tikv/client.go
Labels: component/tikv, status/all tests passed, type/2.1 cherry-pick

#10727 *: add config item for bind info lease (#10725)
  bindinfo/handle.go
  config/config.go
  config/config.toml.example
  domain/domain.go
  tidb-server/main.go
Labels: type/3.0 cherry-pick, type/enhancement

#10409 *: split index region with lower upper syntax
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  executor/split.go
  executor/split_test.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: require-LGT3, status/LGT3, type/new-feature

#10730 type: fix float over flow when converting a decimal to a float and then converting a float to an uint
  expression/integration_test.go
  types/convert.go
  types/convert_test.go
  types/datum.go
Labels: component/expression, status/LGT1, type/2.1 cherry-pick, type/bug-fix

#10734 types: fix converting decimal to datetime and timestamp (#9899)
  expression/integration_test.go
  types/convert_test.go
  types/datum.go
Labels: component/expression, type/2.1 cherry-pick, type/bug-fix, type/compatibility

#10510 expression: fix Invalid JSONs
  types/json/binary.go
  types/json/binary_test.go
Labels: component/expression, status/LGT2

#10735 infoschema/slow_query: add host column in slow_query table. (#10693)
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  infoschema/tables_test.go
  sessionctx/variable/session.go
Labels: component/usability, type/3.0 cherry-pick

#10736 infoschema/slow_query: fix shallow copy problem (#10696)
  infoschema/slow_log.go
Labels: status/LGT1, type/3.0 cherry-pick, type/bug-fix

#10733 expression: fix issue that `monthname` is not compatible with Mysql (#10109)
  expression/builtin_time.go
  expression/integration_test.go
Labels: component/expression, status/LGT1, type/2.1 cherry-pick, type/bug-fix, type/compatibility

#10722 parser: add MySQL extension assignment support for VariableAssignment (#10700)
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/expression, status/LGT2, status/all tests passed, type/3.0 cherry-pick

#10707 executor: execute some statement (`create user` `grant` etc) would commit current transaction automically
  executor/grant.go
  executor/revoke.go
  executor/simple.go
  executor/simple_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#10714 ddl: fix alter table charset bug and compatibility (#9790)
  ddl/db_integration_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/schema.go
  ddl/table.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10732 expression: fix issue that function `dayname` is incompatible with Mysql when doing arithmetic(#9975)
  expression/builtin_cast.go
  expression/builtin_time.go
  expression/function_traits.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, type/2.1 cherry-pick, type/bug-fix, type/compatibility

#10621 util: add more unit test
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
  util/filesort/filesort_test.go
  util/format/format_test.go
  util/misc_test.go
  util/prefix_helper_test.go
Labels: component/test, status/LGT2

#10729 planner, executor: return TableDual in tryFastPlan for predicate like handlePK=1.1 (#10716)
  executor/executor_test.go
  executor/point_get_test.go
  planner/core/point_get_plan.go
Labels: component/planner, status/LGT2, type/3.0 cherry-pick, type/bug-fix

#10737 executor: execute some statement (`create user` `grant` etc) would commit current transaction automically (#10707)
  executor/grant.go
  executor/revoke.go
  executor/simple.go
  executor/simple_test.go
Labels: component/executor, status/LGT1, type/3.0 cherry-pick

#10738 privileges: add SkipWithGrant check for RBAC methods (#10681)
  privilege/privileges/privileges.go
  session/session_test.go
Labels: component/privilege, type/3.0 cherry-pick, type/bug-fix

#10739 executor: execute some statement (`create user` `grant` etc) would commit current transaction automically
  executor/grant.go
  executor/revoke.go
  executor/simple.go
  executor/simple_test.go
Labels: component/executor, type/2.1 cherry-pick

#10292 support resolve specified lock keys
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/2pc.go
  store/tikv/lock_resolver.go
Labels: component/tikv, status/LGT2

#10553 *: add split table syntax to split table region
  executor/builder.go
  executor/executor_test.go
  executor/split.go
  executor/split_test.go
  planner/core/planbuilder.go
Labels: require-LGT3, status/LGT2, type/new-feature

#10506 plugin: add unit test for plugin
  plugin/const_test.go
  plugin/helper_test.go
  plugin/plugin.go
  plugin/plugin_test.go
Labels: component/plugin, component/test, status/LGT1, status/all tests passed

#10614 stats: adjust datum type when using the index query feedback
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
Labels: component/statistics, priority/P1, status/LGT2, status/all tests passed, type/bug-fix

#10745 ddl: fix alter table charset bug that change blob column type to text (#10477)
  ddl/db_integration_test.go
  ddl/table.go
Labels: type/2.1 cherry-pick, type/bug-fix

#10708 store/tikv/range_task: Fix unnecessary loop; add tests for failures of RangeTaskRunner
  store/tikv/range_task.go
  store/tikv/range_task_test.go
Labels: component/tikv, status/LGT1, status/all tests passed, type/bug-fix

#10548 planner: propagate more possible props to enlarge search space
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  planner/core/cbo_test.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/property_cols_prune.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#10750 stats: adjust datum type when using the index query feedback (#10614)
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
Labels: component/statistics, status/LGT1, status/all tests passed, type/3.0 cherry-pick

#10755 stats: adjust datum type when using the index query feedback (#10614)
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/update.go
  statistics/update_test.go
Labels: component/statistics, type/2.1 cherry-pick

#10728 executor: improve UT coverage of executor package
  ddl/serial_test.go
  executor/analyze_test.go
  executor/executor_test.go
  executor/simple_test.go
Labels: component/executor, component/test, status/LGT1, status/all tests passed

#10726 domain: improve UT coverage to 80%
  ddl/syncer.go
  domain/db_test.go
  domain/domain.go
  domain/domain_test.go
  domain/schema_validator_test.go
  go.mod
  go.sum
Labels: component/test, status/LGT2, status/all tests passed

#10764 *: split index region with lower upper syntax (#10409)
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  executor/split.go
  executor/split_test.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: status/LGT2, status/all tests passed, type/3.0 cherry-pick

#10762 executor: add a 'load data' into partitioned table test case
  executor/write_test.go
Labels: component/test, status/LGT2, status/all tests passed

#10765 *: add split table syntax to split table region (#10553)
  executor/builder.go
  executor/executor_test.go
  executor/split.go
  executor/split_test.go
  planner/core/planbuilder.go
Labels: status/all tests passed, type/3.0 cherry-pick

#10371 ddl: make the SyncerSessionTTL smaller
  ddl/syncer.go
Labels: component/DDL-need-LGT3, status/LGT2

#10770 executor: fix split table bug (#10761)
  executor/builder.go
  executor/executor_test.go
Labels: type/3.0 cherry-pick, type/bug-fix

#10768 kvcache: fix unit test by avoiding lru OOM.
  util/kvcache/simple_lru_test.go
Labels: status/LGT2, type/enhancement

#10672 ddl: error or skip unsupported partition-related DDLs
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/partition.go
  go.mod
  go.sum
Labels: component/DDL-need-LGT3, component/parser, require-LGT3, status/LGT3, type/new-feature

#10769 executor: speed up unit tests in executor package
  executor/executor_test.go
Labels: component/executor, component/test

#10633 planner: fix wrong selectivity for inner selection in index join
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  executor/index_lookup_join_test.go
  planner/core/cbo_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plans.go
  planner/core/stats.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#10606 stats: improve code coverage
  statistics/analyze_jobs_test.go
  statistics/cmsketch.go
  statistics/cmsketch_test.go
  statistics/estimate.go
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/handle/ddl.go
  statistics/handle/dump.go
  statistics/handle/gc.go
  statistics/handle/gc_test.go
  statistics/handle/handle.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/histogram_test.go
  statistics/selectivity_test.go
Labels: component/statistics, component/test, status/LGT1, status/all tests passed

#10688 *: add a blacklist to disallow pushing down specific expressions
  executor/analyze_test.go
  executor/builder.go
  executor/reload_expr_pushdown_blacklist.go
  executor/reload_expr_pushdown_blacklist_test.go
  expression/expr_to_pb.go
  expression/integration_test.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
  session/bootstrap.go
  session/session.go
Labels: component/coprocessor, component/expression, priority/P1, status/LGT2, status/all tests passed, type/new-feature

#10782 mocktikv: fix mocktikv kv scan bug (#10652)
  store/mockstore/mocktikv/rpc.go
Labels: type/2.1 cherry-pick, type/bug-fix

#10780 go.mod: update parser (#10600)
  ddl/db_test.go
  go.mod
  go.sum
Labels: status/DNM, type/2.1 cherry-pick, type/bug-fix

#10778 store/tikv/gc_worker: Add config to specify gc concurrency manually (…
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Labels: component/tikv, status/all tests passed, type/3.0 cherry-pick, type/enhancement

#10759 ddl, table: allow using SHARD_ROW_ID_BITS with auto_incremental columns
  ddl/ddl.go
  ddl/ddl_api.go
  executor/ddl_test.go
  executor/insert_common.go
  infoschema/tables.go
  sessionctx/binloginfo/binloginfo_test.go
  table/table.go
  table/tables/tables.go
  table/tables/tables_test.go
Labels: component/DDL-need-LGT3, require-LGT3, status/all tests passed, type/enhancement

#10788 ddl, table: allow using SHARD_ROW_ID_BITS with auto_incremental colum…
  ddl/ddl.go
  ddl/ddl_api.go
  executor/ddl_test.go
  executor/insert_common.go
  infoschema/tables.go
  perfschema/tables.go
  sessionctx/binloginfo/binloginfo_test.go
  table/table.go
  table/tables/tables.go
  table/tables/tables_test.go
Labels: component/DDL-need-LGT3, status/LGT2, type/2.1 cherry-pick

#10789 ddl: make the SyncerSessionTTL smaller (#10371)
  ddl/syncer.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick

#10785 ddl: fix 'create table like' for partitioned table
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/partition.go
  ddl/schema_test.go
  ddl/table_test.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/bug-fix

#10771 domain: load stats when stats lease is 0
  domain/domain.go
  executor/analyze.go
  executor/simple_test.go
  planner/core/cbo_test.go
  statistics/handle/dump_test.go
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/enhancement

#10800 store/tikv: exclude keys that are already locked in `LockKeys`
  session/txn.go
  store/tikv/2pc_test.go
  store/tikv/txn.go
Labels: component/tikv, status/LGT2, status/all tests passed, type/bug-fix

#10793 [release 3.0] store/tikv: support resolve specified lock keys (#10292)
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/2pc.go
  store/tikv/lock_resolver.go
Labels: status/all tests passed, type/3.0 cherry-pick

#10803 store/tikv: exclude keys that are already locked in `LockKeys`
  session/txn.go
  store/tikv/2pc_test.go
  store/tikv/txn.go
Labels: status/LGT2, status/all tests passed, type/3.0 cherry-pick

#10607 expression: fix the behavior of `DATE_SUB`
  expression/builtin_time.go
  expression/builtin_time_test.go
  sessionctx/variable/tidb_vars.go
Labels: component/expression, priority/P1, type/bug-fix

#10758 ddl, expression: Disallow add stored generated columns through `ALTER TABLE`
  ddl/column.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/generated_column.go
  executor/ddl_test.go
Labels: component/DDL-need-LGT3, status/LGT2

#10809 tikv: fix backoff stop early
  store/tikv/backoff.go
  store/tikv/backoff_test.go
Labels: component/tikv, status/LGT2, status/all tests passed, type/bug-fix

#10794 ddl, table: allow using SHARD_ROW_ID_BITS with auto_incremental columns (#10759)
  ddl/ddl.go
  ddl/ddl_api.go
  executor/ddl_test.go
  executor/insert_common.go
  infoschema/tables.go
  sessionctx/binloginfo/binloginfo_test.go
  table/table.go
  table/tables/tables.go
  table/tables/tables_test.go
Labels: status/LGT2, status/all tests passed, type/3.0 cherry-pick

#10786 expression: add a failpoint switch to control expr push down in integration test
  expression/expr_to_pb.go
  expression/expr_to_pb_test.go
  go.sum
  kv/checker.go
  kv/checker_test.go
  store/tikv/coprocessor.go
  util/mock/client.go
Labels: component/expression, component/test, status/LGT2, status/all tests passed

#10819 table: remove Chinese character from tables.go
  table/tables/tables.go
Labels: component/docs

#10808 ddl, expression: disallow add stored generated columns through ALTER TABLE (#10758)
  ddl/column.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/generated_column.go
  executor/ddl_test.go
Labels: status/LGT1, status/all tests passed, type/3.0 cherry-pick

#10823 session: do not add history for pessimistic transaction
  session/pessimistic_test.go
  session/tidb.go
Labels: status/LGT2, status/all tests passed

#10824 session: do not add history for pessimistic transaction
  session/pessimistic_test.go
  session/tidb.go
Labels: status/LGT1, type/3.0 cherry-pick

#10820 config: fix 'PessimisticTxn' config JSON key
  config/config.go
Labels: status/all tests passed, type/enhancement

#10805 update vendor to build on ARM64
  go.mod
  go.sum
Labels: component/deployment

#10825 config: fix 'PessimisticTxn' config JSON key (#10820)
  config/config.go
Labels: type/3.0 cherry-pick

#10821 tikv: fix backoff stop early (#10809)
  store/tikv/backoff.go
  store/tikv/backoff_test.go
Labels: component/tikv, status/all tests passed, type/3.0 cherry-pick

#10525 store: improve ut coverage for store
  server/http_handler_test.go
  store/helper/helper_test.go
  store/mockoracle/oracle.go
  store/mockstore/mocktikv/errors.go
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/pd.go
  store/mockstore/tikv_test.go
  store/store_test.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/store_test.go
Labels: status/LGT2, status/all tests passed, type/enhancement

#10763 session, sessionctx: add unit test for sessionctx, session
  cmd/explaintest/main.go
  cmd/explaintest/main_test.go
  session/session.go
  session/session_test.go
  session/tidb.go
  session/tidb_test.go
  sessionctx/context_test.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/stmtctx/stmtctx_test.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
  sessionctx/variable/varsutil_test.go
Labels: component/session, component/test, status/LGT2, status/all tests passed

#10343 *: Support LOCK/UNLOCK TABLES feature
  config/config.go
  config/config.toml.example
  config/config_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/table.go
  ddl/table_lock.go
  ddl/table_test.go
  executor/ddl.go
  infoschema/infoschema.go
  infoschema/perfschema/const.go
  lock/lock.go
  planner/core/optimizer.go
  planner/core/planbuilder.go
  planner/optimize.go
  session/session.go
  sessionctx/context.go
  table/table.go
  util/mock/context.go
Labels: require-LGT3, status/LGT3, status/all tests passed, type/new-feature

#10815 executor: fix the issue that `pb` memory cannot be released quickly
  executor/memory_test.go
  store/tikv/coprocessor.go
Labels: component/executor, priority/release-blocker, status/LGT1, status/all tests passed, type/bug-fix

#10799 *: print an expensive query log when a query is out of memQuota
  config/config.go
  config/config_test.go
  executor/executor.go
  server/server.go
  tidb-server/main.go
  util/expensivequery/expensivequery.go
  util/memory/action.go
  util/memory/tracker_test.go
Labels: component/executor, priority/P1, status/LGT2, type/enhancement

#10833 executor: fix the issue that `pb` memory cannot be released quickly (#10815)
  executor/memory_test.go
  store/tikv/coprocessor.go
Labels: component/executor, priority/P1, priority/release-blocker, type/2.1 cherry-pick, type/bug-fix

#10832 executor: fix the issue that `pb` memory cannot be released quickly (#10815)
  executor/memory_test.go
  store/tikv/coprocessor.go
Labels: component/executor, priority/P1, type/3.0 cherry-pick, type/bug-fix

#10772 domain: add a config to control updating stats
  config/config.go
  config/config.toml.example
  domain/domain.go
Labels: component/statistics, priority/release-blocker, status/LGT2, status/all tests passed, type/enhancement

#10822 tikv: avoid switch peer when batchRequest be cancelled
  store/tikv/client.go
  store/tikv/client_test.go
Labels: component/tikv, status/LGT1, status/all tests passed, type/bug-fix

#10811 domain: load stats when stats lease is 0 (#10771)
  domain/domain.go
  executor/analyze.go
  executor/simple_test.go
  planner/core/cbo_test.go
  statistics/handle/dump_test.go
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
Labels: component/statistics, priority/release-blocker, status/LGT2

#10834 *: print an expensive log when a query exceeds time threshold (#10350)
  domain/domain.go
  executor/adapter.go
  executor/compiler.go
  executor/executor_pkg_test.go
  executor/explainfor_test.go
  executor/prepared.go
  executor/set_test.go
  executor/show_test.go
  infoschema/tables_test.go
  planner/core/util.go
  server/driver.go
  server/driver_tidb.go
  server/server.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
  util/execdetails/execdetails.go
  util/expensivequery/expensivequery.go
  util/memory/action.go
  util/memory/tracker.go
  util/processinfo.go
Labels: component/executor, priority/release-blocker, status/LGT2, type/3.0 cherry-pick, type/new-feature

#10845 session: init expensiveQueryHandle immediately after domain be initiated
  session/bootstrap_test.go
  session/session.go
Labels: component/executor, status/LGT2, type/bug-fix

#10791 *: add a blacklist to disallow pushing down specific expressions (#10688)
  executor/analyze_test.go
  executor/builder.go
  executor/reload_expr_pushdown_blacklist.go
  executor/reload_expr_pushdown_blacklist_test.go
  expression/expr_to_pb.go
  expression/integration_test.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
  session/bootstrap.go
  session/session.go
Labels: priority/release-blocker, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/new-feature

#10851 session: init expensiveQueryHandle immediately after domain be initiated (#10845)
  session/bootstrap_test.go
  session/session.go
Labels: component/executor, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#10069 Notify affected regions after sending UnsafeDestroyRange
  go.mod
  go.sum
  store/tikv/delete_range.go
  store/tikv/delete_range_test.go
  store/tikv/gcworker/gc_worker.go
Labels: component/GC, status/LGT1

#10795 ddl: make the SyncerSessionTTL smaller (#10371)
  ddl/syncer.go
Labels: status/LGT2, status/all tests passed, type/3.0 cherry-pick

#10846 executor: tiny refactor the Executor interface
  executor/adapter.go
  executor/admin.go
  executor/aggregate.go
  executor/benchmark_test.go
  executor/builder.go
  executor/delete.go
  executor/distsql.go
  executor/executor.go
  executor/executor_pkg_test.go
  executor/executor_required_rows_test.go
  executor/explain.go
  executor/index_lookup_join.go
  executor/insert_common.go
  executor/join.go
  executor/merge_join.go
  executor/pkg_test.go
  executor/point_get.go
  executor/projection.go
  executor/radix_hash_join.go
  executor/show.go
  executor/sort.go
  executor/table_reader.go
  executor/table_readers_required_rows_test.go
  executor/union_scan.go
  executor/update.go
  executor/window.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#10850 tikv: avoid switch peer when batchRequest be cancelled (#10822)
  store/tikv/client.go
  store/tikv/client_test.go
Labels: component/tikv, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#10860 ddl: skip race test for Tests that change global config
  ddl/db_integration_test.go
Labels: status/LGT2, type/3.0 cherry-pick

#10853 planner: use max correlation in heuristic row count estimation (#10537)
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  sessionctx/variable/session.go
  sessionctx/variable/tidb_vars.go
Labels: component/planner, priority/release-blocker, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/enhancement

#10849 *: print an expensive query log when a query is out of memQuota (#10799)
  config/config.go
  config/config_test.go
  executor/executor.go
  server/server.go
  tidb-server/main.go
  util/expensivequery/expensivequery.go
  util/memory/action.go
  util/memory/tracker_test.go
Labels: component/executor, priority/release-blocker, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/enhancement

#10859 executor: fix wrong row count in fast analyze
  executor/analyze.go
  executor/analyze_test.go
Labels: component/executor, priority/release-blocker, status/LGT2, type/bug-fix

#10838 executor: log inconsistent handles when inconsistent-check fail in `IndexLookupReader`
  executor/distsql.go
Labels: component/executor, status/LGT2

#10865 *: add split index region syntax (#10203)
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  executor/split.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: type/2.1 cherry-pick

#10841 executor,server: re-implement the `kill` statement by checking the `Next()` function
  executor/adapter.go
  executor/aggregate.go
  executor/delete.go
  executor/errors.go
  executor/executor.go
  executor/index_lookup_join.go
  executor/join.go
  executor/merge_join.go
  executor/projection.go
  executor/sort.go
  executor/union_scan.go
  executor/update.go
  executor/window.go
  server/conn.go
  server/server.go
  sessionctx/variable/session.go
Labels: component/executor, priority/release-blocker, status/all tests passed, type/bug-fix

#10876 executor: tiny refactor the Executor interface (#10846)
  executor/adapter.go
  executor/admin.go
  executor/aggregate.go
  executor/benchmark_test.go
  executor/builder.go
  executor/delete.go
  executor/distsql.go
  executor/errors.go
  executor/executor.go
  executor/executor_pkg_test.go
  executor/executor_required_rows_test.go
  executor/explain.go
  executor/index_lookup_join.go
  executor/insert_common.go
  executor/join.go
  executor/merge_join.go
  executor/pkg_test.go
  executor/point_get.go
  executor/projection.go
  executor/radix_hash_join.go
  executor/show.go
  executor/sort.go
  executor/table_reader.go
  executor/table_readers_required_rows_test.go
  executor/union_scan.go
  executor/update.go
  executor/window.go
  server/conn.go
  server/server.go
  sessionctx/variable/session.go
Labels: component/executor, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#10837 *: add a column describing memory usage for table information_schema.processlist
  executor/show.go
  infoschema/tables.go
  infoschema/tables_test.go
  planner/core/logical_plans.go
  session/session.go
  util/misc_test.go
  util/processinfo.go
Labels: component/executor, status/LGT2, type/new-feature

#10873 *: split index region with lower upper syntax (#10409)
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  executor/split.go
  executor/split_test.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: priority/release-blocker, type/2.1 cherry-pick

#10664 CHANGELOG: add release notes for v2.1.12, v2.1.11 and v2.1.10
  CHANGELOG.md
Labels: CHANGELOG, status/LGT1

#10878 go.mod: correct the parser dependency, and add tidy check
  Makefile
  go.mod
  go.sum
  tools/check/check-tidy.sh
Labels: component/test, status/LGT2

#10874 executor: log inconsistent handles when inconsistent-check fail in `IndexLookupReader` (#10838)
  executor/distsql.go
Labels: component/executor, priority/release-blocker, type/3.0 cherry-pick

#10847 store/tikv: fix performance issue under mixed transaction mode
  config/config.go
  session/pessimistic_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
Labels: component/tikv, status/LGT2

#10879 executor,server: re-implement the `kill` statement by checking the `Next()` function (10841)
  executor/adapter.go
  executor/aggregate.go
  executor/delete.go
  executor/distsql.go
  executor/errors.go
  executor/executor.go
  executor/explain.go
  executor/index_lookup_join.go
  executor/insert_common.go
  executor/join.go
  executor/merge_join.go
  executor/point_get.go
  executor/projection.go
  executor/sort.go
  executor/trace.go
  executor/union_scan.go
  executor/update.go
  server/conn.go
  server/server.go
  sessionctx/variable/session.go
Labels: component/executor, priority/non-release-blocker, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#10854 planner: fix wrong selectivity for inner selection in index join (#10633)
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  executor/index_lookup_join_test.go
  planner/core/cbo_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plans.go
  planner/core/stats.go
Labels: component/planner, priority/release-blocker, status/LGT2, status/all tests passed, type/3.0 cherry-pick, type/bug-fix

#10718 *: add_date can return mysql.Time (#9830)
  expression/builtin_time.go
  expression/builtin_time_test.go
  mysql/const_test.go
  types/errors.go
  types/time.go
  types/time_test.go
  util/math/math.go
  util/math/math_test.go
Labels: component/expression, priority/release-blocker, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/compatibility
