Repository pingcap/tidb, pull requests merged in 2019-08, with the labels that each got.

#11483 fix ConvertJSONToInt unsigned bug
  expression/integration_test.go
  types/convert.go
  types/convert_test.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#11548 server: remove the error stack in logs when connection reset by client (#11542)
  go.mod
  go.sum
  server/conn.go
Labels: component/server, type/2.1 cherry-pick

#11553 Test: Improve asserts oftest cases in `helper_test.go` and fix ci
  store/helper/helper_test.go
Labels: component/test, status/LGT2, status/all tests passed, type/bug-fix

#11529 executor: move failpoint test case to seq test suite (#11525)
  executor/seqtest/seq_executor_test.go
  executor/write_test.go
Labels: component/test, status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick

#11436 http: add region-id when getting mvcc by handle
  server/http_handler.go
Labels: component/server, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT1, status/can merge

#11530 expression: add vectorized evaluation methods to `Expression`
  expression/builtin.go
  expression/column.go
  expression/constant.go
  expression/constant_test.go
  expression/expression.go
  expression/scalar_function.go
  expression/util_test.go
  expression/vectorized.go
  util/chunk/chunk.go
  util/chunk/column.go
  util/chunk/column_test.go
Labels: component/expression, status/LGT2, status/can merge, type/new-feature

#11558 tikv: make region_request_test stable (#11541)
  store/tikv/region_request_test.go
Labels: component/test, component/tikv, status/LGT1, status/can merge, type/3.0 cherry-pick

#11560 expression: improve UT coverage of `expression` package to 80%
  expression/builtin_info_test.go
  expression/constant_test.go
  expression/distsql_builtin_test.go
  expression/integration_test.go
  expression/util.go
  expression/util_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/3.0 cherry-pick

#11519 parser: support cast as float
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/expression, status/LGT2, type/new-feature

#11559 util: add missing logutil dependence in `signal_windows`
  util/signal/signal_windows.go
Labels: status/LGT2

#11563 ranger: BuildColumnRange should merge ranges when column has prefix len
  executor/join_test.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
Labels: needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#11407 ddl: fix a bug that adding range partition meets error when value is negative
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#11478 server: tiny refactor, more go style
  executor/insert_common.go
  server/server.go
Labels: status/LGT2, status/can merge, type/enhancement

#11568 executor: fix data race of "admin check table"
  executor/admin_test.go
  executor/executor.go
Labels: component/executor, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/bug-fix

#11458 *: add trace support for subquery (#11182)
  executor/adapter.go
  executor/compiler.go
  executor/executor.go
  executor/executor_test.go
  executor/grant.go
  executor/metrics_test.go
  executor/prepared.go
  executor/seqtest/prepared_test.go
  executor/show.go
  expression/builtin_miscellaneous.go
  expression/expression.go
  expression/integration_test.go
  expression/typeinfer_test.go
  planner/cascades/optimize_test.go
  planner/core/cbo_test.go
  planner/core/common_plans.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
  planner/core/prepare_test.go
  planner/core/rule_aggregation_elimination.go
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_build_key_info.go
  planner/core/rule_column_pruning.go
  planner/core/rule_decorrelate.go
  planner/core/rule_eliminate_projection.go
  planner/core/rule_join_elimination.go
  planner/core/rule_join_reorder.go
  planner/core/rule_max_min_eliminate.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_push_down.go
  planner/core/rule_topn_push_down.go
  planner/optimize.go
  session/session.go
  statistics/selectivity_test.go
  util/ranger/ranger_test.go
  util/sqlexec/restricted_sql_executor.go
Labels: status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick, type/enhancement

#11570 executor: fix baseExecutor'children may not be closed
  executor/executor.go
Labels: component/executor, needs-cherry-pick-3.0, status/LGT2, status/can merge

#11523 types/time: optimize time convertDateFormat function by remove fprintf
  types/time.go
  types/time_test.go
Labels: component/expression, status/can merge, type/enhancement

#11567 tikv: invalidate store's regions when store be removed in kv
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
Labels: component/tikv, needs-cherry-pick-3.0, priority/release-blocker, status/all tests passed, status/can merge, type/bug-fix

#11521 store/tikv, config: increase pessimistic ttl
  config/config.go
  config/config.toml.example
  config/config_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/txn.go
Labels: status/LGT2, status/can merge, type/3.0 cherry-pick

#11572 store/tikv: make test stable by running `TestPanicInRecvLoop` unparallel with others
  store/tikv/client_fail_test.go
  store/tikv/client_test.go
  store/tikv/ticlient_test.go
  store/tikv/tikv_test.go
Labels: component/test, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/enhancement

#11538 ddl: fix invalid index on multi-layer virtual columns (#11260)
  ddl/db_integration_test.go
  ddl/index.go
  planner/core/logical_plan_builder.go
  util/admin/admin.go
  util/rowDecoder/decoder.go
Labels: priority/release-blocker, status/can merge, type/2.1 cherry-pick

#11573 infoschema: fix load drop database schema bug and refine db-table api error.
  infoschema/builder.go
  infoschema/tables_test.go
  server/http_handler.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-2.1, needs-cherry-pick-3.0, priority/release-blocker, status/LGT2, status/all tests passed, type/bug-fix

#11531 tikv: forbid to try to get a connection forever (#11391)
  store/tikv/client_batch.go
  store/tikv/client_fail_test.go
  store/tikv/client_test.go
Labels: component/tikv, priority/release-blocker, status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick

#11584 tikv: invalidate store's regions when store be removed in kv (#11567)
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
Labels: component/tikv, priority/release-blocker, status/LGT1, status/all tests passed, status/can merge, type/3.0 cherry-pick

#11480 executor, infoschema: fix display of on update CURRENT_TIMESTAMP with decimal
  ddl/db_integration_test.go
  ddl/ddl_api.go
  executor/show.go
  executor/show_test.go
  expression/helper.go
  expression/helper_test.go
  infoschema/tables_test.go
  table/column.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, type/bug-fix

#11571 executor: no need to wait for fetchInnerRows if buildHashTableForList fails, and clean code
  executor/builder.go
  executor/executor.go
  executor/join.go
  executor/joiner.go
  executor/pkg_test.go
Labels: component/executor, status/LGT2, status/can merge, type/enhancement

#11554 planner: fix bug that window function do not check ignore nulls.
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#8891 planner,expression: recognize the three new expressions from pingcap/parser#142
  expression/simple_rewriter.go
  expression/simple_rewriter_test.go
  go.mod
  go.sum
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
Labels: component/expression, component/planner, status/LGT2, status/all tests passed, type/enhancement

#11586 infoschema: fix load drop database schema bug and refine db-table api error. (#11573)
  infoschema/builder.go
  infoschema/tables_test.go
  server/http_handler.go
Labels: type/2.1 cherry-pick, type/bug-fix

#11524 stats: convert small range to points in selectivity
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/scalar.go
  statistics/scalar_test.go
  statistics/table.go
Labels: component/statistics, status/LGT2, type/enhancement

#11547 *: speed up the operation of "admin check table" (#8572)
  executor/admin_test.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  planner/core/common_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  util/admin/admin.go
  util/admin/admin_test.go
Labels: component/executor, status/LGT2, status/can merge, type/3.0 cherry-pick

#11585 infoschema: fix load drop database schema bug and refine db-table api error. (#11573)
  infoschema/builder.go
  infoschema/tables_test.go
  server/http_handler.go
Labels: status/LGT1, status/all tests passed, status/can merge, type/3.0 cherry-pick, type/bug-fix

#11475 ddl: fix invalid index on multi-layer virtual columns (#11260)
  ddl/db_integration_test.go
  ddl/index.go
  util/admin/admin.go
  util/rowDecoder/decoder.go
Labels: priority/release-blocker, status/LGT2, status/can merge, type/3.0 cherry-pick

#11598 executor: fix baseExecutor'children may not close (#11570)
  executor/executor.go
Labels: component/executor, status/LGT2, status/all tests passed, status/can merge, type/2.1 cherry-pick

#11312 expression: fix date_add func in SECOND INTERVAL
  expression/integration_test.go
  types/time.go
Labels: component/expression, contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#11562 fix error in ConvertJSONToInt error msg (#11493)
  expression/integration_test.go
  types/convert.go
Labels: component/expression, status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#11611 statistics: the overflow check is not correct in `0-Math.MinInt64` situation.
  statistics/scalar.go
  statistics/scalar_test.go
Labels: component/statistics, status/can merge, type/bug-fix

#11561 model: add schema name, table name to ddl job.
  ddl/ddl_api.go
  executor/executor.go
  executor/executor_test.go
  planner/core/planbuilder.go
Labels: component/DDL-need-LGT3, component/usability

#11581 ddl: fix a bug that adding range partition meets error when value is negative (#11407)
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, priority/release-blocker, status/all tests passed, status/can merge, type/3.0 cherry-pick, type/bug-fix

#11343 expression: remove the NotNullFlag for aggregation func MAX/MIN when inferring type
  cmd/explaintest/r/tpch.result
  expression/aggregation/base_func.go
  expression/aggregation/base_func_test.go
  expression/integration_test.go
Labels: component/expression, contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#11608 util: update the minimum version of tikv information
  util/printer/printer.go
Labels: component/usability, needs-cherry-pick-3.0, status/LGT2, status/can merge

#11394 executor, expression: fix current_timestamp/now not consistent… (#11342)
  executor/write_test.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/helper.go
  sessionctx/stmtctx/stmtctx.go
Labels: component/executor, component/expression, status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick, type/bug-fix

#11592 expression: the quote function should treat null expr as NULL literal string instead of NULL
  expression/builtin_string.go
  expression/builtin_string_test.go
  expression/integration_test.go
Labels: component/expression, contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge

#10597 executor: make alias identifier maximum length compatible with MySQL
  executor/adapter.go
  server/tidb_test.go
Labels: contribution, status/LGT2, status/can merge, type/compatibility

#11605 expression: deduce result type for multi-argument functions like `IF` wrongly in some cases
  expression/builtin_control.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#11564 parser: support cast as real
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/expression, status/LGT2, status/can merge, type/new-feature

#11620 expression: improve UT coverage of `expression` package to 80% (#10641)
  expression/distsql_builtin_test.go
Labels: component/expression, component/test

#11623 stats: fix unstable test (#10953)
  bindinfo/bind_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/serial_test.go
  ddl/table_split_test.go
  domain/domain.go
  executor/analyze_test.go
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
  executor/simple_test.go
  executor/update_test.go
  infoschema/tables_test.go
  planner/core/cbo_test.go
  privilege/privileges/cache_test.go
  privilege/privileges/privileges_test.go
  server/statistics_handler_test.go
  server/tidb_test.go
  session/isolation_test.go
  session/pessimistic_test.go
  session/session_test.go
  session/tidb.go
  statistics/handle/ddl_test.go
  statistics/handle/dump_test.go
  statistics/handle/handle_test.go
  statistics/handle/update_test.go
  statistics/sample_test.go
  statistics/selectivity_test.go
  statistics/statistics_test.go
  types/const_test.go
  util/admin/admin_integration_test.go
  util/kvencoder/kv_encoder_test.go
  util/ranger/ranger_test.go
Labels: component/test, status/LGT2, status/can merge, type/3.0 cherry-pick

#11373 [3.0] ddl: error or skip unsupported partition-related DDLs (#10672)
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/partition.go
  go.mod
  go.sum
Labels: component/DDL-need-LGT3, status/LGT2, status/can merge, type/3.0 cherry-pick

#11628 expression: handle builtin time getInterval from Decimal\Real (#11479)
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#11509 store/tikv: Support RawReverseScan (#8352)
  go.mod
  go.sum
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/mvcc_test.go
  store/mockstore/mocktikv/pd.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/pd_codec.go
  store/tikv/rawkv.go
  store/tikv/rawkv_test.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/store_test.go
Labels: component/tikv, status/LGT3, status/all tests passed, status/can merge, type/2.1 cherry-pick

#11609 executor: support analyze option for samples
  executor/analyze.go
  executor/analyze_test.go
  go.mod
  go.sum
  planner/core/planbuilder.go
Labels: component/statistics, status/LGT2, status/all tests passed, status/can merge, type/bug-fix, type/enhancement

#11616 expression: fix date_add func in SECOND INTERVAL (#11312)
  expression/integration_test.go
  types/time.go
Labels: component/expression, type/2.1 cherry-pick, type/bug-fix

#11633 executor,session: display the tree-like format of the trace statement
  executor/adapter.go
  executor/compiler.go
  executor/executor.go
  executor/trace.go
  executor/update.go
  session/session.go
  session/tidb.go
  session/txn.go
Labels: needs-cherry-pick-3.0, status/LGT1, status/all tests passed, status/can merge, type/enhancement

#11636 executor: change the way to use `Sel` in `Constant` and `Column`
  expression/column.go
  expression/constant_test.go
  expression/vectorized.go
  util/chunk/chunk.go
Labels: component/executor, component/expression, status/LGT2

#11532 table: avoid redundant encode in insert/update/delete.
  table/tables/tables.go
  types/mydecimal.go
  util/codec/codec.go
  util/codec/codec_test.go
  util/codec/decimal.go
Labels: status/LGT1, status/all tests passed, type/enhancement

#11364 planner: add aggregation hints `TIDB_HASHAGG` and `TIDB_STREAMAGG`
  cmd/explaintest/r/topn_push_down.result
  executor/join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
Labels: component/planner, status/LGT2, type/new-feature

#11655 *: rename tidb_back_off_weight
  executor/set_test.go
  session/bootstrap.go
  session/session.go
  session/session_test.go
  sessionctx/variable/tidb_vars.go
Labels: needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#11654 expression: fix a bug when comparing bit with string
  expression/builtin_compare.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/can merge, type/bug-fix

#10581 *: refactor cost model formulas and constants
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/explain.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/t/explain.test
  cmd/explaintest/t/explain_easy.test
  cmd/explaintest/t/explain_easy_stats.test
  cmd/explaintest/t/index_join.test
  cmd/explaintest/t/select.test
  cmd/explaintest/t/subquery.test
  executor/aggregate_test.go
  executor/builder.go
  executor/index_lookup_join_test.go
  expression/constant_propagation_test.go
  planner/core/cbo_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/resolve_indices.go
  planner/core/stats.go
  planner/core/task.go
  planner/property/stats_info.go
  statistics/selectivity_test.go
  statistics/table.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#11270 planner: support PointGet plan when table has alias name
  executor/point_get_test.go
  planner/core/point_get_plan.go
Labels: component/planner, contribution, status/LGT2, status/can merge, type/enhancement

#11657 ddl: make ddl test more stable
  ddl/db_test.go
Labels: component/test, status/LGT2, status/can merge

#11643 executor: tiny refactor the `insertRows` function
  executor/insert.go
  executor/insert_common.go
  executor/replace.go
Labels: component/executor, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#11578 distsql: control the sending rate of copIteratorTaskSender if keepOrder is true
  executor/table_reader.go
  store/tikv/coprocessor.go
  store/tikv/coprocessor_test.go
Labels: component/executor, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#11549 ddl: Fix generated column can refer only to generated columns defined prior to it.
  ddl/db_integration_test.go
  ddl/ddl_api.go
  ddl/generated_column.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT3, status/all tests passed, type/bug-fix

#11664 planner: implement projection and table dual in cascades
  planner/cascades/implementation_rules.go
  planner/cascades/integration_test.go
  planner/cascades/optimize.go
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/plan.go
  planner/core/planbuilder.go
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_inject_extra_projection.go
  planner/core/rule_join_reorder.go
  planner/core/rule_max_min_eliminate.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_push_down.go
  planner/core/task.go
  planner/implementation/datasource.go
  planner/implementation/simple_plans.go
  planner/memo/group.go
  planner/memo/group_expr.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/new-feature

#11665 *: rename tidb_back_off_weight (#11655)
  executor/set_test.go
  session/bootstrap.go
  session/session.go
  session/session_test.go
  sessionctx/variable/tidb_vars.go
Labels: status/can merge, type/3.0 cherry-pick, type/enhancement

#11627 build: use `make testSuite` to ensure all testSuites enabled
  Makefile
  executor/executor_test.go
  store/mockstore/mocktikv/mock_tikv_test.go
  store/tikv/backoff_test.go
  tools/check/check_testSuite.sh
Labels: component/build, component/test, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/bug-fix, type/enhancement

#11677 executor: add vectorized access methods for `time.Duration` stored in `Column`
  util/chunk/column.go
  util/chunk/column_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/new-feature

#11641 expression: remove the NotNullFlag for aggregation func MAX/MIN when inferring type (#11343)
  cmd/explaintest/r/tpch.result
  expression/aggregation/base_func.go
  expression/aggregation/base_func_test.go
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#11687 build: use `make testSuite` to ensure all testSuites enabled (#11627)
  Makefile
  store/mockstore/mocktikv/mock_tikv_test.go
  tools/check/check_testSuite.sh
Labels: component/build, component/test, status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix, type/enhancement

#11690 executor: fix panic when fetching `processlist` table data in some cases
  server/server.go
  util/processinfo.go
Labels: component/executor, status/LGT2, status/can merge, type/bug-fix

#11684 executor: make TestShowAnalyzeStatus more stable (#11090)
  executor/executor_test.go
  executor/show_stats_test.go
Labels: component/test, status/can merge, type/3.0 cherry-pick

#11681 *: support new 'log' format for trace
  ddl/index.go
  executor/admin.go
  executor/batch_checker.go
  executor/builder.go
  executor/executor_test.go
  executor/insert.go
  executor/insert_common.go
  executor/load_data.go
  executor/replace.go
  executor/table_reader.go
  executor/trace.go
  executor/trace_test.go
  executor/write_test.go
  kv/fault_injection.go
  kv/fault_injection_test.go
  kv/kv.go
  kv/mock.go
  kv/mock_test.go
  planner/core/planbuilder.go
  server/conn.go
  session/session.go
  session/txn.go
  store/tikv/2pc.go
  store/tikv/client_batch.go
  store/tikv/lock_test.go
  store/tikv/region_cache.go
  store/tikv/region_request.go
  store/tikv/safepoint_test.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  store/tikv/txn.go
  util/logutil/log.go
Labels: component/server, component/usability, status/LGT1, status/can merge

#11675 *: replace `context.WithValue` string key to typed `struct{}` key
  kv/txn.go
  plugin/audit.go
  sessionctx/context.go
  store/tikv/backoff.go
  util/execdetails/execdetails.go
  util/logutil/log.go
  util/testkit/ctestkit.go
Labels: component/server, contribution, status/LGT1, status/all tests passed, status/can merge, type/enhancement

#11680 distsql: control the sending rate of copIteratorTaskSender if keepOrder is true (#11578)
  store/tikv/coprocessor.go
  store/tikv/coprocessor_test.go
Labels: component/executor, status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#11667 *: trace the execution of the insert operation
  ddl/column_test.go
  distsql/distsql.go
  executor/batch_checker.go
  executor/insert.go
  executor/insert_common.go
  executor/load_data.go
  executor/point_get.go
  executor/replace.go
  executor/table_reader.go
  executor/union_scan.go
  executor/update.go
  executor/write.go
  kv/buffer_store.go
  kv/buffer_store_test.go
  kv/fault_injection.go
  kv/fault_injection_test.go
  kv/kv.go
  kv/mem_buffer_test.go
  kv/memdb_buffer.go
  kv/mock.go
  kv/mock_test.go
  kv/union_store.go
  kv/union_store_test.go
  kv/utils.go
  kv/utils_test.go
  session/txn.go
  store/store_test.go
  store/tikv/2pc.go
  store/tikv/2pc_fail_test.go
  store/tikv/2pc_test.go
  store/tikv/client.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/isolation_test.go
  store/tikv/kv.go
  store/tikv/lock_test.go
  store/tikv/safepoint_test.go
  store/tikv/scan_test.go
  store/tikv/snapshot.go
  store/tikv/split_test.go
  store/tikv/store_fail_test.go
  store/tikv/store_test.go
  store/tikv/ticlient_test.go
  store/tikv/txn.go
  structure/hash.go
  structure/list.go
  structure/string.go
  table/index.go
  table/tables/index.go
  table/tables/partition_test.go
  table/tables/tables.go
  util/admin/admin.go
  util/prefix_helper_test.go
Labels: status/LGT1, status/can merge, type/enhancement

#11694 expression: remove `fmt.Println` in `Constant.EvalJSON`
  expression/constant.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/can merge

#11679 distsql: control the sending rate of copIteratorTaskSender if keepOrder is true (#11578)
  store/tikv/coprocessor.go
  store/tikv/coprocessor_test.go
Labels: component/executor, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#11635 ddl,meta: Generate global IDs in bulk to reduce the number of lock acquisition
  ddl/ddl.go
  meta/meta.go
  meta/meta_test.go
Labels: status/LGT2, status/can merge, type/performance

#11550 store/tikv,util/logutil: add a function to convert proto.Message to hex format
  store/tikv/split_region.go
  util/logutil/hex.go
  util/logutil/hex_test.go
  util/logutil/log_test.go
Labels: status/LGT2, status/all tests passed, status/can merge, type/enhancement

#11141 *: remove the transaction kv count limit
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/seqtest/seq_executor_test.go
  kv/kv.go
  kv/mem_buffer_test.go
  kv/memdb_buffer.go
  store/tikv/2pc.go
  tidb-server/main.go
Labels: component/transaction-need-LGT3, status/LGT3, status/all tests passed, status/can merge

#11613 planner/core: check the window func arg first before checking window specs
  cmd/explaintest/main.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, contribution, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#11704 expression: fix last_day incompatible with mysql
  expression/builtin_time.go
  expression/builtin_time_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge, type/bug-fix

#11706 *: use bytes.Equal to check byte slice equivalent
  executor/analyze.go
  executor/load_data.go
  store/tikv/region_cache.go
Labels: needs-cherry-pick-3.0, status/LGT2, status/all tests passed, type/enhancement

#11682 ddl : Fix generated column can refer only to generated columns defined prior to it. (#11549)
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/generated_column.go
Labels: status/LGT2, status/all tests passed, status/can merge, type/2.1 cherry-pick

#11686 ddl : Fix generated column can refer only to generated columns defined prior to it. (#11549)
  ddl/db_integration_test.go
  ddl/ddl_api.go
  ddl/generated_column.go
Labels: status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick

#11640 expression: remove unnecessary convertIntToUint. fix error in err msg(should be bigint but not double)
  expression/builtin_cast.go
  expression/integration_test.go
  types/convert.go
  types/etc.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, type/bug-fix

#11688 executor: fix panic when fetching `processlist` table data in some cases
  server/server.go
  util/processinfo.go
Labels: component/executor, needs-cherry-pick-3.0, priority/release-blocker, status/LGT2, status/can merge, type/bug-fix

#11699 executor: add reserve methods to `Column` for var-length types
  expression/vectorized.go
  util/chunk/column.go
  util/chunk/column_test.go
Labels: component/executor, status/LGT2, type/new-feature

#11713 executor: fix field type error in `LOAD DATA`
  executor/load_data.go
Labels: component/executor, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge

#11714 executor: fix auto retry when transaction has select for update
  executor/executor.go
  executor/point_get.go
  executor/point_get_test.go
  session/session.go
  session/tidb.go
Labels: needs-cherry-pick-3.0, priority/release-blocker, status/LGT2, status/all tests passed, type/bug-fix

#7597 util/rowcodec: add new row codec lib
  util/rowcodec/common.go
  util/rowcodec/decoder.go
  util/rowcodec/encoder.go
  util/rowcodec/rowcodec_test.go
Labels: status/LGT2, status/can merge, type/enhancement

#11671 bindinfo: fix the bind fields with quotes or slashes
  bindinfo/bind_test.go
  bindinfo/handle.go
Labels: component/planner, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#11676 *: speed up the operation of "admin check table" (#8572, #11568, #9371)
  ddl/db_test.go
  ddl/index.go
  executor/admin_test.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  planner/core/common_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  util/admin/admin.go
  util/admin/admin_test.go
  util/rowDecoder/decoder.go
  util/testkit/testkit.go
Labels: priority/release-blocker, type/2.1 cherry-pick

#11710 metric, tikv: record duration for each backoff type
  metrics/tikvclient.go
  store/tikv/backoff.go
  store/tikv/coprocessor.go
Labels: component/metrics, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge

#11629 *: Optimize struct memory usage by adjust field order
  cmd/importer/data.go
  config/config.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  domain/domain.go
  domain/topn_slow_query.go
  executor/adapter.go
  executor/aggregate.go
  executor/executor.go
  executor/grant.go
  executor/join.go
  executor/load_data.go
  executor/prepared.go
  executor/show.go
  executor/table_reader.go
  expression/aggregation/concat.go
  expression/column.go
  infoschema/slow_log.go
  kv/kv.go
  planner/core/common_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  plugin/plugin.go
  plugin/spi.go
  server/conn.go
  sessionctx/variable/session.go
  statistics/table.go
  store/tikv/2pc.go
  store/tikv/client.go
  store/tikv/client_batch.go
  store/tikv/coprocessor.go
  store/tikv/scan.go
  store/tikv/txn.go
  util/filesort/filesort.go
  util/processinfo.go
Labels: status/LGT3, status/PTAL, status/all tests passed, type/performance

#11712 expression: remove unnecessary convertIntToUint. fix error in err msg(should be bigint but not double)(#11640)
  expression/builtin_cast.go
  expression/integration_test.go
  types/convert.go
  types/etc.go
Labels: component/expression, status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#11715 planner: "for update" should not work in a single autocommit statement
  cmd/explaintest/r/explain_easy.result
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: component/planner, require-LGT3, status/can merge, type/bug-fix

#11731 server/conn: log more detailed errors
  server/conn.go
Labels: component/server, status/LGT2, status/can merge, type/enhancement

#11672 *: refine the attribute definition of types.Time and types.Duration
  bindinfo/bind_test.go
  ddl/ddl_api.go
  executor/write.go
  expression/builtin.go
  expression/builtin_arithmetic.go
  expression/builtin_cast.go
  expression/builtin_cast_test.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/distsql_builtin.go
  expression/distsql_builtin_test.go
  expression/helper.go
  expression/typeinfer_test.go
  planner/core/expression_rewriter.go
  server/driver_tidb.go
  statistics/scalar.go
  table/column.go
  tablecodec/tablecodec.go
  types/convert.go
  types/convert_test.go
  types/datum.go
  types/datum_test.go
  types/field_type.go
  types/fsp.go
  types/fsp_test.go
  types/mytime.go
  types/mytime_test.go
  types/time.go
  types/time_test.go
  util/chunk/chunk.go
  util/chunk/column.go
  util/codec/codec.go
  util/rowcodec/decoder.go
Labels: component/executor, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#11630 expression: make `baseBuiltinFunc` support converting from row-based evaluation to vectorized evaluation
  expression/builtin.go
  expression/builtin_arithmetic_test.go
  expression/builtin_info_test.go
  expression/builtin_string_test.go
  expression/builtin_vectorized.go
  expression/builtin_vectorized_test.go
Labels: component/executor, component/expression, status/LGT2, status/all tests passed, status/can merge, type/new-feature

#11673 planner: rename optimizer hints
  executor/index_lookup_join_test.go
  go.mod
  go.sum
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge

#11737 util: Simplify non-copy string-[]byte conversion
  util/hack/hack.go
  util/hack/hack_test.go
Labels: status/LGT2, status/can merge

#11742 expression, util: add an interface Times for chunk.Column
  expression/builtin_vectorized.go
  expression/builtin_vectorized_test.go
  util/chunk/column.go
  util/chunk/column_test.go
Labels: component/executor, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#11740 planner: revert optimizer hint scope
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
Labels: component/planner, status/LGT2, status/PTAL, status/can merge

#11639 executor: fix data race in `(*HashJoinExec).Close()` since `fetchInnerAndBuildHashTable` is still running
  executor/join.go
Labels: component/executor, status/LGT2, status/can merge, type/bug-fix

#11719 ddl: handle index key type in `CreateIndex`
  cmd/importer/parser.go
  ddl/ddl.go
  ddl/ddl_algorithm.go
  ddl/ddl_algorithm_test.go
  ddl/ddl_api.go
  executor/ddl.go
  go.mod
  go.sum
Labels: component/parser, status/LGT2, status/can merge

#11749 planner: rewrite `in` as `eq` when the rhs list has only one item
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/t/explain_easy.test
  planner/core/expression_rewriter.go
  planner/core/physical_plan_test.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT2, status/can merge, type/bug-fix

#11152 planner, expression: remove `TblID2Handle` from `Schema`
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  executor/builder.go
  executor/delete.go
  executor/executor.go
  expression/schema.go
  planner/core/exhaust_physical_plans.go
  planner/core/expression_rewriter.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  planner/core/resolve_indices.go
  planner/core/rule_column_pruning.go
  planner/core/rule_partition_processor.go
  planner/core/task.go
Labels: component/expression, component/planner, status/LGT2, status/all tests passed, status/can merge

#11347 Add follower read support to TiDB
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/analyze.go
  executor/analyze_test.go
  executor/point_get.go
  go.mod
  go.sum
  kv/kv.go
  kv/mock.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  store/tikv/coprocessor.go
  store/tikv/kv.go
  store/tikv/lock_test.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/safepoint_test.go
  store/tikv/scan.go
  store/tikv/scan_mock_test.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  store/tikv/split_test.go
  store/tikv/tikvrpc/tikvrpc.go
  store/tikv/txn.go
  util/admin/admin.go
Labels: component/tikv, contribution, status/LGT2, status/can merge, type/new-feature

#11724 planner: fix uncorrect behavior of index join
  executor/join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
  planner/core/mock.go
  planner/core/physical_plan_test.go
  util/ranger/ranger_test.go
Labels: component/planner, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#11743 executor: introduce the column buffer allocator for vectorized evaluation
  expression/builtin.go
  expression/builtin_vectorized.go
  expression/builtin_vectorized_test.go
Labels: component/executor, status/LGT2, status/can merge, type/new-feature

#11759 planner: fix uncorrect behavior of index join (#11724)
  executor/join_test.go
  planner/cascades/optimize_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
  planner/core/logical_plan_test.go
  planner/core/mock.go
  planner/core/physical_plan_test.go
  planner/core/preprocess_test.go
  planner/implementation/base_test.go
  planner/memo/group_test.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick, type/bug-fix

#11752 planner: increase default concurrency factor of cost computing
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/access_path_selection.test
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  planner/core/logical_plan_test.go
  planner/core/physical_plan_test.go
  util/ranger/ranger_test.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#11747 CHANGELOG: add release notes for v2.1.16
  CHANGELOG.md
Labels: CHANGELOG, status/LGT1

#11766 planner: early break loop if the condition is satisfied
  planner/core/rule_column_pruning.go
Labels: component/planner, needs-cherry-pick-3.0, status/LGT1, status/can merge

#11662 Planner: Avoid injecting redundant projection below LogicalJoin
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  planner/core/logical_plan_test.go
  planner/core/rule_predicate_push_down.go
Labels: component/planner, status/LGT2, status/can merge, type/enhancement

#11760 server: improving test coverage for `/debug/zip` api
  server/http_handler_test.go
Labels: component/server, status/LGT2, status/PTAL, status/can merge

#11748 CHANGELOG: add release notes for v3.0.2
  CHANGELOG.md
Labels: CHANGELOG

#11201 executor, privileges: fix privileges check fail for `SET DEFAULT ROLE`
  executor/show_test.go
  executor/simple.go
  planner/core/planbuilder.go
Labels: component/executor, component/privilege, needs-cherry-pick-3.0, status/LGT1, status/PTAL, status/all tests passed, status/can merge

#11725 tikv: fix TxnSize to be the number of involved keys in the region
  store/mockstore/mocktikv/errors.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: component/tikv, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#11771 planner/core: fix the 'for update' condition for the point get query
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: component/planner, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#11753 executor: record prepared stmt in `handle_query_duration`
  executor/adapter.go
  executor/prepared.go
  go.mod
  go.sum
  planner/core/common_plans.go
Labels: component/metrics, component/usability, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge

#11765 fix an obvious typo in loadSafePoint
  store/tikv/gcworker/gc_worker.go
  store/tikv/kv.go
  store/tikv/safepoint.go
  store/tikv/safepoint_test.go
Labels: contribution, status/LGT1, status/LGT2, status/all tests passed, status/can merge

#11776 executor: make vectorized methods of `Time` be compatible with its row-based methods
  util/chunk/chunk.go
  util/chunk/chunk_test.go
  util/chunk/chunk_util_test.go
  util/chunk/codec.go
  util/chunk/column.go
  util/chunk/column_test.go
  util/chunk/mutrow.go
  util/chunk/mutrow_test.go
  util/chunk/pool_test.go
  util/chunk/row.go
Labels: component/executor, status/LGT2, status/can merge

#11589 executor, privileges: fix privilege check fail for `CREATE USER` and `DROP USER`
  executor/simple.go
  executor/simple_test.go
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
Labels: component/executor, component/privilege, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT1, status/PTAL, status/can merge

#11783 build: fix macos compatibility of check_testSuite.sh
  tools/check/check_testSuite.sh
Labels: component/build, status/can merge, type/bug-fix

#11762 sessionctx/binloginfo: fix uncomment pre_split_regions ddl-querys in binlog
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
Labels: component/DDL-need-LGT3, component/binlog, status/LGT3

#11785 planner: tiny optimization for `tableNames2HintTableInfo`
  planner/core/planbuilder.go
Labels: component/planner, status/LGT2, status/can merge

#11780 planner: fix incorrect table name in explain information
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/tpch.result
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#11781 *: convert key to hex for logs
  ddl/util/util.go
  executor/adapter.go
  kv/key.go
  kv/union_iter.go
  server/http_handler.go
  store/helper/helper.go
  store/tikv/2pc.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/range_task.go
  store/tikv/region_cache.go
  store/tikv/scan.go
  store/tikv/split_region.go
  util/admin/admin.go
Labels: status/LGT2, status/can merge, type/enhancement

#11758 executor: refine an error log message
  executor/adapter.go
Labels: component/usability, status/LGT2, status/can merge, type/enhancement

#11790 ddl: make ddl test more stable
  ddl/db_test.go
Labels: component/test, status/LGT2, status/all tests passed, status/can merge, type/2.1 cherry-pick

#11778 executor: support converting from vectorized evaluation to row-based evaluation
  expression/builtin_vectorized.go
  expression/builtin_vectorized_test.go
  util/chunk/row.go
Labels: component/executor, status/LGT2, status/can merge, type/new-feature

#11750 planner: use `BatchPointGet` to improve the `SELECT ...WHERE IN` performance
  executor/batch_point_get.go
  executor/batch_point_get_test.go
  executor/builder.go
  executor/executor_test.go
  executor/point_get.go
  planner/core/physical_plans.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#11794 ddl: refine pre-split region logic
  ddl/split_region.go
  executor/executor_test.go
Labels: component/usability, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT3, status/can merge

#11159 *: change the query start time to the parsing time
  executor/adapter.go
  executor/prepared.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: component/executor, status/LGT1, status/PTAL, status/can merge, type/enhancement

#10498 expression: fix wrong result of `Not`/`IsTrue`/`IsFalse` functions
  expression/builtin_op.go
  expression/builtin_op_test.go
  expression/distsql_builtin.go
  expression/expr_to_pb_test.go
  expression/util_test.go
  go.mod
  go.sum
Labels: component/expression, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#11793 tikv: do not update regionTxnSize on retries
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/2pc_fail_test.go
Labels: component/tikv, status/LGT2, status/can merge, type/bug-fix

#11788 tikv: fix wasted sleep and return error in last backoff
  store/tikv/backoff.go
  store/tikv/region_request_test.go
Labels: component/tikv, status/LGT1, status/all tests passed, type/enhancement

#11803 expression: make Column support hybrid types when vectorized evaluation
  expression/builtin_vectorized.go
  expression/column.go
  expression/column_test.go
Labels: component/expression, status/LGT2, status/can merge

#11789 *: implement IterReverse for tikvSnapshot and use desc scan to get latest N ddl history jobs. (#10152)
  executor/executor_test.go
  executor/memory_test.go
  executor/set_test.go
  meta/meta.go
  meta/meta_test.go
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/scan.go
  store/tikv/scan_mock_test.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  structure/hash.go
  structure/structure_test.go
  structure/type.go
  util/admin/admin.go
  util/kvencoder/kv_encoder.go
Labels: status/all tests passed, type/2.1 cherry-pick, type/performance

#11791 *: replace CONTRIBUTORS with a link to pingcap/community
  CONTRIBUTORS
  CONTRIBUTORS.md
Labels: status/LGT2, status/can merge

#11802 executor: fix error check in EvalSubquery
  executor/executor.go
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#11804 expression: fix DIV with decimal type
  expression/builtin_arithmetic.go
  expression/builtin_arithmetic_test.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix, type/compatibility

#11777 executor, privileges: fix privileges check fail for `SET DEFAULT ROLE`(#11201)
  executor/show_test.go
  executor/simple.go
  planner/core/planbuilder.go
Labels: component/executor, component/privilege, status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick

#11811 executor: fix error check in EvalSubquery #11802
  executor/executor.go
Labels: status/LGT1, status/can merge, type/2.1 cherry-pick, type/bug-fix

#11821 README.md: Update URL to MySQL compatibility information
  README.md
Labels: contribution

#11721 executor: split a separate region for index when split table region
  executor/executor_test.go
  executor/split.go
  planner/core/planbuilder.go
Labels: component/usability, status/LGT2, status/can merge, type/enhancement
