Repository pingcap/tidb, pull requests merged in 2019-05, with the labels that each got.

#10276 kv: remove the useless field of `snapshot`
  kv/union_store.go
Labels: status/LGT1, status/all tests passed, type/enhancement

#10327 cherry-pick: replace gofail with the new failpoint implementation
  Makefile
  ddl/column.go
  ddl/fail_db_test.go
  ddl/fail_test.go
  ddl/index.go
  ddl/reorg.go
  ddl/table.go
  executor/aggregate.go
  executor/executor_test.go
  executor/point_get.go
  executor/write_test.go
  go.mod
  go.sum
  owner/fail_test.go
  owner/manager.go
  session/session_fail_test.go
  session/txn.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc_fail_test.go
  store/tikv/coprocessor.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/region_request.go
  store/tikv/sql_fail_test.go
  store/tikv/store_fail_test.go
  tablecodec/tablecodec_test.go
  util/codec/decimal.go
Labels: status/all tests passed, type/2.1 cherry-pick, type/enhancement

#10323 log: change slow log time format to compatible with pt-query-digest (#10290)
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  infoschema/tables_test.go
  sessionctx/variable/session.go
  util/logutil/log.go
Labels: component/usability, status/LGT2, type/2.1 cherry-pick

#10339 session: make tidb_disable_txn_auto_retry disable retry for the explicit transactions
  session/session.go
  session/session_test.go
Labels: priority/P1, status/all tests passed, type/enhancement

#10345 expression: check timezone when encoding timestamp datum (#10303)
  expression/distsql_builtin.go
  expression/expr_to_pb.go
  expression/integration_test.go
  util/codec/codec.go
Labels: component/expression, priority/release-blocker, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#10348 chunk: change offset type to int64
  util/chunk/chunk.go
  util/chunk/chunk_test.go
  util/chunk/chunk_util.go
  util/chunk/codec.go
  util/chunk/column.go
  util/chunk/column_test.go
  util/chunk/mutrow.go
Labels: component/executor, status/LGT2, type/bug-fix

#10353 chunk: change offset type to int64 (#10348)
  util/chunk/chunk.go
  util/chunk/chunk_test.go
  util/chunk/chunk_util.go
  util/chunk/codec.go
  util/chunk/column.go
  util/chunk/column_test.go
  util/chunk/mutrow.go
Labels: status/LGT2, type/2.1 cherry-pick, type/bug-fix

#10312 *: upgrade to go 1.12
  .travis.yml
  Dockerfile
  circle.yml
  ddl/ddl_worker_test.go
  go.mod
  go.sum
  terror/terror.go
  terror/terror_test.go
Labels: component/build, status/LGT2, status/all tests passed, type/2.1 cherry-pick

#10342 types: Fix checkMonthDay() to correctly handle leap year
  types/time.go
  types/time_test.go
Labels: status/LGT2, type/bug-fix

#10354 infoschema, domain, ddl: fix upper cased charset names (#10272)
  ddl/db_integration_test.go
  ddl/db_test.go
  domain/domain.go
  expression/integration_test.go
  expression/typeinfer_test.go
  go.mod
  go.sum
  infoschema/builder.go
Labels: priority/release-blocker, status/all tests passed, type/2.1 cherry-pick

#10314 expression: fix issue that `timestampadd` is not compatible with Mysql
  expression/builtin_time.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, type/bug-fix, type/compatibility

#10239 executor: fix the error message when granting to a non-exist user
  executor/errors.go
  executor/grant.go
  executor/grant_test.go
Labels: status/LGT2, status/all tests passed, type/compatibility

#10338 Fix incorrect "Internal" display in admin show slow output
  executor/executor.go
Labels: status/LGT2, status/all tests passed

#10144 executor: support prepare DDL statements with no parameters
  executor/errors.go
  executor/prepared.go
  executor/prepared_test.go
Labels: component/executor, contribution

#10324 domain: fix updating the self schema version and update log
  domain/domain.go
  domain/domain_test.go
Labels: status/LGT2, status/all tests passed, type/bug-fix

#10349 tikvclient: print error logs only if necessary
  store/tikv/client.go
Labels: component/tikv, status/LGT2, status/all tests passed

#10352 bindinfo: reduce duplicate DigestHash call
  bindinfo/bind_test.go
  bindinfo/handle.go
  executor/compiler.go
  go.mod
  go.sum
  session/session.go
Labels: component/parser, status/LGT2, status/all tests passed, type/bug-fix

#10313 planner: fix wrong `DATE/DATETIME` comparison in `BETWEEN` function
  expression/builtin_compare.go
  planner/core/expression_rewriter.go
  planner/core/expression_test.go
Labels: component/expression, status/LGT2, type/bug-fix, type/compatibility

#10363 expression: let `PushDownNot` does not change the argument
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  expression/util.go
  expression/util_test.go
  planner/core/logical_plan_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix

#10359 domain: fix updating the self schema version and update log (#10324)
  domain/domain.go
  domain/domain_test.go
Labels: status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10203 *: add split index region syntax
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  executor/split.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: component/executor, component/usability, status/LGT2

#10364 executor: split unit tests to speedup execution time
  executor/executor_test.go
  executor/metrics_test.go
  executor/sort_test.go
  executor/union_scan_test.go
  executor/window_test.go
  executor/write_test.go
Labels: component/executor, component/test, status/LGT2, status/all tests passed

#10360 table: improve package unit test code coverage to 92%
  table/column.go
  table/column_test.go
Labels: component/test, status/all tests passed

#10291 server, statistics: support dump history stats
  docs/tidb_http_api.md
  server/http_handler.go
  server/http_status.go
  server/statistics_handler.go
  server/statistics_handler_test.go
  statistics/handle/dump.go
  statistics/handle/dump_test.go
  statistics/handle/handle.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/enhancement

#10362 CHANGELOG: release notes for v2.1.9
  CHANGELOG.md
Labels: CHANGELOG

#10372 structure: improve package unit test code coverage to 86%
  structure/structure_test.go
Labels: component/test, status/LGT2, status/all tests passed

#10085 planner: fix update privilege error
  planner/core/logical_plan_builder.go
  session/session_test.go
Labels: component/planner, component/privilege, contribution, status/LGT2, status/all tests passed

#10366 table/tables: improve package unit test code coverage to 82%
  table/tables/partition_test.go
  table/tables/tables.go
  table/tables/tables_test.go
Labels: component/test, status/LGT2, status/all tests passed

#10358 table:modify 'desc' and 'show columns' statement is compatible with MySQL
  executor/seqtest/seq_executor_test.go
  table/column.go
  table/column_test.go
Labels: status/all tests passed

#10370 executor: should handle virtual columns when fetching duplicate rows in batchChecker
  executor/batch_checker.go
  executor/insert.go
  executor/replace.go
  executor/write_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#10266 *: add a variable to control the back off time and disable txn auto retry by default
  ddl/db_test.go
  executor/set_test.go
  executor/write_test.go
  kv/variables.go
  server/server_test.go
  session/session.go
  session/session_fail_test.go
  session/session_test.go
  session/txn.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/store_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/backoff.go
  store/tikv/error.go
  store/tikv/kv.go
  store/tikv/region_request_test.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  store/tikv/txn.go
  util/misc.go
Labels: component/transaction-need-LGT3, priority/P1, status/LGT3, status/all tests passed

#10355 stats: incremental analyze for index with feedback updates
  executor/analyze.go
  executor/analyze_test.go
  executor/builder.go
  executor/executor_test.go
  session/bootstrap.go
  session/session.go
  statistics/cmsketch.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
  statistics/handle/update.go
  statistics/histogram.go
Labels: component/statistics, status/LGT2, type/new-feature

#10268 priviege, executor: add set role option
  executor/simple.go
  privilege/privilege.go
  privilege/privileges/cache.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: component/executor, component/privilege, status/LGT2, status/all tests passed, type/TEP

#10273 ddl: check expr restriction for hash partitioned table
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
Labels: component/DDL-need-LGT3, type/bug-fix

#10386 Fixed TiDB Slack link
  README.md
Labels: component/docs, status/LGT1

#10356 tablecodec: improve package unit test code coverage to 85%
  tablecodec/tablecodec.go
  tablecodec/tablecodec_test.go
Labels: component/test, status/LGT2, status/all tests passed

#9936 ddl: enable hash partition and range columns partition by default
  ddl/partition.go
Labels: status/LGT2, type/new-feature

#10261 privilege,executor: update DBIsVisible() function for RBAC
  executor/show.go
  executor/simple.go
  privilege/privilege.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: component/privilege, status/LGT2, status/all tests passed

#10369 store/tikv/gc_worker: Add RunDistributedGCJob function
  store/tikv/gcworker/gc_worker.go
Labels: component/tikv

#10389 expression: let `PushDownNot` does not change the argument (#10363)
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  expression/util.go
  expression/util_test.go
  planner/core/logical_plan_test.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10368 expression: fix `cast(-num as datetime)` to return null instead of error
  expression/builtin_cast.go
  expression/builtin_time_test.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, type/bug-fix, type/compatibility

#10373 cmd: add more explaintests for generated columns
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/t/generated_columns.test
Labels: component/test, status/LGT2, status/all tests passed

#10384 planner: fix wrong column calculation in ColumnPruning for LogicalUnionAll
  planner/core/logical_plan_test.go
  planner/core/rule_column_pruning.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#10394 planner: tidy up PhysicalApply struct and related methods
  executor/builder.go
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/physical_plans.go
  planner/core/resolve_indices.go
  planner/core/task.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#10380 expression: check if period is valid in `period_add`
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix, type/compatibility

#10347 expression: addition between `datetime` and real `interval` is not compatible with Mysql
  expression/builtin_time.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, type/bug-fix, type/compatibility

#10222 server: fix panic in api regions/meta
  server/http_handler.go
  server/http_handler_test.go
Labels: status/LGT2, type/bug-fix

#10333 types: rename CopyRow and CopyDatum to Clone*
  executor/insert_common.go
  executor/update.go
  expression/aggregation/first_row.go
  expression/aggregation/util.go
  statistics/sample.go
  store/mockstore/mocktikv/aggregate.go
  types/datum.go
  types/datum_test.go
Labels: contribution, status/all tests passed

#10385 executor: should handle virtual columns when fetching duplicate rows in batchChecker (#10370)
  executor/batch_checker.go
  executor/insert.go
  executor/replace.go
  executor/write_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10408 metrics: Fix a metrics that is not registered
  metrics/metrics.go
Labels: component/metrics, status/LGT2, type/bug-fix

#10328 infoschema/slow_query: fix token too long
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: component/usability, status/LGT2, status/all tests passed, type/bug-fix

#10407 planner: fix wrong `DATE/DATETIME` comparison in `BETWEEN` function (#10313)
  expression/builtin_compare.go
  planner/core/expression_rewriter.go
  planner/core/expression_test.go
Labels: component/expression, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#10412 infoschema/slow_query: fix token too long (#10328)
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, type/2.1 cherry-pick

#10329 expression: addition between `datetime` and `interval` is not compatible with Mysql
  expression/builtin_time.go
  expression/integration_test.go
  types/time.go
  types/time_test.go
Labels: component/expression, status/LGT2, status/all tests passed, type/bug-fix, type/compatibility

#10416 expression: addition between `datetime` and `interval` is not compatible with Mysql (#10329)
  expression/builtin_time.go
  expression/integration_test.go
  types/time.go
  types/time_test.go
Labels: component/expression, status/LGT1, type/2.1 cherry-pick, type/bug-fix, type/compatibility

#10297 *: support pessimistic transaction (experimental feature)
  config/config.go
  config/config.toml.example
  ddl/index.go
  executor/adapter.go
  executor/admin.go
  executor/builder.go
  executor/executor.go
  executor/point_get.go
  executor/prepared.go
  executor/simple.go
  go.mod
  go.sum
  kv/kv.go
  kv/mock.go
  kv/mock_test.go
  session/session.go
  session/session_test.go
  session/tidb.go
  session/txn.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/lock_test.go
  store/tikv/region_request_test.go
  store/tikv/ticlient_test.go
  store/tikv/tikvrpc/tikvrpc.go
  store/tikv/txn.go
  util/misc.go
Labels: component/transaction-need-LGT3, status/LGT1, status/all tests passed, type/new-feature

#10311 ddl: refine ddl change shard_rowid err msg
  ddl/db_test.go
  ddl/table.go
Labels: component/DDL-need-LGT3, status/LGT2

#10417 types: Fix checkMonthDay() to correctly handle leap year (#10342)
  types/time.go
  types/time_test.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10418 Support add datetime with real interval (#10347)
  expression/builtin_time.go
  expression/integration_test.go
Labels: component/expression, status/LGT1, type/2.1 cherry-pick, type/bug-fix, type/compatibility

#10419 planner: fix wrong column calculation in ColumnPruning for LogicalUnionAll (#10384)
  planner/core/logical_plan_test.go
  planner/core/rule_column_pruning.go
Labels: component/planner, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10396 executor,sessionctx: add correctness checking for more system variables
  executor/set_test.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/varsutil.go
Labels: component/executor, status/LGT1, status/all tests passed

#10404 CHANGELOG: release notes for v3.0.0-rc.1,v2.1.9,v2.1.8
  CHANGELOG.md
Labels: CHANGELOG

#10381 expression: support ConstItem() for expression (#10004)
  expression/column.go
  expression/column_test.go
  expression/constant.go
  expression/expression.go
  expression/expression_test.go
  expression/scalar_function.go
  expression/scalar_function_test.go
Labels: component/expression, status/LGT1, status/all tests passed, type/2.1 cherry-pick

#10351 util/codec: improve package test code coverage above 85%
  util/codec/codec.go
  util/codec/codec_test.go
Labels: component/test, status/LGT2, status/all tests passed

#10279 metrics: add comments for metrics ranges
  metrics/ddl.go
  metrics/distsql.go
  metrics/domain.go
  metrics/gc_worker.go
  metrics/meta.go
  metrics/metrics.go
  metrics/oracles.go
  metrics/owner.go
  metrics/server.go
  metrics/session.go
  metrics/stats.go
  metrics/tikvclient.go
Labels: component/metrics, status/LGT2, status/all tests passed, type/enhancement

#10425 fix desc is not compatible with MySQL(#10358)
  table/column.go
  table/column_test.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/compatibility

#10431 expression: fix issue that `timestampadd` is not compatible with Mysql
  expression/builtin_time.go
  expression/integration_test.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10121 proposal: access a table using multiple indexes
  docs/design/2019-04-11-indexmerge.md
  docs/design/imgs/and.jpeg
  docs/design/imgs/cnf200m2.png
  docs/design/imgs/dnf200.png
  docs/design/imgs/execution_model.png
Labels: component/executor, component/planner, proposal, status/LGT2

#10439 planner/core,session: fix privilege check for update (8376)
  planner/core/logical_plan_builder.go
  session/session_test.go
Labels: component/privilege, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#9830 *: add_date can return mysql.Time
  expression/builtin_time.go
  expression/builtin_time_test.go
  types/const_test.go
  types/errors.go
  types/fsp_test.go
  types/time.go
  types/time_test.go
  util/math/math.go
Labels: component/expression, status/LGT2, status/all tests passed, type/compatibility

#10434 cmd/importer: support incremental columns
  cmd/importer/README.md
  cmd/importer/data.go
  cmd/importer/db.go
  cmd/importer/job.go
  cmd/importer/parser.go
Labels: component/tools, status/LGT1, status/LGT2, status/all tests passed

#10433 ddl: prohibit modification decimal precision to avoid inconsistency problem
  ddl/column_test.go
  ddl/ddl_api.go
  executor/admin_test.go
Labels: status/LGT2, status/all tests passed, type/bug-fix

#10432 *: fix pessimistic transaction and enable the test
  executor/adapter.go
  session/pessimistic_test.go
  session/session_test.go
  store/mockstore/mocktikv/errors.go
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc_test.go
  store/tikv/error.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  util/misc.go
Labels: status/LGT1, status/all tests passed

#10415 *: fix bug when unsigned histogram meets signed ranges in feedback
  distsql/request_builder.go
  executor/executor_test.go
  executor/table_reader.go
  planner/core/logical_plans.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/histogram.go
Labels: component/statistics, status/all tests passed, type/bug-fix

#10124 executor: correct range calculation for CHAR column
  executor/executor_test.go
  executor/point_get.go
  executor/point_get_test.go
  util/ranger/points.go
  util/testkit/testkit.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#10455 executor: correct range calculation for CHAR column (#10124)
  executor/executor_test.go
  executor/point_get.go
  executor/point_get_test.go
  util/ranger/points.go
  util/testkit/testkit.go
Labels: component/planner, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#10441 *: remove useless defer and setReadTimeout
  server/conn.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  store/tikv/client.go
Labels: component/server, status/LGT1, status/all tests passed

#10436 ddl: fix alter table share rowid bit problem (#9868)
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/table.go
  go.mod
  go.sum
  table/tables/tables.go
Labels: status/LGT2, type/2.1 cherry-pick

#10451 store/tikv: always set `isPessimisticLock` in request for pessimistic transaction.
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: component/transaction-need-LGT3, status/LGT2, status/all tests passed

#10383 expression: fix issue that `period_diff` is not compatible with MySQL 8.0
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT2, type/bug-fix, type/compatibility

#10442 planner: keep unfoldable exprs when pruning for ORDER BY items (#10064)
  executor/sort_test.go
  expression/column.go
  expression/column_test.go
  planner/core/rule_column_pruning.go
Labels: status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10458 ddl: prohibit modification decimal precision to avoid inconsistency problem (#10433)
  ddl/column_test.go
  ddl/ddl_api.go
  executor/admin_test.go
Labels: status/LGT2, type/2.1 cherry-pick, type/bug-fix

#10454 cmd/importer: support probability in building incremental column
  cmd/importer/README.md
  cmd/importer/data.go
  cmd/importer/db.go
  cmd/importer/parser.go
Labels: component/tools, status/LGT2, type/enhancement

#10474 types: fix `time_format` is not compatible with MySQL (#9841)
  expression/integration_test.go
  types/time.go
Labels: component/expression, type/2.1 cherry-pick, type/bug-fix

#10393 ddl: implement `ALTER DATABASE` to alter charset/collation
  ddl/db_integration_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/rollingback.go
  ddl/schema.go
  executor/ddl.go
  go.mod
  go.sum
  infoschema/builder.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
  util/admin/admin.go
Labels: component/DDL-need-LGT3, priority/release-blocker, status/all tests passed, type/enhancement

#10466 *: refine transaction retry error messages
  domain/domain.go
  executor/adapter.go
  go.mod
  go.sum
  kv/error.go
  kv/mock.go
  kv/txn.go
  session/session.go
  session/session_test.go
  session/txn.go
  store/store.go
  store/store_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/error.go
  store/tikv/isolation_test.go
  store/tikv/kv.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  store/tikv/ticlient_test.go
  store/tikv/txn.go
Labels: priority/P1, status/LGT2, status/all tests passed, type/enhancement

#10405 type: fix float over flow when converting a decimal to an uint by float
  expression/integration_test.go
  types/convert.go
  types/convert_test.go
  types/datum.go
Labels: component/expression, status/LGT2, type/bug-fix

#10430 expression: check if period is valid in `period_add`
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_test.go
  util/testkit/testkit.go
Labels: component/expression, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#9052 cmd: move ddltest from tidb-test
  Makefile
  cmd/ddltest/column_test.go
  cmd/ddltest/ddl_test.go
  cmd/ddltest/index_test.go
  cmd/ddltest/random.go
Labels: component/test, status/all tests passed

#10379 store/tikv/gcworker: Make resolveLock concurrent
  metrics/metrics.go
  metrics/tikvclient.go
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/pd.go
  store/tikv/backoff.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/range_task.go
  store/tikv/range_task_test.go
Labels: component/tikv, status/LGT1, status/WIP, status/all tests passed

#10514 store: fix data race in mock PD timeout error
  session/session_fail_test.go
  store/tikv/2pc.go
  store/tikv/kv.go
Labels: component/test, priority/non-release-blocker, status/LGT1, status/all tests passed

#10006 tikvclient: reduce wait backoff time when lock has be expired
  store/mockoracle/oracle.go
  store/tikv/2pc.go
  store/tikv/backoff.go
  store/tikv/coprocessor.go
  store/tikv/lock_resolver.go
  store/tikv/oracle/oracle.go
  store/tikv/oracle/oracles/export_test.go
  store/tikv/oracle/oracles/local.go
  store/tikv/oracle/oracles/local_test.go
  store/tikv/oracle/oracles/pd.go
  store/tikv/oracle/oracles/pd_test.go
  store/tikv/snapshot.go
Labels: component/tikv, status/LGT2, status/all tests passed

#10493 fix invalid `YEAR` string is not compatible with Mysql
  executor/insert_test.go
  types/convert_test.go
  types/datum.go
Labels: component/expression, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10526 infoschema: fix error in ParseSlowLog
  infoschema/slow_log.go
  infoschema/slow_log_test.go
Labels: contribution, status/LGT1, type/bug-fix

#10496 executor: `RANGE` frame can have no `ORDER BY` clause
  executor/builder.go
  executor/window_test.go
Labels: component/executor, status/LGT2, type/bug-fix

#10517 store/tikv: use ConflictCommitTS in WriteConflict error
  executor/adapter.go
  go.mod
  go.sum
  store/tikv/2pc_test.go
  store/tikv/region_request_test.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
Labels: status/LGT2, status/all tests passed

#10519 store/tikv: Fix canceling range task may not return error
  store/tikv/range_task.go
Labels: component/tikv, status/LGT1

#10475 ddl: cancel add index when can not find partition and fix GetPartition function bug
  ddl/db_partition_test.go
  ddl/index.go
  meta/meta.go
  table/tables/partition.go
Labels: component/DDL-need-LGT3, status/LGT2, type/bug-fix

#10503 ddl: implement `ALTER DATABASE` to alter charset/collation (#10393)
  ddl/db_integration_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/rollingback.go
  ddl/schema.go
  executor/ddl.go
  go.mod
  go.sum
  infoschema/builder.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
  util/admin/admin.go
Labels: status/all tests passed, type/2.1 cherry-pick

#10535 cmd/ddltest: fix build using 'go test -c'
  cmd/ddltest/ddl_test.go
Labels: component/test, status/DNM, status/LGT2, status/all tests passed

#10536 infoschema: fix error in ParseSlowLog (#10526)
  infoschema/slow_log.go
  infoschema/slow_log_test.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10529 ddl: fix a bug in AlterSchema job and add more tests
  ddl/db_change_test.go
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
  ddl/schema.go
  ddl/schema_test.go
Labels: component/DDL-need-LGT3, status/LGT2, status/all tests passed, type/bug-fix

#10539 ddl: fix a bug in AlterSchema job and add more tests (#10529)
  ddl/db_change_test.go
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
  ddl/schema.go
  ddl/schema_test.go
Labels: priority/release-blocker, status/LGT1, status/all tests passed, type/2.1 cherry-pick

#10542 Makefile: add a 'make ddltest' target to generate ddltest binary
  Makefile
Labels: component/usability, status/LGT1

#10544 executor: handle OOM panic which not be recovered now in distSQL layer
  distsql/select_result.go
  store/tikv/coprocessor.go
Labels: component/executor, priority/release-blocker, type/bug-fix

#10464 ddl: validate table info before doing ddl job to avoid load infoschema error
  ddl/column.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/index.go
  ddl/table.go
Labels: component/DDL-need-LGT3, status/LGT3, type/bug-fix

#10545 executor: handle OOM panic which not be recovered now in distSQL layer
  distsql/select_result.go
  store/tikv/coprocessor.go
Labels: component/executor, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10547 ddl: validate table info before doing ddl job to avoid load infoschema error (#10464)
  ddl/column.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/index.go
  ddl/table.go
Labels: priority/release-blocker, status/all tests passed, type/2.1 cherry-pick

#10459 ddl: prohibit modification decimal precision to avoid inconsistency problem (#10433)
  ddl/column_test.go
  ddl/ddl_api.go
  executor/admin_test.go
Labels: status/LGT2, status/all tests passed, type/2.0 cherry-pick, type/bug-fix

#10256 tikvclient: refine region-cache
  ddl/table_split_test.go
  store/tikv/coprocessor_test.go
  store/tikv/kv.go
  store/tikv/rawkv.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/split_test.go
Labels: component/tikv, priority/release-blocker, require-LGT3, status/LGT3, type/bug-fix

#10429 executor: only retry needed regions when get region row count
  executor/analyze.go
  executor/analyze_test.go
Labels: component/executor, status/LGT1, status/all tests passed, type/enhancement

#10499 expression,ddl: check table name for columns in partition expression
  ddl/db_partition_test.go
  expression/errors.go
  expression/simple_rewriter.go
  planner/core/logical_plan_test.go
  planner/core/mock.go
Labels: component/expression, status/LGT1, status/all tests passed, type/bug-fix

#10557 distsql: tiny refactor to make the code more robust
  distsql/select_result.go
Labels: status/all tests passed, type/enhancement

#10520 ddl: fix a data race in the test code
  ddl/table.go
Labels: component/test, status/LGT2, status/all tests passed

#10476 stats: merge non-overlapped feedback when update bucket count
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/handle/update_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/enhancement

#10488 planner: `ByItem` should filter `NULL` out
  executor/window_test.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
  planner/core/rule_column_pruning.go
Labels: component/planner, status/LGT2, type/bug-fix

#10550 session: refine txn abort error msg
  session/session.go
Labels: component/session, component/usability, status/LGT2

#10540 planner: enhance index join for more scenarios
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plan_test.go
Labels: component/planner, status/LGT2, status/all tests passed, type/enhancement

#10501 expression: fix issue that `period_diff` is not compatible with MySQL 8.0 (#10383)
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#10395 executor: add warning for "drop user if exists"
  executor/simple.go
  executor/simple_test.go
  go.mod
  go.sum
  infoschema/infoschema.go
Labels: status/LGT2, type/compatibility

#10491 expression: fix issue that results of `unix_timestamp()-unix_timestamp(now())` is wrong and not stable
  executor/executor_test.go
  expression/builtin_time.go
  expression/integration_test.go
  types/time.go
Labels: component/expression, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10336 parser: support LOAD DATA ... IGNORE/REPLACE
  cmd/ddltest/random.go
  executor/builder.go
  executor/load_data.go
  executor/write_test.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: contribution, status/LGT2, status/all tests passed

#10113 executor: fix point get -1 return max.uInt64 value
  executor/point_get.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#10569 stats: merge non-overlapped feedback when update bucket count (#10476)
  statistics/feedback.go
  statistics/feedback_test.go
Labels: component/statistics, status/LGT2, status/all tests passed, type/2.1 cherry-pick, type/bug-fix

#10566 *: refine the error message in latch
  executor/write_test.go
  kv/error.go
  store/tikv/2pc_test.go
  store/tikv/txn.go
Labels: component/executor, status/LGT2, status/all tests passed, type/enhancement

#9894 support view related privileges in mysql.tables_priv
  planner/core/planbuilder.go
  session/bootstrap.go
  session/session.go
  session/session_test.go
Labels: component/privilege, status/LGT2

#10428 Add tidb_low_resolution_tso session scope variable on master
  executor/adapter.go
  executor/executor_test.go
  session/txn.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  store/mockoracle/oracle.go
  store/tikv/oracle/oracle.go
  store/tikv/oracle/oracles/local.go
  store/tikv/oracle/oracles/pd.go
Labels: contribution, status/LGT1, status/all tests passed

#10573 statistics: support dump/load correlation of histogram
  server/statistics_handler_test.go
  statistics/handle/dump.go
  statistics/histogram.go
Labels: component/server, component/statistics, status/LGT2, status/all tests passed, type/enhancement

#10511 store,tidb-server: add a morbid flag to indicate tidb server is closing
  store/tikv/error.go
  store/tikv/region_request.go
  tidb-server/main.go
Labels: component/server, status/LGT2, status/all tests passed, type/bug-fix

#9866 planner, executor: merge window functions with same specification name
  executor/builder.go
  executor/window.go
  executor/window_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/resolve_indices.go
  planner/core/rule_column_pruning.go
  planner/core/rule_eliminate_projection.go
  planner/core/stats.go
  planner/core/stringer.go
  planner/core/util.go
Labels: component/executor, component/planner, priority/release-blocker, status/LGT1, status/all tests passed, type/enhancement

#10572 tikv: fix `notLeader` in region cache
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
Labels: component/tikv, priority/release-blocker, status/LGT1, status/all tests passed, type/bug-fix

#10263 expression: set correct return field type of builtin CONVERT() (#9305)
  ddl/db_integration_test.go
  expression/builtin_string.go
  expression/builtin_string_test.go
  expression/integration_test.go
  expression/typeinfer_test.go
  go.sum
  util/misc.go
Labels: status/LGT1, type/2.1 cherry-pick

#10578 config: update pessimistic lock ttl.
  config/config.go
  config/config.toml.example
  config/config_test.go
  store/tikv/2pc.go
  tidb-server/main.go
Labels: status/LGT2, status/all tests passed

#10571 executor,privilege: fix "show grants" result for RBAC
  executor/builder.go
  executor/show_test.go
  executor/simple.go
  privilege/privileges/privileges_test.go
Labels: component/executor, status/all tests passed, type/bug-fix

#10583 planner, cmd: correct the behavior of IndexJoin hint for SemiJoin
  cmd/explaintest/r/index_join.result
  cmd/explaintest/t/index_join.test
  planner/core/logical_plan_builder.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#10530 design: update 2019-04-11-indexmerge.md with some edits
  docs/design/2019-04-11-indexmerge.md
Labels: component/docs, status/LGT2

#10595 planner/core,binloginfo: add a projection to fix 'delete from join' schema (#8805)
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  sessionctx/binloginfo/binloginfo_test.go
Labels: component/planner, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#10601 CONTRIBUTING.md: Add usability team in PR guidelines
  CONTRIBUTING.md
Labels: status/LGT2, status/all tests passed

#10600 go.mod: update parser
  ddl/db_test.go
  go.mod
  go.sum
Labels: component/parser, status/LGT2, status/all tests passed

#10585 planner, executor: fix show view privileges for explain
  executor/executor.go
  executor/explain_test.go
  planner/core/errors.go
  planner/core/logical_plan_builder.go
  privilege/privileges/privileges_test.go
  sessionctx/stmtctx/stmtctx.go
Labels: component/privilege, status/LGT2, status/all tests passed, type/bug-fix

#10546 *: add some logs about boostrap
  ddl/ddl.go
  ddl/ddl_worker.go
  domain/domain.go
  owner/manager.go
  session/bootstrap.go
Labels: type/enhancement

#10603 executor: fix analyze worker panic
  executor/analyze.go
  executor/analyze_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#10602 executor: add some missing test suite back
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
  executor/write_test.go
  planner/core/logical_plan_builder.go
Labels: component/test, status/LGT2, status/all tests passed

#10604 executor: fix analyze worker panic (#10603)
  executor/analyze.go
  executor/analyze_test.go
Labels: component/executor, status/LGT2, status/all tests passed, type/bug-fix

#10452 planner: should clone column in injectProjBelowSort
  executor/executor_test.go
  planner/core/rule_inject_extra_projection.go
Labels: component/planner, status/LGT2, status/all tests passed, type/bug-fix

#10589 tikv: refine region-cache log and metric
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
Labels: component/metrics, component/tikv, component/usability, status/all tests passed

#10624 store/tikv: check `Deadlock` in `KeyError`
  go.mod
  go.sum
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: status/all tests passed

#10623 planner: skip virtual generated column in analyze push down
  planner/core/planbuilder.go
Labels: component/planner, status/LGT2, type/enhancement

#10628 planner: ignore the virtual column when collect statistics (#10623)
  planner/core/planbuilder.go
Labels: status/LGT2, status/all tests passed, type/2.1 cherry-pick

#10605 executor: add some missing test suite back (#10602)
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
  executor/write_test.go
  planner/core/logical_plan_builder.go
Labels: component/test, status/LGT2, status/all tests passed, type/3.0 cherry-pick
