Repository pingcap/tidb, pull requests merged in 2019-11, with the labels that each got.

#12981 util: increase column's nullBitmap's capacity (#12470)
  util/chunk/chunk.go
  util/chunk/chunk_test.go
Labels: component/util, status/LGT1, status/can merge, type/2.1 cherry-pick, type/bug-fix

#12710 expression: implement vectorized evaluation for 'builtinLTIntSig'
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
  types/compare.go
  types/compare_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#12866 kv: add error code for package kv
  ddl/db_test.go
  ddl/rollingback.go
  executor/batch_checker.go
  kv/error.go
  kv/error_test.go
  kv/memdb_buffer.go
  kv/union_store.go
  store/tikv/2pc.go
  store/tikv/snapshot.go
  table/tables/tables.go
Labels: status/LGT2, status/can merge, type/enhancement

#12997 planner, session: add isolation read with engine type
  kv/kv.go
  planner/core/common_plans.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  store/tikv/region_cache.go
Labels: component/planner, component/session, status/LGT2, status/can merge, type/new-feature

#13002 store/tikv: make function TestCheckTxnStatus more stable in CI
  store/tikv/lock_test.go
Labels: component/test, status/LGT1, status/can merge

#12947 expression: implement vectorized evaluation for builtinCastStringAsTimeSig
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT1, status/LGT2, status/can merge

#13051 server: fix potential goroutine leak when kill connection
  server/conn.go
  server/conn_test.go
Labels: component/server, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#13007 infoschema/slow_query: add more field in slow_query table
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  infoschema/tables_test.go
  util/execdetails/execdetails.go
Labels: component/usability, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT3, status/can merge

#13057 build: fix xargs compatibility problem in check-gogenerate.sh
  tools/check/check-gogenerate.sh
Labels: component/build, status/LGT2, status/can merge, type/bug-fix

#13012 expression: implement vectorized evaluation for `builtinArithmeticModIntSig`
  expression/builtin_arithmetic_vec.go
  expression/builtin_arithmetic_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13067 expression: implement vectorized evaluation for `builtinToSecondsSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13074 expression: implement vectorized evaluation for 'builtinGTIntSig'
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13073 expression: implement vectorized evaluation for 'builtinLEIntSig'
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#13075 expression: implement vectorized evaluation for 'builtinEQIntSig'
  expression/builtin_compare_vec.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13068 expression: implement vectorized evaluation for `builtinWeekOfYearSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13042 expression: implement vectorized evaluation for `builtinDatabaseSig`
  expression/builtin_info_vec.go
  expression/builtin_info_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13043 expression: implement vectorized evaluation for `builtinIsIPv4CompatSig`
  expression/bench_test.go
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13038 *: add release notes for v3.0.5
  CHANGELOG.md
Labels: CHANGELOG, status/LGT2, status/can merge

#12900 executor: fix data race in `GetDirtyTable()` (#12767)
  executor/builder.go
  executor/union_scan.go
Labels: component/executor, status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#13005 expression: implement vectorized evaluation for `builtinTimestampAddSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13100 expression: implement vectorized evaluation for `builtinIsIPv4MappedSig`
  expression/bench_test.go
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13091 implement vectorized evaluation for builtinDayOfMonthSig
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13024 config: correct the explanation of status and metrics.
  config/config.toml.example
Labels: component/config, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT1

#13079 expression: delete blank line of the builtin_compare_vec_generated.go
  expression/builtin_compare_vec_generated.go
  expression/generator/compare_vec.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13035 infoschema: add information_schema.tidb_cluster_info to retrieve cluster topology.
  go.mod
  go.sum
  infoschema/tables.go
  infoschema/tables_test.go
  store/helper/helper.go
  store/helper/helper_test.go
  util/pdapi/const.go
Labels: component/server, status/LGT2, status/can merge

#13110 store/tikv: do not backoff when PessimisticLock return locked error
  store/tikv/2pc.go
Labels: component/tikv, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can merge

#13092 tikv: fix out-of-index in split-region (#12265)
  store/tikv/split_region.go
Labels: component/tikv, needs-cherry-pick-3.1, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#13062 kv: use last range if streaming response does not contain a range entry
  store/tikv/coprocessor.go
Labels: component/tikv, status/LGT2, status/can merge, type/bug-fix

#13111 planner: fix bug cost model for tiflash do not work
  planner/core/cbo_test.go
  planner/core/find_best_task.go
Labels: component/planner, status/LGT2, status/can merge, type/bug-fix

#13115 bindinfo: correctly handle quotes for bindings sql
  bindinfo/bind_test.go
  bindinfo/handle.go
  expression/builtin_string.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge, type/bug-fix

#12775 executor: support select for update no wait
  ddl/index.go
  executor/adapter.go
  executor/admin.go
  executor/executor.go
  executor/point_get.go
  go.mod
  go.sum
  kv/kv.go
  kv/mock.go
  kv/mock_test.go
  planner/core/point_get_plan.go
  planner/core/rule_column_pruning.go
  session/pessimistic_test.go
  store/mockstore/mocktikv/errors.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/error.go
  store/tikv/lock_resolver.go
  store/tikv/ticlient_test.go
  store/tikv/txn.go
Labels: component/TXN-need-LGT3, component/executor, status/LGT2, status/can merge

#13116 store/tikv: do not backoff when PessimisticLock return locked error (#13110)
  store/tikv/2pc.go
Labels: status/can merge, type/3.0 cherry-pick

#12732 expression: implement vectorized evaluation for `builtinCastDurationAsIntSig`
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13087 expression: implement vectorized evaluation for `builtinToDaysSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13000 executor: reuse chunk row for insert on duplicate update (#12847)
  ddl/db_test.go
  executor/insert.go
  expression/column.go
  expression/explain.go
Labels: component/executor, status/LGT2, status/can merge, type/3.1 cherry-pick

#12999 executor: reuse chunk row for insert on duplicate update (#12847)
  ddl/db_test.go
  executor/insert.go
  expression/column.go
  expression/explain.go
Labels: component/executor, status/can merge, type/2.1 cherry-pick

#12998 executor: reuse chunk row for insert on duplicate update (#12847)
  ddl/db_test.go
  executor/insert.go
  expression/column.go
  expression/explain.go
Labels: component/executor, status/LGT2, status/can merge, type/3.0 cherry-pick, type/enhancement

#13112 config: remove the pessimistic.ttl configure
  config/config.go
  config/config.toml.example
  config/config_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  tidb-server/main.go
Labels: component/config, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can merge

#13078 expression: push json_length to tikv
  expression/expr_to_pb.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13070 implement vectorized evaluation for builtinLeftBinarySig
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13101 tikv: fix init batch client cherry-pick 3.0(#12819)
  store/tikv/client_batch.go
Labels: component/tikv, status/LGT1, status/can merge, type/3.0 cherry-pick, type/bug-fix

#13135 executor: fix goroutine leak in testRecoverTable
  executor/executor_test.go
Labels: component/executor, component/test, status/LGT1, status/all tests passed

#13130 executor: fix data race in TestAnalyzeFastSample
  executor/analyze_test.go
Labels: component/executor, status/can merge, type/bug-fix

#13015 expression: implement vectorized evaluation for `builtinCoalesceXXSig`
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_generated.go
  expression/builtin_compare_vec_generated_test.go
  expression/generator/compare_vec.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12839 expression: implement vectorized evaluation for `builtinLastInsertIDWithIDSig`
  expression/builtin_info_vec.go
  expression/builtin_info_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12628 expression: implement vectorized evaluation for 'builtinCastJSONAsDurationSig'
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13089 expression: implement vectorized evaluation for `builtinQuarterSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13034 domain: avoid check schema changed when change is tiflash replica status
  ddl/db_test.go
  domain/domain.go
Labels: component/usability, status/DNM, status/LGT3, status/can merge

#13126 expression: implement vectorized evaluation for `builtinCRC32Sig`
  expression/builtin_math_vec.go
  expression/builtin_math_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13076 expression: implement vectorized evaluation for 'builtinNEIntSig'
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13132 planner/cascades: fix a bug when delete GroupExpr in Group
  planner/memo/group.go
  planner/memo/group_test.go
Labels: component/planner, status/LGT1, status/can merge, type/bug-fix

#13122 expression: implement vectorized evaluation for `builtinTiDBVersionSig`
  expression/builtin_info_vec.go
  expression/builtin_info_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#13096 expression: implement vectorized evaluation for `builtinPeriodDiffSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12895 expression: implement vectorized evaluation for builtinUTCTime*
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#13129 infoschema/slow_query: add more field in slow_query table (#13007)
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  infoschema/tables_test.go
  util/execdetails/execdetails.go
Labels: component/usability, status/LGT2, status/can merge, type/2.1 cherry-pick

#13106 planner/cascades: add transformation rule PushSelDownAggregation
  planner/cascades/testdata/transformation_rules_suite_in.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/cascades/transformation_rules.go
  planner/cascades/transformation_rules_test.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
Labels: component/planner, status/LGT2, status/can merge, type/new-feature

#13120 release-2.1: pick two commit to correct the behavior of UPDATE
  executor/update_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#13133 expression: add builtin function json_valid
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/distsql_builtin.go
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/expression, status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick

#13138 expression: add builtin function json_valid
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/distsql_builtin.go
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/expression, status/LGT1, status/all tests passed, status/can merge, type/3.1 cherry-pick

#13047 *: support using multiply bindings in planner
  bindinfo/bind_test.go
  bindinfo/cache.go
  bindinfo/handle.go
  planner/cascades/optimize.go
  planner/core/expression_rewriter.go
  planner/core/hints.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/planbuilder.go
  planner/optimize.go
Labels: component/usability, status/LGT2, status/can merge, type/enhancement

#13118 bindinfo: correctly handle quotes for bindings sql (#13115)
  bindinfo/bind_test.go
  bindinfo/handle.go
  expression/builtin_string.go
Labels: status/can merge, type/3.1 cherry-pick, type/bug-fix

#13117 bindinfo: correctly handle quotes for bindings sql (#13115)
  bindinfo/bind_test.go
  bindinfo/handle.go
  expression/builtin_string.go
Labels: status/can merge, type/3.0 cherry-pick, type/bug-fix

#13103 executor: support innodb_lock_wait_timeout for pessimistic transaction
  executor/adapter.go
  executor/executor.go
  planner/core/point_get_plan.go
  session/pessimistic_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/tikv/2pc.go
  store/tikv/error.go
Labels: component/TXN-need-LGT3, component/executor, needs-cherry-pick-3.0, status/LGT1, status/can merge

#13121 expression: implement vectorized evaluation for `builtinVersionSig`
  expression/builtin_info_vec.go
  expression/builtin_info_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12613 *: Support required rows rows for arrow decode format.
  distsql/distsql_test.go
  distsql/request_builder_test.go
  distsql/select_result.go
  expression/integration_test.go
  session/session_test.go
  util/chunk/codec.go
Labels: component/coprocessor, status/LGT2, status/can merge, type/enhancement

#13144 implement vectorized evaluation for builtinRightBinarySig
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12669 executor, util: vectorize hash calculation during probing
  executor/benchmark_test.go
  executor/hash_table.go
  executor/hash_table_test.go
  executor/join.go
  util/codec/codec.go
Labels: component/executor, contribution, status/LGT2, status/all tests passed, status/can merge

#13162 expression: implement vectorized evaluation for `builtinTiDBIsDDLOwnerSig`
  expression/builtin_info_vec.go
  expression/builtin_info_vec_test.go
  util/mock/context.go
Labels: component/expression, contribution, status/LGT2

#13090 expression: implement vectorized evaluation for `builtinIn*Sig`
  expression/builtin.go
  expression/builtin_other_vec.go
  expression/builtin_other_vec_generated.go
  expression/builtin_other_vec_generated_test.go
  expression/builtin_other_vec_test.go
  expression/generator/other_vec.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#13119 ddl : fix column collate should use table's if it has when create table or alter table.
  ddl/column_test.go
  ddl/db_change_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
  ddl/mock.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT3, type/bug-fix

#13152 executor: make TestSplitRegionTimeout stable
  store/tikv/split_region.go
Labels: component/executor, component/test, status/LGT2, status/can merge

#13025 Add binlog_status for http api and `TIDB_SERVERS_INFO` table
  docs/tidb_http_api.md
  domain/infosync/info.go
  infoschema/tables.go
  sessionctx/binloginfo/binloginfo.go
Labels: component/binlog, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/PTAL, status/all tests passed, status/can merge

#13176 *: make the version of etcd consistent with pd
  ddl/mock.go
  ddl/options.go
  ddl/options_test.go
  ddl/util/syncer.go
  ddl/util/syncer_test.go
  domain/domain.go
  domain/domain_test.go
  domain/infosync/info.go
  go.mod
  go.sum
  owner/fail_test.go
  owner/manager.go
  owner/manager_test.go
  plugin/plugin.go
  store/tikv/kv.go
  store/tikv/safepoint.go
Labels: component/binlog, status/LGT1

#13164 expression: implement vectorized evaluation for `builtinCharLengthSig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#13080 expression: delete blank line of the builtin_control_vec_generated.go
  expression/builtin_control_vec_generated.go
  expression/generator/control_vec.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13178 perfschema: rename TIDB_GOROUTINES to TIDB_PROFILE_GOROUTINES
  infoschema/perfschema/const.go
  infoschema/perfschema/tables.go
  util/profile/profile_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT1, status/all tests passed, status/can merge, type/enhancement

#13060 *: rename Arrow to Chunk
  config/config.go
  config/config.toml.example
  distsql/distsql.go
  distsql/distsql_test.go
  distsql/select_result.go
  go.mod
  go.sum
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  statistics/handle/handle.go
  store/mockstore/mocktikv/cop_handler_dag.go
  tidb-server/main.go
  util/chunk/chunk_test.go
Labels: component/config, status/LGT2, status/can merge

#13059 implement vectorized evaluation for builtinReverseBinarySig
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12644 expression: implement vectorized evaluation for 'builtinRandWithSeedSig'
  expression/builtin_math.go
  expression/builtin_math_vec.go
  expression/builtin_math_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#13186 expression: implement vectorized evaluation for `builtinHexStrArgSig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#13190 ddl : fix column collate should use table's if it has when create table or alter table. (#13119 & #12327)
  ddl/column_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
  ddl/mock.go
  executor/show.go
  executor/show_test.go
Labels: status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#13197 Makefile: fix export log_level for gotest
  Makefile
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can merge, type/enhancement

#13198 planner: don't prune sleep function in LogicalProjection （#11927）
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  planner/core/rule_column_pruning.go
Labels: status/LGT2, status/can merge, type/3.1 cherry-pick, type/bug-fix

#12858 expression: fix incorrect proto fields and add missing overflow handling for arithmatic functions
  expression/builtin_arithmetic.go
  expression/builtin_cast.go
  expression/builtin_cast_vec.go
  expression/distsql_builtin.go
  expression/expr_to_pb_test.go
  expression/integration_test.go
  expression/typeinfer_test.go
  server/conn.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/tikv/error.go
  types/convert.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can merge, type/bug-fix

#12656 expression: implement vectorized evaluation for 'builtinRandSig'
  expression/bench_test.go
  expression/builtin_math_vec.go
  expression/builtin_math_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13141 util/admin: support admin check table on partition table (#12796)
  executor/admin_test.go
  executor/builder.go
  executor/executor.go
  executor/statement_context_test.go
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/planbuilder.go
  util/admin/admin.go
Labels: status/LGT2, status/can merge, type/3.1 cherry-pick

#13143 util/admin: support admin check table on partition table (#12796)
  executor/admin_test.go
  executor/builder.go
  executor/executor.go
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/planbuilder.go
  util/admin/admin.go
Labels: status/LGT2, status/can merge, type/2.1 cherry-pick

#12462 executor, infoschema: fix display of on update CURRENT_TIMESTAMP with decimal (#11480)
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/t/topn_push_down.test
  ddl/db_integration_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  executor/show.go
  executor/show_test.go
  expression/helper.go
  expression/helper_test.go
  infoschema/tables_test.go
  table/column.go
Labels: component/executor, status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#13040 expression:implement vectorized evaluation for `builtinSubstringBinary2ArgsSig`
  expression/builtin_string_vec.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13205 infoschema: add table_tiflash_replica table to check table tiflash replica status
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/usability, status/LGT2, status/can merge

#13140 util/admin: support admin check table on partition table (#12796)
  executor/admin_test.go
  executor/builder.go
  executor/executor.go
  executor/statement_context_test.go
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/planbuilder.go
  util/admin/admin.go
Labels: status/can merge, type/3.0 cherry-pick

#13223 ddl: make `TestModifyColumnNullToNotNull` test stable
  ddl/db_test.go
Labels: component/test, status/LGT2, status/can merge

#13063 infoschema: add TIDB_CLUSTER_CONFIG virtual table to retrieve all instance config
  go.mod
  go.sum
  infoschema/tables.go
  infoschema/tables_test.go
  server/http_status.go
  util/pdapi/const.go
Labels: component/server, status/LGT1, status/can merge

#13217 expression: implement vectorized evaluation for `builtinNameConstIntSig`
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#13204 expression: implement vectorized evaluation for `builtinRowCountSig`
  expression/builtin_info_vec.go
  expression/builtin_info_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13224 build: fix check-gogenerate.sh
  tools/check/check-gogenerate.sh
Labels: component/build

#13131 planner: prune cop task for tiflash
  planner/core/explain.go
  planner/core/find_best_task.go
  store/tikv/coprocessor.go
  store/tikv/coprocessor_test.go
Labels: component/coprocessor, status/LGT2, status/can merge, type/enhancement

#13214 Expression: implement vectorized evaluation for 'builtinNameConstDecimalSig'
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#13227 expression: implement vectorized evaluation for `builtinJSONExtractSig`
  expression/builtin_json_vec.go
  expression/builtin_json_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13218 executor: do update forUpdateTs for err path
  executor/adapter.go
  store/tikv/txn.go
Labels: component/TXN-need-LGT3, component/executor, require-LGT3, status/can merge

#13234 executor: fix TestShowTableRegion
  executor/executor_test.go
Labels: component/executor, component/test, status/LGT2, status/all tests passed, status/can merge

#13169 executor: fix data race in TestStatementContext
  executor/statement_context_test.go
Labels: component/executor, component/test, status/LGT2, status/can merge, type/bug-fix

#13232 *: record previous statement when commit is slow (#11908) (#12180)
  executor/adapter.go
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  infoschema/tables_test.go
  session/tidb.go
  sessionctx/variable/session.go
  util/signal/signal_windows.go
Labels: status/LGT2, status/can merge, type/3.1 cherry-pick, type/enhancement

#13123 store: upgrade the CheckTxnStatus API
  executor/analyze_test.go
  go.mod
  go.sum
  session/session_test.go
  store/mockstore/mocktikv/errors.go
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/backoff.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
Labels: component/TXN-need-LGT3, component/tikv, require-LGT3, status/all tests passed

#13213 *: upgrade etcd to v3.4.3
  cmd/benchkv/main.go
  go.mod
  go.sum
  server/http_status.go
  tidb-server/main.go
Labels: component/build

#13081 *: disable batch DMLs by default
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/delete.go
  executor/insert_common.go
  executor/seqtest/seq_executor_test.go
  executor/write_concurrent_test.go
  statistics/handle/update.go
Labels: component/executor, status/can merge

#12652 expression: open CAST push down switcher default
  cmd/explaintest/r/explain_easy.result
  expression/aggregation/aggregation.go
  expression/aggregation/avg.go
  expression/aggregation/util.go
  expression/expr_to_pb.go
  expression/expr_to_pb_test.go
  planner/core/logical_plan_test.go
  planner/core/testdata/plan_suite_out.json
Labels: component/expression, release-note, type/new-feature

#13248 session: annotate the previous statement to the error when transaction commit failed (#12087) (#12199)
  executor/adapter.go
  session/session_test.go
  session/tidb.go
Labels: status/LGT1, status/can merge, type/enhancement

#13180 *: make the version of etcd consistent with pd (#13176)
  cmd/benchkv/main.go
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/mock.go
  ddl/util/syncer.go
  ddl/util/syncer_test.go
  domain/domain.go
  domain/info.go
  go.mod
  go.sum
  owner/fail_test.go
  owner/manager.go
  owner/manager_test.go
  plugin/plugin.go
  server/http_status.go
  store/tikv/kv.go
  store/tikv/safepoint.go
  tidb-server/main.go
Labels: status/can merge, type/3.1 cherry-pick

#13142 tidb-server: handle deprecated configuration item in config-check
  config/config.go
  tidb-server/main.go
Labels: component/server, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/all tests passed, status/can merge

#13275 executor: fix fast analyze test
  executor/analyze_test.go
Labels: component/test, status/LGT1, status/can merge

#13258 *: make log_level working for gotest
  executor/executor_test.go
  go.mod
  go.sum
  server/http_handler_test.go
  statistics/handle/update_test.go
  statistics/selectivity_test.go
Labels: status/LGT1, status/can merge, type/enhancement

#13263 *: refine transaction related log
  executor/adapter.go
  store/tikv/lock_resolver.go
Labels: component/tikv, needs-cherry-pick-3.0, status/LGT2, status/can merge

#13172 expression: implement vectorized evalutaion for `builtinTiDBDecodeKeySig`
  expression/builtin_info_vec.go
  expression/builtin_info_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#13264 Revert "expression: open CAST push down switcher default"
  cmd/explaintest/r/explain_easy.result
  expression/aggregation/aggregation.go
  expression/aggregation/avg.go
  expression/aggregation/util.go
  expression/expr_to_pb.go
  expression/expr_to_pb_test.go
  planner/core/logical_plan_test.go
  planner/core/testdata/plan_suite_out.json
Labels: component/expression, status/LGT2, status/all tests passed, status/can merge

#13261 *: wrap the previous statement for performance (#12283) (#12325)
  executor/adapter.go
  server/conn_stmt.go
  session/session.go
  session/tidb.go
  sessionctx/variable/session.go
  util/stringutil/string_util.go
Labels: status/LGT2, status/can merge, type/3.1 cherry-pick, type/enhancement

#13244 expression: implement vectorized evaluation for builtinCastDurationAsTimeSig
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13095 planner: use ExtraHandleColumn as PK when generating TablePath (#11959)
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/t/access_path_selection.test
  planner/core/logical_plans.go
Labels: component/planner, needs-cherry-pick-3.1, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#13247 server: fix potential goroutine leak when kill connection (#13051)
  server/conn.go
  server/conn_test.go
Labels: component/server, status/LGT2, status/can merge, type/3.1 cherry-pick, type/bug-fix

#13097 expression: implement vectorized evaluation for `builtinPeriodAddSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13266 expression: implement vectorized evaluation for `builtinEltSig`
  expression/builtin_string.go
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12883 planner: consider build hashtable using the outer side for outer join during plan building
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  expression/testdata/expression_suite_out.json
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, status/LGT2, status/can merge, type/enhancement, type/new-feature

#13295 ddl: fix bug that range columns partition table add partitions failed(#12348)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
  ddl/table.go
Labels: priority/release-blocker, status/LGT2, status/can merge, type/3.1 cherry-pick, type/bug-fix

#13056 planner/cascades: implement ImplementationRule for LogicalLimit
  planner/cascades/implementation_rules.go
  planner/cascades/integration_test.go
  planner/cascades/testdata/integration_suite_in.json
  planner/cascades/testdata/integration_suite_out.json
  planner/implementation/simple_plans.go
Labels: component/planner, status/LGT2, status/can merge, type/new-feature

#13188 Add binlog_status for http api and `TIDB_SERVERS_INFO` table (#13025)
  domain/info.go
  sessionctx/binloginfo/binloginfo.go
Labels: component/binlog, status/LGT2, status/can merge, type/2.1 cherry-pick

#13284 stats: fix panic when fast analyze on empty table
  executor/analyze.go
  executor/analyze_test.go
  statistics/cmsketch.go
Labels: component/statistics, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge, type/bug-fix

#13184 Add binlog_status for http api and `TIDB_SERVERS_INFO` table (#13025)
  docs/tidb_http_api.md
  domain/info.go
  sessionctx/binloginfo/binloginfo.go
Labels: component/binlog, status/LGT2, status/PTAL, status/can merge, type/3.1 cherry-pick

#13187 Add binlog_status for http api and `TIDB_SERVERS_INFO` table (#13025)
  docs/tidb_http_api.md
  domain/info.go
  sessionctx/binloginfo/binloginfo.go
Labels: component/binlog, status/LGT2, status/PTAL, status/can merge, type/3.0 cherry-pick

#13251 server: fix potential goroutine leak when kill connection (#13051)
  server/conn.go
  server/conn_test.go
Labels: component/server, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#13252 server: fix potential goroutine leak when kill connection (#13051)
  server/conn.go
  server/conn_test.go
Labels: component/server, status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#13292 coprocessor: fix wrong cop task range for tiflash.
  store/tikv/coprocessor.go
  store/tikv/coprocessor_test.go
Labels: component/coprocessor, status/LGT2, status/can merge, type/bug-fix

#13290 release-3.1: pick two commits about update with subquery
  executor/update_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, status/LGT2, status/can merge, type/3.1 cherry-pick, type/bug-fix

#13165 executor: support innodb_lock_wait_timeout for pessimistic transaction
  ddl/index.go
  executor/adapter.go
  executor/admin.go
  executor/executor.go
  executor/point_get.go
  go.mod
  go.sum
  kv/kv.go
  kv/mock.go
  kv/mock_test.go
  planner/core/point_get_plan.go
  session/pessimistic_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/mockstore/mocktikv/errors.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/error.go
  store/tikv/lock_resolver.go
  store/tikv/ticlient_test.go
  store/tikv/txn.go
Labels: component/TXN-need-LGT3, component/executor, status/LGT2, status/can merge, type/3.0 cherry-pick

#13014 privilege: fix `REVOKE` privilege check incompatibility with MySQL
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges_test.go
Labels: component/privilege, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/all tests passed, status/can merge, type/bug-fix, type/compatibility

#12827 session: fix upgrade logic when bootstrap
  session/bootstrap.go
Labels: component/session, status/LGT2, status/can merge

#13181 expression: implement vectorized evaluation for `builtinSetVarSig` and `builtinGetVarSig`
  expression/builtin_other_vec.go
  expression/builtin_other_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13206 expression: implement vectorized evaluation for builtinUncompressedLengthSig
  expression/builtin_encryption_vec.go
  expression/builtin_encryption_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13260 executor: set column data to zero value when calling `ResizeXXX`
  util/chunk/column.go
  util/chunk/column_test.go
Labels: component/executor, status/LGT2, status/all tests passed, status/can merge

#13288 planner/cascades: add transformation rule TransformLimitToTopN
  planner/cascades/testdata/transformation_rules_suite_in.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/cascades/transformation_rules.go
  planner/cascades/transformation_rules_test.go
Labels: component/planner, status/LGT2, status/can merge, type/new-feature

#13016 ddl, executor: limit the length of the index name when executing "create table"
  ddl/index.go
  executor/ddl_test.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT3, status/can merge, type/bug-fix, type/compatibility

#13088 expression: implement vectorized evaluation for `builtinTimeToSecSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12772 expression: implement vectorized evaluation for `builtinArithmeticMinusIntSig`
  expression/builtin_arithmetic_vec.go
  expression/builtin_arithmetic_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13159 expression: implement vectorized evaluation for `builtinDecimalAnyValueSig`
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12825 expression: implement vectorized evaluation for `builtinGreatestTimeSig`
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#13287 expression: implement vectorized evaluation for builtinFromUnixTime1ArgSig
  expression/builtin_time.go
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#13304 expression: implement vectorized evaluation for `builtinOrdSig`
  expression/builtin_string.go
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13241 expression: implement vectorized evaluation for `builtinYearWeekWithoutModeSig`
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13268 expression: implement vectorized evaluation for `builtinConcatSig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13160 expression: implement vectorized evalutaion for `builtinConnectionIDSig`
  expression/builtin_info.go
  expression/builtin_info_vec.go
  expression/builtin_info_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#13303 session,store/tikv: make CI more stable
  session/session_test.go
  store/tikv/lock_test.go
Labels: component/test, status/can merge
