Repository pingcap/tidb, pull requests merged in 2019-10, with the labels that each got.

#12425 expression: implement vectorized evaluation for "builtinCastIntAsStringSig"
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12508 expression: implement vectorized evaluation for `builtinInsertSig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12469 ddl: allow multiple `unique` attributes in a column (#12165)
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#12500 *: adjust delta schema count and add metrics (#11625)
  domain/schema_validator.go
  domain/schema_validator_test.go
  executor/seqtest/seq_executor_test.go
  metrics/domain.go
  metrics/metrics.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: component/server, status/LGT1, status/can merge, type/3.1 cherry-pick

#12528 expression: implement vectorized evaluation for `builtinDecimalIsFalseSig`
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12502 *: adjust delta schema count and add metrics (#11625)
  domain/schema_validator.go
  domain/schema_validator_test.go
  executor/seqtest/seq_executor_test.go
  metrics/domain.go
  metrics/metrics.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: component/server, status/LGT2, status/can merge, type/3.0 cherry-pick

#12485 expression: implement vectorized evaluation for `builtinCeilDecToIntSig`
  expression/builtin_math_vec.go
  expression/builtin_math_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12523 expression: implement vectorized evaluation for builtinDurationIsNullSig
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12507 expression: implement vectorized evaluation for `builtinTruncateUintSig`
  expression/builtin_math_vec.go
  expression/builtin_math_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12524 expression: implement vectorized evaluation for `builtinArithmeticMinusRealSig`
  expression/builtin_arithmetic_vec.go
  expression/builtin_arithmetic_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12518 expression: implement vectorized evaluation for `builtinArithmeticPlusRealSig`
  expression/builtin_arithmetic_vec.go
  expression/builtin_arithmetic_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12382 planner: retrieve optimizer hint scope change
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, needs-cherry-pick-3.1, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#12534 .github: add CODEOWNERS for expression to request PR reviewers automatically
  .github/CODEOWNERS
Labels: component/expression, type/enhancement

#12531 CHANGELOG: add release notes for v3.0.4
  CHANGELOG.md
Labels: CHANGELOG, status/LGT1

#12539 CHANGELOG: cherry-pick v3.0.1/2/3/4 release notes
  CHANGELOG.md
Labels: CHANGELOG

#12525 expression: implement vectorized evaluation for `builtinDecimalIsTrueSig`
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12537 expression: implement vectorized evaluation for 'builtinCastDecimalAsStringSig'
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12522 expression: implement vectorized evaluation for `builtinDecimalIsNullSig`
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12517 expression: implement vectorized evaluation for `builtinRealIsTrueSig`
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2

#12520 expression: implement vectorized evaluation for `builtinIntIsNullSig`
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12521 expression: implement vectorized evaluation for `builtinRealIsNullSig`
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12503 ddl: make ddl test more stable
  ddl/table_split_test.go
Labels: component/test, status/DNM, status/LGT1, status/can merge

#12527 expression: implement vectorized evaluation for `builtinRealIsFalseSig`
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12311 executor,sessionctx: add correctness for system variables
  executor/set_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Labels: contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge, type/enhancement

#12542 expression: implement vectorized evaluation for 'builtinCastJSONAsStringSig'
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#12506 expression: implement vectorized evaluation for `builtinFloorDecToIntSig`
  expression/builtin_math_vec.go
  expression/builtin_math_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12449 util, planner: split test data from test cases
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  util/testutil/testutil.go
Labels: component/test, status/LGT2, status/can merge, type/2.1 cherry-pick

#12444 util, planner: split test data from test cases
  planner/core/cbo_test.go
  planner/core/physical_plan_test.go
  planner/core/testdata/analyze_suite_in.json
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
  util/testutil/testutil.go
Labels: component/test, status/LGT2, type/3.0 cherry-pick

#12441 util, planner: split test data from test cases
  planner/core/cbo_test.go
  planner/core/physical_plan_test.go
  planner/core/testdata/analyze_suite_in.json
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
  util/testutil/testutil.go
Labels: component/test, status/LGT2, type/3.1 cherry-pick

#12545 session: remove the mockFail field from txnFuture
  executor/executor_test.go
  session/session_fail_test.go
  session/txn.go
Labels: component/session, status/LGT2, status/can merge

#12554 expression: implement vectorized evaluation for `builtinToBase64Sig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12519 expression: implement vectorized evaluation for `builtinSignSig`
  expression/builtin_math_vec.go
  expression/builtin_math_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12533 expression: implement vectorized evaluation for 'builtinCastRealAsStringSig'
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12310 log: move autocommit varable value into connection info
  executor/set.go
  server/conn.go
Labels: component/usability, component/util, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, type/enhancement

#12555 expression: implement vectorized evaluation for `builtinIntIsFalseSig`
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12529 expression: implement vectorized evaluation for `builtinNullEQDecimalSig`
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed

#12560 *: fix `go mod tidy` in Go1.13 (12055)
  ddl/ddl.go
  go.mod
  go.sum
  store/tikv/test_util.go
  tools/check/go.mod
Labels: component/tikv, status/all tests passed

#12546 expression: implement vectorized evaluation for `builtinArithmeticDivideRealSig`
  expression/bench_test.go
  expression/builtin_arithmetic_vec.go
  expression/builtin_arithmetic_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12417 store: update kvrpc.Cleanup proto and change its behaviour #12212
  go.sum
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
Labels: component/tikv, status/all tests passed, status/can merge, type/3.0 cherry-pick

#12540 expression: implement vectorized evaluation for `builtinCastTimeAsStringSig`
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12556 expression: implement vectorized evaluation for `builtinFromBase64Sig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12558 expression: implement vectorized evaluation for 'builtinIntervalIntSig'
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12564 executor: add index hash join benchmark
  executor/benchmark_test.go
  executor/builder.go
Labels: component/executor, component/test, status/can merge

#12541 expression: implement vectorized evaluation for 'builtinCastDurationAsStringSig'
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12577 *: fix `go mod tidy` in Go1.13 (12055) (#12560)
  ddl/ddl.go
  go.mod
  go.sum
  store/tikv/test_util.go
  tools/check/go.mod
Labels: status/can merge, type/3.1 cherry-pick, type/enhancement

#12538 expression: implement vectorized evaluation for 'builtinCastStringAsStringSig'
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12536 *: add a flag EncodeType for response to use Arrow/Default format to decode.
  distsql/select_result.go
  go.mod
  go.sum
  store/mockstore/mocktikv/cop_handler_dag.go
Labels: component/coprocessor, status/LGT1, status/LGT2, status/can merge

#12567 expression: implement vectorized evaluation for `builtinArithmeticPlusDecimalSig`
  expression/builtin_arithmetic_vec.go
  expression/builtin_arithmetic_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12551 *: fix panic when check null rejection for `from_unixtime` (#12413)
  expression/builtin_time.go
  planner/core/integration_test.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  util/testutil/testutil.go
Labels: component/expression, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#12530 expression: implement vectorized evaluation for `builtinNullEQString`
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#11876 dml : Multiple rows insert in a statement should have consecutive autoID if needed.
  executor/insert_common.go
  executor/insert_test.go
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  table/table.go
  table/tables/tables.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT3, status/can merge

#12552 *: fix panic when check null rejection for `from_unixtime` (#12413)
  expression/builtin_time.go
  planner/core/integration_test.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  util/testutil/testutil.go
Labels: component/expression, status/LGT2, status/can merge, type/3.1 cherry-pick, type/bug-fix

#12585 *: fix `go mod tidy` in Go1.13 (12055)
  ddl/ddl.go
  go.mod
  go.sum
  store/tikv/test_util.go
  tools/check/go.mod
Labels: type/2.1 cherry-pick

#12060 ddl: disallow foreign key constraint on generated columns
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, type/compatibility

#12572 server: fix `TestTLS` when use RSA-PSS (#10274)
  model/model_test.go
  server/tidb_test.go
Labels: component/test, status/LGT2, status/can merge, type/2.1 cherry-pick

#12526 expression: implement vectorized evaluation for `builtinIntIsTrueSig`
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12509 expression: implement vectorized evaluation for `builtinLocate2ArgsSig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12405 planner: fix some window specific check bug for window function. (#12…
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, status/LGT2, status/can merge, type/3.1 cherry-pick, type/bug-fix

#12251 ddl: implement SQL functions allowed / blocked rules in generated columns
  ddl/db_integration_test.go
  ddl/ddl.go
  ddl/generated_column.go
  expression/builtin.go
  expression/function_traits.go
Labels: component/DDL-need-LGT3, status/LGT3, type/compatibility

#12582 expression: implement vectorized evaluation for `builtinTimeIsNullSig`
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12515 *: adjust delta schema count and add metrics (#11625)
  domain/schema_validator.go
  domain/schema_validator_test.go
  metrics/domain.go
  metrics/metrics.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: component/server, status/LGT2, status/all tests passed, status/can merge, type/2.1 cherry-pick

#12419 planner: reset NotNull flag for schema of Apply and MaxOneRow properly
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/util.go
Labels: component/planner, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#12588 executor,sessionctx: add correctness for system variables (#12311)
  executor/set_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Labels: contribution, status/LGT2, status/can merge, type/enhancement

#12587 executor,sessionctx: add correctness for system variables (#12311)
  executor/set_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Labels: contribution, status/LGT2, status/can merge, type/3.0 cherry-pick, type/enhancement

#12322 planner: implement the BatchPointGetPlan to improve the BatchPointGet performance
  executor/builder.go
  planner/core/common_plans.go
  planner/core/initialize.go
  planner/core/physical_plans.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge

#12484 *: support where in admin show ddl jobs statement
  executor/builder.go
  executor/executor_test.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/stats.go
  planner/core/stringer.go
Labels: component/usability, status/LGT2, status/can merge

#12603 expression: implement vectorized evaluation for 'builtinBitOrSig'
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12458 store: add missed KV variables when committing the secondary keys
  store/tikv/2pc.go
Labels: status/LGT2, status/can merge, type/enhancement

#12465 executor: error processing refactor for load data
  executor/load_data.go
  server/conn.go
  server/server_test.go
  session/txn.go
Labels: component/executor, component/transaction-need-LGT3, status/LGT2, status/can merge, type/bug-fix

#12612 expression: implement vectorized evaluation for 'builtinBitAndSig'
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12606 expression: implement vectorized evaluation for 'builtinNameConstDurationSig'
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12620 expression: implement vectorized evaluation for `builtinPI` and make testing framework support functions without input arguments
  expression/bench_test.go
  expression/builtin_math_vec.go
  expression/builtin_math_vec_test.go
Labels: component/expression, status/LGT1, status/LGT2, status/can merge

#12614 planner: fix bug the inner child can't keep order in index join
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  planner/core/exhaust_physical_plans.go
Labels: component/planner, status/LGT2, status/can merge, type/bug-fix

#12600 types: reset the `MyDecimal` result buffer before putting arithmetic results into it
  types/mydecimal.go
  types/mydecimal_test.go
Labels: component/expression

#12605 expression: implement vectorized evaluation for 'builtinDurationAnyValueSig'
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12479 planner: support a hint to read from tiflash in planner
  bindinfo/bind_test.go
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/access_tiflash.result
  cmd/explaintest/r/black_list.result
  cmd/explaintest/r/explain-non-select-stmt.result
  cmd/explaintest/r/explain.result
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_indexmerge.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/r/window_function.result
  cmd/explaintest/t/access_tiflash.test
  executor/aggregate_test.go
  executor/analyze_test.go
  executor/explainfor_test.go
  executor/join_test.go
  executor/merge_join_test.go
  executor/seqtest/seq_executor_test.go
  expression/aggregation/aggregation.go
  expression/constant_fold_test.go
  expression/constant_propagation_test.go
  expression/expression.go
  expression/integration_test.go
  planner/cascades/integration_test.go
  planner/core/cbo_test.go
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/rule_predicate_push_down.go
  planner/core/task.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_suite_out.json
  statistics/selectivity_test.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_out.json
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/new-feature

#12591 infoschema: handle partition table for `tables`
  infoschema/tables.go
  infoschema/tables_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge, type/bug-fix

#12626 expression: implement vectorized evaluation for 'builtinLeftShiftSig'
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/can merge

#12627 expression: implement vectorized evaluation for 'builtinRightShiftSig'
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT1, status/can merge

#12414 mocktikv: fix data race in mocktikv split
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/rpc.go
Labels: component/test, status/can merge

#12631 infoschema: handle partition table for `tables` (#12591)
  infoschema/tables.go
  infoschema/tables_test.go
Labels: status/LGT2, status/can merge, type/3.0 cherry-pick

#12629 expression: implement vectorized evaluation for 'builtinIntAnyValueSig'
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/can merge

#12638 *: change the query start time to the parsing time (#11159)
  executor/adapter.go
  executor/prepared.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: component/executor, status/LGT2, status/can merge, type/2.1 cherry-pick, type/enhancement

#12368 planner/cascades: add explain framework for LogicalPlan and Group
  planner/cascades/stringer.go
  planner/cascades/stringer_test.go
  planner/cascades/testdata/stringer_suite_in.json
  planner/cascades/testdata/stringer_suite_out.json
  planner/core/explain.go
  planner/core/plan.go
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_build_key_info.go
  planner/core/rule_predicate_push_down.go
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/new-feature

#12579 store/tikv: implement a `ttlManager` to update the TTL of a transaction (#12177)
  metrics/metrics.go
  metrics/tikvclient.go
  session/pessimistic_test.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/txn.go
Labels: component/tikv, status/LGT1, status/can merge, type/3.0 cherry-pick

#12632 infoschema: handle partition table for `tables` (#12591)
  infoschema/tables.go
  infoschema/tables_test.go
Labels: status/LGT2, status/can merge, type/3.1 cherry-pick

#12639 Makefile: add `-trim-path` flag to build command
  Makefile
Labels: status/LGT2, status/PTAL, status/can merge

#12535 Cherry pick follower read to TiDB (#11347)
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/analyze.go
  executor/analyze_test.go
  executor/point_get.go
  go.mod
  go.sum
  kv/kv.go
  kv/mock.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  store/tikv/coprocessor.go
  store/tikv/kv.go
  store/tikv/lock_test.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/safepoint_test.go
  store/tikv/scan.go
  store/tikv/scan_mock_test.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  store/tikv/split_test.go
  store/tikv/tikvrpc/tikvrpc.go
  store/tikv/txn.go
  util/admin/admin.go
Labels: component/tikv, contribution, status/LGT2, status/can merge, type/3.1 cherry-pick, type/new-feature

#12491 log: support reloading tidb-query-max-log-len after modified
  config/config.toml.example
  tidb-server/main.go
  util/logutil/log.go
Labels: component/usability, status/LGT2, status/can merge

#12443 planner: stream agg should not be pushed to double read
  cmd/explaintest/r/explain.result
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/tpch.result
  planner/core/rule_inject_extra_projection.go
  planner/core/task.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge, type/bug-fix

#12480 executor: do not return first row until the frame is completed.
  executor/window.go
  executor/window_test.go
Labels: component/executor, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/PTAL, status/all tests passed, status/can merge, type/bug-fix

#12653 Makefile: add `-trim-path` flag for build command
  Makefile
Labels: needs-cherry-pick-3.1, status/LGT1, type/3.0 cherry-pick

#12654 Makefile: add `-trim-path` flag for build command
  Makefile
Labels: type/2.1 cherry-pick

#12402 util/admin: fix the error of "invalid list index" when cancel ddl jobs
  meta/meta.go
  util/admin/admin.go
  util/admin/admin_test.go
Labels: component/executor, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT1, status/can merge, type/bug-fix

#12566 log: move autocommit varable value into connection info (#12310)
  executor/set.go
  server/conn.go
Labels: component/usability, status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick

#12404 planner: fix some window specific check bug for window function. (#12394)
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#12602 * : Multiple rows insert in a statement should have consecutive autoID if needed. (#11876)
  executor/insert_common.go
  executor/insert_test.go
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  table/table.go
  table/tables/tables.go
  util/kvencoder/allocator.go
Labels: status/LGT1, status/LGT2, status/can merge, type/3.0 cherry-pick

#12565 log: move autocommit varable value into connection info (#12310)
  executor/set.go
  server/conn.go
Labels: component/usability, status/LGT2, status/all tests passed, status/can merge, type/3.1 cherry-pick

#12593 * : Multiple rows insert in a statement should have consecutive autoID if needed. (#11876)
  executor/insert_common.go
  executor/insert_test.go
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  table/table.go
  table/tables/tables.go
  util/kvencoder/allocator.go
Labels: status/LGT2, status/can merge, type/3.1 cherry-pick

#12568 log: move autocommit varable value into connection info (#12310)
  executor/set.go
  server/conn.go
Labels: component/usability, status/LGT2, status/all tests passed, status/can merge, type/2.1 cherry-pick

#12548 planner: support foreign key choose parent schema as default in CreateTable stmt
  ddl/db_integration_test.go
  planner/core/preprocess.go
Labels: component/planner, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/PTAL, status/can merge, type/bug-fix

#12501 ddl: fix incorrect origin default bit value in ColumnInfo (#12168)
  ddl/db_integration_test.go
  table/column.go
Labels: status/LGT2, status/can merge, type/2.1 cherry-pick

#12580 infoschema: add tidb_servers_info memory table
  domain/domain.go
  domain/domain_test.go
  domain/infosync/info.go
  executor/executor.go
  executor/executor_test.go
  infoschema/tables.go
  infoschema/tables_test.go
  server/http_handler.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Labels: component/usability, status/DNM, status/LGT2, status/all tests passed

#12609 table: avoid write untouched index in auto commit and avoid get untouched index key from tikv
  executor/union_scan_test.go
  table/tables/index.go
  table/tables/tables.go
Labels: require-LGT3, status/LGT3, status/all tests passed, status/can merge, type/performance

#12660 executor: do not return first row until the frame is completed. (#12480)
  executor/window.go
  executor/window_test.go
Labels: component/executor, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#12510 expression: implement vectorized evaluation for `builtinLocate3ArgsSig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12583 expression: implement vectorized evaluation for `builtinTrim2ArgsSig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12662 executor: do not return first row until the frame is completed. (#12480)
  executor/window.go
  executor/window_test.go
Labels: component/executor, status/LGT2, status/can merge, type/3.1 cherry-pick, type/bug-fix

#12619 * : Multiple rows insert in a statement should have consecutive autoID if needed. (#11876)
  executor/insert_common.go
  executor/insert_test.go
  infoschema/tables.go
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  perfschema/tables.go
  table/table.go
  table/tables/tables.go
  table/tables/tables_test.go
  util/kvencoder/allocator.go
Labels: status/LGT2, type/2.1 cherry-pick

#12633 expression: implement vectorized evaluation for builtinUTCDateSig
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12645 expression: implement vectorized evaluation for 'builtinUnaryMinusRealSig'
  expression/builtin_op_vec.go
  expression/builtin_op_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12658 expression: implement vectorized evaluation for 'builtinNameConstTimeSig'
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12641 expression: implement vectorized evaluation for 'builtinRealAnyValueSig'
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12647 store/tikv: make cache ttl configurable
  config/config.go
  config/config.toml.example
  config/config_test.go
  store/tikv/region_cache.go
  tidb-server/main.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge

#11999 store/tikv: refactor the ResolveLocks() function for large transaction's implementation
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/coprocessor.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
  store/tikv/snapshot.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: component/tikv, component/transaction-need-LGT3, status/LGT1, status/all tests passed, status/can merge

#12642 expression: implement vectorized evaluation for 'builtinNameConstRealSig'
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12657 expression: implement vectorized evaluation for 'builtinTimeAnyValueSig'
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12659 expression: implement vectorized evaluation for 'builtinNameConstStringSig'
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, status/can merge

#12680 *: record query start time to session variables (#11822)
  executor/adapter.go
  executor/adapter_test.go
  executor/prepared.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
Labels: component/executor, status/LGT2, status/can merge, type/3.1 cherry-pick, type/bug-fix

#12213 *: support split partition table region
  executor/builder.go
  executor/executor_test.go
  executor/split.go
  executor/split_test.go
  go.mod
  go.sum
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: component/usability, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge, type/new-feature

#12676 *: record query start time to session variables (#11822)
  executor/adapter.go
  executor/adapter_test.go
  executor/prepared.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
Labels: component/executor, status/LGT2, status/can merge, type/2.1 cherry-pick, type/bug-fix

#12682 planner: do not convert filter to range for table scan with tiflash
  cmd/explaintest/r/access_tiflash.result
  cmd/explaintest/t/access_tiflash.test
  planner/core/find_best_task.go
Labels: component/planner, status/LGT2, status/can merge

#12584 expression: implement vectorized evaluation for `builtinArithmeticMinusDecimalSig`
  expression/builtin_arithmetic_vec.go
  expression/builtin_arithmetic_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12673 expression: implement vectorized evaluation for `builtinCastRealAsJSONSig`
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12686 CODEOWNERS: update codeowner of expression package to @pingcap/co-expression
  .github/CODEOWNERS
Labels: component/expression, status/LGT2, status/can merge, type/enhancement

#12594 config: remove the log-rotate config
  config/config.go
  config/config.toml.example
  go.mod
  go.sum
  util/logutil/log.go
  util/logutil/log_test.go
Labels: status/LGT2, type/enhancement

#12640 executor: support projection as inner child of index join
  executor/builder.go
Labels: component/executor, status/LGT2, status/can merge, type/bug-fix

#12668 expression: implement vectorized evaluation for `builtinCastIntAsJSONSig`
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12024 executor: support index lookup merge join in executor.
  executor/benchmark_test.go
  executor/builder.go
  executor/index_lookup_merge_join.go
  executor/join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plans.go
  planner/core/testdata/plan_suite_out.json
Labels: component/executor, status/LGT2, status/all tests passed, status/can merge, type/new-feature

#12649 planner/cascades: introduce preprocessing phase in cascades planner
  planner/cascades/optimize.go
  planner/cascades/stringer_test.go
Labels: component/planner, status/LGT2, status/can merge, type/new-feature

#12695 expression: implement vectorized evaluation for `builtinStringAnyValueSig`
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12636 expression: implement vectorized evaluation for `builtinLengthSig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12514 plan: support `?` in Order By / Group By / Limit Offset clauses (#8206)
  executor/prepared.go
  executor/prepared_test.go
  expression/simple_rewriter.go
  expression/util.go
  go.mod
  go.sum
  planner/core/cacheable_checker.go
  planner/core/cacheable_checker_test.go
  planner/core/errors.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/point_get_plan.go
Labels: component/planner, status/LGT2, type/2.1 cherry-pick, type/bug-fix

#12624 *: add a system variable to control the usage of baselines
  bindinfo/bind_test.go
  planner/optimize.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  util/testkit/testkit.go
Labels: component/usability, status/LGT2, status/can merge, type/new-feature

#12563 expression: implement vectorized evaluation for `builtinTrim1ArgSig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12173 expression: fix incorrect result of logical operators
  expression/builtin.go
  expression/builtin_op.go
  expression/builtin_op_test.go
  expression/distsql_builtin.go
  expression/expression.go
Labels: component/expression, contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge, type/bug-fix

#12611 expression: implement vectorized evaluation for `builtinCurrentDateSig`
  Makefile
  expression/bench_test.go
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12637 expression: implement vectorized evaluation for `builtinASCIISig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12670 expression: implement vectorized evaluation for `builtinCastTimeAsIntSig`
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12562 expression: implement vectorized evaluation for 'builtinIntervalRealSig'
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12220 expression: make the selection executor support vectorized expression evaluation
  expression/bench_test.go
  expression/chunk_executor.go
  expression/expression.go
  types/datum_test.go
  util/chunk/column.go
  util/chunk/iterator.go
Labels: component/expression, status/LGT2, status/all tests passed, status/can merge

#12693 expression: let `expression.Column` take `Sel` into account when dealing with `float32`
  expression/builtin_vectorized_test.go
  expression/column.go
Labels: component/expression, status/LGT2, status/can merge, type/bug-fix

#12684 expression: implement vectorized evaluation for 'builtinHourSig'
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12702 expression: implement vectorized evaluation for `builtinEncodeSig`
  expression/builtin_encryption_vec.go
  expression/builtin_encryption_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12661 expression: implement vectorized evaluation for 'builtinUUIDSig'
  expression/builtin_miscellaneous_vec.go
Labels: component/expression, contribution, status/LGT1, status/can merge

#12581 planner: handle single partition in IndexJoin correctly
  executor/index_lookup_join_test.go
  planner/core/exhaust_physical_plans.go
Labels: component/planner, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#12561 tikv: eliminate unnecessary pessimistic rollback
  store/tikv/txn.go
Labels: component/tikv, component/transaction-need-LGT3, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/can merge

#12596 expression: add builtin function json_valid
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/distsql_builtin.go
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/all tests passed, status/can merge, type/compatibility

#12635 expression: implement vectorized evaluation for `builtinLpadSig`
  expression/builtin_string_vec.go
  expression/builtin_string_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#12697 expression: implement vectorized evaluation for `builtinCastJSONAsIntSig`
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge
