Repository pingcap/tidb, pull requests merged in 2020-08, with the labels that each got.

#18753 *: support user defined variable and SET clause in LOAD DATA statement
  executor/builder.go
  executor/load_data.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  server/server_test.go
Labels: component/executor, contribution, status/LGT2, status/PTAL, status/can-merge

#18917 *: fix a lot of typos
  bindinfo/cache.go
  bindinfo/handle.go
  ddl/db_change_test.go
  ddl/db_partition_test.go
  ddl/foreign_key_test.go
  distsql/request_builder.go
  domain/topn_slow_query.go
  executor/explain_test.go
  session/pessimistic_test.go
Labels: component/DDL, component/executor, component/planner, contribution, status/LGT2, status/can-merge

#18655 kv: complete the implementation of the new memdb
  kv/new_memdb_arena.go
  kv/new_memdb_iterator.go
Labels: component/transaction, status/LGT2, status/can-merge

#18891 plan: optimize the performance of decodePlan for big union query
  expression/explain.go
  planner/core/plan_test.go
  planner/core/testdata/plan_normalized_suite_in.json
  planner/core/testdata/plan_normalized_suite_out.json
  profile
  util/plancodec/codec.go
Labels: component/expression, component/planner, needs-cherry-pick-4.0, status/LGT3, type/enhancement

#18826 ddl: check the tiflash replica count when setting tiflash replica
  ddl/db_change_test.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/table.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  server/http_handler_test.go
  store/tikv/batch_coprocessor_test.go
Labels: component/DDL, component/executor, needs-cherry-pick-4.0, priority/release-blocker, status/LGT2

#18656 kv: update tests to use new memdb
  kv/memdb_test.go
  kv/new_memdb_bench_test.go
  kv/new_memdb_norace_test.go
  kv/sandbox_test.go
Labels: component/test, component/transaction, status/LGT2, status/can-merge

#18936 executor: fix wrong result for update ignore
  sessionctx/variable/session.go
  table/tables/index.go
  table/tables/tables.go
Labels: component/test, component/transaction, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#18856 txn: amend pessimistic transactions for modify column ddl
  ddl/ddl_api.go
  session/pessimistic_test.go
  session/schema_amender.go
  session/schema_amender_test.go
Labels: component/DDL, component/transaction, require-LGT3, status/LGT3, status/can-merge, type/new-feature

#18900 tikv: make TestPanicInRecvLoop stable
  store/tikv/client.go
  store/tikv/client_batch.go
  store/tikv/client_fail_test.go
Labels: component/test, status/LGT2, status/all-tests-passed, status/can-merge

#18763 config: fix unittest method name typos
  config/config_test.go
Labels: component/config, contribution, status/LGT2, status/all-tests-passed, status/can-merge

#18228 ddl: stabilize test TestIndexChange
  ddl/index_change_test.go
Labels: component/DDL, component/test, status/LGT2, status/all-tests-passed, status/can-merge

#18657 *: use the newly designed memdb
  ddl/db_test.go
  executor/delete.go
  executor/executor_test.go
  executor/insert_common.go
  executor/load_data.go
  executor/write_test.go
  kv/kv.go
  kv/memdb.go
  kv/memdb_test.go
  kv/new_memdb.go
  kv/new_memdb_arena.go
  kv/new_memdb_bench_test.go
  kv/new_memdb_norace_test.go
  kv/sandbox.go
  kv/sandbox_arena.go
  kv/union_store.go
  kv/utils.go
  planner/core/physical_plan_test.go
  session/session.go
  session/session_fail_test.go
  session/txn.go
  sessionctx/context.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  table/tables/index.go
  table/tables/index_test.go
  table/tables/tables.go
  table/tables/tables_test.go
  util/mock/context.go
Labels: component/DDL, component/executor, component/transaction, status/LGT2, status/can-merge

#18649 util: add checksumWriter/Reader interface to support evaluate checksum
  util/checksum/checksum.go
  util/checksum/checksum_test.go
  util/chunk/disk.go
  util/chunk/disk_test.go
Labels: component/executor, component/util, contribution, status/LGT2, status/all-tests-passed, status/can-merge

#18611 *: support `ALTER PARTITION` clause
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/partition.go
  ddl/placement_rule_test.go
  domain/infosync/info.go
  go.sum
  util/testleak/leaktest.go
Labels: component/DDL, contribution, require-LGT3, status/LGT3, status/can-merge

#18658 kv: cleanup outdated code
  kv/memdb.go
  kv/memdb_arena.go
  kv/memdb_bench_test.go
  kv/memdb_iterator.go
  kv/memdb_norace_test.go
  kv/sandbox.go
  kv/sandbox_arena.go
  kv/sandbox_iterator.go
Labels: component/DDL, component/executor, component/transaction, status/LGT2, status/can-merge

#18953 tablecodec: support decode common handle bytes to strings
  executor/insert_test.go
  store/tikv/2pc.go
  tablecodec/tablecodec.go
Labels: component/executor, status/LGT2, status/can-merge

#18963 test: fix unstable TestPessimisticLockOnPartition
  session/session_test.go
Labels: component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#18961 expression: check ErrTruncate/Overflow for CastRealAsDecimalSig
  expression/builtin_arithmetic.go
  expression/builtin_arithmetic_vec.go
  expression/builtin_cast.go
  expression/builtin_cast_vec.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18951 cmd: generate free port instead of hard-code port number
  .gitignore
  cmd/explaintest/README.md
  cmd/explaintest/config.toml
  cmd/explaintest/main.go
  cmd/explaintest/run-tests.sh
  cmd/portgenerator/portgenerator.go
  go.mod
  go.sum
  owner/fail_test.go
  server/conn_test.go
  server/server_test.go
  server/tidb_test.go
Labels: component/DDL, status/LGT2

#18952 session: switch to pessimistic txn mode for autocommit statement retry.
  session/session.go
Labels: component/session, component/transaction, status/LGT2, status/can-merge

#18715 gc_worker: add more tests for resolveLockPhysical
  store/tikv/gcworker/gc_worker_test.go
Labels: component/GC, component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#18897 server: correct the length field in reply packets to the client for enum and set column types
  expression/typeinfer_test.go
  go.mod
  go.sum
  server/driver_tidb.go
Labels: component/expression, status/LGT1

#18940 planner,executor: fix index merge for partition table
  executor/builder.go
  executor/index_merge_reader.go
  executor/partition_table.go
  executor/partition_table_test.go
  planner/core/explain.go
  planner/core/integration_test.go
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: component/executor, status/LGT2, status/can-merge

#18862 executor: handle index join for the new partition table implementation
  executor/builder.go
  executor/distsql.go
  executor/partition_table_test.go
Labels: component/executor, status/LGT2, status/can-merge

#18861 docs: add cluster index codec detail doc link
  docs/design/2020-05-08-cluster-index.md
Labels: status/LGT2, status/can-merge

#18938 *: update kvproto, PD, BR and unistore dependencies
  ddl/partition.go
  go.mod
  go.sum
  server/http_handler.go
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/pd.go
  store/tikv/pd_codec.go
  store/tikv/region_cache.go
  store/tikv/store_test.go
  util/execdetails/pd_interceptor.go
Labels: component/DDL, component/build, component/executor, sig/DDL, sig/execution, status/LGT3, status/can-merge

#18983 store: add lock for runtime stats to fix panic caused by concurrent execution
  executor/join_test.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
Labels: component/executor, needs-cherry-pick-4.0, sig/execution, status/LGT1, type/bug-fix

#18543 planner: fix the inappropriate heuristic rule to estimate the EQ selectivity when out of range
  cmd/explaintest/r/explain_union_scan.result
  planner/core/cbo_test.go
  planner/core/testdata/analyze_suite_out.json
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/selectivity_test.go
  statistics/table.go
Labels: component/statistics, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, sig/planner, status/LGT2, type/enhancement

#19000 executor: add empty executor runtime information for tidb cop handler
  distsql/select_result.go
  distsql/select_result_test.go
  executor/coprocessor.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix, type/enhancement

#18965 executor: batch checker skip primary index key for clustered index table
  executor/batch_checker.go
  executor/clustered_index_test.go
  store/tikv/snapshot.go
Labels: component/executor, sig/execution, status/LGT2, status/can-merge

#18987 metrics: monitoring GOMAXPROCS
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/server.go
  tidb-server/main.go
Labels: component/metrics, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#18999 [store/tikv] avoid too many times of backoff when we retry for batch cop
  store/tikv/region_cache.go
  store/tikv/region_request.go
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#19005 planner: fix double read cluster index table on inner side of index join
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
Labels: sig/planner, status/LGT2, status/can-merge, type/bug-fix

#19009 executor: fix unstable leak test on TestPlanCacheClusterIndex
  executor/prepared_test.go
Labels: component/executor, component/test, sig/execution, status/LGT2, status/can-merge

#19006 transaction: fix union select for update race
  executor/executor.go
  kv/kv.go
  session/pessimistic_test.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  store/tikv/txn.go
Labels: component/executor, needs-cherry-pick-4.0, priority/release-blocker, sig/transaction, status/LGT3, status/can-merge, type/bug-fix

#19019 txn: fix pessimitic exist check(#19004)
  executor/executor.go
  kv/kv.go
  kv/union_store.go
  session/pessimistic_test.go
  sessionctx/stmtctx/stmtctx.go
  store/tikv/txn.go
  table/tables/tables.go
  util/mock/context.go
Labels: component/executor, require-LGT3, sig/transaction, status/LGT3, status/can-merge, type/4.0-cherry-pick, type/bug-fix

#19024 reset map when pessimistic write conflict
  sessionctx/stmtctx/stmtctx.go
Labels: sig/transaction, status/LGT2, status/can-merge, type/4.0-cherry-pick

#18993 brie: update test to create mutli tables
  go.mod
  go.sum
  session/session_test.go
Labels: status/LGT2

#19026 brie: update test to create mutli tables (#18993)
  go.mod
  go.sum
  session/session_test.go
Labels: status/LGT2, status/can-merge

#18988 planner: support out join in broadcast join
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/integration_test.go
  planner/core/plan_to_pb.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: status/LGT2, status/can-merge

#18923 simple fixes for the staticcheck linter
  Makefile
  ddl/db_integration_test.go
  ddl/ddl_api.go
  ddl/util/syncer_test.go
  executor/insert_common.go
  executor/set_config.go
  expression/aggregation/agg_to_pb.go
  expression/builtin_arithmetic.go
  expression/builtin_arithmetic_vec.go
  expression/builtin_compare.go
  expression/builtin_vectorized_test.go
  expression/chunk_executor.go
  planner/core/memtable_predicate_extractor.go
  session/schema_amender.go
  session/session_test.go
  table/tables/tables_test.go
  util/plancodec/id.go
  util/testutil/testutil.go
Labels: component/DDL, component/executor, component/expression, component/planner, sig/DDL, sig/execution, sig/planner, status/LGT2, status/can-merge

#19004 txn: fix pessimitic exist check
  executor/executor.go
  kv/kv.go
  session/pessimistic_test.go
  sessionctx/stmtctx/stmtctx.go
  store/tikv/txn.go
  table/tables/index.go
  table/tables/tables.go
Labels: component/executor, require-LGT3, sig/transaction, status/LGT3, status/can-merge, type/bug-fix

#19027 planner, expression: set avoidColEvaluator when eliminate proj
  expression/integration_test.go
  planner/core/rule_eliminate_projection.go
Labels: component/expression, component/planner, status/LGT2, type/bug-fix

#18981 planner,executor: use new table partition implementation and fix CI
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/r/select.result
  executor/builder.go
  executor/partition_table.go
  executor/partition_table_test.go
  executor/table_reader.go
  executor/union_scan.go
  expression/testdata/partition_pruner_out.json
  planner/cascades/testdata/integration_suite_out.json
  planner/core/explain.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
  planner/core/rule_partition_processor.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/plan_suite_out.json
  statistics/handle/update_test.go
Labels: component/executor, sig/execution, status/LGT2, status/can-merge

#18978 *: add ddl metrics in metric profile tree
  executor/inspection_profile.go
Labels: component/executor, component/metrics, sig/execution, status/LGT2, type/enhancement

#18807 *: make load data atomic by default
  executor/delete.go
  executor/insert_common.go
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: component/executor, contribution, sig/execution, sig/transaction, status/LGT2, status/can-merge

#18972 *: support generates metrics profile by different type
  executor/inspection_profile.go
  server/http_handler.go
Labels: component/executor, sig/execution, status/LGT2, type/enhancement, type/usability

#18966 *: convert lockKeys to key flag
  executor/executor.go
  kv/kv.go
  kv/memdb.go
  kv/memdb_arena.go
  kv/memdb_iterator.go
  kv/memdb_test.go
  session/txn.go
  sessionctx/stmtctx/stmtctx.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/txn.go
  table/tables/index.go
  table/tables/tables.go
Labels: component/executor, sig/transaction, status/LGT2, status/can-merge

#19051 store/tikv: reduce lock scope
  store/tikv/txn.go
Labels: status/LGT2, status/can-merge

#18957 ddl: align placement syntax implementation to RFC
  ddl/ddl_api.go
  ddl/error.go
  ddl/placement_rule_test.go
  errno/errcode.go
  errno/errname.go
Labels: component/DDL, contribution, sig/DDL, status/LGT3, status/can-merge

#19046 expression, executor: reset e.done for PointGetExecutor
  executor/point_get.go
  expression/integration_test.go
Labels: component/executor, component/expression, status/LGT2, status/can-merge, type/bug-fix

#19050 github: update bug report template to ask fewer questions
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: status/LGT2

#18948 expression: cast json_extract as bool
  expression/expression.go
  expression/integration_test.go
  types/datum.go
  types/datum_test.go
  types/json/binary.go
Labels: component/expression, sig/execution, status/LGT2, status/can-merge

#19064 server: fix testTLS fail in go1.15
  server/tidb_test.go
Labels: component/build, component/test, status/LGT2, status/can-merge

#18767 *: support clustered index for fast analyze
  ddl/column_test.go
  executor/analyze.go
  executor/analyze_test.go
  executor/builder.go
  executor/split_test.go
  go.sum
  kv/kv.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  planner/core/stringer.go
  server/http_handler.go
  statistics/sample.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/txn.go
  table/tables/tables.go
  tablecodec/tablecodec.go
  tablecodec/tablecodec_test.go
  util/rowDecoder/decoder.go
  util/rowDecoder/decoder_test.go
  util/rowcodec/decoder.go
  util/rowcodec/rowcodec_test.go
Labels: component/DDL, component/executor, component/statistics, sig/DDL, sig/execution, status/LGT2, status/can-merge

#19071 transaction: always lock keys with presume not exists flag
  executor/write_test.go
  session/tidb_test.go
  session/txn.go
Labels: component/executor, sig/transaction, status/LGT2, status/can-merge, type/bug-fix

#18932 ddl: check allocator's existence before allocate/rebase
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/table.go
Labels: component/DDL, sig/DDL, status/LGT2, status/can-merge

#19069 metrics: use heatmap for some transaction pannels
  metrics/grafana/tidb.json
Labels: component/metrics, sig/transaction, status/LGT2, status/can-merge

#19060 test: skip `TestSplitRegionIn2PC` in integration test
  store/tikv/2pc_slow_test.go
Labels: component/test, status/LGT2, status/all-tests-passed, status/can-merge

#19056 store/tikv: use unistore instead of mocktikv in unit test
  go.mod
  go.sum
  store/mockstore/unistore/cluster.go
  store/mockstore/unistore/raw_handler.go
  store/tikv/rawkv_test.go
  store/tikv/region_request_test.go
  store/tikv/scan.go
  store/tikv/ticlient_test.go
Labels: status/LGT2, status/can-merge

#18825 server: dump time length as 0 directly for zero value in date/datetime/timestamp type for prepare stmt
  server/util.go
  server/util_test.go
Labels: status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#19033 executor: fix cluster index encode wrong key in plan cached point get
  executor/builder.go
  executor/point_get.go
  executor/prepared_test.go
Labels: component/executor, status/LGT3, status/can-merge, type/bug-fix

#18998 planner: make some access paths check fit the clustered index
  executor/executor_test.go
  executor/point_get_test.go
  executor/testdata/point_get_suite_in.json
  executor/testdata/point_get_suite_out.json
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/property_cols_prune.go
  planner/core/rule_build_key_info.go
  planner/core/rule_join_elimination.go
  planner/core/testdata/integration_suite_out.json
  statistics/selectivity.go
Labels: component/executor, component/statistics, sig/planner, status/LGT2, status/can-merge

#19090 metrics: enlarge txn upper limit
  metrics/tikvclient.go
Labels: component/metrics, sig/transaction, status/LGT2, status/can-merge

#19030 privilege: fix show grants for column privilege
  privilege/privileges/cache.go
  privilege/privileges/privileges_test.go
Labels: component/privilege, status/LGT2, status/can-merge

#16678 executor: implement a concurrent hash table for Concurrent build
  executor/concurrent_map.go
  executor/concurrent_map_test.go
  executor/hash_table.go
  executor/hash_table_test.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join_test.go
  executor/join.go
  executor/join_test.go
Labels: component/config, component/executor, sig/DDL, sig/execution, sig/planner, status/LGT2, status/can-merge, type/performance

#19037 planner: remove the limit that `nth_plan` hint value can't exceed 100
  planner/core/find_best_task.go
  planner/core/plan_test.go
  planner/optimize.go
Labels: component/planner, contribution, status/LGT2, status/can-merge

#19110 ddl: tiny cleanup and fix typo
  ddl/db_change_test.go
  ddl/ddl_test.go
  ddl/index.go
Labels: component/DDL, sig/DDL, status/LGT2

#19058 util: make rowContainer can spill again after calling reset.
  util/chunk/row_container.go
  util/chunk/row_container_test.go
Labels: component/executor, component/util, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18962 Add testpkg target for Makefile to test single package
  Makefile
Labels: contribution, status/LGT2, status/can-merge

#18893 server: add shutdown, refresh, resetconnection RPCs
  server/conn.go
  server/conn_test.go
  session/session.go
Labels: component/mysql-protocol, component/server, status/LGT2, status/can-merge

#19008 statistics: fix memtracker test
  statistics/handle/handle.go
  statistics/handle/handle_test.go
Labels: contribution, status/LGT2, status/can-merge

#19087 metrics: add metrics for packet IO
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/server.go
  server/packetio.go
Labels: component/metrics, status/LGT2, status/can-merge

#19062 *: fix a bug causes indexed virtual generated column return wrong value and refine admin check table (#18408)
  ddl/db_test.go
  ddl/index.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  expression/builtin_compare_test.go
  expression/expression.go
  expression/integration_test.go
  expression/simple_rewriter.go
  planner/core/expression_rewriter.go
  planner/core/optimizer.go
  planner/core/partition_pruning_test.go
  planner/core/planbuilder.go
  table/tables/partition.go
  table/tables/tables.go
  util/admin/admin.go
  util/generatedexpr/gen_expr_test.go
  util/generatedexpr/generated_expr.go
  util/rowDecoder/decoder.go
  util/rowDecoder/decoder_test.go
Labels: component/DDL, component/executor, component/expression, status/LGT2, status/can-merge, type/4.0-cherry-pick, type/bug-fix

#19125 .github: update the label for sigs
  .github/labeler.yml
  .github/workflows/assign_project.yml
Labels: status/LGT3, status/can-merge

#19065 ddl: support `ALTER PLACEMENT` clause
  ddl/ddl_api.go
  ddl/partition.go
  ddl/placement/const.go
  ddl/placement/types.go
  ddl/placement/utils.go
  ddl/placement_rule_test.go
  ddl/placement_sql_test.go
  domain/infosync/info.go
  go.mod
  go.sum
  util/testleak/leaktest.go
Labels: component/DDL, contribution, sig/DDL, status/LGT3, status/can-merge

#19113 executor: fix apply with union scan returns incorrect executor(#19128)
  executor/batch_point_get.go
  executor/builder.go
  executor/write_test.go
Labels: component/executor, priority/release-blocker, sig/executor, status/LGT2, status/can-merge, type/4.0-cherry-pick, type/bug-fix

#19084 build: add build script for PowerShell
  .build.ps1
Labels: component/build, status/LGT2, status/can-merge

#19068 util/ranger: fix explain does not display range[NULL, NULL]
  planner/core/testdata/analyze_suite_out.json
  statistics/testdata/stats_suite_out.json
  util/ranger/types.go
  util/ranger/types_test.go
Labels: component/planner, sig/planner, status/LGT2, status/can-merge

#18880 *: support CREATE / DROP / ADMIN RELOAD STATISTICS
  executor/simple.go
  executor/simple_test.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  session/bootstrap.go
  session/session.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/table.go
Labels: component/executor, component/statistics, sig/execution, sig/executor, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement, type/new-feature

#18783 expression: simplify get priority by collation
  expression/collation.go
Labels: component/expression, contribution, status/LGT2, status/can-merge

#19128 executor: fix apply with union scan and point batch point get
  executor/batch_point_get.go
  executor/builder.go
  executor/point_get.go
  executor/write_test.go
  expression/integration_test.go
Labels: component/executor, component/expression, sig/executor, sig/transaction, status/LGT2, status/can-merge, type/bug-fix

#18852 ddl: Drop column with single value index
  ddl/column.go
  ddl/column_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/delete_range.go
  ddl/rollingback.go
  ddl/serial_test.go
Labels: contribution, require-LGT3, sig/DDL, status/LGT4, status/can-merge

#19146 planner/core: fix partition selection on PointGet/BatchPointGet
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: sig/planner, status/LGT2, status/can-merge, type/bug-fix

#17854 planner: propagate NDV of column groups across plan nodes
  expression/column.go
  expression/schema.go
  planner/cascades/optimize.go
  planner/core/indexmerge_test.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/plan.go
  planner/core/rule_join_reorder_dp.go
  planner/core/rule_join_reorder_dp_test.go
  planner/core/rule_join_reorder_greedy.go
  planner/core/stats.go
  planner/core/stats_test.go
  planner/core/testdata/stats_suite_in.json
  planner/core/testdata/stats_suite_out.json
  planner/property/stats_info.go
Labels: component/expression, component/statistics, sig/planner, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#17825 planner: add store type to statement summary
  infoschema/tables_test.go
  planner/core/encode.go
  util/plancodec/codec.go
  util/plancodec/codec_test.go
Labels: contribution, needs-cherry-pick-4.0, sig/DDL, sig/planner, status/LGT1

#19099 executor, planner: enable duplication check on prefix clustered index
  executor/builder.go
  executor/clustered_index_test.go
  executor/distsql.go
  planner/core/find_best_task.go
  planner/core/handle_cols.go
  planner/core/resolve_indices.go
  table/tables/tables.go
  tablecodec/tablecodec.go
  util/rowcodec/decoder.go
Labels: component/executor, sig/executor, status/LGT2, status/can-merge

#19169 expression: fix wrong collation and coercibility
  expression/builtin_math.go
  expression/collation.go
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT2, status/can-merge

#19088 tests: improve tests for Windows platform
  cmd/explaintest/config.toml
  ddl/util/syncer_test.go
  domain/domain_test.go
  domain/infosync/info_test.go
  executor/coprocessor.go
  executor/executor_test.go
  executor/infoschema_reader_test.go
  executor/memtable_reader_test.go
  executor/slow_query_test.go
  go.mod
  go.sum
  infoschema/tables_test.go
  owner/manager_test.go
  server/conn_test.go
  server/http_handler_test.go
  server/statistics_handler_test.go
  server/tidb_test.go
  server/util_test.go
  telemetry/telemetry_test.go
  util/sys/storage/sys_test.go
  util/sys/storage/sys_windows.go
Labels: component/executor, component/test, sig/DDL, sig/executor, sig/transaction, status/LGT2, status/can-merge

#19131 types: fix wrong hash key for decimal
  executor/aggregate_test.go
  executor/join_test.go
  types/mydecimal.go
  types/mydecimal_test.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/release-blocker, sig/executor, status/LGT2, status/can-merge, type/bug-fix

#19181 tablecodec: fix check cluster index table on new collation
  expression/integration_test.go
  tablecodec/tablecodec.go
Labels: component/expression, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19179 tablecodec: fix new collation with cluster index cause error
  expression/integration_test.go
Labels: component/expression, sig/executor, status/LGT2, status/can-merge, type/bug-fix

#19151 planner: make single partition table support index join on inner side
  executor/index_lookup_merge_join_test.go
  planner/core/exhaust_physical_plans.go
Labels: needs-cherry-pick-4.0, priority/release-blocker, sig/executor, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#19157 types: nil/null should be regarded as value instead of type
  types/datum.go
Labels: component/expression, status/LGT2, status/can-merge

#19182 executor: fix bug of tiflash executing apply
  executor/builder.go
  executor/table_reader.go
Labels: sig/executor, status/LGT2, status/can-merge

#19200 fix inappropriate heuristic method of estimating out-of-range values
  cmd/explaintest/r/explain_union_scan.result
  planner/core/testdata/analyze_suite_out.json
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/selectivity_test.go
  statistics/table.go
Labels: component/statistics, priority/release-blocker, sig/planner, status/LGT2, status/can-merge, type/3.0-cherry-pick

#19174 ddl: support `DROP PLACEMENT` clause
  ddl/ddl_api.go
  ddl/placement_rule_test.go
  ddl/placement_sql_test.go
  go.mod
  go.sum
Labels: contribution, sig/DDL, status/LGT2, status/can-merge

#19206 executor: fix common handle index lookup in union scan
  executor/clustered_index_test.go
  executor/mem_reader.go
Labels: component/executor, sig/executor, status/LGT2, status/can-merge

#19032 executor: fix the bug: can not join if join keys are type bigint and type bit
  executor/join_test.go
  util/codec/codec.go
Labels: component/executor, contribution, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, sig/executor, status/LGT2, status/can-merge

#19228 util/rowcodec: make IsRowKey() recognize common handles
  executor/clustered_index_test.go
  sessionctx/variable/session.go
  util/rowcodec/common.go
Labels: component/util, sig/executor, status/LGT2, status/can-merge

#18982 docs: add proposal for global index
  docs/design/2020-08-04-global-index.md
Labels: contribution, status/LGT2, status/can-merge

#19078 Makefile: fix build datetime
  Makefile
Labels: status/LGT2, status/can-merge

#19134 *: compute and save correlation extended statistics in ANALYZE
  executor/analyze.go
  statistics/builder.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/sample.go
  statistics/statistics_test.go
Labels: component/executor, component/statistics, sig/executor, status/LGT2, status/can-merge, type/enhancement

#19225 types: revoke #19157, compare nil by type assertion in datum value setting
  types/datum.go
Labels: component/expression, status/LGT2, status/can-merge

#19036 expression: support handle two collation cannot substituted to each other
  expression/collation.go
  expression/util.go
Labels: component/expression, contribution, status/LGT2, status/can-merge

#18732 executor: fix explain format for connection
  executor/explainfor_test.go
  planner/core/planbuilder.go
Labels: component/executor, contribution, sig/execution, sig/executor, status/LGT2, status/can-merge

#18846 planner: make except/intersect support different column type
  executor/executor_test.go
  executor/testdata/executor_suite_in.json
  executor/testdata/executor_suite_out.json
  planner/core/logical_plan_builder.go
Labels: component/executor, sig/execution, sig/executor, sig/planner, status/LGT2, status/can-merge, type/enhancement

#19164 planner/core: fix partition selection on PointGet/BatchPointGet (#19146)
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: sig/transaction, status/LGT2, status/can-merge

#18916 *: record more rpc runtime information in cop runtime stats
  distsql/distsql_test.go
  distsql/select_result.go
  distsql/select_result_test.go
  distsql/stream.go
  kv/kv.go
  planner/core/common_plans.go
  store/tikv/batch_coprocessor.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: component/executor, sig/execution, sig/executor, status/LGT2, status/can-merge, type/enhancement

#19237 expression: support tidb_decode_key for cluster index
  expression/builtin_info.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/can-merge

#19257 server: try to make test TestAllServerInfo stable
  server/http_handler_test.go
Labels: component/test, needs-cherry-pick-4.0, status/LGT3, status/can-merge

#19176 planner: encode insert/delete/update executor plan information in slow log plan field
  infoschema/tables_test.go
  planner/core/encode.go
  planner/core/plan_test.go
Labels: sig/DDL, status/LGT2, type/usability

#18970 util: create the tmpdir if the directory is removed by mistake.
  config/config.go
  config/config_test.go
  executor/sort_test.go
  tidb-server/main.go
  util/chunk/disk.go
  util/disk/tempDir.go
  util/disk/tempDir_test.go
Labels: component/config, component/executor, needs-cherry-pick-4.0, sig/execution, sig/executor, status/LGT2, status/can-merge, type/bug-fix

#19277 fix panic on selectResultRuntimeStats.String
  distsql/select_result.go
Labels: component/test, sig/executor, status/LGT2, type/bug-fix

#19256 store/tikv: skip a test case to make race test more stable
  store/tikv/2pc_fail_test.go
Labels: component/test, status/LGT2, status/can-merge

#19035 ranger: support using `nulleq` conditions to calculate index ranges
  expression/integration_test.go
  util/ranger/checker.go
  util/ranger/detacher.go
  util/ranger/points.go
  util/ranger/ranger_test.go
Labels: component/expression, sig/planner, status/LGT2, status/can-merge

#19207 *: use int instead of fmt.Stringer as executor id
  distsql/distsql.go
  distsql/distsql_test.go
  distsql/request_builder_test.go
  distsql/select_result.go
  distsql/select_result_test.go
  executor/aggregate.go
  executor/apply_cache.go
  executor/batch_point_get.go
  executor/benchmark_test.go
  executor/brie.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_pkg_test.go
  executor/executor_required_rows_test.go
  executor/explain_unit_test.go
  executor/hash_table_test.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/index_merge_reader.go
  executor/join.go
  executor/load_data.go
  executor/merge_join.go
  executor/parallel_apply.go
  executor/pkg_test.go
  executor/point_get.go
  executor/prepared.go
  executor/projection.go
  executor/shuffle.go
  executor/sort.go
  executor/split_test.go
  executor/table_reader.go
  executor/table_readers_required_rows_test.go
  planner/core/common_plans.go
  server/rpc_server.go
  statistics/handle/handle.go
  util/chunk/disk.go
  util/chunk/disk_test.go
  util/chunk/list.go
  util/chunk/row_container.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
  util/kvcache/simple_lru.go
  util/memory/tracker.go
  util/memory/tracker_test.go
  util/misc_test.go
  util/mock/context.go
Labels: component/executor, needs-cherry-pick-4.0, sig/executor, status/LGT2, type/enhancement

#19186 expression: fix incorrect collation when cast non-string type arg to string type
  expression/builtin_cast.go
  expression/collation.go
  expression/integration_test.go
  expression/simple_rewriter.go
  planner/core/expression_rewriter.go
Labels: component/expression, contribution, status/LGT2

#19254 session: add mysql.schema_index_usage table
  session/bootstrap.go
  session/session.go
Labels: component/statistics, status/LGT2, status/can-merge, type/new-feature

#18668 expression: add warnings for logarithm functions
  errno/errcode.go
  errno/errname.go
  expression/builtin_math.go
  expression/builtin_math_test.go
  expression/builtin_math_vec.go
  expression/errors.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#19202 executor, infoschema: display attribute `visible` in information_schema.tidb_indexes
  cmd/explaintest/r/explain_easy.result
  executor/infoschema_reader.go
  infoschema/tables.go
Labels: sig/DDL, sig/executor, status/LGT2, status/can-merge, type/enhancement

#19245 Fix error result union scan with apply
  executor/union_scan.go
  executor/union_scan_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, sig/executor, status/LGT3, status/can-merge

#19286 ddl: fix db charset modification panic in an uppercase schema
  ddl/db_integration_test.go
  infoschema/builder.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, require-LGT3, sig/DDL, status/LGT3, status/all-tests-passed, status/can-merge

#19070 util: add encryptWriter/Reader interface to support encrypt spilled file
  config/config.go
  config/config.toml.example
  config/config_test.go
  util/chunk/disk.go
  util/chunk/disk_test.go
  util/encrypt/aes_layer_test.go
  util/encrypt/ase_layer.go
Labels: component/config, component/executor, contribution, sig/executor, status/LGT2, status/can-merge

#19266 server: make http test listen on port 0
  server/http_handler_test.go
  server/http_status.go
  server/server.go
Labels: component/test, status/LGT2, status/can-merge

#19236 fix insert check after lock
  executor/executor.go
  executor/point_get.go
  kv/kv.go
  kv/union_store.go
  session/pessimistic_test.go
  sessionctx/stmtctx/stmtctx.go
  store/tikv/txn.go
  table/tables/tables.go
  util/mock/context.go
Labels: component/executor, priority/release-blocker, sig/executor, sig/transaction, status/LGT3, status/can-merge, type/3.0-cherry-pick, type/bug-fix

#19210 executor: fix build table reader for index join on partition table
  executor/builder.go
  executor/index_lookup_merge_join_test.go
  executor/table_reader.go
Labels: component/executor, sig/executor, status/LGT2, status/can-merge

#19242 test: try to stablize scan test
  store/tikv/scan_test.go
Labels: component/test, sig/transaction, status/LGT3, status/can-merge

#19248 *: update kvproto
  go.mod
  go.sum
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
Labels: status/LGT2, status/can-merge

#19175 util: fix a encode bug causes the wrong result of hashJoin with set and enum
  expression/integration_test.go
  util/codec/codec.go
  util/codec/codec_test.go
Labels: component/expression, status/LGT2, status/can-merge, type/bug-fix

#19255 planner: fix IsPointGetWithPKOrUniqueKeyByAutoCommit for clustered index
  executor/executor_test.go
  planner/core/common_plans.go
  planner/optimize.go
Labels: sig/executor, sig/planner, status/LGT2, status/can-merge

#19244 coprocessor: add sendrate control for non keep order case.
  store/tikv/coprocessor.go
Labels: component/executor, status/LGT2, status/can-merge, type/enhancement

#19322 .github:update label for sig/execution
  .github/labeler.yml
Labels: sig/execution, status/LGT2, status/can-merge

#19320 ddl, executor: fix clustered prefix primary key truncation
  ddl/reorg.go
  ddl/serial_test.go
  distsql/request_builder.go
  executor/clustered_index_test.go
  executor/write.go
  tablecodec/tablecodec.go
Labels: sig/DDL, sig/execution, status/LGT2, status/can-merge

#19274 planner: invalidate cached plan if no UnionScan for tables that need it (#15429)
  executor/executor.go
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/logical_plan_builder.go
  planner/core/prepare_test.go
  planner/core/util.go
  sessionctx/stmtctx/stmtctx.go
Labels: sig/execution, status/LGT3, status/can-merge, type/3.0-cherry-pick

#18881 schemas: decrease fetchSchemaConcurrency
  domain/domain.go
  server/server.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, sig/DDL, status/LGT2, status/can-merge

#19283 server: support new frame item for cluster index
  kv/key.go
  server/http_handler.go
  server/http_handler_test.go
  store/helper/helper.go
Labels: component/server, status/LGT2, status/can-merge

#19221 build: remove useless command
  Makefile
Labels: status/LGT2, status/can-merge

#19323 update pd / br / unistore / tidb-tools dependencies
  CHANGELOG.md
  ddl/placement/types.go
  executor/brie.go
  go.mod
  go.sum
  store/mockstore/mockstore.go
  store/mockstore/mocktikv/cluster.go
  store/mockstore/mocktikv/mock.go
  store/mockstore/mocktikv/pd.go
  store/mockstore/unistore/mock.go
  store/mockstore/unistore/pd.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/interface.go
  store/tikv/kv.go
  store/tikv/lock_resolver.go
  store/tikv/oracle/oracles/pd.go
  store/tikv/pd_codec.go
  store/tikv/rawkv.go
  store/tikv/region_cache.go
  store/tikv/store_test.go
  store/tikv/test_util.go
  tidb-server/main.go
  util/execdetails/pd_interceptor.go
Labels: sig/execution, status/LGT2

#19234 executor: fix select from partition table on TiFlash
  executor/partition_table.go
  executor/partition_table_test.go
  planner/core/exhaust_physical_plans.go
Labels: component/executor, sig/execution, status/LGT2, status/can-merge

#19105 *: cherry-pick #17964 and update pd to v4.0.4
  config/config.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_test.go
  ddl/serial_test.go
  executor/executor_pkg_test.go
  executor/executor_test.go
  executor/infoschema_reader_test.go
  executor/join_test.go
  executor/merge_join_test.go
  executor/oomtest/oom_test.go
  executor/seqtest/seq_executor_test.go
  executor/simple_test.go
  executor/sort_test.go
  executor/statement_context_test.go
  executor/write_concurrent_test.go
  go.mod
  go.sum
  infoschema/tables_test.go
  planner/core/cbo_test.go
  planner/core/integration_test.go
  session/session_test.go
  sessionctx/variable/session_test.go
  store/mockstore/mocktikv/pd.go
  store/mockstore/tikv_test.go
  store/tikv/region_request_test.go
  store/tikv/store_test.go
  tidb-server/main_test.go
  util/chunk/chunk_test.go
Labels: component/config, component/executor, sig/DDL, sig/execution, status/LGT2, status/can-merge

#19316 planner: workaround the panic of command EXECUTE when printing an expensive query log
  executor/seqtest/prepared_test.go
  planner/core/util.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#19321 server: add system variable to control txn amend on or off
  session/pessimistic_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  store/tikv/2pc.go
Labels: component/server, sig/transaction, status/LGT2, status/can-merge

#18402 ddl: support add global index operation on partition table
  config/config.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/index.go
  ddl/partition.go
  table/tables/index.go
  tablecodec/tablecodec.go
Labels: component/config, contribution, sig/DDL, status/LGT2, status/can-merge

#19330 ddl: exit add index on generated column with `case-when` expression parse error
  ddl/db_test.go
  ddl/index.go
Labels: sig/DDL, status/LGT2

#19351 executor : fix refill table id bug for tiflash partition reading
  executor/executor_test.go
  executor/partition_table.go
  executor/tiflash_test.go
  store/mockstore/mocktikv/cop_handler_dag.go
Labels: sig/execution, status/LGT2, status/all-tests-passed

#19333 executor: fix build union-scan for index-join on patitioned tables
  executor/builder.go
  executor/partition_table_test.go
Labels: component/executor, sig/execution, status/LGT2, status/can-merge

#19198 coprocessor: fix data race for tiflash work index in region cache
  store/tikv/region_cache.go
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#19270 ddl: improve compatibility for ALTER TABLE algorithms
  ddl/db_integration_test.go
  ddl/ddl_algorithm.go
  ddl/ddl_algorithm_test.go
  ddl/ddl_api.go
  executor/seqtest/seq_executor_test.go
Labels: contribution, needs-cherry-pick-4.0, require-LGT3, sig/DDL, status/LGT3, status/can-merge

#19365 ddl: disallow change auto_random default value by 'ALTER COLUMN'
  ddl/ddl_api.go
  ddl/serial_test.go
  executor/insert_common.go
  executor/show.go
Labels: sig/DDL, sig/execution, status/LGT2
