Repository pingcap/tidb, pull requests merged in 2020-09, with the labels that each got.

#18869 config: refine config validation error message
  config/config.go
  config/config_test.go
Labels: component/config, contribution, status/LGT2, status/can-merge

#18785 table: remove CastValues function
  table/column.go
  table/column_test.go
Labels: contribution, status/LGT2, status/can-merge

#19625 *: add execution retry time in slow log and slow_query and statement_summary
  executor/adapter.go
  executor/slow_query.go
  executor/slow_query_test.go
  infoschema/tables.go
  infoschema/tables_test.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Labels: component/executor, epic/slow-query, sig/DDL, sig/execution, status/LGT2, status/can-merge

#18844 ddl: handle store closed in doDDLJob
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/restart_test.go
  ddl/schema_test.go
  ddl/stat_test.go
  ddl/table_test.go
  session/session_test.go
Labels: sig/DDL, status/LGT2, status/can-merge

#19591 executor: refine fast-analyze sample step in old partition
  executor/analyze.go
  executor/analyze_test.go
Labels: sig/execution, status/LGT4, status/all-tests-passed, status/can-merge, type/bug-fix

#19511 executor: cleanup useless code in batch checker
  executor/batch_checker.go
  executor/insert.go
  executor/insert_common.go
  executor/replace.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#18818 table: use evalBuffer to improve performance of locatePartition
  planner/core/common_plans.go
  table/tables/partition.go
  table/tables/partition_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/transaction, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#19642 *: information_schema.tables add TIDB_PK_TYPE column for clustered index
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
Labels: sig/DDL, sig/execution, status/LGT2, status/can-merge

#19467 ddl: unify flag processing behaviors between add/modify columns
  ddl/db_test.go
  ddl/ddl_api.go
Labels: contribution, sig/DDL, status/LGT2, status/can-merge

#19657 planner: fix analyze index always analyze primary bug
  executor/analyze_test.go
  planner/core/planbuilder.go
Labels: sig/execution, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#19640 types, executor: refine convertToMysqlEnum when src is of type Enum
  executor/index_lookup_join.go
  executor/seqtest/seq_executor_test.go
  types/datum.go
Labels: component/executor, component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19658 expression: fix incorrect implementation in `builtinRealIsFalseSig`
  expression/builtin_op_vec.go
  expression/integration_test.go
  types/mydecimal.go
Labels: component/expression, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19438 executor: fix the issue that `SELECT ... INTO OUTFILE` returns runtime error
  executor/select_into.go
  executor/select_into_test.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19601 planner: Do not pushdown unsupported function to tiflash in ...
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: sig/planner, status/LGT2, status/can-merge, type/4.0-cherry-pick

#19285 build: support set timeout for make go test
  Makefile
Labels: component/build, status/LGT2, status/can-merge

#19547 executor: add pessimistic lock keys runtime information
  executor/adapter.go
  executor/executor.go
  executor/executor_test.go
  kv/kv.go
  sessionctx/stmtctx/stmtctx.go
  store/tikv/2pc.go
  store/tikv/pessimistic.go
  store/tikv/txn.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: component/executor, sig/execution, status/LGT2, status/can-merge

#19281 ddl: fix a bug that dropping primary key lead to implicit invisible primary key success
  ddl/index.go
  ddl/serial_test.go
Labels: sig/DDL, status/LGT2, status/can-merge, type/bug-fix

#19552 executor: fix wrong behavior for `max/min` on ENUM/SET column
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_max_min.go
  executor/aggfuncs/func_max_min_test.go
  expression/aggregation/base_func.go
Labels: contribution, status/LGT2, status/can-merge

#19645 ddl: forbidden changing decimal to int
  ddl/column_test.go
  ddl/ddl_api.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/DDL, status/LGT2, status/can-merge, type/bug-fix

#19276 executor: use before statement snapshot for UnionScan
  executor/mem_reader.go
  executor/union_scan_test.go
  kv/kv.go
  kv/mock.go
  session/txn.go
  store/tikv/txn.go
Labels: sig/execution, status/LGT2, status/can-merge

#19241 ddl: allow altering auto_increment to a large number
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: sig/DDL, status/LGT2, status/can-merge, type/bug-fix

#19462 expression: allow function coercibility derive to DERIVATIO ...
  expression/builtin.go
  expression/builtin_cast.go
  expression/builtin_cast_bench_test.go
  expression/builtin_cast_test.go
  expression/builtin_cast_vec_test.go
  expression/builtin_other.go
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT3, status/can-merge

#19519 *: fix bug of same type plans with different plan digest
  expression/aggregation/explain.go
  expression/explain.go
  planner/core/encode.go
  planner/core/explain.go
  planner/core/plan_test.go
  planner/core/testdata/plan_normalized_suite_out.json
  util/plancodec/codec.go
Labels: component/expression, needs-cherry-pick-4.0, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#19659 txn:codec part for amend transaction with ddl
  ddl/index.go
  executor/admin.go
  executor/batch_point_get.go
  executor/distsql.go
  executor/insert.go
  executor/point_get.go
  executor/point_get_test.go
  executor/replace.go
  table/tables/index.go
  tablecodec/tablecodec.go
Labels: require-LGT3, sig/DDL, sig/execution, sig/transaction, status/LGT2, status/can-merge, type/4.0-cherry-pick

#19648 infoschema: fix query processlist and cluster_log bug in mysql8 client
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/infoschema, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/DDL, status/LGT3, status/can-merge, type/bug-fix

#19331 expression: fix errors in Apply when the type of correlation column is `bit`
  expression/expression.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#19329 ddl: fix rollback of adding partition table
  ddl/db_test.go
  ddl/partition.go
Labels: sig/DDL, status/LGT2, status/can-merge, type/bug-fix

#19482 expression: fix NaN for vec expression
  expression/builtin_cast_vec.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/can-merge

#19474 expression: support `%r` and `%T` format for `STR_TO_DATE()`
  executor/executor_test.go
  types/time.go
Labels: component/expression, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#19451 executor, ddl: show full tables SYSTEM VIEW info
  executor/infoschema_reader.go
  executor/show.go
  executor/show_test.go
  util/misc.go
Labels: sig/execution, status/LGT2, status/can-merge

#19618 ddl: reject adding auto_random column
  ddl/ddl_api.go
  ddl/serial_test.go
  meta/autoid/errors.go
Labels: sig/DDL, status/LGT3, status/can-merge

#19674 distsql: fix cop task runtime stats redundant display
  distsql/distsql_test.go
  distsql/select_result.go
Labels: sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19688 session: enable clustered index by default for new clusters
  ddl/serial_test.go
  session/bootstrap.go
Labels: sig/DDL, sig/execution, status/LGT2

#19503 *: move backfillWorker code to backfilling.go, update logs and comments
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl_worker.go
  ddl/error.go
  ddl/failtest/fail_db_test.go
  ddl/index.go
  ddl/stat_test.go
  errno/errcode.go
  errno/errname.go
  metrics/ddl.go
  metrics/metrics.go
Labels: sig/DDL, status/LGT2, type/enhancement

#19708 executor: make TestIssue18744 stable using failpoint
  executor/seqtest/seq_executor_test.go
Labels: component/test, status/LGT2, status/can-merge, type/enhancement

#19717 executor: fix file exists errors in tests for `select into outfile`
  executor/select_into_test.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#19367 expression: fallback vectorized control expressions
  expression/builtin_control_vec_generated.go
  expression/generator/control_vec.go
  expression/integration_test.go
Labels: component/expression, status/LGT3, status/can-merge, type/bug-fix

#19662 executor: fix fast analyze on single index
  executor/analyze.go
  executor/analyze_test.go
Labels: component/statistics, sig/execution, status/LGT2, status/PTAL, status/all-tests-passed, status/can-merge, type/bug-fix

#19714 fix read failure from system tables `tiflash_segments` and `tiflash_tables` when some tiflash node is down
  executor/infoschema_reader.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#19715 go.mod: update parser
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge

#19710 test: try to stable some tests
  session/pessimistic_test.go
Labels: component/test, sig/transaction, status/LGT2, status/can-merge

#15146 *: make 'cast' get the correct charset and collate
  expression/integration_test.go
Labels: component/charset, component/expression, status/LGT3, status/can-merge

#19754 expression: fix unmatched column lengths errors caused by `builtinGreatestStringSig` and `builtinLeastStringSig`
  expression/builtin_compare_vec.go
  util/chunk/column.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, type/bug-fix

#19702 privilege: add privilege check for `show stats`
  executor/show_test.go
  planner/core/planbuilder.go
Labels: component/privilege, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19605 sessionctx: fix a bug where update stmt not considered when clipping negative num to 0
  executor/write_test.go
  sessionctx/stmtctx/stmtctx.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19753 *: change some tests using failpoint to serialSuite
  ddl/db_test.go
  ddl/failtest/fail_db_test.go
  executor/join_pkg_test.go
  meta/autoid/autoid_test.go
  server/conn_test.go
  sessionctx/binloginfo/binloginfo_test.go
  store/tikv/gcworker/gc_worker_test.go
  tablecodec/tablecodec_test.go
Labels: component/test, sig/DDL, sig/execution, status/LGT2, status/can-merge

#19699 types: fix bug of converting enum and set
  executor/index_lookup_join.go
  expression/integration_test.go
  types/datum.go
Labels: component/expression, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19707 expression: remove the ambiguous error message of unix_time ...
  expression/builtin_time.go
  expression/builtin_time_vec.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#19612 ddl: trim enum and set trailing spaces automatically
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/expression, contribution, sig/DDL, status/LGT3, status/can-merge

#19633 executor: infoschema table partition method wrong for range column partition
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
Labels: component/infoschema, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19683 test: stable the test case
  store/tikv/2pc_test.go
Labels: component/test, sig/transaction, status/LGT2, status/can-merge

#19543 expression: add linear search for the interval function
  expression/builtin_compare.go
  expression/builtin_compare_test.go
  expression/builtin_compare_vec.go
  expression/distsql_builtin.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#19705 privilege: forbidden creating table in metrics_schema and performance_schema
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#19505 ddl: alter rules when truncating partitions
  ddl/partition.go
  ddl/placement/types.go
  ddl/placement_rule_test.go
  domain/infosync/info.go
Labels: contribution, sig/DDL, status/LGT2, status/can-merge

#19722 executor: revert test case introduced in #18819 to solve the data race on release-4.0
  executor/prepared_test.go
Labels: sig/execution, status/LGT1, status/can-merge

#19791 executor: Extract plan id from execution summaries for TiFlash cop response
  distsql/select_result.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#19042 *: remove `DirtyDB` and `DirtyTable` to reduce memory usage
  executor/builder.go
  executor/mem_reader.go
  executor/union_scan.go
  executor/union_scan_test.go
  kv/kv.go
  kv/memdb.go
  kv/memdb_arena.go
  kv/memdb_snapshot.go
  session/txn.go
  sessionctx/context.go
  sessionctx/variable/session.go
  table/tables/tables.go
Labels: component/executor, sig/execution, sig/transaction, status/LGT2, status/can-merge

#19555 expression: incorporate unicode_ci into constant propagation
  expression/collation.go
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT2, status/can-merge

#19727 *: remove the unused terminology
  errno/errcode.go
  errno/errname.go
  executor/reload_expr_pushdown_blacklist.go
  sessionctx/variable/sysvar.go
  util/rowcodec/common.go
Labels: sig/execution, status/LGT2, status/can-merge

#19755 executor: implement memDelta for varpop to trace the memory usage
  executor/aggfuncs/func_varpop.go
  executor/aggfuncs/func_varpop_test.go
Labels: component/executor, contribution, rewarded, status/LGT2, status/can-merge, type/enhancement

#18840 executor: set the correct resultCh for task when indexHashJoin keep order
  executor/index_lookup_hash_join.go
  executor/seqtest/seq_executor_test.go
Labels: component/executor, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19762 util: fix unstable unit test testDiskSerialSuite.TestRemoveDir
  util/disk/tempDir_test.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#19770 executor: implement memDelta for count funcs to track memUsage
  executor/aggfuncs/func_count.go
  executor/aggfuncs/func_count_test.go
Labels: contribution, rewarded, status/LGT2, status/can-merge

#19766 executor: implement meldata for rank funcs to track memUsage
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/func_rank.go
  executor/aggfuncs/window_func_test.go
Labels: component/executor, contribution, rewarded, status/LGT2, status/can-merge, type/enhancement

#19723 planner: mark handle columns as needed when building plan for DELETE
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Labels: sig/planner, status/LGT2, status/can-merge, type/bug-fix

#19622 infoschema: add digest for process list
  infoschema/tables.go
  infoschema/tables_test.go
  session/session.go
  util/misc_test.go
  util/processinfo.go
Labels: component/infoschema, needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT2, status/can-merge

#19720 go.mod: update parser
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge

#19630 txn:support wait second grammar for "select for update"
  executor/executor.go
  go.mod
  go.sum
  planner/core/explain.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  planner/core/preprocess.go
  planner/core/rule_column_pruning.go
  session/pessimistic_test.go
Labels: needs-cherry-pick-4.0, sig/execution, sig/transaction, status/LGT2, status/can-merge, type/new-feature

#19576 planner: fix incorrect result for `!= all (subq)`
  executor/join_test.go
  planner/core/expression_rewriter.go
Labels: needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#19716 executor: fix fast analyze race condition on session ctx
  executor/analyze.go
  executor/builder.go
Labels: component/statistics, sig/execution, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#19704 privilege: fix wrong result of `SHOW GRANTS`
  executor/show_test.go
  privilege/privileges/cache.go
Labels: component/privilege, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19721 executor: add more runtime information for join executor
  executor/hash_table.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/join.go
  executor/join_test.go
Labels: sig/execution, status/LGT2, status/can-merge, type/enhancement

#19592 expression, types: fix decimal precision for SUM function
  executor/aggfuncs/func_sum.go
  types/mydecimal.go
  types/mydecimal_test.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT3, status/can-merge, type/bug-fix

#19768 *: update pd / br / tidb-tools dependencies
  executor/brie.go
  go.mod
  go.sum
  store/mockstore/mocktikv/mock.go
  store/mockstore/mocktikv/pd.go
  store/mockstore/tikv.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/interface.go
  store/tikv/kv.go
  store/tikv/lock_resolver.go
  store/tikv/oracle/oracles/pd.go
  store/tikv/pd_codec.go
  store/tikv/rawkv.go
  store/tikv/region_cache.go
  store/tikv/store_test.go
  store/tikv/test_util.go
  tidb-server/main.go
  util/execdetails/pd_interceptor.go
Labels: sig/execution, status/LGT2, status/can-merge

#19835 tikv: make TestPanicInRecvLoop stable
  store/tikv/client.go
  store/tikv/client_batch.go
  store/tikv/client_fail_test.go
  store/tikv/mock_tikv_service.go
Labels: component/test, status/LGT2, status/can-merge, type/4.0-cherry-pick

#19794 server: fix the missing detachment for the mem/disk tracker
  executor/adapter.go
  executor/executor.go
  executor/memory_test.go
  server/conn.go
  util/memory/tracker.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19848 grafana: handle negative delta in runtime dashboard
  metrics/grafana/tidb_runtime.json
Labels: component/metrics, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#19838 unistore: support analyze multi-ranges
  store/mockstore/unistore/cophandler/analyze.go
Labels: component/statistics, component/unistore, status/LGT2

#19826 config: enlarge the default value of max-txn-ttl
  config/config.go
  config/config.toml.example
Labels: component/config, sig/transaction, status/LGT2, status/can-merge

#19825 test: fix ci failure in TestParallelDropSchemaAndDropTable
  ddl/db_test.go
Labels: sig/DDL, status/LGT2

#19573 distsql: fix wrong default max allowed packet
  executor/executor_test.go
  expression/distsql_builtin.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#19877 executor: fix alter user statement for user() and current_user() #19345
  executor/simple.go
  executor/simple_test.go
Labels: priority/release-blocker, sig/execution, status/LGT2

#19859 executor: fix error tikv_cop_wait time in metric profile
  executor/inspection_profile.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, type/bug-fix

#19863 executor, util: fix TestGlobalMemoryTrackerOnCleanUp ci error
  executor/memory_test.go
  util/memory/tracker.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#19882 Revert "expression, types: fix decimal precision for SUM function" to make ci happy
  executor/aggfuncs/func_sum.go
  types/mydecimal.go
  types/mydecimal_test.go
Labels: component/expression, status/LGT2, status/all-tests-passed, status/can-merge

#19879 domain: make TestT more stable
  domain/domain_test.go
Labels: component/test, needs-cherry-pick-4.0, sig/DDL, status/LGT2, status/can-merge

#19827 executor: add concurrency limit on union executor
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  sessionctx/variable/session.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, priority/release-blocker, sig/execution, status/LGT2, status/can-merge

#19124 planner,executor: enable plan cache for partition table
  executor/prepared.go
  planner/core/cacheable_checker.go
  planner/core/common_plans.go
  planner/core/prepare_test.go
Labels: component/executor, sig/execution, status/LGT2, status/PTAL, status/can-merge

#19425 *: using standard error to replace terror
  ddl/db_integration_test.go
  ddl/rollingback.go
  domain/domain_test.go
  executor/executor_test.go
  executor/show.go
  executor/trace.go
  expression/integration_test.go
  go.mod
  go.sum
  kv/error_test.go
  metrics/server.go
  planner/core/errors_test.go
  privilege/privileges/cache.go
  server/conn.go
  sessionctx/variable/sysvar_test.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/cophandler/cop_handler.go
  structure/structure_test.go
  table/table_test.go
  tablecodec/tablecodec_test.go
  types/errors_test.go
  util/admin/admin_test.go
  util/memory/tracker_test.go
  util/testkit/testkit.go
Labels: component/expression, needs-cherry-pick-4.0, priority/release-blocker, sig/DDL, sig/execution, sig/planner, status/LGT1, type/enhancement

#19843 session,executor: fix DATA RACE for PointGet under concurrent executor
  ddl/db_change_test.go
  executor/prepared_test.go
  executor/seqtest/prepared_test.go
  server/sql_info_fetcher.go
  session/session.go
  session/tidb.go
Labels: component/session, priority/release-blocker, sig/DDL, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19671 ddl: add partition should not take table information
  ddl/db_partition_test.go
  ddl/partition.go
  expression/integration_test.go
Labels: component/expression, contribution, needs-cherry-pick-4.0, sig/DDL, status/LGT2, status/can-merge

#19846 executor, planner: refactor analyze tableID to analyzeTableID & add CanRuntimePrune
  domain/domainctx.go
  executor/analyze.go
  executor/builder.go
  planner/core/cbo_test.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  statistics/handle/handle.go
Labels: sig/DDL, sig/execution, status/LGT2, status/PTAL, status/can-merge

#18467 store/tikv: implement async commit version of resolve locks
  Makefile
  ddl/table_split_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/async_commit_test.go
  store/tikv/backoff.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
  store/tikv/region_request_test.go
  store/tikv/tikvrpc/tikvrpc.go
  tidb-server/main.go
Labels: component/store, sig/DDL, sig/transaction, status/LGT4, status/can-merge

#19562 executor: fix show table regions bug
  store/tikv/region_cache.go
  table/tables/tables.go
Labels: needs-cherry-pick-4.0, status/LGT3, status/can-merge

#19752 executor: trace memory usage of `row_number()`
  executor/aggfuncs/row_number.go
  executor/aggfuncs/row_number_test.go
Labels: component/executor, contribution, rewarded, status/LGT2, status/can-merge, type/enhancement

#19852 executor: add memory trace for percent rank agg functions
  executor/aggfuncs/func_percent_rank.go
  executor/aggfuncs/func_percent_rank_test.go
Labels: component/executor, contribution, rewarded, status/LGT2, status/can-merge, type/enhancement

#19808 executor: implement memDelta for BitFunc funcs to track memUsage
  executor/aggfuncs/func_bitfuncs.go
  executor/aggfuncs/func_bitfuncs_test.go
Labels: component/executor, contribution, rewarded, status/LGT2, status/can-merge, type/enhancement

#19750 util: avoid spilling to disk after rowContainer has been closed.
  util/chunk/row_container.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19841 executor: use before statement snapshot for UnionScan
  executor/mem_reader.go
  kv/kv.go
  kv/mock.go
  session/txn.go
  store/tikv/txn.go
Labels: sig/execution, status/LGT2, status/can-merge

#16819 exector, planner: Improve the performance of the aggFuncMaxMin by using sliding window
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_max_min.go
  executor/aggfuncs/func_max_min_test.go
  executor/benchmark_test.go
  executor/window_test.go
  planner/core/logical_plan_builder.go
Labels: component/executor, contribution, sig/execution, status/LGT2, status/can-merge

#19621 expression: add new scalar function IsTruthWithNull
  executor/reload_expr_pushdown_blacklist.go
  expression/builtin.go
  expression/builtin_op_test.go
  expression/builtin_op_vec_test.go
  expression/expression.go
  expression/integration_test.go
  expression/simple_rewriter.go
  expression/util.go
  expression/util_test.go
  go.mod
  go.sum
  planner/core/expression_rewriter.go
  util/ranger/checker.go
  util/ranger/points.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2

#19661 executor: fix escape for select into outfile
  executor/select_into.go
  executor/select_into_test.go
Labels: component/expression, needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19832 executor: trace memory usage of `cume_dist()`
  executor/aggfuncs/func_cume_dist.go
  executor/aggfuncs/func_cume_dist_test.go
Labels: component/executor, contribution, rewarded, status/LGT2, status/can-merge, type/enhancement

#19811 executor: support memory trace for value functions
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_lead_lag.go
  executor/aggfuncs/func_value.go
  executor/aggfuncs/func_value_test.go
  executor/aggfuncs/window_func_test.go
Labels: component/executor, contribution, rewarded, sig/execution, status/LGT2, status/can-merge, type/enhancement

#19860 tikv: support async commit locks in BatchResolveLocks
  store/mockstore/unistore/rpc.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
Labels: sig/transaction, status/LGT2, status/can-merge

#19619 ddl: append column change args to job args after updating the tableInfo
  ddl/column.go
  ddl/db_change_test.go
  ddl/index.go
  ddl/table.go
Labels: sig/DDL, status/LGT2, status/all-tests-passed, status/can-merge

#19675 expression: avoid unnecessary warnings/errors when folding constants in control expr
  expression/builtin_control.go
  expression/constant_fold.go
  expression/function_traits.go
  expression/integration_test.go
  expression/scalar_function.go
  planner/core/expression_rewriter.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT3, status/can-merge

#19757 executor: trace memory usage of `first_row()`
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/func_first_row.go
  executor/aggfuncs/func_first_row_test.go
Labels: component/executor, contribution, rewarded, status/LGT2, status/can-merge, type/enhancement

#19756 executor: trace memory usage of `ntile()`
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/func_ntile.go
  executor/aggfuncs/func_ntile_test.go
Labels: component/executor, contribution, rewarded, status/LGT2, status/can-merge, type/enhancement

#19680 expression: Support distinct in select stddev_pop()
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_stddevpop.go
  executor/aggregate_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#18125 ddl: support create table with expression index
  ddl/db_integration_test.go
  ddl/ddl_api.go
  expression/function_traits.go
  planner/core/preprocess.go
Labels: component/expression, sig/DDL, status/LGT2, status/can-merge

#19455 statistics: add default value of CMSketch for `Analyze`
  executor/analyze.go
  executor/analyze_test.go
  statistics/cmsketch.go
Labels: component/statistics, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/all-tests-passed, status/can-merge, type/bug

#19925 store/tikv: log for async commit recovery
  store/tikv/lock_resolver.go
Labels: sig/transaction, status/LGT2, status/can-merge

#19545 planner: add optimizer hint `TOPN_TO_COP()`
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
  planner/core/rule_topn_push_down.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: sig/planner, status/LGT2, status/can-merge, type/enhancement

#19783 executor: support memory track for max/min
  executor/aggfuncs/func_max_min.go
  executor/aggfuncs/func_max_min_test.go
Labels: component/executor, contribution, rewarded, status/LGT2, status/can-merge, type/enhancement

#19936 tikv: commit all keys asynchronously in async commit
  store/tikv/2pc.go
Labels: sig/transaction, status/LGT2, status/can-merge

#15568 server: remove useless code
  server/util.go
  store/tikv/client_batch.go
Labels: status/LGT2, status/can-merge, type/enhancement

#19938 executor: fix cluster_slow_query time type in streaming request bug
  executor/slow_query.go
  infoschema/tables_test.go
Labels: sig/DDL, sig/execution, status/LGT2, type/bug-fix

#19584 sessionctx/variable: fix cannot select session scope ScopeNone variable
  session/session_test.go
  sessionctx/variable/varsutil.go
Labels: component/executor, contribution, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#19616 expressions: Support push ROUND function to TiFlash
  expression/expression.go
Labels: component/expression, status/LGT2

#19844 tikv: support scatter region with option api
  ddl/split_region.go
  executor/split.go
  go.mod
  go.sum
  kv/kv.go
  store/mockstore/mocktikv/pd.go
  store/mockstore/unistore/pd.go
  store/tikv/scan_test.go
  store/tikv/split_region.go
  store/tikv/store_test.go
Labels: needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT2, status/can-merge

#19849 *: fix cop task runtime information is wrong in the concurrent executor
  distsql/distsql_test.go
  distsql/select_result.go
  executor/adapter.go
  executor/aggregate.go
  executor/batch_point_get.go
  executor/executor_test.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/insert_common.go
  executor/join.go
  executor/join_pkg_test.go
  executor/parallel_apply.go
  executor/point_get.go
  executor/projection.go
  executor/shuffle.go
  executor/update.go
  store/tikv/snapshot.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: component/executor, sig/execution, status/LGT3

#19945 Revert "*: using standard error to replace terror (#19425)"
  ddl/db_integration_test.go
  domain/domain_test.go
  executor/executor_test.go
  executor/show.go
  executor/trace.go
  expression/integration_test.go
  go.mod
  go.sum
  kv/error_test.go
  metrics/server.go
  planner/core/errors_test.go
  privilege/privileges/cache.go
  server/conn.go
  sessionctx/variable/sysvar_test.go
  store/mockstore/mocktikv/cop_handler_dag.go
  structure/structure_test.go
  table/table_test.go
  tablecodec/tablecodec_test.go
  types/errors_test.go
  util/admin/admin_test.go
  util/memory/tracker_test.go
  util/testkit/testkit.go
Labels: component/expression, sig/DDL, sig/execution, status/LGT1, status/can-merge, type/bug-fix

#19380 *: incorrect error message of inserting enum & set
  ddl/db_change_test.go
  ddl/db_integration_test.go
  executor/executor_test.go
  executor/insert_common.go
  table/column.go
  types/datum.go
Labels: component/expression, contribution, needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT2, status/can-merge

#19603 server: add auth switch to mysql_native_password
  server/conn.go
  server/conn_test.go
Labels: component/server, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#19837 statistics: reduce `HandleAutoAnalyze` memory usage
  statistics/handle/update.go
  statistics/handle/update_test.go
Labels: contribution, status/LGT2, status/can-merge

#19963 expression: consider time zone convert when running from_unixtime test
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT2, status/can-merge

#19896 executor: fix the unit test of the rank funcs memUsage tracking
  executor/aggfuncs/func_rank_test.go
  executor/aggfuncs/window_func_test.go
Labels: component/test, contribution, status/LGT2, status/can-merge

#19949 sessionctx,store,kv: add a session variable to export last txn info
  executor/executor_test.go
  kv/kv.go
  kv/txn.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  store/tikv/txn.go
Labels: sig/execution, status/LGT2, status/can-merge

#19793 ddl: correct default year value
  ddl/db_test.go
  ddl/ddl_api.go
Labels: contribution, sig/DDL, status/LGT2, status/can-merge

#19948 executor: add coprocessor cache hit ratio in explain analyze
  distsql/distsql_test.go
  distsql/select_result.go
  planner/core/cbo_test.go
  store/tikv/coprocessor.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#19955 executor: fix clustered index with new collation bug
  executor/distsql.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  table/tables/tables.go
Labels: sig/execution, status/LGT2, status/can-merge

#19909 planner: make `nth_plan` hint don't affect subqueries executed in expression rewriter
  planner/core/expression_rewriter.go
  planner/core/plan_test.go
Labels: sig/planner, status/LGT2, status/can-merge, type/bug-fix

#19911 *: disable new partition prune impl by default in master distribution build
  Makefile
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/t/generated_columns.test
  domain/domainctx.go
  executor/analyze_test.go
  executor/builder.go
  executor/index_lookup_merge_join_test.go
  executor/partition_table_test.go
  executor/prepared.go
  planner/core/explain.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
  planner/core/prepare_test.go
  session/bootstrap.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  statistics/handle/update_test.go
Labels: sig/DDL, sig/execution, status/LGT2, status/PTAL, status/all-tests-passed, status/can-merge

#19978 executor: add metric definition in metric profile
  executor/inspection_profile.go
Labels: sig/execution, status/LGT2, status/can-merge, type/usability

#19816 sessionctx, executor: change tidb_dml_batch_size to global | session sysvar
  executor/set_test.go
  sessionctx/variable/sysvar.go
Labels: sig/execution, status/LGT2, status/can-merge

#19980 session: cleanup some duplicated code
  session/session.go
Labels: status/LGT2, status/can-merge, type/enhancement

#19409 session: refine error message desensitization
  config/config.go
  executor/adapter.go
  executor/executor_test.go
  kv/error.go
  kv/error_test.go
  server/conn.go
  server/conn_stmt.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  util/redact/redact.go
Labels: component/config, needs-cherry-pick-4.0, security, sig/execution, status/LGT2, status/can-merge

#19531 *: add rollbacking logic for column type change
  ddl/column.go
  ddl/column_type_change_test.go
  ddl/db_test.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  ddl/rollingback.go
  ddl/table_test.go
  util/admin/admin.go
Labels: require-LGT3, sig/DDL, status/LGT4, status/can-merge

#19586 ddl: fix panic tidb-server doesn't release table lock
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/util/dead_table_lock_checker.go
Labels: sig/DDL, status/LGT2, status/can-merge

#19370 statistics: update stats per table in the pipeline
  statistics/handle/update.go
Labels: component/statistics, sig/planner, status/LGT2, status/can-merge

#20000 executor: fix query slow_query error when slow-log file not exist
  executor/executor_test.go
  executor/slow_query.go
Labels: sig/execution, status/LGT2, type/bug-fix

#19977 session: cleanup a useless function
  session/session_test.go
  session/tidb.go
Labels: status/LGT2, status/can-merge, type/enhancement

#20008 config: remove pessimistic-txn.enable in config
  config/config.go
  config/config.toml.example
  executor/simple.go
  session/session.go
Labels: component/config, sig/execution, status/LGT2, status/can-merge

#19355 *: Bug Fix/CLUSTER_INFO system table may not work after PD is scaled-in
  domain/domain.go
  domain/domain_test.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  executor/split.go
  infoschema/tables.go
  server/http_handler.go
  session/session_test.go
  store/helper/helper.go
  store/helper/helper_test.go
  store/tikv/backoff.go
  store/tikv/kv.go
  store/tikv/store_test.go
Labels: component/infoschema, contribution, needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT2

#19995 domain: refine log for info syncer and topology syncer
  domain/domain.go
Labels: status/LGT2, status/can-merge, type/enhancement

#19867 planner: add cluster index in explain info of point get plan
  executor/testdata/point_get_suite_out.json
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
  planner/core/testdata/integration_serial_suite_out.json
  statistics/testdata/stats_suite_out.json
Labels: status/LGT2, status/can-merge

#20030 tikv: fix unexpected retry region request when context cancel
  store/tikv/region_request.go
Labels: component/tikv, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#19966 executor: trace memory usage of lag/lead agg
  executor/aggfuncs/func_lead_lag.go
  executor/aggfuncs/func_lead_lag_test.go
  executor/aggfuncs/window_func_test.go
Labels: contribution, rewarded, sig/execution, status/LGT2, status/can-merge, type/enhancement

#19810 *: support aggregate function `stddev_samp()` and `var_samp()`
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_stddevsamp.go
  executor/aggfuncs/func_stddevsamp_test.go
  executor/aggfuncs/func_varsamp.go
  executor/aggfuncs/func_varsamp_test.go
  executor/aggregate_test.go
  expression/aggregation/agg_to_pb.go
  expression/aggregation/base_func.go
  planner/core/rule_aggregation_push_down.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge
