Repository pingcap/tidb, pull requests merged in 2020-11, with the labels that each got.

#20344 ddl: fix drop last visible column
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: sig/DDL, status/LGT3, status/can-merge

#20691 [planner, executor, kv]: refine and extract mpp codes to the right place
  executor/benchmark_test.go
  executor/mpp_gather.go
  kv/kv.go
  kv/mpp.go
  planner/cascades/enforcer_rules.go
  planner/cascades/enforcer_rules_test.go
  planner/cascades/implementation_rules.go
  planner/cascades/optimize.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/find_best_task_test.go
  planner/core/fragment.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/optimizer.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/task.go
  planner/memo/group_test.go
  planner/property/physical_property.go
  store/tikv/mpp.go
Labels: sig/execution, status/LGT2, status/can-merge, type/enhancement

#20152 session: increase cm_sketch column max length to 6291456(6MB)
  executor/analyze_test.go
  session/bootstrap.go
  session/session.go
  statistics/table.go
Labels: component/statistics, needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/can-merge

#20622 ddl: handle placement rule cache for drop/truncate/recover/flashback table
  ddl/ddl_worker.go
  ddl/partition.go
  ddl/placement/utils.go
  ddl/placement_rule_test.go
  ddl/placement_sql_test.go
  ddl/table.go
  infoschema/builder.go
Labels: sig/DDL, status/LGT2, status/can-merge

#19341 executor: fix show global variables return session variables also
  executor/show.go
  executor/show_test.go
Labels: challenge-program, contribution, difficulty/easy, high-performance, needs-cherry-pick-4.0, picked, rewarded, sig/execution, status/LGT2, status/can-merge

#20660 *:Fix the bug of consistent plan but inconsistent plan digest
  planner/core/common_plans.go
  planner/core/explain.go
  planner/core/plan_test.go
  planner/core/point_get_plan.go
  planner/core/testdata/plan_normalized_suite_in.json
  planner/core/testdata/plan_normalized_suite_out.json
Labels: needs-cherry-pick-4.0, sig/planner, status/LGT1, type/bug-fix

#20770 ddl: stable placement cache test
  ddl/placement_sql_test.go
Labels: sig/DDL, status/LGT2, status/can-merge

#20504 collation: add utf8mb4_zh_pinyin_tidb_as_cs collation interface
  ddl/serial_test.go
  executor/seqtest/seq_executor_test.go
  expression/distsql_builtin_test.go
  expression/expr_to_pb.go
  expression/expr_to_pb_test.go
  go.mod
  go.sum
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/unistore/cophandler/cop_handler.go
  util/collate/collate.go
  util/collate/collate_test.go
  util/collate/general_ci.go
  util/collate/pinyin_tidb_as_cs.go
  util/collate/unicode_ci.go
Labels: component/expression, sig/DDL, status/LGT3, status/can-merge

#19580 ddl, ci: force domain to reload schema before execute SQL.
  ddl/db_change_test.go
  ddl/db_test.go
Labels: needs-cherry-pick-4.0, sig/DDL, status/LGT2, status/can-merge

#20122 ddl: Add a failpoint for TiFlash integration tests of column-type-change
  ddl/column.go
Labels: sig/DDL, status/LGT3, status/can-merge

#20715 *: fix grpc's client endpoint's hard-coded port number
  go.sum
  owner/fail_test.go
Labels: sig/DDL, status/LGT2, status/can-merge

#20617 DDL: create table should not allow explicit empty name index
  go.mod
  go.sum
  planner/core/preprocess.go
  planner/core/preprocess_test.go
Labels: component/expression, first-time-contributor, rewarded, sig/DDL, sig/execution, status/LGT3, status/can-merge, type/bug-fix

#20313 txn: Support 1PC for transactions that only have one prewrite request
  config/config.go
  config/config.toml.example
  config/config_test.go
  metrics/metrics.go
  metrics/tikvclient.go
  session/pessimistic_test.go
  store/tikv/1pc_test.go
  store/tikv/2pc.go
  store/tikv/async_commit_fail_test.go
  store/tikv/async_commit_test.go
  store/tikv/prewrite.go
Labels: component/config, sig/transaction, status/LGT2, status/can-merge

#19251 executor: avoid goroutine leak in index Lookup join
  cmd/benchdb/main.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  session/session.go
Labels: challenge-program, component/executor, difficulty/easy, high-performance, needs-cherry-pick-3.0, needs-cherry-pick-4.0, rewarded, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20780 executor: fix IndexHashJoin hang in finishJoinWorkers
  executor/index_lookup_hash_join.go
  executor/join_test.go
Labels: component/executor, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20347 ddl: add charset info in show create table if column is generated
  ddl/db_test.go
  executor/ddl_test.go
  executor/show_test.go
  types/parser_driver/value_expr.go
Labels: component/expression, contribution, sig/DDL, sig/execution, status/LGT3, status/can-merge

#20694 Dockerfile:Add curl in the image
  Dockerfile
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#20212 ddl: standardize change the job state after all other checks
  ddl/column.go
  ddl/ddl_worker.go
  ddl/index.go
  ddl/partition.go
  ddl/schema.go
  ddl/table.go
Labels: needs-cherry-pick-4.0, sig/DDL, status/LGT2, status/can-merge, type/bug-fix

#20781 ddl: provide more details about primary key error
  ddl/ddl_api.go
Labels: first-time-contributor, sig/DDL, status/LGT2, status/can-merge

#20704 infoschema: improve test stability in other timezones
  infoschema/tables_test.go
Labels: component/infoschema, needs-cherry-pick-4.0, sig/DDL, status/LGT3, status/can-merge

#20707 ddl: refine reorg warnings receiving logic
  ddl/backfilling.go
  ddl/column.go
  ddl/column_type_change_test.go
  types/convert_test.go
  types/datum.go
Labels: component/expression, sig/DDL, status/LGT2, status/all-tests-passed, status/can-merge

#20649 config, server: Add graceful shutdown option
  config/config.go
  config/config.toml.example
  server/http_status.go
  server/server.go
  server/tidb_test.go
Labels: component/config, component/server, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#20815 test: skip TestDefaultValForAnalyze
  executor/analyze_test.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#20699 executor: cherry-pick #20462 fix show create table int default value
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  executor/seqtest/seq_executor_test.go
  executor/show.go
  executor/show_test.go
  infoschema/tables_test.go
Labels: sig/DDL, sig/execution, status/LGT3, status/can-merge

#20754 ddl: add missing flags when execute alter table change column statement
  ddl/db_test.go
  ddl/ddl_api.go
Labels: sig/DDL, status/LGT2, status/can-merge

#20610 *: refactor `CompilePattern` and `DoMatch` used by `like`
  expression/integration_test.go
  privilege/privileges/cache.go
  util/collate/bin.go
  util/collate/general_ci.go
  util/collate/unicode_ci.go
  util/stringutil/string_util.go
  util/stringutil/string_util_test.go
Labels: component/expression, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20769 unistore: collect ExecutorExecutionSummary and return by DAGResponse
  executor/explain_test.go
  executor/explainfor_test.go
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/cophandler/cop_handler.go
Labels: component/store, component/unistore, sig/execution, status/LGT2

#20729 ddl: support column type change from numeric to other types
  ddl/column.go
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/ddl_api.go
  types/convert.go
  types/convert_test.go
Labels: component/expression, require-LGT3, rewarded, sig/DDL, status/LGT3

#20787 expression: Support some cast functions push down to TiFlash
  expression/expr_to_pb_test.go
  expression/expression.go
  expression/integration_test.go
  planner/core/testdata/integration_serial_suite_out.json
  session/bootstrap.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#20807 planner: make pushdown limit use its child schema
  expression/integration_test.go
  go.sum
  planner/core/task.go
Labels: component/expression, status/LGT2, status/can-merge

#20824 executor: fix wrong default zero value for year type
  executor/insert_test.go
  table/column.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20713 executor: fix issue of load data statement doesn't record into slow query and statements_summary
  executor/insert_common.go
  executor/load_data.go
  planner/core/initialize.go
  planner/core/planbuilder.go
  server/conn.go
  server/server_test.go
  server/tidb_test.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  util/plancodec/id.go
Labels: needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#20786 executor: fix skipped update when the value is treated as the same in CI collations
  executor/write.go
  executor/write_test.go
  types/datum.go
Labels: component/expression, require-LGT3, rewarded, sig/execution, status/LGT4, status/can-merge

#20459 ddl: convert hexLit to stringLit in enum and set default value.
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: needs-cherry-pick-4.0, sig/DDL, status/LGT3, status/can-merge, type/bug-fix

#19109 *: restrict the length of enum/set value
  config/config.go
  config/config.toml.example
  config/config_test.go
  ddl/ddl_api.go
  ddl/error.go
  ddl/serial_test.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  go.mod
  go.sum
Labels: compatibility-breaker, component/config, component/executor, component/expression, contribution, sig/DDL, status/LGT2

#20813 ddl: defining the placement rule of a leader requires `REPLICAS` option
  ddl/ddl_api.go
  ddl/placement_sql_test.go
Labels: rewarded, sig/DDL, status/LGT3, status/can-merge

#20551 executor: fix panic when set partition handle for index join
  executor/builder.go
  executor/index_lookup_merge_join_test.go
Labels: sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20808 store/tikv: Fix goroutine leak in tikv client
  store/tikv/kv.go
  store/tikv/safepoint.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#20196 planner: support complex join in broadcast join
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/integration_test.go
  planner/core/plan_to_pb.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: status/LGT2, status/can-merge

#20127 sessionctx/variable: allow -1 value of executor's variables if rollback from master branch
  executor/set_test.go
  sessionctx/variable/varsutil.go
Labels: sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20693 txn: support amend transaction with add unique index
  ddl/db_test.go
  session/pessimistic_test.go
  session/schema_amender.go
  session/schema_amender_test.go
  store/tikv/2pc.go
Labels: sig/DDL, sig/transaction, status/LGT2, status/can-merge, type/new-feature

#20811 *: optimize for encoding huge plan
  executor/explain.go
  go.mod
  go.sum
  planner/core/encode.go
  planner/core/plan_test.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: component/util, sig/execution, status/LGT2, type/enhancement

#20755 transaction: lock row key in delete operation
  executor/delete_test.go
  session/tidb_test.go
  session/txn.go
Labels: sig/execution, sig/transaction, status/LGT3, status/can-merge

#20871 expression: fix ADD_DATE daylight saving time change
  executor/executor_test.go
  expression/builtin_time.go
  types/core_time.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20855 ddl: forbid invalid usage of window function in the generated column
  ddl/db_test.go
  ddl/error.go
  ddl/generated_column.go
Labels: needs-cherry-pick-4.0, sig/DDL, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#19984 doc/design: add pinyin order collation for utf8mb4 charset
  docs/design/2020-09-12-utf8mb4-pinyin-order.md
Labels: contribution, status/LGT2, status/can-merge

#20697 store, executor: Fix coprocessor layer may encounter deadlock due to OOM
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20818 statistics: store the topn by slice instead of map
  executor/analyze_test.go
  statistics/cmsketch.go
  statistics/cmsketch_test.go
  statistics/feedback.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
  statistics/handle/update.go
  statistics/histogram.go
  statistics/sample.go
Labels: component/statistics, sig/execution, sig/planner, status/LGT2, status/can-merge, type/enhancement

#20847 executor: modify the error message of insert time value
  executor/insert_common.go
  executor/write_test.go
Labels: first-time-contributor, needs-cherry-pick-4.0, rewarded, sig/execution, status/LGT2, status/can-merge

#20338 util, types: fix overflow & adjustment for the year type in index ranger
  executor/write_test.go
  types/convert_test.go
  types/datum.go
  types/time.go
  util/ranger/points.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/can-merge

#20852 util: redact log for expensive sqls
  session/session.go
  util/expensivequery/expensivequerey_test.go
  util/expensivequery/expensivequery.go
  util/processinfo.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#20099 planner: don't push down topN above outer join when topN refer scalar subquery expression
  planner/core/rule_topn_push_down.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
Labels: needs-cherry-pick-4.0, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#20872 config: add GOGC under performance section
  config/config.go
  config/config.toml.example
  tidb-server/main.go
  util/gogc.go
Labels: component/config, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/enhancement

#20740 planner: add partition pruner for list (columns) partition
  expression/partition_pruner_test.go
  expression/testdata/partition_pruner_in.json
  expression/testdata/partition_pruner_out.json
  planner/core/partition_prune.go
  planner/core/rule_partition_processor.go
  table/tables/partition.go
Labels: component/expression, sig/planner, status/LGT2, status/PTAL

#20857 store/tikv: Fix the issue that context canceled error during commit RPC is not treated as undetermined error
  store/tikv/2pc_test.go
  store/tikv/async_commit_fail_test.go
  store/tikv/region_request.go
Labels: component/tikv, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#20659 executor: fix auto-id allocation during statements retry
  errors.toml
  executor/insert_common.go
  executor/seqtest/seq_executor_test.go
  sessionctx/variable/error.go
  sessionctx/variable/session.go
Labels: sig/DDL, sig/execution, status/LGT2, type/bug-fix

#20842 planner: fix update statement not blocked by primary
  cmd/explaintest/r/explain_easy.result
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
  util/testkit/testkit.go
Labels: needs-cherry-pick-4.0, rewarded, status/LGT2, status/can-merge

#20892 executor: fix issue of runtime stats of index merge join is wrong
  executor/index_lookup_merge_join.go
  executor/join_test.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, type/bug-fix, type/usability

#20917 *: update the errors dependence to the latest version
  ddl/error.go
  domain/domain.go
  executor/insert_common.go
  expression/errors.go
  go.mod
  go.sum
  kv/error.go
  planner/core/errors.go
  server/server.go
  types/errors.go
  util/collate/collate.go
  util/dbterror/terror.go
Labels: component/expression, needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT2, status/can-merge

#20914 executor: fix panic in `BenchmarkWindowFunctions` `BenchmarkWindowFunctionsWithFrame` and `BenchmarkWindowRows`
  executor/benchmark_test.go
Labels: sig/execution, status/LGT2, status/can-merge

#20581 executor: fix unexpected results when do index merge join on outer join
  executor/index_lookup_merge_join.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20935 test: ignore lumberjack.v2.(*Logger).millRun in leaktest
  util/testleak/leaktest.go
Labels: status/LGT2, status/can-merge

#20287 executor: fix wrong is-null result of ShowExec.fetchShowIndex
  executor/seqtest/seq_executor_test.go
  executor/show.go
  executor/show_test.go
Labels: contribution, rewarded, sig/execution, status/LGT2

#20826 *: fix not precedence in generated column (20612)
  expression/integration_test.go
  expression/simple_rewriter.go
  go.mod
  go.sum
  planner/core/expression_rewriter.go
Labels: component/expression, status/LGT1, status/all-tests-passed, type/4.0-cherry-pick

#20950 planner: enable broadcast join when new collation is on
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plans.go
  planner/core/plan_to_pb.go
Labels: status/LGT2, status/can-merge

#20962 test: fix testPointGetSuite.TestIssue20692 timeout
  planner/core/point_get_plan_test.go
Labels: status/LGT2, status/can-merge

#20396 executor, kv, store/tikv: support cache for point select
  ddl/ddl_api.go
  executor/point_get.go
  executor/point_get_test.go
  kv/cachedb.go
  kv/interface_mock_test.go
  kv/kv.go
  store/tikv/kv.go
  util/mock/store.go
Labels: challenge-program, hptc, require-LGT3, rewarded, sig/DDL, sig/execution, status/LGT3, status/all-tests-passed, status/can-merge

#20897 store, executor: Fix TestCoprocessorOOMAction may get stuck.
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution, status/DNM, status/LGT2, status/can-merge

#20866 executor: update memory usage in batch insert/delete
  executor/delete.go
  executor/insert_common.go
Labels: sig/execution, sig/transaction, status/LGT2, status/can-merge, type/bug-fix

#20926 expression: fix wrong inferred type for sum and avg
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/r/window_function.result
  expression/aggregation/base_func.go
  expression/typeinfer_test.go
  planner/cascades/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/plan_suite_unexported_out.json
  planner/core/testdata/stats_suite_out.json
Labels: component/expression, needs-cherry-pick-4.0, rewarded, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20017 expression, planner: fix decimal results for aggregate functions
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_avg.go
  executor/aggfuncs/func_first_row.go
  executor/aggfuncs/func_max_min.go
  executor/aggfuncs/func_sum.go
  executor/aggregate_test.go
  expression/aggregation/base_func.go
  planner/core/rule_inject_extra_projection.go
Labels: challenge-program, difficulty/easy, high-performance, sig/execution, status/LGT2, status/can-merge

#20862 ddl: ignore integer zerofill size attribute when changing the column types
  ddl/column.go
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
Labels: needs-cherry-pick-4.0, sig/DDL, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#20805 util: support getting the environment memory in container.
  util/memory/meminfo.go
Labels: sig/execution, status/LGT2, status/can-merge

#20908 ddl: use kv.Key as reorg progress marker instead of kv.Handle
  ddl/backfilling.go
  ddl/column.go
  ddl/db_test.go
  ddl/index.go
  ddl/reorg.go
  ddl/reorg_test.go
  ddl/stat.go
  executor/clustered_index_test.go
  meta/meta.go
  meta/meta_test.go
  util/admin/admin.go
  util/admin/admin_test.go
Labels: sig/DDL, sig/execution, status/LGT2, status/can-merge

#20858 executor, types: fix skipped replace when the value is treated as the same in CI collations
  executor/replace.go
  executor/write_test.go
  types/datum.go
  types/datum_test.go
  util/profile/flamegraph_test.go
Labels: component/expression, require-LGT3, rewarded, sig/DDL, sig/execution, status/LGT3, status/can-merge

#20849 ddl: fix the enum's default value where `create table`
  ddl/db_test.go
  ddl/ddl_api.go
  executor/aggfuncs/func_first_row_test.go
  executor/aggfuncs/func_max_min_test.go
  executor/seqtest/seq_executor_test.go
  types/datum.go
  types/enum.go
  types/enum_test.go
  types/set.go
  types/set_test.go
Labels: component/expression, sig/DDL, status/LGT2, status/can-merge

#20933 store/tikv: Make most of async commit's unit test able to run with TiKV
  store/tikv/1pc_test.go
  store/tikv/async_commit_fail_test.go
  store/tikv/async_commit_test.go
Labels: component/test, component/tikv, sig/transaction, status/LGT2, status/can-merge

#20798 ddl: Fix default value of a newly added enum column
  ddl/column.go
  ddl/db_integration_test.go
Labels: require-LGT3, rewarded, sig/DDL, status/LGT3, status/can-merge

#20398 planner: check view recursion when building source from view
  errors.toml
  executor/ddl_test.go
  planner/core/errors.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#20721 variable: add txn_scope sys var
  config/config.go
  config/config.toml.example
  config/config_test.go
  server/server.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: component/config, status/LGT2, status/can-merge

#20964 site: update the broken link about "Contribution Guide" in the README.md
  README.md
Labels: first-time-contributor, status/LGT2, status/can-merge

#20620 server: Add table range api to http status server (#20456)
  server/http_handler.go
  server/http_handler_test.go
  server/http_status.go
Labels: status/LGT2, status/can-merge

#20948 planner: add missing table lock check for fast plan
  planner/core/logical_plan_test.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#20425 planner: fix index merge doesn't take effect when using prefix key
  planner/core/integration_test.go
  planner/core/stats.go
  planner/core/testdata/integration_suite_out.json
Labels: needs-cherry-pick-4.0, sig/planner, status/LGT2, status/can-merge, type/enhancement

#20515 ddl: support table option 'pre_split_regions' for auto_random column
  ddl/ddl_api.go
  ddl/serial_test.go
  ddl/split_region.go
Labels: sig/DDL, status/LGT2, status/can-merge

#20401 DDL: display process of some DDL operations (#19923)
  ddl/column.go
  ddl/index.go
  ddl/reorg.go
  metrics/ddl.go
  metrics/grafana/tidb.json
  metrics/metrics.go
Labels: sig/DDL, status/LGT2, status/can-merge

#20521 *: Move sysvar validation to struct (3 of 3)
  executor/set_test.go
  expression/integration_test.go
  planner/core/common_plans.go
  planner/core/expression_rewriter.go
  session/bootstrap.go
  session/bootstrap_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  tidb-server/main.go
Labels: component/expression, sig/execution, status/LGT2, status/can-merge

#20993 *: fix set tidb_general_log not work
  executor/set_test.go
  server/http_handler.go
  server/http_handler_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: sig/execution, status/LGT2, status/can-merge, type/bug-fix, type/enhancement

#20931 ddl, placement: Provide API to obtain the DC information of partitions
  ddl/placement/utils.go
  ddl/placement/utils_test.go
Labels: sig/DDL, status/LGT2, status/can-merge

#21004 executor: stablize `TestDropStatsFromKV`
  executor/simple_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/can-merge

#20276 tikv: support external consistency when async commit is on
  config/config.go
  config/config.toml.example
  config/config_test.go
  store/tikv/1pc_test.go
  store/tikv/2pc.go
  store/tikv/async_commit_test.go
  store/tikv/prewrite.go
Labels: component/config, sig/transaction, status/LGT2, status/can-merge

#20934 *: fix somes bugs related to the clustered index and the new collation
  executor/mem_reader.go
  expression/integration_test.go
  table/tables/tables.go
  tablecodec/tablecodec.go
  types/field_type.go
  util/rowcodec/decoder.go
Labels: component/expression, sig/execution, status/LGT2, status/can-merge

#19620 planner: don't push down null sensitive join conditions
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  executor/executor_test.go
  executor/join_test.go
  expression/aggregation/base_func_test.go
  expression/aggregation/descriptor.go
  expression/expression.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#20992 planner: generate proper hint for IndexHashJoin / IndexMergeJoin
  go.mod
  go.sum
  planner/core/hints.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_out.json
Labels: epic/sql-plan-management, needs-cherry-pick-4.0, sig/planner, status/LGT2, status/all-tests-passed, type/bug-fix

#20977 executor, planner: fix some cases for natural_using_join
  executor/join_test.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
Labels: needs-cherry-pick-4.0, rewarded, sig/execution, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#20778 ddl: support column type change from date time type to other types
  ddl/column.go
  ddl/column_type_change_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  executor/insert_test.go
  session/schema_amender.go
  types/datum.go
  util/ranger/ranger.go
Labels: component/expression, rewarded, sig/DDL, sig/execution, sig/planner, status/LGT2, status/can-merge

#21017 store/tikv: fix log of sendTxnHeartBeat
  store/tikv/2pc.go
  store/tikv/snapshot.go
Labels: sig/transaction, status/LGT2, status/can-merge, type/bug-fix

#19815 ddl, test: fix deadloop in test about doDDLJob
  ddl/ddl.go
  ddl/restart_test.go
Labels: sig/DDL, status/LGT2

#20418 executor, expression: Fixed the warning messages when calling date_add function failed
  executor/executor_test.go
  expression/bench_test.go
  expression/builtin_time.go
  expression/builtin_time_vec_test.go
Labels: component/expression, needs-cherry-pick-4.0, rewarded, sig/execution, status/LGT2, status/can-merge

#21013 kv: release memory cache if it is too large
  kv/cachedb.go
Labels: hptc, status/LGT2, status/can-merge, type/bug-fix, type/enhancement

#20458 ddl: fix float precision larger than 53
  cmd/explaintest/r/explain_generate_column_substitute.result
  cmd/explaintest/t/explain_generate_column_substitute.test
  ddl/column_type_change_test.go
  errors.toml
  expression/integration_test.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
  types/errors.go
Labels: compatibility-breaker, component/expression, sig/DDL, status/LGT3

#21026 executor: fix the display of large unsigned handle when show table regions
  executor/show_test.go
  executor/split.go
Labels: sig/execution, status/LGT2

#19797 expression: avoid unnecessary warnings/errors when folding constants in shortcut-able expressions
  expression/function_traits.go
  expression/integration_test.go
  planner/core/expression_rewriter.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT3, status/can-merge, status/require-change

#20744 unistore: remove remaining juju/errors dependencies
  go.mod
  go.sum
  store/mockstore/unistore/cophandler/analyze.go
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/cophandler/topn.go
Labels: component/unistore, status/LGT2, status/PTAL, status/can-merge

#20672 planner: add unit test for tidb_opt_prefer_range_scan variable
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: sig/planner, status/LGT2, status/PTAL, status/can-merge

#21006 ddl: release memory cache for all tidb-servers when unlock tables
  ddl/ddl_api.go
  domain/schema_validator.go
  executor/point_get_test.go
Labels: hptc, sig/DDL, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#21027 planner, expression: fix a bug causes schema change after DML
  expression/expression.go
  expression/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/point_get_plan.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, type/bug-fix

#21046 planner: the precision of a decimal type should not be more than MaxDecimalWidth
  expression/aggregation/base_func.go
  expression/typeinfer_test.go
Labels: component/expression, status/LGT3, status/can-merge

#20760 config: hide & deprecate enable-streaming
  config/config.toml.example
Labels: component/config, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT3, status/can-merge

#20960 session, variables: Stream agg concurrency variable
  executor/set_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: first-time-contributor, sig/execution, status/LGT2, status/can-merge

#21042 plannr: build empty range for overflow predicate
  expression/builtin_compare.go
  planner/core/integration_test.go
Labels: component/expression, needs-cherry-pick-4.0, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#21043 executor: fix The JSON Data can not import to TiDB correctly by `load data`
  executor/executor_pkg_test.go
  executor/load_data.go
Labels: needs-cherry-pick-4.0, rewarded, sig/execution, status/LGT2, status/can-merge

#21048 util, executor: parse set value correctly in HashChunkRow
  executor/join_test.go
  util/codec/codec.go
  util/codec/codec_test.go
Labels: component/executor, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20761 *: seperate hash keys from join keys in IndexJoin
  cmd/explaintest/r/explain_join_stats.result
  cmd/explaintest/r/explain_union_scan.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  executor/benchmark_test.go
  executor/builder.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/join_test.go
  expression/testdata/partition_pruner_out.json
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/integration_test.go
  planner/core/physical_plans.go
  planner/core/resolve_indices.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_normalized_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: component/executor, needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/can-merge, type/enhancement

#20904 txn: fix the inconsistency index keys caused by transaction amend for add index
  session/pessimistic_test.go
  session/schema_amender.go
  session/schema_amender_test.go
  store/tikv/2pc.go
Labels: sig/transaction, status/LGT2, status/can-merge, type/bug-fix

#21076 dep: update etcd and other dependencies for lightning and CDC
  executor/brie.go
  go.mod
  go.sum
Labels: sig/execution, status/LGT2, status/can-merge

#20851 util: avoid to create tmp directory if memory-alarm is closed.
  util/disk/tempDir.go
  util/expensivequery/memory_usage_alarm.go
Labels: sig/execution, status/LGT2, status/can-merge

#21034 ddl, session: set charset and coordinate collation
  ddl/ddl_api.go
  executor/set_test.go
  executor/union_scan_test.go
  expression/integration_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Labels: component/expression, sig/DDL, sig/execution, status/LGT2, status/can-merge

#20967 *: refactor parser initialize method and add tidb_enable_strict_double_type_check variable
  ddl/db_integration_test.go
  executor/prepared.go
  go.mod
  go.sum
  planner/cascades/transformation_rules_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  planner/core/physical_plan_test.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
  planner/core/stats_test.go
  session/bootstrap.go
  session/session.go
  session/tidb.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: sig/DDL, sig/execution, status/LGT3, status/can-merge

#21023 executor: fix a potential DATA RACE in TestFastAnalyze
  executor/analyze.go
Labels: sig/execution, status/LGT3, status/can-merge

#20218 pd: rename GetMemberInfo to GetAllMembers
  go.mod
  go.sum
  store/mockstore/mocktikv/pd.go
  store/mockstore/unistore/pd.go
  store/tikv/backoff.go
  store/tikv/kv.go
  store/tikv/store_test.go
Labels: status/LGT3, status/can-merge, status/require-change

#21071 executor: fix unstable test of TestIntegrationCopCache
  executor/executor_test.go
Labels: component/test, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#21032 tikv: fix race at minCommitTS
  store/tikv/prewrite.go
  store/tikv/prewrite_test.go
Labels: sig/transaction, status/LGT2, status/can-merge, type/bug-fix

#21088 planner: fix point get and batch point get should not use invisible index
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: sig/planner, status/LGT2, status/all-tests-passed, status/can-merge

#21039 session: Check the partition placement constraint of local transactions
  ddl/error.go
  ddl/placement/const.go
  ddl/placement_sql_test.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  session/session.go
  sessionctx/variable/session.go
Labels: status/LGT2, status/can-merge

#20686 *: support SQL bind for Update / Delete / Insert / Replace
  bindinfo/bind_test.go
  bindinfo/handle.go
  executor/compiler.go
  planner/core/hints.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
  planner/core/testdata/plan_suite_out.json
  planner/optimize.go
  session/session_test.go
  util/hint/hint_processor.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Labels: component/executor, epic/sql-plan-management, needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/can-merge, type/enhancement

#21085 executor, planner: do not coalesce column for update/delete natural_using_join
  executor/join_test.go
  planner/core/logical_plan_builder.go
Labels: needs-cherry-pick-4.0, sig/execution, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#21038 test: migrate tiflash mock test from mocktikv to unistore
  executor/tiflash_test.go
  go.mod
  go.sum
  store/mockstore/cluster/cluster.go
  store/mockstore/mocktikv/cluster.go
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/cophandler/cop_handler.go
  store/mockstore/unistore/rpc.go
  store/tikv/batch_coprocessor_test.go
Labels: sig/execution, status/LGT2, status/can-merge

#21045 executor: fix show global variables return session variables also (#19341)
  executor/show.go
  executor/show_test.go
Labels: sig/execution, status/LGT2, status/can-merge, type/4.0-cherry-pick

#18973 *: differentiate types for user variables
  executor/executor_test.go
  executor/explainfor_test.go
  executor/prepared_test.go
  executor/set.go
  executor/show_test.go
  executor/testdata/prepare_suite_in.json
  executor/testdata/prepare_suite_out.json
  expression/bench_test.go
  expression/builtin.go
  expression/builtin_other.go
  expression/builtin_other_test.go
  expression/builtin_other_vec.go
  expression/builtin_other_vec_test.go
  expression/distsql_builtin.go
  expression/integration_test.go
  expression/scalar_function.go
  expression/util_test.go
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  sessionctx/variable/session.go
Labels: component/executor, component/expression, needs-cherry-pick-4.0, rewarded, sig/execution, sig/planner, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#20603 planner: disallow multi-updates on primary key
  errors.toml
  executor/executor_test.go
  planner/core/errors.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#21016 ddl: Fix partition value type check
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: sig/DDL, status/LGT5, status/can-merge

#20982 executor: add missing update table delta for TxnCtx
  executor/batch_point_get.go
  executor/executor.go
  executor/executor_test.go
  executor/point_get.go
  sessionctx/variable/session.go
Labels: sig/execution, status/LGT3, status/can-merge

#21015 tikv: add size limit to batch get cache
  store/tikv/snapshot.go
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#21126 plan: fix lock in share mode compile error
  planner/core/rule_column_pruning.go
  session/session_test.go
Labels: sig/planner, sig/transaction, status/LGT2, status/can-merge, type/bug-fix

#21090 *: inject projection for the plan pushed to TiDB
  executor/coprocessor.go
  infoschema/tables_test.go
  planner/core/optimizer.go
  planner/core/pb_to_plan.go
  planner/core/rule_inject_extra_projection.go
Labels: needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#21072 distsql: fix issue of table reader runtime stats display wrong result.
  distsql/distsql_test.go
  distsql/select_result.go
  store/tikv/region_request.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#21127 server: make dump binary time more compatible with MySQL
  server/util.go
  server/util_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge, type/compatibility

#21125 plan: fix the IsSelectForUpdateLockType check
  planner/core/point_get_plan.go
  session/session_test.go
Labels: sig/planner, sig/transaction, status/LGT2, status/can-merge, type/bug-fix

#20927 *: support to modify config server-memory-quota-ratio dynamically
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  util/expensivequery/expensivequery.go
  util/expensivequery/memory_usage_alarm.go
Labels: sig/execution, status/LGT2, status/can-merge

#20544 executor: specially handle empty input for apply's outer child aggregate
  executor/join.go
  executor/join_test.go
Labels: component/executor, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#20980 store: update the PD client to support the Global/Local TSO
  go.mod
  go.sum
  session/pessimistic_test.go
  session/session_test.go
  session/txn.go
  store/mockoracle/oracle.go
  store/mockstore/mocktikv/executor_test.go
  store/mockstore/mocktikv/pd.go
  store/mockstore/unistore/pd.go
  store/tikv/1pc_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/async_commit_test.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/kv.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
  store/tikv/oracle/oracle.go
  store/tikv/oracle/oracles/export_test.go
  store/tikv/oracle/oracles/local.go
  store/tikv/oracle/oracles/local_test.go
  store/tikv/oracle/oracles/pd.go
  store/tikv/oracle/oracles/pd_test.go
  store/tikv/split_region.go
  store/tikv/store_test.go
Labels: component/pd, status/LGT2, status/can-merge

#20867 server: remove prepare stmt if no retry in stmt close()
  server/driver_tidb.go
  server/tidb_test.go
  sessionctx/variable/session.go
Labels: needs-cherry-pick-4.0, sig/transaction, status/LGT2, status/can-merge, type/bug-fix

#20743 expression: fix builtin IF truncation of type len
  expression/builtin_control.go
  expression/expr_to_pb_test.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, status/PTAL, status/can-merge

#20983 tikv: don't set undetermined error for cancelled prewrites
  store/mockstore/unistore/rpc.go
  store/tikv/2pc.go
  store/tikv/async_commit_fail_test.go
  store/tikv/prewrite.go
Labels: sig/transaction, status/LGT2, status/can-merge, type/bug-fix

#21138 planner: ban (index) merge join heuristically when convert eq cond to other cond
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/tpch.result
  executor/testdata/prepare_suite_out.json
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: needs-cherry-pick-4.0, sig/planner, status/LGT2, status/can-merge, type/enhancement

#21099 expression: adjust int constant when compare with year type
  executor/executor_test.go
  expression/builtin_compare.go
  types/time.go
  util/ranger/ranger_test.go
Labels: component/expression, rewarded, sig/execution, sig/planner, status/LGT2, status/can-merge

#20653 executor:Add runtime stat for IndexMergeReaderExecutor
  executor/executor_test.go
  executor/index_merge_reader.go
  util/execdetails/execdetails.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#21158 util: fix wrong calculation to get memory usage.
  util/memory/meminfo.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#21141 log: desensitize of dispatching error and parsing error
  server/conn.go
  session/session.go
  util/misc.go
Labels: needs-cherry-pick-4.0, status/LGT3, status/can-merge, type/enhancement
