Repository pingcap/tidb, pull requests merged in 2020-01, with the labels that each got.

#14235 *: fix schema change validation for partitioned table when transaction commit
  ddl/db_partition_test.go
  domain/domain.go
  domain/schema_validator.go
  domain/schema_validator_test.go
  infoschema/builder.go
  session/session.go
  sessionctx/variable/session.go
Labels: component/DDL-need-LGT3, component/TXN-need-LGT3, needs-cherry-pick-3.0, priority/P1, status/LGT3, status/can merge, type/bug-fix

#14305 ddl: make ddl test more stable
  ddl/db_test.go
Labels: component/test, status/LGT3, status/can merge

#14292 infoschema: add plan digest to slow log and slow_query (#14000)
  executor/adapter.go
  infoschema/slow_log.go
  infoschema/slow_log_test.go
  infoschema/tables_test.go
  planner/core/testdata/plan_normalized_suite_in.json
  planner/core/testdata/plan_normalized_suite_out.json
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
Labels: component/usability, type/3.0 cherry-pick

#14250 ddl: fix anonymous indexes on the `primary` column
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, require-LGT3, status/can merge, type/compatibility

#13837 expression: open push down switcher for part of CAST functions
  cmd/explaintest/r/explain_easy.result
  expression/expr_to_pb.go
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_unexported_out.json
  util/codec/codec.go
Labels: component/expression, status/LGT2, status/can merge

#14311 executor: speed up `TestMemoryAndDiskUsageAfterClose`
  executor/explain_test.go
Labels: component/executor, component/test, status/LGT2, status/can merge

#13772 plan, partition: add fast access path for hash partition
  expression/partition_pruner.go
  expression/partition_pruner_test.go
  expression/testdata/partition_pruner_in.json
  expression/testdata/partition_pruner_out.json
  planner/core/logical_plan_builder.go
  planner/core/rule_partition_processor.go
  table/tables/partition.go
Labels: component/planner, needs-cherry-pick-3.0, status/LGT1, status/all tests passed, status/can merge, type/performance

#14095 bindinfo: change the way of generate hints from sql
  bindinfo/bind_test.go
  bindinfo/cache.go
  bindinfo/handle.go
  bindinfo/session_handle.go
  executor/bind.go
  planner/optimize.go
Labels: status/LGT2, status/can merge, type/bug-fix

#14312 server: support tag sql in pprof result
  config/config.go
  server/conn.go
  tidb-server/main.go
  util/misc.go
Labels: component/server, component/usability, needs-cherry-pick-3.0, status/LGT2, status/can merge

#13468 *: tidy code && prealloc some slice for performance
  ddl/util/syncer_test.go
  executor/admin_test.go
  go.sum
  statistics/feedback.go
  util/rowDecoder/decoder.go
  util/testkit/ctestkit.go
Labels: contribution, status/LGT1, status/PTAL, status/can merge

#14322 server: log last executed prepared stmt when panic (#12905)
  server/conn.go
  server/conn_stmt.go
Labels: component/server, component/usability, status/LGT2, type/3.0 cherry-pick

#12634 *: use new row-format in tidb
  executor/batch_checker.go
  executor/batch_point_get.go
  executor/builder.go
  executor/executor_test.go
  executor/mem_reader.go
  executor/point_get.go
  go.sum
  server/http_handler_test.go
  session/bootstrap.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  store/mockstore/mocktikv/analyze.go
  store/mockstore/mocktikv/cluster_test.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/executor.go
  table/column.go
  table/tables/tables.go
  tablecodec/tablecodec.go
  tablecodec/tablecodec_test.go
  types/datum.go
  util/rowDecoder/decoder.go
  util/rowDecoder/decoder_test.go
  util/rowcodec/bench_test.go
  util/rowcodec/encoder.go
  util/rowcodec/rowcodec_test.go
Labels: component/server, status/LGT1, status/all tests passed, status/can merge, type/enhancement

#14321 *: only add union scan when dirty table is not empty (#14265)
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/t/partition_pruning.test
  executor/union_scan.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  session/txn.go
  sessionctx/context.go
  util/mock/context.go
Labels: component/planner, status/LGT3, status/can merge, type/3.0 cherry-pick, type/performance

#14313 executor: fix cluster log retriever panic
  executor/cluster_reader.go
  executor/cluster_reader_test.go
Labels: component/usability, status/LGT1, status/can merge

#14281 ddl: add support for renaming columns
  ddl/db_test.go
  ddl/ddl_api.go
  go.mod
  go.sum
Labels: component/DDL-need-LGT3, status/LGT2, status/can merge

#14327 rowcodec: fix use origin default value when decode
  executor/builder.go
  executor/executor_test.go
  util/rowcodec/decoder.go
  util/rowcodec/rowcodec_test.go
Labels: component/server, status/LGT1, status/can merge, type/bug-fix

#14315 plan, partition: add fast access path for hash partition (#13772)
  expression/partition_pruner.go
  expression/partition_pruner_test.go
  expression/testdata/partition_pruner_in.json
  expression/testdata/partition_pruner_out.json
  planner/core/logical_plan_builder.go
  planner/core/rule_partition_processor.go
  table/tables/partition.go
Labels: component/planner, status/LGT1, status/can merge, type/3.0 cherry-pick, type/performance

#14314 planner: fix error when select view_name.col_name from view_name
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#14324 ddl: throw warning when `ALTER TABLE ORDER BY` on table with primary key
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL-need-LGT3, contribution, status/LGT1, status/can merge

#14343 mockstore: update pd (#14008)
  go.mod
  go.sum
  store/mockstore/mocktikv/pd.go
  store/tikv/store_test.go
Labels: priority/release-blocker, status/LGT2, status/can merge, type/3.1 cherry-pick

#14323 expression: open CAST string as real push down switcher
  cmd/explaintest/r/explain_easy.result
  expression/builtin_arithmetic.go
  expression/expr_to_pb.go
  go.mod
  planner/core/testdata/plan_suite_out.json
Labels: component/expression, status/LGT2

#14309 planner: do not filter access paths by isolation read for `mysql.SystemDB`
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Labels: component/planner, status/can merge, type/bug-fix

#14352 executor: polish the code of IndexMergeReaderExecutor
  executor/builder.go
  executor/index_merge_reader.go
Labels: component/executor, contribution, status/LGT2, status/can merge

#14286 *: fix static check issues
  bindinfo/handle.go
  executor/admin_test.go
  executor/aggfuncs/func_first_row.go
  executor/analyze.go
  executor/analyze_test.go
  executor/batch_point_get.go
  executor/compiler.go
  executor/executor.go
  executor/explain_unit_test.go
  executor/index_lookup_hash_join.go
  executor/join.go
  executor/load_data.go
  executor/union_scan.go
Labels: contribution, status/can merge

#13967 expression: implement vectorized evaluation for builtinMakeTimeSig
  expression/builtin_time.go
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, status/LGT2, status/can merge

#14356 planner/cascades: refactor the usage of CostLimit
  planner/cascades/optimize.go
  planner/implementation/base.go
  planner/implementation/datasource.go
  planner/implementation/simple_plans.go
  planner/memo/group_test.go
  planner/memo/implementation.go
Labels: component/planner, status/LGT2, status/can merge

#14229 executor: Speed up executor test in branch release-2.1
  config/config.go
  executor/adapter_test.go
  executor/admin_test.go
  executor/analyze_test.go
  executor/ddl_test.go
  executor/distsql_test.go
  executor/executor_test.go
  executor/grant_test.go
  executor/index_lookup_join_test.go
  executor/insert_test.go
  executor/join_test.go
  executor/merge_join_test.go
  executor/metrics_test.go
  executor/prepared_test.go
  executor/revoke_test.go
  executor/rowid_test.go
  executor/seqtest/prepared_test.go
  executor/seqtest/seq_executor_test.go
  executor/set_test.go
  executor/show_stats_test.go
  executor/show_test.go
  executor/simple_test.go
  executor/statement_context_test.go
  executor/trace_test.go
  executor/union_scan_test.go
  executor/update_test.go
  executor/write_test.go
  util/testleak/fake.go
  util/testleak/leaktest.go
Labels: component/executor, component/test, status/LGT2, status/all tests passed, status/can merge

#14200 expression: check ParamMarker in ConstItem when plan cache is enabled
  expression/builtin_encryption_vec.go
  expression/builtin_like.go
  expression/builtin_like_vec.go
  expression/column.go
  expression/column_test.go
  expression/constant.go
  expression/expression.go
  expression/expression_test.go
  expression/integration_test.go
  expression/scalar_function.go
  expression/scalar_function_test.go
  expression/util_test.go
Labels: component/expression, component/planner, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#14357 executor: Speed up unit tests
  executor/ddl_test.go
  executor/distsql_test.go
  executor/executor_test.go
  executor/grant_test.go
  executor/insert_test.go
  executor/simple_test.go
  executor/write_test.go
Labels: component/executor, component/test, status/LGT2, status/can merge

#14302 server: add test for `/debug/sub-optimal-plan` HTTP API
  server/http_handler_test.go
  server/sql_info_fetcher.go
Labels: component/server, status/LGT2, status/all tests passed, status/can merge

#12244 session: print txn_mode in the general log
  server/conn.go
  session/session.go
  sessionctx/variable/session.go
Labels: component/session, status/LGT2, status/can merge, type/enhancement

#14275 expression: fix incorrect error handle in builtInTimeFormat
  expression/builtin_time_vec.go
  expression/builtin_vectorized.go
Labels: component/expression, status/LGT2, status/can merge, type/bug-fix

#14117 ddl: support create/drop expression index
  ddl/column.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/generated_column.go
  ddl/index.go
  ddl/partition.go
  ddl/rollingback.go
  executor/show.go
  executor/show_test.go
  go.mod
  go.sum
  planner/core/preprocess.go
  util/admin/admin.go
  util/admin/admin_test.go
Labels: component/DDL-need-LGT3, status/LGT3, status/PTAL, status/can merge, type/new-feature

#14359 executor: refactor union_scan executor by using txn_mem_buffer_reader (#10673)
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  executor/mem_reader.go
  executor/table_reader.go
  executor/union_scan.go
  executor/union_scan_test.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/executor.go
  tablecodec/tablecodec.go
Labels: component/TXN-need-LGT3, status/LGT2, type/3.0 cherry-pick

#14190 privilege: fix DBIsVisible privilege check
  privilege/privileges/cache.go
  privilege/privileges/cache_test.go
Labels: component/privilege, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#14329 server: support tag sql in pprof result (#14312)
  config/config.go
  go.mod
  server/conn.go
  tidb-server/main.go
  util/misc.go
Labels: component/server, component/usability, status/LGT2, status/can merge, type/3.0 cherry-pick

#14035 executor: fix wrong behavior when `ENUM` column meet Aggregation
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_first_row.go
  executor/aggfuncs/func_first_row_test.go
  expression/aggregation/base_func.go
  types/datum.go
Labels: component/executor, component/expression, contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#14155 bindinfo: fix create time for duplicate bindings
  bindinfo/bind_test.go
  bindinfo/handle.go
  bindinfo/session_handle.go
  go.sum
Labels: status/LGT2, status/can merge, type/bug-fix

#14122 ddl: check if the dropping index is primary key when doing "drop index `primary` on...".
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-3.0, status/LGT3, status/can merge, type/bug-fix

#14248 bindinfo: handle statement hints in bindings
  bindinfo/bind.go
  bindinfo/bind_test.go
  executor/adapter.go
  executor/executor.go
  executor/memory_test.go
  planner/optimize.go
  sessionctx/stmtctx/stmtctx.go
Labels: needs-cherry-pick-3.0, status/can merge, type/bug-fix

#13956 expression: implement vectorized evaluation for `builtinJSONContainsPathSig`
  expression/builtin_json_vec.go
  expression/builtin_json_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#14373 config: Remove Coprocessor Cache config and disable it by default
  config/config.go
  config/config.toml.example
Labels: component/config, status/LGT2, status/can merge

#14270 *: resort fields for reducing the memory allocated
  expression/builtin.go
  expression/builtin_cast_test.go
  expression/column.go
  planner/core/common_plans.go
  planner/core/physical_plans.go
  planner/memo/group.go
  planner/util/path.go
Labels: component/expression, component/planner, contribution, status/can merge

#13453 ddl: add column name to errBlobKeyWithoutLength error
  ddl/db_integration_test.go
  ddl/index.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge

#14376 planner: apply max/min elimination when other aggregations exist
  planner/core/integration_test.go
  planner/core/rule_max_min_eliminate.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: component/planner, status/LGT2, status/can merge, type/enhancement

#14101 *: add builtin aggregate function `VAR_POP`
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_varpop.go
  executor/aggfuncs/func_varpop_test.go
  executor/aggregate_test.go
  expression/aggregation/agg_to_pb.go
  expression/aggregation/base_func.go
  go.mod
  go.sum
  planner/core/rule_aggregation_push_down.go
Labels: component/executor, contribution, status/LGT2, status/can merge

#14374 *: fix schema change validation for partitioned table when transaction commit (#14235)
  ddl/db_partition_test.go
  domain/domain.go
  domain/schema_validator.go
  domain/schema_validator_test.go
  go.sum
  infoschema/builder.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
Labels: status/LGT2, status/all tests passed, status/can merge, type/3.0 cherry-pick, type/bug-fix

#14301 *: support auto_increment_increment & auto_increment_offset.
  executor/insert_common.go
  executor/insert_test.go
  go.mod
  go.sum
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  meta/autoid/errors.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  table/table.go
  table/tables/tables.go
  table/tables/tables_test.go
Labels: needs-cherry-pick-3.0, status/LGT2, status/can merge, type/new-feature

#14368 rowcodec: fix encode corrupted data cause by reuse new encoder
  util/rowcodec/encoder.go
  util/rowcodec/rowcodec_test.go
Labels: component/server, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#14255 information: refactor metric schema and add more metric table.
  domain/domain.go
  executor/explainfor_test.go
  executor/metric_reader.go
  infoschema/metric_schema.go
  infoschema/metric_schema_test.go
  infoschema/metricschema/init.go
  infoschema/metricschema/table.go
  infoschema/metricschema/tables.go
  planner/core/explain.go
  planner/core/logical_plan_builder.go
  planner/core/memtable_predicate_extractor.go
  planner/core/memtable_predicate_extractor_test.go
Labels: component/usability, status/LGT1, status/can merge

#14382 planner: fix panic when generating index merge path for unique index
  planner/core/integration_test.go
  planner/core/stats.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#14369 config, infoschema: enable statement summary by default
  bindinfo/bind_test.go
  config/config.go
  config/config.toml.example
  config/config_test.go
  infoschema/perfschema/tables_test.go
Labels: component/usability, status/LGT2, status/can merge

#14388 session: add auto_increment_offset to global variables' loading list.
  session/session.go
Labels: status/can merge, type/new-feature

#14317 coprocessor: add ddl schema version in request
  distsql/request_builder.go
  go.mod
  go.sum
  kv/kv.go
  store/tikv/coprocessor.go
Labels: component/coprocessor, status/LGT2, status/can merge, type/enhancement

#14383 executor: refactor union scan and dirty table (#11702) (#14057)
  executor/mem_reader.go
  executor/union_scan.go
  executor/union_scan_test.go
  kv/kv.go
  session/pessimistic_test.go
  session/txn.go
  sessionctx/context.go
  store/tikv/2pc.go
  table/index.go
  table/table.go
  table/tables/index.go
  table/tables/tables.go
  tablecodec/tablecodec.go
  util/mock/context.go
Labels: component/TXN-need-LGT3, status/can merge, type/3.0 cherry-pick

#14396 *: support auto_increment_increment & auto_increment_offset. (#14301)
  executor/insert_common.go
  executor/insert_test.go
  go.mod
  go.sum
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  meta/autoid/errors.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  table/table.go
  table/tables/tables.go
  table/tables/tables_test.go
  util/kvencoder/allocator.go
Labels: type/3.0 cherry-pick

#14402 table: avoid write untouched index in auto commit and avoid get untou…
  executor/union_scan_test.go
  table/tables/index.go
  table/tables/tables.go
Labels: status/LGT1, status/can merge, type/3.0 cherry-pick

#13242 types: implement restore function for KindMysqlDuration and KindMysqlTime
  types/parser_driver/value_expr.go
  types/parser_driver/value_expr_test.go
  util/timeutil/time_test.go
Labels: component/parser, status/LGT2, status/can merge, type/enhancement

#14405 types: fix parse date inconsistent with MySQL
  types/time.go
  types/time_test.go
Labels: needs-cherry-pick-3.0, type/bug-fix

#14378 planner: apply max/min elimination when other aggregations exist (#14376)
  planner/core/integration_test.go
  planner/core/rule_max_min_eliminate.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: component/planner, status/LGT1, status/can merge, type/3.0 cherry-pick, type/enhancement

#14385 *: replace conf item `pprof_sql_cpu` with srv var `tidb_pprof_sql_cpu`
  config/config.go
  executor/set_test.go
  server/conn.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
  util/misc.go
Labels: component/server, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/enhancement

#14296 server, tikv: enable unit test run parallel and add parallel flag for go coverage test
  Makefile
  executor/ddl_test.go
  executor/seqtest/seq_executor_test.go
  infoschema/tables_test.go
  server/conn_stmt_test.go
  server/http_handler_test.go
  server/server.go
  server/server_test.go
  server/statistics_handler_test.go
  server/tidb_test.go
  session/tidb.go
  session/tidb_test.go
  statistics/analyze_jobs_test.go
  store/tikv/2pc_test.go
  store/tikv/client_test.go
  store/tikv/isolation_test.go
  store/tikv/sql_fail_test.go
  store/tikv/store_fail_test.go
  store/tikv/store_test.go
  store/tikv/ticlient_test.go
  store/tikv/tikv_test.go
Labels: component/server, component/tikv, status/LGT2, status/all tests passed, status/can merge

#14389 go.mod: update parser for revamped special comment parser
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/parser, component/test, status/LGT2, status/can merge, type/bug-fix

#14379 planner: apply max/min elimination when other aggregations exist (#14376)
  planner/core/integration_test.go
  planner/core/rule_max_min_eliminate.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: component/planner, status/LGT2, status/all tests passed, status/can merge, type/2.1 cherry-pick, type/enhancement

#14391 *: fix snapshot problem in show table status (#13797)
  executor/show.go
  executor/show_stats_test.go
  infoschema/tables.go
  session/session.go
Labels: status/LGT2, status/can merge, type/3.0 cherry-pick

#14354 executor: optimize unit test by unset some serial test suites
  executor/executor_test.go
Labels: component/executor, status/LGT2, status/all tests passed, status/can merge, type/enhancement

#14344 *: support stream when read cluster memory table.
  domain/infosync/info.go
  executor/coprocessor.go
  infoschema/tables_test.go
  planner/core/plan_to_pb.go
  server/rpc_server.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/client.go
  store/tikv/coprocessor.go
Labels: component/executor, component/usability

#14372 bindinfo: do not capture bindings for internal sqls
  bindinfo/bind_test.go
  bindinfo/handle.go
  util/stmtsummary/statement_summary.go
Labels: status/can merge, type/bug-fix

#14249 planner/cascades: add transformation rule PushTopNDownOuterJoin
  planner/cascades/testdata/transformation_rules_suite_in.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/cascades/transformation_rules.go
  planner/cascades/transformation_rules_test.go
Labels: component/planner, contribution, status/LGT1, status/ReqChange, status/can merge

#14112 ddl : support create sequence in TiDB.
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/sequence.go
  ddl/sequence_test.go
  executor/ddl.go
  infoschema/builder.go
  meta/meta.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
Labels: component/DDL-need-LGT3, status/LGT3, status/all tests passed, status/can merge, type/new-feature

#14319 planner,session: add Reload and File privilege, check Reload for the flush statement
  executor/simple_test.go
  go.mod
  go.sum
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
  privilege/privileges/cache_test.go
  privilege/privileges/privileges_test.go
  session/bootstrap.go
  session/bootstrap_test.go
  session/session.go
Labels: component/privilege, status/LGT2, status/all tests passed

#14410 planner: enhance the rule max_min_eliminate to support multiple agg (#12083)
  planner/core/rule_max_min_eliminate.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, status/LGT2, status/can merge, type/3.0 cherry-pick, type/enhancement

#14426 ddl: check if the dropping index is primary key when doing "drop index `primary` on..."
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
Labels: priority/release-blocker, status/LGT2, status/can merge, type/3.0 cherry-pick

#14318 plan, partition: support point get plan on hash partition table
  executor/batch_point_get.go
  executor/point_get.go
  expression/partition_pruner_test.go
  expression/testdata/partition_pruner_in.json
  expression/testdata/partition_pruner_out.json
  planner/core/point_get_plan.go
  planner/core/rule_partition_processor.go
  table/tables/partition.go
Labels: component/planner, status/LGT2, status/all tests passed, type/performance

#14224 planner: add HashCode method for LogicalPlan & use PlanHash for GroupExpr's fingerPrint
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/hashcode.go
  planner/core/plan.go
  planner/memo/expr_iterator_test.go
  planner/memo/group_expr.go
  planner/memo/group_expr_test.go
  planner/memo/group_test.go
Labels: component/planner, status/can merge, type/new-feature

#14407 *: fix ManagedLockTTL race in test
  session/pessimistic_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: component/test, needs-cherry-pick-3.0, status/LGT1, status/can merge

#14420 Makefile: add staticcheck
  Makefile
  ddl/column_test.go
  ddl/db_test.go
  executor/hash_table.go
  executor/index_merge_reader.go
  expression/bench_test.go
  expression/partition_pruner.go
  planner/core/encode.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/rule_partition_processor.go
  staticcheck.conf
  store/tikv/2pc_test.go
  store/tikv/coprocessor_cache.go
  util/stmtsummary/statement_summary.go
Labels: status/LGT3, status/can merge, type/enhancement

#14403 store: fix potential panic in GC worker
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Labels: component/GC, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#13926 Support Green GC
  go.mod
  go.sum
  store/mockstore/mocktikv/rpc.go
  store/tikv/client.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/region_request_test.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: component/GC, status/can merge

#14435 tools: fix wc compatibility problem in check-gogenerate.sh
  tools/check/check-gogenerate.sh
Labels: component/build, contribution, status/LGT2, status/can merge

#13570 proposal: TiDB with WebAssembly
  docs/design/2019-11-18-tidb-with-wasm.md
  docs/design/imgs/wasm-browser-support.png
  docs/design/imgs/wasm-mobile-exception.jpeg
  docs/design/imgs/wasm-run-error-in-browser.png
  docs/design/imgs/wasm-wasi-error.png
Labels: proposal, status/LGT2

#14331 store/helper: fill data in the information.tidb_hot_table for partitioned table
  store/helper/helper.go
Labels: component/infoschema, status/LGT2, status/all tests passed, type/bug-fix

#14416 *: replace conf item `pprof_sql_cpu` with srv var `tidb_pprof_sql_cpu` (#14385)
  config/config.go
  executor/set_test.go
  server/conn.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  tidb-server/main.go
  util/misc.go
Labels: component/server, status/LGT2, status/can merge, type/3.0 cherry-pick, type/enhancement

#14430 planner/cascades: add transformation rule TransformLimitToTableDual
  planner/cascades/testdata/transformation_rules_suite_in.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/cascades/transformation_rules.go
  planner/cascades/transformation_rules_test.go
Labels: component/planner, contribution, status/LGT2, status/can merge

#14386 privilege: fix DBIsVisible privilege check (#14190)
  privilege/privileges/cache.go
  privilege/privileges/cache_test.go
Labels: component/privilege, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#14421 stats: fix panic when init stats for cm sketch
  statistics/cmsketch.go
  statistics/cmsketch_test.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
Labels: component/statistics, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#14446 *: fix transaction lazy initialization in pessimistic mode
  executor/adapter.go
  session/session_test.go
Labels: component/TXN-need-LGT3, needs-cherry-pick-3.0, status/all tests passed, status/can merge, type/bug-fix

#14295 ddl: avoid panic when creating partition table with unsupported expression
  ddl/ddl_api.go
  ddl/partition.go
  table/tables/partition_test.go
Labels: component/DDL-need-LGT3, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#14370 expression,table: fix insert partitioned table bug when the time zone change
  expression/builtin.go
  expression/builtin_compare.go
  expression/builtin_time.go
  expression/scalar_function.go
  go.sum
  table/tables/partition_test.go
Labels: component/expression, needs-cherry-pick-3.0, status/LGT2, status/all tests passed, status/can merge, type/bug-fix

#14406 session: fix race condition for prepare stmt in shutdown or kill
  session/session.go
Labels: component/server, needs-cherry-pick-3.0, status/all tests passed, status/can merge, type/bug-fix

#14471 planner: reset plan id before optimizing point get
  infoschema/perfschema/tables_test.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: component/planner, status/LGT2, status/can merge

#14429 metric_schema: add pd metric tables
  infoschema/metric_schema.go
  infoschema/metric_schema_test.go
Labels: component/usability, status/LGT1, status/can merge

#14459 executor: add check data visibility for point get
  executor/point_get_test.go
  store/tikv/snapshot.go
  store/tikv/txn.go
Labels: component/TXN-need-LGT3, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/can merge, type/bug-fix

#13985 expression: fix builtin function 'round'
  expression/builtin_math_test.go
  types/helper.go
Labels: component/expression, status/LGT2, status/can merge, type/bug-fix

#14444 metrics: add statement deadlock detect duration
  executor/adapter.go
  metrics/metrics.go
  metrics/session.go
Labels: component/metrics, needs-cherry-pick-3.0, status/can merge

#14409 *: support for limiting the number of client connections
  config/config.go
  config/config.toml.example
  config/config_test.go
  domain/global_vars_cache.go
  server/conn.go
  server/server.go
  sessionctx/variable/tidb_vars.go
Labels: component/server, status/LGT2, status/can merge

#14120 expression: disable `int_col <cmp> non-int const` folding for plan cache
  expression/builtin_compare.go
  expression/integration_test.go
  expression/util.go
Labels: component/planner, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#13550 planner: adjust the cost model of Apply
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plans.go
  planner/core/stats.go
  planner/core/task.go
  planner/implementation/simple_plans.go
Labels: component/planner, status/can merge

#14476 expression,table: fix insert partitioned table bug when the time zone change (#14370)
  expression/builtin.go
  expression/builtin_compare.go
  expression/builtin_time.go
  expression/scalar_function.go
  table/tables/partition_test.go
Labels: status/LGT1, type/3.0 cherry-pick, type/bug-fix

#14439 store: fix potential panic in GC worker (#14403)
  store/tikv/gcworker/gc_worker.go
Labels: component/GC, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#14494 rowcoder: fix DatumMapDecoder ignore the sign of handle value
  util/rowcodec/decoder.go
  util/rowcodec/rowcodec_test.go
Labels: component/util, status/LGT2, status/can merge

#14495 session: if txn invalid do not active it and return an error (#13935)
  executor/builder.go
  executor/executor_test.go
  executor/point_get.go
  executor/simple.go
  session/session.go
  session/session_test.go
Labels: status/LGT1, status/can merge, type/2.1 cherry-pick, type/bug-fix

#14502 planner: fix some select condition do not filter by tiflash
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/rule_predicate_push_down.go
Labels: component/planner, status/can merge, type/bug-fix

#14489 test: fix shard row id bits test
  executor/ddl_test.go
Labels: component/test, status/LGT2, status/can merge, type/bug-fix

#14238 Improve the performance of `WindowExec` by using multi-thread hash grouping
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/window_function.result
  cmd/explaintest/t/explain_easy.test
  cmd/explaintest/t/window_function.test
  executor/aggregate_test.go
  executor/benchmark_test.go
  executor/builder.go
  executor/shuffle.go
  executor/window_test.go
  planner/core/explain.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/logical_plan_test.go
  planner/core/physical_plan_test.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/resolve_indices.go
  planner/core/stringer.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  util/plancodec/id.go
Labels: component/executor, contribution, status/LGT2, status/ReqChange, status/all tests passed, type/performance

#14491 ddl: add column name to errBlobKeyWithoutLength error (#13453)
  ddl/db_integration_test.go
  ddl/ddl.go
  ddl/index.go
Labels: status/LGT1, status/can merge, type/2.1 cherry-pick

#14511 executor: fix error when `set names default`
  executor/set.go
  executor/set_test.go
Labels: component/executor, status/LGT2, status/PTAL, status/can merge

#14499 chunk: add clear in RowContainer
  go.sum
  util/chunk/row_container.go
  util/chunk/row_container_test.go
Labels: component/executor, component/util, status/LGT2, status/can merge, type/bug-fix

#14515 expression, executor: correct the funcName for wrapWithIsTrue
  executor/join_test.go
  expression/expression.go
Labels: component/expression, needs-cherry-pick-3.0, status/can merge, type/bug-fix

#14503 expression: optimize unit test
  expression/bench_test.go
  expression/builtin_arithmetic_vec_test.go
  expression/builtin_cast_vec_test.go
  expression/builtin_compare_vec_generated_test.go
  expression/builtin_compare_vec_test.go
  expression/builtin_control_vec_generated_test.go
  expression/builtin_encryption_vec_test.go
  expression/builtin_info_vec_test.go
  expression/builtin_json_vec_test.go
  expression/builtin_like_vec_test.go
  expression/builtin_math_vec_test.go
  expression/builtin_miscellaneous_vec_test.go
  expression/builtin_op_vec_test.go
  expression/builtin_other_vec_generated_test.go
  expression/builtin_other_vec_test.go
  expression/builtin_regexp_vec_const_test.go
  expression/builtin_string_vec_test.go
  expression/builtin_time_test.go
  expression/builtin_time_vec_generated_test.go
  expression/builtin_time_vec_test.go
  expression/builtin_vectorized_test.go
  expression/evaluator_test.go
  expression/generator/compare_vec.go
  expression/generator/control_vec.go
  expression/generator/other_vec.go
  expression/generator/time_vec.go
  infoschema/perfschema/tables_test.go
Labels: component/test, status/LGT2, type/enhancement

#14360 metrics: add grafana and alertmanager scripts
  metrics/alertmanager/tidb.rules.yml
  metrics/grafana/overview.json
  metrics/grafana/tidb.json
  metrics/grafana/tidb_summary.json
Labels: component/metrics, status/can merge

#14450 planner/cascades: add ImplementationRule for MergeJoin
  planner/cascades/implementation_rules.go
  planner/cascades/optimize.go
  planner/cascades/testdata/integration_suite_in.json
  planner/cascades/testdata/integration_suite_out.json
  planner/core/exhaust_physical_plans.go
  planner/implementation/join.go
Labels: component/planner, contribution, status/LGT2, status/can merge

#14519 executor: add vectorized merge join test
  executor/merge_join_test.go
Labels: component/executor, status/LGT1

#14501 store: fix potential panic in GC worker (#14403)
  store/tikv/gcworker/gc_worker.go
Labels: status/LGT2, status/can merge, type/2.1 cherry-pick

#14401 expression: make EvalXXX method of deferred/normal constant consistent
  expression/constant.go
  expression/constant_test.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/can merge, type/bug-fix

#14530 ddl: rename `setval` func for generated column
  ddl/db_integration_test.go
Labels: status/can merge, type/enhancement

#14440 config: add server level isolation read config
  config/config.go
  config/config.toml.example
  config/config_test.go
  planner/core/integration_test.go
  planner/core/planbuilder.go
Labels: component/config, status/LGT2, status/can merge, type/new-feature

#14513 util: wrong memory count when use Tracker.ReplaceChild()
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: component/util, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#14535 test: speed up `TestVectorizedMergeJoin` by removing some test cases
  executor/merge_join_test.go
Labels: component/test, status/LGT2, status/can merge

#14470 stats: fix panic when init stats for cm sketch (#14421)
  statistics/cmsketch.go
  statistics/cmsketch_test.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
Labels: component/statistics, status/all tests passed, status/can merge, type/3.0 cherry-pick

#14468 planner: remove the fields LogicalJoin.LeftJoinKeys and RightJoinKeys
  planner/cascades/testdata/integration_suite_in.json
  planner/cascades/testdata/integration_suite_out.json
  planner/cascades/transformation_rules.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_dp.go
  planner/core/rule_predicate_push_down.go
  planner/core/stats.go
Labels: component/planner, status/LGT2, status/ReqChange, status/can merge

#14464 expression: implement arithmetic vec int divide int sig
  expression/builtin_arithmetic_vec.go
  expression/builtin_arithmetic_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge

#14496 store: fix race in mergeLockScanner
  store/mockstore/mocktikv/cop_handler_dag.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Labels: component/GC, status/LGT2, status/can merge, type/bug-fix

#14544 planner: enhance rule partition pruning
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/t/partition_pruning.test
  planner/core/rule_partition_processor.go
Labels: component/planner, needs-cherry-pick-3.0, status/can merge, type/enhancement

#14524 pre-commit: fixed goword path
  hooks/pre-commit
Labels: contribution, status/LGT2, status/can merge, type/enhancement

#14523 executor: fix wrong behavior when `ENUM` & `SET` column meet Aggregation (release 2.1)
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_first_row.go
  executor/aggfuncs/func_first_row_test.go
  expression/aggregation/descriptor.go
  types/datum.go
Labels: contribution, status/LGT2, status/can merge, type/2.1 cherry-pick

#14549 store: fix another race in mergeLockScanner
  store/tikv/gcworker/gc_worker.go
Labels: component/GC, status/LGT1, status/can merge

#14546 planner: enhance rule partition pruning (#14544)
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/t/partition_pruning.test
  planner/core/rule_partition_processor.go
Labels: component/planner, status/can merge, type/enhancement

#14365 tikv: fix RowKVClient scan method can't rightly break loop
  store/tikv/rawkv.go
Labels: component/tikv, contribution, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#14442 ddl: support drop sequence in TiDB
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/rollingback.go
  ddl/sequence_test.go
  ddl/table.go
  executor/ddl.go
  infoschema/builder.go
  infoschema/infoschema.go
  meta/meta.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  util/admin/admin.go
Labels: component/DDL-need-LGT3, status/LGT3, status/can merge, type/new-feature

#14536 server: cop slow log add context info
  store/tikv/coprocessor.go
Labels: component/server, status/LGT2, status/can merge

#14548 bindinfo: set default db for bindings correctly (#14077)
  bindinfo/bind_test.go
  executor/bind.go
  executor/builder.go
  executor/compiler.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
Labels: status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#14556 expression: fix json_key not compatible with MySQL
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/builtin_json_vec.go
  expression/integration_test.go
Labels: component/expression, contribution, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#14557 session: fix incorrect OPS on unretryable session error
  session/session.go
Labels: component/session, contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#14522 config: change the default value of txn-total-size-limit, add comment about its conflict with binlog
  config/config.go
  config/config.toml.example
Labels: component/config, status/LGT2, status/all tests passed, status/can merge

#14538 test: add some goroutines to leak check white list
  util/testleak/leaktest.go
Labels: component/test, status/LGT2, status/can merge, type/enhancement

#14561 expression: fix json_key not compatible with MySQL (#14556)
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/integration_test.go
Labels: component/expression, contribution, status/LGT2, status/can merge, type/3.0 cherry-pick, type/bug-fix

#14434 planner/cascades: add transformation rule PushLimitDownOuterJoin
  planner/cascades/testdata/transformation_rules_suite_in.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/cascades/transformation_rules.go
  planner/cascades/transformation_rules_test.go
Labels: component/planner, contribution, status/LGT2, status/can merge

#14500 ddl, stats: handle add/trunctate partition events
  ddl/ddl_worker.go
  ddl/partition.go
  ddl/table.go
  ddl/util/event.go
  statistics/handle/ddl.go
  statistics/handle/ddl_test.go
Labels: component/DDL-need-LGT3, component/statistics, needs-cherry-pick-3.0, status/LGT3, status/can merge, type/bug-fix

#14547 types: fix parse DATETIME/TIME from string incompatible with MySQL
  expression/integration_test.go
  types/time.go
  types/time_test.go
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, type/bug-fix

#14505 planner: Fix SMJ hint, support SMJ with descending order.
  executor/builder.go
  executor/merge_join.go
  executor/merge_join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plans.go
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, needs-cherry-pick-3.0, status/LGT2, status/can merge, type/bug-fix

#14578 types: rename local variable
  types/time_test.go
Labels: contribution

#14540 executor: grant table level privilege should check table exist
  executor/grant.go
  executor/grant_test.go
  executor/simple_test.go
  planner/core/integration_test.go
  privilege/privileges/privileges_test.go
  session/session_test.go
Labels: component/privilege, needs-cherry-pick-3.0, status/all tests passed, status/can merge

#14278 *: use 8 byte MysqlTime format
  bindinfo/bind_test.go
  distsql/distsql.go
  executor/split_test.go
  expression/bench_test.go
  expression/builtin_cast_test.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_test.go
  types/convert.go
  types/core_time.go
  types/core_time_test.go
  types/format_test.go
  types/mytime_test.go
  types/time.go
  types/time_test.go
Labels: component/expression, contribution, status/LGT2, status/all tests passed, type/enhancement

#13594 expression: optimize function IN using hashmap
  expression/builtin_other.go
  expression/builtin_other_vec_generated.go
  expression/builtin_other_vec_generated_test.go
  expression/builtin_other_vec_test.go
  expression/distsql_builtin.go
  expression/generator/other_vec.go
  expression/integration_test.go
  expression/scalar_function.go
  types/datum.go
Labels: component/expression, contribution, status/LGT2, status/can merge
