Repository pingcap/tidb, pull requests merged in 2020-03, with the labels that each got.

#15048 tablecodec: move meta constant to common place
  tablecodec/tablecodec.go
Labels: component/util, contribution, status/LGT2, status/can-merge

#15012 ddl, config: add a variable to control the max index length
  config/config.go
  config/config.toml.example
  config/config_test.go
  ddl/ddl.go
  ddl/index.go
  ddl/serial_test.go
Labels: component/DDL, needs-cherry-pick-3.0, priority/release-blocker, require-LGT3, status/can-merge, type/compatibility

#14098 expression: solve bug when using string data in Div
  expression/builtin_arithmetic.go
  expression/expr_to_pb_test.go
  expression/integration_test.go
  expression/typeinfer_test.go
Labels: component/expression, priority/release-blocker, status/all-tests-passed, status/can-merge, type/bug-fix

#14980 Makefile: make native gotest running in log_level=fatal
  Makefile
Labels: component/test, status/LGT2, status/can-merge

#14978 executor: fix unit test of select into file for windows
  executor/select_into_test.go
Labels: component/test, status/LGT2, status/can-merge, type/enhancement

#15004 planner, executor: enable inline projection for index joins
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/topn_push_down.result
  executor/benchmark_test.go
  executor/builder.go
  executor/executor.go
  executor/joiner.go
  planner/cascades/testdata/integration_suite_in.json
  planner/cascades/testdata/integration_suite_out.json
  planner/core/task.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: component/executor, component/planner, status/can-merge

#14966 executor: refactor the tso future in RC isolation
  executor/builder.go
  executor/point_get.go
  planner/optimize.go
  session/session.go
  session/txn.go
  sessionctx/variable/session.go
Labels: component/TXN, component/executor, status/LGT1, status/all-tests-passed, status/can-merge

#14989 *: use SetString() for string instead of SetBytes()
  executor/aggregate.go
  executor/builder.go
  executor/load_data.go
  executor/point_get.go
  executor/set.go
  expression/aggregation/concat.go
  expression/builtin_encryption_test.go
  expression/builtin_time_test.go
  expression/helper.go
  expression/integration_test.go
  infoschema/inspection_schema_test.go
  infoschema/tables.go
  session/bootstrap_test.go
  statistics/feedback.go
  store/mockstore/mocktikv/analyze.go
  store/mockstore/mocktikv/cop_handler_dag.go
  table/column.go
  table/tables/index.go
  tablecodec/tablecodec.go
  types/datum.go
  types/datum_test.go
  util/chunk/row.go
  util/ranger/ranger.go
  util/rowcodec/bench_test.go
  util/rowcodec/decoder.go
  util/rowcodec/rowcodec_test.go
Labels: status/LGT2, status/can-merge, type/bug-fix

#14991 mocktikv: add write op_lock for mocktikv
  server/http_handler_test.go
  session/pessimistic_test.go
  session/session_test.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
Labels: component/TXN, component/server, status/LGT1, status/all-tests-passed, status/can-merge

#14219 privilege: fix atomic problem of `GRANT` and `REVOKE`
  executor/grant.go
  executor/grant_test.go
  executor/revoke.go
  executor/simple.go
Labels: component/privilege, needs-cherry-pick-3.0, status/LGT1, status/all-tests-passed, status/can-merge, status/require-change, type/bug-fix

#15006 collation: fix wrong collation information used in expression calculation
  expression/builtin.go
  expression/builtin_compare.go
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_generated.go
  expression/builtin_other_vec_generated.go
  expression/builtin_string.go
  expression/builtin_string_vec.go
  expression/collation.go
  expression/column.go
  expression/constant.go
  expression/distsql_builtin.go
  expression/expression.go
  expression/generator/compare_vec.go
  expression/generator/other_vec.go
  expression/scalar_function.go
  expression/util_test.go
Labels: component/charset, status/LGT2

#14958 *: Clear the name of some field in explain result.
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/black_list.result
  cmd/explaintest/r/explain-non-select-stmt.result
  cmd/explaintest/r/explain.result
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_generate_column_substitute.result
  cmd/explaintest/r/explain_indexmerge.result
  cmd/explaintest/r/explain_join_stats.result
  cmd/explaintest/r/explain_union_scan.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/topn_pushdown.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/r/window_function.result
  cmd/explaintest/t/explain_easy_stats.test
  executor/executor_test.go
  executor/explain_test.go
  executor/join_test.go
  planner/core/cbo_test.go
  planner/core/common_plans.go
  util/execdetails/execdetails.go
Labels: component/planner, status/LGT1, status/can-merge, type/usability

#15046 server: remove error stack in log file when parsing failed
  server/conn.go
Labels: component/server, contribution, status/LGT2, status/can-merge

#15070 session: fix mis-spell
  session/bootstrap.go
Labels: component/session, contribution, status/LGT2, status/can-merge

#15076 session: add test case for retrying union statement
  go.mod
  go.sum
  session/session_test.go
Labels: component/session, priority/release-blocker, status/LGT2

#15065 binlog_test: fix unit test error in ci
  sessionctx/binloginfo/binloginfo_test.go
Labels: component/test, status/can-merge

#14749 *: support reload tls used by mysql protocol in place
  domain/domain_test.go
  executor/executor_pkg_test.go
  executor/explainfor_test.go
  executor/simple.go
  infoschema/tables_test.go
  planner/core/planbuilder.go
  server/conn.go
  server/server.go
  server/server_test.go
  server/tidb_test.go
  util/misc.go
  util/processinfo.go
Labels: component/server, needs-cherry-pick-3.0, needs-cherry-pick-4.0, security, status/LGT2, status/can-merge, type/enhancement

#14877 sessionctx/variable: fix potential timezone bugs
  sessionctx/variable/varsutil.go
Labels: component/session, contribution, status/LGT2, status/can-merge

#15047 tables: disable UpdateDeltaForTable if TxnCtx is nil
  table/tables/tables.go
Labels: component/statistics, status/LGT2, status/can-merge, type/performance

#15054 executor: refine query metric error message
  executor/metrics_reader.go
Labels: component/executor, status/LGT1

#14970 util.chunk: Add Mutex for flushing to avoid race condition
  util/chunk/disk.go
Labels: component/util, status/LGT2, status/can-merge

#14921 *: fix a bug that the pessimistic lock doesn't work on a partition
  executor/builder.go
  executor/executor.go
  executor/write.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/rule_column_pruning.go
  session/session_test.go
  table/table.go
  table/tables/partition.go
Labels: component/executor, component/planner, needs-cherry-pick-3.0, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#15063 *: support pessimistic lock return values
  executor/point_get.go
  executor/point_get_test.go
  kv/kv.go
  sessionctx/variable/session.go
  store/mockstore/mocktikv/mvcc.go
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
Labels: component/TXN, require-LGT3, status/LGT2, status/can-merge

#15011 executor: fix bug for virtual column in transaction
  executor/builder.go
  executor/table_reader.go
  executor/union_scan.go
  executor/union_scan_test.go
  planner/core/find_best_task.go
Labels: component/TXN, component/executor, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge

#14901 executor: fix hash join benchmark and add a simple hash join test
  executor/benchmark_test.go
  executor/join_pkg_test.go
Labels: component/executor, component/test, status/LGT2, status/can-merge

#14756 *: fix data race for plan cache
  executor/seqtest/prepared_test.go
  expression/integration_test.go
  planner/core/cache.go
  planner/core/point_get_plan_test.go
  planner/core/prepare_test.go
  session/session.go
Labels: component/test, status/LGT1, status/can-merge, type/bug-fix

#14912 expression: add not null flag in PB when constant not null
  expression/expr_to_pb.go
  expression/expr_to_pb_test.go
Labels: component/expression, status/LGT2, status/can-merge, type/bug-fix

#15067 collation: add some collation tests for HashJoinExec, MergeJoinExec and SelectExec
  executor/builder.go
  executor/join.go
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
Labels: component/charset, component/executor, component/test, status/LGT1

#14959 planner: add the implementation for SetCollationExpr
  expression/integration_test.go
  go.mod
  go.sum
  planner/core/expression_rewriter.go
Labels: status/LGT3, status/can-merge, type/new-feature

#15059 tidb-server: print the config file path if error occurs when loading it
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, type/enhancement

#15102 infoschema: Migrate the infoschema's retrieving data logic for 'engine' to executor
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/infoschema, contribution, status/LGT2

#14996 ddl: fix create table with like bug when refer table has tiflash replica (#14918)
  ddl/db_test.go
  ddl/ddl_api.go
Labels: status/can-merge, type/3.1-cherry-pick, type/bug-fix

#15103 infoschema: Migrate the infoschema's retrieving data logic for 'CharacterSets/Collations' to executor
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/executor, component/infoschema, contribution, status/LGT2, status/can-merge

#15058 expression: make TestNowAndUTCTimestamp more stable
  expression/builtin_time_test.go
Labels: component/test, status/LGT2, status/all-tests-passed, status/can-merge

#15055 server: support BatchCommands for rpc server to fix panic in batch connection heartbeat
  server/rpc_server.go
  store/tikv/client.go
  store/tikv/client_fail_test.go
  store/tikv/client_test.go
Labels: component/server, status/LGT1, status/can-merge, type/bug-fix

#14858 test: correct TiDB-style executable comment version for auto_random
  executor/show_test.go
  go.mod
  go.sum
  sessionctx/binloginfo/binloginfo_test.go
Labels: component/test, status/LGT2, status/can-merge

#15051 session: add test case for retrying union statement
  go.mod
  go.sum
  session/session_test.go
Labels: component/session, status/can-merge

#15099 release 3.1: cherry pick TiFlash related PRs
  expression/expr_to_pb.go
  expression/expression.go
Labels: status/can-merge, type/3.1-cherry-pick

#15095 privilege: add DDL and DML privilege check for system tables
  infoschema/perfschema/tables.go
  infoschema/perfschema/tables_test.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: component/infoschema, component/privilege

#14988 store/helper: use random server port in test
  store/helper/helper_test.go
Labels: component/store, component/test, status/LGT1, status/can-merge

#14941 planner/expression: constant propagation and predicate pushdown should be aware of plan cache
  expression/builtin_compare.go
  expression/constant_propagation.go
  expression/partition_pruner.go
  expression/util.go
  planner/core/prepare_test.go
  planner/core/rule_predicate_push_down.go
Labels: component/expression, component/planner, status/LGT2, status/can-merge, type/bug-fix

#15115 infoschema: Migrate the infoschema's retrieving data logic for 'dataForCollationCharacterSetApplicability' to executor
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: challenge-program-2, component/executor, component/infoschema, status/LGT1, status/can-merge

#15107 *: add config diagnose and fix warning
  executor/inspection_result.go
  executor/inspection_result_test.go
  go.mod
  go.sum
  session/session.go
  sessionctx/stmtctx/stmtctx.go
Labels: component/executor, status/LGT2, status/can-merge

#15127 ddl: fix the error message of too long key
  ddl/ddl.go
  ddl/index.go
  ddl/serial_test.go
Labels: component/DDL, needs-cherry-pick-3.0, status/LGT2, status/can-merge

#15100 expression: make `field` and `findInSet` support collation
  executor/aggfuncs/func_max_min.go
  expression/builtin.go
  expression/builtin_compare.go
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_generated.go
  expression/builtin_other_vec_generated.go
  expression/builtin_string.go
  expression/builtin_string_vec.go
  expression/collation_test.go
  expression/generator/compare_vec.go
  expression/generator/other_vec.go
  expression/integration_test.go
  types/compare.go
  types/datum.go
  util/chunk/compare.go
Labels: component/expression, status/LGT2, status/can-merge, type/enhancement

#15092 privilege: fix atomic problem of `GRANT` and `REVOKE` (#14219)
  executor/grant.go
  executor/grant_test.go
  executor/revoke.go
  executor/simple.go
Labels: component/privilege, status/LGT2, status/can-merge, type/3.0-cherry-pick, type/bug-fix

#15119 binlog_test: fix sequence binlog test error in CI
  sessionctx/binloginfo/binloginfo_test.go
Labels: status/LGT1, status/can-merge

#14473 plan: support caching prepare plan for query on hash partition tables
  planner/core/common_plans.go
  planner/core/point_get_plan.go
  planner/core/prepare_test.go
Labels: challenge-program-2, component/planner, needs-cherry-pick-3.0, status/LGT1, status/can-merge, type/bug-fix

#15112 planner: not to generate partial agg when cop task has root conditions
  planner/core/integration_test.go
  planner/core/task.go
Labels: component/planner, status/can-merge, type/bug-fix

#15121 infoschema, planner, executor: add virtual system table `information_schema.inspection_rules`
  executor/builder.go
  executor/executor_pkg_test.go
  executor/inspection_common.go
  executor/inspection_common_test.go
  infoschema/tables.go
  planner/core/logical_plan_builder.go
  planner/core/memtable_predicate_extractor.go
  planner/core/memtable_predicate_extractor_test.go
Labels: component/executor, component/planner, contribution, status/LGT2

#15134 server: fix load leak
  server/conn.go
Labels: component/server, status/can-merge, type/bug-fix

#15132 mocktikv: change pessimistic lock return value skip op_lock in mocktikv
  session/pessimistic_test.go
  store/mockstore/mocktikv/mvcc_leveldb.go
Labels: status/can-merge, type/bug-fix

#15094 test: stablize read lock check case
  session/pessimistic_test.go
Labels: component/test, status/can-merge

#15116 executor: Migrate dataForIndexes from package infoschema to exector
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/executor, contribution, status/LGT2, status/can-merge

#14342 ddl: add a channel to limit multiple DDL jobs writing at the same time
  cmd/ddltest/ddl_test.go
  ddl/column_change_test.go
  ddl/column_test.go
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/foreign_key_test.go
  ddl/index_change_test.go
  ddl/reorg_test.go
  ddl/schema_test.go
  ddl/stat_test.go
  executor/seqtest/seq_executor_test.go
  metrics/metrics.go
Labels: component/DDL, needs-cherry-pick-3.0, status/LGT3, status/can-merge, type/enhancement

#15001 ddl: fix bug of updating tiflash replica status ddl job been stuck.
  ddl/db_change_test.go
  ddl/table.go
Labels: component/DDL, status/can-merge, type/bug-fix

#15145 executor: fix last_insert_id in auto_random mode
  ddl/ddl_api.go
  ddl/serial_test.go
  executor/ddl_test.go
  executor/insert_common.go
  executor/insert_test.go
  meta/autoid/errors.go
Labels: component/executor, needs-cherry-pick-3.1, status/can-merge, type/bug-fix

#15153 util/chunk: fix checkptr validation
  util/chunk/chunk_test.go
  util/chunk/codec_test.go
  util/chunk/column.go
  util/chunk/mutrow.go
  util/chunk/row.go
Labels: component/util, status/LGT2, status/can-merge, type/enhancement

#15129 executor: support SELECT FOR UPDATE for BatchPointGet
  executor/batch_point_get.go
  executor/batch_point_get_test.go
  executor/builder.go
  expression/util_test.go
  kv/kv.go
  kv/memdb_buffer.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
  session/pessimistic_test.go
  store/tikv/txn.go
Labels: component/TXN, component/executor, status/LGT2, status/can-merge

#15125 expression: push collation information down to TiKV and MockTiKV
  expression/distsql_builtin.go
  expression/expr_to_pb.go
  expression/expr_to_pb_test.go
Labels: component/charset, component/expression

#14963 *: fix datum's collation behavior to build correct logical ranges
  cmd/explaintest/config.toml
  ddl/ddl_api.go
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_max_min.go
  executor/mem_reader.go
  expression/builtin_encryption_test.go
  expression/builtin_test.go
  expression/constant.go
  expression/scalar_function.go
  planner/core/exhaust_physical_plans_test.go
  planner/core/expression_rewriter.go
  server/util_test.go
  table/column.go
  table/column_test.go
  tablecodec/tablecodec.go
  types/datum.go
  types/datum_test.go
  types/field_type.go
  types/parser_driver/value_expr.go
  util/chunk/compare.go
  util/chunk/row.go
  util/codec/codec.go
  util/codec/codec_test.go
  util/collate/collate.go
  util/ranger/points.go
  util/ranger/ranger.go
  util/rowcodec/decoder.go
  util/rowcodec/rowcodec_test.go
Labels: component/expression, component/planner, status/can-merge

#15137 server: support check the "CommanName" of tls-cert for status-port(http/grpc)
  config/config.go
  server/http_handler_test.go
  server/http_status.go
  server/tidb_test.go
  tests/cncheckcert/ca-key.pem
  tests/cncheckcert/ca-tidb-test-1.crt
  tests/cncheckcert/client-cert-1.pem
  tests/cncheckcert/client-cert-2.pem
  tests/cncheckcert/client-key-1.pem
  tests/cncheckcert/client-key-2.pem
  tests/cncheckcert/server-cert.pem
  tests/cncheckcert/server-key.pem
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, security, status/all-tests-passed, status/can-merge

#15117 *: fix the same future wait twice in RC transaction
  executor/adapter.go
  executor/builder.go
  session/pessimistic_test.go
  session/session.go
  session/txn.go
  sessionctx/variable/session.go
  store/mockstore/mocktikv/pd.go
Labels: component/TXN, require-LGT3, status/can-merge, type/bug-fix

#15062 executor: move testShowStatsSuite into SerialSuites
  executor/executor_test.go
Labels: component/test, status/LGT2, status/can-merge, type/bug-fix

#14975 expression: Add format_bytes and format_nano_time performance schema functions
  executor/show_test.go
  expression/builtin.go
  expression/builtin_info.go
  expression/builtin_info_test.go
  expression/util.go
Labels: component/expression, contribution, status/LGT2, status/can-merge

#14904 ddl: fix create table like would not split regions on TiKV
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/serial_test.go
Labels: status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#15166 executor: migrate dataForKeyColumnUsage from infoschema to executor
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/executor, contribution, status/LGT2, status/can-merge

#15161 ddl: fix bug of updating tiflash replica status ddl job been stuck. (#15001)
  ddl/db_change_test.go
  ddl/table.go
Labels: component/DDL, type/3.1-cherry-pick

#14816 planner/cascades: add transformation rule EliminateOuterJoinBelowProjection
  planner/cascades/testdata/integration_suite_in.json
  planner/cascades/testdata/integration_suite_out.json
  planner/cascades/testdata/transformation_rules_suite_in.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/cascades/transformation_rules.go
  planner/cascades/transformation_rules_test.go
  planner/core/logical_plans.go
Labels: component/planner, contribution, status/LGT1, status/can-merge

#15172 config: enable dynamic config by default
  config/config.go
  config/config.toml.example
Labels: component/config, status/can-merge

#14968 store: check constraint for "Delete-Your-Writes" records when txn commit
  executor/write_test.go
  go.mod
  go.sum
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/2pc.go
Labels: component/TXN, needs-cherry-pick-3.0, status/LGT2, status/can-merge, type/bug-fix

#15156 *: set charset and collate for string literals correctly
  expression/evaluator_test.go
  expression/helper_test.go
  expression/integration_test.go
  expression/simple_rewriter.go
  go.mod
  go.sum
  planner/core/expression_rewriter.go
  planner/core/expression_test.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  types/benchmark_test.go
  types/field_type.go
  types/field_type_test.go
  types/parser_driver/value_expr.go
  util/codec/codec_test.go
Labels: component/charset, status/LGT2, status/all-tests-passed, status/can-merge

#15079 CODEOWNERS: update codeowner rule for sig exec and planner
  .github/CODEOWNERS
Labels: status/LGT1, status/can-merge, type/enhancement

#15104 executor: add integration test cases for HashAggExec, StreamAggExec, IndexReader and IndexLookup
  expression/integration_test.go
Labels: component/charset, component/executor, component/test, status/all-tests-passed, status/can-merge

#15155 executor,infoschema: move `dataForUserPrivileges` from `infoschema` to `executor`
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/executor, contribution, status/LGT2, status/can-merge

#15183 github: refine bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: contribution, status/LGT2, status/can-merge, type/enhancement

#15180 build: Auto assign issue to project SIG Runtime Kanban/SIG Planner Kanban
  .github/workflows/assign_project.yml
Labels: component/build, status/can-merge

#15189 .github: add labeler action
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: component/build, status/LGT1, type/enhancement

#15192 .github: correct labeler rules
  .github/labeler.yml
Labels: component/build, status/LGT1, type/enhancement

#15190 config: bug fix for the config-check mode
  config/config.go
  tidb-server/main.go
Labels: component/config, status/can-merge, type/bug-fix

#15171 mocktikv: change check conflict in mocktikv in one loop
  store/mockstore/mocktikv/mvcc_leveldb.go
Labels: component/server, status/LGT2, status/can-merge

#15198 .github: update labeler workflow
  .github/workflows/labeler.yml
Labels: component/build, status/LGT1

#15053 ticlient: use arrays to store mutations
  store/tikv/2pc.go
  store/tikv/2pc_fail_test.go
  store/tikv/2pc_test.go
  store/tikv/lock_test.go
  store/tikv/rawkv.go
  store/tikv/region_cache.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  store/tikv/txn.go
Labels: component/TXN, status/LGT2, status/can-merge, type/enhancement

#15201 planner: fix datarace for plan cache config
  planner/core/point_get_plan_test.go
  planner/core/prepare_test.go
Labels: component/planner, component/test, status/LGT2, status/can-merge

#15208 infoschema: migrate `dataForTables` and `dataForPartitions` from package `infoschema` to `executor` #15034 #15037
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/DDL, component/executor, contribution, status/LGT2, status/can-merge

#15114 *: fix a bug that the pessimistic lock doesn't work on a partition (#14921)
  executor/builder.go
  executor/executor.go
  executor/write.go
  expression/builtin_string.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/rule_column_pruning.go
  session/session.go
  session/session_test.go
  table/table.go
  table/tables/partition.go
Labels: component/executor, component/expression, priority/release-blocker, status/all-tests-passed, status/can-merge, type/3.0-cherry-pick, type/bug-fix

#14775 planner, executor: support point get as a option of `DataSource`
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/partition_pruning.result
  executor/batch_point_get.go
  executor/builder.go
  executor/executor_test.go
  expression/testdata/partition_pruner_out.json
  infoschema/perfschema/tables_test.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/physical_plan_test.go
  planner/core/plan_test.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
  planner/core/stringer.go
  planner/core/task.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/plan_normalized_suite_out.json
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/point_get_plan_in.json
  planner/core/testdata/point_get_plan_out.json
  statistics/testdata/stats_suite_out.json
Labels: component/executor, component/planner, status/LGT1, status/can-merge, type/new-feature

#15213 *: replace global mutex random with lock-free FastRand function.
  statistics/sample.go
  store/tikv/backoff.go
  store/tikv/kv.go
  util/random.go
  util/random_test.go
Labels: component/statistics, status/LGT2, status/can-merge, type/performance

#15181 executor: bind the func to memtableRetriever
  executor/infoschema_reader.go
Labels: component/executor, contribution, status/LGT1, status/can-merge

#14937 planner: implement extractCorrelatedCols for DataSource & TopN & Window
  planner/core/integration_test.go
  planner/core/logical_plans.go
  planner/core/rule_column_pruning.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: component/planner, status/LGT1, status/can-merge

#15188 expression,types: wrap ParseUint error with stack
  expression/builtin_cast.go
  expression/builtin_string.go
  expression/scalar_function.go
  types/convert.go
Labels: component/expression, status/can-merge, type/enhancement

#15098 docs: align spilling preference with pingcap/docs
  config/config.toml.example
Labels: component/config, status/LGT1, status/PTAL, status/can-merge

#15186 expression, planner: fix group by and order by with explicit collate
  expression/integration_test.go
  expression/simple_rewriter.go
  planner/core/expression_rewriter.go
Labels: component/expression, component/planner, status/LGT2, status/can-merge

#15139 executer: refine diagnose detail information
  executor/inspection_result.go
  executor/inspection_result_test.go
  infoschema/metric_table_def.go
Labels: component/DDL, component/executor

#15219 *: reduce the allocation caused by Datum.Copy
  executor/admin.go
  executor/insert_common.go
  executor/update.go
  expression/aggregation/first_row.go
  expression/aggregation/max_min.go
  expression/aggregation/util.go
  statistics/feedback.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
  statistics/sample.go
  types/datum.go
  types/datum_test.go
  util/ranger/types_test.go
Labels: component/executor, component/expression, component/planner, component/statistics, status/LGT2, status/can-merge, type/performance

#15228 infoschema, planner: fix wrong `table_names` in statement summary
  infoschema/perfschema/tables_test.go
  planner/core/point_get_plan.go
  util/stmtsummary/statement_summary.go
Labels: component/infoschema, needs-cherry-pick-3.0, status/can-merge

#15210 infoschema: fix show information_schema.table default value bug and refine metric table comment.
  executor/inspection_summary.go
  go.mod
  go.sum
  infoschema/metric_table_def.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/DDL, component/executor, component/infoschema, type/enhancement

#15128 infoschema: change table_type for system tables
  executor/infoschema_reader.go
  infoschema/tables_test.go
Labels: component/DDL, component/executor, component/infoschema

#15144 expression: support sequence function unfold
  ddl/sequence_test.go
  expression/chunk_executor.go
  expression/function_traits.go
  sessionctx/binloginfo/binloginfo_test.go
  store/tikv/2pc.go
Labels: component/DDL, component/expression, status/can-merge, type/enhancement

#15071 upgrade pd-client to support pd client tls reload
  cmd/ddltest/ddl_test.go
  cmd/explaintest/main.go
  config/config_handler.go
  config/config_handler_test.go
  go.mod
  go.sum
  server/http_handler_test.go
  server/server_test.go
  server/statistics_handler_test.go
  server/tidb_test.go
  store/mockstore/mocktikv/mock.go
  store/mockstore/mocktikv/pd.go
  store/mockstore/tikv.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/interface.go
  store/tikv/kv.go
  store/tikv/lock_resolver.go
  store/tikv/oracle/oracles/pd.go
  store/tikv/pd_codec.go
  store/tikv/rawkv.go
  store/tikv/region_cache.go
  store/tikv/store_test.go
  store/tikv/test_util.go
  tidb-server/main.go
Labels: component/build, needs-cherry-pick-3.0, security, status/LGT1, status/all-tests-passed, status/can-merge

#15245 executor: fix data race on TestPrepareCacheForPartition
  executor/infoschema_reader_test.go
Labels: component/executor, status/LGT2, status/can-merge

#15237 test: make rand test stable
  util/random_test.go
Labels: component/test, status/LGT2, status/can-merge

#15227 *: refine the table.Table interface
  ddl/ddl_api.go
  ddl/table.go
  executor/executor.go
  executor/infoschema_reader.go
  executor/insert_common.go
  executor/show.go
  executor/write.go
  infoschema/infoschema.go
  infoschema/tables.go
  meta/autoid/autoid.go
  table/table.go
  table/tables/tables.go
  table/tables/tables_test.go
Labels: component/DDL, component/executor, status/LGT1, type/enhancement

#15218 *: update memdb to use new fast random util
  kv/memdb/memdb.go
  kv/memdb/memdb.s
  server/server.go
  statistics/sample.go
  store/tikv/backoff.go
  store/tikv/kv.go
  util/fastrand/random.go
  util/fastrand/random_test.go
  util/misc_test.go
Labels: component/statistics, component/util, status/LGT2, status/can-merge

#15255 workflow: Auto label component/config
  .github/labeler.yml
Labels: component/build, status/LGT2, status/can-merge

#15251 config: change default oom action to cancel
  config/config.go
  config/config.toml.example
  executor/executor_test.go
  executor/infoschema_reader_test.go
  executor/seqtest/seq_executor_test.go
Labels: component/config, component/executor, status/LGT2, status/can-merge

#15096 server: remove tmp-storage-path start option
  tidb-server/main.go
Labels: component/server, status/LGT2, status/can-merge

#15236 metrics: add new transaction metrics to grafana script
  executor/adapter.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/session.go
Labels: component/executor, component/metrics, status/can-merge

#15241 show: fix show create table sequence_name
  executor/executor_test.go
  executor/show.go
  executor/show_test.go
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
Labels: component/executor, status/can-merge

#15084 *: deprecate system variables tidb_mem_quota_XXX
  distsql/distsql_test.go
  distsql/request_builder_test.go
  executor/distsql.go
  executor/executor_required_rows_test.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/index_merge_reader.go
  executor/join.go
  executor/merge_join.go
  executor/seqtest/seq_executor_test.go
  executor/set_test.go
  executor/sort.go
  executor/table_reader.go
  sessionctx/variable/session.go
  sessionctx/variable/tidb_vars.go
Labels: component/config, component/executor, release-note, status/LGT2, status/PTAL, status/can-merge, type/compatibility

#15244 txn: fix UpdateForUpdateTS for non autocommit pessimistic mode
  executor/adapter.go
  executor/builder.go
  session/pessimistic_test.go
Labels: component/TXN, component/executor, status/LGT3, status/can-merge, type/bug-fix

#15249 .github: reschedule labeler action from every 3 min to 6 min
  .github/workflows/labeler.yml
Labels: component/build, status/LGT2, status/can-merge, type/enhancement

#15250 expression: return `binary` charset and collation if there is no string-type argument in `DeriveCollationFromExprs`
  expression/builtin_info.go
  expression/builtin_json.go
  expression/builtin_miscellaneous.go
  expression/builtin_string.go
  expression/builtin_time.go
  expression/collation.go
  expression/collation_test.go
  expression/typeinfer_test.go
Labels: component/expression, status/LGT2, status/can-merge

#15262 ddl: show max allocate times when an auto_random table is created
  ddl/ddl_api.go
  ddl/serial_test.go
  meta/autoid/errors.go
Labels: component/DDL, status/LGT2, status/can-merge, type/usability

#15260 executor: fix the data race on TestDataForTableStatsField and TestPartitionsTable
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
Labels: component/executor, status/LGT2, status/can-merge, type/bug-fix

#15247 *: update explain info of outer hash joins
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_join_stats.result
  cmd/explaintest/r/explain_union_scan.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  executor/join_test.go
  executor/merge_join_test.go
  executor/testdata/agg_suite_out.json
  expression/testdata/expression_suite_out.json
  expression/testdata/partition_pruner_out.json
  planner/cascades/testdata/integration_suite_out.json
  planner/core/cbo_test.go
  planner/core/explain.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_normalized_suite_out.json
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/point_get_plan_out.json
  util/ranger/testdata/ranger_suite_out.json
Labels: component/executor, component/planner, status/LGT1, status/can-merge

#15240 executor,infoschema: move `dataForTableConstraints` into executor
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/DDL, component/executor, contribution, status/LGT2, status/can-merge

#14936 expression: fix decimal of function FROM_UNIXTIME
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#15267 executor,infoschema: move `dataForSessionVar` into executor
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/DDL, component/executor, contribution, status/LGT2, status/can-merge

#15273 store: fix timing of prewrite binlog in slow log
  executor/slow_query.go
  infoschema/tables.go
  infoschema/tables_test.go
  store/tikv/2pc.go
  util/execdetails/execdetails.go
Labels: component/DDL, component/executor, needs-cherry-pick-3.0, status/LGT1, status/can-merge, type/bug-fix, type/enhancement

#15263 expression: fix invalid evaluation in `builtinDateFormat`
  expression/builtin_time.go
Labels: component/expression, status/LGT2, type/bug-fix

#15193 expression: vectorized builtinSleepSig
  expression/bench_test.go
  expression/builtin_miscellaneous.go
  expression/builtin_miscellaneous_vec.go
  expression/builtin_miscellaneous_vec_test.go
  expression/evaluator_test.go
Labels: component/expression, contribution, status/LGT2, status/can-merge

#15276 store: fix timing of prewrite binlog in slow log (#15273)
  go.sum
  infoschema/slow_log.go
  infoschema/tables_test.go
  store/tikv/2pc.go
  util/execdetails/execdetails.go
Labels: component/DDL, component/executor, status/can-merge, type/3.0-cherry-pick, type/bug-fix, type/enhancement

#15238 infoschema: Migrate `dataForMetricTables` from package `infoschema` to `executor`
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/DDL, component/executor, contribution, status/can-merge

#15257 planner: push down Lock to PointGet and BatchPointGet
  cmd/explaintest/r/explain-non-select-stmt.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_generate_column_substitute.result
  executor/adapter.go
  executor/builder.go
  executor/executor.go
  executor/point_get.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/optimizer.go
  planner/core/planbuilder.go
  planner/optimize.go
  session/pessimistic_test.go
  session/session.go
Labels: component/executor, component/planner, status/LGT2, status/can-merge

#15202 executor: Migrate dataForStatistics, dataForTikVRegionPeers, dataForTiDBHotRegions from package infoschema to executor
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/tables.go
Labels: component/DDL, component/executor, contribution, status/can-merge

#15266 server: make unique index could be used in fast path for batch point get, and do lock keys
  executor/batch_point_get.go
  planner/core/point_get_plan.go
  session/pessimistic_test.go
Labels: component/TXN, component/executor, require-LGT3, status/can-merge

#15223 server: integrate failpoint into status service
  server/http_handler_test.go
  server/http_status.go
Labels: component/server, status/can-merge, type/enhancement

#15280 workflow: assign Planner/Runtime's PRs to Kanban
  .github/workflows/assign_project.yml
Labels: component/build, status/LGT2, status/can-merge

#14934 expression: vectorized builtinDateFormatSig
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, contribution, status/LGT2, status/can-merge

#15277 errno: move the error code from the parser/mysql to tidb/errno
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/error.go
  ddl/sequence_test.go
  domain/domain.go
  domain/domain_test.go
  errno/errcode.go
  errno/errname.go
  executor/errors.go
  executor/seqtest/seq_executor_test.go
  infoschema/error.go
  infoschema/infoschema.go
  kv/error.go
  meta/autoid/errors.go
  planner/core/errors.go
  plugin/errors.go
  privilege/privileges/errors.go
  server/server.go
  server/server_test.go
  session/tidb.go
  sessionctx/variable/error.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  store/tikv/error.go
  structure/structure.go
  table/table.go
  table/table_test.go
  tablecodec/tablecodec.go
  types/errors.go
  types/json/constants.go
  util/admin/admin.go
  util/memory/action.go
  util/memory/tracker_test.go
  util/ranger/points.go
Labels: component/DDL, component/executor, component/expression, component/planner, needs-cherry-pick-3.0, status/all-tests-passed, status/can-merge

#15174 expression: support different expr push down for TiKV and TiFlash
  cmd/explaintest/r/tpch.result
  executor/reload_expr_pushdown_blacklist.go
  expression/aggregation/aggregation.go
  expression/expr_to_pb.go
  expression/expr_to_pb_test.go
  expression/expression.go
  kv/kv.go
  planner/cascades/transformation_rules.go
  planner/core/find_best_task.go
  planner/core/rule_predicate_push_down.go
  planner/core/task.go
Labels: component/executor, component/expression, needs-cherry-pick-3.1, status/can-merge, type/enhancement

#15286 workflow: remove PR auto assignment
  .github/workflows/assign_project.yml
Labels: component/build, status/LGT1, status/can-merge

#15242 executor: use deep copy for maxMin4JSON
  executor/aggfuncs/func_max_min.go
  executor/aggregate_test.go
Labels: component/executor, status/LGT1, status/can-merge, type/2.1-cherry-pick, type/3.0-cherry-pick, type/3.1 cherry-pick, type/bug-fix

#14651 planner/cascades: add transformation rule PullSelectionUpApply & TransformApplyToJoin
  planner/cascades/testdata/integration_suite_in.json
  planner/cascades/testdata/integration_suite_out.json
  planner/cascades/testdata/transformation_rules_suite_in.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/cascades/transformation_rules.go
  planner/cascades/transformation_rules_test.go
  planner/core/expression_rewriter.go
  planner/core/logical_plans.go
  planner/core/plan.go
  planner/core/resolve_indices.go
  planner/core/rule_decorrelate.go
  planner/memo/pattern.go
Labels: component/planner, status/PTAL, status/can-merge

#15230 UCP: Migrate `dataForTiDBClusterInfo` from package `infoschema` to `executor`
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
  tools/check/go.sum
Labels: component/DDL, component/executor, contribution, status/LGT1, status/can-merge

#15287 server: fix tls setup and error log
  config/config.go
  server/http_status.go
  server/server.go
  server/tidb_test.go
Labels: component/config, needs-cherry-pick-3.0, needs-cherry-pick-3.1, security, status/all-tests-passed, status/can-merge, type/bug-fix

#14304 ddl: not to overwrite column charsets when altering table charset without 'convert to'
  ddl/db_integration_test.go
  ddl/ddl_api.go
  ddl/table.go
Labels: component/DDL, status/LGT2, status/can-merge, type/bug-fix

#15296 infoschema: remove the inspection_schema
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  executor/inspection_result.go
  executor/memtable_reader.go
  infoschema/infoschema_test.go
  infoschema/inspection_schema.go
  infoschema/inspection_schema_test.go
  infoschema/metrics_schema_test.go
  infoschema/tables_test.go
  meta/autoid/autoid.go
  server/http_handler_test.go
  sessionctx/variable/session.go
  util/misc.go
Labels: component/DDL, component/executor, component/infoschema, status/LGT1

#15220 executor: fix error message when inserting an invalid value for type datetime
  executor/insert_test.go
  types/time.go
Labels: component/executor, component/expression, status/LGT2, status/can-merge, type/bug-fix

#15072 store/tikv: handle the large transaction commit dead lock
  store/mockstore/mocktikv/rpc.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
Labels: component/TXN, needs-cherry-pick-3.0, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#15300 txn: get txn status does not block if txn not found
  session/pessimistic_test.go
  store/tikv/lock_resolver.go
Labels: component/TXN, status/LGT3, status/can-merge

#15290 planner: forbid converting subqueries to inner-joins if the left and the right key have different collations
  expression/integration_test.go
  planner/core/expression_rewriter.go
Labels: component/expression, component/planner, status/LGT2, status/can-merge

#15326 copr: fix inconsistant behavior caused by push down dayname
  expression/expression.go
Labels: component/expression, contribution, status/can-merge

#15049 expression: update builtinLike to be collation-aware
  expression/builtin_like.go
  expression/builtin_like_test.go
  expression/builtin_like_vec.go
  expression/distsql_builtin.go
  expression/evaluator_test.go
  expression/integration_test.go
  util/collate/collate.go
  util/collate/general_ci.go
  util/stringutil/string_util.go
Labels: component/expression, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#15321 expression: fix the issue that casting a string to a real number is not compatible with MySQL
  expression/integration_test.go
  types/convert.go
  types/convert_test.go
Labels: component/expression, status/LGT2, status/can-merge, type/bug-fix

#15324 server: stop the server when writing binlog failed
  metrics/server.go
  server/conn.go
  server/server.go
Labels: component/server, needs-cherry-pick-3.0, release-note, status/LGT2, status/all-tests-passed, status/can-merge

#15320 tikv: replace WithTimeout with time.NewTimer in sendBatchRequest
  store/tikv/client_batch.go
Labels: status/can-merge, type/performance

#15297 tikv: reduce call of TiKVSendReqHistogram.WithLabelValues
  store/tikv/client.go
Labels: status/LGT2, status/can-merge, type/performance

#15339 server: stop the server when writing binlog failed (#15324)
  metrics/server.go
  server/conn.go
  server/server.go
Labels: compatibility-breaker, priority/release-blocker, release-note, status/can-merge, type/3.0 cherry-pick
