Repository pingcap/tidb, pull requests merged in 2020-04, with the labels that each got.

#15876 ddl: fix unexpected error when altering table default collation
  ddl/ddl_api.go
  ddl/serial_test.go
  ddl/table.go
Labels: component/DDL, needs-cherry-pick-4.0, status/LGT3, status/can-merge, type/bug-fix

#15591 executor, infoschema: Migrate dataForTiKVStoreStatus from package infoschema to executor
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/tables.go
Labels: component/DDL, component/executor, contribution

#15838 expression: fix sequence function usage privilege check
  ddl/sequence_test.go
  expression/builtin_info.go
  expression/errors.go
Labels: component/DDL, component/expression, status/can-merge

#15903 Executor: add disk tracker for Sort Executor
  executor/sort.go
  executor/sort_test.go
Labels: component/executor, status/LGT1, status/LGT2, status/can-merge

#15928 test: stable fail point test
  store/tikv/store_test.go
Labels: component/test, needs-cherry-pick-4.0, status/can-merge

#15806 ddl: added (ddl.DDL).Create{Table,Schema}WithInfo
  ddl/column.go
  ddl/column_test.go
  ddl/db_partition_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/partition.go
  executor/show_test.go
  table/tables/partition_test.go
Labels: component/DDL, component/executor, needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/release-blocker, status/all-tests-passed, status/can-merge, type/enhancement

#15914 expression: fix wrong inference of collation
  expression/collation.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#15429 planner: invalidate cached plan if no UnionScan for tables that need it
  executor/executor.go
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/logical_plan_builder.go
  planner/core/prepare_test.go
  planner/core/util.go
  sessionctx/stmtctx/stmtctx.go
Labels: component/executor, component/planner, needs-cherry-pick-4.0, priority/release-blocker, status/LGT2, status/can-merge, type/bug-fix

#15902 expression: fix the bug that cannot perform vectorized expression evaluation
  expression/chunk_executor.go
  expression/expression_test.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#15845 statistics: fix panic when merge topn
  executor/analyze_test.go
  statistics/cmsketch.go
Labels: component/executor, component/statistics, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/release-blocker, status/LGT2, status/can-merge, type/bug-fix

#15861 ddl: fix drop index failed when index contain auto_increment column and the auto_increment column is primary key
  ddl/index.go
  ddl/serial_test.go
Labels: component/DDL, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#15860 executor/inspect: refactor current-load diagnosis rule to node-check
  executor/inspection_result.go
  executor/inspection_result_test.go
  infoschema/metric_table_def.go
Labels: component/DDL, component/executor, status/LGT2, status/can-merge

#15947 planner: fix panic when get NominalSort's stats
  planner/cascades/implementation_rules.go
  planner/core/exhaust_physical_plans.go
  planner/core/initialize.go
  planner/core/integration_test.go
Labels: component/planner, needs-cherry-pick-4.0, status/LGT1, status/can-merge, type/bug-fix

#15955 expression: fix wrong inference of collation (#15914)
  expression/collation.go
  expression/integration_test.go
Labels: compatibility-breaker, component/expression, priority/release-blocker, status/all-tests-passed, status/can-merge

#15962 expression: fix wrong result of `Not`/`IsTrue`/`IsFalse` functions (#10498)
  expression/builtin_op.go
  expression/builtin_op_test.go
  expression/distsql_builtin.go
  go.mod
  go.sum
Labels: component/expression, status/can-merge, type/3.1-cherry-pick, type/bug-fix

#15952 planner, executor: fix wrong result of semijoin for INLHashJoin
  executor/index_lookup_hash_join.go
  executor/join_test.go
  executor/joiner.go
  planner/core/exhaust_physical_plans.go
Labels: component/executor, needs-cherry-pick-4.0, priority/release-blocker, status/LGT2, status/can-merge, type/bug-fix

#15889 statistic: fix error when fast analyze on only indexes
  executor/analyze.go
  executor/analyze_test.go
Labels: component/executor, component/statistics, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/release-blocker, status/LGT1, status/all-tests-passed, status/can-merge, type/bug-fix

#15888 exprssion, planner: fix the uncorrect behavior when finding access conditions
  expression/simple_rewriter.go
  planner/core/logical_plans.go
  planner/core/logical_plans_test.go
  planner/util/path.go
Labels: component/expression, component/planner, needs-cherry-pick-4.0, priority/release-blocker, status/all-tests-passed, type/bug-fix

#15915 expression: fix wrong result of `Not`/`IsTrue`/`IsFalse` functions (#10498)
  expression/builtin_op.go
  expression/builtin_op_test.go
  expression/distsql_builtin.go
  go.mod
  go.sum
  statistics/cmsketch_test.go
Labels: component/expression, component/statistics, status/LGT2, status/can-merge, type/2.1-cherry-pick, type/bug-fix

#15936 executor: do not log slow query for pessimistic write conflict retry …
  executor/adapter.go
Labels: component/executor, type/3.0-cherry-pick

#15916 expression: fix wrong result of `Not`/`IsTrue`/`IsFalse` functions (#10498)
  expression/builtin_op.go
  expression/builtin_op_test.go
  expression/distsql_builtin.go
  go.mod
  go.sum
Labels: component/expression, status/LGT2, status/can-merge, type/3.0-cherry-pick, type/bug-fix

#15500 planner: push aggregation functions with distinct to cop
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/tpch.result
  executor/aggregate_test.go
  expression/aggregation/agg_to_pb.go
  expression/aggregation/agg_to_pb_test.go
  planner/cascades/integration_test.go
  planner/cascades/testdata/integration_suite_in.json
  planner/cascades/testdata/integration_suite_out.json
  planner/cascades/transformation_rules.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/task.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: component/executor, component/planner, needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/release-blocker, status/LGT2, status/all-tests-passed, type/new-feature

#15963 executor: avoid allocating too much memory in newRowHashMap with pseudo statistic
  executor/builder.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#15913 executor: fix building hash table with TypeNull when join
  executor/join_test.go
  util/codec/codec.go
  util/codec/codec_test.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#15808 ddl: Refine the error message of `add index`, to avoid error overwritten
  ddl/db_change_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  ddl/serial_test.go
  executor/executor_test.go
Labels: component/DDL, component/executor, contribution, status/LGT2, status/can-merge

#15997 planner: fix push down distinct when need to inject projection
  planner/cascades/testdata/integration_suite_in.json
  planner/cascades/testdata/integration_suite_out.json
  planner/core/task.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, needs-cherry-pick-4.0, priority/P1, priority/release-blocker, status/LGT1, type/bug-fix

#15944 info_schema: fix memtable column flag type
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/DDL, component/executor, component/infoschema, needs-cherry-pick-4.0, status/can-merge, type/bug-fix

#15894 planner: fix wrong outer join elimination when join key is empty
  cmd/explaintest/r/topn_push_down.result
  planner/core/integration_test.go
  planner/core/rule_join_elimination.go
Labels: component/planner, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#15412 parser: apply feature-ids special comments to auto_random
  executor/show.go
  executor/show_test.go
  go.mod
  go.sum
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
  types/parser_driver/special_cmt_ctrl.go
Labels: component/executor, component/parser, status/LGT3, status/all-tests-passed, status/can-merge

#16021 test: try to fix race
  ddl/ddl.go
Labels: component/test, status/can-merge

#15871 executor: fix tiflash store information in cluster_info table
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  store/tikv/region_cache.go
Labels: component/DDL, component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#15203 executor: implemented exclusive lock for temp storage dir per tidb instance
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/executor_test.go
  go.mod
  go.sum
  tidb-server/main.go
  util/chunk/chunk_test.go
  util/chunk/disk.go
Labels: component/config, component/executor, contribution, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge, status/require-change

#16015 planner: fix redundant brackets cause full group by check failed (#14955)
  executor/aggregate_test.go
  planner/core/logical_plan_builder.go
Labels: component/executor, component/planner, status/LGT2, status/can-merge, type/3.1-cherry-pick, type/bug-fix

#15960 planner: add warning when use_index_merge hint's index names are invalid
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: component/planner, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16013 *: show correct result for system variable tidb_capture_plan_baselines
  bindinfo/bind_test.go
  executor/set.go
  sessionctx/variable/varsutil.go
Labels: component/bindinfo, component/executor, component/planner, status/LGT2, status/can-merge, type/bug-fix

#15606 executor: Improve the performance of `aggFuncAvg` by using sliding window
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_avg.go
  executor/benchmark_test.go
  executor/window_test.go
Labels: component/executor, contribution, status/LGT2, status/can-merge

#15931 *: use the revertable sandbox to buffer mutations
  ddl/ddl_worker.go
  executor/executor_test.go
  executor/insert.go
  executor/insert_common.go
  kv/buffer_store.go
  kv/buffer_store_test.go
  kv/interface_mock_test.go
  kv/kv.go
  kv/mem_buffer_test.go
  kv/memdb/arena.go
  kv/memdb/memdb.go
  kv/memdb/memdb_test.go
  kv/memdb_buffer.go
  kv/mock_test.go
  kv/union_store.go
  kv/union_store_test.go
  kv/utils_test.go
  session/session.go
  session/txn.go
  sessionctx/variable/session.go
  store/tikv/kv.go
  store/tikv/txn.go
  table/tables/tables.go
  util/mock/context.go
Labels: component/executor, component/transaction, status/LGT2, status/can-merge

#15536 statistics: fix repetitive selectivity accounting and stabilify the result
  statistics/selectivity.go
  statistics/selectivity_test.go
Labels: component/statistics, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#15848 *: fix setval in another session return num when it is already satisfied in meta
  ddl/sequence_test.go
  meta/autoid/autoid.go
  table/tables/tables.go
Labels: component/DDL, needs-cherry-pick-4.0, status/all-tests-passed, status/can-merge, type/bug-fix

#15895 util/hint: resolve semantically equivalent bindings into a single one
  bindinfo/bind_test.go
  bindinfo/cache.go
  planner/core/cbo_test.go
  planner/core/testdata/plan_suite_out.json
  util/hint/hint_processor.go
Labels: component/bindinfo, component/executor, component/planner, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#16049 ddl: skip write binlog when ddl type is update tiflash replica status
  ddl/ddl_worker.go
Labels: component/DDL, status/can-merge

#16054 statistics: fix repetitive selectivity accounting and stabilify the result (#15536)
  statistics/selectivity.go
  statistics/selectivity_test.go
Labels: component/statistics, status/LGT2, status/can-merge, type/4.0-cherry-pick, type/bug-fix

#16038 server: fix SIGSEGV caused by port probing with audit plugin
  server/server.go
Labels: component/plugin, component/server, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, type/bug-fix

#16070 planner/core: fix partition selection on hash partitioned table
  cmd/explaintest/r/partition_pruning.result
  cmd/explaintest/t/partition_pruning.test
  planner/core/rule_partition_processor.go
Labels: needs-cherry-pick-3.1, status/LGT2, status/can-merge, type/3.0-cherry-pick, type/bug-fix

#16012 planner: fix redundant brackets cause full group by check failed (#14955)
  executor/aggregate_test.go
  planner/core/logical_plan_builder.go
Labels: component/executor, component/planner, status/LGT2, status/can-merge, type/3.0-cherry-pick, type/bug-fix

#16005 planner, executor: set TblInfo correctly when fast analyze PK
  executor/analyze_test.go
  planner/core/planbuilder.go
Labels: component/executor, component/planner, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16022 config: remove the config handler in TiDB
  config/config.go
  config/config_handler.go
  config/config_handler_test.go
  config/config_util.go
Labels: component/config, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#16019 expression: fix charset and collation for `current_role`
  expression/builtin_info.go
  expression/typeinfer_test.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#16048 *: show correct result for system variable tidb_capture_plan_baselines (#16013)
  bindinfo/bind_test.go
  executor/set.go
  sessionctx/variable/varsutil.go
Labels: component/bindinfo, component/executor, component/planner, status/LGT2, status/all-tests-passed, status/can-merge, type/4.0-cherry-pick, type/bug-fix

#15818 plan: do not cache plan for query on range partition table (#15697)
  planner/core/common_plans.go
  planner/core/prepare_test.go
Labels: component/planner, status/LGT2, status/can-merge, status/require-change, type/3.0-cherry-pick

#16105 *: remove order support in sequenceInfo
  ddl/sequence_test.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  go.mod
  go.sum
  infoschema/tables.go
Labels: component/DDL, component/executor, status/can-merge

#16011 infoschema: add column comments for statement summary tables
  infoschema/perfschema/const.go
  infoschema/perfschema/tables_test.go
Labels: component/infoschema, needs-cherry-pick-4.0, status/can-merge, type/enhancement, type/usability

#16092 domain: add start_timestamp for topologyInfo
  domain/infosync/info.go
  domain/infosync/info_test.go
Labels: status/LGT3, status/can-merge

#15842 executor: show create table ignores 'binary' collate table option
  executor/show.go
  executor/show_test.go
Labels: component/DDL, component/executor, status/LGT2, status/can-merge

#15985 executor/inspect: add config check for storage.block-cache.capacity of TiKV config
  executor/inspection_result.go
  executor/inspection_result_test.go
Labels: component/executor, status/LGT2, status/can-merge

#16087 planner: Add explain info for InspectionRuleTableExtractor
  executor/explainfor_test.go
  planner/core/memtable_predicate_extractor.go
Labels: component/executor, contribution, status/LGT2, status/can-merge

#16073 executor: fix unexpected error in union stmt.
  executor/executor.go
  expression/integration_test.go
Labels: component/executor, component/expression, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, type/bug-fix

#16103 store: cleanup useless code
  store/tikv/delete_range.go
  store/tikv/mock_tikv_service_test.go
  store/tikv/range_task.go
  store/tikv/region_cache.go
Labels: status/can-merge, type/enhancement

#16116 ddl: fix repeatedly recover table error
  executor/ddl.go
  executor/executor_test.go
Labels: component/DDL, component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#15589 executor/inspect: Add a `status_address` of `inspection_result` table to indicate the `status address`.
  executor/inspection_result.go
  executor/inspection_result_test.go
  infoschema/tables.go
Labels: component/DDL, component/executor

#16134 planner: fix different err msg from MySQL when group by window function
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, contribution, status/LGT2, status/can-merge, type/compatibility

#15540 ddl: Support the operation of adding multi-columns
  ddl/column.go
  ddl/column_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_test.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/index.go
  ddl/rollingback.go
  ddl/util/event.go
  executor/ddl_test.go
  statistics/handle/ddl.go
  statistics/handle/ddl_test.go
  util/admin/admin.go
  util/admin/admin_test.go
Labels: component/DDL, component/executor, contribution, require-LGT3, status/LGT3, status/all-tests-passed, status/can-merge

#15898 mocktikv: avoid sorting multiple times with unstable order
  executor/executor_test.go
  store/mockstore/mocktikv/executor.go
Labels: component/executor, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/can-merge

#16164 *: avoid `tidb-server -h` output test flags (#11209)
  Makefile
  server/sql_info_fetcher.go
  session/tidb.go
  util/testkit/ctestkit.go
  util/testkit/fake.go
  util/testkit/testkit.go
  util/testutil/testutil.go
Labels: component/server, component/test, needs-cherry-pick-3.1, status/can-merge, type/3.0-cherry-pick

#16168 privilege: fix user with `%` hostname can not show grants(#15825,#15524)
  executor/builder.go
  executor/show.go
  executor/show_test.go
Labels: component/executor, component/privilege, status/LGT2, status/can-merge, type/3.0-cherry-pick, type/bug-fix

#15700 config: support temporary storage usage limitation
  config/config.go
  config/config.toml.example
  executor/adapter.go
  executor/executor.go
  tidb-server/main.go
  util/memory/tracker.go
  util/memory/tracker_test.go
  util/sys/storage/sys_other.go
  util/sys/storage/sys_posix.go
  util/sys/storage/sys_test.go
  util/sys/storage/sys_windows.go
Labels: component/config, component/executor, status/LGT2, status/can-merge, type/new-feature

#16152 tikvrpc: add the missing TestT function
  store/tikv/tikvrpc/tikvrpc_test.go
Labels: component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#16130 test:make TestLoadDataMissingColumn stable
  executor/write_test.go
Labels: component/executor, component/test, needs-cherry-pick-4.0, status/can-merge

#15941 refine bindinfo_test.TestGlobalAndSessionBindingBothExist
  bindinfo/bind_test.go
Labels: component/planner, component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#15761 gc_worker: Skip TiFlash nodes when doing UnsafeDestroyRange (#15505)
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Labels: priority/P2, status/can-merge, type/3.1-cherry-pick

#16194 ddl: fix create hash partition table makes tidb OOM
  ddl/db_partition_test.go
  ddl/partition.go
Labels: component/DDL, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, type/bug-fix

#16193 ddl, planner: handle sequence name check in preprocess
  ddl/sequence_test.go
  planner/core/preprocess.go
Labels: component/DDL, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge

#16204 go.mod: update sysutil pkg
  go.mod
  go.sum
Labels: needs-cherry-pick-4.0, status/can-merge

#16030 [store/tikv] support batch coprocessor for TiFlash
  distsql/request_builder.go
  executor/builder.go
  executor/table_reader.go
  go.mod
  go.sum
  kv/kv.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  store/tikv/batch_coprocessor.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#16003 infoschema: fix tidb version showed in cluster_info table and update the go.mod for new sysutil
  executor/infoschema_reader_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: component/DDL, component/executor, status/LGT2, status/can-merge

#15463 planner, executor: enable inline projection for merge join
  executor/benchmark_test.go
  executor/builder.go
  executor/executor_required_rows_test.go
  executor/merge_join_test.go
  planner/cascades/testdata/integration_suite_in.json
  planner/cascades/testdata/integration_suite_out.json
  planner/core/task.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  planner/implementation/join.go
Labels: component/executor, contribution, status/LGT2, status/can-merge

#16228 log: change `dispatch error` log level
  server/conn.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, type/enhancement

#16231 test: add one kill query test
  session/pessimistic_test.go
  store/mockstore/mocktikv/rpc.go
Labels: component/test, status/can-merge, type/UT-coverage

#16236 session: disable batch cop request by default
  sessionctx/variable/tidb_vars.go
Labels: component/session, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#16235 ddl, executor: refine error message for rollback DDL job
  ddl/db_change_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_worker_test.go
  ddl/rollingback.go
  ddl/serial_test.go
  executor/executor_test.go
Labels: component/DDL, component/executor, status/LGT2, status/can-merge

#16254 executor/inspect: remove redundant code
  executor/inspection_result.go
Labels: component/executor, needs-cherry-pick-4.0

#16146 domain: add start_timestamp for topologyInfo (#16092)
  domain/infosync/info.go
  domain/infosync/info_test.go
Labels: status/LGT2, status/can-merge, type/4.0-cherry-pick

#16196 metrics: enlarge statement retry count upper limit
  metrics/session.go
Labels: component/metrics, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge

#15881 metrics,tikv: refine wait lock and batch client unavailable metrics
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/tikvclient.go
  store/tikv/client_batch.go
  store/tikv/lock_resolver.go
Labels: component/metrics, needs-cherry-pick-4.0, status/LGT1, status/all-tests-passed, status/can-merge, type/enhancement

#16259 expression: fix incorrect proto fields and add missing overflow handling for arithmatic functions (#12858)
  expression/builtin_arithmetic.go
  expression/distsql_builtin.go
  expression/integration_test.go
  server/conn.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/tikv/error.go
  types/convert.go
Labels: component/expression, status/can-merge

#16266 expression: fix incorrect proto fields and add missing overflow handling for arithmatic functions (#12858)
  expression/builtin_arithmetic.go
  expression/distsql_builtin.go
  expression/expr_to_pb_test.go
  expression/integration_test.go
  expression/typeinfer_test.go
  server/conn.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/tikv/error.go
  types/convert.go
Labels: component/expression, status/can-merge

#16274 server: change log frequency, add flag to quit drain loop
  server/conn.go
Labels: component/server, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/enhancement

#16278 monitor: add tiflash to grafana dashboard
  metrics/grafana/overview.json
Labels: component/metrics, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/enhancement

#16206 expression: fix panic of `explain for connection` when plan cache is enabled
  executor/executor.go
  executor/explainfor_test.go
  expression/constant.go
Labels: component/executor, component/expression, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#15409 ddl: add syntax for setting the cache step of auto id explicitly.
  ddl/db_integration_test.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/rollingback.go
  ddl/table.go
  executor/show.go
  executor/show_test.go
  go.mod
  go.sum
  infoschema/builder.go
  meta/autoid/autoid.go
  sessionctx/binloginfo/binloginfo_test.go
  types/parser_driver/special_cmt_ctrl.go
  util/admin/admin.go
Labels: component/DDL, component/executor, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT3, status/LGT3, status/all-tests-passed

#16099 infoschema: fix select * from inspection_summary would return null.
  executor/inspection_summary.go
  executor/inspection_summary_test.go
  infoschema/tables.go
Labels: component/DDL, component/executor, status/LGT1, status/can-merge

#16299 tikv: fix panic when recycle non-superbatch idle conn
  store/tikv/client_batch.go
Labels: component/tikv, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16223 rowcodec: forbidden Kind{Null/MinNotNull/MaxValue} encode datum & add test
  util/rowcodec/encoder.go
  util/rowcodec/rowcodec_test.go
Labels: component/test, status/PTAL, status/all-tests-passed, status/can-merge

#16309 executor: fix panic when fetching `processlist` table data in some cases (#11688)
  server/server.go
  util/processinfo.go
Labels: status/LGT2, status/can-merge, type/3.0-cherry-pick, type/bug-fix

#16260 ddl: fix a panic when creating key partition table
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
  executor/seqtest/seq_executor_test.go
Labels: component/DDL, type/bug-fix

#16318 server: fix auth fail log
  server/conn.go
Labels: component/server, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/release-blocker, status/can-merge, type/bug-fix

#16257 config: move storage check after initializeTempDir
  config/config.go
  tidb-server/main.go
Labels: component/config, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#15493 executor: add config EnableCollectExecutionInfo
  config/config.go
  executor/builder.go
  executor/join.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: component/config, component/executor, contribution, status/LGT2, status/can-merge

#16327 mocktikv: fix conflict check
  store/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/2pc_test.go
Labels: component/tikv, status/LGT2, type/4.0-cherry-pick

#16247 ddl: fix drop index failed when index contain auto_increment column and more than 2 index contain auto_increment_column (#12230) (#15861)
  ddl/db_change_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/index.go
Labels: component/DDL, status/LGT2, status/can-merge, type/2.1-cherry-pick, type/bug-fix

#16310 expression: deduce result type for multi-argument functions like `IF` wrongly in some cases (#11605)
  expression/builtin_control.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/can-merge, type/2.1-cherry-pick, type/bug-fix

#16059 bindinfo: report error for completely invalid hint of bind_sql
  bindinfo/bind_test.go
  bindinfo/cache.go
  util/hint/hint_processor.go
Labels: component/bindinfo, component/planner, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#16307 tikv: fix RowKVClient scan method can't rightly break loop (#14365)
  store/tikv/rawkv.go
Labels: status/LGT2, status/can-merge, type/3.0-cherry-pick, type/bug-fix

#16313 executor: update the memory usage format in expensive logs (#12809)
  util/expensivequery/expensivequerey_test.go
  util/expensivequery/expensivequery.go
Labels: component/executor, status/LGT2, status/all-tests-passed, status/can-merge, type/3.0-cherry-pick, type/usability

#16263 tikv, server: turn on grpc channelz to help diagnosis and add wait conn establish metric
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/tikvclient.go
  server/http_status.go
  store/tikv/client_batch.go
Labels: component/tikv, status/LGT1, status/can-merge, type/usability

#16032 metrics: fix typo label
  metrics/bindinfo.go
  metrics/metrics.go
Labels: component/bindinfo, contribution, status/LGT2, status/can-merge

#16338 session: add compile and execute time metric for prepare statement
  session/session.go
Labels: component/metrics, component/session, status/LGT1, status/can-merge

#16002 executor: fix wrong result for index merge read generate column
  executor/index_merge_reader.go
  executor/index_merge_reader_test.go
Labels: component/executor, needs-cherry-pick-4.0, status/can-merge, type/bug-fix

#16001 planner: fix panic when two table scan as the build side for index merge
  planner/core/common_plans.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/integration_test.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: component/planner, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16056 server,session: code refactor for multiple statements in one query
  server/conn.go
  server/conn_stmt.go
  server/conn_test.go
  server/driver.go
  server/driver_tidb.go
  server/tidb_test.go
  session/session.go
Labels: component/server, component/session, require-LGT3, status/LGT3, status/PTAL, status/all-tests-passed, status/can-merge, type/enhancement

#16343 ddl: fix timezone dependent check when creating partition table
  ddl/db_partition_test.go
  ddl/partition.go
  planner/core/rule_partition_processor.go
Labels: component/DDL, needs-cherry-pick-4.0, status/can-merge, type/bug-fix

#16363 planner: fix group by resolver for multi items with param marker
  planner/core/logical_plan_builder.go
  planner/core/prepare_test.go
Labels: component/planner, needs-cherry-pick-4.0, status/can-merge, type/bug-fix

#16326 expression: implement vectorized evaluation for `JSONArrayAppend`
  expression/builtin_json.go
  expression/builtin_json_vec.go
  expression/builtin_json_vec_test.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#15859 expression: implement vectorized evaluation for `builtinJSONSearchSig`
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/builtin_json_vec.go
  expression/builtin_json_vec_test.go
  types/json/binary_functions.go
Labels: component/expression, contribution, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#16339 Add the check for expression evaluation in some executors
  executor/aggregate.go
  expression/expression.go
  expression/expression_test.go
  expression/util_test.go
Labels: component/executor, component/expression, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16295 infoschema: refine some metric table comment and name
  executor/inspection_summary.go
  infoschema/metric_table_def.go
Labels: component/DDL, component/executor, component/infoschema

#16243 ddl: add check for max index key length when alter modify/change column (#11220)
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/index.go
Labels: component/DDL, status/LGT2, status/all-tests-passed, type/2.1-cherry-pick

#16387 test: modify log level to info in CI environment
  Makefile
  domain/domain.go
  domain/domain_test.go
Labels: component/DDL, component/test, status/LGT2, status/can-merge

#16317 metrics: enlarge statement retry count upper limit (#16196)
  metrics/session.go
Labels: component/metrics, needs-cherry-pick-3.1, status/can-merge, type/3.0-cherry-pick

#16367 expression: mark `random_bytes()` as deferred function
  expression/function_traits.go
  expression/integration_test.go
Labels: component/expression, component/planner, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16378 test: skip plan cache for prepared stmt's cache tests
  executor/executor_test.go
Labels: component/executor, component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#16349 expression: implement vectorized evaluation for builtinConvertTzSig
  expression/builtin_time.go
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, status/PTAL, status/can-merge

#16372 gc_worker: Fix the issue that GCWorker will stop working after a GC failure
  store/tikv/gcworker/gc_worker.go
Labels: component/GC, needs-cherry-pick-4.0, status/can-merge, type/bug-fix

#16277 expression: forbidden illegal mix collate
  expression/builtin.go
  expression/integration_test.go
  util/collate/collate.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#16376 planner: fix generated column causes a server crash
  expression/integration_test.go
  planner/core/logical_plan_builder.go
Labels: component/expression, component/planner, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16091 executor: Improve the performance of `aggFuncBitXor` by using sliding window
  executor/aggfuncs/func_bitfuncs.go
  executor/benchmark_test.go
  executor/window_test.go
Labels: component/executor, contribution, status/LGT2, status/can-merge

#16188 *: rename statement summary tables
  docs/design/2019-11-14-tidb-builtin-diagnostics-zh_CN.md
  docs/design/2019-11-14-tidb-builtin-diagnostics.md
  executor/adapter.go
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/cluster.go
  infoschema/perfschema/const.go
  infoschema/perfschema/tables.go
  infoschema/perfschema/tables_test.go
  infoschema/tables.go
  infoschema/tables_test.go
  privilege/privileges/privileges_test.go
  util/stmtsummary/statement_summary.go
Labels: compatibility-breaker, component/DDL, component/executor, component/infoschema, needs-cherry-pick-4.0, status/all-tests-passed, status/can-merge

#16324 ddl: fix TestModifyColumnRollBack
  ddl/db_test.go
Labels: component/DDL, component/test, status/LGT2, status/can-merge

#16046 workflow: add component/bindinfo to planner project assign
  .github/workflows/assign_project.yml
Labels: status/LGT2, status/can-merge, type/enhancement

#16408 test: revert PR#16387
  Makefile
Labels: component/test, status/LGT2, status/can-merge

#16358 config: remove the config item 'enable-dynamic-config'
  config/config.go
  executor/executor_test.go
  executor/set_test.go
  sessionctx/variable/session.go
Labels: component/config, component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#16323 executor, types: set correct collate in newValueExpr
  executor/aggregate_test.go
  types/parser_driver/value_expr.go
Labels: component/executor, component/planner, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#16108 expression: fix error PushDownNot for contiguous NOT
  expression/builtin_control.go
  expression/builtin_op.go
  expression/expression.go
  expression/integration_test.go
  expression/testdata/partition_pruner_out.json
  expression/util.go
  expression/util_test.go
  planner/core/testdata/plan_suite_out.json
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16344 planner: push avg & distinct functions across union
  cmd/explaintest/r/explain_easy.result
  expression/aggregation/descriptor.go
  planner/cascades/testdata/integration_suite_out.json
  planner/cascades/transformation_rules.go
  planner/core/integration_test.go
  planner/core/rule_aggregation_push_down.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
Labels: component/planner, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#16251 ddl, executor: forbid truncate view
  ddl/table.go
  executor/ddl_test.go
Labels: component/DDL, component/executor, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#16094 expression: fix double negation error when PushDownNot
  expression/builtin_control.go
  expression/builtin_op.go
  expression/expression.go
  expression/integration_test.go
  expression/util.go
  expression/util_test.go
  planner/core/rule_predicate_push_down.go
  planner/core/stats.go
  planner/core/testdata/plan_suite_out.json
  util/ranger/ranger_test.go
Labels: component/expression, component/planner, needs-cherry-pick-3.1, status/all-tests-passed, status/can-merge, type/bug-fix

#16298 Util: Fix global tracker mutex contention
  executor/adapter.go
  executor/executor.go
  util/disk/tracker.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: component/executor, status/LGT2, status/can-merge

#15397 executor: insert negative primary key into auto_random table won't trigger rebase
  executor/ddl_test.go
  executor/insert_common.go
  util/testutil/testutil.go
Labels: component/executor, status/LGT2, status/can-merge

#16405 expression: fix builtinRegexpSharedSig unexpected error when input rowNum is empty
  expression/builtin_like_vec.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16429 metrics: adjust metrics and its comments
  distsql/select_result.go
  distsql/stream.go
  metrics/ddl.go
  metrics/distsql.go
  metrics/domain.go
  metrics/gc_worker.go
  metrics/meta.go
  metrics/metrics.go
  metrics/oracles.go
  metrics/owner.go
  metrics/server.go
  metrics/session.go
  metrics/stats.go
  metrics/tikvclient.go
Labels: component/executor, component/metrics, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#16446 test: fix tests which may fail because of concurrency
  expression/integration_test.go
Labels: component/expression, status/can-merge

#16371 planner: only push count distinct when child is DataSouce
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16455 ddl: avoid `TestTransactionOnAddDropColumn` blocking
  ddl/db_test.go
Labels: component/DDL, component/test, needs-cherry-pick-4.0, status/can-merge

#16431 config: Unify the style for storage quota config name
  config/config.go
  config/config.toml.example
  tidb-server/main.go
Labels: component/config, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/enhancement

#16227 expression: fix wrong constant propagation with the collation
  expression/collation.go
  expression/constant_propagation.go
  expression/integration_test.go
  expression/util.go
Labels: component/expression, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16464 test: enlarge timeout for test
  ddl/util/syncer_test.go
Labels: needs-cherry-pick-4.0, status/can-merge

#16430 planner, expression: set correct for ctx in isNullRejected
  expression/integration_test.go
  planner/core/rule_predicate_push_down.go
Labels: component/expression, component/planner, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#16230 executor: support 'SHOW CONFIG' syntax to show configs of PD and TiKV instances
  executor/memtable_reader.go
  executor/show.go
  executor/show_test.go
  planner/core/planbuilder.go
Labels: component/config, component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/new-feature

#16451 expression, planner: do not eliminate the innermost NOT when push down not
  expression/builtin_control.go
  expression/builtin_op.go
  expression/expression.go
  expression/util.go
  expression/util_test.go
  planner/core/integration_test.go
  planner/core/testdata/plan_suite_out.json
Labels: component/expression, component/planner, needs-cherry-pick-3.1, status/LGT2, type/bug-fix

#16478 memdb: exclude random tests when race is enabled
  kv/memdb/memdb_norace_test.go
  kv/memdb/memdb_test.go
Labels: component/test, status/LGT1, status/can-merge, type/enhancement
