Repository pingcap/tidb, pull requests merged in 2020-07, with the labels that each got.

#18217 executor,ddl: update auto_random_base in 'show create table' after insertion
  ddl/reorg.go
  executor/ddl_test.go
  executor/show.go
  executor/show_test.go
Labels: component/DDL, component/executor, contribution, needs-cherry-pick-4.0, status/all-tests-passed

#18292 tikv: fix wrong cherry-pick 3.0
  store/tikv/kv.go
Labels: status/can-merge, type/3.0-cherry-pick, type/bug-fix

#18266 executor: fix data race for chunk resource channel in index merge join
  executor/index_lookup_merge_join.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#17850 planner, add hint `nth_plan(x)` to help user force a plan
  planner/core/find_best_task.go
  planner/core/find_best_task_test.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/physical_plan_test.go
  planner/core/plan.go
  planner/core/plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  planner/optimize.go
  sessionctx/stmtctx/stmtctx.go
Labels: component/planner, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#18204 *: support clustered index for index join
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  executor/builder.go
  executor/join_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_normalized_suite_out.json
  util/ranger/testdata/ranger_suite_out.json
Labels: component/executor, component/expression, component/planner, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#18104 *: fix the estimation error on normal column when collation enabled
  statistics/histogram.go
  statistics/sample.go
  statistics/sample_test.go
  statistics/selectivity_test.go
  statistics/statistics_test.go
  statistics/testdata/stats_suite_in.json
  statistics/testdata/stats_suite_out.json
  store/mockstore/mocktikv/analyze.go
  store/mockstore/unistore/cophandler/analyze.go
Labels: component/planner, component/statistics, needs-cherry-pick-4.0, status/all-tests-passed, type/bug-fix

#18318 executor: fix sum & avg on year type
  executor/aggregate_test.go
  expression/aggregation/base_func.go
Labels: component/executor, component/expression, status/LGT2, status/can-merge, type/bug-fix

#18285 ddl: fix admin repair table will reload fail on the other node
  infoschema/builder.go
Labels: component/DDL, needs-cherry-pick-4.0, require-LGT3, status/LGT3, status/all-tests-passed, status/can-merge, type/bug-fix

#18332 executor: padding short common handle
  executor/insert_test.go
  kv/key.go
  kv/key_test.go
Labels: component/executor

#18227 ddl: stabilize test TestParallelDDLBeforeRunDDLJob
  ddl/db_change_test.go
Labels: component/DDL, component/test, status/LGT2, status/can-merge

#18334 docs: fix typo in cluster-index proposal
  docs/design/2020-05-08-cluster-index.md
Labels: status/LGT2, status/can-merge

#18302 planner, unistore: support index scan for common handle on unique index
  planner/core/integration_test.go
  store/mockstore/unistore/cophandler/closure_exec.go
  table/tables/index_test.go
  tablecodec/tablecodec.go
Labels: status/LGT2, status/can-merge

#18337 store/tikv: add stub code to trace backoff
  store/tikv/backoff.go
  store/tikv/region_request.go
Labels: status/LGT2, status/can-merge, type/enhancement

#18286 tests: fix several stability issues
  go.mod
  go.sum
  table/tables/tables_test.go
  util/testleak/leaktest.go
Labels: component/test, status/LGT2, status/can-merge

#18340 ddl: fix add a PK when the table's pk_is_handle is true
  ddl/ddl_api.go
  ddl/serial_test.go
Labels: component/DDL, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18351 kv: fix variable `tidb_backoff_weight` does not take effect
  kv/interface_mock_test.go
  kv/kv.go
  session/session.go
  session/session_test.go
  store/tikv/txn.go
Labels: component/tikv, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18245 expression: make tidb_decode_key function try to decode the index value
  expression/builtin_info.go
  expression/integration_test.go
  tablecodec/tablecodec.go
Labels: component/expression, status/LGT2, status/can-merge, type/enhancement

#18376 tikv: use Split Backoffer to backoff Scatter error
  store/tikv/split_region.go
Labels: status/LGT2, status/can-merge

#18162 executor: make the format of user and host fields in slow logs be compatible with MySQL
  executor/slow_query.go
  executor/slow_query_test.go
  infoschema/tables_test.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: component/DDL, component/executor, needs-cherry-pick-4.0, status/LGT1, status/can-merge

#18377 mockstore: return error when store is closed
  store/mockstore/unistore/rpc.go
Labels: component/test, status/LGT2, status/can-merge

#17987 executor: insert negative primary key into auto_random table won't trigger rebase (#15397)
  executor/ddl_test.go
  executor/insert_common.go
  util/testutil/testutil.go
Labels: component/executor, type/4.0-cherry-pick

#16341 planner: add explain for InspectionResultTableExtractor
  executor/explainfor_test.go
  planner/core/memtable_predicate_extractor.go
Labels: component/executor, contribution, status/require-change

#18307 util: make one SortedRowContainer is spilling at the same time.
  executor/executor_pkg_test.go
  util/chunk/row_container.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18380 executor: check gc safe time first when iterate the history ddl jobs
  executor/ddl.go
Labels: component/executor, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, type/enhancement

#17324 coprocessor: Exceed action for copiterator
  executor/table_reader.go
  store/tikv/coprocessor.go
  util/memory/tracker.go
Labels: component/executor, status/LGT2, status/can-merge, type/bug-fix

#16987 util/memory: warn potential deadlock for Consume in remove
  util/memory/tracker.go
Labels: component/executor, contribution, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, status/can-merge

#18257 executor: Trace the memory usage of `AggFunc` in `HashAggExec`
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/func_avg.go
  executor/aggfuncs/func_bitfuncs.go
  executor/aggfuncs/func_count.go
  executor/aggfuncs/func_count_distinct.go
  executor/aggfuncs/func_cume_dist.go
  executor/aggfuncs/func_first_row.go
  executor/aggfuncs/func_group_concat.go
  executor/aggfuncs/func_json_objectagg.go
  executor/aggfuncs/func_lead_lag.go
  executor/aggfuncs/func_max_min.go
  executor/aggfuncs/func_ntile.go
  executor/aggfuncs/func_percent_rank.go
  executor/aggfuncs/func_rank.go
  executor/aggfuncs/func_sum.go
  executor/aggfuncs/func_value.go
  executor/aggfuncs/func_varpop.go
  executor/aggfuncs/row_number.go
  executor/aggfuncs/window_func_test.go
  executor/aggregate.go
  executor/builder.go
  executor/window.go
  util/memory/tracker.go
Labels: component/executor, contribution, status/LGT2, status/can-merge

#18303 store: initial work for async commit; add secondary keys to prewrite request
  config/config.go
  config/config.toml.example
  config/config_test.go
  go.mod
  go.sum
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/cleanup.go
  store/tikv/commit.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/split_region.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: component/config, component/transaction, status/LGT3, status/can-merge

#18364 server: fix COM_STMT_FETCH returns wrong SERVER_STATUS_CURSOR_EXISTS
  server/conn.go
  server/conn_test.go
Labels: component/server, contribution, needs-cherry-pick-4.0, status/LGT3, status/can-merge, type/bug-fix

#18391 planner: refactor handle columns
  executor/builder.go
  executor/delete.go
  executor/executor.go
  executor/mem_reader.go
  executor/union_scan.go
  executor/update.go
  executor/update_test.go
  planner/cascades/implementation_rules.go
  planner/cascades/testdata/integration_suite_out.json
  planner/cascades/transformation_rules.go
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/find_best_task.go
  planner/core/handle_cols.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  planner/core/property_cols_prune.go
  planner/core/resolve_indices.go
  planner/core/rule_column_pruning.go
  planner/core/rule_max_min_eliminate.go
  planner/core/rule_partition_processor.go
  planner/core/stats.go
  planner/core/testdata/integration_suite_out.json
Labels: component/executor, component/planner, status/LGT2, status/can-merge

#18400 grafana: add GC trigger size
  metrics/grafana/tidb.json
Labels: component/metrics, status/LGT2

#18367 *: use NewBackofferWithVars to force passing kv variables to backoffer
  ddl/index.go
  ddl/table_split_test.go
  executor/analyze.go
  executor/split.go
  server/http_handler.go
  store/helper/helper.go
  store/tikv/2pc.go
  store/tikv/2pc_fail_test.go
  store/tikv/2pc_slow_test.go
  store/tikv/2pc_test.go
  store/tikv/backoff.go
  store/tikv/backoff_test.go
  store/tikv/batch_coprocessor.go
  store/tikv/client_batch.go
  store/tikv/coprocessor.go
  store/tikv/coprocessor_test.go
  store/tikv/delete_range.go
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/kv.go
  store/tikv/lock_resolver.go
  store/tikv/lock_test.go
  store/tikv/range_task.go
  store/tikv/rawkv.go
  store/tikv/rawkv_test.go
  store/tikv/region_cache_test.go
  store/tikv/region_request_test.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  store/tikv/split_region.go
  store/tikv/split_test.go
  store/tikv/store_test.go
  store/tikv/txn.go
Labels: component/DDL, component/executor, contribution, needs-cherry-pick-4.0, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#18166 ddl: use a valid `ctx` instead of `context.Background`
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_test.go
  ddl/ddl_worker.go
  ddl/mock.go
  ddl/reorg.go
  ddl/util/syncer.go
  ddl/util/syncer_test.go
Labels: component/DDL, status/LGT2, status/can-merge, type/enhancement

#18414 test: make TestDispatchClientProtocol41 stable
  server/conn_test.go
Labels: component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#18092 planner,executor,infoschema: add system tables `tiflash_tables` and `tiflash_segments`
  executor/builder.go
  executor/explainfor_test.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  infoschema/tables.go
  planner/core/logical_plan_builder.go
  planner/core/memtable_predicate_extractor.go
Labels: component/DDL, component/executor, status/LGT1

#18195 ddl: collect actionTypes for schema change
  domain/domain.go
  domain/domain_test.go
  domain/schema_checker.go
  domain/schema_checker_test.go
  domain/schema_validator.go
  domain/schema_validator_test.go
  executor/ddl.go
  kv/kv.go
  session/session.go
  store/tikv/2pc.go
  store/tikv/txn.go
Labels: component/DDL, component/executor, require-LGT3, status/LGT4, status/can-merge

#18427 executor, planner: fix clustered index UnionScan and IndexLookUp
  executor/clustered_index_test.go
  executor/executor_test.go
  executor/mem_reader.go
  planner/core/find_best_task.go
  planner/core/resolve_indices.go
Labels: component/executor, component/planner, status/LGT2, status/can-merge

#18213 executor: make hashjoin using executor_concurrency
  executor/set_test.go
  session/bootstrap.go
  sessionctx/variable/session.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: component/executor, contribution, status/LGT2, status/all-tests-passed, status/can-merge

#18349 planner: resolveFromPlan when tblName.colName exists in having clause
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: component/planner, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18362 information: Fix issue of query `information_schema.columns` cost too much memory when there are lots of tables in TiDB
  executor/builder.go
  executor/infoschema_reader.go
Labels: component/executor, component/infoschema, status/LGT2, status/can-merge, type/enhancement

#18429 config,store/tikv: make how large a txn start ttlManager configurable
  config/config.go
  config/config.toml.example
  config/config_test.go
  store/tikv/prewrite.go
Labels: component/config, status/LGT2, status/can-merge

#15503 statistics: ease the impact of stats feedback on cluster
  config/config.go
  config/config.toml.example
  executor/analyze_test.go
  statistics/feedback.go
  statistics/handle/handle.go
  statistics/handle/update.go
  statistics/handle/update_list_test.go
  statistics/handle/update_test.go
  tidb-server/main.go
Labels: component/executor, component/statistics, epic/query-feedback-GA, status/LGT2, status/can-merge, type/enhancement

#18316 executor,ddl: update auto_random_base in 'show create table' after insertion (#18217)
  ddl/reorg.go
  executor/ddl_test.go
  executor/show.go
  executor/show_test.go
Labels: component/DDL, component/executor, contribution, status/LGT2, status/can-merge, type/4.0-cherry-pick

#18277 executor: kill tableReader for each connection correctly
  distsql/select_result.go
  executor/executor.go
  executor/executor_test.go
  server/conn.go
  server/server.go
  session/pessimistic_test.go
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Labels: component/executor, status/LGT2, status/can-merge

#18409 planner: reset plan ID count when using nth_plan hint
  planner/core/find_best_task.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: component/planner, status/LGT2, status/can-merge

#18478 planner: clustered index support `primary` index hint
  executor/clustered_index_test.go
  planner/core/planbuilder.go
Labels: component/executor, component/planner, status/LGT2, status/can-merge

#18454 ddl: add 'unsupported' warning for repair partition
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/error.go
Labels: component/DDL, contribution, status/LGT2, status/can-merge

#18404 executor: only reserve the sign bit when auto_random column is signed (#15566)
  ddl/ddl_api.go
  ddl/serial_test.go
  ddl/table.go
  executor/ddl_test.go
  executor/insert_common.go
  meta/autoid/autoid.go
  table/tables/tables.go
Labels: component/DDL, component/executor, status/LGT2, type/4.0-cherry-pick

#18419 ddl: change drop partition and truncate partition's job args to support multi partition id array
  ddl/ddl_api.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  ddl/partition.go
  ddl/partition_test.go
Labels: compatibility-breaker, component/DDL, require-LGT3, status/LGT3, status/all-tests-passed

#18439 *: multi-query prefetch support pessimistic transaction
  executor/batch_point_get.go
  executor/point_get.go
  server/conn.go
  server/conn_test.go
  sessionctx/variable/session.go
Labels: component/executor, status/LGT2, status/can-merge

#18494 server: return the actual error when conn panic
  server/conn.go
Labels: component/server, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18440 expression: add header for tidb_decode_plan result
  expression/integration_test.go
  infoschema/tables_test.go
  util/plancodec/codec.go
Labels: component/DDL, component/expression, component/planner, status/LGT2, type/usability

#18503 executor: fix bug of read information_schema.columns
  executor/infoschema_reader.go
Labels: component/executor, component/test, status/LGT1

#18326 autoid: only initialize rowid allocator if necessary
  executor/seqtest/seq_executor_test.go
  meta/autoid/autoid.go
Labels: status/LGT2, status/can-merge

#18417 ddl: fix max allocation count when create auto_random tables
  ddl/serial_test.go
  meta/autoid/autoid.go
Labels: component/DDL, status/LGT2

#18457 executor: log when setting a global variable
  executor/set.go
Labels: component/executor, status/LGT2, status/can-merge

#18389 executor: make the format of the DB field in slow logs be compatible with MySQL
  executor/simple.go
  executor/slow_query.go
  executor/slow_query_test.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge

#18453 executor: add deprecation warning for hash_join_concurrency
  executor/set_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
Labels: component/executor, status/LGT2, status/all-tests-passed, status/can-merge

#18415 config: enable collect execution information by default
  config/config.go
  distsql/select_result.go
  infoschema/tables_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: component/DDL, component/config, component/executor, needs-cherry-pick-4.0, status/LGT2

#18504 fix Test failed case from PR/18277
  executor/executor_test.go
Labels: component/executor, status/LGT2, status/can-merge

#18465 executor, planner: support split table regions on clustered index
  ddl/index.go
  executor/builder.go
  executor/executor_test.go
  executor/split.go
  executor/split_test.go
  planner/core/handle_cols.go
  planner/core/planbuilder.go
  store/tikv/split_region.go
Labels: component/DDL, component/executor, status/LGT2

#18508 sessionctx, executor: add session var to control explicit insertion on auto_random column (#17102)
  ddl/serial_test.go
  executor/ddl_test.go
  executor/insert_common.go
  executor/insert_test.go
  executor/show_test.go
  go.sum
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: component/DDL, component/executor, status/LGT2, type/4.0-cherry-pick

#18509 executor: return error when recover indexHash/MergeJoin worker
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/join_test.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#18272 *: add HTTP API to generate TiDB metric profile
  executor/inspection_profile.go
  executor/inspection_summary.go
  infoschema/metric_table_def.go
  metrics/session.go
  server/http_handler.go
  server/http_status.go
  store/tikv/snapshot.go
  store/tikv/txn.go
Labels: component/DDL, component/executor, component/metrics, needs-cherry-pick-4.0, status/LGT2, type/enhancement

#18458 planner: ban tiflash engine when the statement is not read only
  executor/adapter.go
  executor/executor.go
  executor/prepared.go
  planner/core/integration_test.go
  planner/optimize.go
Labels: component/executor, component/planner, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#17513 session: add no register API for using TiDB as a library
  config/config.go
  config/config.toml.example
  config/config_test.go
  domain/domain.go
  domain/infosync/info.go
  domain/infosync/info_test.go
Labels: component/DDL, component/config, status/LGT2, status/can-merge

#18468 ddl: fix mix DDLs blocks 2*lease on unistore
  ddl/mock.go
Labels: component/DDL, status/LGT2, status/can-merge

#18539 ddl, sessionctx: make auto_random aware of auto_increment_increment (#17575)
  ddl/serial_test.go
  executor/insert_common.go
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
Labels: component/DDL, component/executor, status/LGT2, type/4.0-cherry-pick

#18538 ddl: Add some limit for `auto_random` (#17119)
  ddl/ddl_api.go
  ddl/serial_test.go
  executor/ddl_test.go
  executor/insert_test.go
  executor/seqtest/seq_executor_test.go
  executor/write.go
  infoschema/tables_test.go
  meta/autoid/autoid.go
  meta/autoid/errors.go
Labels: component/DDL, component/executor, status/LGT2, status/can-merge, type/4.0-cherry-pick

#18346 *: support 'admin check table' on clustered index table
  cmd/ddltest/ddl_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/failtest/fail_db_test.go
  ddl/index.go
  executor/admin_test.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  planner/core/explain.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
  planner/core/task.go
  store/mockstore/unistore/cophandler/closure_exec.go
  table/tables/index.go
  table/tables/tables.go
  util/admin/admin.go
  util/admin/admin_integration_test.go
  util/rowDecoder/decoder.go
Labels: component/DDL, component/executor, component/planner, status/LGT2, status/can-merge

#18502 config: set the default value of OOMAction to OOMActionCancel
  config/config.go
  config/config.toml.example
Labels: component/config, priority/release-blocker, status/LGT2, status/can-merge

#18383 gc_worker: resolve locks on offline stores
  store/tikv/gcworker/gc_worker.go
  store/tikv/gcworker/gc_worker_test.go
Labels: component/GC, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18549 ddl: fix max allocation count when create auto_random tables (#18417)
  ddl/serial_test.go
  meta/autoid/autoid.go
Labels: component/DDL, status/LGT2, status/all-tests-passed, type/4.0-cherry-pick

#18537 executor: fix mislead inconsistent log after Context.Cancel
  executor/distsql.go
  util/misc.go
Labels: component/executor, needs-cherry-pick-4.0, priority/release-blocker, status/LGT2, status/can-merge

#18437 tikv: fix infinite panic when GRPC transportReader is broken
  store/tikv/client_batch.go
Labels: component/tikv, needs-cherry-pick-4.0, priority/release-blocker, status/LGT3, status/can-merge, type/bug-fix

#18491 sessionctx: future proof tidb-specific comment
  sessionctx/binloginfo/binloginfo.go
  sessionctx/binloginfo/binloginfo_test.go
Labels: component/DDL, status/LGT2

#18524 telemetry: disable telemetry by default for non-community edition
  Makefile
  config/config.go
  config/config_test.go
  domain/infosync/info.go
  server/http_handler_test.go
  server/http_status.go
  server/server_test.go
  sessionctx/variable/sysvar.go
  util/printer/printer.go
  util/versioninfo/versioninfo.go
Labels: component/config, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#17896 executor: generalize SHOW TABLE t NEXT_ROW_ID for auto_random and sequences (#16821)
  executor/executor.go
  executor/seqtest/seq_executor_test.go
  meta/autoid/autoid.go
  meta/autoid/errors.go
  planner/core/planbuilder.go
Labels: component/executor, status/all-tests-passed, status/can-merge, type/4.0-cherry-pick

#18445 tikv: support cancel before cop response return
  store/tikv/batch_coprocessor.go
  store/tikv/client_batch.go
  store/tikv/coprocessor.go
  store/tikv/region_request.go
Labels: component/coprocessor, component/tikv, needs-cherry-pick-4.0, status/LGT2, status/PTAL, status/can-merge, type/enhancement

#18372 kv: refactor MemBuffer and reduce the memory usage
  ddl/ddl_worker.go
  ddl/index.go
  ddl/index_change_test.go
  executor/admin.go
  executor/admin_test.go
  executor/distsql_test.go
  executor/executor_test.go
  executor/insert_common.go
  executor/write_test.go
  kv/buffer_store.go
  kv/buffer_store_test.go
  kv/interface_mock_test.go
  kv/kv.go
  kv/memdb.go
  kv/memdb_buffer.go
  kv/memdb_test.go
  kv/mock_test.go
  kv/sandbox.go
  kv/sandbox_arena.go
  kv/sandbox_iterator.go
  kv/sandbox_norace_test.go
  kv/sandbox_test.go
  kv/union_store.go
  kv/union_store_test.go
  kv/utils_test.go
  session/txn.go
  sessionctx/variable/session.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/txn.go
  table/index.go
  table/tables/index.go
  table/tables/index_test.go
  table/tables/tables.go
  table/tables/tables_test.go
  util/admin/admin.go
Labels: component/DDL, component/executor, component/transaction, status/LGT3, status/all-tests-passed, status/can-merge, type/enhancement

#18578 log: add `tidb_log_desensitization` global variable to control whether do desensitization when log query
  executor/adapter.go
  server/conn.go
  server/conn_stmt.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: component/executor, needs-cherry-pick-4.0, priority/release-blocker, status/LGT2, status/can-merge, type/enhancement

#18514 [store/tikv] add some unit tests for batch coprocessor
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/rpc.go
  store/tikv/batch_coprocessor_test.go
Labels: component/test, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#18573 executor: return error from indexHashJoin worker to main thread
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/index_merge_reader.go
  executor/join_test.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT3, status/can-merge, type/bug-fix

#18587 session: add no register API for using TiDB as a library
  config/config.go
  config/config.toml.example
  config/config_test.go
  domain/domain.go
  domain/infosync/info.go
  domain/infosync/info_test.go
Labels: component/DDL, component/config, status/LGT2, status/can-merge, type/4.0-cherry-pick

#18441 metrics: add metrics for disconnections
  metrics/metrics.go
  metrics/server.go
  server/conn.go
Labels: component/metrics, contribution, status/LGT2, status/can-merge

#18530 util/execdetails: refactor execdetails information of runtime collect
  executor/aggregate.go
  executor/distsql.go
  executor/executor.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/join.go
  executor/projection.go
  executor/shuffle.go
  executor/table_reader.go
  util/execdetails/execdetails.go
Labels: component/executor, status/LGT2, status/can-merge

#18577 region_cache: invalidate cached region for not leader error
  store/tikv/region_request.go
Labels: component/tikv, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18579 search logs: update sysutil to support search logs include invalid lines
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge

#18613 config: remove allow-auto-random config option (#16596)
  config/config.go
  config/config.toml.example
  config/config_test.go
  ddl/column.go
  ddl/column_change_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
  executor/insert_test.go
  executor/seqtest/seq_executor_test.go
  go.mod
  go.sum
  meta/autoid/errors.go
  meta/meta.go
  util/testutil/testutil.go
Labels: component/DDL, component/config, component/executor, status/LGT2, type/4.0-cherry-pick

#18617 session: add a mutex in TxnState.initStmtBuf
  session/txn.go
Labels: component/transaction, status/LGT2

#18590 planner: support keep order for clustered index
  planner/core/find_best_task.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: component/planner, status/LGT2

#18618 config: deprecate allow-auto-random option
  config/config.go
Labels: component/config, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#18625 session: stabilize test TestBatchCommit
  session/pessimistic_test.go
Labels: status/LGT2, status/can-merge

#18563 ddl: add explicit error message when adding index
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL, contribution, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge

#18626 kv: fix typos
  kv/sandbox.go
  kv/sandbox_test.go
Labels: contribution, status/LGT2, status/can-merge

#18594 metrics/grafana: add disconnection metrics script
  metrics/grafana/tidb.json
Labels: component/metrics, status/LGT2, status/can-merge

#18634 ddl: fix test `TestAddIndexWithDupIndex`
  ddl/db_test.go
Labels: component/DDL, contribution, status/LGT2, status/can-merge

#18639 planner: fix wrong select result when using collation
  expression/integration_test.go
  planner/core/rule_predicate_push_down.go
Labels: component/expression, contribution, needs-cherry-pick-4.0, status/LGT3, status/can-merge, type/bug-fix

#18640 mockstore: add empty executor runtime information for unistore cop handler
  store/mockstore/unistore/cophandler/cop_handler.go
Labels: component/executor, component/unistore, status/LGT1

#18646 ddl: add explicit error message when adding index (#18563) (#18634)
  ddl/db_test.go
  ddl/ddl_api.go
Labels: component/DDL, status/LGT2, status/can-merge

#18637 executor: fix wrong result for keep desc order in index merge join
  executor/index_lookup_merge_join.go
  executor/index_lookup_merge_join_test.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18442 .github: add the auto-assignment for project SIG DDL Kanban
  .github/workflows/assign_project.yml
Labels: status/LGT2, type/enhancement

#18620 *: fix some missing set kv variables
  session/session.go
  session/session_test.go
  store/tikv/2pc.go
  store/tikv/txn.go
Labels: component/transaction, contribution, needs-cherry-pick-4.0, status/LGT3, status/can-merge

#18664 ddl: fix issue that cannot modify other columns on auto_random table
  ddl/ddl_api.go
  ddl/serial_test.go
Labels: component/DDL, needs-cherry-pick-4.0, status/LGT3, status/can-merge

#18589 planner: apply min-max eliminator on common handle columns
  executor/aggregate_test.go
  planner/core/integration_test.go
  planner/core/rule_max_min_eliminate.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  util/ranger/checker.go
Labels: component/executor, component/planner, status/LGT2, status/can-merge

#18654 kv: add partial implementation of new memdb
  kv/new_memdb.go
  kv/new_memdb_arena.go
  kv/sandbox_norace_test.go
  kv/sandbox_test.go
Labels: component/transaction, status/LGT2, status/can-merge

#18670 .github: auto assign component/coprocessor to sig-runtime kanban
  .github/workflows/assign_project.yml
Labels: status/LGT2, status/can-merge

#18679 grafana: add detailed memory usage for each instance
  metrics/grafana/tidb.json
Labels: component/metrics, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#18645 kv: fix typos
  kv/kv.go
  kv/memdb.go
  kv/sandbox.go
Labels: contribution, status/LGT2, status/can-merge

#18636 Clean some staled content from github PR template
  .github/pull_request_template.md
Labels: status/LGT2, status/can-merge, type/enhancement

#18229 ddl: stabilize test TestSyncerSimple
  ddl/util/syncer_test.go
Labels: component/DDL, component/test, status/LGT2, status/can-merge

#18686 planner: add error message for group_concat (#15345)
  go.mod
  go.sum
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
Labels: component/planner, status/LGT2, status/can-merge, type/3.0-cherry-pick

#18633 executor: make test TestForServersInfo stable
  executor/infoschema_reader_test.go
Labels: component/executor, component/test, status/LGT2

#18315 util/ranger: extract DNF as equal access conditions for composite indexes
  util/ranger/detacher.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Labels: component/planner, epic/access-path, status/LGT2, status/can-merge, type/enhancement

#18628 grafana: update the description of 'Go GC Duration'
  infoschema/metric_table_def.go
  metrics/grafana/tidb.json
Labels: component/DDL, component/metrics, status/LGT2, status/can-merge, type/enhancement

#18191 store/tikv: limit batch split count for one request
  store/tikv/split_region.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/can-merge, type/enhancement

#18568 *: update pd dependency
  go.mod
  go.sum
  store/mockstore/mocktikv/pd.go
  store/mockstore/unistore/pd.go
  store/tikv/store_test.go
Labels: status/LGT2, status/can-merge

#18706 Revert "coprocessor: Exceed action for copiterator (#17324)"
  executor/table_reader.go
  store/tikv/coprocessor.go
  util/memory/tracker.go
Labels: component/executor, status/LGT2, status/can-merge

#18565 planner: don't put the handle column twice into the index column
  executor/join_test.go
  planner/core/logical_plans.go
Labels: component/executor, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#18497 executor: try to make TestSlowQuerySensitiveQuery stable
  executor/executor_test.go
Labels: component/executor, component/test, status/LGT1

#18703 charset: fix incorrect result when querying in-txn updates when new c…
  expression/integration_test.go
  tablecodec/tablecodec.go
Labels: component/charset, component/expression, require-LGT3, status/LGT3, status/WIP, status/can-merge

#18704 Revert "coprocessor: Exceed action for copiterator (#17324)"
  executor/table_reader.go
  store/tikv/coprocessor.go
  util/memory/tracker.go
Labels: component/executor, status/LGT2, status/can-merge

#18705 Revert "config: set the default value of OOMAction to OOMActionCancel"
  config/config.go
  config/config.toml.example
Labels: component/config, status/LGT2, status/can-merge

#18688 try to make TestSplitRegion stable
  executor/executor_test.go
Labels: component/executor, component/test, status/LGT2, status/can-merge

#17490 *: simplify LIKE patterns with multiple consecutive wildcards
  util/collate/general_ci.go
  util/stringutil/string_util.go
  util/stringutil/string_util_test.go
Labels: component/expression, contribution, status/LGT2, status/can-merge

#18682 docs: update 2020-05-08-standardize-error-codes-and-messages.md
  docs/design/2020-05-08-standardize-error-codes-and-messages.md
Labels: component/docs, status/LGT2, status/can-merge

#17995 ddl, core: fix parser issue 602
  ddl/db_test.go
  ddl/error.go
  errno/errcode.go
  errno/errname.go
  planner/core/preprocess.go
Labels: component/DDL, contribution, status/LGT2, status/can-merge

#17447 README: highlight quick-start and update the contact-us chapter
  README.md
Labels: component/docs, status/can-merge

#18622 txn: support 2pc async commit protocol
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/prewrite.go
  store/tikv/txn.go
Labels: component/transaction, require-LGT3, status/LGT3, status/can-merge

#18567 session: fix the problem that lost connection in the next sql after out of memory quota
  session/txn.go
Labels: component/executor, component/session, component/transaction, contribution, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18428 types: fix STR_TO_DATE handling for %h, %r (#18171)
  types/format_test.go
  types/time.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/compatibility

#18723 RFC: update standardize error codes and messages
  docs/design/2020-05-08-standardize-error-codes-and-messages.md
Labels: status/LGT3

#18665 expression: fix wrong result when select with collation
  expression/builtin.go
  expression/distsql_builtin.go
  expression/integration_test.go
Labels: component/expression, contribution, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#18381 util: oom-action waits spilling result when acting again
  executor/benchmark_test.go
  executor/executor_pkg_test.go
  executor/hash_table.go
  executor/hash_table_test.go
  executor/join_pkg_test.go
  executor/merge_join.go
  executor/sort.go
  util/chunk/row_container.go
  util/chunk/row_container_test.go
Labels: component/executor, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#18738 .github: Auto Assign Question and Bug Reports
  .github/workflows/assign_question_bug.yml
Labels: component/build, status/LGT2, status/can-merge

#18739 Revert ".github: Auto Assign Question and Bug Reports"
  .github/workflows/assign_question_bug.yml
Labels: status/LGT2, status/can-merge

#18685 statistics:enable memtracker for table statisitic
  statistics/cmsketch.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/histogram.go
  statistics/table.go
Labels: component/executor, component/statistics, contribution, status/LGT2, status/can-merge

#18721 executor: fix the key representation of 'show table regions'
  executor/executor_test.go
  executor/split.go
Labels: component/executor, status/LGT2, status/can-merge

#18750 brie: add default backup gc-ttl to 5m
  executor/brie.go
Labels: component/executor, status/LGT2, status/can-merge

#18754 brie: add default backup gc-ttl to 5m (#18750)
  executor/brie.go
Labels: component/executor, status/can-merge

#18736 store/tikv: print log when resolve lock rollback keys
  store/tikv/lock_resolver.go
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/enhancement

#18757 executor: set the correct resultCh for task when indexHashJoin keep order
  executor/index_lookup_hash_join.go
  executor/seqtest/seq_executor_test.go
Labels: component/executor, status/LGT3, status/can-merge, type/bug-fix

#18408 *: fix a bug causes indexed virtual generated column return wrong value and refine admin check table
  ddl/db_test.go
  ddl/index.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  expression/builtin_compare_test.go
  expression/builtin_time_vec_test.go
  expression/errors.go
  expression/expression.go
  expression/integration_test.go
  expression/simple_rewriter.go
  planner/core/expression_rewriter.go
  planner/core/optimizer.go
  planner/core/partition_pruning_test.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  table/tables/partition.go
  table/tables/tables.go
  util/admin/admin.go
  util/generatedexpr/gen_expr_test.go
  util/generatedexpr/generated_expr.go
  util/rowDecoder/decoder.go
  util/rowDecoder/decoder_test.go
Labels: component/DDL, component/executor, component/expression, status/LGT3, status/can-merge

#18759 txn:set min commit ts for prewrite build for async commit protocol
  store/tikv/prewrite.go
Labels: component/transaction, status/LGT2, status/can-merge

#18765 executor: stop using the deprecated Filter field in BRIE statements (#18172)
  executor/brie.go
  go.mod
  go.sum
Labels: component/executor, status/LGT2, status/can-merge

#18751 test:stablize test case prewrite secondaries
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/prewrite.go
Labels: component/test, status/LGT2, status/can-merge

#18678 charset: add utf8_unicode_ci and utf8mb4_unicode_ci interface
  ddl/serial_test.go
  executor/seqtest/seq_executor_test.go
  expression/distsql_builtin_test.go
  expression/expr_to_pb_test.go
  util/collate/collate.go
  util/collate/collate_test.go
  util/collate/unicode_ci.go
Labels: component/DDL, component/expression, contribution, status/LGT2, status/can-merge

#18768 brie: set default config for backup and restore
  executor/brie.go
  go.mod
  go.sum
Labels: component/executor

#18774 brie: set default config for backup and restore
  executor/brie.go
Labels: component/executor, status/LGT2, status/can-merge

#18361 tests: remove incorrect use of FLUSH PRIVILEGES
  ddl/sequence_test.go
  executor/explain_test.go
  executor/show_test.go
  executor/simple_test.go
  infoschema/tables_test.go
  planner/core/prepare_test.go
  server/server_test.go
  session/session_test.go
Labels: component/DDL, component/executor, contribution, status/LGT2, status/can-merge
