Repository pingcap/tidb, pull requests merged in 2020-10, with the labels that each got.

#20325 planner: prune duplicate expr in sort
  planner/core/logical_plan_test.go
  planner/core/rule_column_pruning.go
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
Labels: contribution, status/LGT2, status/can-merge

#20172 executor: do not reorder handles when building requests for `IndexMergeJoin` (#20138)
  executor/builder.go
  executor/distsql.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/index_lookup_merge_join_test.go
  executor/index_merge_reader.go
Labels: sig/execution, status/LGT2, status/can-merge, type/4.0-cherry-pick, type/bug-fix

#20210 tikv: fix panic in RegionStore.accessStore (#20204)
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
Labels: status/LGT2, status/all-tests-passed, status/can-merge, type/4.0-cherry-pick, type/bug-fix

#20269 expression: unset binary flag for *_bin collation column
  ddl/ddl_api.go
  expression/integration_test.go
  expression/typeinfer_test.go
Labels: component/expression, sig/DDL, status/LGT3, status/can-merge

#19763 util: check whether consume bytes is 0
  util/memory/tracker.go
Labels: sig/execution, status/LGT2, status/can-merge, type/4.0-cherry-pick, type/enhancement

#18036 ddl: fix corrupted default value for bit type column
  ddl/column.go
  ddl/db_integration_test.go
  ddl/ddl_api.go
  planner/core/plan_to_pb.go
  statistics/handle/ddl.go
  table/column.go
  table/tables/tables.go
  util/admin/admin.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/DDL, status/LGT2, status/can-merge, type/bug-fix

#20284 util: reset the unused bytes in writeTime
  executor/aggfuncs/func_count_distinct.go
  executor/aggfuncs/func_count_test.go
  executor/executor_test.go
  util/chunk/chunk.go
  util/chunk/chunk_test.go
  util/chunk/row.go
Labels: component/executor, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#19535 config: check if valid storage by simple indexing
  config/config.go
Labels: component/config, contribution, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#19921 executor: show varchar instead of var_string
  cmd/explaintest/r/explain.result
  cmd/explaintest/t/explain.test
  executor/show.go
Labels: challenge-program, difficulty/easy, high-performance, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#17614 session: format some sql statements
  session/bootstrap.go
Labels: contribution, status/LGT2

#20336 ddl, executor: add error for functional index cannot refer to an auto-increment column
  ddl/ddl_api.go
  ddl/error.go
  ddl/generated_column.go
  executor/ddl_test.go
Labels: contribution, needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT2, status/can-merge

#20330 opentracing: fix missing opentracing span issue
  server/conn.go
Labels: component/metrics, contribution, status/LGT2, status/can-merge

#20274 expression: fix a bug that the coercibilities of enum and set are wrong
  expression/collation.go
  expression/integration_test.go
Labels: component/expression, status/LGT2, status/can-merge

#20241 expression: fix data too long when convert to bit returns null value
  expression/integration_test.go
  types/datum.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20149 expression: utilize the flag of column arguments to simplify expressions
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/partition_pruning.result
  expression/builtin_compare.go
  expression/constant_fold.go
  expression/flag_simplify_test.go
  expression/testdata/flag_simplify_in.json
  expression/testdata/flag_simplify_out.json
  expression/testdata/partition_pruner_out.json
  planner/core/point_get_plan_test.go
  planner/core/testdata/plan_suite_out.json
Labels: component/expression, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#19102 parser: disallow subquery without table alias
  ddl/error.go
  executor/executor_test.go
  planner/core/preprocess.go
Labels: component/executor, component/parser, difficulty/easy, needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT3, status/can-merge, status/require-change

#20365 memdb: fix data race between mutators and `UnionScan`
  kv/memdb/arena.go
Labels: status/LGT2, status/can-merge, type/bug-fix

#20355 util: fix chunk‘s offset size which is 8 bytes.
  util/chunk/chunk.go
  util/chunk/chunk_test.go
Labels: contribution, sig/execution, status/LGT2, status/can-merge

#20337 ddl: refine error message for expression index
  ddl/db_integration_test.go
  ddl/error.go
  ddl/index.go
Labels: contribution, sig/DDL, status/LGT3, status/can-merge

#19422 hooks: correct the pre-commit soft link
  hooks/pre-commit
Labels: contribution, status/LGT2, status/can-merge

#20346 variable: Bool,int,unsigned sysvar validation
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Labels: sig/execution, status/LGT2, status/can-merge

#19106 executor: add runtime information for DML statement in explain analyze
  executor/adapter.go
  executor/explain.go
  planner/core/integration_test.go
  session/session.go
Labels: challenge-program, component/executor, contribution, difficulty/easy, high-performance, sig/execution, status/DNM, status/LGT2

#19983 expression: fix wrong warning when comparing binary column
  types/convert.go
  types/convert_test.go
Labels: component/expression, contribution, needs-cherry-pick-4.0, rewarded, status/LGT2, status/can-merge

#20331 expression: fix schema may change when execute DML statement
  executor/executor_test.go
  expression/builtin_miscellaneous.go
Labels: component/expression, contribution, rewarded, sig/execution, status/LGT2, status/can-merge

#19459 server: support for client multi-statement option
  server/conn.go
  server/conn_test.go
  server/server.go
  server/server_test.go
  server/tidb_test.go
Labels: compatibility-breaker, component/server, needs-cherry-pick-4.0, status/LGT2, status/all-tests-passed, status/can-merge

#20383 metric: add metric for pessimistic lock keys
  metrics/session.go
  store/tikv/txn.go
Labels: component/metrics, sig/transaction, status/LGT2

#20160 planner: estimate index row count using extended correlation stats
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  planner/core/testdata/analyzeSuiteTestLimitIndexEstimationT.json
  planner/core/testdata/analyze_suite_in.json
  planner/core/testdata/analyze_suite_out.json
Labels: sig/planner, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#20186 txn: add schema version check for async commit recovery
  session/pessimistic_test.go
  store/tikv/2pc.go
  store/tikv/lock_resolver.go
Labels: sig/transaction, status/LGT2, status/can-merge

#20352 planner: remove the `groupByCols` field in `LogicalAggregation`
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/property_cols_prune.go
  planner/core/rule_aggregation_elimination.go
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_build_key_info.go
  planner/core/rule_decorrelate.go
  planner/core/rule_eliminate_projection.go
  planner/core/rule_predicate_push_down.go
Labels: contribution, sig/planner, status/LGT2, status/can-merge

#20073 txn: Add some more unit tests for async commit
  go.mod
  go.sum
  store/tikv/2pc_test.go
  store/tikv/async_commit_fail_test.go
  store/tikv/async_commit_test.go
Labels: component/test, sig/transaction, status/LGT3, status/can-merge

#20102 execute: fill arguments when returning `ErrUnknownSystemVar` in `SetSessionSystemVar`
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/enhancement

#20390 executor: fix analyze update panic cause by duplicate call analyze executor Close method
  executor/explain.go
  executor/explain_test.go
  executor/explain_unit_test.go
Labels: sig/execution, status/LGT2, type/bug-fix

#20379 *: add gc duration in metric profile
  executor/inspection_profile.go
  infoschema/metric_table_def.go
Labels: component/metrics, sig/DDL, sig/execution, status/LGT2, type/usability

#20250 planner: choose index with larger NDV on join keys for IndexJoin
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
  planner/core/integration_test.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: sig/planner, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#20200 executor: tiny optimize slow_query performance and add related runtime stats
  executor/executor_pkg_test.go
  executor/memtable_reader.go
  executor/slow_query.go
  util/execdetails/execdetails.go
  util/memory/tracker.go
Labels: component/executor, epic/slow-query, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/enhancement

#20381 statistics: fix an unsafe lock operation and adjust some logging levels
  statistics/handle/handle.go
  statistics/handle/handle_test.go
Labels: component/statistics, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#20407 executor: fix wrong outer join result when filter outer side using index merge join
  executor/index_lookup_merge_join.go
  executor/index_lookup_merge_join_test.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20393 errno: batch change functional index to expression index
  errno/errname.go
Labels: status/LGT2, status/can-merge

#20375 executor: fix MAX_EXECUTION_TIME doesn't take effect when query INSPECTION_RESULT table
  executor/inspection_result.go
  server/conn.go
  server/server.go
Labels: component/executor, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#20438 tikvclient: add gzip compression type support for tidb grpc channel
  config/config.go
  config/config.toml.example
  go.mod
  go.sum
  store/tikv/client.go
Labels: component/config, component/server, status/LGT2, status/can-merge

#20433 tikv: add region ID and type for tracing
  store/tikv/client.go
  store/tikv/region_request.go
Labels: status/LGT2, status/can-merge, type/enhancement

#20265 txn: support Oracle-like serializable isolation
  executor/adapter.go
  server/conn.go
  session/pessimistic_test.go
  session/session.go
  sessionctx/variable/session.go
Labels: contribution, sig/execution, sig/transaction, status/LGT2, status/can-merge

#20428 *: make failpoint-disable before make clean
  Makefile
Labels: status/LGT2, status/can-merge

#20153 executor: support memory trace for group_concat
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/func_group_concat.go
  executor/aggfuncs/func_group_concat_test.go
  executor/aggfuncs/func_json_objectagg_test.go
Labels: component/executor, contribution, rewarded, status/LGT2, status/can-merge, type/enhancement

#20271 *: use global stats & make ddl/feedback/show/export works(part III)
  domain/domain.go
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  executor/show_stats.go
  planner/core/logical_plan_builder.go
  planner/core/mock.go
  planner/core/rule_partition_processor.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/handle/ddl.go
  statistics/handle/dump.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  table/tables/tables.go
Labels: sig/DDL, sig/execution, status/LGT2, status/PTAL, status/can-merge

#20443 *: change some file permission mode to 0644
  executor/analyze.go
  executor/split.go
  expression/integration_test.go
  expression/scalar_function.go
  expression/scalar_function_test.go
  infoschema/tables.go
  meta/autoid/autoid.go
  server/http_handler.go
Labels: component/expression, sig/DDL, sig/execution, status/LGT2

#20405 ddl: support alter sequence
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/sequence.go
  ddl/sequence_test.go
  executor/ddl.go
  go.mod
  go.sum
  infoschema/builder.go
  meta/meta.go
  planner/core/planbuilder.go
Labels: sig/DDL, sig/execution, status/LGT2, status/all-tests-passed

#20300 *: Support query backoff detail in SLOW_QUERY and add runtime stats columns to STATEMENTS_SUMMARY、SLOW_QUERY
  executor/adapter.go
  executor/slow_query.go
  executor/slow_query_test.go
  infoschema/tables.go
  infoschema/tables_test.go
  sessionctx/variable/session.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Labels: contribution, sig/DDL, sig/execution, status/LGT2, status/can-merge

#20404 executor,distsql: support multiple physical tables in one table reader
  distsql/select_result.go
  executor/builder.go
  executor/distsql.go
  executor/partition_table_test.go
Labels: sig/execution, status/LGT2, status/PTAL, status/can-merge

#18199 docs: Add RFC for "Defining placement rules in SQL"
  docs/design/2020-06-24-placement-rules-in-sql.md
Labels: component/docs, sig/DDL, status/LGT2, status/can-merge

#20455 go.mod: update br version to resolve cyclic dependency
  go.mod
  go.sum
  util/logutil/hex_test.go
Labels: status/LGT2

#20440 executor: fix float data accuracy
  server/util.go
  server/util_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, rewarded, status/LGT2, status/can-merge, type/bug-fix

#20382 expression: support decode more types through tidb_decode_key()
  expression/builtin_info.go
  expression/builtin_info_vec.go
  expression/integration_test.go
  planner/core/expression_rewriter.go
  tablecodec/tablecodec.go
Labels: component/expression, status/LGT3, status/can-merge

#20088 expression: fix TIMESTAMP func get wrong result with decimal (#15185)
  expression/builtin_time.go
  expression/integration_test.go
  types/time.go
  types/time_test.go
Labels: component/expression, contribution, needs-cherry-pick-3.0, needs-cherry-pick-4.0, rewarded, status/DNM, status/LGT2, status/can-merge

#18858 util: record sqls and heap profile when memory usage is higher than 80% system memory.
  config/config.go
  config/config.toml.example
  util/disk/tempDir.go
  util/expensivequery/expensivequery.go
  util/expensivequery/memory_usage_alarm.go
Labels: component/config, component/executor, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#18788 *: introduce LRUCache with limited memory for statistics
  config/config.go
  config/config.toml.example
  config/config_test.go
  config/config_util_test.go
  executor/infoschema_reader_test.go
  executor/simple_test.go
  go.sum
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  planner/core/planbuilder.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  statistics/handle/bootstrap.go
  statistics/handle/dump_test.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/statscache.go
  statistics/handle/statscache_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/selectivity_test.go
  statistics/table.go
  tidb-server/main.go
  util/kvcache/simple_lru.go
Labels: component/config, component/statistics, contribution, sig/execution, status/LGT2, status/can-merge, type/enhancement

#20279 ddl: support create list partition table
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/error.go
  ddl/partition.go
  executor/executor_test.go
  planner/core/partition_prune.go
  planner/core/rule_partition_processor.go
  table/tables/partition.go
Labels: component/ddl, sig/DDL, sig/execution, status/LGT2

#20475 *: refactor GetSnapshot
  ddl/backfilling.go
  domain/domain.go
  executor/analyze.go
  executor/batch_point_get.go
  executor/point_get.go
  kv/fault_injection.go
  kv/fault_injection_test.go
  kv/interface_mock_test.go
  kv/kv.go
  kv/mock_test.go
  meta/meta_test.go
  session/schema_amender.go
  session/schema_amender_test.go
  store/store_test.go
  store/tikv/2pc.go
  store/tikv/async_commit_test.go
  store/tikv/gcworker/gc_worker_test.go
  store/tikv/kv.go
  util/mock/store.go
Labels: sig/DDL, sig/execution, sig/transaction, status/LGT2, status/can-merge, type/enhancement

#20032 ddl: Supports transitions between the same type (String types)
  ddl/column.go
  ddl/column_test.go
  ddl/db_change_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  expression/integration_test.go
Labels: component/expression, contribution, sig/DDL, status/LGT3, status/can-merge

#20391 store, util: adapt scandetailv2 in coprocessor response
  distsql/select_result.go
  executor/slow_query.go
  executor/slow_query_test.go
  infoschema/tables.go
  infoschema/tables_test.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session_test.go
  store/tikv/coprocessor.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Labels: contribution, sig/DDL, sig/execution, status/LGT1

#20485 planner: fix the panic when the argument of agg func is scalarfunction in apply
  expression/integration_test.go
  planner/core/rule_decorrelate.go
Labels: component/expression, needs-cherry-pick-4.0, sig/planner, status/LGT2, type/bug-fix

#20049 unistore: add failpoint to test copr cache in unit test
  executor/executor_test.go
  store/mockstore/unistore/cophandler/cop_handler.go
  store/tikv/kv.go
  store/tikv/test_util.go
Labels: challenge-program, difficulty/easy, high-performance, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#20126 *: collect index usage information from point get and dump them to KV
  config/config.go
  config/config.toml.example
  docs/design/2020-09-30-index-usage-information.md
  domain/domain.go
  executor/point_get.go
  planner/core/point_get_plan.go
  session/bootstrap.go
  session/session.go
  session/tidb.go
  sessionctx/context.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  util/mock/context.go
Labels: component/config, component/statistics, sig/DDL, sig/execution, sig/planner, status/LGT2, status/can-merge

#20303 doc: update 2020-05-08-standardize-error-codes-and-messages.md
  docs/design/2020-05-08-standardize-error-codes-and-messages.md
Labels: status/LGT2, status/can-merge

#20388 executor: remove a dirty hack code which is useless now
  executor/index_lookup_join.go
Labels: sig/execution, status/LGT2, status/can-merge

#20412 2pc: reduce memory footprint by using a more compact mutations list
  kv/kv.go
  kv/memdb.go
  kv/memdb_iterator.go
  session/schema_amender.go
  session/schema_amender_test.go
  store/tikv/2pc.go
  store/tikv/2pc_test.go
  store/tikv/2pc_utils.go
  store/tikv/cleanup.go
  store/tikv/commit.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/region_cache.go
  store/tikv/split_region.go
  store/tikv/txn.go
Labels: require-LGT3, sig/transaction, status/LGT3, status/can-merge

#19222 DDL: support drop partition on the partitioned table with global indexes
  ddl/backfilling.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/ddl_worker.go
  ddl/index.go
  ddl/partition.go
  ddl/reorg.go
  tablecodec/tablecodec.go
Labels: component/config, contribution, sig/DDL, status/LGT2, status/PTAL, status/can-merge

#20288 planner, executor: enable inline projection for Limit
  cmd/explaintest/r/topn_push_down.result
  executor/benchmark_test.go
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/rule_build_key_info.go
  planner/core/rule_column_pruning.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
  planner/core/util.go
Labels: contribution, rewarded, sig/execution, status/LGT2, status/can-merge

#20394 *: Fix sysvars to native type in @@ context
  bindinfo/bind_test.go
  ddl/partition.go
  executor/set.go
  executor/set_test.go
  executor/show_test.go
  expression/integration_test.go
  planner/core/expression_rewriter.go
  session/bootstrap.go
  session/pessimistic_test.go
  session/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  telemetry/telemetry.go
  util/stmtsummary/variables.go
Labels: compatibility-breaker, component/expression, require-LGT3, sig/DDL, sig/execution, sig/planner, status/LGT4, status/can-merge

#19968 sessionctx: set mem-quota-query when create session
  sessionctx/variable/session.go
Labels: component/session, status/LGT2, status/can-merge, type/bug-fix

#20506 metrics: some improvements for batch client
  metrics/grafana/tidb.json
  metrics/grafana/tidb_runtime.json
  metrics/metrics.go
  metrics/tikvclient.go
  store/tikv/client.go
  store/tikv/client_batch.go
Labels: component/metrics, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/enhancement

#20523 bindinfo: add debugging to plan evolve
  bindinfo/handle.go
Labels: needs-cherry-pick-4.0, sig/planner, status/LGT2, status/can-merge

#14574 docs/design: add proposal for full collations support
  docs/design/2020-01-24-collations.md
  docs/design/README.md
Labels: component/docs, proposal, status/LGT2

#20491 table: should not skip when default value is not null
  ddl/db_integration_test.go
  table/tables/tables.go
Labels: first-time-contributor, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/DDL, status/LGT3, status/all-tests-passed, status/can-merge

#20386 session: make tidb_replica_read work correctly
  distsql/request_builder_test.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: component/tikv, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#19988 ddl: supports transitions between time types
  ddl/column.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/error.go
Labels: contribution, sig/DDL, status/LGT2, status/all-tests-passed, status/can-merge

#20542 2pc: fix backoffer and cancel in batchExecutor
  store/tikv/2pc.go
Labels: needs-cherry-pick-4.0, sig/transaction, status/LGT2, status/can-merge

#20497 executor: fix the issue of query slow_query return 0 rows
  executor/executor_test.go
  executor/slow_query.go
Labels: component/executor, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20554 *: clean some stuff related to dirtyTable
  executor/builder.go
  table/table.go
  util/mock/context.go
Labels: status/LGT2, status/can-merge

#20456 server: Add table range api to http status server
  server/http_handler.go
  server/http_handler_test.go
  server/http_status.go
Labels: status/LGT2, status/can-merge

#20436 *: redact arguments for Error
  config/config.go
  ddl/column_type_change_test.go
  ddl/ddl_worker.go
  ddl/error.go
  distsql/select_result.go
  distsql/stream.go
  domain/domain.go
  domain/infosync/info.go
  errno/errname.go
  errno/logredaction.md
  executor/adapter.go
  executor/aggfuncs/func_group_concat.go
  executor/errors.go
  executor/executor_test.go
  executor/insert.go
  executor/load_data.go
  executor/replace.go
  executor/set_test.go
  executor/simple.go
  executor/update.go
  expression/errors.go
  expression/expr_to_pb.go
  expression/scalar_function.go
  go.mod
  go.sum
  infoschema/error.go
  kv/error.go
  meta/autoid/errors.go
  meta/meta.go
  planner/core/errors.go
  plugin/errors.go
  privilege/privileges/errors.go
  server/conn.go
  server/conn_stmt.go
  server/server.go
  session/session.go
  session/session_test.go
  session/tidb.go
  sessionctx/variable/error.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  store/tikv/error.go
  structure/structure.go
  table/table.go
  tablecodec/tablecodec.go
  types/errors.go
  types/json/constants.go
  util/admin/admin.go
  util/collate/collate.go
  util/dbterror/terror.go
  util/dbterror/terror_test.go
  util/hint/hint_processor.go
  util/memory/action.go
  util/ranger/points.go
  util/redact/redact.go
Labels: component/config, component/expression, sig/DDL, sig/execution, status/LGT2, status/all-tests-passed

#20516 *: introduce errors documentation generator to generate errors.toml
  Makefile
  errors.toml
  go.mod
  go.sum
  tools/check/check-errdoc.sh
Labels: component/docs, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#20559 planner: copy the field Column in dataSource when create partition union.
  planner/core/integration_test.go
  planner/core/rule_partition_processor.go
Labels: needs-cherry-pick-4.0, sig/planner, status/LGT2, status/can-merge, type/bug-fix

#20569 executor: force print slow log when trace is enabled
  executor/adapter.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/enhancement

#20282 planner: fix error `subquery returns more than 1 row` when updating
  planner/core/integration_test.go
  planner/core/property_cols_prune.go
  planner/core/testdata/plan_suite_out.json
Labels: sig/planner, status/LGT2, status/can-merge, type/bug-fix

#20259 planner: correlated column with unique constraint can help to eliminate MaxOneRow
  expression/schema.go
  planner/core/physical_plan_test.go
  planner/core/rule_build_key_info.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: component/expression, contribution, rewarded, sig/planner, status/LGT2, status/can-merge, type/enhancement

#20361 ddl: update rule cache incrementally/pass arguments by ctxvars
  ddl/ddl_worker.go
  ddl/partition.go
  infoschema/builder.go
Labels: contribution, sig/DDL, status/LGT2, status/can-merge

#20546 infoschema: resolve loopback address of node
  infoschema/tables.go
  infoschema/tables_test.go
Labels: sig/DDL, status/LGT2, type/bug-fix

#20536 ddl: support column type change from integer to other types
  ddl/column.go
  ddl/column_type_change_test.go
  ddl/db_integration_test.go
  ddl/ddl_api.go
  util/rowDecoder/decoder.go
Labels: sig/DDL, status/LGT2, status/all-tests-passed, status/can-merge

#20353 ddl: fix create table too many indexes
  ddl/db_integration_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/error.go
  ddl/index.go
Labels: sig/DDL, status/LGT2, status/all-tests-passed, status/can-merge

#20600 executor: TPCH q20 hangs forever when running in TiKV + TiFlash mode
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, status/can-merge

#20589 *: use ID instead of NAME in mysql.schema_index_usage
  docs/design/2020-09-30-index-usage-information.md
  executor/point_get.go
  planner/core/point_get_plan.go
  session/bootstrap.go
  session/session.go
  sessionctx/context.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  util/mock/context.go
Labels: component/statistics, sig/execution, status/LGT2, status/can-merge

#20560 timeutil: fix unknown time zone 'posixrules'
  util/timeutil/time.go
  util/timeutil/time_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#20410 planner: refine the explain message of expression (#16276)
  cmd/explaintest/r/explain_generate_column_substitute.result
  cmd/explaintest/t/explain_generate_column_substitute.test
  planner/core/explain.go
  planner/core/point_get_plan.go
Labels: needs-cherry-pick-4.0, rewarded, status/LGT2, status/can-merge

#20145 *:add the indexlookup runtime stats infomation
  distsql/select_result_test.go
  executor/distsql.go
  executor/distsql_test.go
  executor/executor_test.go
  planner/core/common_plans.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: component/executor, sig/execution, status/LGT2, status/can-merge

#20472 planner: explain output convert binary string to hex
  cmd/explaintest/r/explain_easy.result
  planner/core/exhaust_physical_plans_test.go
  util/ranger/ranger_test.go
  util/ranger/types.go
Labels: rewarded, sig/planner, status/LGT2, status/can-merge

#19880 types: fix incompatible result of `DATE_ADD()`
  expression/integration_test.go
  types/time.go
  types/time_test.go
Labels: component/config, component/expression, contribution, needs-cherry-pick-3.0, needs-cherry-pick-4.0, rewarded, sig/DDL, sig/planner, status/LGT2, status/can-merge

#19924 planner: validate row expression value size for point get plan
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: contribution, sig/planner, status/LGT2, status/can-merge

#20625 executor: add max font size limit
  executor/inspection_profile.go
  infoschema/metric_table_def.go
Labels: needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT2, type/bug-fix

#19954 [executor, store/tikv]: implement a prototype for MPP framework.
  distsql/distsql.go
  executor/builder.go
  executor/mpp_gather.go
  executor/partition_table.go
  executor/table_readers_required_rows_test.go
  executor/tiflash_test.go
  go.mod
  go.sum
  kv/interface_mock_test.go
  kv/kv.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/physical_plans.go
  session/session.go
  sessionctx/context.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/tikv/batch_coprocessor.go
  store/tikv/client.go
  store/tikv/kv.go
  store/tikv/mpp.go
  store/tikv/region_request_test.go
  store/tikv/tikvrpc/tikvrpc.go
  util/mock/context.go
  util/mock/store.go
  util/plancodec/id.go
Labels: challenge-program, difficulty/easy, high-performance, sig/execution, sig/planner, status/LGT2, status/can-merge

#20422 executor: add some unit tests for the Apply operator
  executor/apply_cache.go
  executor/parallel_apply.go
  executor/parallel_apply_test.go
Labels: component/test, sig/execution, status/LGT2, status/can-merge

#20602 executor: fix index merge join hangs with outer join and limit
  executor/index_lookup_merge_join.go
Labels: needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge, type/bug-fix

#20631 ddl: support add/drop list (columns) partition
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: sig/DDL, status/LGT2, status/can-merge

#20562 util: reduce memoryUsageAlarm log
  util/expensivequery/memory_usage_alarm.go
Labels: sig/execution, status/LGT2, status/can-merge

#18996 planner: support variable to prefer index scan
  planner/core/find_best_task.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: contribution, sig/execution, sig/planner, status/LGT2, status/can-merge

#20650 store/tikv: Move defer ttlManager.close
  store/tikv/2pc.go
Labels: first-time-contributor, status/LGT2, status/can-merge

#18058 planner: estimate cardinality of agg / join by GroupNDV
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/tpch.result
  planner/core/stats.go
  planner/core/stats_test.go
  planner/core/testdata/stats_suite_in.json
  planner/core/testdata/stats_suite_out.json
Labels: component/expression, sig/planner, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#20525 executor: fix float data result
  server/util.go
  server/util_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, status/LGT2, status/can-merge

#20616 infoschema: Provide a system table to query placement rules
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/placement/const.go
  ddl/placement/types.go
  ddl/placement/utils.go
  ddl/placement/utils_test.go
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/infoschema.go
  infoschema/tables.go
  infoschema/tables_test.go
  server/http_handler.go
Labels: component/infoschema, sig/DDL, sig/execution, status/LGT2

#20534 expression, executor: add iso 8601 and timezone support for temporal string literal
  executor/insert_test.go
  expression/integration_test.go
  types/time.go
  types/time_test.go
Labels: component/expression, needs-cherry-pick-4.0, sig/execution, status/LGT2

#20665 tests: move TestApplyWithOtherFeatures to a serial test suite
  executor/explainfor_test.go
  executor/parallel_apply_test.go
Labels: component/test, sig/execution, status/LGT3, status/all-tests-passed, status/can-merge

#20623 ddl: support column type change from string to other types
  ddl/column.go
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: sig/DDL, status/LGT1, status/LGT2

#20434 infosync: fix query metrics_schema panic when start TiDB without PD/TiKV
  domain/infosync/info.go
Labels: rewarded, sig/execution, status/LGT2, status/can-merge

#20635 executor: add test for insert/update/delete list [columns] partition
  executor/write_test.go
Labels: component/executor, component/test, sig/execution, status/LGT2, status/can-merge

#20612 *: fix not precedence in generated column
  expression/integration_test.go
  go.mod
  go.sum
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
Labels: component/expression, status/LGT2, status/all-tests-passed

#20599 planner: disable index merge join temporarily
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_join_stats.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  cmd/explaintest/r/subquery.result
  cmd/explaintest/r/topn_push_down.result
  cmd/explaintest/r/tpch.result
  executor/index_lookup_join_test.go
  executor/index_lookup_merge_join_test.go
  executor/join_test.go
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_out.json
  util/ranger/testdata/ranger_suite_out.json
Labels: component/expression, require-LGT3, sig/execution, sig/planner, status/LGT3, status/can-merge, type/4.0-cherry-pick

#20634 executor: support show create table for list partition
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  executor/show.go
  executor/show_test.go
Labels: component/executor, sig/DDL, sig/execution, status/LGT2

#17649 executor: support global kill
  Makefile
  Makefile.common
  config/config.go
  config/config.toml.example
  config/config_util.go
  ddl/ddl_test.go
  distsql/request_builder.go
  docs/design/2020-06-01-global-kill.md
  domain/domain.go
  domain/domain_test.go
  domain/infosync/info.go
  domain/infosync/info_test.go
  executor/builder.go
  executor/executor_pkg_test.go
  executor/explainfor_test.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  executor/prepared_test.go
  executor/seqtest/prepared_test.go
  executor/simple.go
  executor/simple_test.go
  infoschema/tables.go
  infoschema/tables_test.go
  kv/kv.go
  planner/core/common_plans.go
  planner/core/pb_to_plan.go
  server/conn.go
  server/conn_test.go
  server/rpc_server.go
  server/server.go
  sessionctx/variable/session.go
  store/tikv/coprocessor.go
  store/tikv/kv.go
  tests/globalkilltest/Makefile
  tests/globalkilltest/README.md
  tests/globalkilltest/global_kill_test.go
  tests/globalkilltest/go.mod
  tests/globalkilltest/go.sum
  tests/globalkilltest/proxy.go
  tests/globalkilltest/run-tests.sh
  tidb-server/main.go
  util/logutil/log.go
  util/logutil/log_test.go
  util/processinfo.go
  util/processinfo_test.go
Labels: component/config, component/executor, contribution, sig/DDL, sig/execution, status/LGT2, status/all-tests-passed, status/can-merge

#20584 executor,server: fix pessimistic "insert select for update" return malformed packet
  executor/adapter.go
  server/tidb_test.go
Labels: component/mysql-protocol, needs-cherry-pick-3.0, needs-cherry-pick-4.0, sig/execution, sig/transaction, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#20264 statistics: improve row count estimation of multi-column equal conditions by cross validation
  statistics/cmsketch.go
  statistics/selectivity_test.go
  statistics/table.go
Labels: component/statistics, status/LGT2, status/PTAL, status/can-merge, type/enhancement

#20663 grafana: show CPU usage of Go GC
  metrics/grafana/tidb_runtime.json
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/enhancement

#19962 ddl: Support multiple table rename
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/failtest/fail_db_test.go
  ddl/rollingback.go
  ddl/table.go
  executor/ddl.go
  executor/ddl_test.go
  go.mod
  go.sum
  infoschema/builder.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
Labels: challenge-program, contribution, difficulty/easy, high-performance, require-LGT3, sig/DDL, sig/execution, status/LGT3, status/can-merge

#20550 ddl, tikv: add delay during AddIndex DDL and remove schema check for async commit
  config/config.go
  ddl/ddl_test.go
  ddl/failtest/fail_db_test.go
  ddl/reorg.go
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
  expression/evaluator_test.go
  session/pessimistic_test.go
  session/tidb_test.go
  statistics/statistics_test.go
  store/tikv/2pc.go
  store/tikv/async_commit_test.go
  store/tikv/lock_resolver.go
  store/tikv/prewrite.go
  store/tikv/region_cache.go
  store/tikv/region_request_test.go
  store/tikv/snapshot.go
  util/admin/admin_test.go
Labels: component/config, component/expression, component/statistics, sig/DDL, sig/execution, sig/transaction, status/LGT2, status/can-merge

#20644 store, executor: Fix rateLimitAction may fail to destroy token
  executor/executor_test.go
  store/tikv/coprocessor.go
Labels: sig/execution, status/LGT2, status/can-merge

#20415 executor, expression: Fixed the warning messages when calling str_to_date function failed
  errors.toml
  executor/executor_test.go
  expression/builtin_time.go
  expression/errors.go
  types/errors.go
Labels: component/expression, needs-cherry-pick-3.0, needs-cherry-pick-4.0, rewarded, sig/execution, status/LGT2, status/can-merge

#20462 executor: fix show create table int default value
  cmd/explaintest/r/select.result
  cmd/explaintest/t/select.test
  ddl/db_integration_test.go
  ddl/failtest/fail_db_test.go
  executor/seqtest/seq_executor_test.go
  executor/show.go
  executor/show_test.go
  infoschema/tables_test.go
Labels: needs-cherry-pick-4.0, sig/DDL, sig/execution, status/LGT2, status/can-merge

#20232 session: Support Variable-Setting Hint `SET_VAR`
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/executor.go
  planner/core/errors.go
  planner/optimize.go
  session/session_test.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Labels: sig/execution, sig/planner, status/LGT2, status/PTAL, status/can-merge

#20680 executor: fix TestPrevStmtDesensitization
  executor/executor_test.go
Labels: component/executor, component/test, sig/execution, status/LGT2, status/can-merge

#20572 statistics: decouple TopN from CMSKetch
  executor/analyze.go
  executor/analyze_test.go
  statistics/cmsketch.go
  statistics/cmsketch_test.go
  statistics/feedback.go
  statistics/feedback_test.go
  statistics/handle/bootstrap.go
  statistics/handle/dump.go
  statistics/handle/dump_test.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  statistics/histogram.go
  statistics/sample.go
  statistics/table.go
Labels: component/statistics, sig/execution, sig/planner, status/LGT2, status/PTAL, status/can-merge

#20636 ddl: remove useless placement methods
  domain/infosync/info.go
Labels: status/LGT2, status/can-merge

#20492 distsql, util: adapt scandetailv2 in coprocessor response
  distsql/select_result.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: rewarded, sig/execution, status/LGT2, status/can-merge

#20298 expression, types: make str_to_date() more compatible with MySQL
  expression/builtin_time.go
  expression/integration_test.go
  types/time.go
Labels: component/expression, status/LGT2, status/can-merge

#20270 executor: Check if the query is killed when joining rows in HashJoin
  executor/join.go
  executor/join_test.go
Labels: contribution, needs-cherry-pick-4.0, rewarded, sig/execution, status/LGT2, status/can-merge

#19558 charset: improve performance of general_ci Compare and Key function
  util/collate/collate_test.go
  util/collate/general_ci.go
Labels: status/LGT3, status/all-tests-passed, status/can-merge

#19220 transaction: lock unique key for delete operation
  ddl/index.go
  executor/admin.go
  executor/admin_test.go
  executor/delete_test.go
  executor/distsql_test.go
  executor/executor_test.go
  kv/kv.go
  kv/memdb.go
  session/tidb_test.go
  session/txn.go
  table/index.go
  table/tables/index.go
  table/tables/index_test.go
  table/tables/tables.go
Labels: needs-cherry-pick-4.0, sig/DDL, sig/execution, sig/transaction, status/LGT2, status/can-merge

#20474 planner: fix wrong argument for split aggregation
  planner/core/integration_test.go
  planner/core/task.go
Labels: needs-cherry-pick-4.0, sig/planner, status/LGT2, status/PTAL, status/all-tests-passed, status/can-merge, type/bug-fix

#20611 executor: add diagnosis rule to check Transparent Huge Pages(THP) enabled
  executor/inspection_result.go
  executor/inspection_result_test.go
  go.mod
  go.sum
Labels: sig/execution, status/LGT1

#20718 test: add conditions check for TestDefaultValForAnalyze
  executor/analyze_test.go
Labels: sig/execution, status/LGT2

#20570 expression: utilize the flag of column arguments to simplify expressions (#20149)
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/partition_pruning.result
  expression/builtin_compare.go
  expression/constant_fold.go
  expression/flag_simplify_test.go
  expression/testdata/flag_simplify_in.json
  expression/testdata/flag_simplify_out.json
  planner/core/point_get_plan_test.go
  planner/core/testdata/plan_suite_out.json
Labels: component/expression, status/LGT2

#20416 planner, config: Enable plan cache by default
  bindinfo/bind_test.go
  config/config.go
  config/config.toml.example
  executor/prepared_test.go
  expression/integration_test.go
  planner/core/cache.go
Labels: component/config, component/expression, sig/execution, sig/planner, status/LGT2, status/can-merge

#20742 *: fix CI break on errors.toml
  errors.toml
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge
