Repository pingcap/tidb, pull requests merged in 2021-04, with the labels that each got.

#23771 config: remove redundant backslash
  config/config.go
Labels: component/config, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#23742 *: fix a bug that wrong index data on prefixed clustered index
  ddl/index.go
  executor/admin.go
  executor/distsql.go
  expression/integration_test.go
  go.sum
  session/schema_amender.go
  table/tables/tables.go
Labels: component/expression, needs-cherry-pick-5.0, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge, type/bug-fix

#23746 executor: add a test case for batch point queries on table partitions
  executor/partition_table_test.go
Labels: component/test, sig/execution, sig/planner, size/S, status/LGT2, status/can-merge, type/enhancement

#23443 server: fix Setting wait_timeout to 0 doesn't take effect #23351
  server/packetio.go
Labels: sig/sql-infra, size/XS, status/LGT2, status/can-merge

#23307 util/chunk: replace outdated link with correct one
  util/chunk/column.go
Labels: sig/execution, size/XS, status/LGT2, status/can-merge

#23741 tests: make TestIndexLookupMergeJoinHang and TestIssue18068 stable
  executor/index_lookup_merge_join_test.go
Labels: needs-cherry-pick-5.0, sig/execution, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#23781 variable: move supported sysvars from noop to sysvar list
  sessionctx/variable/noop.go
  sessionctx/variable/sysvar.go
Labels: size/S, status/LGT2, status/can-merge

#23618 ddl: prevent 'TEXT' columns without key length from being used in index
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/index.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#23762 store/tikv: update scan test
  store/tikv/tests/scan_test.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#22915 planner: build correct MaxOneRow info from multi-column conditions
  planner/core/integration_test.go
  planner/core/rule_build_key_info.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: sig/planner, size/L, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#23767 store/tikv: avoid placement dependency
  executor/executor_test.go
  store/tikv/region_cache.go
Labels: sig/execution, sig/transaction, size/S, status/LGT2, status/can-merge

#23677 store/tikv: move store test to /tests
  store/tikv/tests/store_fail_test.go
  store/tikv/tests/store_test.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#23710 ddl: fix secondary index len check for clustered index
  ddl/db_integration_test.go
  ddl/ddl_api.go
  ddl/index.go
Labels: needs-cherry-pick-5.0, priority/release-blocker, sig/sql-infra, size/L, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#23770 executor, planner: fix collation for hash join building
  executor/builder.go
  expression/integration_test.go
  planner/core/exhaust_physical_plans.go
Labels: component/expression, needs-cherry-pick-4.0, needs-cherry-pick-5.0, priority/release-blocker, sig/execution, size/M, status/LGT2, type/bug-fix

#23461 execdetails: refine cop task execution stats display in plan
  distsql/select_result_test.go
  executor/explainfor_test.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: sig/execution, sig/sql-infra, size/S, status/LGT2, status/can-merge

#23804 planner: fix "can't find column" when projection wrongly added above table reader after agg pushed down
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/task.go
Labels: needs-cherry-pick-5.0, priority/release-blocker, size/M, status/LGT2, status/can-merge

#23635 store/tikv: move lock test to /tests
  store/tikv/tests/lock_test.go
Labels: sig/transaction, size/XL, status/LGT2, status/can-merge

#23752 store/tikv: move test function
  store/tikv/region_cache_test.go
  store/tikv/region_request_test.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#23806 table: fix a bug in TryGetHandleRestoredDataWrapper which may cause panic
  expression/integration_test.go
  table/tables/tables.go
Labels: component/expression, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge, type/bug-fix

#23647 planner, privileges: do not require SELECT for unqualified DELETE
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  privilege/privileges/privileges_test.go
Labels: size/M, status/LGT2, status/can-merge

#23766 config: add a test for `config.toml.example`
  config/config_test.go
Labels: component/config, sig/planner, sig/sql-infra, size/S, status/LGT2, status/can-merge

#23803 plugin: fix audit plugin will cause tidb panic
  server/server.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0-rc, sig/sql-infra, size/XS, status/LGT2, status/can-merge, type/bug-fix

#23719 variable: refactor session/global validation (part 3)
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#23808 statistics: feedback not panic when no ndv collected
  executor/executor_test.go
  statistics/feedback.go
Labels: component/statistics, needs-cherry-pick-5.0, sig/execution, sig/planner, size/S, status/LGT2, status/can-merge, type/bug-fix

#23814 executor: fix 2nd index dup check after insert ignore on dup update primary
  executor/write.go
  executor/write_test.go
  table/tables/tables.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/execution, sig/transaction, size/M, status/LGT2, status/can-merge, type/bug-fix

#23830 statistics: fix a statistics GC problem that can cause duplicated fm-sketch records
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
Labels: component/statistics, sig/planner, size/S, status/LGT2, status/can-merge, type/bug-fix

#23764 planner: fix partition selection of point plan for the update statement
  executor/executor_test.go
  planner/core/point_get_plan.go
Labels: sig/execution, size/S, status/LGT2, status/can-merge

#23777 variable: refactor session/global validation (part 4)
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Labels: size/L, status/LGT2, status/can-merge

#23840 *: Remove an extra space in README.md
  README.md
Labels: size/XS, status/LGT2, status/can-merge

#22853 planner: fix LogicalPlans that contain Window Function are ambiguous
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: first-time-contributor, size/M, status/LGT2, status/can-merge

#22559 planner: split test data from test cases in cbo_test.go
  planner/core/cbo_test.go
  planner/core/testdata/analyze_suite_in.json
  planner/core/testdata/analyze_suite_out.json
Labels: component/test, first-time-contributor, sig/planner, size/L, status/LGT2, status/can-merge

#23713 server, sessionctx: improved mysql compatibility with support for init_connect
  server/conn.go
  server/server.go
  server/server_test.go
  server/tidb_test.go
  sessionctx/variable/noop.go
  sessionctx/variable/sysvar.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#23734 store/tikv: move rawkv_test to /tests
  store/tikv/test_probe.go
  store/tikv/tests/rawkv_test.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#23845 types/json: replace binary.Read with binary.BigEndian.Uint16
  types/json/binary_functions.go
  types/json/binary_functions_test.go
Labels: size/S, status/LGT2, status/can-merge

#23834 statistics: print log when tidb marks extended stats as deleted internally
  statistics/handle/gc.go
Labels: component/statistics, size/XS, status/LGT2, status/can-merge, type/enhancement

#23842 variable: refactor session/global validation (part 5)
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#23728 planner: skip storage engine check for CRAETE VIEW statement
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Labels: sig/planner, size/M, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#23844 planner: fix index-out-of-range error when checking only_full_group_by
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Labels: size/S, status/LGT2, status/can-merge

#23833 store, kv: Add information about async commit/1pc to tidb_last_txn_info
  executor/executor_test.go
  kv/txn.go
  store/tikv/2pc.go
  store/tikv/prewrite.go
  store/tikv/txn.go
Labels: sig/execution, sig/transaction, size/L, status/LGT2, status/can-merge

#23731 store/tikv: move ticlient_test to /tests
  store/tikv/tests/ticlient_slow_test.go
  store/tikv/tests/ticlient_test.go
  store/tikv/ticlient_test.go
Labels: sig/transaction, size/L, status/LGT2, status/can-merge

#21444 planner: ignore anonymous index while tiflash replica is available
  planner/core/hints.go
  planner/core/plan_test.go
Labels: sig/planner, size/M, status/LGT2, status/can-merge, type/bug-fix

#23863 metrics: update the PD role expr in Overview Grafana
  metrics/grafana/overview.json
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#23493 expression: Implementation of Vitess hashing algorithm.
  cmd/explaintest/r/vitess_hash.result
  cmd/explaintest/t/vitess_hash.test
  executor/show_test.go
  expression/builtin.go
  expression/builtin_miscellaneous.go
  expression/builtin_miscellaneous_vec.go
  expression/integration_test.go
  go.mod
  go.sum
  util/vitess/vitess_hash.go
  util/vitess/vitess_hash_test.go
Labels: component/config, component/expression, first-time-contributor, sig/execution, sig/sql-infra, size/XL, status/LGT2, status/can-merge

#23864 server: clean up global variables
  tidb-server/main.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#22926 expression: add overflow check in multiplyInt
  expression/builtin_arithmetic.go
  expression/builtin_arithmetic_test.go
  expression/builtin_arithmetic_vec.go
Labels: component/expression, size/M, status/LGT2, status/can-merge, type/bug-fix

#23835 functions: fix some string function has wrong collation and flag
  expression/builtin_string.go
  expression/typeinfer_test.go
Labels: component/expression, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#22307 ddl: fix update can see columns not public
  ddl/db_change_test.go
  ddl/db_test.go
  expression/simple_rewriter.go
  planner/core/logical_plan_builder.go
  types/field_name.go
Labels: component/expression, sig/sql-infra, size/M, status/LGT2, status/can-merge

#23680 *: add test for modifying default length of cast as decimal
  executor/insert_test.go
  executor/revoke_test.go
  expression/typeinfer_test.go
  go.mod
  go.sum
Labels: component/expression, sig/execution, size/M, status/LGT2, status/can-merge, type/bug-fix

#23861 *: don't allocate SessionIndexUsageCollector when indexUsageLease equals 0
  session/session.go
  session/tidb.go
  session/tidb_test.go
  statistics/handle/handle_test.go
Labels: needs-cherry-pick-5.0, sig/planner, sig/sql-infra, size/M, status/LGT2, status/can-merge

#23686 store/tikv:remove "tidb/tablecodec" from snapshot.go
  server/conn_test.go
  session/clustered_index_test.go
  store/driver/txn/driver_test.go
  store/driver/txn/error.go
  store/driver/txn/scanner.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/tikv/2pc.go
  store/tikv/kv/error.go
  store/tikv/lock_resolver.go
  store/tikv/pessimistic.go
  store/tikv/snapshot.go
  store/tikv/snapshot_test.go
  store/tikv/tests/async_commit_fail_test.go
  store/tikv/txn.go
Labels: sig/sql-infra, sig/transaction, size/XXL, status/LGT2, status/can-merge

#23828 executor: do not show extended stats for dropped columns
  executor/show_stats.go
  statistics/handle/handle_test.go
Labels: component/executor, component/statistics, sig/execution, sig/planner, size/M, status/LGT2, status/can-merge, type/bug-fix

#23837 store/mockstore/unistore: migrate unistore core lib code to tidb repo for removing tidb dependency on unistore
  go.mod
  go.sum
  store/mockstore/unistore/cluster.go
  store/mockstore/unistore/config/config-template.toml
  store/mockstore/unistore/config/config.go
  store/mockstore/unistore/cophandler/analyze.go
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/cophandler/cop_handler.go
  store/mockstore/unistore/cophandler/cop_handler_test.go
  store/mockstore/unistore/cophandler/mpp.go
  store/mockstore/unistore/cophandler/mpp_exec.go
  store/mockstore/unistore/lockstore/arena.go
  store/mockstore/unistore/lockstore/iterator.go
  store/mockstore/unistore/lockstore/load_dump.go
  store/mockstore/unistore/lockstore/lockstore.go
  store/mockstore/unistore/lockstore/lockstore_test.go
  store/mockstore/unistore/metrics/metrics.go
  store/mockstore/unistore/mock.go
  store/mockstore/unistore/pd.go
  store/mockstore/unistore/pd/client.go
  store/mockstore/unistore/raw_handler.go
  store/mockstore/unistore/rpc.go
  store/mockstore/unistore/server/server.go
  store/mockstore/unistore/tikv/dbreader/db_reader.go
  store/mockstore/unistore/tikv/deadlock.go
  store/mockstore/unistore/tikv/detector.go
  store/mockstore/unistore/tikv/detector_test.go
  store/mockstore/unistore/tikv/errors.go
  store/mockstore/unistore/tikv/inner_server.go
  store/mockstore/unistore/tikv/mock_region.go
  store/mockstore/unistore/tikv/mvcc.go
  store/mockstore/unistore/tikv/mvcc/db_writer.go
  store/mockstore/unistore/tikv/mvcc/mvcc.go
  store/mockstore/unistore/tikv/mvcc/tikv.go
  store/mockstore/unistore/tikv/mvcc_test.go
  store/mockstore/unistore/tikv/pberror/pberror.go
  store/mockstore/unistore/tikv/region.go
  store/mockstore/unistore/tikv/server.go
  store/mockstore/unistore/tikv/server_batch.go
  store/mockstore/unistore/tikv/util.go
  store/mockstore/unistore/tikv/write.go
  store/mockstore/unistore/util/lockwaiter/lockwaiter.go
  store/mockstore/unistore/util/lockwaiter/lockwaiter_test.go
Labels: size/XXL, status/LGT2

#23860 planner: fix wrong TableDual plans caused by comparing Binary and Bytes incorrectly
  planner/core/integration_test.go
  types/datum.go
Labels: component/expression, needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/planner, size/S, status/LGT2, status/can-merge, type/bug-fix

#23929 Revert "*: don't allocate SessionIndexUsageCollector when indexUsageLease equals 0"
  session/session.go
  session/tidb.go
  session/tidb_test.go
  statistics/handle/handle_test.go
Labels: sig/planner, sig/sql-infra, size/M, status/LGT2

#23838 statistics: collect FMSketch when processing index analyze tasks
  executor/analyze.go
  executor/builder.go
  statistics/handle/gc.go
  statistics/handle/handle_test.go
  store/mockstore/unistore/cophandler/analyze.go
Labels: component/statistics, sig/execution, sig/planner, size/L, status/LGT2, status/can-merge, type/enhancement

#23855 variable: refactor session/global validation (part 6)
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Labels: size/L, status/LGT2, status/can-merge

#23858 store/tikv: resolve logutil dependency
  store/tikv/unionstore/union_iter.go
Labels: sig/transaction, size/XS, status/LGT2, status/can-merge

#20512 ddl: support change from auto_inc to auto_random through 'alter table'
  ddl/column.go
  ddl/ddl_api.go
  ddl/serial_test.go
  go.sum
  infoschema/builder.go
  meta/autoid/autoid.go
  meta/autoid/errors.go
  meta/meta.go
Labels: require-LGT3, sig/sql-infra, size/XL, status/LGT3, status/can-merge

#23738 executor: remove duplicate entry in show privileges
  executor/executor_test.go
  executor/show.go
Labels: sig/execution, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#23747 planner, sessionvar: avoid sending same task id to TiFlash
  executor/builder.go
  executor/mpp_gather.go
  executor/tiflash_test.go
  planner/core/fragment.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: needs-cherry-pick-5.0, sig/execution, size/M, status/LGT1

#23854 store/tikv: move CommitDetails and LockKeysDetails to tikv/util
  executor/adapter.go
  executor/executor.go
  kv/kv.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  store/tikv/2pc.go
  store/tikv/txn.go
  store/tikv/util/execdetails.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
  util/stmtsummary/statement_summary_test.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/XL, status/LGT2, status/can-merge

#23885 executor,distsql: clean up useless interface
  ddl/reorg.go
  distsql/distsql_test.go
  distsql/select_result.go
  distsql/stream.go
  executor/admin.go
  executor/analyze.go
  executor/builder.go
  executor/checksum.go
  executor/distsql.go
  executor/index_merge_reader.go
  executor/mpp_gather.go
  executor/table_reader.go
  executor/table_readers_required_rows_test.go
  go.mod
  go.sum
Labels: sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#23911 planner,privilege: requires extra privileges for REPLACE and INSERT ON DUPLICATE statements
  planner/core/planbuilder.go
  privilege/privileges/privileges_test.go
Labels: component/privilege, needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/sql-infra, size/M, status/LGT2, status/can-merge

#23871 store/tikv: move BufferBatchGetter from tidb/kv to tikv/unionstore
  executor/batch_point_get.go
  kv/utils.go
  store/tikv/txn.go
  store/tikv/unionstore/batch_getter.go
  store/tikv/unionstore/memdb_test.go
Labels: sig/execution, sig/transaction, size/L, status/LGT2

#23873 store/tikv: move binlog logic to txn_driver
  sessionctx/binloginfo/binloginfo_test.go
  store/driver/txn/binlog.go
  store/driver/txn/txn_driver.go
  store/tikv/2pc.go
  store/tikv/binlog.go
  store/tikv/txn.go
Labels: sig/sql-infra, sig/transaction, size/L, status/LGT2, status/can-merge

#23862 statistics: make the global-level topN more accurate
  executor/analyze.go
  statistics/cmsketch.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/histogram.go
Labels: component/statistics, sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#23896 executor: fix `show table status` for the database with upper-cased name
  executor/show.go
  executor/show_test.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#23908 store/tikv: move snapshot_test to tests
  store/tikv/test_probe.go
  store/tikv/tests/snapshot_fail_test.go
  store/tikv/tests/snapshot_test.go
  store/tikv/ticlient_test.go
Labels: sig/transaction, size/L, status/LGT2, status/can-merge

#23961 store/tikv:use unionstore.Iterator instead of kv.Iterator
  store/driver/tikv_driver.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/gcworker/gc_worker_test.go
  store/mockstore/unistore.go
  store/tikv/snapshot.go
  store/tikv/tests/scan_test.go
  store/tikv/txn.go
  store/tikv/unionstore/memdb_iterator.go
  store/tikv/unionstore/memdb_snapshot.go
  store/tikv/unionstore/memdb_test.go
  store/tikv/unionstore/mock.go
  store/tikv/unionstore/union_iter.go
  store/tikv/unionstore/union_store.go
  store/tikv/unionstore/union_store_test.go
Labels: size/L, status/LGT2, status/can-merge

#23365 planner: fix a bug that point get plan returns wrong column name
  planner/core/point_get_plan.go
Labels: size/XS, status/LGT2, status/can-merge

#22997 planner: fix err check
  planner/core/cbo_test.go
  planner/core/encode.go
  planner/core/indexmerge_test.go
  planner/core/logical_plan_test.go
  planner/core/physical_plan_test.go
  planner/core/point_get_plan_test.go
  planner/core/prepare_test.go
  planner/core/stats_test.go
Labels: size/L, status/LGT2, status/can-merge

#23930 planner: make sure that join key type are always the same for mpp join
  planner/core/optimizer_test.go
  planner/core/task.go
Labels: needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#23894 executor: skip ignore check for not update indexes
  executor/write.go
  executor/write_test.go
  table/tables/tables.go
Labels: sig/execution, size/M, status/LGT2, status/can-merge, type/bug-fix

#23948 planner: do not push down to TiFlash if the table scan require to scan data in desc order
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#23942 *: Rephrase readme community and quickstart section
  README.md
  docs/QUICKSTART.md
Labels: size/L, status/LGT2, status/can-merge

#23957 tikv/region_cache:use []byte instead of kv.Key in KeyLocation
  ddl/table_split_test.go
  server/http_handler.go
  store/helper/helper.go
  store/tikv/region_cache.go
  store/tikv/tests/async_commit_fail_test.go
Labels: sig/sql-infra, sig/transaction, size/M, status/LGT2, status/can-merge

#23937 variable: refactor session/global validation (part 7)
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#23859 store/tikv: use []byte instead of kv.Key in package store/tikv
  ddl/backfilling.go
  executor/analyze.go
  executor/batch_point_get.go
  server/http_handler.go
  server/http_handler_test.go
  store/copr/batch_coprocessor.go
  store/copr/coprocessor.go
  store/copr/coprocessor_test.go
  store/copr/mpp.go
  store/driver/txn/scanner.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/driver/txn/unionstore_driver.go
  store/gcworker/gc_worker.go
  store/tikv/delete_range.go
  store/tikv/key_ranges.go
  store/tikv/key_ranges_test.go
  store/tikv/kv/key.go
  store/tikv/range_task.go
  store/tikv/region_cache.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/lock_test.go
  store/tikv/tests/range_task_test.go
  store/tikv/tests/safepoint_test.go
  store/tikv/tests/scan_mock_test.go
  store/tikv/tests/scan_test.go
  store/tikv/tests/snapshot_fail_test.go
  store/tikv/tests/snapshot_test.go
  store/tikv/tests/ticlient_slow_test.go
  store/tikv/txn.go
  store/tikv/unionstore/batch_getter.go
  store/tikv/unionstore/memdb.go
  store/tikv/unionstore/memdb_arena.go
  store/tikv/unionstore/memdb_bench_test.go
  store/tikv/unionstore/memdb_iterator.go
  store/tikv/unionstore/memdb_snapshot.go
  store/tikv/unionstore/memdb_test.go
  store/tikv/unionstore/mock.go
  store/tikv/unionstore/union_iter.go
  store/tikv/unionstore/union_store.go
  store/tikv/unionstore/union_store_test.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/XXL, status/LGT2, status/can-merge

#23260 test: fix global kill e2e test
  tests/globalkilltest/.gitignore
  tests/globalkilltest/Makefile
  tests/globalkilltest/global_kill_test.go
  tests/globalkilltest/go.mod
  tests/globalkilltest/proxy.go
  tests/globalkilltest/run-tests.sh
Labels: size/XL, status/LGT2, status/can-merge

#23733 planner: generate BatchPointGet for hash table partitions
  executor/batch_point_get.go
  executor/builder.go
  executor/partition_table_test.go
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: sig/execution, sig/planner, size/XXL, status/LGT2, status/all-tests-passed, status/can-merge, type/enhancement

#23905 store/tikv: remove tidb/errno dependency
  store/tikv/errno/errcode.go
  store/tikv/kv/error.go
Labels: size/M, status/LGT2, status/can-merge

#23983 kv/kv.go:remove UpdateFlags from interface MemBuffer
  kv/kv.go
  store/driver/txn/unionstore_driver.go
Labels: size/XS, status/LGT2, status/can-merge

#23981 planner: remove useless cast function in AggToProj
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  expression/integration_test.go
  planner/cascades/testdata/integration_suite_out.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/rule_aggregation_elimination.go
Labels: component/expression, size/M, status/LGT2, status/can-merge

#23994 store/tikv:use tikv/logutil instead of tidb/util/logutil
  store/tikv/unionstore/union_iter.go
Labels: sig/transaction, size/XS, status/LGT2, status/can-merge

#22628 executor: Improve max/min window function with deque-based sliding window
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_max_min.go
  executor/aggfuncs/func_max_min_test.go
  executor/window.go
Labels: first-time-contributor, sig/execution, size/XXL, status/LGT2, status/all-tests-passed, status/can-merge

#24003 session, executor: skip some frequent unstable test cases
  executor/analyze_test.go
  executor/simple_test.go
  session/pessimistic_test.go
Labels: component/test, sig/execution, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#23559 ranger: fix the range construction behavior when the column's type is `YEAR`
  types/datum.go
  types/time.go
  util/ranger/points.go
  util/ranger/ranger_test.go
Labels: component/expression, needs-cherry-pick-5.0, sig/execution, sig/planner, size/L, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#23982 expression: Fix incorrect pushdown function list.
  expression/expr_to_pb_test.go
  expression/expression.go
  go.mod
Labels: component/expression, size/L, status/LGT2, status/can-merge

#22984 executor: fix logging format of prepared statements (#16062)
  executor/adapter.go
  executor/executor_test.go
  session/session_test.go
Labels: first-time-contributor, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#23989 expression: don't propagateColumnEQ joinCondition when nullSensitive
  expression/constant_propagation.go
  expression/integration_test.go
Labels: component/expression, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#23674 *: add column `End_time` in show analyze status and add related log
  executor/analyze.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  executor/show_stats_test.go
  infoschema/tables.go
  planner/core/planbuilder.go
  statistics/analyze_jobs.go
Labels: component/statistics, sig/execution, sig/planner, sig/sql-infra, size/M, status/LGT2, status/can-merge

#23857 types: fix type merge about bit type
  executor/executor_test.go
  types/field_type.go
  types/field_type_test.go
Labels: component/expression, needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/execution, size/M, status/LGT2, status/can-merge, type/bug-fix

#23933 planner: append common handle columns into the schema of index merge table plan
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/task.go
Labels: sig/planner, size/L, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#23487 planner: optimize count(distinct a) to count(a) if there is an unique key on a
  planner/core/rule_aggregation_elimination.go
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
Labels: contribution, sig/planner, size/M, status/LGT2, status/can-merge, type/enhancement

#23718 *: add TableSample ID for PhysicalIDToTypeString()
  executor/sample_test.go
  util/plancodec/id.go
Labels: sig/execution, sig/planner, size/S, status/LGT2, status/can-merge

#23890 statistics: check step overflow when converting a range to points for estimation
  statistics/scalar.go
  statistics/selectivity_test.go
Labels: component/statistics, sig/planner, size/S, status/LGT2, status/can-merge, type/bug-fix

#24030 table: initialize index.needRestoredData lazily
  table/tables/index.go
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, type/bug-fix

#23950 planner: fix comment mistake of `basePhysicalPlan. ExplainNormalizedInfo`
  planner/core/plan.go
Labels: size/XS, status/LGT2, status/can-merge

#24019 tests: fix the graceshutdown e2e that is failing
  tests/graceshutdown/go.mod
  tests/graceshutdown/go.sum
  tests/graceshutdown/graceshutdown_test.go
Labels: size/XS, status/LGT2, status/can-merge

#23978 *: add security enhanced mode part 1
  config/config.go
  docs/design/2021-03-09-dynamic-privileges.md
  docs/design/2021-03-09-security-enhanced-mode.md
  errno/errcode.go
  errno/errname.go
  errors.toml
  expression/integration_test.go
  planner/core/errors.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  privilege/privileges/cache.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/sem/sem.go
  util/sem/sem_test.go
Labels: component/config, component/expression, sig/sql-infra, size/XL, status/LGT2, status/can-merge

#23960 executor: fix wrong convert from bit to string when do projection
  executor/executor_test.go
  expression/chunk_executor.go
  expression/integration_test.go
Labels: component/expression, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#23432 store/tikv: support injecting customized failure to prewrite
  store/tikv/prewrite.go
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#23932 session: fix global variable collation_server does not take effect in new session
  session/session.go
  session/session_test.go
Labels: sig/sql-infra, size/S, status/LGT2, status/can-merge

#23962 statistics: use index fm-sketches instead of bucket NDV to calculate global NDV for indexes
  statistics/fmsketch.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/histogram.go
  statistics/table.go
Labels: component/statistics, sig/planner, size/L, status/LGT2, status/can-merge, type/enhancement

#23985 execdetails: move execdetails to store/tikv
  executor/adapter.go
  server/conn.go
  server/conn_stmt.go
  session/session.go
  store/driver/tikv_driver.go
  store/mockstore/unistore.go
  store/tikv/backoff.go
  store/tikv/client.go
  store/tikv/lock_resolver.go
  store/tikv/region_request.go
  store/tikv/snapshot.go
  store/tikv/util/execdetails.go
  store/tikv/util/pd_interceptor.go
  util/execdetails/execdetails.go
  util/stmtsummary/statement_summary.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/L, status/LGT2, status/can-merge

#24039 server: make golangci-lint happy
  server/server_test.go
  server/statistics_handler_test.go
Labels: sig/sql-infra, size/S, status/LGT2, status/can-merge

#23610 plugin, tests, tools, tidb: unify go modules
  go.mod
  go.sum
  owner/fail_test.go
  tests/globalkilltest/go.sum
  tools/check/go.mod
  tools/check/go.sum
Labels: sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#23818 *: protect read only noop via tidb_enable_noop_functions
  errors.toml
  executor/set_test.go
  executor/simple.go
  expression/integration_test.go
  sessionctx/variable/noop.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Labels: compatibility-breaker, component/expression, sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge, type/compatibility

#23926 planner: support explain verbose mode
  planner/core/common_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/plan.go
  planner/core/point_get_plan.go
  planner/core/task.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: sig/planner, size/XL, status/LGT2, status/can-merge, type/enhancement

#23955 planner: fix subquery update with generated column
  executor/executor_test.go
  planner/core/logical_plan_builder.go
Labels: needs-cherry-pick-5.0, sig/execution, size/M, status/LGT2, status/can-merge, type/bug-fix

#23992 kv/kv.go:remove StagingHandle from package tikv
  store/driver/txn/unionstore_driver.go
  store/tikv/unionstore/memdb.go
  store/tikv/unionstore/memdb_test.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#23980 planner: do not build MPP plan for scan with virtual columns
  executor/tiflash_test.go
  planner/core/find_best_task.go
Labels: needs-cherry-pick-5.0, sig/execution, sig/planner, size/M, status/LGT2, status/can-merge, type/bug-fix

#24051 executor: bypass encoding invalid datetime for index join
  executor/executor_test.go
  executor/index_lookup_join.go
  go.sum
Labels: needs-cherry-pick-5.0, sig/execution, size/S, status/LGT2, status/can-merge, type/bug-fix

#23986 store/tikv: clean up unused functions
  store/tikv/ticlient_test.go
  store/tikv/tikv_test.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#23988 statistics: fix some potential panic in statistics
  executor/index_merge_reader_test.go
  executor/testdata/point_get_suite_out.json
  planner/core/cbo_test.go
  statistics/scalar.go
  statistics/scalar_test.go
  statistics/selectivity.go
  statistics/testdata/stats_suite_out.json
  util/ranger/testdata/ranger_suite_out.json
Labels: component/statistics, needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/execution, sig/planner, size/M, status/LGT2, status/can-merge, type/bug-fix

#23991 distsql: refactor range splitting logic & comments on int64 boundary
  distsql/request_builder.go
  executor/analyze.go
  executor/table_reader.go
  planner/core/fragment.go
  planner/core/plan_to_pb.go
Labels: sig/execution, size/M, status/LGT2, status/can-merge

#24004 ddl: rename const to common, separate its test [1/6]
  ddl/placement/common.go
  ddl/placement/common_test.go
  ddl/placement/types_test.go
  ddl/placement/utils.go
Labels: size/M, status/LGT2, status/can-merge

#24020 store/tikv:move LockCtx from kv to tikv/kv
  executor/batch_point_get.go
  executor/executor.go
  executor/point_get.go
  kv/kv.go
  store/tikv/2pc.go
  store/tikv/kv/kv.go
  store/tikv/pessimistic.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/ticlient_slow_test.go
  store/tikv/tests/ticlient_test.go
  store/tikv/txn.go
Labels: sig/execution, sig/transaction, size/L, status/LGT2, status/can-merge

#24037 types: make golangci-lint happy
  types/time_test.go
Labels: component/expression, sig/execution, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#24021 store/tikv: define KVFilter for customized mutation initialization
  store/driver/txn/txn_driver.go
  store/tikv/2pc.go
  store/tikv/kv/option.go
  store/tikv/tests/2pc_test.go
  store/tikv/txn.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#24049 expression: check NotNullFlag of columns when simplifying binary operations
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/t/explain_easy.test
  expression/builtin_compare.go
  expression/integration_test.go
  planner/core/integration_test.go
Labels: component/expression, needs-cherry-pick-5.0, priority/release-blocker, size/M, status/LGT2, status/can-merge, type/bug-fix

#23913 ddl: rollingback add index meets panic leads json unmarshal object error-2 master
  ddl/db_test.go
  ddl/ddl_worker.go
Labels: sig/sql-infra, size/S, status/LGT2, status/can-merge

#23903 ddl: fix the covert job to rollingback job
  ddl/rollingback.go
  ddl/rollingback_test.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#24040 server: stable test
  server/server_test.go
Labels: sig/sql-infra, size/S, status/LGT2, status/can-merge

#23995 store/tikv:move MaxTxnTimeUse from kv to store/tikv
  domain/domain_test.go
  domain/infosync/info.go
  kv/kv.go
  store/tikv/2pc.go
  store/tikv/oracle/oracle.go
  store/tikv/txn.go
Labels: sig/sql-infra, sig/transaction, size/S, status/LGT2, status/can-merge

#23895 statistics: add more tests for extended stats
  statistics/handle/handle_test.go
Labels: component/statistics, component/test, sig/planner, size/L, status/LGT2, status/can-merge

#24065 store/mockstore: move mock storage to standalone package
  store/mockstore/mockstorage/storage.go
  store/mockstore/mocktikv/executor_test.go
  store/mockstore/tikv.go
  store/mockstore/unistore.go
Labels: size/L, status/LGT2, status/can-merge

#24066 mocktikv: extract test utils
  store/mockstore/mocktikv/executor_test.go
  store/mockstore/mocktikv/mock_tikv_test.go
  store/mockstore/mocktikv/utils.go
Labels: size/M, status/LGT2, status/can-merge

#24067 mocktikv: move coprHandler to standalone file
  store/mockstore/mocktikv/copr_handler.go
  store/mockstore/mocktikv/rpc.go
Labels: size/L, status/LGT2, status/can-merge

#24073 tidb-server: handle the help manually
  tidb-server/main.go
Labels: needs-cherry-pick-5.0, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#24068 mocktikv: add exported functions to session
  store/mockstore/mocktikv/analyze.go
  store/mockstore/mocktikv/cop_handler_dag.go
  store/mockstore/mocktikv/rpc.go
  store/mockstore/mocktikv/session.go
Labels: size/M, status/LGT2, status/can-merge

#23639 *: support showing forwarded status in Grafana
  metrics/grafana/tidb.json
Labels: size/L, status/LGT2, status/can-merge

#24069 mocktikv: extract coprRPCHandler
  store/mockstore/mocktikv/rpc.go
  store/mockstore/mocktikv/rpc_copr.go
Labels: size/L, status/LGT2, status/can-merge

#23638 *: support showing forwarded status in Grafana
  metrics/grafana/tidb.json
Labels: cherry-pick-approved, size/L, status/LGT2, status/can-merge

#23972 planner: change descScanFactor to scanFactor when rowCount is small.
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#23787 go.mod: update BR
  go.mod
  go.sum
Labels: cherry-pick-approved, size/XS, status/LGT2, status/can-merge

#24024 planner: donot prune all columns for Projection
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_join_stats.result
  planner/core/integration_test.go
  planner/core/rule_column_pruning.go
  planner/core/rule_eliminate_projection.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/plan_suite_unexported_out.json
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XL, status/LGT2, status/can-merge, type/bug-fix

#24011 config: typo fix for `distinct-agg-push-down`
  config/config.go
  config/config_test.go
Labels: component/config, needs-cherry-pick-5.0, sig/sql-infra, size/S, status/LGT2, status/can-merge

#23137 planner: fix index merge row count estimation logic
  cmd/explaintest/r/explain_indexmerge.result
  planner/core/integration_test.go
  planner/core/stats.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
  tests/globalkilltest/global_kill_test.go
Labels: sig/planner, size/L, status/LGT2, status/can-merge, type/enhancement

#24048 *: pre-allocate memory for slices
  executor/distsql.go
  executor/infoschema_reader.go
  executor/inspection_result.go
  executor/inspection_result_test.go
  executor/memtable_reader.go
  executor/memtable_reader_test.go
  executor/sample.go
  infoschema/tables.go
  planner/core/exhaust_physical_plans.go
  store/copr/batch_coprocessor.go
  store/mockstore/unistore/tikv/mvcc_test.go
  table/tables/tables.go
  util/rowcodec/rowcodec_test.go
Labels: sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24064 mocktikv: split mock coprocessor and mock tikv
  session/session_test.go
  store/mockstore/mockcopr/aggregate.go
  store/mockstore/mockcopr/analyze.go
  store/mockstore/mockcopr/checksum.go
  store/mockstore/mockcopr/cop_handler_dag.go
  store/mockstore/mockcopr/cop_handler_dag_test.go
  store/mockstore/mockcopr/copr_handler.go
  store/mockstore/mockcopr/executor.go
  store/mockstore/mockcopr/executor_test.go
  store/mockstore/mockcopr/rpc_copr.go
  store/mockstore/mockcopr/topn.go
  store/mockstore/mocktikv/cluster_test.go
  store/mockstore/mocktikv/mock.go
  store/mockstore/mocktikv/rpc.go
  store/mockstore/tikv.go
  store/tikv/region_cache_test.go
  store/tikv/region_request_test.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/delete_range_test.go
  store/tikv/tests/range_task_test.go
  store/tikv/tests/split_test.go
Labels: sig/diagnosis, sig/execution, sig/migrate, sig/planner, sig/sql-infra, sig/transaction, size/L, status/LGT2, status/can-merge

#24070 store/tikv: ignore all other locks except the first one met by autocommit point select
  store/tikv/snapshot.go
  store/tikv/snapshot_fail_test.go
Labels: cherry-pick-approved, priority/release-blocker, sig/transaction, size/L, status/LGT2, status/can-merge

#23931 *: don't allocate SessionIndexUsageCollector when indexUsageLease equals 0
  session/session.go
  session/tidb.go
  session/tidb_test.go
  statistics/handle/handle_test.go
Labels: cherry-pick-approved, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#23853 ddl: grant nonexistent user/role incompatible error
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/errors.go
  executor/simple.go
  executor/simple_test.go
Labels: sig/execution, sig/sql-infra, size/S, status/LGT2, status/can-merge

#24005 ddl: refactor constraint [2/6]
  ddl/ddl_api.go
  ddl/placement/constraint.go
  ddl/placement/constraint_test.go
  ddl/placement/errors.go
  ddl/placement/types.go
  ddl/placement/utils.go
  ddl/placement/utils_test.go
  ddl/placement_rule_test.go
  ddl/placement_sql_test.go
  expression/integration_test.go
  infoschema/tables_test.go
  session/session_test.go
Labels: component/expression, sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#24099 store/tikv: move mocktikv into tikv
  server/rpc_server.go
  store/copr/coprocessor_test.go
  store/driver/sql_fail_test.go
  store/gcworker/gc_worker_test.go
  store/mockstore/mockcopr/cop_handler_dag.go
  store/mockstore/mockcopr/copr_handler.go
  store/mockstore/mockcopr/executor.go
  store/mockstore/mockcopr/executor_test.go
  store/mockstore/mockcopr/rpc_copr.go
  store/mockstore/mockstore.go
  store/mockstore/mocktikv/puppet.go
  store/mockstore/tikv.go
  store/tikv/mockstore/mocktikv/cluster.go
  store/tikv/mockstore/mocktikv/cluster_manipulate.go
  store/tikv/mockstore/mocktikv/cluster_test.go
  store/tikv/mockstore/mocktikv/errors.go
  store/tikv/mockstore/mocktikv/mock.go
  store/tikv/mockstore/mocktikv/mock_tikv_test.go
  store/tikv/mockstore/mocktikv/mvcc.go
  store/tikv/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/mockstore/mocktikv/mvcc_test.go
  store/tikv/mockstore/mocktikv/pd.go
  store/tikv/mockstore/mocktikv/rpc.go
  store/tikv/mockstore/mocktikv/session.go
  store/tikv/mockstore/mocktikv/utils.go
  store/tikv/region_cache_test.go
  store/tikv/region_request_test.go
  store/tikv/tests/2pc_fail_test.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/delete_range_test.go
  store/tikv/tests/range_task_test.go
  store/tikv/tests/split_test.go
  store/tikv/tests/store_fail_test.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#24081 planner/core: push down topn to mpp
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
Labels: sig/planner, size/L, status/LGT2, status/can-merge, type/enhancement

#24103 util: move deadlock into mocktikv
  store/tikv/mockstore/deadlock/deadlock.go
  store/tikv/mockstore/deadlock/deadlock_test.go
  store/tikv/mockstore/mocktikv/mvcc_leveldb.go
Labels: size/XS, status/LGT2, status/can-merge

#24105 mocktikv: use codec inside store/tikv
  store/tikv/mockstore/mocktikv/mvcc.go
  store/tikv/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/util/codec/number.go
Labels: size/XL, status/LGT2, status/can-merge

#24106 mocktikv: resolve misc dependencies
  store/tikv/mockstore/mocktikv/mvcc_leveldb.go
  store/tikv/mockstore/mocktikv/session.go
Labels: size/S, status/LGT2, status/can-merge
