Repository pingcap/tidb, pull requests merged in 2021-11, with the labels that each got.

#29273 executor: grant to non-existent table with at least create privilege
  executor/grant.go
  executor/grant_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#29258 ddl: Ensure feature flag support for placement rules [2]
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/error.go
  ddl/placement_sql_test.go
  ddl/serial_test.go
  executor/executor_test.go
  executor/show_test.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#28805 expression: fix a bug caused by cast function signature wrong in aggregation push down
  expression/integration_test.go
  expression/util.go
  planner/core/testdata/integration_serial_suite_out.json
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/M

#29230 executor: also use approximate count from pd to decide the sample rate
  executor/analyze_test.go
  executor/builder.go
  executor/infoschema_reader_test.go
  planner/core/integration_test.go
  statistics/handle/handle_test.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, size/L, release-note-none

#29247 *: support plan replayer load
  executor/builder.go
  executor/plan_replayer.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  server/conn.go
  server/plan_replayer_test.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29241 planner: fix some index merge plans can not be cached when plan cache enable
  executor/explainfor_test.go
  planner/core/prepare_test.go
  planner/core/stats.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#29048 *: bootstrap config required admin review
  .github/CODEOWNERS
Labels: status/LGT3, require-LGT3, status/can-merge, size/XS, release-note-none

#29238 planner: fix the issue that some IndexJoin cannot use plan-cache
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  executor/prepared_test.go
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
  planner/core/physical_plans.go
  planner/core/prepare_test.go
  util/ranger/types.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, size/L, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2

#29174 ddl: rename region label to attributes
  ddl/attributes_sql_test.go
  ddl/table.go
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/tables.go
  infoschema/tables_serial_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29263 infoschema: fix inserting into a temporary table panics after the database is dropped
  ddl/db_integration_test.go
  executor/ddl.go
  infoschema/infoschema.go
  infoschema/infoschema_test.go
  planner/core/preprocess.go
  table/temptable/ddl.go
  table/temptable/ddl_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29265 infoschema: get PD version from status
  executor/infoschema_reader_test.go
  infoschema/cluster_tables_serial_test.go
  infoschema/tables.go
  util/pdapi/const.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29289 infoschema : solve prepared statements can't see temporary tables when the SQL involves multiple tables
  ddl/db_integration_test.go
  planner/optimize.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#28984 config, planner: Change prepared-plan-cache.capacity default size from 100 to 1000
  config/config.go
  config/config.toml.example
  planner/core/cache.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#29279 privileges: fix create temporary tables privilege
  parser/mysql/privs.go
  planner/core/common_plans.go
  planner/core/optimizer.go
  planner/core/planbuilder.go
  planner/optimize.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#28943 charset: support builtin function convert
  cmd/explaintest/r/collation.result
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/t/collation.test
  cmd/explaintest/t/new_character_set_builtin.test
  expression/builtin_string.go
  expression/builtin_string_vec.go
  parser/charset/encoding.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#29290 collation: change some builtin function to has ASCII repertoire
  expression/collation.go
  expression/collation_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#29278 *: Add test: `TestSameNameObjectWithLocalTemporaryTable`
  session/session_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29300 planner: do not push down topN and limit to index merge
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, size/M, release-note-none

#28991 *: enable golangci-lint `exportloopref`
  .golangci.yml
  executor/show_placement.go
  planner/core/find_best_task.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29256 ddl : ddl forbid partition table switch into cache and add view feature test
  ddl/db_cache_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/error.go
  ddl/table.go
  errors.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29291 lightning: fix in-correctly check for session variable
  br/pkg/lightning/lightning.go
  br/pkg/lightning/restore/table_restore.go
  br/pkg/lightning/restore/tidb.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29295 store/driver: update client-go and errors
  go.mod
  go.sum
  server/server_test.go
  store/driver/error/error.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29039 expression: support GBK charset for builtin function octet_length()
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/t/new_character_set_builtin.test
  expression/builtin_string_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#29249 pkg/lightning: refine config for `duplicate-resolution` and pause GC when `duplicate-resolution` is enabled
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore.go
  br/tests/lightning_duplicate_detection/config1.toml
  br/tests/lightning_duplicate_detection/config2.toml
  br/tests/lightning_duplicate_resolution/config.toml
  br/tidb-lightning.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/lightning

#29332 config, main: change default socket to include port
  config/config.go
  config/config.toml.example
  tidb-server/main.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#29299 server: let plan replayer support forward request
  domain/infosync/info.go
  domain/infosync/info_test.go
  server/plan_replayer.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29309 sessionctx: remove variables tidb_enable_mpp_balance_with_continuous_region*
  kv/mpp.go
  planner/core/fragment.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/copr/mpp.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29232 *: tiny clean up the RecordSet NewChunk() method
  bindinfo/bind_serial_test.go
  bindinfo/handle.go
  bindinfo/handle_serial_test.go
  bindinfo/session_handle_serial_test.go
  br/pkg/lightning/checkpoints/glue_checkpoint.go
  cmd/benchdb/main.go
  ddl/db_change_test.go
  ddl/rollingback_test.go
  ddl/util/util.go
  executor/adapter.go
  executor/analyze.go
  executor/ddl_test.go
  executor/distsql_test.go
  executor/executor_test.go
  executor/grant.go
  executor/index_lookup_join_test.go
  executor/join_test.go
  executor/memory_test.go
  executor/plan_replayer.go
  executor/seqtest/prepared_serial_test.go
  executor/seqtest/seq_executor_serial_test.go
  executor/simple.go
  executor/trace.go
  expression/integration_test.go
  privilege/privileges/cache.go
  server/conn.go
  server/driver.go
  server/driver_tidb.go
  server/http_handler.go
  server/tidb_test.go
  session/bench_test.go
  session/bootstrap.go
  session/bootstrap_serial_test.go
  session/session.go
  session/session_test.go
  session/tidb.go
  statistics/handle/bootstrap.go
  statistics/handle/ddl.go
  statistics/handle/update.go
  statistics/row_sampler.go
  statistics/sample.go
  statistics/statistics_serial_test.go
  statistics/statistics_test.go
  store/driver/sql_fail_serial_test.go
  store/gcworker/gc_worker.go
  store/mockstore/mockcopr/analyze.go
  store/mockstore/unistore/cophandler/analyze.go
  table/tables/tables_test.go
  util/sqlexec/restricted_sql_executor.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29354 *: update client-go and fix metrics
  go.mod
  go.sum
  store/copr/coprocessor.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#29338 lightning: fix duplicate check panic
  br/pkg/lightning/backend/backend.go
  br/pkg/lightning/backend/importer/importer.go
  br/pkg/lightning/backend/local/duplicate.go
  br/pkg/lightning/backend/local/iterator.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/noop/noop.go
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore.go
  br/pkg/mock/backend.go
  br/tests/lightning_duplicate_detection/config1.toml
  br/tests/lightning_duplicate_detection/config2.toml
  br/tests/lightning_duplicate_detection/run.sh
  br/tidb-lightning.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/lightning

#29276 expression: migrate tests to testify
  expression/bench_test.go
  expression/builtin_other_serial_test.go
  expression/builtin_other_test.go
  expression/builtin_string_serial_test.go
  expression/builtin_string_test.go
  expression/collation_serial_test.go
  expression/collation_test.go
  expression/distsql_builtin_serial_test.go
  expression/distsql_builtin_test.go
  expression/evaluator_test.go
  expression/expr_to_pb_serial_test.go
  expression/expr_to_pb_test.go
  expression/schema_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#29165 expression: Support GBK for builtin function MD5
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/t/new_character_set_builtin.test
  expression/builtin_encryption.go
  expression/builtin_encryption_test.go
  expression/builtin_encryption_vec.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29349 planner: fix the issue IndexJoin returns wrong results when using plan-cache in some cases
  planner/core/exhaust_physical_plans.go
  planner/core/prepare_test.go
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, epic/plan-cache, size/M, needs-cherry-pick-5.3

#29312 planner: fix wrong results using the unique index column with cached plans
  executor/explainfor_test.go
  planner/core/common_plans.go
  planner/core/prepare_test.go
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, epic/plan-cache, size/M, needs-cherry-pick-5.3

#29310 expression: Fix wrong result of microsecond function in vectorized
  expression/builtin_time_vec.go
  expression/integration_test.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#29325 test: tests call `collate.SetNewCollationEnabledForTest` should run in serial
  planner/core/plan_to_pb_serial_test.go
  statistics/selectivity_serial_test.go
  statistics/selectivity_test.go
  table/tables/index_serial_test.go
  table/tables/index_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29372 dumpling: reduce pingcap/check dependency
  dumpling/tools/go.mod
  dumpling/tools/go.sum
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/dumpling

#29358 *: fix nil pointer panic of some operations when skip-grant-table is true
  domain/domain.go
  executor/simple.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#29383 ddl: remove out-of-date TODO
  ddl/index.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29342 copr: do not hide original error for MPP query that will not faillback to TiKV
  distsql/distsql.go
  kv/mpp.go
  server/conn_test.go
  store/copr/mpp.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#29393 session: remove extra useless tso request
  executor/stale_txn_test.go
  planner/core/preprocess.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#28301 statistics: migrate test-infra to testify for statistics/handle/gc_test.go
  statistics/handle/gc_test.go
  statistics/handle/handle_test.go
  testkit/testkit.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29315 expression: support GBK for builtin function Decode and Encode
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/t/new_character_set_builtin.test
  expression/builtin_encryption.go
  expression/builtin_encryption_test.go
  expression/builtin_encryption_vec.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29363 planner, MPP: fix two bugs about group by duplicated and sort by exprs
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.3

#29389 dumpling/tests: update sync_diff configs for CI
  dumpling/tests/_utils/check_sync_diff
  dumpling/tests/all_generate_column/conf/diff_config.toml
  dumpling/tests/e2e/conf/diff_config.toml
  dumpling/tests/e2e_csv/conf/diff_config.toml
  dumpling/tests/ignore_generate_column/conf/diff_config.toml
  dumpling/tests/rows/conf/diff_config.toml
  dumpling/tests/rows_extreme_int/conf/diff_config.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/dumpling

#29184 dml : dml read operation for cache table
  executor/distsql.go
  executor/mem_reader.go
  executor/table_reader.go
  planner/core/logical_plan_builder.go
  planner/core/stats.go
  sessionctx/stmtctx/stmtctx.go
  table/table.go
  table/tables/cache.go
  table/tables/cache_test.go
  table/tables/tables.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29392 *: remove useless parameter
  br/pkg/lightning/mydump/parquet_parser_test.go
  expression/builtin_encryption_test.go
  expression/builtin_other_serial_test.go
  expression/builtin_other_vec.go
  expression/builtin_string_serial_test.go
  sessionctx/binloginfo/binloginfo_test.go
  sessionctx/variable/session.go
  tablecodec/tablecodec_test.go
  types/datum.go
  util/ranger/points.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29413 *: add IsExplicitTxn in slow log
  executor/adapter.go
  executor/slow_query.go
  executor/slow_query_test.go
  infoschema/tables.go
  infoschema/tables_serial_test.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: type/enhancement, status/LGT2, release-note, status/can-merge, size/S

#29301 ddl, executor: add warning log for lock/unlock tables
  ddl/serial_test.go
  errors.toml
  executor/ddl.go
  executor/errors.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#29374 server: migrate test-infra to testify for http_handler_test.go
  server/http_handler_serial_test.go
  server/http_handler_test.go
  server/main_test.go
  server/server_test.go
  testkit/dbtestkit.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#29343 dumpling: allow verbose integration test
  .github/workflows/dumpling_integration_test.yml
  dumpling/tests/run.sh
Labels: status/LGT2, component/test, status/can-merge, size/S, release-note-none, component/dumpling

#29341 dumpling: optimize dumpling log level
  dumpling/export/block_allow_list_test.go
  dumpling/export/config.go
  dumpling/export/config_test.go
  dumpling/export/consistency.go
  dumpling/export/consistency_test.go
  dumpling/export/dump.go
  dumpling/export/dump_test.go
  dumpling/export/http_handler.go
  dumpling/export/ir.go
  dumpling/export/ir_impl.go
  dumpling/export/main_test.go
  dumpling/export/metadata.go
  dumpling/export/metadata_test.go
  dumpling/export/prepare.go
  dumpling/export/prepare_test.go
  dumpling/export/retry.go
  dumpling/export/sql.go
  dumpling/export/sql_test.go
  dumpling/export/status.go
  dumpling/export/test_util.go
  dumpling/export/util.go
  dumpling/export/writer.go
  dumpling/export/writer_serial_test.go
  dumpling/export/writer_test.go
  dumpling/export/writer_util.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/dumpling

#29438 expression: fix different results for greatest when vectorized is off
  expression/builtin_compare.go
  expression/builtin_compare_test.go
  expression/integration_test.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/M, needs-cherry-pick-5.3

#29414 dumpling/gcs: fix http client credential problem
  dumpling/export/config.go
Labels: status/LGT2, release-note, status/can-merge, size/S, component/dumpling, needs-cherry-pick-5.3

#29399 dumpling/sql: fix pick up possible field
  dumpling/export/dump.go
  dumpling/export/sql.go
  dumpling/export/sql_test.go
  dumpling/export/sql_type.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/dumpling, needs-cherry-pick-5.3

#29429 br: Update mysql.stats_meta after checksum in restore
  br/pkg/glue/glue.go
  br/pkg/gluetidb/glue.go
  br/pkg/restore/client.go
  br/pkg/restore/db.go
  executor/brie.go
Labels: status/LGT2, release-note, status/can-merge, size/M, component/br

#29452 tidb-server: add warning when the failpoint is enabled in tikv/client-go
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29360 br: Compatibility problem between br and TiDB for DDLs about attribute in Incremental Backup
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, component/br

#27486 config: set the default value of auto_tls to false
  config/config.go
  config/config.toml.example
  config/config_test.go
Labels: status/LGT2, status/can-merge, component/config, sig/sql-infra, size/XS, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#29467 ddl: fix cannot delete attributes when database is dropped
  ddl/attributes_sql_test.go
  ddl/schema.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.3

#29457 expression, executor: fix unexpectedly modifying `Flen` and `Decimal` of `CorrelatedColumn`
  executor/executor_test.go
  expression/expression.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-5.3

#29202 expression: support builtin func password for GBK
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/t/new_character_set_builtin.test
  expression/builtin_encryption.go
  expression/builtin_encryption_test.go
  expression/builtin_encryption_vec.go
  parser/auth/mysql_native_password.go
  parser/auth/mysql_native_password_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#28784 *: run go fmt in go1.17
  br/pkg/lightning/backend/local/local_freebsd.go
  br/pkg/lightning/backend/local/local_unix.go
  br/pkg/lightning/backend/local/local_unix_generic.go
  br/pkg/lightning/backend/local/local_windows.go
  br/pkg/lightning/common/storage_unix.go
  br/pkg/lightning/common/storage_windows.go
  br/pkg/lightning/manual/manual_nocgo.go
  br/pkg/lightning/sigusr1_other.go
  br/pkg/lightning/sigusr1_unix.go
  br/pkg/lightning/web/res.go
  br/pkg/lightning/web/res_vfsdata.go
  br/pkg/storage/local_unix.go
  br/pkg/storage/local_windows.go
  br/pkg/utils/dyn_pprof_other.go
  br/pkg/utils/dyn_pprof_unix.go
  ddl/restart_test.go
  expression/generator/compare_vec.go
  expression/generator/control_vec.go
  expression/generator/other_vec.go
  expression/generator/string_vec.go
  expression/generator/time_vec.go
  server/tidb_test.go
  testkit/asynctestkit.go
  testkit/dbtestkit.go
  testkit/handle.go
  testkit/mockstore.go
  testkit/result.go
  testkit/testdata/testdata.go
  testkit/testkit.go
  testkit/testmain/bench.go
  testkit/testmain/wrapper.go
  testkit/trequire/trequire.go
  util/israce/israce.go
  util/israce/norace.go
  util/localpool/localpool_norace.go
  util/localpool/localpool_race.go
  util/localpool/localpool_test.go
  util/signal/signal_posix.go
  util/signal/signal_windows.go
  util/sys/linux/sys_linux.go
  util/sys/linux/sys_other.go
  util/sys/linux/sys_windows.go
  util/sys/storage/sys_other.go
  util/sys/storage/sys_posix.go
  util/sys/storage/sys_windows.go
  util/testbridge/bridge.go
  util/testkit/fake.go
  util/testkit/testkit.go
  util/testleak/fake.go
  util/testleak/leaktest.go
  util/testutil/testutil.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29448 dumpling: fix tidb lock consistency and check tikv problem
  dumpling/export/consistency.go
  dumpling/export/consistency_test.go
  dumpling/export/sql.go
  dumpling/export/sql_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/dumpling

#29451 expression : improve error handle for EncodeString/Encode
  expression/builtin_string_vec.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#29496 planner: fix the issue that IndexJoin with plan-cache return wrong results after changing some parameters unexpectedly
  planner/core/exhaust_physical_plans.go
  planner/core/prepare_test.go
  util/ranger/types.go
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, epic/plan-cache, size/M, needs-cherry-pick-5.3

#29454 expression: fix wrong caseWhen function for enum type
  expression/builtin_control.go
  expression/constant_fold.go
  expression/integration_test.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#29375 executor: fix wrong result for join with enum type
  executor/builder.go
  executor/hash_table.go
  executor/hash_table_serial_test.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/join.go
  expression/integration_test.go
  util/codec/codec.go
  util/codec/codec_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#29505 br/pkg/lightning: make tidb version check more compitible
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/restore_test.go
  br/pkg/version/version.go
Labels: status/LGT2, release-note, status/can-merge, size/L, cherry-pick-approved, component/lightning

#29459 expression: clean code
  expression/collation.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29408 expression: fix wrong result type for greatest/least
  expression/builtin_compare.go
  expression/builtin_compare_test.go
  expression/builtin_compare_vec.go
  expression/builtin_compare_vec_test.go
  expression/integration_test.go
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, size/XL, needs-cherry-pick-5.3

#29521 expression: set maxScale for type Decimal if the scale is NotFixScale
  expression/expression.go
Labels: status/LGT2, type/bug-fix, component/expression, release-note, status/can-merge, size/XS, needs-cherry-pick-5.3

#29500 lightning,dumpling: make tidb version check more compitible
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/restore/restore_test.go
  br/pkg/version/version.go
  br/pkg/version/version_test.go
  dumpling/export/block_allow_list_test.go
  dumpling/export/config.go
  dumpling/export/config_test.go
  dumpling/export/consistency.go
  dumpling/export/consistency_test.go
  dumpling/export/dump.go
  dumpling/export/dump_test.go
  dumpling/export/metadata.go
  dumpling/export/metadata_test.go
  dumpling/export/sql_test.go
  dumpling/export/util.go
  dumpling/export/util_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XL, component/lightning, component/dumpling

#29284 statistics: migrate test-infra to testify for statistics/handle/ddl_test.go
  statistics/handle/ddl_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29522 *: TIDB_DECODE_KEY(): Decode keys which only have a TableID
  expression/integration_test.go
  planner/core/expression_rewriter.go
  tablecodec/tablecodec.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#28969 expression: Optimize code if else branch logic
  ddl/ddl.go
  distsql/distsql.go
  server/conn.go
  server/server.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29540 ddl_test: amend the test name to the distinguished one
  ddl/column_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29118 dumpling : add err message for dumpling
  dumpling/export/dump.go
  dumpling/export/prepare_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/dumpling

#28971 docs: add the design of table attributes
  docs/design/2021-10-20-table-attributes.md
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29477 *: insert/update or explain should not trigger table cache condition
  planner/core/logical_plan_builder.go
  sessionctx/stmtctx/stmtctx.go
  table/tables/cache_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29499 ddl: make CI TestDropSchemaWithPartitionTable stable
  ddl/db_partition_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29444 plan,table : support write operator for cache table and mock lockwrite state
  ddl/db_cache_test.go
  executor/main_test.go
  planner/core/logical_plan_builder.go
  table/table.go
  table/tables/cache.go
  table/tables/cache_test.go
  table/tables/main_test.go
  table/tables/state_remote.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29544 expression: support GBK for builtin function SHA1/SHA2
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/t/new_character_set_builtin.test
  expression/builtin_encryption.go
  expression/builtin_encryption_test.go
  expression/builtin_encryption_vec.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29558 planner: fix the wrong access conditions for indexScan
  planner/core/prepare_test.go
  planner/util/path.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none, needs-cherry-pick-5.3

#29519 planner: fix create binding panic when status.record-db-qp enable
  executor/compiler.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/preprocess.go
Labels: status/LGT2, type/bug-fix, status/can-merge, epic/sql-plan-management, size/M, release-note-none, needs-cherry-pick-5.3

#29579 planner: fix the issue that set wrong length and width for Decimal and Real when using plan-cache
  expression/builtin_arithmetic.go
  expression/builtin_arithmetic_test.go
  planner/core/prepare_test.go
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, epic/plan-cache, size/M, needs-cherry-pick-5.3

#29533 br: Git Action triggered only by merge action
  .github/workflows/br_compatible_test.yml
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#29555 pkg/lightning: reduce cpu&memory usage when duplicate-resolution is enabled
  br/pkg/lightning/backend/local/duplicate.go
  br/pkg/lightning/backend/local/iterator.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore.go
  br/tidb-lightning.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/lightning, needs-cherry-pick-5.3

#29491 br: fix-panic, call close(chan) before waitgroup.done()
  br/pkg/metautil/metafile.go
  br/tests/br_db/run.sh
  br/tests/br_rawkv/run.sh
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/br

#29580 *: revert "reduce object allocation by reuse chunk column" #29064
  executor/adapter.go
  server/conn.go
  server/conn_test.go
  server/driver.go
  server/driver_tidb.go
  session/bench_test.go
  session/session.go
  statistics/statistics_test.go
  store/mockstore/mockcopr/analyze.go
  store/mockstore/unistore/cophandler/analyze.go
  util/chunk/alloc.go
  util/chunk/alloc_test.go
  util/chunk/chunk.go
  util/chunk/column.go
  util/sqlexec/restricted_sql_executor.go
Labels: status/LGT2, release-note, status/can-merge, size/XL, cherry-pick-approved

#29584 statistics: pseudo table should not contain the hidden columns
  statistics/statistics_test.go
  statistics/table.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-5.3

#29575 dml : cache table reads data from the original table in a new transaction
  planner/core/logical_plan_builder.go
  table/table.go
  table/tables/cache.go
  table/tables/cache_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29596 *: remove old placement code for truncate table
  ddl/placement_policy_test.go
  ddl/table.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29447 variable: add support for timestamp
  executor/seqtest/seq_executor_serial_test.go
  expression/helper.go
  expression/helper_test.go
  expression/integration_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29626 lightning: do not shadow checksum error
  br/pkg/lightning/restore/table_restore.go
  br/tests/lightning_checksum_mismatch/config.toml
  br/tests/lightning_checksum_mismatch/data/cm-schema-create.sql
  br/tests/lightning_checksum_mismatch/data/cm.t-schema.sql
  br/tests/lightning_checksum_mismatch/data/cm.t.csv
  br/tests/lightning_checksum_mismatch/run.sh
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/lightning, needs-cherry-pick-5.3

#29494 executor: fix show grants failed after drop granted role
  executor/simple.go
  executor/simple_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#29606 planner: eliminate empty projection below aggregation
  planner/core/logical_plan_test.go
  planner/core/rule_column_pruning.go
  planner/core/testdata/integration_serial_suite_out.json
Labels: status/LGT2, status/can-merge, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#29601 br: Create grpc.connection with block mode
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/ingester.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, component/br

#29470 util: fix mistakenly shadowed name `idx`
  util/admin/admin.go
  util/admin/admin_integration_test.go
Labels: status/LGT2, sig/transaction, size/M, release-note-none

#29619 *: remove old placement code for truncate partition
  ddl/partition.go
  ddl/placement_policy_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29267 *: support `makezero` via `golangci-lint`
  .golangci.yml
  executor/index_lookup_hash_join.go
  executor/slow_query.go
  kv/key.go
  planner/cascades/transformation_rules.go
  planner/core/exhaust_physical_plans.go
  planner/core/physical_plans.go
  planner/util/path.go
  store/gcworker/gc_worker.go
  store/mockstore/unistore/tikv/mvcc/tikv.go
  tablecodec/tablecodec.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27773 statistics: remove redundant assignment for statistics.Column.Count
  statistics/handle/handle.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29600 table: don't compare different types of handles
  table/tables/index_test.go
  table/tables/mutation_checker.go
Labels: status/LGT2, size/S, release-note-none

#29426 *: update tikv client to use the new transaction Begin method
  go.mod
  go.sum
  kv/fault_injection.go
  kv/fault_injection_test.go
  kv/interface_mock_test.go
  kv/kv.go
  session/session.go
  session/txn.go
  store/driver/tikv_driver.go
  store/helper/helper.go
  store/mockstore/mockstorage/storage.go
  table/tables/cache.go
  table/temptable/ddl.go
  util/mock/context.go
  util/mock/store.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29651 test: improve test by checking gc_delete_range instead of scanning keys
  ddl/db_partition_test.go
  ddl/db_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29583 *: fix wrong flen of table information_schema.placement_rules
  infoschema/tables.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#29337 planner: migrate indexmerge_test to testify
  planner/core/indexmerge_test.go
  planner/core/main_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#28941 executor: migrate utils_test.go to testify
  executor/utils_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29627 statistics: migrate test-infra to testify for statistics/handle/dump_test.go
  statistics/handle/dump_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29569 variable: make the default value of wait_timeout the same as MySQL
  server/conn_test.go
  sessionctx/variable/tidb_vars.go
Labels: type/enhancement, status/LGT2, release-note, status/can-merge, size/XS

#29688 table/tables: make CI stable for table/tables package
  table/tables/cache_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29668 domain: fix bug that after 'skip-grant-table', set password doesn't take effect immediately
  domain/domain.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-5.3

#29684 domain: fix bug that after 'skip-grant-table', set password doesn't take effect immediately #29668
  domain/domain.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, cherry-pick-approved, fixes-5.3.0, type/5.3-cherry-pick

#29553 executor: migrate test infra to testify for concurrent_map_test.go and collation_test.go
  executor/collation_serial_test.go
  executor/concurrent_map_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29420 br: fix check sum time inaccurate in restore log
  br/pkg/restore/client.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, component/br

#29613 expression: migrate test-infra to testify for typeinfer_test.go
  expression/typeinfer_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29621 ddl : support `alter table xx nocache` operations switch a table into uncacheable
  ddl/db_cache_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/table.go
  ddl/table_test.go
  parser/model/ddl.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29591 makefile: fix upload-coverage
  Makefile
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#29646 mockstore: set FieldType.charset in coprocessor
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/t/new_character_set_builtin.test
  parser/charset/charset.go
  store/mockstore/mockcopr/cop_handler_dag.go
  store/mockstore/unistore/cophandler/cop_handler.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29443 *: fix staled table cache usage inside a transaction
  executor/builder.go
  executor/distsql.go
  executor/mem_reader.go
  executor/table_reader.go
  executor/union_scan.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/stats.go
  sessionctx/stmtctx/stmtctx.go
  table/table.go
  table/tables/cache.go
  table/tables/cache_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29623 BR: Git action improvement
  .github/workflows/compile_br.yaml
Labels: status/LGT2, status/can-merge, size/S, component/br, action/run-br-cross-platform-build

#29649 *: remove old placement code for exchange partition
  ddl/partition.go
  ddl/placement_policy_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29695 lightning: fix checksum mismatch when parallel import data
  br/pkg/lightning/restore/table_restore.go
  br/tests/lightning_distributed_import/config.toml
  br/tests/lightning_distributed_import/data1/distributed_import-schema-create.sql
  br/tests/lightning_distributed_import/data1/distributed_import.t-schema.sql
  br/tests/lightning_distributed_import/data1/distributed_import.t.csv
  br/tests/lightning_distributed_import/data2/distributed_import-schema-create.sql
  br/tests/lightning_distributed_import/data2/distributed_import.t-schema.sql
  br/tests/lightning_distributed_import/data2/distributed_import.t.csv
  br/tests/lightning_distributed_import/run.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/lightning, needs-cherry-pick-5.3

#29701 br: Add system table from v5.3.0 into blacklist which shouldn't be restored
  br/pkg/restore/systable_restore.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/br

#29270 planner: lazy the subquery-more-than-1-row error after the insert duplicate is actually triggered
  errors.toml
  executor/insert.go
  expression/expression.go
  planner/core/errors.go
  planner/core/expression_rewriter_test.go
  planner/core/planbuilder.go
  planner/core/resolve_indices.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#29614 util: add WaitGroupWrapper
  br/pkg/lightning/restore/checksum_test.go
  util/localpool/localpool_test.go
  util/wait_group_wrapper.go
  util/wait_group_wrapper_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29679 ddl: fix the issue that the rule may be deleted by accident
  ddl/attributes_sql_test.go
  store/gcworker/gc_worker.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-5.3

#29559 planner: add optimizer trace framework for logicalOptimize
  executor/executor.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/plan.go
  planner/core/rule_aggregation_elimination.go
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_build_key_info.go
  planner/core/rule_column_pruning.go
  planner/core/rule_decorrelate.go
  planner/core/rule_eliminate_projection.go
  planner/core/rule_generate_column_substitute.go
  planner/core/rule_join_elimination.go
  planner/core/rule_join_reorder.go
  planner/core/rule_max_min_eliminate.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_push_down.go
  planner/core/rule_result_reorder.go
  planner/core/rule_topn_push_down.go
  sessionctx/stmtctx/stmtctx.go
  util/tracing/opt_trace.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29212 server: fix show problem for kill tidb connection (#24031)
  server/server.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#29593 *: Replace the dbterror.ClassOptimizer.NewStd(mysql.ErrInternal) to a global constant.
  executor/aggfuncs/func_group_concat.go
  executor/builder.go
  expression/errors.go
  expression/expr_to_pb.go
  expression/scalar_function.go
  util/hint/hint_processor.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29713 lightning: make charset setting case-insensitive
  br/pkg/lightning/mydump/charset_convertor.go
  br/pkg/lightning/mydump/charset_convertor_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/lightning, needs-cherry-pick-5.3

#29543 cmd, expression, parser: support GBK for builtin function char()
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/t/new_character_set_builtin.test
  expression/builtin_string.go
  expression/builtin_string_test.go
  expression/builtin_string_vec.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29170 expression: support GBK for builtin function Compress
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/t/new_character_set_builtin.test
  expression/builtin_encryption.go
  expression/builtin_encryption_test.go
  expression/builtin_encryption_vec.go
  expression/builtin_string.go
  expression/builtin_string_vec.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29561 *: refine CharsetAndCollation
  bindinfo/capture_serial_test.go
  executor/builder.go
  expression/builtin_cast.go
  expression/collation.go
  expression/constant_propagation.go
  expression/distsql_builtin.go
  expression/expr_to_pb.go
  expression/expr_to_pb_serial_test.go
  expression/scalar_function.go
  expression/util_test.go
  planner/core/logical_plans.go
  planner/core/plan_to_pb.go
  planner/core/rule_partition_processor.go
  planner/util/path.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar_test.go
  util/ranger/checker.go
  util/ranger/detacher.go
  util/ranger/points.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29352 executor: migrate test-infra to testify for admin_test.go
  executor/admin_serial_test.go
  executor/admin_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#29409 br/pkg/version: migrate test-infra to testify
  br/pkg/version/build/info_test.go
  br/pkg/version/version_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29699 *: allow setting @@tidb_tso_client_batch_max_wait_time to a float millisecond
  domain/sysvar_cache.go
  executor/set.go
  executor/set_test.go
  go.mod
  go.sum
  session/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.3

#29748 lightning: avoid init error manager if not needed
  br/pkg/lightning/backend/tidb/tidb_test.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/pkg/lightning/mydump/charset_convertor.go
  br/pkg/lightning/mydump/charset_convertor_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, component/lightning, needs-cherry-pick-5.3

#29667 executor: fix drop role not work as expected in the show result.
  executor/grant.go
  executor/revoke.go
  executor/show.go
  executor/simple.go
  executor/simple_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#29529 executor/aggfuncs: migrate test-infra to testify for func_count_test.go, func_group_concat_test.go, func_stddevpop_test.go, func_stddevsamp_test.go, and func_varsamp_test.go
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/func_count_test.go
  executor/aggfuncs/func_group_concat_test.go
  executor/aggfuncs/func_stddevpop_test.go
  executor/aggfuncs/func_stddevsamp_test.go
  executor/aggfuncs/func_varsamp_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29696 *: Make PD placement api as an interface and add some mock codes
  domain/infosync/info.go
  domain/infosync/placement_manager.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29691 *: Move some bundle methods to bundle package and add some tests
  ddl/partition.go
  ddl/placement/bundle.go
  ddl/placement/meta_bundle_test.go
  ddl/placement_policy.go
  ddl/schema.go
  ddl/table.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#28898 ddl: use the individual infosyncer for each attributes test
  ddl/attributes_sql_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29707 ddl : ddl forbid create / add / rename /drop index for cache table
  ddl/db_cache_test.go
  ddl/ddl_api.go
  ddl/index.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29730 br: Remove statement from closure to prevent concurrent operation during backup system table
  br/pkg/backup/schema.go
  br/pkg/backup/schema_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/br, needs-cherry-pick-5.3

#29763 Planner,MPP: check whether the order-by items can be pushed down to tiflash/tikv or not
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.3

#29703 dml : Support point get / batch point get for cache table
  executor/batch_point_get.go
  executor/batch_point_get_test.go
  executor/builder.go
  executor/point_get.go
  planner/core/common_plans.go
  planner/optimize.go
  table/tables/cache_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29157 expression: Support GBK for builtin function AesDecrypt
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/t/new_character_set_builtin.test
  expression/builtin_encryption.go
  expression/builtin_encryption_test.go
  expression/builtin_encryption_vec.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29788 go.mod: upgrade the client-go to use a more readble key log format
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29739 *: disable parallel to avoid data race when test
  infoschema/perfschema/tables_serial_test.go
  infoschema/perfschema/tables_test.go
  statistics/handle/ddl_serial_test.go
  statistics/handle/dump_serial_test.go
  statistics/handle/gc_serial_test.go
  statistics/handle/handle_test.go
  statistics/selectivity_serial_test.go
  statistics/selectivity_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none
