Repository pingcap/tidb, pull requests merged in 2021-08, with the labels that each got.

#26781 server: fix the time format for `TestTLS` unit test
  server/stat.go
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#26720 executor: fix virtual columns in index join
  executor/builder.go
  executor/executor_test.go
Labels: release-note-none, sig/execution, size/M, status/LGT2, status/can-merge, type/bug-fix

#26509 session: add test for local temporary table update
  session/session_test.go
Labels: release-note-none, sig/sql-infra, size/L, status/LGT2, status/can-merge

#26756 plugin/conn_ip_example_test.go: migrate test-infra to testify
  plugin/conn_ip_example/conn_ip_example_test.go
  plugin/conn_ip_example/main_test.go
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#26715 owner: make unit test faster
  owner/fail_test.go
  owner/manager_test.go
Labels: release-note-none, sig/sql-infra, size/S, status/LGT2, status/can-merge

#26271 planner: improve skyline pruning
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/logical_plan_test.go
  planner/core/logical_plans.go
  planner/core/mock.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  planner/util/path.go
  util/ranger/detacher.go
Labels: sig/planner, size/XL, status/LGT2, status/can-merge

#25826 planner: steady expression index selection when having duplicate expressions
  cmd/explaintest/r/explain_generate_column_substitute.result
  expression/column.go
  expression/constant.go
  expression/expression.go
  expression/scalar_function.go
  expression/schema.go
  expression/util_test.go
  planner/core/find_best_task.go
  planner/core/plan_test.go
  planner/core/resolve_indices.go
  statistics/selectivity.go
  util/ranger/checker.go
  util/ranger/detacher.go
  util/ranger/ranger_test.go
Labels: component/expression, component/statistics, sig/planner, size/XL, status/LGT2, status/can-merge

#26729 planner: add more test cases for list partitioning
  planner/core/integration_partition_test.go
  planner/core/testdata/integration_partition_suite_in.json
  planner/core/testdata/integration_partition_suite_out.json
Labels: sig/planner, size/XXL, status/LGT2, status/can-merge

#26691 domain: 'load privilege failed' when autocommit is off
  domain/domain.go
Labels: sig/sql-infra, size/XS, status/LGT2, status/can-merge

#26403 planner: add binding info for explain stmt
  bindinfo/bind_test.go
  planner/optimize.go
Labels: epic/sql-plan-management, sig/planner, size/M, status/LGT2, status/can-merge

#26783 parser: update dependency to latest
  go.mod
  go.sum
  types/parser_driver/special_cmt_ctrl.go
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#26502 statistics: improve out-of-range estimation strategy
  cmd/explaintest/r/explain_complex_stats.result
  planner/core/testdata/analyze_suite_out.json
  statistics/cmsketch.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/scalar.go
  statistics/selectivity_test.go
  statistics/statistics_test.go
  statistics/table.go
  statistics/testdata/stats_suite_in.json
  statistics/testdata/stats_suite_out.json
Labels: component/statistics, release-note, sig/planner, size/XXL, status/LGT2, status/can-merge

#26649 varaible: fix the new session can't see the instance-level variable store-limit
  domain/sysvar_cache.go
  executor/set_test.go
  sessionctx/variable/sysvar.go
Labels: release-note, sig/execution, sig/sql-infra, size/S, status/LGT2, status/can-merge

#26761 metrics: migrate test-infra to testify
  metrics/main_test.go
  metrics/metrics_test.go
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#26751 domain: migrate test-infra to testify (part 1)
  domain/schema_validator_test.go
Labels: release-note-none, sig/sql-infra, size/L, status/LGT2, status/can-merge

#26690 util/topsql: migrate test-infra to testify
  util/topsql/main_test.go
  util/topsql/topsql_test.go
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#26738 util/cteutil: migrate test-infra to testify
  util/cteutil/main_test.go
  util/cteutil/storage_test.go
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#26798 ddl: refine error message for expression index
  ddl/db_integration_test.go
  ddl/error.go
  ddl/index.go
  errors.toml
Labels: release-note-none, sig/sql-infra, size/S, status/LGT2, status/can-merge

#26792 executor: speed up cte case
  executor/cte_test.go
Labels: release-note-none, sig/execution, size/XS, status/LGT2, status/can-merge

#26432 *: improve 'insert into select' performance by optimize utf8 charset check
  session/bench_test.go
  table/column.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge, type/performance

#26293 [util/stmtsummary, inforschema]: Add integrated test for statements_summary_evicted
  infoschema/tables_test.go
  util/stmtsummary/statement_summary.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#26785 telemetry: fix that test fail to run on apple M1
  telemetry/telemetry_test.go
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#26464 ddl: make 'drop local temporary table' atomic
  ddl/db_integration_test.go
  executor/ddl.go
  infoschema/infoschema.go
  planner/core/preprocess.go
  server/conn.go
Labels: release-note-none, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#26826 telemetry: wrong skip test when apple intel or linux arm
  telemetry/telemetry_test.go
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#26632 infoschema, executor: Add SQL text column to DATA_LOCK_WAITS table
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/tables.go
  infoschema/tables_test.go
  planner/core/rule_column_pruning.go
  store/mockstore/mockstorage/storage.go
Labels: release-note, sig/execution, sig/sql-infra, sig/transaction, size/XL, status/LGT2, status/can-merge

#26839 planner: fix the unstable test case TestListPartitionOrderLimit
  executor/index_lookup_join_test.go
  planner/core/integration_partition_test.go
Labels: sig/planner, size/XS, status/LGT2, status/can-merge, type/bug-fix

#26259 types: fix CAST('2.0.8 X' AS DATE)
  expression/integration_test.go
  types/time.go
  types/time_test.go
Labels: component/expression, size/M, status/LGT2, status/can-merge, type/bug-fix

#26465 ddl: add admin_check_index compatibility for temporary table
  executor/admin_test.go
  planner/core/preprocess.go
Labels: sig/execution, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#26755 planner: fix the issue that UnionScan returns wrong results in dynamic mode
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/select.result
  planner/core/integration_test.go
  sessionctx/variable/session.go
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, sig/execution, sig/planner, size/M, status/LGT2, status/can-merge, type/bug-fix

#26340 bindinfo: add status vars for 'last_plan_binding_update_time'
  bindinfo/bind_test.go
  bindinfo/handle.go
  bindinfo/stat.go
Labels: epic/sql-plan-management, sig/planner, size/M, status/LGT2, status/can-merge

#26752 domain: migrate test-infra to testify (part 2)
  domain/db_test.go
  domain/domain_test.go
  domain/domain_utils_test.go
  domain/main_test.go
  domain/schema_validator_test.go
  domain/session_pool_test.go
Labels: release-note-none, sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#26829 expression: fix wrong EqualByExprAndID
  expression/column.go
Labels: component/expression, release-note-none, size/XS, status/LGT2, status/can-merge

#26848 planner: fix the unstable test case TestAnalyzeIncremental
  executor/analyze_test.go
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, sig/execution, sig/planner, size/XS, status/LGT2, status/can-merge, type/bug-fix

#26721 util/topsql/reporter: migrate test-infra to testify
  util/topsql/reporter/main_test.go
  util/topsql/reporter/reporter_test.go
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#26853 Revert "planner: fix the issue that UnionScan returns wrong results in dynamic mode"
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/select.result
  planner/core/integration_test.go
  sessionctx/variable/session.go
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#26840 executor: fix unstable TestStaleSelect
  executor/stale_txn_test.go
Labels: release-note-none, sig/execution, size/S, status/LGT2, status/can-merge

#26802 tikv: Fix 'tatsk' typo in mockstore
  store/mockstore/unistore/tikv/server.go
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#26466 ddl: truncate local temporary table
  ddl/db_integration_test.go
  executor/ddl.go
  infoschema/infoschema.go
  infoschema/infoschema_test.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#26768 util/localpool: migrate test-infra to testify for util/localpool pkg #26183
  util/localpool/localpool_test.go
  util/localpool/main_test.go
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#26769 plugin: migrate test-infra to testify
  plugin/const_test.go
  plugin/helper_test.go
  plugin/main_test.go
  plugin/plugin_test.go
  plugin/spi_test.go
Labels: release-note-none, sig/sql-infra, size/L, status/LGT2, status/can-merge

#26784 executor: fix unexpected behavior when casting invalid string to date
  executor/insert_test.go
  table/column.go
Labels: component/expression, sig/execution, size/S, status/LGT2, status/can-merge

#26789 planner: support Hash exchange operator when new collation is enabled.
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/integration_test.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/plan_to_pb.go
  planner/core/resolve_indices.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_in.json
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/property/physical_property.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: release-note, size/XXL, status/LGT2, status/can-merge

#26775 executor: add test case of admin check/checksum table in local temporary table
  executor/admin_test.go
Labels: release-note-none, sig/execution, sig/sql-infra, size/S, status/LGT2, status/can-merge

#26643 ddl: forbide some ddl operations for local temporary table
  ddl/error.go
  ddl/serial_test.go
  executor/ddl.go
Labels: release-note-none, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#26777 util/kvcache: migrate test-infra to testify
  util/kvcache/main_test.go
  util/kvcache/simple_lru_test.go
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#26844 ddl: refine some error messages related to generated column and expression index
  ddl/db_change_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/error.go
  ddl/generated_column.go
  ddl/index.go
  errors.toml
  go.mod
Labels: release-note-none, sig/sql-infra, size/M, status/LGT2, status/can-merge

#26698 planner: fix prepare plan cache doesn't work for expression index.
  executor/explainfor_test.go
  planner/core/rule_generate_column_substitute.go
Labels: release-note-none, sig/execution, sig/planner, size/M, status/LGT2, status/can-merge

#26714 domain, executor: fix sysvar cache race
  domain/sysvar_cache.go
  executor/set_test.go
Labels: release-note, sig/execution, sig/sql-infra, size/S, status/LGT2, status/can-merge

#26872 variable: update out of date comment
  sessionctx/variable/tidb_vars.go
Labels: release-note-none, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#26636 executor: Add insert/replace ignore/on duplicate key support for local temporary table
  executor/batch_checker.go
  executor/executor_test.go
  executor/insert.go
  executor/insert_common.go
  executor/point_get.go
  executor/replace.go
  session/session_test.go
  sessionctx/variable/session.go
  table/tables/index.go
  table/tables/tables.go
Labels: release-note-none, sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#26876 planner: fix the issue that UnionScan returns wrong results in dynamic mode
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/select.result
  planner/core/integration_test.go
  sessionctx/variable/session.go
Labels: release-note, sig/planner, size/M, status/LGT2, status/can-merge, type/bug-fix

#26875 executor: fix several analyze related unstable tests
  executor/analyze_test.go
  executor/executor_test.go
  executor/show_stats_test.go
Labels: needs-cherry-pick-5.1, release-note-none, sig/execution, sig/planner, size/M, status/LGT2, status/can-merge

#24141 util: Automatically create TLS certificates
  config/config.go
  config/config.toml.example
  executor/simple.go
  server/server.go
  server/tidb_test.go
  server/util_test.go
  util/misc.go
Labels: component/config, component/expression, sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#26891 server, test: add missing TearDownSuite()
  server/tidb_test.go
Labels: release-note-none, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#19957 executor: add builtin aggregate function `json_arrayagg`
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_json_arrayagg.go
  executor/aggfuncs/func_json_arrayagg_test.go
  expression/aggregation/agg_to_pb.go
  expression/aggregation/base_func.go
  expression/aggregation/descriptor.go
  expression/integration_test.go
  planner/core/rule_aggregation_push_down.go
  types/json/constants.go
Labels: component/expression, contribution, release-note, sig/execution, size/XL, status/LGT2, status/can-merge

#26206 bindinfo: garbage collect deleted bind records
  bindinfo/bind_test.go
  bindinfo/handle.go
  domain/domain.go
Labels: epic/sql-plan-management, sig/planner, sig/sql-infra, size/L, status/LGT2, status/can-merge, type/enhancement

#26881 executor: fix leak of tiflashTestSuite
  executor/tiflash_test.go
Labels: release-note-none, sig/execution, size/XS, status/LGT2, status/can-merge

#26711 infoschema, executor: Add SQL Text to INFORMATION_SCHEMA.(CLUSTER_)DEADLOCKS table
  executor/builder.go
  executor/executor_test.go
  executor/infoschema_reader.go
  executor/utils.go
  infoschema/tables.go
  planner/core/rule_column_pruning.go
  session/pessimistic_test.go
  util/deadlockhistory/deadlock_history.go
  util/deadlockhistory/deadlock_history_test.go
Labels: release-note, sig/execution, sig/sql-infra, sig/transaction, size/XL, status/LGT2, status/can-merge

#26304 planner: add heuristic rules for index selection
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/logical_plans.go
  planner/core/stats.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  planner/util/path.go
Labels: sig/planner, size/XL, status/LGT2, status/can-merge

#26896 runtime: fix a bug of latch missing.
  store/copr/batch_coprocessor.go
Labels: release-note-none, size/XS, status/LGT2, status/can-merge

#26141 planner: directly use sql bind to generate query plan
  bindinfo/bind_test.go
  planner/optimize.go
Labels: epic/sql-plan-management, release-note-none, sig/planner, size/XL, status/LGT2, status/can-merge, type/enhancement

#26139 planner, bindinfo: support show bindings order by update_time
  bindinfo/bind_test.go
  executor/show.go
Labels: epic/sql-plan-management, sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#26828 executor: make NO_ZERO_IN_DATE affect the default values
  executor/executor.go
  executor/executor_test.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#26333 planner: ban baseline evolution feature
  bindinfo/bind_test.go
  infoschema/tables_test.go
  planner/core/planbuilder.go
  session/session.go
  sessionctx/variable/sysvar.go
Labels: epic/sql-plan-management, sig/execution, sig/planner, sig/sql-infra, size/L, status/LGT2, status/can-merge

#26895 types: support valid unsigned integers convert to time
  ddl/column_type_change_test.go
  types/datum.go
Labels: component/expression, release-note, sig/sql-infra, size/S, status/LGT2, status/can-merge

#26830 ddl: fix bug introduced by 19222
  ddl/partition.go
Labels: release-note-none, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#26906 executor: allow SET CONFIG to accept hostnames
  executor/set_config.go
  executor/set_test.go
Labels: release-note, sig/execution, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#26680 executor, privilege: fix show grants
  executor/revoke.go
  privilege/privileges/cache.go
  privilege/privileges/privileges_test.go
Labels: release-note, sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#26513 ddl: fix unstable tests
  ddl/db_test.go
Labels: sig/sql-infra, size/XS, status/LGT2, status/can-merge

#26899 *: Run errcheck and staticcheck via golangci-lint
  .golangci.yml
  Makefile
  go.mod
  go.sum
  staticcheck.conf
  tools/check/errcheck_excludes.txt
Labels: release-note-none, size/L, status/LGT2, status/can-merge

#25596 expression: Support mathematical functions pushdown to tiflash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: component/expression, needs-cherry-pick-5.0, needs-cherry-pick-5.1, size/M, status/LGT2, status/can-merge

#26441 expression: Push down ADDDATE(), DATE_ADD() on String, Real types
  expression/expression.go
Labels: component/expression, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, size/XS, status/LGT2, status/can-merge

#26640 expression: support date function pushed down to tiflash
  expression/expression.go
Labels: component/expression, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note, size/XS, status/LGT2, status/can-merge

#26921 test: fix unstable test TestAnalyzeGlobalStatsWithOpts2
  statistics/handle/handle_test.go
Labels: release-note-none, size/M, status/LGT2, status/can-merge

#26753 executor: add some simple tests to cover unparallel HashAgg
  executor/aggregate_test.go
Labels: release-note-none, sig/execution, size/S, status/LGT2, status/can-merge

#26928 planner: avoid unnecessary optimizer warning when sql_select_limit is set
  planner/core/integration_test.go
  planner/optimize.go
Labels: epic/sql-plan-management, release-note-none, sig/planner, size/XS, status/LGT2, status/can-merge

#26584 *: insert of invalid timestamp succeeded
  ddl/column_type_change_test.go
  executor/index_lookup_join.go
  executor/insert_test.go
  sessionctx/stmtctx/stmtctx.go
  table/column.go
  types/datum.go
Labels: component/expression, release-note, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#26930 planner: show binding information in explain format = 'verbose'
  bindinfo/bind_test.go
  executor/executor.go
  planner/optimize.go
  sessionctx/stmtctx/stmtctx.go
Labels: epic/sql-plan-management, release-note, sig/execution, sig/planner, size/S, status/LGT2, status/can-merge

#26936 executor: fix shutdown and trace statement audit log
  executor/adapter.go
  executor/trace.go
Labels: release-note, size/XS

#26767 *: fix some audit log error
  bindinfo/handle.go
  executor/adapter.go
  executor/bind.go
  executor/compiler.go
  executor/prepared.go
  executor/trace.go
  plugin/integration_test.go
  plugin/main_test.go
Labels: release-note, sig/execution, sig/planner, sig/sql-infra, size/L, status/LGT2, status/can-merge

#26757 store/copr: block the tiflash node for a period when it fails before.
  executor/tiflash_test.go
  kv/mpp.go
  planner/core/fragment.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/copr/batch_coprocessor.go
  store/copr/mpp.go
Labels: cherry-pick-approved, release-note, sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge, type/5.0-cherry-pick

#26759 planner: fix update panic when update in prepare and execute
  executor/builder.go
  executor/compiler.go
  planner/core/common_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/preprocess.go
  planner/optimize.go
Labels: status/LGT2, sig/planner, sig/execution, release-note, sig/transaction, status/can-merge, sig/sql-infra, size/M

#26787 expression/builtin: Add tidb_decode_sql_digests function
  executor/executor_test.go
  executor/infoschema_reader.go
  executor/show_test.go
  executor/utils.go
  executor/utils_test.go
  expression/builtin.go
  expression/builtin_info.go
  expression/errors.go
  expression/util.go
  expression/util_test.go
  go.mod
  go.sum
  infoschema/tables_test.go
Labels: status/LGT2, component/expression, sig/execution, release-note, sig/transaction, status/can-merge, sig/sql-infra, size/XXL

#26922 executor: use more clever spilling strategy for HashAgg
  executor/aggregate.go
Labels: type/enhancement, status/LGT2, sig/execution, status/can-merge, size/XS, release-note-none

#26933 config: put allow-expression-index to deprecatedConfig
  config/config.go
Labels: status/LGT2, status/can-merge, component/config, sig/sql-infra, size/XS, release-note-none

#26015 planner: logically delete the bindinfo when create the new binding
  bindinfo/bind_test.go
  bindinfo/handle.go
  infoschema/tables_test.go
Labels: status/LGT2, sig/planner, status/can-merge, sig/sql-infra, epic/sql-plan-management, size/M

#26909 *: fix many leaks of the test case
  ddl/db_change_test.go
  executor/adapter.go
  executor/aggregate.go
  executor/executor_pkg_test.go
  executor/explain.go
  executor/seqtest/prepared_test.go
  executor/stale_txn_test.go
  planner/core/integration_test.go
  session/bootstrap.go
  session/bootstrap_test.go
  session/session_test.go
Labels: status/LGT2, sig/execution, status/can-merge, sig/sql-infra, size/L, release-note-none

#26953 expression/builtin: Add privilege check to function tidb_decode_sql_digests
  executor/executor_test.go
  expression/builtin_info.go
  expression/errors.go
Labels: status/LGT2, component/expression, sig/execution, sig/transaction, status/can-merge, size/M, release-note-none

#26951 planner/test: fix tests for SPM
  bindinfo/bind_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/sql-plan-management, size/S, release-note-none

#26939 expression: Add missing pbcode for functions `InetAton/InetNtoa/Inet6Aton/Inet6Ntoa/IsIPv4/IsIPv4Compat/IsIPv4Mapped/IsIPv6`.
  expression/builtin_miscellaneous.go
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_out.json
Labels: status/LGT2, type/bug-fix, component/expression, status/can-merge, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none

#26965 statistics: fix the panic when analyze with collation enabled
  executor/analyze.go
  executor/analyze_test.go
  executor/executor_test.go
  statistics/histogram.go
Labels: status/LGT2, component/statistics, sig/execution, size/M, do-not-merge/cherry-pick-not-approved, release-note-none

#26959 planner: add missing distinct flag for Apply convert to join
  expression/integration_test.go
  planner/core/rule_decorrelate.go
Labels: status/LGT2, component/expression, release-note, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, needs-cherry-pick-5.1

#26748 planner: output skyline pruning information when executing EXPLAIN
  executor/executor.go
  planner/core/common_plans.go
  planner/core/enforce_mpp_test.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/stats.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  planner/property/physical_property.go
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, sig/planner, sig/execution, release-note, status/can-merge, size/L

#26809 distsql/select_result_test: migrate test-infra to testify
  distsql/main_test.go
  distsql/select_result_test.go
Labels: status/LGT2, sig/execution, status/can-merge, size/M, release-note-none

#26869 util/stmtsummary: migrate test-infra to testify (part 0)
  util/stmtsummary/main_test.go
  util/stmtsummary/variables_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#26929 README: Add entries for TiDB Dev Guide and TiDB Internals Forum
  README.md
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#26984 expression: Support push InetAton, InetNtoa, Inet6Aton, and Inet6Nota down to TiFlash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: status/LGT2, component/expression, release-note, status/can-merge, size/S

#26920 ddl: speed up add index with split tables
  ddl/backfilling.go
  ddl/db_test.go
  ddl/ddl_test.go
  ddl/serial_test.go
  tools/check/check-timeout.go
Labels: status/LGT2, release-note, status/can-merge, sig/sql-infra, size/XL

#26302 *: solve cloud tikv disk full problem
  ddl/db_test.go
  ddl/ddl_worker.go
  ddl/delete_range.go
  ddl/index.go
  domain/domain.go
  domain/schema_checker.go
  domain/schema_checker_test.go
  domain/schema_validator.go
  domain/schema_validator_test.go
  executor/admin.go
  go.mod
  go.sum
  kv/interface_mock_test.go
  kv/kv.go
  kv/utils_test.go
  meta/meta.go
  session/pessimistic_test.go
  session/schema_amender.go
  session/schema_amender_test.go
  session/session.go
  session/session_test.go
  store/driver/txn/txn_driver.go
  store/gcworker/gc_worker.go
  store/mockstore/unistore/rpc.go
  tidb-server/main.go
  util/mock/context.go
  util/sqlexec/restricted_sql_executor.go
Labels: status/LGT2, sig/execution, status/can-merge, sig/sql-infra, size/XL

#26786 expression/expression: add pushdown functions
  expression/expression.go
Labels: status/LGT2, component/expression, status/can-merge, size/XS, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none

#26972 BR: update br keep upstream
  br/pkg/backup/client.go
  br/pkg/backup/push.go
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/config/const.go
  br/pkg/lightning/lightning_test.go
  br/pkg/lightning/mydump/csv_parser.go
  br/pkg/lightning/mydump/csv_parser_test.go
  br/pkg/lightning/mydump/loader.go
  br/pkg/lightning/mydump/loader_test.go
  br/pkg/lightning/mydump/parquet_parser.go
  br/pkg/lightning/mydump/parser.go
  br/pkg/lightning/mydump/parser_test.go
  br/pkg/lightning/mydump/region.go
  br/pkg/lightning/restore/check_info.go
  br/pkg/lightning/restore/meta_manager.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/restore_test.go
  br/pkg/lightning/restore/table_restore.go
  br/pkg/lightning/restore/tidb.go
  br/pkg/lightning/restore/tidb_test.go
  br/pkg/logutil/context.go
  br/pkg/logutil/logging_test.go
  br/pkg/pdutil/pd.go
  br/pkg/pdutil/pd_test.go
  br/tests/lightning_generated_columns/data/gencol.expr_index-schema.sql
  br/tests/lightning_generated_columns/data/gencol.expr_index.0.sql
  br/tests/lightning_generated_columns/data/gencol.nested-schema.sql
  br/tests/lightning_generated_columns/data/gencol.virtual_only-schema.sql
  br/tests/lightning_generated_columns/data/gencol.virtual_only.0.sql
  br/tests/lightning_generated_columns/run.sh
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#27004 session, variable: cleanup TiDBEvolvePlanBaselines sysvar validation
  session/session.go
  sessionctx/variable/sysvar.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/S, release-note-none

#26987 ddl: make TestCreateTableWithRangeColumnPartition stable
  ddl/db_partition_test.go
Labels: status/LGT2, component/test, status/can-merge, sig/sql-infra, size/XS, release-note-none

#26901 ddl: add test case of show table regions / split table in local temporary …
  executor/executor_test.go
Labels: status/LGT2, sig/execution, status/can-merge, size/S, release-note-none

#27009 parser: disable text position recording
  go.mod
  go.sum
  sessionctx/variable/session.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#26931 util: Fix compatibility with JDBC and Automatic TLS
  util/misc.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-5.2

#26241 *: reduce ResetContextOfStmt() object allocation
  executor/executor.go
  executor/write_test.go
  infoschema/tables_test.go
  planner/core/expression_rewriter_test.go
  sessionctx/variable/session.go
Labels: status/LGT2, sig/execution, status/can-merge, sig/sql-infra, size/M

#26637 ddl: support showing label rule through information schema table
  domain/infosync/info.go
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: status/LGT2, sig/execution, status/can-merge, sig/sql-infra, size/L, release-note-none

#26770 owner: migrate test-infra to testify
  owner/fail_test.go
  owner/main_test.go
  owner/manager_test.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/XL, release-note-none

#26957 util/chunk: some minor refactors
  util/chunk/chunk.go
  util/chunk/chunk_test.go
  util/chunk/column.go
  util/chunk/column_test.go
  util/chunk/list.go
  util/chunk/list_test.go
  util/chunk/pool.go
Labels: status/LGT2, sig/execution, status/can-merge, size/XL, release-note-none

#26630 ddl: support drop table for label rule
  ddl/delete_range.go
  ddl/label/rule.go
  ddl/partition.go
  ddl/table.go
  domain/infosync/info.go
  store/gcworker/gc_worker.go
  store/gcworker/gc_worker_test.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/L, release-note-none

#26905 server: use stmt should apply to subsequent stmts in multi-stmt mode
  server/conn.go
  server/server_test.go
Labels: status/LGT2, component/mysql-protocol, release-note, status/can-merge, sig/sql-infra, size/S

#26910 planner/implementation: migrate test-infra to testify
  planner/implementation/base_test.go
  planner/implementation/main_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27023 planner: add more test cases for list partition
  planner/core/integration_partition_test.go
  planner/core/testdata/integration_partition_suite_in.json
  planner/core/testdata/integration_partition_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#27008 Lightning: support batch import downgrading
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/backend/tidb/tidb_test.go
  br/pkg/lightning/common/util.go
Labels: status/LGT2, status/can-merge, sig/migrate, size/L, release-note-none

#27025 planner: handle over-flow errors correctly when pruning list-column partitions
  planner/core/integration_partition_test.go
  planner/core/rule_partition_processor.go
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, size/M

#27027 util: Fix lock view cannot show key info correctly for partition table
  util/keydecoder/keydecoder.go
  util/keydecoder/keydecoder_test.go
Labels: status/LGT2, sig/transaction, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.2

#26907 *: Annotations and fixes related to gosec
  .golangci.yml
  config/config_util.go
  domain/domain.go
  domain/infosync/info.go
  executor/analyze.go
  executor/plan_recreator.go
  expression/builtin_encryption.go
  expression/builtin_encryption_vec.go
  kv/txn.go
  server/server.go
  sessionctx/variable/session.go
  statistics/feedback.go
  store/copr/store.go
  store/mockstore/unistore/cophandler/analyze.go
  telemetry/util.go
  util/encrypt/aes_layer.go
  util/misc.go
  util/selection/selection.go
  util/vitess/vitess_hash.go
Labels: status/LGT2, component/statistics, component/expression, sig/execution, status/can-merge, component/config, sig/sql-infra, size/M, release-note-none

#26937 config,util: Add setting for TLS version
  config/config.go
  config/config.toml.example
  util/misc.go
Labels: status/LGT2, release-note, status/can-merge, component/config, sig/sql-infra, size/S

#27014 ddl: speed up the execution time of iterateSnapshotRows to speed up the “add index” operation.
  ddl/backfilling.go
Labels: type/enhancement, status/LGT2, release-note, status/can-merge, sig/sql-infra, size/XS

#27045 session, test: make `TestClusteredIndexSyntax` stable
  session/clustered_index_test.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/XS, release-note-none

#27032 planner: handle over-flow errors correctly when pruning list partition
  planner/core/integration_partition_test.go
  planner/core/rule_partition_processor.go
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, size/S

#26935 Revert "ddl: fix create partition table error under NO_UNSIGNED_SUBTRACTION"
  ddl/partition.go
  table/tables/partition_test.go
Labels: status/LGT2, release-note, status/can-merge, sig/sql-infra, size/M, needs-cherry-pick-5.1

#26450 *: add infoschema.referential_constraints
  executor/builder.go
  executor/infoschema_reader.go
  expression/integration_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: status/LGT2, component/expression, sig/execution, status/can-merge, sig/sql-infra, size/L

#26859 meta/autoid: migrate test-infra to testify
  meta/autoid/autoid_test.go
  meta/autoid/bench_test.go
  meta/autoid/main_test.go
  meta/autoid/memid_test.go
  meta/autoid/seq_autoid_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#26991 privilege/privileges: migrate test-infra to testify
  privilege/privileges/cache_test.go
  privilege/privileges/main_test.go
  privilege/privileges/privileges_test.go
  testkit/result.go
  testkit/testkit.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#27016 executor: fix APPROX_PERCENTILE unstable panic when parameter be P100
  executor/aggfuncs/export_test.go
  executor/aggfuncs/func_percentile.go
  executor/aggfuncs/func_percentile_test.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/M

#27047 ddl: fix ttlManager leak in TestWriteReorgForColumnTypeChangeOnAmendTxn
  ddl/db_test.go
Labels: status/LGT2, sig/transaction, status/can-merge, sig/sql-infra, size/XS, release-note-none

#26870 util/stmtsummary: migrate test-infra to testify (part 1)
  util/stmtsummary/evicted_test.go
  util/stmtsummary/statement_summary_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#27052 planner: encode min/max varchar correctly when pruning list-column partitions
  planner/core/integration_partition_test.go
  table/tables/partition.go
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, size/M

#27055 config: fix config experimental.allow-expression-index
  config/config.go
Labels: status/LGT2, status/can-merge, component/config, sig/sql-infra, size/M, release-note-none, needs-cherry-pick-5.2

#27081 planner: add more test cases for list column partition
  planner/core/integration_partition_test.go
  planner/core/testdata/integration_partition_suite_in.json
  planner/core/testdata/integration_partition_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#27056 br-restore: Update restore.go
  br/pkg/task/restore.go
Labels: status/LGT2, status/can-merge, sig/migrate, size/XS, release-note-none

#27077 executor: Add support for `SHOW PLACEMENT LABELS` statement
  executor/show.go
  executor/show_placement.go
  executor/show_placement_test.go
  go.mod
  go.sum
  planner/core/planbuilder.go
Labels: status/LGT2, sig/execution, status/can-merge, sig/sql-infra, size/L, release-note-none

#27061 ddl: check multibyte character set index length
  ddl/db_integration_test.go
  ddl/index.go
  session/bootstrap.go
Labels: status/LGT2, release-note, status/can-merge, sig/sql-infra, compatibility-breaker, size/S

#27075 util/math: migrate test-infra to testify
  util/math/main_test.go
  util/math/math_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27010 *: migrate test-infra to testify for util/printer.go
  util/printer/main_test.go
  util/printer/printer_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27113 planner: fix the unstable test TestForAnalyzeStatus
  executor/infoschema_reader_test.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, size/XS, release-note-none

#26988 util/ranger: migrate test-infra to testify
  testkit/result.go
  testkit/testdata/testdata.go
  util/ranger/main_test.go
  util/ranger/ranger_test.go
  util/ranger/types_test.go
  util/testutil/testutil.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#26974 executor: fix wrong logic of pipelined window function
  executor/pipelined_window.go
Labels: status/LGT2, type/bug-fix, sig/execution, release-note, status/can-merge, size/XS, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#26837 distsql/dist_test: migrate test-infra to testify
  distsql/distsql_test.go
Labels: status/LGT2, sig/execution, status/can-merge, size/XXL, release-note-none

#26545 planner: fix wrong type when unsigned int value union int value
  executor/executor_test.go
  expression/integration_test.go
  planner/core/logical_plan_builder.go
Labels: status/LGT2, type/bug-fix, component/expression, sig/execution, status/can-merge, size/S

#27074 ci: correct testing format
  Makefile
  tools/check/check-timeout.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#27079 expression: make locate function consider collation
  expression/builtin_string.go
  expression/integration_test.go
  expression/util.go
Labels: status/LGT2, component/expression, release-note, status/can-merge, size/M

#27051 kv: clean unnecessary interface function
  kv/kv.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#27107 planner: add one more test case for list partition
  planner/core/integration_partition_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#26799 metrics: add network devices for overview dashboard
  metrics/grafana/overview.json
Labels: status/LGT2, component/metrics, release-note, status/can-merge, size/XS

#27085 expression: Added type compare check for int/binary strings for BETWEEN, issue-23602
  executor/executor_test.go
  expression/builtin_compare.go
Labels: status/LGT2, component/expression, sig/execution, release-note, status/can-merge, sig/sql-infra, size/S

#26871 util/stmtsummary: migrate test-infra to testify (part 2)
  util/stmtsummary/evicted_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#27094 executor: add sequence info for infoschema
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
Labels: status/LGT2, sig/execution, status/can-merge, sig/sql-infra, size/S, release-note-none
