Repository pingcap/tidb, pull requests merged in 2021-10, with the labels that each got.

#23028 docs/design: add design doc for pipelined window function execution
  docs/design/2021-03-01-pipelined-window-functions.md
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#28469 bindinfo: migrate test-infra to testify(staging-4)
  bindinfo/bind_serial_test.go
  bindinfo/bind_test.go
  bindinfo/handle_serial_test.go
  bindinfo/session_handle_serial_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#28450 placement: refine the bundle contruction logic
  ddl/db_test.go
  ddl/placement/bundle.go
  ddl/placement/bundle_test.go
  ddl/placement/constraint.go
  ddl/placement/constraints.go
  ddl/placement/rule.go
  ddl/placement/rule_test.go
  ddl/placement_policy.go
  ddl/placement_policy_test.go
  ddl/placement_sql_test.go
  executor/show_test.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#28536 refactor: migrate test-infra to testify for mainly window_func_test.go
  executor/aggfuncs/func_cume_dist_test.go
  executor/aggfuncs/func_lead_lag_test.go
  executor/aggfuncs/func_ntile_test.go
  executor/aggfuncs/func_percent_rank_test.go
  executor/aggfuncs/func_rank_test.go
  executor/aggfuncs/func_value_test.go
  executor/aggfuncs/row_number_test.go
  executor/aggfuncs/window_func_test.go
Labels: status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#28539 executor: migrate test infra to testify for adpater_test.go
  executor/adapter_test.go
Labels: status/LGT2, status/can-merge, first-time-contributor, size/S, release-note-none

#28985 executor, privilege: fix privilege validation on information_shema.columns, explain and desc
  executor/infoschema_reader.go
  executor/show.go
  privilege/privileges/cache.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#29254 conifg, sessionctx: set default value "/data/deploy/plugin" for plugin_dir
  config/config.go
  sessionctx/variable/sysvar.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29251 executor: add show placement scheduling_state
  ddl/placement_policy_test.go
  ddl/placement_sql_test.go
  docs/design/2020-06-24-placement-rules-in-sql.md
  domain/infosync/info.go
  executor/show_placement.go
  executor/show_placement_test.go
  planner/core/planbuilder.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#29120 *: add two session variables to control the PD client option
  domain/sysvar_cache.go
  executor/set.go
  executor/set_test.go
  go.mod
  go.sum
  session/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/driver/tikv_driver.go
  store/mockstore/unistore/pd.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#29274 expression: push down CastTimeAsReal to TiFlash
  expression/expression.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#29269 expression: support hour/minute/second/microSecond pushdown to tiflash.
  expression/expression.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#29045 executor: migrate test-infra to testify for `executor_pkg_test.go`
  executor/executor_pkg_serial_test.go
  executor/executor_pkg_test.go
  executor/executor_required_rows_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#29272 types: Fix comment typo
  types/convert.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#29285 planner: refine warnings about can't push down to TiFlash.
  executor/show_test.go
  expression/expr_to_pb.go
  expression/expression.go
  planner/core/enforce_mpp_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/testdata/enforce_mpp_suite_in.json
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/plan_suite_out.json
  store/copr/mpp.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none
