Repository pingcap/tidb, pull requests merged in 2021-09, with the labels that each got.

#27020 ddl: support rename table for label rules
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/table.go
  ddl/table_test.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/M, release-note-none

#27680 copr: remove unused code of examining join and exchange receiver
  store/mockstore/unistore/cophandler/closure_exec.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#27240 br: less split during restoring
  br/pkg/restore/import.go
  br/pkg/restore/split.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
Labels: status/LGT2, release-note, status/can-merge, sig/migrate, size/L, component/br

#27533 expression: fold constant should keeps the original charset and collation
  expression/constant_fold.go
  expression/integration_test.go
Labels: status/LGT2, component/expression, release-note, status/can-merge, size/XS

#27701 util: Correctly use specificed RSA keysize
  util/misc.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#27675 txn: Add `sortedRetrievers` to perform read from custom retrievers
  store/driver/txn/ranged_kv_retriever.go
  store/driver/txn/ranged_kv_retriever_test.go
Labels: status/LGT2, sig/transaction, status/can-merge, sig/sql-infra, size/XXL, release-note-none

#27700 expression: remove useless code
  expression/builtin_arithmetic.go
  expression/builtin_arithmetic_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27731 main: update variable.Version equals to ServerVersion which set in the configuration file(#27210)
  tidb-server/main.go
  tidb-server/main_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#27744 server: Fix TestTLSAuto stability
  server/tidb_test.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/XS, release-note-none

#27740 tests: fix br_views_and_sequences
  br/tests/br_views_and_sequences/run.sh
Labels: status/LGT2, status/can-merge, sig/migrate, size/XS, release-note-none, component/br

#20457 ddl: Support the operation of dropping multi-indexes in one statement
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  ddl/index.go
  ddl/rollingback.go
  ddl/table_test.go
  util/admin/admin.go
  util/admin/admin_test.go
Labels: status/LGT3, require-LGT3, status/can-merge, sig/sql-infra, rewarded, first-time-contributor, size/XXL

#27729 br: fix the security report from github
  br/pkg/lightning/web/res.go
  br/pkg/lightning/web/res_vfsdata.go
  br/web/package-lock.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-5.2

#27691 config: support change resolve lock lite threshold
  config/config.toml.example
  config/config_test.go
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, size/S

#27709 types: migrate test-infra to testify for set_test.go
  types/main_test.go
  types/set_serial_test.go
  types/set_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#27694 docs: add commands to trigger ci doc
  ci.md
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27783 planner: Fix the problem that `PlanBuilder.buildWindowFunctions` may change sub operator's schema.
  expression/aggregation/base_func.go
  planner/core/logical_plan_builder.go
Labels: status/LGT2, size/XS, do-not-merge/cherry-pick-not-approved, release-note-none

#27311 Lightning: support charset conversion from GBK to UTF-8 for the CSV file
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/mydump/charset_convertor.go
  br/pkg/lightning/mydump/charset_convertor_test.go
  br/pkg/lightning/mydump/csv/gb18030_test_file.csv
  br/pkg/lightning/mydump/csv/utf8_test_file.csv
  br/pkg/lightning/mydump/csv_parser.go
  br/pkg/lightning/mydump/csv_parser_test.go
  br/pkg/lightning/mydump/region.go
  br/pkg/lightning/restore/check_info.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/restore_test.go
Labels: status/LGT2, release-note, status/can-merge, sig/migrate, size/XXL, component/lightning

#26258 Revert "executor: fix show global variables return session variables also (#19341)"
  executor/show.go
  executor/show_test.go
  session/session.go
  sessionctx/variable/mock_globalaccessor.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, sig/execution, status/can-merge, sig/sql-infra, compatibility-breaker, size/L, cherry-pick-approved

#27791 main, config: set mysql.ServerVersion and variable.Version equals to cfg.ServerVersion
  config/config.go
  config/config_test.go
  tidb-server/main.go
  tidb-server/main_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#27690 util: Disable 3DES ciphers for TLS connections
  util/misc.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#27743 store/gcworker: migrate test-infra to testify for gc_worker_test.go #27657
  store/gcworker/gc_worker_serial_test.go
  store/gcworker/main_test.go
  testkit/testmain/testmain.go
Labels: status/LGT2, status/can-merge, first-time-contributor, size/XXL, release-note-none

#27733 ddl: support `ALTER PLACEMENT POLICY ...`
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/placement_policy.go
  ddl/placement_policy_test.go
  executor/ddl.go
  infoschema/builder.go
Labels: status/LGT2, release-note, status/can-merge, sig/sql-infra, size/XL

#26938 telemetry: Add unit test for builtin function usage
  telemetry/data_window_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27584 planner: make sure limit outputs no more columns than its child (#25345)
  planner/core/integration_test.go
  planner/core/rule_column_pruning.go
Labels: status/LGT2, size/S, cherry-pick-approved, release-note-none

#27776 *: Introduce `TemporaryTableDDL` to provide unified APIs for temporary table ddl operations
  ddl/serial_test.go
  executor/builder.go
  executor/ddl.go
  table/temptable/ddl.go
  table/temptable/ddl_test.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/XXL, release-note-none

#27715 ddl: refactor and add some unit tests for label rules
  ddl/attributes_sql_test.go
  ddl/partition.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/label_manager.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/XL, release-note-none

#27790 config: increase transaction size upper limit
  config/config.go
  config/config_test.go
Labels: status/LGT2, release-note, sig/transaction, status/can-merge, size/XS

#27813 telemetry: clean up test code
  telemetry/data_feature_usage_test.go
  telemetry/data_window_test.go
  telemetry/telemetry_serial_test.go
  telemetry/telemetry_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#27774 br: add retry for check multi ingest
  br/pkg/lightning/backend/local/local.go
  br/pkg/restore/import.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.2, component/lightning

#27732 planner: update the error message when the partition-type is not supported
  ddl/db_partition_test.go
  ddl/partition.go
  planner/core/integration_partition_test.go
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, size/S

#27798 planner: fix wrong plan caused by shallow copy schema columns
  planner/core/integration_test.go
  planner/core/rule_aggregation_push_down.go
Labels: status/LGT2, sig/planner, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2

#27734 planner: fix the unstable test TestAnalyzeGlobalStatsWithOpts
  statistics/handle/handle_test.go
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, size/XS

#27834 expression: fold const after rewrite between
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XS, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#27722 txn: Snapshot can set `SortedCustomRetrievers` for custom data retrieving
  kv/option.go
  store/driver/custom_retriever_test.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
Labels: status/LGT2, sig/transaction, status/can-merge, sig/sql-infra, size/XL, release-note-none

#27716 store/copr: migrate test-infra to testify
  store/copr/coprocessor_cache_test.go
  store/copr/coprocessor_test.go
  store/copr/key_ranges_test.go
  store/copr/main_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#27557 table/tables: migrate test-infra to testify for `index_test.go`
  table/tables/index_serial_test.go
  table/tables/index_test.go
  table/tables/main_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#27803 BR: retry for PD request error and TiKV IO error
  br/pkg/backup/client.go
  br/pkg/conn/conn.go
  br/pkg/conn/conn_test.go
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/utils/backoff.go
  br/pkg/utils/backoff_test.go
  br/pkg/utils/retry.go
Labels: status/LGT2, status/can-merge, sig/migrate, size/M, release-note-none, component/br

#27753 main: fixed an issue that closing nil chan would cause panic on cleanup
  tidb-server/main.go
Labels: status/LGT2, release-note, status/can-merge, first-time-contributor, size/XS

#27500 ddl: restrain drop column with index using the same switch as EnableChangeMultiSchema
  ddl/column.go
  ddl/column_test.go
  ddl/db_change_test.go
  ddl/ddl_api.go
  sessionctx/variable/sysvar.go
Labels: status/LGT2, release-note, status/can-merge, sig/sql-infra, compatibility-breaker, size/M

#27824 lightning: Fix empty region pre-check
  br/pkg/lightning/restore/check_info.go
  br/pkg/lightning/restore/restore.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/lightning

#27599 ddl: stable tests for expression index.
  ddl/db_change_test.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/XS, release-note-none

#27682 workflow: Delete assign_project.yml
  .github/workflows/assign_project.yml
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#26659 store: reduce time of ConnTestSuite.TestTiFlashFallback
  store/copr/mpp.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#27073 ddl: support recover/flashback table for label rules
  ddl/attributes_sql_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/table.go
  executor/ddl.go
  executor/executor_test.go
  util/testkit/testkit.go
Labels: status/LGT2, sig/execution, status/can-merge, sig/sql-infra, size/XL, release-note-none

#27577 util, executor: use a individual rowContainer for each probeWorker in HashJoinExec
  executor/hash_table.go
  executor/hash_table_test.go
  executor/join.go
  util/chunk/iterator_test.go
  util/chunk/row_container.go
  util/chunk/row_container_test.go
Labels: type/enhancement, status/LGT2, sig/execution, release-note, status/can-merge, component/executor, size/XL

#27730 planner: fix the index-out-of-range panic when pruning list-partition with condition `is null`
  planner/core/integration_partition_test.go
  planner/core/rule_partition_processor.go
  planner/core/testdata/partition_pruner_out.json
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, size/S

#27535 txn: Cherry pick client-go#274 to release-5.1
  store/tikv/txn.go
Labels: status/LGT2, release-note, status/can-merge, size/S, cherry-pick-approved, type/5.1-cherry-pick

#27853 planner: fix the wrong partition expression string restored by the parser
  ddl/partition.go
  go.mod
  go.sum
  planner/core/integration_partition_test.go
Labels: status/LGT2, type/bug-fix, sig/planner, release-note, status/can-merge, size/S

#27818 *: Move some infoschema operations to `temptable` package
  executor/set.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  session/session.go
  table/temptable/ddl.go
  table/temptable/infoschema.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/L, release-note-none

#27799 ddl: support table placement option
  ddl/ddl_api.go
  ddl/error.go
  ddl/placement_policy.go
  ddl/placement_policy_test.go
  ddl/table.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  infoschema/builder.go
  infoschema/infoschema.go
  meta/meta.go
  meta/meta_test.go
  util/placementpolicy/policy.go
  util/placementpolicy/policy_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#27767 types: remove some unreachable codes.
  expression/builtin_time.go
  types/time.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#27748 ddl: move modify-column job to add-index job queue
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  util/admin/admin.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27769 br: fix lightning split large csv file error and adjust s3 seek result
  br/pkg/lightning/mydump/region.go
  br/pkg/lightning/mydump/region_test.go
  br/pkg/storage/s3.go
  br/pkg/storage/s3_test.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, sig/migrate, size/L, needs-cherry-pick-5.2, component/lightning

#27747 ddl/failtest: migrate test-infra to testify
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/failtest/fail_db_serial_test.go
  ddl/failtest/main_test.go
  ddl/testutil/testutil.go
  tools/check/check-timeout.go
Labels: status/LGT2, status/can-merge, first-time-contributor, size/XL, release-note-none

#27848 sessionctx/variable: migrate test-infra to testify
  sessionctx/variable/main_test.go
  sessionctx/variable/session_test.go
  sessionctx/variable/statusvar_test.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/varsutil_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#27738 privileges: fix case sensitive compare of dbname when grant in table level
  executor/grant.go
  executor/grant_test.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/S, release-note-none

#27881 test: fix race of hash join
  executor/join.go
Labels: status/LGT2, type/bug-fix, status/can-merge, size/M, release-note-none

#27890 br: fix lightning checksum panic and speed up pre-check
  br/pkg/lightning/restore/check_info.go
  br/pkg/lightning/restore/restore_test.go
  br/pkg/lightning/restore/table_restore.go
Labels: status/LGT2, do-not-merge/cherry-pick-not-approved, release-note-none, component/lightning

#27845 store/driver: migrate test-infra to testify
  .github/licenserc.yml
  store/driver/config_serial_test.go
  store/driver/custom_retriever_serial_test.go
  store/driver/kv_test.go
  store/driver/main_test.go
  store/driver/sql_fail_serial_test.go
  store/driver/sql_fail_test.go
  store/driver/txn/batch_getter_test.go
  store/driver/txn/driver_test.go
  store/driver/txn/main_test.go
  store/driver/util_test.go
  store/mockstore/unistore/mock.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#27735 *: Log SQL statement when coprocessor encounteres lock
  br/pkg/lightning/restore/checksum_test.go
  distsql/distsql.go
  executor/simple.go
  kv/kv.go
  store/copr/coprocessor.go
  store/copr/coprocessor_test.go
  util/mock/client.go
  util/trxevents/trx_events.go
Labels: status/LGT2, sig/transaction, status/can-merge, size/L, release-note-none

#27866 statistics: skip build statistics for view in auto analyze
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#27873 table/temptable: run tests in parallel
  table/temptable/ddl_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#27864 test: fix data race of Kill
  executor/prepared_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#27756 server: migrate test-infra to testify for server/conn_stmt_test.go
  server/conn_stmt_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27080 executor: change the time record way of IndexLookUp executor
  executor/distsql.go
Labels: status/LGT2, sig/execution, release-note, status/can-merge, size/XS

#27373 infoschema: add tidb_hot_regions_history virtual table
  infoschema/tables.go
Labels: status/LGT2, release-note, status/can-merge, sig/sql-infra, size/S

#27792 executor: Add support for placement in `SHOW CREATE TABLE`
  executor/show.go
  executor/show_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27697 *: fix some problems related to notNullFlag
  expression/builtin_time.go
  expression/integration_test.go
  expression/typeinfer_test.go
  planner/core/physical_plans.go
  server/column.go
  server/tidb_test.go
  tests/globalkilltest/go.sum
  types/field_type.go
  types/field_type_test.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/L

#27856 lightning: fix unstable test TestGetDeleteTask and TestCheckSystemRequirement
  br/pkg/lightning/lightning.go
  br/pkg/lightning/lightning_test.go
Labels: status/LGT2, status/can-merge, sig/migrate, size/M, release-note-none, component/lightning

#27325 docs/design: add a proposal for full charsets support
  docs/design/2021-08-18-charsets.md
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/XL, release-note-none

#27833 *: update sysutil in go.mod to fix panic when search log
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#27598 br: migrate br github actions to tidb
  .github/workflows/br_compatible_test.yml
  .github/workflows/compile_br.yaml
  br/.github/workflows/compatible_test.yml
  br/README.md
  br/compatibility/backup_cluster.yaml
  br/compatibility/prepare_backup.sh
  br/docker/Dockerfile
  br/tests/docker_compatible_gcs/run.sh
  br/tests/docker_compatible_s3/run.sh
  br/tests/run_compatible.sh
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#27936 txn: introduce `kv.SnapshotInterceptor` to intercept txn read operations
  kv/kv.go
  kv/option.go
  store/driver/custom_retriever_serial_test.go
  store/driver/main_test.go
  store/driver/snap_interceptor_serial_test.go
  store/driver/txn/ranged_kv_retriever.go
  store/driver/txn/ranged_kv_retriever_test.go
  store/driver/txn/scanner.go
  store/driver/txn/scanner_test.go
  store/driver/txn/snapshot.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#27940 telemetry: TestBuiltinFunctionsUsage should run in serial
  telemetry/data_window_serial_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#27871 privilege: add select privileges check on performance_schema
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/M

#25849 region_cache: filter peers on tombstone or dropped stores (#24726)
  go.mod
  go.sum
  store/mockstore/mocktikv/pd.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
Labels: status/LGT2, type/bug-fix, sig/transaction, status/can-merge, type/4.0-cherry-pick, size/XL, cherry-pick-approved

#27942 expression: split TestVectorizedBuiltinStringEvalOneVec and TestVectorizedBuiltinStringFunc
  expression/builtin_string_vec_test.go
Labels: type/enhancement, status/LGT2, component/test, component/expression, status/can-merge, component/executor, size/S, release-note-none

#27721 ddl, meta: refactor auto IDs metadata interface
  ddl/column.go
  ddl/column_change_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/partition.go
  ddl/serial_test.go
  ddl/table.go
  executor/ddl.go
  meta/autoid/autoid.go
  meta/meta.go
  meta/meta_autoid.go
  meta/meta_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#27685 *: different ddl worker allowed when TiKV diskusage almost full
  ddl/ddl_worker.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/S, release-note-none

#27622 sessionctx: Support global variable tidb_replica_read
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#27321 session: change the global variable tidb_stmt_summary_max_stmt_count value from 200 to 3000 when upgrade
  session/bootstrap.go
  session/bootstrap_test.go
Labels: status/LGT2, status/can-merge, component/config, sig/sql-infra, size/M, release-note-none

#27664 planner: count rune if charset is neither binary nor ascii
  planner/core/exhaust_physical_plans_test.go
  types/field_type.go
  util/ranger/ranger.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#27879 statistics: use ExecuteInternal instead of Execute in (*Handle).initTopNCountSum
  statistics/handle/bootstrap.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#26773 *: add more daily benchmark test cases
  .gitignore
  Makefile
  executor/benchmark_test.go
  expression/bench_test.go
  session/bench_test.go
  tablecodec/bench_test.go
  util/benchdaily/bench_daily.go
  util/benchdaily/bench_daily_test.go
  util/benchdaily/main_test.go
  util/codec/bench_test.go
  util/rowcodec/bench_test.go
Labels: type/enhancement, status/LGT2, component/test, component/expression, sig/execution, status/can-merge, sig/sql-infra, size/XL, release-note-none

#27944 expression: decrease the execution time of TestMockVecPlusIntParallel
  expression/builtin_vectorized_test.go
Labels: type/enhancement, status/LGT2, component/test, component/expression, sig/execution, status/can-merge, size/XS, release-note-none

#27912 expression/aggregation: migrate test-infra to testify for base_func_test.go
  expression/aggregation/base_func_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#27812 table/tables: migrate test-infra to testify for partition_test.go
  table/tables/partition_test.go
  testkit/testkit.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#27910 expression/aggregation: migrate test-infra to testify for agg_to_pb_test.go
  expression/aggregation/agg_to_pb_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27945 ddl: change attributes to key-value form
  ddl/attributes_sql_test.go
  ddl/label/attributes.go
  ddl/label/attributes_test.go
  ddl/label/errors.go
  ddl/label/rule.go
  ddl/label/rule_test.go
  executor/infoschema_reader.go
  infoschema/tables_test.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/XL, release-note-none

#27704 store/mockstore/mockcopr, store/mockstore/unistore/cophandler: migrate test-infra to testify
  go.mod
  go.sum
  store/mockstore/mockcopr/cop_handler_dag_test.go
  store/mockstore/mockcopr/executor_test.go
  store/mockstore/mockcopr/main_test.go
  store/mockstore/unistore/cophandler/cop_handler_test.go
  store/mockstore/unistore/cophandler/main_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#27965 store/helper: Migrate test-infra to testify
  store/helper/helper_test.go
  store/helper/main_test.go
Labels: status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#27846 server: migrate test-infra to testify for server/util_test.go
  server/util_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#27913 expression/aggregation: migrate test-infra to testify for util_test.go
  expression/aggregation/main_test.go
  expression/aggregation/util_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27962 server: do not overwrite the log of handshake error
  server/server.go
Labels: status/LGT2, release-note, component/server, status/can-merge, size/XS

#27887 session: update Host type to char(255) in mysql.* tables for compatible with mysql-8.0
  errno/errname.go
  errors.toml
  session/bootstrap.go
  session/bootstrap_test.go
  session/session_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#27814 placement: construct bundle from options
  ddl/placement/bundle.go
  ddl/placement/bundle_test.go
  ddl/placement/constraint_test.go
  ddl/placement/constraints.go
  ddl/placement/errors.go
  ddl/placement/rule.go
  ddl/placement/rule_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#27916 ddl: fix the compatibility of dropping non-exist column
  ddl/db_test.go
  ddl/ddl_api.go
  table/tables/tables_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#27980 Makefile: remove the unit test function timeout check temporarily
  Makefile
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#27809 ddl: replace SetDDLErrorCountLimit
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/partition_test.go
  ddl/serial_test.go
  tools/check/check-timeout.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#27860 util/disk: migrate test-infra to testify
  util/disk/main_test.go
  util/disk/tempDir_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27968 ddl/label: migrate test-infra to testify
  ddl/label/attributes_test.go
  ddl/label/main_test.go
  ddl/label/rule_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#27728 store/mockstore/unistore/tikv: migrate test-infra to testify
  store/mockstore/unistore/tikv/detector_test.go
  store/mockstore/unistore/tikv/main_test.go
  store/mockstore/unistore/tikv/mvcc_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#27963 server: fix missing error metrics for some commands
  server/conn.go
  server/conn_stmt.go
Labels: status/LGT2, component/metrics, release-note, component/server, status/can-merge, size/S

#27705 store/mockstore/unistore/lockstore, store/mockstore/unistore/util/lockwaiter: migrate test-infra to testify
  store/mockstore/unistore/lockstore/lockstore_test.go
  store/mockstore/unistore/lockstore/main_test.go
  store/mockstore/unistore/util/lockwaiter/lockwaiter_test.go
  store/mockstore/unistore/util/lockwaiter/main_test.go
  tools/check/check-timeout.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#27724 store/mockstore: migrate test-infra to testify for some files
  store/mockstore/cluster_test.go
  store/mockstore/main_test.go
  store/mockstore/tikv_test.go
  store/mockstore/unistore/main_test.go
  store/mockstore/unistore/raw_handler_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#27634 server: migrate test-infra to testify for `server/driver_tidb_test.go`
  server/driver_tidb_test.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/S, release-note-none

#27388 executor: enhance data inconsistency report
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/admin_test.go
  executor/batch_point_get.go
  executor/distsql.go
  executor/distsql_test.go
  executor/errors.go
  executor/executor.go
  executor/executor_test.go
  executor/point_get.go
  server/http_handler.go
  testkit/asynctestkit.go
  util/admin/admin.go
  util/admin/admin_test.go
  util/logutil/consistency/reporter.go
  util/logutil/log.go
Labels: status/LGT2, sig/execution, status/can-merge, size/XXL, release-note-none

#26240 Revert "executor: fix show global variables return session variables also (#19341) (#21045)"
  executor/show.go
  executor/show_test.go
Labels: status/LGT2, sig/execution, status/can-merge, size/M, cherry-pick-approved, backport-4.0.14

#27901 sessionctx/context: fix comment typo to help generate godoc
  sessionctx/context.go
Labels: status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note-none

#27981 sessionctx/variable: fix incorrect parallel tests
  sessionctx/variable/session_test.go
  sessionctx/variable/statusvar_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#27943 test: add variable `character_set_connection` into test session
  bindinfo/bind_test.go
  executor/ddl_test.go
  executor/show_test.go
  session/session.go
  util/mock/context.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27499 executor: calling child.Open() after initialization for HashJoin
  executor/join.go
Labels: status/LGT2, sig/execution, status/can-merge, size/XS, release-note-none

#27898 sessionctx: Fix SET GLOBAL tidb_skip_isolation_level_check=1
  sessionctx/variable/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#27987 executor: rename txnScope as readReplicaScope instead
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/adapter.go
  executor/batch_point_get.go
  executor/builder.go
  executor/compiler.go
  executor/distsql.go
  executor/index_merge_reader.go
  executor/point_get.go
  executor/stale_txn_test.go
  executor/table_reader.go
  go.mod
  go.sum
  kv/kv.go
  kv/option.go
  planner/core/common_plans.go
  planner/core/preprocess.go
  store/copr/coprocessor.go
  store/driver/txn/snapshot.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#28016 util/encrypt: migrate test-infra to testify
  util/encrypt/aes_layer_test.go
  util/encrypt/aes_test.go
  util/encrypt/crypt_test.go
  util/encrypt/main_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#28014 ddl: add some debug log for unstable test TestTruncatePartitionAndDropTable
  ddl/db_partition_test.go
  ddl/delete_range.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#27986 store/gcworker: fix test data race
  store/gcworker/gc_worker_serial_test.go
  testkit/mockstore.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#26562 store/tikv: point get use lite resolve lock
  store/copr/coprocessor.go
  store/tikv/client_helper.go
  store/tikv/snapshot.go
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, type/5.1-cherry-pick

#28027 *: fix memory leak after dom.Close
  ddl/ddl.go
  domain/domain.go
  domain/domain_test.go
  session/session_test.go
  session/tidb.go
  sessionctx/variable/statusvar.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27847 txn: allow transaction set custom retrievers
  executor/mem_reader.go
  executor/union_iter_test.go
  store/driver/txn/txn_driver.go
  store/driver/txn/union_iter.go
  store/driver/txn/union_iter_test.go
  store/driver/txn/unionstore_driver.go
  store/driver/txn_serial_test.go
  util/mock/iter.go
Labels: status/LGT2, sig/transaction, status/can-merge, sig/sql-infra, size/XXL, release-note-none

#28039 test: remove created config file after test
  config/config_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#28041 types: migrate test-infra to testify for enum_test.go
  types/enum_serial_test.go
  types/enum_test.go
Labels: status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#26845 server, session: Reduce noise from SELECT...FOR UPDATE NOWAIT
  server/conn.go
  session/session.go
Labels: status/LGT2, release-note, status/can-merge, sig/sql-infra, size/M

#28044 types: migrate test-infra to testify for fsp_test.go
  types/fsp_test.go
Labels: status/LGT2, status/can-merge, first-time-contributor, size/L, release-note-none

#28046 util/encrypt: parallelize tests
  util/encrypt/aes_layer_test.go
  util/encrypt/aes_test.go
  util/encrypt/crypt_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#28050 expression, executor: fix license header
  .github/licenserc.yml
  executor/aggfuncs/func_stddevpop_test.go
  executor/aggfuncs/func_stddevsamp_test.go
  executor/aggfuncs/func_varpop_test.go
  executor/aggfuncs/func_varsamp_test.go
  executor/index_lookup_merge_join_test.go
  executor/pkg_test.go
  expression/aggregation/base_func_test.go
  expression/aggregation/util_test.go
  expression/builtin.go
  expression/builtin_info.go
  expression/builtin_math.go
  expression/builtin_miscellaneous.go
  expression/builtin_miscellaneous_test.go
  expression/builtin_string.go
  expression/builtin_time.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#27868 bindinfo: migrate test-infra to testify(staging-1)
  bindinfo/bind_test.go
  bindinfo/handle_test.go
  bindinfo/main_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#28045 types: migrate test-infra to testify for compare_test.go
  types/compare_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#27677 expression: fix some problems related to flen
  expression/builtin_arithmetic.go
  expression/builtin_string.go
  expression/builtin_time.go
  expression/typeinfer_test.go
  types/field_type.go
  types/field_type_test.go
  types/helper.go
Labels: status/LGT2, component/expression, status/can-merge, sig/sql-infra, size/M, release-note-none

#28033 executor: support selecting store by tidb_replica_read for stale read
  distsql/request_builder.go
  executor/analyze.go
  executor/batch_point_get.go
  executor/point_get.go
  executor/stale_txn_test.go
  kv/option.go
  session/session.go
  sessionctx/variable/sysvar.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#28018 chore: fix make failpoint-enable/disable
  Makefile.common
Labels: status/LGT2, status/can-merge, first-time-contributor, size/XS, release-note-none

#27991 expression: refine and fix some functions' return type
  expression/builtin.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/typeinfer_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#28063 mockstore: remove unused code
  store/mockstore/unistore/cophandler/closure_exec.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#27911 expression/aggregation: migrate test-infra to testify for aggregation_test.go
  expression/aggregation/aggregation_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#27928 sessionctx, statistics: remove unused StatementContext.mu.histogramsNotLoad
  sessionctx/stmtctx/stmtctx.go
  statistics/histogram.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#27886 server: Cleanup UNIX Socket file
  server/server.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#28032 executor: fix wrong index hash join when hash col is enum
  executor/builder.go
  executor/index_lookup_join_test.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#28023 types: migrate test-infra to testify for errors_test.go
  types/errors_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#27993 store: migrate test-infra to testify
  store/batch_coprocessor_serial_test.go
  store/main_test.go
  store/store_test.go
  tools/check/check-timeout.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#28029 server: migrate test-infra to testify for server/statistics_handler_test.go
  server/statistics_handler_serial_test.go
  server/statistics_handler_test.go
  testkit/dbtestkit.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#27858 sessionctx: support session variable tidb_read_staleness
  executor/adapter.go
  executor/stale_txn_test.go
  expression/builtin_time.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#28024 types: migrate test-infra to testify for binary_literal_test.go
  types/binary_literal_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#28071 types: migrate test-infra to testify for overflow_test.go
  types/overflow_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#26897 store/copr: use a ttl duration to protect a new recovered tiflash nod…
  executor/tiflash_test.go
  kv/mpp.go
  planner/core/fragment.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/copr/batch_coprocessor.go
  store/copr/mpp.go
Labels: status/LGT2, sig/execution, release-note, status/can-merge, size/L, cherry-pick-approved, type/5.1-cherry-pick

#27136 executor: fix wrong logic of pipelined window function (#26974)
  executor/pipelined_window.go
Labels: status/LGT2, sig/execution, release-note, status/can-merge, size/XS, cherry-pick-approved

#28090 br: remove .github config
  br/.github/ISSUE_TEMPLATE/bug-report.md
  br/.github/ISSUE_TEMPLATE/feature-request.md
  br/.github/ISSUE_TEMPLATE/question.md
  br/.github/challenge-bot.yml
  br/.github/pull_request_template.md
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#28083 types: migrate test-infra to testify for `format_test.go`
  types/format_test.go
Labels: status/LGT2, status/can-merge, first-time-contributor, size/M, release-note-none

#27678 store/tikv/client: remove the lock for idle connection recycle
  store/tikv/client/client.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/S, cherry-pick-approved, type/5.1-cherry-pick, affects-5.1

#28105 types: migrate test-infra to testify for core_time_test.go
  types/core_time_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#28091 Revert "expression: push down mod() to TiFlash (#26494) (#27865)"
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: status/LGT2, release-note, status/can-merge, size/M, cherry-pick-approved
