Repository pingcap/tidb, pull requests merged in 2021-05, with the labels that each got.

#23528 ddl, partition: make partition table can use binary type column
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: sig/sql-infra, size/S, status/LGT2, status/can-merge

#24097 planner: Remove redundant call to expression.ColumnSubstitute
  planner/core/rule_predicate_push_down.go
Labels: size/XS, status/LGT2, status/can-merge

#23997 stats, executor: use a correct sampling to collect stats
  executor/analyze.go
  executor/builder.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil_test.go
  statistics/cmsketch.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/histogram.go
  statistics/integration_test.go
  statistics/row_sampler.go
  statistics/sample_test.go
  statistics/testdata/integration_suite_in.json
  statistics/testdata/integration_suite_out.json
Labels: component/statistics, sig/execution, sig/planner, size/XXL, status/LGT2, status/can-merge

#24282 planner: remove useless predicates after partition pruning
  planner/core/partition_prune.go
  planner/core/partition_pruner_test.go
  planner/core/rule_partition_processor.go
  planner/core/testdata/partition_pruner_in.json
  planner/core/testdata/partition_pruner_out.json
Labels: sig/planner, size/L, status/LGT2, status/can-merge

#24232 *: the value of tikv-client.copr-cache.capacity-mb should >=0
  store/copr/coprocessor_cache.go
  store/copr/coprocessor_cache_test.go
  store/mockstore/mockcopr/executor_test.go
  store/mockstore/mockstorage/storage.go
  store/mockstore/tikv.go
  store/mockstore/unistore.go
Labels: size/S, status/LGT2, status/can-merge

#24396 store/tikv: make tikv.ErrTiKV* as normal errors instead of dberror
  store/driver/txn/error.go
  store/tikv/error/errcode.go
  store/tikv/error/error.go
Labels: size/M, status/LGT2, status/can-merge

#24410 store/copr: invalidate stale regions for Mpp query.
  go.mod
  go.sum
  store/copr/mpp.go
  store/mockstore/unistore/tikv/server.go
  store/tikv/region_cache.go
  store/tikv/region_request_test.go
Labels: size/M, status/LGT2, status/can-merge

#24405 planner: convert Sequence as DataSource to TableDual
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: size/M, status/LGT2, status/can-merge

#24400 store/tikv: make tikv.ErrGCTooEarly as a normal error instead of dberror
  executor/point_get_test.go
  store/copr/batch_coprocessor.go
  store/copr/coprocessor.go
  store/copr/mpp.go
  store/copr/store.go
  store/driver/tikv_driver.go
  store/driver/txn/error.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/driver/txn/unionstore_driver.go
  store/tikv/error/errcode.go
  store/tikv/error/error.go
  store/tikv/kv.go
  store/tikv/tests/safepoint_test.go
Labels: sig/execution, sig/transaction, size/L, status/LGT2, status/can-merge

#24391 store/tikv: make tikv.ErrTiKVServerBusy as a normal error instead of …
  store/driver/txn/error.go
  store/tikv/error/errcode.go
  store/tikv/error/error.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#24388 store/tikv: make tikv.PDServerTimeout as a normal error instead of db…
  store/driver/txn/error.go
  store/tikv/backoff.go
  store/tikv/error/errcode.go
  store/tikv/error/error.go
  store/tikv/kv.go
  store/tikv/split_region.go
  store/tikv/tests/safepoint_test.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#24394 executor: solve the compatibility problem between UnionScan and partition tables and remove all code about PartitionTableExec
  executor/builder.go
  executor/partition_table.go
Labels: sig/execution, size/L, status/LGT2, status/can-merge

#24392 store/tikv: make tikv.ErrTiFlashServerBusy as a normal error instead …
  store/driver/txn/error.go
  store/tikv/error/errcode.go
  store/tikv/error/error.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#20749 executor: support global kill (32 bits)
  docs/design/2020-06-01-global-kill.md
Labels: component/docs, component/executor, size/L, status/LGT2, status/can-merge

#24135 *: support clustered index table produce binlog
  ddl/ddl_api.go
  sessionctx/binloginfo/binloginfo_test.go
  table/tables/tables.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#24376 planner: prune partitions that will never be used
  planner/core/partition_pruner_test.go
  planner/core/rule_partition_processor.go
  planner/core/testdata/partition_pruner_in.json
  planner/core/testdata/partition_pruner_out.json
  util/math/math.go
  util/ranger/testdata/ranger_suite_out.json
Labels: sig/planner, size/L, status/LGT2, status/can-merge

#23700 tikv: distinguish server timeout for TiKV and TiFlash
  store/tikv/batch_coprocessor.go
  store/tikv/region_request.go
Labels: cherry-pick-approved, size/XS, status/LGT2, status/can-merge, type/bug-fix

#24406 ddl: add partition compatibility for temporary table
  ddl/db_partition_test.go
  ddl/error.go
  ddl/table.go
  errors.toml
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#24417 ddl: disallow changing the default value of the primary key column to null
  ddl/column_type_change_test.go
  ddl/ddl_api.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#24369 planner: fix column pruning bug for Apply and Join
  planner/core/integration_test.go
  planner/core/rule_column_pruning.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge, type/bug-fix

#24431 util: fix enum index range for in/not in clause.
  expression/integration_test.go
  util/ranger/points.go
Labels: component/expression, sig/planner, size/M, status/LGT2, status/can-merge

#23848 ddl: rollingback add index meets panic leads json unmarshal object error
  ddl/db_test.go
  ddl/ddl_worker.go
Labels: cherry-pick-approved, needs-cherry-pick-5.0, sig/sql-infra, size/S, status/LGT2, status/can-merge, type/bug-fix

#23888 executor: fix resource leak of Shuffle Executor.
  executor/shuffle.go
Labels: cherry-pick-approved, sig/execution, size/S, status/LGT2, status/can-merge, type/4.0-cherry-pick

#24390 store/tikv: make tikv.ErrRegionUnavailable as a normal error
  store/copr/coprocessor.go
  store/driver/txn/error.go
  store/tikv/error/errcode.go
  store/tikv/error/error.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#24418 *: fix some typos
  planner/core/plan_test.go
  util/logutil/hex.go
Labels: size/XS, status/LGT2, status/can-merge

#24422 planner: add some test cases about partition table dynamic-mode and plan-cache
  planner/core/prepare_test.go
Labels: sig/planner, size/L, status/LGT2, status/can-merge

#24320 ddl: generated columns to be disallowed more completely for `column type change` operation (need to change the data)
  ddl/column.go
  ddl/db_change_test.go
  ddl/ddl_api.go
  ddl/failtest/fail_db_test.go
  ddl/generated_column.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge, type/bug-fix

#24263 ddl: fix alter int to bit will panic in backfill index
  ddl/column.go
  ddl/column_type_change_test.go
  table/tables/tables.go
  util/rowDecoder/decoder.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#24375 docs: Add design document about Lock View
  docs/design/2021-04-26-lock-view.md
Labels: component/docs, sig/transaction, size/L, status/LGT2, status/can-merge

#24425 test: fix unstable TestIssue20658
  executor/aggregate_test.go
Labels: needs-cherry-pick-5.0, sig/execution, size/S, status/LGT2, status/can-merge

#24430 planner: add some test cases about partition-table dynamic mode with global-stats and SQL binding
  executor/partition_table_test.go
Labels: sig/execution, sig/planner, size/M, status/LGT2, status/can-merge

#24436 server: add MVCC API for secondary index with common handle
  docs/tidb_http_api.md
  server/http_handler.go
  server/http_handler_test.go
  server/http_status.go
Labels: needs-cherry-pick-5.0, sig/sql-infra, size/L, status/LGT2, status/can-merge

#24280 executor, session, variable: Move deprecation, synonyms, scope validation to sysvar struct
  executor/set.go
  session/session.go
  session/session_test.go
  sessionctx/variable/error.go
  sessionctx/variable/mock_globalaccessor.go
  sessionctx/variable/noop.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: sig/execution, sig/sql-infra, size/XL, status/LGT2, status/can-merge

#24385 store/tikv: make tikv.ErrTiFlashServerTimeout as a normal error instead of dberror
  server/conn.go
  server/conn_stmt.go
  store/copr/batch_coprocessor.go
  store/copr/batch_request_sender.go
  store/copr/coprocessor.go
  store/copr/coprocessor_test.go
  store/copr/mpp.go
  store/copr/store.go
  store/driver/txn/error.go
  store/tikv/error/errcode.go
  store/tikv/error/error.go
Labels: sig/sql-infra, sig/transaction, size/L, status/LGT2, status/can-merge

#24472 sessionctx/variable: Improve sysvar test coverage, collation normalization
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/varsutil.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#24438 meta: add an in-memory autoID allocator
  meta/autoid/errors.go
  meta/autoid/memid.go
  meta/autoid/memid_test.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#24456 planner: refactor Converting Partition Keys for shuffle hash join
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/partition_pruner_out.json
  store/mockstore/unistore/cophandler/mpp.go
  store/mockstore/unistore/cophandler/mpp_exec.go
Labels: needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge, type/bug-fix

#24503 variable: improve test coverage
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/varsutil.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#24460 *: fix gosimple check
  cmd/importcheck/importcheck.go
  config/config_util.go
  store/tikv/mockstore/deadlock/deadlock_test.go
  types/json/binary_functions.go
  util/timeutil/time.go
Labels: component/config, sig/sql-infra, size/S, status/LGT2, status/can-merge

#24235 expression: try to fix TestExprPushDownToFlash tests
  expression/builtin_time_test.go
  expression/evaluator_test.go
  expression/expr_to_pb_test.go
Labels: component/expression, size/M, status/LGT2, status/can-merge

#24426 store/tikv/error: remove unused error to driver package
  store/driver/txn/error.go
  store/tikv/error/errcode.go
  store/tikv/error/error.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#24448 executor: add some test cases about partition-table dynamic mode with view
  executor/partition_table_test.go
Labels: sig/execution, sig/planner, size/M, status/LGT2, status/can-merge

#24454 planner: add more test cases about dynamic-mode with new-collation
  planner/core/integration_test.go
Labels: sig/execution, sig/planner, size/M, status/LGT2, status/can-merge

#24230 *: consitent get infoschema
  distsql/request_builder.go
  executor/adapter.go
  executor/analyze.go
  executor/analyze_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/distsql.go
  executor/executor_test.go
  executor/grant.go
  executor/index_merge_reader.go
  executor/infoschema_reader.go
  executor/load_stats.go
  executor/metrics_reader_test.go
  executor/partition_table_test.go
  executor/point_get.go
  executor/prepared.go
  executor/simple.go
  executor/table_reader.go
  expression/builtin_info.go
  infoschema/infoschema.go
  infoschema/tables.go
  planner/core/cacheable_checker_test.go
  planner/core/explain.go
  planner/core/expression_rewriter.go
  planner/core/integration_test.go
  planner/core/point_get_plan.go
  planner/core/prepare_test.go
  session/session.go
  sessionctx/variable/session.go
  statistics/handle/ddl.go
  statistics/handle/update.go
Labels: component/expression, needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#24508 store/tikv: increase batch split region limit
  store/tikv/split_region.go
Labels: cherry-pick-approved, size/XS, status/LGT2, status/can-merge

#24442 privilege: fix RequestVerificationWithUser use of default roles
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24214 plan: merge continuous selections and delete surely true expressions
  cmd/explaintest/r/explain_easy.result
  executor/executor_test.go
  expression/integration_test.go
  expression/testdata/expression_suite_out.json
  go.sum
  planner/core/integration_test.go
  planner/core/optimizer.go
  planner/core/rule_predicate_push_down.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/partition_pruner_out.json
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/point_get_plan_out.json
Labels: component/expression, needs-cherry-pick-5.0, sig/execution, sig/planner, size/L, status/LGT2, status/can-merge, type/bug-fix

#24484 store/tikv: make tikv.ErrTokenLimit as a normal error instead of terror
  store/driver/txn/error.go
  store/tikv/error/errcode.go
  store/tikv/error/error.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#24236 *: remove SchemaVersion in TransactionContext
  executor/ddl.go
  executor/simple.go
  session/session.go
  sessionctx/binloginfo/binloginfo.go
  sessionctx/variable/session.go
Labels: component/expression, needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#23255 txn: Use TransactionOption in store/tikv module
  kv/kv.go
  session/session.go
  session/txn.go
  store/driver/tikv_driver.go
  store/mockstore/mockstorage/storage.go
  store/tikv/extract_start_ts_test.go
  store/tikv/kv.go
  store/tikv/tests/2pc_test.go
  store/tikv/txn.go
Labels: sig/sql-infra, sig/transaction, size/XL, status/LGT2, status/can-merge

#24491 executor: add correctness tests about direct reading with aggregations
  executor/partition_table_test.go
Labels: sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#24446 store/copr: removes the unused fields in batchCopIterator
  store/copr/batch_coprocessor.go
Labels: size/S, status/LGT2, status/can-merge

#24424 store/tikv: make tikv.ErrLockWaitTimeout as a normal error instead of…
  session/pessimistic_test.go
  store/driver/txn/error.go
  store/tikv/error/error.go
  store/tikv/tests/2pc_test.go
Labels: sig/sql-infra, sig/transaction, size/M, status/LGT2, status/can-merge

#24453 statistics: dump FMSketch to KV only for partition table with dynamic prune mode
  executor/analyze.go
  statistics/handle/ddl.go
  statistics/handle/dump.go
  statistics/handle/dump_test.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
Labels: component/statistics, needs-cherry-pick-5.0, sig/execution, sig/planner, size/L, status/LGT2, status/can-merge, type/bug-fix

#24469 ddl: speedup test case TestModifyColumnTime
  ddl/db_test.go
Labels: component/test, sig/sql-infra, size/L, status/LGT2, status/can-merge

#24509 variable: use the defined variable
  sessionctx/variable/noop.go
Labels: sig/sql-infra, size/XS, status/LGT2, status/can-merge

#24507 *: misc cleanups to variable package
  ddl/util/util.go
  executor/aggfuncs/builder.go
  executor/analyze.go
  executor/checksum.go
  executor/infoschema_reader.go
  executor/set_test.go
  executor/show.go
  expression/aggregation/descriptor.go
  expression/helper.go
  planner/core/expression_rewriter.go
  sessionctx/variable/noop.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
Labels: component/expression, sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#24538 store, executor: rename resolveTS to safeTS to be consistent with TiKV
  executor/stale_txn_test.go
  store/tikv/extract_start_ts_test.go
  store/tikv/kv.go
  store/tikv/txn.go
Labels: size/L, status/LGT2, status/can-merge

#24522 parser: update parser to fix Can't recognize numeric literals when set 'ANSI_QUOTES' sql_mode
  expression/integration_test.go
  go.mod
  go.sum
Labels: component/expression, size/S, status/LGT2, status/can-merge

#24486 store/tikv: make tikv.ErrUnknown as a normal error instead of terror
  store/driver/txn/error.go
  store/tikv/error/errcode.go
  store/tikv/error/error.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#24342 planner: create new column slice in PreparePossibleProperties
  planner/core/integration_test.go
  planner/core/property_cols_prune.go
Labels: size/M, status/LGT2, status/can-merge

#24451 variable: fix the TiDBDistSQLScanConcurrency comment
  sessionctx/variable/tidb_vars.go
Labels: size/XS, status/LGT2, status/can-merge

#24523 executor: add some test cases about partition table dynamic-mode with clustered-index
  session/clustered_index_test.go
Labels: sig/execution, sig/planner, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24052 *: fix revoke statement for CURRENT_USER() and refine error message
  errno/errname.go
  errors.toml
  executor/revoke.go
  planner/core/optimizer.go
  planner/core/point_get_plan.go
  privilege/privileges/privileges_test.go
  session/session_test.go
Labels: component/privilege, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24516 planner: support set tidb_allow_mpp to `2` or `ENFORCE` to enforce use mpp mode.
  executor/mpp_gather.go
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/task.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: sig/execution, size/L, status/LGT2, status/can-merge

#24408 store/tikv: remove use of SchemaAmender option in store/tikv
  store/driver/txn/txn_driver.go
  store/tikv/txn.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#24244 *: the value of tikv-client.store-liveness-timeout should not less than 0
  tidb-server/main.go
Labels: size/XS, status/LGT2, status/can-merge

#24462 store/tikv: remove use of EnableAsyncCommit option in store/tikv
  store/driver/txn/txn_driver.go
  store/tikv/2pc.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/async_commit_test.go
  store/tikv/tests/snapshot_fail_test.go
  store/tikv/txn.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#22908 txn: Add txn state's view
  bindinfo/bind_test.go
  domain/domain_test.go
  executor/adapter.go
  executor/builder.go
  executor/executor_pkg_test.go
  executor/explainfor_test.go
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  executor/prepared_test.go
  executor/seqtest/prepared_test.go
  infoschema/cluster.go
  infoschema/infoschema_test.go
  infoschema/tables.go
  infoschema/tables_test.go
  kv/kv.go
  server/server.go
  session/session.go
  session/session_test.go
  session/txn.go
  session/txninfo/txn_info.go
  util/processinfo.go
Labels: sig/execution, sig/planner, sig/sql-infra, sig/transaction, size/XXL, status/LGT2, status/can-merge

#24540 planner: ignore lock for temporary table of PointGet and BatchPointGet
  planner/core/integration_test.go
  planner/core/optimizer.go
  planner/core/point_get_plan.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: size/L, status/LGT2, status/can-merge

#24409 store/tikv: remove use of ReplicaRead transaction option in store/tikv
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/tikv/snapshot.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#24549 store/driver: move error to single package
  executor/point_get_test.go
  server/conn.go
  server/conn_stmt.go
  session/pessimistic_test.go
  store/copr/batch_coprocessor.go
  store/copr/coprocessor.go
  store/copr/mpp.go
  store/copr/store.go
  store/driver/error/error.go
  store/driver/tikv_driver.go
  store/driver/txn/error.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/driver/txn/unionstore_driver.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/XL, status/LGT2, status/can-merge

#24501 ddl: add check table compatibility for temporary table
  errors.toml
  executor/admin_test.go
  executor/ddl.go
  expression/integration_test.go
  infoschema/error.go
  planner/core/preprocess.go
Labels: component/expression, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24464 store/tikv: remove use of IsStatenessReadOnly option in store/tikv
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/tikv/snapshot.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#24577 store/tikv: change backoff type for missed tiflash peer.
  store/copr/batch_coprocessor.go
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#24465 store/tikv: remove use of MatchStoreLabels transaction option in store/tikv
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/tikv/snapshot.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#24506 executor, meta: Allocate auto id for global temporary tables
  executor/insert_test.go
  sessionctx/variable/session.go
  table/tables/tables.go
  util/tableutil/tableutil.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#24461 store/tikv: remove use of SampleStep option in store/tikv
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/tikv/snapshot.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#24573 executor: add partition pruning tests for adding and dropping partition operations
  executor/partition_table_test.go
  util/testkit/testkit.go
Labels: sig/execution, sig/planner, size/M, status/LGT2, status/can-merge

#24565 ddl: forbid partition on temporary mode before put into queue
  ddl/ddl_api.go
  ddl/partition.go
  ddl/table.go
Labels: sig/sql-infra, size/S, status/LGT2, status/can-merge

#24487 ddl: speedup test case TestIndexOnMultipleGeneratedColumn
  ddl/db_integration_test.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#24485 execution: Fix issue 24439 Inconsistent error with MySQL for GRANT CREATE USER ON <specific db>.*
  errors.toml
  executor/errors.go
  executor/grant.go
  executor/grant_test.go
  go.mod
  go.sum
Labels: sig/execution, sig/sql-infra, size/S, status/LGT2, status/can-merge

#24463 *: fix errcheck
  store/tikv/config/config_test.go
  types/json/binary_functions_test.go
Labels: size/S, status/LGT2, status/can-merge

#24585 test: make TestExtractStartTs stable
  store/tikv/extract_start_ts_test.go
  store/tikv/kv.go
Labels: size/M, status/LGT2, status/can-merge

#24518 ddl: forbid recover/flashback temporary tables
  executor/ddl.go
  executor/executor_test.go
Labels: sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24544 executor: fix point_get result on clustered index when new-row-format disabled but new-collation enabled
  executor/point_get.go
  session/clustered_index_test.go
Labels: needs-cherry-pick-5.0, sig/execution, sig/sql-infra, size/S, status/LGT2, status/can-merge, type/bug-fix

#20969 executor: Improve the performance of appending not fixed columns
  util/chunk/chunk.go
  util/chunk/chunk_test.go
Labels: sig/execution, size/M, status/LGT2, status/can-merge

#24564 *: typo fix
  config/config.go
  tidb-server/main.go
Labels: component/config, sig/sql-infra, size/S, status/LGT2, status/can-merge

#24457 planner/core: refresh stale regions in cache for batch cop response
  go.mod
  go.sum
  store/copr/batch_coprocessor.go
  store/mockstore/unistore/tikv/server.go
  store/tikv/region_request_test.go
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#24570 binlog: DML on temporary tables do not write binlog
  sessionctx/binloginfo/binloginfo_test.go
  table/tables/tables.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#24605 store/tikv: remove use of GuaranteeLinearizability option in store/tikv
  session/session.go
  store/driver/txn/txn_driver.go
  store/tikv/2pc.go
  store/tikv/tests/async_commit_test.go
  store/tikv/tests/snapshot_fail_test.go
  store/tikv/txn.go
Labels: sig/sql-infra, sig/transaction, size/S, status/LGT2, status/can-merge

#24604 store/tikv: remove use of CollectRuntimeStats option in store/tikv
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/tikv/snapshot.go
  store/tikv/tests/snapshot_test.go
  store/tikv/txn.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#24525 store/tikv: move Backoffer into a single package
  store/copr/batch_coprocessor.go
  store/copr/coprocessor.go
  store/copr/mpp.go
  store/driver/tikv_driver.go
  store/gcworker/gc_worker.go
  store/gcworker/gc_worker_test.go
  store/tikv/2pc.go
  store/tikv/backoff.go
  store/tikv/cleanup.go
  store/tikv/client_batch.go
  store/tikv/commit.go
  store/tikv/delete_range.go
  store/tikv/kv.go
  store/tikv/lock_resolver.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/range_task.go
  store/tikv/rawkv.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/retry/backoff.go
  store/tikv/retry/backoff_test.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/test_probe.go
  store/tikv/tests/lock_test.go
  store/tikv/txn.go
Labels: sig/transaction, size/XXL, status/LGT2, status/can-merge

#24609 variables: init cte max recursive deeps in a new session
  sessionctx/variable/session.go
  sessionctx/variable/varsutil_test.go
Labels: size/XS, status/LGT2, status/can-merge

#24619 store/tikv: move transaction options out to /kv
  ddl/backfilling.go
  ddl/column.go
  ddl/index.go
  executor/adapter.go
  executor/analyze.go
  executor/batch_point_get.go
  executor/insert.go
  executor/insert_common.go
  executor/point_get.go
  executor/replace.go
  executor/simple.go
  executor/update.go
  kv/mock_test.go
  kv/option.go
  meta/meta.go
  session/session.go
  sessionctx/binloginfo/binloginfo.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/tikv/kv/option.go
  store/tikv/tests/snapshot_fail_test.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/XL, status/LGT2, status/can-merge

#24624 store/driver: move backoff driver into single package so we can use i…
  store/copr/batch_coprocessor.go
  store/copr/batch_request_sender.go
  store/copr/coprocessor.go
  store/copr/coprocessor_test.go
  store/copr/mpp.go
  store/copr/store.go
  store/driver/backoff/backoff.go
  store/tikv/retry/backoff.go
Labels: sig/transaction, size/L, status/LGT2, status/can-merge

#24339 server: close the temporary session in HTTP API to avoid memory leak
  server/http_handler.go
  server/sql_info_fetcher.go
  server/statistics_handler.go
Labels: sig/planner, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24579 store/tikv: use latest PD TS plus one as min commit ts
  store/tikv/2pc.go
Labels: sig/transaction, size/XS, status/LGT2, status/can-merge

#24596 planner: fix incorrect TableDual plan built from nulleq
  util/ranger/points.go
  util/ranger/ranger_test.go
Labels: contribution, needs-cherry-pick-5.0, sig/planner, size/XS, status/LGT2, status/can-merge, type/bug-fix

#24590 ranger: fix the case which could have duplicate ranges
  util/ranger/ranger.go
  util/ranger/ranger_test.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/planner, size/S, status/LGT2, status/can-merge, type/bug-fix

#24380 executor, store: Pass the SQL digest down to pessimistic lock request
  executor/executor.go
  store/mockstore/unistore/tikv/deadlock.go
  store/mockstore/unistore/tikv/detector.go
  store/mockstore/unistore/tikv/detector_test.go
  store/mockstore/unistore/tikv/errors.go
  store/mockstore/unistore/tikv/mvcc.go
  store/mockstore/unistore/tikv/server.go
  store/tikv/kv/kv.go
  store/tikv/pessimistic.go
  store/tikv/region_request_test.go
  store/tikv/tests/lock_test.go
  store/tikv/txn.go
  util/resourcegrouptag/resource_group_tag.go
  util/resourcegrouptag/resource_group_tag_test.go
Labels: sig/execution, sig/transaction, size/XL, status/LGT2, status/can-merge

#24625 kv: remove UnionStore interface
  ddl/index.go
  ddl/index_change_test.go
  executor/admin.go
  executor/admin_test.go
  executor/distsql_test.go
  executor/executor_test.go
  kv/interface_mock_test.go
  kv/kv.go
  kv/union_store.go
  store/driver/txn/txn_driver.go
  store/driver/txn/unionstore_driver.go
  table/index.go
  table/tables/index.go
  table/tables/index_test.go
  table/tables/tables.go
  util/admin/admin.go
  util/mock/context.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/L, status/LGT2, status/can-merge

#24617 *: enable gosimple linter
  Makefile
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
  executor/aggfuncs/func_percentile.go
  executor/concurrent_map.go
  executor/delete.go
  executor/executor_test.go
  executor/explainfor_test.go
  executor/grant_test.go
  executor/infoschema_reader.go
  executor/insert_test.go
  executor/join.go
  executor/memtable_reader.go
  executor/merge_join_test.go
  executor/parallel_apply_test.go
  executor/partition_table_test.go
  executor/show.go
  expression/integration_test.go
  go.mod
  go.sum
  infoschema/metrics_schema.go
  planner/cascades/implementation_rules.go
  planner/cascades/transformation_rules.go
  planner/core/exhaust_physical_plans.go
  planner/core/partition_pruner_test.go
  planner/core/pb_to_plan.go
  planner/core/physical_plans.go
  planner/core/rule_partition_processor.go
  planner/core/stringer.go
  planner/core/util.go
  plugin/conn_ip_example/conn_ip_example.go
  server/http_handler_test.go
  server/server_test.go
  sessionctx/binloginfo/binloginfo.go
  statistics/cmsketch.go
  statistics/feedback.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update_test.go
  store/copr/mpp.go
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/tikv/dbreader/db_reader.go
  store/mockstore/unistore/tikv/detector.go
  store/mockstore/unistore/tikv/detector_test.go
  store/tikv/region_request.go
  store/tikv/txn.go
  util/chunk/row_container.go
  util/execdetails/execdetails.go
  util/expensivequery/memory_usage_alarm.go
  util/profile/trackerRecorder.go
  util/rowcodec/decoder.go
Labels: component/expression, sig/execution, sig/sql-infra, size/XL, status/LGT2, status/can-merge

#24601 txn: avoid the gc resolving pessimistic locks of ongoing transactions
  store/gcworker/gc_worker.go
  store/gcworker/gc_worker_test.go
Labels: needs-cherry-pick-5.0, sig/transaction, size/M, status/LGT2, status/can-merge, type/bug-fix

#24632 util: fix wrong enum building for index range
  expression/integration_test.go
  util/ranger/points.go
Labels: component/expression, sig/execution, sig/planner, size/S, status/LGT2, status/can-merge

#24555 sessionctx: change innodb large prefix default
  expression/integration_test.go
  sessionctx/variable/noop.go
Labels: component/expression, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#24637 planner: fix only_full_group_by check not enough (#23404)
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Labels: cherry-pick-approved, sig/planner, size/S, status/LGT2, status/can-merge, type/4.0-cherry-pick, type/bug-fix

#24655 store: fix data race about KVStore.tikvClient
  store/tikv/commit.go
  store/tikv/kv.go
  store/tikv/prewrite.go
  store/tikv/scan.go
  store/tikv/split_region.go
Labels: size/M, status/LGT2, status/can-merge

#24646 executor, privileges: Add dynamic privileges to SHOW PRIVILEGES
  executor/executor_test.go
  executor/show.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24658 planner: fix subquery update with generated column (#23955)
  executor/executor_test.go
  planner/core/logical_plan_builder.go
Labels: cherry-pick-approved, sig/execution, size/M, status/LGT2, status/can-merge, type/4.0-cherry-pick, type/bug-fix

#24007 ddl: refactor rule [4/6]
  ddl/ddl_api.go
  ddl/placement/errors.go
  ddl/placement/rule.go
  ddl/placement/rule_test.go
  ddl/placement/types.go
  ddl/placement/types_test.go
  ddl/placement/utils.go
  ddl/placement/utils_test.go
  ddl/placement_rule_test.go
  ddl/placement_sql_test.go
  executor/infoschema_reader.go
  expression/integration_test.go
  infoschema/tables_test.go
  session/session_test.go
Labels: component/expression, sig/execution, sig/sql-infra, size/XL, status/LGT2, status/can-merge

#24662 cmd: ddl_test modify retryCnt from 5 to 20
  cmd/ddltest/ddl_test.go
Labels: component/test, needs-cherry-pick-5.0, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#24455 executor: add correctness tests about direct reading with ORDER BY and LIMIT
  executor/partition_table_test.go
Labels: sig/execution, sig/planner, size/M, status/LGT2, status/can-merge

#24629 store/tikv: remove options from unionstore
  store/driver/txn/txn_driver.go
  store/tikv/txn.go
  store/tikv/unionstore/union_store.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#24614 planner: fix wrongly check for update statement
  executor/write_test.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: sig/execution, size/M, status/LGT2, status/can-merge

#24657 store/tikv: remove CompareTS
  executor/stale_txn_test.go
  store/tikv/oracle/oracle.go
  store/tikv/txn.go
Labels: sig/execution, sig/transaction, size/S, status/LGT2, status/can-merge

#24416 planner, privilege: Add security enhanced mode part 4
  executor/executor_test.go
  planner/core/planbuilder.go
  privilege/privilege.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#24665 executor: add some test cases about partition table dynamic-mode with split-region
  executor/partition_table_test.go
Labels: sig/execution, sig/planner, size/M, status/LGT2, status/can-merge

#24659 planner: fix wrong column offsets when processing dynamic pruning for IndexJoin
  executor/builder.go
  executor/index_lookup_join.go
  executor/partition_table_test.go
Labels: sig/execution, sig/planner, size/L, status/LGT2, status/can-merge, type/bug-fix

#24412 *: Add security enhanced mode part 3
  docs/design/2021-03-09-dynamic-privileges.md
  docs/design/2021-03-09-security-enhanced-mode.md
  executor/executor_test.go
  executor/show.go
  planner/core/expression_rewriter.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/sem/sem.go
  util/sem/sem_test.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#24653 store/tikv: resolve ReplicaReadType dependencies
  distsql/request_builder_test.go
  executor/analyze.go
  executor/analyze_test.go
  executor/batch_point_get.go
  executor/point_get.go
  kv/kv.go
  kv/option.go
  planner/optimize.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil_test.go
  store/copr/coprocessor.go
  store/driver/options/options.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/tikv/kv/store_vars.go
Labels: sig/execution, sig/planner, sig/sql-infra, sig/transaction, size/L, status/LGT2, status/can-merge

#24628 executor: add test cases about partition table with `expression`
  executor/partition_table_test.go
  util/testkit/testkit.go
Labels: component/executor, sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#24578 tablecodec: fix write wrong prefix index value when collation is ascii_bin/latin1_bin
  executor/write_test.go
  tablecodec/tablecodec.go
Labels: needs-cherry-pick-5.0, sig/execution, size/S, status/LGT2, status/PTAL, status/can-merge, type/bug-fix

#24285 *: compatibility with staleread
  ddl/column_change_test.go
  ddl/column_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_test.go
  ddl/ddl_worker_test.go
  ddl/index_change_test.go
  ddl/options.go
  ddl/options_test.go
  ddl/partition.go
  ddl/reorg_test.go
  ddl/restart_test.go
  ddl/schema.go
  ddl/schema_test.go
  ddl/stat_test.go
  ddl/table.go
  ddl/table_test.go
  ddl/util/syncer_test.go
  domain/domain.go
  domain/domain_test.go
  executor/simple.go
  executor/stale_txn_test.go
  infoschema/builder.go
  infoschema/cache.go
  infoschema/cache_test.go
  infoschema/infoschema.go
  infoschema/infoschema_test.go
  metrics/domain.go
  metrics/metrics.go
  owner/manager_test.go
  session/session.go
  session/session_test.go
Labels: sig/execution, sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#24505 session: test that temporary tables will also be retried
  session/session.go
  session/session_test.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/L, status/LGT2, status/can-merge

#24359 domain, session: Add new sysvarcache to replace global values cache
  cmd/explaintest/main.go
  ddl/db_change_test.go
  domain/domain.go
  domain/global_vars_cache.go
  domain/global_vars_cache_test.go
  domain/sysvar_cache.go
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
  infoschema/tables_test.go
  metrics/domain.go
  metrics/metrics.go
  planner/core/prepare_test.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Labels: sig/execution, sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#24534 ddl, transaction: DDL on temporary tables won't affect transactions
  domain/schema_validator.go
  session/session.go
  session/session_test.go
Labels: sig/sql-infra, sig/transaction, size/M, status/LGT2, status/can-merge

#24328 *: implement tidb_bounded_staleness built-in function
  executor/show_test.go
  expression/builtin.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/builtin_time_vec.go
  expression/builtin_time_vec_test.go
  expression/helper.go
  expression/integration_test.go
  go.mod
  go.sum
  kv/interface_mock_test.go
  kv/kv.go
  sessionctx/stmtctx/stmtctx.go
  store/helper/helper.go
  store/mockstore/mockstorage/storage.go
  store/tikv/kv.go
  util/mock/store.go
Labels: component/expression, sig/execution, sig/sql-infra, size/XL, status/LGT2, status/can-merge

#24673 executor: add correctness tests for partition table with different joins
  executor/partition_table_test.go
Labels: sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#24713 expression: fix the spelling of word arithmetical
  expression/builtin_time.go
  expression/builtin_time_test.go
Labels: component/expression, size/L, status/LGT2, status/can-merge

#24521 store/copr: balance region for batch cop task
  store/copr/batch_coprocessor.go
  store/copr/mpp.go
  store/tikv/batch_request_sender.go
  store/tikv/region_cache.go
Labels: needs-cherry-pick-5.0, size/XL, status/LGT2, status/can-merge

#24687 store, metrics: Add metrics for safetTS updating
  store/tikv/kv.go
  store/tikv/metrics/metrics.go
Labels: size/S, status/LGT2, status/can-merge

#24701 sem: add tidbredact log to restricted variables
  util/sem/sem.go
  util/sem/sem_test.go
Labels: sig/sql-infra, size/XS, status/LGT2, status/can-merge

#24710 session: fix dml_batch_size doesn't load the global variable
  session/session.go
  session/session_test.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/sql-infra, size/S, status/LGT2, status/can-merge, type/bug-fix

#24682 store/tikv: retry TSO RPC
  store/tikv/2pc.go
  store/tikv/lock_resolver.go
Labels: needs-cherry-pick-5.0, sig/transaction, size/S, status/LGT2, status/can-merge, type/bug-fix

#24542 expression, planner: push cast down to control function with enum type.
  expression/builtin_cast.go
  expression/integration_test.go
  planner/core/logical_plan_builder.go
Labels: component/expression, size/L, status/LGT2, status/can-merge, type/bug-fix

#24674 executor: add correctness tests about IndexMerge
  executor/partition_table_test.go
Labels: sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#24697 variable: change default for DefDMLBatchSize tidbOptInt64 call
  sessionctx/variable/sysvar.go
Labels: sig/sql-infra, size/XS, status/LGT2, status/can-merge

#24554 planner: add partitioning pruning tests for range partitioning
  executor/partition_table_test.go
  executor/testdata/executor_suite_in.json
  executor/testdata/executor_suite_out.json
  util/testkit/testkit.go
Labels: sig/execution, sig/planner, size/XXL, status/LGT2, status/can-merge

#24685 *: add option for enum push down
  executor/executor_test.go
  expression/expr_to_pb.go
Labels: component/expression, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24656 txn: break dependency from store/tikv to tidb/kv cause by TransactionOption
  kv/fault_injection.go
  kv/fault_injection_test.go
  kv/interface_mock_test.go
  kv/kv.go
  session/session.go
  session/txn.go
  store/driver/tikv_driver.go
  store/helper/helper.go
  store/mockstore/mockstorage/storage.go
  store/tikv/kv.go
  store/tikv/test_probe.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/extract_start_ts_test.go
  store/tikv/txn.go
  util/mock/context.go
  util/mock/store.go
Labels: sig/sql-infra, sig/transaction, size/XL, status/LGT2, status/can-merge

#24379 executor: enhancement for ListInDisk(support writing after reading)
  util/checksum/checksum.go
  util/checksum/checksum_test.go
  util/chunk/disk.go
  util/chunk/disk_test.go
  util/chunk/row_container_test.go
  util/encrypt/aes_layer.go
Labels: sig/execution, size/XL, status/LGT2, status/can-merge

#24715 kv: move TxnScope into kv
  ddl/db_integration_test.go
  ddl/delete_range.go
  ddl/reorg.go
  distsql/request_builder.go
  domain/domain.go
  domain/domain_test.go
  domain/infosync/info.go
  executor/batch_point_get.go
  executor/executor_test.go
  executor/point_get.go
  executor/stale_txn_test.go
  kv/fault_injection_test.go
  kv/mock_test.go
  kv/txn_scope_var.go
  meta/meta_test.go
  server/server.go
  session/pessimistic_test.go
  session/schema_amender_test.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  store/gcworker/gc_worker.go
  store/mockstore/mockcopr/executor_test.go
  store/store_test.go
  store/tikv/oracle/oracle.go
  store/tikv/tests/extract_start_ts_test.go
  util/mock/context.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/L, status/LGT2, status/can-merge

#24749 execution: fix the incorrect use of cached plan for point get
  session/session.go
  session/session_test.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge, type/bug-fix

#24497 executor: add correctness tests about direct reading with indexJoin
  executor/partition_table_test.go
Labels: sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#24732 variable: fix sysvar datarace with deep copy
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#24413 *: Implementing RENAME USER
  executor/simple.go
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges_test.go
  session/session.go
  session/tidb.go
Labels: component/config, sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#24524 infoschema, executor: Add the deadlock table
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  executor/infoschema_reader.go
  infoschema/cluster.go
  infoschema/tables.go
  infoschema/tables_test.go
  session/pessimistic_test.go
  store/tikv/kv/kv.go
  store/tikv/txn.go
  util/deadlockhistory/deadlock_history.go
  util/deadlockhistory/deadlock_history_test.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/XXL, status/LGT2, status/can-merge

#24718 docs: Some proposal for renaming and configurations for Lock View
  docs/design/2021-04-26-lock-view.md
Labels: component/docs, sig/transaction, size/M, status/LGT2, status/can-merge

#24598 planner: add range partition boundaries tests with BETWEEN expression
  executor/partition_table_test.go
  executor/testdata/executor_suite_in.json
  executor/testdata/executor_suite_out.json
Labels: sig/execution, sig/planner, size/XXL, status/LGT2, status/can-merge
