Repository pingcap/tidb, pull requests merged in 2021-06, with the labels that each got.

#23534 *: clean up the logging component
  config/config.go
  config/config.toml.example
  go.mod
  go.sum
  server/http_handler.go
  server/http_handler_test.go
  tidb-server/main.go
  util/logutil/log.go
  util/logutil/log_test.go
  util/logutil/slow_query_logger.go
Labels: component/config, first-time-contributor, sig/diagnosis, sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#24935 executor: make the ParallelApply be safe to be called again after returning empty results
  executor/parallel_apply.go
  executor/parallel_apply_test.go
Labels: needs-cherry-pick-5.0, sig/execution, size/S, status/LGT2, status/can-merge, type/bug-fix

#24998 executor: add more cases about dynamic-mode with plan-cache and transaction
  executor/partition_table_test.go
  planner/core/common_plans.go
  planner/core/prepare_test.go
Labels: sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#24964 *: fix sysvar inconsistencies/potential bugs
  session/session.go
  sessionctx/variable/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  tidb-server/main_test.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#24809 executor: add CTEExec and CTETableReaderExec
  executor/builder.go
  executor/cte.go
  executor/cte_table_reader.go
  executor/cte_test.go
  executor/executor.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  util/chunk/chunk.go
  util/chunk/disk.go
  util/cteutil/storage.go
  util/cteutil/storage_test.go
  util/memory/tracker.go
Labels: component/expression, sig/execution, sig/planner, sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#25015 parser: update parser to fix lexer bug
  expression/integration_test.go
  go.mod
  go.sum
Labels: cherry-pick-approved, component/expression, size/S, status/LGT2, status/can-merge, type/5.0-cherry-pick

#24984 executor: make set transaction as of timestamp supports select statement
  executor/set.go
  executor/simple.go
  executor/stale_txn_test.go
  planner/core/errors.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/varsutil.go
Labels: size/L, status/LGT2, status/can-merge

#24862 planner: keep the original join schema in predicate pushdown
  cmd/explaintest/r/subquery.result
  cmd/explaintest/t/subquery.test
  planner/core/integration_test.go
  planner/core/logical_plan_test.go
  planner/core/rule_predicate_push_down.go
Labels: sig/planner, size/S, status/LGT2, status/all-tests-passed, status/can-merge, type/bug-fix

#24959 ddl: support type conversion between non-varchar and varchar
  ddl/column.go
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  executor/ddl_test.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#25019 executor: supports as of timestamp compatibility
  executor/stale_txn_test.go
  planner/core/preprocess.go
  sessionctx/variable/sysvar.go
Labels: sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#25025 ddl: fix column type change won't cast the default value to new one
  ddl/column_type_change_test.go
  util/rowDecoder/decoder.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge, type/bug-fix

#24892 *: use pprof profile to collect CPU time group by SQL and plan digest
  executor/adapter.go
  executor/executor.go
  executor/prepared.go
  planner/optimize.go
  server/conn.go
  server/conn_stmt.go
  server/http_status.go
  server/sql_info_fetcher.go
  server/tidb_test.go
  session/session.go
  statistics/handle/handle.go
  tidb-server/main.go
  util/misc.go
  util/topsql/collector/collector.go
  util/topsql/topsql.go
  util/topsql/tracecpu/mock/mock.go
  util/topsql/tracecpu/profile.go
  util/topsql/tracecpu_test.go
Labels: component/config, sig/execution, sig/planner, sig/sql-infra, size/XXL, status/LGT2, status/can-merge, type/usability

#24514 execdetails: make `ConcurrencyInfo` only appear once in explain analyze
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: sig/execution, size/S, status/LGT2, status/can-merge

#25023 executor: support explain analyze for CTE statement
  executor/cte.go
  executor/explain_test.go
Labels: sig/execution, size/M, status/LGT2, status/can-merge

#24287 planner/core: support union all for mpp.
  executor/mpp_gather.go
  executor/tiflash_test.go
  expression/column.go
  planner/core/exhaust_physical_plans.go
  planner/core/fragment.go
  planner/core/initialize.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/rule_inject_extra_projection.go
  planner/core/task.go
  store/copr/mpp.go
Labels: component/expression, needs-cherry-pick-5.0, sig/execution, sig/planner, size/XL, status/LGT2, status/can-merge

#24689 planner: warn for incremental analyze in version 3 stats
  planner/core/integration_test.go
  planner/core/planbuilder.go
Labels: sig/planner, size/M, status/LGT2, status/can-merge, type/enhancement

#24907 cmd: add tests for CTE
  cmd/explaintest/r/cte.result
  cmd/explaintest/t/cte.test
Labels: component/test, size/XL, status/LGT2, status/can-merge

#25054 test: fix a name typo error in test file
  ddl/column_type_change_test.go
Labels: size/XS, status/LGT2, status/can-merge

#24940 ddl: add auto random && shard_row_id_bits compatibility for temporary table
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#25044 store/tikv: make pub vars related to region to private and add functions to set & get
  store/copr/batch_request_sender.go
  store/tikv/region_cache.go
  store/tikv/region_request.go
  tidb-server/main.go
Labels: size/M, status/LGT2, status/can-merge

#25047 executor: fix the wrong KVRange for partition tables in TableReader
  executor/builder.go
  executor/partition_table_test.go
  executor/table_reader.go
Labels: sig/execution, sig/planner, size/L, status/LGT2, status/can-merge, type/bug-fix

#25057 *: fix ci lint
  executor/executor.go
  session/session.go
  util/execdetails/execdetails.go
Labels: sig/execution, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#24937 planner: generate correct number of rows when all agg funcs are pruned
  cmd/explaintest/r/explain_easy.result
  planner/core/integration_test.go
  planner/core/rule_column_pruning.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: needs-cherry-pick-5.0, sig/planner, size/L, status/LGT2, status/can-merge, type/bug-fix

#24769 executor: avoid distsql request for TableReader/IndexReader/IndexLookup on temporary table
  executor/distsql.go
  executor/executor_test.go
  executor/table_reader.go
Labels: sig/execution, size/L, status/LGT2, status/can-merge

#25048 docs: fix typo
  docs/design/2020-06-24-placement-rules-in-sql.md
Labels: size/S, status/LGT2, status/can-merge

#24961 ddl: add foreign key compatibility for temporary table
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
  planner/core/planbuilder.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#24958 statistics: relax the check of the OutOfRange
  statistics/cmsketch.go
  statistics/histogram.go
  statistics/selectivity_test.go
  statistics/statistics_test.go
  statistics/table.go
  statistics/testdata/stats_suite_in.json
  statistics/testdata/stats_suite_out.json
Labels: component/statistics, size/L, status/LGT2, status/can-merge

#25035 case: make CTE case be stable
  executor/cte.go
  executor/cte_test.go
Labels: sig/execution, size/M, status/LGT2, status/can-merge

#24925 config: make deadlock history's max size configuable
  config/config.go
  executor/executor_test.go
  server/conn.go
  server/http_handler.go
  server/http_handler_test.go
  session/pessimistic_test.go
  tidb-server/main.go
  util/deadlockhistory/deadlock_history.go
  util/deadlockhistory/deadlock_history_test.go
Labels: component/config, sig/execution, sig/sql-infra, sig/transaction, size/L, status/LGT2, status/can-merge

#25008 *: move executor/set.go special handling to setter functions
  domain/sysvar_cache.go
  executor/set.go
  sessionctx/variable/sysvar.go
  util/stmtsummary/variables.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#25079 planner: make it possible for mpp outer join to choose build side based on row count
  distsql/select_result.go
  planner/core/exhaust_physical_plans.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: size/S

#25006 Telemetry: Add slow query statistic bucket into telemetry data
  telemetry/data.go
  telemetry/data_feature_usage.go
  telemetry/data_slow_query.go
  telemetry/telemetry.go
Labels: size/L, status/LGT2, status/can-merge

#24906 statistics: fix the top-n size to not hold the small things
  statistics/builder.go
  statistics/handle/handle_test.go
  statistics/statistics_test.go
Labels: component/statistics, size/L, status/LGT2, status/can-merge

#25022 *: add telemetry support for CTE
  executor/adapter.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  executor/prepared.go
  metrics/session.go
  metrics/telemetry.go
  session/session.go
  telemetry/data.go
  telemetry/data_feature_usage.go
  telemetry/telemetry_test.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#25083 expression: Support push fucntion unix_timestamp, concat down to TiFlash.
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: component/expression, size/M, status/LGT2, status/can-merge

#25026 planner: try to fix some unstable test cases about partition table statistics
  executor/analyze_test.go
  executor/simple_test.go
  statistics/handle/handle_test.go
Labels: sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#23022 executor: create PipelinedWindowExec
  cmd/explaintest/r/select.result
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/func_avg.go
  executor/aggfuncs/func_bitfuncs.go
  executor/aggfuncs/func_count.go
  executor/aggfuncs/func_max_min.go
  executor/aggfuncs/func_sum.go
  executor/aggfuncs/row_number.go
  executor/benchmark_test.go
  executor/builder.go
  executor/pipelined_window.go
  executor/window.go
  executor/window_test.go
  expression/aggregation/window_func.go
  planner/core/logical_plan_builder.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: sig/execution, sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#25024 planner: add dml support in CTE
  expression/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/preprocess.go
Labels: component/expression, sig/planner, size/M, status/LGT2, status/can-merge

#25075 *: add sys var tidb_enable_global_temporary_table to open global temp table
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/serial_test.go
  executor/admin_test.go
  executor/batch_point_get_test.go
  executor/executor_test.go
  executor/insert_test.go
  executor/show_test.go
  executor/write_test.go
  session/session_test.go
  sessionctx/binloginfo/binloginfo_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  telemetry/data_feature_usage_test.go
Labels: sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24870 executor: add limit implementation for CTEExec
  cmd/explaintest/r/explain_cte.result
  cmd/explaintest/t/explain_cte.test
  executor/builder.go
  executor/cte.go
  executor/cte_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  util/cteutil/storage.go
Labels: component/expression, sig/execution, sig/planner, sig/sql-infra, size/XL, status/LGT2, status/can-merge

#25046 session, planner: Add a factor getter for networkFactor/scanFactor/descScanFactor/seekFactor
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/point_get_plan.go
  planner/core/task.go
  planner/implementation/datasource.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil_test.go
Labels: sig/planner, sig/sql-infra, size/L, status/LGT2, status/can-merge

#24775 executor: fix incorrect result of enum type merge join
  executor/index_lookup_join_test.go
  executor/index_lookup_merge_join_test.go
  planner/core/exhaust_physical_plans.go
Labels: component/expression, sig/execution, size/M, status/LGT2, status/can-merge

#25049 planner: support push down broadcast cartesian join to TiFlash
  go.mod
  go.sum
  planner/core/exhaust_physical_plans.go
  planner/core/plan_to_pb.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: size/L, status/LGT2, status/can-merge

#24956 store: refine the error handling and retry mechanism for stale read
  executor/batch_point_get.go
  executor/point_get.go
  go.mod
  go.sum
  kv/kv.go
  store/copr/coprocessor.go
  store/mockstore/unistore/tikv/server.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/snapshot.go
  store/tikv/tikv_test.go
  store/tikv/tikvrpc/tikvrpc.go
Labels: sig/execution, size/L, status/LGT2, status/can-merge

#25060 infoschema, executor, txn: encode `key` field in DATA_LOCK_WAITS table
  executor/infoschema_reader.go
  infoschema/tables_test.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/XS, status/LGT2, status/can-merge

#25092 tests: make TestIssue20658 stable
  executor/aggregate_test.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#25095 expression: support `str_to_date` push to TiFlash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: size/S, status/LGT2, status/can-merge

#25036 ddl: Forbid set tiflash replicas on temporary tables
  ddl/db_test.go
  ddl/ddl_api.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#25061 infoschema, executor, txn: change some field name in TIDB_TRX table
  docs/design/2021-04-26-lock-view.md
  infoschema/tables.go
Labels: sig/sql-infra, sig/transaction, size/XS, status/LGT2, status/can-merge

#25096 expression: Support cast string as real push down
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge

#25040 store/tikv: new retry logic for RegionRequestSender
  session/pessimistic_test.go
  store/gcworker/gc_worker_test.go
  store/mockstore/unistore/rpc.go
  store/tikv/2pc.go
  store/tikv/backoff.go
  store/tikv/client/client_batch.go
  store/tikv/commit.go
  store/tikv/prewrite.go
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/retry/backoff.go
  store/tikv/tests/2pc_fail_test.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/async_commit_fail_test.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/XXL, status/LGT2, status/can-merge

#24767 *: refine some error messages
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/admin_test.go
  executor/distsql.go
  executor/errors.go
  executor/executor_test.go
  util/admin/admin.go
Labels: needs-cherry-pick-5.0, sig/execution, size/L, status/LGT2, status/can-merge

#25081 planner: support explain analyze for mpp task with union (#24898)
  distsql/select_result.go
  util/execdetails/execdetails.go
Labels: sig/execution, sig/planner, size/M, status/LGT2, status/can-merge

#24807 variable, main: make sure default values for sysvars validate
  server/http_handler_test.go
  sessionctx/variable/noop.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  tidb-server/main.go
  tidb-server/main_test.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#25110 executor: fix ifnull bug when arg is enum/set
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
Labels: needs-cherry-pick-5.0, sig/planner, size/S, status/LGT2, status/can-merge, type/bug-fix

#24860 executor: parallel some part of the sampling-based analyze
  executor/analyze.go
  executor/analyze_test.go
Labels: sig/execution, sig/planner, size/XL, status/LGT2, status/can-merge

#25115 store/tikv: better handle undetermined error for committing primary key
  store/tikv/commit.go
Labels: sig/transaction, size/S, status/LGT2, status/can-merge

#25112 sessionctx: Fix tidb_gc_scan_lock_mode sysvar doesn't show correct default value on new clusters
  sessionctx/variable/sysvar.go
Labels: needs-cherry-pick-5.0, sig/transaction, size/XS, status/LGT2, status/can-merge

#25120 store/tikv: clear undetermined error if txn determines to fail
  store/tikv/2pc.go
  store/tikv/prewrite.go
  store/tikv/tests/async_commit_fail_test.go
Labels: sig/transaction, size/M, status/LGT2, status/can-merge

#25018 expression: push down left/right/abs to tiflash
  expression/expression.go
Labels: component/expression, size/XS, status/LGT2, status/can-merge

#25130 planner: Mpp outer join build side
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: size/XL, status/LGT2, status/can-merge

#25111 planner: add more test cases about tiflash and dynamic mode
  executor/tiflash_test.go
Labels: sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#25063 planner: fix a panic caused by sinking a Limit with inlined Proj into IndexLookUp when accessing a partition table
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  executor/partition_table_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_suite_out.json
Labels: needs-cherry-pick-5.0, sig/execution, sig/planner, size/M, status/LGT2, status/can-merge, type/bug-fix

#25131 planner: add some tiflash test cases on dynamic partition prune mode
  executor/tiflash_test.go
Labels: sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#25143 planner: enable the dynamic mode of partition tables by default
  sessionctx/variable/tidb_vars.go
Labels: sig/execution, sig/planner, size/XS, status/LGT2, status/can-merge

#25138 planner/core: remove unstable test
  planner/core/integration_test.go
Labels: size/M, status/LGT2, status/can-merge

#24999 statistics: support indexes containing virtual column for full sampling
  executor/analyze.go
  executor/analyze_test.go
  executor/builder.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  planner/core/stats_test.go
  planner/core/testdata/stats_suite_out.json
  statistics/builder.go
Labels: component/statistics, sig/execution, sig/planner, size/XXL, status/LGT2, status/can-merge

#25127 go.mod: update br to the new version
  go.mod
  go.sum
Labels: size/XS, status/LGT2, status/can-merge

#25128 store/tikv: move tests of rawkv from region_cache_test to rawkv_test.go
  store/tikv/rawkv_test.go
  store/tikv/region_cache_test.go
Labels: size/XL, status/LGT2, status/can-merge

#24757 planner/core: support limit push down
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge

#25101 expression: processing empty string for enum index correctly
  executor/index_lookup_join.go
  expression/distsql_builtin.go
  expression/integration_test.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  util/ranger/points.go
Labels: component/expression, sig/execution, sig/planner, size/L, status/LGT2, status/can-merge

#25155 planner: skip some unstable test cases
  server/tidb_test.go
  statistics/handle/handle_test.go
  tests/globalkilltest/global_kill_test.go
Labels: sig/planner, sig/sql-infra, size/S, status/LGT2, status/can-merge

#25064 cast: fix cast bit to binary and varbinary
  ddl/column_type_change_test.go
  ddl/ddl_api.go
  types/datum.go
Labels: component/expression, sig/sql-infra, size/M, status/LGT2, status/can-merge

#25136 ddl: forbidden conversion decimal to date/datetime/timestamp
  ddl/column_type_change_test.go
  ddl/ddl_api.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#25166 sessionctx: add skip-init for variable tidb_memory_usage_alarm_ratio
  sessionctx/variable/sysvar.go
Labels: size/XS, status/LGT2, status/can-merge

#25154 ddl: fix column type change error message
  ddl/ddl_api.go
Labels: sig/sql-infra, size/XS, status/LGT2, status/can-merge

#25084 expression: Support push function replace down to TiFlash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: component/expression, needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge

#25140 meta,executor: fix show create table panic for temporary table with auto_increment columns
  executor/show_test.go
  meta/autoid/memid.go
Labels: sig/execution, sig/sql-infra, size/S, status/LGT2, status/can-merge

#25170 executor: skip unstable test case TestMergeJoinInDisk and TestAnalyzeIndexExtractTopN.
  executor/analyze_test.go
  executor/merge_join_test.go
Labels: sig/execution, size/XS, status/LGT2, status/can-merge

#25173 *: concurrent session access leads to race
  session/session.go
Labels: sig/sql-infra, size/S, status/LGT2, status/can-merge

#25065 ddl: add virtual columns compatibility for temporary table
  ddl/db_test.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#25168 session: fix a bug when updating duplicate bindings
  session/bootstrap.go
  session/bootstrap_test.go
Labels: sig/planner, sig/sql-infra, size/M, status/LGT2, status/can-merge

#24988 util: add top sql collector
  executor/set_test.go
  go.mod
  go.sum
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/mockstore/unistore/tikv/server.go
  store/tikv/region_request_test.go
  tidb-server/main.go
  util/topsql/collector/collector.go
  util/topsql/reporter/client.go
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter.go
  util/topsql/reporter/reporter_test.go
  util/topsql/topsql.go
  util/topsql/topsql_test.go
  util/topsql/tracecpu/mock/mock.go
  util/topsql/tracecpu/profile.go
Labels: sig/diagnosis, sig/execution, sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#25085 expression: Support Sqrt, Ceil, Floor and CastIntAsReal push down to TiFlash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: component/expression, needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge

#24616 ddl: fix reorg goroutine leak after column-type-change is cancelled
  ddl/column.go
  ddl/column_type_change_test.go
  ddl/reorg.go
  ddl/rollingback.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#25129 telemetry: fix panic caused by assign nil map
  telemetry/data_slow_query.go
  telemetry/telemetry.go
Labels: size/M, status/LGT2, status/can-merge, type/bug-fix

#25175 planner: reset recorded cte plan in plan encoder
  planner/core/encode.go
  planner/core/plan_test.go
Labels: size/S, status/LGT2, status/can-merge

#25165 store/tikv: refine the retry mechanism of region errors
  store/tikv/metrics/shortcuts.go
  store/tikv/region_cache.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/retry/config.go
Labels: sig/transaction, size/L, status/LGT2, status/can-merge

#25004 ddl: fix changing index prefixed column type to non-prefixed
  ddl/column.go
  ddl/column_type_change_test.go
  ddl/ddl_api.go
Labels: sig/sql-infra, size/M, status/LGT2, status/can-merge

#25132 *: use full sampling as default analyze
  cmd/explaintest/r/subquery.result
  executor/analyze.go
  executor/analyze_test.go
  executor/builder.go
  executor/show_stats_test.go
  executor/simple_test.go
  planner/core/cbo_test.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/planbuilder.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_suite_out.json
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/handle/ddl_test.go
  statistics/handle/dump_test.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/integration_test.go
  statistics/selectivity_test.go
  statistics/testdata/stats_suite_out.json
  util/ranger/testdata/ranger_suite_out.json
  util/sqlexec/restricted_sql_executor.go
Labels: component/statistics, sig/execution, sig/planner, size/XL, status/LGT2, status/can-merge

#25153 store/tikv: increase max backoff time of read requests
  store/tikv/2pc.go
  store/tikv/pessimistic.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/test_probe.go
Labels: sig/transaction, size/L, status/LGT2, status/can-merge

#24990 telemetry: add SQL statistics to telemetry report data
  telemetry/data_slow_query.go
  telemetry/data_window.go
Labels: size/L, status/LGT2, status/can-merge

#25184 ddl, executor: handle original default value after changing column
  ddl/column.go
  ddl/column_type_change_test.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge, type/bug-fix

#25185 tikv: fix a typo
  store/tikv/lock_resolver.go
Labels: size/XS, status/LGT2, status/can-merge

#25194 store/tikv: remove unused function and private the variable shuttingDown
  store/tikv/backoff.go
  store/tikv/region_request.go
  store/tikv/retry/backoff.go
Labels: size/M, status/LGT2, status/can-merge

#25135 typo: GetlogicalTS4TaskMap -> GetLogicalTS4TaskMap
  planner/core/find_best_task.go
  planner/core/plan.go
Labels: size/XS, status/LGT2, status/can-merge

#25198 types: fix wrong truncated val for bit type
  expression/integration_test.go
  types/datum.go
Labels: component/expression, size/S, status/LGT2, status/can-merge, type/bug-fix

#25123 store/tikv: add and fix some metrics for the new retry logic
  metrics/grafana/tidb.json
  store/tikv/2pc.go
  store/tikv/metrics/metrics.go
  store/tikv/region_request.go
  store/tikv/retry/backoff.go
  store/tikv/txn.go
  store/tikv/util/execdetails.go
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Labels: sig/execution, sig/transaction, size/XL, status/LGT2, status/can-merge

#25098 store/tikv: share type OneByOneSuite for tests related to tikv
  session/pessimistic_test.go
  session/session_test.go
  store/driver/sql_fail_test.go
  store/driver/util_test.go
  store/tikv/client/client_fail_test.go
  store/tikv/client/client_test.go
  store/tikv/mockstore/test_suite.go
  store/tikv/tests/1pc_test.go
  store/tikv/tests/async_commit_fail_test.go
  store/tikv/tests/async_commit_test.go
  store/tikv/tests/snapshot_fail_test.go
  store/tikv/tests/ticlient_slow_test.go
  store/tikv/tests/util_test.go
  store/tikv/tikv_test.go
Labels: sig/sql-infra, sig/transaction, size/L, status/LGT2, status/can-merge

#25180 executor: skip unstable test case TestApplyGoroutinePanic
  executor/parallel_apply_test.go
Labels: sig/community-infra, sig/execution, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#23849 ddl: tidb panic while query hash partition table with is null condition
  planner/core/integration_test.go
  planner/core/rule_partition_processor.go
Labels: sig/planner, sig/sql-infra, size/S, status/LGT2, status/can-merge, type/bug-fix

#24903 go.mod, go.sum: upgrade automaxprocs version from v1.2.0 to v1.4.0
  go.mod
  go.sum
Labels: size/XS, status/LGT2, status/can-merge

#25206 planner, executor: add stale read compatibility for temporary table
  executor/adapter.go
  executor/builder.go
  executor/compiler.go
  executor/point_get.go
  executor/stale_txn_test.go
  planner/core/preprocess.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#25039 *: fix permissions of brie RESTORE to be RESTORE_ADMIN
  executor/brie.go
  executor/executor_test.go
  planner/core/logical_plan_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
Labels: needs-cherry-pick-5.1, sig/execution, sig/migrate, sig/sql-infra, size/S, status/LGT2, status/can-merge

#25231 store/tikv: make RegionStore private
  store/tikv/region_cache.go
Labels: size/M, status/LGT2, status/can-merge

#25233 store/tikv: move function GetStoreTypeByMeta to sub package tikvrpc
  store/tikv/region_cache.go
  store/tikv/store_type.go
  store/tikv/tikvrpc/endpoint.go
Labels: size/M, status/LGT2, status/can-merge

#25232 store/tikv: make AccessMode private
  store/tikv/region_cache.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/store_type.go
Labels: size/L, status/LGT2, status/can-merge

#25209 store/tikv: make groupSortedMutationByRegion as a normal function in 2pc
  store/tikv/2pc.go
  store/tikv/region_cache.go
Labels: size/M, status/LGT2, status/can-merge

#25224 executor: temporarily skip some unstable test cases.
  executor/analyze_test.go
  executor/executor_test.go
  executor/join_test.go
Labels: sig/execution, size/XS, status/LGT2

#25210 planner/core: change agg cost factor
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
  planner/implementation/simple_plans.go
Labels: size/XL, status/LGT2, status/can-merge

#25213 ddl: make the column type change switch transparent
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  executor/executor_test.go
  expression/integration_test.go
  sessionctx/variable/tidb_vars.go
Labels: component/expression, needs-cherry-pick-5.1, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#25218 planner/core: remove the union branch with dual table.
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_serial_suite_in.json
  planner/core/testdata/integration_serial_suite_out.json
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, size/L, status/LGT2, status/can-merge

#25255 planner: solve an incompatible issue about dynamic-mode and TiFlash and enable dynamic mode by default
  distsql/select_result.go
  executor/builder.go
  executor/partition_table_test.go
  executor/table_reader.go
  session/bootstrap.go
  sessionctx/variable/sysvar.go
Labels: needs-cherry-pick-5.1, sig/execution, sig/planner, sig/sql-infra, size/L, status/LGT2, status/can-merge, type/bug-fix

#25261 executor: fix bug when use limit in CTE
  executor/cte.go
  executor/cte_test.go
Labels: needs-cherry-pick-5.1, sig/execution, size/M, status/LGT2, status/can-merge, type/bug-fix

#25263 *: enable column-type-change totally
  ddl/column.go
  ddl/column_test.go
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/failtest/fail_db_test.go
  ddl/generated_column.go
  executor/admin_test.go
  executor/ddl_test.go
  executor/executor_test.go
  executor/set_test.go
  expression/integration_test.go
  session/pessimistic_test.go
  session/schema_amender.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Labels: component/expression, needs-cherry-pick-5.1, sig/execution, sig/sql-infra, size/XL, status/LGT2, status/can-merge

#25240 planner: disable mpp_outer_join_fixed_build_side by default
  executor/tiflash_test.go
  planner/core/testdata/integration_serial_suite_out.json
  sessionctx/variable/tidb_vars.go
Labels: sig/execution, size/L, status/LGT2, status/can-merge

#25237 executor: add history read compatibility for temporary table
  executor/builder.go
  executor/executor_test.go
  executor/point_get.go
  executor/stale_txn_test.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#25265 *: update kvrpcpb to not use abbreviations
  executor/executor_test.go
  executor/seqtest/seq_executor_test.go
  session/schema_amender.go
  store/tikv/2pc.go
  store/tikv/cleanup.go
  store/tikv/commit.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/test_probe.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/prewrite_test.go
  store/tikv/tests/snapshot_test.go
  store/tikv/tests/store_test.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#25283 store/tikv: cleanup dependency
  store/tikv/tikv_test.go
Labels: sig/transaction, size/XS, status/LGT2, status/can-merge

#24827 *: add global system variable `tmp_table_size`
  errors.toml
  executor/set_test.go
  session/session_test.go
  sessionctx/variable/noop.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  table/table.go
  table/tables/tables.go
  util/tableutil/tableutil.go
Labels: sig/execution, sig/sql-infra, size/L, status/LGT2, status/can-merge

#23884 Metric: Collect TiKV Read Duration Metric for SLI/SLO
  distsql/select_result.go
  metrics/metrics.go
  metrics/sli.go
  store/copr/coprocessor.go
  store/tikv/snapshot.go
  store/tikv/util/execdetails.go
  util/sli/sli.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#25238 expresssion: fix unstable time_vec_test
  expression/bench_test.go
  expression/builtin_time_vec_test.go
Labels: component/expression, size/S, status/LGT2, status/can-merge

#25278 server: fix test for clienterrors
  server/server_test.go
Labels: sig/sql-infra, size/S, status/LGT2, status/can-merge

#25288 executor: add tablesample compatibility for temporary table
  executor/builder.go
  executor/executor_test.go
Labels: sig/execution, sig/sql-infra, size/S, status/LGT2, status/can-merge

#25318 *: fix binding doesn't work for CTE
  cmd/explaintest/r/cte.result
  cmd/explaintest/t/cte.test
  go.mod
  go.sum
Labels: cherry-pick-approved, size/M, status/LGT2, status/can-merge

#25114 executor: avoid panic in the test
  executor/analyze_test.go
Labels: sig/execution, size/XS, status/LGT2, status/can-merge

#25315 config: add example config line for sem
  config/config.toml.example
Labels: component/config, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#25290 tests: use pingcap/errors to replace juju/errors
  tests/globalkilltest/global_kill_test.go
  tests/globalkilltest/go.mod
  tests/globalkilltest/go.sum
Labels: size/M, status/LGT2, status/can-merge

#25310 store: fix region request have no backoff in some retry situation
  store/tikv/error/error.go
  store/tikv/metrics/shortcuts.go
  store/tikv/region_cache_test.go
  store/tikv/region_request.go
  store/tikv/region_request_test.go
  store/tikv/retry/config.go
Labels: needs-cherry-pick-5.1, size/L, status/LGT2, status/can-merge

#25317 metrics: Add err label for TiFlashQueryTotalCounter
  executor/adapter.go
  metrics/server.go
  server/conn.go
  session/session.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, sig/execution, sig/sql-infra, size/S, status/LGT2, status/can-merge

#25205 store/tikv: move region_* into package store/tikv/region
  executor/executor_test.go
  executor/stale_txn_test.go
  server/conn_test.go
  session/session_fail_test.go
  store/gcworker/gc_worker.go
  store/gcworker/gc_worker_test.go
  store/tikv/2pc.go
  store/tikv/client_helper.go
  store/tikv/commit.go
  store/tikv/interface.go
  store/tikv/kv.go
  store/tikv/locate/accessmode.go
  store/tikv/locate/pd_codec.go
  store/tikv/locate/region_cache.go
  store/tikv/locate/region_cache_test.go
  store/tikv/locate/region_request.go
  store/tikv/locate/region_request_test.go
  store/tikv/lock_resolver.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/rawkv.go
  store/tikv/rawkv_test.go
  store/tikv/region.go
  store/tikv/scan.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/test_probe.go
  store/tikv/test_util.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/async_commit_fail_test.go
Labels: sig/execution, sig/sql-infra, sig/transaction, size/XXL, status/LGT2, status/can-merge

#24899 executor: open childExec during execution for UnionExec
  executor/executor.go
  executor/executor_test.go
Labels: component/executor, needs-cherry-pick-5.1, sig/execution, size/M, status/LGT2, status/can-merge, type/enhancement

#25308 *: fix binding doesn't work for CTE
  cmd/explaintest/r/cte.result
  cmd/explaintest/t/cte.test
  go.mod
  go.sum
Labels: size/M, status/LGT2, status/can-merge

#25323 ddl: fix the data and indexes inconsistency during ctc
  ddl/db_change_test.go
  table/tables/tables.go
Labels: needs-cherry-pick-5.1, sig/sql-infra, size/M, status/LGT2, status/can-merge

#25247 store/tikv: make failpoints without code generations
  ddl/placement_sql_test.go
  ddl/serial_test.go
  executor/executor_test.go
  executor/stale_txn_test.go
  expression/integration_test.go
  server/conn_test.go
  session/pessimistic_test.go
  session/session_fail_test.go
  session/session_test.go
  store/driver/sql_fail_test.go
  store/gcworker/gc_worker_test.go
  store/tikv/2pc.go
  store/tikv/client/client_batch.go
  store/tikv/client/client_fail_test.go
  store/tikv/client_helper.go
  store/tikv/config/config.go
  store/tikv/config/config_test.go
  store/tikv/kv.go
  store/tikv/locate/region_cache.go
  store/tikv/locate/region_request.go
  store/tikv/lock_resolver.go
  store/tikv/mockstore/mocktikv/rpc.go
  store/tikv/pessimistic.go
  store/tikv/prewrite.go
  store/tikv/snapshot.go
  store/tikv/split_region.go
  store/tikv/tests/2pc_fail_test.go
  store/tikv/tests/2pc_test.go
  store/tikv/tests/async_commit_fail_test.go
  store/tikv/tests/lock_test.go
  store/tikv/tests/snapshot_fail_test.go
  store/tikv/tests/snapshot_test.go
  store/tikv/tests/store_fail_test.go
  store/tikv/txn.go
  store/tikv/util/failpoint.go
  tools/check/errcheck_excludes.txt
Labels: component/expression, sig/execution, sig/sql-infra, sig/transaction, size/XXL, status/LGT2, status/can-merge

#25335 executor: temporarily skip some unstable test cases
  executor/analyze_test.go
  executor/infoschema_reader_test.go
  executor/partition_table_test.go
  executor/set_test.go
Labels: sig/execution, sig/sql-infra, size/XS, status/LGT2, status/can-merge

#25221 meta,structure: modify structure hash API to avoid conflict on auto table ID key
  structure/hash.go
  structure/structure_test.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#25268 executor: Fix losing the auth string on changing SSL/TLS requirements
  executor/grant_test.go
  executor/simple.go
  privilege/privileges/privileges_test.go
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, needs-cherry-pick-5.1, sig/execution, sig/sql-infra, size/M, status/LGT2, status/can-merge

#25236 ddl,server,store: Fix ineffectual assignment in tests etc.
  ddl/column_type_change_test.go
  server/http_handler_test.go
  store/tikv/locate/region_request_test.go
Labels: sig/sql-infra, size/XS, status/LGT2, status/can-merge

#25302 planner: Revert `tidb_allow_mpp` modification for downgrade compatibility and add warnings for enforce mpp.
  executor/tiflash_test.go
  planner/core/enforce_mpp_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_in.json
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/property/physical_property.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: needs-cherry-pick-5.1, sig/execution, size/XXL, status/LGT2, status/can-merge, type/bug-fix

#24008 ddl: refactor bundle[1/2] [5/6]
  ddl/ddl_api.go
  ddl/partition.go
  ddl/placement/bundle.go
  ddl/placement/bundle_test.go
  ddl/placement/errors.go
  ddl/placement/types.go
  ddl/placement/types_test.go
  ddl/placement_rule_test.go
  ddl/placement_sql_test.go
  ddl/schema.go
  ddl/table.go
  store/gcworker/gc_worker.go
Labels: component/expression, sig/execution, sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#25330 telemetry: Block logs when referenced by other components outside tidb
  telemetry/data_slow_query.go
Labels: size/XS, status/LGT2, status/can-merge

#25031 infoschema, util/stmtsummary: enhance statements_summary.
  infoschema/tables.go
  infoschema/tables_test.go
  util/stmtsummary/evicted.go
  util/stmtsummary/evicted_test.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/statement_summary_test.go
Labels: sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#25343 sli: move small read duration metrics to store/tikv
  distsql/select_result.go
  metrics/metrics.go
  metrics/sli.go
  store/tikv/metrics/metrics.go
  store/tikv/snapshot.go
  util/sli/sli.go
Labels: sig/execution, size/M, status/LGT2, status/can-merge

#25336 planner/core: fix bug that injected proj get wrong index.
  executor/tiflash_test.go
  planner/core/rule_inject_extra_projection.go
Labels: needs-cherry-pick-5.0, needs-cherry-pick-5.1, sig/execution, size/S, status/LGT2, status/can-merge

#25195 util: improve TopSQL reporter memory efficiency
  domain/domain.go
  domain/sysvar_cache.go
  executor/set_test.go
  server/tidb_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/topsql/reporter/client.go
  util/topsql/reporter/mock/server.go
  util/topsql/reporter/reporter.go
  util/topsql/reporter/reporter_test.go
  util/topsql/topsql.go
  util/topsql/topsql_test.go
  util/topsql/tracecpu/mock/mock.go
Labels: needs-cherry-pick-5.1, sig/execution, sig/sql-infra, size/XXL, status/LGT2, status/can-merge

#25229 types: optimize MyDecimal.ToFloat64
  types/mydecimal.go
  types/mydecimal_benchmark_test.go
  types/mydecimal_test.go
Labels: component/expression, size/L, status/LGT2, status/can-merge

#25082 ddl: add create table like check for temporary table
  ddl/serial_test.go
  errors.toml
  planner/core/errors.go
  planner/core/preprocess.go
Labels: sig/sql-infra, size/L, status/LGT2, status/can-merge

#25369 config: add config for `tidb_enforce_mpp` and remove the global scope of it.
  config/config.go
  sessionctx/variable/sysvar.go
  tidb-server/main.go
Labels: component/config, size/XS, status/LGT2, status/can-merge

#25156 *: stale reads compatible with prepare
  executor/adapter.go
  executor/benchmark_test.go
  executor/builder.go
  executor/compiler.go
  executor/coprocessor.go
  executor/executor_required_rows_test.go
  executor/prepared.go
  executor/seqtest/prepared_test.go
  executor/stale_txn_test.go
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/preprocess.go
  session/session.go
Labels: needs-cherry-pick-5.1, sig/execution, sig/sql-infra, size/XL, status/LGT2, status/can-merge
