Repository pingcap/tidb, pull requests merged in 2022-03, with the labels that each got.

#32674 ddl: cleanup redundant globally settings for tests
  ddl/column_change_test.go
  ddl/column_test.go
  ddl/ddl_test.go
  ddl/ddl_worker_test.go
  ddl/foreign_key_test.go
  ddl/index_change_test.go
  ddl/integration_test.go
  ddl/main_test.go
  ddl/placement_policy_ddl_test.go
  ddl/reorg_test.go
  ddl/restart_test.go
  ddl/stat_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32684 executor: migrate test-infra to testify for set_test.go
  config/config.go
  executor/aggregate_test.go
  executor/executor_test.go
  executor/main_test.go
  executor/set_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32613 *: add a global system variable to control the memory quota for the bindCache
  domain/sysvar_cache.go
  executor/set_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#32650 executor: migrate test-infra to testify for simple_test
  executor/simple_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32559 executor: Should not show the table attribute that the table has been dropped by user in information_schema.attributes
  ddl/attributes_sql_test.go
  executor/infoschema_reader.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32667 dumpling: fix unstable sql mock
  dumpling/export/dump_test.go
  dumpling/export/sql.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#32676 ddl: migrate test-infra to testify for placement_policy_test
  ddl/placement_policy_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32553 expr: support push tikv supported functions down
  cmd/explaintest/r/explain_generate_column_substitute.result
  cmd/explaintest/r/index_merge.result
  expression/distsql_builtin.go
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32688 executor: migrate test-infra to testify for infoschema_reader_test.go
  executor/ddl_test.go
  executor/explain_test.go
  executor/hot_regions_history_table_test.go
  executor/infoschema_cluster_table_test.go
  executor/infoschema_reader_test.go
  executor/insert_test.go
  executor/memtable_reader_test.go
  executor/partition_table_test.go
  executor/seqtest/seq_executor_test.go
  executor/show_test.go
  executor/tikv_regions_peers_table_test.go
  executor/write_test.go
  testkit/testutil/handle.go
  util/testutil/testutil.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32497 expression: support push bit column down to TiKV
  expression/builtin_cast.go
  expression/constant.go
  expression/distsql_builtin.go
  expression/expr_to_pb.go
  expression/expr_to_pb_test.go
  kv/checker.go
  planner/core/integration_test.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/point_get_plan_out.json
  util/ranger/testdata/ranger_suite_out.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32387 *: tiny refactor code to reduce txn conflict on 'table_cache_meta'
  ddl/placement_policy_ddl_test.go
  domain/domain.go
  executor/slow_query_test.go
  infoschema/builder.go
  infoschema/infoschema_test.go
  table/table.go
  table/tables/cache.go
  table/tables/state_remote.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32680 executor: migrate test-infra to testify for executor_required_rows_test.go
  executor/executor_required_rows_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32511 executor: migrate test-infra to testify for inspection_result_test.go
  executor/inspection_result_test.go
  executor/memtable_reader_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#30431 br: give error message to user clearly when fail to backup without local storage directory/file
  br/pkg/backup/push.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/br

#32711 executor: migrate test-infra to testify for explainfor_test.go
  executor/executor_test.go
  executor/explainfor_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32706 executor: migrate test-infra to testify for explain_unit_test.go
  executor/explain_unit_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#32548 executor: add a `scannedKeys` in `indexWorker`, let pushLimited supports partition table
  executor/distsql.go
  executor/distsql_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#32686 executor: migrate test-infra to testify for parallel_apply_test.go
  executor/parallel_apply_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#31260 Doc: Add a design doc for integer shard index
  docs/design/2022-01-04-integer-shard-index.md
  docs/design/imgs/scalability-formula.png
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32664 *: modify topsql variable should check RESTRICTED_VARIABLES_ADMIN privilege when sem is enabled
  privilege/privileges/privileges_test.go
  util/sem/sem.go
  util/sem/sem_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#32694 ddl: migrate test-infra to testify for column_type_change_type
  ddl/column_type_change_test.go
  testkit/testkit.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#31974 planner, ddl: convert large varchar for create table in non-strict mode
  ddl/column_test.go
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/error.go
  errors.toml
  planner/core/preprocess.go
  planner/core/preprocess_test.go
Labels: status/LGT2, status/can-merge, compatibility-breaker, size/L, release-note-none

#32723 Dumpling: fix integration tests
  dumpling/tests/all_generate_column/run.sh
  dumpling/tests/basic/run.sh
  dumpling/tests/chaos/run.sh
  dumpling/tests/consistency/run.sh
  dumpling/tests/e2e/run.sh
  dumpling/tests/empty_database/run.sh
  dumpling/tests/file_size/run.sh
  dumpling/tests/ignore_generate_column/run.sh
  dumpling/tests/no_table_and_db_name/run.sh
  dumpling/tests/null_unique_index/run.sh
  dumpling/tests/placement_policy/run.sh
  dumpling/tests/primary_key/run.sh
  dumpling/tests/rows/run.sh
  dumpling/tests/rows_extreme_int/run.sh
  dumpling/tests/s3/run.sh
  dumpling/tests/tls/run.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/dumpling

#32703 *: support small cached table feature on 5.4
  ddl/db_cache_test.go
  ddl/placement_policy_ddl_test.go
  domain/domain.go
  domain/sysvar_cache.go
  executor/adapter.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  executor/index_merge_reader.go
  executor/slow_query_test.go
  executor/table_reader.go
  executor/union_scan_test.go
  expression/integration_serial_test.go
  infoschema/builder.go
  infoschema/infoschema_test.go
  metrics/metrics.go
  metrics/server.go
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/prepare_test.go
  planner/core/stats.go
  planner/optimize.go
  session/session.go
  session/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  table/table.go
  table/tables/cache.go
  table/tables/cache_test.go
  table/tables/state_remote.go
  table/tables/state_remote_test.go
  tests/readonlytest/go.mod
  tests/readonlytest/go.sum
  tests/readonlytest/readonly_test.go
Labels: size/XXL, do-not-merge/cherry-pick-not-approved, release-note-none

#32439 bindInfo: support the LRU for the bindCache
  bindinfo/bind_cache.go
  bindinfo/bind_cache_test.go
  bindinfo/bind_record.go
  bindinfo/handle.go
  bindinfo/handle_test.go
  bindinfo/session_handle.go
  executor/show_test.go
  util/memory/tracker.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/sql-plan-management, size/XL, release-note-none

#32736 *: remove skipping for data race test
  executor/distsql_test.go
  executor/index_lookup_join_test.go
  executor/parallel_apply_test.go
  executor/prepared_test.go
  planner/core/prepare_test.go
  session/clustered_index_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32704 planner: make queries with the extra column `_tidb_rowid` can use Poi…
  planner/core/find_best_task.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: status/LGT1, release-note, size/M, do-not-merge/cherry-pick-not-approved

#32743 executor: fix CI testSerialSuite.TestIndexJoin31494 npe
  executor/index_lookup_hash_join.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#32296 br: refactoring code - BR may panic when error is not able to convert into a terror
  br/pkg/restore/client.go
  br/pkg/utils/retry.go
  br/tests/br_full_ddl/run.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32691 sessionctx/variable: add audit redact switch for release-4.0
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#32421 executor: migrate test-infra to testify for merge_join_test
  executor/executor_test.go
  executor/merge_join_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32740 expr: fix copr-test
  cmd/explaintest/r/index_merge.result
  expression/distsql_builtin.go
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32700 expression: make greatest/least type infer clean for integer
  expression/builtin_compare.go
  expression/typeinfer_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#32709 ddl: fix an unstable test case TestDDLStatsInfo
  ddl/backfilling.go
  ddl/failtest/fail_db_test.go
  ddl/stat_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#32717 admin: loop unwinding for CancelJobs
  util/admin/admin.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32701 executor: fix format of bit default value on INFORMATION_SCHEMA.COLUMNS
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#32707 README: Update README.md to add TiDB Cloud
  README.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#32621 table/tables: fix buildListColumnsPruner issue in the list partition
  table/tables/partition.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, sig/sql-infra, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#32756 infoschema,executor: fix data value and column type mismatch on infoschema tables tikv_region_status, cluster_config
  executor/infoschema_reader.go
  infoschema/tables.go
Labels: status/LGT2, status/can-merge, size/XS, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#32757 executor: fix goroutine leak in querying slow log
  executor/slow_query.go
  executor/slow_query_test.go
Labels: status/LGT2, status/can-merge, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#32384 ddl: fix the error using default timestamp
  ddl/column.go
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#32401 expression: fine-grained precision infer for decimal arithmetic operator
  expression/builtin_arithmetic.go
  expression/builtin_arithmetic_test.go
  expression/typeinfer_test.go
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, release-note, status/can-merge, size/S

#32612 br: Fix backup rawkv failure
  br/pkg/backup/client.go
  br/pkg/backup/push.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/pipeline_items.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/restore.go
  br/pkg/task/restore_raw.go
  br/tests/br_rawkv/run.sh
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/XL, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#32734 lightning: use pd timestamp to update gc safepoint
  br/pkg/lightning/restore/checksum.go
  br/pkg/lightning/restore/checksum_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.2, component/lightning, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#32796 go.mod: update failpoint version to accelerate the unit test
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#30630 ddl: migrate test-infra to testify for serial_test.go
  ddl/db_test.go
  ddl/primary_key_handle_test.go
  ddl/serial_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32041 planner: introduce historical meta stats auto-dump
  executor/analyze_test.go
  executor/infoschema_cluster_table_test.go
  session/bootstrap.go
  session/bootstrap_upgrade_test.go
  statistics/handle/ddl.go
  statistics/handle/handle.go
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32284 executor: escape the escape character in show create table
  executor/show_test.go
  util/format/format.go
  util/format/format_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#32373 lightning: checkpoint support s3
  br/pkg/lightning/checkpoints/checkpoints.go
  br/pkg/lightning/checkpoints/checkpoints_file_test.go
  br/pkg/lightning/checkpoints/checkpoints_test.go
  br/pkg/lightning/restore/check_info_test.go
  br/pkg/lightning/restore/restore_test.go
  br/pkg/mock/storage/storage.go
  br/pkg/storage/azblob.go
  br/pkg/storage/gcs.go
  br/pkg/storage/hdfs.go
  br/pkg/storage/local.go
  br/pkg/storage/noop.go
  br/pkg/storage/s3.go
  br/pkg/storage/storage.go
  br/tests/lightning_s3/config_s3_checkpoint.toml
  br/tests/lightning_s3/run.sh
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, component/lightning

#32338 server: Improve compatibility with MySQL 5.5 and 5.6 clients
  server/conn.go
  server/conn_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S, affects-5.4

#32752 planner: fix stream agg pushed down to mpp plan unexpectedly
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32788 expression: enable greatest/least push down to tiflash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#32214 ddl: migrate test-infra to testify for db_partition_test
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/primary_key_handle_test.go
  testkit/mockstore.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32753 *: update tikv/client-go to fix lock nowait bug
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, size/XS, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#31634 *: table partition dynamic prune mode with Physical Table ID from unistore
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/select.result
  cmd/explaintest/t/generated_columns.test
  cmd/explaintest/t/select.test
  executor/analyze_test.go
  executor/builder.go
  executor/delete.go
  executor/distsql.go
  executor/executor.go
  executor/executor_test.go
  executor/index_merge_reader_test.go
  executor/partition_table_test.go
  executor/table_reader.go
  executor/union_scan.go
  executor/union_scan_test.go
  parser/model/model.go
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/plan_to_pb.go
  planner/core/planbuilder.go
  planner/core/rule_column_pruning.go
  planner/core/rule_partition_processor.go
  session/pessimistic_test.go
  session/session_test.go
  sessionctx/variable/session.go
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/cophandler/cop_handler.go
  store/mockstore/unistore/cophandler/mpp.go
  store/mockstore/unistore/cophandler/mpp_exec.go
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#32317 ddl: implement backoff pool for TiFlash Cluster Management
  ddl/ddl_tiflash_api.go
  ddl/ddl_tiflash_test.go
  domain/infosync/info.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#32785 session: fix global sysdate_is_now won't work
  planner/core/integration_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32657 br-stream: add region context in applyRequest
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/split.go
  br/pkg/restore/util.go
  br/pkg/task/stream.go
  go.mod
  go.sum
Labels: status/LGT2, size/M, release-note-none

#32813 planner: Fix the issue that TiDB may dispatch duplicated tasks to TiFlash
  planner/core/fragment.go
  planner/core/fragment_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#32804 br: fix br version to match tikv-server version for ci integration
  br/pkg/lightning/backend/importer/importer_test.go
  br/pkg/version/build/info.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#32705 planner: make queries with the extra column _tidb_rowid can use PointGet
  planner/core/find_best_task.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: type/enhancement, status/LGT2, sig/planner, release-note, status/can-merge, size/M

#32760 statistics: refactor code structure for histogram buckets and clamping row counts
  cmd/explaintest/r/imdbload.result
  cmd/explaintest/r/tpch.result
  statistics/histogram.go
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#32845 ddl: migrate test-infra to testify for primary_key_handle_test.go
  ddl/db_integration_test.go
  ddl/primary_key_handle_test.go
  testkit/testutil/require.go
  util/testutil/testutil.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32831 metrics: add topsql grafana pannel
  metrics/grafana/tidb.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32830 planner: not push tiflash if extra phys tbl id is needed
  executor/tiflash_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32836 Makefile, telemetry: fix typo
  Makefile
  telemetry/data_slow_query.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#32854 executor: migrate test-infra to testify for tiflash_test.go
  executor/executor_test.go
  executor/tiflash_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32856 ddl: migrate test-infra to testify for TestModifyColumn*
  ddl/db_integration_test.go
  ddl/db_test.go
  ddl/ddl_test.go
  ddl/export_test.go
  ddl/main_test.go
  ddl/modify_column_test.go
  ddl/placement_sql_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#31662 planner: fix do-statement will error with agg function
  executor/simple_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32761 statistics: handle contants in `Selectivity()`
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/imdbload.result
  cmd/explaintest/t/imdbload.test
  executor/prepared_test.go
  expression/testdata/expression_suite_out.json
  planner/core/integration_test.go
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/partition_pruner_out.json
  statistics/selectivity.go
  util/ranger/testdata/ranger_suite_out.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32859 *: cleanup usage of testutil.RowsWithSep
  ddl/column_change_test.go
  ddl/column_type_change_test.go
  ddl/db_integration_test.go
  ddl/ddl_test.go
  ddl/ddl_worker_test.go
  ddl/foreign_key_test.go
  ddl/modify_column_test.go
  ddl/partition_test.go
  ddl/schema_test.go
  ddl/table_test.go
  expression/integration_serial_test.go
  expression/integration_test.go
  infoschema/cluster_tables_test.go
  infoschema/tables_test.go
  table/tables/tables_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32852 executor: migrate test-infra to testify for parts of executor_test
  executor/executor_issue_test.go
  executor/executor_test.go
  executor/executor_txn_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32715 planner: support wildcards for auto-capture black-list
  bindinfo/capture_test.go
  bindinfo/handle.go
Labels: type/enhancement, status/LGT2, sig/planner, release-note, status/can-merge, size/L

#31724 *: kill auto analyze
  domain/domain.go
  executor/simple_test.go
  server/server.go
  session/session.go
  sessionctx/context.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  util/mock/context.go
  util/processinfo.go
  util/sqlexec/restricted_sql_executor.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32817 explain: use partition name in original case
  executor/partition_table_test.go
  parser/model/model.go
  planner/core/point_get_plan.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#32861 executor: migrate test-infra to testify for issue test of executor_test
  executor/executor_issue_test.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32864 ddl: migrate test-infra to testify for add index tests
  ddl/add_index_test.go
  ddl/column_type_change_test.go
  ddl/db_change_test.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/ddl_test.go
  ddl/failtest/fail_db_test.go
  ddl/modify_column_test.go
  ddl/rollingback_test.go
  ddl/serial_test.go
  ddl/testutil/testutil.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32665 planner: update the structure of the plan cache key
  executor/explainfor_test.go
  executor/prepared.go
  executor/seqtest/prepared_test.go
  planner/core/cache.go
  planner/core/cache_test.go
  planner/core/common_plans.go
  planner/core/prepare_test.go
  server/driver_tidb.go
  session/session.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#32892 executor: fix load data panic if the data is broken at escape character(cherry pick #30868 to release-5.4-20220308)
  executor/load_data.go
  executor/write_test.go
Labels: size/L, do-not-merge/cherry-pick-not-approved, release-note-none

#32890 table/column.go: change the log level for incorrect string values
  table/column.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#32248 br/restore: Added progress bar for restore
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/stream/client.go
  br/pkg/stream/integration_test.go
  br/pkg/stream/models.go
  br/pkg/stream/prefix_scanner.go
  br/pkg/task/stream.go
Labels: status/LGT2, size/M, release-note-none

#32896 expression, types: fix StrToDuration result
  expression/builtin_time_test.go
  types/convert.go
  types/convert_test.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/XS, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#32699 *: Provide staleReadProcessor to process stale read
  planner/core/planbuilder.go
  planner/core/preprocess.go
  sessiontxn/staleread/errors.go
  sessiontxn/staleread/processor.go
  sessiontxn/staleread/processor_test.go
  sessiontxn/staleread/util.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32721 planner: Columns in string pruning (#32626)
  planner/core/partition_pruner_test.go
  planner/core/rule_partition_processor.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#32910 *: remove ddl dependency
  ddl/backfilling.go
  ddl/column.go
  ddl/column_test.go
  ddl/db_cache_test.go
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/ddl_algorithm.go
  ddl/ddl_algorithm_test.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/error.go
  ddl/foreign_key.go
  ddl/generated_column.go
  ddl/index.go
  ddl/partition.go
  ddl/placement_policy.go
  ddl/placement_policy_ddl_test.go
  ddl/placement_sql_test.go
  ddl/reorg.go
  ddl/rollingback.go
  ddl/sequence.go
  ddl/sequence_test.go
  ddl/serial_test.go
  ddl/table.go
  ddl/table_lock.go
  errors.toml
  executor/ddl.go
  executor/ddl_test.go
  executor/executor_test.go
  executor/insert_common.go
  executor/point_get.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
  planner/core/preprocess_test.go
  session/bootstrap.go
  session/schema_amender.go
  session/session.go
  table/tables/partition_test.go
  types/field_type.go
  util/dbterror/ddl_terror.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32093 *: add explicit partition pruning to index joins (#32007)
  ddl/db_partition_test.go
  executor/builder.go
  executor/distsql.go
  planner/core/exhaust_physical_plans.go
  planner/core/partition_pruner_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4

#32877 br-stream: fix the issue that key is not in region.
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/storage/azblob.go
  br/pkg/storage/gcs.go
  br/pkg/storage/local.go
  br/pkg/storage/local_test.go
  br/pkg/storage/s3.go
  br/pkg/storage/s3_test.go
  br/pkg/storage/storage.go
  go.mod
  go.sum
Labels: status/LGT2, size/M, release-note-none

#32936 ddl: migrate test-infra to testify for column modify tests
  ddl/column_modify_test.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/index_modify_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32914 executor: refine execution of cancelDDL
  executor/builder.go
  executor/executor.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#32946 ddl: remove temporary testing methods
  ddl/db_partition_test.go
  ddl/ddl_test.go
  ddl/ddl_worker_test.go
  ddl/foreign_key_test.go
  ddl/partition_test.go
  ddl/schema_test.go
  ddl/table_test.go
  ddl/util_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32958 ddl: migrate test-infra to testify for repair table tests
  ddl/db_legacy_test.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/repair_table_test.go
  ddl/table_modify_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32959 executor: make unit test TestInvalidReadTemporaryTable more stable
  executor/executor_txn_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#32949 executor: fix unstable test in the TestPointGetLockExistKey
  executor/point_get_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.4

#32590 planner,executor: fix cached table query with filter condition
  executor/builder.go
  executor/distsql.go
  executor/table_reader.go
  executor/union_scan_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32944 ddl: remove useless error
  ddl/error.go
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#32973 ddl: migrate test-infra to testify for ddl.testDBSuite6
  ddl/db_legacy_test.go
  ddl/db_test.go
  ddl/index_modify_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32582 executor: add testcases for kill auto analyze
  executor/analyze.go
  executor/analyze_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32971 ddl: migrate test-infra to testify for rename tests
  ddl/db_legacy_test.go
  ddl/db_rename_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32724 sessionctx/variable: Remove "advanced" memory sysvars
  sessionctx/variable/removed.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  util/sem/sem.go
  util/sem/sem_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#32879 sessionctx,executor: disallowed set `null` to sysvar
  cmd/explaintest/r/new_character_set.result
  cmd/explaintest/t/new_character_set.test
  executor/ddl_test.go
  executor/executor_test.go
  executor/set.go
  executor/set_test.go
  parser/charset/charset.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/M

#32976 ddl: migrate test-infra to testify for ddl.testDBSuite7 & ddl.testDBSuite8
  ddl/db_legacy_test.go
  ddl/db_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32490 planner: misuse like2regexp and regexp when to query information.schema
  executor/infoschema_reader.go
  executor/show.go
  planner/core/memtable_predicate_extractor.go
  planner/core/memtable_predicate_extractor_test.go
  planner/core/show_predicate_extractor.go
  planner/core/stringer_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32984 *: update unstable unit test case list
  unstable.txt
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#32980 ddl: migrate test-infra to testify for ddl.testDBSuite3
  ddl/column_modify_test.go
  ddl/db_legacy_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32481 session: migrate test-infra to testify for isolation_test.go
  session/isolation_test.go
  session/session_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#31195 lightning: support base64 encoding of password
  br/pkg/lightning/checkpoints/checkpoints.go
  br/pkg/lightning/common/util.go
  br/pkg/lightning/common/util_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L, component/lightning

#32762 statistics: skip impossible values when estimating row count
  cmd/explaintest/r/imdbload.result
  cmd/explaintest/t/imdbload.test
  statistics/histogram.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32988 sessionctx,executor: Revert "sessionctx,executor: disallowed set `null` to sysvar"
  cmd/explaintest/r/new_character_set.result
  cmd/explaintest/t/new_character_set.test
  executor/ddl_test.go
  executor/executor_test.go
  executor/set.go
  executor/set_test.go
  parser/charset/charset.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#31583 *: better handle sysvar upgrades from older versions
  expression/integration_serial_test.go
  session/session.go
  session/session_test.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/variable.go
Labels: status/LGT2, status/can-merge, compatibility-breaker, size/M, release-note-none, needs-cherry-pick-5.4

#31738 config: make versions configurable
  config/config.go
  executor/show_test.go
  expression/integration_test.go
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32765 *: Remove deprecated streaming
  config/config.go
  config/config_util.go
  distsql/distsql.go
  distsql/distsql_test.go
  executor/analyze_test.go
  executor/executor_test.go
  executor/set_test.go
  executor/show_test.go
  infoschema/cluster_tables_test.go
  sessionctx/variable/removed.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  store/driver/sql_fail_test.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/XL

#32526 ddl: add limiter when setting TiFlash replicas for all tables in a database
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_tiflash_api.go
  ddl/ddl_tiflash_test.go
  ddl/partition.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/info_test.go
  domain/infosync/tiflash_manager.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  store/gcworker/gc_worker.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#32983 planner: add collation test for pushing bit column down
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#32957 sysvar: rename sysdate_is_now as tidb_sysdate_is_now
  planner/core/integration_test.go
  session/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#32986 ddl: Add `CreatePlacementPolicyWithInfo` to `ddl.DDL`
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/placement_policy.go
  ddl/placement_policy_test.go
  ddl/placement_sql_test.go
  executor/ddl.go
  meta/meta.go
  meta/meta_test.go
  parser/model/model.go
  parser/model/model_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32992 ddl: migrate test-infra to testify for testDBSuite1 and testDBSuite2
  ddl/db_foreign_key_test.go
  ddl/db_legacy_test.go
  ddl/db_table_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32616 executor: migrate test-infra to testify for chunk_size_control
  executor/chunk_size_control_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#33009 ddl: refine test TestDDLJobErrorCount and remove test TestBackwardCompatibility
  ddl/db_integration_test.go
  ddl/db_legacy_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32818 copr: split copr requests by buckets
  br/tests/br_key_locked/codec.go
  executor/chunk_size_control_test.go
  executor/distsql_test.go
  go.mod
  go.sum
  session/pessimistic_test.go
  store/copr/coprocessor.go
  store/copr/coprocessor_test.go
  store/copr/region_cache.go
  store/mockstore/unistore/pd/client.go
  store/mockstore/unistore/tikv/mock_region.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32410 topsql: add more test case for topsql
  ddl/backfilling.go
  executor/table_reader.go
  planner/optimize.go
  server/tidb_test.go
  util/topsql/collector/mock/mock.go
  util/topsql/stmtstats/aggregator.go
  util/topsql/stmtstats/aggregator_test.go
  util/topsql/topsql.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#33018 planner/core: fix nil pointer dereference tidb_decode_key()
  expression/integration_test.go
  planner/core/expression_rewriter.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32985 version: update major version check
  br/pkg/version/version.go
  br/pkg/version/version_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S, component/br

#32240 lightning: standardize error codes and messages
  br/cmd/tidb-lightning/main.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/checkpoints/checkpoints.go
  br/pkg/lightning/common/errors.go
  br/pkg/lightning/common/errors_test.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/config/global.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/lightning_serial_test.go
  br/pkg/lightning/log/log.go
  br/pkg/lightning/mydump/loader.go
  br/pkg/lightning/mydump/loader_test.go
  br/pkg/lightning/restore/check_info.go
  br/pkg/lightning/restore/chunk_restore_test.go
  br/pkg/lightning/restore/meta_manager.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore.go
  br/pkg/lightning/restore/table_restore_test.go
  br/pkg/lightning/restore/tidb.go
  br/tests/lightning_checksum_mismatch/run.sh
  br/tests/lightning_error_summary/run.sh
  errors.toml
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, component/lightning

#32764 statistics: correctly check if a column histogram is loaded
  cmd/explaintest/r/imdbload.result
  cmd/explaintest/t/imdbload.test
  statistics/handle/dump.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/histogram.go
  statistics/histogram_test.go
  statistics/selectivity_test.go
  statistics/statistics_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32994 planner: add more test cases for auto-capture
  bindinfo/capture_test.go
  planner/core/hints.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#32979 executor: fix data race in the AnalyzeColumnsExec
  executor/analyze.go
  executor/builder.go
  util/wait_group_wrapper.go
  util/wait_group_wrapper_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32058 ddl: improve test to avoid cycle import
  ddl/attributes_sql_test.go
  ddl/column_modify_test.go
  ddl/column_type_change_test.go
  ddl/db_cache_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/db_rename_test.go
  ddl/db_table_test.go
  ddl/db_test.go
  ddl/ddl_tiflash_test.go
  ddl/delete_range.go
  ddl/index_modify_test.go
  ddl/modify_column_test.go
  ddl/placement_policy_test.go
  ddl/repair_table_test.go
  ddl/rollingback_test.go
  ddl/sequence_test.go
  ddl/serial_test.go
  ddl/util/util.go
  executor/executor_test.go
  executor/partition_table_test.go
  executor/point_get_test.go
  executor/seqtest/seq_executor_test.go
  executor/tiflash_test.go
  expression/integration_test.go
  server/conn_test.go
  server/http_handler_serial_test.go
  sessionctx/binloginfo/binloginfo_test.go
  store/batch_coprocessor_test.go
  testkit/external/util.go
  testkit/testkit.go
  util/testkit/testkit.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32872 telemetry: add telemetry for auto capture
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32993 ddl: fix the issue that "rename column" fails when changing column type concurrently
  ddl/db_change_test.go
  ddl/ddl_api.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, sig/sql-infra, size/M, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3

#33021 planner: add FastIntSet for functional dependency maintaince
  planner/funcdep/fast_int_set.go
  planner/funcdep/fast_int_set_bench_test.go
  planner/funcdep/fast_int_set_test.go
  planner/funcdep/main_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32969 lightning: replace router with regexpr router
  br/pkg/lightning/mydump/loader.go
  br/pkg/lightning/mydump/loader_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/lightning, action/run-br-cross-platform-build

#32942 planner: fix the wrong cost formula for MPP net cost
  planner/core/enforce_mpp_test.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_out.json
Labels: type/enhancement, status/LGT2, sig/planner, release-note, status/can-merge, size/M

#33040 ddl: rewrite some tests in column_change_test and index_change_test
  ddl/column_change_test.go
  ddl/fail_test.go
  ddl/index_change_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32848 statistics: add a more accurate upper bound to exponential backoff estimation strategy
  cmd/explaintest/r/imdbload.result
  statistics/histogram.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#33011 expression: pushdown DayOfMonth and LastDay to tiflash
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/integration_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#33048 expression: push down `is_true`, `is_false`, `is_true_with_null` to TiFlash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#33044 *: upgrade client-go
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33043 planner: add the basic functions of the functional dependency
  planner/funcdep/fd_graph.go
  planner/funcdep/fd_graph_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#33057 planner: only users with SUPER or CONNECTION_ADMIN privilege can kill auto analyze
  planner/core/planbuilder.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33049 planner: support tiflash scan in transaction with dirty data
  executor/tiflash_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32928 planner: ignore close-stmt to make more queries can hit plan cache
  executor/prepared.go
  executor/set_test.go
  planner/core/prepare_test.go
  server/driver_tidb.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#32809 server: a better way to handle killed connection
  server/conn.go
  server/server.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2

#32687 br: Stream restore ddl-events from observing key-value on TiKV
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/util.go
  br/pkg/stream/decode_kv.go
  br/pkg/stream/decode_kv_test.go
  br/pkg/stream/meta_kv.go
  br/pkg/stream/meta_kv_test.go
  br/pkg/stream/rewrite_meta_rawkv.go
  br/pkg/stream/rewrite_meta_rawkv_test.go
  br/pkg/stream/stream_mgr.go
  br/pkg/task/stream.go
  br/pkg/utils/schema.go
  errors.toml
  go.mod
  go.sum
  meta/meta.go
  meta/meta_test.go
  tablecodec/tablecodec.go
Labels: status/LGT2, release-note, size/XXL, component/br

#32866 bindinfo: add warning message when the memory usage of the cache exceeds its capacity
  bindinfo/bind_cache.go
  bindinfo/bind_cache_test.go
  bindinfo/handle.go
  bindinfo/session_handle.go
  domain/sysvar_cache.go
  executor/set_test.go
  executor/show_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/sql-plan-management, size/L, release-note-none

#33007 br: implement backup & restore policy info
  br/cmd/br/backup.go
  br/cmd/br/restore.go
  br/pkg/backup/client.go
  br/pkg/backup/schema_test.go
  br/pkg/glue/glue.go
  br/pkg/gluetidb/glue.go
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/db.go
  br/pkg/restore/db_test.go
  br/pkg/restore/util.go
  br/pkg/task/backup.go
  br/pkg/task/restore.go
  br/pkg/task/restore_raw.go
  br/tests/br_tidb_placement_policy/run.sh
  executor/brie.go
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, type/feature-request, size/XXL

#31043 *: support mpp partition for tiflash
  distsql/request_builder.go
  executor/builder.go
  executor/mpp_gather.go
  executor/partition_table.go
  executor/table_reader.go
  executor/tiflash_test.go
  go.mod
  go.sum
  kv/kv.go
  kv/mpp.go
  planner/core/explain.go
  planner/core/fragment.go
  planner/core/integration_test.go
  planner/core/physical_plans.go
  planner/core/plan_to_pb.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  store/copr/batch_coprocessor.go
  store/copr/batch_request_sender.go
  store/copr/coprocessor.go
  store/copr/mpp.go
  store/mockstore/unistore/cophandler/closure_exec.go
  store/mockstore/unistore/cophandler/mpp.go
  store/mockstore/unistore/tikv/server.go
  table/tables/tables.go
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#33090 planner: fix the wrong range built for bit columns when reusing cached plan
  expression/builtin_other.go
  planner/core/common_plans.go
  planner/core/prepare_test.go
  sessionctx/stmtctx/stmtctx.go
  util/ranger/ranger.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, size/M, release-note-none, affects-5.3, needs-cherry-pick-5.3, needs-cherry-pick-5.4, affects-5.4, affects-6.0, needs-cherry-pick-6.0

#33051 planner: add more test cases for auto-capture and support to capture more hints
  bindinfo/capture_test.go
  executor/adapter.go
  planner/optimize.go
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, sig/planner, status/can-merge, size/S, release-note-none

#33094 bindinfo: refactor some codes in bindinfo package
  bindinfo/bind_record.go
  bindinfo/handle.go
  bindinfo/session_handle.go
  planner/core/common_plans.go
  planner/optimize.go
  session/bootstrap.go
  session/bootstrap_test.go
Labels: status/LGT2, sig/planner, status/can-merge, component/bindinfo, epic/sql-plan-management, size/L, release-note-none

#33050 executor: fix a bug on generated column cause wrong read result
  executor/executor_issue_test.go
  executor/union_scan.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4
