Repository pingcap/tidb, pull requests merged in 2022-11, with the labels that each got.

#38734 *: fix goleak when to use CreateMockStoreAndDomain
  testkit/mockstore.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38745 *: update bazel config
  br/pkg/restore/BUILD.bazel
  br/pkg/storage/BUILD.bazel
  br/pkg/utils/iter/BUILD.bazel
  ddl/BUILD.bazel
  executor/BUILD.bazel
  executor/seqtest/BUILD.bazel
  infoschema/BUILD.bazel
  tests/realtikvtest/addindextest/BUILD.bazel
  util/memory/BUILD.bazel
  util/servermemorylimit/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38652 *: support foreign key on update cascade and set null when execute update statement
  executor/adapter.go
  executor/builder.go
  executor/fktest/foreign_key_test.go
  executor/foreign_key.go
  executor/insert.go
  executor/insert_common.go
  executor/update.go
  executor/write.go
  planner/core/common_plans.go
  planner/core/foreign_key.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#38752 extension: add error and active roles info to `extension.ConnEventInfo`
  extension/BUILD.bazel
  extension/extensionimpl/bootstrap.go
  extension/extensions.go
  extension/session.go
  server/conn.go
  server/conn_test.go
  server/server.go
  server/tidb_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#38780 bazel: use --remote_download_minimal in ci
  Makefile
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38774 sessionctx: fix TiDBGOGCTunerThreshold failing to ParseFloat
  sessionctx/variable/sysvar.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38625 dumpling: add progress to dumpling's status
  dumpling/export/config.go
  dumpling/export/dump.go
  dumpling/export/dump_test.go
  dumpling/export/metrics.go
  dumpling/export/status.go
  dumpling/export/status_test.go
  dumpling/export/task.go
  dumpling/export/util.go
  dumpling/export/util_test.go
  dumpling/tests/rows_extreme_int/run.sh
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, size/XL, component/dumpling

#38276 *: add variables and support external timestamp read
  DEPS.bzl
  domain/domain_sysvars.go
  executor/fktest/BUILD.bazel
  go.mod
  go.sum
  planner/core/planbuilder.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/variable.go
  sessionctx/variable/varsutil.go
  sessiontxn/staleread/BUILD.bazel
  sessiontxn/staleread/externalts_test.go
  sessiontxn/staleread/processor.go
  sessiontxn/staleread/processor_test.go
  sessiontxn/staleread/util.go
  store/mockstore/unistore/tikv/mock_region.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#38770 executor: refine `EXPLAIN ANALYZE` info for `INSERT IGNORE` statement
  executor/fktest/foreign_key_test.go
  executor/foreign_key.go
  executor/insert_common.go
  executor/insert_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38584 json: support array range selection and from last selection
  errno/errcode.go
  errno/errname.go
  errors.toml
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/builtin_json_vec.go
  expression/integration_test.go
  types/json_binary_functions.go
  types/json_binary_test.go
  types/json_constants.go
  types/json_path_expr.go
  types/json_path_expr_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#38763 ddl: support add foreign key constraint with auto-create index
  ddl/cancel_test.go
  ddl/ddl_api.go
  ddl/foreign_key.go
  ddl/foreign_key_test.go
  ddl/multi_schema_change.go
  parser/model/ddl.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#38801 nogo: enable filepermission during building and lint
  build/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38536 planner: Add HashJoin<-Receiver specific physicalPlan column pruner
  planner/core/integration_test.go
  planner/core/optimizer.go
  planner/core/optimizer_test.go
  planner/core/resolve_indices.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#38423 *: extend the semantic of mem-quota-query to mem-quota-session
  bindinfo/bind_test.go
  ddl/concurrentddltest/switch_test.go
  distsql/distsql.go
  executor/adapter.go
  executor/aggregate.go
  executor/benchmark_test.go
  executor/cte.go
  executor/executor.go
  executor/executor_pkg_test.go
  executor/executor_test.go
  executor/explain.go
  executor/index_merge_reader_test.go
  executor/join.go
  executor/merge_join.go
  executor/merge_join_test.go
  executor/oomtest/oom_test.go
  executor/sort.go
  planner/core/common_plans.go
  planner/core/plan_cost_ver1.go
  planner/core/plan_cost_ver2.go
  server/rpc_server.go
  session/nontransactional.go
  session/session.go
  session/session_test/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  store/copr/coprocessor.go
  util/chunk/row_container.go
  util/expensivequery/expensivequery.go
  util/memory/action.go
  util/memory/tracker.go
  util/memory/tracker_test.go
  util/memoryusagealarm/memoryusagealarm.go
  util/memoryusagealarm/memoryusagealarm_test.go
  util/mock/context.go
  util/processinfo.go
  util/util.go
  util/util_test.go
Labels: type/enhancement, status/LGT2, status/can-merge, size/XL, release-note-none

#38764 planner: judge nil pointer before call MemoryUsage
  expression/builtin.go
  expression/column.go
  expression/constant.go
  expression/scalar_function.go
  parser/types/field_type.go
  planner/core/physical_plans.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#38655 sessionctx: support bytes format and percentage format for tidb_server_memory_limit
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  util/memory/meminfo.go
  util/memory/tracker.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#38638 planner: supply Task memory usage and correct some accumulation
  parser/model/model.go
  planner/core/physical_plans.go
  planner/core/task.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#38793 executor: support foreign key on update cascade in insert on duplicate update statement
  executor/builder.go
  executor/fktest/foreign_key_test.go
  executor/insert.go
  planner/core/common_plans.go
  planner/core/foreign_key.go
  planner/core/planbuilder.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38708 executor: support checking killed during merge stats
  executor/analyze.go
  executor/analyze_worker.go
  executor/analyzetest/analyze_test.go
  statistics/cmsketch.go
  statistics/handle/handle.go
  statistics/merge_worker.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38729 util: fix panic cause by concurrent map iteration and write in memory usage alarm
  planner/core/common_plans.go
  util/execdetails/execdetails.go
  util/memory/tracker.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#38507 planner: add monitor for prepared plan cache memory usage
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/server.go
  planner/core/plan_cache_lru.go
  session/session.go
  sessionctx/context.go
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#38798 executor: fix some bug for global memory control
  util/servermemorylimit/servermemorylimit.go
Labels: status/LGT2, type/bug-fix, status/can-merge, size/XS, release-note-none

#38121 docs: Support global memory control design
  docs/design/2022-09-22-global-memory-control.md
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38804 ddl: correct the next key during adding index
  ddl/index.go
  ddl/index_modify_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.3

#38806 *: bring back the 'make ut'
  bindinfo/main_test.go
  ddl/main_test.go
  executor/main_test.go
  expression/main_test.go
  extension/main_test.go
  planner/cascades/main_test.go
  planner/core/main_test.go
  planner/funcdep/main_test.go
  planner/memo/main_test.go
  sessionctx/variable/main_test.go
  statistics/handle/main_test.go
  store/helper/main_test.go
  table/tables/main_test.go
  telemetry/main_test.go
  tidb-server/main_test.go
  tools/check/ut.go
  types/main_test.go
  util/ranger/main_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38800 executor: add CPU padding for chunk.Iterator4Slice
  util/chunk/iterator.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38802 planner: projection should not push the expr that is not fully substituted
  expression/integration_test.go
  expression/util.go
  planner/cascades/transformation_rules.go
  planner/core/rule_predicate_push_down.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#38832 executor: fix issue of insert ignore with foreign key check
  executor/fktest/foreign_key_test.go
  executor/foreign_key.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38833 planner: udpate cost model ver2 and some related UT
  planner/core/integration_test.go
  planner/core/plan_cost_ver2.go
  planner/core/plan_cost_ver2_test.go
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none, epic/cost-model

#38786 executor: refactor plan replayer exec
  executor/plan_replayer.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#38821 *: downgrade the dependencies
  DEPS.bzl
  dumpling/export/BUILD.bazel
  go.mod
  go.sum
  sessionctx/variable/BUILD.bazel
  statistics/BUILD.bazel
  util/BUILD.bazel
  util/memory/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#38818 ci, Makefile: add make rule to check bazel prepare
  Makefile
  tools/check/check-bazel-prepare.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38815 br: calculate the global checkpoint-ts of log-back task.
  br/pkg/streamhelper/client.go
  br/pkg/streamhelper/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38843 bazel: upgrade bazel version to 5.3.2
  .bazelversion
Labels: status/LGT2, release-note, status/can-merge, size/XS

#38663 br: add GetTSWithRetry func
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, component/br

#38820 table/tables: fix unstable test TestCacheTableBasicReadAndWrite
  table/tables/cache_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38845 expression: unset the flen for string type builtin control
  expression/builtin_control.go
  expression/integration_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.1

#38830 *: support switch auth when change user
  server/conn.go
  server/conn_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#38816 domain: unify replayer folder with oom and log
  domain/plan_replayer.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#38840 planner: treat null as a different type compare to other types
  executor/prepared_test.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#38834 util, executor: remove OOMAction after a query finishing
  executor/executor_test.go
  session/session_test/session_test.go
  util/memory/tracker.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38824 planner: add switch for plan cache memory trace
  executor/seqtest/prepared_test.go
  executor/set_test.go
  expression/integration_serial_test.go
  infoschema/tables_test.go
  planner/core/plan_cache_lru.go
  planner/core/plan_cache_lru_test.go
  planner/core/plan_cache_test.go
  planner/core/prepare_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#38841 sessionctx: enable tidb_stats_load_sync_wait by default
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38700 br: ebs volume snapshot backup and restore with flashback solution
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/data.go
  br/pkg/restore/data_test.go
  br/pkg/task/backup_ebs.go
  br/pkg/task/restore_data.go
  ddl/cluster.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#38822 ddl: make test case TestCacheTableSizeLimit stable
  ddl/db_cache_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38794 planner, session: use SessionExtendedInfoSchema if snapshot isn't set
  infoschema/infoschema_test.go
  planner/core/preprocess.go
  session/session.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-release-6.3

#38868 variable: add global scope for tidb_opt_agg_push_down
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38851 sessionctx: fix tidb_gogc_tuner_threshold
  Makefile
  sessionctx/variable/sysvar.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38810 *: support mysql compatible auto_increment, the server side changes
  DEPS.bzl
  autoid_service/BUILD.bazel
  autoid_service/autoid.go
  go.mod
  go.sum
  server/BUILD.bazel
  server/http_status.go
  server/server.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#38859 *: disable global memory control by default
  executor/executor.go
  executor/executor_test.go
  session/bootstrap.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/memory/tracker.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38873 metrics: update active connection promeQL and add metric: miss plan cache
  metrics/grafana/performance_overview.json
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38872 server: fix deadlock when call `killNonFlashbackConn`
  DEPS.bzl
  go.mod
  go.sum
  server/server.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38809 *: support mysql compatible auto_increment, the client side changes
  ddl/schematracker/checker.go
  infoschema/builder.go
  meta/autoid/BUILD.bazel
  meta/autoid/autoid.go
  meta/autoid/autoid_service.go
  metrics/metrics.go
  metrics/session.go
  server/server_test.go
  server/tidb_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#38447 sessionctx: enable clustered index by default
  cmd/explaintest/main.go
  ddl/db_partition_test.go
  ddl/index_modify_test.go
  executor/charset_test.go
  executor/index_merge_reader_test.go
  executor/prepared_test.go
  executor/seqtest/seq_executor_test.go
  executor/showtest/show_test.go
  executor/write_test.go
  planner/core/cbo_test.go
  planner/core/integration_test.go
  planner/core/partition_pruner_test.go
  planner/core/plan_test.go
  planner/core/point_get_plan_test.go
  planner/funcdep/extract_fd_test.go
  session/bootstrap_test.go
  sessionctx/variable/sysvar.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38865 util: set checkpoint during Sort for SortedRowContainer
  executor/executor_test.go
  executor/sort.go
  session/bench_test.go
  util/chunk/row_container.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38367 docs: add a proposal for `flashback to timestamp`
  docs/design/2022-09-28-flashback-to-timestamp.md
Labels: status/LGT2, release-note, status/can-merge, size/L

#38796 executor: generate AST instead of SQL for foreign key cascade
  executor/BUILD.bazel
  executor/adapter.go
  executor/fktest/BUILD.bazel
  executor/fktest/foreign_key_test.go
  executor/foreign_key.go
  planner/core/foreign_key.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#38607 *: Chunkreuse try reuse chunk in operator
  config/config.go
  config/config_test.go
  distsql/select_result.go
  executor/adapter.go
  executor/admin.go
  executor/aggregate.go
  executor/builder.go
  executor/coprocessor.go
  executor/cte.go
  executor/delete.go
  executor/distsql.go
  executor/executor.go
  executor/explain.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/index_lookup_join_test.go
  executor/index_lookup_merge_join.go
  executor/index_merge_reader.go
  executor/insert_common.go
  executor/join.go
  executor/joiner.go
  executor/merge_join.go
  executor/parallel_apply.go
  executor/pipelined_window.go
  executor/projection.go
  executor/select_into.go
  executor/set_test.go
  executor/shuffle.go
  executor/sort.go
  executor/union_scan.go
  executor/update.go
  executor/window.go
  infoschema/tables_test.go
  server/conn.go
  server/conn_stmt.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  testkit/BUILD.bazel
  testkit/testkit.go
  tidb-server/BUILD.bazel
  tidb-server/main.go
  util/chunk/alloc.go
  util/chunk/alloc_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#38875 planner: update some UTs to use cost model2
  executor/executor_test.go
  executor/join_test.go
  expression/constant_propagation_test.go
  expression/testdata/expression_suite_out.json
  planner/core/cbo_test.go
  planner/core/integration_test.go
  planner/core/plan_cost_ver2.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none, epic/cost-model

#38861 server: fix cannot listen on ipv6 address
  server/server.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38878 fix(sec): upgrade org.apache.kafka:kafka_2.12 to 3.2.3
  tidb-binlog/driver/example/kafkaReader/pom.xml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38884 *: fix check auth support
  server/conn.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38670 ddl: restricting MODIFY COLUMN on partitioning columns.
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
  executor/show.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#38880 *: GitHub Workflows security hardening
  .github/workflows/integration-test-br-compatibility.yml
  .github/workflows/integration-test-compile-br.yml
  .github/workflows/integration-test-dumpling.yml
  .github/workflows/misc.yml
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38901 telemetry: telemetry supports count `flashback cluster`
  executor/adapter.go
  executor/builder.go
  metrics/telemetry.go
  session/session.go
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.4

#38903 util: fix the compatibility problem for oom-alarm
  util/memoryusagealarm/memoryusagealarm.go
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#38905 telemetry: add telemetry for global memory control
  telemetry/BUILD.bazel
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.4

#38864 test: remove useless fixme in join test
  executor/join_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38906 test: fix unstable test
  ddl/concurrentddltest/switch_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#38899 *: enable global memory control by default
  executor/executor.go
  executor/executor_test.go
  session/bootstrap.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/memory/tracker.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38893 planner: update some UTs to cost model2
  planner/core/enforce_mpp_test.go
  planner/core/integration_test.go
  planner/core/physical_plan_test.go
  planner/core/plan_cost_ver2.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none, epic/cost-model

#38866 session, sessionctx: enable metadata lock by default
  Makefile
  ddl/BUILD.bazel
  executor/BUILD.bazel
  executor/seqtest/BUILD.bazel
  executor/seqtest/seq_executor_test.go
  planner/core/preprocess.go
  planner/funcdep/extract_fd_test.go
  server/BUILD.bazel
  session/bootstrap.go
  session/session_test/BUILD.bazel
  sessionctx/variable/tidb_vars.go
  sessiontxn/isolation/base.go
  statistics/handle/BUILD.bazel
  telemetry/data_feature_usage_test.go
  tests/realtikvtest/brietest/BUILD.bazel
  tests/realtikvtest/sessiontest/BUILD.bazel
  tests/realtikvtest/statisticstest/BUILD.bazel
  tests/realtikvtest/txntest/BUILD.bazel
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/M

#38767 txn: tidb_constraint_check_in_place_pessimistic should not be global scoped
  config/config.go
  metrics/session.go
  session/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  table/tables/index.go
  table/tables/tables.go
  tidb-server/main.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.4

#38915 telemetry: add telemetry for the new autoid implementation
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38789 extension: add extension API to listen stmt events
  extension/BUILD.bazel
  extension/event_listener_test.go
  extension/session.go
  server/BUILD.bazel
  server/conn.go
  server/conn_stmt.go
  server/extension.go
  server/mock_conn.go
  server/server.go
  sessionctx/variable/session.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#38925 planner: update some UTs from cost model1 to model2
  planner/core/physical_plan_test.go
  planner/core/plan_cost_ver2.go
  planner/core/plan_test.go
  planner/core/rule_join_reorder_test.go
  planner/core/testdata/join_reorder_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none, epic/cost-model

#38486 executor: insert ignore return errAutoincReadFailed warning
  executor/executor.go
  executor/insert.go
  executor/insert_test.go
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38952 *: fix panic when reusing `OptimisticTxnContextProvider`
  session/txnmanager.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38947 planner: update some UTs from cost model1 to model2
  planner/core/integration_test.go
  planner/core/physical_plan_test.go
  planner/core/rule_result_reorder_test.go
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/ordered_result_mode_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none, epic/cost-model

#38931 metrics: add metrics for multi-statement
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/server.go
  server/conn.go
Labels: status/LGT2, component/metrics, status/can-merge, size/L, release-note-none

#38805 *: upgrade golang 1.19.3
  WORKSPACE
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38949 planner: sync load shouldn't load items which isn't intiailized before
  planner/core/plan_stats.go
  statistics/column.go
  statistics/handle/handle_hist.go
  statistics/handle/handle_hist_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.4

#38964 *: update client-go for v5.3.4
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, size/XS, cherry-pick-approved

#38942 gcworker: update gc time format
  DEPS.bzl
  ddl/BUILD.bazel
  ddl/attributes_sql_test.go
  executor/recover_test.go
  go.mod
  go.sum
  store/gcworker/gc_worker_test.go
  tests/realtikvtest/brietest/BUILD.bazel
  tests/realtikvtest/brietest/flashback_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38959 planner: update some UTs from cost model1 to model2
  executor/explainfor_test.go
  executor/showtest/show_test.go
  planner/core/cbo_test.go
  planner/core/expression_rewriter_test.go
  planner/core/integration_test.go
  planner/core/physical_plan_test.go
  planner/core/plan_cost_ver2.go
  planner/core/rule_join_reorder_test.go
  planner/core/rule_result_reorder_test.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/expression_rewriter_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/join_reorder_suite_out.json
  planner/core/testdata/ordered_result_mode_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none, epic/cost-model

#38870 log-backup: truncate metadata streamingly
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/log_client_test.go
  br/pkg/restore/stream_metas.go
  br/pkg/restore/stream_metas_test.go
  br/pkg/task/stream.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#38963 extension: provide more complete info in StmtEventInfo when error
  extension/event_listener_test.go
  planner/core/planbuilder.go
  planner/optimize.go
  server/conn.go
  server/conn_stmt.go
  server/extension.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#38971 *: fix variable problem during initialization
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/sysvar.go
  sessionctx/variable/variable_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.4

#38876 planner: support record table runtime stats during optimize
  executor/executor.go
  infoschema/tables_test.go
  planner/core/BUILD.bazel
  planner/core/collect_column_stats_usage.go
  planner/core/plan_replayer_capture_test.go
  planner/core/plan_stats.go
  planner/optimize.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/handle/dump.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#38979 hotfix: cherry pick pull 38232 38870 to release-6.3-20221108-v6.3.0
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/client.go
  br/pkg/restore/log_client_test.go
  br/pkg/restore/stream_metas.go
  br/pkg/restore/stream_metas_test.go
  br/pkg/storage/gcs.go
  br/pkg/task/stream.go
Labels: status/LGT2, status/can-merge, cherry-pick-approved, size/XXL, release-note-none

#38975 autoid_service,server: handle TLS config of the etcd client
  autoid_service/BUILD.bazel
  autoid_service/autoid.go
  server/http_status.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#38987 server: set the keepalive MinTime for gRPC server
  server/rpc_server.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#38990 executor/analyzetest: Stabilise analyze table tests due to SyncWaitStatsLoad timeout
  executor/analyzetest/analyze_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38968 planner: update the scan-row-size calculation formula in model2
  planner/core/plan_cost_ver1.go
  planner/core/plan_cost_ver2.go
  planner/core/plan_cost_ver2_test.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/join_reorder_suite_out.json
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none, epic/cost-model

#38989 ddl: fix rename partition column panic (#38932)
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.4

#38986 ddl: set tidb_super_read_only=ON when do flashback cluster
  ddl/cluster.go
  ddl/cluster_test.go
  ddl/ddl_api.go
  tests/readonlytest/readonly_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.4

#39005 statisticstest: fix goleak on the statisticstest
  tests/realtikvtest/statisticstest/main_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#32087 executor,bindinfo: set number of rows affected for drop global binding
  bindinfo/handle.go
  bindinfo/handle_test.go
  executor/bind.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#38997 br: refine IsLogBackupEnabled
  br/pkg/utils/db.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.4

#39024 planner: outer join elimination doesn't consider the ORDER BY items from the agg func (#38380)
  planner/core/integration_test.go
  planner/core/rule_join_elimination.go
Labels: status/LGT2, release-note, status/can-merge, size/S, cherry-pick-approved

#39016 util: support intermediate certs when use TLS
  util/security.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#39015 executor: fix unstable test TestShuffleMergeJoinInDisk
  executor/merge_join_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.4

#39013 planner: update some UTs from cost model1 to model2
  ddl/column_type_change_test.go
  executor/aggregate_test.go
  planner/core/cbo_test.go
  planner/core/integration_test.go
  planner/core/physical_plan_test.go
  planner/core/plan_cost_ver2.go
  planner/core/rule_result_reorder_test.go
  planner/core/stats_test.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/stats_suite_out.json
  planner/core/testdata/window_push_down_suite_out.json
  planner/core/window_push_down_test.go
  server/conn_test.go
  statistics/handle/handle_test.go
  statistics/selectivity_test.go
  statistics/testdata/stats_suite_out.json
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none, epic/cost-model

#39030 dump: change cfg to use TLS first
  dumpling/export/config.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38926 *: enable the CI test for concurrent ddl
  Makefile
  ddl/BUILD.bazel
  ddl/ddl.go
  executor/BUILD.bazel
  executor/seqtest/BUILD.bazel
  infoschema/tables_test.go
  server/BUILD.bazel
  session/session_test/BUILD.bazel
  statistics/handle/BUILD.bazel
  tests/realtikvtest/brietest/BUILD.bazel
  tests/realtikvtest/sessiontest/BUILD.bazel
  tests/realtikvtest/statisticstest/BUILD.bazel
  tests/realtikvtest/txntest/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#39034 domain, executor, statistics: add logs for auto analyze and global stats
  domain/domain.go
  executor/analyze.go
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#39038 types: Make use of the new time.ZoneBounds function in go-1.19
  types/core_time.go
  types/core_time_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#38998 util: add lock for MergeBasicStats
  util/execdetails/execdetails.go
Labels: status/LGT2, release-note, status/can-merge, size/XS, needs-cherry-pick-release-6.4

#38646 ddl: improve the reorg task scheduling
  ddl/BUILD.bazel
  ddl/backfilling.go
  ddl/backfilling_test.go
  ddl/column.go
  ddl/ddl_workerpool_test.go
  ddl/index.go
  ddl/index_merge_tmp.go
  ddl/index_modify_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#38957 domain: support plan_replayer_status system table
  domain/domain.go
  domain/plan_replayer.go
  executor/executor_test.go
  executor/infoschema_cluster_table_test.go
  executor/plan_replayer.go
  session/bootstrap.go
  session/session.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#38966 auto_inc,constraint: Ignore check constraint for auto-increment check
  planner/core/integration_test.go
  planner/core/preprocess.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#39048 *: add system variable tidb_check_auto_analyze_status
  domain/domain.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#39023 executor: fix hashjoin goleak
  executor/join.go
  util/wait_group_wrapper.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-3.1, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#39010 lightning: fix cluster index
  br/pkg/lightning/restore/meta_manager.go
  br/tests/lightning_exotic_filenames/data/xfn.etn-schema.sql
  br/tests/lightning_exotic_filenames/data/zwk.zwb-schema.sql
  br/tests/lightning_shard_rowid/data/shard_rowid.shr-schema.sql
  br/tests/lightning_tidb_rowid/data/rowid.non_pk-schema.sql
  br/tests/lightning_tidb_rowid/data/rowid.non_pk_auto_inc-schema.sql
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.4

#39050 extension: provide more informations in `extension.FunctionContext`
  expression/extension.go
  extension/function.go
  extension/function_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39064 *: upgrade pingcap/log
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.4

#39067 executor: fix admin show job panic when upgrade from v4.0 to v6.4
  executor/executor.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.4

#39063 executor: split hashjoin into workers(part1)
  executor/benchmark_test.go
  executor/builder.go
  executor/join.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39070 ddl: refine logic of OwnerCheckAllVersions
  ddl/syncer/syncer.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, skip-issue-check

#39065 planner: update some UTs from cost model1 to model2
  bindinfo/bind_test.go
  executor/explain_test.go
  executor/explainfor_test.go
  executor/join_test.go
  executor/partition_table_test.go
  executor/tiflashtest/tiflash_test.go
  planner/core/binary_plan_test.go
  planner/core/cbo_test.go
  planner/core/integration_test.go
  planner/core/partition_pruner_test.go
  planner/core/physical_plan_test.go
  planner/core/plan_cost_ver1.go
  planner/core/plan_cost_ver2.go
  planner/core/rule_join_reorder_test.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/binary_plan_suite_out.json
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/expression_rewriter_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/join_reorder_suite_out.json
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/stats_suite_out.json
  statistics/integration_test.go
  statistics/testdata/integration_suite_out.json
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none, epic/cost-model

#39019 domain: support plan_replayer_task system table
  domain/BUILD.bazel
  domain/domain.go
  domain/plan_replayer.go
  domain/plan_replayer_handle_test.go
  executor/infoschema_cluster_table_test.go
  executor/plan_replayer.go
  server/http_handler_serial_test.go
  session/bootstrap.go
  session/session.go
  testkit/mockstore.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#39083 dumpling: process nan when chunk is zero
  dumpling/export/status.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, component/dumpling

#38946 lightning: support checkpoint read for compress files
  br/pkg/lightning/mydump/parquet_parser.go
  br/pkg/lightning/mydump/parser.go
  br/pkg/lightning/mydump/router.go
  br/pkg/lightning/restore/chunk_restore_test.go
  br/pkg/lightning/restore/restore.go
  br/pkg/storage/writer.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39079 executor: split hashjoin into workers(part2)
  executor/benchmark_test.go
  executor/builder.go
  executor/join.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39085 planner: update some UTs from cost model1 to model2
  bindinfo/bind_test.go
  executor/executor_test.go
  executor/prepared_test.go
  executor/testdata/executor_suite_out.json
  planner/core/cbo_test.go
  planner/core/expression_rewriter_test.go
  planner/core/integration_partition_test.go
  planner/core/integration_test.go
  planner/core/physical_plan_test.go
  planner/core/physical_plan_trace_test.go
  planner/core/point_get_plan_test.go
  planner/core/rule_result_reorder_test.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/expression_rewriter_suite_out.json
  planner/core/testdata/integration_partition_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/ordered_result_mode_suite_out.json
  planner/core/testdata/plan_suite_out.json
  session/clustered_index_test.go
  session/testdata/clustered_index_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none, epic/cost-model

#39086 stmtctx: remove the empty values in `StatementContext.Tables`
  extension/event_listener_test.go
  planner/core/planbuilder.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39088 ddl: delete `pkIsHandle` log in drop index
  ddl/ddl_api.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#39014 statistics, executor: merge Count and ModifyCount for global stats
  executor/analyze_global_stats.go
  statistics/handle/ddl.go
  statistics/handle/dump.go
  statistics/handle/dump_test.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.1

#39001 systable: Adapt with tiflash_tables changes
  executor/infoschema_reader_test.go
  executor/testdata/tiflash_v640_dt_tables.json
  infoschema/tables.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#39099 util: change record analyze to explain in oom alarm
  planner/core/common_plans.go
  planner/core/plan.go
  session/session.go
  util/execdetails/execdetails.go
  util/memory/tracker.go
  util/memoryusagealarm/BUILD.bazel
  util/memoryusagealarm/memoryusagealarm.go
  util/memoryusagealarm/memoryusagealarm_test.go
  util/processinfo.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-release-6.4

#39084 domain: refactor plan replayer implemention
  domain/BUILD.bazel
  domain/domain.go
  domain/plan_replayer.go
  domain/plan_replayer_dump.go
  executor/plan_replayer.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32173 binlog: update binlog status from Skippping to On when recover binlog
  server/http_handler.go
  sessionctx/binloginfo/binloginfo.go
Labels: status/LGT2, component/binlog, status/can-merge, needs-cherry-pick-release-4.0, size/S, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, release-note-none, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#38653 planner: support the view hint
  executor/infoschema_reader.go
  executor/show.go
  parser/hintparser.go
  parser/hintparser.y
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  util/hint/hint_processor.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#38910 dumpling: compress supports snappy/zstd
  dumpling/export/config.go
  dumpling/export/writer_util.go
  dumpling/install.sh
  dumpling/tests/s3/run.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/dumpling

#39108 dumpling: revert 39030
  dumpling/export/config.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39093 ddl: fix return duplicate schema version during multi-schema change
  ddl/callback.go
  ddl/callback_test.go
  ddl/ddl_worker.go
  ddl/job_table.go
  ddl/multi_schema_change.go
  ddl/multi_schema_change_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39101 gogctuner: fix unstable test in the TestTuner
  util/gctuner/tuner_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39097 *: enable race test for more components
  executor/oomtest/BUILD.bazel
  executor/seqtest/BUILD.bazel
  executor/splittest/BUILD.bazel
  expression/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39124 planner: update some UTs from cost model1 to model2
  executor/executor_issue_test.go
  executor/join_test.go
  executor/oomtest/oom_test.go
  executor/partition_table_test.go
  executor/prepared_test.go
  planner/core/integration_test.go
  planner/core/partition_pruner_test.go
  planner/core/plan_cost_detail_test.go
  planner/core/testdata/partition_pruner_out.json
  statistics/handle/handle_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none, epic/cost-model

#39129 executor: fix issue of show create table with foreign key comment
  executor/fktest/foreign_key_test.go
  executor/show.go
  executor/showtest/show_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39109 gogctuner: support Max/Min GOGC
  util/gctuner/tuner.go
  util/gctuner/tuner_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39133 *: refactor some functions for better reusability
  ddl/index.go
  executor/admin.go
  executor/builder.go
  planner/core/plan_to_pb.go
  session/schema_amender.go
  table/tables/mutation_checker_test.go
  table/tables/tables.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, skip-issue-check

#39103 schematracker: treat TableInfo as immutable
  ddl/schematracker/dm_tracker.go
  ddl/schematracker/dm_tracker_test.go
  ddl/schematracker/info_store.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39142 infoschema: fix bit, year column metadata is not compatible with mysql
  executor/infoschema_reader_test.go
  parser/types/field_type.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39138 planner: update some UTs from cost model1 to model2
  executor/prepared_test.go
  executor/set_test.go
  planner/core/integration_test.go
  planner/core/partition_pruner_test.go
  planner/core/physical_plan_trace_test.go
  planner/core/plan_cost_detail_test.go
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/partition_pruner_out.json
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none, epic/cost-model

#39137 extension: add support for extension to custom table and sysvar privileges
  executor/set.go
  expression/extension.go
  extension/BUILD.bazel
  extension/extensions.go
  extension/function.go
  extension/function_test.go
  extension/manifest.go
  extension/registry_test.go
  privilege/privileges/privileges.go
  server/rpc_server.go
  session/session.go
  sessionctx/variable/variable.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#39126 planner: add more test cases for view hint
  parser/ast/misc.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  util/hint/hint_processor.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#39089 executor: split hashjoin part3
  executor/benchmark_test.go
  executor/builder.go
  executor/join.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39145 ddl: modify default unique index name
  ddl/column_test.go
  ddl/ddl_api.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39123 statistics: fix merge global stats panic if the partition hasn't been analyzed before
  executor/analyze_test.go
  statistics/handle/handle.go
  statistics/table.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none
