Repository pingcap/tidb, pull requests merged in 2022-05, with the labels that each got.

#34357 util: improve stack message in the panic log
  executor/projection.go
  owner/manager.go
  testkit/asynctestkit.go
  util/misc.go
  util/misc_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34353 pessimistictest: dedicated package for pessimistic txn tests
  .github/licenserc.yml
  .github/workflows/integration-test-br-compatibility.yml
  .github/workflows/integration-test-compile-br.yml
  .github/workflows/integration-test-dumpling.yml
  .github/workflows/integration-test-with-real-tikv.yml
  tests/pessimistictest/pessimistic_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34305 *: move config file option query-log-max-len to sysvar
  config/config.go
  config/config_util.go
  executor/adapter.go
  executor/adapter_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/M

#34360 log: avoid panic on unknown log format
  executor/admin_test.go
  go.mod
  go.sum
  util/logutil/log.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34367 *: upgrade testify and remove replace options
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33875 planner: add functional dependency doc
  docs/design/2022-03-16-functional-dependency.md
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34352 backup: retry on internal error and make more errors can be retried
  br/pkg/backup/client.go
  br/pkg/utils/retry.go
  br/tests/br_full/run.sh
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34372 *: update unstable unit test case list 2022/04/28-2022/05/05
  unstable.txt
Labels: status/LGT2, status/can-merge, size/S, skip-issue-check

#34212 util: support spill offset into disk when spilling
  util/chunk/disk.go
  util/chunk/disk_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34337 parser: support join order hint
  parser/ast/misc.go
  parser/ast/misc_test.go
  parser/hintparser.go
  parser/hintparser.y
  parser/misc.go
  parser/parser_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#34383 planner: add more randgen tests for cost refactor
  planner/core/plan_cost.go
  planner/core/plan_cost_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#34364 util/codec: Fix analyze table for partitioned table with datetime column and version 1 (#34228)
  executor/analyze_test.go
  util/codec/codec.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34369 *: Remove Changelog.md because it has been deprecated and we maintain release notes instead
  CHANGELOG.md
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34382 tests/graceshutdown: go mod tidy
  tests/globalkilltest/go.mod
  tests/globalkilltest/go.sum
  tests/graceshutdown/go.mod
  tests/graceshutdown/go.sum
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34406 topsql: always clean goroutine labels for internal sql after finish execution
  session/session.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34408 planner: move all functions about cost calculation to plan_cost.go
  planner/core/plan_cost.go
  planner/core/point_get_plan.go
  planner/core/task.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#34403 ddl: move some test to ddl_test package
  ddl/ddl_test.go
  ddl/partition_test.go
  ddl/reorg_test.go
  ddl/restart_test.go
  ddl/util_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34313 lightning: remove support for tikv-importer
  br/cmd/tidb-lightning-ctl/main.go
  br/pkg/lightning/backend/importer/importer.go
  br/pkg/lightning/backend/importer/importer_test.go
  br/pkg/lightning/checkpoints/checkpoints.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/config/configlist_test.go
  br/pkg/lightning/config/global.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/restore/chunk_restore_test.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/restore_test.go
  br/pkg/lightning/restore/table_restore_test.go
  br/tests/README.md
  br/tests/_utils/generate_certs
  br/tests/_utils/run_lightning
  br/tests/_utils/run_lightning_ctl
  br/tests/_utils/run_services
  br/tests/config/importer.toml
  br/tests/lightning_alter_random/run.sh
  br/tests/lightning_auto_random_default/run.sh
  br/tests/lightning_checkpoint/config.toml
  br/tests/lightning_checkpoint/run.sh
  br/tests/lightning_checkpoint_chunks/config.toml
  br/tests/lightning_checkpoint_chunks/file.toml
  br/tests/lightning_checkpoint_chunks/run.sh
  br/tests/lightning_checkpoint_engines/config.toml
  br/tests/lightning_checkpoint_engines/mysql.toml
  br/tests/lightning_checkpoint_engines/run.sh
  br/tests/lightning_checkpoint_error_destroy/run.sh
  br/tests/lightning_checkpoint_parquet/run.sh
  br/tests/lightning_checkpoint_timestamp/config.toml
  br/tests/lightning_checkpoint_timestamp/mysql.toml
  br/tests/lightning_checkpoint_timestamp/run.sh
  br/tests/lightning_cmdline_override/config.toml
  br/tests/lightning_cmdline_override/run.sh
  br/tests/lightning_column_permutation/run.sh
  br/tests/lightning_common_handle/run.sh
  br/tests/lightning_csv/run.sh
  br/tests/lightning_file_routing/config.toml
  br/tests/lightning_file_routing/run.sh
  br/tests/lightning_generated_columns/run.sh
  br/tests/lightning_issue_282/run.sh
  br/tests/lightning_issue_410/run.sh
  br/tests/lightning_local_backend/run.sh
  br/tests/lightning_new_collation/run.sh
  br/tests/lightning_parquet/run.sh
  br/tests/lightning_partitioned-table/run.sh
  br/tests/lightning_shard_rowid/config.toml
  br/tests/lightning_shard_rowid/run.sh
  br/tests/lightning_source_linkfile/run.sh
  br/tests/lightning_tidb_rowid/run.sh
  br/tests/lightning_tiflash/run.sh
  br/tests/lightning_too_many_columns/run.sh
  br/tests/lightning_various_types/run.sh
  br/tests/lightning_view/run.sh
  br/tests/up.sh
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#34323 statistics: add lru cache implement for statsCacheInner
  statistics/handle/lru_cache.go
  statistics/handle/lru_cache_test.go
  statistics/histogram.go
  statistics/table.go
  util/chunk/chunk.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34425 *: Revert #33519 for performance fallback and fix the #33509 in another way
  planner/core/cache.go
  planner/core/common_plans.go
  server/driver_tidb.go
  session/session.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34423 *: fix load statement can not handle the upper case user variable
  expression/builtin_other.go
  server/server_test.go
  sessionctx/variable/session.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34338 planner: refactor the cost implementation for TiFlash plans
  planner/core/plan_cost.go
  planner/core/plan_cost_test.go
  planner/core/task.go
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#34426 br: make tidy
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34446 planner: add enforce-mpp test cases for the new cost implementation
  planner/core/enforce_mpp_test.go
  planner/core/plan_cost_test.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/S, release-note-none

#34296 telemetry: rewrite cluster index usage info
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34385 backup: backup empty databases
  br/cmd/br/debug.go
  br/pkg/backup/client.go
  br/pkg/backup/schema.go
  br/pkg/backup/schema_test.go
  br/pkg/checksum/validate.go
  br/pkg/metautil/metafile.go
  br/pkg/task/restore.go
  br/tests/br_backup_empty/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/L

#34263 txn: Add `EnterNewTxn` and `OnStmtStart` methods to `TxnManager`
  cmd/ddltest/column_test.go
  cmd/ddltest/ddl_test.go
  ddl/column_change_test.go
  ddl/column_modify_test.go
  ddl/column_test.go
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/db_table_test.go
  ddl/db_test.go
  ddl/ddl_test.go
  ddl/foreign_key_test.go
  ddl/index_change_test.go
  ddl/index_modify_test.go
  ddl/modify_column_test.go
  ddl/testutil/testutil.go
  executor/adapter.go
  executor/builder.go
  executor/ddl.go
  executor/ddl_test.go
  executor/delete.go
  executor/executor_test.go
  executor/grant.go
  executor/insert_common.go
  executor/revoke.go
  executor/simple.go
  executor/write_test.go
  expression/typeinfer_test.go
  planner/core/physical_plan_test.go
  planner/core/preprocess.go
  server/conn.go
  session/session.go
  session/session_legacy_test.go
  session/tidb.go
  session/txnmanager.go
  sessiontxn/failpoint.go
  sessiontxn/interface.go
  sessiontxn/legacy/provider.go
  sessiontxn/staleread/processor.go
  sessiontxn/staleread/provider.go
  sessiontxn/txn_manager_test.go
  table/tables/partition_test.go
  table/tables/tables_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34410 ddl: fix recover table will still push table state even if meet error
  ddl/table.go
  executor/recover_table_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#34451 *: improve map copy
  bindinfo/handle.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/tidb.go
  distsql/select_result.go
  domain/sysvar_cache.go
  planner/funcdep/fast_int_set_test.go
  statistics/handle/statscache.go
  table/temptable/interceptor.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34449 planner: enable memtable operator support enforced property
  planner/core/find_best_task.go
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34273 session: refine non-transactional delete
  executor/prepared.go
  metrics/metrics.go
  metrics/session.go
  metrics/telemetry.go
  session/nontransactional.go
  session/nontransactional_test.go
  telemetry/data.go
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
  types/datum.go
  util/memory/tracker.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#34418 executor: release memory usage of task in indexJoin/indexHashJoin
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
Labels: status/LGT2, status/can-merge, size/S, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34471 planner: fix the explain `verbose` to be NOT case insensitive
  executor/explainfor_test.go
  planner/core/common_plans.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#34481 *: use go1.18 in the dockerfile
  Dockerfile
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34407 ddl: add require owner interface
  ddl/util/syncer.go
  ddl/util/syncer_test.go
  domain/infosync/info.go
  domain/infosync/info_test.go
  expression/builtin_info.go
  expression/builtin_info_vec.go
  expression/integration_test.go
  owner/fail_test.go
  owner/manager.go
  owner/mock.go
  session/session.go
  sessionctx/context.go
  util/etcd.go
  util/mock/context.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#34147 planner: introduce Cond-FD to maintain null-constraint FD
  planner/core/logical_plans.go
  planner/funcdep/doc.go
  planner/funcdep/fd_graph.go
  planner/funcdep/only_full_group_by_test.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/XL, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34505 tests/pessimistictest: fix DATA RACE for tests
  tests/pessimistictest/pessimistic_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34322 executor: fix time filter condition when select from information.slow_query_log
  executor/slow_query.go
  executor/slow_query_sql_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34486 planner: add more rand-gen test cases for the new cost implementation
  cmd/explaintest/r/explain_easy_stats.result
  planner/core/plan_cost_test.go
  planner/core/task.go
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#34501 expression: use existing repertoire for Column if possible
  expression/column.go
  expression/integration_test.go
  planner/core/rule_predicate_push_down.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#31725 br: fix the issue that config not paused with ttl correctly
  br/pkg/pdutil/pd.go
  br/tests/br_other/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-6.0

#34386 *: Support modify table/column charset from latin1 to utf8/utf8mb4
  cmd/explaintest/r/collation_misc_disabled.result
  cmd/explaintest/r/collation_misc_enabled.result
  cmd/explaintest/t/collation_misc.test
  ddl/db_integration_test.go
  ddl/ddl_api.go
  expression/integration_test.go
  parser/charset/encoding_latin1.go
  parser/mysql/charset.go
  util/collate/collate.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/L

#34499 planner: introduce a flag to cost calculation to control some behaviors
  planner/core/common_plans.go
  planner/core/find_best_task.go
  planner/core/plan.go
  planner/core/plan_cost.go
  planner/core/task.go
  planner/implementation/simple_plans.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#34488 session: return an error when a non-transactional DML partially fails
  errno/errcode.go
  errno/errname.go
  errors.toml
  session/nontransactional.go
  session/nontransactional_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#34455 br: restore log from start-ts to restore-ts
  br/cmd/br/stream.go
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/backup/schema.go
  br/pkg/backup/schema_test.go
  br/pkg/gluetidb/glue.go
  br/pkg/metautil/metafile.go
  br/pkg/restore/client.go
  br/pkg/restore/db_test.go
  br/pkg/restore/import_retry.go
  br/pkg/restore/rawkv_client.go
  br/pkg/restore/rawkv_client_test.go
  br/pkg/restore/util.go
  br/pkg/stream/rewrite_meta_rawkv.go
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
  br/pkg/task/stream_test.go
  br/pkg/utils/schema.go
  parser/model/model.go
Labels: status/LGT2, size/XXL, release-note-none

#34527 ddl: move some admin function to ddl
  ddl/db_change_test.go
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/ddl_tiflash_api.go
  ddl/stat.go
  ddl/table_modify_test.go
  errors.toml
  executor/builder.go
  executor/ddl.go
  executor/executor.go
  executor/executor_test.go
  server/http_handler.go
  store/gcworker/gc_worker.go
  util/admin/admin.go
  util/admin/admin_test.go
  util/dbterror/ddl_terror.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34512 *: upgrade gomod to fix data race
  go.mod
  go.sum
  tests/pessimistictest/pessimistic_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34532 metrics: update colors for sql type commit and general
  metrics/grafana/performance_overview.json
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#23149 core: support left join and right join for join reorder
  cmd/explaintest/r/clustered_index.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/t/select.test
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_dp.go
  planner/core/rule_join_reorder_dp_test.go
  planner/core/rule_join_reorder_greedy.go
  planner/core/testdata/integration_serial_suite_out.json
  planner/core/testdata/ordered_result_mode_suite_out.json
Labels: status/LGT2, sig/execution, status/can-merge, needs-cherry-pick-4.0, size/XL, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34278 sysvari: enable statsCache lru by config
  config/config.go
  domain/sysvar_cache.go
  executor/builder.go
  executor/set_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
  statistics/handle/lru_cache.go
  statistics/handle/lru_cache_test.go
  statistics/handle/statscache.go
  statistics/histogram.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34520 *: update unstable unit test case list 2022/05/05-2022/05/10
  unstable.txt
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34339 planner: support straight join order hint
  planner/core/logical_plan_builder.go
  planner/core/main_test.go
  planner/core/optimizer.go
  planner/core/rule_join_reorder_test.go
  planner/core/testdata/join_reorder_suite_in.json
  planner/core/testdata/join_reorder_suite_out.json
  planner/optimize.go
  session/session_legacy_test.go
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#34542 *: change mysql.analyze_jobs.instance column type
  executor/analyze.go
  executor/analyze_test.go
  session/bootstrap.go
  statistics/handle/handle.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34483 dumpling: support init tls without client kay/certs
  dumpling/export/config.go
  dumpling/tests/tls/run.sh
  util/security.go
  util/security_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#34551 PiTR: support empty schema in PiTR.
  br/pkg/backup/client.go
  br/pkg/restore/client.go
  br/pkg/stream/rewrite_meta_rawkv.go
  br/pkg/task/stream.go
  br/pkg/utils/json.go
Labels: status/LGT1, size/M, release-note-none

#34480 expression: support pushdown weekofyear to tiflash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#34513 metrics: add grafana template and display metrics by instance
  metrics/grafana/tidb.json
  metrics/grafana/tidb_summary.json
  metrics/grafana/tidb_summary.jsonnet
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#34560 session: migrate test-infra to testify for parts of session_test
  server/tidb_library_test.go
  session/backup_restore_test.go
  session/isolation_test.go
  session/nontransactional_test.go
  session/session_fail_test.go
  session/session_legacy_test.go
  session/session_test.go
  session/statistics_test.go
  session/txn_state_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34564 *: improve stack message in the panic log
  cmd/ddltest/ddl_test.go
  executor/analyze.go
  executor/distsql.go
  executor/executor.go
  executor/index_lookup_join.go
  executor/index_lookup_merge_join.go
  server/conn.go
  statistics/handle/handle_hist.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34558 topsql: fix memory leak in stmtstats
  util/topsql/stmtstats/aggregator.go
  util/topsql/stmtstats/aggregator_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34568 statistics: add metrics for statscache lru
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/stats.go
  statistics/handle/handle.go
  statistics/handle/lru_cache.go
  statistics/handle/statscache.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#34569 executor: fix processlist's Mem is not zero when HashJoin finished
  executor/hash_table.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34387 *: retry auto-analyze with adjusted samplerate when oom panic
  executor/analyze.go
  executor/builder.go
  util/memory/tracker.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34573 *: refine 'tidb_snapshot' behavior
  executor/adapter.go
  executor/builder.go
  executor/executor_test.go
  session/session.go
  sessiontxn/legacy/provider.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#34380 planner: refactor the join reorder codes
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_dp.go
  planner/core/rule_join_reorder_dp_test.go
  planner/core/rule_join_reorder_greedy.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#34577 backup-log: remove duplicated meta key in a batch.
  br/pkg/restore/client.go
  br/pkg/restore/rawkv_client.go
  br/pkg/restore/rawkv_client_test.go
Labels: status/LGT2, size/L, release-note-none

#34554 sysvar, sysvar_test: fix tidb_mem_quota_query min/max value
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#34578 realtikvtest: dedicated package for real tikv tests
  .github/workflows/integration-test-with-real-tikv.yml
  session/nontransactional_test.go
  session/session_legacy_test.go
  tests/realtikvtest/backup_restore_test.go
  tests/realtikvtest/binlog_test.go
  tests/realtikvtest/isolation_test.go
  tests/realtikvtest/main_test.go
  tests/realtikvtest/session_fail_test.go
  tests/realtikvtest/session_test.go
  tests/realtikvtest/statistics_test.go
  tests/realtikvtest/txn_state_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34557 session: fix the memory tracker oom action for nt-dml
  session/nontransactional.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34552 lightning: support null value for auto-incr column on local backend
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/backend/kv/sql2kv_test.go
  br/tests/lightning_auto_columns/config.toml
  br/tests/lightning_auto_columns/data/lightning_auto_cols-schema-create.sql
  br/tests/lightning_auto_columns/data/lightning_auto_cols.t_auto_incr-schema.sql
  br/tests/lightning_auto_columns/data/lightning_auto_cols.t_auto_incr.sql
  br/tests/lightning_auto_columns/data/lightning_auto_cols.t_auto_random-schema.sql
  br/tests/lightning_auto_columns/data/lightning_auto_cols.t_auto_random.sql
  br/tests/lightning_auto_columns/run.sh
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-6.0

#34401 br: move the file v1_backupmeta_xxxx.meta to v1/backupmeta/xxxx.meta
  br/pkg/restore/client.go
  br/pkg/restore/stream_metas.go
  br/pkg/restore/stream_metas_test.go
  br/pkg/task/stream.go
Labels: status/LGT1, size/M, release-note-none

#34594 session: migrate test-infra to testify for parts of session_test
  session/session_legacy_test.go
  tests/realtikvtest/session_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34579 planner: fix wrong cached plan in cachedPlanExec
  planner/core/prepare_test.go
  session/session.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, size/M, release-note-none, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34523 planner: plan cache always check scheme valid in RC isolation level
  executor/adapter.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  planner/core/prepare_test.go
  planner/core/rule_build_key_info.go
  planner/optimize.go
  session/session.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#31601 planner: support push `window function` down to tiflash
  executor/partition_table.go
  expression/aggregation/agg_to_pb.go
  expression/aggregation/window_func.go
  go.mod
  go.sum
  kv/checker.go
  planner/cascades/enforcer_rules.go
  planner/cascades/implementation_rules.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/find_best_task_test.go
  planner/core/logical_plans.go
  planner/core/main_test.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/plan_to_pb.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/window_push_down_suite_in.json
  planner/core/testdata/window_push_down_suite_out.json
  planner/core/window_push_down_test.go
  planner/property/physical_property.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34622 executor: add test cover Analyze task for evicted index
  executor/builder.go
  statistics/handle/handle_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34489 txn: add methods to handle error for `TxnManager`
  executor/adapter.go
  server/conn.go
  server/conn_stmt.go
  session/session.go
  session/txnmanager.go
  sessiontxn/interface.go
  sessiontxn/legacy/provider.go
  sessiontxn/legacy/provider_test.go
  sessiontxn/staleread/provider.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#34603 planner: strengthen the cases the join reorder can apply
  executor/join_test.go
  planner/core/rule_join_reorder.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, size/L, release-note-none

#34580 statistics: avoid unnecessary read of mysql.stats_fm_sketch
  statistics/handle/handle.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34586 *: use generics to improve Clamp
  br/pkg/task/restore.go
  br/pkg/utils/math.go
  br/pkg/utils/math_test.go
  statistics/histogram.go
  util/mathutil/math.go
  util/mathutil/math_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34633 config: add unit test for assert tidb_stats_cache_mem_quota
  executor/set_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34592 util: fix the issue that memory usage not released after tracker Detach
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34627 expression: Support to_seconds function push down for tiflash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34638 plugin: revert #27269 for test (#34139)
  executor/adapter.go
  plugin/audit.go
  plugin/conn_ip_example/conn_ip_example.go
  plugin/conn_ip_example/conn_ip_example_test.go
  plugin/integration_test.go
  plugin/plugin.go
  plugin/spi_test.go
  server/conn.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#33803 *: move config file option enable-batch-dml to sysvar
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/delete.go
  executor/insert_common.go
  executor/seqtest/seq_executor_test.go
  executor/write_concurrent_test.go
  session/bootstrap.go
  session/nontransactional.go
  session/nontransactional_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/L

#34368 *: move config file option committer-concurrency to sysvar
  config/config.go
  config/config.toml.example
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  util/tikvutil/tikvutil.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#34468 planner: fix bug that aggregate push down may generate wrong plan for outer joins
  planner/core/integration_test.go
  planner/core/rule_aggregation_elimination.go
  planner/core/rule_aggregation_push_down.go
Labels: status/LGT2, status/can-merge, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, affects-5.0, affects-5.1, affects-5.2, affects-5.3, needs-cherry-pick-5.3, needs-cherry-pick-5.4, affects-5.4, affects-6.0, needs-cherry-pick-6.0

#34650 br: use the correct status address
  br/pkg/conn/conn.go
  br/pkg/conn/conn_test.go
  br/pkg/task/restore.go
  br/pkg/task/restore_raw.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34612 br: save global checkpoint to storage and support complete transaction
  br/cmd/br/stream.go
  br/pkg/restore/client.go
  br/pkg/restore/stream_metas.go
  br/pkg/restore/stream_metas_test.go
  br/pkg/stream/client.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
  br/pkg/task/stream_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, component/br

#34660 expression: fix precision loss when casting time to string
  expression/builtin_time.go
  expression/integration_test.go
  types/time.go
  types/time_test.go
Labels: status/LGT2, type/bug-fix, component/expression, status/can-merge, size/XL, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34661 session: migrate test-infra to testify for parts of session_test
  .github/workflows/integration-test-with-real-tikv.yml
  .github/workflows/license-checker.yml
  session/session_legacy_test.go
  tests/realtikvtest/brietest/backup_restore_test.go
  tests/realtikvtest/brietest/binlog_test.go
  tests/realtikvtest/brietest/main_test.go
  tests/realtikvtest/pessimistictest/main_test.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
  tests/realtikvtest/sessiontest/main_test.go
  tests/realtikvtest/sessiontest/session_fail_test.go
  tests/realtikvtest/sessiontest/session_test.go
  tests/realtikvtest/statisticstest/main_test.go
  tests/realtikvtest/statisticstest/statistics_test.go
  tests/realtikvtest/testkit.go
  tests/realtikvtest/txntest/isolation_test.go
  tests/realtikvtest/txntest/main_test.go
  tests/realtikvtest/txntest/txn_state_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34664 session: migrate test-infra to testify for temporary table tests in session_test
  session/session_legacy_test.go
  tests/realtikvtest/sessiontest/temporary_table_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34637 statistics: analyzed table by manual should be updated in lru
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/lru_cache.go
  statistics/handle/statscache.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34656 util: fix data race in the Tracker.maxConsumed
  util/memory/tracker.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34319 lightning: trim prefix when use gcs/s3 Storage WalkDir
  br/pkg/storage/gcs.go
  br/pkg/storage/gcs_test.go
  br/pkg/storage/s3.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/lightning

#34606 planner: check whether current task is valid when comparing task costs
  planner/core/find_best_task.go
  planner/core/plan_cost_test.go
  planner/core/rule_eliminate_projection.go
  planner/core/rule_inject_extra_projection.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#34290 copr: Split more accurately when buckey keys are not accurate.
  go.mod
  go.sum
  store/copr/coprocessor_test.go
  store/copr/region_cache.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34538 executor: fix DATA RACE for reading information_schema.columns where there are views
  executor/infoschema_reader.go
  executor/show.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34593 session: migrate test-infra to testify for testSessionSerialSuite
  session/schema_test.go
  session/session_legacy_test.go
  tests/realtikvtest/sessiontest/session_test.go
  tests/realtikvtest/testkit.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34681 memory, kvcache : Takes process memory,compared to server-memory-quota
  util/kvcache/simple_lru.go
  util/memory/meminfo.go
Labels: status/LGT2, sig/planner, status/can-merge, component/executor, size/S, release-note-none, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34537 lightning: auto adjust dynamic region configuration
  br/pkg/lightning/backend/backend.go
  br/pkg/lightning/backend/backend_test.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/noop/noop.go
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/const.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore.go
  br/pkg/lightning/restore/table_restore_test.go
  br/pkg/mock/backend.go
  dumpling/export/metrics.go
Labels: status/LGT2, release-note, status/can-merge, size/L, component/lightning

#34680 session: migrate test-infra to testify for part of session_test
  session/session_legacy_test.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
  tests/realtikvtest/sessiontest/retry_test.go
  tests/realtikvtest/sessiontest/session_test.go
  tests/realtikvtest/txntest/txn_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34636 *: add metrics for stats healthy
  executor/show_stats.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/stats.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
  statistics/table.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34567 planner: enable the new cost implementation by default
  executor/set_test.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/testdata/integration_suite_out.json
  sessionctx/variable/sysvar.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#34570 planner: support leading hint in join reorder optimization
  planner/core/exhaust_physical_plans.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/planbuilder.go
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_greedy.go
  planner/core/rule_join_reorder_test.go
  planner/core/testdata/join_reorder_suite_in.json
  planner/core/testdata/join_reorder_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#34658 executor: get schema and outname of view once in the dataForColumnsInTable
  executor/builder.go
  executor/infoschema_reader.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34716 statistics: fix data race in the Handle.mu.ctx
  statistics/handle/ddl.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34714 session: migrate test-infra to testify for part of session_test
  session/session_legacy_test.go
  tests/realtikvtest/sessiontest/session_test.go
  tests/realtikvtest/txntest/txn_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34709 planner: fix the issue that the optimizer caches wrong TableDual plans under binary protocol
  executor/builder.go
  planner/core/cache.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34723 parser: forbid alter `latin1` to `utf8mb3`
  cmd/explaintest/r/collation_misc_disabled.result
  cmd/explaintest/r/collation_misc_enabled.result
  cmd/explaintest/t/collation_misc.test
  ddl/db_integration_test.go
  ddl/ddl_api.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#34719 *: update unstable unit test case list 2022/05/10-2022/05/17
  unstable.txt
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34708 session: fix the setting of _tidb_rowid in non-transactional dml
  session/nontransactional.go
  session/nontransactional_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34299 distsql, sessionctx/variable: add max_threads mysql variable for TiFlash
  distsql/distsql.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#34700 log-backup: sleep on every retryable error.
  br/pkg/restore/import.go
  br/pkg/restore/import_retry.go
  br/pkg/restore/import_retry_test.go
  br/pkg/restore/split_test.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34748 kvproto: upgrade to support compact RPC
  go.mod
  go.sum
  store/mockstore/unistore/tikv/server.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34726 statistics: remove stats cache unnecessary lock and revise log
  domain/sysvar_cache.go
  statistics/handle/handle.go
  statistics/handle/statscache.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34733 *: change global kill config and add telemetry
  config/config.go
  config/config.toml.example
  domain/domain.go
  executor/show_test.go
  executor/simple.go
  executor/simple_test.go
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
  tests/globalkilltest/config.toml
  util/processinfo_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#34727 ddl: fix 'alter table cache' error when SEM is enabled
  ddl/db_cache_test.go
  ddl/ddl_api.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.0

#33501 docs: propose non-transactional DMLs for bulk delete/update scenarios
  docs/design/2022-03-25-non-transactional-dml.md
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34309 br/pkg/storage: add oss support on s3 sdk
  br/pkg/storage/s3.go
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34756 executor: remove testify suite
  executor/hot_regions_history_table_test.go
  executor/infoschema_cluster_table_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34762 variable: revise TiDBStatsCacheMemQuota settting code
  domain/domain.go
  domain/sysvar_cache.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34703 br: filter (start-ts, restore-ts) when restore data kv
  br/cmd/br/stream.go
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/stream_metas.go
  br/pkg/task/stream.go
  br/pkg/utils/safe_point.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34768 session: cleanup check_dev_2 scaffolding
  session/main_test.go
  session/schema_test.go
  tests/realtikvtest/brietest/backup_restore_test.go
  tests/realtikvtest/brietest/binlog_test.go
  tests/realtikvtest/statisticstest/statistics_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34764 planner: reset PhysicalWindow's schema for mpp plan.
  planner/core/task.go
  planner/core/window_push_down_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34775 variable: fix 34773 race error
  domain/domain.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34739 planner: disable plan-cache short path for point-get plans when plan-cache is disabled
  planner/core/common_plans.go
  planner/core/prepare_test.go
  sessiontxn/txn_context_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34776 pitr: Compatible with tiflash
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/task/restore.go
  br/pkg/task/restore_raw.go
  br/pkg/task/stream.go
  meta/meta.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/br

#34780 config: update deprecatedConfig to pass config check
  config/config.go
  config/config_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34793 expression: correct window function push down list.
  expression/aggregation/window_func.go
  planner/core/testdata/window_push_down_suite_out.json
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34643 *: move config file option tidb_enable_auto_analyze to sysvar
  config/config.go
  config/config.toml.example
  domain/domain.go
  executor/oomtest/oom_test.go
  session/bootstrap.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/integration_test.go
  statistics/selectivity_test.go
  statistics/trace_test.go
  tidb-server/main.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/M

#34644 *: move config file option oom-action to sysvar
  config/config.go
  config/config.toml.example
  config/config_test.go
  config/config_util.go
  config/config_util_test.go
  executor/executor.go
  executor/executor_failpoint_test.go
  executor/executor_issue_test.go
  executor/executor_test.go
  executor/join_test.go
  executor/main_test.go
  executor/merge_join_test.go
  executor/oomtest/oom_test.go
  executor/sort_test.go
  infoschema/cluster_tables_test.go
  server/rpc_server.go
  session/bootstrap.go
  session/bootstrap_test.go
  session/nontransactional.go
  session/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/variable.go
  tests/realtikvtest/sessiontest/session_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#34796 test: fix data race in the test mocker
  executor/compact_table_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34800 tools/check: 'ut' now remove support for the old test cases
  tools/check/ut.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#32536 executor, statistics: drop the samples whose length is too long
  executor/analyze.go
  executor/analyze_test.go
  statistics/sample.go
Labels: type/enhancement, status/LGT2, status/can-merge, size/S, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34740 planner: add more test cases for join order hint
  planner/core/logical_plan_builder.go
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_greedy.go
  planner/core/rule_join_reorder_test.go
  planner/core/testdata/join_reorder_suite_in.json
  planner/core/testdata/join_reorder_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#34757 server: fix connection close on network timeout/read error
  server/conn.go
  server/server.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34805 lightning: fix the problem that status address isn't accurate
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/lightning

#34810 planner: disable the new cost implementation by default
  executor/set_test.go
  planner/core/integration_test.go
  planner/core/testdata/integration_suite_out.json
  sessionctx/variable/sysvar.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#34812 ddl: rename a non-exists column should fail
  ddl/column_modify_test.go
  ddl/ddl_api.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34818 planner: enable prepared plan-cache by default and update the default cache capacity
  executor/index_merge_reader_test.go
  expression/integration_serial_test.go
  planner/core/prepare_test.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/S, release-note-none

#34820 executor: fix drop global stats
  executor/simple.go
  executor/simple_test.go
Labels: status/LGT2, status/can-merge, size/XS, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#34822 readme: update readme descriptions
  README.md
Labels: status/LGT2, component/docs, status/can-merge, size/M, release-note-none

#34825 planner: use variable to control outer join reorder for fallback
  planner/core/rule_join_reorder.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/S, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34835 restore: handle delete meta key
  br/pkg/restore/client.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34608 executor, parser: indicate analyze is auto or not in proto buffer
  executor/builder.go
  parser/model/flags.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33742 planner: range columns partitioning with explicit collation fix (#32749)
  ddl/db_partition_test.go
  ddl/sanity_check.go
  expression/collation.go
  expression/scalar_function.go
  planner/core/partition_pruner_test.go
  planner/core/rule_partition_processor.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#34866 ddl: remove testify suite
  ddl/db_change_failpoints_test.go
  ddl/db_change_test.go
  ddl/db_integration_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34862 session: fix upgrade process for bootstrap v90
  session/bootstrap.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.1

#34732 executor: track the memory usage of aggregate more accurate
  executor/aggfuncs/aggfunc_test.go
  executor/aggfuncs/func_avg.go
  executor/aggfuncs/func_avg_test.go
  executor/aggfuncs/func_count_distinct.go
  executor/aggfuncs/func_count_test.go
  executor/aggfuncs/func_group_concat.go
  executor/aggfuncs/func_group_concat_test.go
  executor/aggfuncs/func_json_objectagg.go
  executor/aggfuncs/func_json_objectagg_test.go
  executor/aggfuncs/func_sum.go
  executor/aggfuncs/func_sum_test.go
  executor/aggfuncs/func_varpop_test.go
  executor/aggregate.go
  util/hack/hack.go
  util/set/set_with_memory_usage.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none
