Repository pingcap/tidb, pull requests merged in 2022-12, with the labels that each got.

#39495 executor: fix index merge intersection may stuck
  executor/index_merge_reader.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39522 distsql_test: fix TestPartitionTableIndexLookUpReader
  executor/distsql_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39491 ttl: refractor ttl pkg into multiple sub packages
  ttl/cache/BUILD.bazel
  ttl/cache/main_test.go
  ttl/cache/table.go
  ttl/cache/table_test.go
  ttl/session/BUILD.bazel
  ttl/session/main_test.go
  ttl/session/session.go
  ttl/session/session_test.go
  ttl/sqlbuilder/BUILD.bazel
  ttl/sqlbuilder/main_test.go
  ttl/sqlbuilder/sql.go
  ttl/sqlbuilder/sql_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#39417 domain: support dump historical stats in background job
  domain/BUILD.bazel
  domain/domain.go
  domain/historical_stats.go
  executor/analyze.go
  executor/analyzetest/analyze_test.go
  session/session.go
  testkit/mockstore.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39496 br: Fix overlapped ranges
  br/pkg/streamhelper/spans/sorted.go
  br/pkg/streamhelper/spans/sorted_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#39479 expression: implement `regexp_instr` function pushdown
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39460 br: skip compatibility check for the mysql.user table when restoring
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/systable_restore.go
  session/bootstrap.go
Labels: status/LGT2, release-note, status/can-merge, size/M, component/br

#39509 bazel: mirror java_tools
  WORKSPACE
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39461 lightning: add WithDupIndicator to expose status to caller
  br/pkg/lightning/BUILD.bazel
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore.go
  br/pkg/lightning/run_options.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/lightning

#39459 txn: fix alias related bugs for non-transactional DML
  session/nontransactional.go
  session/nontransactional_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39497 server: use advertise addr for autoid service to expose itself
  server/http_status.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39537 planner: set cost model to ver1 for clusters upgrading from pre-6.1 version
  session/bootstrap.go
  session/bootstrap_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none, epic/cost-model

#39473 ddl: reuse chunk for copr-read and check context done
  ddl/export_test.go
  ddl/index.go
  ddl/index_cop.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39541 restore: Adapt the protocol of caching storage
  br/pkg/restore/import.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#39552 server: fix port of autoid_service
  server/http_status.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39513 executor: fix data race on the IndexMergeReaderExecutor
  executor/index_merge_reader.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39505 sessionctx: set default val of EnableOuterJoinReorder to true
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39485 error: print non-printable chars in hex style for duplicate entry error
  ddl/index.go
  executor/insert_test.go
  store/driver/txn/BUILD.bazel
  store/driver/txn/error.go
  types/etc.go
  util/util.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39525 store/copr: support batch coprocessor requests by store
  distsql/request_builder.go
  kv/kv.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/copr/copr_test/coprocessor_test.go
  store/copr/coprocessor.go
  store/copr/region_cache.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#39536 expression: implement `regexp_substr` function pushdown
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39538 planner: fix panic when upgrade from 4.0.16 to master
  session/bootstrap.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/sql-plan-management, size/XS, release-note-none

#39530 executor: add tests for property pushed down for partition table
  executor/partition_table_test.go
  planner/core/task.go
  testkit/testkit.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39457 planner: enrich diagnosis info for plan-cache
  expression/BUILD.bazel
  expression/builtin_compare.go
  expression/builtin_other.go
  planner/core/expression_rewriter.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/optimizer.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
  planner/core/plan_cacheable_checker.go
  sessionctx/stmtctx/stmtctx.go
  util/ranger/detacher.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L, release-note-none

#39500 executor: add globalAnalyzeTracker back
  executor/executor.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39532 statistics: enlarge capacity of ddlEventCh to 1000
  statistics/handle/handle.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#39557 planner: fill plan digest when create binding from existing plan
  bindinfo/bind_test.go
  executor/bind.go
  executor/builder.go
  planner/core/planbuilder.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/sql-plan-management, size/S, release-note-none

#39539 executor: make analyze killable by oom action
  executor/analyze_col_v2.go
  executor/analyze_utils.go
  executor/executor.go
  executor/executor_test.go
  util/memory/memstats.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39531 executor: refactor hashjoin part6
  executor/benchmark_test.go
  executor/builder.go
  executor/join.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39547 planner: prohibit StreamAgg with group keys for TiFlash
  executor/tiflashtest/tiflash_test.go
  planner/core/task.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#39540 util: add unit tests for password validation
  util/password-validation/password_validation_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39534 meta/autoid: fix AUTO_ID_CACHE 1 setting affect row id allocator performance
  ddl/db_integration_test.go
  executor/autoidtest/autoid_test.go
  meta/autoid/autoid.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39549 backup: fix the object lock check with other s3 compatible storage
  br/pkg/storage/s3.go
  br/pkg/storage/s3_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39550 txn: respect txn-total-size-limit if it is manually set
  config/config.go
  session/session.go
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39219 lightning: refine progress for compress files import
  br/pkg/lightning/checkpoints/checkpoints.go
  br/pkg/lightning/mydump/parquet_parser.go
  br/pkg/lightning/mydump/parser.go
  br/pkg/lightning/mydump/region.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore.go
  br/pkg/lightning/web/progress.go
  br/pkg/storage/compress.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/lightning

#39508 plan: refine build plan and skip privilege check for foreign key cascade
  executor/fktest/BUILD.bazel
  executor/fktest/foreign_key_test.go
  executor/foreign_key.go
  planner/core/point_get_plan.go
  planner/optimize.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#39571 import: fix dup-detect failure on index data
  br/pkg/lightning/backend/local/duplicate.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39555 planner: change the stage of count star rewriter rule from logical to post
  cmd/explaintest/r/access_path_selection.result
  cmd/explaintest/r/clustered_index.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/index_merge.result
  planner/core/BUILD.bazel
  planner/core/logical_plan_builder.go
  planner/core/optimizer.go
  planner/core/partition_pruner_test.go
  planner/core/physical_plans.go
  planner/core/rule_column_pruning.go
  planner/core/rule_count_star_rewriter.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#39577 planner: fix create binding for prepare from history can't work
  bindinfo/bind_test.go
  bindinfo/handle.go
  planner/core/planbuilder.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/sql-plan-management, size/S, release-note-none

#39533 expression: Add json_extract, cast(json as string), json_unquote push down support for tiflash
  expression/expr_to_pb_test.go
  expression/expression.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39580 store/copr: disable batch store copr when paging is enabled
  store/copr/copr_test/coprocessor_test.go
  store/copr/coprocessor.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39456 ddl: improve the log messages and refine code
  ddl/index.go
  ddl/index_cop.go
  ddl/ingest/BUILD.bazel
  ddl/ingest/backend.go
  ddl/ingest/disk_root.go
  ddl/ingest/engine.go
  ddl/ingest/engine_mgr.go
  ddl/ingest/env.go
  ddl/ingest/message.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  tests/realtikvtest/addindextest/main_test.go
  util/dbterror/ddl_terror.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, skip-issue-check

#39574 planner, ddl: fix hash partition with adding new column
  ddl/db_test.go
  planner/core/rule_partition_processor.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#39583 ddl: fix issue of add foreign key failed but doesn't rollback
  ddl/foreign_key.go
  ddl/foreign_key_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39587 ddl: move foreign test to speed up ci
  ddl/fktest/BUILD.bazel
  ddl/fktest/foreign_key_test.go
  ddl/fktest/main_test.go
  ddl/foreign_key_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#39544 readme, docs: update architecture, logo, wording
  README.md
  docs/logo_with_text.png
  docs/tidb-architecture.png
  docs/tidb-logo-with-text.png
Labels: status/LGT2, component/docs, status/can-merge, size/M, release-note-none

#39484 mathutil: support exponential average
  util/mathutil/BUILD.bazel
  util/mathutil/exponential_average.go
  util/mathutil/exponential_average_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39581 ttl,ddl: disable ttl for fk and temp table
  ddl/ddl_api.go
  ddl/foreign_key.go
  ddl/ttl.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/ddl_test.go
  util/dbterror/ddl_terror.go
Labels: status/LGT2, status/can-merge, sig/sql-infra, size/M, release-note-none, affects-6.5, needs-cherry-pick-release-6.5

#39596 log-backup: do not rewrite shortvalue iif the value is rollback record.
  br/pkg/stream/meta_kv.go
  br/pkg/stream/meta_kv_test.go
  br/pkg/stream/rewrite_meta_rawkv.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5

#39584 sysvar: fix inconsistency in setting password validation sysvars
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39600 *: simple code for readProjection
  ddl/concurrentddltest/BUILD.bazel
  executor/projection.go
  executor/seqtest/main_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39423 dumpling: Set default driverCfg to use TLS first
  DEPS.bzl
  cmd/explaintest/r/collation_agg_func_disabled.result
  cmd/explaintest/r/collation_agg_func_enabled.result
  cmd/explaintest/r/collation_check_use_collation_disabled.result
  cmd/explaintest/r/collation_misc_disabled.result
  cmd/explaintest/r/collation_misc_enabled.result
  cmd/explaintest/r/collation_pointget_disabled.result
  cmd/explaintest/r/collation_pointget_enabled.result
  cmd/explaintest/r/cte.result
  cmd/explaintest/r/new_character_set_builtin.result
  cmd/explaintest/r/new_character_set_invalid.result
  cmd/explaintest/r/select.result
  dumpling/export/BUILD.bazel
  dumpling/export/config.go
  dumpling/export/dump.go
  dumpling/tests/basic/run.sh
  dumpling/tests/non_exist_tables/run.sh
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39610 br: fix br foreign key test (#39607)
  br/tests/br_foreign_key/run.sh
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#39608 *: fix etcd fail to build on the m1
  DEPS.bzl
  build/patches/io_etcd_go_etcd_raft_v3.patch
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39622 br: fix bug of checkpoint ticker leak
  br/pkg/checkpoint/checkpoint.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39612 statistics: add historical stats testcase
  executor/BUILD.bazel
  executor/analyzetest/analyze_test.go
  executor/historical_stats_test.go
  statistics/handle/gc.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, skip-issue-check

#39604 import: check table empty skips using index
  br/pkg/lightning/restore/check_info_test.go
  br/pkg/lightning/restore/get_pre_info.go
  br/pkg/lightning/restore/get_pre_info_test.go
  br/pkg/lightning/restore/table_restore.go
  br/tests/lightning_check_partial_imported/config.toml
  br/tests/lightning_check_partial_imported/data/db01.tbl01-schema.sql
  br/tests/lightning_check_partial_imported/data/db01.tbl01.csv
  br/tests/lightning_check_partial_imported/run.sh
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39621 txn: fix the panic when memdb grows beyond quota
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5

#39635 ttl: fix data race in `ttlDeleteWorker`
  ttl/ttlworker/del.go
  ttl/ttlworker/scan.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.5

#39630 executor: fix data race in the slowQueryRuntimeStats
  executor/memtable_reader.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39617 planner: update the cost formula of IndexJoin+IndexLookup
  planner/core/plan_cost_ver2.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XS, release-note-none, epic/cost-model, needs-cherry-pick-release-6.5

#39666 *: fix revive false positive with generics
  tools/check/revive.toml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39634 backup: config adjust for checkpoint
  br/pkg/task/backup.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5

#39675 util, executor: fix the problem that GetDatumWithBuffer does set null
  executor/issuetest/executor_issue_test.go
  util/chunk/row.go
Labels: status/LGT2, type/bug-fix, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#39653 br: fix getting region failure with other s3 compatible storage
  br/pkg/storage/s3.go
  br/pkg/storage/s3_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#39663 sessionctx: add TiDBDDLEnableDistributeReorg flag
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/featuretag/distributereorg/BUILD.bazel
  sessionctx/variable/featuretag/distributereorg/default.go
  sessionctx/variable/featuretag/distributereorg/non_default.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39677 *: enable tidb_enable_foreign_key variable default
  br/tests/br_foreign_key/run.sh
  cmd/explaintest/r/explain_foreign_key.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/t/explain_foreign_key.test
  cmd/explaintest/t/tpch.test
  ddl/cancel_test.go
  ddl/db_table_test.go
  ddl/foreign_key_test.go
  ddl/restart_test.go
  ddl/serial_test.go
  executor/fktest/foreign_key_test.go
  executor/set_test.go
  executor/showtest/show_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39347 domain: support plan replayer dump workers running in concurrency
  config/config.go
  domain/domain.go
  domain/plan_replayer.go
  domain/plan_replayer_handle_test.go
  executor/compiler.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#39697 lightning: fix integration test
  br/tests/lightning_fail_fast/run.sh
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.5

#39625 br/streamhelper: added timeout for ticking
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
  br/pkg/streamhelper/config/advancer_conf.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.5

#39645 ddl: handle ErrNotOwner properly for modify column
  ddl/backfilling.go
  ddl/column.go
  ddl/index.go
  ddl/modify_column_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#39706 kvclient: fix the connection array race
  store/tikv/client/client.go
  store/tikv/client/client_test.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/S, cherry-pick-approved, type/cherry-pick-for-release-5.1

#39700 bootstrap: increase current bootstrap version and fix comment
  session/bootstrap.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.5

#39695 *: enable foreign_key_checks variable by default
  ddl/cancel_test.go
  ddl/column_type_change_test.go
  ddl/db_foreign_key_test.go
  ddl/db_integration_test.go
  ddl/serial_test.go
  executor/explain_test.go
  executor/issuetest/executor_issue_test.go
  executor/set_test.go
  executor/showtest/show_test.go
  planner/core/point_get_plan.go
  session/session_test/session_test.go
  sessionctx/variable/tidb_vars.go
Labels: type/compatibility, status/LGT2, release-note, status/can-merge, size/M

#39526 util: add EMA cpu monitor
  DEPS.bzl
  go.mod
  go.sum
  util/cgroup/BUILD.bazel
  util/cgroup/cgroup_cpu.go
  util/cgroup/cgroup_cpu_linux.go
  util/cgroup/cgroup_cpu_test.go
  util/cpu/BUILD.bazel
  util/cpu/cpu.go
  util/cpu/cpu_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#39718 session: fix data race in TestBootstrap
  session/bootstrap_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39655 br: fix integration test cases with `--with-sys-table`
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/tests/br_full_cluster_restore/run.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/br, needs-cherry-pick-release-6.5

#39740 *: fix panic when add index on prefixed pk tables
  ddl/index_cop.go
  table/tables/tables.go
  tests/realtikvtest/addindextest/integration_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5

#39689 br/streamhelper: fix subscribe error
  br/pkg/streamhelper/basic_lib_for_test.go
  br/pkg/streamhelper/flush_subscriber.go
  br/pkg/streamhelper/subscription_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.5

#39704 Revert "planner: update the cost formula of IndexJoin+IndexLookup"
  planner/core/plan_cost_ver2.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XS, release-note-none, epic/cost-model, skip-issue-check

#39747 planner: fix data race in the TestLongBinaryPlan
  planner/core/binary_plan_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#37858 test: fix unstable test TestStaleReadProcessorWithSelectTable
  sessiontxn/staleread/processor_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39756 planner: check error when building INLJ executor
  executor/builder.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#39729 log-backup: set gc disable when restore log
  br/pkg/restore/client.go
  br/pkg/task/stream.go
  br/pkg/utils/db.go
  br/pkg/utils/db_test.go
Labels: status/LGT2, status/can-merge, size/L, needs-cherry-pick-release-6.5

#39765 ddl: Stabilise TestAlterModifyColumnOnPartitionedTableFail, due to #38669
  ddl/db_partition_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39673 lightning: record network usage
  br/pkg/lightning/BUILD.bazel
  br/pkg/lightning/common/util.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/restore/tidb.go
  br/tests/lightning_record_network/config.toml
  br/tests/lightning_record_network/data/db-schema-create.sql
  br/tests/lightning_record_network/data/db.test-schema.sql
  br/tests/lightning_record_network/data/db.test.1.sql
  br/tests/lightning_record_network/run.sh
  util/BUILD.bazel
  util/util.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/lightning

#39720 variable: fix outdated time shift for variable with `TypeTime`
  sessionctx/variable/variable.go
  sessionctx/variable/variable_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-release-6.5

#39661 sessionctx: move shardRand from TransactionContext to SessionVars to reduce allocation
  executor/insert_common.go
  session/bench_test.go
  sessionctx/variable/session.go
  table/tables/tables.go
Labels: type/enhancement, status/LGT2, status/can-merge, size/M, release-note-none

#33535 *: support disaggregated tiflash
  config/config.go
  domain/domain.go
  executor/tiflashtest/tiflash_test.go
  go.mod
  planner/core/BUILD.bazel
  planner/core/find_best_task.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/task.go
  session/session.go
  store/copr/BUILD.bazel
  store/copr/batch_coprocessor.go
  store/copr/batch_coprocessor_test.go
  store/copr/batch_request_sender.go
  store/copr/mpp.go
  store/copr/store.go
  util/engine/engine.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#39627 ttl: add methods to split ttl scan tasks
  ttl/cache/BUILD.bazel
  ttl/cache/split_test.go
  ttl/cache/table.go
  ttl/sqlbuilder/sql.go
  ttl/sqlbuilder/sql_test.go
  ttl/ttlworker/scan.go
  ttl/ttlworker/scan_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-6.5

#39769 ddl: unregister add index job after DDL done
  ddl/index.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#39770 log-backup: PITR do not support batch if skip requirement check
  br/pkg/version/version.go
  br/pkg/version/version_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-release-6.5

#39734 executor: fix issue of execute prepared DML panic with foreign key cascade
  executor/fktest/foreign_key_test.go
  planner/core/encode.go
  planner/core/flat_plan.go
  planner/core/hints.go
  planner/core/plan_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#39783 *: close recordset
  session/bootstrap_test.go
  session/main_test.go
  types/const_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39742 sessionctx/stmtctx: do not use copy-on-read for GetWarnings function
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39623 lightning: update to new TLS API of SQL driver
  br/cmd/tidb-lightning-ctl/main.go
  br/pkg/lightning/common/util.go
  br/pkg/lightning/config/BUILD.bazel
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/restore/tidb.go
  dumpling/export/config.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39650 br: add retry for azblob read file
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/azblob.go
  br/pkg/storage/azblob_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#39772 copr: fix data race in the mppIterator
  store/copr/mpp.go
Labels: status/LGT2, release-note, status/can-merge, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#39766 testkit: set GOMAXPROCS in test
  ddl/concurrentddltest/BUILD.bazel
  executor/BUILD.bazel
  session/BUILD.bazel
  testkit/BUILD.bazel
  testkit/testkit.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39701 statistics: support download history stats from stats_history
  server/statistics_handler.go
  server/statistics_handler_test.go
  statistics/handle/ddl.go
  statistics/handle/dump.go
  statistics/handle/handle.go
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, skip-issue-check

#39796 ddl: mark the writes from delete-only and drop them on merge
  ddl/index_merge_tmp.go
  ddl/index_merge_tmp_test.go
  table/tables/index.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#39799 ddl: mark the writes from delete-only and drop them on merge (#39796)
  ddl/index.go
  ddl/index_merge_tmp.go
  ddl/index_merge_tmp_test.go
  table/tables/index.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#39798 fix: update ioutil func&pruning case
  util/printer.go
  util/util.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39774 dumpling: meter network usage
  dumpling/export/BUILD.bazel
  dumpling/export/config.go
  dumpling/export/dump.go
  dumpling/tests/basic/run.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/dumpling

#39805 staleread: fix flaky test TestStaleReadProcessorWithExecutePreparedStmt
  sessiontxn/staleread/processor_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39802 domain: fix data race in the MockInfoCacheAndLoadInfoSchema
  ddl/concurrentddltest/BUILD.bazel
  domain/test_helper.go
  executor/BUILD.bazel
  executor/seqtest/BUILD.bazel
  infoschema/cache.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39797 *: upgrade rules_go
  WORKSPACE
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39616 *: Add backfill job related tables and operations
  ddl/backfilling.go
  ddl/constant.go
  ddl/ddl_test.go
  ddl/ddl_worker.go
  ddl/job_table.go
  ddl/job_table_test.go
  executor/infoschema_cluster_table_test.go
  meta/meta.go
  meta/meta_test.go
  parser/model/ddl.go
  parser/model/ddl_test.go
  session/session.go
  session/session_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#39825 *: stable tiflash test in ddl
  ddl/BUILD.bazel
  ddl/placement_sql_test.go
  ddl/tiflashtest/BUILD.bazel
  ddl/tiflashtest/ddl_tiflash_test.go
  ddl/tiflashtest/main_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39850 fix: update ioutil.readall
  br/pkg/storage/memstore_test.go
  executor/set_test.go
  parser/consistent_test.go
  parser/format/format_test.go
  parser/reserved_words_test.go
  planner/core/binary_plan_test.go
  server/plan_replayer.go
  server/plan_replayer_test.go
  statistics/handle/dump.go
  util/cpuprofile/cpuprofile_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39828 planner: add three fields to statement summary table
  cmd/explaintest/r/index_merge.result
  infoschema/tables.go
  infoschema/tables_test.go
  util/stmtsummary/reader.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/sql-plan-management, size/M, release-note-none

#39822 ddl: fix unexpect fail when create expression index
  ddl/backfilling.go
  ddl/column.go
  ddl/db_change_test.go
  ddl/index.go
  ddl/partition.go
  ddl/reorg.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#39853 ttl: ouput TTL comment format when show create table
  executor/BUILD.bazel
  executor/ddl_test.go
  executor/show.go
  executor/showtest/show_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#39791 dumpling: add enable paging for tidb server
  dumpling/export/BUILD.bazel
  dumpling/export/dump.go
  dumpling/export/dump_test.go
  dumpling/export/sql_test.go
  dumpling/export/writer_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/dumpling

#39840 planner: support explain format='cost_trace' on model ver2
  planner/core/cbo_test.go
  planner/core/common_plans.go
  types/explain_format.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none, epic/cost-model

#39865 *: fix slow query nil pointer panic when get session for TTL
  executor/adapter.go
  ttl/ttlworker/session.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.5

#39849 ttl: Add metrics for TTL
  metrics/BUILD.bazel
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/ttl.go
  ttl/metrics/BUILD.bazel
  ttl/metrics/metrics.go
  ttl/metrics/metrics_test.go
  ttl/session/BUILD.bazel
  ttl/session/session.go
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/del.go
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/scan.go
  ttl/ttlworker/session.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-6.5

#39873 planner: rename `general plan cache` to `non-prepared plan cache`
  executor/prepared.go
  expression/function_traits.go
  planner/core/plan_cache.go
  planner/core/plan_cache_param.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
  planner/core/plan_cacheable_checker.go
  planner/core/plan_cacheable_checker_test.go
  planner/optimize.go
  session/session.go
  sessionctx/context.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
  sessionctx/variable/sysvar.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L, release-note-none

#39881 planner: rename 'tidb_enable_general_plan_cache' and 'tidb_general_plan_cache_size' to 'tidb_enable_non_prepared_plan_cache' and 'tidb_non_prepared_plan_cache_size'
  executor/set_test.go
  planner/core/plan_cache_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#39737 planner: binding from cluster statements summary
  bindinfo/bind_test.go
  executor/tiflashtest/BUILD.bazel
  executor/tiflashtest/tiflash_test.go
  infoschema/BUILD.bazel
  infoschema/cluster_tables_test.go
  planner/core/planbuilder.go
  util/stmtsummary/BUILD.bazel
  util/stmtsummary/statement_summary.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/sql-plan-management, size/XL, release-note-none

#39878 ttl: modify default value of `tidb_ttl_delete_batch_size` to 100
  metrics/grafana/tidb.json
  sessionctx/variable/tidb_vars.go
  ttl/metrics/metrics.go
  ttl/ttlworker/del.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5

#39879 ddl: close lightning writers after the import is complete
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/manual/BUILD.bazel
  br/pkg/lightning/manual/allocator.go
  ddl/ingest/engine.go
  ddl/ingest/message.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39838 store/copr: handle region error from client
  store/copr/coprocessor.go
  store/copr/region_cache.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39870 docs: fix typos
  br/COMPATIBILITY_TEST.md
  docs/design/2019-11-05-index-advisor.md
  docs/design/2020-01-24-collations.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39843 SlowLog: Update `Wait_TS` field in slow log for every sql
  executor/executor.go
  sessiontxn/isolation/readcommitted.go
  sessiontxn/isolation/repeatable_read.go
  sessiontxn/isolation/repeatable_read_test.go
  sessiontxn/txn_rc_tso_optimize_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39861 session: fix a bug for InitDDLJobTables
  session/session.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39891 ttl: reschedule scan tasks after update task state
  ttl/ttlworker/job_manager.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5

#39896 ttl: TTL support split scan ranges for some primary key with more than one columns
  metrics/grafana/tidb.json
  ttl/cache/split_test.go
  ttl/cache/table.go
  ttl/sqlbuilder/sql.go
  ttl/sqlbuilder/sql_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5

#39867 expression: support `json_overlaps` function
  executor/showtest/show_test.go
  expression/builtin.go
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/builtin_json_vec.go
  expression/integration_test.go
  parser/ast/functions.go
  types/json_binary_functions.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39900 executor, planner: `InitLogger` before `CreateMockStore` in tests to avoid data race
  executor/slow_query_sql_test.go
  planner/core/binary_plan_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39835 statistics: add source column for stats_meta_hisotry table
  executor/analyze.go
  executor/analyze_global_stats.go
  executor/analyze_worker.go
  executor/historical_stats_test.go
  session/bootstrap.go
  session/bootstrap_upgrade_test.go
  statistics/handle/BUILD.bazel
  statistics/handle/ddl.go
  statistics/handle/dump.go
  statistics/handle/dump_test.go
  statistics/handle/handle.go
  statistics/handle/historical_stats_handler.go
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, skip-issue-check

#39918 ttl: fix ttl txn will not return error when rolling back
  ttl/session/session.go
  ttl/session/session_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5

#39887 br: make more sane variables of ticking timeout
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_cliext.go
  br/pkg/streamhelper/config/advancer_conf.go
  br/pkg/streamhelper/integration_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-release-6.5

#39880 expression: support `member of` function
  executor/showtest/show_test.go
  expression/builtin.go
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/builtin_json_vec.go
  expression/integration_test.go
  types/json_binary.go
  types/json_binary_functions.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39935 br: fix err overwrite
  br/pkg/task/stream.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.5

#39931 ttl: add log in the whole lifecycle of a job
  ttl/ttlworker/job.go
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/job_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#39939 ttl: periodically update state for a job in heartbeat
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/job.go
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/job_test.go
  ttl/ttlworker/scan.go
  ttl/ttlworker/scan_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5

#39936 *: lock row keys during merging back from temp index
  ddl/index_merge_tmp.go
  ddl/index_merge_tmp_test.go
  executor/insert.go
  executor/replace.go
  go.mod
  table/tables/index.go
  table/tables/mutation_checker.go
  tablecodec/tablecodec.go
  tablecodec/tablecodec_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-6.5

#39956 ttl: initialize notifyStateCh in ttl job manager
  ttl/ttlworker/job_manager.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.5

#39739 domain, statistics: periodically update stats healthy distribution
  domain/domain.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39958 ttl: enable 1pc for ttl delete
  ttl/ttlworker/session.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5

#39927 *: revert 38302 for release 6.5
  ddl/backfilling.go
  ddl/column.go
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/failtest/fail_db_test.go
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#39952 docs/design: format the name of 'Adding-Index-Acceleration' RFC.
  docs/design/2022-06-07-adding-index-acceleration.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#39946 *: fix auto analyze worker crash when killed by global memory limit
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.5

#35982 doc: add a proposal for foreign key
  docs/design/2022-06-22-foreign-key.md
Labels: proposal, status/LGT2, status/can-merge, feature/discussing, size/XXL, release-note-none

#39926 domain: Support plan replayer continus capture
  domain/BUILD.bazel
  domain/domain.go
  domain/plan_replayer.go
  domain/plan_replayer_dump.go
  domain/plan_replayer_handle_test.go
  domain/plan_replayer_test.go
  executor/BUILD.bazel
  executor/compiler.go
  executor/executor_test.go
  executor/plan_replayer.go
  planner/core/collect_column_stats_usage.go
  server/BUILD.bazel
  server/plan_replayer.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  util/replayer/BUILD.bazel
  util/replayer/replayer.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, skip-issue-check

#39970 expression, json: fix cast json as string with shorter length
  expression/builtin_cast.go
  expression/builtin_cast_test.go
  expression/builtin_cast_vec.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#39736 sessionctx, executor: fix failure of reading MaxPreparedStmtCount
  executor/prepared_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39962 resourcemanger: create cpu monitor
  build/nogo_config.json
  resourcemanager/BUILD.bazel
  resourcemanager/rm.go
  tidb-server/BUILD.bazel
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#39950 *: prevent cursor read from being cancelled by GC
  ddl/db_test.go
  domain/infosync/info.go
  server/BUILD.bazel
  server/conn_stmt.go
  server/conn_stmt_test.go
  server/driver_tidb.go
  server/driver_tidb_test.go
  server/server.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
  testkit/mocksessionmanager.go
  util/processinfo.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#39914 dumpling: supports foreign key limitations
  dumpling/export/dump.go
  dumpling/export/ir.go
  dumpling/export/ir_impl.go
  dumpling/export/writer.go
  dumpling/export/writer_test.go
  dumpling/tests/file_size/run.sh
  dumpling/tests/naughty_strings/data/naughty_strings.escape.sql
  dumpling/tests/naughty_strings/data/naughty_strings.t.sql
  dumpling/tests/naughty_strings/expect/naughty_strings.escape.sql
  dumpling/tests/naughty_strings/expect/naughty_strings.t.sql
  dumpling/tests/placement_policy/result/x-placement-policy-create.sql
  dumpling/tests/placement_policy/result/x1-placement-policy-create.sql
  dumpling/tests/primary_key/result/pk_case_0.sql
  dumpling/tests/primary_key/result/pk_case_1.sql
  dumpling/tests/primary_key/result/pk_case_2.sql
  dumpling/tests/primary_key/result/pk_case_3.sql
  dumpling/tests/quote/data/quote-database-schema-create-mysql57.sql
  dumpling/tests/quote/data/quote-database-schema-create.sql
  dumpling/tests/quote/data/quote-database.quote-table-schema-mysql57.sql
  dumpling/tests/quote/data/quote-database.quote-table-schema.sql
  dumpling/tests/quote/data/quote-database.quote-table.000000000-mysql57.sql
  dumpling/tests/quote/data/quote-database.quote-table.000000000.sql
  dumpling/tests/rows/run.sh
  dumpling/tests/sequences/data/sequences.s-schema-sequence-expect.sql
  dumpling/tests/views/data/views-schema-create.sql
  dumpling/tests/views/data/views.v-schema-view.sql
  dumpling/tests/views/data/views.v-schema.sql
Labels: status/LGT2, status/can-merge, size/L, release-note-none
