Repository pingcap/tidb, pull requests merged in 2022-09, with the labels that each got.

#37517 br: fix DATA RACE in RecordStores when getting store length
  br/pkg/restore/client_test.go
Labels: status/LGT2, component/test, status/can-merge, size/M, release-note-none, component/br

#37529 *: merge feature/flashback-cluster to master
  ddl/BUILD.bazel
  ddl/cluster.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/schematracker/checker.go
  ddl/schematracker/dm_tracker.go
  domain/infosync/BUILD.bazel
  domain/infosync/info.go
  domain/infosync/schedule_manager.go
  executor/BUILD.bazel
  executor/ddl.go
  executor/recover_table_test.go
  executor/recover_test.go
  meta/meta.go
  parser/ast/ddl.go
  parser/misc.go
  parser/model/ddl.go
  parser/parser.y
  parser/parser_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#37413 *: upgrade glangci-linter
  .cilinter.yaml
  DEPS.bzl
  br/pkg/lightning/restore/tidb.go
  br/pkg/logutil/context.go
  br/pkg/restore/log_client_test.go
  build/BUILD.bazel
  build/linter/revive/analyzer.go
  build/nogo_config.json
  build/patches/com_github_kisielk_errcheck.patch
  build/patches/com_github_rivo_uniseg.patch
  executor/show.go
  expression/builtin_time.go
  go.mod
  go.sum
  server/conn.go
  session/session.go
  statistics/table.go
  table/tables/mutation_checker.go
  table/tables/partition.go
  telemetry/data_slow_query.go
  util/dbutil/index.go
  util/parser/parser.go
  util/sqlexec/restricted_sql_executor.go
  util/stmtsummary/statement_summary_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#37532 ddl: fix putting an item to the closed `newDDLWorkerPool` issue
  ddl/ddl_workerpool.go
  ddl/ddl_workerpool_test.go
Labels: status/LGT2, type/bug-fix, status/can-merge, severity/moderate, size/M, release-note-none

#37402 expression: parse the value if convert `enum/set` to json
  ddl/column_type_change_test.go
  types/datum.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37384 sessionctx: enable clustered index by default
  session/session.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, compatibility-breaker, size/XS, release-note-none, skip-issue-check

#37547 executor: do not acqurie pessimistic lock for non-unique index keys (#36229)
  session/tidb_test.go
  session/txn.go
  tablecodec/tablecodec.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#37519 planner: refactor PrepareExecutor
  ddl/BUILD.bazel
  domain/infosync/BUILD.bazel
  executor/BUILD.bazel
  executor/adapter.go
  executor/compiler.go
  executor/metrics_reader_test.go
  executor/prepared.go
  parser/ast/ast.go
  planner/core/errors.go
  planner/core/plan_cache_utils.go
  planner/optimize.go
  session/session.go
  sessionctx/variable/BUILD.bazel
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/XL, release-note-none

#36473 txn: support skipping locking of some INSERT in pessimistic transactions
  DEPS.bzl
  docs/design/2022-08-04-pessimistic-lazy-constraint-check.md
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/adapter.go
  executor/errors.go
  go.mod
  go.sum
  kv/interface_mock_test.go
  kv/keyflags.go
  kv/kv.go
  metrics/session.go
  metrics/telemetry.go
  session/schema_amender.go
  session/schema_amender_test.go
  session/txn.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/driver/txn/txn_driver.go
  store/driver/txn/unionstore_driver.go
  store/mockstore/unistore/tikv/mvcc.go
  store/mockstore/unistore/tikv/mvcc_test.go
  table/tables/index.go
  table/tables/tables.go
  telemetry/data.go
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#37444 planner, statistics: refine stats loaded status and when to use pseudo stats
  executor/show_stats.go
  planner/core/logical_plan_builder.go
  statistics/handle/bootstrap.go
  statistics/handle/ddl_test.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/handle_test.go
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/integration_test.go
  statistics/table.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37553 ddl: reduce the log for drop non-existent table
  ddl/ddl_api.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#37524 lightning: mydumper loader supports max scan files option
  br/pkg/lightning/common/errors.go
  br/pkg/lightning/mydump/BUILD.bazel
  br/pkg/lightning/mydump/loader.go
  br/pkg/lightning/mydump/loader_test.go
  br/pkg/lightning/restore/precheck.go
  errors.toml
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37534 planner: fix index merge hint case sensitive
  planner/core/stats.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37498 planner: fix partition table getting error result when select `TIKV_REGION_STATUS` with `table_id`.
  executor/infoschema_reader.go
  planner/core/memtable_predicate_extractor_test.go
Labels: status/LGT2, release-note, status/can-merge, severity/major, size/M

#37461 expression: fix that the result of expression castRealAsTime is inconsistent with mysql
  expression/builtin_cast.go
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
  expression/integration_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.1

#37563 owner: fix the unstable test of `TestCluster`
  owner/manager_test.go
Labels: status/LGT2, component/test, status/can-merge, severity/moderate, size/S, release-note-none

#36667 planner: support hash_join_build and hash_join_probe hints
  cmd/explaintest/r/clustered_index.result
  planner/core/exhaust_physical_plans.go
  planner/core/hints.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/planbuilder.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#37558 server: add debug log
  Makefile
  go.mod
  server/conn.go
  server/conn_stmt.go
  server/conn_test.go
  sessionctx/variable/session.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#37542 ddl: get key ranges for `flashback cluser` ddl job
  ddl/BUILD.bazel
  ddl/cluster.go
  ddl/cluster_test.go
  ddl/ddl_api.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#37516 *: add a config to enable write statements to read on TiFlash
  planner/core/integration_test.go
  planner/optimize.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37576 executor: fix flaky TestDefaultValForAnalyze
  executor/analyze.go
  executor/analyzetest/analyze_test.go
  executor/builder.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37570 util: fix unstable tests
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37541 expression: forbid binary string to be json key
  executor/aggfuncs/func_json_objectagg.go
  executor/aggfuncs/func_json_objectagg_test.go
  expression/aggregation/base_func.go
  expression/builtin_json.go
  expression/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37406 br: update leader selection, scheduler resume, 2nd phase restore progress and wait apply
  br/cmd/br/restore.go
  br/pkg/config/ebs.go
  br/pkg/errors/errors.go
  br/pkg/pdutil/pd.go
  br/pkg/restore/data.go
  br/pkg/task/backup_ebs.go
  br/pkg/task/restore_data.go
  br/pkg/task/restore_ebs_meta.go
  go.mod
  go.sum
Labels: status/LGT1, type/new-feature, size/XXL, release-note-none

#37572 lightning: refine error message for empty schema file
  br/pkg/lightning/mydump/csv_parser.go
  br/pkg/lightning/mydump/loader.go
  br/pkg/lightning/mydump/loader_test.go
  br/pkg/lightning/mydump/parquet_parser.go
  br/pkg/lightning/mydump/parquet_parser_test.go
  br/pkg/lightning/mydump/parser.go
  br/pkg/lightning/mydump/reader.go
  br/pkg/lightning/mydump/region.go
  br/pkg/lightning/mydump/router.go
  build/nogo_config.json
Labels: status/LGT2, status/can-merge, size/L

#37582 planner: fix update plan's projection elimination will cause column resolution error.
  planner/core/cbo_test.go
  planner/core/logical_plan_builder.go
  planner/core/optimizer.go
  planner/core/rule_eliminate_projection.go
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.1

#37587 infoschema: check hidden sysvars for SEM
  executor/infoschema_reader.go
  executor/show.go
  infoschema/tables.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#37599 cherry-pick: fix update plan's projection elimination will cause column resolution error. (#37582)
  planner/core/cbo_test.go
  planner/core/logical_plan_builder.go
  planner/core/optimizer.go
  planner/core/rule_eliminate_projection.go
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, release-note, status/can-merge, size/S, cherry-pick-approved

#37366 expression: support lead/lag push down to tiflash
  expression/aggregation/base_func.go
  expression/aggregation/window_func.go
  planner/core/exhaust_physical_plans.go
  planner/core/testdata/window_push_down_suite_out.json
Labels: status/LGT2, release-note, status/can-merge, size/M

#37591 lightning: change the caching mechanism for pre-info-getter
  br/pkg/lightning/restore/BUILD.bazel
  br/pkg/lightning/restore/check_info.go
  br/pkg/lightning/restore/check_info_test.go
  br/pkg/lightning/restore/get_pre_info.go
  br/pkg/lightning/restore/get_pre_info_opts.go
  br/pkg/lightning/restore/get_pre_info_test.go
  br/pkg/lightning/restore/mock/BUILD.bazel
  br/pkg/lightning/restore/mock/mock.go
  br/pkg/lightning/restore/opts/BUILD.bazel
  br/pkg/lightning/restore/opts/get_pre_info_opts.go
  br/pkg/lightning/restore/opts/precheck_opts.go
  br/pkg/lightning/restore/precheck.go
  br/pkg/lightning/restore/precheck_impl_test.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/restore_test.go
  br/pkg/lightning/restore/table_restore_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#37575 expression: `json_merge_xx` should check argument type
  errors.toml
  expression/builtin_json.go
  expression/errors.go
  expression/integration_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#37423 planner: replace simple LRU with plan cache LRU
  executor/seqtest/prepared_test.go
  expression/integration_serial_test.go
  infoschema/tables_test.go
  planner/core/plan_cache.go
  planner/core/plan_cache_lru.go
  planner/core/plan_cache_lru_test.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
  planner/core/prepare_test.go
  session/session.go
  sessionctx/context.go
  util/mock/context.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L, release-note-none

#37605 br: Add scatter timeout
  br/pkg/pdutil/pd.go
  br/pkg/restore/split.go
  br/pkg/restore/split/client.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.1

#37602 test: enable race for with real tikv
  ddl/BUILD.bazel
  tests/realtikvtest/statisticstest/BUILD.bazel
  tests/realtikvtest/txntest/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#37610 planner: fix idxHJ/idxMJ with wrong self pointer
  planner/core/initialize.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#37615 lightning: enable nogo checks for restore-opts
  br/pkg/lightning/restore/opts/precheck_opts.go
  build/nogo_config.json
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37598 br: increased PD time out
  br/pkg/pdutil/pd.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
Labels: status/LGT2, release-note, status/can-merge, size/S, cherry-pick-approved

#37343 planner: fix show View Privilege behave for view table
  executor/explain_test.go
  planner/core/logical_plan_builder.go
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/M

#37601 ddl, parser: fix resume pd schedule and cancel for `flashback cluster`
  ddl/cluster.go
  ddl/cluster_test.go
  parser/model/ddl.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#37613 planner: implement a parameterizer for general plan cache based on the current parser
  planner/core/plan_cache_param.go
  planner/core/plan_cache_param_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L, release-note-none

#37622 test: fix parsing ill-formed TiDB version will panic
  .github/workflows/integration-test-dumpling.yml
  br/pkg/version/version.go
  br/pkg/version/version_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#37419 executor: fix incorrect `ORDINAL_POSITION` for `INFORMAITON_SCHEMA`.`COLUMNS` table
  executor/infoschema_reader.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/XS, compatibility-mysql8

#37630 *: upgrade prometheus client
  DEPS.bzl
  executor/seqtest/BUILD.bazel
  expression/BUILD.bazel
  go.mod
  go.sum
  infoschema/BUILD.bazel
  planner/core/BUILD.bazel
  sessionctx/BUILD.bazel
  types/BUILD.bazel
  util/mock/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37521 ddl/ingest: add the management infra for lightning struct
  br/pkg/lightning/backend/backend.go
  ddl/ingest/BUILD.bazel
  ddl/ingest/backend.go
  ddl/ingest/backend_mgr.go
  ddl/ingest/config.go
  ddl/ingest/disk_root.go
  ddl/ingest/engine.go
  ddl/ingest/engine_mgr.go
  ddl/ingest/env.go
  ddl/ingest/env_test.go
  ddl/ingest/mem_root.go
  ddl/ingest/mem_root_test.go
  ddl/ingest/message.go
  ddl/lightning/BUILD.bazel
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#37607 ddl: Check the ResolvedTS during the preparation.
  ddl/cluster.go
  ddl/cluster_test.go
  executor/recover_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37635 parser: support do some adminStmt in read-only mode
  executor/executor_test.go
  parser/ast/util.go
  tests/readonlytest/readonly_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#37623 *: enable mock session manager and schemaLease for all unit tests
  bindinfo/BUILD.bazel
  bindinfo/bind_test.go
  ddl/db_change_test.go
  ddl/db_test.go
  ddl/multi_schema_change_test.go
  ddl/serial_test.go
  executor/brie_test.go
  executor/cluster_table_test.go
  executor/executor_issue_test.go
  executor/executor_pkg_test.go
  executor/executor_test.go
  executor/explainfor_test.go
  executor/index_merge_reader_test.go
  executor/infoschema_cluster_table_test.go
  executor/join_test.go
  executor/merge_join_test.go
  executor/prepared_test.go
  executor/sort_test.go
  expression/integration_test.go
  infoschema/cluster_tables_test.go
  infoschema/tables_test.go
  sessiontxn/txn_context_test.go
  testkit/BUILD.bazel
  testkit/mocksessionmanager.go
  testkit/mockstore.go
  testkit/testkit.go
  testkit/testutil/BUILD.bazel
  tests/realtikvtest/testkit.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, skip-issue-check

#37538 ddl: decoupling of backfill worker and reorg worker codes, add backfill workerPool
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl_workerpool.go
  ddl/ddl_workerpool_test.go
  ddl/index.go
Labels: status/LGT2, status/can-merge, type/feature-request, size/L, release-note-none

#37486 br: handle special character in SQL
  br/pkg/storage/parse_test.go
  executor/brie.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/br, needs-cherry-pick-5.4, needs-cherry-pick-6.1

#37636 planner: support general plan cacheable checker
  expression/function_traits.go
  planner/core/plan_cacheable_checker.go
  planner/core/plan_cacheable_checker_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L, release-note-none

#37634 planner: get plan from the general plan cache before optimization
  planner/core/plan_cache.go
  planner/core/plan_cache_param.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
  planner/optimize.go
  server/conn.go
  session/session.go
  testkit/testkit.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L

#37642 br: fix comments & compile
  Makefile
  br/cmd/br/restore.go
  br/pkg/task/restore_data.go
  go.sum
Labels: status/LGT1, size/S, release-note-none, component/br

#37606 parser: correctly escape placement options
  parser/model/model.go
  parser/model/model_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.1

#37643 util: use channel.Clear to empty channel
  executor/distsql.go
  executor/executor.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_merge_join.go
  executor/join.go
  executor/shuffle.go
  sessiontxn/BUILD.bazel
  util/channel/channel.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37625 store: sets flagPreviousPresumeKNE after when a stmt finishes which sets Pre…
  DEPS.bzl
  docs/design/2022-08-04-pessimistic-lazy-constraint-check.md
  go.mod
  go.sum
  kv/keyflags.go
  kv/kv.go
  session/txn.go
  store/driver/txn/unionstore_driver.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37624 planner: Expression memory trace
  expression/builtin.go
  expression/builtin_vectorized.go
  expression/column.go
  expression/constant.go
  expression/expression.go
  expression/expression_test.go
  expression/scalar_function.go
  expression/util_test.go
  parser/types/field_type.go
  util/memory/tracker.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#36824 executor: disable closest replica read if cluster is not balanced
  domain/domain.go
  domain/domain_test.go
  domain/infosync/info.go
  executor/builder.go
  executor/point_get.go
  sessionctx/variable/session.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#36797 sessionctx/variable: turn off TiDBEnablePseudoForOutdatedStats by default
  session/session.go
  sessionctx/variable/tidb_vars.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/integration_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37656 test: correct TestAllHistory
  server/http_handler_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37637 executor: let plan replayer support load bindings
  executor/plan_replayer.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37184 ddl: Delete TiFlash sync status from etcd when table is truncated or dropped
  ddl/ddl_tiflash_test.go
  ddl/table.go
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1, needs-cherry-pick-6.2

#37479 *: adjust TLS behaviour for dumpling and lightning
  br/pkg/lightning/common/security.go
  br/pkg/lightning/common/security_test.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/lightning.go
  dumpling/export/config.go
  dumpling/export/dump.go
  go.mod
  util/security.go
  util/security_test.go
  util/tls_test/ca.key
  util/tls_test/ca.pem
  util/tls_test/client1.key
  util/tls_test/client1.pem
  util/tls_test/client2.key
  util/tls_test/client2.pem
  util/tls_test/generate.sh
  util/tls_test/server.key
  util/tls_test/server.pem
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.1

#37670 ddl: expose BuildTableInfoWithStmt for DM
  ddl/ddl_api.go
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#37662 ddl: add logs to backfill worker and refactor some methods
  br/pkg/lightning/backend/backend.go
  build/nogo_config.json
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl_test.go
  ddl/ddl_workerpool_test.go
  ddl/index.go
  ddl/ingest/engine_mgr.go
  ddl/reorg.go
  ddl/stat_test.go
  infoschema/tables.go
  table/table.go
  table/tables/tables.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37627 executor: add cache padding for lock of RowContainer
  util/chunk/row_container.go
Labels: type/enhancement, status/LGT2, status/can-merge, size/S, release-note-none

#37663 linter: fix unconvert output
  DEPS.bzl
  br/pkg/task/stream.go
  build/linter/unconvert/BUILD.bazel
  build/linter/unconvert/analysis.go
  domain/BUILD.bazel
  go.mod
  go.sum
  planner/core/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37565 placement: refine sugar syntax rules generation
  ddl/placement/bundle.go
  ddl/placement/bundle_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37235 *: refine github actions and makefile
  .github/labeler.yml
  .github/licenserc.yml
  .github/workflows/integration-test-br-compatibility.yml
  .github/workflows/integration-test-compile-br.yml
  .github/workflows/integration-test-dumpling-common.yml
  .github/workflows/integration-test-dumpling.yml
  .github/workflows/labeler.yml
  .github/workflows/license-checker.yml
  .github/workflows/misc.yml
  Makefile
  Makefile.common
  br/revive.toml
  dumpling/README.md
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XL, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.1

#37573 planner: fallback to static plan for partition table if having no global stats in dynamic prune mode
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/select.result
  cmd/explaintest/t/generated_columns.test
  cmd/explaintest/t/select.test
  ddl/db_partition_test.go
  executor/analyzetest/analyze_test.go
  executor/builder.go
  executor/distsql_test.go
  executor/executor.go
  executor/executor_issue_test.go
  executor/index_lookup_join_test.go
  executor/partition_table_test.go
  executor/show_stats.go
  executor/tiflashtest/tiflash_test.go
  executor/write_test.go
  planner/cascades/integration_test.go
  planner/core/access_object.go
  planner/core/cbo_test.go
  planner/core/collect_column_stats_usage_test.go
  planner/core/explain.go
  planner/core/find_best_task.go
  planner/core/integration_partition_test.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/partition_pruner_test.go
  planner/core/physical_plan_test.go
  planner/core/plan_to_pb.go
  planner/core/point_get_plan_test.go
  planner/core/rule_join_reorder_test.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  statistics/handle/handle_test.go
  statistics/integration_test.go
  table/tables/partition_test.go
Labels: status/LGT2, status/can-merge, size/L

#37691 lightning: add retryable error on checksum
  br/pkg/lightning/common/retry.go
  br/pkg/lightning/common/retry_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/lightning, needs-cherry-pick-6.1

#37703 *: remove cockroach deps
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/config/BUILD.bazel
  ddl/BUILD.bazel
  dumpling/export/BUILD.bazel
  go.mod
  planner/cascades/BUILD.bazel
  testkit/testfork/BUILD.bazel
  testkit/testfork/fork.go
  util/BUILD.bazel
  util/chunk/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#36193 *: Support for `tidb_sm3_password` authentication
  executor/reload_expr_pushdown_blacklist.go
  executor/showtest/show_test.go
  executor/simple.go
  expression/builtin.go
  expression/builtin_convert_charset.go
  expression/builtin_encryption.go
  expression/builtin_encryption_vec.go
  expression/builtin_encryption_vec_test.go
  expression/collation.go
  expression/integration_test.go
  expression/typeinfer_test.go
  parser/ast/functions.go
  parser/ast/misc.go
  parser/auth/BUILD.bazel
  parser/auth/caching_sha2.go
  parser/auth/caching_sha2_test.go
  parser/auth/tidb_sm3.go
  parser/auth/tidb_sm3_test.go
  parser/mysql/const.go
  parser/parser_test.go
  privilege/privileges/privileges.go
  server/conn.go
  server/conn_test.go
  sessionctx/variable/sysvar.go
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#36925 log-backup: restore the merge small backup files.
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/import.go
  br/pkg/restore/log_client_test.go
  br/pkg/restore/stream_metas.go
  br/pkg/restore/stream_metas_test.go
  br/pkg/storage/azblob.go
  br/pkg/stream/BUILD.bazel
  br/pkg/stream/rewrite_meta_rawkv.go
  br/pkg/stream/stream_mgr.go
  br/pkg/stream/util.go
  br/pkg/stream/util_test.go
  br/pkg/task/stream.go
  br/pkg/task/stream_test.go
  go.mod
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#37704 *: upgrade golangci-linter
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37706 sessionctx/variable: add system variable tidb_opt_range_max_size
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37626 session, planner: add a session variable "tidb_opt_force_inline_cte"
  executor/set_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/physical_plan_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#37648 *: small refactoring for metadata lock
  ddl/ddl_worker.go
  ddl/job_table.go
  ddl/syncer/syncer.go
  ddl/util/util.go
  domain/infosync/info.go
  infoschema/infoschema.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37655 planner: PhysicalPlan memory trace 1
  planner/core/physical_plan_test.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/property/physical_property.go
  planner/util/byitem.go
  util/memory/tracker.go
  util/size/size.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#37579 executor: implement json time/duration
  ddl/column_type_change_test.go
  executor/aggfuncs/func_json_arrayagg.go
  executor/aggfuncs/func_json_arrayagg_test.go
  executor/aggfuncs/func_json_objectagg.go
  executor/aggfuncs/func_json_objectagg_test.go
  expression/bench_test.go
  expression/builtin_cast.go
  expression/builtin_cast_test.go
  expression/builtin_cast_vec.go
  expression/builtin_cast_vec_test.go
  expression/integration_test.go
  types/convert.go
  types/datum.go
  types/datum_test.go
  types/json_binary.go
  types/json_binary_functions.go
  types/json_constants.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#37720 distsql,store: fix copr-cache hit/miss metrics
  distsql/select_result.go
  store/copr/coprocessor.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37711 br: add retryer option for new storage
  br/pkg/storage/s3.go
  br/pkg/storage/storage.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37721 ddl,executor: fix two unstable partitino table unit test cases
  ddl/db_partition_test.go
  executor/partition_table_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#37729 bazel: enable experimental_remote_merkle_tree_cache
  .bazelrc
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#37659 *: support send flashback cluster RPC
  ddl/cluster.go
  ddl/cluster_test.go
  ddl/ddl_api.go
  executor/recover_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  statistics/handle/ddl.go
  tests/realtikvtest/brietest/BUILD.bazel
  tests/realtikvtest/brietest/flashback_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#37730 planner: fix duplicated children id in optimizer trace
  planner/core/physical_plan_trace_test.go
  planner/core/physical_plans.go
  planner/core/plan.go
  util/tracing/opt_trace.go
  util/tracing/opt_trace_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#37727 import: copy datum values when read first N rows
  br/pkg/lightning/restore/get_pre_info.go
  br/pkg/lightning/restore/get_pre_info_test.go
  br/pkg/lightning/restore/mock/mock.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37661 expression: set correct json storage size
  expression/builtin_json.go
  expression/builtin_json_test.go
  expression/builtin_json_vec.go
  expression/distsql_builtin_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#37668 planner: PhysicalPlan memory trace 2
  parser/model/model.go
  planner/core/handle_cols.go
  planner/core/physical_plans.go
  planner/core/util.go
  planner/property/physical_property.go
  types/field_name.go
  util/ranger/types.go
  util/size/size.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L, release-note-none

#37741 session: fix regression of BenchmarkRangeColumnPartitionPruning
  session/bench_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#37658 br: add some unit test and retry for get all tikv stores
  br/pkg/restore/data.go
  br/pkg/restore/data_test.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
  br/pkg/task/backup_ebs.go
  br/pkg/task/common.go
  br/pkg/task/restore_data.go
  br/pkg/task/restore_ebs_meta.go
  br/pkg/utils/backoff.go
  br/pkg/utils/store_manager.go
Labels: size/XXL, release-note-none

#37714 *: restrict column range mem usage
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/logical_plans.go
  planner/core/physical_plans.go
  planner/core/plan_cache.go
  planner/core/stats.go
  sessionctx/stmtctx/stmtctx.go
  statistics/selectivity.go
  util/ranger/detacher.go
  util/ranger/points.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
  util/ranger/types.go
  util/ranger/types_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#37745 tests: add race for brietest
  tests/realtikvtest/brietest/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#37685 lightning: support importing timestamp from Hive parquet
  br/pkg/lightning/mydump/BUILD.bazel
  br/pkg/lightning/mydump/parquet/000000_0.parquet
  br/pkg/lightning/mydump/parquet_parser.go
  br/pkg/lightning/mydump/parquet_parser_test.go
  br/tests/lightning_parquet/data/test/test.test_time/000000_0.parquet
  br/tests/lightning_parquet/db.sql
  br/tests/lightning_parquet/run.sh
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/lightning

#37763 *: upgrade io_bazel_rules_go
  WORKSPACE
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#37758 br: golang lint and 2nd restore progress file does not created
  br/pkg/restore/data.go
  br/pkg/restore/util.go
  br/pkg/task/common.go
  br/pkg/task/restore_data.go
Labels: status/LGT2, size/S, release-note-none

#37751 ddl: fix unstable test TestAlterTableDropPartitionByList
  ddl/db_partition_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#37753 *: fix data race in the statsCache
  executor/infoschema_reader.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-6.1

#37767 planner: add warning if fallback to static plan from dynamic
  executor/write_test.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, skip-issue-check

#37761 *: enable rowserrcheck for nogo
  .cilinter.yaml
  DEPS.bzl
  Makefile
  br/pkg/lightning/checkpoints/checkpoints.go
  br/pkg/lightning/restore/BUILD.bazel
  build/BUILD.bazel
  build/linter/rowserrcheck/BUILD.bazel
  build/linter/rowserrcheck/analyzer.go
  build/nogo_config.json
  ddl/BUILD.bazel
  go.mod
  go.sum
  parser/auth/BUILD.bazel
  planner/core/BUILD.bazel
  planner/property/BUILD.bazel
  planner/util/BUILD.bazel
  sessionctx/variable/BUILD.bazel
  tests/readonlytest/readonly_test.go
  tests/realtikvtest/brietest/BUILD.bazel
  types/BUILD.bazel
  util/ranger/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37769 util/ranger: use different full range for pk, not-null col and normal col when range fallback happens
  planner/core/integration_test.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#36823 Optimize: TiDB skip getting tso from PD at RC isolation for some special scenes
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessiontxn/BUILD.bazel
  sessiontxn/failpoint.go
  sessiontxn/isolation/base.go
  sessiontxn/isolation/readcommitted.go
  sessiontxn/txn_rc_tso_optimize_test.go
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#37731 planner: PhysicalPlan memory trace 3
  expression/aggregation/base_func.go
  expression/aggregation/descriptor.go
  planner/core/physical_plans.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37739 br: calculate progress using aws snap grogress. wait tikv stop schedule, disable tikv region split
  DEPS.bzl
  br/pkg/aws/BUILD.bazel
  br/pkg/aws/ebs.go
  br/pkg/aws/ebs_test.go
  br/pkg/backup/schema_test.go
  br/pkg/common/BUILD.bazel
  br/pkg/common/consts.go
  br/pkg/glue/glue.go
  br/pkg/pdutil/pd.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/data.go
  br/pkg/task/BUILD.bazel
  br/pkg/task/backup_ebs.go
  br/pkg/utils/misc.go
  br/pkg/utils/progress.go
  executor/brie.go
  go.mod
  go.sum
Labels: status/LGT1, size/XL, release-note-none

#37759 expression: check json max depth
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/aggfuncs/func_json_arrayagg.go
  executor/aggfuncs/func_json_objectagg.go
  expression/builtin_json.go
  expression/builtin_json_vec.go
  expression/integration_test.go
  types/json_binary.go
  types/json_binary_functions.go
  types/json_constants.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37786 ddl: fix exposion of magic number
  ddl/ddl_api.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#37775 expression: check json functions args type
  expression/builtin_json.go
  expression/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37787 executor: close ResultSet in test
  executor/admin_test.go
  executor/ddl_test.go
  executor/grant_test.go
  executor/showtest/show_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37793 ebs-br: fix concurrent add region issue
  br/pkg/task/backup_ebs.go
Labels: status/LGT1, size/S, release-note-none

#37405 executor: exit all goroutines immediately when exceeded mem-quota
  executor/adapter.go
  executor/aggregate.go
  executor/aggregate_test.go
  executor/index_lookup_hash_join.go
  executor/index_lookup_join.go
  executor/join.go
  executor/merge_join.go
  executor/projection.go
  store/copr/coprocessor.go
  util/memory/action.go
Labels: type/enhancement, status/LGT2, status/can-merge, size/L, release-note-none

#37735 txn: distinguish write conflict reasons
  DEPS.bzl
  errno/errname.go
  errors.toml
  go.mod
  go.sum
  store/driver/txn/driver_test.go
  store/driver/txn/error.go
  store/mockstore/unistore/tikv/dbreader/db_reader.go
  store/mockstore/unistore/tikv/kverrors/errors.go
  store/mockstore/unistore/tikv/mvcc.go
  store/mockstore/unistore/tikv/server.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
  tests/realtikvtest/txntest/txn_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#37773 ddl: add foreign key check when execute drop/truncate table
  ddl/ddl_api.go
  ddl/foreign_key.go
  ddl/foreign_key_test.go
  ddl/table.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  parser/mysql/errcode.go
  parser/mysql/errname.go
  parser/mysql/state.go
  util/dbterror/ddl_terror.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#37738 expression: allow json functions to be expression index
  cmd/explaintest/r/explain_generate_column_substitute.result
  ddl/db_integration_test.go
  ddl/index.go
  expression/collation.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37737 ddl, meta: check flashback history time range
  ddl/cluster.go
  ddl/cluster_test.go
  executor/recover_test.go
  meta/meta.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#36486 telemetry: interval partitioning
  executor/adapter.go
  executor/builder.go
  metrics/telemetry.go
  session/session.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#37551 executor: fix setting system variables to original values failed after auto analyze
  executor/adapter.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37824 ebs-br: fix concurrency access issue
  br/pkg/aws/BUILD.bazel
  br/pkg/aws/ebs.go
Labels: status/LGT1, size/S, release-note-none

#37712 sessionctx: Change default tidb_partition_prune_mode from static to dynamic
  executor/analyzetest/analyze_test.go
  executor/partition_table_test.go
  infoschema/tables_test.go
  planner/core/rule_result_reorder_test.go
  planner/core/testdata/ordered_result_mode_suite_out.json
  session/bootstrap.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#37808 br: update min-resolved-ts after stop scheduler
  br/pkg/backup/client.go
  br/pkg/task/backup_ebs.go
Labels: status/LGT1, size/M, release-note-none

#37817 txn: forbid savepoint when lazy uniqueness check is enabled
  executor/adapter.go
  executor/simple.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37709 *: redirect the DML writes to a temp index during creating index
  ddl/BUILD.bazel
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl_worker.go
  ddl/ddl_worker_test.go
  ddl/delete_range.go
  ddl/index.go
  ddl/index_merge_tmp.go
  ddl/index_merge_tmp_test.go
  ddl/reorg.go
  ddl/sanity_check.go
  metrics/ddl.go
  parser/model/ddl.go
  parser/model/model.go
  store/driver/txn/txn_driver.go
  table/index.go
  table/tables/index.go
  table/tables/mutation_checker.go
  tablecodec/tablecodec.go
  tablecodec/tablecodec_test.go
  tests/realtikvtest/addindextest/common.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#37392 cloud: support backup to s3 when object lock enabled.
  br/pkg/storage/s3.go
  br/pkg/storage/storage.go
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#37835 sessionctx/variable: put TiDBOptRangeMaxSize to right place and set default value to 0
  executor/set_test.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37546 log-backup: refuse PiTR if the full-snapshot and stream-log do not come from the same cluster
  br/pkg/task/restore.go
  br/pkg/task/stream.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/br

#37813 ddl: check index is needed in foreign key when drop index
  ddl/ddl_api.go
  ddl/foreign_key.go
  ddl/foreign_key_test.go
  ddl/index.go
  ddl/rollingback.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  parser/mysql/errcode.go
  parser/mysql/errname.go
  util/dbterror/ddl_terror.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#36834 executor: optimize point lock read process for rc
  executor/point_get.go
  store/mockstore/unistore/tikv/mvcc.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#37850 ebs-br: add ut for check region hole
  br/pkg/task/backup_ebs.go
  br/pkg/task/backup_ebs_test.go
Labels: status/LGT1, size/L, release-note-none

#37801 planner: remove old useless interfaces about cost model
  executor/set_test.go
  planner/core/common_plans.go
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/find_best_task_test.go
  planner/core/logical_plan_test.go
  planner/core/optimizer.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/plan_cost_test.go
  planner/core/task.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  util/mock/context.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#37851 sessionctx: support session var tidb_last_plan_replayer_token
  executor/executor_test.go
  executor/plan_replayer.go
  server/plan_replayer_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37865 tests: enlarge test timeout for real tikv test
  tests/realtikvtest/pessimistictest/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#37811 sessionctx: set DefTiDBEnableRateLimitAction to false
  executor/oomtest/oom_test.go
  session/session_test/session_test.go
  sessionctx/variable/tidb_vars.go
Labels: type/enhancement, status/LGT2, status/can-merge, size/XS, release-note-none

#37823 ddl: add foreign key check when modify column
  ddl/ddl_api.go
  ddl/foreign_key.go
  ddl/foreign_key_test.go
  ddl/schematracker/dm_tracker.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  parser/mysql/errcode.go
  parser/mysql/errname.go
  util/dbterror/ddl_terror.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37831 util/ranger: reuse convertPoint and validInterval logic
  util/ranger/ranger.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37838 *: return error and add some logs when request PD failed
  store/helper/helper.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#37873 ddl,test: fix unstable test `TestParallelDDLBeforeRunDDLJob`
  ddl/db_change_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37796 planner: add more test cases for hash_join_build and hash_join_probe hints
  planner/core/rule_semi_join_rewrite.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#37866 datum: json is not equal with NULL
  types/datum.go
  types/datum_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#37783 log-backup: let the advancer listen on the same range with the task
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_cliext.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
  br/pkg/streamhelper/integration_test.go
  br/pkg/streamhelper/tsheap.go
  br/pkg/streamhelper/tsheap_test.go
  br/pkg/utils/key.go
  br/pkg/utils/key_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XL, component/br

#37869 types: prevent generate error stack for BinaryLiteral.ToInt()
  types/binary_literal.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-5.3

#37736 planner: PhysicalPlan memory trace 4
  executor/builder.go
  parser/model/model.go
  planner/core/physical_plans.go
  planner/core/plan.go
  util/size/size.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L, release-note-none

#37883 lightning: fix lightning_various_types integration test
  br/tests/lightning_various_types/data/vt.json.sql
Labels: status/LGT2, component/test, status/can-merge, size/XS, release-note-none, component/lightning

#37879 ddl: add failpoints testcase
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/common.go
  tests/realtikvtest/addindextest/failpoints_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37779 planner: make unsafe substitute can be used in generated column
  cmd/explaintest/r/explain_generate_column_substitute.result
  cmd/explaintest/t/explain_generate_column_substitute.test
  parser/types/field_type.go
  planner/core/rule_generate_column_substitute.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#37867 executor: support plan replayer multi sqls
  executor/builder.go
  executor/plan_replayer.go
  server/conn.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37407 expression: support all regexp functions
  ddl/db_integration_test.go
  executor/showtest/show_test.go
  expression/builtin.go
  expression/builtin_convert_charset.go
  expression/builtin_like.go
  expression/builtin_like_vec.go
  expression/builtin_regexp.go
  expression/builtin_regexp_test.go
  expression/builtin_regexp_util.go
  expression/collation.go
  expression/distsql_builtin.go
  expression/util_test.go
  parser/ast/functions.go
  parser/parser_test.go
  planner/core/memtable_predicate_extractor.go
  statistics/selectivity.go
  util/collate/collate.go
  util/stringutil/string_util.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#37849 ddl: add telemetry support for add index acceleration
  ddl/index.go
  metrics/telemetry.go
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37843 ddl: add foreign key check when drop column
  ddl/column.go
  ddl/ddl_api.go
  ddl/foreign_key.go
  ddl/foreign_key_test.go
  ddl/rollingback.go
  errors.toml
  util/dbterror/ddl_terror.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35196 docs/design: add index acceleration
  docs/design/2022-06-06-Adding-Index-Acceleration.md
  docs/design/imgs/addIndexLit-1.png
  docs/design/imgs/addIndexLit-2.png
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#37863 lightning: add option to return partial mdl on error
  br/pkg/lightning/mydump/loader.go
  br/pkg/lightning/restore/precheck.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#37877 ebs-br: unify command into existing command
  br/cmd/br/backup.go
  br/cmd/br/restore.go
  br/pkg/config/ebs.go
  br/pkg/task/backup.go
  br/pkg/task/backup_ebs.go
  br/pkg/task/common.go
  br/pkg/task/restore.go
  br/pkg/task/restore_data.go
  br/pkg/task/restore_ebs_meta.go
  br/pkg/task/restore_test.go
  br/tests/_utils/check_not_contains
  br/tests/br_ebs/backupmeta
  br/tests/br_ebs/run.sh
Labels: status/LGT1, size/XXL, release-note-none

#37847 ddl: support create index with ingest method
  br/pkg/lightning/backend/local/localhelper.go
  ddl/backfilling.go
  ddl/ddl.go
  ddl/index.go
  ddl/ingest/engine.go
  ddl/ingest/engine_mgr.go
  ddl/ingest/message.go
  ddl/reorg.go
  table/index.go
  table/tables/index.go
  tests/realtikvtest/addindextest/add_index_test.go
  tests/realtikvtest/addindextest/main_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none
