Repository pingcap/tidb, pull requests merged in 2022-04, with the labels that each got.

#32668 executor: improve UnionScanRead performance
  executor/mem_reader.go
  tablecodec/tablecodec.go
  util/rowcodec/decoder.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#33616 lightning: fix test lightning_error_summary
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/lightning

#33643 ddl: increasing value of partition by range columns fix (#32748)
  ddl/db_partition_test.go
  ddl/ddl_api.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33617 topsql: fix data race in test
  ddl/ddl_worker.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33561 executor: migrate test-infra to testify for executor_test.go testSlowQuerySuite
  executor/executor_legacy_test.go
  executor/slow_query_sql_test.go
  executor/slow_query_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#33610 br: fix unstable s3 test
  br/tests/br_s3/run.sh
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33173 planner: Add control flag to keep or remove ORDER BY in subquery
  executor/set_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#33631 ddl: refactor modify column for multi-schema change
  ddl/column.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#33392 ddl: check delete range for some DDLs
  ddl/ddl.go
  ddl/ddl_tiflash_test.go
  ddl/ddl_worker.go
  ddl/sanity_check.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#33655 expr: fix unstable comparing push down fucntion result testcase
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, type/6.0-cherry-pick

#33637 domain: use util.WaitGroupWrapper insteal of sync.WaitGroup
  domain/domain.go
  statistics/handle/handle_hist.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33653 txn: fix `invalid transaction` error when doing stale read in RC isolation level
  executor/builder.go
  executor/stale_txn_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33278 expression: fix the wrong rounding behavior of Decimal
  executor/aggfuncs/func_avg.go
  executor/aggfuncs/func_first_row.go
  executor/aggfuncs/func_max_min.go
  executor/aggfuncs/func_sum.go
  executor/insert_test.go
  expression/aggregation/avg.go
  expression/builtin_arithmetic.go
  expression/builtin_arithmetic_vec.go
  expression/builtin_cast.go
  expression/builtin_cast_vec.go
  expression/builtin_math.go
  expression/builtin_math_vec.go
  expression/builtin_time.go
  expression/builtin_time_vec.go
  expression/constant.go
  types/convert_test.go
  types/datum.go
  types/datum_test.go
  types/mydecimal.go
  types/mydecimal_benchmark_test.go
  types/mydecimal_test.go
  util/codec/codec.go
  util/rowcodec/decoder.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33652 gomod: update ristretto and sarama to fix data race
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#33666 br: Fix unstable s3 test (again)
  br/tests/br_s3/run.sh
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33640 planner: fix order by sub-query couldn't find outer correlated columns
  cmd/explaintest/r/explain_easy.result
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plan_test.go
Labels: status/LGT2, status/can-merge, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33636 br: defer not in for-loop in the sendSplitRegionRequest
  br/pkg/restore/split_client.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#33675 planner: fix incorrect estCost displayed in explain results
  planner/core/integration_test.go
  planner/core/task.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, size/M, release-note-none

#33679 ddl: extract data reorg code to separate functions
  ddl/column.go
  ddl/index.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#33660 *: improve TestColumnAdd for concurrency ddl
  ddl/column_change_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33677 ddl: build sessPool even if RunWorker == false
  ddl/ddl.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XS, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33659 util: migrate column-mapping and ddl-checker from tidb-tools to tidb
  util/column-mapping/README.md
  util/column-mapping/column.go
  util/column-mapping/column_test.go
  util/ddl-checker/ddl_syncer.go
  util/ddl-checker/executable_checker.go
  util/ddl-checker/executable_checker_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#33603 executor: migrate test-infra to testify for executor_test.go testResourceTagSuite
  executor/executor_legacy_test.go
  executor/resource_tag_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#33702 util: refactor TestExecute to fix data race
  util/ddl-checker/executable_checker_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33704 executor: migrate test-infra to testify for executor_test.go testCoprCache
  executor/copr_cache_test.go
  executor/executor_legacy_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#33706 executor: migrate test-infra to testify for executor_test.testSerialSuite2
  executor/executor_legacy_test.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#33709 executor: migrate test-infra to testify for part of executor_test
  executor/executor_legacy_test.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#33713 executor: migrate test-infra to testify for executor_test.testSuite(6|8)
  executor/executor_legacy_test.go
  executor/executor_test.go
  executor/write_test.go
  util/schemacmp/table_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#33681 planner: refactor a few methods about cost calculation
  planner/core/physical_plans.go
  planner/core/task.go
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#33721 ddl: make CompleteDeleteRange atomic by explicit transaction
  ddl/util/util.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#32794 session, sessionctx: Make sysvar tidb_read_staleness TypeInt
  session/session_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#32806 txn: add document for read-consistency read tso optimization
  docs/design/2022-03-03-rc-read-tso-optimization.md
Labels: status/LGT2, component/docs, sig/transaction, status/can-merge, size/M, release-note-none

#33739 *: Refactor session#domainMap use RWMutex to replace Mutex
  session/tidb.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33741 executor: migrate test-infra to testify for part of testSuite
  executor/executor_failpoint_test.go
  executor/executor_legacy_test.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#33730 expr: fix failed copr-test
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, type/6.0-cherry-pick

#33623 topsql: add more test to check resource tag for each RPC request
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl.go
  ddl/ddl_worker.go
  ddl/delete_range.go
  ddl/index.go
  ddl/partition.go
  ddl/primary_key_handle_test.go
  ddl/reorg.go
  ddl/reorg_test.go
  ddl/util/util.go
  executor/insert_common.go
  server/main_test.go
  server/tidb_test.go
  store/mockstore/unistore/rpc.go
  store/mockstore/unistore/testutil.go
Labels: status/LGT2, component/test, status/can-merge, size/XL, release-note-none

#33770 README.md: add the TiDB Cloud developer tier info
  README.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33744 executor: migrate test-infra to testify for testRecoverTable
  executor/executor_failpoint_test.go
  executor/executor_legacy_test.go
  executor/recover_table_test.go
  testkit/testkit.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#32726 domain,server,session: optimize gc safepoint advancing for internal transaction
  bindinfo/bind_test.go
  bindinfo/session_handle_test.go
  domain/domain_test.go
  domain/infosync/info.go
  domain/sysvar_cache.go
  executor/adapter.go
  executor/executor_pkg_test.go
  executor/explainfor_test.go
  executor/infoschema_cluster_table_test.go
  executor/prepared_test.go
  executor/seqtest/prepared_test.go
  infoschema/tables_test.go
  kv/txn.go
  kv/txn_test.go
  server/server.go
  server/tidb_test.go
  session/session.go
  sessionctx/variable/mock_globalaccessor.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
  util/processinfo.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32941 *: Add support for execute prepared statement to `staleread.Processor`
  executor/builder.go
  executor/prepared.go
  executor/seqtest/prepared_test.go
  executor/stale_txn_test.go
  planner/core/common_plans.go
  planner/core/preprocess.go
  session/bench_test.go
  session/session.go
  sessiontxn/staleread/processor.go
  sessiontxn/staleread/processor_test.go
  sessiontxn/txn_context_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#32745 .github: add a link to Release Notes Language Style Guide in PR template
  .github/pull_request_template.md
Labels: status/LGT2, release-note, status/can-merge, size/XS

#33772 executor: fix unstable TestCheckActRowsWithUnistore
  executor/explain_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33777 ddl: make checkDeleteRangeCnt stable
  ddl/db_test.go
  ddl/sanity_check.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33776 executor: migrate test-infra to testify for testSuite1
  executor/executor_legacy_test.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#33765 Makefile: add --race flag for tool/bin/ut to support race test
  Makefile
  tools/check/ut.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#33354 ddl, parser: fix concurrent rename table
  ddl/db_change_test.go
  ddl/ddl_api.go
  ddl/table.go
  ddl/table_test.go
  parser/model/ddl.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33738 backend/local: fix panic while lightning quits
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/engine_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#33781 util/ddl-checker: fix DATA RACE in TestExecute
  util/ddl-checker/executable_checker_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33809 *: fix unstable case `TestIssue29282`
  ddl/db_integration_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33545 br: use the correct unit for pausing schedulers
  br/pkg/pdutil/pd.go
Labels: status/LGT2, release-note, status/can-merge, size/XS, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33703 server: set 'clientConn.ctx = nil' to clean the context when changeUser.
  server/conn.go
  server/conn_test.go
Labels: status/LGT2, component/server, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33568 br: fix the integration test of br_gcs
  br/tests/br_gcs/run.sh
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, component/br

#33775 *: update client-go to fix data race
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, size/XS, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33818 *: forbid using cache when stale read in binary proto
  executor/stale_txn_test.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.0

#33806 topsql: remove redundant attach sql information
  executor/adapter.go
  server/conn_stmt.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33831 *: fix wrong modification for introduced from #33818
  session/session.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33408 *: polish the table cache feature code
  executor/builder.go
  metrics/metrics.go
  metrics/server.go
  session/session.go
  table/table.go
  table/tables/cache.go
  table/tables/state_remote.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-6.0

#33840 infoschema: add column of `Has_more_result` into table of `slow_query`
  executor/slow_query.go
  executor/slow_query_test.go
  infoschema/tables.go
  infoschema/tables_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#33726 ddl: fix duplicate elementID allocation to make sure gc work for partition table
  ddl/column_modify_test.go
  ddl/db_partition_test.go
  ddl/delete_range.go
  ddl/index_modify_test.go
  ddl/main_test.go
  ddl/sanity_check.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33263 fastrand: optimize Buf
  util/fastrand/random.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33834 *: fix http api document and a comment
  docs/tidb_http_api.md
  parser/model/ddl.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33850 ddl: fix inappropriate schema state output by admin show ddl jobs
  ddl/column_modify_test.go
  ddl/column_type_change_test.go
  ddl/db_rename_test.go
  ddl/db_table_test.go
  ddl/ddl_worker.go
  ddl/index_modify_test.go
  parser/model/ddl.go
  parser/model/model.go
  parser/model/model_test.go
  util/admin/admin_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#33725 br/stream: refactor the status command && print "no task" when no task here
  br/pkg/glue/console_glue.go
  br/pkg/gluetidb/glue.go
  br/pkg/gluetikv/glue.go
  br/pkg/stream/stream_misc_test.go
  br/pkg/stream/stream_status.go
  br/pkg/task/stream.go
Labels: status/LGT2, size/XL, release-note-none

#33843 gomod: update gomod to fix data race
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#30551 planner, util/ranger: fix wrong optimize order by (#30273)
  planner/core/integration_test.go
  util/ranger/detacher.go
Labels: status/LGT2, release-note, status/can-merge, size/S, cherry-pick-approved

#33784 *: update unstable unit test case list
  unstable.txt
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#33874 executor: migrate test-infra to testify for testSerialSuite1
  executor/executor_legacy_test.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#33484 lightning: fix for only route schema case
  br/pkg/lightning/mydump/loader.go
  br/pkg/lightning/mydump/loader_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, component/lightning, needs-cherry-pick-6.0

#33026 br: add new design for batch create table
  docs/design/2022-03-10-backup-with-batch-create-table.md
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#33886 executor: migrate test-infra to testify for testClusterTableSuite
  executor/cluster_table_test.go
  executor/executor_legacy_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#31849 sysvar: modify tidb_enable_historical_stats behavior
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33895 executor: fix test fail in TestHashRowContainer
  executor/hash_table_test.go
Labels: status/LGT2, status/can-merge, size/XS, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33879 dumpling: remove useless code
  dumpling/tools/.gitignore
  dumpling/tools/Makefile
  dumpling/tools/go.mod
  dumpling/tools/go.sum
  dumpling/tools/go_mod_guard.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#33899 executor: migrate test-infra to testify for testSuiteWithCliBaseCharset
  executor/charset_test.go
  executor/executor_legacy_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#33845 planner: fix wrong row-sizes used in cost model
  cmd/explaintest/r/tpch.result
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/physical_plans.go
  planner/core/planbuilder.go
  planner/core/task.go
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, size/L, release-note-none

#33909 *: Auto refresh PD addrs for `PDPlacementManager`, `PDLabelManager`, `TiFlashPDPlacementManager`
  domain/infosync/info.go
  domain/infosync/label_manager.go
  domain/infosync/placement_manager.go
  domain/infosync/tiflash_manager.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33901 infosync: improve error log for http client
  domain/infosync/info.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33911 executor: migrate test-infra to testify for testSerialSuite
  executor/executor_legacy_test.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#33732 session, statistics, util: fix data race of Handle.mu.ctx
  session/session.go
  statistics/handle/handle.go
  util/sqlexec/restricted_sql_executor.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none, needs-cherry-pick-6.0

#33926 executor: fix unstable test of `TestTimestampDefaultValueTimeZone`
  executor/executor_test.go
Labels: status/LGT2, type/bug-fix, component/test, status/can-merge, size/XS, release-note-none

#33927 metrics: add the missing help message for the forwarded status
  metrics/grafana/tidb.json
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33810 topsql: make TestPProfCPUProfile test stable
  util/topsql/collector/main_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33935 planner: remove task argument from IndexHashJoin.GetCost and IndexMergeJoin.GetCost
  planner/core/integration_test.go
  planner/core/task.go
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#33767 lightning: fix panic due to row's column exceeds definition
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/backend/tidb/tidb_test.go
  br/tests/lightning_routes/run.sh
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33917 *: Add grafana for PD http api request duration
  metrics/grafana/tidb.json
Labels: status/LGT2, release-note, status/can-merge, size/L

#33841 statistics: change default value of tidb_analyze_version to 1 (#31826)
  cmd/explaintest/r/subquery.result
  executor/analyze_test.go
  planner/core/cbo_test.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/integration_suite_out.json
  sessionctx/variable/tidb_vars.go
  statistics/handle/ddl_test.go
  statistics/handle/update_test.go
  statistics/selectivity_test.go
  util/ranger/testdata/ranger_suite_out.json
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#33846 util: migrate importer and watcher from tidb-tools to tidb
  util/importer/config.go
  util/importer/data.go
  util/importer/db.go
  util/importer/importer.go
  util/importer/job.go
  util/importer/parser.go
  util/importer/rand.go
  util/watcher/event.go
  util/watcher/watcher.go
  util/watcher/watcher_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#33406 docs: add design doc for GET_LOCK
  docs/design/2022-03-24-get-lock.md
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#33712 util/sem: add tidb_audit_redact_log to invisible sysvars
  util/sem/sem.go
  util/sem/sem_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#33953 executor: add memory tracker for quering slow_query to avoid TiDB server oom
  executor/builder.go
  executor/slow_query.go
  infoschema/cluster_tables_test.go
  server/rpc_server.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33936 *: Add more grafana charts for pd http api request
  domain/infosync/info.go
  domain/infosync/label_manager.go
  domain/infosync/placement_manager.go
  domain/infosync/region.go
  domain/infosync/tiflash_manager.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/server.go
  store/helper/helper.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#33734 br: refine cmd stream restore to restore log
  br/cmd/br/restore.go
  br/cmd/br/stream.go
  br/pkg/conn/conn.go
  br/pkg/restore/client.go
  br/pkg/storage/azblob.go
  br/pkg/storage/flags.go
  br/pkg/storage/gcs.go
  br/pkg/task/common.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#33894 server: openSession instead set nil when changeUser
  server/conn.go
  server/conn_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33964 tools/check: let ut binary retry on more errors to make CI stable
  tools/check/ut.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.0

#33970 infoschema: make TestSlowQueryOOM stable
  infoschema/cluster_tables_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#33719 br: modify tables that should be altered auto id or random id
  br/pkg/restore/client.go
  br/pkg/restore/db.go
  br/tests/br_incremental/run.sh
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, component/br, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33967 *: refactor placement bundle in infoschema
  ddl/placement/bundle.go
  ddl/placement_policy_ddl_test.go
  ddl/placement_policy_test.go
  ddl/placement_sql_test.go
  distsql/request_builder.go
  domain/domain.go
  executor/slow_query_test.go
  expression/integration_serial_test.go
  infoschema/builder.go
  infoschema/infoschema.go
  infoschema/infoschema_test.go
  session/session.go
  session/session_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#33975 executor: fix issue of query instance from CLUSTER_SLOW_QUERY return '' result
  executor/slow_query.go
  infoschema/cluster_tables_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#30414 util: fix memory.reArrangeFallback cpu usage
  executor/executor_test.go
  executor/sort.go
  session/session_test.go
  store/copr/coprocessor.go
  util/chunk/row_container.go
  util/memory/action.go
  util/memory/tracker.go
  util/memory/tracker_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-6.0

#33888 planner: support MaxOneRow clone
  executor/join.go
  planner/core/optimizer.go
  planner/core/physical_plans.go
  planner/core/planbuilder_test.go
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/S, release-note-none

#33994 br-stream: fix infinite help function loop
  br/cmd/br/stream.go
Labels: status/LGT1, size/XS, release-note-none

#33872 br: support pause/resume stream task
  br/cmd/br/restore.go
  br/cmd/br/stream.go
  br/pkg/stream/client.go
  br/pkg/stream/integration_test.go
  br/pkg/stream/models.go
  br/pkg/stream/stream_status.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
  br/pkg/utils/safe_point.go
Labels: status/LGT2, size/L, release-note-none

#33797 br: fix panic during merging files
  br/pkg/logutil/logging.go
  br/pkg/restore/merge.go
  br/pkg/restore/merge_fuzz_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33783 metrics: divide Database Time Overview panel into 3 sub-panels
  metrics/grafana/performance_overview.json
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-6.0

#33925 ddl: support index regions and updating the existed table rule when changing partition
  ddl/attributes_sql_test.go
  ddl/label/rule.go
  ddl/label/rule_test.go
  ddl/partition.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33884 br/stream: added basic utilities for error handing
  br/pkg/glue/console_glue.go
  br/pkg/glue/console_glue_test.go
  br/pkg/restore/import_retry.go
  go.mod
  go.sum
Labels: status/LGT2, size/XL, release-note-none

#33731 executor: fix CTE race case by avoiding reopen iterInTbl
  executor/cte.go
  executor/cte_table_reader.go
  util/cteutil/storage.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33997 util: Adjust the minimum TLS version supported by TiDB tools from 1.0 to 1.2
  br/pkg/mock/mock_cluster.go
  cmd/pluginpkg/pluginpkg.go
  executor/select_into.go
  util/security.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#30599 *: fix some http connection leaks found by lint check
  domain/infosync/info.go
  executor/infoschema_reader.go
Labels: status/LGT2, release-note, status/can-merge, size/XS, cherry-pick-approved, type/5.2-cherry-pick

#34029 planner: support keep pruned conds
  executor/set_test.go
  planner/core/integration_test.go
  planner/core/rule_partition_processor.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, priority/release-blocker, sig/planner, status/can-merge, size/M, cherry-pick-approved, release-note-none

#34014 executor: make test TestSlowQueryWithoutSlowLog stable
  executor/slow_query_sql_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34040 executor: migrate test-infra to testify for part of executor_test.go
  executor/executor_legacy_test.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#33651 server: use max_allowed_packet to limit the packet size.
  errno/errname.go
  executor/set_test.go
  parser/mysql/errname.go
  server/conn.go
  server/conn_test.go
  server/packetio.go
  server/packetio_test.go
  server/server.go
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/variable.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/XL, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34046 executor: migrate test-infra to testify for testSuite2
  executor/executor_legacy_test.go
  executor/executor_test.go
  executor/stale_txn_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34049 executor: migrate test-infra to testify for executor_test.go testSuiteP2
  executor/executor_legacy_test.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34058 lightning: fix build error and failed test
  br/pkg/lightning/restore/restore_test.go
  br/pkg/lightning/restore/tidb.go
  br/tests/lightning_new_collation/data/nc.t-schema.sql
  br/tests/lightning_new_collation/data/nc.t.0.sql
  br/tests/lightning_new_collation/data/nc.t.1.sql
  br/tests/lightning_new_collation/run.sh
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none, component/lightning

#34062 executor: migrate test-infra to testify for executor_test.go
  executor/executor_legacy_test.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34050 session: optimize the sharding algorithm for non-transactional DMLs
  session/nontransactional.go
  session/nontransactional_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#33867 planner: consider seek cost of probe-side for index join
  executor/partition_table_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/integration_test.go
  planner/core/physical_plans.go
  planner/core/task.go
  planner/core/testdata/plan_suite_out.json
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, size/L, release-note-none

#33718 lightning: enhance request log in server-mode and restore progress
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/metric/metric.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/lightning

#34021 lightning: replace diskQuotaLock with RWMutex
  br/pkg/lightning/restore/chunk_restore_test.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/restore_test.go
  br/pkg/lightning/restore/table_restore_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#33991 parser: skip restoring schema name of CTE table columns
  executor/cte_test.go
  parser/ast/dml.go
  parser/ast/expressions.go
  parser/format/format.go
Labels: status/LGT2, status/can-merge, size/L, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#33979 *: fix index join on partition table data race
  executor/builder.go
  planner/core/find_best_task.go
  planner/core/partition_prune.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34016 executor: fix data race in TestSlowQueryOOM
  executor/slow_query.go
  infoschema/cluster_tables_test.go
  server/rpc_server.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33990 planner: introduce the new cost interface
  executor/set_test.go
  planner/core/common_plans.go
  planner/core/find_best_task.go
  planner/core/plan.go
  planner/core/plan_cost.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#34015 action: fix breaking br compatible test
  .github/workflows/br_compatible_test.yml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, action/run-br-cross-platform-build

#29348 dumpling : reports an error for non-exist tables
  dumpling/export/config.go
  dumpling/export/config_test.go
  dumpling/export/consistency.go
  dumpling/export/dump.go
  dumpling/export/retry.go
  dumpling/tests/non_exist_tables/run.sh
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/dumpling

#33794 lightning: only retry on retryable error on import engine
  br/pkg/lightning/backend/backend_test.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/common/util_test.go
  br/pkg/lightning/restore/check_info_test.go
  br/pkg/lightning/restore/checksum_test.go
  br/pkg/lightning/restore/tidb_test.go
  br/pkg/utils/retry.go
  br/pkg/utils/retry_test.go
  br/tests/lightning_fail_fast_on_nonretry_err/config.toml
  br/tests/lightning_fail_fast_on_nonretry_err/data/csv-schema-create.sql
  br/tests/lightning_fail_fast_on_nonretry_err/data/csv.threads-schema.sql
  br/tests/lightning_fail_fast_on_nonretry_err/data/csv.threads.csv
  br/tests/lightning_fail_fast_on_nonretry_err/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/L, component/lightning

#34045 planner: remove misleading comments and simplify code
  planner/core/logical_plan_builder.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34087 diagnostics: fix slow read from `CLUSTER_STATEMENTS_SUMMARY_HISTORY`
  config/config.go
Labels: status/LGT2, release-note, status/can-merge, size/XS, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34095 *: update unstable unit test case list 0412-0419
  unstable.txt
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#33658 validation: fix set readonly variable max_allowed_packet should return error
  executor/set_test.go
  sessionctx/variable/sysvar.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#33931 ddl: add new cancel test framework and rewrite some tests
  ddl/cancel_test.go
  ddl/db_partition_test.go
  ddl/index_modify_test.go
  ddl/main_test.go
  ddl/reorg.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XL, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#34028 br/stream: make status shows the log
  br/pkg/restore/import_retry.go
  br/pkg/stream/client.go
  br/pkg/stream/models.go
  br/pkg/stream/stream_status.go
  br/pkg/task/stream.go
  go.mod
  go.sum
Labels: status/LGT2, size/L, release-note-none

#34119 docs: update `placement-rules-in-sql.md` to correct some mistakes
  docs/design/2020-06-24-placement-rules-in-sql.md
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34027 server: fix data race in TestIssue33699
  server/conn.go
  server/conn_test.go
  server/mock_conn.go
  server/server.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#33890 ddl: View can be renamed only in the same schema
  ddl/ddl_api.go
  ddl/ddl_error_test.go
  errors.toml
  infoschema/error.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/M

#34102 seesion: skip invisible index when selecting shard column for non-transactional DML
  session/nontransactional.go
  session/nontransactional_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34126 session: release lock correctly for tidb to exit
  session/tidb.go
Labels: status/LGT1, status/LGT2, release-note, status/can-merge, size/XS

#34061 statistics: introduce cache interface for statsCache
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/handle_test.go
  statistics/handle/statscache.go
  statistics/handle/update.go
  statistics/histogram.go
  statistics/table.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#34075 *: use global auto analyze ID in order to kill auto analyze globally
  domain/domain.go
  executor/analyze.go
  planner/core/planbuilder.go
  server/server.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  util/processinfo.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#33865 lightning: reload certificate for new connection
  br/pkg/lightning/common/security.go
  br/pkg/lightning/common/security_test.go
  br/pkg/lightning/lightning.go
  br/tests/lightning_reload_cert/config.toml
  br/tests/lightning_reload_cert/data/test-schema-create.sql
  br/tests/lightning_reload_cert/data/test.t-schema.sql
  br/tests/lightning_reload_cert/data/test.t.sql
  br/tests/lightning_reload_cert/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/L, component/lightning

#33567 planner: using the funcdep to check the only_full_group_by
  executor/aggregate_test.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/funcdep/extract_fd_test.go
  planner/funcdep/fd_graph.go
  planner/funcdep/only_full_group_by_test.go
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#34124 testkit: add MockSessionManager
  bindinfo/bind_test.go
  executor/cluster_table_test.go
  executor/executor_issue_test.go
  executor/executor_test.go
  executor/explainfor_test.go
  executor/index_merge_reader_test.go
  executor/join_test.go
  executor/merge_join_test.go
  executor/prepared_test.go
  executor/sort_test.go
  testkit/mocksessionmanager.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#34139 plugin: revert #27269 for test
  executor/adapter.go
  plugin/audit.go
  plugin/conn_ip_example/conn_ip_example.go
  plugin/conn_ip_example/conn_ip_example_test.go
  plugin/integration_test.go
  plugin/plugin.go
  plugin/spi_test.go
  server/conn.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#34128 util: track the memory usage of rowPtrs in sortedRowContainer
  util/chunk/row_container.go
  util/chunk/row_container_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34131 ddl: refactoring some cancel tests
  ddl/cancel_ddl_test.go
  ddl/cancel_test.go
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/ddl_worker.go
  ddl/schema_test.go
  ddl/util_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#34086 br: fix bug in PiTR
  br/cmd/br/restore.go
  br/pkg/backup/schema.go
  br/pkg/restore/client.go
  br/pkg/stream/client.go
  br/pkg/task/stream.go
Labels: status/LGT2, size/M, release-note-none

#34150 planner: fix the unstable test TestAnalyzeGlobalStatsWithOpts
  statistics/handle/handle_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XS, release-note-none, needs-cherry-pick-6.0

#34103 br-stream: implement cleanup files.
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/import_retry.go
  br/pkg/restore/import_retry_test.go
  br/pkg/restore/util.go
  br/pkg/task/stream.go
  go.mod
  go.sum
Labels: status/LGT2, size/L, release-note-none
