Repository pingcap/tidb, pull requests merged in 2022-06, with the labels that each got.

#35087 *: use pdqsort to sort and remove BCE
  ddl/db_test.go
  ddl/label/rule.go
  distsql/select_result.go
  domain/schema_validator.go
  planner/core/exhaust_physical_plans.go
  planner/core/memtable_predicate_extractor.go
  planner/core/stats.go
  planner/funcdep/fast_int_set_test.go
  session/schema_amender_test.go
  store/mockstore/unistore/tikv/util.go
  testkit/testutil/handle.go
  util/execdetails/execdetails.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35068 distsql,executor: using paging protocol for all coprocessor requests
  distsql/request_builder.go
  executor/builder.go
  executor/distsql.go
  executor/index_merge_reader.go
  executor/table_reader.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#35082 statistics: fix incorrect ndv caused by missing fmsketch
  executor/analyze.go
  executor/analyze_test.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-6.1

#35089 executor: fix show collation like case sensitive issue
  executor/show.go
  executor/show_test.go
  planner/core/planbuilder.go
  planner/core/show_predicate_extractor.go
  planner/core/stringer_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-6.1

#35030 ddl: use reorg handler to manage the reorganization information of `DDL` job
  ddl/column.go
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/index.go
  ddl/partition.go
  ddl/reorg.go
  meta/meta.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35095 statistics: remove unused fmsketch param
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35064 executor: fix compatibility issue of release savepoint
  executor/executor_txn_test.go
  executor/simple.go
  sessionctx/variable/session.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35086 *: support `SHOW TABLE STATUS` with case insensitivity
  executor/show.go
  executor/show_test.go
  planner/core/planbuilder.go
  planner/core/show_predicate_extractor.go
  planner/core/stringer_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#35061 dumpling: make prom registry configurable and use const labels
  dumpling/cmd/dumpling/main.go
  dumpling/export/config.go
  dumpling/export/dump.go
  dumpling/export/ir_impl_test.go
  dumpling/export/main_test.go
  dumpling/export/metrics.go
  dumpling/export/metrics_test.go
  dumpling/export/sql_test.go
  dumpling/export/status.go
  dumpling/export/status_test.go
  dumpling/export/writer.go
  dumpling/export/writer_serial_test.go
  dumpling/export/writer_test.go
  dumpling/export/writer_util.go
  util/promutil/factory.go
  util/promutil/interface.go
  util/promutil/plain.go
  util/promutil/registry.go
  util/promutil/registry_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35106 statistics: add label for StatsHealthyGauge
  statistics/handle/handle.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35104 tables: disable row insertion consistency check in mutation checker; and fix the cache problem
  store/driver/txn/txn_driver.go
  table/tables/mutation_checker.go
  table/tables/tables_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-6.1

#35120 refactor(charset): remove unused charsets map
  parser/mysql/charset.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34702 txn: Provide `PessimisticRCTxnContextProvider` for RC isolation
  executor/adapter.go
  executor/builder.go
  planner/funcdep/extract_fd_test.go
  planner/optimize.go
  session/session.go
  session/txn.go
  session/txnmanager.go
  sessionctx/variable/session.go
  sessiontxn/interface.go
  sessiontxn/isolation/base.go
  sessiontxn/isolation/main_test.go
  sessiontxn/isolation/readcommitted.go
  sessiontxn/isolation/readcommitted_test.go
  sessiontxn/legacy/provider.go
  sessiontxn/legacy/provider_test.go
  sessiontxn/staleread/provider.go
  sessiontxn/txn.go
  sessiontxn/txn_manager_test.go
  tests/realtikvtest/sessiontest/temporary_table_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35126 *: remove sortutil
  go.mod
  go.sum
  statistics/cmsketch.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#31888 backup: add design doc of stream backup
  docs/design/2021-12-09-TiDB-log-based-incremental-backup-draft-1.md
  docs/design/imgs/log-backup-architecture.jpg
  docs/design/imgs/log-backup-data-flow.jpg
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#35139 docs: rename log backup design document
  docs/design/2021-12-09-TiDB-log-based-incremental-backup.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35144 txn: skip the transaction start_ts used by analyze calculating the gc safepoint
  server/server.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none, type/6.1-cherry-pick

#35008 ddl: fix the 'max-index-length' check result in non-restricted sql mod
  ddl/db_test.go
  ddl/ddl_api.go
  ddl/index.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#35052 sessionctx/variable, ddl: fix sysvar API usage
  ddl/ddl_api.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/variable.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#34566 planner: support 'explain analyze format=true_card_cost'
  planner/core/common_plans.go
  planner/core/plan_cost.go
  planner/core/plan_cost_test.go
  types/explain_format.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#35098 statistics: support unload fmsketch
  config/config.go
  config/config_test.go
  statistics/handle/bootstrap.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35028 variables: add concurrent DDL switch
  expression/integration_serial_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#33656 executor: do not append extra cols to the old row when `updateDupRow`
  executor/insert.go
  executor/insert_test.go
  table/tables/tables.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35072 ddl: fix `alter column drop default`
  ddl/db_integration_test.go
  ddl/ddl_api.go
  executor/insert_common.go
  table/column.go
Labels: status/LGT2, release-note, status/can-merge, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#34778 util: optimize the memory usage of the read path for listInDisk
  util/chunk/disk.go
  util/chunk/disk_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35134 planner: fix data race in the TestCacheHitInRc
  planner/core/prepare_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#35175 util/plancodec: add the missing operator IDs to fix the `UnknownPlanID`
  planner/core/plan_test.go
  util/plancodec/id.go
  util/plancodec/id_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-6.1

#35160 planner/core: optimize buildInsert()
  planner/core/planbuilder.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35114 *: implement chunk rpc encoding for unistore
  distsql/distsql.go
  distsql/select_result.go
  executor/admin_test.go
  executor/analyze_test.go
  executor/explain_test.go
  expression/integration_test.go
  planner/core/cbo_test.go
  planner/core/enforce_mpp_test.go
  planner/core/expression_rewriter_test.go
  planner/core/integration_test.go
  planner/core/partition_pruner_test.go
  planner/core/plan_test.go
  planner/core/stats_test.go
  session/session.go
  store/mockstore/unistore/cophandler/cop_handler.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35137 planner: use pdqsort to improve sort performance
  planner/core/fragment.go
  planner/core/hashcode.go
  planner/core/memtable_predicate_extractor.go
  planner/core/optimizer.go
  planner/core/rule_join_reorder.go
  planner/core/rule_partition_processor.go
  planner/core/util.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34947 ddl: fix wrong default value
  ddl/column_modify_test.go
  ddl/db_table_test.go
  ddl/ddl_api.go
  ddl/table_modify_test.go
  executor/seqtest/seq_executor_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-6.1

#35188 *: make `Row errors` be correctly checked
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/restore/meta_manager.go
  cmd/explaintest/main.go
  dumpling/export/ir_impl.go
  dumpling/export/sql.go
  planner/core/logical_plan_builder.go
  tests/globalkilltest/global_kill_test.go
  util/dbutil/common.go
  util/dbutil/variable.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35170 statistics: fix index isEvicted
  statistics/histogram.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35186 makefile: remove useless item
  Makefile
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34889 table: add some injections for testing data-inconsistency defense
  kv/kv.go
  store/driver/txn/unionstore_driver.go
  table/tables/mutation_checker.go
  table/tables/tables.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#34878 executor: reuse iterator4Slice and Row/RowPtrs slice in HashJoin.
  executor/hash_table.go
  executor/hash_table_test.go
  executor/join.go
  util/chunk/iterator.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35183 infosync: fix data race in the mockTiFlashPlacementManager
  domain/infosync/info.go
  domain/infosync/tiflash_manager.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35199 util: fix data race in ListInDisk
  executor/hash_table.go
  util/chunk/disk.go
  util/chunk/row_container.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35221 planner: use compareTaskCost to compare costs between different plans in `DataSource.findBestTask`
  planner/core/find_best_task.go
Labels: status/LGT2, sig/planner, status/can-merge, size/S, release-note-none

#35226 planner: refactor to use the standard function `GetXXFactor()` to get cost model factors
  planner/core/find_best_task.go
  planner/core/plan_cost.go
  planner/core/task.go
  planner/implementation/simple_plans.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#35214 BR: fix Unit test TestconfigureRestoreClient
  Makefile
  br/pkg/task/restore_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/br

#35238 executor: clean test code
  executor/simple_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35100 *: delete from `mysql.columns_priv` when drop a user
  executor/simple.go
  executor/simple_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#35245 *: fix typos in comments and documentations
  ddl/reorg.go
  docs/design/2018-07-01-refactor-aggregate-framework.md
  docs/design/2018-10-20-join-reorder-dp-v1.md
  docs/design/2019-04-11-indexmerge.md
  docs/design/2019-11-14-tidb-builtin-diagnostics.md
  docs/design/2020-01-24-collations.md
  docs/design/2020-05-11-heap-profile-record.md
  docs/design/2021-03-09-security-enhanced-mode.md
  docs/design/README.md
  tablecodec/tablecodec.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35201 executor: refactor analyze executor
  executor/analyze.go
  executor/analyze_col.go
  executor/analyze_fast.go
  executor/analyze_global_stats.go
  executor/analyze_idx.go
  executor/analyze_incremental.go
  executor/analyze_utils.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35228 coprocessor: append bucket information in log when errors are returned in coprocess response
  store/copr/coprocessor.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35251 statistics/handle: enable flaky and shard test
  statistics/handle/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34990 metrics: add a config to unregister the unused metrics
  metrics/metrics.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/mockstore/unistore/metrics/metrics.go
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35125 tables: remove a useless test
  table/tables/tables_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35246 executor: unstable test TestFlushTables move to standalone sandbox
  executor/simple_test.go
  executor/simpletest/BUILD.bazel
  executor/simpletest/main_test.go
  executor/simpletest/simple_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35241 planner: introduce some new variables for the cost model version2
  executor/set_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#35237 br: add summary to stream restore
  br/pkg/task/stream.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/br, needs-cherry-pick-6.1

#34972 log: add isPessimistic field in general log
  session/session.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35277 *: clean up coprocessor streaming code
  distsql/distsql.go
  distsql/request_builder.go
  distsql/request_builder_test.go
  distsql/select_result.go
  distsql/stream.go
  executor/builder.go
  executor/distsql.go
  executor/executor_test.go
  executor/index_merge_reader.go
  executor/mpp_gather.go
  executor/table_reader.go
  executor/table_readers_required_rows_test.go
  kv/kv.go
  planner/core/plan_to_pb.go
  store/copr/coprocessor.go
  store/mockstore/mockcopr/cop_handler_dag.go
  store/mockstore/mockcopr/rpc_copr.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35283 table: enable more shard_count
  table/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35210 txn: skip the transaction start_ts used by analyze calculating the gc
  server/server.go
  session/session.go
Labels: status/LGT2, type/bug-fix, sig/transaction, status/can-merge, size/S, release-note-none

#35231 ddl: add data structure `SubJob` for multi-schema change
  ddl/cancel_test.go
  ddl/column_change_test.go
  ddl/main_test.go
  parser/model/ddl.go
  table/tables/tables.go
  util/dbterror/ddl_terror.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35287 br: add summary to stream restore
  br/pkg/task/stream.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#35299 privileges: enable flaky test
  privilege/privileges/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35304 br: adapt new checkpoint model
  br/pkg/stream/client.go
  br/pkg/stream/stream_misc_test.go
  br/pkg/stream/stream_status.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35158 *: Introduce PessimisticRRTxnContextProvider for pessimistic repeatable read txn
  planner/funcdep/extract_fd_test.go
  planner/optimize.go
  session/session.go
  session/txnmanager.go
  sessiontxn/interface.go
  sessiontxn/isolation/base.go
  sessiontxn/isolation/readcommitted.go
  sessiontxn/isolation/readcommitted_test.go
  sessiontxn/isolation/repeatable_read.go
  sessiontxn/isolation/repeatable_reat_test.go
  sessiontxn/legacy/provider.go
  sessiontxn/staleread/provider.go
  sessiontxn/txn_manager_test.go
  tests/realtikvtest/sessiontest/temporary_table_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35127 lightning: support custom promethues factory and registry
  br/pkg/lightning/backend/backend.go
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/backend/kv/sql2kv_test.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/lightning_serial_test.go
  br/pkg/lightning/metric/metric.go
  br/pkg/lightning/metric/metric_test.go
  br/pkg/lightning/mydump/csv_parser.go
  br/pkg/lightning/mydump/csv_parser_test.go
  br/pkg/lightning/mydump/parser.go
  br/pkg/lightning/mydump/parser_test.go
  br/pkg/lightning/mydump/region.go
  br/pkg/lightning/restore/check_info.go
  br/pkg/lightning/restore/checksum.go
  br/pkg/lightning/restore/chunk_restore_test.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore.go
  br/pkg/lightning/restore/table_restore_test.go
  br/pkg/lightning/restore/tidb.go
  br/pkg/lightning/restore/tidb_test.go
  br/pkg/lightning/run_options.go
  br/pkg/lightning/worker/worker.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35315 README.md: update URL of TiDB Cloud free trial
  README.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#35146 txn: Provide PessimisticSerializableTxnContextProvider for Serializable isolation
  session/txnmanager.go
  sessiontxn/isolation/serializable.go
  sessiontxn/isolation/serializable_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#35260 privilege: limit the privileges in memory schemas
  executor/grant.go
  executor/grant_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, needs-cherry-pick-4.0, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35341 *: close RecordSet
  ddl/column_type_change_test.go
  ddl/db_cache_test.go
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/db_table_test.go
  ddl/ddl_error_test.go
  ddl/ddl_worker_test.go
  ddl/failtest/fail_db_test.go
  ddl/placement_policy_test.go
  ddl/placement_sql_test.go
  ddl/sequence_test.go
  privilege/privileges/BUILD.bazel
  testkit/testkit.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35218 log_backup: fix the retry over wrapped errors
  br/pkg/restore/import_retry.go
  br/pkg/restore/import_retry_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/br

#35339 br: return given error and wait retry when failed to ScanRegions
  br/pkg/restore/import.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util_test.go
  br/pkg/task/restore.go
  br/tests/br_full/run.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/br, needs-cherry-pick-6.1

#35363 br: return given error and wait retry when failed to ScanRegions
  br/pkg/restore/import.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util_test.go
  br/pkg/task/restore.go
  br/tests/br_full/run.sh
Labels: status/LGT2, size/M, release-note-none

#35360 log_backup: fix the retry over wrapped errors (#35218)
  br/pkg/restore/import_retry.go
  br/pkg/restore/import_retry_test.go
Labels: status/LGT2, size/M, release-note-none

#35365 executor: fix panic when granting privilege to a non-exists user
  executor/grant.go
  executor/grant_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35373 executor: close RecordSet in the ddl_test and write_test
  executor/ddl_test.go
  executor/write_test.go
  testkit/testkit.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35244 *: support paging protocol on unistore
  executor/builder.go
  executor/copr_cache_test.go
  planner/core/cbo_test.go
  planner/core/integration_test.go
  planner/core/physical_plan_test.go
  statistics/handle/update_test.go
  store/copr/coprocessor.go
  store/gcworker/gc_worker_test.go
  store/mockstore/mockcopr/executor_test.go
  store/mockstore/unistore/cophandler/cop_handler.go
  store/mockstore/unistore/cophandler/cop_handler_test.go
  store/mockstore/unistore/cophandler/mpp.go
  store/mockstore/unistore/cophandler/mpp_exec.go
  tests/realtikvtest/sessiontest/session_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35364 *: update client-go to improve availability on tikv failure
  DEPS.bzl
  executor/executor_failpoint_test.go
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, size/S

#35298 planner: Manual revert of #24282
  executor/partition_table_test.go
  planner/core/partition_prune.go
  planner/core/rule_partition_processor.go
  planner/core/testdata/partition_pruner_out.json
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35358 ddl: add front-end checks for multi-schema change
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/multi_schema_change.go
  docs/design/2022-03-10-backup-with-batch-create-table.md
  parser/model/ddl.go
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#33629 doc, ddl: concurrent ddl framework design doc
  docs/design/2022-03-31-concurrent-ddl-framawork.md
  docs/design/imgs/concurrendl-ddl.png
  docs/design/imgs/queue-ddl.png
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#35321 *: enable test_verbose_timeout_warnings
  .bazelrc
  tests/realtikvtest/sessiontest/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34037 docs: add a proposal for multi-schema change
  docs/design/2022-04-15-multi-schema-change.md
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35361 statistics: revise loaded for column
  statistics/handle/handle.go
  statistics/histogram.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#35378 planner: introduce new cost formula for Selection/TableScan/IndexScan
  planner/core/plan_cost.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#35369 planner: improve the generation for record the test cases
  testkit/testdata/testdata.go
Labels: status/LGT2, sig/planner, component/test, status/can-merge, size/M, release-note-none

#35343 sessionctx, types, executor: support encoding and decoding user-defined variables
  executor/executor_test.go
  executor/show.go
  executor/simple.go
  session/session.go
  sessionctx/context.go
  sessionctx/sessionstates/session_states.go
  sessionctx/sessionstates/session_states_test.go
  sessionctx/variable/session.go
  types/datum.go
  types/datum_test.go
  types/mydecimal.go
  types/mydecimal_test.go
  types/time.go
  types/time_test.go
  util/mock/context.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#30600 *: fix some http connection leaks found by lint check
  domain/infosync/info.go
  server/plan_replayer.go
Labels: status/LGT2, release-note, status/can-merge, size/S, cherry-pick-approved

#35408 planner: introduce new cost formula for IndexLookup
  planner/core/plan_cost.go
Labels: status/LGT2, sig/planner, status/can-merge, size/S, release-note-none

#35422 ddl: refactor unlock seq and make ddl worker closeable
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/ddl_worker.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35407 ddl: skip shard_row_id_bits check if it is zero
  ddl/table.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35009 expression: refine date_add/sub return type and precision
  DEPS.bzl
  expression/bench_test.go
  expression/builtin.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/builtin_time_vec.go
  expression/builtin_time_vec_generated.go
  expression/builtin_time_vec_generated_test.go
  expression/builtin_time_vec_test.go
  expression/generator/time_vec.go
  expression/integration_serial_test.go
  expression/integration_test.go
  expression/typeinfer_test.go
  expression/util_test.go
  go.mod
  go.sum
  testkit/result.go
  types/time.go
  types/time_test.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/XXL, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0

#35371 expression: fix 2 unstable test cases
  expression/builtin_string_serial_test.go
  expression/builtin_string_test.go
  expression/collation_serial_test.go
  expression/collation_test.go
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note-none, type/5.3-cherry-pick

#34288 lightning: sample files and pre-allocate rowID before restoring chunk
  Makefile
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/engine_test.go
  br/pkg/lightning/mydump/region.go
  br/pkg/lightning/mydump/region_test.go
  br/pkg/lightning/restore/chunk_restore_test.go
  br/pkg/lightning/restore/meta_manager.go
  br/pkg/lightning/restore/meta_manager_test.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/table_restore.go
  br/pkg/lightning/restore/table_restore_test.go
  br/tests/lightning_auto_random_default/run.sh
  br/tests/lightning_realloc_id/config.toml
  br/tests/lightning_realloc_id/config1.toml
  br/tests/lightning_realloc_id/config2.toml
  br/tests/lightning_realloc_id/data/db-schema-create.sql
  br/tests/lightning_realloc_id/data/db.test-schema.sql
  br/tests/lightning_realloc_id/data/db.test.000000000.csv
  br/tests/lightning_realloc_id/data/db.test.000000001.sql
  br/tests/lightning_realloc_id/data1/db-schema-create.sql
  br/tests/lightning_realloc_id/data1/db.test-schema.sql
  br/tests/lightning_realloc_id/data1/db.test.000000000.csv
  br/tests/lightning_realloc_id/data1/db.test.000000001.sql
  br/tests/lightning_realloc_id/data2/db.test.000000000.csv
  br/tests/lightning_realloc_id/run.sh
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/XXL, release-note-none, component/lightning, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35271 br,lightning: add in-memory implementation for external storage
  br/pkg/storage/memstore.go
  br/pkg/storage/memstore_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35450 *: move some tests and make some changes
  ddl/column_test.go
  ddl/ddl_api_test.go
  ddl/ddl_test.go
  ddl/ddl_worker_test.go
  ddl/reorg_test.go
  ddl/schema_test.go
  domain/domain.go
  owner/manager_test.go
  util/mock/context.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35222 load_data: fix the bug that column list does not work in load data.
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/errors.go
  executor/load_data.go
  server/server_test.go
  server/tidb_serial_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35440 parser: support the ordered_hash_join hint
  parser/ast/misc.go
  parser/ast/misc_test.go
  parser/hintparser.go
  parser/hintparser.y
  parser/misc.go
  parser/parser_test.go
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none

#35399 planner: fix bug that planner generates wrong 2 phase aggregate plan for TiFlash
  executor/tiflash_test.go
  planner/core/enforce_mpp_test.go
  planner/core/exhaust_physical_plans.go
  planner/core/testdata/enforce_mpp_suite_in.json
  planner/core/testdata/enforce_mpp_suite_out.json
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#35328 statistics: handle topn reference if it is nil
  statistics/cmsketch.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35438 planner: fix the wrong cost formula of MPPExchanger
  executor/tiflashtest/tiflash_test.go
  planner/core/plan_cost.go
  planner/core/task.go
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/window_push_down_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#35394 error: split an error type from ErrKeyColumnDoesNotExists
  ddl/column.go
  ddl/db_change_test.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  util/dbterror/ddl_terror.go
  util/dbutil/retry.go
  util/dbutil/retry_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#35415 planner: fix cte-schema-clone will clone the old hashcode of its column if any
  cmd/explaintest/r/explain_cte.result
  cmd/explaintest/t/explain_cte.test
  expression/column.go
  planner/core/logical_plan_builder.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35135 statistics: support tracking column cmsketch
  statistics/handle/dump.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/handle_test.go
  statistics/handle/lru_cache.go
  statistics/handle/lru_cache_test.go
  statistics/histogram.go
  statistics/histogram_test.go
  statistics/selectivity_test.go
  statistics/statistics_test.go
  statistics/table.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#35470 txn: fix bug that some times lock ts and read ts are not the same
  executor/adapter.go
  executor/builder.go
  session/txnmanager.go
  sessiontxn/failpoint.go
  sessiontxn/isolation/repeatable_read.go
  sessiontxn/isolation/repeatable_read_test.go
  sessiontxn/txn_context_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35312 executor: separte analyze v1/v2 code for for analyzeExec
  executor/BUILD.bazel
  executor/analyze.go
  executor/analyze_col.go
  executor/analyze_col_v2.go
  executor/analyze_fast.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35344 *: enable nogo to use fast incremental linter
  .github/licenserc.yml
  WORKSPACE
  build/BUILD.bazel
  build/lint.bzl
  build/nogo_config.json
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#35396 *: add parser generation command at the root
  Makefile
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#34399 execution: avoid decimal overflow and check valid
  expression/aggregation/agg_to_pb.go
  expression/aggregation/agg_to_pb_test.go
  expression/aggregation/base_func.go
  expression/builtin.go
  expression/builtin_arithmetic.go
  expression/builtin_cast.go
  expression/builtin_compare.go
  expression/builtin_control.go
  expression/builtin_math.go
  expression/builtin_op.go
  expression/builtin_other.go
  expression/builtin_time.go
  expression/expr_to_pb.go
  expression/expr_to_pb_test.go
  expression/expression.go
  parser/types/field_type.go
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/plan_to_pb.go
  planner/core/task.go
  types/datum.go
  types/field_type.go
Labels: status/LGT2, status/can-merge, size/XL, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35495 planner: fix cte-schema-clone will clone the old hashcode of its column if any (#35415)
  cmd/explaintest/r/explain_cte.result
  cmd/explaintest/t/explain_cte.test
  expression/column.go
  planner/core/logical_plan_builder.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#35285 infoschema: try on each PD member until one succeeds or all fail
  infoschema/tables.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-4.0, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, release-note-none, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35475 expression, util: add `KeyWithoutTrimRightSpace` for collator
  expression/integration_serial_test.go
  expression/util.go
  util/collate/bin.go
  util/collate/collate.go
  util/collate/gbk_bin.go
  util/collate/gbk_chinese_ci.go
  util/collate/general_ci.go
  util/collate/pinyin_tidb_as_cs.go
  util/collate/unicode_ci.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35512 ddl: expose getPrimaryKey() as a public method of model.TableInfo
  ddl/ddl_api.go
  parser/model/model.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35500 *: enable more flaky and update bazel config
  br/pkg/lightning/mydump/BUILD.bazel
  br/pkg/storage/BUILD.bazel
  ddl/BUILD.bazel
  ddl/failtest/BUILD.bazel
  ddl/placement/BUILD.bazel
  ddl/util/BUILD.bazel
  expression/aggregation/BUILD.bazel
  parser/types/BUILD.bazel
  session/BUILD.bazel
  sessionctx/BUILD.bazel
  sessionctx/sessionstates/BUILD.bazel
  sessionctx/variable/BUILD.bazel
  sessiontxn/isolation/BUILD.bazel
  store/mockstore/mockcopr/BUILD.bazel
  util/mock/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35374 *: fix store token is up to the limit in test
  executor/set_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35131 *: Introduce `OptimisticTxnContextProvider` for optimistic txn
  ddl/ddl_test.go
  executor/adapter.go
  executor/prepared.go
  planner/BUILD.bazel
  planner/core/BUILD.bazel
  planner/core/preprocess.go
  planner/funcdep/extract_fd_test.go
  planner/optimize.go
  session/session.go
  session/txn.go
  session/txnmanager.go
  sessionctx/context.go
  sessiontxn/interface.go
  sessiontxn/isolation/BUILD.bazel
  sessiontxn/isolation/base.go
  sessiontxn/isolation/main_test.go
  sessiontxn/isolation/optimistic.go
  sessiontxn/isolation/optimistic_test.go
  sessiontxn/isolation/readcommitted.go
  sessiontxn/isolation/readcommitted_test.go
  sessiontxn/isolation/repeatable_read.go
  sessiontxn/isolation/repeatable_read_test.go
  sessiontxn/isolation/serializable_test.go
  sessiontxn/legacy/BUILD.bazel
  sessiontxn/legacy/provider.go
  sessiontxn/staleread/provider.go
  tests/realtikvtest/sessiontest/temporary_table_test.go
  util/mock/context.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35255 config: add missing nodelay example
  config/config.toml.example
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35053 expression: avoid padding 0 when implicitly cast to binary
  cmd/explaintest/r/collation_check_use_collation_disabled.result
  cmd/explaintest/r/collation_check_use_collation_enabled.result
  cmd/explaintest/t/collation_check_use_collation.test
  expression/builtin_cast.go
  planner/core/expression_rewriter.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35193 lightning: add store write limiter
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/localhelper.go
  br/pkg/lightning/backend/local/localhelper_test.go
  br/pkg/lightning/config/config.go
  br/tests/lightning_write_limit/config.toml
  br/tests/lightning_write_limit/run.sh
  br/tidb-lightning.toml
Labels: status/LGT2, release-note, status/can-merge, size/L, component/lightning

#35412 log-backup: adjust restore concurrency
  br/pkg/restore/client.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
Labels: status/LGT2, size/S, release-note-none

#35496 *: add support for disabling noop variables
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/errors.go
  executor/set.go
  executor/set_test.go
  executor/show.go
  planner/core/errors.go
  planner/core/expression_rewriter.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#35230 planner: add batch_point_get access object
  executor/partition_table_test.go
  planner/core/partition_pruner_test.go
  planner/core/point_get_plan.go
  planner/core/point_get_plan_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35531 sessionctx: support encoding and decoding session variables
  session/session.go
  sessionctx/sessionstates/session_states.go
  sessionctx/sessionstates/session_states_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/variable.go
  sessionctx/variable/varsutil.go
  sessionctx/variable/varsutil_test.go
  util/mathutil/rand.go
  util/mathutil/rand_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35560 *: upgrade go-proxyprotocol version
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#35528 lightning: allow caller to set a logger
  br/pkg/lightning/backend/backend.go
  br/pkg/lightning/backend/backend_test.go
  br/pkg/lightning/backend/kv/kv2sql.go
  br/pkg/lightning/backend/kv/session.go
  br/pkg/lightning/backend/kv/session_test.go
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/backend/kv/sql2kv_test.go
  br/pkg/lightning/backend/local/duplicate.go
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/engine_test.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/backend/local/localhelper.go
  br/pkg/lightning/backend/local/localhelper_test.go
  br/pkg/lightning/backend/noop/noop.go
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/backend/tidb/tidb_test.go
  br/pkg/lightning/checkpoints/checkpoints.go
  br/pkg/lightning/checkpoints/checkpoints_file_test.go
  br/pkg/lightning/checkpoints/checkpoints_sql_test.go
  br/pkg/lightning/checkpoints/glue_checkpoint.go
  br/pkg/lightning/common/conn.go
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/lightning_serial_test.go
  br/pkg/lightning/log/log.go
  br/pkg/lightning/mydump/csv_parser.go
  br/pkg/lightning/mydump/loader.go
  br/pkg/lightning/mydump/parquet_parser.go
  br/pkg/lightning/mydump/parser.go
  br/pkg/lightning/mydump/reader.go
  br/pkg/lightning/mydump/region.go
  br/pkg/lightning/mydump/router.go
  br/pkg/lightning/mydump/router_test.go
  br/pkg/lightning/restore/check_info.go
  br/pkg/lightning/restore/check_info_test.go
  br/pkg/lightning/restore/checksum.go
  br/pkg/lightning/restore/chunk_restore_test.go
  br/pkg/lightning/restore/meta_manager.go
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/restore/restore_test.go
  br/pkg/lightning/restore/table_restore.go
  br/pkg/lightning/restore/table_restore_test.go
  br/pkg/lightning/restore/tidb.go
  br/pkg/lightning/run_options.go
  br/pkg/mock/backend.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, component/lightning

#35370 charset: fix data race in the Collation.IsDefault
  executor/point_get_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35293 executor: fix wrong runtime stats for `ShuffleReceiver`
  executor/builder.go
  executor/explain_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35561 *: update client-go to improve availability on tikv failure
  executor/main_test.go
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, size/XS, cherry-pick-approved

#34437 readme: Add the contributor swag form.
  README.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#34107 *: remove useless gomod
  tests/globalkilltest/global_kill_test.go
  tests/globalkilltest/go.mod
  tests/globalkilltest/go.sum
  tests/graceshutdown/go.mod
  tests/graceshutdown/go.sum
  tests/readonlytest/go.mod
  tests/readonlytest/go.sum
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35239 expr: fix `unix_timestamp` range check
  expression/builtin_time.go
  expression/integration_serial_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#34140 planner, executor: add some comments about how we decide sample rate
  executor/builder.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XS, release-note-none

#34097 *: track the memory usage in Insert/Update/Delete executors
  executor/delete.go
  executor/update.go
  kv/key.go
  kv/key_test.go
  statistics/row_sampler.go
  util/hack/hack.go
  util/set/mem_aware_map.go
  util/set/mem_aware_map_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#34249 DM: update contact information of DM
  dumpling/README.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#35643 planner: introduce new cost formula for MPPJoins
  planner/core/plan_cost.go
  planner/core/task.go
  planner/implementation/join.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#35487 session, session_test: Improve read-only for autocommit statements
  session/session.go
  session/session_test/session_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#35650 dumpling: unregister metrics if meet error in NewDumper
  dumpling/export/dump.go
  dumpling/export/dump_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#35486 *: enable staticcheck and prealloc on nogo
  BUILD.bazel
  DEPS.bzl
  bindinfo/bind_cache.go
  br/cmd/tidb-lightning-ctl/main.go
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/backend/local/duplicate.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/errormanager/errormanager.go
  build/BUILD.bazel
  build/linter/prealloc/BUILD.bazel
  build/linter/prealloc/analyzer.go
  build/linter/staticcheck/BUILD.bazel
  build/linter/staticcheck/analyzer.go
  build/linter/staticcheck/def.bzl
  build/linter/staticcheck/util.go
  build/linter/util/BUILD.bazel
  build/linter/util/util.go
  build/nogo_config.json
  cmd/importer/db.go
  executor/analyze_test.go
  executor/builder.go
  executor/infoschema_reader.go
  executor/inspection_result.go
  executor/memtable_reader.go
  expression/builtin_string.go
  go.mod
  go.sum
  infoschema/perfschema/tables.go
  infoschema/tables.go
  parser/consistent_test.go
  parser/model/model.go
  parser/parser_test.go
  parser/yy_parser.go
  planner/core/rule_column_pruning.go
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_dp.go
  privilege/privileges/cache.go
  server/conn.go
  store/driver/tikv_driver.go
  tools/check/ut.go
  util/importer/db.go
  util/processinfo.go
  util/ranger/detacher.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#35275 session,sessionctx: enable tidb_enable_paging by default
  executor/analyzetest/analyze_test.go
  planner/core/explain.go
  planner/core/plan_cost_test.go
  planner/core/plan_test.go
  session/bootstrap.go
  session/bootstrap_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/mockstore/unistore/cophandler/mpp_exec.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#23673 docs: add small table caching proposal
  docs/design/2021-03-30-small-table-caching.md
  docs/design/imgs/cached-table-read.png
  docs/design/imgs/cached-table-write.png
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#35656 br: increase the retry backoff when scan regions
  br/pkg/restore/split.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, component/br

#35202 executor: Show placement information in SHOW TABLE x REGIONS
  executor/show.go
  executor/split.go
  executor/splittest/split_table_test.go
  planner/core/planbuilder.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#28835 txn, session: Add (cluster_)trx_summary table
  config/config.go
  docs/design/2021-04-26-lock-view.md
  docs/tidb_http_api.md
  executor/builder.go
  executor/infoschema_reader.go
  infoschema/cluster.go
  infoschema/infoschema_test.go
  infoschema/tables.go
  infoschema/tables_test.go
  server/http_handler.go
  session/txn.go
  session/txninfo/summary.go
  tidb-server/main.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#35648 sessionctx: support encoding and decoding session contexts
  session/session.go
  sessionctx/sessionstates/session_states.go
  sessionctx/sessionstates/session_states_test.go
  sessionctx/variable/sequence_state.go
  sessionctx/variable/session.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#35455 *: fix issue of cast string as time is incompatible with MySQL
  expression/builtin_cast.go
  expression/builtin_cast_vec.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/builtin_time_vec.go
  expression/builtin_time_vec_generated.go
  expression/generator/time_vec.go
  server/util_test.go
  sessionctx/variable/varsutil.go
  statistics/scalar_test.go
  tablecodec/tablecodec_test.go
  tests/realtikvtest/sessiontest/session_test.go
  types/convert.go
  types/convert_test.go
  types/datum.go
  types/datum_test.go
  types/time.go
  types/time_test.go
  util/chunk/mutrow_test.go
  util/codec/codec_test.go
  util/rowcodec/rowcodec_test.go
Labels: status/LGT2, component/expression, status/can-merge, compatibility-breaker, size/L, release-note-none

#35661 *: enable durationcheck for nogo linter
  DEPS.bzl
  br/pkg/lightning/BUILD.bazel
  br/pkg/lightning/errormanager/BUILD.bazel
  build/BUILD.bazel
  build/linter/durationcheck/BUILD.bazel
  build/linter/durationcheck/analyzer.go
  build/linter/util/util.go
  build/nogo_config.json
  go.mod
  go.sum
  kv/BUILD.bazel
  session/BUILD.bazel
  session/session_test/BUILD.bazel
  sessionctx/sessionstates/BUILD.bazel
  util/dbutil/common.go
  util/set/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35453 config, sysvar: map `max-server-connections` to `max_connections`
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/set_test.go
  expression/integration_test.go
  server/server.go
  sessionctx/variable/noop.go
  sessionctx/variable/sysvar.go
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#34047 types: fix bad error message for numeric conversion issue#32744
  ddl/column_type_change_test.go
  types/convert_test.go
  types/mydecimal.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#35680 *: enable exportloopref
  DEPS.bzl
  build/BUILD.bazel
  build/linter/exportloopref/BUILD.bazel
  build/linter/exportloopref/analyzer.go
  build/nogo_config.json
  go.mod
  go.sum
  sessionctx/sessionstates/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#35663 table: fix cannot find the temp table when it's created in a transaction
  ddl/db_integration_test.go
  infoschema/infoschema.go
  table/temptable/ddl_test.go
  table/temptable/infoschema.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#35641 raw_restore: fix the issue that raw restore rewrite the t prefix keys
  br/pkg/task/restore_raw.go
  br/tests/br_rawkv/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-5.0, needs-cherry-pick-5.1, needs-cherry-pick-5.2, needs-cherry-pick-5.3, needs-cherry-pick-5.4, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35655 log-backup: support pitr feature for PoC test
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/import_retry.go
  br/pkg/restore/import_retry_test.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util_test.go
  br/pkg/stream/client.go
  br/pkg/stream/stream_misc_test.go
  br/pkg/stream/stream_status.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
  br/tests/br_full/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/XL, cherry-pick-approved, component/br

#35552 BR: fix backup ranges total time summary log
  br/pkg/backup/client.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, component/br, needs-cherry-pick-6.0, needs-cherry-pick-6.1

#35671 planner: new cost formula for IndexJoin
  planner/core/plan_cost.go
  planner/core/task.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none
