Repository pingcap/tidb, pull requests merged in 2023-03, with the labels that each got.

#40102 log-backup: allow coordinator to upload GC safepoint
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_env.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
  br/pkg/streamhelper/flush_subscriber.go
  br/pkg/streamhelper/regioniter.go
  br/pkg/streamhelper/regioniter_test.go
  br/pkg/streamhelper/spans/value_sorted.go
  metrics/log_backup.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41807 client-go: update client-go
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41791 types: clip to zero when convert negative decimal to uint
  types/convert.go
  types/convert_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#41802 hotfix: pick f6edebc054371e4bce9b672d420bfeaa60d52049 to release-6.1-20230301-v6.1.2 | tidb-test=1ea2292cb6b66e9497652a0845b7b0118afe3294
  executor/builder.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, type/bug-fix, status/can-merge, size/M, release-note-none

#41822 planner: add more test cases for non-prep plan cache
  executor/slow_query_sql_test.go
  util/stmtsummary/v2/tests/table_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, release-note-none

#41809 planner: add more test cases for non-prep plan cache
  planner/core/plan_cache_test.go
  planner/core/plan_cacheable_checker.go
  planner/optimize.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#41804 planner: resolve the compatibility problems for the join hint
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_dp_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none, epic/hint

#41798 planner: supply test for subquery in prepared plan cache
  planner/core/plan_cache_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#41787 br/lightning: change `KvPair`'s row ID type from `int64` to `[]bytes`
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/backend/kv/sql2kv_test.go
  br/pkg/lightning/backend/local/duplicate.go
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/iterator.go
  br/pkg/lightning/backend/local/iterator_test.go
  br/pkg/lightning/backend/local/key_adapter.go
  br/pkg/lightning/backend/local/key_adapter_test.go
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/common/util.go
  ddl/index.go
  ddl/ingest/engine.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41830 planner: skip plan cache if plans have `MemTableScan` operator
  planner/core/plan_cache_test.go
  planner/core/plan_cacheable_checker.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#41765 asyncloaddata: add table and helper functions
  executor/asyncloaddata/BUILD.bazel
  executor/asyncloaddata/util.go
  executor/asyncloaddata/util_test.go
  kv/option.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#41826 util, executor: fix analyze stmts be killed unexpectedly
  executor/analyzetest/analyze_test.go
  util/memory/tracker.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/XS, needs-cherry-pick-release-6.5

#41824 log-backup: fix the issue that gc-worker owner cannot check log-backup task existed.
  br/pkg/streamhelper/advancer_daemon.go
  br/pkg/streamhelper/daemon/interface.go
  br/pkg/streamhelper/daemon/owner_daemon.go
  br/pkg/streamhelper/daemon/owner_daemon_test.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/db.go
  br/tests/br_restore_log_task_enable/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#41845 *: Auto refresh PD addrs for PDPlacementManager, PDLabelManager (#33909)
  domain/infosync/info.go
  domain/infosync/label_manager.go
  domain/infosync/placement_manager.go
  go.mod
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41786 expression: fix error handling of `DateAddString` vectorized function
  expression/builtin_time.go
  expression/integration_test/integration_test.go
Labels: status/LGT2, type/bug-fix, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#41860 ddl: use `=` to replace with `like` when querying complete task_key
  ddl/job_table.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41766 resourcemanager: stop scheduler in the old linux kernal
  resourcemanager/scheduler/cpu_scheduler.go
  util/cpu/cpu.go
  util/cpu/cpu_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41870 planner: fix the issue that cached IndexMerge plans can return wrong results in some cases
  executor/explainfor_test.go
  planner/core/indexmerge_path.go
  planner/core/plan_cache_test.go
  planner/core/plan_cacheable_checker.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#41879 ddl: never write untouched index values to temp index
  ddl/indexmergetest/merge_test.go
  table/tables/index.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#41887 key: remove unnecesssary convert
  executor/delete.go
  executor/index_merge_reader.go
  kv/key.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, skip-issue-check

#41677 errors: add resource group throttled error
  DEPS.bzl
  errno/errcode.go
  errno/errname.go
  errors.toml
  go.mod
  go.sum
  store/driver/BUILD.bazel
  store/driver/error/BUILD.bazel
  store/driver/error/error.go
  store/driver/tikv_driver.go
  store/mockstore/unistore/BUILD.bazel
  store/mockstore/unistore/pd.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, ok-to-test

#41823 planner: optimize `ifnull(not-null-column, ...)` to a cast instead of eliminating it. tidb-test=pr/2098
  cmd/explaintest/r/explain_easy.result
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
  planner/core/testdata/plan_suite_unexported_out.json
  util/ranger/ranger_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#41637 planner: resolve the conflict for join hint | tidb-test=pr/2084
  cmd/explaintest/r/cte.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_join.result
  executor/index_advise_test.go
  executor/index_lookup_merge_join_test.go
  executor/merge_join_test.go
  executor/partition_table_test.go
  executor/prepared_test.go
  planner/core/casetest/physical_plan_test.go
  planner/core/casetest/testdata/analyze_suite_out.json
  planner/core/casetest/testdata/enforce_mpp_suite_out.json
  planner/core/casetest/testdata/integration_suite_out.json
  planner/core/casetest/testdata/join_reorder_suite_out.json
  planner/core/casetest/testdata/plan_suite_out.json
  planner/core/logical_plan_builder.go
  planner/core/plan_cache_test.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none, epic/hint

#41909 planner: add more test cases for non-prep plan cache
  planner/core/plan_cache_test.go
  planner/core/plan_cacheable_checker.go
  planner/core/plan_cacheable_checker_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L, release-note-none

#41839 Lightning: reduce the complexity of precheck
  br/pkg/lightning/restore/get_pre_info.go
  br/pkg/lightning/restore/precheck_impl.go
  br/pkg/lightning/restore/table_restore_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41897 *: add mirror for bazel's rules
  WORKSPACE
Labels: status/LGT2, status/can-merge, size/S, release-note-none, skip-issue-check

#41832 session: check redact when log compile error
  session/session.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#40742 copr: support load_based_replica_read_threshold
  distsql/request_builder.go
  kv/kv.go
  kv/option.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessiontxn/internal/txn.go
  sessiontxn/isolation/base.go
  store/copr/coprocessor.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, ok-to-test

#41875 parser: Add special formatter for extract(unit FROM date)
  ddl/db_partition_test.go
  parser/ast/functions.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41914 planner: add more test cases for non-prep plan cache
  planner/core/plan_cache_test.go
  planner/core/plan_cacheable_checker.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#41864 txn: Slow txn log
  session/BUILD.bazel
  session/session.go
  session/txnmanager.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessiontxn/interface.go
  util/logutil/log.go
  util/sem/sem.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#41876 domain: revise extract plan package format
  domain/extract.go
  domain/plan_replayer_dump.go
  server/extract.go
  server/extract_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#41888 bootstrap: add more tests for initialize-sql-file
  session/bootstrap.go
  session/bootstrap_test.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5

#41844 util: add keyspace into log
  keyspace/BUILD.bazel
  keyspace/keyspace.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/sysvar.go
  tidb-server/main.go
  util/logutil/log.go
  util/logutil/log_test.go
  util/logutil/main_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#41868 planner: support hash_join_build and hash_join_probe hint for MPP joins
  planner/core/casetest/physical_plan_test.go
  planner/core/casetest/testdata/enforce_mpp_suite_out.json
  planner/core/casetest/testdata/plan_suite_in.json
  planner/core/casetest/testdata/plan_suite_out.json
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none, skip-issue-check, epic/hint

#41950 ddl: fix create view when met err
  ddl/table.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.6

#41882 stmtsummary: stmtsummary with keyspace
  executor/BUILD.bazel
  executor/adapter.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/v2/record.go
  util/stmtsummary/v2/record_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#41934 store/copr: disable store batch copr for internal requests
  store/copr/coprocessor.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41945 planner: existing explain format can not use non-prepared plan cache
  planner/core/plan_cache_test.go
  planner/optimize.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#41946 lightning: rename and move some struct
  br/cmd/tidb-lightning-ctl/BUILD.bazel
  br/cmd/tidb-lightning-ctl/main.go
  br/pkg/lightning/BUILD.bazel
  br/pkg/lightning/importer/BUILD.bazel
  br/pkg/lightning/importer/check_info.go
  br/pkg/lightning/importer/check_info_test.go
  br/pkg/lightning/importer/check_template.go
  br/pkg/lightning/importer/checksum.go
  br/pkg/lightning/importer/checksum_test.go
  br/pkg/lightning/importer/chunk_process.go
  br/pkg/lightning/importer/chunk_process_test.go
  br/pkg/lightning/importer/get_pre_info.go
  br/pkg/lightning/importer/get_pre_info_test.go
  br/pkg/lightning/importer/import.go
  br/pkg/lightning/importer/import_test.go
  br/pkg/lightning/importer/meta_manager.go
  br/pkg/lightning/importer/meta_manager_test.go
  br/pkg/lightning/importer/mock/BUILD.bazel
  br/pkg/lightning/importer/mock/mock.go
  br/pkg/lightning/importer/mock/mock_test.go
  br/pkg/lightning/importer/opts/BUILD.bazel
  br/pkg/lightning/importer/opts/get_pre_info_opts.go
  br/pkg/lightning/importer/opts/precheck_opts.go
  br/pkg/lightning/importer/precheck.go
  br/pkg/lightning/importer/precheck_impl.go
  br/pkg/lightning/importer/precheck_impl_test.go
  br/pkg/lightning/importer/precheck_test.go
  br/pkg/lightning/importer/restore_schema_test.go
  br/pkg/lightning/importer/table_import.go
  br/pkg/lightning/importer/table_import_test.go
  br/pkg/lightning/importer/tidb.go
  br/pkg/lightning/importer/tidb_test.go
  br/pkg/lightning/lightning.go
  br/tests/lightning_check_partial_imported/run.sh
  br/tests/lightning_checkpoint/run.sh
  br/tests/lightning_checkpoint_chunks/run.sh
  br/tests/lightning_checkpoint_columns/run.sh
  br/tests/lightning_checkpoint_dirty_tableid/run.sh
  br/tests/lightning_checkpoint_engines/run.sh
  br/tests/lightning_checkpoint_engines_order/run.sh
  br/tests/lightning_checkpoint_parquet/run.sh
  br/tests/lightning_checkpoint_timestamp/run.sh
  br/tests/lightning_compress/run.sh
  br/tests/lightning_concurrent-restore/run.sh
  br/tests/lightning_disk_quota/run.sh
  br/tests/lightning_distributed_import/run.sh
  br/tests/lightning_duplicate_detection/run.sh
  br/tests/lightning_duplicate_resolution_incremental/run.sh
  br/tests/lightning_error_summary/run.sh
  br/tests/lightning_fail_fast/run.sh
  br/tests/lightning_local_backend/run.sh
  br/tests/lightning_reload_cert/run.sh
  build/nogo_config.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#41678 *: support resource_group sql hint
  ddl/BUILD.bazel
  ddl/resourcegroup/BUILD.bazel
  ddl/resourcegroup/group_test.go
  ddl/resourcegrouptest/BUILD.bazel
  ddl/resourcegrouptest/resource_group_test.go
  parser/ast/misc.go
  parser/ast/misc_test.go
  parser/hintparser.go
  parser/hintparser.y
  parser/hintparser_test.go
  parser/parser_test.go
  planner/optimize.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#41961 lightning: fix integration test
  br/tests/lightning_reload_cert/run.sh
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#41959 lightning: fix keyspaceName privilege problem
  br/cmd/tidb-lightning-ctl/main.go
  br/pkg/lightning/BUILD.bazel
  br/pkg/lightning/config/config.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/lightning_serial_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.6

#41893 docs: add new roadmap
  roadmap.md
Labels: status/LGT1, component/docs, status/can-merge, size/XXL, release-note-none, require-LGT1

#41910 ddl: fix check unique multi-valued index
  br/pkg/lightning/backend/kv/kv2sql.go
  br/pkg/lightning/backend/kv/sql2kv.go
  ddl/index.go
  ddl/mv_index_test.go
  tests/realtikvtest/addindextest/integration_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41900 lightning: gcs reader seekend should has an positive offset
  br/pkg/storage/gcs.go
  br/pkg/storage/gcs_test.go
  executor/loadremotetest/error_test.go
  executor/loadremotetest/util_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41974 lightning: replace grpc gzip compressor with klauspost/compress/gzip
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/compress.go
  br/pkg/lightning/backend/local/compress_test.go
  br/pkg/lightning/backend/local/local.go
  build/nogo_config.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none, component/lightning

#40779 *: Change GitHub issue template to use the forum
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/general-question.md
  .github/ISSUE_TEMPLATE/performance-questions.md
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#41034 ddl: Increase ddl unit test speed
  Makefile
  ddl/ddl_worker.go
  ddl/job_table.go
  domain/domain.go
  tools/check/ut.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, ok-to-test

#41752 planner: add monitor for non-prepared plan cache
  executor/seqtest/prepared_test.go
  expression/integration_serial_test/integration_serial_test.go
  infoschema/tables_test.go
  metrics/grafana/tidb.json
  planner/core/metrics/metrics.go
  planner/core/plan_cache.go
  planner/core/plan_cache_lru.go
  planner/core/plan_cache_lru_test.go
  planner/core/plan_cache_test.go
  planner/core/prepare_test.go
  session/session.go
  util/stmtsummary/v2/tests/table_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L, release-note-none

#32111 server: enhance graceful stop by closing connections after finish the ongoing txn
  server/BUILD.bazel
  server/conn.go
  server/conn_test.go
  server/http_status.go
  server/server.go
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41989 disttask: add proto pkg for framework and example
  build/nogo_config.json
  disttask/example/BUILD.bazel
  disttask/example/proto.go
  disttask/framework/proto/BUILD.bazel
  disttask/framework/proto/task.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41982 br: continuing retry when pitr met the error about memory is limited
  br/pkg/restore/import_retry.go
  br/pkg/restore/import_retry_test.go
  br/pkg/utils/backoff.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.5

#41965 planner: add new explain format for plan cache
  executor/executor.go
  executor/explain_test.go
  planner/core/common_plans.go
  planner/core/plan_cache_test.go
  planner/optimize.go
  sessionctx/stmtctx/stmtctx.go
  types/explain_format.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L, release-note-none

#41958 store/copr: support EngineRoleWrite for disaggregated tiflash
  DEPS.bzl
  go.mod
  go.sum
  store/copr/batch_coprocessor.go
  store/copr/coprocessor.go
  store/copr/mpp.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41993 statistics/handle: use StatementContext with TimeZone in initStatsBuckets4Chunk
  statistics/handle/bootstrap.go
  statistics/handle/handletest/handle_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#41975 domain: support more params for extract plan task
  domain/domain.go
  domain/extract.go
  domain/extract_test.go
  domain/plan_replayer_test.go
  server/extract.go
  server/http_handler.go
  util/replayer/replayer.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41994 lightning: some refactor about id allocation
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/importer/table_import.go
  br/pkg/lightning/mydump/parser.go
  br/pkg/lightning/mydump/region.go
  br/pkg/lightning/mydump/region_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#42009 *: fix data race at the UnistoreRPCClientSendHook
  executor/resource_tag_test.go
  server/tidb_test.go
  store/mockstore/unistore/rpc.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41871 executor: LOAD DATA record progress in a table
  br/pkg/lightning/config/const.go
  executor/BUILD.bazel
  executor/asyncloaddata/BUILD.bazel
  executor/asyncloaddata/main_test.go
  executor/asyncloaddata/progress.go
  executor/asyncloaddata/show_test.go
  executor/asyncloaddata/util.go
  executor/asyncloaddata/util_test.go
  executor/builder.go
  executor/load_data.go
  executor/loadremotetest/BUILD.bazel
  executor/loadremotetest/util_test.go
  util/sqlexec/restricted_sql_executor.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#42006 sysvar: set the default value of resource control switch to false
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#42014 ttl, lightning: fix panic when importing TTL table data using lightning
  br/tests/lightning_ttl/data/ttldb.t1.0.sql
  br/tests/lightning_ttl/run.sh
  table/tables/tables.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-release-6.6

#41913 ddl: fix enable metadata lock
  ddl/ddl.go
  ddl/metadatalocktest/mdl_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, ok-to-test

#42016 planner: set the tidb_opt_advanced_join_hint to off when upgrade
  session/bootstrap.go
  session/bootstrap_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none, epic/hint

#41947 executor: unify replace into logic for InsertValues and ReplaceExec
  executor/executor.go
  executor/insert_common.go
  executor/load_data.go
  executor/loadremotetest/error_test.go
  executor/replace.go
  executor/utils_test.go
  executor/writetest/BUILD.bazel
  executor/writetest/write_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#41954 planner: add more test cases for join hint compatibility
  planner/core/casetest/integration_test.go
  planner/core/casetest/testdata/integration_suite_in.json
  planner/core/casetest/testdata/integration_suite_out.json
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XXL, release-note-none, epic/hint

#42036 docs: remove 1-year description from roadmap
  roadmap.md
Labels: status/LGT1, component/docs, status/can-merge, size/XS, release-note-none, require-LGT1

#42019 util/execdetails: fix potential risks of fatal error concurrent map read and map write
  util/execdetails/BUILD.bazel
  util/execdetails/execdetails.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#42034 mod: update the pd client
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#42046 *: upgrade go 1.20.2
  WORKSPACE
  executor/fktest/BUILD.bazel
  executor/fktest/main_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#42038 lightning: refactor to better reuse in load data
  br/pkg/lightning/backend/backend.go
  br/pkg/lightning/backend/backend_test.go
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/localhelper.go
  br/pkg/lightning/checkpoints/checkpoints.go
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/common/common.go
  br/pkg/lightning/importer/import.go
  br/pkg/lightning/importer/meta_manager.go
  br/pkg/lightning/importer/table_import.go
  br/pkg/lightning/importer/table_import_test.go
  br/pkg/lightning/mydump/loader.go
  ddl/ingest/config.go
  ddl/ingest/engine.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#41862 ddl: use length to determine if the slice is empty
  br/tests/br_partition_add_index/run.sh
  ddl/index.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41866 ttl: fix upgrade from 6.5 to 6.6 configuration default value
  executor/show.go
  parser/model/BUILD.bazel
  parser/model/model.go
  parser/model/model_test.go
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/job_manager.go
Labels: status/LGT2, release-note, status/can-merge, size/M, affects-6.6, needs-cherry-pick-release-6.6

#42026 monitor: optimize the statistics of db labels
  server/conn.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#42062 metrics: fix bad estimate-inuse
  metrics/grafana/tidb_runtime.json
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#41976 util: add test for old version cgroup
  resourcemanager/util/mock_gpool.go
  util/cgroup/BUILD.bazel
  util/cgroup/cgroup_cpu_linux.go
  util/cgroup/cgroup_cpu_unsupport.go
  util/cpu/BUILD.bazel
  util/cpu/cpu_test.go
  util/cpu/main_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#42067 txn: Make lockOnlyIfExist and WakeUpModeForceLocking able to work together
  DEPS.bzl
  go.mod
  go.sum
  store/driver/txn/txn_driver.go
  store/mockstore/unistore/tikv/mvcc.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, sig/transaction, status/can-merge, size/L, release-note-none

#42066 session: set tidb_stats_load_pseudo_timeout to ON when upgrade to v6.5
  session/bootstrap.go
  session/bootstrap_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#42076 statistics: fix wrong column stats loading after analyze twice
  statistics/integration_test.go
  statistics/interact_with_storage.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#41406 *: support different tiflash_compute dispatch policy
  executor/tiflashtest/tiflash_test.go
  kv/BUILD.bazel
  kv/mpp.go
  planner/core/BUILD.bazel
  planner/core/fragment.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/copr/batch_coprocessor.go
  store/copr/batch_coprocessor_test.go
  store/copr/mpp.go
  util/tiflashcompute/BUILD.bazel
  util/tiflashcompute/dispatch_policy.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#42101 session: fix unstable test TestStaleReadNoExtraTSORequest
  session/session.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#42074 statistics: fix unnecessary index fmsketch loading
  statistics/integration_test.go
  statistics/interact_with_storage.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#42055 ddl: move adding index encoding work from readers to writers
  ddl/BUILD.bazel
  ddl/export_test.go
  ddl/index.go
  ddl/index_cop.go
  ddl/index_cop_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41584 spool: a simple goroutine pool
  resourcemanager/pool/BUILD.bazel
  resourcemanager/pool/basepool.go
  resourcemanager/pool/spool/BUILD.bazel
  resourcemanager/pool/spool/main_test.go
  resourcemanager/pool/spool/option.go
  resourcemanager/pool/spool/spool.go
  resourcemanager/pool/spool/spool_test.go
  resourcemanager/pooltask/task.go
  resourcemanager/schedule.go
  resourcemanager/util/mock_gpool.go
  resourcemanager/util/util.go
  util/gpool/spmc/spmcpool.go
  util/gpool/spmc/spmcpool_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#42077 statistics: remove unused indexStatsFromStorage and columnStatsFromStorage
  statistics/handle/handle.go
  statistics/interact_with_storage.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#42126 *: fix goleak goleveldb/leveldb.(*DB).mpoolDrain
  br/pkg/restore/main_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41979 *: implement a global task manager and a sub task manager to handle the read/write of global task table and sub-task table
  ddl/constant.go
  disttask/example/proto.go
  disttask/framework/proto/task.go
  disttask/framework/storage/BUILD.bazel
  disttask/framework/storage/table_test.go
  disttask/framework/storage/task_table.go
  executor/infoschema_cluster_table_test.go
  kv/option.go
  session/bootstrap.go
  session/bootstrap_test.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#42056 *: upgrade go 1.19.7
  WORKSPACE
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#42050 executor: LOAD DATA INFILE support asterisk matching
  br/pkg/storage/azblob.go
  br/pkg/storage/gcs.go
  br/pkg/storage/storage.go
  executor/asyncloaddata/show_test.go
  executor/load_data.go
  executor/loadremotetest/BUILD.bazel
  executor/loadremotetest/multi_file_test.go
  executor/writetest/write_test.go
  server/conn.go
  util/stringutil/string_util.go
  util/stringutil/string_util_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#42131 *: fix syscall.Syscall goleak
  config/main_test.go
  telemetry/cte_test/cte_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#42138 gctuner: fix unstable test TestFinalizer
  util/gctuner/finalizer_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#42148 ddl/test: fix DATA RACE in TestResourceGroupBasic
  ddl/resourcegrouptest/BUILD.bazel
  ddl/resourcegrouptest/resource_group_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#42123 statistics: fix DATA RACE in the TestInitStatsVer2
  distsql/select_result.go
  statistics/handle/handletest/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#42129 spool: fix data race when to exit
  resourcemanager/pool/spool/BUILD.bazel
  resourcemanager/pool/spool/spool.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#42133 domain: fix data race in test with stmtsummary
  domain/extract_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#42155 ddl: remove a useless variable
  ddl/ddl.go
  ddl/ddl_worker.go
  ddl/job_table.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#42153 privilege: fix a null pointer error in `ConnectionVerification`
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.6

#42118 *: implement SHOW LOAD DATA JOB
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/BUILD.bazel
  executor/asyncloaddata/BUILD.bazel
  executor/asyncloaddata/show_test.go
  executor/asyncloaddata/util.go
  executor/asyncloaddata/util_test.go
  executor/builder.go
  executor/importer/import.go
  executor/importer/import_test.go
  executor/load_data.go
  executor/show.go
  planner/core/logical_plans.go
  planner/core/planbuilder.go
  util/dbterror/exeerrors/errors.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#41998 *: display tiflash_write in cluster_info
  ddl/placement/common.go
  infoschema/tables.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41956 br: register import task to pd
  br/pkg/task/BUILD.bazel
  br/pkg/task/restore.go
  br/pkg/task/stream.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/register.go
  br/pkg/utils/register_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#42139 *: Update roadmap.md
  roadmap.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41666 ddl: support cast as double array | tidb-test=pr/2103
  expression/builtin_cast.go
  expression/multi_valued_index_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#42187 spool: fix unstable test TestPoolTuneScaleUpAndDown
  resourcemanager/pool/spool/spool_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41943 Lightning: optimize the estimated size
  br/pkg/lightning/importer/get_pre_info.go
  br/pkg/lightning/importer/get_pre_info_test.go
  br/pkg/lightning/importer/import.go
  br/pkg/lightning/importer/meta_manager.go
  br/pkg/lightning/importer/meta_manager_test.go
  br/pkg/lightning/importer/precheck_impl.go
  br/pkg/lightning/importer/table_import_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, component/lightning

#42168 planner: skip plan cache if the plan contains Shuffle operators
  planner/core/common_plans.go
  planner/core/prepare_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, cherry-pick-approved, release-note-none

#42167 planner: skip plan cache if the plan contains Shuffle operators
  planner/core/plan_cache.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/XS, cherry-pick-approved, release-note-none

#42108 txn, session: Rename Aggressive Locking to Fair Locking and enable by default for new clusters
  executor/adapter.go
  executor/fktest/BUILD.bazel
  executor/fktest/foreign_key_test.go
  executor/metrics/metrics.go
  infoschema/tables_test.go
  kv/interface_mock_test.go
  kv/kv.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/session.go
  metrics/telemetry.go
  session/bootstrap.go
  session/txn.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessiontxn/isolation/base.go
  sessiontxn/isolation/readcommitted.go
  sessiontxn/isolation/repeatable_read.go
  sessiontxn/isolation/repeatable_read_test.go
  sessiontxn/txn_context_test.go
  store/driver/txn/txn_driver.go
  telemetry/data.go
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#41415 ddl: support creating tiflash replica in API V2
  DEPS.bzl
  br/pkg/restore/client.go
  ddl/placement/rule.go
  ddl/placement_sql_test.go
  ddl/tiflashtest/ddl_tiflash_test.go
  domain/infosync/info.go
  domain/infosync/info_test.go
  domain/infosync/tiflash_manager.go
  go.mod
  go.sum
  store/gcworker/gc_worker.go
  store/helper/helper.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#42185 txn: disable rc read check ts for cursor read mode
  distsql/request_builder.go
  executor/admin.go
  executor/builder.go
  executor/distsql.go
  executor/index_merge_reader.go
  executor/table_reader.go
  kv/kv.go
  server/conn_stmt_test.go
  sessiontxn/isolation/readcommitted.go
  store/copr/coprocessor.go
Labels: status/LGT2, release-note, sig/transaction, status/can-merge, size/L

#41670 pitr: add ingest recorder to repair indexes
  br/pkg/glue/progressing.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/client.go
  br/pkg/restore/ingestrec/BUILD.bazel
  br/pkg/restore/ingestrec/ingest_recorder.go
  br/pkg/restore/ingestrec/ingest_recorder_test.go
  br/pkg/stream/BUILD.bazel
  br/pkg/stream/rewrite_meta_rawkv.go
  br/pkg/stream/rewrite_meta_rawkv_test.go
  br/pkg/task/stream.go
  ddl/BUILD.bazel
  ddl/index.go
  tests/realtikvtest/addindextest/common.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-6.3

#41872 planner: add test cases for non-prep plan cache
  executor/executor.go
  executor/explain_test.go
  executor/explainfor_test.go
  executor/prepared_test.go
  executor/seqtest/prepared_test.go
  expression/builtin_compare.go
  expression/builtin_other.go
  expression/expression.go
  planner/core/expression_rewriter.go
  planner/core/find_best_task.go
  planner/core/indexmerge_path_test.go
  planner/core/integration_test.go
  planner/core/plan_cache.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
  planner/core/plan_cacheable_checker.go
  planner/optimize.go
  sessionctx/stmtctx/stmtctx.go
  util/ranger/detacher.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/XL, release-note-none

#42115 ddl: refactor add index worker for ingest mode
  ddl/backfilling.go
  ddl/column.go
  ddl/dist_backfilling.go
  ddl/index.go
  ddl/index_merge_tmp.go
  ddl/partition.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, skip-issue-check

#42204 ddl: fix dist-reorg bugs
  ddl/backfilling.go
  ddl/ddl.go
  ddl/dist_backfilling.go
  ddl/dist_owner.go
  ddl/index.go
  ddl/job_table.go
  ddl/job_table_test.go
Labels: status/LGT2, type/bug-fix, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.6

#41606 *: visible default resource group
  ddl/ddl_api.go
  ddl/resourcegroup/errors.go
  ddl/resourcegroup/group.go
  ddl/resourcegrouptest/resource_group_test.go
  executor/ddl.go
  session/bootstrap.go
  session/session.go
  sessionctx/variable/session.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41996 planner: add an upper bound for estimated row count of inner side of index join
  cmd/explaintest/r/tpch.result
  planner/core/exhaust_physical_plans.go
  statistics/integration_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#42193 *: Update the UniqueID of partition expression columns in LIST partitioning
  planner/core/casetest/partition_pruner_test.go
  planner/core/partition_prune.go
  planner/core/rule_partition_processor.go
  table/tables/partition.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#42024 executor: support mergeSort different selectResult in TableScan and IndexScan
  distsql/BUILD.bazel
  distsql/select_result.go
  executor/builder.go
  executor/distsql.go
  executor/distsqltest/BUILD.bazel
  executor/distsqltest/distsql_test.go
  executor/partition_table.go
  executor/partition_table_test.go
  executor/table_reader.go
  planner/core/casetest/testdata/integration_partition_suite_out.json
  planner/core/physical_plans.go
  planner/core/task.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-6.5

#42173 executor: enable deadlock
  executor/BUILD.bazel
  executor/apply_cache.go
  executor/brie.go
  executor/compact_table_test.go
  executor/concurrent_map.go
  executor/executor.go
  executor/infoschema_reader.go
  executor/insert_common.go
  executor/load_data.go
  executor/oomtest/BUILD.bazel
  executor/oomtest/oom_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#42225 Lightning: fix integration test
  br/pkg/lightning/importer/import.go
  br/pkg/lightning/importer/meta_manager.go
  br/pkg/lightning/importer/meta_manager_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41441 session, com_stmt: store and restore the params for cursor fetch
  server/conn_stmt.go
  server/conn_stmt_test.go
  server/driver.go
  server/driver_tidb.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#42235 executor: fix broken happens-before during refactor LOAD DATA
  executor/load_data.go
  server/tidb_serial_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#42134 server: Set default drainClientWait as 15s
  server/conn.go
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41759 br: add <Code>RequestTimeout</Code> to list of retryable errors
  br/pkg/utils/retry.go
  br/tests/br_full/run.sh
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/XS, component/br, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#42256 executor: unstable test folder to isolate the other test cases
  executor/executor_test.go
  executor/join_test.go
  executor/unstabletest/BUILD.bazel
  executor/unstabletest/README.md
  executor/unstabletest/main_test.go
  executor/unstabletest/unstable_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, skip-issue-check

#42189 config: set use-autoscaler default as false
  config/config.go
  config/config.toml.example
  config/config_test.go
  executor/tiflashtest/tiflash_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#40746 planner: support null-aware semi join push down to tiflash | tidb-test=pr/2102
  DEPS.bzl
  cmd/explaintest/r/index_merge.result
  cmd/explaintest/r/naaj.result
  go.mod
  go.sum
  planner/core/casetest/enforce_mpp_test.go
  planner/core/casetest/testdata/enforce_mpp_suite_in.json
  planner/core/casetest/testdata/enforce_mpp_suite_out.json
  planner/core/casetest/testdata/expression_rewriter_suite_out.json
  planner/core/casetest/testdata/integration_suite_out.json
  planner/core/casetest/testdata/join_reorder_suite_out.json
  planner/core/casetest/testdata/ordered_result_mode_suite_out.json
  planner/core/casetest/testdata/plan_suite_out.json
  planner/core/exhaust_physical_plans.go
  planner/core/plan_to_pb.go
  planner/core/rule_predicate_push_down.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#41836 br: turn off the checkpoint mode when use noop storage
  br/pkg/task/backup.go
  br/pkg/utils/safe_point.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#42236 pitr: skip when rewrite rule not found for ingest recorder
  br/pkg/restore/client.go
  br/pkg/restore/ingestrec/ingest_recorder.go
  br/pkg/restore/ingestrec/ingest_recorder_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#42159 *: LOAD DATA support WITH DETACHED
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/asyncloaddata/BUILD.bazel
  executor/asyncloaddata/detach_test.go
  executor/asyncloaddata/show_test.go
  executor/builder.go
  executor/importer/import.go
  executor/importer/import_test.go
  executor/load_data.go
  executor/loadremotetest/one_parquet_test.go
  executor/unstabletest/unstable_test.go
  planner/core/planbuilder.go
  server/conn.go
  server/conn_stmt.go
  util/dbterror/exeerrors/errors.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#42209 ddl: add more functional tests for `REORGANIZE PARTITION`
  ddl/reorg_partition_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#42027 session: use TxnCtx.InfoSchema, no matter vars.InTxn() or not
  executor/stale_txn_test.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#42210 executor: lock duplicated keys on insert-ignore & replace-nothing
  executor/insert_common.go
  executor/insert_test.go
  executor/write.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, type/bug-fix, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#42234 session: use TxnCtx.InfoSchema, no matter vars.InTxn() or not #42027
  executor/stale_txn_test.go
  session/session.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#42116 planner, sessionctx: add variable to control index selection for "WHERE b ORDER BY a LIMIT n"
  planner/core/find_best_task.go
  planner/core/logical_plans.go
  planner/core/stats.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/integration_test.go
  statistics/testdata/integration_suite_in.json
  statistics/testdata/integration_suite_out.json
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#42272 session: set tidb_enable_null_aware_anti_join to ON when upgrading to v7.0
  session/bootstrap.go
  session/bootstrap_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#42246 *: Fix TiFlash serverType check in disaggregated mode
  ddl/ddl_api.go
  executor/compact_table.go
  infoschema/tables.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#42274 *: Update the UniqueID of partition expression columns in LIST partitioning (#42193)
  planner/core/partition_prune.go
  planner/core/partition_pruner_test.go
  planner/core/rule_partition_processor.go
  table/tables/partition.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#42182 br: wait more time to wait spitting the region
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/split.go
  br/pkg/restore/split/split_test.go
  br/pkg/utils/backoff.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.5

#42261 planner: fix appropriate index stats may be missed when estimating NDV for inner side of index join
  planner/core/exhaust_physical_plans.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#42267 br: filter resource group in br full restore
  br/pkg/restore/systable_restore.go
  br/tests/br_full_cluster_restore/full_data.sql
  br/tests/br_full_cluster_restore/run.sh
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#42304 planner: set correct key type of equal condition in pb for null-aware semi join
  planner/core/plan_to_pb.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#42022 disttask: add scheduler for framework
  disttask/example/proto.go
  disttask/framework/proto/task.go
  disttask/framework/scheduler/BUILD.bazel
  disttask/framework/scheduler/interface.go
  disttask/framework/scheduler/interface_mock.go
  disttask/framework/scheduler/manager.go
  disttask/framework/scheduler/manager_test.go
  disttask/framework/scheduler/register.go
  disttask/framework/scheduler/register_test.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#40562 planner: support push down some filter conditions to TiFlash table scan
  DEPS.bzl
  go.mod
  go.sum
  planner/core/BUILD.bazel
  planner/core/casetest/BUILD.bazel
  planner/core/casetest/testdata/plan_normalized_suite_in.json
  planner/core/casetest/testdata/plan_normalized_suite_out.json
  planner/core/casetest/tiflash_selection_late_materialization_test.go
  planner/core/explain.go
  planner/core/optimizer.go
  planner/core/physical_plans.go
  planner/core/plan_to_pb.go
  planner/core/tiflash_selection_late_materialization.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#42309 session,executor: add variables to support set tiflash spill threshold by sql statement
  distsql/distsql.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#42316 ddl: remove unused SetNextKey()
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl.go
  ddl/index.go
  ddl/reorg.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, skip-issue-check

#42328 planner: add more test cases for non-prep plan cache
  session/bootstrap_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, release-note-none

#42310 executor: add default value for LOAD DATA batch size
  executor/asyncloaddata/show_test.go
  executor/importer/import.go
  executor/importer/import_test.go
  executor/load_data.go
  executor/loadremotetest/multi_file_test.go
  parser/ast/dml_test.go
  server/server_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39654 docs: add support late materialization rfc
  docs/design/2022-12-06-support-late-materialization.md
  docs/design/imgs/late-materialization-in-join.png
  docs/design/imgs/late-materialization-in-selection.png
  docs/design/imgs/process-of-tablescan-with-late-materialization.png
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#42232 *: Minor changes for better clarity in roadmap file
  roadmap.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#42334 planner: add 2pb logic and fix some bugs for partitionTopN
  planner/core/casetest/testdata/derive_topn_from_window_out.json
  planner/core/explain.go
  planner/core/logical_plans.go
  planner/core/plan_to_pb.go
  planner/core/resolve_indices.go
  planner/core/task.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none
