Repository pingcap/tidb, pull requests merged in 2023-12, with the labels that each got.

#49072 util/memory: use atomic.Pointer instead of atomic.Value for byteLimits
  pkg/util/memory/tracker.go
Labels: size/S, release-note-none, approved, lgtm

#49077 statistics: fix panic in the RecordHistoricalStatsToStorage
  pkg/statistics/handle/history/history_stats.go
Labels: size/XS, release-note-none, approved, lgtm

#49057 *: upgrade lestrrat-go/jwx/v2 to fix security problem
  DEPS.bzl
  go.mod
  go.sum
Labels: size/M, release-note-none, approved, lgtm

#49092 planner: fix DATA RACE caused by TestCaptureWildcardFilter
  pkg/bindinfo/capture.go
  pkg/bindinfo/handle.go
Labels: size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#49058 server: log expensive scan query in slow log
  config/config.go
  executor/adapter.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  util/execdetails/execdetails.go
  util/logutil/log.go
Labels: size/M, release-note-none, approved, lgtm

#49068 *: fix return 1 topn when to set 0 topn in analyzeOption
  pkg/planner/cardinality/testdata/cardinality_suite_out.json
  pkg/statistics/builder.go
Labels: size/L, release-note-none, approved, lgtm

#49095 server: fix spell
  pkg/server/BUILD.bazel
  pkg/server/extract.go
  pkg/server/handler/extractorhandler/BUILD.bazel
  pkg/server/handler/extractorhandler/extract_test.go
  pkg/server/handler/extractorhandler/extractor.go
  pkg/server/handler/extractorhandler/main_test.go
Labels: size/M, release-note-none, approved, lgtm

#49025 disttask: rename scheduler to TaskExecutor
  Makefile
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling_dispatcher.go
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/backfilling_read_index.go
  pkg/ddl/ddl.go
  pkg/disttask/framework/BUILD.bazel
  pkg/disttask/framework/dispatcher/dispatcher.go
  pkg/disttask/framework/dispatcher/dispatcher_manager.go
  pkg/disttask/framework/dispatcher/dispatcher_test.go
  pkg/disttask/framework/dispatcher/interface.go
  pkg/disttask/framework/dispatcher/rebalance_test.go
  pkg/disttask/framework/framework_ha_test.go
  pkg/disttask/framework/framework_test.go
  pkg/disttask/framework/mock/BUILD.bazel
  pkg/disttask/framework/mock/dispatcher_mock.go
  pkg/disttask/framework/mock/execute/execute_mock.go
  pkg/disttask/framework/mock/task_executor_mock.go
  pkg/disttask/framework/proto/task.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/execute/BUILD.bazel
  pkg/disttask/framework/taskexecutor/execute/interface.go
  pkg/disttask/framework/taskexecutor/execute/summary.go
  pkg/disttask/framework/taskexecutor/interface.go
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/manager_test.go
  pkg/disttask/framework/taskexecutor/register.go
  pkg/disttask/framework/taskexecutor/register_test.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
  pkg/disttask/framework/taskexecutor/task_executor_testkit_test.go
  pkg/disttask/framework/testutil/BUILD.bazel
  pkg/disttask/framework/testutil/dispatcher_util.go
  pkg/disttask/framework/testutil/disttest_util.go
  pkg/disttask/framework/testutil/executor_util.go
  pkg/disttask/importinto/BUILD.bazel
  pkg/disttask/importinto/dispatcher.go
  pkg/disttask/importinto/metrics.go
  pkg/disttask/importinto/proto.go
  pkg/disttask/importinto/task_executor.go
  pkg/disttask/importinto/task_executor_test.go
  pkg/disttask/importinto/task_executor_testkit_test.go
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  tests/realtikvtest/addindextest1/disttask_test.go
  tests/realtikvtest/importintotest/BUILD.bazel
  tests/realtikvtest/importintotest/job_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#49073 server: make `clientConn()` thread-safe
  pkg/server/conn.go
  pkg/server/conn_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#48807 parser, infoschema, executor: Add information_schema.keywords
  .gitignore
  pkg/executor/builder.go
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_internal_test.go
  pkg/infoschema/tables.go
  pkg/parser/BUILD.bazel
  pkg/parser/Makefile
  pkg/parser/generate.go
  pkg/parser/generate_keyword/BUILD.bazel
  pkg/parser/generate_keyword/genkeyword.go
  pkg/parser/generate_keyword/genkeyword_test.go
  pkg/parser/keywords.go
  pkg/parser/keywords_test.go
Labels: release-note, size/XXL, ok-to-test, approved, lgtm

#49101 Revert "server: Set default drainClientWait as 15s (#42134) (#48944)"
  server/conn.go
  tidb-server/main.go
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#49119 server: revert "#48905" for release-6.5
  server/BUILD.bazel
  server/conn.go
  server/conn_test.go
  server/http_status.go
  server/server.go
  tidb-server/main.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#49120 ddl/test: split realtikv addindex testutil
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/add_index_test.go
  tests/realtikvtest/addindextest/concurrent_ddl_test.go
  tests/realtikvtest/addindextest/failpoints_test.go
  tests/realtikvtest/addindextest/multi_schema_change_test.go
  tests/realtikvtest/addindextest/pitr_test.go
  tests/realtikvtest/addindextestutil/BUILD.bazel
  tests/realtikvtest/addindextestutil/common.go
  tests/realtikvtest/addindextestutil/compatibility.go
  tests/realtikvtest/addindextestutil/workload.go
Labels: size/XL, release-note-none, approved, lgtm

#49097 disttask: add IsRetryableError interface for taskExecutor
  pkg/ddl/backfilling_clean_s3.go
  pkg/ddl/backfilling_dispatcher.go
  pkg/ddl/backfilling_dispatcher_test.go
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/index.go
  pkg/disttask/framework/mock/task_executor_mock.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/interface.go
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
  pkg/disttask/framework/testutil/disttest_util.go
  pkg/disttask/framework/testutil/executor_util.go
  pkg/disttask/importinto/task_executor.go
Labels: size/L, release-note-none, approved, lgtm

#48828 executor: fix tidb crash when shuffleExec quit unexpectedly
  pkg/executor/executor_failpoint_test.go
  pkg/executor/shuffle.go
Labels: release-note, size/M, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49007 cgroup: use a more accurate way to determine `inContainer()`
  pkg/util/cgroup/cgroup_cpu_linux.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#49128 util: add a failpoint for random panic test
  pkg/util/sqlkiller/BUILD.bazel
  pkg/util/sqlkiller/sqlkiller.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#49157 *: exclude `**/.git/**` in licenserc.yml
  .github/licenserc.yml
Labels: size/XS, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48714 *: Support idle transaction timeout
  pkg/executor/set_test.go
  pkg/server/conn.go
  pkg/server/tests/tidb_test.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#49132 test: remove test files (`extract` and `replayer`) after running tests
  pkg/domain/extract_test.go
  pkg/domain/plan_replayer_test.go
  pkg/executor/test/executor/executor_test.go
  pkg/server/handler/extractorhandler/BUILD.bazel
  pkg/server/handler/extractorhandler/extract_test.go
Labels: size/S, release-note-none, approved, lgtm

#49048 ddl/ingest: add failpoint to change flush local interval
  pkg/ddl/ingest/backend.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#49169 statistics: fix old bucket4Merging to merge new data
  pkg/statistics/BUILD.bazel
  pkg/statistics/histogram.go
Labels: size/XS, release-note-none, approved, lgtm

#49164 planner: fix DATA RACE caused by TestDropBindBySQLDigest
  pkg/bindinfo/handle.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#48829 *: add tidb_analyze_distsql_scan_concurrency
  pkg/executor/builder.go
  pkg/executor/set_test.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/M, release-note-none, approved, lgtm

#49193 server: register compression statistics and fix the memory leak
  pkg/server/conn.go
  pkg/server/conn_test.go
Labels: size/M, release-note-none, approved, lgtm

#48522 util/ranger: support use `like` to build range for new collation columns | tidb-test=pr/2247
  pkg/planner/core/integration_test.go
  pkg/planner/core/testdata/index_merge_suite_out.json
  pkg/util/ranger/BUILD.bazel
  pkg/util/ranger/checker.go
  pkg/util/ranger/detacher.go
  pkg/util/ranger/points.go
  pkg/util/ranger/ranger.go
  pkg/util/ranger/ranger_test.go
  tests/integrationtest/r/expression/charset_and_collation.result
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/r/planner/core/range_scan_for_like.result
  tests/integrationtest/t/planner/core/range_scan_for_like.test
Labels: release-note, size/XXL, approved, lgtm

#49192 executor: fix deadlock in dml statement with cte when oom panic action was triggered
  pkg/executor/cte.go
  pkg/executor/cte_test.go
  pkg/util/cteutil/BUILD.bazel
  pkg/util/cteutil/storage.go
Labels: release-note, size/M, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49207 errmsg: fix example s3 url in error msg
  errors.toml
  pkg/errno/errname.go
  pkg/executor/test/loadremotetest/error_test.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48943 meta/autoid: change to exponental backoff and add a reset count metric
  pkg/meta/autoid/autoid_service.go
  pkg/metrics/grafana/tidb.json
  pkg/metrics/meta.go
  pkg/metrics/metrics.go
Labels: size/L, release-note-none, approved, lgtm

#49215 *: fix log for statistics
  pkg/domain/domain.go
  pkg/statistics/builder.go
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/globalstats/global_stats_async.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/lockstats/lock_stats.go
  pkg/statistics/handle/lockstats/unlock_stats.go
  pkg/statistics/handle/logutil/logutil.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/storage/save.go
  pkg/statistics/histogram.go
Labels: size/M, release-note-none, approved, lgtm, type/cherry-pick-for-release-7.5

#49250 planner: remove some useless code in the binding package
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/handle.go
  pkg/bindinfo/handle_test.go
  pkg/bindinfo/stat.go
  pkg/bindinfo/util.go
  pkg/domain/domain.go
Labels: size/L, release-note-none, approved, lgtm

#49176 resource_control: fetch cpu quota metrics from store instead of prometheus
  pkg/executor/internal/calibrateresource/BUILD.bazel
  pkg/executor/internal/calibrateresource/calibrate_resource.go
  pkg/executor/internal/calibrateresource/calibrate_resource_test.go
Labels: release-note, size/XL, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49230 tests: enable `check-error` for integrationtest
  tests/integrationtest/r/collation_agg_func_disabled.result
  tests/integrationtest/r/collation_check_use_collation_disabled.result
  tests/integrationtest/r/collation_misc_disabled.result
  tests/integrationtest/r/collation_misc_enabled.result
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/r/executor/write.result
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/run-tests.sh
  tests/integrationtest/t/collation_agg_func.test
  tests/integrationtest/t/collation_check_use_collation.test
  tests/integrationtest/t/collation_misc.test
  tests/integrationtest/t/ddl/constraint.test
  tests/integrationtest/t/ddl/db_partition.test
  tests/integrationtest/t/ddl/table_modify.test
  tests/integrationtest/t/executor/aggregate.test
  tests/integrationtest/t/executor/delete.test
  tests/integrationtest/t/executor/executor.test
  tests/integrationtest/t/executor/foreign_key.test
  tests/integrationtest/t/executor/issues.test
  tests/integrationtest/t/executor/update.test
  tests/integrationtest/t/executor/write.test
  tests/integrationtest/t/expression/builtin.test
  tests/integrationtest/t/expression/json.test
  tests/integrationtest/t/planner/core/integration_partition.test
  tests/integrationtest/t/planner/funcdep/only_full_group_by.test
  tests/integrationtest/t/privilege/privileges.test
Labels: size/L, release-note-none, skip-issue-check, approved, lgtm

#48062 ddl: constraint name uniquness is enforced for check constraints
  pkg/ddl/constraint.go
  pkg/ddl/db_table_test.go
  pkg/ddl/table.go
  tests/integrationtest/r/ddl/constraint.result
  tests/integrationtest/t/ddl/constraint.test
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#49261 planner: encapsulate binding operations behind 2 interfaces
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/capture.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/session_handle.go
  pkg/bindinfo/session_handle_test.go
  pkg/domain/domain.go
  pkg/executor/adapter.go
  pkg/executor/bind.go
  pkg/executor/show.go
  pkg/planner/core/plan_cache.go
  pkg/planner/optimize.go
  pkg/session/bootstrap.go
  pkg/session/session.go
Labels: size/XL, release-note-none, approved, lgtm

#49264 docs: update ci commands doc
  ci.md
Labels: size/M, release-note-none, approved, lgtm

#49115 statistics: clean corrupted analyze jobs terminated by server down
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/domain/domain_test.go
  pkg/statistics/handle/autoanalyze/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/handle/util/test/BUILD.bazel
  pkg/statistics/handle/util/test/ctx_matcher.go
  pkg/util/sqlexec/mock/BUILD.bazel
  pkg/util/sqlexec/mock/mock.go
Labels: type/enhancement, sig/planner, component/statistics, release-note, size/XXL, approved, lgtm

#49043 statistics: handle exchange partition event
  pkg/ddl/partition.go
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/ddl/exchange_partition.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/ddl_event.go
Labels: sig/planner, component/statistics, size/XL, release-note-none, approved, lgtm

#49275 plugin: fix bug that watch loop will refresh frequently when channel closed
  pkg/plugin/BUILD.bazel
  pkg/plugin/plugin.go
  pkg/plugin/plugin_test.go
Labels: release-note, size/M, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49284 statistics: remove useless code
  pkg/statistics/histogram.go
Labels: size/S, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#49224 server,executor: split ResultSet Close() to Finish() and Close()
  pkg/executor/adapter.go
  pkg/server/conn.go
  pkg/server/conn_stmt.go
  pkg/server/internal/resultset/BUILD.bazel
  pkg/server/internal/resultset/resultset.go
  pkg/session/session.go
Labels: size/L, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49292 plugin: add lost rewatch sleep in plugin loop
  pkg/plugin/plugin.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48946 br: remove duplicate bind info after snapshot restore
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/systable_restore.go
  br/pkg/task/restore.go
Labels: size/M, release-note-none, approved, lgtm

#49315 *: replace exp/maps with std/maps
  br/pkg/lightning/importer/tidb.go
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/global_handle.go
  pkg/domain/BUILD.bazel
  pkg/domain/sysvar_cache.go
  pkg/executor/asyncloaddata/BUILD.bazel
  pkg/executor/asyncloaddata/progress.go
  pkg/table/temptable/BUILD.bazel
  pkg/table/temptable/interceptor.go
  pkg/timer/runtime/BUILD.bazel
  pkg/timer/runtime/runtime.go
Labels: size/S, release-note-none, approved, lgtm

#49280 errctx, types, sessionctx: avoid memory allocation in `HandleError` and reduce allocation in creation of statement context
  pkg/errctx/BUILD.bazel
  pkg/errctx/context.go
  pkg/errctx/context_test.go
  pkg/server/BUILD.bazel
  pkg/server/conn_stmt_params_test.go
  pkg/server/extension.go
  pkg/server/internal/column/BUILD.bazel
  pkg/server/internal/column/column_test.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/stmtctx/stmtctx_test.go
  pkg/types/BUILD.bazel
  pkg/types/context.go
  pkg/types/context_test.go
  pkg/types/convert_test.go
  pkg/types/datum_test.go
  pkg/types/format_test.go
  pkg/types/time_test.go
  pkg/util/context/BUILD.bazel
  pkg/util/context/warn.go
Labels: size/L, release-note-none, approved, lgtm

#49312 statistics: fix illegal bucket order when to merge global stats
  pkg/statistics/histogram.go
  pkg/statistics/histogram_test.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#49320 test: ignore some expected goroutine leak
  br/pkg/lightning/common/main_test.go
  pkg/store/helper/main_test.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#49021 lightning: add function `getChunkCompressedSizeForParquet` for solving parquet oom issue
  br/pkg/lightning/importer/BUILD.bazel
  br/pkg/lightning/importer/table_import.go
  br/pkg/lightning/importer/table_import_test.go
  br/pkg/lightning/importer/testdata/000000_0.parquet
Labels: size/M, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49314 *: add unnecessary untracked files to .gitignore and clean up them
  .gitignore
  Makefile
  pkg/domain/plan_replayer_handle_test.go
  pkg/executor/test/executor/executor_test.go
  pkg/server/handler/optimizor/BUILD.bazel
  pkg/server/handler/optimizor/plan_replayer_test.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#49317 tests: wait services to be healthy before executing test cases in GlobalKill e2e tests
  tests/globalkilltest/BUILD.bazel
  tests/globalkilltest/global_kill_test.go
  tests/globalkilltest/util.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#49335 statistics: fix can not record meta history issue
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/storage/stats_read_writer_test.go
Labels: sig/planner, component/statistics, release-note, size/L, approved, lgtm

#49342 gomod: update the pd client for release-7.1
  DEPS.bzl
  domain/infosync/BUILD.bazel
  domain/infosync/resource_group_manager.go
  executor/BUILD.bazel
  executor/calibrate_resource_test.go
  go.mod
  go.sum
  store/driver/tikv_driver.go
  store/mockstore/unistore/pd.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#49191 *: hotfix support use like to build range for new collation columns | tidb-test=pr/2256
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_generate_column_substitute.result
  cmd/explaintest/r/range_scan_for_like.result
  cmd/explaintest/t/range_scan_for_like.test
  executor/point_get.go
  planner/core/casetest/testdata/derive_topn_from_window_out.json
  planner/core/casetest/testdata/plan_suite_out.json
  planner/core/integration_test.go
  planner/core/plan_test.go
  planner/core/point_get_plan.go
  planner/core/testdata/index_merge_suite_out.json
  util/ranger/BUILD.bazel
  util/ranger/checker.go
  util/ranger/detacher.go
  util/ranger/points.go
  util/ranger/ranger.go
  util/ranger/ranger_test.go
  util/ranger/types.go
Labels: size/XXL, release-note-none, approved, lgtm

#49341 br/storage: disable keep alive for GCS on default to speed up request
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/bench_test.go
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/gcs.go
  br/pkg/storage/gcs_test.go
  br/pkg/storage/storage.go
Labels: size/L, release-note-none, approved, lgtm

#49348 executor: fix data race for test TestColumnName
  pkg/executor/test/executor/executor_test.go
Labels: size/XS, release-note-none, approved, lgtm

#49246 disttask: fix service_scope replaced
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/executor/set.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#49210 lightning, membuf: limit the maximum memory size allocated from pool
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/byte_reader_test.go
  br/pkg/lightning/backend/external/concurrent_reader.go
  br/pkg/lightning/backend/external/concurrent_reader_test.go
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/external/iter.go
  br/pkg/lightning/backend/external/iter_test.go
  br/pkg/lightning/backend/external/writer.go
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/local.go
  br/pkg/membuf/BUILD.bazel
  br/pkg/membuf/buffer.go
  br/pkg/membuf/buffer_test.go
  br/pkg/membuf/limiter.go
  br/pkg/membuf/limiter_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#49354 domain: fix data race in runaway DeriveChecker
  pkg/domain/resourcegroup/BUILD.bazel
  pkg/domain/resourcegroup/runaway.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#49356 disttask: query subtask fields with explicit order
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/storage/util.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#49357 planner: return an error when using prepared protocol with select-into statement
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/plan_cacheable_checker_test.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49331 statistics: do not get stats meta from cache when handling drop partition DDL event
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/drop_partition.go
Labels: sig/planner, component/statistics, size/L, release-note-none, approved, lgtm

#49380 planner: plan cache supports Batch/PointGet converted from (primary keys) in ((...), ...) (#44838)
  planner/core/find_best_task.go
  planner/core/plan_cache.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
  sessionctx/variable/session.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#49324 expression: Granular Control in mysql.expr_pushdown_blacklist Configuration
  pkg/expression/expression.go
  pkg/expression/integration_test/integration_test.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#49375 statistics: fix `LoadStatsFromJSONNoUpdate` func for `CPUNum = 1`
  pkg/statistics/handle/storage/dump_test.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/types/interfaces.go
Labels: size/S, release-note-none, approved, lgtm

#49372 bazel: support module
  .github/licenserc.yml
  MODULE.bazel
  MODULE.bazel.lock
  tools/check/check-bazel-prepare-rbe.sh
  tools/check/check-bazel-prepare.sh
Labels: size/XXL, release-note-none, skip-issue-check, approved, lgtm

#49373 planner: check whether plan-cache is disabled each time when getting plan from the plan cache
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_test.go
Labels: size/S, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49379 statsitics: clear the fmsketch's map correctly
  pkg/statistics/fmsketch.go
Labels: size/S, release-note-none, approved, lgtm

#49222 executor: recover panic in executor.Close()
  pkg/executor/adapter.go
  pkg/executor/coprocessor.go
  pkg/executor/cte.go
  pkg/executor/cte_test.go
  pkg/executor/delete.go
  pkg/executor/distsql.go
  pkg/executor/executor.go
  pkg/executor/explain.go
  pkg/executor/index_lookup_join.go
  pkg/executor/index_lookup_merge_join.go
  pkg/executor/index_merge_reader.go
  pkg/executor/insert.go
  pkg/executor/internal/exec/executor.go
  pkg/executor/join.go
  pkg/executor/parallel_apply.go
  pkg/executor/replace.go
  pkg/executor/shuffle.go
  pkg/executor/sortexec/sort.go
  pkg/executor/test/executor/BUILD.bazel
  pkg/executor/test/executor/executor_test.go
  pkg/executor/union_scan.go
  pkg/executor/update.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#49382 disttask: refine table_test
  pkg/disttask/framework/storage/BUILD.bazel
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/testutil/BUILD.bazel
  pkg/disttask/framework/testutil/table_util.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#49376 global sort: bench merge step
  br/pkg/lightning/backend/external/bench_test.go
Labels: size/L, release-note-none, approved, lgtm

#49391 lightning: fix parquet import always fail
  br/pkg/lightning/importer/table_import.go
Labels: size/XS, release-note-none, approved, lgtm

#49338 planner: fix tiflash path will be identified as table dual
  pkg/planner/core/casetest/enforcempp/enforce_mpp_test.go
  pkg/planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_in.json
  pkg/planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  pkg/planner/core/stats.go
Labels: release-note, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#49363 br/storage: add scope to support service_account type of credential file & remove default GCS httpclient
  br/pkg/lightning/backend/external/bench_test.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/stream_metas_test.go
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/gcs.go
  br/pkg/storage/gcs_test.go
  br/pkg/storage/storage.go
  br/pkg/storage/storage_test.go
  br/pkg/task/BUILD.bazel
  br/pkg/task/stream.go
  br/pkg/task/stream_test.go
  pkg/ddl/backfilling_merge_sort.go
  pkg/executor/importer/import.go
  tests/realtikvtest/addindextest2/global_sort_test.go
Labels: size/L, release-note-none, approved, lgtm

#49218 pkg/executor: fix the hang issue in indexHashJoin
  pkg/executor/builder.go
  pkg/executor/index_lookup_hash_join.go
  pkg/executor/test/jointest/BUILD.bazel
  pkg/executor/test/jointest/join_test.go
Labels: type/bug-fix, release-note, size/L, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49067 executor: add ru details in slow log and INFORMATION_SCHEMA.SLOW_QUERY
  DEPS.bzl
  docs/design/2023-08-24-background-tasks-control.md
  go.mod
  go.sum
  pkg/executor/adapter.go
  pkg/executor/builder.go
  pkg/executor/explain.go
  pkg/executor/slow_query.go
  pkg/executor/slow_query_test.go
  pkg/infoschema/internal/testkit.go
  pkg/infoschema/tables.go
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/server/conn.go
  pkg/server/conn_stmt.go
  pkg/session/session.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/session_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#49359 br: use atomic.Pointer instead of atomic.Value
  br/pkg/restore/import.go
  br/pkg/storage/memstore.go
  br/pkg/storage/memstore_test.go
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/collector.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#49403 addindex/disttask: adjust add index task concurrency & add check when submit task
  pkg/ddl/BUILD.bazel
  pkg/ddl/index.go
  pkg/disttask/framework/proto/task.go
  pkg/disttask/framework/storage/BUILD.bazel
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  tests/realtikvtest/addindextest1/BUILD.bazel
  tests/realtikvtest/addindextest1/disttask_test.go
Labels: size/M, release-note-none, approved, lgtm

#49362 statistics: update the global stats correctly after truncate a partition
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/ddl/truncate_partition.go
  pkg/statistics/handle/globalstats/global_stats_test.go
Labels: sig/planner, component/statistics, release-note, size/XL, approved, lgtm

#49389 global sort: refine and add tests for readAllData
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/external/reader.go
  br/pkg/lightning/backend/external/reader_test.go
Labels: size/XL, release-note-none, approved, lgtm

#49406 disttask: fix hang in make ut
  pkg/disttask/framework/testutil/context.go
Labels: size/XS, release-note-none, approved, lgtm

#49407 statistics: add a drop multiple partitions case
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl_test.go
Labels: sig/planner, component/statistics, size/L, release-note-none, approved, lgtm

#49244 executor: fill correlated column value in late materialization filter conditions
  pkg/executor/builder.go
  pkg/executor/table_reader.go
  pkg/planner/core/explain.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_to_pb.go
  pkg/planner/core/tiflash_selection_late_materialization.go
Labels: size/M, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49428 expression: remove useless ctx input in `newBaseBuiltinFuncWithFieldType`
  pkg/expression/builtin.go
  pkg/expression/builtin_grouping_test.go
  pkg/expression/distsql_builtin.go
Labels: size/S, release-note-none, approved, lgtm

#49400 planner: the recursive cte will make UPDATE's result wrong
  pkg/planner/core/logical_plan_builder.go
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: release-note, size/M, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49399 session: reset CTEStorageMap before txn conflict and retry()
  pkg/session/session.go
  tests/integrationtest/r/executor/cte.result
  tests/integrationtest/t/executor/cte.test
Labels: size/S, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49371 *: speed up `create table` when the number of tables is relatively large
  pkg/ddl/table.go
  pkg/meta/meta.go
  pkg/meta/meta_test.go
  pkg/parser/model/model.go
Labels: size/M, release-note-none, approved, lgtm

#49383 executor: set OverflowAsWarning for insert statement in non-strict sql mode
  pkg/executor/executor.go
  tests/integrationtest/r/executor/issues.result
  tests/integrationtest/t/executor/issues.test
Labels: release-note, size/M, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49451 *: fix grpc client leak bug for AUTO_ID_CACHE=1 tables (#48870)
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/common/common_test.go
  br/pkg/lightning/importer/table_import.go
  pkg/ddl/column.go
  pkg/ddl/ddl.go
  pkg/ddl/options.go
  pkg/disttask/importinto/subtask_executor.go
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/meta/autoid/BUILD.bazel
  pkg/meta/autoid/autoid.go
  pkg/meta/autoid/autoid_service.go
  pkg/meta/autoid/autoid_test.go
Labels: size/L, release-note-none, approved, lgtm

#49390 planner: refactor planner module's warning and note generation logic (get rid of unnecessary stack info)
  DEPS.bzl
  go.mod
  go.sum
  pkg/planner/cardinality/selectivity.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/indexmerge_path.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/optimizer.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/preprocess.go
  pkg/planner/core/rule_join_reorder.go
  pkg/planner/core/rule_join_reorder_greedy.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/core/rule_semi_join_rewrite.go
  pkg/planner/core/stats.go
  pkg/planner/core/task.go
  pkg/planner/optimize.go
  pkg/sessionctx/stmtctx/stmtctx.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#49452 statistics: add a test to cover index auto-analyze behavior
  pkg/statistics/handle/autoanalyze/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
Labels: sig/planner, component/statistics, size/M, release-note-none, skip-issue-check, approved, lgtm

#49454 executor: fix `IndexNestedLoopHashJoin` missed panicErr
  pkg/executor/index_lookup_hash_join.go
  pkg/executor/test/jointest/join_test.go
Labels: size/XS, release-note-none, approved, lgtm

#49426 planner: support creating universal bindings
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/bind_record.go
  pkg/bindinfo/capture_test.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/session_handle_test.go
  pkg/bindinfo/tests/bind_test.go
  pkg/executor/bind.go
  pkg/executor/builder.go
  pkg/executor/show.go
  pkg/executor/test/showtest/show_test.go
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/planbuilder.go
  pkg/server/testdata/optimizer_suite_out.json
  pkg/session/bootstrap.go
  pkg/session/bootstrap_test.go
  pkg/util/parser/ast.go
  tests/integrationtest/r/bindinfo/bind.result
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/r/planner/core/physical_plan.result
  tests/integrationtest/r/planner/core/rule_join_reorder.result
Labels: size/XL, release-note-none, approved, lgtm

#49468 expression: remove interface `expression.ReverseExpr`
  pkg/expression/builtin.go
  pkg/expression/column.go
  pkg/expression/constant.go
  pkg/expression/expression.go
  pkg/expression/scalar_function.go
  pkg/expression/util_test.go
  pkg/planner/core/scalar_subq_expression.go
Labels: size/L, release-note-none, approved, lgtm

#49134 infosync, helper: add caller ID to the PD HTTP client on the hot path
  DEPS.bzl
  go.mod
  go.sum
  pkg/domain/infosync/info.go
  pkg/store/helper/helper.go
Labels: size/M, release-note-none, approved, lgtm

#49430 gctuner: make TestIssue48741 more stable
  pkg/util/gctuner/memory_limit_tuner.go
  pkg/util/gctuner/memory_limit_tuner_test.go
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#48403 backup: more stable check liveness when store heartbeat behind too much
  br/pkg/backup/BUILD.bazel
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/utils/misc.go
Labels: size/L, release-note-none, approved, lgtm

#49122 stmtctx: remove OverflowAsWarning flag
  br/pkg/lightning/backend/kv/session.go
  pkg/ddl/backfilling_scheduler.go
  pkg/errctx/context.go
  pkg/errctx/context_test.go
  pkg/executor/executor.go
  pkg/expression/builtin_arithmetic.go
  pkg/expression/builtin_arithmetic_vec.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_cast_test.go
  pkg/expression/builtin_cast_vec.go
  pkg/expression/typeinfer_test.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/stmtctx/stmtctx_test.go
  pkg/table/column.go
  pkg/util/codec/codec_test.go
  tests/integrationtest/r/ddl/integration.result
  tests/integrationtest/r/executor/delete.result
  tests/integrationtest/r/executor/insert.result
  tests/integrationtest/t/ddl/integration.test
  tests/integrationtest/t/executor/delete.test
  tests/integrationtest/t/executor/insert.test
Labels: release-note, size/L, approved, lgtm

#49480 test: fix make ut for package disttask/framework
  pkg/disttask/framework/handle/BUILD.bazel
  pkg/disttask/framework/handle/handle_test.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/testutil/table_util.go
Labels: size/S, release-note-none, approved, lgtm

#49484 executor: set OverflowAsWarning for insert statement in non-strict sql mode (#49383)
  executor/executor.go
  executor/issuetest/executor_issue_test.go
Labels: size/S, release-note-none, approved, lgtm

#49478 storage: try to detect credentials first in unit tests
  br/pkg/storage/gcs.go
  br/pkg/storage/gcs_test.go
  br/pkg/storage/helper.go
  br/pkg/storage/storage.go
Labels: size/M, release-note-none, approved, lgtm

#49486 *: fix upgrade error for version 181
  build/linter/bootstrap/analyzer.go
  pkg/session/bootstrap.go
Labels: size/M, release-note-none, approved, lgtm

#42756 test: fix ut TestGetTimeZone when system time_zone may not 'Asia/Shanghai'
  pkg/ddl/BUILD.bazel
  pkg/ddl/db_test.go
Labels: status/LGT1, size/XS, release-note-none, ok-to-test, approved, lgtm

#49495 expression: use a bool arg for `Expression.ConstItem`
  pkg/expression/aggregation/base_func.go
  pkg/expression/builtin.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_encryption_vec.go
  pkg/expression/builtin_func_param.go
  pkg/expression/builtin_ilike.go
  pkg/expression/builtin_ilike_vec.go
  pkg/expression/builtin_like.go
  pkg/expression/builtin_other.go
  pkg/expression/builtin_regexp.go
  pkg/expression/column.go
  pkg/expression/column_test.go
  pkg/expression/constant.go
  pkg/expression/constant_propagation.go
  pkg/expression/expression.go
  pkg/expression/expression_test.go
  pkg/expression/scalar_function.go
  pkg/expression/scalar_function_test.go
  pkg/expression/util_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/core/scalar_subq_expression.go
Labels: size/L, release-note-none, approved, lgtm

#49512 session: fix select for update statement can't get stmt-count-limit error (#48412)
  Makefile
  server/server_test.go
  server/tidb_test.go
  session/session_test.go
  session/tidb.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#49529 expression: ignore NULL in handle binary literal
  DEPS.bzl
  expression/builtin_convert_charset.go
  expression/integration_test.go
  go.mod
  go.sum
Labels: size/M, release-note-none, approved, lgtm

#49527 expression: ignore `TypeNULL` in `HandleBinaryLiteral`
  DEPS.bzl
  go.mod
  go.sum
  pkg/expression/builtin_convert_charset.go
  tests/integrationtest/r/expression/cast.result
  tests/integrationtest/t/expression/cast.test
Labels: size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49475 planner: try to match universal bindings when optimization
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/session_handle_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/optimize.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/L, release-note-none, approved, lgtm

#49544 planner: add more test cases for universal bindings
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/universal_binding_test.go
Labels: size/XL, release-note-none, approved, lgtm

#49079 txn: make load data transactional
  pkg/executor/load_data.go
  pkg/executor/test/loaddatatest/BUILD.bazel
  pkg/executor/test/loaddatatest/load_data_test.go
  pkg/executor/test/loadremotetest/one_csv_test.go
  pkg/executor/test/writetest/write_test.go
  pkg/privilege/privileges/privileges_test.go
  pkg/server/conn.go
  pkg/server/internal/testserverclient/server_client.go
  pkg/server/tests/tidb_serial_test.go
Labels: release-note, size/XXL, approved, lgtm

#49543 expression: enum/set could be invalid during evaluation
  pkg/expression/chunk_executor.go
  tests/integrationtest/r/expression/enum_set.result
  tests/integrationtest/t/expression/enum_set.test
Labels: size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49473 statistics: only query locks once
  pkg/statistics/handle/autoanalyze/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
Labels: sig/planner, component/statistics, size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#49539 global sort: enable concurrent read test
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/byte_reader_test.go
Labels: size/M, release-note-none, approved, lgtm

#49542 ddl: disable fast reorg and dist task execution for system tables
  pkg/ddl/ddl_api.go
  pkg/ddl/multi_schema_change.go
  pkg/session/BUILD.bazel
  pkg/session/bootstrap_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#49557 tests: fix some tests failed when `system_time_zone != Asia/Shanghai`
  pkg/ddl/cluster.go
  pkg/ddl/cluster_test.go
  pkg/ddl/tests/tiflash/BUILD.bazel
  pkg/ddl/tests/tiflash/ddl_tiflash_test.go
  pkg/executor/recover_test.go
  pkg/executor/stale_txn_test.go
  pkg/infoschema/test/clustertablestest/BUILD.bazel
  pkg/infoschema/test/clustertablestest/tables_test.go
  tests/realtikvtest/flashbacktest/BUILD.bazel
  tests/realtikvtest/flashbacktest/flashback_test.go
Labels: size/M, release-note-none, approved, lgtm

#49522 statistics: delete old partitions info after reorganize partitions
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/ddl/reorganize_partition.go
Labels: sig/planner, component/statistics, release-note, size/L, approved, lgtm

#49541 statistics: skip auto-analyze when it is executed outside the available time period
  pkg/statistics/handle/autoanalyze/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
Labels: size/M, release-note-none, approved, lgtm

#49474 global sort: new merge with 1 writer
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/bench_test.go
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/external/merge.go
  br/pkg/lightning/backend/external/merge_v2.go
  br/pkg/lightning/backend/external/onefile_writer.go
  br/pkg/lightning/backend/external/onefile_writer_test.go
  br/pkg/lightning/backend/external/reader_test.go
  br/pkg/lightning/backend/external/sort_test.go
  br/pkg/lightning/backend/external/testutil.go
  br/pkg/lightning/backend/external/writer.go
  br/pkg/lightning/backend/external/writer_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#49578 driver: update the PD HTTP client to support source mark
  DEPS.bzl
  go.mod
  go.sum
  pkg/executor/infoschema_cluster_table_test.go
  pkg/executor/tikv_regions_peers_table_test.go
  pkg/store/driver/tikv_driver.go
  pkg/store/helper/helper_test.go
Labels: size/M, release-note-none, approved, lgtm

#49347 expression: Add `json_valid` and `json_keys` push down support for tiflash
  pkg/expression/expr_to_pb_test.go
  pkg/expression/expression.go
Labels: release-note, size/S, approved, lgtm

#49494 pkg/executor: refine the Executor interface
  pkg/executor/adapter.go
  pkg/executor/admin.go
  pkg/executor/batch_point_get.go
  pkg/executor/builder.go
  pkg/executor/coprocessor.go
  pkg/executor/cte.go
  pkg/executor/executor.go
  pkg/executor/index_lookup_join.go
  pkg/executor/index_lookup_merge_join.go
  pkg/executor/index_merge_reader.go
  pkg/executor/insert.go
  pkg/executor/internal/exec/executor.go
  pkg/executor/join.go
  pkg/executor/merge_join.go
  pkg/executor/point_get.go
Labels: size/L, release-note-none, approved, lgtm

#49545 storage: support parallel write for gcs
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/reader.go
  br/pkg/lightning/backend/external/writer.go
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/gcs.go
  br/pkg/storage/gcs_extra.go
  br/pkg/storage/gcs_test.go
  br/pkg/storage/parse_test.go
  go.mod
  go.sum
Labels: size/XXL, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#49581 ddl: refactor ddl pkg's warning and note generation
  pkg/ddl/ddl_api.go
  pkg/ddl/partition.go
  pkg/ddl/schematracker/dm_tracker.go
Labels: release-note, size/M, ok-to-test, approved, lgtm

#49582 statistics: add more test cases for handling DDL event
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl_test.go
Labels: sig/planner, component/statistics, size/L, release-note-none, approved, lgtm

#49585 planner: match hints from universal bindings correctly
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/bind_record.go
  pkg/bindinfo/universal_binding_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/rule_join_reorder.go
Labels: size/L, release-note-none, approved, lgtm

#49553 statistics: delete old partition's stats meta after removing partitioning
  pkg/ddl/partition.go
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/util/ddl_event.go
Labels: sig/planner, component/statistics, release-note, size/L, approved, lgtm

#49587 parser: ignore schema name if WithoutSchemaNameFlag is set when restoring hints
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/universal_binding_test.go
  pkg/parser/ast/misc.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#49559 dockerfile: optimize dockerfile
  .dockerignore
  Dockerfile
  Dockerfile.enterprise
Labels: size/M, release-note-none, approved, lgtm

#49595 global sort: bench new merge step
  br/pkg/lightning/backend/external/bench_test.go
Labels: size/L, release-note-none, approved, lgtm

#49136 disttask: task executor slot manager
  Makefile
  pkg/disttask/framework/mock/task_executor_mock.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/interface.go
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/manager_test.go
  pkg/disttask/framework/taskexecutor/slot.go
  pkg/disttask/framework/taskexecutor/slot_test.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#49597 planner: move hint code to two separate code files
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/hint_utils.go
  pkg/planner/core/hints.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/planbuilder.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#49441 parser: fix invalid hint addition disable other valid hints
  pkg/parser/hintparser.go
  pkg/parser/hintparser.y
  pkg/parser/parser.y
  pkg/parser/parser_test.go
  pkg/planner/core/casetest/hint/hint_test.go
  tests/integrationtest/r/expression/misc.result
Labels: size/XXL, release-note-none, approved, lgtm

#49589 global sort: fix broken prop with onefile writer
  br/pkg/lightning/backend/external/bench_test.go
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/external/file.go
  br/pkg/lightning/backend/external/merge.go
  br/pkg/lightning/backend/external/onefile_writer.go
  br/pkg/lightning/backend/external/onefile_writer_test.go
  br/pkg/lightning/backend/external/sort_test.go
  pkg/ddl/backfilling_merge_sort.go
  pkg/disttask/importinto/task_executor.go
Labels: size/L, release-note-none, approved, lgtm

#49598 planner: more test cases for the universal binding
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/universal_binding_test.go
  pkg/session/bootstrap_test.go
  pkg/sessionctx/variable/sysvar.go
Labels: size/M, release-note-none, approved, lgtm

#49584 expression: refactor cache logic for `builtinRegexpSubstrFuncSig`
  pkg/expression/builtin.go
  pkg/expression/builtin_regexp.go
  pkg/expression/builtin_regexp_test.go
  pkg/expression/builtin_test.go
  pkg/expression/distsql_builtin.go
  pkg/sessionctx/stmtctx/BUILD.bazel
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/stmtctx/stmtctx_test.go
  tests/integrationtest/r/expression/plan_cache.result
  tests/integrationtest/t/expression/plan_cache.test
Labels: release-note, size/XL, approved, lgtm

#49588 tests, executor, br: fix time_zone related bugs in UT
  .bazelrc
  br/pkg/task/show/cmd_test.go
  pkg/ddl/column_type_change_test.go
  pkg/executor/brie.go
  pkg/executor/slow_query.go
  pkg/executor/slow_query_sql_test.go
  pkg/executor/stale_txn_test.go
  pkg/expression/integration_test/integration_test.go
  pkg/util/stmtsummary/v2/reader_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#49622 test: skip unstable test `TestAddIndexDistPauseAndResume`
  tests/realtikvtest/addindextest1/disttask_test.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#49624 binding: use matchTiKVOrTiFlash to remove duplicate code
  pkg/planner/core/hints.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#48583 *: reuse chunk in the histogram
  pkg/statistics/analyze.go
  pkg/statistics/handle/storage/json.go
  pkg/statistics/histogram.go
  pkg/util/chunk/BUILD.bazel
  pkg/util/chunk/chunk.go
  pkg/util/chunk/pool.go
Labels: size/M, release-note-none, approved, lgtm

#49625 planner: fix the issue that the optimizer cannot convert OUTER JOIN to INNER JOIN with nested AND/OR in some cases
  pkg/planner/core/integration_test.go
  pkg/planner/core/rule_predicate_push_down.go
Labels: size/M, release-note-none, approved, lgtm

#49630 statistics: add some key info in sync load timeout log
  pkg/statistics/column.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#49481 server: exit tidb-server directly when all connections not in txn (#44953)
  server/conn.go
  server/conn_test.go
  server/server.go
  tidb-server/main.go
  util/signal/signal_posix.go
Labels: release-note, size/M, approved, lgtm

#49637 br: update IgnoreErrorCheckpoint() for G201/G202 security rules
  br/pkg/lightning/checkpoints/checkpoints.go
  br/pkg/lightning/checkpoints/checkpoints_sql_test.go
Labels: size/M, release-note-none, approved, lgtm

#49422 session: add resource group name in stmt context
  pkg/ddl/backfilling_scheduler.go
  pkg/ddl/ddl_api.go
  pkg/ddl/tests/resourcegroup/resource_group_test.go
  pkg/distsql/request_builder.go
  pkg/distsql/request_builder_test.go
  pkg/executor/adapter.go
  pkg/executor/analyze_col.go
  pkg/executor/analyze_idx.go
  pkg/executor/builder.go
  pkg/executor/checksum.go
  pkg/executor/executor.go
  pkg/executor/internal/mpp/local_mpp_coordinator.go
  pkg/expression/builtin_info.go
  pkg/expression/builtin_info_test.go
  pkg/expression/builtin_info_vec.go
  pkg/planner/optimize.go
  pkg/server/conn.go
  pkg/session/session.go
  pkg/session/txn.go
  pkg/sessionctx/sessionstates/session_states_test.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/variable/session.go
  tests/integrationtest/r/executor/simple.result
  tests/integrationtest/t/executor/simple.test
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#49599 lightning: use PD HTTP client
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/pdutil/pd.go
  br/pkg/pdutil/pd_serial_test.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#49620 domain: do not use fmt.Sprint to format SQL
  pkg/domain/BUILD.bazel
  pkg/domain/plan_replayer.go
  pkg/domain/plan_replayer_handle_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#49648 planner: fix the issue that the optimizer cannot convert OUTER JOIN to INNER JOIN with nested AND/OR in some cases
  planner/core/integration_test.go
  planner/core/rule_predicate_push_down.go
Labels: size/M, release-note-none, approved, lgtm

#49385 br: skip some warning during restore system schemas
  br/cmd/br/cmd.go
  br/cmd/br/restore.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/client.go
  br/pkg/restore/db_test.go
  br/pkg/restore/systable_restore.go
  br/tests/br_full_cluster_restore/run.sh
  br/tests/br_full_ddl/run.sh
Labels: size/M, release-note-none, approved, lgtm

#49651 binding: fix linter for prealloc in the GetAllBindings
  pkg/bindinfo/bind_cache.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#49528 expression: ignore NULL in handle binary literal (#49527)
  DEPS.bzl
  expression/builtin_convert_charset.go
  expression/integration_test.go
  go.mod
  go.sum
Labels: size/M, cherry-pick-approved, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#49447 *: delete '.test.bin' files for 'make clean'
  .gitignore
  Makefile
Labels: size/XS, release-note-none, approved, lgtm
