Repository pingcap/tidb, pull requests merged in 2023-09, with the labels that each got.

#46559 planner: introduce a new empirical rule into the Skyline pruning
  planner/core/casetest/integration_test.go
  planner/core/find_best_task.go
  planner/util/fixcontrol/get.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#45926 lightning: support index KV checking of 'replace' mode for lightning post-import conflict detection
  br/pkg/lightning/backend/local/duplicate.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/errormanager/BUILD.bazel
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/pkg/lightning/importer/table_import.go
  br/tests/lightning_duplicate_resolution_remove/config.toml
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve-schema-create.sql
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.a-schema.sql
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.a.1.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.a.2.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.a.3.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.a.4.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.a.5.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.a.6.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.a.7.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.a.8.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.a.9.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.b-schema.sql
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.b.1.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.b.2.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.b.3.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.b.4.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.b.5.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.b.6.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.b.7.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.b.8.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.b.9.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.c-schema.sql
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.c.1.csv
  br/tests/lightning_duplicate_resolution_remove/data/dup_resolve.c.2.csv
  br/tests/lightning_duplicate_resolution_remove/run.sh
  br/tests/lightning_duplicate_resolution_replace/config.toml
  br/tests/lightning_duplicate_resolution_replace/data/dup_resolve-schema-create.sql
  br/tests/lightning_duplicate_resolution_replace/data/dup_resolve.a-schema.sql
  br/tests/lightning_duplicate_resolution_replace/data/dup_resolve.a.1.csv
  br/tests/lightning_duplicate_resolution_replace/run.sh
  br/tests/run_group.sh
Labels: size/XXL, release-note-none, approved, lgtm

#46596 adminpause: improve test proformance
  ddl/tests/adminpause/pause_resume_test.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#46594 *: disable race for framework tests
  disttask/framework/dispatcher/BUILD.bazel
Labels: size/XS, release-note-none, approved, lgtm

#46590 statistics: fix the cost metrics for stats cache
  metrics/stats.go
  statistics/handle/cache/internal/metrics/metrics.go
Labels: size/S, release-note-none, approved, lgtm

#46588 schema cache: record the ddl timestamp and associate schema cache with the timestamp for stale read (#42083)
  domain/BUILD.bazel
  domain/domain.go
  infoschema/cache.go
  infoschema/cache_test.go
  meta/meta.go
  structure/string.go
  structure/type.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#46523 explaintest: move IT in `types/const_test` to explaintest
  cmd/explaintest/r/types/const.result
  cmd/explaintest/run-tests.sh
  cmd/explaintest/t/types/const.test
  types/BUILD.bazel
  types/const_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#46542 lightning: extract split range for local/external engine
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/local/duplicate.go
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/backend/local/localhelper.go
  br/pkg/lightning/backend/local/localhelper_test.go
  br/pkg/lightning/backend/local/region_job.go
  br/pkg/lightning/backend/local/region_job_test.go
  br/pkg/lightning/common/engine.go
Labels: size/XL, release-note-none, approved, lgtm

#46597 tests: rewrite some expression IT, move them to UT
  expression/builtin_string_test.go
  expression/builtin_time_test.go
  expression/integration_test/integration_test.go
  parser/parser_test.go
  sessionctx/variable/variable_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#46480 importinto: support split large csv file
  br/pkg/lightning/mydump/parser.go
  disttask/importinto/BUILD.bazel
  disttask/importinto/proto.go
  disttask/importinto/wrapper.go
  disttask/importinto/wrapper_test.go
  executor/import_into_test.go
  executor/importer/chunk_process.go
  executor/importer/import.go
  executor/importer/import_test.go
  executor/importer/table_import.go
  executor/load_data.go
  tests/realtikvtest/importintotest4/BUILD.bazel
  tests/realtikvtest/importintotest4/dummy_test.go
  tests/realtikvtest/importintotest4/main_test.go
  tests/realtikvtest/importintotest4/split_file_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#43988 *: provide a variable to ignore the real-time stats in the planner
  planner/cardinality/BUILD.bazel
  planner/cardinality/row_count_column.go
  planner/cardinality/row_count_index.go
  planner/cardinality/row_count_test.go
  planner/cardinality/selectivity_test.go
  planner/cardinality/testdata/cardinality_suite_in.json
  planner/cardinality/testdata/cardinality_suite_out.json
  planner/core/logical_plan_builder.go
  planner/core/plan_cache_utils.go
  planner/core/planbuilder.go
  planner/core/stats.go
  server/testdata/optimizer_suite_out.json
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/column.go
  statistics/handle/handle.go
  statistics/handle/update.go
  statistics/histogram.go
  statistics/index.go
  statistics/table.go
  table/tables/tables.go
Labels: size/XL, release-note-none, approved, lgtm

#46576 planner: missed order by item for index merge sometimes
  planner/core/find_best_task.go
  planner/core/issuetest/BUILD.bazel
  planner/core/issuetest/planner_issue_test.go
Labels: size/M, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46555 statistics: remove lockedTable cache
  domain/domain.go
  executor/analyze.go
  executor/show_stats.go
  statistics/handle/BUILD.bazel
  statistics/handle/handle.go
  statistics/handle/handletest/statslock/stats_lcok_test.go
  statistics/handle/lock_stats_handler.go
  statistics/handle/lockstats/BUILD.bazel
  statistics/handle/lockstats/lock_stats.go
  statistics/handle/lockstats/lock_stats_test.go
  statistics/handle/lockstats/unlock_stats.go
  statistics/handle/update.go
Labels: sig/planner, component/statistics, size/XXL, release-note-none, approved, lgtm

#46605 *: faster adminpause test
  ddl/tests/adminpause/pause_cancel_test.go
  ddl/tests/adminpause/pause_resume_test.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#46569 session, sessionctx: show restricted session variables in `show session_states`
  session/session.go
  sessionctx/sessionstates/BUILD.bazel
  sessionctx/sessionstates/session_states_test.go
  sessionctx/sessionstates/session_token_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#46509 client-go: attach request source with retry info for coprocessor
  DEPS.bzl
  go.mod
  go.sum
  session/session.go
  session/test/session_test.go
  store/copr/coprocessor.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45860 ddl: Advance iterator when skip handling TiFlash tables
  ddl/ddl_tiflash_api.go
  ddl/tests/tiflash/BUILD.bazel
  ddl/tests/tiflash/ddl_tiflash_test.go
  domain/infosync/tiflash_manager.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#46562 bootstrap: add summary field for system table `tidb_background_subtask`
  ddl/constant.go
  disttask/framework/proto/task.go
  disttask/framework/storage/task_table.go
  session/bootstrap.go
  session/bootstraptest/BUILD.bazel
  session/bootstraptest/bootstrap_upgrade_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#46446 cop: cop request should contains buckets version
  store/copr/coprocessor.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#46610 test: speed up `domain.Close()` in test
  owner/mock.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#46615 adminpause: set moderate timeout
  ddl/tests/adminpause/BUILD.bazel
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#46592 planner: optimize the performance of `PlanCacheParamList.String()`
  executor/show_stats_test.go
  types/datum.go
  types/datum_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#46563 executor: optimize load data assignment expression
  executor/importer/BUILD.bazel
  executor/importer/import.go
  executor/load_data.go
  server/server_test.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#46616 lightning: retry for leader change error when GetTS (#44478) (#44856)
  DEPS.bzl
  br/pkg/lightning/restore/BUILD.bazel
  br/pkg/lightning/restore/checksum.go
  br/pkg/lightning/restore/checksum_test.go
  go.mod
  go.sum
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#45935 disktask: replace failure nodes with alive ones
  Makefile
  disttask/framework/BUILD.bazel
  disttask/framework/dispatcher/BUILD.bazel
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_test.go
  disttask/framework/framework_ha_test.go
  disttask/framework/framework_test.go
  disttask/framework/mock/scheduler_mock.go
  disttask/framework/scheduler/BUILD.bazel
  disttask/framework/scheduler/interface.go
  disttask/framework/scheduler/manager.go
  disttask/framework/scheduler/manager_test.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  disttask/framework/storage/table_test.go
  disttask/framework/storage/task_table.go
  disttask/importinto/dispatcher_test.go
  domain/infosync/mock_info.go
Labels: size/XXL, release-note-none, approved, lgtm

#46450 planner: don't recompute the hashcode when generated column substitution doesn't happen
  planner/core/BUILD.bazel
  planner/core/logical_plans_test.go
  planner/core/rule_generate_column_substitute.go
  planner/core/rule_generate_column_substitute_test.go
Labels: sig/planner, release-note, size/XL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46586 statistics: improve the memory usage for stats cache
  statistics/handle/cache/internal/lfu/BUILD.bazel
  statistics/handle/cache/internal/lfu/lfu_cache.go
  statistics/handle/cache/internal/lfu/lfu_cache_test.go
Labels: size/M, release-note-none, approved, lgtm

#46612 metrics: refine metrics of infoschema
  domain/BUILD.bazel
  domain/domain.go
  infoschema/metrics/metrics.go
  metrics/domain.go
  metrics/grafana/tidb.json
Labels: component/metrics, size/L, release-note-none, ok-to-test, approved, lgtm

#46521 restore: rewrite auto increment id after pitr
  br/pkg/backup/BUILD.bazel
  br/pkg/backup/client.go
  br/pkg/stream/rewrite_meta_rawkv.go
  br/pkg/stream/rewrite_meta_rawkv_test.go
  br/pkg/task/common.go
  br/pkg/version/BUILD.bazel
  br/pkg/version/version.go
  br/pkg/version/version_test.go
  meta/meta.go
Labels: release-note, size/L, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46537 session: add tiflash auto spill support
  distsql/distsql.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
Labels: size/M, release-note-none, approved, lgtm

#46395 distribute framework: add planner
  Makefile
  disttask/framework/BUILD.bazel
  disttask/framework/mock/BUILD.bazel
  disttask/framework/mock/plan_mock.go
  disttask/framework/planner/BUILD.bazel
  disttask/framework/planner/plan.go
  disttask/framework/planner/plan_test.go
  disttask/framework/planner/planner.go
  disttask/framework/planner/planner_test.go
  disttask/importinto/BUILD.bazel
  disttask/importinto/dispatcher.go
  disttask/importinto/job.go
  disttask/importinto/planner.go
  disttask/importinto/planner_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#46589 br: fix restore metakv without default cf files
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46452 expression: Add TIDB_PARSE_TSO_LOGICAL() function
  executor/test/showtest/show_test.go
  expression/builtin.go
  expression/builtin_time.go
  expression/builtin_time_test.go
  expression/integration_serial_test/integration_serial_test.go
  parser/ast/functions.go
  parser/parser_test.go
Labels: release-note, sig/sql-infra, size/L, ok-to-test, approved, lgtm

#46455 autoid_service,owner: change autoid service's etcd lease to 10s
  autoid_service/autoid.go
  owner/manager.go
  owner/mock.go
Labels: size/S, release-note-none, approved, lgtm

#46367 statistics: fix global index statistics
  planner/core/planbuilder.go
  statistics/BUILD.bazel
  statistics/integration_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#46447 lightning: port RangeSplitter
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/codec.go
  br/pkg/lightning/backend/external/codec_test.go
  br/pkg/lightning/backend/external/file.go
  br/pkg/lightning/backend/external/file_test.go
  br/pkg/lightning/backend/external/iter.go
  br/pkg/lightning/backend/external/split.go
  br/pkg/lightning/backend/external/split_test.go
  br/pkg/lightning/backend/external/util.go
  br/pkg/lightning/backend/external/util_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#46370 *: support the variable of `default_collation_for_utf8mb4` and corresponding behaviors
  ddl/db_integration_test.go
  ddl/ddl_api.go
  ddl/schematracker/checker.go
  ddl/schematracker/dm_tracker.go
  ddl/schematracker/dm_tracker_test.go
  domain/domain.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/show.go
  executor/test/seqtest/seq_executor_test.go
  parser/charset/charset.go
  session/bootstrap_test.go
  sessionctx/variable/error.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/varsutil.go
  util/collate/collate.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#46659 bazel: rules_proto use mirror to download
  WORKSPACE
Labels: size/S, release-note-none, approved, lgtm

#46603 disttask: refactor dispatcher so we have chance to add init logics per task type
  ddl/BUILD.bazel
  ddl/backfilling_dispatcher.go
  ddl/backfilling_dispatcher_test.go
  ddl/ddl.go
  disttask/framework/dispatcher/BUILD.bazel
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_manager.go
  disttask/framework/dispatcher/dispatcher_test.go
  disttask/framework/dispatcher/interface.go
  disttask/framework/framework_err_handling_test.go
  disttask/framework/framework_ha_test.go
  disttask/framework/framework_rollback_test.go
  disttask/framework/framework_test.go
  disttask/importinto/dispatcher.go
  disttask/importinto/dispatcher_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#46644 session: adjust the upgrade compatibility behavior
  session/bootstrap.go
  session/bootstraptest/BUILD.bazel
  session/bootstraptest/bootstrap_upgrade_test.go
  session/sync_upgrade.go
Labels: size/L, release-note-none, approved, lgtm

#46670 bazel: add mirror for rules_java
  WORKSPACE
Labels: size/S, release-note-none, approved, lgtm

#46431 server,infoschema,util: Implement session_account_connect_attrs P_S table
  infoschema/BUILD.bazel
  infoschema/perfschema/const.go
  infoschema/perfschema/tables.go
  infoschema/tables.go
  server/BUILD.bazel
  server/server.go
  server/server_test.go
  testkit/BUILD.bazel
  testkit/mocksessionmanager.go
  util/BUILD.bazel
  util/processinfo.go
Labels: release-note, size/M, ok-to-test, approved, lgtm

#46665 statistics: add update metrics for stats cache
  statistics/handle/cache/statscacheinner.go
Labels: size/XS, release-note-none, approved, lgtm

#46671 ddl: fix taskNodes temporarily
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/storage/task_table.go
Labels: size/S, release-note-none, approved, lgtm

#46611 statistics: use session pool when locking or unlocking table stats
  .github/licenserc.yml
  Makefile
  executor/analyze.go
  statistics/handle/handletest/statslock/BUILD.bazel
  statistics/handle/handletest/statslock/stats_lock_test.go
  statistics/handle/lock_stats_handler.go
  statistics/handle/lockstats/BUILD.bazel
  statistics/handle/lockstats/lock_stats.go
  statistics/handle/lockstats/lock_stats_test.go
  statistics/handle/lockstats/query_lock.go
  statistics/handle/lockstats/query_lock_test.go
  statistics/handle/lockstats/unlock_stats.go
  statistics/handle/lockstats/unlock_stats_test.go
  statistics/handle/update.go
  util/sqlexec/mock/BUILD.bazel
  util/sqlexec/mock/restricted_sql_executor_mock.go
Labels: size/XXL, release-note-none, approved, lgtm

#46661 client-go: safeTS obtain min-resolved-ts by store list
  DEPS.bzl
  go.mod
  go.sum
Labels: release-note, size/S, needs-cherry-pick-release-7.1, approved, lgtm

#46677 test: fix an unit test that is too strict
  br/pkg/lightning/backend/external/split_test.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#46681 ddl: add failpoint tests for add-index operator
  ddl/backfilling_operator.go
  ddl/export_test.go
  ddl/index.go
  ddl/index_cop.go
  ddl/stage_read_index.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/operator_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#46674 disttask: persist subtask error properly
  disttask/framework/mock/scheduler_mock.go
  disttask/framework/scheduler/interface.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  disttask/framework/storage/table_test.go
  disttask/framework/storage/task_table.go
Labels: size/M, release-note-none, approved, lgtm

#46533 *: Exchange partition, fix LIST COLUMNs validation as well as NULL validation
  ddl/ddl_api.go
  ddl/partition.go
  ddl/tests/partition/db_partition_test.go
  planner/core/integration_partition_test.go
  types/parser_driver/value_expr.go
Labels: type/bug-fix, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46620 expression: fix wrong result for unsigned non-const int cmp const duration
  expression/integration_test/integration_test.go
  types/datum.go
Labels: size/S, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46692 session: make TestUpgradeWithPauseDDL stable
  session/bootstraptest/bootstrap_upgrade_test.go
Labels: component/test, size/M, release-note-none, ok-to-test, approved, lgtm

#46732 *: use self mirror for rules_proto
  WORKSPACE
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#46669 disttask: refactor scheduler part
  .github/licenserc.yml
  Makefile
  ddl/BUILD.bazel
  ddl/ddl.go
  ddl/stage_ingest_index.go
  ddl/stage_read_index.go
  ddl/stage_scheduler.go
  disttask/framework/BUILD.bazel
  disttask/framework/framework_err_handling_test.go
  disttask/framework/framework_ha_test.go
  disttask/framework/framework_rollback_test.go
  disttask/framework/framework_test.go
  disttask/framework/mock/BUILD.bazel
  disttask/framework/mock/execute/BUILD.bazel
  disttask/framework/mock/execute/execute_mock.go
  disttask/framework/mock/scheduler_mock.go
  disttask/framework/scheduler/BUILD.bazel
  disttask/framework/scheduler/execute/BUILD.bazel
  disttask/framework/scheduler/execute/interface.go
  disttask/framework/scheduler/execute/summary.go
  disttask/framework/scheduler/interface.go
  disttask/framework/scheduler/manager.go
  disttask/framework/scheduler/manager_test.go
  disttask/framework/scheduler/register.go
  disttask/framework/scheduler/register_test.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  disttask/importinto/BUILD.bazel
  disttask/importinto/scheduler.go
  disttask/importinto/subtask_executor.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#46680 expression, cmd: move some issue tests to explaintest
  cmd/explaintest/r/expression/issues.result
  cmd/explaintest/t/expression/issues.test
  expression/builtin_time_test.go
  expression/integration_serial_test/integration_serial_test.go
  expression/integration_test/integration_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#46708 statistics: improve query locked table API memory usage
  executor/analyze.go
  executor/show_stats.go
  statistics/handle/lock_stats_handler.go
  statistics/handle/lockstats/lock_stats.go
  statistics/handle/lockstats/query_lock.go
  statistics/handle/lockstats/query_lock_test.go
  statistics/handle/lockstats/unlock_stats.go
  statistics/handle/update.go
Labels: sig/planner, component/statistics, size/L, release-note-none, approved, lgtm

#46711 client-go: safeTS obtain min-resolved-ts by store list(hotfix)
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#44601 SQL digester: Modify sql digester logic for IN statement with single literal `IN (?) => IN (...)`
  bindinfo/internal/testutil.go
  bindinfo/tests/BUILD.bazel
  bindinfo/tests/bind_test.go
  parser/digester.go
  parser/digester_test.go
  planner/core/plan_cache_utils.go
  planner/optimize.go
Labels: sig/planner, release-note, epic/sql-plan-management, size/L, ok-to-test, approved, lgtm

#46736 tests: check `InContainer()` for `TestCPUValue` and `TestGetCgroupCPU()` test cases
  util/cgroup/cgroup_cpu_test.go
  util/cpu/BUILD.bazel
  util/cpu/cpu_test.go
Labels: size/S, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#46646 disttask: add Multitask test
  disttask/framework/BUILD.bazel
  disttask/framework/framework_test.go
  disttask/framework/proto/task.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#46726 lightning: always get latest PD leader when access PD after initialized
  br/pkg/lightning/importer/check_info_test.go
  br/pkg/lightning/importer/import.go
  br/pkg/lightning/importer/import_test.go
  br/pkg/lightning/importer/precheck.go
  br/pkg/lightning/importer/precheck_impl.go
  br/pkg/lightning/importer/precheck_impl_test.go
  br/pkg/lightning/importer/precheck_test.go
  br/pkg/lightning/importer/table_import_test.go
  br/pkg/lightning/log/log.go
  br/pkg/pdutil/pd.go
  br/tests/_utils/run_services
  br/tests/lightning_pd_leader_switch/config.toml
  br/tests/lightning_pd_leader_switch/data/cpeng-schema-create.sql
  br/tests/lightning_pd_leader_switch/data/cpeng.a-schema.sql
  br/tests/lightning_pd_leader_switch/data/cpeng.a.1.sql
  br/tests/lightning_pd_leader_switch/data/cpeng.a.2.sql
  br/tests/lightning_pd_leader_switch/data/cpeng.a.3.sql
  br/tests/lightning_pd_leader_switch/data/cpeng.b-schema.sql
  br/tests/lightning_pd_leader_switch/data/cpeng.b.1.sql
  br/tests/lightning_pd_leader_switch/data/cpeng.b.2.sql
  br/tests/lightning_pd_leader_switch/run.sh
  br/tests/run_group.sh
Labels: size/L, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46636 lightning: add ExternalEngineConfig to create an external engine
  br/pkg/lightning/backend/backend.go
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/common/engine.go
  br/pkg/storage/local.go
Labels: size/XL, release-note-none, approved, lgtm

#46720 metrics: add active connections to Connection panel
  metrics/grafana/tidb.json
Labels: size/XS, release-note-none, approved, lgtm

#46743 statstics: fix update the value of LFU's MaxCost
  statistics/handle/cache/internal/lfu/lfu_cache.go
  statistics/handle/cache/internal/lfu/lfu_cache_test.go
Labels: size/M, release-note-none, approved, lgtm

#46739 planner: fix incompatible behaviors between prep and non-prep stateme… | tidb-test=pr/2145
  planner/core/prepare_test.go
  util/ranger/ranger.go
Labels: size/S, release-note-none, approved, lgtm

#46651 parser,config: Correct handling of display width deprecation except for zerofill and tinyint(1)
  executor/test/showtest/show_test.go
  parser/types/BUILD.bazel
  parser/types/field_type.go
  parser/types/field_type_test.go
Labels: release-note, size/M, ok-to-test, approved, lgtm

#46686 disttask: increase checkTaskRunningInterval
  disttask/framework/dispatcher/BUILD.bazel
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_manager.go
Labels: size/S, release-note-none, approved, lgtm

#46453 disttask: add role to select instance
  config/config.go
  disttask/framework/BUILD.bazel
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_test.go
  disttask/framework/framework_test.go
  disttask/framework/mock/scheduler_mock.go
  disttask/framework/scheduler/BUILD.bazel
  disttask/framework/scheduler/interface.go
  disttask/framework/scheduler/manager.go
  disttask/framework/scheduler/manager_test.go
  disttask/framework/storage/BUILD.bazel
  disttask/framework/storage/table_test.go
  disttask/framework/storage/task_table.go
  domain/domain.go
  executor/BUILD.bazel
  executor/infoschema_cluster_table_test.go
  executor/set.go
  session/bootstrap.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/BUILD.bazel
  tidb-server/main.go
  util/distrole/BUILD.bazel
  util/distrole/role.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#46741 planner: use orginal pattern instead of compiled one
  planner/core/memtable_predicate_extractor_test.go
  planner/core/show_predicate_extractor.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45893 planner, variable: add test and ga the SET_VAR hint
  executor/executor.go
  parser/hintparser.go
  parser/hintparser.y
  parser/parser.y
  planner/optimize.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/session.go
  sessionctx/variable/setvar_affect.go
  sessionctx/variable/setvar_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/variable.go
  sessionctx/variable/varsutil_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#46767 expression, planner: check function exists with schema name
  errors.toml
  expression/builtin_encryption.go
  expression/builtin_miscellaneous.go
  expression/builtin_test.go
  expression/distsql_builtin.go
  expression/errors.go
  expression/integration_test/integration_test.go
  expression/scalar_function.go
  planner/core/preprocess.go
Labels: size/M, release-note-none, approved, lgtm

#46428 infoschema,executor: Add CHECK_CONSTRAINTS I_S table
  executor/BUILD.bazel
  executor/builder.go
  executor/infoschema_reader.go
  executor/infoschema_reader_internal_test.go
  infoschema/tables.go
  infoschema/test/clustertablestest/tables_test.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#46742 planner: add privilege check for lock/unlock stats
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
  statistics/handle/handletest/statslock/BUILD.bazel
  statistics/handle/handletest/statslock/stats_lock_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#46462 *: Implement `/upgrade/show` API
  docs/tidb_http_api.md
  server/handler/BUILD.bazel
  server/handler/tests/BUILD.bazel
  server/handler/tests/http_handler_test.go
  server/handler/upgrade_handler.go
Labels: release-note, size/L, approved, lgtm

#46558 *: add global variable tidb_schema_version_cache_limit to control infoschema cache size
  domain/domain.go
  domain/sysvar_cache.go
  executor/set_test.go
  infoschema/cache.go
  infoschema/test/cachetest/BUILD.bazel
  infoschema/test/cachetest/cache_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#46619 planner: sink limit down to index merge table side under union and intersection case
  planner/core/casetest/physicalplantest/physical_plan_test.go
  planner/core/casetest/physicalplantest/testdata/plan_suite_in.json
  planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  planner/core/find_best_task.go
  planner/core/task.go
Labels: release-note, size/XL, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46782 test: add lock to avoid data race
  br/pkg/lightning/backend/local/localhelper_test.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#46614 lightning/external: add statistic for multiple data files
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/util.go
  br/pkg/lightning/backend/external/util_test.go
  br/pkg/lightning/backend/external/writer.go
  br/pkg/lightning/backend/external/writer_test.go
Labels: size/XL, release-note-none, approved, lgtm

#46752 ddl: relax the check in ownerCheckAllVersions
  ddl/syncer/syncer.go
Labels: release-note, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46662 executor: fix panic issue when handle `HashAggExec.Close()`
  executor/aggregate/agg_hash_executor.go
  executor/test/issuetest/executor_issue_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46232 CI: disable codecov's reports in commit status and github cheks
  .codecov.yml
Labels: size/S, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#46685 test: close duplicateDB when meet error halfway
  br/pkg/lightning/backend/local/local.go
Labels: size/XS, release-note-none, approved, lgtm

#46784 sessionctx: add testcase for set_var hint
  sessionctx/variable/session.go
  sessionctx/variable/setvar_test.go
Labels: size/S, release-note-none, approved, lgtm

#46785 pitr: Revert "pitr: add ingest recorder to repair indexes (#41670) (#46418)"
  br/pkg/glue/progressing.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/client.go
  br/pkg/restore/ingestrec/BUILD.bazel
  br/pkg/restore/ingestrec/ingest_recorder.go
  br/pkg/restore/ingestrec/ingest_recorder_test.go
  br/pkg/restore/split.go
  br/pkg/stream/BUILD.bazel
  br/pkg/stream/rewrite_meta_rawkv.go
  br/pkg/stream/rewrite_meta_rawkv_test.go
  br/pkg/task/stream.go
  ddl/BUILD.bazel
  ddl/index.go
  tests/realtikvtest/addindextest/common.go
Labels: cherry-pick-approved, size/XXL, release-note-none, approved, lgtm

#46762 util: memory: fix segfaults in meminfo when VirtualMemory errors
  util/memory/meminfo.go
Labels: release-note, size/XS, ok-to-test, approved, lgtm

#46638 session: add debug log for parsing
  session/session.go
Labels: size/XS, release-note-none, approved, lgtm

#46684 *: add global variable tidb_schema_version_cache_limit to control infoschema cache size and refine metric
  domain/domain.go
  domain/sysvar_cache.go
  executor/set_test.go
  infoschema/cache.go
  infoschema/cache_test.go
  metrics/domain.go
  metrics/grafana/tidb.json
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: size/L, release-note-none, approved, needs-1-more-lgtm

#46812 planner: speed up PhysicalTopN#containVirtualColumn
  planner/core/task.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#46771 makefile: remove bazel_check before ut
  Makefile
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#46818 hint: fix panic when query block not found in prepare statement
  executor/prepared_test.go
  util/hint/hint_processor.go
Labels: sig/planner, size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46788 statistics: add historgram bench for MergePartitionHist2GlobalHist
  statistics/BUILD.bazel
  statistics/histogram_bench_test.go
Labels: size/L, release-note-none, approved, lgtm

#46807 memory: return memory delta from jsonObjectAgg#MergePartialResult
  executor/aggfuncs/func_json_objectagg.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#46845 sem: fix goleak
  ddl/tests/adminpause/pause_cancel_test.go
  util/sem/main_test.go
Labels: size/XS, release-note-none, approved, lgtm

#46544 planner: add new logical rule for constant propagation | tidb-test=pr/2209
  cmd/explaintest/r/explain_cte.result
  executor/index_advise_test.go
  expression/constant_propagation.go
  planner/cardinality/selectivity_test.go
  planner/cardinality/testdata/cardinality_suite_in.json
  planner/cardinality/testdata/cardinality_suite_out.json
  planner/core/BUILD.bazel
  planner/core/casetest/hint/testdata/integration_suite_out.json
  planner/core/logical_plan_builder.go
  planner/core/main_test.go
  planner/core/optimizer.go
  planner/core/physical_plan_trace_test.go
  planner/core/plan.go
  planner/core/rule_constant_propagation.go
  planner/core/rule_constant_propagation_test.go
  planner/core/rule_eliminate_projection.go
  planner/core/testdata/rule_constant_propagation_suite_in.json
  planner/core/testdata/rule_constant_propagation_suite_out.json
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#46790 importinto: add retry when update job table
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/main_test.go
  disttask/framework/handle/BUILD.bazel
  disttask/framework/handle/handle.go
  disttask/framework/handle/handle_test.go
  disttask/importinto/BUILD.bazel
  disttask/importinto/dispatcher.go
  disttask/importinto/dispatcher_test.go
  disttask/importinto/dispatcher_testkit_test.go
  util/backoff/BUILD.bazel
  util/backoff/backoff.go
  util/backoff/backoff_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#46721 types: fix convert str `-00*` to uint
  expression/integration_test/integration_test.go
  types/convert.go
  types/convert_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46866 server: filter the EOF error for normal closed at handshake (#31081)
  server/server.go
Labels: size/S, release-note-none, approved, lgtm

#46831 planner: Adjust the log level and returned value when `cacheableChecker` check `*ast.TableName` nodes
  executor/explainfor_test.go
  planner/core/plan_cache.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
  planner/core/plan_cacheable_checker.go
  planner/core/plan_cacheable_checker_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46849 planner: fix the unstable test `TestFixControl45132`
  planner/core/casetest/integration_test.go
Labels: size/S, release-note-none, approved, lgtm

#46855 ddl: fix unstable TestAddIndexIngestRecoverPartition
  ddl/ingest/BUILD.bazel
  ddl/ingest/integration_test.go
  ddl/ingest/tests/BUILD.bazel
  ddl/ingest/tests/partition_table_test.go
  ddl/ingest/testutil/BUILD.bazel
  ddl/ingest/testutil/testutil.go
Labels: size/L, release-note-none, approved, lgtm

#46861 enforcempp: fix flaky test TestEnforceMPP
  planner/core/casetest/enforcempp/enforce_mpp_test.go
Labels: size/XS, release-note-none, approved, lgtm

#46870 test: fix rand.Read will generate same key
  br/pkg/lightning/backend/external/split_test.go
Labels: size/S, release-note-none, approved, lgtm

#46803 statistics: add sync.Pool for bucket4Merging
  statistics/handle/handletest/analyze/BUILD.bazel
  statistics/histogram.go
Labels: size/M, release-note-none, approved, lgtm

#46138 statistics: record last gc ts to avoid huge read on stats table
  build/BUILD.bazel
  ddl/partition.go
  ddl/table.go
  statistics/handle/ddl.go
  statistics/handle/ddl_test.go
  statistics/handle/gc.go
  statistics/handle/gc_test.go
  statistics/integration_test.go
Labels: size/L, release-note-none, approved, lgtm

#46749 importinto: add metrics and dashboard
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/region_job.go
  br/pkg/lightning/importer/table_import_test.go
  br/pkg/lightning/importer/tidb_test.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/metric/metric.go
  br/pkg/lightning/metric/metric_test.go
  br/pkg/lightning/mydump/parser.go
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_manager.go
  disttask/framework/proto/task.go
  disttask/importinto/BUILD.bazel
  disttask/importinto/dispatcher.go
  disttask/importinto/metrics.go
  disttask/importinto/metrics_test.go
  disttask/importinto/scheduler.go
  executor/importer/BUILD.bazel
  executor/importer/chunk_process.go
  executor/importer/import.go
  executor/importer/table_import_test.go
  metrics/BUILD.bazel
  metrics/grafana/tidb.json
  metrics/import.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#46853 *: refine panic log
  DEPS.bzl
  executor/load_data.go
  go.mod
  go.sum
  server/rpc_server.go
  session/test/session_test.go
  store/copr/coprocessor.go
  store/gcworker/gc_worker.go
  table/tables/cache.go
  util/misc.go
  util/topsql/reporter/single_target.go
Labels: size/M, release-note-none, approved, lgtm

#46593 disttask: dynamic dispatch subtasks
  ddl/backfilling_dispatcher.go
  ddl/backfilling_dispatcher_test.go
  ddl/index.go
  ddl/stage_scheduler.go
  disttask/framework/BUILD.bazel
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_test.go
  disttask/framework/dispatcher/interface.go
  disttask/framework/framework_dynamic_dispatch_test.go
  disttask/framework/framework_err_handling_test.go
  disttask/framework/framework_ha_test.go
  disttask/framework/framework_rollback_test.go
  disttask/framework/framework_test.go
  disttask/framework/proto/task.go
  disttask/framework/scheduler/manager.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  disttask/framework/storage/task_table.go
  disttask/importinto/dispatcher.go
  disttask/importinto/dispatcher_testkit_test.go
  disttask/importinto/proto.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#46633 br: support reading a file concurrently from S3
  DEPS.bzl
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/byte_reader_test.go
  br/pkg/lightning/backend/external/concurrent_reader.go
  br/pkg/lightning/backend/external/kv_reader.go
  br/pkg/lightning/backend/external/stat_reader.go
  br/pkg/lightning/backend/external/writer.go
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/s3.go
  br/pkg/storage/storage.go
  go.mod
  go.sum
Labels: size/XL, release-note-none, approved, lgtm

#46808 executor: fix batchPoint for partition table with duplicate rows
  executor/batch_point_get_test.go
  executor/builder.go
Labels: size/M, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46886 linter: revert the delete configure
  build/BUILD.bazel
Labels: size/XS, release-note-none, approved, lgtm

#46882 executor: merge some tests into one
  executor/index_lookup_join_test.go
  executor/test/analyzetest/analyze_test.go
Labels: size/L, release-note-none, approved, lgtm

#46887 disttask: fix dispatcher checksubtask flaky test
  disttask/framework/dispatcher/dispatcher_test.go
Labels: size/S, release-note-none, approved, lgtm

#46766 *: Exchange partition, fix LIST COLUMNs validation as well as NULL validation (#46533)
  ddl/db_partition_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/failtest/fail_db_test.go
  ddl/metadatalocktest/BUILD.bazel
  ddl/metadatalocktest/mdl_test.go
  ddl/partition.go
  ddl/placement_policy_test.go
  ddl/rollingback.go
  executor/insert_common.go
  executor/write.go
  infoschema/builder.go
  parser/model/model.go
  planner/core/integration_partition_test.go
  testkit/testkit.go
  types/parser_driver/value_expr.go
Labels: size/XXL, release-note-none, approved, lgtm

#46756 rc: add resource group name to ddl
  ddl/backfilling.go
  ddl/backfilling_dispatcher.go
  ddl/backfilling_scheduler.go
  ddl/column.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/index.go
  ddl/index_merge_tmp.go
  ddl/multi_schema_change.go
  ddl/partition.go
  ddl/reorg.go
  ddl/stage_read_index.go
  ddl/stage_scheduler.go
  disttask/importinto/subtask_executor.go
  parser/model/reorg.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#46868 planner, stats: clean the called of Index.CheckStats
  planner/cardinality/row_count_index.go
  statistics/index.go
Labels: size/XS, release-note-none, approved, lgtm

#45904 Log Backup: decouple log backup resolve locks from GCWorker.
  br/pkg/conn/conn.go
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_env.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
  br/pkg/task/stream.go
  domain/domain.go
  store/gcworker/BUILD.bazel
  store/gcworker/gc_worker.go
  store/gcworker/gc_worker_test.go
Labels: release-note, size/XXL, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46899 test: stabilize TestMultiSchemaChangeAlterIndex
  ddl/multi_schema_change_test.go
Labels: size/XS, release-note-none, approved, lgtm

#46891 expression, tests: move integration tests in `expression` pkg to `tests/integration`
  .gitignore
  expression/integration_serial_test/BUILD.bazel
  expression/integration_serial_test/integration_serial_test.go
  expression/integration_test/integration_test.go
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/t/expression/issues.test
Labels: size/XL, release-note-none, approved, lgtm

#46707 variable: always truncate `tidb_session_alias` when it is not a valid value
  session/test/variable/variable_test.go
  sessionctx/variable/sysvar.go
Labels: size/M, release-note-none, approved, lgtm

#46734 ddl, lightning: integrate operator for global sort
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/engine_test.go
  br/pkg/lightning/backend/external/file.go
  br/pkg/lightning/backend/external/file_test.go
  br/pkg/lightning/backend/external/iter.go
  br/pkg/lightning/backend/external/iter_test.go
  br/pkg/lightning/backend/external/split_test.go
  br/pkg/lightning/backend/external/util.go
  br/pkg/lightning/backend/external/util_test.go
  br/pkg/lightning/backend/external/writer.go
  br/pkg/lightning/backend/external/writer_test.go
  br/pkg/lightning/backend/local/local.go
  ddl/BUILD.bazel
  ddl/backfilling_dispatcher.go
  ddl/backfilling_operator.go
  ddl/index.go
  ddl/ingest/backend.go
  ddl/ingest/engine.go
  ddl/ingest/mock.go
  ddl/stage_ingest_index.go
  ddl/stage_merge_sort.go
  ddl/stage_read_index.go
  ddl/stage_scheduler.go
  disttask/framework/framework_rollback_test.go
  disttask/framework/framework_test.go
  disttask/framework/mock/execute/execute_mock.go
  disttask/framework/scheduler/execute/interface.go
  disttask/framework/scheduler/interface.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  disttask/framework/storage/task_table.go
  disttask/importinto/scheduler.go
Labels: size/XXL, release-note-none, approved, lgtm

#46895 statistics: use RWMutex in AnalyzeProgress
  statistics/analyze_jobs.go
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#46896 planner: fix the issue that binding for `in (?)` cannot work for `in (?,?,?)`
  bindinfo/tests/BUILD.bazel
  bindinfo/tests/bind_test.go
  planner/core/planbuilder.go
  planner/core/preprocess.go
Labels: sig/planner, epic/sql-plan-management, size/L, release-note-none, approved, lgtm

#46903 br: fix the issue that state not set correctly after resolve locks
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_test.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46898 *: add bench for analyze
  executor/test/analyzetest/BUILD.bazel
  executor/test/analyzetest/analyze_bench_test.go
Labels: size/M, release-note-none, approved, lgtm

#46723 ddl/dist: gc subtask history table
  ddl/constant.go
  ddl/job_table.go
  disttask/framework/BUILD.bazel
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_manager.go
  disttask/framework/framework_test.go
  disttask/framework/storage/BUILD.bazel
  disttask/framework/storage/table_test.go
  disttask/framework/storage/task_table.go
  disttask/framework/storage/util.go
  disttask/importinto/dispatcher_testkit_test.go
  disttask/importinto/job.go
  session/bootstrap.go
  session/bootstraptest/BUILD.bazel
  session/bootstraptest/bootstrap_upgrade_test.go
  tests/realtikvtest/importintotest/job_test.go
  tests/realtikvtest/importintotest4/split_file_test.go
Labels: release-note, size/XL, ok-to-test, approved, lgtm

#46901 variable: fix empty cloud storage uri
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/helper.go
  br/pkg/storage/helper_test.go
  br/pkg/storage/parse.go
  parser/ast/misc.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#46249 planner: remove outer join on unique keys when there is no column referenced
  executor/test/partitiontest/partition_test.go
  planner/core/rule_join_elimination.go
  planner/core/testdata/plan_suite_unexported_in.json
  planner/core/testdata/plan_suite_unexported_out.json
  tests/integrationtest/r/explain_easy.result
Labels: size/M, release-note-none, approved, lgtm

#46929 executor: speed up `TestOrderByWithLimit`
  executor/test/indexmergereadtest/index_merge_reader_test.go
Labels: size/XS, release-note-none, approved, lgtm

#46667 planner: support `default_collation_for_utf8mb4` for _utf8mb4'text'
  planner/core/expression_rewriter.go
  planner/core/expression_rewriter_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#46922 disttask: remove mini executor abstraction
  .github/licenserc.yml
  Makefile
  ddl/ddl.go
  ddl/stage_ingest_index.go
  ddl/stage_merge_sort.go
  ddl/stage_read_index.go
  ddl/stage_scheduler.go
  disttask/framework/BUILD.bazel
  disttask/framework/framework_rollback_test.go
  disttask/framework/framework_test.go
  disttask/framework/mock/execute/execute_mock.go
  disttask/framework/mock/scheduler_mock.go
  disttask/framework/scheduler/BUILD.bazel
  disttask/framework/scheduler/execute/interface.go
  disttask/framework/scheduler/interface.go
  disttask/framework/scheduler/manager.go
  disttask/framework/scheduler/manager_test.go
  disttask/framework/scheduler/register.go
  disttask/framework/scheduler/register_test.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  disttask/importinto/BUILD.bazel
  disttask/importinto/encode_and_sort_operator_test.go
  disttask/importinto/mock/BUILD.bazel
  disttask/importinto/mock/import_mock.go
  disttask/importinto/proto.go
  disttask/importinto/scheduler.go
  disttask/importinto/subtask_executor.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#46709 sessionctx: change variable `tidb_enable_tiflash_pipeline_model` to global level
  distsql/distsql.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/variable_test.go
Labels: size/M, release-note-none, approved, lgtm

#46902 rc: resource name support import into
  ddl/index.go
  ddl/ingest/backend_mgr.go
  ddl/ingest/mock.go
  ddl/stage_scheduler.go
  tests/realtikvtest/addindextest/integration_test.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#46934 planner: remove useless todo comment and fix some typos for index merge
  executor/index_merge_reader.go
  executor/test/indexmergereadtest/index_merge_reader_test.go
Labels: release-note, size/S, skip-issue-check, ok-to-test, approved, lgtm

#46912 autoid_service: setup OWNERS file for reviewing assigning
  OWNERS_ALIASES
  autoid_service/OWNERS
Labels: size/XS, release-note-none, approved, lgtm

#46781 types, collation: utf8mb4_0900_bin shouldn't have RestoreData
  parser/mysql/charset.go
  server/conn.go
  tests/integrationtest/r/collation_misc_disabled.result
  tests/integrationtest/r/collation_misc_enabled.result
  tests/integrationtest/t/collation_misc.test
  types/etc.go
  types/etc_test.go
  util/collate/collate.go
Labels: size/M, release-note-none, approved, lgtm

#46862 planner: add limit control for intersection case of index merge reader
  executor/index_merge_reader.go
  executor/test/indexmergereadtest/BUILD.bazel
  executor/test/indexmergereadtest/index_merge_reader_test.go
  planner/core/casetest/physicalplantest/testdata/plan_suite_in.json
  planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  planner/core/plan_cost_ver1.go
  planner/core/plan_cost_ver2.go
  planner/core/task.go
Labels: release-note, size/XL, ok-to-test, approved, lgtm

#46937 test: fix flaky goleak test by ignoring the backoff function
  tests/realtikvtest/testkit.go
Labels: size/XS, release-note-none, approved, lgtm

#46846 log: revert mistakenly change library logger level to debug
  br/pkg/lightning/log/log.go
Labels: release-note-none, skip-issue-check, approved, lgtm

#46938 br: stop s3 retryer when connection is refused
  br/pkg/storage/s3.go
Labels: size/XS, release-note-none, approved, lgtm

#46939 *: unite stats cache's GET
  executor/analyze.go
  planner/core/BUILD.bazel
  planner/core/logical_plan_builder.go
  statistics/handle/bootstrap.go
  statistics/handle/cache/bench_test.go
  statistics/handle/cache/internal/inner.go
  statistics/handle/cache/internal/lfu/lfu_cache.go
  statistics/handle/cache/internal/lfu/lfu_cache_test.go
  statistics/handle/cache/internal/mapcache/map_cache.go
  statistics/handle/cache/statscache.go
  statistics/handle/cache/statscacheinner.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/handletest/BUILD.bazel
  statistics/handle/handletest/handle_test.go
  statistics/handle/historical_stats_handler.go
  statistics/handle/updatetest/BUILD.bazel
  statistics/handle/updatetest/update_test.go
Labels: size/L, release-note-none, approved, lgtm

#46940 planner: update binding's original_sql when upgrading
  bindinfo/handle.go
  session/bootstrap.go
  session/bootstrap_test.go
Labels: sig/planner, epic/sql-plan-management, size/L, release-note-none, approved, lgtm

#46769 gomod: update pdclient to support backoff mechanism for memberLoop
  DEPS.bzl
  go.mod
  go.sum
Labels: release-note, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46909 ddl: Fix AutoID for Add/Remove partitioning
  ddl/partition.go
  ddl/schema_test.go
  ddl/tests/partition/db_partition_test.go
Labels: size/L, release-note-none, approved, lgtm

#46926 statistics: add pool in the buildBucket4Merging to reuse datum
  statistics/histogram.go
  util/chunk/row.go
Labels: size/S, release-note-none, approved, lgtm

#46764 *: upgrade go 1.21.1
  Dockerfile
  Dockerfile.enterprise
  WORKSPACE
  build/image/base
  tests/globalkilltest/Dockerfile
Labels: size/S, release-note-none, approved, lgtm

#46932 ddl: fix flaky test TestGC
  disttask/framework/dispatcher/dispatcher_manager.go
  disttask/framework/framework_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#46731 *: support collect and async load stats for mv index | tidb-test=pr/2210
  executor/analyze_idx.go
  executor/test/analyzetest/analyze_test.go
  planner/cardinality/row_count_index.go
  planner/core/indexmerge_path_test.go
  planner/core/planbuilder.go
  planner/core/stats.go
  statistics/BUILD.bazel
  statistics/analyze.go
  statistics/handle/handle.go
  statistics/histogram.go
  statistics/histogram_test.go
  statistics/table.go
Labels: size/XXL, release-note-none, approved, lgtm

#46890 *: add `SESSION_ALIAS` column in processlist table and expensive query log
  executor/slow_query_sql_test.go
  infoschema/tables.go
  infoschema/test/clustertablestest/cluster_tables_test.go
  infoschema/test/clustertablestest/tables_test.go
  session/session.go
  session/test/variable/variable_test.go
  util/memoryusagealarm/memoryusagealarm_test.go
  util/processinfo.go
  util/util.go
  util/util_test.go
Labels: release-note, size/M, approved, lgtm

#46953 ttl: fix potential go leak for ttl in test
  domain/domain.go
Labels: size/S, release-note-none, approved, lgtm

#46964 owner, util: use `timeutil.Sleep()` instead of `sleepContext`
  owner/BUILD.bazel
  owner/mock.go
  util/timeutil/BUILD.bazel
  util/timeutil/time.go
  util/timeutil/time_test.go
  util/timeutil/time_zone.go
  util/timeutil/time_zone_test.go
Labels: size/XXL, release-note-none, skip-issue-check, approved, lgtm
