Repository pingcap/tidb, pull requests merged in 2023-07, with the labels that each got.

#45090 util: Fix building on Windows
  br/pkg/lightning/backend/local/local_windows.go
  util/rlimit_windows.go
  util/signal/signal_windows.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#45087 ci: Rework integration-test-compile-br
  .github/workflows/integration-test-compile-br.yml
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#45109 tests: fix e2e test `graceshutdown`
  tests/graceshutdown/graceshutdown_test.go
Labels: size/S, release-note-none, approved, lgtm

#45114 session: turn the transaction to pessimistic mode when retrying (#38130)
  session/session.go
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#45110 statistics: enable revive
  build/nogo_config.json
  statistics/builder.go
  statistics/cmsketch.go
  statistics/debugtrace.go
  statistics/estimate.go
  statistics/feedback.go
  statistics/handle/bootstrap.go
  statistics/handle/dump.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/update.go
  statistics/table.go
Labels: size/L, release-note-none, approved, lgtm

#45107 *: fix data race at the mockOwnerOpValue
  owner/manager.go
  owner/mock.go
Labels: size/XS, release-note-none, approved, lgtm

#45041 *: upgrade dependencies
  DEPS.bzl
  go.mod
  go.sum
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#45116 sessionctx: not use meaningless constants
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: release-note-none, skip-issue-check, approved, lgtm

#44581 lightning: duplicate entry should be "conflict error" in tidb backend
  br/pkg/lightning/backend/tidb/BUILD.bazel
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/tests/lightning_config_max_error/run.sh
  br/tests/lightning_config_max_error/tidb-limit-record.toml
  br/tests/lightning_config_max_error/tidb.toml
Labels: size/L, release-note-none, approved, lgtm

#45117 sessionctx: use the defined default variables for "tidb_enable_external_ts_read"
  sessionctx/variable/sysvar.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#45119 planner: check whether values are const in constant propagation
  expression/constant_propagation.go
  planner/core/plan_cache_test.go
Labels: sig/planner, epic/plan-cache, size/S, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#44799 lightning: duplicate resolution support to use DELETE to cleanup clustered table
  br/pkg/lightning/backend/kv/BUILD.bazel
  br/pkg/lightning/backend/kv/kv2sql.go
  br/pkg/lightning/backend/kv/kv2sql_test.go
  br/tests/lightning_duplicate_resolution/run.sh
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#44979 executor: add cache for approximate table count
  executor/BUILD.bazel
  executor/builder.go
  executor/executor.go
  executor/infoschema_reader.go
  executor/internal/pdhelper/BUILD.bazel
  executor/internal/pdhelper/pd.go
  executor/internal/pdhelper/pd_test.go
  executor/internal/util/BUILD.bazel
  executor/internal/util/util.go
  tidb-server/main.go
Labels: size/XL, release-note-none, approved, lgtm

#45105 *: ignore the semicolon at the end of the SQL when generating the SQL digest
  executor/cluster_table_test.go
  extension/event_listener_test.go
  infoschema/test/clustertablestest/tables_test.go
  parser/digester.go
  sessionctx/variable/session_test.go
  util/stmtsummary/v2/tests/table_test.go
Labels: type/enhancement, component/parser, release-note, size/S, ok-to-test, approved, lgtm

#45139 planner, expression: fix TableFullScan caused by extraHandleId not correctly found
  expression/schema.go
  planner/core/issuetest/BUILD.bazel
  planner/core/issuetest/planner_issue_test.go
  planner/core/logical_plans.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45143 txn: Update client-go to fix the issue that GC BatchResolveLcok may miss primary pessimistic locks
  DEPS.bzl
  go.mod
  go.sum
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: release-note, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45130 util/chunk: optimize `(*ListInDisk).GetChunk` and add a fast row container reader
  util/chunk/BUILD.bazel
  util/chunk/disk.go
  util/chunk/disk_test.go
  util/chunk/row_container_reader.go
  util/chunk/row_container_test.go
Labels: size/XL, release-note-none, approved, lgtm

#45148 server: support timestamp with timezone info in parameter
  server/internal/parse/parse.go
  server/internal/parse/parse_test.go
Labels: release-note, size/M, approved, lgtm

#45138 executor: enable revive
  build/nogo_config.json
  executor/aggfuncs/aggfuncs.go
  executor/aggfuncs/builder.go
  executor/aggfuncs/func_avg.go
  executor/aggfuncs/func_bitfuncs.go
  executor/aggfuncs/func_count.go
  executor/aggfuncs/func_count_distinct.go
  executor/aggfuncs/func_cume_dist.go
  executor/aggfuncs/func_first_row.go
  executor/aggfuncs/func_group_concat.go
  executor/aggfuncs/func_json_arrayagg.go
  executor/aggfuncs/func_json_objectagg.go
  executor/aggfuncs/func_lead_lag.go
  executor/aggfuncs/func_max_min.go
  executor/aggfuncs/func_ntile.go
  executor/aggfuncs/func_percent_rank.go
  executor/aggfuncs/func_percentile.go
  executor/aggfuncs/func_rank.go
  executor/aggfuncs/func_stddevpop.go
  executor/aggfuncs/func_stddevsamp.go
  executor/aggfuncs/func_sum.go
  executor/aggfuncs/func_value.go
  executor/aggfuncs/func_varpop.go
  executor/aggfuncs/func_varsamp.go
  executor/aggfuncs/row_number.go
  executor/analyze_fast.go
  executor/asyncloaddata/util.go
  executor/change.go
  executor/importer/kv_encode.go
  executor/importer/precheck.go
Labels: size/XL, release-note-none, approved, lgtm

#45146 server: return empty org_name for resultField
  executor/adapter.go
  parser/ast/ast.go
  server/conn_test.go
  server/driver_tidb.go
  server/tidb_test.go
  session/nontransactional.go
Labels: release-note, size/M, approved, lgtm

#45162 chore: add test lightning_drop_other_tables_halfway to script
  br/tests/run_group.sh
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#45122 lightning: enable pre-deduplication and rename the recording table
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/pkg/lightning/importer/chunk_process.go
  br/tests/lightning_config_max_error/run.sh
  br/tests/lightning_duplicate_detection_new/run.sh
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45127 *: fix data race in ProcessInfo
  executor/test/indexmergereadtest/BUILD.bazel
  executor/test/indexmergereadtest/index_merge_reader_test.go
  session/session.go
  util/processinfo.go
  util/util.go
Labels: type/bug-fix, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45160 planner: fix typo in comment
  planner/core/plan.go
Labels: size/XS, release-note-none, skip-issue-check, require-LGT1, approved, lgtm

#45177 statistic: improve ipv6 for analyze job meta
  executor/analyze.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44973 planner: physical expand support being converted to tipb.Expand2
  executor/internal/mpp/local_mpp_coordinator.go
  executor/internal/util/partition_table.go
  expression/builtin_grouping.go
  expression/expr_to_pb_test.go
  planner/core/logical_plans_test.go
  planner/core/physical_plans.go
  planner/core/plan_to_pb.go
Labels: release-note, size/L, approved, lgtm

#45140 executor: support partition table KeepOrder in UnionScan
  executor/builder.go
  executor/mem_reader.go
  executor/union_scan.go
  executor/union_scan_test.go
Labels: release-note, size/XXL, approved, lgtm

#45163 server: implement spill disk for cursorFetch result
  parser/mysql/errname.go
  server/conn.go
  server/conn_stmt.go
  server/conn_stmt_test.go
  server/driver.go
  server/driver_tidb.go
  sessionctx/sessionstates/session_states_test.go
  util/memory/action.go
  util/memory/tracker.go
Labels: release-note, size/XXL, approved, lgtm

#45192 executor: enable revie for part
  build/nogo_config.json
  executor/analyze.go
  executor/analyze_col.go
  executor/analyze_col_v2.go
Labels: size/S, release-note-none, approved, lgtm

#45051 executor: union scan refactor, optimize the membuffer decoding process
  executor/builder.go
  executor/mem_reader.go
  table/column.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45196 *: upgrade rules_go
  WORKSPACE
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#45210 executor: add CTEProducer that shared by all CTEExec
  executor/builder.go
  executor/cte.go
  executor/cte_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#45214 *: fix cte nil pointer error when got multiple apply
  executor/builder.go
  executor/cte.go
  executor/cte_test.go
  planner/core/integration_test.go
  planner/core/rule_decorrelate.go
Labels: size/L, release-note-none, approved, lgtm

#45165 ttl: Add TTLTimersSyncer to sync TTL meta to timers
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/timer_sync.go
  ttl/ttlworker/timer_sync_test.go
Labels: size/XL, release-note-none, approved, lgtm

#45159 README: add badges and links
  README.md
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#45215 *: avoid use same port
  server/tidb_test.go
Labels: size/XS, release-note-none, approved, lgtm

#45227 session: update sessiontest for improve ci
  session/sessiontest/session_test.go
  session/sessiontest/vars/BUILD.bazel
  session/sessiontest/vars/vars_test.go
Labels: size/M, release-note-none, approved, lgtm

#45209 executor: void create IntHandle when table is commonHandle
  executor/mem_reader.go
  executor/union_scan_test.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#45226 executor: set `mpp_gather_id` for all mpp task meta
  executor/internal/mpp/local_mpp_coordinator.go
  executor/mpp_gather.go
  kv/mpp.go
  planner/core/fragment.go
  store/copr/mpp.go
  store/mockstore/unistore/cophandler/mpp.go
Labels: size/M, release-note-none, approved, lgtm

#45230 planner: simplify StatsCacheWrapper
  statistics/handle/bootstrap.go
  statistics/handle/cache/internal/inner.go
  statistics/handle/cache/internal/lru/lru_cache.go
  statistics/handle/cache/internal/mapcache/map_cache.go
  statistics/handle/cache/statscache.go
  statistics/handle/cache/statscacheinner.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/update.go
Labels: sig/planner, component/statistics, size/L, release-note-none, ok-to-test, approved, lgtm

#45228 server: refact the code structure
  server/BUILD.bazel
  server/conn.go
  server/conn_test.go
  server/internal/handshake/BUILD.bazel
  server/internal/handshake/handshake.go
  server/internal/parse/BUILD.bazel
  server/internal/parse/handshake_test.go
  server/internal/parse/parse.go
  server/internal/util/BUILD.bazel
  server/internal/util/buffered_read_conn.go
  server/packetio.go
  server/packetio_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#45236 lightning: set default value of checksum-via-sql to false
  br/pkg/lightning/config/config.go
Labels: size/XS, release-note-none, approved, lgtm

#45147 import/add-index: fix race and performance regression
  br/pkg/lightning/backend/local/engine.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45238 planner: simplify `StatsCachePointer`
  statistics/handle/cache/BUILD.bazel
  statistics/handle/cache/statscache.go
  statistics/handle/handle.go
Labels: size/M, release-note-none, approved, lgtm

#45012 timer: support manual trigger for timer framework
  timer/BUILD.bazel
  timer/api/BUILD.bazel
  timer/api/client.go
  timer/api/client_test.go
  timer/api/error.go
  timer/api/hook.go
  timer/api/store.go
  timer/api/store_test.go
  timer/api/timer.go
  timer/runtime/BUILD.bazel
  timer/runtime/cache.go
  timer/runtime/cache_test.go
  timer/runtime/runtime.go
  timer/runtime/runtime_test.go
  timer/runtime/worker.go
  timer/runtime/worker_test.go
  timer/store_intergartion_test.go
  timer/tablestore/sql.go
  timer/tablestore/sql_test.go
  timer/tablestore/store.go
Labels: size/XXL, release-note-none, approved, lgtm

#45249 executor: improve performance for test
  executor/test/indexmergereadtest/BUILD.bazel
  executor/test/indexmergereadtest/index_merge_reader_test.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#45250 kazel: enable shard_count for util/chunk
  tools/tazel/util.go
  util/chunk/BUILD.bazel
  util/stmtsummary/BUILD.bazel
  util/stmtsummary/v2/BUILD.bazel
  util/stmtsummary/v2/tests/BUILD.bazel
Labels: size/XS, release-note-none, approved, lgtm

#45093 doc: rfc for configurable kv timeout
  docs/design/2023-06-30-configurable-kv-timeout.md
Labels: component/docs, sig/transaction, size/L, release-note-none, approved, lgtm

#45235 ddl: disable modify column combine auto_increment with default value
  ddl/ddl_api.go
  ddl/modify_column_test.go
Labels: size/S, release-note-none, approved, lgtm

#45120 *: embed failpoint into bazel
  Makefile
  Makefile.common
  WORKSPACE
  WORKSPACE.patchgo
Labels: size/M, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#45248 session: split code
  session/BUILD.bazel
  session/sessiontest/meta/BUILD.bazel
  session/sessiontest/meta/main_test.go
  session/sessiontest/meta/session_test.go
Labels: size/L, release-note-none, approved, lgtm

#45254 planner: simplify `StatsCacheWrapper`
  statistics/handle/bootstrap.go
  statistics/handle/cache/internal/inner.go
  statistics/handle/cache/statscache.go
  statistics/handle/cache/statscacheinner.go
  statistics/handle/handle.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#45247 server: split code for serverutil
  errors.toml
  server/BUILD.bazel
  server/conn.go
  server/err/BUILD.bazel
  server/err/error.go
  server/internal/column/BUILD.bazel
  server/internal/column/column.go
  server/internal/column/column_test.go
  server/server.go
  server/util.go
  server/util_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#45217 planner: fix column pruner will clear handleCols and lead filling _tidb_rowid when datasource's schema length is 0 for a pkIsHandled table
  planner/core/handle_cols.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/rule_column_pruning.go
Labels: release-note, size/S, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45255 cgroup: fixed cpu,cpuacct controller order incompatibility.
  util/cgroup/cgroup.go
  util/cgroup/cgroup_cpu.go
  util/cgroup/cgroup_mock_test.go
Labels: release-note, size/M, ok-to-test, approved, lgtm

#45201 dumpling: fix panic when query result is empty
  dumpling/export/ir_impl.go
  dumpling/tests/basic/run.sh
Labels: size/M, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45240 dumpling: skip query tables when use `--sql`
  dumpling/export/dump.go
  dumpling/tests/no_table_and_db_name/run.sh
Labels: size/S, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45232 server: add more integration/unit tests for cursor fetch
  server/conn_stmt_test.go
  server/mock_conn.go
Labels: size/XL, release-note-none, skip-issue-check, approved, lgtm

#45256 planner: simplify `StatsCacheInner`
  statistics/handle/cache/internal/inner.go
  statistics/handle/cache/internal/lru/lru_cache.go
  statistics/handle/cache/internal/lru/lru_cache_test.go
  statistics/handle/cache/internal/mapcache/map_cache.go
  statistics/handle/cache/statscacheinner.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/update.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#45222 infoschema: Don't truncate versions
  infoschema/tables.go
  infoschema/test/clustertablestest/tables_test.go
Labels: release-note, size/M, ok-to-test, approved, lgtm

#45224 planner: modify the physical proj elimination | tidb-test=pr/2145
  cmd/explaintest/r/cte.result
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_cte.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_easy_stats.result
  cmd/explaintest/r/explain_generate_column_substitute.result
  executor/simpletest/chunk_reuse_test.go
  executor/testdata/executor_suite_out.json
  executor/testdata/point_get_suite_out.json
  planner/core/integration_test.go
  planner/core/issuetest/planner_issue_test.go
  planner/core/rule_eliminate_projection.go
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/expression_rewriter_suite_out.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/ordered_result_mode_suite_out.json
  planner/core/testdata/partition_pruner_out.json
  planner/core/testdata/plan_suite_out.json
  util/ranger/ranger_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#45260 forcetypeassert: ignore testmain.go
  build/nogo_config.json
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#44770 *: label external the request source via sessionvar
  DEPS.bzl
  distsql/request_builder.go
  executor/analyze_col.go
  executor/analyze_idx.go
  executor/checksum.go
  go.mod
  go.sum
  kv/option.go
  session/session.go
  session/sessiontest/BUILD.bazel
  session/sessiontest/session_test.go
  sessionctx/sessionstates/session_states_test.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/copr/BUILD.bazel
  store/copr/coprocessor.go
  store/driver/txn/txn_driver.go
Labels: size/L, release-note-none, approved, lgtm

#45283 deps: tidy pingcap/check deps
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#45270 server: extract resultset package out of server package
  server/BUILD.bazel
  server/conn.go
  server/conn_stmt.go
  server/driver.go
  server/driver_tidb.go
  server/driver_tidb_test.go
  server/internal/column/BUILD.bazel
  server/internal/column/convert.go
  server/internal/resultset/BUILD.bazel
  server/internal/resultset/cursor.go
  server/internal/resultset/resultset.go
  server/tidb_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#45294 planner: remove unnecessary method `StatsCache.FreshMemUsage `
  statistics/handle/bootstrap.go
  statistics/handle/cache/statscacheinner.go
  statistics/handle/handletest/statstest/BUILD.bazel
  statistics/handle/handletest/statstest/stats_test.go
Labels: sig/planner, component/statistics, size/M, release-note-none, approved, lgtm

#45197 lightning: add Conflict section to config and refactor
  br/pkg/lightning/config/BUILD.bazel
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/mydump/loader.go
  br/tests/lightning_black-white-list/config.toml
  br/tests/lightning_black-white-list/data/firstdb-schema-create.sql
  br/tests/lightning_black-white-list/data/firstdb.first-schema.sql
  br/tests/lightning_black-white-list/data/firstdb.first.1.sql
  br/tests/lightning_black-white-list/data/firstdb.first.2.sql
  br/tests/lightning_black-white-list/data/firstdb.second-schema.sql
  br/tests/lightning_black-white-list/data/firstdb.second.1.sql
  br/tests/lightning_black-white-list/data/mysql-schema-create.sql
  br/tests/lightning_black-white-list/data/mysql.testtable-schema.sql
  br/tests/lightning_black-white-list/data/seconddb-schema-create.sql
  br/tests/lightning_black-white-list/data/seconddb.fourth-schema.sql
  br/tests/lightning_black-white-list/data/seconddb.fourth.1.sql
  br/tests/lightning_black-white-list/data/seconddb.third-schema.sql
  br/tests/lightning_black-white-list/data/seconddb.third.1.sql
  br/tests/lightning_black-white-list/even-table-only.toml
  br/tests/lightning_black-white-list/firstdb-only.toml
  br/tests/lightning_black-white-list/run.sh
  br/tests/lightning_local_backend/file.toml
  br/tests/lightning_local_backend/mysql.toml
  br/tests/run_group.sh
  ddl/ingest/config.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#45291 statcache: remove GetByQuery and PutByQuery
  statistics/handle/bootstrap.go
  statistics/handle/cache/internal/inner.go
  statistics/handle/cache/internal/lru/lru_cache.go
  statistics/handle/cache/internal/lru/lru_cache_test.go
  statistics/handle/cache/internal/mapcache/map_cache.go
  statistics/handle/cache/statscacheinner.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/historical_stats_handler.go
  statistics/handle/update.go
Labels: size/L, release-note-none, approved, lgtm

#45304 *: upgrade rules_go 0.41
  WORKSPACE
  WORKSPACE.patchgo
Labels: release-note-none, skip-issue-check, approved, lgtm

#45302 planner: fix bug in `PhysicalTableReader::Clone()`
  planner/core/physical_plans.go
  planner/core/planbuilder_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45234 ddl: move preSplitAndScatter to ddl worker
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/partition.go
  ddl/split_region.go
  ddl/table.go
Labels: size/M, release-note-none, approved, lgtm

#45313 *: upgrade go1.20.6
  WORKSPACE
Labels: size/XS, release-note-none, approved, lgtm

#45319 executor: fix privilege issue on table `information_schema.tiflash_replica`
  executor/infoschema_reader.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45158 planner, executor: fix the logic for inline projection of executors
  executor/benchmark_test.go
  executor/builder.go
  planner/cascades/implementation_rules.go
  planner/core/pb_to_plan.go
  planner/core/resolve_indices.go
Labels: size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45277 statcache: add bench for LRU/mapCache
  statistics/handle/cache/BUILD.bazel
  statistics/handle/cache/bench_test.go
  statistics/handle/cache/internal/BUILD.bazel
  statistics/handle/cache/internal/bench_test.go
  statistics/handle/cache/internal/lru/BUILD.bazel
  statistics/handle/cache/internal/lru/lru_cache.go
  statistics/handle/cache/internal/lru/lru_cache_test.go
  statistics/handle/cache/internal/mapcache/map_cache.go
  statistics/handle/cache/internal/testutil/BUILD.bazel
  statistics/handle/cache/internal/testutil/testutil.go
Labels: size/XL, release-note-none, approved, lgtm

#45334 server: move packetIO into internal
  errors.toml
  server/BUILD.bazel
  server/conn.go
  server/conn_stmt_test.go
  server/conn_test.go
  server/driver_tidb.go
  server/err/error.go
  server/internal/BUILD.bazel
  server/internal/packetio.go
  server/internal/packetio_test.go
  server/internal/resultset/resultset.go
  server/internal/testutil/BUILD.bazel
  server/internal/testutil/testutil.go
  server/mock_conn.go
  server/optimize_trace_test.go
  server/server.go
  server/tidb_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#45336 *: use go 1.19.11
  WORKSPACE
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#45284 executor: fix query hang in IndexMerge Executor when it's killed
  executor/index_merge_reader.go
Labels: size/S, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45330 lightning: retry for leader change error when GetTS (#44478) (#44856)
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/checksum.go
  br/pkg/lightning/backend/local/checksum_test.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#45296 session: add check resource group hint existence
  session/resourcegrouptest/resource_group_test.go
  session/session.go
Labels: size/S, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45286 ttl: refactor TTL to seperate creating new job and take timeout job codes
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/job_manager_integration_test.go
  ttl/ttlworker/job_manager_test.go
Labels: size/XL, release-note-none, approved, lgtm

#45348 *: remove TSOToRoughTime function
  executor/show.go
  tidb-binlog/node/BUILD.bazel
  tidb-binlog/node/node.go
  util/BUILD.bazel
  util/tso.go
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#45340 *: update tikv/client-go and fix stale read metrics in grafana
  DEPS.bzl
  go.mod
  go.sum
  metrics/grafana/tidb.json
Labels: size/XL, cherry-pick-approved, release-note-none, ok-to-test, approved, lgtm

#45078 planner/core: fix error information when enter incorrect partition name
  planner/core/preprocess.go
Labels: size/XS, release-note-none, approved, lgtm

#45346 executor: fix query hang in IndexMerge Executor when it's killed (#45284)
  executor/index_merge_reader.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#45351 ddl: move ddl-ingest log category into a real field
  ddl/backfilling_scheduler.go
  ddl/index.go
  ddl/index_cop.go
  ddl/ingest/backend.go
  ddl/ingest/backend_mgr.go
  ddl/ingest/config.go
  ddl/ingest/disk_root.go
  ddl/ingest/engine.go
  ddl/ingest/engine_mgr.go
  ddl/ingest/env.go
  ddl/ingest/message.go
  ddl/scheduler.go
  util/logutil/log.go
Labels: size/L, release-note-none, approved, lgtm

#45129 timer: add sys table `mysql.tidb_timers` to store all timers in tidb
  executor/infoschema_cluster_table_test.go
  server/testdata/optimizer_suite_out.json
  session/BUILD.bazel
  session/bootstrap.go
  session/bootstrap_test.go
  timer/tablestore/sql.go
Labels: release-note, size/M, approved, lgtm

#45349 lightning: fix CI and deprecate max-error.conflict
  Makefile
  br/pkg/lightning/backend/tidb/tidb_test.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/errormanager/BUILD.bazel
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/pkg/lightning/importer/chunk_process.go
  br/tests/lightning_config_max_error/err_config.toml
  br/tests/lightning_config_max_error/normal_config.toml
  br/tests/lightning_config_max_error/run.sh
  br/tests/lightning_config_max_error/tidb-limit-record.toml
  br/tests/lightning_config_max_error/tidb.toml
  br/tests/lightning_duplicate_detection_new/local-ignore.toml
  br/tests/lightning_duplicate_detection_new/local-limit-error-records.toml
  br/tests/lightning_duplicate_detection_new/local-replace.toml
  ddl/ingest/config.go
  server/tidb_library_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#45241 lightning: fix lightning failed to log encoding error
  br/pkg/lightning/backend/kv/BUILD.bazel
  br/pkg/lightning/backend/kv/base.go
  br/pkg/lightning/backend/kv/base_test.go
Labels: release-note, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45363 planner: fix incorrect `flen` for the `to_base64` function
  expression/builtin_string.go
  planner/core/plan_cache_test.go
Labels: sig/planner, size/S, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45369 lightning:set default value of checksum-via-sql to false
  br/pkg/lightning/config/config.go
  br/tests/lightning_add_index/config1.toml
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45355 expression: Add NotNullFlag in WrapWithCast*
  expression/builtin_cast.go
  expression/expr_to_pb_test.go
  expression/typeinfer_test.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#45376 *: upgrade dependency
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#45131 copr: make cop request timeout a config parameter
  DEPS.bzl
  br/pkg/gluetidb/glue.go
  config/config_test.go
  go.mod
  go.sum
  store/copr/coprocessor.go
Labels: size/S, release-note-none, approved, lgtm

#45381 executor: enable revive for executor/concurrent_map.go
  build/nogo_config.json
Labels: size/XS, release-note-none, approved, lgtm

#45170 domain: fix a bug when reloading take a long time in domain.Init
  domain/domain.go
Labels: type/bug-fix, size/S, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45399 coprocessor: fix the evict metrics for copr cache
  store/copr/coprocessor.go
  store/copr/coprocessor_cache.go
Labels: release-note, size/XS, approved, lgtm

#45396 ut: support test.short for ut
  executor/test/unstabletest/BUILD.bazel
  executor/test/unstabletest/memory_test.go
  executor/test/unstabletest/unstable_test.go
  tools/check/ut.go
  util/skip/BUILD.bazel
  util/skip/skip.go
Labels: size/M, release-note-none, approved, lgtm

#45374 dumpling: fix dumpling ignore file writer close error
  dumpling/export/ir_impl.go
  dumpling/export/metadata.go
  dumpling/export/writer.go
  dumpling/export/writer_test.go
  dumpling/export/writer_util.go
  dumpling/tests/basic/run.sh
Labels: size/L, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45393 owner: fix that get owner opValue before set this value when the etcdClient is nil
  owner/BUILD.bazel
  owner/manager_test.go
  owner/mock.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45401 executor: enable revive for executor/a*
  build/nogo_config.json
  executor/adapter.go
  executor/admin.go
  executor/admin_plugins.go
  executor/admin_telemetry.go
Labels: size/M, release-note-none, approved, lgtm

#45269 ttl: implement timer for TTL
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/timer.go
  ttl/ttlworker/timer_sync.go
  ttl/ttlworker/timer_sync_test.go
  ttl/ttlworker/timer_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#45434 linter: add too much test checker
  build/BUILD.bazel
  build/linter/toomanytests/BUILD.bazel
  build/linter/toomanytests/analyze.go
  build/nogo_config.json
Labels: size/M, release-note-none, approved, lgtm

#45449 planner: consider Unspecified length when setting length for unhex
  expression/builtin_string.go
  planner/core/plan_cache_test.go
Labels: size/S, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#39072 bazel: add bazel mirror
  BUILD.bazel
  DEPS.bzl
  Makefile
  Makefile.common
  build/nogo_config.json
  build/patches/io_etcd_go_etcd_api_v3.patch
  cmd/mirror/BUILD.bazel
  cmd/mirror/mirror.go
  cmd/mirror/skylarkutil.go
  go.mod
  go.sum
  parser/BUILD.bazel
Labels: require-LGT3, size/XXL, release-note-none, approved, lgtm

#45447 casetest: create hint test to improve test performance
  planner/core/casetest/BUILD.bazel
  planner/core/casetest/hint/BUILD.bazel
  planner/core/casetest/hint/hint_test.go
  planner/core/casetest/hint/main_test.go
  planner/core/casetest/hint/testdata/integration_suite_in.json
  planner/core/casetest/hint/testdata/integration_suite_out.json
  planner/core/casetest/integration_test.go
  planner/core/casetest/testdata/integration_suite_in.json
  planner/core/casetest/testdata/integration_suite_out.json
Labels: size/XXL, release-note-none, approved, lgtm

#45446 ttl: fix unstable test 'TestTTLTimerHookOnEvent'
  ttl/ttlworker/timer_test.go
Labels: size/XS, release-note-none, approved, lgtm

#45454 linter: enable toomanytests for more package
  build/linter/toomanytests/analyze.go
  build/nogo_config.json
Labels: size/S, release-note-none, approved, lgtm

#45394 lightning: tidb backend will check conflict threshold
  br/pkg/lightning/backend/tidb/BUILD.bazel
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/backend/tidb/tidb_test.go
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/importer/import.go
  br/tests/_utils/generate_certs
  br/tests/_utils/run_lightning
  br/tests/_utils/run_lightning_ctl
  br/tests/lightning_config_max_error/run.sh
  br/tests/lightning_config_max_error/tidb-limit-record.toml
  br/tests/lightning_tidb_duplicate_data/replace.toml
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#45464 lightning: init client-go global cfg
  br/pkg/lightning/importer/BUILD.bazel
  br/pkg/lightning/importer/import.go
  br/pkg/lightning/importer/import_test.go
Labels: release-note, size/M, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45448 *: update client-go for add more log
  .github/licenserc.yml
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#45357 statcache: faster LFU
  statistics/handle/cache/internal/BUILD.bazel
  statistics/handle/cache/internal/bench_test.go
  statistics/handle/cache/internal/lfu/BUILD.bazel
  statistics/handle/cache/internal/lfu/key_set.go
  statistics/handle/cache/internal/lfu/key_set_shard.go
  statistics/handle/cache/internal/lfu/lfu_cache.go
  statistics/handle/cache/internal/lfu/lfu_cache_test.go
  statistics/handle/cache/internal/lru/BUILD.bazel
Labels: require-LGT3, size/XL, release-note-none, ok-to-test, approved, lgtm

#45457 ddl: create temp dir automatically for adding index
  ddl/index.go
  ddl/ingest/disk_root.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  tests/realtikvtest/addindextest/integration_test.go
  util/dbterror/ddl_terror.go
Labels: size/M, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45477 lint: enable toomanytest for more package
  build/nogo_config.json
Labels: size/XS, release-note-none, approved, lgtm

#45479 planner: move `TestPartitionTableExplain` to planner folder
  executor/partition_table_test.go
  planner/core/casetest/partition/BUILD.bazel
  planner/core/casetest/partition/integration_partition_test.go
  planner/core/casetest/partition/testdata/integration_partition_suite_in.json
  planner/core/casetest/partition/testdata/integration_partition_suite_out.json
Labels: size/XL, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#45471 lightning: "error" strategy outputs duplicate error in terminal, log and table
  br/pkg/lightning/backend/tidb/BUILD.bazel
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/backend/tidb/tidb_test.go
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/pkg/lightning/importer/dup_detect.go
  br/pkg/lightning/importer/table_import.go
  br/tests/lightning_config_max_error/run.sh
  br/tests/lightning_config_max_error/tidb-error.toml
  br/tests/lightning_duplicate_detection_new/run.sh
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#45485 planner: add more test cases for plan-cache
  planner/core/logical_plan_builder.go
  planner/core/plan_cache_test.go
Labels: sig/planner, epic/plan-cache, approved, lgtm

#45237 *: upgrade bazel 6.2.1
  build/image/base
  build/image/centos7_jenkins
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#45478 planner: split casetest for pushdown
  .bazelrc
  planner/core/casetest/BUILD.bazel
  planner/core/casetest/integration_test.go
  planner/core/casetest/pushdown/BUILD.bazel
  planner/core/casetest/pushdown/main_test.go
  planner/core/casetest/pushdown/push_down_test.go
  planner/core/casetest/pushdown/testdata/integration_suite_in.json
  planner/core/casetest/pushdown/testdata/integration_suite_out.json
  planner/core/casetest/testdata/integration_suite_in.json
  planner/core/casetest/testdata/integration_suite_out.json
Labels: size/XXL, release-note-none, approved, lgtm

#45026 br: support to write/ready azure blobs with customer provided key
  br/pkg/storage/azblob.go
Labels: size/L, release-note-none, approved, lgtm

#45512 ttl: fix some memory leak in TTL
  session/session.go
  ttl/ttlworker/task_manager.go
  ttl/ttlworker/task_manager_integration_test.go
Labels: release-note, size/M, needs-cherry-pick-release-7.1, approved, lgtm

#45513 executor: make `TestOrderByAndLimit` stable
  executor/partition_table_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45252 planner: support ScalarSubQuery to display them in EXPLAIN
  executor/executor.go
  expression/expression.go
  planner/core/BUILD.bazel
  planner/core/casetest/scalarsubquery/BUILD.bazel
  planner/core/casetest/scalarsubquery/cases_test.go
  planner/core/casetest/scalarsubquery/main_test.go
  planner/core/casetest/scalarsubquery/testdata/plan_suite_in.json
  planner/core/casetest/scalarsubquery/testdata/plan_suite_out.json
  planner/core/common_plans.go
  planner/core/expression_rewriter.go
  planner/core/flat_plan.go
  planner/core/initialize.go
  planner/core/scalar_subq_expression.go
  planner/optimize.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  util/plancodec/id.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#45525 parser: support more join hints on parser
  parser/hintparser.go
  parser/hintparser.y
  parser/misc.go
  parser/parser_test.go
Labels: sig/planner, component/parser, size/XXL, release-note-none, ok-to-test, epic/hint, approved, lgtm

#45405 lightning: fix routes panic for csv data load
  br/pkg/lightning/mydump/loader.go
  br/pkg/lightning/mydump/loader_test.go
  br/tests/lightning_routes_panic/config.toml
  br/tests/lightning_routes_panic/data/test1.dump_test.001.sql
  br/tests/lightning_routes_panic/data/test1.dump_test.002.sql
  br/tests/lightning_routes_panic/data/test1.dump_test.003.sql
  br/tests/lightning_routes_panic/run.sh
  br/tests/run_group.sh
Labels: size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45505 *: update tikv/client-go and fix stale read metrics in grafana
  DEPS.bzl
  go.mod
  go.sum
  metrics/grafana/tidb.json
Labels: size/L, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45528 timer: Add more tests for 'takeSession' and 'runInTxn' in timer table store
  timer/tablestore/BUILD.bazel
  timer/tablestore/sql_test.go
  timer/tablestore/store.go
Labels: size/L, release-note-none, approved, lgtm

#45288 metrics: add grafana panel for follower read
  metrics/grafana/tidb.json
Labels: size/XL, release-note-none, approved, lgtm

#45518 statistics: not always COW to update stats cache
  statistics/handle/bootstrap.go
  statistics/handle/cache/statscacheinner.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/update.go
Labels: size/M, release-note-none, approved, lgtm

#45472 planner: let partition table use PointGet in non-fastPlan | tidb-test=pr/2185
  executor/partition_table_test.go
  planner/core/casetest/partition/testdata/integration_partition_suite_out.json
  planner/core/casetest/partition/testdata/partition_pruner_out.json
  planner/core/casetest/rule/testdata/ordered_result_mode_suite_out.json
  planner/core/cbo_test.go
  planner/core/find_best_task.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#45498 lightning: add parameter to output logs of all packages and enable grpc log
  br/pkg/lightning/log/BUILD.bazel
  br/pkg/lightning/log/log.go
  br/pkg/lightning/log/log_test.go
  util/logutil/log.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45538 planner: support `no_hash_join` hint on optimizer
  planner/core/casetest/rule/BUILD.bazel
  planner/core/casetest/rule/rule_join_reorder_test.go
  planner/core/casetest/rule/testdata/join_reorder_suite_in.json
  planner/core/casetest/rule/testdata/join_reorder_suite_out.json
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/planbuilder.go
Labels: sig/planner, size/XL, release-note-none, epic/hint, approved, lgtm

#45542 linter: enable toomanytests for planner casetest
  build/nogo_config.json
Labels: size/S, release-note-none, approved, lgtm

#42356 partition: fix partitioning pruning includes an impossible partition
  planner/core/integration_partition_test.go
  planner/core/partition_pruner_test.go
  planner/core/partition_pruning_test.go
  planner/core/rule_partition_processor.go
Labels: status/LGT1, size/M, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm

#45556 store: Don't set limit for GetRegionsInfoByRange function
  store/helper/helper.go
Labels: size/XS, release-note-none, approved, lgtm

#45529 planner: refacor code to split base package
  executor/builder.go
  planner/cascades/enforcer_rules.go
  planner/core/BUILD.bazel
  planner/core/common_plans.go
  planner/core/encode.go
  planner/core/exhaust_physical_plans.go
  planner/core/exhaust_physical_plans_test.go
  planner/core/explain.go
  planner/core/find_best_task.go
  planner/core/find_best_task_test.go
  planner/core/fragment.go
  planner/core/hashcode.go
  planner/core/indexmerge_path.go
  planner/core/indexmerge_test.go
  planner/core/initialize.go
  planner/core/internal/base/BUILD.bazel
  planner/core/internal/base/plan.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/logical_plans_test.go
  planner/core/memtable_predicate_extractor.go
  planner/core/optimizer.go
  planner/core/physical_plans.go
  planner/core/plan.go
  planner/core/plan_cost_ver1.go
  planner/core/plan_cost_ver2.go
  planner/core/plan_stats_test.go
  planner/core/plan_to_pb.go
  planner/core/planbuilder.go
  planner/core/point_get_plan.go
  planner/core/rule_aggregation_elimination.go
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_aggregation_skew_rewrite.go
  planner/core/rule_build_key_info.go
  planner/core/rule_column_pruning.go
  planner/core/rule_decorrelate.go
  planner/core/rule_derive_topn_from_window.go
  planner/core/rule_eliminate_projection.go
  planner/core/rule_inject_extra_projection.go
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_dp_test.go
  planner/core/rule_max_min_eliminate.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_push_down.go
  planner/core/rule_predicate_simplification.go
  planner/core/rule_topn_push_down.go
  planner/core/runtime_filter.go
  planner/core/runtime_filter_generator.go
  planner/core/scalar_subq_expression.go
  planner/core/stats.go
  planner/core/task.go
  planner/core/tiflash_selection_late_materialization.go
  planner/core/util.go
  planner/implementation/simple_plans.go
  planner/implementation/sort.go
Labels: size/XXL, release-note-none, approved, lgtm

#45563 *: Fix data race between getting labels and setting labels in config
  server/http_handler.go
  server/http_handler_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45530 *: update tikv/client-go and fix stale read metrics in grafana
  DEPS.bzl
  go.mod
  go.sum
  metrics/grafana/tidb.json
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#45562 planner: support `no_merge_join` hint on optimizer
  planner/core/casetest/rule/BUILD.bazel
  planner/core/casetest/rule/rule_join_reorder_test.go
  planner/core/casetest/rule/testdata/join_reorder_suite_in.json
  planner/core/casetest/rule/testdata/join_reorder_suite_out.json
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/planbuilder.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, epic/hint, approved, lgtm

#45484 cache: add statscache metrics and enable LFU
  domain/domain.go
  planner/core/plan_stats_test.go
  statistics/handle/bootstrap.go
  statistics/handle/cache/BUILD.bazel
  statistics/handle/cache/bench_test.go
  statistics/handle/cache/internal/BUILD.bazel
  statistics/handle/cache/internal/bench_test.go
  statistics/handle/cache/internal/inner.go
  statistics/handle/cache/internal/lfu/BUILD.bazel
  statistics/handle/cache/internal/lfu/lfu_cache.go
  statistics/handle/cache/internal/lru/BUILD.bazel
  statistics/handle/cache/internal/lru/lru_cache.go
  statistics/handle/cache/internal/mapcache/map_cache.go
  statistics/handle/cache/internal/metrics/BUILD.bazel
  statistics/handle/cache/internal/metrics/metrics.go
  statistics/handle/cache/statscache.go
  statistics/handle/cache/statscacheinner.go
  statistics/handle/handle.go
  statistics/handle/handletest/handle_test.go
  statistics/handle/metrics/metrics.go
Labels: size/XL, release-note-none, approved, lgtm

#45469 ttl: ttl use timer framework to trigger jobs
  domain/domain.go
  timer/runtime/runtime.go
  timer/runtime/runtime_test.go
  timer/runtime/worker.go
  ttl/client/command.go
  ttl/client/notification.go
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/job_manager_integration_test.go
  ttl/ttlworker/job_manager_test.go
  ttl/ttlworker/session_test.go
  ttl/ttlworker/task_manager.go
  ttl/ttlworker/task_manager_test.go
  ttl/ttlworker/timer.go
  ttl/ttlworker/timer_sync.go
  ttl/ttlworker/timer_sync_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#45569 server: split ttl handler into new package
  server/BUILD.bazel
  server/handler/BUILD.bazel
  server/handler/ttlhandler/BUILD.bazel
  server/handler/ttlhandler/ttl.go
  server/handler/util.go
  server/http_handler.go
  server/http_status.go
Labels: size/L, release-note-none, approved, lgtm

#45539 Lightning: Update Parameter Name from `tikv-importer.incremental-import` to `tikv-importer.parallel-import`
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/importer/check_info.go
  br/pkg/lightning/importer/check_info_test.go
  br/pkg/lightning/importer/import.go
  br/tests/lightning_incremental/config.toml
Labels: release-note, size/M, approved, lgtm

#45565 planner: clean the one side filters for outer join reorder which is not done in #44409
  planner/core/main_test.go
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_test.go
  planner/core/testdata/join_reorder_suite_in.json
  planner/core/testdata/join_reorder_suite_out.json
Labels: type/bug-fix, sig/planner, release-note, size/L, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45577 bindinfo: split test into new package
  bindinfo/BUILD.bazel
  bindinfo/capture_test.go
  bindinfo/handle_test.go
  bindinfo/internal/BUILD.bazel
  bindinfo/internal/testutil.go
  bindinfo/session_handle_test.go
  bindinfo/tests/BUILD.bazel
  bindinfo/tests/bind_test.go
  bindinfo/tests/main_test.go
  build/nogo_config.json
Labels: size/L, release-note-none, approved, lgtm

#41176 statistics: merge global stats even if some partition stats are missing
  executor/analyze_global_stats.go
  executor/set_test.go
  executor/test/analyzetest/analyze_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/handle/ddl.go
  statistics/handle/handle.go
  statistics/handle/handletest/handle_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#45579 *: Fix data race in TestSetLabelsConcurrentWithGetLabel
  server/http_handler_test.go
Labels: severity/minor, size/XS, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45587 planner: refine `tryToGetIndexJoin`
  planner/core/exhaust_physical_plans.go
  planner/core/planbuilder.go
Labels: sig/planner, size/L, release-note-none, needs-cherry-pick-release-6.5, epic/hint, needs-cherry-pick-release-7.1, approved, lgtm

#45566 disttask: remove the option of running subtasks concurrently
  disttask/framework/framework_rollback_test.go
  disttask/framework/framework_test.go
  disttask/framework/scheduler/register.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  disttask/importinto/scheduler.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45584 *: fix parallel execution "alter index" (cherry-pick #45582 and fixed "alter index" issue)
  ddl/db_change_test.go
  ddl/index.go
Labels: component/test, size/S, cherry-pick-approved, release-note-none, approved, lgtm
