Repository pingcap/tidb, pull requests merged in 2023-02, with the labels that each got.

#40628 lightning: local backend support keyspace
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/duplicate.go
  br/pkg/lightning/backend/local/duplicate_test.go
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/restore/BUILD.bazel
  br/pkg/lightning/restore/restore.go
  br/pkg/lightning/verification/BUILD.bazel
  br/pkg/lightning/verification/checksum.go
  ddl/ingest/backend.go
  ddl/ingest/backend_mgr.go
  ddl/ingest/config.go
  store/driver/tikv_driver.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#40924 README: refine the Forum infomation format in community section
  README.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40919 ttl: don't fetch ttl scan task after it finished
  ttl/cache/task.go
  ttl/ttlworker/task_manager_integration_test.go
  ttl/ttlworker/task_manager_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#40904 executor: Fix tidb crash on index merge reader
  executor/index_merge_reader.go
  executor/index_merge_reader_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40927 util: add InTest to check whether to be in test
  Makefile
  ddl/BUILD.bazel
  ddl/sanity_check.go
  kv/BUILD.bazel
  kv/txn.go
  resourcemanager/util/BUILD.bazel
  resourcemanager/util/shard_pool_map.go
  resourcemanager/util/shard_pool_map_test.go
  server/BUILD.bazel
  server/mock_conn.go
  session/BUILD.bazel
  session/bootstrap.go
  session/session.go
  testkit/BUILD.bazel
  testkit/testkit.go
  tools/check/ut.go
  util/intest/BUILD.bazel
  util/intest/common.go
  util/intest/intest.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40920 *: upgrade mgechev/revive
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#40889 handle: support fallback for dump historical stats
  executor/historical_stats_test.go
  statistics/handle/dump.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40428 admin: support cleanup multi-valued index
  executor/admin.go
  executor/admin_test.go
  table/tables/index.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40729 *: support MockAutoScaler and AWSAutoScaler
  config/BUILD.bazel
  config/config.go
  config/config.toml.example
  executor/tiflashtest/BUILD.bazel
  executor/tiflashtest/tiflash_test.go
  planner/core/fragment.go
  session/session.go
  store/copr/BUILD.bazel
  store/copr/batch_coprocessor.go
  store/copr/batch_coprocessor_test.go
  store/copr/batch_request_sender.go
  store/copr/mpp.go
  tidb-server/BUILD.bazel
  tidb-server/main.go
  util/tiflashcompute/BUILD.bazel
  util/tiflashcompute/topo_fetcher.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#40948 session: fix bad log
  session/bootstrap.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40935 planner: fix dropping non-ScalarFunction when extractCol for memtable
  planner/core/memtable_predicate_extractor.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40951 br: disable foreign key check when br create table
  br/pkg/gluetidb/glue.go
  executor/brie.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40945 planner: rename keep_order hint to order_index hint for mysql compatibility
  parser/ast/dml.go
  parser/ast/misc.go
  parser/ast/misc_test.go
  parser/hintparser.go
  parser/hintparser.y
  parser/misc.go
  parser/parser_test.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none, skip-issue-check, epic/hint

#40949 planner: report the warning when use the hint but the SQL has the binding
  bindinfo/capture_test.go
  planner/core/integration_test.go
  planner/optimize.go
Labels: status/LGT2, sig/planner, status/can-merge, size/S, release-note-none, epic/hint

#40922 metrics: introduce the resource control RU Grafana dashboard
  metrics/grafana/tidb_resource_control.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#40964 executor: Fix tidb crash on index merge reader (#40904)
  executor/index_merge_reader.go
  executor/index_merge_reader_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40132 planner: add MppVersion for mpp task; support data compression in Exchange Operator;
  distsql/distsql.go
  executor/builder.go
  executor/mpp_gather.go
  executor/set_test.go
  executor/tiflashtest/BUILD.bazel
  executor/tiflashtest/tiflash_test.go
  kv/BUILD.bazel
  kv/mpp.go
  kv/version_test.go
  planner/core/explain.go
  planner/core/fragment.go
  planner/core/integration_test.go
  planner/core/physical_plans.go
  planner/core/plan_to_pb.go
  planner/core/task.go
  planner/core/testdata/analyze_suite_out.json
  planner/core/testdata/enforce_mpp_suite_out.json
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/join_reorder_suite_out.json
  planner/core/testdata/plan_suite_out.json
  planner/core/testdata/window_push_down_suite_out.json
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/copr/mpp.go
  store/mockstore/unistore/rpc.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#40532 br: adaption for keyspace feature
  DEPS.bzl
  br/pkg/checksum/executor.go
  br/pkg/conn/BUILD.bazel
  br/pkg/conn/conn.go
  br/pkg/metautil/metafile.go
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/range.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
  br/pkg/task/BUILD.bazel
  br/pkg/task/backup.go
  br/pkg/task/common.go
  br/pkg/task/restore.go
  br/pkg/version/version.go
  tablecodec/BUILD.bazel
  tablecodec/tablecodec.go
  tests/realtikvtest/testkit.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#40894 resourcemange: fix delete more workers than expected
  resourcemanager/pooltask/task_manager.go
  resourcemanager/pooltask/task_manager_scheduler.go
  resourcemanager/util/util.go
  util/gpool/spmc/spmcpool.go
  util/gpool/spmc/spmcpool_test.go
  util/gpool/spmc/worker.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40639 keyspace: gc delete range
  ddl/attributes_sql_test.go
  ddl/main_test.go
  domain/db_test.go
  domain/domain.go
  domain/infosync/info.go
  domain/infosync/info_test.go
  server/stat_test.go
  store/driver/tikv_driver.go
  store/gcworker/gc_worker.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#40973 ddl: add more tests about multi-valued index
  expression/multi_valued_index_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#40975 test: stabilize TestAddIndexMergeConflictWithPessimistic
  ddl/indexmergetest/BUILD.bazel
  ddl/indexmergetest/merge_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40966 *: add UseAutoScaler config to disable AutoScaler
  config/config.go
  config/config.toml.example
  executor/tiflashtest/tiflash_test.go
  session/session.go
  store/copr/batch_coprocessor.go
  store/copr/mpp.go
  tidb-server/main.go
  util/tiflashcompute/topo_fetcher.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40901 *: add memory tracker for mppIterator
  distsql/distsql.go
  executor/builder.go
  executor/mpp_gather.go
  executor/tiflashtest/tiflash_test.go
  kv/mpp.go
  store/copr/mpp.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40989 util: fix memory leak in chunk allocator
  util/chunk/alloc.go
Labels: status/LGT2, release-note, status/can-merge, size/XS, needs-cherry-pick-release-6.5

#38301 ddl, statistics: fix stats meta missing when creating many tables at once
  statistics/handle/update.go
  statistics/handle/update_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40822 statistics: move TableStatsFromStorage out of handle
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/handle_test.go
  statistics/interact_with_storage.go
  statistics/table.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#40504 br: remove totalFlashbackRegions since task completion region already contains all regions
  br/pkg/restore/data.go
  br/pkg/task/restore_data.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/br

#40959 lightning: fix panic when nextKey twice
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/backend/local/localhelper.go
  br/tests/lightning_local_backend/data/cpeng.a-schema.sql
  br/tests/lightning_local_backend/data/cpeng.a.1.sql
  br/tests/lightning_local_backend/data/cpeng.a.2.sql
  br/tests/lightning_local_backend/data/cpeng.a.3.sql
  br/tests/lightning_local_backend/run.sh
  kv/key.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40976 ttl: fix data race in TTL manager and test
  domain/domain.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41023 br: remove totalFlashbackRegions since task completion region already contains all regions
  br/pkg/restore/data.go
  br/pkg/task/restore_data.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40984 session: use `mDDLTableVersion` key to control backfill tables
  meta/meta.go
  session/bootstrap_test.go
  session/session.go
  session/session_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40998 *: cherry-pick 40901
  distsql/distsql.go
  executor/builder.go
  executor/mpp_gather.go
  executor/tiflashtest/tiflash_test.go
  kv/mpp.go
  store/copr/mpp.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41013 planner: not allow the optimizer to use `json_contains(j, '[]')` as access conditions on MVIndex
  planner/core/indexmerge_path.go
  planner/core/indexmerge_path_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none

#41029 ddl/ingest: add mutex to disk root
  ddl/ingest/disk_root.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5

#41020 ttl: avoid endless loop in TTL task schedule
  ttl/cache/task.go
  ttl/ttlworker/job_manager_integration_test.go
  ttl/ttlworker/task_manager.go
  ttl/ttlworker/task_manager_integration_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41016 resourcemanager: fix TaskController.Stop() can't make producer exit in spmcpool
  resourcemanager/pooltask/BUILD.bazel
  resourcemanager/pooltask/task.go
  util/gpool/spmc/option.go
  util/gpool/spmc/spmcpool.go
  util/gpool/spmc/spmcpool_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41027 *: add buildtag for ddltest
  Makefile
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#41031 statistics: use histogram count rather than realtime count to calculate stats healthy
  executor/seqtest/seq_executor_test.go
  statistics/handle/handle_test.go
  statistics/handle/update_test.go
  statistics/integration_test.go
  statistics/table.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#40860 ddl: show more jobs in the tidb_mdl_view
  infoschema/cluster_tables_test.go
  session/bootstrap.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#40902 *: update client-go to latest tidb-6.5 branch
  DEPS.bzl
  go.mod
  go.sum
  kv/interface_mock_test.go
  kv/kv.go
  session/txn.go
  sessionctx/BUILD.bazel
  sessiontxn/BUILD.bazel
  store/driver/txn/txn_driver.go
Labels: status/LGT2, release-note, status/can-merge, size/M, cherry-pick-approved

#41046 *: upgrade golangci-linter
  DEPS.bzl
  go.mod
  go.sum
  planner/funcdep/fd_graph.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, skip-issue-check

#41036 executor: fix IndexMerge handle panic logic
  executor/index_merge_reader.go
  executor/index_merge_reader_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XL, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#41044 ttl: fix TTL will delete unexpected rows when timezone changed
  ttl/client/notification.go
  ttl/session/session.go
  ttl/sqlbuilder/sql.go
  ttl/sqlbuilder/sql_test.go
  ttl/ttlworker/job_manager_integration_test.go
  ttl/ttlworker/scan_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41073 executor: fix IndexMerge handle panic logic
  executor/index_merge_reader.go
  executor/index_merge_reader_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#41003 *: fix the sysvar value may be corrupted after set by subquery
  executor/set.go
  server/tidb_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.5

#40542 ddl, parser: implement the normal flow of distributed processing in DDL reorg phase for adding index
  .bazelrc
  Makefile
  ddl/BUILD.bazel
  ddl/attributes_sql_test.go
  ddl/backfilling.go
  ddl/column.go
  ddl/constant.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/ddl_worker.go
  ddl/ddl_workerpool.go
  ddl/ddl_workerpool_test.go
  ddl/delete_range.go
  ddl/dist_backfilling.go
  ddl/dist_owner.go
  ddl/failtest/fail_db_test.go
  ddl/index.go
  ddl/index_merge_tmp.go
  ddl/indexmergetest/merge_test.go
  ddl/ingest/engine.go
  ddl/job_table.go
  ddl/job_table_test.go
  ddl/main_test.go
  ddl/modify_column_test.go
  ddl/reorg.go
  metrics/metrics.go
  parser/model/BUILD.bazel
  parser/model/ddl.go
  parser/model/ddl_test.go
  sessionctx/variable/featuretag/distributereorg/default.go
  sessionctx/variable/featuretag/distributereorg/non_default.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/integration_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#41074 lightning: fix panic when nextKey twice (#40959)
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/backend/local/localhelper.go
  br/tests/lightning_local_backend/data/cpeng.a-schema.sql
  br/tests/lightning_local_backend/data/cpeng.a.1.sql
  br/tests/lightning_local_backend/data/cpeng.a.2.sql
  br/tests/lightning_local_backend/data/cpeng.a.3.sql
  br/tests/lightning_local_backend/run.sh
  kv/key.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41045 session, metrics: refine the resource control metrics
  ddl/ddl_api.go
  metrics/grafana/tidb_resource_control.json
  metrics/metrics.go
  metrics/session.go
  session/session.go
  sessionctx/variable/session.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40968 meta: fix remove resource group
  meta/meta.go
  meta/meta_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41072 metrics/grafana: add cpu/memory of pd in overview panel
  metrics/grafana/overview.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41076 lightning: precheck should check CDC changefeeed rather than capture
  br/pkg/lightning/restore/precheck_impl.go
  br/pkg/lightning/restore/precheck_impl_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41069 ttl: fix ttl job manager will panic if the status cache doesn't contain table
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/scan.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#40754 sessionctx: fix hidden and user var problems in encoding session states
  session/session.go
  sessionctx/sessionstates/session_states_test.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/session.go
  sessionctx/variable/session_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41077 Revert "planner: skip the plan cache if non-int values are converted into int when optimization"
  expression/builtin_compare.go
  planner/core/expression_rewriter.go
  planner/core/plan_cache_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40768 schema cache: cache schema version by timestamp
  infoschema/cache.go
  infoschema/cache_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, ok-to-test

#41088 executor: fix plan replayer dump for tpcds q97
  domain/plan_replayer_dump.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40825 *: update util/tracing and remove repeated code
  distsql/BUILD.bazel
  distsql/distsql.go
  executor/BUILD.bazel
  executor/adapter.go
  executor/compiler.go
  executor/executor.go
  executor/insert.go
  executor/insert_common.go
  executor/mem_reader.go
  executor/sample.go
  executor/table_reader.go
  executor/union_scan.go
  executor/write.go
  meta/autoid/BUILD.bazel
  meta/autoid/autoid.go
  meta/autoid/autoid_service.go
  server/BUILD.bazel
  server/conn.go
  session/BUILD.bazel
  session/session.go
  sessiontxn/isolation/BUILD.bazel
  sessiontxn/isolation/base.go
  store/copr/BUILD.bazel
  store/copr/coprocessor.go
  store/driver/txn/BUILD.bazel
  store/driver/txn/txn_driver.go
  table/BUILD.bazel
  table/table.go
  table/tables/BUILD.bazel
  table/tables/index.go
  table/tables/tables.go
  tidb-server/main.go
  util/tracing/util.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#40778 telemetry: Log error reason for failure to get SQL Metric
  telemetry/data_feature_usage.go
  telemetry/data_slow_query.go
  telemetry/data_window.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41059 br: add retry for prepare flashback for backup cluster is empty and there are only one region
  br/pkg/restore/data.go
  br/pkg/utils/backoff.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/br, needs-cherry-pick-release-6.5

#41095 resourcemanager: avoid to schedule when no task is in the pool
  resourcemanager/schedule.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41111 *: Update github.com/cloudfoundry/gosigar
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41107 ddl: remove useless error log
  ddl/BUILD.bazel
  ddl/dist_backfilling.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41066 executor: use const varialbe for index merge handleWorkerPanic
  executor/index_merge_reader.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41117 Optimizer: add test cases for predicate simplifications
  planner/core/BUILD.bazel
  planner/core/predicate_simplification_test.go
  planner/core/testdata/plan_suite_in.json
  planner/core/testdata/plan_suite_out.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41119 br: add retry for prepare flashback for backup cluster is empty and there are only one region (#41059)
  br/pkg/restore/data.go
  br/pkg/utils/backoff.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/br

#41120 executor: disable paging for small limit
  distsql/request_builder.go
  distsql/request_builder_test.go
  kv/kv.go
  store/copr/coprocessor.go
  store/copr/coprocessor_test.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.5

#41100 flashback: retry `getStoreGlobalMinSafeTS` during execute flashback
  ddl/cluster.go
  ddl/cluster_test.go
  ddl/tiflashtest/ddl_tiflash_test.go
  executor/recover_test.go
  tests/realtikvtest/flashbacktest/flashback_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5

#41113 metrics: add tidb_rm_pool_concurrency
  .bazelrc
  metrics/metrics.go
  metrics/resourcemanager.go
  util/gpool/spmc/BUILD.bazel
  util/gpool/spmc/spmcpool.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41129 handler: fix duplicated log of unanalyzed table for historical stats
  statistics/handle/historical_stats_handler.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, skip-issue-check

#41124 *: update client-go and pd client
  DEPS.bzl
  go.mod
  go.sum
  store/driver/BUILD.bazel
  store/driver/tikv_driver.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#41092 admin: fix recover expression cause index broken
  executor/admin.go
  executor/admin_test.go
  executor/builder.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41153 statistics/handle: remove unnecessary h.mu.Lock
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, skip-issue-check

#41165 makefile: update dumpling build options
  Makefile.common
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#41162 *: use the latest independent resource group manager client
  DEPS.bzl
  ddl/attributes_sql_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/main_test.go
  ddl/resource_group.go
  ddl/resource_group_test.go
  ddl/schematracker/checker.go
  ddl/schematracker/dm_tracker.go
  domain/db_test.go
  domain/domain.go
  domain/infosync/BUILD.bazel
  domain/infosync/info.go
  domain/infosync/info_test.go
  domain/infosync/resource_group_manager.go
  executor/ddl.go
  executor/infoschema_reader.go
  go.mod
  go.sum
  meta/meta.go
  meta/meta_test.go
  server/stat_test.go
  store/mockstore/unistore/pd.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#41135 store/copr: set upper limit for extra concurrency
  store/copr/coprocessor.go
  store/copr/coprocessor_test.go
  store/copr/store.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.5

#41136 planner: label plans as over-optimized for plan cache after refining cmp-function arguments
  expression/builtin_compare.go
  planner/core/plan_cache_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#40593 planner: when pushing `topN` down below `proj`, check whether `topN.ByItems` contains a column(with ID=0) generated by `proj`
  planner/core/plan_test.go
  planner/core/rule_topn_push_down.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test

#41127 *: update bazel config
  br/pkg/storage/BUILD.bazel
  ddl/failtest/BUILD.bazel
  executor/aggfuncs/BUILD.bazel
  executor/oomtest/BUILD.bazel
  planner/core/BUILD.bazel
  sessiontxn/isolation/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/S, release-note-none, skip-issue-check

#41149 br: fix br ci
  br/tests/lightning_local_backend/run.sh
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#41146 *: fix a timezone data race which may cause wrong row data
  br/pkg/task/backup.go
  ddl/ddl_api.go
  executor/brie.go
  executor/executor_test.go
  executor/inspection_result_test.go
  executor/inspection_summary_test.go
  executor/write.go
  expression/builtin_cast.go
  expression/builtin_cast_vec.go
  expression/builtin_time.go
  expression/builtin_time_vec.go
  expression/helper.go
  expression/helper_test.go
  planner/core/expression_rewriter.go
  server/statistics_handler.go
  server/util_test.go
  sessionctx/variable/varsutil.go
  table/column.go
  types/convert.go
  types/convert_test.go
  types/datum.go
  types/datum_test.go
  types/format_test.go
  types/time.go
  types/time_test.go
  util/codec/codec_test.go
  util/dbutil/common.go
  util/rowcodec/rowcodec_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40950 flashback: make `br backup full` works during `flashback cluster`
  br/pkg/backup/BUILD.bazel
  br/pkg/backup/client.go
  ddl/cluster.go
  ddl/cluster_test.go
  domain/domain.go
  domain/schema_validator.go
  tests/realtikvtest/flashbacktest/BUILD.bazel
  tests/realtikvtest/flashbacktest/flashback_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41083 log-backup: added more robust error handling for log backup advancer
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_cliext.go
  br/pkg/streamhelper/integration_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-release-6.5

#40753 lightning: access aws resource by session token
  br/pkg/storage/parse_test.go
  br/pkg/storage/s3.go
  br/pkg/storage/s3_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#41128 lightning: introduce param to skip CSV header parsing
  br/pkg/lightning/config/config.go
  br/pkg/lightning/mydump/csv_parser.go
  br/pkg/lightning/mydump/csv_parser_test.go
  br/pkg/lightning/mydump/region.go
  br/pkg/lightning/mydump/region_test.go
  br/pkg/lightning/restore/table_restore_test.go
  br/tests/lightning_config_skip_csv_header/data/mytest.testtbl-schema.sql
  br/tests/lightning_config_skip_csv_header/data/mytest.testtbl.csv
  br/tests/lightning_config_skip_csv_header/err_config.toml
  br/tests/lightning_config_skip_csv_header/err_default_config.toml
  br/tests/lightning_config_skip_csv_header/normal_config.toml
  br/tests/lightning_config_skip_csv_header/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/XL

#41167 ddl: forbid tiflash while enabling API v2
  Makefile
  br/pkg/restore/client.go
  ddl/BUILD.bazel
  ddl/attributes_sql_test.go
  ddl/main_test.go
  domain/BUILD.bazel
  domain/db_test.go
  domain/domain.go
  domain/infosync/BUILD.bazel
  domain/infosync/info.go
  domain/infosync/info_test.go
  domain/infosync/tiflash_manager.go
  server/BUILD.bazel
  server/stat_test.go
  statistics/BUILD.bazel
Labels: status/LGT2, release-note, status/can-merge, size/M

#40711 store/copr: enable store batch by default & add extra copr concurrency and batch nums in stats
  distsql/distsql_test.go
  distsql/select_result.go
  executor/adapter.go
  executor/builder.go
  executor/distsql.go
  executor/distsql_test.go
  metrics/telemetry.go
  session/session.go
  sessionctx/variable/tidb_vars.go
  store/copr/copr_test/coprocessor_test.go
  store/copr/coprocessor.go
  telemetry/BUILD.bazel
  telemetry/data.go
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#40906 ReplicaReadMode: introduce new replica_read mode `PreferLeader`.
  kv/option.go
  sessionctx/variable/sysvar.go
  store/driver/options/options.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#41196 txn: Fix the issue that analyze panics when aggressive locking is enabled globally
  session/bootstrap.go
  sessiontxn/isolation/base.go
  sessiontxn/isolation/repeatable_read_test.go
  statistics/handle/handle.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.6

#40871 pitr: prevent from restore point to cluster running log backup
  br/pkg/backup/push.go
  br/pkg/restore/client.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
  br/tests/br_restore_log_task_enable/run.sh
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#41157 lightning: do resolve conflict job when other lightning has local dupes
  br/pkg/lightning/restore/meta_manager.go
  br/pkg/lightning/restore/table_restore.go
  br/tests/lightning_duplicate_resolution_incremental/config1.toml
  br/tests/lightning_duplicate_resolution_incremental/config2.toml
  br/tests/lightning_duplicate_resolution_incremental/data/dup_resolve_detect-schema-create.sql
  br/tests/lightning_duplicate_resolution_incremental/data/dup_resolve_detect.ta-schema.sql
  br/tests/lightning_duplicate_resolution_incremental/data/dup_resolve_detect.ta.0.sql
  br/tests/lightning_duplicate_resolution_incremental/data/dup_resolve_detect.ta.1.sql
  br/tests/lightning_duplicate_resolution_incremental/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/L, component/lightning

#41081 executor: track the memroy usage in HashJoin probe phase
  executor/hash_table.go
  executor/join_test.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/M, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#41181 *: support recover multi-valued index
  executor/admin.go
  executor/admin_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40814 stmtsummary: add persistence implementation
  bindinfo/BUILD.bazel
  bindinfo/handle.go
  config/config.go
  executor/BUILD.bazel
  executor/adapter.go
  executor/builder.go
  executor/infoschema_reader.go
  executor/slow_query.go
  executor/stmtsummary.go
  executor/stmtsummary_test.go
  planner/core/memtable_predicate_extractor.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tidb-server/BUILD.bazel
  tidb-server/main.go
  util/set/string_set.go
  util/stmtsummary/v2/BUILD.bazel
  util/stmtsummary/v2/column.go
  util/stmtsummary/v2/column_test.go
  util/stmtsummary/v2/logger.go
  util/stmtsummary/v2/main_test.go
  util/stmtsummary/v2/reader.go
  util/stmtsummary/v2/reader_test.go
  util/stmtsummary/v2/record.go
  util/stmtsummary/v2/record_test.go
  util/stmtsummary/v2/stmtsummary.go
  util/stmtsummary/v2/stmtsummary_test.go
  util/stmtsummary/v2/tests/BUILD.bazel
  util/stmtsummary/v2/tests/main_test.go
  util/stmtsummary/v2/tests/table_test.go
  util/util.go
  util/util_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#40899 br: Support backup replica read
  br/pkg/backup/client.go
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/tests/br_replica_read/placement_rule_with_learner_template.json
  br/tests/br_replica_read/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/L

#41101 store/copr: add log for buildBatchCopTasksConsistentHash
  store/copr/batch_coprocessor.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41164 lightning: support compression when sending kv pairs to tikv
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/tests/lightning_compress/config.toml
  br/tests/lightning_import_compress/config.toml
  br/tests/lightning_import_compress/config_gz.toml
  br/tests/lightning_import_compress/config_gzip.toml
  br/tests/lightning_import_compress/run.sh
Labels: status/LGT2, release-note, status/can-merge, size/L, component/lightning

#41185 planner: skip plan cache if the plan contains Shuffle operators
  planner/core/plan_cache.go
  planner/core/plan_cache_test.go
Labels: status/LGT2, sig/planner, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#41188 expression: implement least/greatest for string function pushdown
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41212 go.mod: update client-go to the latest version
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41155 ttl: add more metrics for TTL
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/ttl.go
  session/BUILD.bazel
  session/session.go
  session/session_test.go
  sessionctx/variable/session.go
  table/tables/tables.go
  ttl/metrics/metrics.go
  ttl/ttlworker/task_manager.go
  ttl/ttlworker/task_manager_integration_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#41038 metrics: Add metrics and telemetry for aggressive locking
  executor/adapter.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/session.go
  metrics/telemetry.go
  sessionctx/variable/session.go
  telemetry/data.go
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-6.6

#41103 planner: adjust estimated row count when pushing `Limit` and keep order for partitioned table
  planner/core/integration_partition_test.go
  planner/core/plan.go
  planner/core/task.go
  planner/core/testdata/integration_partition_suite_in.json
  planner/core/testdata/integration_partition_suite_out.json
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#41132 planner: fix can't find proper physical plan caused by virtual column
  executor/tiflashtest/tiflash_test.go
  planner/core/exhaust_physical_plans.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.5

#41140 planner: fix space requirement when binding from history
  infoschema/cluster_tables_test.go
  util/stmtsummary/statement_summary.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#41227 ddl: initialize the mock session in advanced
  ddl/backfilling.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.5

#41231 ddl: fix data race on job.SetWarnings
  ddl/reorg.go
  parser/model/ddl.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41242 *: remove limit
  Makefile
  sessiontxn/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/S, release-note-none, skip-issue-check

#41151 session: fix processInfo time when using driver to prepare and execute query
  session/session.go
Labels: status/LGT2, type/bug-fix, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.5

#40977 dumpling: fix cannot dump data bug when dumpling fails to check has tikv
  dumpling/export/BUILD.bazel
  dumpling/export/dump.go
  dumpling/export/dump_test.go
  dumpling/export/sql.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#41236 lightning: fix panic when user cancel
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/lightning.go
  br/pkg/lightning/restore/table_restore.go
  br/tests/lightning_checkpoint_chunks/run.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41240 util/gpool/spmc: add a sleep to a simple `for`
  util/gpool/spmc/spmcpool.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.6

#41221 planner: fix calculating TiFlash stream count
  planner/core/optimizer.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#40749 ddl: check the key existence on original index
  ddl/index.go
  ddl/index_merge_tmp.go
  ddl/indexmergetest/BUILD.bazel
  ddl/indexmergetest/merge_test.go
  executor/insert.go
  executor/replace.go
  table/tables/index.go
  table/tables/mutation_checker.go
  table/tables/mutation_checker_test.go
  tablecodec/tablecodec.go
  tablecodec/tablecodec_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XXL, needs-cherry-pick-release-6.5

#41192 types: use `mathutil.Max/mathutil.Min` instead of `myMax/myMin`
  types/helper.go
  types/mydecimal.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#41247 bazel: set --test_keep_going false
  Makefile
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#41201 ddl: Add telementry for distributed reorg tasks.
  ddl/dist_owner.go
  metrics/telemetry.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41270 ddl: Improve ErrTooLongKey message
  ddl/index.go
  ddl/serial_test.go
  errno/errname.go
  errors.toml
  parser/mysql/errname.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#41217 ddl: fix owner get panic info with dist-reorg
  ddl/ddl.go
  ddl/ddl_test.go
  ddl/ddl_worker_test.go
  ddl/job_table.go
  ddl/reorg.go
  ttl/ttlworker/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.6

#41226 planner: recover table/schema only needs create and drop privilege
  executor/recover_test.go
  planner/core/planbuilder.go
  sessiontxn/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#41093 ddl: improve backfill more general
  ddl/backfilling.go
  ddl/constant.go
  ddl/ddl.go
  ddl/ddl_worker_test.go
  ddl/dist_backfilling.go
  ddl/dist_owner.go
  ddl/index.go
  ddl/job_table.go
  ddl/job_table_test.go
  meta/meta.go
  parser/model/ddl.go
  resourcemanager/schedule.go
  session/bootstrap_test.go
  session/session.go
  session/session_test.go
  telemetry/BUILD.bazel
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, affects-6.6, needs-cherry-pick-release-6.6

#41265 executor: fix unreasonable CPU time in HashJoin probe phash
  executor/hash_table.go
Labels: status/LGT2, type/bug-fix, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.6

#41278 ttl: optimize bazel for TTL codes
  ttl/cache/BUILD.bazel
  ttl/client/BUILD.bazel
  ttl/metrics/BUILD.bazel
  ttl/session/BUILD.bazel
  ttl/sqlbuilder/BUILD.bazel
  ttl/ttlworker/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41021 expression: return upper bound for enum
  expression/builtin_compare_test.go
  types/convert.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#41012 lightning: revert db timeout changes for analyze
  br/pkg/lightning/common/util.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/config/const.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41096 *: REORGANIZE PARTITION (#38535)
  ddl/BUILD.bazel
  ddl/backfilling.go
  ddl/column.go
  ddl/column_modify_test.go
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/db_table_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/delete_range.go
  ddl/index.go
  ddl/index_modify_test.go
  ddl/partition.go
  ddl/reorg.go
  ddl/reorg_partition_test.go
  ddl/sanity_check.go
  ddl/split_region.go
  ddl/tiflash_replica_test.go
  domain/domain.go
  executor/adapter.go
  executor/builder.go
  infoschema/builder.go
  infoschema/perfschema/tables.go
  infoschema/tables.go
  metrics/ddl.go
  metrics/telemetry.go
  parser/model/model.go
  planner/core/point_get_plan.go
  planner/core/rule_partition_processor.go
  session/bootstrap.go
  session/session.go
  statistics/handle/ddl.go
  store/gcworker/gc_worker.go
  table/table.go
  table/tables/partition.go
  table/tables/partition_test.go
  table/tables/tables.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#41295 br: fix backup ci
  br/pkg/backup/client.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-6.6

#41301 *: reduce the allocation of error constructing in `DecodeTableID`
  tablecodec/BUILD.bazel
  tablecodec/tablecodec.go
  tablecodec/tablecodec_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#41254 util: fix dropped error
  util/codec/codec.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check, ok-to-test

#41206 metric: seperate the internal and external transaction metrics
  executor/simple.go
  metrics/grafana/tidb.json
  metrics/session.go
  session/session.go
  session/tidb.go
  store/driver/txn/txn_driver.go
Labels: type/enhancement, status/LGT2, component/metrics, sig/transaction, status/can-merge, size/L, release-note-none

#41056 planner: fix a bug when pushing streamAgg down
  planner/core/find_best_task.go
  planner/core/plan_test.go
  planner/core/task.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test

#41209 Optimizer: derive TopN from filter on row number
  expression/util.go
  planner/core/BUILD.bazel
  planner/core/logical_plan_builder.go
  planner/core/main_test.go
  planner/core/optimizer.go
  planner/core/plan.go
  planner/core/rule_derive_topn_from_window.go
  planner/core/rule_derive_topn_from_window_test.go
  planner/core/testdata/derive_topn_from_window_in.json
  planner/core/testdata/derive_topn_from_window_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#41289 domain: fix data race in the ttlJobManager
  domain/BUILD.bazel
  domain/domain.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41287 stmtsummary: fix data race in test
  util/stmtsummary/v2/stmtsummary.go
  util/stmtsummary/v2/stmtsummary_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41292 ddl: return panic when to get tiflash sync progress failed in test
  ddl/ddl_tiflash_api.go
  ddl/tiflashtest/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41285 infoschema: fix is.partitions.partition_expression for range columns
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#41319 sysvar: introduce variable tidb_enable_inl_join_inner_multi_pattern
  executor/index_advise_test.go
  planner/core/exhaust_physical_plans.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#41320 executore: fix logic error in HashJoin probe
  executor/hash_table.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#41321 infoschema: fix unstable test TestSelectClusterTable
  infoschema/cluster_tables_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41305 log-backup: added cache for sst_importer client
  br/pkg/restore/import.go
Labels: status/LGT2, release-note, status/can-merge, size/XS, needs-cherry-pick-release-6.5

#41334 stmtsummary: fix panic in stmts test
  util/stmtsummary/v2/tests/table_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41339 *: fix goleak in the test
  config/main_test.go
  telemetry/cte_test/cte_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#41261 planner: fix tiflash cannot find generated column
  expression/integration_test.go
  parser/mysql/type.go
  planner/core/find_best_task.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#41340 server, execute: set text for execute command
  server/conn_stmt.go
  server/conn_test.go
Labels: status/LGT2, type/bug-fix, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#41322 br: increase the sleep time in the `waitForSend` function
  br/pkg/restore/batcher_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, ok-to-test

#41347 cgroup: improve test to find cgroup compatibility issues
  util/cgroup/cgroup_cpu.go
  util/cgroup/cgroup_cpu_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#41298 ddl: fix error when setting `tidb_enable_ddl`
  ddl/db_integration_test.go
  ddl/ddl.go
  errno/errname.go
  errors.toml
  sessionctx/variable/sysvar.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#41352 go.mod: update pd client in 6.6
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none, ok-to-test

#40909 lighting/parser: align NULL and ESCAPED BY with LOAD DATA
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/mydump/BUILD.bazel
  br/pkg/lightning/mydump/csv_parser.go
  br/pkg/lightning/mydump/csv_parser_test.go
  br/pkg/lightning/mydump/parser.go
  br/pkg/lightning/mydump/parser.rl
  br/pkg/lightning/mydump/parser_generated.go
  br/pkg/lightning/mydump/region_test.go
  br/pkg/lightning/restore/check_info_test.go
  br/pkg/lightning/restore/table_restore_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#41353 keyspace: add keyspace util func and ut
  keyspace/BUILD.bazel
  keyspace/keyspace.go
  keyspace/keyspace_test.go
  tidb-server/BUILD.bazel
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none
