Repository pingcap/tidb, pull requests merged in 2023-11, with the labels that each got.

#48135 disttask/ddl: fail task for panic
  pkg/ddl/backfilling_operators.go
  tests/realtikvtest/addindextest1/disttask_test.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47876 pkg/executor/importer: add `OWNERS` file
  OWNERS_ALIASES
  pkg/executor/importer/OWNERS
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47966 statistics: add better comments for the out of range algorithm
  pkg/statistics/histogram.go
Labels: sig/planner, component/statistics, size/XS, release-note-none, skip-issue-check, approved, lgtm

#47856 dumpling: add `OWNERS` file
  OWNERS_ALIASES
  dumpling/OWNERS
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48098 tests: move IT in `executor` to `tests/integrationtest` (PART 8)
  pkg/executor/BUILD.bazel
  pkg/executor/sample_test.go
  pkg/executor/simple_test.go
  pkg/executor/statement_context_test.go
  pkg/executor/test/aggregate/BUILD.bazel
  pkg/executor/test/aggregate/aggregate_test.go
  pkg/executor/test/aggregate/main_test.go
  pkg/executor/test/aggregate/testdata/agg_suite_in.json
  pkg/executor/test/aggregate/testdata/agg_suite_out.json
  pkg/executor/test/jointest/hashjoin/BUILD.bazel
  pkg/executor/test/jointest/hashjoin/hash_join_test.go
  pkg/executor/test/showtest/BUILD.bazel
  pkg/executor/test/showtest/show_test.go
  pkg/executor/test/simpletest/BUILD.bazel
  pkg/executor/test/simpletest/simple_test.go
  pkg/executor/update_test.go
  pkg/executor/window_test.go
  tests/integrationtest/r/ddl/db_partition.result
  tests/integrationtest/r/executor/aggregate.result
  tests/integrationtest/r/executor/jointest/hash_join.result
  tests/integrationtest/r/executor/jointest/join.result
  tests/integrationtest/r/executor/sample.result
  tests/integrationtest/r/executor/show.result
  tests/integrationtest/r/executor/simple.result
  tests/integrationtest/r/executor/statement_context.result
  tests/integrationtest/r/executor/update.result
  tests/integrationtest/r/executor/window.result
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/ddl/db_partition.test
  tests/integrationtest/t/executor/aggregate.test
  tests/integrationtest/t/executor/jointest/hash_join.test
  tests/integrationtest/t/executor/jointest/join.test
  tests/integrationtest/t/executor/sample.test
  tests/integrationtest/t/executor/show.test
  tests/integrationtest/t/executor/simple.test
  tests/integrationtest/t/executor/statement_context.test
  tests/integrationtest/t/executor/update.test
  tests/integrationtest/t/executor/window.test
  tests/integrationtest/t/privilege/privileges.test
Labels: size/XXL, release-note-none, approved, lgtm

#47216 planner: fix the issue where TiDB generates multiple plandigests for 'IN (...)'.
  pkg/expression/explain.go
  pkg/expression/expression.go
  pkg/expression/util_test.go
  pkg/planner/core/casetest/BUILD.bazel
  pkg/planner/core/casetest/plan_test.go
  pkg/planner/core/explain.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/sysvar_test.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#47860 pkg/ddl: add `OWNERS` file
  OWNERS_ALIASES
  pkg/ddl/OWNERS
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47867 pkg/infoschema: add `OWNERS` file
  OWNERS_ALIASES
  pkg/infoschema/OWNERS
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47869 pkg/meta: add `OWNERS` file
  OWNERS_ALIASES
  pkg/meta/OWNERS
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48132 *: unify the use of PD API URL constants
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/common/security_test.go
  br/pkg/lightning/importer/BUILD.bazel
  br/pkg/lightning/importer/check_info.go
  br/pkg/lightning/importer/get_pre_info.go
  br/pkg/lightning/importer/table_import_test.go
  br/pkg/lightning/tikv/BUILD.bazel
  br/pkg/lightning/tikv/tikv.go
  br/pkg/lightning/tikv/tikv_test.go
  br/pkg/pdutil/BUILD.bazel
  br/pkg/pdutil/pd.go
  br/pkg/pdutil/pd_serial_test.go
  br/pkg/pdutil/utils.go
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/client.go
  pkg/domain/infosync/tiflash_manager.go
  pkg/executor/infoschema_cluster_table_test.go
  pkg/infoschema/perfschema/BUILD.bazel
  pkg/infoschema/perfschema/tables.go
  pkg/infoschema/perfschema/tables_test.go
  pkg/server/handler/tikvhandler/tikv_handler.go
  pkg/store/helper/helper.go
  pkg/util/pdapi/const.go
Labels: size/XL, release-note-none, approved, lgtm

#48183 statistics: fix the wrong comments
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/util/interfaces.go
Labels: sig/planner, component/statistics, size/XS, release-note-none, skip-issue-check, approved, lgtm

#47871 pkg/owner: add `OWNERS` file
  OWNERS_ALIASES
  pkg/owner/OWNERS
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47873 pkg/resourcemanager: add `OWNERS` file
  OWNERS_ALIASES
  pkg/resourcemanager/OWNERS
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47874 pkg/table,pkg/tablecodec: add `OWNERS` files
  OWNERS_ALIASES
  pkg/table/OWNERS
  pkg/tablecodec/OWNERS
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47891 planner: fixing wrong result after applying predicate push down for CTEs
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/optimizer.go
  pkg/planner/core/recheck_cte.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/optimize.go
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: release-note, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#47868 pkg/lock: add `OWNERS` file
  OWNERS_ALIASES
  pkg/lock/OWNERS
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48163 s3: fix s3 concurrent uploader will overwrite error
  br/pkg/storage/ks3.go
  br/pkg/storage/s3.go
  br/pkg/storage/s3_test.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48173 importinto: fix import compressed server file
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/import.go
  pkg/executor/importer/import_test.go
  tests/realtikvtest/importintotest/BUILD.bazel
  tests/realtikvtest/importintotest/from_server_test.go
  tests/realtikvtest/importintotest3/BUILD.bazel
  tests/realtikvtest/importintotest3/from_server_test.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48185 local backend: fix worker err overriden by job generation err
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/backend/local/localhelper_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#47865 pkg/tidb-binlog: add `OWNERS` file
  OWNERS_ALIASES
  pkg/tidb-binlog/OWNERS
Labels: size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48073 external: merge overlapping files concurrently
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/merge.go
  br/pkg/lightning/backend/external/writer_test.go
  pkg/ddl/backfilling_merge_sort.go
  pkg/disttask/importinto/scheduler.go
  tests/realtikvtest/addindextest2/BUILD.bazel
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48202 planner, sessionctx: fix typo
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#48210 pdutil/backend: enlarge max retry time and fix nested retriable error
  br/pkg/lightning/common/retry.go
  br/pkg/lightning/common/retry_test.go
  br/pkg/pdutil/pd.go
Labels: size/S, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48234 planner: speed up the slow test TestPartitionTableRandomIndexMerge
  pkg/executor/test/indexmergereadtest/BUILD.bazel
  pkg/executor/test/indexmergereadtest/index_merge_reader_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48179 tests: move IT in `executor` to `tests/integrationtest` (PART 9)
  pkg/executor/stale_txn_test.go
  pkg/executor/test/admintest/BUILD.bazel
  pkg/executor/test/admintest/admin_test.go
  pkg/executor/test/analyzetest/BUILD.bazel
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/executor/test/autoidtest/BUILD.bazel
  pkg/executor/test/autoidtest/autoid_test.go
  pkg/executor/test/seqtest/BUILD.bazel
  pkg/executor/test/seqtest/seq_executor_test.go
  tests/integrationtest/r/executor/adapter.result
  tests/integrationtest/r/executor/admin.result
  tests/integrationtest/r/executor/analyze.result
  tests/integrationtest/r/executor/autoid.result
  tests/integrationtest/r/executor/charset.result
  tests/integrationtest/r/executor/jointest/join.result
  tests/integrationtest/r/executor/set.result
  tests/integrationtest/r/executor/show.result
  tests/integrationtest/r/executor/stale_txn.result
  tests/integrationtest/r/planner/core/tests/prepare/issue.result
  tests/integrationtest/run-tests.sh
  tests/integrationtest/t/executor/adapter.test
  tests/integrationtest/t/executor/admin.test
  tests/integrationtest/t/executor/analyze.test
  tests/integrationtest/t/executor/autoid.test
  tests/integrationtest/t/executor/charset.test
  tests/integrationtest/t/executor/jointest/join.test
  tests/integrationtest/t/executor/set.test
  tests/integrationtest/t/executor/show.test
  tests/integrationtest/t/executor/stale_txn.test
  tests/integrationtest/t/planner/core/tests/prepare/issue.test
Labels: size/XXL, release-note-none, approved, lgtm

#48242 br: fix filter spells in `OWNERS` file
  br/OWNERS
Labels: size/XS, release-note-none, approved, lgtm

#48232 external: make sure read after switchConcurrentMode will see EOF
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/iter_test.go
  pkg/ddl/backfilling_merge_sort.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47576 br: use merge-schedule-limit to pause merge
  br/pkg/pdutil/pd.go
  br/tests/br_other/run.sh
Labels: size/S, release-note-none, skip-issue-check, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48222 *: upgrade rules_go and tools
  DEPS.bzl
  WORKSPACE
  go.mod
  go.sum
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#48125 domain: use the KV timeout read feature to mitigate the slow meta region issue
  pkg/domain/domain.go
Labels: type/enhancement, size/XS, release-note-none, ok-to-test, approved, lgtm

#48184 ddl, table: improve the efficiency of adding index
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/external/engine_test.go
  br/pkg/lightning/backend/external/iter.go
  br/pkg/lightning/backend/external/writer.go
  br/pkg/lightning/backend/kv/kv2sql.go
  br/pkg/lightning/backend/local/local.go
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_read_index.go
  pkg/ddl/bench_test.go
  pkg/ddl/export_test.go
  pkg/ddl/index.go
  pkg/ddl/index_cop.go
  pkg/ddl/index_cop_test.go
  pkg/executor/admin.go
  pkg/executor/batch_checker.go
  pkg/executor/executor.go
  pkg/store/mockstore/unistore/tikv/mvcc.go
  pkg/table/index.go
  pkg/table/tables/index.go
  pkg/table/tables/mutation_checker_test.go
  pkg/tablecodec/tablecodec.go
  pkg/util/codec/codec.go
  pkg/util/rowcodec/bench_test.go
  pkg/util/rowcodec/encoder.go
Labels: size/XL, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47495 server: Fix compression protocol for larger packets | tidb-test=pr/2227
  pkg/server/internal/BUILD.bazel
  pkg/server/internal/packetio.go
  pkg/server/internal/packetio_test.go
Labels: release-note, size/XL, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48249 *: fix TestSupportedSuffixForServerDisk when in RBE
  pkg/executor/importer/import_test.go
Labels: size/XS, release-note-none, approved, lgtm

#47428 executor: improve parallel hash aggregation
  pkg/executor/aggregate/agg_hash_base_worker.go
  pkg/executor/aggregate/agg_hash_executor.go
  pkg/executor/aggregate/agg_hash_final_worker.go
  pkg/executor/aggregate/agg_hash_partial_worker.go
  pkg/executor/aggregate/agg_util.go
  pkg/executor/test/aggregate/BUILD.bazel
  pkg/executor/test/aggregate/aggregate_test.go
Labels: release-note, size/XL, ok-to-test, approved, lgtm

#48169 importinto: calculate subtask count for global sort
  pkg/disttask/framework/planner/plan.go
  pkg/disttask/importinto/dispatcher.go
  pkg/disttask/importinto/planner.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/import.go
  pkg/executor/importer/table_import.go
  pkg/executor/importer/table_import_test.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48251 ddl: make TestHalfwayCancelOperations faster
  pkg/ddl/tests/fail/fail_db_test.go
Labels: component/test, size/XS, release-note-none, approved, lgtm

#48254 parser: avoid using too new syntax features
  DEPS.bzl
  go.mod
  go.sum
  pkg/parser/charset/BUILD.bazel
  pkg/parser/charset/charset.go
  pkg/parser/go.mod
  pkg/parser/go.sum
  pkg/parser/goyacc/BUILD.bazel
  pkg/parser/goyacc/main.go
  pkg/parser/model/model.go
Labels: size/M, release-note-none, approved, lgtm

#48186 planner: fix the issue that the optimizer terminates the optimization process for `DataSource` too early
  pkg/planner/core/find_best_task.go
  pkg/planner/core/integration_test.go
  pkg/planner/util/fixcontrol/get.go
Labels: sig/planner, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#47637 executor: reuse goroutine in the analyze
  pkg/executor/BUILD.bazel
  pkg/executor/analyze.go
  pkg/executor/analyze_col.go
  pkg/executor/analyze_col_v2.go
  pkg/executor/analyze_utils.go
  pkg/executor/builder.go
  pkg/util/BUILD.bazel
  pkg/util/topsql/BUILD.bazel
  pkg/util/topsql/reporter/BUILD.bazel
  pkg/util/topsql/stmtstats/BUILD.bazel
  pkg/util/wait_group_wrapper.go
  tools/tazel/util.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48270 config: update `packet-Protocol::Handshake` config url
  pkg/config/config.toml.example
Labels: size/XS, release-note-none, approved, lgtm

#48274 test: fix leak DNS goroutine in test
  br/pkg/lightning/common/util_test.go
Labels: size/XS, release-note-none, approved, lgtm

#48239 domain: make log information clearer in domain.Init
  pkg/domain/domain.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#48271 ddl: add import failed test for adding index
  br/pkg/lightning/backend/local/region_job.go
  pkg/ddl/backfilling_scheduler.go
  pkg/ddl/ingest/engine.go
  pkg/ddl/ingest/engine_mgr.go
  tests/realtikvtest/addindextest4/ingest_test.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48264 executor: fix hang for analyze table when exceed tidb_mem_quota_analyze
  pkg/executor/analyze.go
  pkg/executor/analyze_utils.go
  pkg/executor/builder.go
  pkg/executor/test/analyzetest/memorycontrol/BUILD.bazel
  pkg/executor/test/analyzetest/memorycontrol/memory_control_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48263 tests: move IT in `executor` to `tests/integrationtest` (PART 10)
  pkg/executor/set_test.go
  pkg/executor/test/ddl/BUILD.bazel
  pkg/executor/test/ddl/ddl_test.go
  pkg/executor/test/issuetest/BUILD.bazel
  pkg/executor/test/issuetest/executor_issue_test.go
  pkg/executor/test/jointest/BUILD.bazel
  pkg/executor/test/jointest/join_test.go
  pkg/executor/test/writetest/BUILD.bazel
  pkg/executor/test/writetest/write_test.go
  tests/integrationtest/r/executor/ddl.result
  tests/integrationtest/r/executor/issues.result
  tests/integrationtest/r/executor/jointest/join.result
  tests/integrationtest/r/executor/set.result
  tests/integrationtest/r/executor/write.result
  tests/integrationtest/t/executor/ddl.test
  tests/integrationtest/t/executor/issues.test
  tests/integrationtest/t/executor/jointest/join.test
  tests/integrationtest/t/executor/set.test
  tests/integrationtest/t/executor/write.test
Labels: do-not-merge/hold, size/XXL, release-note-none, ok-to-test, approved, lgtm

#48300 planner: fix typo in comment
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/util.go
Labels: size/XS, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#48290 metrics: distinguish events of server level and connection level
  pkg/metrics/grafana/tidb.json
  pkg/metrics/server.go
  pkg/server/server.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#48252 *: update linter
  DEPS.bzl
  Makefile
  br/pkg/restore/client.go
  br/pkg/restore/db.go
  cmd/ddltest/random_test.go
  go.mod
  go.sum
  pkg/ddl/ddl_worker.go
  pkg/ddl/partition.go
  pkg/executor/adapter.go
  pkg/executor/builder.go
  pkg/executor/compiler.go
  pkg/executor/explain.go
  pkg/executor/explain_unit_test.go
  pkg/expression/bench_test.go
  pkg/expression/builtin_arithmetic.go
  pkg/expression/builtin_math.go
  pkg/kv/txn.go
  pkg/parser/misc.go
  pkg/parser/mysql/charset.go
  pkg/parser/mysql/locale_format.go
  pkg/planner/core/plan_cache_test.go
  pkg/privilege/privileges/tidb_auth_token_test.go
  pkg/server/conn.go
  pkg/server/internal/packetio.go
  pkg/session/session.go
  pkg/session/txn.go
  pkg/store/driver/txn/union_iter.go
  pkg/tidb-binlog/node/registry.go
  pkg/types/convert.go
  pkg/types/datum.go
  pkg/types/time.go
  pkg/util/collate/collate.go
  pkg/util/keydecoder/keydecoder.go
  pkg/util/selection/selection.go
  pkg/util/stmtsummary/evicted.go
  pkg/util/stmtsummary/statement_summary.go
Labels: size/XXL, release-note-none, approved, lgtm

#48312 pdutil: fix retry reusing body reader
  br/pkg/pdutil/pd.go
  br/pkg/pdutil/pd_serial_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#47863 ddl/ingest: fix ingest failure due to memory used up
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/env.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48311 executor: better comments
  pkg/executor/compiler.go
  pkg/planner/core/plan_cache.go
  pkg/planner/optimize.go
  pkg/sessiontxn/interface.go
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#48326 executor: add recover handler for handleResultsError
  pkg/executor/analyze.go
  pkg/executor/test/analyzetest/BUILD.bazel
  pkg/executor/test/analyzetest/analyze_test.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48284 infoschema: refine info cache logic to reduce the impact of DDL on information schema cache
  pkg/infoschema/cache.go
  pkg/infoschema/test/cachetest/BUILD.bazel
  pkg/infoschema/test/cachetest/cache_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#48201 metrics: rename label name of packet IO
  pkg/server/internal/packetio.go
  pkg/server/metrics/metrics.go
Labels: size/S, release-note-none, approved, lgtm

#48282 domain: add resolve lock logic for mvcc get key loading schema diff
  domain/domain.go
  store/helper/helper.go
Labels: type/bug-fix, release-note, sig/transaction, sig/sql-infra, size/M, approved, lgtm

#47819 domain/metrics: add a metric for lease expired time (#47730)
  domain/schema_validator.go
  metrics/domain.go
  metrics/grafana/tidb.json
  metrics/metrics.go
Labels: size/L, release-note-none, approved, lgtm

#48335 *: share etcd client from domain for autoid allocator #46647
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/common/common.go
  br/pkg/lightning/common/common_test.go
  br/pkg/lightning/importer/BUILD.bazel
  br/pkg/lightning/importer/import.go
  br/pkg/lightning/importer/import_test.go
  br/pkg/lightning/importer/meta_manager.go
  br/pkg/lightning/importer/meta_manager_test.go
  br/pkg/lightning/importer/table_import.go
  br/pkg/lightning/importer/table_import_test.go
  br/pkg/restore/db_test.go
  ddl/column.go
  ddl/ddl_api.go
  ddl/disttask_flow.go
  ddl/foreign_key_test.go
  ddl/index.go
  ddl/job_table.go
  ddl/partition.go
  ddl/placement_policy_ddl_test.go
  ddl/scheduler.go
  ddl/table.go
  ddl/table_test.go
  domain/domain.go
  executor/executor_test.go
  executor/importer/BUILD.bazel
  executor/importer/table_import.go
  infoschema/BUILD.bazel
  infoschema/builder.go
  infoschema/infoschema_test.go
  meta/autoid/BUILD.bazel
  meta/autoid/autoid.go
  meta/autoid/autoid_test.go
  meta/autoid/bench_test.go
  planner/core/preprocess.go
Labels: size/XL, release-note-none, approved, lgtm

#47550 planner: eliminate useless scalar subqueries in some scenarios of aggregate queries
  pkg/executor/test/executor/executor_test.go
  pkg/planner/cascades/optimize.go
  pkg/planner/core/casetest/physicalplantest/physical_plan_test.go
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_in.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/casetest/testdata/integration_suite_out.json
  pkg/planner/core/plan.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_max_min_eliminate.go
  pkg/planner/core/testdata/plan_suite_unexported_out.json
  pkg/planner/util/fixcontrol/get.go
  tests/integrationtest/r/planner/core/casetest/integration.result
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#48325 tests: move IT in executor to tests/integrationtest (PART 11)
  pkg/executor/test/executor/executor_test.go
  pkg/executor/test/indexmergereadtest/BUILD.bazel
  pkg/executor/test/indexmergereadtest/index_merge_reader_test.go
  pkg/executor/test/passwordtest/BUILD.bazel
  pkg/executor/test/passwordtest/password_management_test.go
  pkg/executor/test/seqtest/BUILD.bazel
  pkg/executor/test/seqtest/prepared_test.go
  tests/integrationtest/r/black_list.result
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/r/executor/index_merge_reader.result
  tests/integrationtest/r/executor/password_management.result
  tests/integrationtest/r/executor/prepared.result
  tests/integrationtest/t/black_list.test
  tests/integrationtest/t/executor/executor.test
  tests/integrationtest/t/executor/index_merge_reader.test
  tests/integrationtest/t/executor/password_management.test
  tests/integrationtest/t/executor/prepared.test
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#48293 infoschema: refine info cache logic to reduce the impact of DDL on information schema cache
  infoschema/cache.go
  infoschema/cache_test.go
Labels: size/L, release-note-none, approved, lgtm

#48344 util/cgroup: fix InContainer for cgroup v2
  pkg/util/cgroup/cgroup_cpu_linux.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48172 resource_control: add duration buffer for calibrate time window
  pkg/executor/internal/calibrateresource/calibrate_resource.go
  pkg/executor/internal/calibrateresource/calibrate_resource_test.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#46626 executor: return query watch id
  pkg/domain/runaway.go
  pkg/executor/internal/querywatch/query_watch.go
  pkg/executor/internal/querywatch/query_watch_test.go
  pkg/planner/core/planbuilder.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#48343 disttask: correct the usage of context
  pkg/disttask/framework/scheduler/manager.go
  pkg/disttask/framework/scheduler/scheduler.go
  tests/realtikvtest/addindextest1/BUILD.bazel
  tests/realtikvtest/addindextest1/disttask_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#48348 disttask: fix split region batch panic
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling_dispatcher.go
  pkg/ddl/backfilling_dispatcher_test.go
  pkg/ddl/export_test.go
  pkg/executor/executor.go
  tests/realtikvtest/addindextest2/global_sort_test.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48351 executor: put sort files into one folder
  pkg/executor/BUILD.bazel
  pkg/executor/benchmark_test.go
  pkg/executor/builder.go
  pkg/executor/executor.go
  pkg/executor/executor_pkg_test.go
  pkg/executor/executor_required_rows_test.go
  pkg/executor/sortexec/BUILD.bazel
  pkg/executor/sortexec/sort.go
  pkg/executor/sortexec/sort_test.go
  pkg/executor/test/executor/executor_test.go
Labels: size/L, release-note-none, approved, lgtm

#48358 executor: fix panic when to enable tidb_mem_quota_analyze
  pkg/executor/executor.go
  pkg/executor/test/analyzetest/memorycontrol/BUILD.bazel
  pkg/executor/test/analyzetest/memorycontrol/memory_control_test.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48009 br: public the parameter --ignore-stats
  br/pkg/backup/schema.go
  br/pkg/task/backup.go
  br/tests/br_stats/run.sh
  br/tests/br_stats/workload
  br/tests/run_group.sh
  pkg/domain/domain.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#46471 br: retry to scatter the regions if status is timeout or cancel
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/split.go
  br/pkg/restore/split_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48371 pkg: support the TSO format for asof expression
  pkg/executor/recover_test.go
  pkg/sessiontxn/staleread/util.go
Labels: release-note, size/M, ok-to-test, approved, lgtm

#48141 resource_control: fix burst patch
  pkg/ddl/tests/resourcegroup/resource_group_test.go
  pkg/parser/model/model.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#48154 metrics: remove fixed width in some legends
  pkg/metrics/grafana/overview.json
  pkg/metrics/grafana/performance_overview.json
  pkg/metrics/grafana/tidb.json
Labels: size/S, release-note-none, approved, lgtm

#47633 ddl: fix create and alter check constraints problems
  pkg/ddl/constraint.go
  pkg/ddl/rollingback.go
  tests/integrationtest/r/ddl/constraint.result
  tests/integrationtest/t/ddl/constraint.test
Labels: size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48385 *: upgrade 1.20.11
  WORKSPACE
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#48341 merge-sort: add context to errgroup, alloc mem by concurrency and refine logs
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/merge.go
  br/pkg/lightning/backend/external/merge_test.go
  br/pkg/lightning/backend/external/util.go
  pkg/disttask/framework/scheduler/manager.go
  pkg/disttask/framework/scheduler/scheduler.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48355 lightning: add timeout for "write" RPC
  br/pkg/lightning/backend/local/region_job.go
  br/pkg/lightning/common/retry.go
  br/pkg/lightning/common/retry_test.go
Labels: size/S, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48366 disttask: fix wrong plan when filterByRole
  pkg/ddl/backfilling_dispatcher.go
  pkg/ddl/backfilling_dispatcher_test.go
  pkg/disttask/framework/dispatcher/dispatcher.go
  pkg/disttask/framework/dispatcher/dispatcher_test.go
  pkg/disttask/framework/dispatcher/interface.go
  pkg/disttask/framework/framework_dynamic_dispatch_test.go
  pkg/disttask/framework/framework_err_handling_test.go
  pkg/disttask/framework/framework_ha_test.go
  pkg/disttask/framework/framework_rollback_test.go
  pkg/disttask/framework/framework_test.go
  pkg/disttask/importinto/dispatcher.go
  pkg/disttask/importinto/dispatcher_test.go
  pkg/disttask/importinto/dispatcher_testkit_test.go
Labels: release-note, size/L, approved, lgtm, needs-cherry-pick-release-7.5

#48393 session_variable: change TiDBIsolationReadEngines and TiDBEnforceMPPExecution from global to session
  pkg/sessionctx/variable/sysvar.go
Labels: size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48400 *: fix platform dependent utils charsToString
  pkg/util/sys/linux/BUILD.bazel
  pkg/util/sys/linux/sys_linux.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#48402 executor: fix `TestSortSpillDisk` in ut
  pkg/executor/cte_test.go
  pkg/executor/executor_pkg_test.go
  pkg/executor/sortexec/sort_test.go
Labels: size/S, release-note-none, approved, lgtm

#48330 domain: add resolve lock logic for mvcc get key loading schema diff
  pkg/domain/domain.go
  pkg/store/helper/helper.go
Labels: type/bug-fix, release-note, size/M, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48339 disttask: fix cancel from grpc mark subtasks as failed
  pkg/disttask/framework/scheduler/BUILD.bazel
  pkg/disttask/framework/scheduler/manager.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_test.go
  tests/realtikvtest/addindextest3/BUILD.bazel
  tests/realtikvtest/addindextest4/BUILD.bazel
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48349 expression: Add json_array push down support for tiflash
  pkg/expression/expr_to_pb_test.go
  pkg/expression/expression.go
Labels: size/XS, release-note-none, approved, lgtm

#48361 statistics: add new DDL event for stats handler
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/event.go
Labels: sig/planner, component/statistics, size/L, release-note-none, ok-to-test, approved, lgtm

#48032 expression: fix the return type of `coalesce` when arg type is `DATE`
  pkg/expression/builtin_compare.go
  pkg/expression/builtin_compare_test.go
  pkg/expression/builtin_control.go
  pkg/expression/expr_to_pb_test.go
  pkg/expression/typeinfer_test.go
Labels: release-note, size/L, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48305 dumpling: force sort for table sample | tidb-test=2d8288cf58aec9d381d09da70b18fd27855ed597
  dumpling/export/dump.go
Labels: size/XS, release-note-none, component/dumpling, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48188 planner, CTE: Fix default inline CTE which contains agg or window function and refactor inline CTE strategy | tidb-test=pr/2239
  pkg/planner/core/casetest/flatplan/testdata/flat_plan_suite_out.json
  pkg/planner/core/casetest/hint/testdata/integration_suite_out.json
  pkg/planner/core/casetest/physicalplantest/physical_plan_test.go
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_in.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/casetest/planstats/plan_stats_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/preprocess.go
  tests/integrationtest/r/cte.result
  tests/integrationtest/r/explain_cte.result
  tests/integrationtest/t/cte.test
  tests/integrationtest/t/explain_cte.test
Labels: size/XL, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48025 executor/brie: use the default value from flags
  br/pkg/task/BUILD.bazel
  br/pkg/task/backup.go
  br/pkg/task/common.go
  br/pkg/task/common_test.go
  br/pkg/task/restore.go
  pkg/executor/brie.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#48365 executor: fix hang when the analyze worker unexpectedly exits
  pkg/executor/analyze.go
  pkg/executor/test/analyzetest/BUILD.bazel
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/executor/test/analyzetest/panictest/BUILD.bazel
  pkg/executor/test/analyzetest/panictest/main_test.go
  pkg/executor/test/analyzetest/panictest/panic_test.go
Labels: size/L, release-note-none, approved, lgtm

#48413 planner: fix the issue that plan cache may return wrong result when comparing datetime column with `unix_timestamp`
  pkg/expression/builtin_compare.go
  pkg/expression/util.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/plan_cache_test.go
Labels: size/M, release-note-none, approved, lgtm

#48315 planner/core: keep sort operator when ordered by tablesample
  pkg/planner/core/find_best_task.go
  tests/integrationtest/r/executor/sample.result
  tests/integrationtest/t/executor/sample.test
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48373 *: upgrade go1.21.4
  WORKSPACE
Labels: size/XS, release-note-none, approved, lgtm

#48277 *: update ks3 SDK and add some workaround for ks3 SDK
  DEPS.bzl
  br/pkg/storage/ks3.go
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48083 ddl: do not switch to import mode during adding index
  pkg/ddl/ddl.go
  pkg/ddl/ingest/backend_mgr.go
  pkg/ddl/ingest/config.go
  pkg/ddl/ingest/env.go
  pkg/ddl/util/util.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48363 planner: add rand test for cnf/dnf index merge case
  pkg/planner/core/indexmerge_path_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#48412 session: fix select for update statement can't get stmt-count-limit error
  pkg/server/internal/testserverclient/BUILD.bazel
  pkg/server/internal/testserverclient/server_client.go
  pkg/server/tests/tidb_test.go
  pkg/session/session.go
  pkg/session/test/txn/txn_test.go
  pkg/session/tidb.go
Labels: release-note, size/L, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#47810 domain: improve information log information
  pkg/domain/domain.go
Labels: size/S, release-note-none, approved, lgtm

#48340 copr: fix copr cache panic when `tidb_enable_collect_execution_info` is off
  pkg/executor/distsql_test.go
  pkg/store/copr/coprocessor.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48156 *: make tidb_replica_read work with set_var hint
  executor/executor_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
Labels: size/M, release-note-none, approved, lgtm

#48414 statistics: Refactor code to improve readability
  pkg/statistics/handle/autoanalyze/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/lockstats/lock_stats.go
  pkg/statistics/handle/lockstats/unlock_stats.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/interfaces.go
Labels: sig/planner, component/statistics, size/L, release-note-none, skip-issue-check, approved, lgtm

#48447 server,session: make sure ResultSet.Close() errors return to the client
  pkg/server/conn.go
  pkg/session/session.go
Labels: size/S, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48237 parse: fix the type of date/time parameters
  pkg/param/BUILD.bazel
  pkg/param/binary_params.go
  pkg/server/BUILD.bazel
  pkg/server/conn_stmt.go
  pkg/server/conn_stmt_params.go
  pkg/server/conn_stmt_params_test.go
  pkg/server/extension.go
  pkg/server/internal/parse/BUILD.bazel
  pkg/server/internal/parse/parse.go
  pkg/server/internal/parse/parse_test.go
  pkg/session/BUILD.bazel
  pkg/session/session.go
Labels: size/XXL, release-note-none, approved, lgtm

#48430 statistics: avoid oom when to gc large stats_history
  pkg/executor/historical_stats_test.go
  pkg/statistics/handle/storage/gc.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48477 variable: disable tidb_read_staleness for SET_VAR hint
  pkg/sessionctx/variable/setvar_affect.go
  tests/integrationtest/r/sessionctx/setvar.result
  tests/integrationtest/t/sessionctx/setvar.test
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48479 util: add recover wrapper with error group
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/engine.go
  pkg/util/BUILD.bazel
  pkg/util/wait_group_wrapper.go
  pkg/util/wait_group_wrapper_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#48497 pkg: support the TSO format for asof expression (#48371)
  executor/recover_test.go
  sessiontxn/staleread/util.go
Labels: size/M, release-note-none, approved, lgtm

#48292 metrics: add server status count
  pkg/metrics/grafana/tidb.json
Labels: size/XXL, release-note-none, approved, lgtm

#48503 *: upgrade bazel_gazelle
  WORKSPACE
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#48520 handle: use logutil to unify the log category
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/statistics/BUILD.bazel
  pkg/statistics/builder.go
  pkg/statistics/handle/BUILD.bazel
  pkg/statistics/handle/autoanalyze/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/cache/BUILD.bazel
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/globalstats/BUILD.bazel
  pkg/statistics/handle/globalstats/global_stats_async.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/lockstats/BUILD.bazel
  pkg/statistics/handle/lockstats/lock_stats.go
  pkg/statistics/handle/lockstats/unlock_stats.go
  pkg/statistics/handle/logutil/BUILD.bazel
  pkg/statistics/handle/logutil/logutil.go
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/storage/save.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/interfaces.go
Labels: size/L, release-note-none, skip-issue-check, approved, lgtm

#48506 ebs br: control the snapshots batch size for fsr enable/disable
  br/pkg/aws/ebs.go
  br/pkg/task/restore_ebs_meta.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48133 executor: fix goroutine leak for EvalSubqueryFirstRow
  pkg/executor/adapter.go
  pkg/executor/admin.go
  pkg/executor/brie_test.go
  pkg/executor/builder.go
  pkg/executor/coprocessor.go
  pkg/executor/cte.go
  pkg/executor/delete.go
  pkg/executor/executor.go
  pkg/executor/explain.go
  pkg/executor/index_lookup_hash_join.go
  pkg/executor/index_lookup_join.go
  pkg/executor/index_lookup_merge_join.go
  pkg/executor/index_merge_reader.go
  pkg/executor/insert.go
  pkg/executor/internal/exec/BUILD.bazel
  pkg/executor/internal/exec/executor.go
  pkg/executor/join.go
  pkg/executor/parallel_apply.go
  pkg/executor/replace.go
  pkg/executor/shuffle.go
  pkg/executor/sortexec/sort.go
  pkg/executor/test/issuetest/BUILD.bazel
  pkg/executor/test/issuetest/executor_issue_test.go
  pkg/executor/update.go
Labels: size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48529 br: add more retryable error for br_import
  br/pkg/utils/backoff.go
  br/pkg/utils/retry.go
  br/tests/br_full/run.sh
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48539 parser: fix some deadlinks
  pkg/parser/README.md
Labels: size/XS, release-note-none, approved, lgtm

#48540 planner: Improve the DoOptimize function names to minimize unnecessary confusion
  pkg/planner/core/optimizer.go
  pkg/planner/core/stats.go
Labels: sig/planner, component/statistics, size/S, release-note-none, skip-issue-check, approved, lgtm

#48422 external/test: compare the performance of external writer
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/bench_test.go
Labels: size/L, release-note-none, skip-issue-check, approved, lgtm

#48553 br: add more retryable error for br_import (#48529)
  br/pkg/utils/backoff.go
  br/pkg/utils/retry.go
  br/tests/br_full/run.sh
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#48560 external/test: compare the performance of merge iter
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/bench_test.go
Labels: size/L, release-note-none, skip-issue-check, approved, lgtm

#48569 executor: put `SortExec` and `TopNExec` into different files
  pkg/executor/sortexec/BUILD.bazel
  pkg/executor/sortexec/sort.go
  pkg/executor/sortexec/topn.go
Labels: size/XL, release-note-none, approved, lgtm

#48579 util/intest: provide `intest.AssertNotNil` and `intest.AssertNoError`
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/types/context.go
  pkg/util/intest/BUILD.bazel
  pkg/util/intest/assert.go
  pkg/util/intest/assert_test.go
  pkg/util/intest/common.go
Labels: size/L, release-note-none, approved, lgtm

#48564 pkg/param: add correct fsp for duration
  pkg/param/binary_params.go
  pkg/server/conn_stmt_params_test.go
Labels: release-note, size/XS, approved, lgtm

#48575 *: upgrade and adapt to the new PD client
  DEPS.bzl
  go.mod
  go.sum
  pkg/domain/infosync/resource_manager_client.go
  pkg/executor/internal/calibrateresource/BUILD.bazel
  pkg/executor/internal/calibrateresource/calibrate_resource_test.go
Labels: size/M, release-note-none, approved, lgtm

#48409 expression: use parameter ctx to do evaluate instead of the inner one for all builtinFuncs
  pkg/executor/aggfuncs/builder.go
  pkg/expression/BUILD.bazel
  pkg/expression/builtin.go
  pkg/expression/builtin_arithmetic.go
  pkg/expression/builtin_arithmetic_vec.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_cast_bench_test.go
  pkg/expression/builtin_cast_test.go
  pkg/expression/builtin_cast_vec.go
  pkg/expression/builtin_compare.go
  pkg/expression/builtin_compare_vec.go
  pkg/expression/builtin_compare_vec_generated.go
  pkg/expression/builtin_control.go
  pkg/expression/builtin_control_vec_generated.go
  pkg/expression/builtin_convert_charset.go
  pkg/expression/builtin_encryption.go
  pkg/expression/builtin_encryption_vec.go
  pkg/expression/builtin_func_param.go
  pkg/expression/builtin_grouping.go
  pkg/expression/builtin_ilike.go
  pkg/expression/builtin_ilike_vec.go
  pkg/expression/builtin_info.go
  pkg/expression/builtin_info_vec.go
  pkg/expression/builtin_json.go
  pkg/expression/builtin_json_vec.go
  pkg/expression/builtin_like.go
  pkg/expression/builtin_like_vec.go
  pkg/expression/builtin_math.go
  pkg/expression/builtin_math_vec.go
  pkg/expression/builtin_miscellaneous.go
  pkg/expression/builtin_miscellaneous_vec.go
  pkg/expression/builtin_op.go
  pkg/expression/builtin_op_vec.go
  pkg/expression/builtin_other.go
  pkg/expression/builtin_other_vec.go
  pkg/expression/builtin_other_vec_generated.go
  pkg/expression/builtin_regexp.go
  pkg/expression/builtin_string.go
  pkg/expression/builtin_string_test.go
  pkg/expression/builtin_string_vec.go
  pkg/expression/builtin_string_vec_generated.go
  pkg/expression/builtin_test.go
  pkg/expression/builtin_time.go
  pkg/expression/builtin_time_vec.go
  pkg/expression/builtin_time_vec_generated.go
  pkg/expression/builtin_vectorized_test.go
  pkg/expression/constant_fold.go
  pkg/expression/distsql_builtin.go
  pkg/expression/expression.go
  pkg/expression/extension.go
  pkg/expression/generator/compare_vec.go
  pkg/expression/generator/control_vec.go
  pkg/expression/generator/other_vec.go
  pkg/expression/generator/string_vec.go
  pkg/expression/generator/time_vec.go
  pkg/expression/scalar_function.go
  pkg/expression/util_test.go
  pkg/planner/core/expression_rewriter.go
Labels: size/XXL, release-note-none, approved, lgtm

#48594 table: fix the iterator of multi-valued index
  pkg/table/index.go
  pkg/table/tables/index.go
  tests/realtikvtest/addindextest4/ingest_test.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48581 CI: adjust the codecov statuses to make it not affect the PR or branch commit status
  .codecov.yml
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#48276 *: integrate PD HTTP client to the store helper
  DEPS.bzl
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/client.go
  dumpling/export/BUILD.bazel
  dumpling/export/sql.go
  go.mod
  go.sum
  pkg/ddl/BUILD.bazel
  pkg/ddl/ddl_tiflash_api.go
  pkg/domain/infosync/BUILD.bazel
  pkg/domain/infosync/info.go
  pkg/domain/infosync/tiflash_manager.go
  pkg/executor/BUILD.bazel
  pkg/executor/infoschema_cluster_table_test.go
  pkg/executor/infoschema_reader.go
  pkg/executor/memtable_reader.go
  pkg/executor/show_placement.go
  pkg/executor/show_placement_labels_test.go
  pkg/executor/split.go
  pkg/executor/tikv_regions_peers_table_test.go
  pkg/infoschema/test/clustertablestest/BUILD.bazel
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
  pkg/server/handler/tests/BUILD.bazel
  pkg/server/handler/tests/http_handler_test.go
  pkg/server/handler/tikvhandler/tikv_handler.go
  pkg/server/internal/testserverclient/server_client.go
  pkg/store/driver/BUILD.bazel
  pkg/store/driver/tikv_driver.go
  pkg/store/helper/BUILD.bazel
  pkg/store/helper/helper.go
  pkg/store/helper/helper_test.go
  pkg/store/mockstore/mockstore.go
  pkg/store/mockstore/tikv.go
  pkg/store/mockstore/unistore.go
  pkg/util/pdapi/const.go
Labels: size/XXL, release-note-none, component/dumpling, approved, lgtm

#45786 executor: union scan refactor for index read scenario
  pkg/executor/mem_reader.go
Labels: type/performance, size/XL, release-note-none, ok-to-test, approved, lgtm

#48589 extension: add `README.md` to extension
  pkg/extension/README.md
Labels: size/L, release-note-none, approved, lgtm

#47949 Makefile,cmd/tidb-server: add tidb-server FIPS build target
  Makefile.common
  cmd/tidb-server/fips.go
Labels: size/M, release-note-none, approved, lgtm

#48574 types: remove param `explicitTz` from `types.ParseTime`
  br/pkg/task/backup.go
  pkg/ddl/ddl_api.go
  pkg/executor/brie.go
  pkg/executor/inspection_result_test.go
  pkg/executor/inspection_summary_test.go
  pkg/executor/internal/calibrateresource/calibrate_resource_test.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_cast_vec.go
  pkg/expression/builtin_time.go
  pkg/expression/builtin_time_vec.go
  pkg/expression/helper.go
  pkg/server/handler/optimizor/statistics_handler.go
  pkg/server/internal/column/column_test.go
  pkg/sessionctx/variable/varsutil.go
  pkg/types/convert.go
  pkg/types/convert_test.go
  pkg/types/datum.go
  pkg/types/datum_test.go
  pkg/types/format_test.go
  pkg/types/time.go
  pkg/types/time_test.go
  pkg/util/codec/codec_test.go
  pkg/util/dbutil/common.go
  pkg/util/rowcodec/rowcodec_test.go
Labels: size/L, release-note-none, approved, lgtm

#48605 CI: fix empty values for `information` fileds
  .codecov.yml
Labels: release-note-none, skip-issue-check, approved, lgtm

#48593 global sort: fix set tidb_cloud_storage_uri should be redacted
  pkg/executor/set.go
  pkg/parser/ast/misc.go
Labels: release-note, size/S, approved, lgtm, needs-cherry-pick-release-7.5

#48621 Revert "CI: fix empty values for `information` fileds"
  .codecov.yml
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#48604 executor: fix typo of some tests
  pkg/executor/union_scan_test.go
Labels: size/S, release-note-none, approved, lgtm

#48565 expression, types: fix the logic of converting duration to year
  pkg/ddl/backfilling_scheduler.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_cast_test.go
  pkg/expression/builtin_cast_vec.go
  pkg/types/context.go
  pkg/types/convert_test.go
  pkg/types/datum.go
  pkg/types/time.go
  pkg/types/time_test.go
  tests/integrationtest/r/expression/cast.result
  tests/integrationtest/t/expression/cast.test
Labels: release-note, size/L, approved, lgtm

#48614 executor: union scan refactor for index read scenario #45786
  executor/mem_reader.go
Labels: size/XL, release-note-none, approved, lgtm

#48601 executor: avoid displaying progress when to merge global stats
  pkg/executor/infoschema_reader.go
Labels: size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48617 tests: update mysql-tester, move more tests to integration test
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/temptable_test.go
  pkg/bindinfo/tests/BUILD.bazel
  pkg/bindinfo/tests/bind_test.go
  pkg/ddl/db_test.go
  pkg/ddl/tests/fk/BUILD.bazel
  pkg/ddl/tests/fk/foreign_key_test.go
  pkg/executor/point_get_test.go
  pkg/executor/test/executor/executor_test.go
  pkg/executor/test/fktest/BUILD.bazel
  pkg/executor/test/fktest/foreign_key_test.go
  pkg/executor/test/indexmergereadtest/BUILD.bazel
  pkg/executor/test/indexmergereadtest/index_merge_reader_test.go
  pkg/executor/test/issuetest/BUILD.bazel
  pkg/executor/test/issuetest/executor_issue_test.go
  pkg/executor/test/jointest/BUILD.bazel
  pkg/executor/test/jointest/join_test.go
  pkg/planner/core/integration_test.go
  tests/integrationtest/r/bindinfo/bind.result
  tests/integrationtest/r/bindinfo/temptable.result
  tests/integrationtest/r/ddl/db.result
  tests/integrationtest/r/ddl/foreign_key.result
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/r/executor/foreign_key.result
  tests/integrationtest/r/executor/index_merge_reader.result
  tests/integrationtest/r/executor/issues.result
  tests/integrationtest/r/executor/jointest/join.result
  tests/integrationtest/r/executor/point_get.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/run-tests.sh
  tests/integrationtest/t/bindinfo/bind.test
  tests/integrationtest/t/bindinfo/temptable.test
  tests/integrationtest/t/ddl/db.test
  tests/integrationtest/t/ddl/foreign_key.test
  tests/integrationtest/t/executor/executor.test
  tests/integrationtest/t/executor/foreign_key.test
  tests/integrationtest/t/executor/index_merge_reader.test
  tests/integrationtest/t/executor/issues.test
  tests/integrationtest/t/executor/jointest/join.test
  tests/integrationtest/t/executor/point_get.test
  tests/integrationtest/t/planner/core/integration.test
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#48590 planner: fix index merge union case couldn't sink limit into index merge reader
  pkg/planner/core/casetest/physicalplantest/physical_plan_test.go
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_in.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/find_best_task.go
  pkg/planner/core/task.go
Labels: release-note, size/M, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#48640 planner: quick fix the panic issue when restoring hints from a plan
  pkg/planner/core/hints.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/rule_join_reorder.go
Labels: sig/planner, size/S, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#48599 *: update pd client and client-go
  DEPS.bzl
  go.mod
  go.sum
  pkg/domain/infosync/resource_manager_client.go
  pkg/domain/runaway.go
  pkg/executor/internal/calibrateresource/BUILD.bazel
  pkg/executor/internal/calibrateresource/calibrate_resource_test.go
  pkg/store/mockstore/unistore/pd.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#48313 executor,infoschema: add I_S table: `TIDB_CHECK_CONSTRAINTS`
  pkg/executor/builder.go
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_internal_test.go
  pkg/infoschema/tables.go
  tests/integrationtest/r/infoschema/tables.result
  tests/integrationtest/t/infoschema/tables.test
Labels: release-note, size/L, approved, lgtm

#48639 disttask: add awserr. RequestCanceled as graceful shutdown err
  br/pkg/lightning/log/BUILD.bazel
  br/pkg/lightning/log/log.go
  br/pkg/lightning/log/log_test.go
  pkg/disttask/framework/scheduler/BUILD.bazel
  pkg/disttask/framework/scheduler/scheduler.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48650 statstics: remove useless cache
  pkg/executor/BUILD.bazel
  pkg/executor/analyze_global_stats.go
  pkg/statistics/handle/globalstats/global_stats.go
  pkg/statistics/handle/util/interfaces.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48570 backup: add table-concurrency to control backup tableInfo stats and checksum.
  br/pkg/task/backup.go
  br/pkg/task/backup_test.go
  br/pkg/task/common.go
Labels: size/S, release-note-none, approved, lgtm, affects-7.5

#48152 server,session: Add status vars for compression
  pkg/parser/mysql/const.go
  pkg/server/BUILD.bazel
  pkg/server/conn.go
  pkg/server/conn_test.go
  pkg/server/internal/handshake/BUILD.bazel
  pkg/server/internal/handshake/handshake.go
  pkg/server/internal/packetio.go
  pkg/server/internal/parse/BUILD.bazel
  pkg/server/internal/parse/parse.go
  pkg/session/session.go
  pkg/sessionctx/variable/session.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#48636 executor: Move sort tests to `sortexec` package
  pkg/executor/BUILD.bazel
  pkg/executor/benchmark_test.go
  pkg/executor/builder.go
  pkg/executor/executor_pkg_test.go
  pkg/executor/executor_required_rows_test.go
  pkg/executor/internal/testutil/BUILD.bazel
  pkg/executor/internal/testutil/agg.go
  pkg/executor/internal/testutil/limit.go
  pkg/executor/internal/testutil/sort.go
  pkg/executor/internal/testutil/testutil.go
  pkg/executor/internal/testutil/window.go
  pkg/executor/join_pkg_test.go
  pkg/executor/pkg_test.go
  pkg/executor/sortexec/BUILD.bazel
  pkg/executor/sortexec/benchmark_test.go
  pkg/executor/sortexec/sort_spill_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#48647 tests: move more tests to integration test
  pkg/executor/test/simpletest/BUILD.bazel
  pkg/executor/test/simpletest/simple_test.go
  pkg/expression/test/multivaluedindex/BUILD.bazel
  pkg/expression/test/multivaluedindex/multi_valued_index_test.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/casetest/physicalplantest/BUILD.bazel
  pkg/planner/core/casetest/physicalplantest/physical_plan_test.go
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_in.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/cbo_test.go
  pkg/planner/core/expression_rewriter_test.go
  pkg/session/test/privileges/BUILD.bazel
  pkg/session/test/privileges/privileges_test.go
  pkg/session/test/txn/BUILD.bazel
  pkg/session/test/txn/txn_test.go
  pkg/session/test/variable/BUILD.bazel
  pkg/session/test/variable/variable_test.go
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/read_test.go
  tests/integrationtest/r/executor/simple.result
  tests/integrationtest/r/expression/multi_valued_index.result
  tests/integrationtest/r/planner/core/casetest/physicalplantest/physical_plan.result
  tests/integrationtest/r/planner/core/cbo.result
  tests/integrationtest/r/planner/core/expression_rewriter.result
  tests/integrationtest/r/session/privileges.result
  tests/integrationtest/r/session/txn.result
  tests/integrationtest/r/session/variable.result
  tests/integrationtest/r/statistics/handle.result
  tests/integrationtest/t/executor/simple.test
  tests/integrationtest/t/expression/multi_valued_index.test
  tests/integrationtest/t/planner/core/casetest/physicalplantest/physical_plan.test
  tests/integrationtest/t/planner/core/cbo.test
  tests/integrationtest/t/planner/core/expression_rewriter.test
  tests/integrationtest/t/planner/core/integration.test
  tests/integrationtest/t/session/privileges.test
  tests/integrationtest/t/session/txn.test
  tests/integrationtest/t/session/variable.test
  tests/integrationtest/t/statistics/handle.test
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#48596 expression: always use the ctx in parameter for method `Equal` in all expressions
  pkg/executor/benchmark_test.go
  pkg/expression/column.go
  pkg/expression/column_test.go
  pkg/expression/constant.go
  pkg/expression/constant_propagation.go
  pkg/expression/expression.go
  pkg/expression/scalar_function.go
  pkg/expression/schema.go
  pkg/expression/schema_test.go
  pkg/expression/util_test.go
  pkg/planner/cardinality/selectivity.go
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/cascades/optimize_test.go
  pkg/planner/cascades/transformation_rules.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/optimizer.go
  pkg/planner/core/resolve_indices.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_derive_topn_from_window.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/rule_join_reorder.go
  pkg/planner/core/rule_max_min_eliminate.go
  pkg/planner/core/rule_result_reorder.go
  pkg/planner/core/scalar_subq_expression.go
  pkg/planner/core/stats.go
  pkg/planner/core/task.go
  pkg/planner/core/util.go
  pkg/planner/property/physical_property.go
  pkg/planner/util/path.go
  pkg/util/ranger/checker.go
  pkg/util/ranger/detacher.go
Labels: size/XL, release-note-none, approved, lgtm

#48555 session: fix mock upgrade mode in test
  pkg/session/bootstraptest/bootstrap_upgrade_test.go
  pkg/session/mock_bootstrap.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#48653 pkg: stop using math/rand.Seed
  br/pkg/lightning/mydump/loader_test.go
  cmd/ddltest/ddl_test.go
  cmd/importer/rand.go
  pkg/executor/internal/vecgroupchecker/vec_group_checker_test.go
  pkg/planner/core/tests/prepare/prepare_test.go
  pkg/statistics/handle/updatetest/update_test.go
  pkg/store/driver/tikv_driver.go
  pkg/util/chunk/list_test.go
  pkg/util/chunk/row_in_disk_test.go
  pkg/util/importer/rand.go
  pkg/util/selection/selection_test.go
  tools/check/ut.go
Labels: size/M, release-note-none, skip-issue-check, ok-to-test, approved, lgtm
