Repository pingcap/tidb, pull requests merged in 2023-06, with the labels that each got.

#44310 linter: enable revive for part of planner
  build/nogo_config.json
  planner/core/logical_plans.go
  planner/core/plan_cost_ver2.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#44318 *: refine log for `GenRLimit`
  ddl/ingest/env.go
  executor/importer/table_import.go
  util/rlimit_other.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#44197 metrics: add metrics for avaiable RU
  metrics/grafana/tidb_resource_control.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#44330 statistics: fix unnecessary index fmsketch loading
  statistics/handle/handle.go
  statistics/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#44334 linter: enable fieldalignment for statistics/handle
  build/nogo_config.json
  statistics/handle/dump.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/lru_cache.go
  statistics/handle/statscache.go
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#44323 ddl: fix DDL is blocked when pd down during the DDL execution | tidb-test=pr/2145
  ddl/ddl_worker.go
  ddl/syncer/syncer.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#44333 lightning: fix risk of OOM (#40443)
  br/pkg/lightning/mydump/BUILD.bazel
  br/pkg/lightning/mydump/csv_parser.go
  br/pkg/lightning/mydump/csv_parser_test.go
  br/tests/lightning_csv/errData/db-schema-create.sql
  br/tests/lightning_csv/errData/db.test-schema.sql
  br/tests/lightning_csv/errData/db.test.1.csv
  br/tests/lightning_csv/run.sh
  config/config.go
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#44337 domain/infosync: remove `PostAccelerateSchedule` related code
  domain/infosync/info.go
  domain/infosync/info_test.go
  domain/infosync/tiflash_manager.go
Labels: status/LGT2, component/syncer, status/can-merge, size/M, release-note-none, skip-issue-check

#44345 planner: allow to use dynamic mode to access partitioning tables without global-stats (#44264)
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#41661 util/ranger: don't merge consecutive ranges when building ranges for cnf item
  util/ranger/detacher.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#44358 planner: fix the unstable test `TestHypoIndexDDL`
  executor/show.go
Labels: status/LGT2, sig/planner, status/can-merge, release-note-none

#44362 txn: delete useless `SetTxnInfoSchema` in `TxnManager`
  session/txnmanager.go
  sessiontxn/interface.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#44352 executor: make prepare analyze killed globally instead of query quota
  executor/executor.go
  executor/test/analyzetest/analyze_test.go
  executor/test/issuetest/executor_issue_test.go
  util/memory/action.go
  util/memory/memstats.go
  util/memory/tracker.go
  util/servermemorylimit/servermemorylimit.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#43105 *: add wait lock time in tidb_trx
  infoschema/tables.go
  infoschema/test/clustertablestest/tables_test.go
  session/txninfo/txn_info.go
Labels: status/LGT1, sig/transaction, size/S, release-note-none, approved, lgtm

#44380 ddl: enable linter revive
  br/pkg/backup/client.go
  build/nogo_config.json
  ddl/backfilling_scheduler.go
  ddl/callback.go
  ddl/cluster.go
  ddl/column.go
  ddl/db_change_test.go
  ddl/ddl.go
  ddl/ddl_api.go
  ddl/ddl_api_test.go
  ddl/ddl_test.go
  ddl/ddl_tiflash_api.go
  ddl/ddl_worker_test.go
  ddl/foreign_key.go
  ddl/generated_column.go
  ddl/index.go
  ddl/job_table_test.go
  ddl/mock.go
  ddl/partition.go
  ddl/reorg.go
  ddl/scheduler.go
  ddl/schematracker/checker.go
  ddl/schematracker/dm_tracker.go
  ddl/stat.go
  ddl/table_modify_test.go
  executor/ddl.go
  executor/executor.go
Labels: size/XL, release-note-none, approved, lgtm

#44378 *: delete useless `TiKVMinVersion` param
  domain/infosync/BUILD.bazel
  domain/infosync/info.go
  tidb-server/BUILD.bazel
  tidb-server/main.go
  util/printer/printer.go
  util/versioninfo/versioninfo.go
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#44374 statistics: not put pseudo table of partition table into cache
  statistics/handle/handle.go
  statistics/handle/statscache.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44384 util/ranger: consider good non-point ranges from CNF item
  sessionctx/variable/session.go
  util/ranger/BUILD.bazel
  util/ranger/detacher.go
  util/ranger/ranger_test.go
  util/ranger/testdata/ranger_suite_in.json
  util/ranger/testdata/ranger_suite_out.json
Labels: size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44382 planner: enable revive for part code
  build/nogo_config.json
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/plan_cache_param.go
  planner/core/plan_cache_param_test.go
  planner/core/plan_cost_ver1.go
  planner/core/rule_join_reorder_dp.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_push_down.go
  planner/core/rule_predicate_simplification.go
  planner/core/rule_result_reorder.go
  planner/optimize.go
Labels: size/L, release-note-none, approved, lgtm

#44363 executor: make prepare analyze killed globally instead of query quota | tidb-test=pr/2145
  executor/analyzetest/analyze_test.go
  executor/executor.go
  executor/issuetest/executor_issue_test.go
  util/memory/action.go
  util/memory/memstats.go
  util/memory/tracker.go
  util/servermemorylimit/servermemorylimit.go
Labels: status/LGT2, size/M, release-note-none, approved, lgtm

#44216 planner: add logical expand operator for rollup
  expression/constant.go
  expression/scalar_function.go
  planner/core/BUILD.bazel
  planner/core/initialize.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/logical_plans_test.go
  planner/core/optimizer.go
  planner/core/planbuilder.go
  planner/core/rule_column_pruning.go
  planner/core/rule_eliminate_projection.go
  planner/core/rule_resolve_grouping_expand.go
Labels: release-note, size/XXL, approved, lgtm

#44328 ebs_backup: added retry for exceeding of quota
  br/pkg/aws/BUILD.bazel
  br/pkg/aws/ebs.go
Labels: status/LGT2, size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44406 statistics: refine index/column stats methods and remove statistics.Column.Count
  planner/core/integration_test.go
  planner/core/stats.go
  planner/core/testdata/integration_suite_out.json
  statistics/column.go
  statistics/handle/bootstrap.go
  statistics/handle/dump.go
  statistics/handle/dump_test.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  statistics/handle/update_test.go
  statistics/histogram.go
  statistics/index.go
  statistics/table.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#44364 *: Add TiDB Playground portal in README.md
  README.md
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#44305 ddl, session: after upgrades, the order of processing on different tables is also more as expected
  ddl/job_table.go
  session/bootstrap.go
  session/bootstraptest/BUILD.bazel
  session/bootstraptest/bootstrap_upgrade_test.go
Labels: size/L, release-note-none, approved, lgtm

#44381 br: ebs tags refactoring
  br/pkg/aws/ebs.go
Labels: size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44413 client-go: when meet GetStoreMinResolvedTS error just write in debug log
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44414 partition: fix index join probe side will locate partition error when it's a table range scan
  executor/builder.go
  executor/test/partitiontest/partition_test.go
Labels: release-note, size/S, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44409 planner: fix join reorder will append remained other condition to an outer join
  planner/core/rule_join_reorder.go
  planner/core/rule_join_reorder_test.go
Labels: release-note, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44273 import into: impl import from server disk
  br/pkg/lightning/backend/local/localhelper.go
  br/pkg/lightning/mydump/loader.go
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/local.go
  br/pkg/storage/local_test.go
  br/pkg/storage/parse.go
  br/pkg/storage/parse_test.go
  br/pkg/storage/storage.go
  disttask/loaddata/dispatcher.go
  disttask/loaddata/job.go
  disttask/loaddata/proto.go
  disttask/loaddata/scheduler.go
  errno/errname.go
  errors.toml
  executor/BUILD.bazel
  executor/import_into.go
  executor/import_into_test.go
  executor/importer/BUILD.bazel
  executor/importer/engine_process.go
  executor/importer/import.go
  executor/importer/import_test.go
  executor/importer/table_import.go
  executor/test/loadremotetest/error_test.go
  planner/core/BUILD.bazel
  planner/core/planbuilder.go
  privilege/privileges/privileges_test.go
  tests/realtikvtest/loaddatatest/BUILD.bazel
  tests/realtikvtest/loaddatatest/from_server_test.go
  tests/realtikvtest/loaddatatest/load_data_test.go
  tests/realtikvtest/loaddatatest/one_parquet_test.go
Labels: status/LGT1, size/XXL, release-note-none, approved, lgtm

#44429 linter: Convert untagged switch to tagged switch
  br/pkg/lightning/common/util.go
  br/pkg/restore/systable_restore.go
  build/BUILD.bazel
  build/nogo_config.json
  privilege/privileges/cache.go
  resourcemanager/pooltask/BUILD.bazel
  resourcemanager/pooltask/task.go
  resourcemanager/pooltask/task_manager.go
  resourcemanager/pooltask/task_manager_iterator.go
  resourcemanager/pooltask/task_manager_scheduler.go
  resourcemanager/pooltask/task_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#44198 import into: support create index by SQL
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/common/util.go
  br/pkg/lightning/common/util_test.go
  br/pkg/lightning/importer/table_import.go
  br/pkg/lightning/importer/table_import_test.go
  disttask/framework/dispatcher/BUILD.bazel
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/storage/task_table.go
  disttask/loaddata/BUILD.bazel
  disttask/loaddata/dispatcher.go
  executor/importer/import.go
  planner/core/preprocess.go
  tests/realtikvtest/loaddatatest/load_data_test.go
Labels: status/LGT1, size/XXL, release-note-none, approved, lgtm

#44432 statistic: use atomic.Pointer to avoid type conversions
  go.mod
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/historical_stats_handler.go
  statistics/handle/update.go
Labels: release-note-none, skip-issue-check, approved, lgtm

#44178 timer: implement TimerGroupRuntime to trigger timer events in background
  timer/runtime/BUILD.bazel
  timer/runtime/cache.go
  timer/runtime/cache_test.go
  timer/runtime/main_test.go
  timer/runtime/runtime.go
  timer/runtime/runtime_test.go
  timer/runtime/worker.go
  timer/runtime/worker_test.go
Labels: status/LGT1, size/XXL, release-note-none, approved, lgtm

#44438 ddl: fix data race in pause ddl test
  ddl/pausetest/pause_test.go
Labels: size/S, release-note-none, approved, lgtm

#25385 executor: global kill 32bits (local connID part)
  domain/BUILD.bazel
  domain/db_test.go
  domain/domain.go
  executor/BUILD.bazel
  executor/analyze.go
  executor/analyze_col.go
  executor/analyze_col_v2.go
  executor/analyze_idx.go
  executor/simple.go
  executor/simple_test.go
  go.mod
  planner/core/planbuilder.go
  server/conn.go
  server/extract_test.go
  server/http_handler_test.go
  server/mock_conn.go
  server/optimize_trace_test.go
  server/plan_replayer_test.go
  server/server.go
  server/statistics_handler_test.go
  server/tidb_serial_test.go
  server/tidb_test.go
  statistics/handle/handle.go
  statistics/handle/handletest/handle_test.go
  statistics/handle/update.go
  testkit/mocksessionmanager.go
  tests/globalkilltest/.gitignore
  tests/globalkilltest/Dockerfile
  tests/globalkilltest/README.md
  tests/globalkilltest/global_kill_test.go
  tests/globalkilltest/tikv.toml
  tests/globalkilltest/up.sh
  tidb-server/main.go
  util/BUILD.bazel
  util/expensivequery/expensivequery.go
  util/globalconn/BUILD.bazel
  util/globalconn/globalconn.go
  util/globalconn/globalconn_test.go
  util/globalconn/pool.go
  util/globalconn/pool_test.go
  util/processinfo.go
  util/processinfo_test.go
Labels: status/LGT1, sig/execution, release-note, sig/sql-infra, size/XXL, approved, lgtm

#44433 dockerfile: upgrade golang
  Dockerfile
  Dockerfile.enterprise
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#44444 *: change some error logs to warn logs
  br/pkg/lightning/backend/backend.go
  ddl/ddl.go
  ddl/ddl_worker.go
  ddl/ingest/engine.go
  executor/analyze_global_stats.go
Labels: size/S, release-note-none, approved, lgtm

#44426 ci: add flags and components configuration for codecov.io coverage
  .codecov.yml
  br/.codecov.yml
  dumpling/codecov.yml
  parser/codecov.yml
Labels: size/M, release-note-none, approved, lgtm

#44442 lightning/backend/local: fix `buildIndexDupTasks`
  br/pkg/lightning/backend/local/duplicate.go
  ddl/ingest/backend.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/integration_test.go
Labels: size/M, release-note-none, approved, lgtm

#44338 *: support mock campaign leader in owner manager
  br/pkg/gluetidb/glue.go
  br/pkg/streamhelper/daemon/owner_daemon_test.go
  ddl/ddl.go
  ddl/util/BUILD.bazel
  ddl/util/mock.go
  domain/domain.go
  owner/BUILD.bazel
  owner/mock.go
Labels: size/L, release-note-none, approved, lgtm

#44360 *: let handleMap supports partitionHandle
  executor/index_merge_reader.go
  executor/partition_table_test.go
  kv/BUILD.bazel
  kv/key.go
  kv/key_test.go
  planner/core/casetest/testdata/integration_partition_suite_out.json
  planner/core/find_best_task.go
  planner/core/task.go
Labels: size/XL, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#44447 linter: enable qf1004
  build/BUILD.bazel
  build/nogo_config.json
  executor/adapter.go
  expression/builtin_string.go
  expression/builtin_string_vec.go
  expression/builtin_time.go
  infoschema/metrics_schema.go
  parser/ast/expressions.go
  parser/format/format.go
  store/copr/coprocessor.go
  util/dbutil/common.go
  util/plancodec/codec.go
  util/sqlexec/utils.go
  util/stringutil/string_util.go
  util/util.go
Labels: size/M, release-note-none, approved, lgtm

#44452 table/tables: get temp index value from storage regardless of lazy check
  ddl/index.go
  table/tables/index.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/integration_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#44454 *: remove useless
  planner/core/plan_cache_utils.go
  tablecodec/tablecodec.go
  ttl/cache/split_test.go
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#44448 partition: fix index join probe side will locate partition error when it's a table range scan | tidb-test=pr/2145 (#44414)
  executor/builder.go
  executor/partition_table_test.go
Labels: release-note, size/S, approved, lgtm

#44458 planner, runtimefilter: resolve column index for table scan
  planner/core/resolve_indices.go
Labels: size/S, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#44463 lightning: deprecate send-kv-pairs
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/region_job.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/config/config_test.go
  br/tests/lightning_write_batch/run.sh
  executor/importer/table_import.go
Labels: release-note, size/M, approved, lgtm

#44157 expression: Switch on the pushdown for `first_value()` and `last_value`
  expression/aggregation/window_func.go
  planner/core/exhaust_physical_plans.go
Labels: status/LGT1, size/XS, release-note-none, approved, lgtm

#44436 expression: refactor grouping function computation and update related tipb
  DEPS.bzl
  executor/test/showtest/show_test.go
  expression/builtin.go
  expression/builtin_grouping.go
  expression/builtin_grouping_test.go
  go.mod
  go.sum
  parser/ast/functions.go
Labels: release-note, size/L, approved, lgtm

#44313 import into: precheck and register to pd
  Makefile
  br/pkg/mock/BUILD.bazel
  br/pkg/mock/task_register.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/register.go
  br/pkg/utils/register_test.go
  disttask/loaddata/BUILD.bazel
  disttask/loaddata/dispatcher.go
  disttask/loaddata/subtask_executor.go
  executor/importer/BUILD.bazel
  executor/importer/precheck.go
  executor/importer/precheck_test.go
  tests/realtikvtest/loaddatatest/BUILD.bazel
  tests/realtikvtest/loaddatatest/load_data_test.go
  tests/realtikvtest/loaddatatest/precheck_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#44467 session,executor: add variables to support set if enable tiflash pipeline model by sql statement
  distsql/distsql.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: size/S, release-note-none, approved, lgtm

#44499 dumpling: improve config for using in library
  dumpling/export/config.go
  dumpling/export/dump.go
  dumpling/export/retry.go
Labels: size/M, release-note-none, approved, lgtm

#44486 session, ddl: fix the nil point in `TxnInfo`
  session/session.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44510 statistics: remove h.mu.Lock when creating NewSessionStatsCollector
  statistics/handle/update.go
Labels: size/XS, release-note-none, approved, lgtm

#44475 *: upgrade go1.20.5
  Dockerfile
  Dockerfile.enterprise
  WORKSPACE
  build/image/base
  tests/globalkilltest/Dockerfile
Labels: size/S, release-note-none, approved, lgtm

#44248 *: add expensive_txn log and metric for long-running transaction
  config/config.go
  executor/set_test.go
  metrics/executor.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  session/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/tidb_vars.go
  tidb-server/main.go
  util/expensivequery/BUILD.bazel
  util/expensivequery/expensivequery.go
  util/processinfo.go
Labels: status/LGT2, component/metrics, sig/transaction, size/L, release-note-none, approved, lgtm

#44482 disttask: Refine dispatcher
  disttask/framework/dispatcher/dispatcher.go
Labels: size/M, release-note-none, approved, lgtm

#44501 *: fix cte miss cleaning spilled-disk file
  executor/adapter.go
  executor/cte_test.go
  executor/executor_test.go
  session/session.go
Labels: size/L, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44524 domain: avoid using unsafe
  domain/domain.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#44537 docs: update build badge on docs
  README.md
Labels: size/XS, release-note-none, approved, lgtm

#44536 ddl, test: fix data race in owner change test
  ddl/ddl.go
Labels: size/XS, release-note-none, approved, lgtm

#44185 util/extsort: parallelize DiskSorter.Sort
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/importer/dup_detect.go
  util/extsort/BUILD.bazel
  util/extsort/disk_sorter.go
  util/extsort/disk_sorter_test.go
  util/extsort/external_sorter.go
  util/extsort/external_sorter_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#44516 lightning: fix uuid panic when expression index enabled
  br/pkg/lightning/backend/kv/BUILD.bazel
  br/pkg/lightning/backend/kv/base.go
  br/pkg/lightning/backend/kv/sql2kv_test.go
  br/tests/lightning_generated_columns/data/gencol.uuid-schema.sql
  br/tests/lightning_generated_columns/data/gencol.uuid.0.sql
  br/tests/lightning_generated_columns/run.sh
Labels: release-note, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44511 br: run `UpdateTableStatsLoop` when domain is not bootstrapped
  br/pkg/gluetidb/glue.go
Labels: size/S, release-note-none, approved, lgtm

#44307 import into: add disk quota
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/local.go
  disttask/loaddata/scheduler.go
  executor/importer/BUILD.bazel
  executor/importer/chunk_process.go
  executor/importer/engine_process.go
  executor/importer/import.go
  executor/importer/import_test.go
  executor/importer/table_import.go
  tests/realtikvtest/loaddatatest/load_data_test.go
Labels: size/L, release-note-none, approved, lgtm

#44541 planner: add more test cases for quick binding
  infoschema/test/clustertablestest/cluster_tables_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#44540 executor: avoid using fmt.Sprint to truncate the string
  executor/adapter.go
  executor/adapter_test.go
  util/stmtsummary/statement_summary.go
  util/stmtsummary/v2/record.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44554 linter: enable QF1012
  br/pkg/restore/client.go
  build/BUILD.bazel
  build/nogo_config.json
  ddl/db_partition_test.go
  ddl/job_table.go
  ddl/partition.go
  distsql/select_result.go
  executor/aggregate.go
  executor/index_merge_reader.go
  executor/insert_common.go
  executor/inspection_profile.go
  executor/join.go
  executor/show.go
  expression/aggregation/concat.go
  expression/explain.go
  parser/format/format.go
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/memtable_predicate_extractor.go
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_decorrelate.go
  planner/core/rule_join_reorder.go
  planner/core/rule_max_min_eliminate.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_push_down.go
  planner/core/rule_topn_push_down.go
  planner/core/show_predicate_extractor.go
  planner/core/stats.go
  server/plan_replayer.go
  util/execdetails/execdetails.go
  util/format/format.go
  util/memoryusagealarm/memoryusagealarm.go
  util/stringutil/string_util.go
Labels: size/L, release-note-none, approved, lgtm

#44566 executor: set handle changed when col gets auto-updated
  executor/test/writetest/write_test.go
  executor/write.go
Labels: size/S, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44577 timer: fix data race in timer store
  timer/api/BUILD.bazel
  timer/api/mem_store.go
  timer/runtime/BUILD.bazel
Labels: size/XS, release-note-none, approved, lgtm

#44561 client-go: update tikv client-go for batch_client auto re-connect idle connection when wait connection ready
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#44469 ddl, session: fix re-upgrade issues
  ddl/job_table.go
  session/bootstrap.go
  session/bootstraptest/BUILD.bazel
  session/bootstraptest/bootstrap_upgrade_test.go
  session/mock_bootstrap.go
Labels: size/L, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#44488 planner: support grouping function/col/expression rewriting and physical plan exhaustion for rollup expand OP
  errno/errcode.go
  errno/errname.go
  errors.toml
  expression/column.go
  expression/constant.go
  expression/expression.go
  expression/grouping_sets.go
  expression/grouping_sets_test.go
  expression/scalar_function.go
  expression/util_test.go
  planner/core/casetest/enforce_mpp_test.go
  planner/core/casetest/testdata/enforce_mpp_suite_in.json
  planner/core/casetest/testdata/enforce_mpp_suite_out.json
  planner/core/errors.go
  planner/core/exhaust_physical_plans.go
  planner/core/explain.go
  planner/core/expression_rewriter.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/logical_plans_test.go
  planner/core/physical_plans.go
  planner/core/resolve_indices.go
  planner/core/task.go
Labels: release-note, size/XXL, approved, lgtm

#44478 lightning: retry for leader change error when GetTS
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/checksum.go
  br/pkg/lightning/backend/local/checksum_test.go
Labels: size/M, release-note-none, approved, lgtm

#44578 sessionctx: make session_vars' type closer to MySQL
  disttask/framework/storage/task_table.go
  planner/core/expression_rewriter.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/sysvar_test.go
  sessionctx/variable/variable.go
  sessionctx/variable/variable_test.go
Labels: size/M, release-note-none, approved, lgtm

#44585 infoschema: update raw args to make it drop correct table in `RENAME TABLE`
  ddl/table.go
  infoschema/BUILD.bazel
  infoschema/infoschema_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44446 timer: implement table based `TimerStore`
  kv/option.go
  timer/BUILD.bazel
  timer/api/BUILD.bazel
  timer/api/mem_store.go
  timer/api/store.go
  timer/api/store_test.go
  timer/api/timer.go
  timer/main_test.go
  timer/runtime/cache_test.go
  timer/runtime/main_test.go
  timer/runtime/runtime_test.go
  timer/runtime/worker_test.go
  timer/store_intergartion_test.go
  timer/tablestore/BUILD.bazel
  timer/tablestore/notifier.go
  timer/tablestore/sql.go
  timer/tablestore/sql_test.go
  timer/tablestore/store.go
Labels: size/XXL, release-note-none, approved, lgtm

#44211 br: update azure sdk
  DEPS.bzl
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/azblob.go
  br/pkg/storage/azblob_test.go
  build/patches/io_etcd_go_etcd_api_v3.patch
  go.mod
  go.sum
Labels: size/XL, release-note-none, approved, lgtm

#44593 *: fix for tikv client-go
  domain/infosync/BUILD.bazel
  domain/infosync/resource_group_manager.go
  store/mockstore/unistore/pd.go
Labels: size/M, release-note-none, approved, lgtm

#44269 *: use approximately algorithm to calculate p90 in slowlog.
  DEPS.bzl
  distsql/BUILD.bazel
  distsql/distsql_test.go
  distsql/select_result.go
  go.mod
  go.sum
  sessionctx/stmtctx/BUILD.bazel
  sessionctx/stmtctx/stmtctx.go
  sessionctx/stmtctx/stmtctx_test.go
  util/execdetails/BUILD.bazel
  util/execdetails/execdetails.go
Labels: size/XL, release-note-none, affects-6.5, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, affects-7.1, approved, lgtm

#44573 OWNERS: add elsa0520 to reviewers
  OWNERS
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#44589 test: move ddl test into another folder
  ddl/tests/fail/BUILD.bazel
  ddl/tests/fail/fail_db_test.go
  ddl/tests/fail/main_test.go
  ddl/tests/fk/BUILD.bazel
  ddl/tests/fk/foreign_key_test.go
  ddl/tests/fk/main_test.go
  ddl/tests/indexmerge/BUILD.bazel
  ddl/tests/indexmerge/main_test.go
  ddl/tests/indexmerge/merge_test.go
  ddl/tests/metadatalock/BUILD.bazel
  ddl/tests/metadatalock/main_test.go
  ddl/tests/metadatalock/mdl_test.go
  ddl/tests/resourcegroup/BUILD.bazel
  ddl/tests/resourcegroup/resource_group_test.go
  ddl/tests/tiflash/BUILD.bazel
  ddl/tests/tiflash/ddl_tiflash_test.go
  ddl/tests/tiflash/main_test.go
Labels: size/S, release-note-none, approved, lgtm

#44562 executor: fix data race at the TestShowStatsExtended
  executor/show_stats_test.go
  statistics/handle/handle.go
  statistics/handle/update.go
Labels: size/S, release-note-none, approved, lgtm

#44602 import into: rename pkg dir
  Makefile
  disttask/importinto/BUILD.bazel
  disttask/importinto/dispatcher.go
  disttask/importinto/dispatcher_test.go
  disttask/importinto/job.go
  disttask/importinto/proto.go
  disttask/importinto/scheduler.go
  disttask/importinto/subtask_executor.go
  disttask/importinto/wrapper.go
  executor/BUILD.bazel
  executor/import_into.go
  executor/show.go
  tests/realtikvtest/importintotest/BUILD.bazel
  tests/realtikvtest/importintotest/dummy_test.go
  tests/realtikvtest/loaddatatest/BUILD.bazel
  tests/realtikvtest/loaddatatest/import_into_test.go
  tests/realtikvtest/loaddatatest/job_test.go
Labels: size/L, release-note-none, approved, lgtm

#44617 test: move loaddatatest into importintotest
  Makefile
  tests/realtikvtest/importintotest/BUILD.bazel
  tests/realtikvtest/importintotest/detach_test.go
  tests/realtikvtest/importintotest/dummy_test.go
  tests/realtikvtest/importintotest/from_server_test.go
  tests/realtikvtest/importintotest/import_into_test.go
  tests/realtikvtest/importintotest/job_test.go
  tests/realtikvtest/importintotest/main_test.go
  tests/realtikvtest/importintotest/one_parquet_test.go
  tests/realtikvtest/importintotest/operate_test.go
  tests/realtikvtest/importintotest/precheck_test.go
  tests/realtikvtest/importintotest/show_test.go
  tests/realtikvtest/importintotest/test.parquet
  tests/realtikvtest/importintotest/util_test.go
  tests/realtikvtest/loaddatatest/BUILD.bazel
Labels: size/L, release-note-none, approved, lgtm

#44618 session: fix the memory tracker leak in prepare binary protocol
  server/conn_stmt_test.go
  session/session.go
Labels: type/bug-fix, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44623 store: key ranges should be sorted in batch cop retry
  store/copr/batch_coprocessor.go
Labels: type/bug-fix, size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44441 statistics, planner: use the correct `IndexInfo` in `GenerateHistCollFromColumnInfo()` | tidb-test=pr/2149
  planner/core/stats.go
  statistics/integration_test.go
  statistics/selectivity_test.go
  statistics/table.go
  statistics/trace_test.go
Labels: size/M, release-note-none, approved, lgtm

#44340 infoschema: Add SERVER_CONNECT_ATTRS table
  infoschema/perfschema/BUILD.bazel
  infoschema/perfschema/const.go
  infoschema/perfschema/tables.go
  infoschema/perfschema/tables_test.go
  infoschema/tables.go
  server/conn.go
  server/server.go
  testkit/mocksessionmanager.go
  util/processinfo.go
Labels: release-note, size/L, approved, lgtm

#44611 planner: support `limit_to_cop` for quick binding
  bindinfo/bind_test.go
  bindinfo/capture_test.go
  executor/adapter.go
  infoschema/test/clustertablestest/cluster_tables_test.go
  planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  planner/core/hints.go
  planner/core/physical_plan_test.go
  planner/core/plan_test.go
Labels: size/XL, release-note-none, approved, lgtm

#44663 *: Show required changes by git diff when CI check bazel files failed
  tools/check/check-bazel-prepare.sh
Labels: size/XS, release-note-none, approved, lgtm

#44660 test: refine func signature of distributed execution test context
  disttask/framework/framework_test.go
  testkit/mockstore.go
Labels: component/test, size/M, release-note-none, skip-issue-check, approved, lgtm

#44662 linter: enable revive for part planner/core
  build/nogo_config.json
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_aggregation_skew_rewrite.go
  planner/core/rule_max_min_eliminate.go
  planner/core/rule_topn_push_down.go
Labels: size/S, release-note-none, approved, lgtm

#44600 domain, executor: add the missing debug trace for manual plan replayer
  domain/plan_replayer.go
  domain/plan_replayer_dump.go
  executor/adapter.go
  executor/executor_test.go
  server/BUILD.bazel
  server/plan_replayer_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#44650 server: try to use latest infoschema if failed to get snapshot infoschema in historical stats HTTP API
  server/statistics_handler.go
Labels: size/S, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#44668 ddl/ingest: prevent update disk usage too frequently
  ddl/ingest/disk_root.go
Labels: size/XS, release-note-none, approved, lgtm

#44329 import into: add analyze table for import into
  disttask/importinto/dispatcher.go
  disttask/importinto/job.go
  disttask/importinto/proto.go
  disttask/importinto/scheduler.go
  executor/asyncloaddata/BUILD.bazel
  executor/asyncloaddata/progress.go
  executor/import_into.go
  executor/import_into_test.go
  executor/importer/engine_process.go
  executor/importer/import.go
  executor/importer/import_test.go
  executor/importer/kv_encode.go
  tests/realtikvtest/importintotest/import_into_test.go
Labels: size/L, release-note-none, approved, lgtm

#44670 planner: add more test cases for quick binding
  executor/adapter.go
  infoschema/test/clustertablestest/cluster_tables_test.go
Labels: size/M, release-note-none, approved, lgtm

#44667 domain: fix missing stats file when using plan replayer capture
  domain/plan_replayer_dump.go
  server/plan_replayer_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#44616 import into: make post process a step to be able cancel
  ddl/ddl.go
  ddl/scheduler.go
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/register.go
  disttask/framework/framework_test.go
  disttask/framework/scheduler/BUILD.bazel
  disttask/framework/scheduler/interface.go
  disttask/framework/scheduler/manager.go
  disttask/framework/scheduler/manager_test.go
  disttask/framework/scheduler/register.go
  disttask/framework/scheduler/register_test.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  disttask/framework/storage/task_table.go
  disttask/importinto/dispatcher.go
  disttask/importinto/job.go
  disttask/importinto/proto.go
  disttask/importinto/scheduler.go
  disttask/importinto/subtask_executor.go
  executor/BUILD.bazel
  executor/import_into.go
  executor/importer/job.go
  executor/importer/table_import.go
  executor/show.go
  executor/show_test.go
  tests/realtikvtest/importintotest/import_into_test.go
  tests/realtikvtest/importintotest/job_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#44671 import into: revert add index via SQL
  disttask/framework/scheduler/manager.go
  disttask/importinto/dispatcher.go
  tests/realtikvtest/importintotest/import_into_test.go
Labels: size/M, release-note-none, approved, lgtm

#44681 linter: enable revive for part planner/core
  build/nogo_config.json
  planner/core/common_plans.go
  planner/core/plan_cache_lru.go
  planner/core/preprocess.go
  planner/core/task.go
Labels: size/M, release-note-none, approved, lgtm

#44523 *: upgrade go1.19.10
  WORKSPACE
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#44691 test: fix race on store.Close in dist test
  disttask/framework/dispatcher/dispatcher.go
  testkit/mockstore.go
Labels: size/M, release-note-none, approved, lgtm

#44604 timer: Support set Tags for timer in timer framework
  timer/BUILD.bazel
  timer/api/client.go
  timer/api/client_test.go
  timer/api/store.go
  timer/api/store_test.go
  timer/api/timer.go
  timer/store_intergartion_test.go
  timer/tablestore/sql.go
  timer/tablestore/sql_test.go
  timer/tablestore/store.go
Labels: size/XL, release-note-none, approved, lgtm

#44676 makefile: always print log for importintotest
  Makefile
Labels: size/XS, release-note-none, approved, lgtm

#44695 *: new bazel version minimum lock
  .bazelversion
  WORKSPACE
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#44513 planner,txn: fix the bug that RESOURCE_GROUP() hint can not take effect for write …
  DEPS.bzl
  go.mod
  go.sum
  kv/BUILD.bazel
  kv/txn.go
  planner/optimize.go
  session/resourcegrouptest/BUILD.bazel
  session/resourcegrouptest/resource_group_test.go
  session/session.go
  session/txn.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  util/topsql/stmtstats/kv_exec_count.go
  util/topsql/stmtstats/kv_exec_count_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#44703 test: close azblob test
  br/pkg/storage/azblob_test.go
Labels: size/XS, release-note-none, approved, lgtm

#44674 import into: redact sensitive info & check active job before create
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/parse_test.go
  disttask/framework/handle/handle.go
  disttask/importinto/BUILD.bazel
  disttask/importinto/job.go
  executor/adapter.go
  executor/import_into.go
  executor/importer/import.go
  executor/importer/job.go
  executor/importer/job_test.go
  parser/ast/BUILD.bazel
  parser/ast/dml.go
  parser/ast/dml_test.go
  parser/ast/misc.go
  parser/ast/misc_test.go
  parser/go.mod
  parser/go.sum
  session/bootstrap.go
  tests/realtikvtest/importintotest/import_into_test.go
  tests/realtikvtest/importintotest/job_test.go
Labels: size/XL, release-note-none, approved, lgtm

#44700 planner: support query block alias for `leading` hint
  planner/core/casetest/testdata/join_reorder_suite_in.json
  planner/core/casetest/testdata/join_reorder_suite_out.json
  planner/core/rule_join_reorder.go
Labels: size/L, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#44709 timer: fix unstable test `TestEtcdNotifier`
  timer/store_intergartion_test.go
Labels: size/XS, release-note-none, approved, lgtm

#44630 import into: remove sort dir because we do not support checkpoint now
  executor/importer/BUILD.bazel
  executor/importer/table_import.go
  executor/importer/table_import_test.go
Labels: size/L, release-note-none, approved, lgtm

#44339 domain: Introduce runaway manager
  DEPS.bzl
  build/nogo_config.json
  ddl/tests/resourcegroup/BUILD.bazel
  ddl/tests/resourcegroup/resource_group_test.go
  distsql/request_builder.go
  domain/BUILD.bazel
  domain/domain.go
  domain/infosync/BUILD.bazel
  domain/infosync/info.go
  domain/infosync/resource_group_manager.go
  domain/infosync/resource_manager_client.go
  domain/resourcegroup/BUILD.bazel
  domain/resourcegroup/runaway.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/BUILD.bazel
  executor/adapter.go
  executor/calibrate_resource.go
  executor/calibrate_resource_test.go
  executor/executor.go
  go.mod
  go.sum
  kv/BUILD.bazel
  kv/kv.go
  sessionctx/stmtctx/BUILD.bazel
  sessionctx/stmtctx/stmtctx.go
  store/copr/BUILD.bazel
  store/copr/coprocessor.go
  store/driver/BUILD.bazel
  store/driver/tikv_driver.go
  store/mockstore/unistore/BUILD.bazel
  store/mockstore/unistore/pd.go
  tidb-server/main.go
  util/dbterror/exeerrors/errors.go
Labels: release-note, size/XXL, approved, lgtm

#44455 *: fix check constraintInfo state change
  ddl/constraint.go
  ddl/constraint_test.go
Labels: size/XL, release-note-none, approved, lgtm

#44717 executor: remove remain time for show analyze
  executor/BUILD.bazel
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  executor/test/analyzetest/analyze_test.go
  infoschema/tables.go
  planner/core/planbuilder.go
Labels: size/L, release-note-none, approved, lgtm

#44719 expression: change escape character from '$' to '\' for `regexp_replace`
  expression/builtin_regexp.go
  expression/builtin_regexp_test.go
Labels: size/L, release-note-none, approved, lgtm

#44721 timer: use read/write lock for timer's memory store
  timer/api/mem_store.go
Labels: size/S, release-note-none, approved, lgtm

#44587 import into: add disable_tikv_import_mode option
  disttask/importinto/BUILD.bazel
  disttask/importinto/dispatcher.go
  disttask/importinto/dispatcher_test.go
  executor/importer/import.go
  executor/importer/import_test.go
  tests/realtikvtest/importintotest/import_into_test.go
Labels: size/L, release-note-none, approved, lgtm

#44724 show import: fix show import might read data from prev line
  executor/importer/BUILD.bazel
  executor/importer/job.go
  executor/importer/job_test.go
Labels: size/M, release-note-none, approved, lgtm

#44718 planner: support pushing down predicates to memory tables in prepared mode (#40262) | tidb-test=pr/2145
  expression/expression.go
  planner/core/memtable_predicate_extractor.go
  planner/core/memtable_predicate_extractor_test.go
Labels: size/L, release-note-none, approved, lgtm

#44712 import into: redact task meta after import & cancel on kill
  ddl/scheduler.go
  disttask/example/proto.go
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/framework_test.go
  disttask/framework/handle/handle.go
  disttask/framework/proto/task.go
  disttask/framework/scheduler/interface_mock.go
  disttask/framework/scheduler/scheduler.go
  disttask/importinto/BUILD.bazel
  disttask/importinto/dispatcher.go
  disttask/importinto/job.go
  disttask/importinto/proto.go
  disttask/importinto/scheduler.go
  disttask/importinto/subtask_executor.go
  disttask/importinto/wrapper.go
  executor/import_into.go
  executor/import_into_test.go
  executor/importer/import.go
  executor/importer/import_test.go
  executor/importer/job.go
  executor/importer/table_import.go
  tests/realtikvtest/importintotest/BUILD.bazel
  tests/realtikvtest/importintotest/import_into_test.go
  tests/realtikvtest/importintotest/job_test.go
  tests/realtikvtest/importintotest/util_test.go
Labels: size/XL, release-note-none, approved, lgtm

#44583 br: fix checksum incomplete when context is done
  br/pkg/checksum/executor.go
  br/pkg/checksum/executor_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#44451 calibrate: refactor metrics error
  executor/calibrate_resource.go
  executor/calibrate_resource_test.go
Labels: size/M, release-note-none, approved, lgtm

#44474 executor: impl runaway watch check
  DEPS.bzl
  ddl/tests/resourcegroup/resource_group_test.go
  domain/domain.go
  domain/resourcegroup/BUILD.bazel
  domain/resourcegroup/runaway.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/adapter.go
  go.mod
  go.sum
  session/session.go
  store/copr/coprocessor.go
  util/dbterror/exeerrors/errors.go
Labels: size/L, release-note-none, approved, lgtm

#44731 import into: add precheck when total file size is 0 & enhance how we check task finish
  disttask/importinto/dispatcher.go
  executor/import_into.go
  executor/importer/precheck.go
  tests/realtikvtest/importintotest/precheck_test.go
Labels: size/M, release-note-none, approved, lgtm

#44683 br: hide_encryption_scope
  br/pkg/storage/azblob.go
Labels: size/XS, release-note-none, approved, lgtm

#44732 *: output non-passed test cases
  .bazelrc
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#44746 metrics: add max query duration per resource group metrics
  metrics/grafana/tidb_resource_control.json
  metrics/server.go
  metrics/session.go
  server/conn.go
  session/session.go
Labels: size/L, release-note-none, approved, lgtm

#44744 Revert "parser: Update ServerVersion to 8.0.11"
  parser/mysql/const.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#44741 sessionctx: encode hypo indexes and tiflash replicas into session states
  server/driver_tidb.go
  sessionctx/sessionstates/BUILD.bazel
  sessionctx/sessionstates/session_states.go
  sessionctx/sessionstates/session_states_test.go
  sessionctx/variable/session.go
Labels: size/M, release-note-none, approved, lgtm

#44749 import into: change max pool size to num-cpu
  disttask/importinto/scheduler.go
  executor/importer/import.go
  executor/importer/import_test.go
Labels: size/S, release-note-none, approved, lgtm

#44654 domain: record runaway and quarantine query
  domain/domain.go
  domain/resourcegroup/runaway.go
  executor/infoschema_cluster_table_test.go
  server/testdata/optimizer_suite_out.json
  session/bootstrap.go
Labels: size/XL, release-note-none, approved, lgtm

#44750 import into: exit ImportMode after import step
  disttask/importinto/dispatcher.go
  disttask/importinto/subtask_executor.go
  executor/importer/table_import.go
  tests/realtikvtest/importintotest/import_into_test.go
Labels: size/M, release-note-none, approved, lgtm

#44763 makefile: support rbe for bazel prepare in ci
  Makefile
  tools/check/check-bazel-prepare-rbe.sh
Labels: size/M, release-note-none, approved, lgtm

#44643 executor: add CTEProducer that shared by all CTEExec
  executor/builder.go
  executor/cte.go
  executor/cte_test.go
Labels: size/XXL, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44688 executor: improve code for `hasExtralPidCol` function
  executor/distsql.go
  executor/index_merge_reader.go
Labels: size/L, release-note-none, approved, lgtm

#44752 *: remove refs to deprecated io/ioutil
  br/pkg/lightning/web/res_vfsdata.go
  build/linter/gosec/analysis.go
  build/linter/util/util.go
  domain/plan_replayer.go
  executor/analyze_test.go
  parser/goyacc/format_yacc.go
  parser/goyacc/main.go
  session/bootstrap.go
  util/security.go
  util/tiflashcompute/topo_fetcher.go
  util/watcher/watcher.go
  util/watcher/watcher_test.go
Labels: size/M, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#44791 executor: support remain time for show analyze
  executor/BUILD.bazel
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  executor/test/analyzetest/analyze_test.go
  infoschema/tables.go
  planner/core/planbuilder.go
Labels: size/L, release-note-none, approved, lgtm

#44789 test: fix data race in resouce control interceptor initialization
  domain/domain.go
  tidb-server/main.go
Labels: size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-7.2

#42433 ddl: fix truncate partition for global index
  ddl/cancel_test.go
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/partition.go
  ddl/partition_test.go
  ddl/rollingback.go
  parser/model/ddl.go
  parser/model/model.go
  table/tables/partition.go
Labels: status/LGT1, size/XXL, release-note-none, ok-to-test, approved, lgtm

#44520 planner: enhance projection explain-info when simple column projected again with a new unique-id | tidb-test=pr/2152
  cmd/explaintest/r/agg_predicate_pushdown.result
  cmd/explaintest/r/collation_agg_func_disabled.result
  cmd/explaintest/r/collation_agg_func_enabled.result
  cmd/explaintest/r/cte.result
  cmd/explaintest/r/explain.result
  cmd/explaintest/r/explain_complex.result
  cmd/explaintest/r/explain_complex_stats.result
  cmd/explaintest/r/explain_cte.result
  cmd/explaintest/r/explain_easy.result
  cmd/explaintest/r/explain_generate_column_substitute.result
  cmd/explaintest/r/generated_columns.result
  cmd/explaintest/r/index_merge.result
  cmd/explaintest/r/select.result
  cmd/explaintest/r/tpch.result
  cmd/explaintest/r/window_function.result
  executor/test/issuetest/executor_issue_test.go
  executor/testdata/agg_suite_out.json
  executor/testdata/executor_suite_out.json
  executor/testdata/point_get_suite_out.json
  expression/explain.go
  planner/cascades/testdata/integration_suite_out.json
  planner/cascades/testdata/stringer_suite_out.json
  planner/cascades/testdata/transformation_rules_suite_out.json
  planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  planner/core/casetest/testdata/derive_topn_from_window_out.json
  planner/core/casetest/testdata/enforce_mpp_suite_out.json
  planner/core/casetest/testdata/integration_suite_out.json
  planner/core/casetest/testdata/join_reorder_suite_out.json
  planner/core/casetest/testdata/ordered_result_mode_suite_out.json
  planner/core/casetest/testdata/partition_pruner_out.json
  planner/core/casetest/testdata/stats_suite_out.json
  planner/core/casetest/testdata/window_push_down_suite_out.json
  planner/core/integration_test.go
Labels: release-note, size/XXL, approved, lgtm

#44653 planner, sessionctx: skip wide type columns such as JSON when collecting statistics
  executor/set_test.go
  executor/test/analyzetest/analyze_test.go
  planner/core/planbuilder.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil.go
Labels: size/L, release-note-none, approved, lgtm

#44743 *: fix 'duplicate entry' error when using br to restore AUTO_ID_CACHE=1 tables
  br/pkg/backup/client.go
  ddl/db_integration_test.go
  executor/show.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#44811 config: add in-mem-slow-query-topn-num and in-mem-slow-query-recent-num
  config/config.go
  config/config.toml.example
  domain/domain.go
Labels: size/S, release-note-none, approved, lgtm

#44796 *: support coverage for with-real-tikv
  Makefile
  build/jenkins_collect_coverage.sh
Labels: size/M, release-note-none, approved, lgtm

#44813 lightning: disable pre-deduplication test after we disable the code part (#44812)
  br/tests/lightning_duplicate_detection_new/run.sh
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#43694 *: use a new algorithm to improve the speed of admin check table/index
  executor/BUILD.bazel
  executor/builder.go
  executor/executor.go
  executor/executor_test.go
  executor/test/admintest/BUILD.bazel
  executor/test/admintest/admin_test.go
  resourcemanager/util/util.go
  server/tidb_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  tests/realtikvtest/brietest/binlog_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#44754 util: fix index out of range error when using the copStat twice
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: size/M, release-note-none, approved, lgtm
