Repository pingcap/tidb, pull requests merged in 2023-08, with the labels that each got.

#43881 planner, executor: support index merge's order prop push down at the normal way
  cmd/explaintest/r/index_merge.result
  executor/builder.go
  executor/index_merge_reader.go
  executor/mem_reader.go
  executor/test/indexmergereadtest/BUILD.bazel
  executor/test/indexmergereadtest/index_merge_reader_test.go
  planner/core/casetest/physicalplantest/testdata/plan_suite_in.json
  planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/initialize.go
  planner/core/integration_test.go
  planner/core/issuetest/BUILD.bazel
  planner/core/issuetest/main_test.go
  planner/core/issuetest/planner_issue_test.go
  planner/core/issuetest/testdata/issue_test_in.json
  planner/core/issuetest/testdata/issue_test_out.json
  planner/core/physical_plans.go
  planner/core/resolve_indices.go
  planner/core/task.go
Labels: status/LGT1, size/XXL, release-note-none, approved, lgtm

#45701 *: Remove tidb_enable_default_list_partition variable
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/partition.go
  planner/core/casetest/partition/partition_pruner_test.go
  planner/core/partition_pruner_test.go
  session/sessiontest/session_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45465 *: global runaway watch by system table and impl exector for `query watch`
  DEPS.bzl
  ddl/resourcegroup/group.go
  ddl/tests/resourcegroup/resource_group_test.go
  ddl/util/util.go
  domain/BUILD.bazel
  domain/domain.go
  domain/resourcegroup/runaway.go
  domain/runaway.go
  executor/adapter.go
  executor/builder.go
  executor/infoschema_cluster_table_test.go
  executor/infoschema_reader.go
  executor/internal/querywatch/BUILD.bazel
  executor/internal/querywatch/query_watch.go
  executor/internal/querywatch/query_watch_test.go
  executor/simple.go
  go.mod
  go.sum
  infoschema/tables.go
  parser/model/model.go
  planner/core/planbuilder.go
  server/testdata/optimizer_suite_out.json
  session/bootstrap.go
Labels: size/XXL, release-note-none, approved, lgtm

#45707 statistics: kill in time when to mergeGlobalTopN with partition
  statistics/cmsketch.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45559 *: refine tikv/client-go log to print context information(such as conn id) as much as possible
  DEPS.bzl
  go.mod
  go.sum
  util/logutil/BUILD.bazel
  util/logutil/log.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#45651 planner: fix having clause item that ref-ed to grouping set expression shouldn't be pushed down through Expand OP
  planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_in.json
  planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  planner/core/logical_plan_builder.go
  planner/core/rule_predicate_push_down.go
Labels: release-note, size/M, approved, lgtm

#45711 test: remove dup comments
  executor/test/writetest/write_test.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#45460 disttask: refine dispatcher
  disttask/framework/BUILD.bazel
  disttask/framework/dispatcher/BUILD.bazel
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_manager.go
  disttask/framework/dispatcher/dispatcher_test.go
  disttask/framework/dispatcher/main_test.go
  disttask/framework/framework_rollback_test.go
  disttask/framework/framework_test.go
  domain/domain.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#45516 sessionctx: set tiflash pipeline model to true by default
  sessionctx/variable/session.go
  sessionctx/variable/tidb_vars.go
Labels: release-note, size/XS, approved, lgtm

#45361 snap_restore: resend `recover_region` while there are TiKV restarts
  br/pkg/conn/conn.go
  br/pkg/conn/util/util.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/data.go
  br/pkg/utils/storewatch/BUILD.bazel
  br/pkg/utils/storewatch/watching.go
  br/pkg/utils/storewatch/watching_test.go
Labels: release-note, size/XL, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45680 lightning: fix pd http request using old address
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/tikv_mode.go
  br/pkg/lightning/importer/BUILD.bazel
  br/pkg/lightning/importer/checksum_helper.go
  br/pkg/lightning/importer/get_pre_info.go
  br/pkg/lightning/importer/get_pre_info_test.go
  br/pkg/lightning/importer/import.go
  br/pkg/lightning/importer/precheck.go
  br/pkg/lightning/importer/table_import_test.go
  disttask/importinto/dispatcher.go
  executor/importer/BUILD.bazel
  executor/importer/table_import.go
  tests/realtikvtest/importintotest/BUILD.bazel
  tests/realtikvtest/importintotest/import_into_test.go
Labels: release-note, size/L, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45710 *: remove useless code
  expression/BUILD.bazel
  expression/partition_pruner.go
Labels: size/L, release-note-none, skip-issue-check, approved, lgtm

#45549 executor, util: make tmp-storage-quota take affect
  executor/executor.go
  util/chunk/row_container.go
  util/chunk/row_container_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45695 ddl: Fix NULL values in List partitioning.
  ddl/db_partition_test.go
  ddl/partition.go
Labels: size/S, release-note-none, approved, lgtm

#45627 server: refactor http handler
  build/nogo_config.json
  server/BUILD.bazel
  server/conn.go
  server/conn_stmt.go
  server/conn_stmt_test.go
  server/conn_test.go
  server/extract.go
  server/handler/BUILD.bazel
  server/handler/extactorhandler/BUILD.bazel
  server/handler/extactorhandler/extactor.go
  server/handler/extactorhandler/extract_test.go
  server/handler/extactorhandler/main_test.go
  server/handler/optimizor/BUILD.bazel
  server/handler/optimizor/main_test.go
  server/handler/optimizor/optimize_trace.go
  server/handler/optimizor/optimize_trace_test.go
  server/handler/optimizor/plan_replayer.go
  server/handler/optimizor/plan_replayer_test.go
  server/handler/optimizor/statistics_handler.go
  server/handler/optimizor/statistics_handler_test.go
  server/handler/tests/BUILD.bazel
  server/handler/tests/http_handler_serial_test.go
  server/handler/tests/http_handler_test.go
  server/handler/tests/main_test.go
  server/handler/tikv_handler.go
  server/handler/tikvhandler/BUILD.bazel
  server/handler/tikvhandler/tikv_handler.go
  server/handler/util.go
  server/http_handler.go
  server/http_status.go
  server/internal/testserverclient/BUILD.bazel
  server/internal/testserverclient/server_client.go
  server/internal/testutil/testutil.go
  server/mock_conn.go
  server/optimize_trace_test.go
  server/server.go
  server/server_test.go
  server/stat.go
  server/tests/BUILD.bazel
  server/tests/main_test.go
  server/tests/tidb_serial_test.go
  server/tests/tidb_test.go
  server/tidb_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#45663 planner: defer grouping function validation to expression rewriting logic
  planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_in.json
  planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  planner/core/logical_plan_builder.go
Labels: release-note, size/S, approved, lgtm

#45717 lightning: extract region job's accessing data to an interface
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/engine_test.go
  br/pkg/lightning/backend/local/iterator.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/backend/local/region_job.go
Labels: size/XL, release-note-none, approved, lgtm

#45755 statistics: remove useless code in the MergePartTopN2GlobalTopN
  statistics/cmsketch.go
Labels: release-note-none, skip-issue-check, approved, lgtm

#45738 *: upgrade java_tools v12.6
  WORKSPACE
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#45765 statistics: kill in time when to run topnStatsMergeWorker and improve memory
  statistics/merge_worker.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45766 statistics: enable fieldalignment
  build/nogo_config.json
  statistics/analyze.go
  statistics/analyze_jobs.go
  statistics/builder.go
  statistics/cmsketch.go
  statistics/column.go
  statistics/debugtrace.go
  statistics/feedback.go
  statistics/fmsketch.go
  statistics/histogram.go
  statistics/index.go
  statistics/merge_worker.go
  statistics/row_sampler.go
  statistics/sample.go
  statistics/selectivity.go
  statistics/table.go
Labels: size/L, release-note-none, approved, lgtm

#45775 *: Update bazel to prune
  Makefile
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#45778 store,server: Reduce TiFlashFallBack test time
  server/BUILD.bazel
  server/conn_test.go
  store/copr/coprocessor.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#45748 planner, executor: fix batch_point_get with specific table partitions
  executor/batch_point_get.go
  executor/builder.go
  planner/core/casetest/partition/testdata/integration_partition_suite_in.json
  planner/core/casetest/partition/testdata/integration_partition_suite_out.json
  planner/core/find_best_task.go
  planner/core/point_get_plan.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.3

#45608 executor: add test for pr 45284
  executor/index_merge_reader.go
  executor/test/indexmergereadtest/BUILD.bazel
  executor/test/indexmergereadtest/index_merge_reader_test.go
Labels: size/M, release-note-none, approved, lgtm

#45745 planner: fix order-by grouping set expressions resolution may have already been resolved to grouping column already
  planner/core/casetest/enforcempp/enforce_mpp_test.go
  planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_in.json
  planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#45749 lightning: fix lightning TLS.WithHost to access the correct host
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/common/security.go
  br/pkg/lightning/common/security_test.go
  br/tests/lightning_partitioned-table/run.sh
Labels: size/M, release-note-none, approved, lgtm

#45787 tests: remove some TODO comments
  ddl/db_integration_test.go
  ddl/index_modify_test.go
  privilege/privileges/privileges_test.go
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#45772 statstest: make test faster
  statistics/handle/handletest/statstest/BUILD.bazel
  statistics/handle/handletest/statstest/stats_test.go
Labels: size/S, release-note-none, approved, lgtm

#45741 *: upgrade go1.20.7
  Dockerfile
  Dockerfile.enterprise
  WORKSPACE
  build/image/base
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#45799 lightning: revise the structure of table `conflict_error_v1` and add index for faster search
  br/pkg/lightning/errormanager/errormanager.go
Labels: size/XS, release-note-none, approved, lgtm

#45724 br/lightning: add byte reader implementation
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/byte_reader_test.go
Labels: size/XL, release-note-none, approved, lgtm

#45790 disttask: fix dispatcher cancel
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_manager.go
  disttask/framework/dispatcher/main_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45764 infoschema: fix the value of `MaxColumnID` in memDB
  infoschema/BUILD.bazel
  infoschema/infoschema.go
  infoschema/infoschema_test.go
  infoschema/metrics_schema.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45543 Explain: Add new item in scan context
  DEPS.bzl
  go.mod
  go.sum
  util/execdetails/execdetails.go
  util/execdetails/execdetails_test.go
Labels: size/L, release-note-none, approved, lgtm

#45821 distask: refine dispatcher test
  disttask/framework/dispatcher/dispatcher_test.go
Labels: size/S, release-note-none, approved, lgtm

#45723 *: support concurrent write for S3 writer
  br/pkg/mock/storage/storage.go
  br/pkg/storage/azblob.go
  br/pkg/storage/compress.go
  br/pkg/storage/gcs.go
  br/pkg/storage/hdfs.go
  br/pkg/storage/local.go
  br/pkg/storage/local_test.go
  br/pkg/storage/memstore.go
  br/pkg/storage/memstore_test.go
  br/pkg/storage/noop.go
  br/pkg/storage/s3.go
  br/pkg/storage/storage.go
  br/pkg/storage/writer_test.go
  br/pkg/task/stream_test.go
  dumpling/export/writer_util.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#45825 executor: fix load data assertion failure (#43858) | tidb-test=pr/2145
  server/server_test.go
  server/tidb_test.go
  table/tables/tables.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45829 ddl: split series test into new package
  ddl/BUILD.bazel
  ddl/backfilling.go
  ddl/ddl_test.go
  ddl/export_test.go
  ddl/mock.go
  ddl/tests/serial/BUILD.bazel
  ddl/tests/serial/main_test.go
  ddl/tests/serial/serial_test.go
Labels: size/L, release-note-none, approved, lgtm

#45827 statistics: refactor TableCacheItem
  statistics/column.go
  statistics/handle/handletest/handle_test.go
  statistics/histogram.go
  statistics/index.go
  statistics/table.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#45815 ddl: fix create view when met err (#41950)
  ddl/table.go
Labels: size/XS, release-note-none, approved, lgtm

#45807 server: enable revive
  build/nogo_config.json
  server/driver_tidb.go
  server/http_status.go
  server/rpc_server.go
  server/server.go
  server/stat.go
  tidb-server/main.go
Labels: size/M, release-note-none, approved, lgtm

#45834 executor: split ddl test into new package
  executor/BUILD.bazel
  executor/test/ddl/BUILD.bazel
  executor/test/ddl/ddl_test.go
  executor/test/ddl/main_test.go
Labels: size/L, release-note-none, approved, lgtm

#45833 sessiontest: split test into more new packges
  build/nogo_config.json
  session/sessiontest/session_test.go
  session/test/BUILD.bazel
  session/test/common/BUILD.bazel
  session/test/common/common_test.go
  session/test/common/main_test.go
  session/test/main_test.go
  session/test/meta/BUILD.bazel
  session/test/meta/main_test.go
  session/test/meta/session_test.go
  session/test/privileges/BUILD.bazel
  session/test/privileges/main_test.go
  session/test/privileges/privileges_test.go
  session/test/session_test.go
  session/test/txn/BUILD.bazel
  session/test/txn/main_test.go
  session/test/txn/txn_test.go
  session/test/variable/BUILD.bazel
  session/test/variable/main_test.go
  session/test/variable/variable_test.go
  session/test/vars/BUILD.bazel
  session/test/vars/main_test.go
  session/test/vars/vars_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#45836 *: fix TestCaptureWildcardFilter
  bindinfo/capture_test.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#45639 br: make download metadata concurrency adjustable
  br/pkg/restore/client.go
  br/pkg/restore/log_client.go
  br/pkg/restore/log_client_test.go
  br/pkg/restore/stream_metas.go
  br/pkg/restore/stream_metas_test.go
  br/pkg/stream/stream_mgr.go
  br/pkg/task/BUILD.bazel
  br/pkg/task/common.go
  br/pkg/task/stream.go
  br/pkg/task/stream_test.go
Labels: size/L, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45826 executor: fix negative join time costs for index_hash_join
  executor/index_lookup_hash_join.go
  executor/test/jointest/hashjoin/BUILD.bazel
  executor/test/jointest/hashjoin/hash_join_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.1, ok-to-test, approved, lgtm

#45643 br: skip store limit check when scatter regions
  DEPS.bzl
  br/pkg/restore/split/client.go
  go.mod
  go.sum
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#45795 lightning/external: port file.go and necessary codes
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/file.go
  br/pkg/lightning/backend/external/file_test.go
  br/pkg/lightning/backend/external/sharedisk.go
Labels: size/XL, release-note-none, approved, lgtm

#45679 ddl: fix dist ddl reorg table range endKey
  ddl/backfilling.go
  ddl/column.go
  ddl/index.go
  ddl/index_cop.go
  ddl/index_merge_tmp.go
  ddl/partition.go
  ddl/reorg.go
  ddl/scheduler.go
  ddl/tests/serial/serial_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#45849 tests: remove some todo comments
  parser/ast/dml_test.go
Labels: size/XS, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#45831 planner: refactor Join and Limit's ResolveIndices
  planner/core/issuetest/BUILD.bazel
  planner/core/issuetest/planner_issue_test.go
  planner/core/resolve_indices.go
Labels: sig/planner, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45486 lightning: make OpLevelOptional suppress the error of DoChecksum
  br/pkg/lightning/importer/BUILD.bazel
  br/pkg/lightning/importer/table_import.go
  br/tests/lightning_routes/config.toml
  br/tests/lightning_routes/run.sh
  disttask/importinto/subtask_executor.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#45858 *: fix TestStatsLockAndUnlockTables
  statistics/handle/handletest/statslock/stats_lcok_test.go
Labels: size/XS, release-note-none, approved, lgtm

#45854 br: check the unchecked error of initialization of dml iterator in pitr
  br/pkg/task/stream.go
Labels: size/XS, cherry-pick-approved, release-note-none, ok-to-test, approved, lgtm

#45796 br/lightning: add range properties codec and kv/stats reader
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/byte_reader_test.go
  br/pkg/lightning/backend/external/codec.go
  br/pkg/lightning/backend/external/codec_test.go
  br/pkg/lightning/backend/external/file.go
  br/pkg/lightning/backend/external/file_test.go
  br/pkg/lightning/backend/external/kv_reader.go
  br/pkg/lightning/backend/external/sharedisk.go
  br/pkg/lightning/backend/external/stat_reader.go
Labels: size/XL, release-note-none, approved, lgtm

#45861 Makefile: add '-tags intest' for running bench-daily
  Makefile
Labels: size/S, release-note-none, approved, lgtm

#45871 executor: speed up TestOrderByAndLimit
  executor/partition_table_test.go
Labels: size/L, release-note-none, approved, lgtm

#45762 *: support rollback from higher version to 6.5
  meta/meta.go
  session/bootstrap_test.go
Labels: release-note, size/S, cherry-pick-approved, approved, lgtm

#45776 statscache: support multi-level evict
  statistics/column.go
  statistics/handle/cache/internal/lfu/key_set.go
  statistics/handle/cache/internal/lfu/key_set_shard.go
  statistics/handle/cache/internal/lfu/lfu_cache.go
  statistics/handle/cache/internal/lfu/lfu_cache_test.go
  statistics/handle/dump.go
  statistics/handle/update.go
  statistics/handle/updatetest/update_test.go
  statistics/histogram.go
  statistics/index.go
  statistics/integration_test.go
  statistics/table.go
Labels: size/XL, release-note-none, approved, lgtm

#45890 executor: fix hang when index join newInnerworker panic
  executor/index_lookup_join.go
  executor/index_lookup_join_test.go
Labels: type/bug-fix, size/S, release-note-none, ok-to-test, approved, lgtm

#45869 ttl: make ttl manually trigger stable
  ttl/client/command.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3

#45874 lightning/external: add UT and fix a bug
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/byte_reader_test.go
  br/pkg/lightning/backend/external/file.go
  br/pkg/lightning/backend/external/file_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#45891 partition: Revert support batch_point_get for partition table in dynamic mode
  executor/batch_point_get.go
  executor/builder.go
  planner/core/casetest/partition/integration_partition_test.go
  planner/core/casetest/partition/testdata/integration_partition_suite_in.json
  planner/core/casetest/partition/testdata/integration_partition_suite_out.json
  planner/core/casetest/partition/testdata/partition_pruner_out.json
  planner/core/find_best_task.go
  planner/core/point_get_plan.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.3

#45903 parser: reset `lexer.identifierDot` correctly when reusing parsers
  parser/lexer.go
  parser/parser_test.go
Labels: type/bug-fix, component/parser, size/S, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#44972 calibrate: shorten the minimum calibrate duration
  executor/internal/calibrateresource/calibrate_resource.go
  executor/internal/calibrateresource/calibrate_resource_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#45883 *: remove useless code
  session/bootstrap_test.go
  session/main_test.go
Labels: size/XL, release-note-none, skip-issue-check, approved, lgtm

#45857 *: batch write for admin pause
  ddl/tests/adminpause/BUILD.bazel
  ddl/tests/adminpause/ddl_data_generation.go
  ddl/tests/adminpause/pause_cancel_test.go
  ddl/tests/adminpause/pause_resume_test.go
Labels: size/M, release-note-none, approved, lgtm

#45771 executor, planner: add extraProj for indexLookUp with order by + limit + static prune
  executor/partitiontest/BUILD.bazel
  executor/partitiontest/partition_test.go
  planner/core/task.go
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#45923 *: upgrade go1.21
  DEPS.bzl
  Dockerfile
  Dockerfile.enterprise
  WORKSPACE
  build/image/base
  build/image/centos7_jenkins
  cmd/mirror/mirror.go
  executor/executor_pkg_test.go
  go.mod
  go.sum
  tests/globalkilltest/Dockerfile
Labels: size/M, release-note-none, approved, lgtm

#45912 planner: support `no_index_join`, `no_index_hash_join`, `no_index_merge_join` hints (#45633)
  planner/core/exhaust_physical_plans.go
  planner/core/logical_plan_builder.go
  planner/core/logical_plans.go
  planner/core/planbuilder.go
  planner/core/rule_join_reorder_test.go
  planner/core/testdata/join_reorder_suite_in.json
  planner/core/testdata/join_reorder_suite_out.json
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#45930 Makefile: add coverage report for `explaintest`
  Makefile
  cmd/explaintest/run-tests.sh
Labels: size/S, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#45852 br: update code coverage for integration test
  br/tests/_utils/run_br
  br/tests/_utils/run_lightning
  br/tests/_utils/run_lightning_ctl
  br/tests/run.sh
  br/tests/run_group.sh
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#45928 *: replace exp/maps with std/maps
  DEPS.bzl
  go.mod
  go.sum
  util/stmtsummary/v2/BUILD.bazel
  util/stmtsummary/v2/stmtsummary.go
Labels: size/S, release-note-none, approved, lgtm

#45614 lightning: save NEXT_GLOBAL_ROW_ID as uint64 instead of int64
  br/pkg/lightning/backend/tidb/tidb.go
  br/pkg/lightning/backend/tidb/tidb_test.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-1-more-lgtm

#45948 test: set timeout moderate for adminpause
  ddl/tests/adminpause/BUILD.bazel
Labels: release-note-none, skip-issue-check, approved, lgtm

#45900 statistics: Add tests for MergePartTopN2GlobalTopN
  statistics/cmsketch.go
  statistics/cmsketch_test.go
Labels: size/L, release-note-none, affects-6.5, affects-7.1, approved, lgtm

#45789 ddl: support set explicit task type for ddl request
  DEPS.bzl
  br/pkg/lightning/backend/local/duplicate.go
  br/pkg/lightning/backend/local/duplicate_test.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/region_job.go
  br/pkg/lightning/importer/checksum_helper.go
  br/pkg/lightning/importer/import.go
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl_worker.go
  ddl/index.go
  ddl/index_cop.go
  ddl/index_merge_tmp.go
  ddl/ingest/BUILD.bazel
  ddl/ingest/backend_mgr.go
  ddl/partition.go
  go.mod
  go.sum
  kv/option.go
  kv/txn.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#45937 ddl: split disttask scheduler to different stage
  ddl/BUILD.bazel
  ddl/ddl.go
  ddl/scheduler.go
  ddl/stage_ingest_index.go
  ddl/stage_read_index.go
  ddl/stage_scheduler.go
  disttask/framework/framework_rollback_test.go
  disttask/framework/framework_test.go
  disttask/framework/scheduler/register.go
  disttask/framework/scheduler/register_test.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  disttask/importinto/scheduler.go
Labels: size/XXL, release-note-none, approved, lgtm

#44745 resource_control: publish runaway management rfc
  docs/design/2023-06-16-runaway-queries-management.md
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#45947 *: replace CreateMockStoreAndDomain with CreateMockStore
  br/pkg/gluetidb/glue_test.go
  br/pkg/task/show/cmd_test.go
  ddl/column_change_test.go
  ddl/constraint_test.go
  ddl/multi_schema_change_test.go
  ddl/tests/fk/foreign_key_test.go
  executor/simple_test.go
  executor/test/autoidtest/autoid_test.go
  executor/test/passwordtest/password_management_test.go
  planner/core/integration_test.go
  planner/core/plan_stats_test.go
  planner/core/rule_join_reorder_test.go
  ttl/ttlworker/job_manager_integration_test.go
Labels: size/L, release-note-none, skip-issue-check, approved, lgtm

#45960 *: remove useless
  store/helper/helper.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#45718 statistics: reduce memory usage when to MergePartTopN2GlobalTopN
  statistics/cmsketch.go
  statistics/histogram.go
Labels: size/M, release-note-none, approved, lgtm

#45938 planner: log the reason why the sample-rate is chosen when analyzing table
  executor/analyze.go
  executor/analyze_test.go
  executor/builder.go
  executor/infoschema_reader_test.go
  executor/test/analyzetest/analyze_test.go
  planner/core/indexmerge_path_test.go
  planner/core/integration_test.go
  statistics/analyze_jobs.go
  statistics/handle/handletest/analyze/analyze_test.go
  statistics/integration_test.go
Labels: sig/planner, component/statistics, size/L, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45962 planner: increase the maximum number limit of TopN when analyzing tables
  planner/core/planbuilder.go
  statistics/handle/handletest/analyze/analyze_test.go
Labels: sig/planner, component/statistics, size/XS, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45967 *: simple bazel prepare
  Makefile
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#45806 br: set resource group context for br kv requests
  br/pkg/backup/BUILD.bazel
  br/pkg/backup/schema.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/task/BUILD.bazel
  br/pkg/task/backup.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45949 *: get nil in the LFU's onEvict
  planner/core/plan_stats_test.go
  statistics/handle/cache/internal/lfu/lfu_cache.go
  statistics/handle/cache/statscacheinner.go
Labels: size/S, release-note-none, approved, lgtm

#45877 ddl: Exchange partition rollback
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/partition.go
  ddl/placement_policy_test.go
  ddl/rollingback.go
  ddl/tests/fail/fail_db_test.go
  executor/insert_common.go
  executor/write.go
  infoschema/builder.go
  parser/model/model.go
  table/tables/partition_test.go
Labels: size/XXL, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45974 *: remove skip
  executor/infoschema_reader_test.go
  executor/merge_join_test.go
  executor/test/analyzetest/analyze_test.go
  planner/core/prepare_test.go
Labels: size/S, release-note-none, approved, lgtm

#45988 makefile: add help texts
  Makefile
Labels: size/XS, release-note-none, require-LGT1, approved, lgtm

#45989 makefile: set default target
  Makefile
Labels: size/XS, release-note-none, approved, lgtm

#45984 br: enable toomanytests
  build/nogo_config.json
Labels: size/XS, release-note-none, approved, lgtm

#45998 statistics: add bench for MergeGlobalStatsTopNByConcurrency
  statistics/BUILD.bazel
  statistics/cmsketch_bench_test.go
  statistics/cmsketch_test.go
  statistics/handle/handle.go
Labels: size/L, release-note-none, approved, lgtm

#46008 planner: split prepare test
  build/nogo_config.json
  planner/core/BUILD.bazel
  planner/core/tests/prepare/BUILD.bazel
  planner/core/tests/prepare/issue/BUILD.bazel
  planner/core/tests/prepare/issue/issue_test.go
  planner/core/tests/prepare/issue/main_test.go
  planner/core/tests/prepare/main_test.go
  planner/core/tests/prepare/prepare_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#46003 planner: add tests for `handleAnalyzeOptions`
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
  statistics/histogram.go
Labels: size/L, release-note-none, approved, lgtm

#45601 kv request: configurable KV Timeout
  DEPS.bzl
  bindinfo/capture_test.go
  bindinfo/tests/bind_test.go
  distsql/BUILD.bazel
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/adapter.go
  executor/builder.go
  executor/executor_failpoint_test.go
  go.mod
  go.sum
  kv/kv.go
  kv/option.go
  parser/ast/misc.go
  parser/ast/misc_test.go
  parser/hintparser.go
  parser/hintparser.y
  parser/misc.go
  parser/parser_test.go
  planner/core/logical_plan_builder.go
  planner/core/plan_test.go
  planner/optimize.go
  session/test/vars/vars_test.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/varsutil_test.go
  store/copr/coprocessor.go
  store/driver/snap_interceptor_test.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
  store/mockstore/unistore/rpc.go
  tests/realtikvtest/sessiontest/session_fail_test.go
Labels: type/enhancement, type/new-feature, size/XXL, release-note-none, feature/developing, ok-to-test, approved, lgtm

#45994 ddl: split partition test
  build/nogo_config.json
  ddl/BUILD.bazel
  ddl/tests/partition/BUILD.bazel
  ddl/tests/partition/db_partition_test.go
  ddl/tests/partition/main_test.go
Labels: size/L, release-note-none, approved, lgtm

#45802 domain: use dedicated lock for expiredTimeStamp4PC
  domain/BUILD.bazel
  domain/domain.go
  domain/domain_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#46029 linter: enable revive for expression
  build/nogo_config.json
  expression/builtin.go
Labels: size/M, release-note-none, approved, lgtm

#46028 *: set go1.19.12
  WORKSPACE
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#46027 *: set go1.20.7
  WORKSPACE
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#46020 *: use std slices to replace exp/slices
  br/pkg/lightning/backend/local/engine.go
  dumpling/export/BUILD.bazel
  dumpling/export/dump.go
  dumpling/export/util.go
  expression/BUILD.bazel
  expression/builtin.go
  expression/builtin_info.go
  expression/builtin_info_vec.go
  expression/column.go
  expression/explain.go
  planner/core/BUILD.bazel
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/fragment.go
  planner/core/hashcode.go
  planner/core/memtable_predicate_extractor.go
  planner/core/memtable_predicate_extractor_test.go
  planner/core/plan_cache_utils.go
  planner/core/rule_join_reorder.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_simplification.go
  planner/core/stats.go
  planner/core/tiflash_selection_late_materialization.go
Labels: size/M, release-note-none, approved, lgtm

#45814 planner: store the hints of session variable
  planner/core/plan_cache.go
  planner/core/plan_cache_utils.go
  planner/core/point_get_plan.go
  session/test/vars/BUILD.bazel
  session/test/vars/vars_test.go
  sessionctx/stmtctx/BUILD.bazel
  sessionctx/stmtctx/stmtctx.go
  sessionctx/stmtctx/stmtctx_test.go
Labels: sig/planner, epic/plan-cache, size/L, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#45996 statistics: using standard lib slices instead of exp slices
  statistics/BUILD.bazel
  statistics/cmsketch.go
  statistics/cmsketch_test.go
  statistics/feedback.go
  statistics/handle/BUILD.bazel
  statistics/handle/handle.go
  statistics/handle/update.go
  statistics/index.go
  statistics/selectivity_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45993 statistics: improve memory for mergeGlobalStatsTopNByConcurrency
  statistics/cmsketch_bench_test.go
  statistics/handle/handle.go
  statistics/merge_worker.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46044 planner: refactor `getFullAnalyzeColumnsInfo`
  executor/test/analyzetest/analyze_test.go
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
Labels: size/L, release-note-none, skip-issue-check, approved, lgtm

#45945 expression: Fix different behaviors with MySQL when comparing datetime column with numeric constant | tidb-test=pr/2196
  executor/executor_test.go
  expression/builtin_compare.go
Labels: size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, approved, lgtm

#46035 executor: Fix coroutine leak after kill remote connection
  executor/simple.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46052 util: use std/slices to replace exp/slices
  util/collate/BUILD.bazel
  util/collate/collate.go
  util/execdetails/BUILD.bazel
  util/execdetails/execdetails.go
  util/extsort/BUILD.bazel
  util/extsort/disk_sorter.go
  util/extsort/disk_sorter_test.go
  util/extsort/external_sorter_test.go
  util/memory/BUILD.bazel
  util/memory/tracker.go
  util/memoryusagealarm/BUILD.bazel
  util/memoryusagealarm/memoryusagealarm.go
  util/profile/BUILD.bazel
  util/profile/flamegraph.go
  util/ranger/BUILD.bazel
  util/ranger/ranger.go
  util/rowDecoder/BUILD.bazel
  util/rowDecoder/decoder.go
  util/schemacmp/BUILD.bazel
  util/schemacmp/table.go
  util/stmtsummary/BUILD.bazel
  util/stmtsummary/statement_summary.go
  util/stmtsummary/v2/BUILD.bazel
  util/stmtsummary/v2/column.go
  util/stmtsummary/v2/reader.go
  util/stringutil/BUILD.bazel
  util/stringutil/string_util.go
Labels: size/L, release-note-none, approved, lgtm

#45832 executor: fix select sleep killed return expected error
  expression/builtin_miscellaneous_vec.go
  server/conn_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#46076 *: fix ttl unstable test `TestTTLDeleteWithTimeZoneChange`
  ttl/client/command.go
  ttl/ttlworker/job_manager_integration_test.go
Labels: size/XS, release-note-none, approved, lgtm

#46051 expression: make lead and lag function return correct column type
  executor/window_test.go
  expression/aggregation/base_func.go
  expression/aggregation/window_func.go
Labels: size/S, release-note-none, approved, lgtm

#46060 statistics: add reject metrics for LFU cache
  statistics/handle/cache/internal/lfu/lfu_cache.go
  statistics/handle/cache/internal/metrics/metrics.go
Labels: size/XS, release-note-none, approved, lgtm

#46086 expression: enable revive for part
  build/nogo_config.json
  expression/aggregation/agg_to_pb.go
  expression/aggregation/avg.go
  expression/aggregation/base_func.go
  expression/aggregation/bit_and.go
  expression/aggregation/bit_or.go
  expression/aggregation/bit_xor.go
  expression/aggregation/concat.go
  expression/aggregation/count.go
  expression/aggregation/descriptor.go
  expression/aggregation/first_row.go
  expression/aggregation/max_min.go
  expression/aggregation/sum.go
Labels: size/M, release-note-none, approved, lgtm

#46075 disttask: fix owner change flaky test
  disttask/framework/framework_rollback_test.go
  disttask/framework/framework_test.go
Labels: size/L, release-note-none, approved, lgtm

#46091 planner: refactor Join and Limit's ResolveIndices (#45831)
  planner/core/issuetest/planner_issue_test.go
  planner/core/resolve_indices.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#46079 *: use std/slices to replace exp/slices
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/client_test.go
  ddl/ddl.go
  executor/batch_point_get.go
  executor/distsql.go
  executor/index_lookup_join.go
  executor/index_merge_reader.go
  executor/show_placement.go
  executor/test/indexmergereadtest/BUILD.bazel
  executor/test/indexmergereadtest/index_merge_reader_test.go
  infoschema/BUILD.bazel
  infoschema/builder.go
  infoschema/infoschema.go
  infoschema/metrics_schema.go
  infoschema/perfschema/BUILD.bazel
  infoschema/perfschema/tables.go
  infoschema/tables.go
  privilege/privileges/BUILD.bazel
  privilege/privileges/cache.go
  server/handler/optimizor/BUILD.bazel
  server/handler/optimizor/plan_replayer_test.go
  store/gcworker/BUILD.bazel
  store/gcworker/gc_worker.go
  store/mockstore/unistore/tikv/mvcc.go
  store/mockstore/unistore/tikv/util.go
Labels: size/L, release-note-none, approved, lgtm

#46092 planner: DML queries might panic when CTE exists
  planner/core/issuetest/BUILD.bazel
  planner/core/issuetest/planner_issue_test.go
  planner/core/logical_plan_builder.go
Labels: release-note, size/S, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46096 util: remove useless codes
  util/slice/slice.go
  util/slice/slice_test.go
  util/table-filter/BUILD.bazel
  util/table-filter/column_filter.go
  util/table-filter/helper.go
  util/table-filter/table_filter.go
Labels: size/M, release-note-none, approved, lgtm

#44968 *: cherry-pick `tidb_opt_fix_control` and fix 44855 to v6.1.5
  planner/core/exhaust_physical_plans.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/integration_test.go
Labels: size/L, release-note-none, approved, lgtm

#45913 lightning/external: port merge iterators
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/byte_reader_test.go
  br/pkg/lightning/backend/external/file.go
  br/pkg/lightning/backend/external/iter.go
  br/pkg/lightning/backend/external/iter_test.go
  br/pkg/lightning/backend/external/kv_reader.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#46055 ddl: use the correct timezone to encode record for adding index
  ddl/index_cop.go
  ddl/ingest/BUILD.bazel
  ddl/ingest/integration_test.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46042 br/lightning: add kv writer for external backend
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/file.go
  br/pkg/lightning/backend/external/file_test.go
  br/pkg/lightning/backend/external/iter_test.go
  br/pkg/lightning/backend/external/sharedisk.go
  br/pkg/lightning/backend/external/writer.go
  br/pkg/lightning/backend/external/writer_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#45650 util/collate: implement utf8mb4_0900_ai_ci collation | tidb-test=pr/2192
  .gitattributes
  LICENSES/Unicode-DFS-2016-LICENSE
  build/nogo_config.json
  cmd/explaintest/r/collation_misc_enabled.result
  ddl/table_modify_test.go
  executor/test/seqtest/seq_executor_test.go
  expression/builtin_like_test.go
  expression/builtin_string_test.go
  expression/collation_test.go
  expression/test/collation/BUILD.bazel
  expression/test/collation/uca_test.go
  server/tests/tidb_serial_test.go
  util/collate/BUILD.bazel
  util/collate/collate.go
  util/collate/collate_bench_test.go
  util/collate/collate_test.go
  util/collate/ucadata/BUILD.bazel
  util/collate/ucadata/data.go
  util/collate/ucadata/generator/BUILD.bazel
  util/collate/ucadata/generator/allkeys-4.0.0.txt
  util/collate/ucadata/generator/allkeys-9.0.0.txt
  util/collate/ucadata/generator/data.go.tpl
  util/collate/ucadata/generator/magic.go
  util/collate/ucadata/generator/main.go
  util/collate/ucadata/unicode_0900_ai_ci_data_generated.go
  util/collate/ucadata/unicode_0900_ai_ci_data_test.go
  util/collate/ucadata/unicode_ci_data_generated.go
  util/collate/ucadata/unicode_ci_data_original_test.go
  util/collate/ucadata/unicode_ci_data_test.go
  util/collate/ucaimpl/BUILD.bazel
  util/collate/ucaimpl/main.go
  util/collate/ucaimpl/unicode_ci.go.tpl
  util/collate/unicode_0400_ci_generated.go
  util/collate/unicode_0400_ci_impl.go
  util/collate/unicode_0900_ai_ci_generated.go
  util/collate/unicode_0900_ai_ci_impl.go
Labels: release-note, size/XXL, approved, lgtm

#46107 *: use std/slices to replace exp/slices
  types/BUILD.bazel
  types/json_binary.go
  types/json_binary_functions.go
Labels: size/S, release-note-none, approved, lgtm

#46090 statistics: support reject for LFU cache
  statistics/handle/cache/internal/inner.go
  statistics/handle/cache/internal/lfu/BUILD.bazel
  statistics/handle/cache/internal/lfu/key_set.go
  statistics/handle/cache/internal/lfu/lfu_cache.go
  statistics/handle/cache/internal/lfu/lfu_cache_test.go
  statistics/handle/cache/internal/mapcache/map_cache.go
  statistics/handle/cache/statscacheinner.go
Labels: size/L, release-note-none, approved, lgtm

#45824 planner: don't force set the Column in physical proj elimination | tidb-test=pr/2199
  planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  planner/core/rule_eliminate_projection.go
  planner/core/stats.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46129 expression: Fix different behaviors with MySQL when comparing datetime column with numeric constant | tidb-test=pr/2198
  expression/builtin_compare.go
  planner/core/expression_rewriter_test.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#46040 br: configure the httpclient for external storage
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/azblob.go
  br/pkg/storage/storage.go
  br/pkg/storage/storage_test.go
  br/pkg/task/stream.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46137 *: bump client-go to fix #44822
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#46102 planner: fix index heuristic rule will prune out hint preferred tiflash path
  planner/core/casetest/enforcempp/enforce_mpp_test.go
  planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_in.json
  planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  planner/core/stats.go
Labels: release-note, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46150 planner: avoid create new stats cache
  planner/core/explain.go
Labels: size/XS, release-note-none, approved, lgtm

#46142 expression: Fix different behaviors with MySQL when comparing datetime column with numeric constant | tidb-test=pr/2200 (#45945)
  expression/builtin_compare.go
  planner/core/expression_rewriter_test.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#46128 *: use std/slices to replace exp/slices
  ddl/index.go
  executor/table_reader.go
  kv/BUILD.bazel
  kv/kv.go
  store/mockstore/unistore/util/lockwaiter/BUILD.bazel
  store/mockstore/unistore/util/lockwaiter/lockwaiter.go
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/timer_sync.go
Labels: size/M, release-note-none, approved, lgtm

#45887 *: support `/upgrade/start` and `upgrade/finish` APIs
  server/handler/BUILD.bazel
  server/handler/tests/BUILD.bazel
  server/handler/tests/http_handler_test.go
  server/handler/upgrade_handler.go
  server/http_status.go
  session/bootstrap.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#46152 tests: make test TestRuntimeHintsInEvolveTasks stable
  planner/optimize.go
Labels: size/XS, release-note-none, approved, lgtm

#46123 disttask: add server info for dispatcher log
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_manager.go
  disttask/framework/dispatcher/dispatcher_test.go
  domain/domain.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#46156 ddl, session: using table ID instead of partition ID when calling `SplitRegions`
  ddl/split_region.go
  session/session.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46154 expression: Fix different behaviors with MySQL when comparing datetime column with numeric constant
  expression/builtin_compare.go
  planner/core/expression_rewriter_test.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#46106 disttask: fix run one step SubtaskExecutor twice
  disttask/framework/framework_test.go
  disttask/framework/scheduler/interface.go
  disttask/framework/scheduler/interface_mock.go
  disttask/framework/scheduler/manager.go
  disttask/framework/scheduler/manager_test.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  disttask/framework/storage/table_test.go
  disttask/framework/storage/task_table.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#46178 *: remove useless param
  planner/core/plan_cache_param.go
  planner/core/plan_cache_param_test.go
  planner/optimize.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#46171 lightning: fix incorrect _tidb_rowid allocator value after import for table with AUTO_ID_CACHE=1
  br/pkg/lightning/backend/kv/allocator.go
  br/pkg/lightning/backend/kv/base.go
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/common/common.go
  br/pkg/lightning/common/common_test.go
  br/pkg/lightning/importer/meta_manager_test.go
  br/pkg/lightning/importer/table_import.go
  br/pkg/lightning/importer/tidb.go
  br/tests/lightning_csv/data/auto_incr_id-schema-create.sql
  br/tests/lightning_csv/data/auto_incr_id.clustered-schema.sql
  br/tests/lightning_csv/data/auto_incr_id.clustered.0.csv
  br/tests/lightning_csv/data/auto_incr_id.clustered_cache1-schema.sql
  br/tests/lightning_csv/data/auto_incr_id.clustered_cache1.0.csv
  br/tests/lightning_csv/data/auto_incr_id.nonclustered-schema.sql
  br/tests/lightning_csv/data/auto_incr_id.nonclustered.0.csv
  br/tests/lightning_csv/data/auto_incr_id.nonclustered_cache1-schema.sql
  br/tests/lightning_csv/data/auto_incr_id.nonclustered_cache1.0.csv
  br/tests/lightning_csv/data/no_auto_incr_id-schema-create.sql
  br/tests/lightning_csv/data/no_auto_incr_id.clustered-schema.sql
  br/tests/lightning_csv/data/no_auto_incr_id.clustered.0.csv
  br/tests/lightning_csv/data/no_auto_incr_id.clustered_cache1-schema.sql
  br/tests/lightning_csv/data/no_auto_incr_id.clustered_cache1.0.csv
  br/tests/lightning_csv/data/no_auto_incr_id.no_pk-schema.sql
  br/tests/lightning_csv/data/no_auto_incr_id.no_pk.0.csv
  br/tests/lightning_csv/data/no_auto_incr_id.no_pk_cache1-schema.sql
  br/tests/lightning_csv/data/no_auto_incr_id.no_pk_cache1.0.csv
  br/tests/lightning_csv/data/no_auto_incr_id.nonclustered-schema.sql
  br/tests/lightning_csv/data/no_auto_incr_id.nonclustered.0.csv
  br/tests/lightning_csv/data/no_auto_incr_id.nonclustered_cache1-schema.sql
  br/tests/lightning_csv/data/no_auto_incr_id.nonclustered_cache1.0.csv
  br/tests/lightning_csv/run.sh
  br/tests/lightning_tool_1472/run.sh
Labels: size/XL, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46153 planner: add tests for `getFullAnalyzeColumnsInfo`
  executor/analyze.go
  executor/infoschema_cluster_table_test.go
  planner/core/common_plans.go
  planner/core/planbuilder.go
  planner/core/planbuilder_test.go
  statistics/analyze.go
  statistics/table.go
Labels: size/L, release-note-none, skip-issue-check, approved, lgtm

#45848 planner: grouping function should be recreated with args, retType and metadata
  expression/builtin_grouping.go
  expression/expr_to_pb_test.go
  expression/scalar_function.go
  expression/util.go
  planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_in.json
  planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  planner/core/expression_rewriter.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#46172 br: update new_collation related logs
  br/pkg/lightning/importer/import.go
  br/pkg/restore/client.go
  br/pkg/task/backup.go
  br/pkg/utils/db.go
  br/tests/br_check_new_collocation_enable/run.sh
  br/tests/br_s3/run.sh
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#45794 br: adjust default tidb global config for br
  br/pkg/task/restore.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46126 ddl: Exchange part schema load fix
  ddl/ddl_worker.go
  ddl/partition.go
  infoschema/builder.go
Labels: size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#46078 br: avoid possible infinite loop checking tikv gc and scheduling status
  br/pkg/task/backup_ebs.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#46189 store/mockstore/mockcopr: cleanup unused code
  store/mockstore/mockcopr/aggregate.go
  store/mockstore/mockcopr/executor.go
Labels: size/M, release-note-none, approved, lgtm
