Repository pingcap/tidb, pull requests merged in 2023-01, with the labels that each got.

#40167 session: make plan replayer capture support prepared stmt
  domain/BUILD.bazel
  domain/plan_replayer.go
  domain/plan_replayer_dump.go
  executor/adapter.go
  executor/builder.go
  executor/compiler.go
  executor/executor_test.go
  executor/plan_replayer.go
  server/plan_replayer.go
  util/replayer/replayer.go
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#40267 expression: implement `regexp_replace` function pushdown
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40242 planner: supply more test for binding from history
  infoschema/cluster_tables_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/sql-plan-management, size/L, release-note-none

#40268 ttl: disable ttl job when recover/flashback table/database/cluster
  ddl/cluster.go
  ddl/cluster_test.go
  ddl/ddl_api.go
  ddl/schema.go
  ddl/serial_test.go
  ddl/table.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#40270 admin: impl admin check index for mv index
  executor/admin_test.go
  executor/builder.go
  executor/distsql.go
  executor/executor.go
  parser/types/field_type.go
  table/tables/index.go
  table/tables/mutation_checker.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40256 planner: refactor plan-cache UseCache flag
  executor/executor_test.go
  parser/ast/misc.go
  planner/core/plan_cache.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
  planner/core/prepare_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#40277 test: fix data race in cast as array
  expression/builtin_cast.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#40195 planner: support converting `json_overlaps/contains` to IndexMerge to access MVIndex
  planner/core/indexmerge_path.go
  planner/core/testdata/index_merge_suite_in.json
  planner/core/testdata/index_merge_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#40193 autoid_service: add unit test for the package
  autoid_service/BUILD.bazel
  autoid_service/autoid.go
  autoid_service/autoid_test.go
  ddl/BUILD.bazel
  ddl/db_integration_test.go
  executor/autoidtest/BUILD.bazel
  executor/autoidtest/autoid_test.go
  executor/issuetest/BUILD.bazel
  executor/issuetest/executor_issue_test.go
  executor/showtest/BUILD.bazel
  executor/showtest/show_test.go
  meta/autoid/BUILD.bazel
  meta/autoid/autoid.go
  session/BUILD.bazel
  session/bench_test.go
  sessionctx/binloginfo/BUILD.bazel
  sessionctx/binloginfo/binloginfo_test.go
  telemetry/BUILD.bazel
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, component/test, status/can-merge, size/L, release-note-none, skip-issue-check

#39847 executor: special handling is required when an "auto id out of range" error occurs in `insert ignore into ... on on duplicate ...`
  executor/insert_common.go
  executor/writetest/write_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#40271 metrics: add metrics for plan replayer and historical stats
  domain/historical_stats.go
  domain/plan_replayer.go
  domain/plan_replayer_dump.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/stats.go
  statistics/handle/dump.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, skip-issue-check

#40283 sysvar: fix circular dependency in rebuildSysVarCache leading to deadlock
  domain/domain.go
  session/session.go
  session/session_test/session_test.go
  sessionctx/variable/mock_globalaccessor.go
  sessionctx/variable/mock_globalaccessor_test.go
  sessionctx/variable/variable.go
  sessionctx/variable/varsutil.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40291 ddl: fix flaky test TestGlobalVariablesOnFlashback
  ddl/cluster_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40284 server, tidb-server: kill auto analyze when gracefully shutting down
  server/server.go
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40280 planner: better coordination between the ignore_plan_cache() binding and plan-cache
  planner/core/plan_cache.go
  planner/core/plan_cache_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#40008 store/copr: fix build batchCop in disaggregated tiflash mode
  store/copr/BUILD.bazel
  store/copr/batch_coprocessor.go
  store/copr/batch_request_sender.go
  store/copr/mpp.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40229 ddl: persist index info after changing backfill state
  ddl/index.go
  ddl/multi_schema_change_test.go
  executor/batch_checker.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5

#40031 doc: update flashback doc
  docs/design/2022-09-28-flashback-to-timestamp.md
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39982 ddl, parser: Implement the write-reorg state split task related functions, and the related interfaces of backfill worker
  ddl/backfilling.go
  ddl/column.go
  ddl/ddl.go
  ddl/ddl_worker.go
  ddl/ddl_workerpool_test.go
  ddl/index.go
  ddl/index_merge_tmp.go
  ddl/ingest/engine_mgr.go
  ddl/job_table.go
  ddl/job_table_test.go
  ddl/partition.go
  ddl/reorg.go
  executor/BUILD.bazel
  executor/ddl_test.go
  parser/model/ddl.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#40262 planner: support pushing down predicates to memory tables in prepared mode
  expression/expression.go
  planner/core/memtable_predicate_extractor.go
  planner/core/memtable_predicate_extractor_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#40290 planner: open the partial order prop push down for LIST PARTITION
  executor/partition_table_test.go
  planner/core/task.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40307 br: fix bootstrap domain
  br/pkg/gluetidb/glue.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40166 br: add errch buf for checkpoint
  br/pkg/checkpoint/BUILD.bazel
  br/pkg/checkpoint/checkpoint.go
  br/pkg/task/backup.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/br, needs-cherry-pick-release-6.5

#40316 planner: open the partial order prop push down for LIST PARTITION (#40290)
  executor/partition_table_test.go
  planner/core/task.go
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#40312 planner: skip plan-cache for prepared queries with `INT in (Decimals...)`
  planner/core/expression_rewriter.go
  planner/core/plan_cache_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#40310 statistics: support historical stats dump partition table
  domain/historical_stats.go
  executor/analyze.go
  executor/analyze_global_stats.go
  executor/analyze_worker.go
  executor/historical_stats_test.go
  statistics/handle/dump.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, skip-issue-check

#40332 expression: enlarge timeout for test
  expression/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#39886 resourcemanger: add cpu scheduler
  resourcemanager/BUILD.bazel
  resourcemanager/rm.go
  resourcemanager/schedule.go
  resourcemanager/scheduler/BUILD.bazel
  resourcemanager/scheduler/cpu_scheduler.go
  resourcemanager/scheduler/scheduler.go
  resourcemanager/util/BUILD.bazel
  resourcemanager/util/mock_gpool.go
  resourcemanager/util/shard_pool_map.go
  resourcemanager/util/shard_pool_map_test.go
  resourcemanager/util/util.go
  tidb-server/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#40288 util: use go-deadlock to find deadlock
  Makefile
  domain/BUILD.bazel
  domain/sysvar_cache.go
  executor/autoidtest/BUILD.bazel
  go.mod
  go.sum
  server/BUILD.bazel
  server/tidb_library_test.go
  session/BUILD.bazel
  session/session.go
  util/syncutil/BUILD.bazel
  util/syncutil/mutex_deadlock.go
  util/syncutil/mutex_sync.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40336 ttl: don't schedule ttl job when EnableTTLJob is off
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/job_manager_integration_test.go
  ttl/ttlworker/job_manager_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.5

#39884 *: add warnings to slow log and slow query table
  executor/adapter.go
  executor/main_test.go
  executor/slow_query.go
  executor/slow_query_sql_test.go
  executor/slow_query_test.go
  executor/testdata/slow_query_suite_in.json
  executor/testdata/slow_query_suite_out.json
  infoschema/tables.go
  infoschema/tables_test.go
  sessionctx/variable/session.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40121 planner,infoschema,executor: Add tiflash fine grained shuffle support for hash join and aggregation
  executor/memtable_reader.go
  executor/set_config.go
  infoschema/BUILD.bazel
  infoschema/tables.go
  planner/core/BUILD.bazel
  planner/core/explain.go
  planner/core/integration_test.go
  planner/core/optimizer.go
  planner/core/optimizer_test.go
  planner/core/plan_to_pb.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  planner/core/testdata/window_push_down_suite_out.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#40198 ddl: fill in original default for extra writable columns in batch insert
  ddl/column_test.go
  executor/batch_checker.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#40357 ddltest: update goleak and enable race
  cmd/ddltest/BUILD.bazel
  cmd/ddltest/main_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40347 planner: let the planner can select IndexMerge on MVIndex without hint
  planner/core/indexmerge_path.go
  planner/core/indexmerge_path_test.go
  planner/core/testdata/index_merge_suite_in.json
  planner/core/testdata/index_merge_suite_out.json
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#40359 makefile: enable deadlock in the with-real-tikv
  Makefile
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#40343 planner: support more types to use IndexMerge to access MVIndex
  expression/builtin_cast.go
  expression/util.go
  planner/core/indexmerge_path.go
  planner/core/indexmerge_path_test.go
  planner/core/testdata/index_merge_suite_in.json
  planner/core/testdata/index_merge_suite_out.json
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#40141 log-backup: should set default value `gc.ratio-threshold` after pitr finished
  br/pkg/task/stream.go
Labels: status/LGT2, release-note, status/can-merge, size/XS, needs-cherry-pick-release-6.5

#40334 domain: let plan replayer dump support recording stats mem status
  domain/plan_replayer_dump.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#39868 docs: add TiDB Forum link and adjust link order
  README.md
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#40304 ddl: support online create multi-valued index
  ddl/BUILD.bazel
  ddl/index.go
  ddl/mv_index_test.go
  table/index.go
  table/tables/index.go
  tests/realtikvtest/addindextest/integration_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#39714 *: remove the support of the `amending transaction`
  ddl/column_modify_test.go
  ddl/db_test.go
  ddl/index_merge_tmp_test.go
  ddl/table_modify_test.go
  domain/schema_validator.go
  domain/schema_validator_test.go
  expression/integration_test.go
  session/BUILD.bazel
  session/schema_amender.go
  session/schema_amender_test.go
  session/schema_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessionctx/variable/varsutil_test.go
  store/driver/txn/txn_driver.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, release-note, status/can-merge, compatibility-breaker, size/XXL

#40354 executor: reset the related session vars for both INSERT and REPLACE
  executor/executor.go
  executor/insert.go
  executor/writetest/write_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40238 *: fix static pruning partition table in disaggregated tiflash mode
  domain/domain.go
  executor/mpp_gather.go
  executor/tiflashtest/tiflash_test.go
  kv/mpp.go
  planner/core/find_best_task.go
  planner/core/fragment.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40340 statistics: use histogram buckets bounds to enhance string match functions estimation
  statistics/selectivity.go
  statistics/table.go
  statistics/testdata/integration_suite_out.json
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#40367 planner: fix typo
  planner/core/exhaust_physical_plans.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check, ok-to-test

#40350 session: fix data race in the LazyTxn.LockKeys
  DEPS.bzl
  go.mod
  go.sum
  kv/interface_mock_test.go
  kv/kv.go
  session/txn.go
  sessionctx/BUILD.bazel
  sessiontxn/BUILD.bazel
  store/driver/txn/txn_driver.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40398 expression: cherry-pick `regexp_replace` function pushdown
  expression/expr_to_pb_test.go
  expression/expression.go
  planner/core/integration_test.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#40402 planner: fix panic during starting tidb-server if creating global binding for partition table
  executor/analyzetest/analyze_test.go
  planner/core/collect_column_stats_usage_test.go
  planner/core/integration_partition_test.go
  planner/core/logical_plan_builder.go
  statistics/handle/handle.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5

#40407 planner: cherry pick 4a8006c
  executor/analyzetest/analyze_test.go
  planner/core/collect_column_stats_usage_test.go
  planner/core/integration_partition_test.go
  planner/core/logical_plan_builder.go
  statistics/handle/handle.go
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none, skip-issue-check

#40409 session: fix deadlock when init domain failed
  domain/domain.go
  domain/domain_test.go
  session/tidb.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40369 executor: support insert ignore/duplicate replace into with unique multi-valued index
  executor/batch_checker.go
  executor/insert_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40124 br: support reset_tiflash after ebs restoration
  br/pkg/restore/client.go
  br/pkg/restore/tiflashrec/tiflash_recorder.go
  br/pkg/restore/tiflashrec/tiflash_recorder_test.go
  br/pkg/task/restore_data.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40313 planner, executor: split the range for unsigned pk of partition table when limit is used
  executor/partition_table_test.go
  planner/core/task.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.5

#40393 planner: Add min max subquery for partition pruning
  bindinfo/session_handle_test.go
  expression/util.go
  parser/ast/misc.go
  planner/core/logical_plan_builder.go
  planner/core/physical_plan_test.go
  planner/core/plan.go
  planner/core/rule_predicate_push_down.go
  planner/optimize.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note-none

#40429 planner: add nil check when handling empty charset in `setUnionFlen`
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/plan_cost_ver2_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40089 planner: support keep_order and no_keep_order hint
  parser/ast/dml.go
  planner/core/find_best_task.go
  planner/core/integration_test.go
  planner/core/logical_plan_builder.go
  planner/core/planbuilder.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
  planner/util/path.go
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#40436 *: Adding tidb_enable_plan_cache_with_dynamic_prune_mode
  executor/set_test.go
  planner/core/plan_cacheable_checker.go
  planner/core/prepare_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#40423 nt-txn: support complex aliased join and concurrency runner |tidb-test=release-6.5
  parser/ast/dml.go
  server/driver_tidb.go
  server/driver_tidb_test.go
  session/nontransactional.go
  session/nontransactional_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, cherry-pick-approved, size/XXL, release-note-none

#40360 planner: unify the behavior of prepare/execute limit to mysql
  executor/seqtest/prepared_test.go
  planner/core/logical_plan_builder.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#40410 gpool: register gpool into resource manager
  resourcemanager/schedule.go
  resourcemanager/scheduler/BUILD.bazel
  resourcemanager/scheduler/cpu_scheduler.go
  resourcemanager/scheduler/scheduler.go
  resourcemanager/util/BUILD.bazel
  resourcemanager/util/mock_gpool.go
  resourcemanager/util/util.go
  util/gpool/BUILD.bazel
  util/gpool/gpool.go
  util/gpool/spmc/BUILD.bazel
  util/gpool/spmc/spmcpool.go
  util/gpool/spmc/spmcpool_benchmark_test.go
  util/gpool/spmc/spmcpool_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40346 ttl: Add `CommandClient` to trigger TTL job manually
  domain/domain.go
  ttl/client/BUILD.bazel
  ttl/client/command.go
  ttl/client/command_test.go
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/job_manager_integration_test.go
  ttl/ttlworker/job_manager_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#40444 ttl: make ttl's group in granfana collapse by default
  metrics/grafana/tidb.json
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, skip-issue-check

#39986 br: reset cloud_admin and root after ebs restoration
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/systable_restore.go
  br/pkg/restore/systable_restore_test.go
  br/pkg/task/restore.go
  br/pkg/task/restore_data.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40387 ddl: support displaying sub-job reorg type in admin show ddl
  ddl/multi_schema_change.go
  ddl/multi_schema_change_test.go
  executor/executor.go
  executor/infoschema_reader_test.go
  parser/model/ddl.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#40426 planner: support use IndexMerge to access composite MVIndex
  planner/core/indexmerge_path.go
  planner/core/indexmerge_path_test.go
  planner/core/testdata/index_merge_suite_in.json
  planner/core/testdata/index_merge_suite_out.json
Labels: type/enhancement, status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#40321 planner: add test cases for keep_order and no_keep_order hints
  planner/core/integration_test.go
  planner/core/testdata/integration_suite_in.json
  planner/core/testdata/integration_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none, epic/hint

#39011 statistics: change the upper bound of the out-of-range estimation to modify count | tidb-test=pr/2012
  statistics/column.go
  statistics/handle/update.go
  statistics/histogram.go
  statistics/index.go
  statistics/selectivity_test.go
  statistics/table.go
  statistics/testdata/stats_suite_in.json
  statistics/testdata/stats_suite_out.json
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40324 docs: update CI build badages
  README.md
  ci.md
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40446 planner: update the non-prep cacheable checker
  planner/core/plan_cache_test.go
  planner/core/plan_cacheable_checker.go
  planner/core/plan_cost_ver2_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#40448 br: reset cloud_admin and root after ebs restoration (#39986)
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/systable_restore.go
  br/pkg/restore/systable_restore_test.go
  br/pkg/task/restore.go
  br/pkg/task/restore_data.go
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#40447 br: support reset_tiflash after ebs restoration (#40124)
  br/pkg/restore/client.go
  br/pkg/restore/tiflashrec/tiflash_recorder.go
  br/pkg/restore/tiflashrec/tiflash_recorder_test.go
  br/pkg/task/restore_data.go
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#38383 expression, planner: exclude concat_ws from aggresive folding constant
  expression/constant_fold.go
  expression/constant_test.go
  planner/core/integration_test.go
Labels: status/LGT2, release-note, status/can-merge, size/S

#40269 keyspace: introduce keyspace conf and etcd path
  DEPS.bzl
  build/nogo_config.json
  config/config.go
  config/config_test.go
  domain/BUILD.bazel
  domain/domain.go
  go.mod
  go.sum
  keyspace/BUILD.bazel
  keyspace/keyspace.go
  kv/interface_mock_test.go
  kv/kv.go
  server/http_status.go
  store/BUILD.bazel
  store/copr/coprocessor_test.go
  store/driver/tikv_driver.go
  store/helper/helper.go
  store/mockstore/mockstorage/storage.go
  store/store.go
  tidb-server/main.go
  util/etcd/BUILD.bazel
  util/etcd/etcd.go
  util/etcd/etcd_test.go
  util/mock/store.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#40465 ddl: skip deleting the unmatched index key on merge
  ddl/index_merge_tmp.go
  ddl/index_merge_tmp_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#40468 errno, store: fix ErrPDServerTimeout arguments
  errno/errname.go
  errors.toml
  store/driver/error/error.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40457 ttl: fix the TTL job reports error when primary key contains a column with type `ENUM`
  ttl/sqlbuilder/sql.go
  ttl/sqlbuilder/sql_test.go
  ttl/ttlworker/del.go
Labels: status/LGT2, release-note, status/can-merge, size/L, needs-cherry-pick-release-6.5

#40471 planner: support using DNF to construct IndexMerge to access MVIndex
  planner/core/indexmerge_path.go
  planner/core/indexmerge_path_test.go
  planner/core/testdata/index_merge_suite_in.json
  planner/core/testdata/index_merge_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/XL, release-note-none

#40475 planner: fix the children of `ShuffleReceiver` not displayed in execution plan in stmt summary and slow query
  planner/core/encode.go
  planner/core/plan_test.go
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#40453 executor: add partition table testcase for historical stats
  domain/historical_stats.go
  executor/historical_stats_test.go
  statistics/handle/dump.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#40481 nt-txn: reduce memory usage by avoiding sort executor |tidb-test=release-6.5
  session/nontransactional.go
Labels: status/LGT2, status/can-merge, size/L, cherry-pick-approved, release-note-none

#40487 ttl: forbid creating/altering a table with TTL options when pk contains float/double column
  ddl/ttl.go
  errno/errcode.go
  errno/errname.go
  errors.toml
  executor/ddl_test.go
  ttl/cache/split_test.go
  ttl/sqlbuilder/BUILD.bazel
  ttl/sqlbuilder/sql_test.go
  util/dbterror/ddl_terror.go
Labels: status/LGT2, release-note, status/can-merge, size/XL

#40495 planner: make MVIndex be compatible with the `use/force index` hint
  planner/core/indexmerge_path.go
  planner/core/testdata/index_merge_suite_in.json
  planner/core/testdata/index_merge_suite_out.json
Labels: status/LGT2, sig/planner, status/can-merge, size/L, release-note-none

#40496 lightning: fix codecPDClient
  br/pkg/lightning/backend/local/local.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40501 ddl: let concurrent truncate on the same table depend on the previous one
  ddl/db_test.go
  ddl/job_table.go
  ddl/metadatalocktest/mdl_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#40472 statistics: fix estimation error when ranges are too many and modify count is large
  statistics/BUILD.bazel
  statistics/index.go
  statistics/selectivity_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40492 sysvar: add switch for plan replayer capture using historical stats
  domain/plan_replayer.go
  domain/plan_replayer_dump.go
  executor/adapter.go
  executor/analyzetest/analyze_test.go
  executor/plan_replayer.go
  server/plan_replayer.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  util/replayer/replayer.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, skip-issue-check

#40483 *: upgrade go1.19.5
  WORKSPACE
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40512 br: need init MDL variable when GetDomain
  br/pkg/gluetidb/glue.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#38738 ddl: avoid commit conflicts when updating/delete from mysql.tidb_ddl_reorg.
  ddl/backfilling.go
  ddl/column.go
  ddl/column_type_change_test.go
  ddl/db_partition_test.go
  ddl/db_test.go
  ddl/ddl.go
  ddl/ddl_worker.go
  ddl/index.go
  ddl/job_table.go
  ddl/modify_column_test.go
  ddl/partition.go
  ddl/reorg.go
  parser/model/ddl.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#40521 expression: least string | tidb-test=pr/2061
  expression/expression.go
Labels: status/LGT2, status/can-merge, size/XS, cherry-pick-approved, release-note-none

#40232 lightning: not set pos to end if fail to `ReadUntil`
  br/pkg/lightning/mydump/csv_parser.go
  br/tests/lightning_csv/errData/db-schema-create.sql
  br/tests/lightning_csv/errData/db.test-schema.sql
  br/tests/lightning_csv/errData/db.test.1.csv
  br/tests/lightning_csv/run.sh
Labels: status/LGT2, status/can-merge, size/S, release-note-none, component/lightning

#40443 lightning: fix risk of OOM
  br/pkg/lightning/mydump/BUILD.bazel
  br/pkg/lightning/mydump/csv_parser.go
  br/pkg/lightning/mydump/csv_parser_test.go
  config/config.go
  tidb-server/main.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, component/lightning

#40503 ttl: retry delete when write conflict happens in txn
  ttl/ttlworker/session.go
  ttl/ttlworker/session_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40434 domain: add timeout for updateStatsWorker exit process
  domain/domain.go
  domain/plan_replayer.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.5

#40278 lightning: continue this region round and retry on next round when TiKV is busy
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/engine_test.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40509 ttl: support float number and store ttl_job_interval in info schema
  ddl/BUILD.bazel
  ddl/ddl_api.go
  ddl/ttl.go
  ddl/ttl_test.go
  executor/ddl_test.go
  executor/show.go
  parser/duration/duration.go
  parser/duration/duration_test.go
  parser/model/BUILD.bazel
  parser/model/model.go
  parser/parser_test.go
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/job_manager_integration_test.go
  ttl/ttlworker/job_manager_test.go
  ttl/ttlworker/session_test.go
Labels: status/LGT2, release-note, status/can-merge, size/L

#40390 planner: correctly handle expression.ScalarFunction in the buildSemiJoinForSetOperator
  executor/executor_test.go
  planner/core/logical_plan_builder.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40540 cherry-pick 40132: add MppVersion for mpp task; support data compression in Exchange Operator;
  DEPS.bzl
  distsql/distsql.go
  executor/builder.go
  executor/mpp_gather.go
  executor/set_test.go
  executor/tiflashtest/BUILD.bazel
  executor/tiflashtest/tiflash_test.go
  go.mod
  go.sum
  kv/BUILD.bazel
  kv/mpp.go
  kv/version_test.go
  planner/core/explain.go
  planner/core/find_best_task.go
  planner/core/fragment.go
  planner/core/integration_test.go
  planner/core/optimizer.go
  planner/core/physical_plans.go
  planner/core/plan_to_pb.go
  planner/core/task.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  store/copr/mpp.go
  store/mockstore/unistore/rpc.go
Labels: status/LGT2, status/can-merge, cherry-pick-approved, size/XXL, release-note-none

#40522 statistics: fix a calculation logic flaw in `(*Index).GetRowCount`
  statistics/index.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40534 executor: support parallel insert | tidb-test=release-6.5
  executor/executor.go
  executor/insert.go
  executor/insert_common.go
  executor/insert_test.go
  executor/replace.go
  parser/ast/dml.go
  server/driver_tidb.go
  server/driver_tidb_test.go
  session/session.go
  sessionctx/stmtctx/stmtctx.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, cherry-pick-approved, size/XXL, release-note-none

#40204 distsql: fix a bug of ranger.Range to kv.KeyRange conversion
  distsql/request_builder.go
  executor/issuetest/executor_issue_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#35588 txn: Optimize pessimistic transaction by supporting locking with conflict
  ddl/db_table_test.go
  ddl/ddl.go
  ddl/stat_test.go
  executor/adapter.go
  executor/delete.go
  executor/executor_test.go
  executor/insert_common.go
  executor/load_data.go
  executor/writetest/write_test.go
  kv/interface_mock_test.go
  kv/kv.go
  metrics/metrics.go
  metrics/session.go
  session/session.go
  session/tidb.go
  session/txn.go
  session/txnmanager.go
  sessionctx/context.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  sessiontxn/interface.go
  sessiontxn/isolation/base.go
  sessiontxn/isolation/readcommitted.go
  sessiontxn/isolation/repeatable_read.go
  sessiontxn/isolation/serializable.go
  sessiontxn/staleread/provider.go
  store/driver/txn/txn_driver.go
  store/mockstore/unistore/tikv/mvcc.go
  store/mockstore/unistore/tikv/server.go
  table/tables/tables_test.go
  tests/realtikvtest/pessimistictest/BUILD.bazel
  tests/realtikvtest/pessimistictest/pessimistic_test.go
  util/mock/context.go
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#40460 ddl: reimplement get flashback cluster related key ranges
  ddl/cluster.go
  ddl/cluster_test.go
  ddl/ddl_api.go
  executor/recover_test.go
  tablecodec/tablecodec.go
  tests/realtikvtest/flashbacktest/flashback_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#40237 executor: support set resource-group-name for kv request
  distsql/request_builder.go
  distsql/request_builder_test.go
  executor/analyze_col.go
  executor/analyze_fast.go
  executor/analyze_idx.go
  executor/builder.go
  executor/checksum.go
  executor/point_get.go
  kv/kv.go
  kv/option.go
  session/session.go
  store/copr/coprocessor.go
  store/driver/txn/snapshot.go
  store/driver/txn/txn_driver.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40422 ttl: submit ttl scan task to the system table
  executor/infoschema_cluster_table_test.go
  expression/expression.go
  session/bootstrap.go
  store/mockstore/unistore/tikv/mvcc.go
  ttl/cache/BUILD.bazel
  ttl/cache/task.go
  ttl/cache/task_test.go
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/job.go
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/job_manager_integration_test.go
  ttl/ttlworker/job_manager_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#40569 hint: fix the problem that set var hint is invalid when create binding
  bindinfo/session_handle_test.go
  parser/ast/misc.go
  planner/optimize.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#39248 executor: fix 'ADMIN SHOW DDL JOB QUERIES LIMIT m OFFSET n' may return multiple lines (history jobs) with same job id
  executor/executor.go
  executor/executor_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40553 dumpling: supports sql concurrent
  dumpling/export/BUILD.bazel
  dumpling/export/config.go
  dumpling/export/dump.go
  dumpling/export/mock.go
  dumpling/export/sql.go
  dumpling/export/util_for_test.go
  dumpling/export/writer.go
  dumpling/export/writer_test.go
  dumpling/export/writer_util.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#40578 planner: support data compression in FineGrainedShuffle
  planner/core/optimizer.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40585 executor: fix insert into select bugs | tidb-test=release-6.5
  executor/insert.go
  executor/insert_common.go
  executor/replace.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#40587 *: change result query | tidb-test=release-6.5
  server/conn.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/session.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40431 log-backup: remove k-v record in etcd when stop log-backup task
  br/pkg/streamhelper/advancer_cliext.go
  br/pkg/streamhelper/client.go
  br/pkg/streamhelper/integration_test.go
  br/pkg/streamhelper/models.go
Labels: status/LGT2, release-note, status/can-merge, size/L, component/br, needs-cherry-pick-release-6.5

#40594 executor: reduce make slice for insert select statement
  executor/insert_common.go
  table/table.go
  table/tables/tables.go
  util/chunk/row.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40571 planner: introduce a new variable to adjust the penalty double read cost of IndexJoin
  planner/core/plan_cost_ver2.go
  planner/core/plan_cost_ver2_test.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40573 planner: introduce a new variable to adjust the penalty double read cost of IndexJoin
  planner/core/plan_cost_ver2.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: status/LGT2, status/can-merge, size/S, cherry-pick-approved, release-note-none

#40568 planner: fix prepare explain index out of range bug
  executor/seqtest/prepared_test.go
  planner/core/point_get_plan.go
Labels: status/LGT2, type/bug-fix, sig/planner, status/can-merge, epic/plan-cache, size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40557 util: support enhance waitGroupper with exited checking
  util/wait_group_wrapper.go
  util/wait_group_wrapper_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, skip-issue-check

#40600 privileges: add missing items for `show privileges` | tidb-test=pr/2066
  executor/executor_test.go
  executor/show.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40520 tests: Add test case for the constraint check on repeated pessimistic lock request on left pessimistic lock
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40605 *: analyze use MaxUint64 ts to read data and directly update count
  executor/analyze.go
  executor/analyze_test.go
  executor/set_test.go
  session/session.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/handle/handle.go
  statistics/handle/handle_test.go
  statistics/handle/update.go
  util/sqlexec/restricted_sql_executor.go
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note-none

#40560 resourcemanager: add task manager to support forcing to stop the task.
  resourcemanager/pooltask/BUILD.bazel
  resourcemanager/pooltask/task.go
  resourcemanager/pooltask/task_manager.go
  resourcemanager/pooltask/task_test.go
  resourcemanager/scheduler/cpu_scheduler.go
  util/gpool/spmc/BUILD.bazel
  util/gpool/spmc/spmcpool.go
  util/gpool/spmc/spmcpool_test.go
  util/gpool/spmc/worker.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#40622 *: update client-go
  DEPS.bzl
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, size/S

#40627 executor: fix concurrent use of `testkit` in tests and add nil check
  executor/executor_test.go
  planner/core/encode.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#40572 statistics: fix data race in the Handle.IsTableLocked
  statistics/handle/BUILD.bazel
  statistics/handle/handle.go
  statistics/handle/update.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#40579 executor,store/copr: trace the buildCopTask and limitExec close duration when it's slow
  executor/executor.go
  store/copr/BUILD.bazel
  store/copr/coprocessor.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40196 planner: prepared plan cache support cached plan with placeholder in limit clause
  planner/core/logical_plan_builder.go
  planner/core/plan_cache.go
  planner/core/plan_cache_lru.go
  planner/core/plan_cache_lru_test.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
  planner/core/plan_cacheable_checker.go
  planner/core/plan_cacheable_checker_test.go
  sessionctx/context.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/XL, release-note-none

#40625 planner: refactor to put all plan-cacheability-check functions together
  planner/core/optimizer.go
  planner/core/plan_cache.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#40638 testkit: reset the resource manager after test finishes
  resourcemanager/BUILD.bazel
  resourcemanager/rm.go
  testkit/BUILD.bazel
  testkit/mockstore.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, skip-issue-check

#40642 *: update client-go to latest tidb-5.4 (cherry-pick)
  executor/main_test.go
  go.mod
  go.sum
Labels: status/LGT2, release-note, status/can-merge, size/XS

#40646 planner: disable plan-cache for plans with IndexMerge accessing Multi-Valued Index
  planner/core/find_best_task.go
  planner/core/indexmerge_path.go
  planner/core/indexmerge_path_test.go
  planner/core/optimizer.go
  planner/core/physical_plans.go
  planner/core/plan_cache.go
  planner/core/task.go
  planner/util/path.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/M, release-note-none

#40650 test: add more foreign key test
  ddl/fktest/foreign_key_test.go
  executor/fktest/foreign_key_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40631 ddl: Block change column on partitioned table if data needs change.
  ddl/column.go
  ddl/db_partition_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#40651 planner: show un-cacheable reasons for execute statements
  planner/core/plan_cache.go
  planner/core/plan_cache_test.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/S, release-note-none

#40353 ddl: cancel `create view` job , when failed to drop old view
  ddl/table.go
  ddl/table_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M, needs-cherry-pick-release-6.5

#40626 domain: use enhanced waitGroupWrapper in domain #40606
  config/config.go
  domain/domain.go
  statistics/handle/handle_hist.go
  util/wait_group_wrapper.go
  util/wait_group_wrapper_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#40632 privilege,planner/core: add dynamic privilege RESOURCE_GROUP_ADMIN for resource group operation | tidb-test=pr/2068
  executor/executor_test.go
  planner/core/planbuilder.go
  privilege/privileges/privileges.go
  privilege/privileges/privileges_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40473 *: Reorganize Partition DDL states logic | tidb-test=pr/2069
  ddl/backfilling.go
  ddl/db_integration_test.go
  ddl/db_partition_test.go
  ddl/ddl_api.go
  ddl/ddl_worker.go
  ddl/partition.go
  ddl/split_region.go
  parser/model/model.go
  table/tables/partition.go
  table/tables/tables.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#39979 *: Support learner replica read
  cmd/pluginpkg/pluginpkg
  kv/option.go
  sessionctx/variable/sysvar.go
  store/driver/options/options.go
Labels: status/LGT2, release-note, status/can-merge, size/XS

#40680 Revert "planner: show un-cacheable reasons for execute statements"
  planner/core/plan_cache.go
  planner/core/plan_cache_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#40258 telemetry: Adding telemetry for alter table reorganize partition | tidb-test=pr/2069
  executor/adapter.go
  executor/builder.go
  metrics/telemetry.go
  session/session.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#40674 executor: fix buildTableReaderForIndexJoin on partition table
  executor/builder.go
  executor/issuetest/executor_issue_test.go
Labels: status/LGT2, release-note, status/can-merge, size/M

#40681 util: remove empty folder
  util/testleak/BUILD.bazel
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, skip-issue-check

#40640 domain: let background process unify wg.Run
  domain/domain.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, skip-issue-check

#40563 BR: add lock with ttl for checkpoint backup
  br/pkg/backup/client.go
  br/pkg/checkpoint/BUILD.bazel
  br/pkg/checkpoint/checkpoint.go
  br/pkg/checkpoint/checkpoint_test.go
  br/pkg/storage/local.go
  br/pkg/task/backup.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-6.5

#40564 ttl: execute scan tasks
  ttl/cache/task.go
  ttl/cache/task_test.go
  ttl/session/session.go
  ttl/session/session_test.go
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/config.go
  ttl/ttlworker/job.go
  ttl/ttlworker/job_integration_test.go
  ttl/ttlworker/job_manager.go
  ttl/ttlworker/job_manager_integration_test.go
  ttl/ttlworker/job_manager_test.go
  ttl/ttlworker/job_test.go
  ttl/ttlworker/scan.go
  ttl/ttlworker/scan_test.go
  ttl/ttlworker/session.go
  ttl/ttlworker/session_test.go
  ttl/ttlworker/task_manager.go
  ttl/ttlworker/task_manager_integration_test.go
  ttl/ttlworker/task_manager_test.go
  ttl/ttlworker/worker.go
Labels: status/LGT2, release-note, status/can-merge, size/XXL

#40672 ddl: fix the batch check for unique index
  ddl/index.go
  ddl/index_merge_tmp.go
  ddl/index_merge_tmp_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.5

#40699 resourcemanager: avoid to get nil after task finished when to stop task
  resourcemanager/pooltask/task_manager.go
  util/gpool/spmc/spmcpool_test.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#40656 planner: refactor plan cache value code
  planner/core/plan_cache_lru.go
  planner/core/plan_cache_lru_test.go
  planner/core/plan_cache_utils.go
Labels: status/LGT2, sig/planner, status/can-merge, epic/plan-cache, size/L

#40687 telemetry: resource control telemetry
  ddl/resource_group_test.go
  infoschema/builder.go
  telemetry/data_feature_usage.go
  telemetry/data_feature_usage_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none
