Repository pingcap/tidb, pull requests merged in 2023-10, with the labels that each got.

#47387 server: Change zlib compression level
  server/internal/packetio.go
  server/internal/packetio_test.go
Labels: release-note, size/XS, ok-to-test, approved, lgtm

#47378 *: upgrade rules_go
  DEPS.bzl
  WORKSPACE
  build/patches/io_etcd_go_etcd_api_v3.patch
  cmd/mirror/mirror.go
  go.mod
  go.sum
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#47361 executor, tests: move some test cases from `ddl_test.go`, `split_table_test.go` and `write_test.go` to `integrationtest`
  executor/test/ddl/BUILD.bazel
  executor/test/ddl/ddl_test.go
  executor/test/splittest/BUILD.bazel
  executor/test/splittest/split_table_test.go
  executor/test/writetest/BUILD.bazel
  executor/test/writetest/write_test.go
  tests/integrationtest/r/executor/ddl.result
  tests/integrationtest/r/executor/split_table.result
  tests/integrationtest/r/executor/write.result
  tests/integrationtest/t/executor/ddl.test
  tests/integrationtest/t/executor/split_table.test
  tests/integrationtest/t/executor/write.test
Labels: size/XXL, release-note-none, approved, lgtm

#47227 ddl, sysvar: remove `Switch EnableMDL` logs
  ddl/ddl.go
  sessionctx/variable/BUILD.bazel
  sessionctx/variable/sysvar.go
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#47406 disttask: fix too much log on cleanup
  disttask/framework/dispatcher/dispatcher_manager.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#47373 statistics: quickly exit FindTopN and LocateBucket
  statistics/cmsketch.go
  util/chunk/compare.go
Labels: size/S, release-note-none, approved, lgtm

#47371 statistics: reuse datum when to buildHist
  statistics/builder.go
Labels: size/XS, release-note-none, approved, lgtm

#47415 tests: add sorted result for a test
  tests/integrationtest/t/planner/core/integration.test
Labels: size/XS, release-note-none, approved, lgtm

#47239 external: S3 concurrent reader releases memory after it's not used
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/byte_reader_test.go
  br/pkg/lightning/backend/external/concurrent_reader.go
  br/pkg/lightning/backend/external/concurrent_reader_test.go
  br/pkg/lightning/backend/external/file.go
  br/pkg/lightning/backend/external/file_test.go
  br/pkg/lightning/backend/external/iter.go
  br/pkg/lightning/backend/external/iter_test.go
  br/pkg/lightning/backend/external/kv_reader.go
  br/pkg/lightning/backend/external/stat_reader.go
  br/pkg/lightning/backend/external/writer.go
  br/pkg/lightning/backend/external/writer_test.go
  br/pkg/storage/local.go
  br/pkg/storage/local_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#46763 lightning: support data KV checking of 'replace' mode for lightning post-import conflict detection
  br/pkg/lightning/backend/local/duplicate.go
  br/pkg/lightning/errormanager/BUILD.bazel
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/tests/lightning_duplicate_resolution_replace/data/dup_resolve.a.1.csv
  br/tidb-lightning.toml
Labels: release-note, size/XL, approved, lgtm

#47372 statistics: reduce the copy when to merge global status
  statistics/cmsketch.go
  statistics/handle/globalstats/global_stats.go
  statistics/table.go
Labels: size/S, release-note-none, approved, lgtm

#47288 lightning: add IngestData.DecRef to make sure only call it after finish
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/backend/local/region_job.go
  br/pkg/lightning/common/ingest_data.go
Labels: size/M, release-note-none, approved, lgtm

#47417 planner: fix wrong output alias names when using non-prep cache with point plans
  planner/core/plan_cache.go
  planner/core/plan_cache_test.go
  planner/core/plan_cacheable_checker.go
  planner/core/plan_cacheable_checker_test.go
  planner/optimize.go
Labels: size/M, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#47419 planner: move code about `recordHistoricalStatsMeta`
  statistics/handle/extstats/extended_stats.go
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/history/BUILD.bazel
  statistics/handle/history/history_stats.go
  statistics/handle/storage/save.go
Labels: size/XL, release-note-none, approved, lgtm

#47399 *: make tidb_query_log_max_len could affect more logs
  executor/executor.go
  server/conn.go
  util/misc.go
Labels: size/S, release-note-none, approved, lgtm

#47338 ddl: faster admin pause/resume/cancel test
  ddl/tests/adminpause/BUILD.bazel
  ddl/tests/adminpause/pause_cancel_test.go
  ddl/tests/adminpause/pause_resume_test.go
Labels: size/S, release-note-none, approved, lgtm

#47420 executor, tests: move more test cases from `join_test.go` and `write_test.go` to `integrationtest`
  executor/test/jointest/BUILD.bazel
  executor/test/jointest/join_test.go
  executor/test/writetest/BUILD.bazel
  executor/test/writetest/write_test.go
  tests/integrationtest/r/executor/join.result
  tests/integrationtest/r/executor/write.result
  tests/integrationtest/t/executor/join.test
  tests/integrationtest/t/executor/write.test
Labels: size/XXL, release-note-none, approved, lgtm

#47412 planner: disallow split clustered index with SPLIT TABLE .. INDEX
  executor/test/splittest/split_table_test.go
  planner/core/planbuilder.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#47358 tests: bump mysql-tester version and update result
  planner/core/integration_test.go
  tests/integrationtest/r/executor/write.result
  tests/integrationtest/r/explain-non-select-stmt.result
  tests/integrationtest/r/explain_easy.result
  tests/integrationtest/r/explain_easy_stats.result
  tests/integrationtest/r/explain_foreign_key.result
  tests/integrationtest/r/explain_generate_column_substitute.result
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/r/index_merge.result
  tests/integrationtest/r/planner/cascades/integration.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_result_reorder.result
  tests/integrationtest/r/planner/core/enforce_mpp.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/r/planner/core/integration_partition.result
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/r/planner/core/point_get_plan.result
  tests/integrationtest/r/planner/core/rule_result_reorder.result
  tests/integrationtest/r/planner/core/tests/prepare/issue.result
  tests/integrationtest/r/planner/core/tests/prepare/prepare.result
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/r/session/clustered_index.result
  tests/integrationtest/r/session/vars.result
  tests/integrationtest/r/sessionctx/setvar.result
  tests/integrationtest/run-tests.sh
  tests/integrationtest/t/planner/core/integration.test
  tests/integrationtest/t/planner/core/integration_partition.test
  tests/integrationtest/t/privilege/privileges.test
Labels: size/XXL, release-note-none, approved, lgtm

#47383 statistics: correctly handle the ErrPartitionStatsMissing
  executor/test/analyzetest/analyze_test.go
  statistics/handle/globalstats/global_stats.go
  statistics/handle/handletest/analyze/analyze_test.go
Labels: component/statistics, size/S, release-note-none, approved, lgtm

#47431 importinto: fix flaky test
  tests/realtikvtest/importintotest/detach_test.go
  tests/realtikvtest/importintotest/import_into_test.go
  tests/realtikvtest/importintotest/job_test.go
  tests/realtikvtest/importintotest/one_parquet_test.go
  tests/realtikvtest/importintotest/util_test.go
  tests/realtikvtest/importintotest4/global_sort_test.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#47439 *: move `session/nontransactional`, `expression/integration*` test cases to `tests/integrationtest`
  expression/integration_serial_test/BUILD.bazel
  expression/integration_serial_test/README.md
  expression/integration_serial_test/integration_serial_test.go
  expression/integration_serial_test/main_test.go
  expression/integration_test/BUILD.bazel
  expression/integration_test/integration_test.go
  session/nontransactionaltest/BUILD.bazel
  session/nontransactionaltest/nontransactional_test.go
  tests/integrationtest/r/expression/builtin.result
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/r/expression/misc.result
  tests/integrationtest/r/expression/plan_cache.result
  tests/integrationtest/r/session/nontransactional.result
  tests/integrationtest/t/expression/builtin.test
  tests/integrationtest/t/expression/issues.test
  tests/integrationtest/t/expression/misc.test
  tests/integrationtest/t/expression/plan_cache.test
  tests/integrationtest/t/session/nontransactional.test
Labels: size/XXL, release-note-none, approved, lgtm

#47443 planner, tests: migrate tests for `plan_cache` into the integrationtest
  planner/core/BUILD.bazel
  planner/core/plan_cache_test.go
  tests/integrationtest/r/planner/core/integration_partition.result
  tests/integrationtest/r/planner/core/plan_cache.result
  tests/integrationtest/t/planner/core/integration_partition.test
  tests/integrationtest/t/planner/core/plan_cache.test
Labels: size/XXL, release-note-none, approved, lgtm

#47425 ddl: fix DST times for adding index
  ddl/db_test.go
  ddl/index_cop.go
  ddl/ingest/integration_test.go
  ddl/util/util.go
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#47309 util: change log level to debug calculating stale read ts
  expression/builtin_time.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#47359 planner: variable tidb_opt_enable_hash_join to skip hash join (#46575)
  planner/core/exhaust_physical_plans.go
  planner/core/rule_join_reorder_test.go
  planner/core/testdata/join_reorder_suite_in.json
  planner/core/testdata/join_reorder_suite_out.json
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: priority/release-blocker, release-note, cherry-pick-approved, approved, lgtm

#47459 *: add members to owner alias `sig-approvers-distsql`
  OWNERS_ALIASES
Labels: type/enhancement, size/XS, release-note-none, approved, lgtm

#47462 types, json: use a more accurate way to judge whether int64/uint64 can be converted to float64
  types/json_binary.go
  util/codec/codec_test.go
Labels: release-note, size/M, approved, lgtm

#47461 ddl: no more sleep when meets nonRetryable error
  ddl/ddl_worker.go
Labels: size/S, release-note-none, approved, lgtm

#47463 executor: AnalyzePartitionConcurrency is not more than number of task
  executor/analyze.go
Labels: size/XS, release-note-none, approved, lgtm

#47307 placement: supports follower role with evict-leader hint
  ddl/placement/constraints.go
  ddl/placement/rule.go
  ddl/placement/rule_test.go
Labels: size/M, release-note-none, approved, lgtm

#47456 br: modify how to parse the add index job args
  br/pkg/restore/ingestrec/ingest_recorder.go
  br/pkg/stream/rewrite_meta_rawkv.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#47414 lightning: add `session-vars` to config file
  br/pkg/lightning/config/config.go
  br/tests/lightning_bom_file/config.toml
  br/tests/lightning_bom_file/data/mytest.testtbl-schema.sql
  br/tests/lightning_bom_file/data/mytest.testtbl.csv
  br/tests/lightning_bom_file/original_data/mytest.testtbl-schema.sql
  br/tests/lightning_bom_file/run.sh
Labels: size/M, release-note-none, approved, lgtm

#47466 *: fix member spell in OWNERS_ALIASES
  OWNERS_ALIASES
Labels: size/XS, release-note-none, approved, lgtm

#47310 util: change log level to debug calculating stale read ts
  expression/builtin_time.go
Labels: size/XS, release-note-none, approved, lgtm

#47470 planner: move code about `stats gc` and `stats predicate col`
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/storage/BUILD.bazel
  statistics/handle/storage/gc.go
  statistics/handle/storage/read.go
  statistics/handle/storage/update.go
  statistics/handle/update.go
  statistics/handle/usage/BUILD.bazel
  statistics/handle/usage/predicate_column.go
  statistics/handle/util/util.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#47293 ddl: add more tests for multi-schema change
  br/pkg/storage/helper.go
  br/pkg/stream/rewrite_meta_rawkv.go
  ddl/ddl_worker.go
  ddl/delete_range.go
  ddl/index.go
  ddl/ingest/integration_test.go
  ddl/multi_schema_change.go
  ddl/sanity_check.go
  disttask/framework/storage/task_table.go
  parser/model/ddl.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/global_sort_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#47444 planner: speed up the process of loading partition table stats
  br/pkg/restore/client.go
  executor/load_stats.go
  executor/plan_replayer.go
  planner/core/casetest/cbotest/cbo_test.go
  statistics/handle/BUILD.bazel
  statistics/handle/dump.go
  statistics/handle/dump_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#47458 tests, ddl: move IT in `ddl/` to `tests/integrationtest` (Part 1)
  ddl/attributes_sql_test.go
  ddl/column_change_test.go
  ddl/column_modify_test.go
  ddl/column_test.go
  ddl/column_type_change_test.go
  tests/integrationtest/r/ddl/attributes_sql.result
  tests/integrationtest/r/ddl/column.result
  tests/integrationtest/r/ddl/column_change.result
  tests/integrationtest/r/ddl/column_modify.result
  tests/integrationtest/r/ddl/column_type_change.result
  tests/integrationtest/t/ddl/attributes_sql.test
  tests/integrationtest/t/ddl/column.test
  tests/integrationtest/t/ddl/column_change.test
  tests/integrationtest/t/ddl/column_modify.test
  tests/integrationtest/t/ddl/column_type_change.test
Labels: size/XXL, release-note-none, approved, lgtm

#47334 disttask: persist business error to subtask table
  ddl/backfilling_dist_scheduler.go
  disttask/framework/handle/handle.go
  disttask/framework/scheduler/manager.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#47473 statistics: move tests into GlobalStats test
  statistics/BUILD.bazel
  statistics/handle/handletest/globalstats/BUILD.bazel
  statistics/handle/handletest/globalstats/globalstats_test.go
  statistics/integration_test.go
Labels: size/XL, release-note-none, approved, lgtm

#47483 ddl: preserve index order for multi-schema change
  ddl/multi_schema_change.go
  ddl/multi_schema_change_test.go
Labels: size/S, release-note-none, approved, lgtm

#47486 *: use StatsMetaCountAndModifyCount to remove duplicate code
  statistics/handle/handle.go
  statistics/handle/storage/read.go
Labels: size/S, release-note-none, approved, lgtm

#47487 planner: move more code from `handle` to its sub-packages
  statistics/handle/BUILD.bazel
  statistics/handle/ddl.go
  statistics/handle/dump.go
  statistics/handle/extstats/BUILD.bazel
  statistics/handle/extstats/extended_stats.go
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/handletest/BUILD.bazel
  statistics/handle/handletest/handle_test.go
  statistics/handle/storage/BUILD.bazel
  statistics/handle/storage/gc.go
  statistics/handle/storage/update.go
  statistics/handle/update.go
  statistics/handle/updatetest/BUILD.bazel
  statistics/handle/updatetest/update_test.go
  statistics/handle/util/BUILD.bazel
  statistics/handle/util/util.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#47494 session, tidb-server: fix `with-mock-upgrade` doesn't work
  session/bootstraptest/bootstrap_upgrade_test.go
  session/mock_bootstrap.go
  tidb-server/main.go
Labels: size/S, release-note-none, approved, lgtm

#47489 importinto: refactor chunk processor
  disttask/importinto/dispatcher.go
  disttask/importinto/job.go
  disttask/importinto/proto.go
  disttask/importinto/scheduler.go
  executor/asyncloaddata/progress.go
  executor/asyncloaddata/progress_test.go
  executor/importer/BUILD.bazel
  executor/importer/chunk_process.go
  executor/importer/chunk_process_testkit_test.go
  executor/importer/engine_process.go
  executor/importer/import.go
  executor/importer/kv_encode.go
  executor/importer/table_import.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#47503 planner: create dedicated interfaces for `statsgc`, `statsusage`
  statistics/handle/BUILD.bazel
  statistics/handle/bootstrap.go
  statistics/handle/gc.go
  statistics/handle/handle.go
  statistics/handle/storage/BUILD.bazel
  statistics/handle/storage/gc.go
  statistics/handle/update.go
  statistics/handle/usage/predicate_column.go
  statistics/handle/util/BUILD.bazel
  statistics/handle/util/interfaces.go
  statistics/handle/util/table_info.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#47344 placement: make Constraints can use dict format
  ddl/placement/bundle.go
  ddl/placement/bundle_test.go
  ddl/placement/errors.go
  ddl/placement/rule.go
  ddl/placement/rule_test.go
  ddl/placement_policy_test.go
Labels: size/L, release-note-none, approved, lgtm

#47492 ddl: export method for needChangeColumns
  ddl/column.go
  ddl/ddl_api.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#46858 timer: README file for timer framework
  timer/README.md
Labels: size/XL, release-note-none, approved, lgtm

#47408 planner: fix explain panic when using VALUES statement
  planner/core/plan_test.go
  planner/optimize.go
Labels: sig/planner, release-note, size/S, approved, lgtm

#47512 planner: encapsulate session stats collection logic into a single dedicated structure
  session/BUILD.bazel
  session/session.go
  statistics/handle/BUILD.bazel
  statistics/handle/handle.go
  statistics/handle/update.go
  statistics/handle/usage/BUILD.bazel
  statistics/handle/usage/index_usage.go
  statistics/handle/usage/session_stats_collect.go
  statistics/handle/usage/session_stats_collect_test.go
  statistics/handle/usage/stats_usage.go
  statistics/handle/usage/table_delta.go
Labels: size/XXL, release-note-none, approved, lgtm

#47379 analyze: merge task and send task concurrently
  executor/analyze_col_v2.go
Labels: size/M, release-note-none, approved, lgtm

#47527 Revert "placement: merge the rules if the constraints are the same (#…
  ddl/placement/BUILD.bazel
  ddl/placement/bundle.go
  ddl/placement/bundle_test.go
  ddl/placement/constraints.go
Labels: cherry-pick-approved, size/XXL, release-note-none, approved, lgtm

#47114 br: public the parameter --use-backupmeta-v2 and use it in default
  br/cmd/br/debug.go
  br/pkg/task/backup.go
  br/tests/br_other/run.sh
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#47450 ddl: fix can't pause add index in dist task mode
  ddl/BUILD.bazel
  ddl/backfilling_read_index.go
  ddl/index.go
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/handle/handle.go
  disttask/framework/scheduler/scheduler.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/add_index_test.go
Labels: size/L, release-note-none, approved, lgtm

#47524 tests, ddl: move IT in `ddl/` to `tests/integrationtest` (Part 2)
  ddl/BUILD.bazel
  ddl/constraint_test.go
  ddl/db_cache_test.go
  ddl/db_change_test.go
  ddl/db_foreign_key_test.go
  ddl/db_integration_test.go
  ddl/db_rename_test.go
  ddl/db_table_test.go
  ddl/db_test.go
  tests/integrationtest/r/ddl/constraint.result
  tests/integrationtest/r/ddl/db.result
  tests/integrationtest/r/ddl/db_cache.result
  tests/integrationtest/r/ddl/db_change.result
  tests/integrationtest/r/ddl/db_foreign_key.result
  tests/integrationtest/r/ddl/db_integration.result
  tests/integrationtest/r/ddl/db_rename.result
  tests/integrationtest/r/ddl/db_table.result
  tests/integrationtest/t/ddl/constraint.test
  tests/integrationtest/t/ddl/db.test
  tests/integrationtest/t/ddl/db_cache.test
  tests/integrationtest/t/ddl/db_change.test
  tests/integrationtest/t/ddl/db_foreign_key.test
  tests/integrationtest/t/ddl/db_integration.test
  tests/integrationtest/t/ddl/db_rename.test
  tests/integrationtest/t/ddl/db_table.test
Labels: size/XXL, release-note-none, approved, lgtm

#47502 planner: remove deprecated fast analyze feature
  executor/BUILD.bazel
  executor/analyze.go
  executor/analyze_fast.go
  executor/analyze_test.go
  executor/builder.go
  executor/inspection_summary.go
  executor/metrics/metrics.go
  executor/test/analyzetest/BUILD.bazel
  executor/test/analyzetest/analyze_test.go
  infoschema/metric_table_def.go
  metrics/grafana/tidb.json
  metrics/metrics.go
  metrics/stats.go
  planner/core/BUILD.bazel
  planner/core/planbuilder.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
  statistics/BUILD.bazel
  statistics/handle/handletest/analyze/BUILD.bazel
  statistics/handle/handletest/analyze/analyze_test.go
  statistics/integration_test.go
Labels: sig/planner, size/XXL, release-note-none, skip-issue-check, approved, lgtm

#47525 distask: fix panic on refresh task fails or returns nil
  disttask/framework/dispatcher/dispatcher.go
  disttask/framework/dispatcher/dispatcher_manager.go
  disttask/importinto/job.go
  disttask/importinto/subtask_executor.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#47390 metrics: do not stack connections
  metrics/grafana/tidb.json
Labels: component/metrics, size/S, release-note-none, approved, lgtm

#47474 executor, planner: fix plan_replayer zip format
  executor/plan_replayer.go
Labels: release-note, size/XS, approved, lgtm

#47544 planner: remove deprecated incremental analyze feature
  executor/BUILD.bazel
  executor/analyze.go
  executor/analyze_incremental.go
  executor/analyze_test.go
  executor/builder.go
  executor/test/analyzetest/BUILD.bazel
  executor/test/analyzetest/analyze_test.go
  planner/core/common_plans.go
  planner/core/integration_test.go
  planner/core/planbuilder.go
  statistics/BUILD.bazel
  statistics/cmsketch.go
  statistics/cmsketch_test.go
  statistics/handle/handletest/analyze/BUILD.bazel
  statistics/handle/handletest/analyze/analyze_test.go
  statistics/integration_test.go
Labels: sig/planner, size/XXL, release-note-none, skip-issue-check, approved, lgtm

#47469 gomod: fix MinSafeTS might be set to MaxUint64 permanently
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#47510 external engine: support concurrent read and split into smaller data
  br/pkg/lightning/backend/backend.go
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/external/engine_test.go
  br/pkg/lightning/backend/external/split.go
  br/pkg/lightning/backend/local/engine.go
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/common/engine.go
  br/pkg/lightning/common/ingest_data.go
  disttask/importinto/planner.go
  disttask/importinto/proto.go
  disttask/importinto/scheduler.go
Labels: size/XL, release-note-none, approved, lgtm

#47540 executor: reduce the length of channel to avoid OOM
  executor/analyze.go
Labels: size/XS, release-note-none, approved, lgtm

#47541 testkit: fix memtracker leak in testkit
  testkit/BUILD.bazel
  testkit/testkit.go
  testkit/testkit_test.go
Labels: size/L, release-note-none, approved, lgtm

#47545 planner: move more methods from `statsHandler` to its subpackages
  session/session.go
  statistics/handle/autoanalyze/BUILD.bazel
  statistics/handle/autoanalyze/autoanalyze.go
  statistics/handle/ddl.go
  statistics/handle/handle.go
  statistics/handle/history/BUILD.bazel
  statistics/handle/history/history_stats.go
  statistics/handle/update.go
  statistics/handle/usage/index_usage.go
  statistics/handle/usage/predicate_column.go
  statistics/handle/util/BUILD.bazel
  statistics/handle/util/interfaces.go
Labels: size/L, release-note-none, approved, lgtm

#47000 *: Implement `/upgrade/start` and `upgrade/finish` APIs
  ddl/mock.go
  docs/tidb_http_api.md
  server/BUILD.bazel
  server/handler/BUILD.bazel
  server/handler/tests/BUILD.bazel
  server/http_handler_test.go
  server/http_status.go
  server/upgrade_handler.go
  session/BUILD.bazel
  session/bootstrap.go
  session/bootstraptest/BUILD.bazel
  session/bootstraptest/bootstrap_upgrade_test.go
  session/mock_bootstrap.go
  session/session.go
  session/sync_upgrade.go
Labels: cherry-pick-approved, size/XXL, release-note-none, type/cherry-pick-for-release-7.1, approved, lgtm

#47547 importinto: switch tikv mode on write&ingest step
  disttask/importinto/BUILD.bazel
  disttask/importinto/dispatcher.go
  disttask/importinto/dispatcher_test.go
Labels: size/S, release-note-none, approved, lgtm

#47548 *: set default tidb_analyze_partition_concurrency as 2
  sessionctx/variable/tidb_vars.go
Labels: release-note, size/XS, approved, lgtm

#47537 log_backup: Fix owner transfer panic
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_daemon.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/flush_subscriber.go
Labels: release-note, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#47391 statistics: async merge global stats to reduce memory usage
  statistics/cmsketch.go
  statistics/handle/globalstats/BUILD.bazel
  statistics/handle/globalstats/global_stats.go
  statistics/handle/globalstats/global_stats_async.go
  statistics/handle/handle.go
  statistics/handle/handletest/globalstats/BUILD.bazel
  statistics/handle/handletest/globalstats/globalstats_test.go
  statistics/handle/storage/read.go
Labels: release-note, size/XXL, approved, lgtm

#47552 *: Add `Assert` to do assertions in test
  types/context/BUILD.bazel
  types/context/context.go
  util/intest/BUILD.bazel
  util/intest/assert.go
  util/intest/assert_test.go
  util/intest/common.go
Labels: size/L, release-note-none, approved, lgtm

#47313 disttask: refine scheduler error handling
  disttask/framework/framework_test.go
  disttask/framework/scheduler/BUILD.bazel
  disttask/framework/scheduler/manager.go
  disttask/framework/scheduler/manager_test.go
  disttask/framework/scheduler/scheduler.go
  disttask/framework/scheduler/scheduler_test.go
  tests/realtikvtest/addindextest/add_index_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#47573 lightning/import: enlarge default checksum timeout
  br/pkg/lightning/backend/local/checksum.go
Labels: size/S, release-note-none, approved, lgtm

#47328 lightning: add `OWNERS` in folders owned by lightning
  OWNERS_ALIASES
  br/cmd/tidb-lightning-ctl/OWNERS
  br/cmd/tidb-lightning/OWNERS
  br/pkg/lightning/OWNERS
Labels: size/S, release-note-none, approved, lgtm

#47553 tests, ddl: move IT in `ddl/` to `tests/integrationtest` (Part 3)
  ddl/ddl_error_test.go
  ddl/ddl_test.go
  ddl/index_modify_test.go
  ddl/integration_test.go
  ddl/modify_column_test.go
  ddl/multi_schema_change_test.go
  ddl/partition_test.go
  ddl/primary_key_handle_test.go
  ddl/reorg_partition_test.go
  ddl/sequence_test.go
  ddl/table_modify_test.go
  ddl/tests/fail/BUILD.bazel
  ddl/tests/fail/fail_db_test.go
  tests/integrationtest/r/ddl/ddl_error.result
  tests/integrationtest/r/ddl/fail_db.result
  tests/integrationtest/r/ddl/index_modify.result
  tests/integrationtest/r/ddl/integration.result
  tests/integrationtest/r/ddl/modify_column.result
  tests/integrationtest/r/ddl/multi_schema_change.result
  tests/integrationtest/r/ddl/partition.result
  tests/integrationtest/r/ddl/primary_key_handle.result
  tests/integrationtest/r/ddl/reorg_partition.result
  tests/integrationtest/r/ddl/sequence.result
  tests/integrationtest/r/ddl/table_modify.result
  tests/integrationtest/r/planner/cascades/integration.result
  tests/integrationtest/t/ddl/ddl_error.test
  tests/integrationtest/t/ddl/fail_db.test
  tests/integrationtest/t/ddl/index_modify.test
  tests/integrationtest/t/ddl/integration.test
  tests/integrationtest/t/ddl/modify_column.test
  tests/integrationtest/t/ddl/multi_schema_change.test
  tests/integrationtest/t/ddl/partition.test
  tests/integrationtest/t/ddl/primary_key_handle.test
  tests/integrationtest/t/ddl/reorg_partition.test
  tests/integrationtest/t/ddl/sequence.test
  tests/integrationtest/t/ddl/table_modify.test
  tests/integrationtest/t/planner/cascades/integration.test
Labels: size/XXL, release-note-none, approved, lgtm

#47560 store: update client go
  DEPS.bzl
  go.mod
  go.sum
  store/copr/coprocessor.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#47578 mockcopr: remove the `constructTimeZone` function
  store/mockstore/mockcopr/BUILD.bazel
  store/mockstore/mockcopr/analyze.go
  store/mockstore/mockcopr/cop_handler_dag.go
  store/mockstore/mockcopr/cop_handler_dag_test.go
  util/timeutil/time_zone_test.go
Labels: size/L, release-note-none, approved, lgtm

#47568 statistics: check Killed in the TableStatsFromStorage
  statistics/handle/storage/BUILD.bazel
  statistics/handle/storage/read.go
Labels: size/S, release-note-none, approved, lgtm

#47579 *: set MAX GOMAXPROCS in test as 16
  testkit/testenv/testenv.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#47529 planner: temporarily disable analyze mv index for the release | tidb-test=pr/2223
  executor/test/analyzetest/analyze_test.go
  planner/core/planbuilder.go
  tests/integrationtest/r/planner/core/indexmerge_path.result
Labels: size/S, release-note-none, approved, lgtm

#47588 planner: capsulate stats cache behind an interface
  domain/domain_sysvars.go
  statistics/handle/bootstrap.go
  statistics/handle/cache/BUILD.bazel
  statistics/handle/cache/bench_test.go
  statistics/handle/cache/statscache.go
  statistics/handle/cache/statscacheinner.go
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/handletest/handle_test.go
  statistics/handle/handletest/statstest/stats_test.go
  statistics/handle/history/history_stats.go
  statistics/handle/storage/gc.go
  statistics/handle/storage/read.go
  statistics/handle/storage/update.go
  statistics/handle/util/interfaces.go
Labels: sig/planner, component/statistics, size/XL, release-note-none, approved, lgtm

#47563 statistics: avoid copy twice when to decode the topn
  statistics/cmsketch.go
  statistics/handle/storage/read.go
Labels: size/S, release-note-none, approved, lgtm

#47440 *: upgrade go1.21.3
  WORKSPACE
Labels: size/XS, release-note-none, approved, lgtm

#47589 *: fix AnalyzePartitionMergeConcurrency unavailable
  executor/analyze_test.go
  statistics/handle/util/util.go
Labels: size/S, release-note-none, approved, lgtm

#47595 planner: move `stats_usage` and `table_delta` from stats-handler to its subpackage
  domain/domain.go
  executor/BUILD.bazel
  executor/historical_stats_test.go
  executor/infoschema_reader_test.go
  executor/test/analyzetest/BUILD.bazel
  executor/test/analyzetest/analyze_test.go
  executor/test/analyzetest/memorycontrol/BUILD.bazel
  executor/test/analyzetest/memorycontrol/memory_control_test.go
  executor/test/seqtest/BUILD.bazel
  executor/test/seqtest/seq_executor_test.go
  executor/test/simpletest/BUILD.bazel
  executor/test/simpletest/simple_test.go
  planner/cardinality/BUILD.bazel
  planner/cardinality/selectivity_test.go
  planner/cardinality/trace_test.go
  planner/core/casetest/cbotest/BUILD.bazel
  planner/core/casetest/cbotest/cbo_test.go
  server/handler/optimizor/BUILD.bazel
  server/handler/optimizor/plan_replayer_test.go
  server/handler/optimizor/statistics_handler_test.go
  session/session.go
  statistics/BUILD.bazel
  statistics/handle/autoanalyze/BUILD.bazel
  statistics/handle/autoanalyze/autoanalyze_test.go
  statistics/handle/dump_test.go
  statistics/handle/handle.go
  statistics/handle/handletest/analyze/BUILD.bazel
  statistics/handle/handletest/analyze/analyze_test.go
  statistics/handle/handletest/globalstats/BUILD.bazel
  statistics/handle/handletest/globalstats/globalstats_test.go
  statistics/handle/handletest/handle_test.go
  statistics/handle/handletest/lockstats/BUILD.bazel
  statistics/handle/handletest/lockstats/lock_partition_stats_test.go
  statistics/handle/handletest/lockstats/lock_table_stats_test.go
  statistics/handle/update.go
  statistics/handle/updatetest/BUILD.bazel
  statistics/handle/updatetest/update_test.go
  statistics/handle/usage/BUILD.bazel
  statistics/handle/usage/predicate_column.go
  statistics/handle/usage/session_stats_collect.go
  statistics/handle/util/interfaces.go
  statistics/integration_test.go
  tests/realtikvtest/statisticstest/BUILD.bazel
  tests/realtikvtest/statisticstest/statistics_test.go
  ttl/ttlworker/BUILD.bazel
  ttl/ttlworker/job_manager_integration_test.go
Labels: sig/planner, component/statistics, size/XXL, release-note-none, approved, lgtm

#47586 disttask: fix grafana panel id duplicate
  metrics/grafana/tidb.json
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#47597 br: skip update stats cache for br
  br/pkg/restore/client.go
  statistics/handle/dump.go
Labels: release-note, size/S, approved, lgtm

#47292 tests: move test cases of privilege package to integration test (part2)
  privilege/privileges/privileges_test.go
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/privilege/privileges.test
Labels: size/XXL, release-note-none, approved, lgtm

#47582 variable: add variable to control the concurrency of buildSampling
  executor/analyze_col_v2.go
  executor/analyze_utils.go
  executor/set_test.go
  sessionctx/variable/sysvar.go
  sessionctx/variable/tidb_vars.go
Labels: size/M, release-note-none, approved, lgtm

#47602 *: update dependency for uber-go/automaxprocs
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#47604 planner: move all statslock code to its sub-pacakge
  executor/lockstats/BUILD.bazel
  executor/lockstats/lock_stats_executor.go
  statistics/handle/BUILD.bazel
  statistics/handle/handle.go
  statistics/handle/lock_stats_handler.go
  statistics/handle/lockstats/BUILD.bazel
  statistics/handle/lockstats/lock_stats.go
  statistics/handle/lockstats/lock_stats_test.go
  statistics/handle/lockstats/query_lock.go
  statistics/handle/lockstats/query_lock_test.go
  statistics/handle/lockstats/unlock_stats.go
  statistics/handle/lockstats/unlock_stats_test.go
  statistics/handle/storage/save.go
  statistics/handle/util/BUILD.bazel
  statistics/handle/util/interfaces.go
  statistics/handle/util/util.go
  util/sqlexec/mock/restricted_sql_executor_mock.go
Labels: size/XXL, release-note-none, approved, lgtm

#47616 ci: fix error ids in OWNERS_ALIASES file
  OWNERS_ALIASES
Labels: size/XS, release-note-none, approved, lgtm

#47591 tests, ddl: move IT tests in `ddl/` to `tests/integrationtest` (PART 4)
  ddl/tests/partition/BUILD.bazel
  ddl/tests/partition/db_partition_test.go
  ddl/tests/resourcegroup/BUILD.bazel
  ddl/tests/resourcegroup/resource_group_test.go
  ddl/tests/serial/BUILD.bazel
  ddl/tests/serial/serial_test.go
  ddl/tests/tiflash/BUILD.bazel
  ddl/tests/tiflash/ddl_tiflash_test.go
  tests/integrationtest/r/ddl/db_partition.result
  tests/integrationtest/r/ddl/ddl_tiflash.result
  tests/integrationtest/r/ddl/resource_group.result
  tests/integrationtest/r/ddl/serial.result
  tests/integrationtest/r/planner/core/integration_partition.result
  tests/integrationtest/t/ddl/db_partition.test
  tests/integrationtest/t/ddl/ddl_tiflash.test
  tests/integrationtest/t/ddl/resource_group.test
  tests/integrationtest/t/ddl/serial.test
  tests/integrationtest/t/planner/core/integration_partition.test
Labels: size/XXL, release-note-none, approved, lgtm

#47581 executor: Fix crash during sort spill
  executor/sort.go
  util/chunk/row_container.go
  util/chunk/row_container_test.go
Labels: type/bug-fix, size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#47612 planner: fix group concat projection elimination logic
  planner/core/casetest/BUILD.bazel
  planner/core/casetest/integration_test.go
  planner/core/rule_eliminate_projection.go
Labels: release-note, size/S, needs-cherry-pick-release-7.1, approved, lgtm

#47614 executor: fix data race at the getIntFromSessionVars
  executor/analyze_col_v2.go
Labels: size/S, release-note-none, approved, lgtm

#47526 planner: Refactor framework of rule engine.(Support interaction rule of new rule engine )
  planner/core/optimizer.go
  planner/core/plan_stats.go
  planner/core/rule_aggregation_elimination.go
  planner/core/rule_aggregation_push_down.go
  planner/core/rule_aggregation_skew_rewrite.go
  planner/core/rule_build_key_info.go
  planner/core/rule_column_pruning.go
  planner/core/rule_constant_propagation.go
  planner/core/rule_decorrelate.go
  planner/core/rule_derive_topn_from_window.go
  planner/core/rule_eliminate_projection.go
  planner/core/rule_generate_column_substitute.go
  planner/core/rule_join_elimination.go
  planner/core/rule_join_reorder.go
  planner/core/rule_max_min_eliminate.go
  planner/core/rule_partition_processor.go
  planner/core/rule_predicate_push_down.go
  planner/core/rule_predicate_simplification.go
  planner/core/rule_push_down_sequence.go
  planner/core/rule_resolve_grouping_expand.go
  planner/core/rule_result_reorder.go
  planner/core/rule_semi_join_rewrite.go
  planner/core/rule_topn_push_down.go
Labels: size/L, release-note-none, approved, lgtm

#47562 statistics: add branch check for BinarySearchRemoveVal
  pkg/statistics/histogram.go
Labels: size/XS, release-note-none, approved, lgtm

#47617 executor: reuse the memory from analyze result
  pkg/executor/analyze.go
  pkg/executor/analyze_worker.go
  pkg/statistics/analyze.go
Labels: size/S, release-note-none, approved, lgtm

#47605 *: update dependency for uber-go/automaxprocs
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#47575 disttask: more log
  pkg/disttask/framework/dispatcher/BUILD.bazel
  pkg/disttask/framework/dispatcher/dispatcher.go
  pkg/disttask/framework/dispatcher/dispatcher_manager.go
  pkg/disttask/framework/dispatcher/state_transform.go
  pkg/domain/domain.go
Labels: size/L, release-note-none, approved, lgtm

#47608 statistics: refactor test package
  pkg/statistics/handle/globalstats/BUILD.bazel
  pkg/statistics/handle/globalstats/globalstats_test.go
  pkg/statistics/handle/globalstats/main_test.go
  pkg/statistics/handle/globalstats/topn_bench_test.go
  pkg/statistics/handle/handletest/globalstats/BUILD.bazel
  pkg/statistics/handle/lockstats/BUILD.bazel
  pkg/statistics/handle/lockstats/main_test.go
Labels: size/M, release-note-none, approved, lgtm

#47465 storage: support kingsoft s3 (ks3)
  DEPS.bzl
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/ks3.go
  br/pkg/storage/parse.go
  br/pkg/storage/parse_test.go
  br/pkg/storage/s3.go
  br/pkg/storage/storage.go
  go.mod
  go.sum
  pkg/parser/ast/misc.go
  pkg/sessionctx/variable/sysvar_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#47638 *: upgrade klauspost/compress
  DEPS.bzl
  go.mod
  go.sum
  pkg/parser/go.mod
  pkg/parser/go.sum
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#46963 planner: fix TestFixControl45132
  pkg/planner/core/casetest/integration_test.go
  pkg/testkit/testkit.go
Labels: size/S, release-note-none, approved, lgtm

#47636 *: upgrade go.uber.org/zap
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#47569 client-go: add retry limit for excluded backoff type to avoid infinite retry
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#47640 planner: move more methods from StatsHandle to its sub-packages
  pkg/statistics/handle/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/BUILD.bazel
  pkg/statistics/handle/cache/bench_test.go
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/history/BUILD.bazel
  pkg/statistics/handle/history/history_stats.go
  pkg/statistics/handle/update.go
  pkg/statistics/handle/util/interfaces.go
  pkg/statistics/handle/util/util.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#47610 br: lock the call of update stats meta
  br/pkg/backup/schema.go
  br/pkg/restore/client.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#47611 disttask: define TaskType/TaskState/Step instead of string/int64
  pkg/ddl/backfilling_dispatcher.go
  pkg/ddl/backfilling_dispatcher_test.go
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/ddl.go
  pkg/ddl/ddl_worker.go
  pkg/ddl/index.go
  pkg/disttask/framework/dispatcher/dispatcher.go
  pkg/disttask/framework/dispatcher/dispatcher_manager.go
  pkg/disttask/framework/dispatcher/dispatcher_test.go
  pkg/disttask/framework/dispatcher/interface.go
  pkg/disttask/framework/dispatcher/state_transform.go
  pkg/disttask/framework/framework_dynamic_dispatch_test.go
  pkg/disttask/framework/framework_err_handling_test.go
  pkg/disttask/framework/framework_ha_test.go
  pkg/disttask/framework/framework_pause_and_resume_test.go
  pkg/disttask/framework/framework_rollback_test.go
  pkg/disttask/framework/framework_test.go
  pkg/disttask/framework/handle/handle.go
  pkg/disttask/framework/mock/scheduler_mock.go
  pkg/disttask/framework/planner/BUILD.bazel
  pkg/disttask/framework/planner/plan.go
  pkg/disttask/framework/proto/task.go
  pkg/disttask/framework/proto/task_test.go
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/manager.go
  pkg/disttask/framework/scheduler/register.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_test.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/importinto/dispatcher.go
  pkg/disttask/importinto/dispatcher_test.go
  pkg/disttask/importinto/planner_test.go
  pkg/disttask/importinto/proto.go
  pkg/disttask/importinto/scheduler.go
  pkg/disttask/importinto/subtask_executor.go
  pkg/metrics/disttask.go
  pkg/store/copr/mpp_probe.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#47647 extension: fix enterprise git commit hash display in `tidb-server -V`
  Makefile.common
Labels: size/XS, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#47599 disttask: use merge sort meta
  pkg/ddl/backfilling_dispatcher.go
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_merge_sort.go
  pkg/disttask/framework/dispatcher/dispatcher.go
  tests/realtikvtest/addindextest/global_sort_test.go
Labels: size/L, release-note-none, approved, lgtm

#47658 extension: fix make enterprise-server failed
  Makefile
  Makefile.common
Labels: size/XS, release-note-none, approved, lgtm

#47659 executor, tests: move test cases from `union_scan_test.go` and `kv_test.go` to integrationtest
  pkg/executor/test/kvtest/BUILD.bazel
  pkg/executor/test/kvtest/kv_test.go
  pkg/executor/test/kvtest/main_test.go
  pkg/executor/union_scan_test.go
  tests/integrationtest/r/executor/kv.result
  tests/integrationtest/r/executor/union_scan.result
  tests/integrationtest/t/executor/kv.test
  tests/integrationtest/t/executor/union_scan.test
Labels: size/XXL, release-note-none, approved, lgtm

#47653 statistics: fix entry too large when to save historical stats
  pkg/statistics/handle/history/history_stats.go
Labels: size/XS, release-note-none, approved, lgtm

#47536 disttask: cleanup framework meta when nodes shutdown
  Makefile
  pkg/ddl/backfilling_dispatcher.go
  pkg/ddl/ddl.go
  pkg/disttask/framework/dispatcher/BUILD.bazel
  pkg/disttask/framework/dispatcher/dispatcher.go
  pkg/disttask/framework/dispatcher/dispatcher_manager.go
  pkg/disttask/framework/dispatcher/dispatcher_manager_test.go
  pkg/disttask/framework/dispatcher/dispatcher_test.go
  pkg/disttask/framework/dispatcher/interface.go
  pkg/disttask/framework/framework_test.go
  pkg/disttask/framework/mock/BUILD.bazel
  pkg/disttask/framework/mock/dispatcher_mock.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/importinto/dispatcher.go
Labels: size/XXL, release-note-none, approved, lgtm

#47584 br: retry import sst files on invalidPart error
  br/pkg/utils/retry.go
  br/tests/br_full/run.sh
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#47668 disttask: add sleep when subtask == nil
  pkg/disttask/framework/scheduler/scheduler.go
Labels: size/XS, release-note-none, approved, lgtm

#47669 statistics: move some functions into global stats
  pkg/executor/BUILD.bazel
  pkg/executor/analyze.go
  pkg/executor/analyze_global_stats.go
  pkg/executor/analyze_worker.go
  pkg/statistics/handle/BUILD.bazel
  pkg/statistics/handle/ddl.go
  pkg/statistics/handle/dump.go
  pkg/statistics/handle/dump_test.go
  pkg/statistics/handle/globalstats/BUILD.bazel
  pkg/statistics/handle/globalstats/global_stats.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/util/util.go
Labels: size/XL, release-note-none, approved, lgtm

#47661 linter: setup a linter to validate constructor
  build/BUILD.bazel
  build/linter/constructor/BUILD.bazel
  build/linter/constructor/analyzer.go
  build/linter/constructor/analyzer_test.go
  build/linter/constructor/testdata/src/github.com/pingcap/tidb/util/linter/constructor/BUILD.bazel
  build/linter/constructor/testdata/src/github.com/pingcap/tidb/util/linter/constructor/constructorflag.go
  build/linter/constructor/testdata/src/t/BUILD.bazel
  build/linter/constructor/testdata/src/t/construct.go
  build/nogo_config.json
  pkg/sessionctx/stmtctx/BUILD.bazel
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/util/linter/constructor/BUILD.bazel
  pkg/util/linter/constructor/constructorflag.go
Labels: size/XL, release-note-none, approved, lgtm

#47664 Makefile: fix 'make bench-daily' after reorganize of the package directory
  Makefile
Labels: size/S, release-note-none, approved, lgtm

#47670 planner: introduce an interface for `StatsHandle` to simplify the code
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/history/history_stats.go
  pkg/statistics/handle/storage/gc.go
  pkg/statistics/handle/usage/index_usage.go
  pkg/statistics/handle/usage/predicate_column.go
  pkg/statistics/handle/usage/session_stats_collect.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/interfaces.go
Labels: size/XL, release-note-none, approved, lgtm

#47666 importinto: revert "use one writer for each kv group for all concurrent encoder"
  br/pkg/lightning/backend/external/writer.go
  pkg/disttask/importinto/encode_and_sort_operator.go
  pkg/disttask/importinto/encode_and_sort_operator_test.go
  pkg/disttask/importinto/scheduler.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/chunk_process.go
  pkg/executor/importer/chunk_process_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#47679 planner: move more methods from StatsHandle to its sub-packages
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/BUILD.bazel
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/gc.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/util/interfaces.go
Labels: size/XL, release-note-none, approved, lgtm

#47485 *: add global sort related metric
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/external/writer.go
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/local.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/index_cop.go
  pkg/metrics/BUILD.bazel
  pkg/metrics/ddl.go
  pkg/metrics/globalsort.go
  pkg/metrics/grafana/tidb.json
  pkg/metrics/metrics.go
Labels: size/XXL, release-note-none, approved, lgtm

#47678 variable: set default tidb_build_stats_concurrency 2
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/XS, release-note-none, approved, lgtm

#47680 importinto: add more logs to external backend, disable parallel sort
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/writer.go
  pkg/disttask/importinto/encode_and_sort_operator.go
Labels: size/M, release-note-none, approved, lgtm

#47703 session: fix the memory tracker leak in prepare binary protocol (#44618)
  server/conn_stmt_test.go
  session/session.go
Labels: size/M, release-note-none, approved, lgtm

#47709 gc_worker_test: Print error to the failure message when mustGetNone encounters unexpected error
  pkg/store/gcworker/gc_worker_test.go
Labels: size/XS, release-note-none, approved, lgtm

#47697 tests: fix some test cases in real TiKV env
  pkg/executor/executor_test.go
  pkg/session/test/vars/BUILD.bazel
  pkg/session/test/vars/vars_test.go
  tests/integrationtest/r/executor/admin.result
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/r/expression/builtin.result
  tests/integrationtest/r/expression/charset_and_collation.result
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/r/planner/core/plan_cache.result
  tests/integrationtest/r/session/vars.result
  tests/integrationtest/t/executor/admin.test
  tests/integrationtest/t/executor/executor.test
  tests/integrationtest/t/expression/builtin.test
  tests/integrationtest/t/expression/charset_and_collation.test
  tests/integrationtest/t/expression/issues.test
  tests/integrationtest/t/planner/cascades/integration.test
  tests/integrationtest/t/planner/core/plan_cache.test
  tests/integrationtest/t/session/vars.test
Labels: size/XL, release-note-none, approved, lgtm

#47704 makefile: update build cmd in graceshutdown & globalkilltest makefile
  tests/globalkilltest/Makefile
  tests/graceshutdown/Makefile
Labels: size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47708 statistics: add log to show reason for partition table's auto analyze
  pkg/statistics/handle/autoanalyze/autoanalyze.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#47598 statistics: avoid unnecessary copy at CMSketchAndTopNFromProto
  pkg/statistics/cmsketch.go
Labels: size/S, release-note-none, approved, lgtm

#47696 planner: move more methods from StatsHandle to its sub-packages
  br/pkg/backup/BUILD.bazel
  br/pkg/backup/schema.go
  br/pkg/metautil/BUILD.bazel
  br/pkg/metautil/metafile.go
  br/pkg/task/BUILD.bazel
  br/pkg/task/restore_test.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/schema_test.go
  cmd/importer/BUILD.bazel
  cmd/importer/stats.go
  pkg/domain/BUILD.bazel
  pkg/domain/plan_replayer_dump.go
  pkg/executor/BUILD.bazel
  pkg/executor/historical_stats_test.go
  pkg/executor/load_stats.go
  pkg/executor/plan_replayer.go
  pkg/planner/core/casetest/cbotest/BUILD.bazel
  pkg/planner/core/casetest/cbotest/cbo_test.go
  pkg/server/handler/optimizor/BUILD.bazel
  pkg/server/handler/optimizor/plan_replayer.go
  pkg/server/handler/optimizor/plan_replayer_test.go
  pkg/server/handler/optimizor/statistics_handler_test.go
  pkg/statistics/handle/BUILD.bazel
  pkg/statistics/handle/dump.go
  pkg/statistics/handle/globalstats/global_stats.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/history/BUILD.bazel
  pkg/statistics/handle/history/history_stats.go
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/dump_test.go
  pkg/statistics/handle/storage/json.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/interfaces.go
  pkg/statistics/handle/util/util.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#47689 session/variable: forbid changing @@global.require_secure_transport to 'on' with SEM enabled #47677
  sessionctx/sessionstates/BUILD.bazel
  sessionctx/sessionstates/session_states_test.go
  sessionctx/variable/sysvar.go
Labels: release-note, size/S, cherry-pick-approved, approved, lgtm

#47723 planner, util: move FastIntSet to util
  pkg/expression/BUILD.bazel
  pkg/expression/grouping_sets.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/rule_aggregation_skew_rewrite.go
  pkg/planner/funcdep/BUILD.bazel
  pkg/planner/funcdep/fd_graph.go
  pkg/planner/funcdep/fd_graph_test.go
  pkg/util/intset/BUILD.bazel
  pkg/util/intset/fast_int_set.go
  pkg/util/intset/fast_int_set_bench_test.go
  pkg/util/intset/fast_int_set_test.go
Labels: sig/planner, size/XL, release-note-none, skip-issue-check, approved, lgtm

#47730 domain/metrics: add a metric for lease expired time
  pkg/domain/schema_validator.go
  pkg/metrics/domain.go
  pkg/metrics/grafana/tidb.json
  pkg/metrics/metrics.go
Labels: component/metrics, size/L, release-note-none, approved, lgtm

#47454 planner: do not convert update to point get if the expr has sub-query
  pkg/parser/ast/expressions.go
  pkg/planner/core/plan_test.go
  pkg/planner/core/point_get_plan.go
Labels: sig/planner, release-note, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#47737 *: simple code
  pkg/ddl/placement_policy_test.go
  pkg/executor/test/admintest/admin_test.go
  pkg/planner/core/plan_test.go
  pkg/statistics/handle/handletest/lockstats/lock_partition_stats_test.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#47699 ddl: refine job_type of admin show ddl jobs
  pkg/ddl/ddl_worker.go
  pkg/ddl/index.go
  pkg/ddl/multi_schema_change.go
  pkg/executor/executor.go
  pkg/parser/model/ddl.go
  pkg/parser/model/reorg.go
Labels: size/M, release-note-none, approved, lgtm

#47707 session/variable: forbid changing @@global.require_secure_transport to 'on' with SEM enabled #47677
  sessionctx/sessionstates/BUILD.bazel
  sessionctx/sessionstates/session_states_test.go
  sessionctx/variable/sysvar.go
Labels: release-note, size/S, approved, lgtm

#47745 *: update tikv/client-go to fix batch-client send loop panic issue (#47716)
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, ok-to-test, approved, lgtm

#47739 planner: move more methods from StatsHandle to its sub-packages
  pkg/executor/analyze_worker.go
  pkg/statistics/handle/BUILD.bazel
  pkg/statistics/handle/ddl.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/history/history_stats.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/usage/session_stats_collect.go
  pkg/statistics/handle/util/interfaces.go
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#47744 disttask: fix upgrade missing create framework_meta
  pkg/session/bootstrap.go
  pkg/session/bootstrap_test.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47756 *: fix issue of tikv rpc request source tag unset
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#44828 executor, infoschema: add tiproxy into table `cluster_info`
  pkg/domain/infosync/info.go
  pkg/executor/infoschema_cluster_table_test.go
  pkg/executor/infoschema_reader_test.go
  pkg/infoschema/tables.go
Labels: size/L, release-note-none, approved, lgtm

#47749 planner: move more methods from StatsHandle to its sub-packages
  pkg/executor/BUILD.bazel
  pkg/executor/analyze_col.go
  pkg/executor/analyze_col_v2.go
  pkg/executor/analyze_global_stats.go
  pkg/statistics/BUILD.bazel
  pkg/statistics/builder_ext_stats.go
  pkg/statistics/handle/BUILD.bazel
  pkg/statistics/handle/ddl.go
  pkg/statistics/handle/extstats/BUILD.bazel
  pkg/statistics/handle/globalstats/BUILD.bazel
  pkg/statistics/handle/globalstats/global_stats.go
  pkg/statistics/handle/globalstats/global_stats_async.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/gc_test.go
  pkg/statistics/handle/util/interfaces.go
Labels: size/XL, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#47746 executor, tests: move test cases from `executor` to `integrationtest`
  pkg/executor/BUILD.bazel
  pkg/executor/analyze_test.go
  pkg/executor/batch_point_get_test.go
  pkg/executor/distsql_test.go
  pkg/executor/index_lookup_join_test.go
  pkg/executor/join_test.go
  pkg/executor/main_test.go
  pkg/executor/point_get_test.go
  pkg/executor/testdata/executor_suite_in.json
  pkg/executor/testdata/executor_suite_out.json
  pkg/executor/testdata/point_get_suite_in.json
  pkg/executor/testdata/point_get_suite_out.json
  tests/integrationtest/r/executor/analyze.result
  tests/integrationtest/r/executor/batch_point_get.result
  tests/integrationtest/r/executor/distsql.result
  tests/integrationtest/r/executor/index_lookup_join.result
  tests/integrationtest/r/executor/join.result
  tests/integrationtest/r/executor/point_get.result
  tests/integrationtest/t/executor/analyze.test
  tests/integrationtest/t/executor/batch_point_get.test
  tests/integrationtest/t/executor/distsql.test
  tests/integrationtest/t/executor/index_lookup_join.test
  tests/integrationtest/t/executor/join.test
  tests/integrationtest/t/executor/point_get.test
Labels: size/XXL, release-note-none, approved, lgtm
