Repository pingcap/tidb, pull requests merged in 2024-07, with the labels that each got.

#54329 executor: setup mem tracker for CTE correctly
  executor/cte.go
  executor/cte_test.go
  util/cteutil/storage.go
Labels: size/L, release-note-none, approved, lgtm

#54331 pkg/util: refine tidb_server_memory_limit to make the cpu usage more stable (#48927)
  util/gctuner/memory_limit_tuner.go
  util/gctuner/memory_limit_tuner_test.go
Labels: size/L, release-note-none, approved, lgtm

#54332 planner: fix the issue that cannot find column if using question marker in group-by-clause
  planner/core/logical_plan_builder.go
  planner/core/plan_cache_test.go
  types/parser_driver/value_expr.go
Labels: size/S, release-note-none, approved, lgtm

#54330 *: support memTracker.detach for HashJoin, Apply and IndexLookUp in Close func (#54095)
  executor/distsql.go
  executor/join.go
  util/chunk/list.go
  util/chunk/row_container.go
  util/memory/tracker.go
Labels: size/M, release-note-none, approved, lgtm

#54303 planner: classify logical partition union all into a separate file for later pkg move.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_partition_union_all.go
  pkg/planner/core/logical_plans.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#54339 statistics: fix wrong singleflight implementation for stats' syncload
  parser/model/model.go
  statistics/handle/BUILD.bazel
  statistics/handle/handle.go
  statistics/handle/handle_hist.go
  statistics/handle/handle_hist_test.go
Labels: size/L, release-note-none, approved, lgtm

#54288 ddl: enlarge LoadSchemaDiffVersionGapThreshold
  pkg/domain/domain.go
Labels: size/XS, release-note-none, approved, lgtm

#54342 statistics: add upper bound of retry for sync load
  statistics/handle/handle_hist.go
  statistics/handle/handle_hist_test.go
Labels: size/L, release-note-none, approved, lgtm

#54357 statistics: upgrade stats timeout checkpoint after it timeouts
  planner/core/plan_stats.go
  sessionctx/variable/session.go
  sessionctx/variable/sysvar.go
  statistics/handle/handle_hist.go
Labels: size/S, release-note-none, approved, lgtm

#54360 statistics: support global singleflight for sync load (#52796) (#53838)
  sessionctx/stmtctx/BUILD.bazel
  sessionctx/stmtctx/stmtctx.go
  statistics/handle/handle_hist.go
  statistics/handle/handle_hist_test.go
Labels: size/L, release-note-none, approved, lgtm

#54311 executor: fix panic in `TopN` when system variable `tidb_enable_tmp_storage_on_oom` is disabled
  pkg/executor/sortexec/BUILD.bazel
  pkg/executor/sortexec/topn.go
  pkg/executor/sortexec/topn_spill_test.go
Labels: release-note, size/S, approved, lgtm

#54358 planner: classify logical table dual into a separate file for later pkg move.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/explain.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/hashcode.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_table_dual.go
  pkg/planner/core/rule_build_key_info.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54344 statistics: fix wrong behavior for primary key' non-lite init stats
  statistics/handle/bootstrap.go
  statistics/handle/handle_test.go
Labels: size/S, release-note-none, approved, lgtm

#54043 *: panic guard for warnings
  pkg/executor/show.go
  pkg/executor/test/executor/executor_test.go
Labels: size/S, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#54114 session, infosync: add a cursor tracker to the session to keep tracking all needed information of the cursor.
  pkg/domain/infosync/BUILD.bazel
  pkg/domain/infosync/info.go
  pkg/executor/staticrecordset/BUILD.bazel
  pkg/executor/staticrecordset/cursorrecordset.go
  pkg/executor/staticrecordset/integration_test.go
  pkg/session/BUILD.bazel
  pkg/session/cursor/BUILD.bazel
  pkg/session/cursor/state.go
  pkg/session/cursor/tracker.go
  pkg/session/cursor/tracker_test.go
  pkg/session/session.go
  pkg/sessionctx/BUILD.bazel
  pkg/sessionctx/context.go
  pkg/testkit/mocksessionmanager.go
  pkg/util/BUILD.bazel
  pkg/util/mock/BUILD.bazel
  pkg/util/mock/context.go
  pkg/util/processinfo.go
Labels: size/XL, release-note-none, approved, lgtm

#54325 executor: fix query panic on INFORMATION_SCHEMA.CLUSTER_SLOW_QUERY with some slow query files
  pkg/executor/slow_query.go
  pkg/executor/slow_query_test.go
Labels: size/M, release-note-none, approved, lgtm

#54364 metrics: add infoschema v2 cache size and limit
  pkg/infoschema/metrics.go
  pkg/infoschema/sieve.go
  pkg/metrics/grafana/tidb.json
  pkg/metrics/infoschema.go
  pkg/metrics/metrics.go
Labels: size/L, release-note-none, approved, lgtm

#54367 test: stabilize TestSkipSchemaChecker
  pkg/ddl/tiflash_replica_test.go
  pkg/testkit/testkit.go
Labels: size/S, release-note-none, approved, lgtm

#54362 planner: refactor a few code of plan cache
  pkg/executor/prepared.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/server/driver_tidb.go
  pkg/session/session.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#53922 expression: remove unused MarshalJSON function in Expression
  pkg/expression/column.go
  pkg/expression/column_test.go
  pkg/expression/constant.go
  pkg/expression/expression.go
  pkg/expression/expression_test.go
  pkg/expression/scalar_function_test.go
  pkg/planner/core/scalar_subq_expression.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#54150 br: fix backup to aliyum OSS not support ak/sk as env
  br/pkg/storage/s3.go
Labels: release-note, size/S, ok-to-test, approved, lgtm

#54338 planner: classify logical window into a separate file for later pkg move.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_window.go
  pkg/planner/core/property_cols_prune.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#54356 planner: classify logical max one row into a separate file for later pkg move
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_max_one_row.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/stats.go
  pkg/planner/core/util.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#54287 test: use a mysql driver supporting cursor fetch to test the cursor fetch function
  DEPS.bzl
  go.mod
  go.sum
  pkg/server/internal/testserverclient/BUILD.bazel
  pkg/server/internal/testserverclient/server_client.go
  pkg/server/tests/cursor/BUILD.bazel
  pkg/server/tests/cursor/cursor_test.go
Labels: size/L, release-note-none, approved, lgtm

#54387 planner: fix grouping sets document typo
  docs/design/2023-09-12-grouping-sets.md
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#53985 executor: do not track membuffer's memory in executor
  pkg/executor/delete.go
  pkg/executor/insert_common.go
  pkg/executor/replace.go
Labels: release-note, size/S, approved, lgtm

#54279 *: make changes to tidb_schema_cache_size effective immediately
  pkg/domain/domain_sysvars.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/sieve.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/M, release-note-none, approved, lgtm

#54359 planner: classify logical tikv single gather into a separate file for later pkg move.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/explain.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_tikv_single_gather.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/property_cols_prune.go
  pkg/planner/core/rule_build_key_info.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#54378 test: fix data race in RefreshSession
  pkg/testkit/testkit.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#54063 executor: optimize ResetContextOfStmt
  pkg/executor/executor.go
  pkg/executor/executor_test.go
  pkg/session/test/session_test.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/variable/tidb_vars.go
  pkg/util/context/warn.go
  pkg/util/memory/tracker.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#54111 *: reduce mem allocs caused by GetTextToLog
  pkg/executor/adapter.go
  pkg/sessionctx/variable/BUILD.bazel
  pkg/sessionctx/variable/session.go
  pkg/util/stmtsummary/BUILD.bazel
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/stmtsummary/statement_summary_test.go
  pkg/util/stmtsummary/v2/BUILD.bazel
  pkg/util/stmtsummary/v2/record.go
  pkg/util/stmtsummary/v2/record_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#54400 executor: fix cte mem tracker failpoint condition
  pkg/executor/cte.go
Labels: size/S, release-note-none, approved, lgtm

#54402 planner: avoid chained calls to improve debug
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/rule_generate_column_substitute.go
  pkg/planner/core/rule_inject_extra_projection.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#54336 planner: include both indexes and columns in job info
  pkg/executor/analyze.go
  pkg/executor/analyze_col.go
  pkg/executor/show_stats_test.go
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/usage/predicate_column_test.go
  tests/integrationtest/r/executor/analyze.result
Labels: sig/planner, release-note, size/L, approved, lgtm

#54404 planner: refactor a few code of plan cache
  pkg/executor/prepared.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_utils.go
  pkg/server/BUILD.bazel
  pkg/server/driver_tidb.go
  pkg/session/session.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54403 testkit: fix data race in `GetInternalSessionStartTSList`
  pkg/testkit/mocksessionmanager.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#54394 table: Use `MutateBuffers` to manage buffers
  pkg/table/context/BUILD.bazel
  pkg/table/context/buffers.go
  pkg/table/context/buffers_test.go
  pkg/table/context/table.go
  pkg/table/contextimpl/table.go
  pkg/table/tables/tables.go
Labels: size/XXL, release-note-none, approved, lgtm

#54396 *: upgrade 1.21.12
  WORKSPACE
  build/image/base
  build/image/parser_test
  tests/globalkilltest/Dockerfile
Labels: size/XS, release-note-none, approved, lgtm

#54085 executor: Do not save long-lived unsafe.Pointer in hash join v2
  pkg/executor/builder.go
  pkg/executor/join/BUILD.bazel
  pkg/executor/join/base_join_probe.go
  pkg/executor/join/bench_test.go
  pkg/executor/join/hash_join_v2.go
  pkg/executor/join/hash_table_v2.go
  pkg/executor/join/hash_table_v2_test.go
  pkg/executor/join/inner_join_probe.go
  pkg/executor/join/join_row_table.go
  pkg/executor/join/join_row_table_test.go
  pkg/executor/join/left_outer_join_probe.go
  pkg/executor/join/row_table_builder_test.go
  pkg/executor/test/issuetest/executor_issue_test.go
  pkg/executor/test/jointest/hashjoin/hash_join_test.go
  pkg/executor/test/seqtest/seq_executor_test.go
Labels: size/XL, release-note-none, approved, lgtm

#54365 br: revert new introduced `BatchScanRegions` to keep compatibility
  DEPS.bzl
  br/pkg/restore/split/client.go
  br/pkg/streamhelper/advancer_env.go
  br/tests/br_key_locked/codec.go
  go.mod
  go.sum
  pkg/store/mockstore/unistore/tikv/mock_region.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#53494 *: implement auth plugin support in the extension framework
  pkg/executor/BUILD.bazel
  pkg/executor/grant.go
  pkg/executor/simple.go
  pkg/executor/utils.go
  pkg/executor/utils_test.go
  pkg/extension/BUILD.bazel
  pkg/extension/auth.go
  pkg/extension/auth_test.go
  pkg/extension/extensions.go
  pkg/extension/manifest.go
  pkg/extension/registry_test.go
  pkg/extension/session.go
  pkg/parser/mysql/const.go
  pkg/privilege/privileges/privileges.go
  pkg/server/conn.go
  pkg/server/rpc_server.go
Labels: release-note, size/XXL, ok-to-test, approved, lgtm

#53760 variable: deprecated tidb_auto_analyze_partition_batch_size
  pkg/executor/set_test.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/XL, release-note-none, approved, lgtm

#54306 tools/ut.go: add concurrent when listing pkgs
  tools/check/ut.go
Labels: size/M, release-note-none, approved, lgtm

#54414 planner: classify logical table scan into a separate file for later pkg move
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/explain.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_table_scan.go
  pkg/planner/core/property_cols_prune.go
  pkg/planner/core/rule_build_key_info.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54412 *: improve ErrKeyExists generation and MemoizeStr
  pkg/ddl/util/util.go
  pkg/executor/batch_checker.go
  pkg/executor/insert.go
  pkg/kv/error.go
  pkg/store/driver/txn/error.go
  pkg/table/tables/tables.go
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Labels: size/L, release-note-none, approved, lgtm

#54243 lightning: reduce the "unable to get keyspace name" log level to DEBUG
  lightning/pkg/importer/import.go
  lightning/pkg/server/lightning.go
  pkg/lightning/common/util.go
Labels: size/S, release-note-none, component/lightning, approved, lgtm

#54419 ddl: consider paused job when check runnable
  pkg/ddl/callback.go
  pkg/ddl/column.go
  pkg/ddl/ddl_running_jobs.go
  pkg/ddl/ddl_worker_test.go
  pkg/ddl/job_table.go
  pkg/ddl/job_table_test.go
  pkg/ddl/tests/adminpause/BUILD.bazel
  pkg/ddl/tests/adminpause/pause_resume_test.go
  pkg/ddl/util/callback/callback.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.2

#54435 domain: refine the runaway code and fix typos
  pkg/domain/domain.go
  pkg/domain/resourcegroup/runaway.go
  pkg/domain/runaway.go
  pkg/executor/adapter.go
Labels: size/M, release-note-none, approved, lgtm

#54410 planner: classify logical selection into a separate file for later pkg move.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/explain.go
  pkg/planner/core/hashcode.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_selection.go
  pkg/planner/core/property_cols_prune.go
  pkg/planner/core/rule_build_key_info.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_constant_propagation.go
  pkg/planner/core/rule_derive_topn_from_window.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/rule_outer_to_inner_join.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#54361 planner: classify logical projection into a separate file for later pkg move.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/explain.go
  pkg/planner/core/hashcode.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_projection.go
  pkg/planner/core/property_cols_prune.go
  pkg/planner/core/rule_build_key_info.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_constant_propagation.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/rule_outer_to_inner_join.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/rule_topn_push_down.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#54451 planner: improve code for friendly debug
  pkg/planner/core/exhaust_physical_plans.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#54382 ddl: fix wrong format of duplicate entry error message
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_read_index.go
  pkg/ddl/index.go
  pkg/ddl/ingest/backend.go
  pkg/ddl/ingest/backend_mgr.go
  pkg/ddl/ingest/engine_mgr.go
  pkg/ddl/ingest/mock.go
  tests/realtikvtest/addindextest2/BUILD.bazel
  tests/realtikvtest/addindextest2/global_sort_test.go
  tests/realtikvtest/addindextest3/functional_test.go
  tests/realtikvtest/addindextest4/ingest_test.go
Labels: size/L, release-note-none, approved, lgtm

#54448 executor: remove the session context inside kvRangeBuilder
  pkg/executor/builder.go
  pkg/executor/index_merge_reader.go
  pkg/executor/table_reader.go
Labels: size/S, release-note-none, approved, lgtm

#54447 ddl/tests/partition: fix an unstable test TestTruncatePartitionWithGlobalIndex
  pkg/ddl/tests/partition/db_partition_test.go
Labels: size/S, release-note-none, approved, lgtm

#54455 *: improve auth plugin design and add readme
  docs/design/2024-05-10-extension-authentication-plugin.md
  pkg/extension/README.md
Labels: size/M, release-note-none, needs-ok-to-test, approved, lgtm

#54442 planner: refactor a few code of plan cache
  pkg/executor/prepared.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_instance_test.go
  pkg/planner/core/plan_cache_lru_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/server/driver_tidb.go
  pkg/session/session.go
  tests/integrationtest/r/planner/core/plan_cache.result
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#54427 infoschema: fix a data race on infoschema v2 addSpecialDB()
  pkg/infoschema/infoschema_v2.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#54424 mod: update pd client
  DEPS.bzl
  go.mod
  go.sum
  pkg/executor/internal/calibrateresource/calibrate_resource_test.go
Labels: size/M, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#54443 planner: classify logical index scan into a separate file for later pkg move
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/explain.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_index_scan.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/property_cols_prune.go
  pkg/planner/core/rule_build_key_info.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#54445 planner: git split logical_join logic out of logical_plans while keep its commit history
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/logical_join.go
  pkg/planner/core/logical_plans.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#54464 planner: refactor a few code of plan cache
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_instance.go
  pkg/planner/core/plan_cache_instance_test.go
  pkg/planner/core/plan_cache_lru.go
  pkg/planner/core/plan_cache_lru_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/sessionctx/context.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#54457 [cherry-pick] mod: update the pd client
  DEPS.bzl
  go.mod
  go.sum
  pkg/executor/internal/calibrateresource/calibrate_resource_test.go
Labels: size/M, release-note-none, approved, lgtm

#54466 planner: classify logical expand logic into a separate file while keep its commit history
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/logical_expand.go
  pkg/planner/core/logical_plans.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#54469 planner: classify logical datasource logic into a separate file while keep its commit histroy
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/logical_datasource.go
  pkg/planner/core/logical_plans.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#54308 *: optimize error generation, debug log and AllocHandle in the hot write path
  pkg/executor/batch_checker.go
  pkg/meta/autoid/autoid.go
  pkg/session/bench_test.go
  pkg/table/tables/tables.go
  pkg/table/tables/tables_test.go
Labels: size/L, release-note-none, approved, lgtm

#54137 statistics: add a testcase for issue 54022
  tests/realtikvtest/statisticstest/BUILD.bazel
  tests/realtikvtest/statisticstest/statistics_test.go
Labels: sig/planner, size/M, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#54471 planner: classify logical apply logic into a separate file while keep commit history
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/logical_apply.go
  pkg/planner/core/logical_plans.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54482 [cherry-pick] mod: update the pd client
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#54472 planner: consider using instance level plan cache
  pkg/planner/core/base/plan_base.go
  pkg/planner/core/operator/baseimpl/plan.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_cache_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/point_get_plan.go
  pkg/sessionctx/variable/session.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54385 br: pre-check TiKV disk space before restore task
  br/pkg/task/BUILD.bazel
  br/pkg/task/restore.go
  br/pkg/task/restore_test.go
  br/pkg/utils/backoff.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#54430 Incremental restore: fix the issue that backfill data is not covered by newTS
  br/pkg/task/restore.go
  br/tests/br_incremental/run.sh
Labels: release-note, size/M, ok-to-test, approved, lgtm

#53831 config: Change tidb_opt_projection_push_down default value to true | tidb-test=pr/2359
  pkg/config/config.go
  pkg/executor/distsql_test.go
  pkg/executor/explainfor_test.go
  pkg/executor/testdata/prepare_suite_out.json
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
  pkg/planner/cardinality/testdata/cardinality_suite_out.json
  pkg/planner/core/casetest/dag/testdata/plan_suite_out.json
  pkg/planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  pkg/planner/core/casetest/flatplan/testdata/flat_plan_suite_out.json
  pkg/planner/core/casetest/index/testdata/integration_suite_out.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/casetest/planstats/plan_stats_test.go
  pkg/planner/core/casetest/testdata/plan_normalized_suite_out.json
  pkg/statistics/handle/globalstats/global_stats_test.go
  tests/integrationtest/r/clustered_index.result
  tests/integrationtest/r/cte.result
  tests/integrationtest/r/executor/chunk_reuse.result
  tests/integrationtest/r/executor/explain.result
  tests/integrationtest/r/explain_cte.result
  tests/integrationtest/r/explain_easy.result
  tests/integrationtest/r/explain_generate_column_substitute.result
  tests/integrationtest/r/explain_shard_index.result
  tests/integrationtest/r/expression/explain.result
  tests/integrationtest/r/index_merge.result
  tests/integrationtest/r/planner/core/casetest/index/index.result
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/r/planner/core/indexmerge_path.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/r/planner/core/plan.result
  tests/integrationtest/r/sessionctx/setvar.result
Labels: sig/planner, release-note, size/XXL, approved, lgtm

#54496 session, executor, domain: use the SQL start time to calculate the runaway deadline
  pkg/domain/resourcegroup/runaway.go
  pkg/executor/adapter.go
  pkg/sessionctx/variable/session.go
Labels: size/M, release-note-none, approved, lgtm

#54487 planner: classify logical union scan into a separate file for later pkg move.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/explain.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_union_scan.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_predicate_push_down.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54490 planner: classify logical show logic into a separate file for later pkg move.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_show.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#54498 planner: support using hint to create hypo-indexes
  pkg/parser/hintparser.go
  pkg/parser/hintparser.y
  pkg/parser/misc.go
  pkg/parser/parser_test.go
  pkg/planner/BUILD.bazel
  pkg/planner/core/integration_test.go
  pkg/planner/core/planbuilder.go
  pkg/planner/optimize.go
  pkg/util/hint/BUILD.bazel
  pkg/util/hint/hint.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#54438 ddl: schedule as many jobs as possible in one round, simplify sql to query jobs
  pkg/ddl/callback.go
  pkg/ddl/cancel_test.go
  pkg/ddl/db_test.go
  pkg/ddl/ddl_api_test.go
  pkg/ddl/ddl_worker_test.go
  pkg/ddl/ddl_workerpool.go
  pkg/ddl/ddl_workerpool_test.go
  pkg/ddl/job_table.go
  pkg/ddl/job_table_test.go
  pkg/ddl/logutil/logutil.go
  pkg/ddl/table_test.go
  pkg/ddl/tests/adminpause/pause_resume_test.go
  pkg/ddl/util/callback/callback.go
  pkg/session/bootstraptest/bootstrap_upgrade_test.go
  pkg/statistics/handle/initstats/BUILD.bazel
  pkg/statistics/handle/initstats/load_stats_page.go
  pkg/statistics/handle/logutil/BUILD.bazel
  pkg/statistics/handle/logutil/logutil.go
  pkg/util/logutil/log.go
  pkg/util/logutil/log_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#54485 planner: classify logical mem table logic into a separate file for later pkg move
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_mem_table.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54491 planner: classify logical show ddl jobs into a separate file for later pkg move.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_show_ddl_jobs.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54291 domain,infoschema: fix the co-exist of infoschema v1 and v2 causing memory leak
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/domain/domain_test.go
  pkg/domain/schema_validator.go
  pkg/infoschema/cache.go
Labels: size/L, release-note-none, approved, lgtm

#54504 test: stabilize TestUpgradeWithPauseDDL
  pkg/session/bootstraptest/bootstrap_upgrade_test.go
Labels: size/M, release-note-none, approved, lgtm

#54146 expression: fix the type of casting YEAR as json
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_cast_vec.go
  tests/integrationtest/r/expression/json.result
  tests/integrationtest/t/expression/json.test
Labels: release-note, size/S, approved, lgtm

#54519 statistics: add more comments for the histogram bucket
  pkg/statistics/builder.go
  pkg/statistics/histogram.go
Labels: sig/planner, size/M, release-note-none, skip-issue-check, approved, lgtm

#54521 table: move add TTL insert rows metrics code out of table package
  pkg/executor/insert_common.go
  pkg/table/tables/tables.go
Labels: size/S, release-note-none, approved, lgtm

#54523 executor: fix cte mem tracker failpoint condition again
  pkg/executor/cte.go
Labels: size/XS, release-note-none, approved, lgtm

#54524 executor: fix unstable unit test `TestMergeJoinInDisk`
  pkg/executor/sortexec/sort.go
Labels: release-note, size/XS, approved, lgtm

#54525 executor/simple: prohibit setting a resource group to a role
  errors.toml
  pkg/errno/errcode.go
  pkg/errno/errname.go
  pkg/executor/simple.go
  pkg/infoschema/error.go
  tests/integrationtest/r/executor/simple.result
  tests/integrationtest/t/executor/simple.test
Labels: size/M, release-note-none, approved, lgtm

#54515 planner: classify logical cte logic into a separate file for later pkg move
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_cte.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/rule_topn_push_down.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#54483 lightning: improve log
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/retry.go
  pkg/lightning/backend/local/local.go
  pkg/util/logutil/log.go
Labels: size/S, release-note-none, approved, lgtm

#54433 table: provide some binlog related methods for binlog in `MutateContext`
  pkg/lightning/backend/kv/session.go
  pkg/session/bootstrap_test.go
  pkg/session/session.go
  pkg/table/context/buffers.go
  pkg/table/context/buffers_test.go
  pkg/table/context/table.go
  pkg/table/contextimpl/BUILD.bazel
  pkg/table/contextimpl/table.go
  pkg/table/contextimpl/table_test.go
  pkg/table/tables/BUILD.bazel
  pkg/table/tables/tables.go
  pkg/util/mock/context.go
Labels: size/L, release-note-none, approved, lgtm

#54518 planner: classify logical sequence logic into a separate file for later pkg move.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_sequence.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#54544 readme: fix the failure of X icon display
  README.md
Labels: component/docs, size/XS, release-note-none, skip-issue-check, approved, lgtm

#54282 executor,infoschema: Add pad_attribute to collation info | tidb-test=pr/2354
  pkg/executor/infoschema_reader.go
  pkg/executor/show.go
  pkg/executor/test/showtest/show_test.go
  pkg/infoschema/tables.go
  pkg/parser/charset/charset.go
  pkg/parser/charset/charset_test.go
  pkg/planner/core/planbuilder.go
  tests/integrationtest/r/collation_misc_disabled.result
  tests/integrationtest/r/collation_misc_enabled.result
  tests/integrationtest/r/executor/show.result
  tests/integrationtest/r/planner/core/expression_rewriter.result
Labels: sig/planner, release-note, size/XXL, ok-to-test, approved, lgtm

#54517 planner: support using hint to create hypo-indexes
  pkg/planner/optimize.go
  pkg/util/hint/hint.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#52543 fast_create_table: add retry for local worker
  pkg/ddl/job_table.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#54542 planner: classify logical cte table into a separate file for later pkg move
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_cte.go
  pkg/planner/core/logical_cte_table.go
  pkg/planner/core/logical_initialize.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54473 restore: make incremental restore and log restore compatible
  br/pkg/task/BUILD.bazel
  br/pkg/task/restore.go
  br/pkg/task/restore_test.go
  br/pkg/task/stream.go
  br/tests/br_incremental/run.sh
  br/tests/br_incremental_index/run.sh
  br/tests/br_mv_index/run.sh
  br/tests/br_pitr/run.sh
  pkg/ddl/backfilling.go
Labels: release-note, size/XL, approved, lgtm

#54501 infoschema: tend to cache the old key in caching strategy for infoschema v2
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/test/infoschemav2test/BUILD.bazel
  pkg/infoschema/test/infoschemav2test/v2_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#54507 infoschema, metrics: add TableByName API duration metrics for infoschema v2
  pkg/infoschema/infoschema_v2.go
  pkg/metrics/grafana/tidb.json
  pkg/metrics/infoschema.go
  pkg/metrics/metrics.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#54537 planner: add more test cases for Plan.Clone
  pkg/planner/core/main_test.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/planbuilder_test.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#54584 planner: add more test cases for Plan.Clone
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/planbuilder_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54543 ddl: fix check running ingest job
  pkg/ddl/ingest/env.go
  pkg/ddl/ingest/env_test.go
Labels: size/XS, release-note-none, approved, lgtm

#54539 table: make slices in `ColSizeDeltaBuffer` private
  pkg/executor/importer/import.go
  pkg/executor/internal/exec/executor.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/session_test.go
  pkg/table/context/buffers.go
  pkg/table/context/buffers_test.go
  pkg/table/tables/tables.go
Labels: size/L, release-note-none, approved, lgtm

#54292 ddl/ingest: move backend ctx out of checkpoint manager
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/ddl_worker.go
  pkg/ddl/index.go
  pkg/ddl/ingest/backend_mgr.go
  pkg/ddl/ingest/checkpoint.go
  pkg/ddl/ingest/checkpoint_test.go
  pkg/ddl/ingest/tests/BUILD.bazel
  pkg/ddl/ingest/tests/partition_table_test.go
  tests/realtikvtest/addindextest3/BUILD.bazel
  tests/realtikvtest/addindextest3/ingest_test.go
  tests/realtikvtest/addindextest4/BUILD.bazel
  tests/realtikvtest/addindextest4/failure_test.go
  tests/realtikvtest/testkit.go
Labels: size/XL, release-note-none, approved, lgtm

#54588 planner: add more test cases for Plan.Clone
  pkg/executor/builder.go
  pkg/planner/core/access_object.go
  pkg/planner/core/base/plan_base.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_tikv_single_gather.go
  pkg/planner/core/operator/baseimpl/BUILD.bazel
  pkg/planner/core/operator/baseimpl/plan.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/task_base.go
  pkg/planner/util/handle_cols.go
  pkg/planner/util/misc.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54581 infoschema: use maps.Clone to replace iterating
  pkg/ddl/callback.go
  pkg/ddl/ddl.go
  pkg/ddl/ddl_worker.go
  pkg/ddl/job_table.go
  pkg/ddl/schema_version.go
  pkg/ddl/tests/indexmerge/BUILD.bazel
  pkg/ddl/tests/indexmerge/merge_test.go
  pkg/domain/domain.go
  pkg/infoschema/builder.go
  pkg/infoschema/builder_misc.go
  pkg/infoschema/context/infoschema.go
  pkg/infoschema/infoschema.go
Labels: size/L, release-note-none, approved, lgtm

#54566 planner: move show contents to logical_show
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_show.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#54564 planner: export logical cte and cte_table's elements for later pkg move.
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_cte.go
  pkg/planner/core/logical_cte_table.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_union_scan.go
  pkg/planner/core/recheck_cte.go
  pkg/planner/core/rule_partition_processor.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54569 ddl/ingest: close writer before engine
  pkg/ddl/ingest/engine.go
Labels: size/S, release-note-none, approved, lgtm

#54439 ddl: improve FLASHBACK DATABASE for many table case
  pkg/ddl/db_test.go
  pkg/ddl/ddl.go
  pkg/ddl/ddl_worker.go
  pkg/ddl/schema.go
  pkg/ddl/table.go
  pkg/domain/domain.go
  pkg/executor/ddl.go
  pkg/executor/recover_test.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#54405 executor: support right outer join for hash join v2
  pkg/executor/join/BUILD.bazel
  pkg/executor/join/base_join_probe.go
  pkg/executor/join/inner_join_probe_test.go
  pkg/executor/join/outer_join_probe.go
  pkg/executor/join/right_outer_join_probe_test.go
  pkg/planner/core/physical_plans.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#54606 docs: fix markdown list number
  docs/tidb_http_api.md
Labels: size/XXL, release-note-none, skip-issue-check, approved, lgtm

#54185 *: optimize the speed of full load
  pkg/bindinfo/capture_test.go
  pkg/bindinfo/tests/bind_test.go
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/ddl/tiflash_replica_test.go
  pkg/domain/domain.go
  pkg/executor/BUILD.bazel
  pkg/executor/internal/querywatch/BUILD.bazel
  pkg/executor/internal/querywatch/query_watch_test.go
  pkg/executor/partition_table_test.go
  pkg/executor/prepared_test.go
  pkg/executor/test/showtest/show_test.go
  pkg/expression/integration_test/integration_test.go
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_v2.go
  pkg/meta/BUILD.bazel
  pkg/meta/meta.go
  pkg/meta/meta_test.go
  pkg/parser/model/model.go
  pkg/planner/core/casetest/BUILD.bazel
  pkg/planner/core/casetest/enforcempp/enforce_mpp_test.go
  pkg/planner/core/casetest/hint/hint_test.go
  pkg/planner/core/casetest/integration_test.go
  pkg/planner/core/casetest/mpp/BUILD.bazel
  pkg/planner/core/casetest/mpp/mpp_test.go
  pkg/planner/core/casetest/physicalplantest/physical_plan_test.go
  pkg/planner/core/casetest/pushdown/BUILD.bazel
  pkg/planner/core/casetest/pushdown/push_down_test.go
  pkg/planner/core/casetest/rule/BUILD.bazel
  pkg/planner/core/casetest/rule/rule_join_reorder_test.go
  pkg/planner/core/casetest/tiflash_selection_late_materialization_test.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/plan_test.go
  pkg/planner/core/runtime_filter_generator_test.go
  pkg/planner/util/coretestsdk/testkit.go
  pkg/structure/hash.go
  pkg/table/tables/cache_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#54546 server: refine the connection counter logic
  pkg/executor/simple.go
  pkg/server/conn.go
  pkg/server/internal/testserverclient/BUILD.bazel
  pkg/server/internal/testserverclient/server_client.go
  pkg/server/server.go
  pkg/session/session.go
  pkg/sessionctx/variable/session.go
Labels: release-note, size/L, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#54601 planner: use code-gen to generate CloneForPlanCache method for some operators
  build/nogo_config.json
  pkg/expression/schema.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/plan_clone_generator.go
  pkg/planner/core/plan_clone_test.go
  pkg/planner/core/util.go
  pkg/planner/util/misc.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#54594 *: fix ctrl+c can not kill tidb during statistics init
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/domain/domain.go
  pkg/executor/analyze.go
  pkg/executor/infoschema_reader_test.go
  pkg/executor/show_stats_test.go
  pkg/executor/simple.go
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/executor/test/analyzetest/memorycontrol/memory_control_test.go
  pkg/executor/test/seqtest/seq_executor_test.go
  pkg/executor/test/simpletest/simple_test.go
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/cardinality/trace_test.go
  pkg/planner/core/casetest/cbotest/cbo_test.go
  pkg/planner/core/casetest/planstats/plan_stats_test.go
  pkg/planner/core/indexmerge_intersection_test.go
  pkg/planner/core/integration_test.go
  pkg/server/handler/optimizor/statistics_handler_test.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/globalstats/global_stats_test.go
  pkg/statistics/handle/handletest/handle_test.go
  pkg/statistics/handle/handletest/statstest/stats_test.go
  pkg/statistics/handle/storage/dump_test.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/storage/stats_read_writer_test.go
  pkg/statistics/handle/syncload/stats_syncload_test.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/handle/updatetest/update_test.go
  pkg/statistics/integration_test.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
  tests/realtikvtest/statisticstest/statistics_test.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#54631 types: fix the behavior when inserting a big scientific notation number to keep it same with mysql (#47803)
  pkg/executor/insert_test.go
  pkg/types/convert.go
  pkg/types/convert_test.go
Labels: release-note, size/M, cherry-pick-approved, approved, lgtm

#54627 meta: fix memory leak when loading infoschema v2
  pkg/meta/meta.go
Labels: size/XS, release-note-none, approved, lgtm

#54556 br: use tikv volume count for ebs backup progress
  br/pkg/task/backup_ebs.go
Labels: size/XS, release-note-none, affects-6.5, needs-ok-to-test, approved, lgtm, affects-7.5, affects-8.1

#54655 server: ignore goleak for ristretto.(*defaultPolicy).processItems
  pkg/server/main_test.go
Labels: size/XS, release-note-none, approved, lgtm

#54654 tools: add `//go:build ignore` to the `main` files in `tools/check`
  tools/check/BUILD.bazel
  tools/check/ut.go
  tools/check/xprog.go
Labels: size/M, release-note-none, approved, lgtm

#54630 executor: Optimize slow log parsing's splitByColon function
  pkg/executor/slow_query.go
  pkg/executor/slow_query_test.go
Labels: size/L, release-note-none, approved, lgtm

#54647 planner: explanation of the left condition remains consistent with the others
  pkg/planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  pkg/planner/core/explain.go
  tests/integrationtest/r/executor/jointest/join.result
  tests/integrationtest/r/executor/merge_join.result
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#54465 statistics: init LastAnalyzeVersion with snapshot timestamp
  pkg/statistics/analyze.go
  pkg/statistics/handle/autoanalyze/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/table.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#54633 planner: remove unnecessary join's receiver func and export some of them for usage.
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/logical_join.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54638 planner: use code-gen to generate CloneForPlanCache method for some operators
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/plan_clone_generator.go
  pkg/planner/property/physical_property.go
  pkg/planner/util/BUILD.bazel
  pkg/planner/util/misc.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54547 ddl: pessimistic lock global id, alloc id & insert ddl job in one txn
  pkg/ddl/BUILD.bazel
  pkg/ddl/ddl_worker.go
  pkg/ddl/executor_test.go
  pkg/ddl/job_table.go
  pkg/kv/txn.go
  pkg/kv/txn_test.go
  pkg/meta/meta.go
  pkg/sessiontxn/isolation/repeatable_read.go
Labels: size/XL, release-note-none, approved, lgtm

#54495 executor: fix update ignore still report dup-key error in statement retry
  pkg/executor/update_test.go
  pkg/table/tables/tables.go
Labels: release-note, size/M, approved, lgtm

#54608 infoschema, http: add two HTTP API for keyvis
  docs/tidb_http_api.md
  pkg/infoschema/context/infoschema.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_v2.go
  pkg/server/handler/tests/http_handler_test.go
  pkg/server/handler/tikvhandler/tikv_handler.go
  pkg/server/handler/util.go
Labels: size/L, release-note-none, approved, lgtm

#54605 table: `CheckRowBuffer.GetRowToCheck` returns `chunk.Row` to protect inner slices
  pkg/table/context/BUILD.bazel
  pkg/table/context/buffers.go
  pkg/table/context/buffers_test.go
  pkg/table/tables/tables.go
Labels: size/M, release-note-none, approved, lgtm

#54661 planner: fix the issue of reusing wrong point-plan for "select ... for update"
  pkg/ddl/tests/metadatalock/mdl_test.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/tests/prepare/prepare_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#54614 executor: refactor the `BaseExecutor` and remove session context in `ProjectionExec`
  pkg/executor/benchmark_test.go
  pkg/executor/builder.go
  pkg/executor/executor_required_rows_test.go
  pkg/executor/projection.go
Labels: size/M, release-note-none, approved, lgtm

#54450 planer: fix invalid pointer caused by a recursive CTE query
  pkg/executor/test/cte/BUILD.bazel
  pkg/executor/test/cte/cte_test.go
  pkg/planner/core/find_best_task.go
  pkg/server/main_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#54610 planner: export some functional-dependency related func utility in logical plans
  pkg/planner/core/logical_join.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_selection.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#54649 planner: fix some typos
  pkg/planner/cardinality/pseudo.go
  pkg/planner/cardinality/selectivity.go
  pkg/statistics/table.go
Labels: sig/planner, size/S, release-note-none, skip-issue-check, approved, lgtm

#54678 planner: classify part of join's member func into logical_join file.
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/logical_join.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/rule_join_reorder.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#54530 infoschema_v2: init schema cache size in meta
  pkg/domain/domain_sysvars.go
  pkg/meta/meta.go
  pkg/session/session.go
  pkg/session/tidb_test.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#54692 lightning: upgrade webpack and other nodejs module version
  lightning/pkg/web/res.go
  lightning/pkg/web/res_vfsdata.go
  lightning/web/package-lock.json
  lightning/web/package.json
Labels: size/M, release-note-none, approved, lgtm

#54040 executor: populate correct user in set pwd for error msg
  pkg/executor/simple.go
  pkg/executor/test/simpletest/simple_test.go
  tests/integrationtest/r/privilege/privileges.result
Labels: release-note, size/S, needs-ok-to-test, approved, lgtm

#54429 executor: some minor refine for hash join v2 build
  pkg/executor/join/BUILD.bazel
  pkg/executor/join/hash_join_v2.go
  pkg/executor/join/hash_table_v2_test.go
  pkg/executor/join/join_row_table.go
  pkg/executor/join/row_table_builder_test.go
Labels: size/L, release-note-none, approved, lgtm

#54673 lightning: make table in `BaseKVEncoder` private and provide some wrapped methods
  pkg/executor/importer/kv_encode.go
  pkg/lightning/backend/kv/base.go
  pkg/lightning/backend/kv/sql2kv.go
  pkg/lightning/backend/local/duplicate_test.go
  pkg/lightning/errormanager/errormanager.go
  pkg/lightning/errormanager/errormanager_test.go
  pkg/lightning/errormanager/resolveconflict_test.go
  pkg/table/tables/index_test.go
Labels: size/L, release-note-none, approved, lgtm

#54695 ddl: make test TestRenameTableAutoIDs more stable
  pkg/ddl/schema_test.go
Labels: size/S, release-note-none, approved, lgtm

#54699 tables: fix invalid reuse of `indexVals` in `addIndices`
  pkg/table/tables/tables.go
Labels: size/XS, release-note-none, approved, lgtm

#54510 br: fix get snapshot response pointer deref panic
  br/pkg/aws/BUILD.bazel
  br/pkg/aws/ebs.go
  br/pkg/aws/ebs_test.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/pointer.go
Labels: size/M, release-note-none, component/br, needs-cherry-pick-release-6.5, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#54567 planner: move window frame definition to logical window for logical convergence
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_window.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#54665 *: don't save table IDs in schema diff of FLASHBACK DATABASE
  pkg/ddl/schema.go
  pkg/ddl/schema_version.go
  pkg/domain/domain.go
  pkg/executor/recover_test.go
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_v2.go
  pkg/parser/model/ddl.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#54707 executor: fix unstable test TestPointGetForTemporaryTable
  pkg/executor/batch_point_get_test.go
Labels: size/XS, release-note-none, approved, lgtm

#54621 go.mod: update the resource controller to support fallback
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#54701 domain: fix race on cancelFns
  pkg/domain/domain.go
Labels: size/S, release-note-none, approved, lgtm

#54527 server: add protocol support for lazy cursor fetch
  pkg/executor/adapter.go
  pkg/executor/staticrecordset/BUILD.bazel
  pkg/executor/staticrecordset/integration_test.go
  pkg/server/conn.go
  pkg/server/conn_stmt.go
  pkg/server/conn_stmt_test.go
  pkg/server/driver_tidb.go
  pkg/server/internal/resultset/cursor.go
  pkg/server/internal/resultset/resultset.go
  pkg/server/tests/commontest/BUILD.bazel
  pkg/server/tests/commontest/cursor_test.go
  pkg/server/tests/cursor/BUILD.bazel
  pkg/server/tests/cursor/cursor_test.go
  pkg/session/session.go
  pkg/session/tidb.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: release-note, size/XXL, approved, lgtm
