Repository pingcap/tidb, pull requests merged in 2024-08, with the labels that each got.

#55097 ddl, partition: report error when interval partition create partition numbers exceed limit number
  pkg/ddl/partition.go
  tests/integrationtest/r/ddl/partition.result
  tests/integrationtest/t/ddl/partition.test
Labels: release-note, size/S, approved, lgtm

#54959 infoschema: fix foreign key building using schema cache V2
  pkg/executor/test/fktest/BUILD.bazel
  pkg/executor/test/fktest/foreign_key_test.go
  pkg/infoschema/builder_misc.go
Labels: size/M, release-note-none, approved, lgtm

#55091 ddl: replace `OnJobUpdated` callback with failpoint
  pkg/ddl/callback.go
  pkg/ddl/cancel_test.go
  pkg/ddl/cluster_test.go
  pkg/ddl/column_change_test.go
  pkg/ddl/column_modify_test.go
  pkg/ddl/column_test.go
  pkg/ddl/column_type_change_test.go
  pkg/ddl/constraint_test.go
  pkg/ddl/db_change_test.go
  pkg/ddl/db_integration_test.go
  pkg/ddl/db_test.go
  pkg/ddl/executor_test.go
  pkg/ddl/foreign_key_test.go
  pkg/ddl/index_change_test.go
  pkg/ddl/integration_test.go
  pkg/ddl/job_scheduler.go
  pkg/ddl/multi_schema_change_test.go
  pkg/ddl/placement_policy_test.go
  pkg/ddl/rollingback_test.go
  pkg/ddl/table_test.go
  pkg/ddl/tests/adminpause/pause_resume_test.go
  pkg/ddl/tests/indexmerge/merge_test.go
  pkg/ddl/tests/partition/BUILD.bazel
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/ddl/tests/resourcegroup/BUILD.bazel
  pkg/ddl/tests/resourcegroup/resource_group_test.go
  pkg/ddl/util/callback/callback.go
  pkg/ddl/util/callback/callback_test.go
  pkg/executor/test/admintest/BUILD.bazel
  pkg/executor/test/admintest/admin_test.go
  pkg/server/internal/testserverclient/BUILD.bazel
  pkg/server/internal/testserverclient/server_client.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/add_index_test.go
  tests/realtikvtest/addindextest1/BUILD.bazel
  tests/realtikvtest/addindextest1/disttask_test.go
  tests/realtikvtest/addindextest2/BUILD.bazel
  tests/realtikvtest/addindextest2/global_sort_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#55074 *: fix query reports ScalarFunction is not supported in batch mode
  pkg/planner/core/find_best_task.go
  tests/integrationtest/r/planner/core/casetest/pushdown/push_down.result
  tests/integrationtest/t/planner/core/casetest/pushdown/push_down.test
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#55115 planner: move logical limit/topn/sort into logicalop pkg.
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/cascades/transformation_rules.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/explain.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/logical_cte.go
  pkg/planner/core/logical_join.go
  pkg/planner/core/logical_lock.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/core/logical_projection.go
  pkg/planner/core/logical_selection.go
  pkg/planner/core/logical_union_all.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_limit.go
  pkg/planner/core/operator/logicalop/logical_sort.go
  pkg/planner/core/operator/logicalop/logical_top_n.go
  pkg/planner/core/plan.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/property_cols_prune.go
  pkg/planner/core/rule_decorrelate.go
  pkg/planner/core/rule_generate_column_substitute.go
  pkg/planner/core/rule_max_min_eliminate.go
  pkg/planner/core/rule_result_reorder.go
  pkg/planner/core/rule_topn_push_down.go
  pkg/planner/core/stats.go
  pkg/planner/core/stringer.go
  pkg/planner/core/task.go
  pkg/planner/memo/BUILD.bazel
  pkg/planner/memo/expr_iterator_test.go
  pkg/planner/memo/group_expr_test.go
  pkg/planner/memo/group_test.go
  pkg/planner/pattern/pattern.go
  pkg/planner/pattern/pattern_test.go
  pkg/planner/util/BUILD.bazel
  pkg/planner/util/explain_misc.go
  pkg/planner/util/misc.go
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#54864 executor, expression: detach projection and selection operator
  pkg/executor/detach.go
  pkg/executor/detach_integration_test.go
  pkg/executor/projection.go
  pkg/expression/evaluator.go
  pkg/expression/evaluator_test.go
  pkg/server/tests/cursor/BUILD.bazel
  pkg/server/tests/cursor/cursor_test.go
Labels: size/XL, release-note-none, approved, lgtm

#55116 ddl: remove unused code related to prev fast create impl
  br/pkg/restore/ingestrec/ingest_recorder_test.go
  lightning/pkg/importer/meta_manager_test.go
  pkg/ddl/ddl.go
  pkg/ddl/executor.go
  pkg/ddl/job_scheduler.go
  pkg/ddl/job_worker.go
  pkg/ddl/partition.go
  pkg/ddl/schema.go
  pkg/ddl/sequence.go
  pkg/ddl/table.go
  pkg/ddl/tests/serial/serial_test.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/internal/testkit.go
  pkg/lightning/common/common_test.go
  pkg/meta/BUILD.bazel
  pkg/meta/autoid/autoid_test.go
  pkg/meta/autoid/bench_test.go
  pkg/meta/autoid/seq_autoid_test.go
  pkg/meta/meta.go
  pkg/meta/meta_test.go
  pkg/session/session.go
Labels: size/XXL, release-note-none, approved, lgtm

#55124 planner: fix the issue of reusing wrong point-plan for "select ... for update" (#54661)
  pkg/ddl/tests/metadatalock/mdl_test.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/tests/prepare/prepare_test.go
Labels: size/M, cherry-pick-approved, release-note-none, ok-to-test, approved, lgtm

#55118 util: Resolve RuntimeStatsColl potential unlock mutex
  pkg/util/execdetails/execdetails.go
Labels: release-note, size/XS, approved, lgtm

#55135 planner: move logical projection into logicalop pkg.
  pkg/executor/BUILD.bazel
  pkg/executor/adapter.go
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/cascades/transformation_rules.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/logical_datasource.go
  pkg/planner/core/logical_join.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/core/logical_union_all.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_projection.go
  pkg/planner/core/plan.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/rule/util/misc.go
  pkg/planner/core/rule_aggregation_elimination.go
  pkg/planner/core/rule_aggregation_push_down.go
  pkg/planner/core/rule_aggregation_skew_rewrite.go
  pkg/planner/core/rule_decorrelate.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/rule_generate_column_substitute.go
  pkg/planner/core/rule_join_elimination.go
  pkg/planner/core/rule_join_reorder.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/rule_result_reorder.go
  pkg/planner/core/rule_semi_join_rewrite.go
  pkg/planner/core/stringer.go
  pkg/planner/memo/expr_iterator_test.go
  pkg/planner/memo/group_test.go
  pkg/planner/pattern/pattern.go
  pkg/planner/pattern/pattern_test.go
  pkg/planner/property/logical_property.go
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#55127 lightning: update dependency pebbledb to v1.1.0 (#52400)
  DEPS.bzl
  go.mod
  go.sum
  pkg/lightning/backend/external/engine_test.go
  pkg/lightning/backend/local/BUILD.bazel
  pkg/lightning/backend/local/engine.go
  pkg/lightning/backend/local/engine_mgr.go
  pkg/lightning/backend/local/engine_mgr_test.go
  pkg/lightning/backend/local/engine_test.go
  pkg/lightning/backend/local/iterator.go
  pkg/lightning/backend/local/local_test.go
  pkg/util/extsort/BUILD.bazel
  pkg/util/extsort/disk_sorter.go
Labels: cherry-pick-approved, size/XXL, release-note-none, approved, lgtm

#55136 planner: simplify the indexJoinBuildHelper structure
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/exhaust_physical_plans_test.go
  pkg/planner/core/plan_cache_rebuild.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54534 planner: fix index out of range in constructIndexJoinInnerSideTask
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/issuetest/BUILD.bazel
  pkg/planner/core/issuetest/planner_issue_test.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.1

#55077 Planner: Estimate to recognize modifyCount when all TopN collected
  pkg/planner/cardinality/row_count_column.go
  pkg/planner/cardinality/row_count_index.go
Labels: sig/planner, size/S, release-note-none, ok-to-test, approved, lgtm

#55141 store/copr: revert pr/35975, do not reduce concurrency for keep order coprocessor request
  pkg/store/copr/coprocessor.go
Labels: size/M, release-note-none, approved, lgtm

#55150 planner: simplify the indexJoinBuildHelper structure
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/exhaust_physical_plans_test.go
  pkg/planner/core/index_join_path.go
  pkg/planner/core/plan_cache_rebuild.go
  pkg/util/ranger/BUILD.bazel
  pkg/util/ranger/types.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#55143 expression: fix infinity loop in timestampadd | tidb-test=release-6.5 plugin=release-6.5
  expression/builtin_time.go
  expression/builtin_time_test.go
  types/core_time.go
  types/core_time_test.go
  types/time.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#55080 executor: fix correctness of hash join v2 when there are multiple var-length keys
  pkg/executor/join/join_row_table.go
  pkg/executor/join/join_row_table_test.go
  pkg/executor/test/jointest/hashjoin/BUILD.bazel
  pkg/executor/test/jointest/hashjoin/hash_join_test.go
  pkg/util/codec/codec.go
Labels: size/L, release-note-none, approved, lgtm

#54963 planner: Add Revision check in tryLockMDLAndUpdateSchemaIfNecessary
  pkg/planner/core/preprocess.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#53794 planner: fix column evaluator can not detect input's column-ref and thus swapping and destroying later column ref projection logic
  pkg/expression/evaluator.go
  pkg/expression/evaluator_test.go
  pkg/util/disjointset/int_set.go
  pkg/util/disjointset/set.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#55155 store/copr: revert pr/35975, do not reduce concurrency for keep order coprocessor request (#55141)
  store/copr/coprocessor.go
Labels: size/M, release-note-none, approved, lgtm

#55152 planner: push necessary predicates without virtual column down through UnionScan (#54985) | tidb-test=release-6.5 plugin=release-6.5
  executor/union_scan_test.go
  planner/core/rule_predicate_push_down.go
Labels: size/M, release-note-none, approved, lgtm

#55140 ddl: re-structure ddl executor part 2
  pkg/ddl/BUILD.bazel
  pkg/ddl/add_column.go
  pkg/ddl/column.go
  pkg/ddl/create_table.go
  pkg/ddl/ddl.go
  pkg/ddl/executor.go
  pkg/ddl/index.go
  pkg/ddl/job_submitter.go
  pkg/ddl/modify_column.go
  pkg/ddl/partition.go
  pkg/ddl/placement_policy.go
  pkg/ddl/resource_group.go
  pkg/ddl/table.go
Labels: size/XXL, release-note-none, approved, lgtm

#55157 planner: use code-gen to generate CloneForPlanCache method for IndexJoin/IndexHashJoin
  pkg/planner/core/index_join_path.go
  pkg/planner/core/plan.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/plan_clone_generator.go
  pkg/session/session.go
  pkg/util/ranger/types.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#55158 planner: move logical window into logicalop pkg.
  pkg/executor/BUILD.bazel
  pkg/executor/benchmark_test.go
  pkg/executor/builder.go
  pkg/executor/internal/testutil/BUILD.bazel
  pkg/executor/internal/testutil/window.go
  pkg/executor/pipelined_window.go
  pkg/executor/window.go
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/cascades/transformation_rules.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/explain.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_selection.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_window.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan.go
  pkg/planner/core/plan_to_pb.go
  pkg/planner/core/rule_derive_topn_from_window.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/stringer.go
  pkg/planner/pattern/pattern.go
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#55137 *: Update client-go to fix fair locking panic when executing a query after OOM kill in a transaction
  DEPS.bzl
  go.mod
  go.sum
Labels: release-note, size/S, cherry-pick-approved, ok-to-test, approved, lgtm

#54209 planner: Optimized EXTRACT(<UNIT> FROM <partition_column>) for partition pruning.
  pkg/planner/core/casetest/partition/BUILD.bazel
  pkg/planner/core/casetest/partition/partition_pruner_test.go
  pkg/planner/core/rule_partition_processor.go
  pkg/testkit/testkit.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#55120 ddl: replace `OnJobRunAfter` callback with failpoint
  pkg/ddl/callback.go
  pkg/ddl/cluster_test.go
  pkg/ddl/job_worker.go
  pkg/ddl/partition_test.go
  pkg/ddl/tests/indexmerge/merge_test.go
  pkg/ddl/util/callback/callback.go
  pkg/session/bootstraptest/BUILD.bazel
  pkg/session/bootstraptest/bootstrap_upgrade_test.go
  tests/realtikvtest/addindextest3/BUILD.bazel
  tests/realtikvtest/addindextest3/ingest_test.go
Labels: size/L, release-note-none, approved, lgtm

#55161 planner: fix the issue accessing unnecessary table side caused by column pruning | tidb-test=pr/2375
  pkg/planner/core/casetest/hint/testdata/integration_suite_out.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/casetest/testdata/integration_suite_out.json
  pkg/planner/core/casetest/testdata/plan_normalized_suite_out.json
  pkg/planner/core/integration_test.go
  pkg/planner/core/logical_plan_trace_test.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/util.go
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_join_reorder.result
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#55165 executor: Avoid too many concurrent atomic update in probe collision
  pkg/executor/join/base_join_probe.go
  pkg/executor/join/hash_join_v2.go
  pkg/executor/join/inner_join_probe.go
  pkg/executor/join/outer_join_probe.go
Labels: size/M, release-note-none, approved, lgtm

#55129 domain,infoschema: avoid v1/v2 switch when loading snapshot infoschema
  pkg/ddl/placement_policy_ddl_test.go
  pkg/domain/domain.go
  pkg/executor/slow_query_test.go
  pkg/executor/stmtsummary_test.go
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#54421 br: error if the log restore has no full backup schema or id maps
  br/pkg/restore/log_client/client.go
  br/pkg/task/stream.go
Labels: release-note, size/L, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#55162 executor: filter on `table_schema` for `INFORMATION_SCHEMA.KEY_COLUMN_USAGE` table
  pkg/executor/infoschema_reader.go
  tests/integrationtest/r/infoschema/infoschema.result
  tests/integrationtest/t/infoschema/infoschema.test
Labels: size/S, release-note-none, approved, lgtm

#53690 server: fix connection double close
  server/BUILD.bazel
  server/conn.go
  server/conn_test.go
  server/packetio_test.go
Labels: size/M, cherry-pick-approved, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm

#53793 br: set memory limit
  br/cmd/br/BUILD.bazel
  br/cmd/br/cmd.go
  br/cmd/br/main_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#55125 table: refactor options for `Table.AddRecord/Table.UpdateRecord/IndexCreate
  pkg/ddl/column_change_test.go
  pkg/ddl/index_change_test.go
  pkg/executor/write.go
  pkg/infoschema/tables.go
  pkg/table/BUILD.bazel
  pkg/table/index.go
  pkg/table/table.go
  pkg/table/table_test.go
  pkg/table/tables/BUILD.bazel
  pkg/table/tables/bench_test.go
  pkg/table/tables/cache.go
  pkg/table/tables/index.go
  pkg/table/tables/partition.go
  pkg/table/tables/tables.go
  pkg/table/tables/tables_test.go
Labels: size/XL, release-note-none, approved, lgtm

#55189 infosync: correct the PD API call of GetLabelRules
  DEPS.bzl
  go.mod
  go.sum
  pkg/domain/infosync/label_manager.go
Labels: size/S, release-note-none, approved, lgtm

#54890 metrics: add per-query-statement RPC count and scan processed key count metrics
  pkg/metrics/metrics.go
  pkg/metrics/server.go
  pkg/server/conn.go
Labels: size/M, release-note-none, needs-ok-to-test, approved, lgtm

#55193 planner: add new variables for instance plan cache
  pkg/domain/domain.go
  pkg/executor/set_test.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_instance.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_cache_test.go
  pkg/session/session.go
  pkg/sessionctx/context.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#55185 planner: use code-gen to generate CloneForPlanCache method for Insert/Update/Delete
  pkg/expression/expression.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/foreign_key.go
  pkg/planner/core/index_join_path.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/plan_clone_generator.go
  pkg/planner/core/planbuilder.go
  pkg/planner/util/misc.go
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm

#55196 store/copr: partly revert pr/35975, do it correctly this time
  pkg/distsql/request_builder.go
  pkg/session/test/variable/variable_test.go
  pkg/store/copr/coprocessor.go
  tests/integrationtest/r/executor/issues.result
  tests/integrationtest/t/executor/issues.test
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#55002 *: support fixed dimension vector
  pkg/ddl/column.go
  pkg/expression/builtin.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_vec.go
  pkg/expression/integration_test/BUILD.bazel
  pkg/expression/integration_test/integration_test.go
  pkg/planner/core/preprocess.go
  pkg/types/datum.go
  pkg/types/vector.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#55088 infoschema: rewrite SchemaSimpleTableInfos for infoschema v2 to avoid network
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/test/infoschemav2test/BUILD.bazel
  pkg/infoschema/test/infoschemav2test/v2_test.go
Labels: size/L, release-note-none, approved, lgtm

#55200 executor: add heap object can move check for hash join v2
  pkg/executor/join/BUILD.bazel
  pkg/executor/join/hash_join_v2.go
  pkg/executor/join/join_row_table.go
  pkg/executor/join/join_row_table_test.go
Labels: size/S, release-note-none, approved, lgtm

#55201 planner: avoid nil PhysicalProperty when to build agg
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/issuetest/planner_issue_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#55192 table: Add option `SkipWriteUntouchedIndices` for `Table.UpdateRecord`
  pkg/executor/write.go
  pkg/table/table.go
  pkg/table/tables/BUILD.bazel
  pkg/table/tables/tables.go
  pkg/table/tables/tables_test.go
Labels: size/L, release-note-none, approved, lgtm

#55214 store/copr: partly revert pr/35975, do it correctly this time #55196
  distsql/request_builder.go
  session/sessiontest/session_test.go
  store/copr/coprocessor.go
Labels: size/M, release-note-none, approved, lgtm

#55216 tests: update mysql-tester
  tests/integrationtest/r/infoschema/infoschema.result
  tests/integrationtest/run-tests.sh
  tests/integrationtest/t/executor/executor.test
  tests/integrationtest/t/executor/foreign_key.test
  tests/integrationtest/t/executor/index_merge_reader.test
  tests/integrationtest/t/executor/issues.test
  tests/integrationtest/t/executor/jointest/join.test
  tests/integrationtest/t/infoschema/infoschema.test
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#55205 lightning: adapt new behaviour that "write" may return epoch error (#…
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/common/retry.go
  br/tests/lightning_max_random/run.sh
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#55101 infoschema,executor: change TableByID to skip refill infoschema v2 cache
  pkg/executor/infoschema_reader.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/test/infoschemav2test/v2_test.go
Labels: size/S, release-note-none, approved, lgtm

#55218 planner: add metrics for instance plan cache
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/planner/core/metrics/metrics.go
  pkg/planner/core/plan_cache_instance.go
  pkg/planner/core/plan_cache_lru.go
  pkg/sessionctx/context.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#55139 infoschema: support cached table for infoschema v2
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
  pkg/infoschema/metrics_schema.go
  pkg/infoschema/perfschema/BUILD.bazel
  pkg/infoschema/perfschema/tables.go
  pkg/infoschema/tables.go
  pkg/infoschema/test/infoschemav2test/BUILD.bazel
  pkg/infoschema/test/infoschemav2test/v2_test.go
Labels: size/M, release-note-none, approved, lgtm

#55233 ddl: fix flaky TestGenIDAndInsertJobsWithRetry
  pkg/ddl/executor_test.go
Labels: size/XS, release-note-none, approved, lgtm

#55228 *: init ctx for extractWorker
  pkg/domain/domain.go
  pkg/domain/extract.go
  pkg/infoschema/sieve.go
  pkg/server/handler/extractorhandler/BUILD.bazel
  pkg/server/handler/extractorhandler/extract_test.go
  pkg/sessionctx/variable/varsutil.go
Labels: size/M, release-note-none, approved, lgtm

#55209 planner/core: filter temp tables for information_schema
  pkg/planner/core/memtable_infoschema_extractor.go
  tests/integrationtest/r/infoschema/infoschema.result
  tests/integrationtest/t/infoschema/infoschema.test
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#55234 go.mod: update the PD client to adopt the latest fix
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#55236 executor: fix the issue that some extracted conditions are not used in information_schema
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_test.go
Labels: sig/planner, release-note, size/L, approved, lgtm

#55160 planner: move logical lock into logicalop pkg.
  pkg/executor/executor.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_lock.go
  pkg/planner/core/plan.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/stringer.go
  pkg/planner/pattern/pattern.go
  pkg/planner/pattern/pattern_test.go
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#55222 executor: add test for same table name in two schemas
  pkg/executor/infoschema_reader_test.go
  pkg/planner/core/memtable_infoschema_extractor.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#54819 planner: incorrect query result using ISNULL
  pkg/planner/core/casetest/testdata/plan_normalized_suite_out.json
  pkg/planner/core/issuetest/BUILD.bazel
  pkg/planner/core/issuetest/planner_issue_test.go
  pkg/util/ranger/detacher.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#55159 planner: move logical union scan into logicalop pkg.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_union_scan.go
  pkg/planner/core/operator/logicalop/logical_window.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/pattern/pattern.go
  pkg/planner/pattern/pattern_test.go
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#55215 *: replace ddl callback injection with failpoint
  pkg/ddl/BUILD.bazel
  pkg/ddl/callback.go
  pkg/ddl/cancel_test.go
  pkg/ddl/cluster_test.go
  pkg/ddl/column_change_test.go
  pkg/ddl/column_modify_test.go
  pkg/ddl/column_test.go
  pkg/ddl/column_type_change_test.go
  pkg/ddl/db_change_failpoints_test.go
  pkg/ddl/db_change_test.go
  pkg/ddl/db_integration_test.go
  pkg/ddl/db_table_test.go
  pkg/ddl/db_test.go
  pkg/ddl/ddl.go
  pkg/ddl/executor.go
  pkg/ddl/fail_test.go
  pkg/ddl/foreign_key_test.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/integration_test.go
  pkg/ddl/job_worker.go
  pkg/ddl/modify_column_test.go
  pkg/ddl/multi_schema_change_test.go
  pkg/ddl/mv_index_test.go
  pkg/ddl/options.go
  pkg/ddl/options_test.go
  pkg/ddl/reorg_partition_test.go
  pkg/ddl/repair_table_test.go
  pkg/ddl/schematracker/checker.go
  pkg/ddl/stat_test.go
  pkg/ddl/table_modify_test.go
  pkg/ddl/tests/adminpause/BUILD.bazel
  pkg/ddl/tests/adminpause/pause_cancel_test.go
  pkg/ddl/tests/adminpause/pause_negative_test.go
  pkg/ddl/tests/adminpause/pause_resume_test.go
  pkg/ddl/tests/indexmerge/BUILD.bazel
  pkg/ddl/tests/indexmerge/merge_test.go
  pkg/ddl/tests/partition/BUILD.bazel
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/ddl/tests/serial/BUILD.bazel
  pkg/ddl/tests/serial/serial_test.go
  pkg/ddl/tests/tiflash/BUILD.bazel
  pkg/ddl/tests/tiflash/ddl_tiflash_test.go
  pkg/ddl/tiflash_replica_test.go
  pkg/ddl/util/callback/BUILD.bazel
  pkg/ddl/util/callback/callback.go
  pkg/ddl/util/callback/callback_test.go
  pkg/domain/domain.go
  pkg/server/handler/tikvhandler/BUILD.bazel
  pkg/server/handler/tikvhandler/tikv_handler.go
  pkg/server/http_status.go
  pkg/server/internal/testserverclient/BUILD.bazel
  pkg/server/internal/testserverclient/server_client.go
  pkg/server/tests/commontest/tidb_test.go
  pkg/table/tables/test/partition/BUILD.bazel
  pkg/table/tables/test/partition/partition_test.go
  tests/realtikvtest/flashbacktest/BUILD.bazel
  tests/realtikvtest/flashbacktest/flashback_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#55244 *: upgrade go1.21.13
  WORKSPACE
  build/image/base
  build/image/parser_test
  tests/globalkilltest/Dockerfile
Labels: size/XS, release-note-none, approved, lgtm

#55163 statistics: move history-related functions into the stats handle
  pkg/executor/analyze.go
  pkg/executor/analyze_col.go
  pkg/executor/analyze_col_v2.go
  pkg/executor/analyze_global_stats.go
  pkg/executor/analyze_idx.go
  pkg/executor/analyze_worker.go
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/statistics/analyze_jobs.go
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/types/interfaces.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#55219 pkg/planner, tests: set the AvoidColumnEvaluator correctly in ProjectionElimination
  pkg/planner/core/rule_eliminate_projection.go
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: type/bug-fix, sig/planner, release-note, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#55220 session: update comments for statistics related variables
  pkg/sessionctx/variable/tidb_vars.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#55247 tools: run `make generate` on parser directory
  pkg/parser/generate_keyword/genkeyword.go
  pkg/parser/keywords.go
  tools/check/check-gogenerate.sh
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#55266 br: fix checkpoint path
  br/pkg/checkpoint/checkpoint.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#55279 planner: add `PhysicalJoin` interface and move and split methods in `hint_utils.go`
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
  pkg/planner/core/casetest/physicalplantest/BUILD.bazel
  pkg/planner/core/casetest/physicalplantest/physical_plan_test.go
  pkg/planner/core/hint_utils.go
  pkg/planner/core/physical_plans.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#55252 *: update tikv/client-go for fix issue that store's liveness may incorrectly marked as unreachable when the store restarts with label changed
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-8.1

#55251 *: update tikv/client-go for fix issue that store's liveness may incorrectly marked as unreachable when the store restarts with label changed
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#55292 planner: remove useless pointer receiver implementation.
  pkg/planner/core/indexmerge_path.go
  pkg/planner/core/indexmerge_unfinished_path.go
Labels: sig/planner, size/XS, release-note-none, ok-to-test, approved, lgtm

#55010 metric/resource_control: append write dimension of the RU max metric
  pkg/metrics/grafana/tidb_resource_control.json
Labels: size/S, release-note-none, approved, lgtm

#55122 tools/ut.go: replace path with filepath
  tools/check/ut.go
  tools/check/xprog.go
Labels: size/M, release-note-none, approved, lgtm

#55230 lightning: optimize checkpoint size
  lightning/pkg/importer/import.go
  lightning/tests/lightning_add_index/config2-file.toml
  lightning/tests/lightning_add_index/config2-mysql.toml
  lightning/tests/lightning_add_index/run.sh
  pkg/lightning/checkpoints/BUILD.bazel
  pkg/lightning/checkpoints/checkpoints.go
  pkg/lightning/checkpoints/checkpoints_file_test.go
  pkg/lightning/checkpoints/checkpoints_sql_test.go
Labels: size/XL, release-note-none, approved, lgtm

#55246 table: Add option `DupKeyCheckLazy` to check duplicated key lazily
  pkg/executor/builder.go
  pkg/executor/insert.go
  pkg/executor/insert_common.go
  pkg/executor/load_data.go
  pkg/executor/replace.go
  pkg/executor/update.go
  pkg/executor/write.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/point_get_plan.go
  pkg/sessionctx/variable/BUILD.bazel
  pkg/sessionctx/variable/session.go
  pkg/table/table.go
  pkg/table/tables/index.go
  pkg/table/tables/tables.go
  pkg/table/tables/tables_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54709 pkg/executor,tests: reset params in the PipelineWindow.Open
  pkg/executor/builder.go
  pkg/executor/pipelined_window.go
  tests/integrationtest/r/executor/window.result
  tests/integrationtest/t/executor/window.test
Labels: type/bug-fix, sig/execution, release-note, size/XXL, ok-to-test, approved, lgtm

#55303 planner: use code-gen to generate CloneForPlanCache method for SelectLock
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/plan_clone_generator.go
  pkg/planner/util/misc.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#55023 server: add tidb_enable_shared_lock_promotion to support for share lock upgrade
  pkg/executor/executor.go
  pkg/parser/ast/util.go
  pkg/planner/core/operator/logicalop/logical_lock.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/preprocess.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
  tests/realtikvtest/pessimistictest/pessimistic_test.go
Labels: sig/planner, release-note, type/new-feature, sig/transaction, size/L, approved, lgtm

#54186 *: add tiflash_hashagg_preaggregation_mode sys var
  DEPS.bzl
  go.mod
  go.sum
  pkg/planner/core/initialize.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_to_pb.go
  pkg/planner/core/planbuilder_test.go
  pkg/planner/core/task.go
  pkg/sessionctx/variable/BUILD.bazel
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#55302 ddl: remove unused `copReqSenderPool` and related structures
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_dist_scheduler_test.go
  pkg/ddl/bench_test.go
  pkg/ddl/export_test.go
  pkg/ddl/index.go
  pkg/ddl/index_cop.go
  pkg/ddl/index_cop_test.go
  pkg/ddl/testutil/BUILD.bazel
  pkg/ddl/testutil/operator.go
  tests/realtikvtest/addindextest3/BUILD.bazel
  tests/realtikvtest/addindextest3/operator_test.go
Labels: size/XL, release-note-none, approved, lgtm

#55314 table: fix some txn assertion error when executing DDL and DML
  pkg/table/tables/BUILD.bazel
  pkg/table/tables/index.go
  pkg/table/tables/index_test.go
Labels: size/M, release-note-none, approved, lgtm

#55316 planner: support using "KiB/MiB/GiB" to set isntance_plan_cache_target/max_mem_size
  pkg/executor/set_test.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/varsutil.go
Labels: size/M, release-note-none, approved, lgtm

#55062 *: kill auto analyze out of the auto analyze time windows
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/exec/BUILD.bazel
  pkg/statistics/handle/autoanalyze/exec/exec.go
  pkg/statistics/handle/autoanalyze/exec/exec_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#55309 ddl: clone table for show columns
  pkg/executor/show.go
Labels: size/XS, release-note-none, approved, lgtm

#55164 ddl: improve priority of suppressErrorTooLongKeyKey for DM
  pkg/ddl/index.go
  pkg/ddl/schematracker/dm_tracker.go
  pkg/ddl/schematracker/dm_tracker_test.go
Labels: size/M, release-note-none, approved, lgtm

#55323 *: support to query init stats percentage from http api
  docs/tidb_http_api.md
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/server/BUILD.bazel
  pkg/server/http_status.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/initstats/BUILD.bazel
  pkg/statistics/handle/initstats/load_stats_page.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#55325 table: make `AddRecordOpt`/`UpdateRecordOpt`/`CreateIdxOpt` immutable
  pkg/table/index.go
  pkg/table/table.go
  pkg/table/table_test.go
  pkg/table/tables/index.go
  pkg/table/tables/tables.go
Labels: size/L, release-note-none, approved, lgtm

#55326 test: fix data conflict in `TestCursorWillBlockMinStartTS`
  pkg/executor/staticrecordset/BUILD.bazel
  pkg/executor/staticrecordset/integration_test.go
  pkg/session/session.go
Labels: size/S, release-note-none, approved, lgtm

#55327 planner: add protection to avoid setting `tot_col_size` to negative numbers
  pkg/statistics/handle/storage/save.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/storage/update.go
Labels: sig/planner, size/XS, release-note-none, ok-to-test, approved, lgtm

#55329 *: add ctx parameter to infoschema TableByID
  br/pkg/restore/log_client/client.go
  br/pkg/restore/tiflashrec/tiflash_recorder.go
  pkg/ddl/column_change_test.go
  pkg/ddl/column_test.go
  pkg/ddl/db_table_test.go
  pkg/ddl/ddl_tiflash_api.go
  pkg/ddl/executor.go
  pkg/ddl/index_change_test.go
  pkg/ddl/tests/fk/foreign_key_test.go
  pkg/domain/historical_stats.go
  pkg/executor/analyze.go
  pkg/executor/analyze_global_stats.go
  pkg/executor/builder.go
  pkg/executor/ddl.go
  pkg/executor/executor.go
  pkg/executor/infoschema_reader.go
  pkg/executor/point_get.go
  pkg/executor/show.go
  pkg/executor/write.go
  pkg/infoschema/builder.go
  pkg/infoschema/bundle_builder.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
  pkg/infoschema/interface.go
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/planner/core/access_object.go
  pkg/planner/core/collect_column_stats_usage_test.go
  pkg/planner/core/fragment.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/memtable_infoschema_extractor.go
  pkg/planner/core/pb_to_plan.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/rule_collect_plan_stats.go
  pkg/server/handler/tikvhandler/tikv_handler.go
  pkg/session/bootstrap.go
  pkg/session/session.go
  pkg/statistics/handle/storage/gc.go
  pkg/statistics/handle/usage/index_usage.go
  pkg/statistics/handle/usage/predicatecolumn/predicate_column.go
  pkg/statistics/handle/util/table_info.go
  pkg/table/tables/partition.go
  pkg/table/temptable/interceptor.go
  pkg/table/temptable/interceptor_test.go
  pkg/table/temptable/main_test.go
  pkg/ttl/ttlworker/job_manager.go
  pkg/util/keydecoder/keydecoder.go
  tests/realtikvtest/addindextest2/global_sort_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#55131 planner: move base physical plan into physicalop pkg.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/common_plans.go
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task_test.go
  pkg/planner/core/flat_plan.go
  pkg/planner/core/foreign_key.go
  pkg/planner/core/fragment.go
  pkg/planner/core/hint_utils.go
  pkg/planner/core/initialize.go
  pkg/planner/core/operator/physicalop/BUILD.bazel
  pkg/planner/core/operator/physicalop/base_physical_plan.go
  pkg/planner/core/optimizer.go
  pkg/planner/core/optimizer_test.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/plan_clone_generator.go
  pkg/planner/core/plan_cost_ver1.go
  pkg/planner/core/plan_cost_ver2.go
  pkg/planner/core/plan_to_pb.go
  pkg/planner/core/resolve_indices.go
  pkg/planner/core/rule_inject_extra_projection.go
  pkg/planner/core/stats.go
  pkg/planner/core/task.go
  pkg/planner/core/task_base.go
  pkg/planner/core/util.go
  pkg/planner/util/costusage/cost_misc.go
  pkg/planner/util/utilfuncp/BUILD.bazel
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#55338 variable: fix data race in `GetTemporaryTable`
  pkg/sessionctx/variable/session.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#55336 executor: fix incorrect result when hash agg spill is triggered
  pkg/executor/aggfuncs/aggfuncs.go
  pkg/executor/aggfuncs/func_count.go
  pkg/executor/aggfuncs/func_max_min.go
  pkg/executor/aggregate/agg_hash_executor.go
  pkg/executor/aggregate/agg_spill.go
  pkg/executor/aggregate/agg_spill_test.go
  pkg/sessionctx/variable/tidb_vars.go
  tests/integrationtest/r/executor/executor.result
Labels: release-note, size/L, cherry-pick-approved, approved, lgtm

#55347 *: upgrade bazel rules
  WORKSPACE
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#54987 runaway: add runaway tidb-side time checker
  docs/design/2023-08-24-background-tasks-control.md
  pkg/ddl/tests/resourcegroup/BUILD.bazel
  pkg/ddl/tests/resourcegroup/resource_group_test.go
  pkg/domain/resourcegroup/runaway.go
  pkg/executor/simple.go
  pkg/server/server.go
  pkg/session/session.go
  pkg/store/driver/error/error.go
  pkg/testkit/mocksessionmanager.go
  pkg/ttl/cache/table.go
  pkg/util/BUILD.bazel
  pkg/util/expensivequery/expensivequery.go
  pkg/util/processinfo.go
  pkg/util/sqlkiller/sqlkiller.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#55312 ddl/domain: disallow set schema lease to 0
  br/pkg/mock/mock_cluster.go
  cmd/tidb-server/main.go
  pkg/config/config.go
  pkg/ddl/db_test.go
  pkg/ddl/ddl.go
  pkg/ddl/index.go
  pkg/ddl/job_worker_test.go
  pkg/ddl/modify_column.go
  pkg/ddl/partition.go
  pkg/ddl/reorg.go
  pkg/ddl/restart_test.go
  pkg/ddl/schematracker/checker.go
  pkg/ddl/tests/indexmerge/merge_test.go
  pkg/ddl/tests/tiflash/ddl_tiflash_test.go
  pkg/domain/domain.go
  pkg/domain/domain_test.go
  pkg/domain/schema_validator.go
  pkg/executor/analyze_test.go
  pkg/plugin/integration_test.go
  pkg/privilege/privileges/main_test.go
  pkg/server/handler/extractorhandler/main_test.go
  pkg/server/handler/optimizor/main_test.go
  pkg/server/handler/tests/main_test.go
  pkg/server/main_test.go
  pkg/server/tests/BUILD.bazel
  pkg/server/tests/commontest/main_test.go
  pkg/server/tests/cursor/BUILD.bazel
  pkg/server/tests/cursor/main_test.go
  pkg/server/tests/main_test.go
  pkg/server/tests/tls/BUILD.bazel
  pkg/server/tests/tls/main_test.go
  pkg/session/bootstrap.go
  pkg/session/test/session_test.go
  pkg/session/tidb.go
  pkg/store/gcworker/BUILD.bazel
  pkg/store/gcworker/gc_worker_test.go
  pkg/store/mockstore/mockcopr/executor_test.go
Labels: size/L, release-note-none, approved, lgtm

#54571 gc_worker: make deleteRanges concurrent
  pkg/store/gcworker/BUILD.bazel
  pkg/store/gcworker/gc_worker.go
  pkg/store/gcworker/gc_worker_test.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#55333 pkg/planner: set proj.AvoidColumnEvaluator in postOptimize
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_union_all.go
  pkg/planner/core/operator/logicalop/logical_projection.go
  pkg/planner/core/optimizer.go
  pkg/planner/core/physical_plan_test.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/rule_inject_extra_projection.go
  pkg/planner/core/task.go
Labels: type/bug-fix, sig/planner, release-note, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#55134 parser: Deprecate VECTOR<FLOAT>. Use VECTOR instead.
  pkg/expression/builtin_cast.go
  pkg/expression/integration_test/integration_test.go
  pkg/parser/parser_test.go
  pkg/parser/types/etc.go
  pkg/parser/types/field_type.go
  pkg/types/etc.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#55255 executor, infoschema: filter out the PRIMARY index and foreign keys in table_constraints
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_test.go
Labels: release-note, size/L, approved, lgtm

#55322 executor: fix incorrect result when hash agg spill is triggered
  pkg/executor/aggfuncs/aggfuncs.go
  pkg/executor/aggfuncs/func_count.go
  pkg/executor/aggfuncs/func_max_min.go
  pkg/executor/aggregate/agg_hash_executor.go
  pkg/executor/aggregate/agg_spill.go
  pkg/executor/aggregate/agg_spill_test.go
Labels: release-note, size/L, approved, lgtm, needs-cherry-pick-release-8.1

#54921 *: rename current_affected_rows to rows_affected
  pkg/infoschema/tables.go
  pkg/infoschema/test/clustertablestest/tables_test.go
Labels: release-note, size/XS, ok-to-test, approved, lgtm

#55361 tables: remove unnecessary function
  pkg/table/tables/tables.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#54790 br: resolve stuck in progress
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/progress.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#55363 planner: add more test cases for instance plan cache
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/main_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#55362 infoschema: update two tests to make them robust and a tiny fix
  pkg/domain/domain.go
  pkg/infoschema/infoschema_test.go
  pkg/session/tidb_test.go
Labels: size/S, release-note-none, approved, lgtm

#55368 ddl: restructure schema version and server state syncer
  pkg/ddl/BUILD.bazel
  pkg/ddl/ddl.go
  pkg/ddl/executor_test.go
  pkg/ddl/job_scheduler.go
  pkg/ddl/job_scheduler_testkit_test.go
  pkg/ddl/job_submitter.go
  pkg/ddl/job_worker.go
  pkg/ddl/mock.go
  pkg/ddl/schema_version.go
  pkg/ddl/schematracker/BUILD.bazel
  pkg/ddl/schematracker/checker.go
  pkg/ddl/schemaver/BUILD.bazel
  pkg/ddl/schemaver/mem_syncer.go
  pkg/ddl/schemaver/syncer.go
  pkg/ddl/schemaver/syncer_nokit_test.go
  pkg/ddl/schemaver/syncer_test.go
  pkg/ddl/serverstate/BUILD.bazel
  pkg/ddl/serverstate/mem_syncer.go
  pkg/ddl/serverstate/syncer.go
  pkg/ddl/serverstate/syncer_test.go
  pkg/ddl/tests/fail/BUILD.bazel
  pkg/ddl/tests/fail/fail_db_test.go
  pkg/ddl/tests/metadatalock/BUILD.bazel
  pkg/ddl/tests/metadatalock/mdl_test.go
  pkg/ddl/util/BUILD.bazel
  pkg/ddl/util/callback/BUILD.bazel
  pkg/ddl/util/watcher.go
  pkg/domain/domain_test.go
  pkg/session/BUILD.bazel
  pkg/session/sync_upgrade.go
Labels: size/XXL, release-note-none, approved, lgtm

#55264 *: Require GLOBAL IndexOption for creating Global Index
  errors.toml
  pkg/ddl/add_column.go
  pkg/ddl/create_table.go
  pkg/ddl/executor.go
  pkg/ddl/index.go
  pkg/ddl/index_modify_test.go
  pkg/ddl/index_test.go
  pkg/ddl/multi_schema_change.go
  pkg/ddl/partition.go
  pkg/ddl/schematracker/dm_tracker.go
  pkg/ddl/tests/partition/BUILD.bazel
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/errno/errcode.go
  pkg/errno/errname.go
  pkg/executor/infoschema_cluster_table_test.go
  pkg/executor/internal/exec/indexusage_test.go
  pkg/executor/partition_table_test.go
  pkg/executor/test/admintest/admin_test.go
  pkg/statistics/handle/globalstats/global_stats_test.go
  pkg/statistics/integration_test.go
  pkg/table/tables/test/partition/partition_test.go
  pkg/util/dbterror/ddl_terror.go
  tests/integrationtest/r/ddl/db_partition.result
  tests/integrationtest/r/ddl/integration.result
  tests/integrationtest/r/globalindex/aggregate.result
  tests/integrationtest/r/globalindex/expression_index.result
  tests/integrationtest/r/globalindex/index_join.result
  tests/integrationtest/r/globalindex/information_schema.result
  tests/integrationtest/r/globalindex/insert.result
  tests/integrationtest/r/globalindex/mem_index_lookup.result
  tests/integrationtest/r/globalindex/mem_index_merge.result
  tests/integrationtest/r/globalindex/mem_index_reader.result
  tests/integrationtest/r/globalindex/misc.result
  tests/integrationtest/r/globalindex/multi_valued_index.result
  tests/integrationtest/r/globalindex/point_get.result
  tests/integrationtest/r/globalindex/update.result
  tests/integrationtest/t/ddl/db_partition.test
  tests/integrationtest/t/ddl/integration.test
  tests/integrationtest/t/globalindex/aggregate.test
  tests/integrationtest/t/globalindex/expression_index.test
  tests/integrationtest/t/globalindex/index_join.test
  tests/integrationtest/t/globalindex/information_schema.test
  tests/integrationtest/t/globalindex/insert.test
  tests/integrationtest/t/globalindex/mem_index_lookup.test
  tests/integrationtest/t/globalindex/mem_index_merge.test
  tests/integrationtest/t/globalindex/mem_index_reader.test
  tests/integrationtest/t/globalindex/misc.test
  tests/integrationtest/t/globalindex/multi_valued_index.test
  tests/integrationtest/t/globalindex/point_get.test
  tests/integrationtest/t/globalindex/update.test
Labels: sig/planner, release-note, size/XXL, approved, lgtm

#55365 *: fix flaky test TestRecordHistoryStatsAfterAnalyze
  pkg/executor/historical_stats_test.go
  pkg/statistics/handle/util/util.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#55000 server: support global scope for tidb_low_resolution_tso sys var
  pkg/executor/adapter.go
  pkg/executor/test/executor/executor_test.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
Labels: release-note, type/new-feature, sig/transaction, size/S, ok-to-test, approved, lgtm

#55304 meta, util: skip unmarshal unneeded JSON fields
  pkg/meta/BUILD.bazel
  pkg/meta/meta.go
  pkg/meta/meta_test.go
  pkg/util/partialjson/BUILD.bazel
  pkg/util/partialjson/extract.go
  pkg/util/partialjson/extract_test.go
Labels: size/XL, release-note-none, approved, lgtm

#55356 copr: Support VECTOR for RowFormatv1
  pkg/types/vector.go
  pkg/types/vector_test.go
  pkg/util/codec/codec.go
Labels: size/M, release-note-none, approved, lgtm

#55306 planner: incorrect query result using ISNULL in the nested expressions
  pkg/planner/core/issuetest/planner_issue_test.go
  pkg/util/ranger/detacher.go
  pkg/util/ranger/ranger.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#55334 ddl: support session level tidb_ddl_reorg_worker_cnt and batch_size
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_scheduler.go
  pkg/ddl/cancel_test.go
  pkg/ddl/executor.go
  pkg/ddl/export_test.go
  pkg/ddl/index.go
  pkg/ddl/index_cop.go
  pkg/ddl/index_modify_test.go
  pkg/ddl/ingest/backend_mgr.go
  pkg/ddl/ingest/config.go
  pkg/ddl/ingest/integration_test.go
  pkg/ddl/ingest/mock.go
  pkg/ddl/tests/adminpause/global.go
  pkg/executor/test/admintest/admin_test.go
  pkg/executor/test/ddl/ddl_test.go
  pkg/parser/model/reorg.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/varsutil_test.go
  tests/realtikvtest/addindextest1/disttask_test.go
  tests/realtikvtest/addindextest3/functional_test.go
  tests/realtikvtest/addindextest3/ingest_test.go
  tests/realtikvtest/addindextest3/operator_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#55371 planner: move logical aggregation to logicalop pkg
  pkg/planner/cascades/BUILD.bazel
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/cascades/optimize_test.go
  pkg/planner/cascades/transformation_rules.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/casetest/stats_test.go
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_aggregation.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan.go
  pkg/planner/core/rule_aggregation_elimination.go
  pkg/planner/core/rule_aggregation_push_down.go
  pkg/planner/core/rule_aggregation_skew_rewrite.go
  pkg/planner/core/rule_decorrelate.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/rule_generate_column_substitute.go
  pkg/planner/core/rule_join_elimination.go
  pkg/planner/core/rule_max_min_eliminate.go
  pkg/planner/core/rule_push_down_sequence.go
  pkg/planner/core/rule_semi_join_rewrite.go
  pkg/planner/core/stringer.go
  pkg/planner/pattern/pattern.go
  pkg/planner/pattern/pattern_test.go
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#55241 *: update v2 infoschema reader support for tables Indexes, Views, KeyColumnUsage, TableConstraints
  pkg/executor/infoschema_reader.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/memtable_infoschema_extractor.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_mem_table.go
  pkg/planner/core/operator/logicalop/logicalop_test/logical_mem_table_predicate_extractor_test.go
  pkg/testkit/testkit.go
  tests/integrationtest/r/executor/infoschema_reader.result
  tests/integrationtest/t/executor/infoschema_reader.test
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#55345 planner: move `rule_constant_propagation` to rule pkg. (#55231)
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/optimizer.go
  pkg/planner/core/rule/BUILD.bazel
  pkg/planner/core/rule/rule_constant_propagation.go
Labels: sig/planner, size/XS, release-note-none, ok-to-test, approved, lgtm

#55382 lightning: fix flaky integration test
  lightning/tests/lightning_distributed_import/run.sh
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#55383 *: bump client-go to adopt new batch policy
  DEPS.bzl
  go.mod
  go.sum
Labels: release-note, size/S, ok-to-test, approved, lgtm

#55385 planner: add more test cases for instance plan cache
  pkg/planner/core/casetest/instanceplancache/main_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#54736 br: resolve stuck in backup
  br/pkg/backup/BUILD.bazel
  br/pkg/backup/store.go
  br/pkg/backup/store_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#55377 planner: add more log and metrics for instance plan cache eviction
  pkg/domain/domain.go
  pkg/planner/core/metrics/metrics.go
  pkg/planner/core/plan_cache_instance.go
  pkg/planner/core/plan_cache_instance_test.go
  pkg/sessionctx/context.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#55387 executor: fix data race in hash agg spill test
  pkg/executor/aggregate/agg_spill_test.go
Labels: release-note, size/XS, approved, lgtm

#55360 table: Add `PessimisticLazyDupKeyCheckMode` to determine lazy mode in pessimistic txn
  pkg/executor/insert.go
  pkg/executor/insert_common.go
  pkg/executor/write.go
  pkg/table/context/table.go
  pkg/table/table.go
  pkg/table/tables/index.go
  pkg/table/tables/tables.go
  pkg/table/tables/tables_test.go
Labels: size/L, release-note-none, approved, lgtm

#55229 *: enable infoschema v2 by default
  pkg/sessionctx/variable/tidb_vars.go
  pkg/testkit/testkit.go
Labels: size/XS, release-note-none, approved, lgtm

#55310 kv: reduce the distsql concurrency if the runaway query action is COOLDOWN
  pkg/domain/resourcegroup/runaway.go
  pkg/store/copr/BUILD.bazel
  pkg/store/copr/copr_test/BUILD.bazel
  pkg/store/copr/copr_test/coprocessor_test.go
  pkg/store/copr/coprocessor.go
Labels: size/L, release-note-none, approved, lgtm

#55263 *: update extractor for tidb_index_usage and columns table
  pkg/executor/builder.go
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/memtable_infoschema_extractor.go
  pkg/planner/core/memtable_predicate_extractor.go
  pkg/planner/core/operator/logicalop/logicalop_test/logical_mem_table_predicate_extractor_test.go
  pkg/table/tables/tables_test.go
  tests/integrationtest/r/infoschema/infoschema.result
  tests/integrationtest/t/infoschema/infoschema.test
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#55370 planner: move logical apply to logicalop pkg.
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/cascades/transformation_rules.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/casetest/stats_test.go
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_apply.go
  pkg/planner/core/plan.go
  pkg/planner/core/rule_decorrelate.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/stringer.go
  pkg/planner/pattern/pattern.go
  pkg/planner/pattern/pattern_test.go
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#55257 planner/core: define extractors for sequences and constraints memtables
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_internal_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/memtable_infoschema_extractor.go
  pkg/planner/core/operator/logicalop/logicalop_test/logical_mem_table_predicate_extractor_test.go
  tests/integrationtest/r/infoschema/infoschema.result
  tests/integrationtest/t/infoschema/infoschema.test
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#55331 domain/rg: organize and enhance the code of RunawayChecker
  pkg/domain/resourcegroup/runaway.go
  pkg/executor/infoschema_reader.go
  pkg/util/expensivequery/expensivequery.go
Labels: size/L, release-note-none, approved, lgtm

#55400 table: remove method `Txn()` in `MutateContext`
  pkg/ddl/column_change_test.go
  pkg/ddl/column_test.go
  pkg/ddl/db_table_test.go
  pkg/ddl/index_change_test.go
  pkg/ddl/schema_test.go
  pkg/ddl/table_test.go
  pkg/executor/delete.go
  pkg/executor/insert_common.go
  pkg/executor/test/executor/executor_test.go
  pkg/executor/test/writetest/write_test.go
  pkg/executor/write.go
  pkg/infoschema/tables.go
  pkg/lightning/backend/kv/base.go
  pkg/lightning/backend/kv/kv2sql_test.go
  pkg/lightning/backend/kv/sql2kv_test.go
  pkg/table/context/table.go
  pkg/table/table.go
  pkg/table/tables/bench_test.go
  pkg/table/tables/cache.go
  pkg/table/tables/index.go
  pkg/table/tables/partition.go
  pkg/table/tables/tables.go
  pkg/table/tables/tables_test.go
  pkg/table/tables/test/partition/partition_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#55407 sessionctx: fix a deadlock when set `tidb_restricted_read_only = true`
  pkg/sessionctx/variable/sysvar.go
Labels: size/XS, release-note-none, approved, lgtm

#55410 planner: fix index merge typo
  pkg/planner/core/indexmerge_test.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#55402 planner: move logical union all to logicalop pkg.
  pkg/planner/cascades/implementation_rules.go
  pkg/planner/cascades/transformation_rules.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/casetest/stats_test.go
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_partition_union_all.go
  pkg/planner/core/operator/logicalop/logical_union_all.go
  pkg/planner/core/rule_aggregation_push_down.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/core/rule_topn_push_down.go
  pkg/planner/core/stringer.go
  pkg/planner/pattern/pattern.go
  pkg/planner/pattern/pattern_test.go
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#55431 *: fix an unstable test case TestJoinSystemTableContainsView
  pkg/executor/infoschema_reader_test.go
  pkg/infoschema/builder.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#55411 ddl: move structs related to scheduler out from ddlCtx & add job context
  pkg/ddl/add_column.go
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_read_index.go
  pkg/ddl/backfilling_scheduler.go
  pkg/ddl/cluster.go
  pkg/ddl/column.go
  pkg/ddl/constraint.go
  pkg/ddl/create_table.go
  pkg/ddl/ddl.go
  pkg/ddl/executor_test.go
  pkg/ddl/foreign_key.go
  pkg/ddl/index.go
  pkg/ddl/job_scheduler.go
  pkg/ddl/job_scheduler_test.go
  pkg/ddl/job_worker.go
  pkg/ddl/modify_column.go
  pkg/ddl/multi_schema_change.go
  pkg/ddl/partition.go
  pkg/ddl/placement_policy.go
  pkg/ddl/primary_key_handle_test.go
  pkg/ddl/reorg.go
  pkg/ddl/resource_group.go
  pkg/ddl/rollingback.go
  pkg/ddl/schema.go
  pkg/ddl/schema_version.go
  pkg/ddl/schematracker/checker.go
  pkg/ddl/sequence.go
  pkg/ddl/table.go
  pkg/ddl/table_lock.go
  pkg/ddl/tests/serial/serial_test.go
  pkg/ddl/ttl.go
  pkg/parser/model/ddl.go
Labels: size/XXL, release-note-none, approved, lgtm

#55416 *: add extractor for cluster_tidb_index_usage
  pkg/executor/infoschema_reader.go
  pkg/infoschema/cluster.go
  pkg/infoschema/tables.go
  pkg/planner/core/explain.go
  pkg/planner/core/pb_to_plan.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#55440 ddl: Global index more restrictions
  pkg/ddl/create_table.go
  pkg/ddl/executor.go
  pkg/ddl/tests/partition/BUILD.bazel
  pkg/ddl/tests/partition/db_partition_test.go
  tests/integrationtest/r/ddl/db_partition.result
  tests/integrationtest/r/globalindex/ddl.result
  tests/integrationtest/t/ddl/db_partition.test
  tests/integrationtest/t/globalindex/ddl.test
Labels: size/XL, release-note-none, approved, lgtm

#55443 ddl: clone table meta for recover table
  pkg/executor/ddl.go
Labels: size/XS, release-note-none, approved, lgtm

#55346 *: upgrade linter revive
  DEPS.bzl
  Makefile
  build/linter/allrevive/BUILD.bazel
  build/linter/allrevive/analyzer.go
  build/linter/gosec/analysis.go
  build/linter/misspell/analyzer.go
  build/linter/revive/BUILD.bazel
  build/linter/revive/analyzer.go
  build/nogo_config.json
  go.mod
  go.sum
  pkg/bindinfo/global_handle.go
  pkg/executor/set_config.go
  pkg/expression/integration_test/integration_test.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/optimizer.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/planbuilder.go
  pkg/server/http_status.go
  pkg/store/copr/batch_coprocessor.go
  pkg/store/mockstore/unistore/cophandler/mpp.go
  pkg/timer/runtime/cache_test.go
Labels: sig/planner, size/L, release-note-none, skip-issue-check, approved, lgtm

#55391 pkg/metrics: improve the TiDB-Runtime->Memory Usage panel
  pkg/metrics/grafana/tidb_runtime.json
Labels: size/L, release-note-none, approved, lgtm

#55445 infoschema: let applyDropSchemaV2 return affected table IDs
  pkg/infoschema/infoschema_v2.go
Labels: size/XS, release-note-none, approved, lgtm

#54432 *: support concurrent auto analyze
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#55479 *: fix flaky deadlock with go1.23
  DEPS.bzl
  go.mod
  go.sum
Labels: size/M, release-note-none, approved, lgtm

#55472 expression: remove `SessionVarsPropReader` in `builtinGetParamStringSig`
  pkg/expression/builtin_other.go
  pkg/expression/builtin_other_test.go
  pkg/expression/builtin_other_vec.go
  pkg/expression/builtin_other_vec_test.go
  pkg/expression/context/param.go
Labels: size/L, release-note-none, approved, lgtm

#55476 ranger: should replace ast.Or with ast.LogicalOr
  pkg/planner/core/issuetest/planner_issue_test.go
  pkg/util/ranger/ranger.go
  pkg/util/ranger/ranger_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#55429 planner: export elements in cteClass for late pkg move.
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_cte.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/recheck_cte.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#55428 planner: move logical expand into logicalop pkg.
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_expand.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/rule_resolve_grouping_expand.go
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#55474 planner: simplify datasource's pointer receiver member function.
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/indexmerge_path.go
  pkg/planner/core/logical_datasource.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm
