Repository pingcap/tidb, pull requests merged in 2024-03, with the labels that each got.

#51333 executor: load region info from pd in batch
  pkg/executor/index_merge_reader.go
  pkg/store/copr/BUILD.bazel
  pkg/store/copr/batch_coprocessor.go
  pkg/store/copr/coprocessor_test.go
  pkg/store/copr/key_ranges.go
  pkg/store/copr/region_cache.go
Labels: size/L, release-note-none, approved, lgtm

#50995 br: make log command visible in cli
  br/cmd/br/stream.go
Labels: release-note, size/XS, component/br, affects-6.5, affects-7.1, approved, lgtm, affects-7.5

#51425 lightning: retry for WaitN error caused by store-write-bwlimit
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/common/retry.go
  br/pkg/lightning/common/retry_test.go
Labels: size/S, release-note-none, approved, lgtm

#51402 parser, server: unify writeData and writeError functions
  pkg/parser/mysql/charset.go
  pkg/server/handler/tikvhandler/tikv_handler.go
Labels: size/XL, release-note-none, approved, lgtm

#51418 *: update pd client
  DEPS.bzl
  go.mod
  go.sum
Labels: size/M, release-note-none, approved, lgtm

#51442 planner: simplify the session binding handler code
  pkg/bindinfo/binding.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/session_handle.go
Labels: size/M, release-note-none, approved, lgtm

#51411 infoschema: refine common part for builder
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_v2.go
Labels: size/L, release-note-none, approved, lgtm

#51434 infoschema: fix some InfoSchema V2 API for special schemas like INFORMATION_SCHEMA
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/test/infoschemav2test/BUILD.bazel
  pkg/infoschema/test/infoschemav2test/main_test.go
  pkg/infoschema/test/infoschemav2test/v2_test.go
Labels: size/L, release-note-none, approved, lgtm

#51447 *: add variable for priority queue
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
  pkg/statistics/handle/autoanalyze/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/calculator.go
  pkg/statistics/handle/autoanalyze/priorityqueue/calculator_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/interval.go
  pkg/statistics/handle/autoanalyze/priorityqueue/interval_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/main_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#51437 sessionctx: add sysvar to control low resolution tso update interval
  pkg/domain/domain_sysvars.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/sysvar_test.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: release-note, size/M, ok-to-test, approved, lgtm

#51451 server: store the updated labels into etcd
  pkg/domain/infosync/info.go
  pkg/server/handler/tests/BUILD.bazel
  pkg/server/handler/tests/http_handler_test.go
  pkg/server/handler/tikvhandler/tikv_handler.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#51420 expression: expose some basic fields to `expression.EvalContext`
  pkg/executor/aggfuncs/func_group_concat.go
  pkg/executor/internal/vecgroupchecker/vec_group_checker.go
  pkg/expression/aggregation/BUILD.bazel
  pkg/expression/aggregation/aggregation.go
  pkg/expression/aggregation/avg.go
  pkg/expression/aggregation/concat.go
  pkg/expression/aggregation/count.go
  pkg/expression/aggregation/util.go
  pkg/expression/aggregation/util_test.go
  pkg/expression/builtin.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_info.go
  pkg/expression/builtin_info_vec.go
  pkg/expression/builtin_op_vec.go
  pkg/expression/builtin_string.go
  pkg/expression/builtin_time.go
  pkg/expression/builtin_time_test.go
  pkg/expression/builtin_time_vec.go
  pkg/expression/context.go
  pkg/expression/context/BUILD.bazel
  pkg/expression/context/context.go
  pkg/expression/contextimpl/BUILD.bazel
  pkg/expression/contextimpl/expression.go
  pkg/expression/contextimpl/sessionctx.go
  pkg/expression/contextimpl/sessionctx_test.go
  pkg/expression/distsql_builtin.go
  pkg/expression/extension.go
  pkg/expression/scalar_function.go
  pkg/expression/util.go
  pkg/table/tables/partition.go
Labels: size/XL, release-note-none, approved, lgtm

#51460 lightning: raise field length of checkpoint
  br/pkg/lightning/checkpoints/checkpoints.go
  br/tests/lightning_checkpoint/run.sh
  br/tests/lightning_checkpoint_chunks/run.sh
Labels: size/S, release-note-none, approved, lgtm

#51467 statistics: do not analyze table when auto analyze ratio is 0
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
Labels: sig/planner, component/statistics, size/L, release-note-none, approved, lgtm

#50219 doc: design of pipelined DML
  docs/design/2024-01-09-pipelined-DML.md
  docs/design/imgs/pipelined-dml/comparison.png
  docs/design/imgs/pipelined-dml/large_transaction_process.png
  docs/design/imgs/pipelined-dml/membuffer.png
  docs/design/imgs/pipelined-dml/scope.png
  docs/design/imgs/pipelined-dml/vanilla_process.png
Labels: size/XL, release-note-none, approved, lgtm

#50915 variable: unifiy MaxExecuteTime usage and fix some problem
  pkg/executor/adapter.go
  pkg/expression/builtin_info.go
  pkg/planner/core/casetest/planstats/plan_stats_test.go
  pkg/planner/core/plan_stats.go
  pkg/session/test/variable/variable_test.go
  pkg/session/test/vars/vars_test.go
  pkg/sessionctx/variable/session.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#51463 infoschema: more tests for applyDiff
  pkg/infoschema/infoschema_test.go
Labels: size/L, release-note-none, approved, lgtm

#51483 planner: add more test cases for plan cache with generated columns
  pkg/planner/core/plan_cache_test.go
Labels: size/L, release-note-none, approved, lgtm

#51480 test: fix unstable test TestClearCache
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
Labels: size/S, release-note-none, approved, lgtm

#51315 executor: fix `BatchPoint` leads to tidb panic when KeyPartition column is part of multi-column index
  pkg/executor/batch_point_get.go
  pkg/planner/core/initialize.go
  pkg/planner/core/util.go
  tests/integrationtest/r/executor/batch_point_get.result
  tests/integrationtest/t/executor/batch_point_get.test
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#51034 br: use the dedicated grpc client for ingest
  br/pkg/restore/client.go
  br/pkg/restore/import.go
Labels: size/L, release-note-none, approved, lgtm

#51476 executor: trigger fallback action when agg memory consumption is lower than limit
  pkg/executor/aggregate/agg_spill.go
Labels: size/XS, release-note-none, approved, lgtm

#51410 executor, infoschema: add microservice into table cluster_info
  pkg/executor/infoschema_reader_test.go
  pkg/infoschema/tables.go
Labels: size/L, release-note-none, approved, lgtm

#51493 br: reduce workload in unit test
  tests/realtikvtest/brietest/backup_restore_test.go
Labels: size/XS, release-note-none, approved, lgtm

#51496 test: ignore some routines from grpc that's not waited on close
  tests/realtikvtest/testkit.go
Labels: size/XS, release-note-none, approved, lgtm

#51472 server: start to listen after init stats complete
  br/pkg/mock/mock_cluster.go
  cmd/tidb-server/main.go
  pkg/domain/main_test.go
  pkg/server/BUILD.bazel
  pkg/server/handler/extractorhandler/extract_test.go
  pkg/server/handler/extractorhandler/main_test.go
  pkg/server/handler/optimizor/main_test.go
  pkg/server/handler/optimizor/optimize_trace_test.go
  pkg/server/handler/optimizor/plan_replayer_test.go
  pkg/server/handler/optimizor/statistics_handler_test.go
  pkg/server/handler/tests/http_handler_test.go
  pkg/server/handler/tests/main_test.go
  pkg/server/http_status.go
  pkg/server/server.go
  pkg/server/tests/commontest/main_test.go
  pkg/server/tests/commontest/tidb_test.go
  pkg/server/tests/cursor/main_test.go
  pkg/server/tests/main_test.go
  pkg/server/tests/servertestkit/testkit.go
  pkg/server/tests/tls/main_test.go
  pkg/server/tests/tls/tls_test.go
Labels: size/L, release-note-none, approved, lgtm

#51471 executor: add microservice into table cluster_config
  pkg/executor/memtable_reader.go
  pkg/executor/memtable_reader_test.go
Labels: size/M, release-note-none, approved, lgtm

#51510 planner: add more test cases for plan cache with generated columns
  pkg/planner/core/main_test.go
  pkg/planner/core/plan_cache_test.go
  pkg/planner/core/testdata/plan_cache_suite_in.json
  pkg/planner/core/testdata/plan_cache_suite_out.json
Labels: size/XXL, release-note-none, approved, lgtm

#51426 disttask: refresh whole task info when state/step changed
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_dist_scheduler_test.go
  pkg/disttask/framework/integrationtests/bench_test.go
  pkg/disttask/framework/integrationtests/framework_pause_and_resume_test.go
  pkg/disttask/framework/integrationtests/resource_control_test.go
  pkg/disttask/framework/mock/scheduler_mock.go
  pkg/disttask/framework/scheduler/BUILD.bazel
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/mock/scheduler_mock.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_nokit_test.go
  pkg/disttask/framework/scheduler/scheduler_test.go
  pkg/disttask/framework/testutil/disttest_util.go
  pkg/disttask/framework/testutil/scheduler_util.go
  pkg/disttask/importinto/proto.go
  pkg/disttask/importinto/scheduler.go
  pkg/disttask/importinto/scheduler_test.go
  pkg/disttask/importinto/scheduler_testkit_test.go
Labels: size/XL, release-note-none, approved, lgtm

#51455 executor: add memory tracker for memtableRetriever
  pkg/executor/builder.go
  pkg/executor/infoschema_reader.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#51504 *: move related(default value expression) tests in db_integration_test to `tests/integrationtest/r/ddl`
  pkg/ddl/db_integration_test.go
  tests/integrationtest/r/ddl/default_as_expression.result
  tests/integrationtest/t/ddl/default_as_expression.test
Labels: component/test, size/XXL, release-note-none, approved, lgtm

#51509 global sort: fix forget to close writer when reader has error
  br/pkg/lightning/backend/external/merge.go
Labels: size/S, release-note-none, approved, lgtm

#49632 planner: make index merge union case aware of order property
  pkg/planner/core/casetest/dag/dag_test.go
  pkg/planner/core/casetest/dag/testdata/plan_suite_out.json
  pkg/planner/core/find_best_task.go
  pkg/planner/core/indexmerge_intersection_test.go
  pkg/planner/core/indexmerge_path.go
  pkg/planner/core/indexmerge_test.go
  pkg/planner/core/mock.go
  pkg/planner/core/testdata/index_merge_suite_in.json
  pkg/planner/core/testdata/index_merge_suite_out.json
  pkg/planner/util/path.go
  tests/integrationtest/r/executor/index_merge_reader.result
  tests/integrationtest/r/index_merge.result
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
Labels: release-note, size/XXL, ok-to-test, approved, lgtm

#51466 session: load variables before parsing SQL
  pkg/server/internal/testserverclient/server_client.go
  pkg/server/tests/commontest/BUILD.bazel
  pkg/server/tests/commontest/tidb_test.go
  pkg/session/session.go
Labels: release-note, size/M, approved, lgtm

#51281 br: split in each TiKV and wait scatter at last
  br/pkg/restore/client.go
  br/pkg/restore/split.go
  br/pkg/restore/split/split.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/restore.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#51498 .*: update client-go
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#51485 br, pkg/storage: enable objPrefix for gcs and azure
  br/pkg/storage/azblob.go
  br/pkg/storage/gcs.go
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#51506 s3: retry 3 times inside one `Read`
  br/pkg/storage/ks3.go
  br/pkg/storage/s3.go
  br/pkg/storage/s3_test.go
Labels: size/L, release-note-none, approved, lgtm

#50829 br: multi download and parse metafile
  br/pkg/metautil/BUILD.bazel
  br/pkg/metautil/metafile.go
  br/pkg/metautil/metafile_test.go
Labels: size/XL, release-note-none, approved, lgtm

#51479 statistics: Do not create pseudo statistics for the auto-analysis check process
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job_test.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
Labels: sig/planner, component/statistics, size/XXL, release-note-none, approved, lgtm

#51424 infoschemaV2: support create&drop&update table/schema for v2
  pkg/domain/domain.go
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
Labels: size/L, release-note-none, approved, lgtm

#48859 *: Run TestCompareReservedWordsWithMySQL in CI
  build/image/README.md
  build/image/parser_test
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#51400 planner: wait until binding is loaded into memory if binding cache miss
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/binding_cache.go
  pkg/bindinfo/binding_cache_test.go
  pkg/bindinfo/fuzzy_binding_test.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/session_handle.go
  pkg/bindinfo/tests/BUILD.bazel
  pkg/bindinfo/tests/bind_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#51507 infoschemaV2: add ut for v2 and some refine
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
  pkg/infoschema/interface.go
  pkg/infoschema/internal/BUILD.bazel
  pkg/infoschema/internal/testkit.go
Labels: size/XXL, release-note-none, approved, lgtm

#51521 infoschema: tiny refactor, split v1 and v2 functions for applyDiff
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_v2.go
Labels: size/XL, release-note-none, approved, lgtm

#51371 operator: print callstack when exiting before preparing done
  br/cmd/br/main.go
  br/pkg/backup/prepare_snap/prepare.go
  br/pkg/task/operator/cmd.go
  br/pkg/utils/misc.go
Labels: size/M, release-note-none, approved, lgtm

#51436 *: use AllSchemaNames to replace AllSchemas
  br/pkg/restore/client.go
  pkg/ddl/ddl_api.go
  pkg/ddl/ddl_tiflash_api.go
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_internal_test.go
  pkg/executor/infoschema_reader_test.go
  pkg/executor/show_placement.go
  pkg/executor/show_stats.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/interface.go
  pkg/infoschema/tables.go
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/server/handler/tikvhandler/tikv_handler.go
  pkg/session/bootstrap.go
  pkg/statistics/handle/util/table_info.go
  pkg/statistics/handle/util/util.go
  pkg/table/tables/tables_test.go
  pkg/ttl/cache/infoschema.go
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/timer_sync.go
Labels: size/XXL, release-note-none, approved, lgtm

#51536 br, lightning: unify IsScatterRegionFinished
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/localhelper.go
  br/pkg/lightning/backend/local/localhelper_test.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/split.go
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/client.go
  br/pkg/restore/split_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#51435 planner: trigger stats load on a column in determinate mode to make sure analyze row count is available
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/collect_column_stats_usage_test.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/plan_stats.go
  pkg/statistics/column.go
  pkg/statistics/index.go
  pkg/statistics/table.go
Labels: size/L, release-note-none, approved, lgtm

#51552 * : delete unuse interface and implementation
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/types/interfaces.go
Labels: size/M, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#51548 statistics: add statsVer for HistColl
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/storage/json.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/table.go
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#51541 ttl: remove TTL job when the table has been dropped
  pkg/ttl/ttlworker/BUILD.bazel
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
Labels: size/L, release-note-none, approved, lgtm

#51558 *: implement FindTableByPartitionID() for infoschema V2
  pkg/executor/slow_query_test.go
  pkg/executor/stmtsummary_test.go
  pkg/infoschema/infoschema_v2.go
Labels: size/M, release-note-none, approved, lgtm

#51559 util: use atomic.Pointer to replace with atomic.Value
  pkg/privilege/privileges/cache.go
  pkg/session/session.go
  pkg/table/tables/cache.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#51465 executor: load region info from pd in batch(#51333)
  pkg/executor/index_merge_reader.go
  pkg/store/copr/BUILD.bazel
  pkg/store/copr/batch_coprocessor.go
  pkg/store/copr/coprocessor_test.go
  pkg/store/copr/key_ranges.go
  pkg/store/copr/region_cache.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm, type/cherry-pick-for-release-7.5

#51457 bootstrap: Modify column sizes in constant.go and bootstrap.go
  br/pkg/restore/db_test.go
  pkg/ddl/constant.go
  pkg/session/bootstrap.go
  tests/integrationtest/r/session/bootstrap_upgrade.result
Labels: size/M, release-note-none, approved, lgtm

#51568 *: fix duplicate panel ids in tidb.json & add a duplicate id checker
  Makefile
  pkg/metrics/grafana/tidb.json
  tools/dashboard-linter/BUILD.bazel
  tools/dashboard-linter/main.go
Labels: size/L, release-note-none, approved, lgtm

#51531 statistics: split table analysis job into three different types of jobs
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/calculator.go
  pkg/statistics/handle/autoanalyze/priorityqueue/calculator_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job_test.go
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
Labels: sig/planner, component/statistics, size/XXL, release-note-none, approved, lgtm

#51576 infoschema: support 'truncate table' in infoschema v2
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
Labels: size/S, release-note-none, approved, lgtm

#51577 *: fix show placement for v2
  pkg/executor/show_placement.go
Labels: size/M, release-note-none, approved, lgtm

#51537 statistics: enable the auto-analysis priority queue
  pkg/sessionctx/variable/tidb_vars.go
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/exec/BUILD.bazel
  pkg/statistics/handle/autoanalyze/exec/exec.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
Labels: sig/planner, component/statistics, size/L, release-note-none, approved, lgtm

#51579 domain: avoid panic in the init stats breaking the loadStatsWorker
  pkg/domain/domain.go
Labels: size/XS, release-note-none, approved, lgtm

#51486 importinto: calculate writer mem size using step resource & add a option for test
  br/pkg/lightning/backend/external/merge.go
  pkg/disttask/importinto/encode_and_sort_operator.go
  pkg/disttask/importinto/encode_and_sort_operator_test.go
  pkg/disttask/importinto/planner.go
  pkg/disttask/importinto/planner_test.go
  pkg/disttask/importinto/task_executor.go
  pkg/executor/importer/import.go
  pkg/executor/importer/table_import.go
  tests/realtikvtest/importintotest4/global_sort_test.go
Labels: size/L, release-note-none, approved, lgtm

#51546 planner: choose to generate optimal plans without plan cache rather than generating suboptimal plans and caching it when generating MVIndex plans
  pkg/expression/util.go
  pkg/planner/core/indexmerge_path.go
  pkg/planner/core/indexmerge_path_test.go
  pkg/planner/core/plan_cache_test.go
  pkg/planner/core/testdata/plan_cache_suite_in.json
  pkg/planner/core/testdata/plan_cache_suite_out.json
Labels: size/XL, release-note-none, approved, lgtm

#50076 ddl: fix unstable test TestCreateDropCreateTable
  pkg/ddl/ddl.go
  pkg/ddl/ddl_running_jobs.go
  pkg/ddl/ddl_running_jobs_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#51595 server: fix incorrect setting of health status
  pkg/server/server.go
  pkg/server/server_test.go
Labels: release-note, size/S, ok-to-test, approved, lgtm

#51562 infoschema_v2: support create/alter/drop resource group
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/builder_misc.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
  pkg/infoschema/internal/testkit.go
Labels: size/L, release-note-none, approved, lgtm

#51561 session: migrate to the new redact function
  pkg/server/BUILD.bazel
  pkg/server/conn.go
  pkg/session/BUILD.bazel
  pkg/session/nontransactional.go
  pkg/session/session.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/util/redact/BUILD.bazel
  pkg/util/redact/redact.go
  pkg/util/redact/redact_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#49229 ddl: fix partition definition for literal with non-utf8 charsets + binary column | tidb-test=pr/2262
  errors.toml
  pkg/ddl/ddl_api.go
  pkg/ddl/partition.go
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/util/dbterror/ddl_terror.go
  tests/integrationtest/r/ddl/db_partition.result
  tests/integrationtest/r/ddl/partition.result
  tests/integrationtest/r/executor/show.result
  tests/integrationtest/r/planner/core/integration_partition.result
  tests/integrationtest/t/ddl/partition.test
  tests/integrationtest/t/planner/core/integration_partition.test
Labels: release-note, size/XL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#51517 stmtctx, execdetails: migrate execdetails inside the stmtctx and related methods to execdetails
  pkg/sessionctx/stmtctx/BUILD.bazel
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/session_test.go
  pkg/util/execdetails/execdetails.go
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/stmtsummary/statement_summary_test.go
  pkg/util/stmtsummary/v2/record.go
Labels: size/XL, release-note-none, approved, lgtm

#51594 infoschema_v2: support create/alter/drop policy
  pkg/infoschema/builder_misc.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
  pkg/infoschema/internal/testkit.go
Labels: size/L, release-note-none, approved, lgtm

#51615 importinto: fix incorrect index kv group count when table have common handle
  pkg/disttask/importinto/encode_and_sort_operator.go
  pkg/disttask/importinto/encode_and_sort_operator_test.go
Labels: size/M, release-note-none, approved, lgtm

#51616 statistics: turn off verbose logs
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
Labels: sig/planner, component/statistics, size/XS, release-note-none, approved, lgtm

#51590 *: migrate to the new parser redact function
  pkg/domain/domain.go
  pkg/executor/adapter.go
  pkg/parser/digester.go
  pkg/parser/digester_test.go
  pkg/server/conn.go
  pkg/server/conn_stmt.go
  pkg/server/tests/commontest/tidb_test.go
  pkg/session/bootstrap.go
  pkg/session/nontransactional.go
  pkg/session/session.go
  pkg/session/txnmanager.go
  pkg/sessionctx/variable/session.go
  pkg/util/processinfo.go
  pkg/util/processinfo_test.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#50389 txn: introduce pipelined DML
  DEPS.bzl
  br/pkg/lightning/backend/kv/session.go
  go.mod
  go.sum
  pkg/kv/interface_mock_test.go
  pkg/kv/kv.go
  pkg/metrics/grafana/tidb.json
  pkg/session/session.go
  pkg/session/txn.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
  pkg/store/driver/txn/txn_driver.go
  pkg/store/driver/txn/unionstore_driver.go
  pkg/store/mockstore/unistore/rpc.go
  pkg/store/mockstore/unistore/tikv/mvcc.go
  pkg/store/mockstore/unistore/tikv/server.go
  pkg/table/tables/tables.go
  tests/realtikvtest/pipelineddmltest/BUILD.bazel
  tests/realtikvtest/pipelineddmltest/main_test.go
  tests/realtikvtest/pipelineddmltest/pipelineddml_test.go
Labels: release-note, size/XXL, approved, lgtm

#51589 fix(lint): dumpling/export/sql_type.go
  build/nogo_config.json
  dumpling/export/sql_type.go
Labels: size/XS, release-note-none, component/dumpling, skip-issue-check, ok-to-test, approved, lgtm

#50468 util: Cgroup monitoring and alerting
  cmd/tidb-server/BUILD.bazel
  cmd/tidb-server/main.go
  pkg/metrics/alertmanager/tidb.rules.yml
  pkg/metrics/grafana/overview.json
  pkg/metrics/grafana/tidb.json
  pkg/metrics/grafana/tidb_runtime.json
  pkg/metrics/grafana/tidb_summary.json
  pkg/metrics/metrics.go
  pkg/metrics/server.go
  pkg/util/cgmon/BUILD.bazel
  pkg/util/cgmon/cgmon.go
  pkg/util/cgroup/cgroup.go
  pkg/util/cgroup/cgroup_cpu.go
  pkg/util/cgroup/cgroup_cpu_linux.go
  pkg/util/cgroup/cgroup_cpu_unsupport.go
  pkg/util/cgroup/cgroup_mock_test.go
Labels: size/XL, release-note-none, component/dumpling, ok-to-test, approved, lgtm

#51487 expression: introduce optional properties for `EvalContext`
  pkg/expression/BUILD.bazel
  pkg/expression/builtin.go
  pkg/expression/builtin_info.go
  pkg/expression/builtin_info_vec.go
  pkg/expression/context.go
  pkg/expression/context/BUILD.bazel
  pkg/expression/context/context.go
  pkg/expression/context/optional.go
  pkg/expression/context/optional_test.go
  pkg/expression/contextimpl/BUILD.bazel
  pkg/expression/contextimpl/sessionctx.go
  pkg/expression/contextimpl/sessionctx_test.go
  pkg/expression/contextopt/BUILD.bazel
  pkg/expression/contextopt/current_user.go
  pkg/expression/contextopt/optional.go
  pkg/expression/contextopt/optional_test.go
  pkg/expression/distsql_builtin.go
Labels: size/XXL, release-note-none, approved, lgtm

#51571 ddl, tests: add expression default values feature relevant tests for some DDLs and fix a related bug
  pkg/ddl/db_integration_test.go
  pkg/ddl/ddl_api.go
  tests/integrationtest/r/ddl/default_as_expression.result
  tests/integrationtest/t/ddl/default_as_expression.test
Labels: size/XL, release-note-none, approved, lgtm

#51640 ddl, test: fix the problem that table creation with auto_increment and default expressions
  pkg/ddl/ddl_api.go
  tests/integrationtest/r/ddl/default_as_expression.result
  tests/integrationtest/t/ddl/default_as_expression.test
Labels: size/M, release-note-none, approved, lgtm

#51614 br: move ScatterRegions into split package
  br/pkg/restore/import_retry_test.go
  br/pkg/restore/range_test.go
  br/pkg/restore/split.go
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/client.go
  br/pkg/restore/split/split_test.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#51633 util: use atomic.Pointer to replace with atomic.Value
  br/pkg/restore/import.go
  pkg/config/config.go
  pkg/domain/infosync/info.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#51648 *: fix security alert about JWX
  DEPS.bzl
  go.mod
  go.sum
Labels: size/M, release-note-none, approved, lgtm

#51022 disttask: skip scheduler take slots for some states
  pkg/disttask/framework/scheduler/BUILD.bazel
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_manager.go
  pkg/disttask/framework/scheduler/scheduler_manager_nokit_test.go
  pkg/disttask/framework/scheduler/scheduler_nokit_test.go
  pkg/disttask/framework/scheduler/scheduler_test.go
  pkg/disttask/framework/scheduler/testutil.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/testutil/context.go
  pkg/disttask/framework/testutil/scheduler_util.go
  pkg/metrics/disttask.go
  tests/realtikvtest/addindextest1/disttask_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#51489 statistics: add `last_analyze_version` for `mysql.stats_meta`
  pkg/executor/show_stats.go
  pkg/executor/show_stats_test.go
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/planner/core/planbuilder.go
  pkg/server/handler/optimizor/plan_replayer_test.go
  pkg/server/handler/optimizor/statistics_handler_test.go
  pkg/session/bootstraptest/main_test.go
  pkg/session/main_test.go
  pkg/statistics/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/autoanalyze/exec/exec.go
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/integration_test.go
  pkg/statistics/table.go
Labels: size/L, release-note-none, approved, lgtm

#51630 executor: fix issue of some insert execution stats was omitted
  pkg/executor/insert.go
  pkg/executor/insert_common.go
  tests/realtikvtest/pipelineddmltest/pipelineddml_test.go
Labels: size/M, release-note-none, approved, lgtm

#51665 planner: remove unused binding metrics
  pkg/bindinfo/binding.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/session_handle.go
  pkg/bindinfo/session_handle_test.go
  pkg/metrics/bindinfo.go
  pkg/metrics/metrics.go
Labels: size/M, release-note-none, approved, lgtm

#51670 executor: fix flaky test TestAnalyzeClusteredIndexPrimary
  pkg/executor/test/analyzetest/analyze_test.go
Labels: size/XS, release-note-none, approved, lgtm

#51469 executor: load region info from pd in batch(#51333)
  executor/index_merge_reader.go
  store/copr/BUILD.bazel
  store/copr/batch_coprocessor.go
  store/copr/coprocessor_test.go
  store/copr/key_ranges.go
  store/copr/region_cache.go
Labels: size/L, cherry-pick-approved, release-note-none, type/cherry-pick-for-release-7.1, approved, lgtm

#51654 planner: allow the optimizer to cache query plans accessing generated columns by default
  pkg/executor/explainfor_test.go
  pkg/planner/core/plan_cache_test.go
  pkg/planner/core/plan_cacheable_checker.go
  tests/integrationtest/r/planner/core/indexmerge_path.result
Labels: size/S, release-note-none, approved, lgtm

#51497 *: add super privilege check for some admin commands
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/planner/core/planbuilder.go
  pkg/util/stmtsummary/v2/tests/table_test.go
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/privilege/privileges.test
Labels: release-note, compatibility-breaker, size/M, approved, lgtm

#51578 br: stop log when full restore failed
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/utils/backoff.go
  br/pkg/utils/backoff_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#51677 executor: fix query hang in IndexMerge Executor when it's killed (#45284) (#45345)
  executor/index_merge_reader.go
  executor/index_merge_reader_test.go
  testkit/testkit.go
Labels: size/M, release-note-none, approved, lgtm

#51643 import into: enable `[]` glob matching
  pkg/executor/importer/import.go
  pkg/executor/importer/import_test.go
  pkg/executor/test/loadremotetest/multi_file_test.go
  pkg/util/stringutil/string_util.go
  pkg/util/stringutil/string_util_test.go
Labels: release-note, size/M, approved, lgtm

#51669 *: fix InContainer check for cgroup v2
  pkg/util/cgroup/cgroup_cpu_linux.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#49161 *: Enable plan cache for partitioned tables | tidb-test=pr/2273
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/executor/adapter.go
  pkg/executor/batch_point_get.go
  pkg/executor/builder.go
  pkg/executor/explain.go
  pkg/executor/explain_unit_test.go
  pkg/executor/merge_join_test.go
  pkg/executor/partition_table_test.go
  pkg/executor/point_get.go
  pkg/executor/point_get_test.go
  pkg/executor/stale_txn_test.go
  pkg/parser/model/model.go
  pkg/planner/core/access_object.go
  pkg/planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  pkg/planner/core/casetest/partition/testdata/integration_partition_suite_out.json
  pkg/planner/core/casetest/windows/testdata/window_push_down_suite_out.json
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/explain.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/initialize.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/plan_cacheable_checker.go
  pkg/planner/core/plan_cacheable_checker_test.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/core/stringer.go
  pkg/planner/core/tests/prepare/BUILD.bazel
  pkg/planner/core/tests/prepare/prepare_test.go
  pkg/planner/core/util.go
  pkg/planner/util/fixcontrol/get.go
  pkg/server/conn.go
  pkg/server/conn_test.go
  pkg/session/test/txn/txn_test.go
  pkg/table/table.go
  pkg/table/tables/partition.go
  pkg/table/tables/test/partition/BUILD.bazel
  pkg/table/tables/test/partition/partition_test.go
  pkg/types/datum.go
  tests/integrationtest/r/executor/batch_point_get.result
  tests/integrationtest/r/executor/explain.result
  tests/integrationtest/r/executor/merge_join.result
  tests/integrationtest/r/executor/partition/partition_boundaries.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_derive_topn_from_window.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/r/planner/core/partition_pruner.result
  tests/integrationtest/r/planner/core/plan_cache.result
  tests/integrationtest/r/planner/core/point_get_plan.result
  tests/integrationtest/r/select.result
  tests/integrationtest/r/window_function.result
  tests/integrationtest/t/planner/core/plan_cache.test
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#51642 logutil: adapt new redact functions
  DEPS.bzl
  br/pkg/redact/redact.go
  go.mod
  go.sum
  pkg/executor/set_test.go
  pkg/executor/test/admintest/BUILD.bazel
  pkg/executor/test/admintest/admin_test.go
  pkg/server/conn.go
  pkg/server/conn_stmt.go
  pkg/session/nontransactional.go
  pkg/session/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/store/driver/txn/driver_test.go
  pkg/util/dbterror/terror_test.go
  pkg/util/logutil/consistency/BUILD.bazel
  pkg/util/logutil/consistency/reporter.go
  pkg/util/redact/redact.go
  pkg/util/redact/redact_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#48296 ddl: make prefix index compatible with mysql 8.0 when prefix length equal to column length | tidb-test=pr/2308
  pkg/ddl/column.go
  pkg/ddl/index.go
  tests/integrationtest/r/table/index.result
  tests/integrationtest/t/table/index.test
Labels: size/M, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#51586 json: don't resize slice to get extra zero when the length is unspecified
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_cast_vec.go
  tests/integrationtest/r/expression/json.result
  tests/integrationtest/t/expression/json.test
Labels: size/M, release-note-none, approved, lgtm

#51653 restore: shift rewrite ranges before split ranges
  br/pkg/restore/batcher.go
  br/pkg/restore/batcher_test.go
  br/pkg/restore/client.go
  br/pkg/restore/merge.go
  br/pkg/restore/merge_test.go
  br/pkg/restore/pipeline_items.go
  br/pkg/restore/range.go
  br/pkg/restore/range_test.go
  br/pkg/restore/split.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/restore_raw.go
  br/pkg/task/restore_txn.go
Labels: size/XL, release-note-none, approved, lgtm

#51689 disttask: fix flaky pause test
  pkg/disttask/framework/integrationtests/framework_pause_and_resume_test.go
Labels: size/XS, release-note-none, approved, lgtm

#51663 planner: add simple task stack for memo
  pkg/planner/memo/BUILD.bazel
  pkg/planner/memo/task.go
  pkg/planner/memo/task_test.go
Labels: size/L, release-note-none, approved, lgtm

#51704 ddl, tests: make the error message of the default value expression more appropriate.
  pkg/ddl/ddl_api.go
  tests/integrationtest/r/ddl/default_as_expression.result
Labels: size/S, release-note-none, approved, lgtm

#51709 executor: skip TemporaryTableNoNetwork unit test under infoschema v2
  pkg/executor/temporary_table_test.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#51672 pkg: fix update calls to `runtime.fastrand` to use `cheaprand` for compatibility with Go 1.22
  pkg/util/fastrand/BUILD.bazel
  pkg/util/fastrand/random.go
  pkg/util/fastrand/runtime.go
  pkg/util/fastrand/runtime_1.22.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#51662 disttask: add metrics for used slots
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/slot.go
  pkg/metrics/disttask.go
  pkg/metrics/grafana/tidb.json
  pkg/metrics/metrics.go
Labels: size/L, release-note-none, approved, lgtm

#51718 *: remove old enableredactlog
  pkg/executor/BUILD.bazel
  pkg/executor/adapter.go
  pkg/executor/test/admintest/admin_test.go
  pkg/parser/digester.go
  pkg/parser/go.mod
  pkg/parser/go.sum
  pkg/server/conn.go
  pkg/server/conn_stmt.go
  pkg/session/nontransactional.go
  pkg/session/session.go
  pkg/session/txnmanager.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/util/logutil/consistency/BUILD.bazel
  pkg/util/logutil/consistency/reporter.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#51600 infoschemav2: support createtables & modifyschema
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/internal/testkit.go
Labels: size/L, release-note-none, approved, lgtm

#51692 bootstrage: reserve bootstrap versions for v7.5.x
  br/pkg/restore/db_test.go
  pkg/session/bootstrap.go
Labels: size/L, release-note-none, approved, lgtm

#51449 prepare_snap: establish connection to all stores before pausing admin
  br/pkg/backup/prepare_snap/BUILD.bazel
  br/pkg/backup/prepare_snap/prepare.go
  br/pkg/backup/prepare_snap/prepare_test.go
  br/pkg/backup/prepare_snap/stream.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#51724 *: add MODULE.bazel.lock file to gitignore
  .gitignore
  MODULE.bazel.lock
Labels: size/XXL, release-note-none, skip-issue-check, approved, lgtm

#51651 br, lightning: unify the calling of WaitForScatterRegion
  br/pkg/lightning/backend/local/BUILD.bazel
  br/pkg/lightning/backend/local/localhelper.go
  br/pkg/lightning/backend/local/localhelper_test.go
  br/pkg/restore/split.go
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/client.go
  br/pkg/restore/split/split.go
  br/pkg/restore/split/split_test.go
  br/pkg/restore/split_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#51659 feat: join errors
  DEPS.bzl
  br/cmd/tidb-lightning-ctl/main.go
  go.mod
  go.sum
  pkg/executor/adapter.go
Labels: size/M, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#51708 txn: fix Pipelined DML duplicate entry message
  DEPS.bzl
  br/pkg/lightning/backend/local/local_test.go
  br/pkg/lightning/importer/table_import_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
  br/pkg/task/restore_test.go
  br/pkg/version/version_test.go
  go.mod
  go.sum
  pkg/store/driver/txn/txn_driver.go
  pkg/ttl/cache/split_test.go
  tests/realtikvtest/pipelineddmltest/pipelineddml_test.go
Labels: size/L, release-note-none, approved, lgtm

#51713 bindinfo: unite log category
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/binding_cache.go
  pkg/bindinfo/capture.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/internal/logutil/BUILD.bazel
  pkg/bindinfo/internal/logutil/logutil.go
  pkg/bindinfo/session_handle.go
  pkg/planner/core/planbuilder.go
Labels: size/M, release-note-none, approved, lgtm

#51715 infoschema_v2: support bundles for apply diff
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/builder.go
  pkg/infoschema/bundle_builder.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
  pkg/infoschema/interface.go
  pkg/infoschema/internal/testkit.go
Labels: size/L, release-note-none, approved, lgtm

#51441 br: Enable checkpoint advancer to pause tasks lagged too large
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_cliext.go
  br/pkg/streamhelper/advancer_env.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
  br/pkg/streamhelper/config/advancer_conf.go
  br/pkg/streamhelper/models.go
  br/pkg/streamhelper/regioniter.go
  br/pkg/streamhelper/regioniter_test.go
Labels: release-note, size/XL, approved, lgtm

#51697 txn: produce warnings when fallback from bulk mode
  pkg/planner/core/point_get_plan.go
  pkg/session/session.go
  tests/realtikvtest/pipelineddmltest/BUILD.bazel
  tests/realtikvtest/pipelineddmltest/pipelineddml_test.go
Labels: size/L, release-note-none, approved, lgtm

#51681 *: support reading historial data for infoschema v2
  br/pkg/restore/db_test.go
  pkg/ddl/placement_policy_ddl_test.go
  pkg/domain/domain.go
  pkg/executor/show_stats_test.go
  pkg/executor/slow_query_test.go
  pkg/executor/stale_txn_test.go
  pkg/executor/stmtsummary_test.go
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
Labels: size/L, release-note-none, approved, lgtm

#50970 planner: adjust estimated rows to account for modified rows
  pkg/planner/cardinality/row_count_column.go
  pkg/planner/cardinality/row_count_index.go
  pkg/planner/cardinality/testdata/cardinality_suite_out.json
  pkg/statistics/histogram.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#51739 planner: add more metrics for binding
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/binding_cache.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/session_handle_test.go
  pkg/metrics/bindinfo.go
  pkg/metrics/grafana/tidb.json
  pkg/metrics/metrics.go
  pkg/planner/optimize.go
Labels: size/XL, release-note-none, approved, lgtm

#51706 lighting: increase pd client retry count on error during initialization
  br/pkg/lightning/backend/local/local.go
  br/pkg/pdutil/pd.go
  br/pkg/restore/rawkv_client.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#51732 *: fix `SURVIVAL_PREFERENCES` is not shown in `SHOW CREATE PLACEMENT POLICY`
  pkg/executor/show_placement_test.go
  pkg/executor/test/showtest/show_test.go
  pkg/parser/model/model.go
Labels: release-note, size/S, approved, lgtm

#51744 pkg/util/chunk, pkg/util/codec: remove redundant stmtctx dependency from tests
  pkg/util/chunk/BUILD.bazel
  pkg/util/chunk/chunk_test.go
  pkg/util/chunk/mutrow_test.go
  pkg/util/codec/BUILD.bazel
  pkg/util/codec/codec_test.go
  pkg/util/codec/collation_test.go
Labels: size/L, release-note-none, approved, lgtm

#51748 *: set right concurrency when to auto-analyze
  pkg/executor/builder.go
Labels: size/S, release-note-none, approved, lgtm

#51674 infoschema: fix `TestSlowQueryOOM` in some timezones
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
Labels: size/XS, release-note-none, approved, lgtm

#51249 log: Support a dedicated log file to save general log
  DEPS.bzl
  cmd/benchdb/main.go
  cmd/tidb-server/main.go
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/config.toml.example
  pkg/config/config_test.go
  pkg/executor/cluster_table_test.go
  pkg/executor/slow_query.go
  pkg/executor/slow_query_test.go
  pkg/session/session.go
  pkg/util/logutil/BUILD.bazel
  pkg/util/logutil/general_logger.go
  pkg/util/logutil/log.go
  pkg/util/logutil/log_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#51575 importinto, disttask: allow multi import job & adjust total memory for cgroup v2
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/importinto/BUILD.bazel
  pkg/disttask/importinto/job.go
  pkg/executor/importer/import.go
  pkg/util/cgroup/cgroup_memory.go
  pkg/util/cgroup/cgroup_mock_test.go
  tests/realtikvtest/importintotest/import_into_test.go
Labels: size/L, release-note-none, approved, lgtm

#51733 ddl/bdr: support add implicit nullable column and generated column
  pkg/ddl/bdr.go
  pkg/ddl/bdr_test.go
  tests/integrationtest/r/ddl/bdr_mode.result
  tests/integrationtest/t/ddl/bdr_mode.test
Labels: size/M, release-note-none, approved, lgtm

#51741 statistics: add sampling logger
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/logutil/BUILD.bazel
  pkg/statistics/handle/logutil/logutil.go
Labels: sig/planner, component/statistics, size/M, release-note-none, approved, lgtm

#51759 cmd: add new subcommand for redacting logs
  cmd/tidb-server/BUILD.bazel
  cmd/tidb-server/main.go
  pkg/util/redact/BUILD.bazel
  pkg/util/redact/redact.go
  pkg/util/redact/redact_test.go
Labels: size/L, release-note-none, approved, lgtm

#51771 *: fix cgroup monitor
  pkg/util/cgmon/cgmon.go
Labels: size/M, release-note-none, approved, lgtm

#51239 br: fix typo in client.go
  br/pkg/restore/client.go
Labels: size/XS, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#51763 *: add a panel for GC rate and GOMEMLIMIT
  pkg/metrics/grafana/tidb.json
Labels: size/L, release-note-none, approved, lgtm

#51781 planner: output a warning instead of returning an error when creating fast binding on a incomplete hint
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
  pkg/planner/core/planbuilder.go
  pkg/util/hint/hint_processor.go
Labels: size/M, release-note-none, approved, lgtm

#51667 txn: Add test case to cover the case that check_txn_status on primary lock of primary txn may affect transaction correctness
  tests/realtikvtest/txntest/BUILD.bazel
  tests/realtikvtest/txntest/txn_test.go
Labels: size/L, release-note-none, approved, lgtm

#51788 disttask: make sure task meta consistent between scheduler and table
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/disttask/framework/scheduler/scheduler.go
Labels: size/M, release-note-none, approved, lgtm

#51785 statistics: only analyze one index at a time
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job_test.go
Labels: sig/planner, component/statistics, size/L, release-note-none, approved, lgtm

#47496 planner, stats: reduce the persist memory usage of stats after startup
  pkg/executor/BUILD.bazel
  pkg/executor/show_stats.go
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/parser/model/model.go
  pkg/planner/cardinality/cross_estimation.go
  pkg/planner/cardinality/pseudo.go
  pkg/planner/cardinality/row_count_column.go
  pkg/planner/cardinality/row_count_index.go
  pkg/planner/cardinality/row_count_test.go
  pkg/planner/cardinality/selectivity.go
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/cardinality/testdata/cardinality_suite_out.json
  pkg/planner/cardinality/trace.go
  pkg/planner/cardinality/trace_test.go
  pkg/planner/core/casetest/binaryplan/binary_plan_test.go
  pkg/planner/core/casetest/planstats/plan_stats_test.go
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/collect_column_stats_usage_test.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/plan_stats.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/stats.go
  pkg/server/testdata/optimizer_suite_out.json
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/statistics/BUILD.bazel
  pkg/statistics/column.go
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/handletest/BUILD.bazel
  pkg/statistics/handle/handletest/handle_test.go
  pkg/statistics/handle/handletest/statstest/stats_test.go
  pkg/statistics/handle/internal/testutil.go
  pkg/statistics/handle/storage/json.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/storage/read_test.go
  pkg/statistics/handle/syncload/BUILD.bazel
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/handle/syncload/stats_syncload_test.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/handle/updatetest/update_test.go
  pkg/statistics/index.go
  pkg/statistics/integration_test.go
  pkg/statistics/table.go
  pkg/table/tables/tables.go
  tests/integrationtest/r/executor/partition/issues.result
  tests/integrationtest/r/explain_complex_stats.result
  tests/integrationtest/r/explain_easy_stats.result
  tests/integrationtest/t/explain_complex_stats.test
  tests/integrationtest/t/explain_easy_stats.test
Labels: size/XXL, release-note-none, approved, lgtm

#51780 planner: code prepare for support OR list nested in AND list for mv index
  pkg/planner/cardinality/selectivity.go
  pkg/planner/core/indexmerge_path.go
  pkg/planner/core/indexmerge_path_test.go
  pkg/statistics/table.go
  tests/integrationtest/r/planner/core/indexmerge_path.result
  tests/integrationtest/t/planner/core/indexmerge_path.test
Labels: size/XXL, release-note-none, approved, lgtm

#51747 ddl: fix add index's merge with multi-schema optimization
  pkg/ddl/index_merge_tmp.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/integration_test.go
  pkg/ddl/reorg.go
Labels: size/L, release-note-none, approved, lgtm

#51769 executor: remove parallel sort system variable
  pkg/executor/sortexec/parallel_sort_test.go
  pkg/executor/sortexec/sort.go
  pkg/executor/sortexec/sort_spill_test.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/M, release-note-none, approved, lgtm

#51737 br: pre allocate table id at first
  br/pkg/restore/client.go
  br/pkg/task/restore.go
Labels: size/S, release-note-none, approved, lgtm

#51783 timer: fix some timezone behavior in timer framework
  pkg/timer/BUILD.bazel
  pkg/timer/api/client_test.go
  pkg/timer/api/mem_store.go
  pkg/timer/runtime/worker_test.go
  pkg/timer/store_intergartion_test.go
  pkg/timer/tablestore/BUILD.bazel
  pkg/timer/tablestore/sql_test.go
  pkg/timer/tablestore/store.go
Labels: size/XL, release-note-none, approved, lgtm

#51676 external: parallel seekPropsOffsets
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/external/util.go
  br/pkg/lightning/backend/external/util_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#51774 planner: output a SQL warning if binding loading is triggered
  pkg/bindinfo/binding_cache.go
  pkg/bindinfo/tests/timeout/BUILD.bazel
  pkg/bindinfo/tests/timeout/timeout_test.go
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/t/planner/core/integration.test
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#51791 server: fix data race in the TestProxyProtocolWithIpNoFallbackable
  pkg/server/tests/commontest/tidb_test.go
Labels: size/XS, release-note-none, approved, lgtm

#51802 fix: modify signature
  pkg/planner/cardinality/cross_estimation.go
  pkg/planner/cardinality/pseudo.go
  pkg/planner/cardinality/row_count_index.go
  pkg/planner/cardinality/selectivity.go
  pkg/statistics/handle/storage/read_test.go
  pkg/statistics/index.go
Labels: size/S, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#51701 ttl: fix expire time drift for daylighting-save time case
  pkg/ttl/cache/table.go
  pkg/ttl/cache/table_test.go
  pkg/ttl/session/BUILD.bazel
  pkg/ttl/session/session.go
  pkg/ttl/ttlworker/BUILD.bazel
  pkg/ttl/ttlworker/job.go
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
  pkg/ttl/ttlworker/job_manager_test.go
  pkg/ttl/ttlworker/scan.go
  pkg/ttl/ttlworker/scan_test.go
  pkg/ttl/ttlworker/session.go
  pkg/ttl/ttlworker/session_test.go
  pkg/ttl/ttlworker/task_manager.go
  pkg/ttl/ttlworker/task_manager_integration_test.go
  pkg/ttl/ttlworker/timer.go
  pkg/ttl/ttlworker/timer_test.go
Labels: release-note, size/XL, approved, lgtm

#51794 txn: check MDL when starting and committing pipelined txns
  pkg/session/session.go
  tests/realtikvtest/pipelineddmltest/pipelineddml_test.go
Labels: size/S, release-note-none, approved, lgtm
