Repository pingcap/tidb, pull requests merged in 2024-12, with the labels that each got.

#57839 planner: fix wrong comment
  pkg/planner/core/find_best_task.go
Labels: sig/planner, size/XS, release-note-none, skip-issue-check, approved, lgtm

#57785 planner: use TableInfo.DBID to locate schema
  pkg/planner/core/memtable_infoschema_extractor.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57883 ttl,test: fix the datarace in `TestShrinkScanWorkerTimeout`
  pkg/ttl/ttlworker/task_manager_integration_test.go
Labels: size/S, release-note-none, approved, lgtm

#57532 BR: support restore compacted logs with checkpoint
  br/pkg/checkpoint/BUILD.bazel
  br/pkg/checkpoint/checkpoint.go
  br/pkg/checkpoint/checkpoint_test.go
  br/pkg/checkpoint/external_storage.go
  br/pkg/checkpoint/log_restore.go
  br/pkg/checkpoint/restore.go
  br/pkg/checkpoint/storage.go
  br/pkg/restore/import_mode_switcher.go
  br/pkg/restore/log_client/client.go
  br/pkg/restore/restorer.go
  br/pkg/restore/snap_client/client.go
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/helper.go
  br/pkg/task/operator/migrate_to.go
  br/pkg/task/restore.go
Labels: size/XL, release-note-none, approved, lgtm

#57864 planner: move pattern logic to cascades pkg
  pkg/planner/cascades/memo/BUILD.bazel
  pkg/planner/cascades/memo/group.go
  pkg/planner/cascades/memo/group_expr.go
  pkg/planner/cascades/old/BUILD.bazel
  pkg/planner/cascades/old/enforcer_rules.go
  pkg/planner/cascades/old/implementation_rules.go
  pkg/planner/cascades/old/optimize.go
  pkg/planner/cascades/old/optimize_test.go
  pkg/planner/cascades/old/stringer_test.go
  pkg/planner/cascades/old/transformation_rules.go
  pkg/planner/cascades/old/transformation_rules_test.go
  pkg/planner/cascades/pattern/BUILD.bazel
  pkg/planner/cascades/pattern/engine.go
  pkg/planner/cascades/pattern/engine_test.go
  pkg/planner/cascades/pattern/pattern.go
  pkg/planner/cascades/pattern/pattern_test.go
  pkg/planner/cascades/rule/BUILD.bazel
  pkg/planner/cascades/rule/binder.go
  pkg/planner/cascades/rule/binder_test.go
  pkg/planner/cascades/rule/join/BUILD.bazel
  pkg/planner/cascades/rule/join/join_to_apply.go
  pkg/planner/cascades/rule/rule.go
  pkg/planner/memo/BUILD.bazel
  pkg/planner/memo/expr_iterator.go
  pkg/planner/memo/expr_iterator_test.go
  pkg/planner/memo/group.go
  pkg/planner/memo/group_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57788 ttl: fix the issue that the task is not cancelled after transfering owners
  pkg/timer/tablestore/store.go
  pkg/ttl/ttlworker/task_manager.go
  pkg/ttl/ttlworker/task_manager_integration_test.go
  pkg/ttl/ttlworker/task_manager_test.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57351 *: add context.Context to ensureActiveUser()
  pkg/executor/coprocessor.go
  pkg/executor/show.go
  pkg/executor/simple.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/planbuilder.go
  pkg/privilege/privilege.go
  pkg/privilege/privileges/cache.go
  pkg/privilege/privileges/privileges.go
  pkg/privilege/privileges/privileges_test.go
  pkg/server/conn.go
  pkg/session/session.go
  pkg/session/test/session_test.go
  pkg/session/types/sesson_interface.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57673 dxf: handle modifying task concurrency in scheduler
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/modify_test.go
  pkg/disttask/framework/mock/scheduler_mock.go
  pkg/disttask/framework/proto/modify.go
  pkg/disttask/framework/proto/task.go
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_manager.go
  pkg/disttask/framework/scheduler/scheduler_nokit_test.go
  pkg/disttask/framework/storage/task_state.go
  pkg/disttask/framework/storage/task_state_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/importinto/mock/import_mock.go
  pkg/util/sqlexec/mock/restricted_sql_executor_mock.go
Labels: size/XL, release-note-none, approved, lgtm

#57897 gomod: specify go patch-level version
  go.mod
Labels: size/XS, release-note-none, approved, lgtm

#57636 statistics: do not record historical stats meta if the table is locked
  pkg/statistics/handle/handletest/lockstats/BUILD.bazel
  pkg/statistics/handle/handletest/lockstats/lock_table_stats_test.go
  pkg/statistics/handle/usage/BUILD.bazel
  pkg/statistics/handle/usage/session_stats_collect.go
Labels: sig/planner, release-note, size/S, approved, lgtm

#57148 workload repo: Merge Workload Repository into master
  cmd/tidb-server/BUILD.bazel
  cmd/tidb-server/main.go
  pkg/ddl/executor.go
  pkg/domain/domain.go
  pkg/util/workloadrepo/BUILD.bazel
  pkg/util/workloadrepo/const.go
  pkg/util/workloadrepo/housekeeper.go
  pkg/util/workloadrepo/sampling.go
  pkg/util/workloadrepo/snapshot.go
  pkg/util/workloadrepo/table.go
  pkg/util/workloadrepo/utils.go
  pkg/util/workloadrepo/worker.go
  pkg/util/workloadrepo/worker_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#57742 br: fix insert gc failed due to slow schema reload
  br/pkg/task/stream.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/encryption.go
  br/pkg/utils/wait.go
  br/tests/br_pitr_long_running_schema_loading/run.sh
  br/tests/run_group_br_tests.sh
  pkg/domain/domain.go
  pkg/domain/schema_validator.go
Labels: release-note, size/L, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.5

#57756 statistics: avoid stats meta full load after table analysis
  pkg/executor/analyze.go
  pkg/statistics/handle/cache/bench_test.go
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/cache/statscacheinner.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/handletest/statstest/BUILD.bazel
  pkg/statistics/handle/handletest/statstest/stats_test.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/storage/update.go
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/handle/types/interfaces.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57906 planner: add test for logical topN and logical tableDual's hash64 and equals
  pkg/planner/core/operator/logicalop/logicalop_test/BUILD.bazel
  pkg/planner/core/operator/logicalop/logicalop_test/hash64_equals_test.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#57309 statistics: gc the statistics correctly after drop the database
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/ddl_test.go
Labels: sig/planner, release-note, size/M, approved, lgtm

#57591 br: fix flaky test `TestConcurrentLock`
  br/pkg/storage/azblob.go
  br/pkg/storage/gcs.go
  br/pkg/storage/local.go
  br/pkg/storage/locking.go
  br/pkg/storage/locking_test.go
  br/pkg/storage/s3.go
  br/pkg/storage/storage.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#57894 dumpling: use I_S to get table list for TiDB and add database to WHERE
  dumpling/export/dump.go
  dumpling/export/prepare_test.go
  dumpling/export/sql.go
  dumpling/export/sql_test.go
Labels: size/L, release-note-none, component/dumpling, approved, lgtm

#57814 planner: Add left side operator info for hash join execution summary | tidb-test=pr/2436
  pkg/distsql/distsql_test.go
  pkg/executor/test/jointest/hashjoin/hash_join_test.go
  pkg/planner/core/casetest/cbotest/testdata/analyze_suite_out.json
  pkg/planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  pkg/planner/core/casetest/hint/testdata/integration_suite_out.json
  pkg/planner/core/casetest/mpp/testdata/integration_suite_out.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/casetest/pushdown/testdata/integration_suite_out.json
  pkg/planner/core/casetest/rule/testdata/join_reorder_suite_out.json
  pkg/planner/core/casetest/rule/testdata/outer2inner_out.json
  pkg/planner/core/casetest/testdata/integration_suite_out.json
  pkg/planner/core/casetest/testdata/plan_normalized_suite_out.json
  pkg/planner/core/casetest/testdata/stats_suite_out.json
  pkg/planner/core/explain.go
  pkg/planner/core/operator/logicalop/logical_join.go
  pkg/planner/core/testdata/index_merge_suite_out.json
  pkg/planner/core/testdata/runtime_filter_generator_suite_out.json
  pkg/planner/core/tests/redact/redact_test.go
  pkg/util/execdetails/execdetails.go
  tests/integrationtest/r/bindinfo/bind.result
  tests/integrationtest/r/clustered_index.result
  tests/integrationtest/r/cte.result
  tests/integrationtest/r/executor/aggregate.result
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/r/executor/expand.result
  tests/integrationtest/r/executor/explain.result
  tests/integrationtest/r/executor/index_lookup_join.result
  tests/integrationtest/r/executor/index_lookup_merge_join.result
  tests/integrationtest/r/executor/jointest/join.result
  tests/integrationtest/r/executor/merge_join.result
  tests/integrationtest/r/explain_complex.result
  tests/integrationtest/r/explain_cte.result
  tests/integrationtest/r/explain_easy.result
  tests/integrationtest/r/explain_easy_stats.result
  tests/integrationtest/r/explain_union_scan.result
  tests/integrationtest/r/expression/explain.result
  tests/integrationtest/r/index_join.result
  tests/integrationtest/r/index_merge.result
  tests/integrationtest/r/naaj.result
  tests/integrationtest/r/planner/cascades/integration.result
  tests/integrationtest/r/planner/core/casetest/expression_rewriter.result
  tests/integrationtest/r/planner/core/casetest/index/index.result
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/r/planner/core/casetest/physicalplantest/physical_plan.result
  tests/integrationtest/r/planner/core/casetest/predicate_simplification.result
  tests/integrationtest/r/planner/core/casetest/pushdown/push_down.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_join_reorder.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_result_reorder.result
  tests/integrationtest/r/planner/core/cbo.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/r/planner/core/rule_constant_propagation.result
  tests/integrationtest/r/planner/core/rule_join_reorder.result
  tests/integrationtest/r/select.result
  tests/integrationtest/r/statistics/integration.result
  tests/integrationtest/r/subquery.result
  tests/integrationtest/r/topn_push_down.result
  tests/integrationtest/r/tpch.result
  tests/integrationtest/r/util/ranger.result
  tests/integrationtest/t/planner/core/integration.test
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#57837 dxf: refactor error handling in task executor
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/framework_ha_test.go
  pkg/disttask/framework/integrationtests/framework_test.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/execute/interface.go
  pkg/disttask/framework/taskexecutor/interface.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
  pkg/lightning/log/log.go
  tests/realtikvtest/addindextest1/BUILD.bazel
  tests/realtikvtest/addindextest1/disttask_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#57803 statistics: correct behavior of non-lite InitStats and stats sync load of no stats column
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/handletest/initstats/load_stats_test.go
  pkg/statistics/handle/handletest/statstest/stats_test.go
  pkg/statistics/handle/syncload/BUILD.bazel
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/handle/syncload/stats_syncload_test.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/table.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57937 *: activate txn for query on infoschema tables
  pkg/executor/infoschema_reader.go
  pkg/executor/memtable_reader.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57912 lightning: add PK to internal tables
  br/pkg/backup/client.go
  br/pkg/lightning/backend/tidb/tidb_test.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/tests/lightning_duplicate_detection/run.sh
  br/tests/lightning_issue_40657/run.sh
  br/tests/lightning_sqlmode/run.sh
  br/tidb-lightning.toml
  tools/check/check-bazel-prepare.sh
Labels: size/M, release-note-none, approved, lgtm

#55770 ddl: Added check for Global Index
  pkg/ddl/ddl_api.go
  pkg/ddl/partition.go
  pkg/ddl/tests/partition/BUILD.bazel
  pkg/ddl/tests/partition/db_partition_test.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#57658 executor: support semi join
  pkg/executor/internal/testutil/testutil.go
  pkg/executor/join/BUILD.bazel
  pkg/executor/join/base_join_probe.go
  pkg/executor/join/base_semi_join.go
  pkg/executor/join/inner_join_probe_test.go
  pkg/executor/join/join_table_meta.go
  pkg/executor/join/left_outer_semi_join_probe.go
  pkg/executor/join/left_outer_semi_join_probe_test.go
  pkg/executor/join/outer_join_probe.go
  pkg/executor/join/semi_join_probe.go
  pkg/executor/join/semi_join_probe_test.go
  pkg/planner/core/physical_plans.go
  pkg/util/chunk/chunk_util.go
  pkg/util/queue/queue.go
  tests/integrationtest/r/executor/jointest/hash_join.result
  tests/integrationtest/t/executor/jointest/hash_join.test
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#57810 oracle-function: implement the function `to_date`
  pkg/executor/reload_expr_pushdown_blacklist.go
  pkg/expression/builtin.go
  pkg/expression/builtin_time.go
  pkg/expression/integration_test/integration_test.go
  pkg/parser/ast/functions.go
  tests/integrationtest/r/executor/show.result
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57957 *: update go 1.23.4
  WORKSPACE
  build/image/base
  build/image/parser_test
  go.mod
Labels: size/XS, release-note-none, approved, lgtm

#57967 executor: Enlarge the timeout for fetching TiFlash system tables
  pkg/executor/infoschema_reader.go
Labels: release-note, size/XS, approved, lgtm

#57919 ttl: fix the issue that one task losing heartbeat will block other tasks
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
  pkg/ttl/ttlworker/job_manager_test.go
  pkg/ttl/ttlworker/task_manager.go
  pkg/ttl/ttlworker/task_manager_integration_test.go
  pkg/ttl/ttlworker/task_manager_test.go
Labels: size/L, release-note-none, approved, lgtm

#57972 executor: fix flaky test TestUnionIssue
  pkg/executor/test/issuetest/executor_issue_test.go
Labels: size/XS, release-note-none, approved, lgtm

#57945 ddl: handle context done after sending DDL jobs
  pkg/ddl/ddl.go
  pkg/ddl/executor.go
  pkg/ddl/job_submitter_test.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57976 meta/autoid: make step variable atomic to fix data race tests
  pkg/meta/autoid/autoid.go
Labels: size/S, release-note-none, approved, lgtm

#57950 statistics: move JSON* to statistics/util
  br/pkg/backup/BUILD.bazel
  br/pkg/backup/schema.go
  br/pkg/metautil/BUILD.bazel
  br/pkg/metautil/load_test.go
  br/pkg/metautil/metafile.go
  br/pkg/metautil/statsfile.go
  br/pkg/metautil/statsfile_test.go
  br/pkg/task/BUILD.bazel
  br/pkg/task/config_test.go
  cmd/importer/BUILD.bazel
  cmd/importer/stats.go
  pkg/domain/BUILD.bazel
  pkg/domain/plan_replayer_dump.go
  pkg/executor/BUILD.bazel
  pkg/executor/historical_stats_test.go
  pkg/executor/load_stats.go
  pkg/executor/plan_replayer.go
  pkg/planner/core/casetest/cbotest/BUILD.bazel
  pkg/planner/core/casetest/cbotest/cbo_test.go
  pkg/server/handler/optimizor/BUILD.bazel
  pkg/server/handler/optimizor/plan_replayer.go
  pkg/server/handler/optimizor/plan_replayer_test.go
  pkg/server/handler/optimizor/statistics_handler_test.go
  pkg/statistics/handle/history/BUILD.bazel
  pkg/statistics/handle/history/history_stats.go
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/dump_test.go
  pkg/statistics/handle/storage/json.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/types/BUILD.bazel
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/util.go
  pkg/statistics/util/BUILD.bazel
  pkg/statistics/util/json_objects.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#57799 *: avoid unlock of unlocked mutex panic on TableDeltaMap
  pkg/sessionctx/variable/session.go
Labels: size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57865 keyspace: support API V2 mock store
  pkg/executor/BUILD.bazel
  pkg/executor/sample_test.go
  pkg/store/mockstore/BUILD.bazel
  pkg/store/mockstore/mockstorage/BUILD.bazel
  pkg/store/mockstore/mockstorage/storage.go
  pkg/store/mockstore/mockstore.go
  pkg/store/mockstore/unistore.go
  pkg/store/mockstore/unistore/pd.go
  pkg/store/mockstore/unistore/tikv/mvcc.go
  pkg/tablecodec/tablecodec.go
  pkg/util/rowcodec/BUILD.bazel
  pkg/util/rowcodec/common.go
Labels: release-note, size/L, approved, lgtm

#57946 statistics: fix some problem related to stats async load (#57723) (#57774) | tidb-test=2076e2fac85c636e0f3e0f287efc82465f62476a
  pkg/statistics/BUILD.bazel
  pkg/statistics/column.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/integration_test.go
  pkg/statistics/table.go
Labels: size/L, release-note-none, approved, lgtm

#57938 pingkai: add to_num function
  pkg/executor/reload_expr_pushdown_blacklist.go
  pkg/expression/builtin.go
  pkg/expression/builtin_string.go
  pkg/expression/builtin_string_test.go
  pkg/expression/integration_test/BUILD.bazel
  pkg/expression/integration_test/integration_test.go
  pkg/parser/ast/functions.go
  tests/integrationtest/r/executor/show.result
Labels: size/L, release-note-none, approved, lgtm

#58009 statistics: rename subscriber and handle drop schema event
  pkg/statistics/handle/ddl/subscriber.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#58017 planner: handle panic when loading bindings at startup
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/binding.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#57998 lightning, ddl: set TS to engineMeta after ResetEngineSkipAllocTS
  pkg/ddl/ingest/backend.go
  pkg/lightning/backend/backend.go
  pkg/lightning/backend/local/engine_test.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/local/region_job.go
  tests/realtikvtest/addindextest2/BUILD.bazel
  tests/realtikvtest/addindextest2/global_sort_test.go
  tests/realtikvtest/addindextest3/ingest_test.go
Labels: size/L, release-note-none, approved, lgtm

#57703 ttl: reschedule task to other instances when shrinking worker
  pkg/ttl/cache/table.go
  pkg/ttl/cache/task.go
  pkg/ttl/ttlworker/BUILD.bazel
  pkg/ttl/ttlworker/del.go
  pkg/ttl/ttlworker/del_test.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
  pkg/ttl/ttlworker/scan.go
  pkg/ttl/ttlworker/scan_test.go
  pkg/ttl/ttlworker/task_manager.go
  pkg/ttl/ttlworker/task_manager_integration_test.go
  pkg/ttl/ttlworker/task_manager_test.go
  pkg/ttl/ttlworker/worker.go
  pkg/ttl/ttlworker/worker_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#57713 br: Add retry limit of connection err in fine grained backup
  br/pkg/backup/client.go
  br/tests/br_fine_grained_disconnect/run.sh
  br/tests/br_fine_grained_disconnect/workload
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#58003 Oracle-compatibility: add_month and next_day function
  pkg/executor/reload_expr_pushdown_blacklist.go
  pkg/expression/builtin.go
  pkg/expression/builtin_time.go
  pkg/expression/builtin_time_test.go
  pkg/expression/integration_test/integration_test.go
  pkg/parser/ast/functions.go
  tests/integrationtest/r/executor/show.result
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#57895 oracle-function: implement the function `months_between()`
  pkg/executor/reload_expr_pushdown_blacklist.go
  pkg/expression/builtin.go
  pkg/expression/builtin_time.go
  pkg/expression/builtin_time_test.go
  pkg/expression/integration_test/integration_test.go
  pkg/parser/ast/functions.go
  tests/integrationtest/r/executor/show.result
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#57155 stmtsummary: implement tidb_statements_stats, a cumulative version of statements_summary
  pkg/executor/builder.go
  pkg/executor/stmtsummary.go
  pkg/infoschema/cluster.go
  pkg/infoschema/tables.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/operator/logicalop/logical_mem_table.go
  pkg/sessionctx/stmtctx/stmtctx_test.go
  pkg/util/execdetails/execdetails.go
  pkg/util/stmtsummary/evicted.go
  pkg/util/stmtsummary/evicted_test.go
  pkg/util/stmtsummary/reader.go
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/stmtsummary/statement_summary_test.go
Labels: sig/planner, release-note, size/XXL, approved, lgtm

#58021 statistics: lite init used wrong value to build table stats ver
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/handletest/handle_test.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57821 oracle-function: implement `to_char` and `date_to_char` function
  pkg/executor/reload_expr_pushdown_blacklist.go
  pkg/expression/builtin.go
  pkg/expression/builtin_string.go
  pkg/expression/builtin_string_test.go
  pkg/expression/builtin_time.go
  pkg/expression/builtin_time_vec.go
  pkg/expression/collation.go
  pkg/expression/integration_test/integration_test.go
  pkg/parser/ast/functions.go
  pkg/planner/core/plan_cache_param.go
  pkg/planner/core/tiflash_selection_late_materialization.go
  tests/integrationtest/r/executor/show.result
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#58048 statistics: right deal with error for reading stats from storage
  pkg/statistics/handle/handletest/BUILD.bazel
  pkg/statistics/handle/handletest/handle_test.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/util.go
Labels: sig/planner, release-note, size/M, approved, lgtm

#54004 executor: optimize executor runtime stats by avoid unnecessary clone
  pkg/distsql/distsql_test.go
  pkg/executor/batch_point_get.go
  pkg/executor/internal/exec/indexusage.go
  pkg/executor/internal/exec/indexusage_test.go
  pkg/executor/point_get.go
  pkg/util/execdetails/execdetails.go
Labels: size/M, release-note-none, approved, lgtm

#58056 lightning, ddl: set TS to engineMeta after ResetEngineSkipAllocTS (#57998) (#58032) | tidb-test=2076e2fac85c636e0f3e0f287efc82465f62476a
  pkg/ddl/ingest/backend.go
  pkg/lightning/backend/backend.go
  pkg/lightning/backend/local/BUILD.bazel
  pkg/lightning/backend/local/engine_test.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/local/region_job.go
  tests/realtikvtest/addindextest2/BUILD.bazel
  tests/realtikvtest/addindextest2/global_sort_test.go
  tests/realtikvtest/addindextest4/ingest_test.go
Labels: size/L, release-note-none, approved, lgtm

#57890 PingKai: implement Oracle `instr` function
  pkg/expression/builtin.go
  pkg/expression/builtin_string.go
  pkg/expression/builtin_string_test.go
  pkg/expression/builtin_string_vec.go
  pkg/expression/integration_test/BUILD.bazel
  pkg/expression/integration_test/integration_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#58006 executor, planner: send traffic requests to tiproxy
  pkg/executor/BUILD.bazel
  pkg/executor/builder.go
  pkg/executor/traffic.go
  pkg/executor/traffic_test.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/planbuilder_test.go
Labels: sig/planner, sig/execution, size/XL, release-note-none, ok-to-test, approved, lgtm

#58071 Oracle-compatibility: add_month and next_day function default behavior correction.
  pkg/executor/reload_expr_pushdown_blacklist.go
  pkg/expression/builtin_time.go
  pkg/expression/builtin_time_test.go
  pkg/expression/integration_test/integration_test.go
  pkg/parser/ast/functions.go
  tests/integrationtest/r/executor/show.result
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#57944 dxf: merge loops in Run and RunStep of task executor
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/framework_test.go
  pkg/disttask/framework/mock/execute/execute_mock.go
  pkg/disttask/framework/mock/task_executor_mock.go
  pkg/disttask/framework/proto/step.go
  pkg/disttask/framework/proto/type.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/execute/interface.go
  pkg/disttask/framework/taskexecutor/interface.go
  pkg/disttask/framework/taskexecutor/manager_test.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
  pkg/disttask/framework/testutil/BUILD.bazel
  pkg/disttask/framework/testutil/disttest_util.go
  pkg/disttask/framework/testutil/executor_util.go
Labels: size/XXL, release-note-none, approved, lgtm

#56928 planner: Use/force to apply prefer range scan
  pkg/executor/test/issuetest/executor_issue_test.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/casetest/dag/testdata/plan_suite_out.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/casetest/planstats/testdata/plan_stats_suite_out.json
  pkg/planner/core/casetest/testdata/plan_normalized_suite_out.json
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/core/plan_cost_ver2.go
  pkg/planner/core/plan_cost_ver2_test.go
  pkg/planner/core/stats.go
  pkg/sessionctx/stmtctx/stmtctx.go
  tests/integrationtest/r/planner/core/plan_cost_ver2.result
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm, affects-8.5

#57964 planner: fix incorrectly using the schema for plan cache
  pkg/ddl/tests/metadatalock/BUILD.bazel
  pkg/ddl/tests/metadatalock/mdl_test.go
  pkg/planner/core/plan_cache.go
Labels: sig/planner, release-note, size/L, approved, lgtm

#58062 domain,infoschema: make infoschema activity block GC safepoint advancing
  pkg/ddl/attributes_sql_test.go
  pkg/ddl/main_test.go
  pkg/ddl/tests/serial/main_test.go
  pkg/domain/db_test.go
  pkg/domain/domain.go
  pkg/domain/infosync/info.go
  pkg/domain/infosync/info_test.go
  pkg/infoschema/cache.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/test/infoschemav2test/BUILD.bazel
  pkg/infoschema/test/infoschemav2test/v2_test.go
  pkg/server/stat_test.go
Labels: size/L, release-note-none, approved, lgtm

#58039 planner: correct the vector index tests
  pkg/planner/core/casetest/vectorsearch/testdata/ann_index_suite_out.json
  pkg/planner/core/casetest/vectorsearch/vector_index_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58100 lightning: fix data error summary table format
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
Labels: size/M, release-note-none, approved, lgtm

#58050 compacted restore: fix the wrong initial configrations
  br/pkg/checkpoint/checkpoint_test.go
  br/pkg/checkpoint/restore.go
  br/pkg/restore/log_client/client.go
  br/pkg/restore/restorer.go
  br/pkg/restore/snap_client/BUILD.bazel
  br/pkg/restore/snap_client/import.go
  br/pkg/restore/snap_client/import_test.go
  br/tests/br_pitr/run.sh
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#58106 statistics: copy stats when to update it for avoiding data race
  pkg/statistics/handle/storage/read.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#58095 domain: reduce the chance of "Information schema is out of date" error
  pkg/domain/domain.go
Labels: size/S, release-note-none, approved, lgtm

#58113 ddl: simplify TestMDLPreparePlanCacheExecuteInsert
  .bazelversion
  pkg/ddl/tests/metadatalock/mdl_test.go
  pkg/table/tables/index.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#57940 executor: allocate handles on demand when build table tasks
  pkg/executor/distsql.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#58115 ddl: rename failpoint to better reflect what it does
  pkg/ddl/cancel_test.go
  pkg/ddl/cluster_test.go
  pkg/ddl/column_change_test.go
  pkg/ddl/column_modify_test.go
  pkg/ddl/column_test.go
  pkg/ddl/column_type_change_test.go
  pkg/ddl/constraint_test.go
  pkg/ddl/db_change_test.go
  pkg/ddl/db_integration_test.go
  pkg/ddl/db_table_test.go
  pkg/ddl/db_test.go
  pkg/ddl/executor_test.go
  pkg/ddl/fail_test.go
  pkg/ddl/foreign_key_test.go
  pkg/ddl/index_change_test.go
  pkg/ddl/index_modify_test.go
  pkg/ddl/ingest/integration_test.go
  pkg/ddl/integration_test.go
  pkg/ddl/job_scheduler.go
  pkg/ddl/job_worker.go
  pkg/ddl/modify_column_test.go
  pkg/ddl/multi_schema_change_test.go
  pkg/ddl/mv_index_test.go
  pkg/ddl/partition_test.go
  pkg/ddl/placement_policy_test.go
  pkg/ddl/repair_table_test.go
  pkg/ddl/rollingback_test.go
  pkg/ddl/stat_test.go
  pkg/ddl/table_modify_test.go
  pkg/ddl/table_test.go
  pkg/ddl/tests/adminpause/pause_cancel_test.go
  pkg/ddl/tests/adminpause/pause_negative_test.go
  pkg/ddl/tests/adminpause/pause_resume_test.go
  pkg/ddl/tests/indexmerge/merge_test.go
  pkg/ddl/tests/metadatalock/mdl_test.go
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/ddl/tests/partition/multi_domain_test.go
  pkg/ddl/tests/partition/reorg_partition_test.go
  pkg/ddl/tests/serial/serial_test.go
  pkg/ddl/tests/tiflash/ddl_tiflash_test.go
  pkg/ddl/tiflash_replica_test.go
  pkg/executor/infoschema_reader_test.go
  pkg/executor/recover_test.go
  pkg/executor/test/admintest/admin_test.go
  pkg/resourcegroup/tests/resource_group_test.go
  pkg/server/handler/tikvhandler/tikv_handler.go
  pkg/server/internal/testserverclient/server_client.go
  pkg/session/bootstraptest/bootstrap_upgrade_test.go
  pkg/table/tables/test/partition/partition_test.go
  tests/realtikvtest/addindextest/add_index_test.go
  tests/realtikvtest/addindextest1/disttask_test.go
  tests/realtikvtest/addindextest2/global_sort_test.go
  tests/realtikvtest/addindextest3/functional_test.go
  tests/realtikvtest/addindextest3/ingest_test.go
  tests/realtikvtest/flashbacktest/flashback_test.go
Labels: size/XL, release-note-none, approved, lgtm

#58081 keyspace: add keyspace etcd namespace UT
  pkg/ddl/ddl.go
  pkg/domain/domain.go
  pkg/session/BUILD.bazel
  pkg/session/bootstrap_test.go
  pkg/session/tidb.go
  pkg/store/mockstore/mockcopr/executor_test.go
  pkg/store/mockstore/mockstorage/storage.go
  pkg/store/mockstore/tikv.go
  pkg/store/mockstore/unistore.go
Labels: size/L, release-note-none, approved, lgtm

#58127 statistics: refactor common functions into subscriber
  pkg/statistics/handle/ddl/drop_partition.go
  pkg/statistics/handle/ddl/exchange_partition.go
  pkg/statistics/handle/ddl/subscriber.go
  pkg/statistics/handle/ddl/truncate_partition.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#58029 planner: fix index range intersection for in-list and other predicates
  pkg/planner/core/casetest/index/index_test.go
  pkg/planner/core/casetest/index/testdata/index_range_in.json
  pkg/planner/core/casetest/index/testdata/index_range_out.json
  pkg/util/ranger/detacher.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#58058 oracle-function: implement trunc and trunc_datetime
  pkg/executor/reload_expr_pushdown_blacklist.go
  pkg/expression/builtin.go
  pkg/expression/builtin_math.go
  pkg/expression/builtin_math_test.go
  pkg/expression/builtin_time.go
  pkg/expression/builtin_time_test.go
  pkg/expression/integration_test/integration_test.go
  pkg/parser/ast/functions.go
  tests/integrationtest/r/executor/show.result
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#58027 statstics: trigger evict by the timer
  pkg/domain/domain.go
  pkg/statistics/handle/cache/internal/inner.go
  pkg/statistics/handle/cache/internal/lfu/lfu_cache.go
  pkg/statistics/handle/cache/internal/mapcache/map_cache.go
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/cache/statscacheinner.go
  pkg/statistics/handle/types/interfaces.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#58164 statistics: fix flaky test TestSyncLoadOnObjectWhichCanNotFoundInStorage
  pkg/statistics/handle/syncload/stats_syncload_test.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#58166 ttl: fix the timezone issue and panic in the caller of `getSession`
  pkg/ttl/ttlworker/BUILD.bazel
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
  pkg/ttl/ttlworker/session.go
  pkg/ttl/ttlworker/session_integration_test.go
  pkg/ttl/ttlworker/task_manager_integration_test.go
Labels: size/L, release-note-none, approved, lgtm

#57973 planner: complete the memo/group-expression/group logic and add test for derive stats
  pkg/planner/cascades/memo/BUILD.bazel
  pkg/planner/cascades/memo/group.go
  pkg/planner/cascades/memo/group_expr.go
  pkg/planner/cascades/memo/memo.go
  pkg/planner/cascades/memo/memo_test.go
  pkg/planner/cascades/rule/BUILD.bazel
  pkg/planner/cascades/rule/binder_test.go
  pkg/planner/core/casetest/cascades/BUILD.bazel
  pkg/planner/core/casetest/cascades/main_test.go
  pkg/planner/core/casetest/cascades/memo_test.go
  pkg/planner/core/casetest/cascades/testdata/cascades_suite_in.json
  pkg/planner/core/casetest/cascades/testdata/cascades_suite_out.json
  pkg/planner/property/logical_property.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#58108 statistics: GCStats should not wrongly remove record of an existing table
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/gc.go
  pkg/statistics/handle/storage/gc_test.go
Labels: sig/planner, release-note, size/M, approved, lgtm

#58023 executor: Optimize statement summary performance by avoiding heap memory allocation
  pkg/executor/adapter.go
  pkg/sessionctx/variable/BUILD.bazel
  pkg/sessionctx/variable/session.go
  pkg/util/execdetails/execdetails.go
  pkg/util/stmtsummary/BUILD.bazel
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/stmtsummary/statement_summary_test.go
  pkg/util/stmtsummary/v2/BUILD.bazel
  pkg/util/stmtsummary/v2/record.go
  pkg/util/stmtsummary/v2/record_test.go
Labels: size/XL, release-note-none, approved, lgtm

#58138 metrics/grafana: display instance for information v2 cache size grafana panel
  pkg/metrics/grafana/tidb.json
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#58189 tests: disable later materialize in some tiflash tests
  pkg/executor/test/tiflashtest/tiflash_test.go
  pkg/store/mockstore/unistore/cophandler/mpp.go
  pkg/store/mockstore/unistore/cophandler/mpp_exec.go
Labels: size/M, release-note-none, approved, lgtm

#58070 planner: add some e2e test cases for outer join elimination
  pkg/expression/schema.go
  pkg/expression/schema_test.go
  pkg/planner/cascades/old/stringer.go
  pkg/planner/cascades/old/transformation_rules.go
  pkg/planner/core/casetest/BUILD.bazel
  pkg/planner/core/casetest/cascades/testdata/cascades_suite_out.json
  pkg/planner/core/casetest/plan_test.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/core/operator/logicalop/logical_aggregation.go
  pkg/planner/core/operator/logicalop/logical_apply.go
  pkg/planner/core/operator/logicalop/logical_datasource.go
  pkg/planner/core/operator/logicalop/logical_index_scan.go
  pkg/planner/core/operator/logicalop/logical_join.go
  pkg/planner/core/operator/logicalop/logical_projection.go
  pkg/planner/core/operator/logicalop/logical_schema_producer.go
  pkg/planner/core/operator/logicalop/logical_tikv_single_gather.go
  pkg/planner/core/rule/util/build_key_info_misc.go
  pkg/planner/core/rule_aggregation_elimination.go
  pkg/planner/core/rule_aggregation_push_down.go
  pkg/planner/core/rule_decorrelate.go
  pkg/planner/core/rule_join_elimination.go
  pkg/planner/core/task.go
  pkg/planner/memo/group.go
  pkg/planner/memo/group_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#58198 Dumpling: GCS client always retry and also retry for 401 error.
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/gcs.go
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#58203 executor: skip execution when build query for VIEW in I_S
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_test.go
  pkg/planner/core/logical_plan_builder.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#58185 logutil/dxf: add a error verbose logger, and use it in DXF
  DEPS.bzl
  go.mod
  go.sum
  pkg/disttask/framework/scheduler/BUILD.bazel
  pkg/disttask/framework/scheduler/balancer.go
  pkg/disttask/framework/scheduler/nodes.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_manager.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/util/logutil/log.go
Labels: size/M, release-note-none, approved, lgtm

#58207 planner: add test about memo derive stats.
  pkg/planner/core/casetest/cascades/memo_test.go
  pkg/planner/core/casetest/cascades/testdata/cascades_suite_in.json
  pkg/planner/core/casetest/cascades/testdata/cascades_suite_out.json
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58218 statistics: avoid throw error when data contains invalid date value
  pkg/statistics/scalar.go
Labels: sig/planner, size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#58033 executor: run idxlookup workers in a pool
  pkg/executor/distsql.go
  pkg/executor/utils.go
  pkg/executor/utils_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#58231 executor: skip execution when build query for VIEW in I_S (#58203)
  executor/infoschema_reader.go
  executor/infoschema_reader_test.go
  planner/core/logical_plan_builder.go
  tools/check/check-bazel-prepare.sh
Labels: size/XS, release-note-none, approved, lgtm

#58220 cherry-pick-7.5: br: fix insert gc failed due to slow schema reload (#57742)
  br/pkg/task/stream.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/wait.go
  br/tests/br_pitr_long_running_schema_loading/run.sh
  br/tests/run_group.sh
  pkg/domain/domain.go
  pkg/domain/schema_validator.go
Labels: size/L, cherry-pick-approved, release-note-none, ok-to-test, approved, lgtm

#58190 br: prompt k8s.io/api version
  DEPS.bzl
  go.mod
  go.sum
Labels: release-note, size/XL, cherry-pick-approved, approved, lgtm

#58219 cherry-pick-8.1: br: fix insert gc failed due to slow schema reload (#57742)
  br/pkg/task/stream.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/wait.go
  br/tests/br_pitr_long_running_schema_loading/run.sh
  br/tests/run_group_br_tests.sh
  pkg/domain/domain.go
  pkg/domain/schema_validator.go
Labels: size/L, cherry-pick-approved, release-note-none, ok-to-test, approved, lgtm

#58069 expression: prevent building plan for `execute` statement with wrong type
  pkg/executor/prepared_test.go
  pkg/expression/builtin_other.go
Labels: size/M, release-note-none, approved, lgtm

#58211 br: make table existence check unified on different br client
  br/pkg/task/restore.go
  br/tests/br_300_small_tables/run.sh
  br/tests/br_check_dup_table/run.sh
  br/tests/br_incompatible_tidb_config/run.sh
  br/tests/run_group_br_tests.sh
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#58240 planner: fix ExtractColumnsAndCorColumnsFromExpressions caller didn't update its may-expanded cache slice.
  pkg/planner/core/collect_column_stats_usage.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#57971 executor: support anti semi join
  pkg/executor/join/BUILD.bazel
  pkg/executor/join/anti_semi_join_probe.go
  pkg/executor/join/anti_semi_join_probe_test.go
  pkg/executor/join/base_join_probe.go
  pkg/executor/join/base_semi_join.go
  pkg/executor/join/inner_join_probe_test.go
  pkg/executor/join/semi_join_probe.go
  pkg/executor/join/semi_join_probe_test.go
  pkg/planner/core/physical_plans.go
  pkg/util/chunk/chunk_util.go
  tests/integrationtest/r/executor/jointest/hash_join.result
  tests/integrationtest/t/executor/jointest/hash_join.test
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#57872 *: use DDL subscriber updating stats meta
  pkg/ddl/ddl.go
  pkg/ddl/tests/partition/BUILD.bazel
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/domain/domain.go
  pkg/executor/BUILD.bazel
  pkg/executor/infoschema_reader_test.go
  pkg/executor/test/analyzetest/BUILD.bazel
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/planner/cardinality/BUILD.bazel
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/cardinality/trace_test.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/casetest/BUILD.bazel
  pkg/planner/core/casetest/cbotest/BUILD.bazel
  pkg/planner/core/casetest/cbotest/cbo_test.go
  pkg/planner/core/casetest/integration_test.go
  pkg/planner/core/casetest/vectorsearch/BUILD.bazel
  pkg/planner/core/casetest/vectorsearch/vector_index_test.go
  pkg/planner/core/indexmerge_intersection_test.go
  pkg/server/BUILD.bazel
  pkg/server/handler/optimizor/BUILD.bazel
  pkg/server/handler/optimizor/optimize_trace_test.go
  pkg/server/handler/optimizor/plan_replayer_test.go
  pkg/server/handler/optimizor/statistics_handler_test.go
  pkg/server/server_test.go
  pkg/statistics/BUILD.bazel
  pkg/statistics/handle/BUILD.bazel
  pkg/statistics/handle/autoanalyze/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/ddl/drop_partition.go
  pkg/statistics/handle/ddl/exchange_partition.go
  pkg/statistics/handle/ddl/reorganize_partition.go
  pkg/statistics/handle/ddl/subscriber.go
  pkg/statistics/handle/ddl/testutil/BUILD.bazel
  pkg/statistics/handle/ddl/testutil/util.go
  pkg/statistics/handle/ddl/truncate_partition.go
  pkg/statistics/handle/globalstats/BUILD.bazel
  pkg/statistics/handle/globalstats/global_stats_test.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/handletest/BUILD.bazel
  pkg/statistics/handle/handletest/handle_test.go
  pkg/statistics/handle/handletest/statstest/BUILD.bazel
  pkg/statistics/handle/handletest/statstest/stats_test.go
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/dump_test.go
  pkg/statistics/handle/storage/gc_test.go
  pkg/statistics/handle/syncload/BUILD.bazel
  pkg/statistics/handle/syncload/stats_syncload_test.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/handle/updatetest/BUILD.bazel
  pkg/statistics/handle/updatetest/update_test.go
  pkg/statistics/integration_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#58135 log backup: use global checkpoint ts as source of truth
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
Labels: release-note, size/L, approved, lgtm, needs-cherry-pick-release-8.1

#58008 server: return error on ping when in graceful shutdown
  errors.toml
  pkg/server/conn.go
  pkg/server/conn_test.go
  pkg/server/err/error.go
Labels: release-note, size/S, ok-to-test, approved, lgtm

#58073 session: add BRIE to CRUCIAL OPERATION logs
  pkg/session/session.go
Labels: size/XS, release-note-none, approved, lgtm

#58209 keyspace: Add UT for the auto ID in the keyspace scenario
  pkg/autoid_service/BUILD.bazel
  pkg/autoid_service/autoid_test.go
Labels: release-note, size/M, ok-to-test, approved, lgtm

#58132 planner, workload-based learning: The setup process framework of workload-based learning
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/session/session.go
  pkg/sessionctx/variable/tidb_vars.go
  pkg/workloadbasedlearning/BUILD.bazel
  pkg/workloadbasedlearning/handle.go
Labels: size/L, release-note-none, approved, lgtm

#58258 executor: Fix the parse problematic slow log panic issue due to empty value string
  pkg/executor/slow_query.go
  pkg/executor/slow_query_test.go
Labels: release-note, size/S, approved, lgtm

#58243 infoschema: change sieve Get() function Mutex to RWMutex
  pkg/infoschema/sieve.go
  pkg/infoschema/sieve_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#58206 ttl: retry the rows when del rate limiter returns error in delWorker
  pkg/ttl/ttlworker/del.go
  pkg/ttl/ttlworker/del_test.go
Labels: size/L, release-note-none, approved, lgtm

#58269 bazel: remove jdk17 to support bazel7
  .bazelrc
Labels: size/XS, release-note-none, approved, lgtm

#57981 planner: add cascade basic interface definition and basic task type.
  pkg/planner/cascades/base/BUILD.bazel
  pkg/planner/cascades/base/cascadesctx/BUILD.bazel
  pkg/planner/cascades/base/cascadesctx/cascades_ctx.go
  pkg/planner/cascades/base/task_scheduler_base.go
  pkg/planner/cascades/base/task_stack_base.go
  pkg/planner/cascades/memo/BUILD.bazel
  pkg/planner/cascades/memo/group_expr.go
  pkg/planner/cascades/memo/memo.go
  pkg/planner/cascades/rule/binder_test.go
  pkg/planner/cascades/task/BUILD.bazel
  pkg/planner/cascades/task/base.go
  pkg/planner/cascades/task/task.go
  pkg/planner/cascades/task/task_apply_rule.go
  pkg/planner/cascades/task/task_opt_group.go
  pkg/planner/cascades/task/task_opt_group_expression.go
  pkg/planner/cascades/task/task_scheduler.go
  pkg/planner/cascades/task/task_scheduler_test.go
  pkg/planner/cascades/task/task_test.go
  pkg/planner/core/casetest/cascades/memo_test.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#58294 planner: remove useless test files of Index Advisor
  tests/integrationtest/r/executor/index_advise.result
  tests/integrationtest/t/executor/index_advise.test
Labels: size/XL, release-note-none, approved, lgtm

#58075 planner: convert cartesian semi join with other nulleq condition to cross semi join with equal condition
  pkg/planner/core/issuetest/BUILD.bazel
  pkg/planner/core/issuetest/planner_issue_test.go
  pkg/planner/core/operator/logicalop/logical_join.go
  pkg/planner/core/testdata/plan_suite_unexported_out.json
  pkg/planner/core/testdata/runtime_filter_generator_suite_out.json
  tests/integrationtest/r/planner/core/casetest/rule/rule_result_reorder.result
Labels: sig/planner, release-note, size/M, approved, lgtm

#58285 *: tiny optimize by avoid sprintf
  pkg/expression/scalar_function.go
  pkg/types/datum.go
  pkg/types/datum_test.go
  pkg/util/ranger/types.go
Labels: size/M, release-note-none, approved, lgtm

#58292 Revert "infoschema: change sieve Get() function Mutex to RWMutex"
  pkg/infoschema/sieve.go
  pkg/infoschema/sieve_test.go
Labels: size/M, release-note-none, approved, lgtm

#58254 planner: stabilize the vector index test
  pkg/planner/core/casetest/vectorsearch/testdata/ann_index_suite_out.json
  pkg/planner/core/casetest/vectorsearch/vector_index_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58293 planner: output create-index statements for `recommend index run`
  pkg/executor/recommend_index.go
  pkg/planner/core/planbuilder.go
  pkg/planner/indexadvisor/BUILD.bazel
  pkg/planner/indexadvisor/indexadvisor_test.go
Labels: sig/planner, size/S, release-note-none, ok-to-test, approved, lgtm

#57388 *: avoid some unnecessary call of ensureActiveUser()
  pkg/executor/show.go
  pkg/executor/simple.go
  pkg/extension/auth_test.go
  pkg/privilege/privilege.go
  pkg/privilege/privileges/privileges.go
  pkg/privilege/privileges/privileges_test.go
  tests/integrationtest/r/executor/simple.result
  tests/integrationtest/t/executor/simple.test
Labels: size/M, release-note-none, approved, lgtm

#58202 lightning: calculate concurrency of schema import from region-concurrency
  lightning/pkg/importer/import.go
Labels: size/XS, release-note-none, approved, lgtm

#58099 lightning: fix data error summary table format
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#57522 store/copr: optimize copIterator by avoid start new goroutine
  pkg/distsql/context/context.go
  pkg/distsql/context/context_test.go
  pkg/distsql/distsql.go
  pkg/kv/kv.go
  pkg/store/copr/copr_test/BUILD.bazel
  pkg/store/copr/copr_test/coprocessor_test.go
  pkg/store/copr/coprocessor.go
  pkg/store/mockstore/unistore/rpc.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#57954 statistics: limit the batch size when updating the stats cache
  pkg/statistics/handle/cache/BUILD.bazel
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/cache/statscache_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#58134 session: add indexes for `mysql.analyze_jobs`
  br/pkg/restore/snap_client/systable_restore_test.go
  pkg/session/bootstrap.go
  pkg/session/bootstrap_test.go
  pkg/session/bootstraptest/bootstrap_upgrade_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/interval.go
Labels: sig/planner, release-note, size/L, approved, lgtm, needs-cherry-pick-release-8.5

#58063 workloadrepo: disable statement summary history when repository is enabled
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/workloadrepo/BUILD.bazel
  pkg/util/workloadrepo/worker.go
Labels: size/M, release-note-none, approved, lgtm

#58193 copr: fix the issue that busy threshold may redirect batch copr to followers
  pkg/store/copr/BUILD.bazel
  pkg/store/copr/coprocessor.go
  pkg/store/copr/coprocessor_test.go
  pkg/store/copr/region_cache.go
Labels: size/L, release-note-none, approved, lgtm

#58199 ttl: add more information in TTL logs
  pkg/ttl/cache/table.go
  pkg/ttl/ttlworker/BUILD.bazel
  pkg/ttl/ttlworker/del.go
  pkg/ttl/ttlworker/del_test.go
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/scan.go
  pkg/ttl/ttlworker/scan_test.go
  pkg/ttl/ttlworker/task_manager.go
Labels: size/L, release-note-none, approved, lgtm

#58235 execdetails: reduce mem allocs on RecordOneCopTask
  pkg/util/execdetails/execdetails.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#58316 domain: change some stats log level as WARN
  pkg/domain/domain.go
Labels: size/S, release-note-none, approved, lgtm

#58324 infoschema: change infoschem v2 btree element from tableItem to *tableItem
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
Labels: size/M, release-note-none, approved, lgtm

#58306 ttl: reduce some warnings logs when locking TTL tasks
  pkg/ttl/ttlworker/job_manager_test.go
  pkg/ttl/ttlworker/task_manager.go
  pkg/ttl/ttlworker/task_manager_integration_test.go
  pkg/ttl/ttlworker/task_manager_test.go
Labels: release-note, size/M, approved, lgtm

#58343 planner: remove unnecessary methods in global binding handler
  pkg/bindinfo/capture_test.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/internal/testutil.go
  pkg/executor/bind.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/planbuilder.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#58323 global sort: add boundaries to split keys when generating plan
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/disttask/importinto/BUILD.bazel
  pkg/disttask/importinto/planner.go
  pkg/disttask/importinto/planner_test.go
  pkg/lightning/backend/external/split.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/common/engine.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#58186 execdetails: tiny optimization for executor stats
  pkg/distsql/select_result.go
  pkg/distsql/select_result_test.go
  pkg/executor/internal/exec/BUILD.bazel
  pkg/executor/internal/exec/indexusage_test.go
  pkg/executor/internal/mpp/local_mpp_coordinator.go
  pkg/util/execdetails/BUILD.bazel
  pkg/util/execdetails/execdetails.go
  pkg/util/execdetails/execdetails_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#58329 global sort: add boundaries to split keys when generating plan (#58323)
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/disttask/importinto/BUILD.bazel
  pkg/disttask/importinto/planner.go
  pkg/disttask/importinto/planner_test.go
  pkg/lightning/backend/external/split.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/common/engine.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#58356 global sort: add boundaries to split keys when generating plan (#58323)
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/disttask/importinto/BUILD.bazel
  pkg/disttask/importinto/planner.go
  pkg/disttask/importinto/planner_test.go
  pkg/lightning/backend/external/split.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/common/engine.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#57123 executor: change the evaluation order of columns in `Update` and `Insert` statements
  pkg/executor/insert.go
  pkg/executor/insert_test.go
  pkg/executor/update.go
  pkg/executor/update_test.go
  pkg/executor/write.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#58350 planner: remove unnecessary methods in global binding handler
  pkg/bindinfo/binding.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/tests/bind_test.go
  pkg/domain/domain.go
  pkg/planner/BUILD.bazel
  pkg/planner/optimize.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#58354 planner: introduce hash collision consideration on group expression de-duplication
  DEPS.bzl
  go.mod
  go.sum
  pkg/planner/cascades/memo/BUILD.bazel
  pkg/planner/cascades/memo/group.go
  pkg/planner/cascades/memo/group_and_expr_test.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#58302 domain: move async load stats into single goroutine
  pkg/domain/domain.go
Labels: size/M, release-note-none, approved, lgtm

#58322 planner, executor: support `show traffic jobs`
  pkg/executor/builder.go
  pkg/executor/traffic.go
  pkg/executor/traffic_test.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/planbuilder_test.go
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm

#58332 planner: improve comments and clean up function for OR type IndexMerge logic
  pkg/planner/core/indexmerge_path.go
  pkg/planner/core/indexmerge_unfinished_path.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58375 metrics: don't use deprecated api
  pkg/metrics/grafana/tidb_runtime.json
  pkg/metrics/metrics.go
Labels: size/XS, release-note-none, approved, lgtm

#58328 planner: fix possible read-write DATA RACE on Instance Plan Cache
  pkg/expression/constant.go
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/plan_cache.go
Labels: sig/planner, size/S, release-note-none, ok-to-test, approved, lgtm

#58381 statistics: skip non-exicted table when to init stats
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/handletest/initstats/BUILD.bazel
  pkg/statistics/handle/handletest/initstats/load_stats_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#58373 planner: remove unused Auto Capture
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/binding.go
  pkg/bindinfo/capture.go
  pkg/bindinfo/capture_test.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/session_handle_test.go
  pkg/domain/domain.go
  pkg/executor/bind.go
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/planner/core/planbuilder.go
  pkg/util/stmtsummary/v2/tests/BUILD.bazel
  pkg/util/stmtsummary/v2/tests/table_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#58146 compact restore: use closure to initial snapshot restore checkpoint
  br/pkg/restore/snap_client/client.go
  br/pkg/restore/snap_client/tikv_sender.go
  br/pkg/task/restore_raw.go
  br/pkg/task/restore_txn.go
  br/tests/br_restore_checkpoint/run.sh
Labels: type/new-feature, size/M, release-note-none, ok-to-test, approved, lgtm

#58308 expression: Update generated column function restrictions
  pkg/expression/function_traits.go
  pkg/expression/function_traits_test.go
Labels: release-note, size/XL, ok-to-test, approved, lgtm

#58310 expression: Fix arg validation for tidb_mvcc_info()
  pkg/expression/builtin_info.go
  pkg/parser/ast/functions.go
  pkg/parser/parser_test.go
  tests/integrationtest/r/expression/misc.result
  tests/integrationtest/t/expression/misc.test
Labels: release-note, size/S, ok-to-test, approved, lgtm

#58349 br/backup: make the error rightly checked
  br/pkg/backup/BUILD.bazel
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#58365 planner: quickly get total count from index/column
  pkg/planner/cardinality/ndv.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#58404 br/backup: make the error rightly checked
  br/pkg/backup/BUILD.bazel
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#58353 sessionctx: Remove date_format, datetime_format,max_tmp_tables variables
  pkg/sessionctx/variable/noop.go
Labels: release-note, size/XS, ok-to-test, approved, lgtm

#58054 *: Update client-go and verify all read ts
  DEPS.bzl
  go.mod
  go.sum
  pkg/ddl/column_change_test.go
  pkg/ddl/column_test.go
  pkg/ddl/db_integration_test.go
  pkg/ddl/index_change_test.go
  pkg/ddl/job_worker_test.go
  pkg/executor/set.go
  pkg/executor/test/executor/executor_test.go
  pkg/executor/test/writetest/BUILD.bazel
  pkg/executor/test/writetest/write_test.go
  pkg/planner/core/planbuilder.go
  pkg/sessionctx/context.go
  pkg/sessiontxn/staleread/processor.go
  pkg/sessiontxn/staleread/util.go
  pkg/store/copr/BUILD.bazel
  pkg/store/copr/batch_coprocessor.go
  pkg/store/copr/batch_request_sender.go
  pkg/store/copr/mpp.go
  pkg/util/mock/BUILD.bazel
  pkg/util/mock/context.go
  pkg/util/mock/fortest.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#58383 planner: fix hash partition prune with `is null` condition
  pkg/planner/core/casetest/partition/partition_pruner_test.go
  pkg/planner/core/casetest/partition/testdata/partition_pruner_in.json
  pkg/planner/core/casetest/partition/testdata/partition_pruner_out.json
  pkg/planner/core/rule_partition_processor.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#58386 ddl: implement backoff strategy for async event notification in tests
  pkg/ddl/ddl.go
Labels: size/S, release-note-none, approved, lgtm, component/ddl

#58407 planner: fix "invalid memory address or nil pointer dereference" when using Instance Plan Cache in some cases
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/concurrency_test.go
  pkg/planner/core/casetest/instanceplancache/others_test.go
  pkg/planner/core/plan_clone_utils.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#58327 expression: cleanup old functions
  pkg/executor/reload_expr_pushdown_blacklist.go
  pkg/expression/builtin.go
  pkg/expression/builtin_encryption.go
  pkg/expression/function_traits.go
  pkg/expression/function_traits_test.go
  pkg/parser/ast/functions.go
  tests/integrationtest/r/executor/show.result
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#58112 br: separate nested logic of table rewrite and building id map
  br/pkg/restore/log_client/client.go
  br/pkg/restore/log_client/client_test.go
  br/pkg/restore/log_client/export_test.go
  br/pkg/stream/BUILD.bazel
  br/pkg/stream/meta_kv.go
  br/pkg/stream/rewrite_meta_rawkv.go
  br/pkg/stream/rewrite_meta_rawkv_test.go
  br/pkg/stream/table_mapping.go
  br/pkg/stream/table_mapping_test.go
  br/pkg/task/stream.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#58312 parser: Fix undocumented password_func function | tidb-test=pr/2458
  pkg/executor/reload_expr_pushdown_blacklist.go
  pkg/expression/function_traits_test.go
  pkg/parser/ast/functions.go
  pkg/parser/parser_test.go
  tests/integrationtest/r/executor/show.result
Labels: release-note, size/S, ok-to-test, approved, lgtm
