Repository pingcap/tidb, pull requests merged in 2024-04, with the labels that each got.

#52268 tests: fix the error msg in default_as_expession
  tests/integrationtest/r/ddl/default_as_expression.result
  tests/integrationtest/t/ddl/default_as_expression.test
Labels: size/XS, release-note-none, approved, lgtm

#52246 executor: fix data race in parallel sort test
  pkg/executor/sortexec/parallel_sort_spill_helper.go
  pkg/executor/sortexec/sort.go
Labels: size/S, release-note-none, approved, lgtm

#52275 *: upgrade 1.21.8
  WORKSPACE
Labels: size/XS, release-note-none, approved, lgtm

#52155 expression: remove useless `TiDBDecodeKeyFunctionKeyType`
  pkg/expression/builtin_info.go
Labels: size/XS, release-note-none, approved, lgtm

#51618 distsql: use a more accurate type of the context of distsql
  pkg/ddl/index_cop.go
  pkg/ddl/reorg.go
  pkg/distsql/BUILD.bazel
  pkg/distsql/context/BUILD.bazel
  pkg/distsql/context/context.go
  pkg/distsql/context_test.go
  pkg/distsql/distsql.go
  pkg/distsql/distsql_test.go
  pkg/distsql/request_builder.go
  pkg/distsql/request_builder_test.go
  pkg/distsql/select_result.go
  pkg/distsql/select_result_test.go
  pkg/executor/admin.go
  pkg/executor/analyze_col.go
  pkg/executor/analyze_idx.go
  pkg/executor/builder.go
  pkg/executor/checksum.go
  pkg/executor/distsql.go
  pkg/executor/executor_pkg_test.go
  pkg/executor/index_merge_reader.go
  pkg/executor/internal/builder/builder_utils.go
  pkg/executor/internal/mpp/local_mpp_coordinator.go
  pkg/executor/mpp_gather.go
  pkg/executor/simple.go
  pkg/executor/table_reader.go
  pkg/executor/table_readers_required_rows_test.go
  pkg/planner/core/fragment.go
  pkg/session/session.go
  pkg/sessionctx/context.go
  pkg/sessionctx/stmtctx/BUILD.bazel
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/util/mock/context.go
Labels: size/XXL, release-note-none, approved, lgtm

#52279 test: fix TestClearCache
  br/pkg/streamhelper/advancer_test.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#52266 statistics: avoid unnecessay table id loading the stats
  pkg/statistics/handle/bootstrap.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#52141 expression: use `assertionEvalContext` to check some constraints in runtime
  pkg/expression/builtin_arithmetic_vec_test.go
  pkg/expression/builtin_cast_test.go
  pkg/expression/builtin_compare_test.go
  pkg/expression/builtin_info.go
  pkg/expression/builtin_miscellaneous_vec_test.go
  pkg/expression/builtin_op_vec_test.go
  pkg/expression/builtin_other_test.go
  pkg/expression/builtin_other_vec_test.go
  pkg/expression/builtin_regexp_vec_const_test.go
  pkg/expression/builtin_test.go
  pkg/expression/builtin_time_test.go
  pkg/expression/builtin_time_vec_test.go
  pkg/expression/builtin_vectorized_test.go
  pkg/expression/context.go
  pkg/expression/evaluator_test.go
  pkg/expression/scalar_function.go
Labels: size/XL, release-note-none, approved, lgtm

#52278 lightning: remove error check in `TestAdjustBlockSize`
  pkg/lightning/config/config_test.go
Labels: size/S, release-note-none, approved, lgtm

#52235 br,lightning: refine GetSplitKeysOfRegions
  br/pkg/restore/split.go
  br/pkg/restore/split/client.go
  br/pkg/restore/split/split.go
  br/pkg/restore/split/split_test.go
  br/tests/lightning_local_backend/run.sh
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/localhelper.go
  pkg/lightning/backend/local/localhelper_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#52298 br: clean integration test code
  br/tests/run_group_br_tests.sh
Labels: size/M, cherry-pick-approved, release-note-none, ok-to-test, approved, lgtm

#52163 infoschema_v2: fix TestPartitionAddIndexGC
  pkg/infoschema/infoschema_v2.go
Labels: size/S, release-note-none, approved, lgtm

#52286 disttask,ddl: use subtask concurrency
  pkg/ddl/backfilling_import_cloud.go
  pkg/ddl/backfilling_merge_sort.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_read_index.go
  pkg/ddl/backfilling_scheduler.go
  pkg/ddl/index.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/importinto/encode_and_sort_operator.go
  pkg/disttask/importinto/encode_and_sort_operator_test.go
  pkg/disttask/importinto/task_executor.go
  pkg/executor/importer/import.go
  pkg/executor/importer/import_test.go
  tests/realtikvtest/addindextest3/operator_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#52276 importinto: change min thread to 8 for global sort
  pkg/executor/importer/precheck.go
  pkg/executor/importer/precheck_test.go
  tests/realtikvtest/importintotest4/main_test.go
Labels: size/S, release-note-none, approved, lgtm

#52293 Makefile: refactoring .PHONY
  Makefile
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#52240 distsql: support global index in `memIndexLookUpReader`
  pkg/distsql/BUILD.bazel
  pkg/distsql/request_builder.go
  pkg/distsql/request_builder_test.go
  pkg/executor/distsql.go
  pkg/executor/mem_reader.go
  pkg/tablecodec/tablecodec.go
  tests/integrationtest/r/globalindex/mem_index_lookup.result
  tests/integrationtest/t/globalindex/mem_index_lookup.test
Labels: size/L, release-note-none, approved, lgtm

#52216 topsql, pprof: use hex string but not binary sql/plan digest in goroutine label
  pkg/util/cpuprofile/testutil/util.go
  pkg/util/topsql/collector/BUILD.bazel
  pkg/util/topsql/collector/cpu.go
  pkg/util/topsql/topsql.go
Labels: size/M, release-note-none, approved, lgtm

#52135 expression: minimize the `PushDownContext`
  pkg/expression/BUILD.bazel
  pkg/expression/aggregation/agg_to_pb.go
  pkg/expression/aggregation/agg_to_pb_test.go
  pkg/expression/expr_to_pb_test.go
  pkg/expression/infer_pushdown.go
  pkg/planner/core/util.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/L, release-note-none, approved, lgtm

#52319 statistics: fix the possible wrong result for stats_healthy
  pkg/statistics/table.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#51923 txn: produce warning for Pipelined DML when falling back because of tidb_constraint_check_in_place
  pkg/session/session.go
  tests/realtikvtest/pipelineddmltest/pipelineddml_test.go
Labels: size/S, release-note-none, approved, lgtm

#51729 client-go: fix data race that may cause tikv/client-go client_batch panic
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#52316 lightning: fix incorrect handling of duplicated key error message
  pkg/lightning/common/dupdetect.go
  tests/realtikvtest/addindextest4/ingest_test.go
Labels: release-note, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#52315 ddl: fix 2 reorg worker running concurrently after retire owner then to be owner
  pkg/ddl/ddl.go
  pkg/ddl/ddl_running_jobs.go
  pkg/ddl/ddl_running_jobs_test.go
Labels: size/M, release-note-none, approved, lgtm

#52177 operator: make an infinity retry for connecting to store
  br/pkg/backup/prepare_snap/env.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/backoff.go
  br/pkg/utils/backoff_test.go
  br/pkg/utils/retry.go
Labels: size/M, release-note-none, approved, lgtm

#52333 *: update tikv/client-go to fix panic log
  DEPS.bzl
  go.mod
  go.sum
  pkg/util/execdetails/execdetails_test.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#52146 cop: display kv read time details in the execution information
  pkg/distsql/select_result.go
  pkg/util/execdetails/execdetails.go
  pkg/util/execdetails/execdetails_test.go
Labels: type/enhancement, size/M, release-note-none, ok-to-test, approved, lgtm

#52301 statistics: fix wrong singleflight implementation for stats' syncload
  pkg/parser/model/model.go
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/handle/syncload/stats_syncload_test.go
  pkg/statistics/handle/types/BUILD.bazel
  pkg/statistics/handle/types/interfaces.go
Labels: size/L, release-note-none, approved, lgtm

#52264 br/operator: fix stuck when terminating
  br/pkg/backup/prepare_snap/BUILD.bazel
  br/pkg/backup/prepare_snap/prepare.go
  br/pkg/backup/prepare_snap/prepare_test.go
  br/pkg/backup/prepare_snap/stream.go
Labels: release-note, size/L, approved, lgtm

#52285 statistics: add schema ID to check if it is a system or mem table
  pkg/ddl/column.go
  pkg/ddl/partition.go
  pkg/ddl/table.go
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/ddl_event.go
  pkg/statistics/handle/util/ddl_event_test.go
Labels: sig/planner, release-note, size/XL, approved, lgtm

#52336 lightning: Don't log "received task config" in server mode
  lightning/pkg/server/lightning.go
  pkg/lightning/common/BUILD.bazel
  pkg/lightning/common/util.go
  pkg/lightning/common/util_test.go
Labels: type/bug-fix, release-note, size/M, component/lightning, ok-to-test, approved, lgtm

#52341 tools/ut: skip Lightning tests in `make ut`
  tools/check/ut.go
Labels: size/XS, release-note-none, approved, lgtm

#52300 br, lightning: move *batch* split region logic into common package
  br/pkg/restore/client.go
  br/pkg/restore/split.go
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/client.go
  br/pkg/restore/split/client_test.go
  br/pkg/restore/split/split_test.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/localhelper.go
  pkg/lightning/backend/local/localhelper_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#52227 executor: fix distorted join probe time
  pkg/executor/join.go
  pkg/executor/join_pkg_test.go
  pkg/executor/test/jointest/hashjoin/hash_join_test.go
  tests/integrationtest/r/planner/core/cbo.result
Labels: size/L, release-note-none, approved, lgtm

#52359 *: additional test for redact log and a fix
  cmd/tidb-server/main.go
  pkg/server/conn.go
  pkg/session/session.go
  pkg/table/tables/tables_test.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#52352 statistics: fix wrong stats healthy check
  pkg/statistics/table.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#52358 domon,statistics: remove useless code for sync load
  pkg/domain/domain.go
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/handle/types/interfaces.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#52373 planner: move fields from ast.Prepared to planner.PlanCacheStmt
  pkg/executor/adapter.go
  pkg/executor/compiler.go
  pkg/executor/prepared.go
  pkg/parser/ast/misc.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_utils.go
  pkg/server/driver_tidb.go
  pkg/session/session.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#52384 planner: simplify plan cache code
  pkg/executor/adapter.go
  pkg/executor/compiler.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_utils.go
  pkg/server/internal/resultset/resultset.go
Labels: size/M, release-note-none, approved, lgtm

#52347 statistics: batch write into stats cache when to init stats
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/statscacheinner.go
  pkg/statistics/handle/initstats/BUILD.bazel
  pkg/statistics/handle/initstats/load_stats.go
  pkg/statistics/handle/initstats/load_stats_page.go
Labels: size/L, release-note-none, approved, lgtm

#52391 statistics: batch write into stats cache when to init stats
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/statscacheinner.go
  pkg/statistics/handle/initstats/BUILD.bazel
  pkg/statistics/handle/initstats/load_stats.go
  pkg/statistics/handle/initstats/load_stats_page.go
Labels: size/L, release-note-none, approved, lgtm

#52260 *: upgrade linter
  DEPS.bzl
  build/nogo_config.json
  go.mod
  go.sum
Labels: size/XXL, release-note-none, skip-issue-check, approved, lgtm

#52337 planner, executor: make partition table generate `IndexReader` with `UnionScan`
  pkg/executor/mem_reader.go
  pkg/planner/core/find_best_task.go
  tests/integrationtest/r/executor/distsql.result
  tests/integrationtest/r/planner/core/integration_partition.result
  tests/realtikvtest/txntest/txn_test.go
Labels: size/M, release-note-none, approved, lgtm

#52387 *: upgrade go1.21.9
  WORKSPACE
Labels: size/XS, release-note-none, approved, lgtm

#52404 Makefile, testkit: don't add intest tag for daily bench
  Makefile
  pkg/testkit/testkit.go
Labels: size/S, release-note-none, approved, lgtm

#52304 txn: set txn options in txn provider which avoid data race
  pkg/ddl/ddl.go
  pkg/ddl/ddl_worker.go
  pkg/ddl/delete_range.go
  pkg/ddl/job_table.go
  pkg/session/BUILD.bazel
  pkg/session/session.go
  pkg/session/txnmanager.go
  pkg/session/types/BUILD.bazel
  pkg/session/types/sesson_interface.go
  pkg/sessionctx/BUILD.bazel
  pkg/sessionctx/context.go
  pkg/sessionctx/variable/BUILD.bazel
  pkg/sessionctx/variable/session.go
  pkg/sessiontxn/interface.go
  pkg/sessiontxn/isolation/BUILD.bazel
  pkg/sessiontxn/isolation/base.go
  pkg/sessiontxn/staleread/provider.go
  pkg/store/driver/txn/BUILD.bazel
  pkg/store/driver/txn/txn_driver.go
  pkg/store/gcworker/gc_worker.go
  pkg/timer/tablestore/BUILD.bazel
  pkg/timer/tablestore/sql_test.go
  pkg/util/mock/context.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#51984 ddl: fix rename index for expression indexes
  pkg/ddl/column.go
  pkg/ddl/index.go
  tests/integrationtest/r/ddl/db_rename.result
  tests/integrationtest/t/ddl/db_rename.test
Labels: size/M, release-note-none, approved, lgtm

#52408 domain: make ru_stats duration compatible with DST
  pkg/domain/ru_stats.go
  pkg/domain/ru_stats_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#52388 txn: set session id of committer once txn is activated
  DEPS.bzl
  go.mod
  go.sum
  pkg/kv/option.go
  pkg/sessiontxn/isolation/base.go
  pkg/store/driver/txn/txn_driver.go
Labels: size/M, release-note-none, approved, lgtm

#52200 infoschema_v2: add bench test
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/bench_test.go
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/bench_test.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/internal/testkit.go
  pkg/store/batch_coprocessor_test.go
  pkg/testkit/BUILD.bazel
  pkg/testkit/testkit.go
Labels: size/L, release-note-none, approved, lgtm

#52421 statistics: fix puting wrong stats into cache
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/handletest/statstest/stats_test.go
Labels: size/XS, release-note-none, approved, lgtm

#52320 planner, statistics: use the correct column ID when recording stats loading status (#52208)
  build/nogo_config.json
  planner/core/exhaust_physical_plans.go
  planner/core/find_best_task.go
  planner/core/logical_plans.go
  planner/core/main_test.go
  planner/core/plan_stats_test.go
  planner/core/stats.go
  planner/core/testdata/plan_stats_suite_in.json
  planner/core/testdata/plan_stats_suite_out.json
  statistics/histogram.go
  statistics/index.go
  statistics/selectivity.go
  statistics/selectivity_test.go
  statistics/table.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#52367 expression: add some methods in `BuildContext` to read fields in SessionVars before
  pkg/ddl/ddl_api.go
  pkg/ddl/partition.go
  pkg/executor/aggfuncs/BUILD.bazel
  pkg/executor/aggfuncs/builder.go
  pkg/expression/aggregation/BUILD.bazel
  pkg/expression/aggregation/base_func.go
  pkg/expression/aggregation/descriptor.go
  pkg/expression/bench_test.go
  pkg/expression/builtin_arithmetic.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_compare.go
  pkg/expression/builtin_encryption.go
  pkg/expression/builtin_info.go
  pkg/expression/builtin_json.go
  pkg/expression/builtin_math.go
  pkg/expression/builtin_miscellaneous.go
  pkg/expression/builtin_op.go
  pkg/expression/builtin_other.go
  pkg/expression/builtin_string.go
  pkg/expression/builtin_time.go
  pkg/expression/collation.go
  pkg/expression/constant_fold.go
  pkg/expression/constant_propagation.go
  pkg/expression/context.go
  pkg/expression/context/BUILD.bazel
  pkg/expression/context/context.go
  pkg/expression/contextimpl/BUILD.bazel
  pkg/expression/contextimpl/sessionctx.go
  pkg/expression/contextimpl/sessionctx_test.go
  pkg/expression/distsql_builtin.go
  pkg/expression/evaluator_test.go
  pkg/expression/expression.go
  pkg/expression/extension.go
  pkg/expression/function_traits.go
  pkg/expression/helper.go
  pkg/expression/scalar_function.go
  pkg/expression/simple_rewriter.go
  pkg/expression/util.go
  pkg/lightning/backend/kv/session.go
  pkg/planner/context/context.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/indexmerge_path.go
  pkg/session/session.go
  pkg/sessionctx/context.go
  pkg/table/column.go
  pkg/table/context/table.go
  pkg/table/contextimpl/table.go
  pkg/table/tables/partition.go
  pkg/table/tables/tables.go
  pkg/util/mock/context.go
Labels: size/XL, release-note-none, approved, lgtm

#52399 lightning: move scan-split-scatter regions logic into common package
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/client.go
  br/pkg/restore/split/client_test.go
  br/pkg/restore/split/split.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/localhelper.go
  pkg/lightning/backend/local/localhelper_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#52412 expensive-log: print affected rows
  pkg/util/memoryusagealarm/memoryusagealarm_test.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: size/S, release-note-none, approved, lgtm

#52434 statistics: fix puting wrong stats into cache (#52421) (#52422)
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/handletest/statstest/stats_test.go
Labels: size/XS, release-note-none, approved, lgtm

#52416 p-dml: implement rollback for pipelined dml
  DEPS.bzl
  go.mod
  go.sum
  pkg/metrics/grafana/tidb.json
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#52424 statistics: upgrade stats timeout checkpoint after it timeouts
  pkg/planner/core/rule_collect_plan_stats.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/statistics/handle/syncload/stats_syncload.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#46981 bindinfo,planner,statistics: add `OWNERS` files in top module folders
  OWNERS_ALIASES
  pkg/bindinfo/OWNERS
  pkg/planner/OWNERS
  pkg/statistics/OWNERS
Labels: sig/planner, size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#52378 planner: add newly created col for window projection
  pkg/planner/core/casetest/windows/BUILD.bazel
  pkg/planner/core/casetest/windows/widow_with_exist_subquery_test.go
  pkg/planner/core/logical_plan_builder.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#52283 domain: avoit to print too many log if the ddl job of runaway table is not finished
  pkg/domain/domain.go
  pkg/domain/resourcegroup/runaway.go
  pkg/domain/runaway.go
Labels: size/M, release-note-none, approved, lgtm

#52414 planner: fix missing access conds when a partial path is dual path when query involves mv index
  pkg/planner/core/indexmerge_unfinished_path.go
  tests/integrationtest/r/planner/core/indexmerge_path.result
  tests/integrationtest/t/planner/core/indexmerge_path.test
Labels: size/M, release-note-none, approved, lgtm

#51988 br: add integration test for pitr to test compatibility between pitr and accelerate indexing
  br/tests/br_pitr/check/check_ingest_repair.sh
  br/tests/br_pitr/incremental_data/ingest_repair.sql
  br/tests/br_pitr/prepare_data/ingest_repair.sql
  br/tests/br_pitr/run.sh
  br/tests/run_group_br_tests.sh
Labels: size/L, release-note-none, approved, lgtm

#52410 executor: fix mppIterator memory leak when got error
  pkg/executor/internal/mpp/local_mpp_coordinator.go
Labels: size/XS, release-note-none, approved, lgtm

#52440 expression: Move more methods from `SessionVars` to `BuildContext`
  pkg/expression/builtin_cast.go
  pkg/expression/constant_fold.go
  pkg/expression/constant_test.go
  pkg/expression/context/context.go
  pkg/expression/contextimpl/sessionctx.go
  pkg/expression/contextimpl/sessionctx_test.go
  pkg/expression/expression.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/sessionctx/stmtctx/stmtctx.go
Labels: size/L, release-note-none, approved, lgtm

#52447 ddl: fix reorg info end key after resuming from checkpoint
  pkg/ddl/job_table.go
  pkg/ddl/reorg.go
Labels: size/S, release-note-none, approved, lgtm

#52454 config: set concurrently-init-stats false by default
  pkg/config/config.go
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#52363 executor, planner: minimize the context used by the `ranger` package
  pkg/executor/BUILD.bazel
  pkg/executor/builder.go
  pkg/executor/distsql.go
  pkg/executor/executor_pkg_test.go
  pkg/executor/table_reader.go
  pkg/planner/cardinality/cross_estimation.go
  pkg/planner/cardinality/selectivity.go
  pkg/planner/cascades/transformation_rules.go
  pkg/planner/context/BUILD.bazel
  pkg/planner/context/context.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/rule_max_min_eliminate.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/stats.go
  pkg/session/BUILD.bazel
  pkg/session/session.go
  pkg/sessionctx/BUILD.bazel
  pkg/sessionctx/context.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/util/mock/BUILD.bazel
  pkg/util/mock/context.go
  pkg/util/ranger/BUILD.bazel
  pkg/util/ranger/bench_test.go
  pkg/util/ranger/context/BUILD.bazel
  pkg/util/ranger/context/context.go
  pkg/util/ranger/detacher.go
  pkg/util/ranger/points.go
  pkg/util/ranger/ranger.go
  pkg/util/ranger/ranger_test.go
  pkg/util/ranger/types.go
  pkg/util/ranger/types_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#52456 resource_manager: fix test by checking system table status
  pkg/ddl/tests/resourcegroup/resource_group_test.go
  pkg/domain/resourcegroup/runaway.go
  pkg/executor/internal/querywatch/query_watch_test.go
Labels: size/S, release-note-none, approved, lgtm

#52381 ddl: make sure put key into ETCD monotonously
  pkg/ddl/syncer/BUILD.bazel
  pkg/ddl/syncer/syncer.go
  pkg/ddl/syncer/syncer_test.go
  pkg/ddl/util/util.go
Labels: size/L, release-note-none, approved, lgtm

#52433 br: use common scan-split-scatter logic
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/import_retry_test.go
  br/pkg/restore/split.go
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/client.go
  br/pkg/restore/split/client_test.go
  br/pkg/restore/split/mock_pd_client.go
  br/pkg/restore/split/split.go
  br/pkg/restore/split/split_test.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/restore.go
  br/pkg/task/restore_data.go
  br/pkg/task/restore_raw.go
  br/pkg/task/restore_test.go
  br/pkg/task/restore_txn.go
  br/pkg/task/stream.go
  pkg/lightning/backend/local/local.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#52369 executor, planner: add a smaller context for `ToPB` method
  pkg/executor/distsql.go
  pkg/executor/index_merge_reader.go
  pkg/executor/internal/builder/builder_utils.go
  pkg/executor/table_reader.go
  pkg/planner/context/context.go
  pkg/planner/core/physical_plan_test.go
  pkg/planner/core/plan.go
  pkg/planner/core/plan_to_pb.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/runtime_filter.go
  pkg/planner/core/util.go
  pkg/session/session.go
  pkg/sessionctx/context.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/util/mock/context.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#52400 lightning: update dependency pebbledb to v1.1.0
  DEPS.bzl
  go.mod
  go.sum
  pkg/lightning/backend/external/engine_test.go
  pkg/lightning/backend/local/BUILD.bazel
  pkg/lightning/backend/local/engine.go
  pkg/lightning/backend/local/engine_mgr.go
  pkg/lightning/backend/local/engine_mgr_test.go
  pkg/lightning/backend/local/engine_test.go
  pkg/lightning/backend/local/iterator.go
  pkg/lightning/backend/local/local_test.go
  pkg/util/extsort/BUILD.bazel
  pkg/util/extsort/disk_sorter.go
Labels: size/XXL, release-note-none, approved, lgtm

#52241 test: fix TestGetMergeRegionSizeAndCount test
  br/pkg/conn/BUILD.bazel
  br/pkg/conn/conn.go
  br/pkg/conn/conn_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#52452 linter, *: enable linters appends and unusedwrite
  br/pkg/stream/rewrite_meta_rawkv_test.go
  build/BUILD.bazel
  build/linter/misspell/analyzer.go
  build/nogo_config.json
  pkg/ddl/stat_test.go
  pkg/executor/aggfuncs/func_group_concat.go
  pkg/executor/test/aggregate/aggregate_test.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/core/memtable_predicate_extractor.go
  pkg/planner/funcdep/fd_graph_test.go
  pkg/server/conn_stmt_test.go
  pkg/sessionctx/variable/session.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#52224 planner: move physical opt and cost misc to util and split plan interface
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/common_plans.go
  pkg/planner/core/encode.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/find_best_task_test.go
  pkg/planner/core/hint_utils.go
  pkg/planner/core/optimizer.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan.go
  pkg/planner/core/plan_base.go
  pkg/planner/core/plan_cost_detail.go
  pkg/planner/core/plan_cost_ver1.go
  pkg/planner/core/plan_cost_ver2.go
  pkg/planner/core/plan_cost_ver2_test.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/rule_aggregation_elimination.go
  pkg/planner/core/rule_aggregation_push_down.go
  pkg/planner/core/rule_aggregation_skew_rewrite.go
  pkg/planner/core/rule_build_key_info.go
  pkg/planner/core/rule_collect_plan_stats.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_constant_propagation.go
  pkg/planner/core/rule_decorrelate.go
  pkg/planner/core/rule_derive_topn_from_window.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/rule_generate_column_substitute.go
  pkg/planner/core/rule_join_elimination.go
  pkg/planner/core/rule_join_reorder.go
  pkg/planner/core/rule_max_min_eliminate.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/rule_predicate_simplification.go
  pkg/planner/core/rule_push_down_sequence.go
  pkg/planner/core/rule_resolve_grouping_expand.go
  pkg/planner/core/rule_result_reorder.go
  pkg/planner/core/rule_semi_join_rewrite.go
  pkg/planner/core/rule_topn_push_down.go
  pkg/planner/core/task.go
  pkg/planner/core/task_base.go
  pkg/planner/core/util.go
  pkg/planner/util/BUILD.bazel
  pkg/planner/util/coreusage/BUILD.bazel
  pkg/planner/util/coreusage/cost_misc.go
  pkg/planner/util/coreusage/opt_tracer.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#52461 cop: ignore locks with the same start_ts
  pkg/store/copr/coprocessor.go
  pkg/store/mockstore/unistore/cophandler/closure_exec.go
Labels: size/S, release-note-none, approved, lgtm

#52462 statstics: forcely use index to order when to init stats
  pkg/statistics/handle/bootstrap.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#52491 planner: refine mppTask as capital one for latter pkg move
  pkg/planner/core/find_best_task.go
  pkg/planner/core/plan.go
  pkg/planner/core/task.go
  pkg/planner/core/task_base.go
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm

#52451 expression: `BuildContext` read location from `EvalContext` instead of `SessionVars`
  pkg/ddl/column.go
  pkg/ddl/internal/session/session_pool.go
  pkg/expression/context.go
  pkg/expression/context/context.go
  pkg/expression/contextimpl/sessionctx.go
  pkg/expression/contextimpl/sessionctx_test.go
  pkg/expression/contextopt/optional_test.go
  pkg/expression/contextopt/sessionvars.go
  pkg/expression/helper.go
  pkg/expression/helper_test.go
  pkg/planner/core/memtable_predicate_extractor_test.go
  pkg/session/session.go
  pkg/table/column.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#52468 expression: create a new context in `ColumnInfos2ColumnsAndNames` to ignore truncate error
  pkg/executor/executor.go
  pkg/expression/expression.go
  pkg/expression/expression_test.go
Labels: size/L, release-note-none, approved, lgtm

#52407 domain: do not start Auto Analyze Worker until statistics initialization is complete
  pkg/domain/domain.go
Labels: release-note, size/S, approved, lgtm

#52471 executor: fix goroutine leak when builder panic
  pkg/executor/builder.go
  pkg/executor/executor_failpoint_test.go
Labels: size/M, release-note-none, approved, lgtm

#52506 planner: refine cop task as a capital one for latter pkg move
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/task.go
  pkg/planner/core/task_base.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#52474 infoschema_v2: cache policy ref
  pkg/infoschema/bench_test.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
Labels: size/L, release-note-none, approved, lgtm

#52519 lightning: return 0 early on empty parquet files
  pkg/lightning/mydump/loader.go
  pkg/lightning/mydump/loader_test.go
Labels: release-note, size/S, ok-to-test, approved, lgtm

#52348 ddl: make alter database set tiflash replica skip sequence and view
  pkg/ddl/ddl_api.go
  pkg/ddl/tests/tiflash/ddl_tiflash_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#52401 disttask: enable on default
  pkg/ddl/ingest/integration_test.go
  pkg/ddl/ingest/tests/partition_table_test.go
  pkg/ddl/modify_column_test.go
  pkg/ddl/multi_schema_change_test.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/test/ddl/BUILD.bazel
  pkg/executor/test/ddl/ddl_test.go
  pkg/session/bootstrap.go
  pkg/session/bootstrap_test.go
  pkg/session/bootstraptest/bootstrap_upgrade_test.go
  pkg/session/mock_bootstrap.go
  pkg/sessionctx/variable/BUILD.bazel
  pkg/sessionctx/variable/featuretag/disttask/BUILD.bazel
  pkg/sessionctx/variable/featuretag/disttask/default.go
  pkg/sessionctx/variable/featuretag/disttask/non_default.go
  pkg/sessionctx/variable/tidb_vars.go
  tests/integrationtest/r/executor/infoschema_reader.result
  tests/integrationtest/r/session/bootstrap_upgrade.result
  tests/integrationtest/t/executor/infoschema_reader.test
  tests/integrationtest/t/session/bootstrap_upgrade.test
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.1

#52503 ddl: fix runnable ingest job checking
  pkg/ddl/ddl.go
  pkg/ddl/ddl_running_jobs.go
  pkg/ddl/ddl_worker.go
  pkg/ddl/index.go
  pkg/ddl/ingest/backend_mgr.go
  pkg/ddl/ingest/mock.go
  pkg/ddl/job_table.go
  pkg/lightning/backend/local/BUILD.bazel
  pkg/lightning/backend/local/engine_mgr.go
  pkg/owner/manager.go
  pkg/owner/mock.go
  tests/realtikvtest/addindextest4/ingest_test.go
Labels: size/L, release-note-none, approved, lgtm

#52156 *: let our unit test cover the infoschema v2 code
  pkg/ddl/db_rename_test.go
  pkg/ddl/schema_test.go
  pkg/ddl/tests/fail/fail_db_test.go
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/disttask/framework/integrationtests/framework_role_test.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_state_test.go
  pkg/executor/infoschema_reader.go
  pkg/executor/memtable_reader.go
  pkg/executor/test/ddl/ddl_test.go
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/test/infoschemav2test/v2_test.go
  pkg/planner/core/binary_plan_test.go
  pkg/sessionctx/variable/noop.go
  pkg/sessionctx/variable/sysvar.go
  pkg/testkit/testkit.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#52417 executor: fix data race in the sortexec
  pkg/executor/sortexec/sort.go
Labels: size/S, release-note-none, approved, lgtm

#52527 lightning: return 0 early on empty parquet files (#52519)
  br/pkg/lightning/mydump/loader.go
  br/pkg/lightning/mydump/loader_test.go
Labels: release-note, size/S, approved, lgtm

#52405 executor: make tablesample work under different partition prune modes
  pkg/executor/builder.go
  pkg/executor/sample.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/physical_plans.go
  tests/integrationtest/r/executor/sample.result
  tests/integrationtest/t/executor/sample.test
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.1

#52552 statistics: remove useless GetFullTableName
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/util/util.go
  pkg/statistics/table.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#52331 infoschema: fix TIDB_ROW_ID_SHARDING_INFO for composite primary key
  pkg/infoschema/tables.go
  tests/integrationtest/r/ddl/db_integration.result
  tests/integrationtest/t/ddl/db_integration.test
Labels: size/S, release-note-none, approved, lgtm

#52307 lightning: merge conflict record tables for preprocess duplicate detection and post-import conflict detection
  br/OWNERS
  lightning/tests/lightning_config_max_error/run.sh
  lightning/tests/lightning_duplicate_detection_new/local-limit-error-records.toml
  lightning/tests/lightning_duplicate_detection_new/run.sh
  lightning/tests/lightning_duplicate_resolution_merge/run.sh
  lightning/tidb-lightning.toml
  pkg/ddl/ingest/config.go
  pkg/lightning/config/config.go
  pkg/lightning/config/config_test.go
  pkg/lightning/errormanager/errormanager.go
  pkg/lightning/errormanager/errormanager_test.go
Labels: size/L, release-note-none, approved, lgtm

#52329 ddl: set writer memory size and merge part size by resource
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/backfilling_merge_sort.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_read_index.go
Labels: size/M, release-note-none, approved, lgtm

#52494 *: improve log about stale-read query
  pkg/executor/adapter.go
  pkg/executor/slow_query_sql_test.go
  pkg/planner/core/preprocess.go
  pkg/server/conn.go
  pkg/session/txnmanager.go
  pkg/sessionctx/variable/session.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#52427 planner, statistics: fix the inconsistent est when table has no stats
  pkg/planner/cardinality/BUILD.bazel
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/core/collect_column_stats_usage.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/table.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.1

#52496 distsql, executor: remove pctx from trectx
  pkg/distsql/BUILD.bazel
  pkg/distsql/request_builder.go
  pkg/executor/BUILD.bazel
  pkg/executor/table_reader.go
  pkg/infoschema/context/BUILD.bazel
  pkg/infoschema/context/infoschema.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/interface.go
Labels: size/M, release-note-none, approved, lgtm

#52602 autoid_service: fix potential autoid decrease when leader change or close for AUTO_ID_CACHE=1
  pkg/autoid_service/autoid.go
Labels: size/M, release-note-none, approved, lgtm

#52611 cgroup: remove redundant log
  pkg/util/cgroup/cgroup_cpu_linux.go
Labels: size/XS, release-note-none, approved, lgtm

#52613 planner: fix missing array clone when building table filter for mv index access path
  pkg/planner/core/indexmerge_unfinished_path.go
  tests/integrationtest/r/planner/core/indexmerge_path.result
  tests/integrationtest/t/planner/core/indexmerge_path.test
Labels: sig/planner, size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.1

#52632 server: Fix mppcoordinatorMananger server addr empty issue
  cmd/tidb-server/main.go
  pkg/server/handler/tests/BUILD.bazel
  pkg/server/handler/tests/http_handler_test.go
  pkg/server/server.go
Labels: size/S, release-note-none, approved, lgtm

#52606 server: fix the missing type of query total counter for resource groups above 2
  pkg/server/BUILD.bazel
  pkg/server/conn.go
  pkg/server/conn_test.go
  pkg/server/metrics/metrics.go
Labels: size/M, release-note-none, approved, lgtm

#52641 ddl: flush index records for local distributed sort
  pkg/ddl/backfilling_operators.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/checkpoint.go
  pkg/ddl/ingest/flush.go
  tests/realtikvtest/addindextest3/operator_test.go
Labels: size/L, release-note-none, approved, lgtm

#52634 executor: remove the retry for analyze
  pkg/executor/analyze_col.go
  pkg/executor/analyze_col_v2.go
Labels: size/M, release-note-none, approved, lgtm

#52620 planner: remove internal pkg and move base code to certain place
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/casetest/enforcempp/BUILD.bazel
  pkg/planner/core/casetest/enforcempp/enforce_mpp_test.go
  pkg/planner/core/casetest/hint/BUILD.bazel
  pkg/planner/core/casetest/hint/hint_test.go
  pkg/planner/core/casetest/partition/BUILD.bazel
  pkg/planner/core/casetest/partition/partition_pruner_test.go
  pkg/planner/core/casetest/physicalplantest/BUILD.bazel
  pkg/planner/core/casetest/physicalplantest/physical_plan_test.go
  pkg/planner/core/casetest/rule/BUILD.bazel
  pkg/planner/core/casetest/rule/rule_derive_topn_from_window_test.go
  pkg/planner/core/casetest/rule/rule_inject_extra_projection_test.go
  pkg/planner/core/casetest/windows/BUILD.bazel
  pkg/planner/core/casetest/windows/window_push_down_test.go
  pkg/planner/core/initialize.go
  pkg/planner/core/operator/base/BUILD.bazel
  pkg/planner/core/operator/base/plan.go
  pkg/planner/core/physical_plan_test.go
  pkg/planner/core/plan.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/rule_inject_extra_projection.go
  pkg/planner/core/scalar_subq_expression.go
  pkg/planner/core/task.go
  pkg/planner/core/util.go
  pkg/planner/util/coretestsdk/BUILD.bazel
  pkg/planner/util/coretestsdk/testkit.go
  pkg/planner/util/coreusage/BUILD.bazel
  pkg/planner/util/coreusage/cast_misc.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#52623 statistics: reduce small obj alloc for PreCalculateScalar
  pkg/statistics/scalar.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#52504 ddl: fix unexpected delete ETCD value
  pkg/ddl/ddl_worker.go
  pkg/ddl/job_table.go
Labels: size/XS, release-note-none, approved, lgtm

#52647 execdetails: Fix max_remote_stream shown in `execution info.tiflash_task`
  pkg/util/execdetails/execdetails.go
Labels: release-note, size/XS, approved, lgtm

#52594 br: make sure connection is closed
  br/pkg/conn/conn.go
Labels: size/XS, release-note-none, approved, lgtm

#52629 *: tools in scripts use fixed version to avoid incompatible updates
  dumpling/install.sh
  dumpling/tests/run.sh
Labels: size/XS, release-note-none, component/dumpling, approved, lgtm

#52659 planner: rename base plan implemention's pkg from base to baseImpl
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/initialize.go
  pkg/planner/core/operator/baseimpl/BUILD.bazel
  pkg/planner/core/operator/baseimpl/plan.go
  pkg/planner/core/plan.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/scalar_subq_expression.go
  pkg/planner/core/task.go
  pkg/planner/core/util.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#52573 br: fix flaky test
  br/pkg/restore/client_test.go
  br/pkg/utils/backoff.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#52528 expression: Add `InInsertOrUpdate` in `BuildContext` and remove `GetSessionVars`
  pkg/expression/context/context.go
  pkg/expression/contextimpl/sessionctx.go
  pkg/expression/contextimpl/sessionctx_test.go
  pkg/expression/util.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/logical_plan_builder.go
  pkg/table/column.go
  pkg/table/tables/tables.go
Labels: sig/planner, sig/execution, size/L, release-note-none, approved, lgtm

#52591 ddl: fix incorrect `truncate table`'s scheme_ids
  pkg/ddl/db_test.go
  pkg/ddl/job_table.go
Labels: size/M, release-note-none, approved, lgtm

#52685 statistics: fix small typo
  pkg/statistics/handle/storage/read.go
Labels: sig/planner, size/XS, release-note-none, skip-issue-check, approved, lgtm

#52686 *: update client-go to fix #46602
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, ok-to-test, approved, lgtm

#52689 br: update manual of integration tests
  br/tests/README.md
  br/tests/download_integration_test_binaries.sh
  br/tests/run.sh
Labels: size/M, release-note-none, approved, lgtm

#52479 infoschema: optimize performance of FindTableByPartitionID for infoschema v2
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/test/infoschemav2test/BUILD.bazel
  pkg/infoschema/test/infoschemav2test/v2_test.go
Labels: size/L, release-note-none, approved, lgtm

#52671 log_backup: fix panic during advancer owner transfer
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/flush_subscriber.go
Labels: release-note, size/L, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#52712 lightning/importinto: fix insert err after import for AUTO_ID_CACHE=1 and SHARD_ROW_ID_BITS
  lightning/pkg/importer/get_pre_info.go
  lightning/pkg/importer/meta_manager.go
  lightning/pkg/importer/table_import.go
  lightning/pkg/importer/table_import_test.go
  lightning/tests/lightning_csv/data/auto_incr_id.nonclustered_cache1_shard_autorowid-schema.sql
  lightning/tests/lightning_csv/data/auto_incr_id.nonclustered_cache1_shard_autorowid.0.csv
  lightning/tests/lightning_csv/run.sh
  lightning/tests/lightning_tidb_rowid/data/rowid.specific_auto_inc-schema.sql
  lightning/tests/lightning_tool_1472/run.sh
  pkg/disttask/importinto/planner.go
  pkg/disttask/importinto/task_executor.go
  pkg/executor/importer/table_import.go
  pkg/lightning/backend/kv/BUILD.bazel
  pkg/lightning/backend/kv/allocator.go
  pkg/lightning/backend/kv/allocator_test.go
  pkg/lightning/backend/kv/base_test.go
  pkg/lightning/backend/kv/kv2sql_test.go
  pkg/lightning/backend/kv/sql2kv_test.go
  pkg/lightning/backend/local/duplicate_test.go
  pkg/lightning/backend/tidb/tidb_test.go
  pkg/lightning/errormanager/errormanager_test.go
  pkg/lightning/errormanager/resolveconflict_test.go
  pkg/table/tables/index_test.go
  tests/realtikvtest/importintotest2/write_after_import_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#52423 infoschema: support evict by lru cache size
  DEPS.bzl
  go.mod
  go.sum
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/internal/BUILD.bazel
  pkg/infoschema/internal/sizer.go
  pkg/infoschema/internal/sizer_test.go
  pkg/infoschema/sieve.go
  pkg/infoschema/sieve_test.go
  pkg/infoschema/test/infoschemav2test/v2_test.go
Labels: size/XXL, release-note-none, approved, lgtm, needs-cherry-pick-release-8.1

#52729 store: refine coprocessor error log
  pkg/store/copr/coprocessor.go
Labels: size/XS, release-note-none, approved, lgtm

#50602 expression/infer_pushdown: enable json_replace/json_array_append/json_merge_patch pushdown
  pkg/expression/distsql_builtin.go
  pkg/expression/expr_to_pb_test.go
  pkg/expression/infer_pushdown.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#52745 lightning: update lightning/OWNERS for moving lightning directory out of br
  lightning/OWNERS
Labels: size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-8.1

#52734 br: add integration test for ingest corner case test
  br/pkg/task/BUILD.bazel
  br/pkg/task/stream.go
  br/tests/README.md
  br/tests/br_pitr_failpoint/check/check_ingest_repair.sh
  br/tests/br_pitr_failpoint/intersect_data/ingest_repair1.sql
  br/tests/br_pitr_failpoint/prepare_data/ingest_repair.sql
  br/tests/br_pitr_failpoint/run.sh
  br/tests/config/tikv.toml
  br/tests/run_group_br_tests.sh
  pkg/ddl/ddl_worker.go
  pkg/ddl/index.go
Labels: size/XL, release-note-none, type/cherry-pick-for-release-7.1, approved, lgtm, type/cherry-pick-for-release-7.5, type/cherry-pick-for-release-8.1

#52763 executor: fix the issue that tiflash cop throw exception `Income key ranges is empty for region: 211`
  pkg/store/copr/coprocessor_test.go
  pkg/store/copr/region_cache.go
Labels: size/S, release-note-none, approved, lgtm

#52757 docs: update smooth upgrade mode in tidb_http_api.md
  docs/tidb_http_api.md
Labels: size/XS, release-note-none, approved, lgtm

#52645 ddl: move file management into litBackendCtxMgr
  pkg/ddl/ddl.go
  pkg/ddl/index.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/backend_mgr.go
  pkg/ddl/ingest/checkpoint.go
  pkg/ddl/ingest/config.go
  pkg/ddl/ingest/disk_root.go
  pkg/ddl/ingest/env.go
  pkg/ddl/ingest/integration_test.go
  pkg/ddl/ingest/mock.go
  pkg/ddl/job_table.go
  tests/realtikvtest/addindextest/BUILD.bazel
  tests/realtikvtest/addindextest/add_index_test.go
Labels: size/XL, release-note-none, approved, lgtm, needs-cherry-pick-release-8.1

#52725 stmtsummary: add new columns `plan_cache_unqualifed` into `statement_summary`
  pkg/executor/adapter.go
  pkg/executor/executor.go
  pkg/infoschema/tables.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/util/stmtsummary/reader.go
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/stmtsummary/v2/column.go
  pkg/util/stmtsummary/v2/record.go
  pkg/util/stmtsummary/v2/tests/BUILD.bazel
  pkg/util/stmtsummary/v2/tests/table_test.go
  tests/integrationtest/r/index_merge.result
Labels: size/L, release-note-none, approved, lgtm

#52788 br: Fix br integration test for 7.1.5
  br/tests/br_pitr_failpoint/run.sh
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#52740 expression: fix typo in column.go
  pkg/expression/column.go
Labels: size/XS, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#52802 planner: add more test cases for unqualified plan cache cases in statement_summary
  pkg/util/stmtsummary/v2/tests/BUILD.bazel
  pkg/util/stmtsummary/v2/tests/table_test.go
Labels: size/L, release-note-none, approved, lgtm

#52761 meta,ddl: fix duplicate entry error when insert after drop and recover table
  pkg/ddl/db_integration_test.go
  pkg/ddl/table.go
  pkg/meta/meta.go
  pkg/meta/meta_test.go
Labels: size/M, release-note-none, approved, lgtm

#52738 stmtctx: use a standalone `RangeFallbackHandler`
  pkg/executor/adapter.go
  pkg/executor/executor.go
  pkg/expression/contextimpl/sessionctx.go
  pkg/expression/contextimpl/sessionctx_test.go
  pkg/expression/expression_test.go
  pkg/expression/util.go
  pkg/extension/function_test.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/exhaust_physical_plans_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/rule_partition_processor.go
  pkg/session/session.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/util/context/BUILD.bazel
  pkg/util/context/plancache.go
  pkg/util/mock/context.go
  pkg/util/ranger/BUILD.bazel
  pkg/util/ranger/context/context.go
  pkg/util/ranger/ranger_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#52631 expression: introduce `StaticEvalContext` to provide context when evaluating expressions
  pkg/ddl/BUILD.bazel
  pkg/ddl/column.go
  pkg/ddl/db_integration_test.go
  pkg/errctx/context.go
  pkg/errctx/context_test.go
  pkg/executor/BUILD.bazel
  pkg/executor/adapter.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/import.go
  pkg/executor/load_data.go
  pkg/executor/show.go
  pkg/expression/BUILD.bazel
  pkg/expression/builtin_string_test.go
  pkg/expression/context.go
  pkg/expression/context/BUILD.bazel
  pkg/expression/context/context.go
  pkg/expression/contextsession/BUILD.bazel
  pkg/expression/contextsession/sessionctx.go
  pkg/expression/contextsession/sessionctx_test.go
  pkg/expression/contextstatic/BUILD.bazel
  pkg/expression/contextstatic/evalctx.go
  pkg/expression/contextstatic/evalctx_test.go
  pkg/expression/infer_pushdown.go
  pkg/lightning/backend/kv/BUILD.bazel
  pkg/lightning/backend/kv/session.go
  pkg/planner/core/casetest/enforcempp/BUILD.bazel
  pkg/planner/core/casetest/enforcempp/enforce_mpp_test.go
  pkg/planner/core/casetest/physicalplantest/BUILD.bazel
  pkg/planner/core/casetest/physicalplantest/physical_plan_test.go
  pkg/server/conn.go
  pkg/server/conn_stmt_params_test.go
  pkg/server/driver_tidb.go
  pkg/session/BUILD.bazel
  pkg/session/contextimpl.go
  pkg/sessionctx/sessionstates/BUILD.bazel
  pkg/sessionctx/sessionstates/session_states.go
  pkg/sessionctx/stmtctx/BUILD.bazel
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/stmtctx/stmtctx_test.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
  pkg/store/mockstore/mockcopr/BUILD.bazel
  pkg/store/mockstore/mockcopr/cop_handler_dag.go
  pkg/store/mockstore/unistore/cophandler/BUILD.bazel
  pkg/store/mockstore/unistore/cophandler/cop_handler.go
  pkg/testkit/testdata/BUILD.bazel
  pkg/testkit/testdata/testdata.go
  pkg/types/context.go
  pkg/types/time_test.go
  pkg/util/context/BUILD.bazel
  pkg/util/context/context.go
  pkg/util/context/plancache.go
  pkg/util/context/warn.go
  pkg/util/context/warn_test.go
  pkg/util/mock/BUILD.bazel
  pkg/util/mock/context.go
Labels: sig/planner, sig/execution, size/XXL, release-note-none, approved, lgtm

#52834 br: fix flaky test `TestStoreRemoved`
  br/pkg/streamhelper/subscription_test.go
Labels: size/S, release-note-none, approved, lgtm

#51354 planner, executor: support aggregation as inner side of index join
  pkg/executor/aggregate/agg_hash_executor.go
  pkg/executor/aggregate/agg_stream_executor.go
  pkg/executor/builder.go
  pkg/planner/core/exhaust_physical_plans.go
  tests/integrationtest/r/planner/core/indexjoin.result
  tests/integrationtest/t/planner/core/indexjoin.test
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#52837 planner: small refactor for plan cache
  pkg/executor/executor.go
  pkg/expression/builtin_compare.go
  pkg/expression/builtin_other.go
  pkg/expression/constant_propagation.go
  pkg/expression/context/context.go
  pkg/expression/contextsession/sessionctx.go
  pkg/expression/contextsession/sessionctx_test.go
  pkg/expression/expression.go
  pkg/expression/extension.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/indexmerge_path.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/core/rule_predicate_simplification.go
  pkg/planner/optimize.go
  pkg/util/context/plancache.go
  pkg/util/ranger/detacher.go
  pkg/util/ranger/ranger.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#52799 ddl: allow multiple fast reorg running at the same time
  pkg/ddl/ddl_running_jobs.go
  pkg/ddl/ingest/backend_mgr.go
  tests/realtikvtest/addindextest4/ingest_test.go
Labels: size/M, release-note-none, approved, lgtm

#52811 expression: fix the issue of incorrect result when handling unary minus for time
  pkg/expression/builtin_op.go
  pkg/expression/integration_test/integration_test.go
Labels: release-note, size/M, approved, lgtm

#52830 *: avoid concurrently using the session in the syncload
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/handle/syncload/stats_syncload_test.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#52716 expression: remove `InInsertOrUpdate` in `BuildExpression`
  pkg/expression/context/context.go
  pkg/expression/contextsession/sessionctx.go
  pkg/expression/contextsession/sessionctx_test.go
  pkg/table/column.go
  tests/integrationtest/r/ddl/column_type_change.result
  tests/integrationtest/r/ddl/db_integration.result
  tests/integrationtest/r/ddl/default_as_expression.result
  tests/integrationtest/r/ddl/modify_column.result
  tests/integrationtest/r/ddl/multi_schema_change.result
  tests/integrationtest/t/ddl/column_type_change.test
Labels: compatibility-breaker, size/L, release-note-none, approved, lgtm

#52812 expression: don't cast collation for in expression is the new collation is disabled
  pkg/planner/core/expression_rewriter.go
  tests/integrationtest/r/collation_misc_disabled.result
  tests/integrationtest/r/collation_misc_enabled.result
  tests/integrationtest/t/collation_misc.test
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#52721 expression: remove `SetInNullRejectCheck` in `BuildContext`
  pkg/expression/BUILD.bazel
  pkg/expression/constant_test.go
  pkg/expression/context/context.go
  pkg/expression/contextsession/sessionctx.go
  pkg/expression/contextsession/sessionctx_test.go
  pkg/planner/context/context.go
  pkg/planner/contextimpl/BUILD.bazel
  pkg/planner/contextimpl/impl.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/util/mock/context.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#52706 expression: remove `InUnion/SetInUnion` in `BuildContext`
  pkg/expression/bench_test.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_cast_test.go
  pkg/expression/context/context.go
  pkg/expression/contextsession/sessionctx.go
  pkg/expression/contextsession/sessionctx_test.go
  pkg/planner/core/expression_rewriter.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#52822 br: handle region leader miss
  br/pkg/restore/import.go
  br/pkg/restore/import_retry_test.go
  br/pkg/restore/split/mock_pd_client.go
  br/pkg/restore/split/split.go
  br/pkg/restore/split/split_test.go
  pkg/lightning/backend/local/BUILD.bazel
  pkg/lightning/backend/local/duplicate.go
  pkg/lightning/backend/local/region_job.go
Labels: size/L, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#52334 lightning: refactor schema importer
  lightning/pkg/importer/BUILD.bazel
  lightning/pkg/importer/import.go
  lightning/pkg/importer/restore_schema_test.go
  lightning/pkg/importer/tidb.go
  lightning/pkg/importer/tidb_test.go
  pkg/lightning/mydump/BUILD.bazel
  pkg/lightning/mydump/loader.go
  pkg/lightning/mydump/schema_import.go
  pkg/lightning/mydump/schema_import_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#52840 planner: extract null check related code to util null_misc
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/util/BUILD.bazel
  pkg/planner/util/null_misc.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm
