Repository pingcap/tidb, pull requests merged in 2024-11, with the labels that each got.

#56982 GC : fix issue of delete range could not be executed again if the cleaning rules failed (#53368)
  store/gcworker/gc_worker.go
  store/gcworker/gc_worker_test.go
  tests/graceshutdown/go.mod
  tests/graceshutdown/go.sum
  tests/readonlytest/go.sum
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#56983 GC : fix issue of delete range could not be executed again if the cleaning rules failed (#53368)
  store/gcworker/gc_worker.go
  store/gcworker/gc_worker_test.go
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#56964 ddl: check index key length when convert charset
  pkg/ddl/executor.go
  tests/integrationtest/r/session/common.result
  tests/integrationtest/t/session/common.test
Labels: size/M, release-note-none, approved, lgtm

#57057 planner: add equals function generation logic for logical operator.
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logical_join.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#57064 planner: skip fast-point-get for select-into-outfile statements (#53364)
  executor/select_into_test.go
  planner/core/point_get_plan.go
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#57017 *: let TempIndex support encode/decode partitionID flag
  pkg/ddl/index_merge_tmp.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/integration_test.go
  pkg/kv/key.go
  pkg/table/tables/index.go
  pkg/tablecodec/tablecodec.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57074 planner: generate the hash64 and equals for logical aggregation.
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logical_aggregation.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57080 planner: add more test cases for Instance Plan Cache
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/concurrency_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57089 tests: fix integration test create empty "-m"/"700" dir on mac
  tests/_utils/run_services
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#57070 planner: add a panel to display the fine-grained operation duration of the Plan Cache
  pkg/metrics/grafana/tidb.json
  pkg/metrics/metrics.go
  pkg/metrics/server.go
  pkg/planner/core/metrics/metrics.go
  pkg/planner/core/plan_cache.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57095 test: fix the flaky test `TestDeleteIgnoreWithFK`
  pkg/executor/delete_test.go
Labels: release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57093 planner: add generated hash64 and equals implementing for logical apply.
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logical_apply.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#56857 br/operator: added some commands for managing migrations
  br/cmd/br/operator.go
  br/pkg/task/operator/BUILD.bazel
  br/pkg/task/operator/base64ify.go
  br/pkg/task/operator/config.go
  br/pkg/task/operator/list_migration.go
  br/pkg/task/operator/migrate_to.go
  br/pkg/task/operator/prepare_snap.go
Labels: release-note, size/XL, approved, lgtm

#56689 ddl: remove useless code related to legacy job queue
  pkg/ddl/ddl_test.go
  pkg/ddl/job_submitter.go
  pkg/meta/meta.go
  pkg/meta/model/job.go
  pkg/meta/model/job_test.go
  pkg/meta/reader.go
  pkg/session/bootstrap.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/XXL, release-note-none, approved, lgtm

#57104 tablecodec: fix global index + commonHandle + restoredValues panic
  pkg/tablecodec/tablecodec.go
  tests/integrationtest/r/globalindex/misc.result
  tests/integrationtest/t/globalindex/misc.test
Labels: size/S, release-note-none, approved, lgtm

#57063 dxf: get task from both `mysql.tidb_global_task` and `mysql.tidb_global_task_history`
  pkg/ddl/index.go
  pkg/disttask/framework/storage/task_table.go
Labels: size/S, release-note-none, approved, lgtm

#57118 ttl: fix some panic when delete a ttl timer manually
  pkg/ttl/ttlworker/timer_sync.go
  pkg/ttl/ttlworker/timer_sync_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#57116 exeuctor: add a helper variable to help ga hash join v2 step by step for all kinds of join types
  pkg/executor/join/joinversion/join_version.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/physical_plans.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57101 executor,planner: Fix tiflash plan with limit operator may lose execution summary problem
  pkg/executor/internal/mpp/local_mpp_coordinator.go
  pkg/executor/internal/mpp/local_mpp_coordinator_test.go
  pkg/planner/core/physical_plans.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57110 expression: introduce `SafeToShareAcrossSession` to `Expression` for Instance Plan Cache
  pkg/expression/BUILD.bazel
  pkg/expression/builtin.go
  pkg/expression/builtin_arithmetic.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_compare.go
  pkg/expression/builtin_control.go
  pkg/expression/builtin_convert_charset.go
  pkg/expression/builtin_encryption.go
  pkg/expression/builtin_info.go
  pkg/expression/builtin_json.go
  pkg/expression/builtin_math.go
  pkg/expression/builtin_miscellaneous.go
  pkg/expression/builtin_op.go
  pkg/expression/builtin_other.go
  pkg/expression/builtin_string.go
  pkg/expression/builtin_threadsafe_generated.go
  pkg/expression/builtin_threadunsafe_generated.go
  pkg/expression/builtin_time.go
  pkg/expression/column.go
  pkg/expression/constant.go
  pkg/expression/distsql_builtin.go
  pkg/expression/expression.go
  pkg/expression/generator/BUILD.bazel
  pkg/expression/generator/builtin_threadsafe.go
  pkg/expression/scalar_function.go
  pkg/expression/util_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#57096 statistics: handle the prune mode correctly in the refresher
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
  pkg/statistics/handle/updatetest/update_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57142 planner: add protection to avoid setting tot_col_size to negative numbers (#55327)
  statistics/handle/ddl.go
  statistics/handle/handle.go
  statistics/handle/update.go
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#57136 *: upgrade golang-jwt/jwt to fix secruity alerms
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#57044 session: make `TxnInfo()` return even if process info is empty
  pkg/ddl/index_cop.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/integration_test.go
  pkg/ddl/session/session_pool.go
  pkg/domain/domain.go
  pkg/executor/infoschema_reader.go
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/server/server.go
  pkg/session/session.go
  pkg/session/txninfo/txn_info.go
  pkg/testkit/BUILD.bazel
  pkg/testkit/mocksessionmanager.go
  tests/realtikvtest/txntest/txn_state_test.go
Labels: size/L, release-note-none, approved, lgtm

#57141 planner: update the plan_clone_gen file
  pkg/planner/core/generator/plan_cache/plan_clone_generator.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/util/misc.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#56858 coprocessor: skip empty tidb nodes
  br/cmd/br/backup.go
  br/cmd/br/restore.go
  pkg/config/config.go
  pkg/executor/infoschema_cluster_table_test.go
  pkg/store/copr/coprocessor.go
Labels: size/M, release-note-none, approved, lgtm

#57117 lightning: optimize a query to I_S.columns
  lightning/pkg/importer/get_pre_info.go
  lightning/pkg/importer/mock/mock.go
  lightning/pkg/importer/mock/mock_test.go
  pkg/lightning/backend/backend.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/tidb/BUILD.bazel
  pkg/lightning/backend/tidb/tidb.go
  pkg/lightning/backend/tidb/tidb_test.go
Labels: size/XL, release-note-none, approved, lgtm

#57086 planner: fix cost adjustment for high risk tablescan
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/core/casetest/binaryplan/testdata/binary_plan_suite_out.json
  pkg/planner/core/casetest/dag/testdata/plan_suite_out.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/plan_cost_ver2.go
  pkg/planner/core/plan_cost_ver2_test.go
  tests/integrationtest/r/executor/chunk_reuse.result
  tests/integrationtest/r/executor/explain.result
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/r/planner/core/cbo.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/r/planner/core/plan_cache.result
  tests/integrationtest/r/planner/core/plan_cost_ver2.result
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#57067 timer: make sure timer which has a max delay will be scheduled first
  pkg/timer/runtime/BUILD.bazel
  pkg/timer/runtime/runtime.go
  pkg/timer/runtime/runtime_test.go
Labels: release-note, size/L, approved, lgtm

#57150 executor: add nil check protection for non-related subquery which base plan will be nil
  pkg/executor/internal/mpp/local_mpp_coordinator.go
  pkg/executor/test/tiflashtest/BUILD.bazel
  pkg/executor/test/tiflashtest/tiflash_test.go
Labels: size/M, release-note-none, approved, lgtm

#57113 statistics: Handle the adding index event properly while the job is running
  pkg/executor/analyze.go
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
Labels: sig/planner, component/statistics, size/L, release-note-none, approved, lgtm

#57061 lightning: test a simple case that golang outputs same SST
  DEPS.bzl
  go.mod
  go.sum
  pkg/lightning/backend/local/duplicate.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/local/region_job.go
  pkg/lightning/tikv/BUILD.bazel
  pkg/lightning/tikv/local_sst_writer.go
  pkg/lightning/tikv/local_sst_writer_test.go
  pkg/lightning/tikv/prop_collector.go
Labels: size/XXL, release-note-none, approved, lgtm

#57171 expression: label more expressions as thread-safe and add more test cases
  pkg/expression/builtin_op.go
  pkg/expression/builtin_other.go
  pkg/expression/builtin_threadsafe_generated.go
  pkg/expression/builtin_threadunsafe_generated.go
  pkg/expression/generator/builtin_threadsafe.go
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/builtin_func_test.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#57177 planner: generate hash64 and equals for logical expand
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logical_expand.go
  pkg/planner/core/operator/logicalop/logicalop_test/BUILD.bazel
  pkg/planner/core/operator/logicalop/logicalop_test/hash64_equals_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57012 *: fix resource leak in select for update when 'tidb_low_resolution_tso' is set
  pkg/executor/adapter.go
Labels: size/XS, release-note-none, approved, lgtm

#57139 txn: use handle to encode checksum instead of the key
  pkg/ddl/column.go
  pkg/ddl/column_type_change_test.go
  pkg/table/tables/tables.go
  pkg/table/tblctx/buffers.go
  pkg/table/tblctx/buffers_test.go
  pkg/util/rowcodec/encoder.go
  pkg/util/rowcodec/row.go
  pkg/util/rowcodec/rowcodec_test.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#56771 lightning: unlimited grpc MaxCallRecvMsgSize for TikvImporter
  pkg/lightning/backend/local/local.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#57184 statistics: reduce the log output
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57195 *: upgrade go1.23.3
  WORKSPACE
  build/image/base
  build/image/parser_test
Labels: size/XS, release-note-none, approved, lgtm

#56917 Restore: refine split code for both compacted sst files and logs
  br/pkg/conn/BUILD.bazel
  br/pkg/conn/conn_test.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/import_mode_switcher_test.go
  br/pkg/restore/internal/log_split/BUILD.bazel
  br/pkg/restore/internal/log_split/export_test.go
  br/pkg/restore/internal/log_split/split.go
  br/pkg/restore/internal/log_split/split_test.go
  br/pkg/restore/internal/snap_split/BUILD.bazel
  br/pkg/restore/internal/snap_split/split.go
  br/pkg/restore/internal/snap_split/split_test.go
  br/pkg/restore/log_client/BUILD.bazel
  br/pkg/restore/log_client/client.go
  br/pkg/restore/log_client/client_test.go
  br/pkg/restore/log_client/import_retry_test.go
  br/pkg/restore/misc_test.go
  br/pkg/restore/snap_client/BUILD.bazel
  br/pkg/restore/snap_client/client.go
  br/pkg/restore/snap_client/client_test.go
  br/pkg/restore/snap_client/import_test.go
  br/pkg/restore/snap_client/placement_rule_manager_test.go
  br/pkg/restore/snap_client/systable_restore_test.go
  br/pkg/restore/snap_client/tikv_sender.go
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/mock_pd_client.go
  br/pkg/restore/split/split.go
  br/pkg/restore/split/split_test.go
  br/pkg/restore/split/sum_sorted.go
  br/pkg/restore/split/sum_sorted_test.go
  br/pkg/task/BUILD.bazel
  br/pkg/task/restore_test.go
  br/pkg/utiltest/BUILD.bazel
  br/pkg/utiltest/fake.go
  pkg/lightning/backend/local/BUILD.bazel
  pkg/lightning/backend/local/local_check_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#57198 tests: ignore goroutines created by resolveFlushedLocks
  tests/realtikvtest/testkit.go
Labels: size/XS, release-note-none, approved, lgtm

#57201 planner: shallow copy more field for Instance Plan Cache to improve performance
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/concurrency_test.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/generator/plan_cache/plan_clone_generator.go
  pkg/planner/core/index_join_path.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/util.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#57194 statistics: make sure the PQ can be re-initialized
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57200 domain: set right order to compaign stats owner
  pkg/domain/domain.go
Labels: size/S, release-note-none, approved, lgtm

#57202 dumpling: make metadata collection failure a warning
  dumpling/export/dump.go
Labels: size/XS, release-note-none, component/dumpling, ok-to-test, approved, lgtm

#57188 dumpling: New terminology for MySQL
  .github/workflows/integration-test-dumpling.yml
  dumpling/export/config.go
  dumpling/export/dump.go
  dumpling/export/metadata.go
  dumpling/export/metadata_test.go
  dumpling/export/sql.go
  dumpling/tests/consistency/run.sh
Labels: release-note, size/L, component/dumpling, ok-to-test, approved, lgtm

#57211 makefile: replace `bazel coverage` with `bazel test`
  Makefile
Labels: size/M, release-note-none, approved, lgtm

#57205 txn: bump checksum version
  pkg/ddl/column_type_change_test.go
  pkg/util/rowcodec/encoder.go
  pkg/util/rowcodec/row.go
  pkg/util/rowcodec/rowcodec_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.4

#56848 planner: Use realtimeRowCount when all topN collected
  pkg/planner/cardinality/BUILD.bazel
  pkg/planner/cardinality/row_count_column.go
  pkg/planner/cardinality/row_count_index.go
  pkg/planner/cardinality/selectivity_test.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#57234 planner: refactor some code of Plan Cache
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/common_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/generator/plan_cache/plan_clone_generator.go
  pkg/planner/core/index_join_path.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_rebuild.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/plan_clone_utils.go
  pkg/planner/core/point_get_plan.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#57239 planner: fix the issue of reusing wrong point-plan for "select ... for update" (#54661)
  planner/core/plan_cache.go
  planner/core/plan_cache_test.go
  planner/core/plan_cache_utils.go
  planner/core/plan_cache_utils_test.go
  planner/core/prepare_test.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#57222 ddl,statistics: handle the drop database event in the PQ
  pkg/ddl/job_worker.go
  pkg/ddl/notifier/BUILD.bazel
  pkg/ddl/notifier/events.go
  pkg/ddl/notifier/testkit_test.go
  pkg/ddl/schema.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler_test.go
  pkg/statistics/handle/ddl/ddl.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm, component/ddl, needs-cherry-pick-release-8.5

#57249 realtikvtest/sessiontest: fix data race for test TestGetTSFailDirtyState
  tests/realtikvtest/sessiontest/session_fail_test.go
Labels: size/XS, release-note-none, approved, lgtm

#57241 planner: prevent pushing Projection with virtual columns down to UnionScan (#53981)
  cmd/explaintest/r/explain_generate_column_substitute.result
  executor/union_scan_test.go
  planner/core/rule_predicate_push_down.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#57215 ddl: enable fast create table on default
  br/pkg/restore/snap_client/systable_restore_test.go
  pkg/ddl/tests/fastcreatetable/fastcreatetable_test.go
  pkg/session/bootstrap.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57238 planner: add generation of hash64 and equals for logical limit
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logical_limit.go
  pkg/planner/core/operator/logicalop/logicalop_test/BUILD.bazel
  pkg/planner/core/operator/logicalop/logicalop_test/hash64_equals_test.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#57251 executor: fix goleak client-go/v2/config/retry.(*Config).createBackoffFn.newBackoffFn
  pkg/executor/main_test.go
Labels: size/XS, release-note-none, approved, lgtm

#57266 planner: stop pushing TopN down through Projection if it has undeterministic functions (#53362)
  planner/core/integration_test.go
  planner/core/rule_topn_push_down.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#57203 local-sst-writer: test only logical content and test many keys
  DEPS.bzl
  go.mod
  go.sum
  lightning/tests/config/pd-no-tls.toml
  lightning/tests/config/tikv-no-tls.toml
  lightning/tests/run_local_sst_test.sh
  pkg/lightning/tikv/BUILD.bazel
  pkg/lightning/tikv/local_sst_writer.go
  pkg/lightning/tikv/local_sst_writer_test.go
  pkg/lightning/tikv/sst-examples/0.sst
  pkg/lightning/tikv/sst-examples/1.sst
  tests/_utils/run_services
Labels: size/XL, release-note-none, approved, lgtm

#57178 log backup: set a proper maxVersion to resolve lock
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
Labels: size/L, release-note-none, approved, lgtm

#57179 ddl: use a global owner manager instance for DDL, to avoid owner change
  br/pkg/conn/BUILD.bazel
  br/pkg/conn/conn.go
  br/pkg/gluetidb/glue.go
  br/pkg/task/stream.go
  cmd/benchdb/BUILD.bazel
  cmd/benchdb/main.go
  cmd/ddltest/BUILD.bazel
  cmd/ddltest/ddl_test.go
  cmd/tidb-server/main.go
  pkg/autoid_service/autoid.go
  pkg/ddl/BUILD.bazel
  pkg/ddl/ddl.go
  pkg/ddl/owner_mgr.go
  pkg/ddl/owner_mgr_test.go
  pkg/ddl/schemaver/BUILD.bazel
  pkg/ddl/schemaver/syncer_test.go
  pkg/ddl/serverstate/BUILD.bazel
  pkg/ddl/serverstate/syncer_test.go
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/bench_test.go
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/domain/domain_test.go
  pkg/owner/BUILD.bazel
  pkg/owner/manager.go
  pkg/owner/manager_test.go
  pkg/owner/mock.go
  pkg/session/BUILD.bazel
  pkg/session/bootstrap.go
  pkg/store/BUILD.bazel
  pkg/store/driver/BUILD.bazel
  pkg/store/driver/main_test.go
  pkg/store/etcd.go
  pkg/store/etcd_test.go
  pkg/testkit/BUILD.bazel
  pkg/testkit/mockstore.go
  pkg/util/etcd.go
  tests/realtikvtest/BUILD.bazel
  tests/realtikvtest/testkit.go
Labels: size/XXL, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57246 planner: move old cascades file into a limited pkg to avoid import core files.
  pkg/planner/BUILD.bazel
  pkg/planner/cascades/old/BUILD.bazel
  pkg/planner/cascades/old/enforcer_rules.go
  pkg/planner/cascades/old/enforcer_rules_test.go
  pkg/planner/cascades/old/implementation_rules.go
  pkg/planner/cascades/old/main_test.go
  pkg/planner/cascades/old/optimize.go
  pkg/planner/cascades/old/optimize_test.go
  pkg/planner/cascades/old/stringer.go
  pkg/planner/cascades/old/stringer_test.go
  pkg/planner/cascades/old/testdata/stringer_suite_in.json
  pkg/planner/cascades/old/testdata/stringer_suite_out.json
  pkg/planner/cascades/old/testdata/transformation_rules_suite_in.json
  pkg/planner/cascades/old/testdata/transformation_rules_suite_out.json
  pkg/planner/cascades/old/transformation_rules.go
  pkg/planner/cascades/old/transformation_rules_test.go
  pkg/planner/optimize.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57260 planner: optimize the performance of PointPlan for Instance Plan Cache
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/concurrency_test.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/plan_clone_utils.go
  pkg/planner/core/point_get_plan.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57269 statistics: wrong NDV when to merge global stats with index
  statistics/handle/handle.go
  statistics/handle/handle_hist_test.go
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#57258 statistics: make sure PQ can analyze all indexes with stats version 1
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#57259 planner: add hash64 and equal for maxOneRow and fix some bugs.
  pkg/expression/aggregation/descriptor.go
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logicalop_test/BUILD.bazel
  pkg/planner/core/operator/logicalop/logicalop_test/hash64_equals_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57084 planner: fix the problem of not finding the referenced column in the virtual column
  pkg/executor/builder.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/tests/analyze/BUILD.bazel
  pkg/planner/core/tests/analyze/analyze_test.go
  pkg/planner/core/tests/analyze/main_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57267 planner: push necessary predicates without virtual column down through UnionScan (#54985)
  planner/core/casetest/integration_test.go
  planner/core/rule_predicate_push_down.go
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#57299 test: fix data race in scan locks
  br/pkg/streamhelper/basic_lib_for_test.go
Labels: size/XS, release-note-none, approved, lgtm

#57300 statistics: avoid throw error when data contains invalid date value
  statistics/scalar.go
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#57237 br: implement reading migration
  br/pkg/restore/log_client/BUILD.bazel
  br/pkg/restore/log_client/export_test.go
  br/pkg/restore/log_client/log_file_manager.go
  br/pkg/restore/log_client/log_file_manager_test.go
  br/pkg/restore/log_client/log_file_map.go
  br/pkg/restore/log_client/migration.go
  br/pkg/restore/log_client/migration_test.go
  br/pkg/utils/iter/combinator_types.go
  br/pkg/utils/iter/combinators.go
Labels: size/XXL, release-note-none, approved, lgtm

#57050 *: Use strict validation for stale read ts & flashback ts
  DEPS.bzl
  go.mod
  go.sum
  pkg/ddl/cluster.go
  pkg/executor/set.go
  pkg/executor/stale_txn_test.go
  pkg/planner/core/plan_cache_utils.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/preprocess.go
  pkg/sessionctx/BUILD.bazel
  pkg/sessionctx/context.go
  pkg/sessiontxn/staleread/processor.go
  pkg/sessiontxn/staleread/processor_test.go
  pkg/sessiontxn/staleread/util.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#57318 statistics: wrong NDV when to merge global stats with index (#57269)
  statistics/handle/handle.go
  statistics/handle/handle_hist_test.go
Labels: size/M, release-note-none, approved, lgtm

#57317 chore: use `slices.Clone` to replace CloneSlice
  br/pkg/streamhelper/advancer.go
  br/pkg/utils/key.go
  br/pkg/utils/key_test.go
Labels: size/S, release-note-none, approved, lgtm

#57303 table: fix the issue that the default value for `BIT` column is wrong | tidb-test=pr/2424
  pkg/ddl/add_column.go
  pkg/executor/test/writetest/write_test.go
  pkg/types/datum.go
  pkg/types/datum_test.go
  tests/integrationtest/r/ddl/column.result
  tests/integrationtest/r/table/tables.result
  tests/integrationtest/t/ddl/column.test
  tests/integrationtest/t/table/tables.test
Labels: size/L, release-note-none, approved, lgtm

#56813 planner: use collected predicate columns to do stats sync load
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/planner/core/casetest/planstats/BUILD.bazel
  pkg/planner/core/casetest/planstats/plan_stats_test.go
  pkg/planner/core/casetest/planstats/testdata/plan_stats_suite_in.json
  pkg/planner/core/casetest/planstats/testdata/plan_stats_suite_out.json
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/collect_column_stats_usage_test.go
  pkg/planner/core/rule_collect_plan_stats.go
  pkg/planner/planctx/context.go
  pkg/session/session.go
  pkg/sessionctx/context.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/syncload/stats_syncload_test.go
  pkg/statistics/handle/usage/BUILD.bazel
  pkg/statistics/handle/usage/session_stats_collect.go
  pkg/statistics/table.go
  pkg/util/mock/context.go
Labels: sig/planner, release-note, size/XXL, approved, lgtm

#57253 planner: fix wrong schema when to solve the schema name in CTE
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/tests/cte/BUILD.bazel
  pkg/planner/core/tests/cte/cte_test.go
  pkg/planner/core/tests/cte/main_test.go
Labels: sig/planner, release-note, size/L, approved, lgtm

#57324 planner: add hash64 and equals implementation for CIStr.
  pkg/parser/model/BUILD.bazel
  pkg/parser/model/model.go
  pkg/parser/types/field_type.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#57244 statistics: do not analyze non exist table anymore
  pkg/statistics/handle/autoanalyze/priorityqueue/analysis_job_factory.go
  pkg/statistics/handle/autoanalyze/priorityqueue/analysis_job_factory_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/calculator_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/calculatoranalysis/calculator_analysis_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/heap_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job_test.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
  pkg/statistics/handle/autoanalyze/refresher/worker_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#56627 br: fix debug decode backupmeta
  br/cmd/br/debug.go
  br/pkg/metautil/BUILD.bazel
  br/pkg/metautil/debug.go
  br/pkg/metautil/debug_test.go
  br/pkg/metautil/metafile.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/json.go
  br/pkg/utils/json_test.go
  br/tests/br_debug_meta/run.sh
Labels: size/XXL, release-note-none, approved, lgtm

#57294 executor: fix random cte error under apply
  pkg/executor/cte.go
  pkg/executor/test/issuetest/BUILD.bazel
  pkg/executor/test/issuetest/executor_issue_test.go
Labels: size/L, release-note-none, approved, lgtm

#57192 br: reduce memory usage when get incomplete ranges
  br/pkg/rtree/rtree.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#57296 infoschema: don't load table info to get auto_increment value
  pkg/executor/infoschema_reader.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/infoschema/test/infoschemav2test/BUILD.bazel
  pkg/infoschema/test/infoschemav2test/v2_test.go
  pkg/statistics/handle/cache/stats_table_row_cache.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57274 *: make `chunk.SwapColumn` private
  pkg/executor/builder.go
  pkg/executor/select.go
  pkg/expression/evaluator.go
  pkg/expression/evaluator_test.go
  pkg/expression/integration_test/BUILD.bazel
  pkg/expression/integration_test/integration_test.go
  pkg/util/chunk/BUILD.bazel
  pkg/util/chunk/chunk.go
  pkg/util/chunk/chunk_test.go
  pkg/util/chunk/chunk_util.go
  pkg/util/chunk/chunk_util_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#57323 planner: take logical schema producer into logical operator's hash generation
  pkg/meta/model/BUILD.bazel
  pkg/meta/model/table.go
  pkg/planner/core/generator/hash64_equals/BUILD.bazel
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logical_aggregation.go
  pkg/planner/core/operator/logicalop/logical_datasource.go
  pkg/planner/core/operator/logicalop/logical_expand.go
  pkg/planner/core/operator/logicalop/logical_join.go
  pkg/planner/core/operator/logicalop/logical_schema_producer.go
  pkg/planner/core/operator/logicalop/logicalop_test/BUILD.bazel
  pkg/planner/core/operator/logicalop/logicalop_test/hash64_equals_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#57053 executor: support left outer semi join for hash join v2
  pkg/executor/join/BUILD.bazel
  pkg/executor/join/base_join_probe.go
  pkg/executor/join/inner_join_probe_test.go
  pkg/executor/join/inner_join_spill_test.go
  pkg/executor/join/left_outer_semi_join_probe.go
  pkg/executor/join/left_outer_semi_join_probe_test.go
  pkg/expression/expression.go
  pkg/planner/core/physical_plans.go
  pkg/util/queue/BUILD.bazel
  pkg/util/queue/queue.go
  pkg/util/queue/queue_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#57058 util: add tiflash wait time in execution summary
  DEPS.bzl
  go.mod
  go.sum
  pkg/util/execdetails/execdetails.go
  pkg/util/execdetails/execdetails_test.go
Labels: size/L, release-note-none, approved, lgtm

#57277 planner: let exists subquery return signed int type
  pkg/expression/constant.go
  pkg/planner/core/expression_rewriter.go
  tests/integrationtest/r/executor/issues.result
  tests/integrationtest/t/executor/issues.test
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57341 planner: evict all cached plans after disabling instance plan cache
  pkg/domain/domain.go
  pkg/planner/core/plan_cache_instance.go
  pkg/planner/core/plan_cache_instance_test.go
  pkg/sessionctx/context.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57314 statistics: fix bad lower bound and upper bound when to dump stats into json
  pkg/server/handler/optimizor/plan_replayer_test.go
  pkg/statistics/histogram.go
Labels: sig/planner, release-note, size/S, approved, lgtm

#57370 executor: improve retrieval logic in hugeMemTableRetriever and add tests
  pkg/executor/infoschema_reader.go
  tests/integrationtest/r/executor/infoschema_reader.result
  tests/integrationtest/t/executor/infoschema_reader.test
Labels: size/M, release-note-none, approved, lgtm

#57308 executor: constrain test cases that check for a hardcoded row count
  pkg/executor/infoschema_reader_test.go
Labels: size/S, release-note-none, approved, lgtm

#57145 ddl: introduce a new system variable to control the `store-write-bwlimit` when ingesting
  pkg/ddl/ddl.go
  pkg/ddl/ingest/config.go
  pkg/ddl/job_submitter.go
  pkg/ddl/util/util.go
  pkg/executor/test/ddl/BUILD.bazel
  pkg/executor/test/ddl/ddl_test.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: release-note, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#57350 planner: gen hash64-equals for memTable/UnionAll/PartitionUnionAll
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logical_limit.go
  pkg/planner/core/operator/logicalop/logical_mem_table.go
  pkg/planner/core/operator/logicalop/logical_partition_union_all.go
  pkg/planner/core/operator/logicalop/logical_union_all.go
  pkg/planner/core/operator/logicalop/logicalop_test/BUILD.bazel
  pkg/planner/core/operator/logicalop/logicalop_test/hash64_equals_test.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#57381 planner: gen hash64 equals for logical projection/selection/show/sort.
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logical_projection.go
  pkg/planner/core/operator/logicalop/logical_selection.go
  pkg/planner/core/operator/logicalop/logical_show.go
  pkg/planner/core/operator/logicalop/logical_show_ddl_jobs.go
  pkg/planner/core/operator/logicalop/logical_sort.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57384 planner: add a new metrics to record the Instance Plan Cache clone duration
  pkg/metrics/grafana/tidb.json
  pkg/planner/core/metrics/metrics.go
  pkg/planner/core/plan_cache.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#56947 planner: Fix predicate simplification panic caused by zero-argument expressions like rand()
  pkg/planner/core/rule_predicate_simplification.go
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: sig/planner, size/S, release-note-none, ok-to-test, approved, lgtm

#57382 planner: set the minimum Instance Plan Cache Mem Size to 100MiB
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/others_test.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#57336 ddl: support modify the related reorg config by SQL
  pkg/ddl/db_test.go
  pkg/executor/BUILD.bazel
  pkg/executor/builder.go
  pkg/executor/operate_ddl_jobs.go
  pkg/meta/model/job.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/planbuilder_test.go
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/privilege/privileges.test
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#57344 planner: fix RANGE COLUMNS partition prune gives wrong result with special collation
  pkg/planner/core/partition_pruning_test.go
  pkg/planner/core/rule_partition_processor.go
  pkg/util/ranger/detacher.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57255 planner: fix cannot binding for deleting multi table with alias
  pkg/parser/ast/dml.go
  pkg/planner/core/preprocess.go
  pkg/planner/core/preprocess_test.go
Labels: sig/planner, release-note, size/M, approved, lgtm

#57343 util: fix codec for negative zero | tidb-test=pr/2427
  pkg/util/codec/codec_test.go
  pkg/util/codec/float.go
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/t/expression/issues.test
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#56786 ddl: Corrected index management during REORGANIZE PARTITION
  pkg/ddl/partition.go
  pkg/ddl/rollingback.go
  pkg/ddl/tests/partition/multi_domain_test.go
  pkg/ddl/tests/partition/reorg_partition_test.go
  pkg/meta/model/table.go
  pkg/table/tables/partition.go
  pkg/testkit/testkit.go
  tests/integrationtest/r/globalindex/misc.result
  tests/integrationtest/t/globalindex/misc.test
Labels: sig/planner, release-note, size/XXL, approved, lgtm, needs-cherry-pick-release-8.5

#55284 expression: fix incorrect copy of flag in truncate function
  pkg/expression/builtin_math.go
  tests/integrationtest/r/expression/constant_fold.result
  tests/integrationtest/t/expression/constant_fold.test
Labels: type/bugfix, size/S, release-note-none, ok-to-test, approved, lgtm

#57412 planner: add hash64 equals for tableDual/topN/unionScan/Window.
  pkg/meta/model/index.go
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logical_table_dual.go
  pkg/planner/core/operator/logicalop/logical_top_n.go
  pkg/planner/core/operator/logicalop/logical_union_scan.go
  pkg/planner/core/operator/logicalop/logical_window.go
  pkg/planner/core/operator/logicalop/logicalop_test/BUILD.bazel
  pkg/planner/core/operator/logicalop/logicalop_test/hash64_equals_test.go
  pkg/planner/util/handle_cols.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#56731 session: defer general log after query is executed to make sure txnStartTS is set
  pkg/session/session.go
  pkg/session/test/variable/BUILD.bazel
  pkg/session/test/variable/variable_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#57243 session, store: remove sessionBootstrapped
  pkg/kv/interface_mock_test.go
  pkg/kv/kv.go
  pkg/session/bootstrap_test.go
  pkg/session/bootstraptest/bootstrap_upgrade_test.go
  pkg/session/session.go
  pkg/session/testutil.go
  pkg/session/tidb.go
  pkg/store/driver/tikv_driver.go
  pkg/store/helper/helper.go
  pkg/store/mockstore/mockstorage/storage.go
  pkg/util/mock/store.go
Labels: size/L, release-note-none, approved, lgtm

#57416 *: fix the issue when union all cast('xxxx' as char) and a integer
  pkg/executor/test/issuetest/executor_issue_test.go
  pkg/planner/core/logical_plan_builder.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#56205 lightning: sample once parquet file
  lightning/pkg/importer/import.go
  pkg/lightning/mydump/loader.go
  pkg/lightning/mydump/loader_test.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57049 planner: address collation ambiguity in scalar function construction during predicate simplification.
  pkg/planner/core/rule_predicate_simplification.go
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#57433 test: fix unstable case
  pkg/domain/db_test.go
Labels: size/XS, release-note-none, approved, lgtm

#57415 planner: print dynamic prune info in explain for connection
  pkg/executor/explainfor_test.go
  pkg/planner/core/common_plans.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#57451 executor: fix data race in nullmap in hash join v2
  pkg/executor/join/join_table_meta.go
  pkg/executor/join/join_table_meta_test.go
Labels: size/M, release-note-none, approved, lgtm

#56569 infoschema: Move status and variables to P_S
  pkg/executor/builder.go
  pkg/executor/infoschema_reader.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/perfschema/BUILD.bazel
  pkg/infoschema/perfschema/const.go
  pkg/infoschema/perfschema/tables.go
  pkg/infoschema/perfschema/tables_test.go
  pkg/infoschema/tables.go
  tests/integrationtest/r/executor/infoschema_reader.result
  tests/integrationtest/r/executor/perfschema.result
  tests/integrationtest/t/executor/infoschema_reader.test
  tests/integrationtest/t/executor/perfschema.test
Labels: release-note, size/L, ok-to-test, approved, lgtm

#57452 ttl: cancel the hearbeat timeout job after disable the TTL
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
Labels: size/M, release-note-none, approved, lgtm

#56340 expression: round the frac part for `ParseTimeFromFloat64`
  pkg/types/time.go
  pkg/types/time_test.go
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/t/expression/issues.test
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#57383 executor: fix inl_hash_join hang when abnormal exit
  pkg/executor/join/index_lookup_hash_join.go
  pkg/executor/join/index_lookup_join_test.go
Labels: size/M, release-note-none, approved, lgtm

#57397 *: revert `default_authentication_plugin`
  pkg/executor/grant.go
  pkg/executor/show.go
  pkg/executor/simple.go
  tests/integrationtest/r/executor/simple.result
  tests/integrationtest/t/executor/simple.test
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#57455 lightning: log error cause when SampleFileCompressRatio fail
  pkg/lightning/mydump/loader.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#56236 distsql,util: Add executor open close time into its total consume time
  pkg/bindinfo/session_handle_test.go
  pkg/executor/internal/exec/executor.go
  pkg/expression/integration_test/integration_test.go
  pkg/util/execdetails/execdetails.go
  pkg/util/execdetails/execdetails_test.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#57460 variables: Increase default innodb_buffer_pool_size to 4GiB
  pkg/sessionctx/variable/noop.go
Labels: release-note, size/XS, ok-to-test, approved, lgtm

#57443 executor: disable hash join v2 in release-8.5 by default
  pkg/sessionctx/variable/tidb_vars.go
  tests/integrationtest/r/sessionctx/setvar.result
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#57418 table: fix wrong handle comparation in index double write
  pkg/ddl/index.go
  pkg/ddl/index_modify_test.go
  pkg/kv/key.go
  pkg/kv/key_test.go
  pkg/table/tables/index.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.5

#57471 planner: fix the duplicate offset when pushing topn down across outer join
  pkg/planner/core/operator/logicalop/logical_join.go
  pkg/planner/core/testdata/plan_suite_unexported_out.json
  tests/integrationtest/r/planner/core/casetest/predicate_simplification.result
Labels: sig/planner, size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57474 planner: Do not allow variables in create view
  errors.toml
  pkg/planner/core/planbuilder.go
  pkg/util/dbterror/ddl_terror.go
  tests/integrationtest/r/ddl/ddl_error.result
  tests/integrationtest/r/executor/ddl.result
  tests/integrationtest/t/ddl/ddl_error.test
  tests/integrationtest/t/executor/ddl.test
Labels: sig/planner, release-note, size/M, approved, lgtm

#57483 pkg/session: add binding operations to CRUCIAL OPERATION log
  pkg/session/session.go
Labels: size/XS, release-note-none, approved, lgtm

#57385 statistics: add a priority queue API
  pkg/server/handler/optimizor/BUILD.bazel
  pkg/server/handler/optimizor/statistics_handler.go
  pkg/server/handler/optimizor/statistics_handler_test.go
  pkg/server/http_status.go
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/priorityqueue/calculatoranalysis/calculator_analysis_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/heap_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/worker_test.go
  pkg/statistics/handle/types/interfaces.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57498 Revert "util: fix codec for negative zero(#57343) (#57453)" | tidb-test=pr/2431
  pkg/util/codec/codec_test.go
  pkg/util/codec/float.go
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/t/expression/issues.test
Labels: size/M, cherry-pick-approved, release-note-none, approved, lgtm

#57454 Lightning: Skip apply ioworkers when seek(0, io.SeekCurrent)
  pkg/lightning/mydump/reader.go
Labels: size/XS, release-note-none, approved, lgtm

#57458 executor: Use uint32 as element length in hash join v2
  pkg/executor/join/base_join_probe.go
  pkg/executor/join/join_row_table.go
  pkg/executor/join/join_row_table_test.go
  pkg/executor/join/join_table_meta.go
  pkg/executor/join/left_outer_semi_join_probe_test.go
  pkg/executor/join/row_table_builder.go
  pkg/util/chunk/chunk.go
  pkg/util/chunk/column.go
  pkg/util/codec/codec.go
Labels: size/L, release-note-none, approved, lgtm

#56665 docs: fix parameter format in tidb_http_api.md
  docs/tidb_http_api.md
Labels: size/S, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#57403 expression: Fix optimizer panic in evaluate expr with null
  pkg/expression/aggregation/descriptor.go
  pkg/expression/expression.go
  pkg/expression/expression_test.go
  pkg/expression/integration_test/BUILD.bazel
  pkg/expression/integration_test/integration_test.go
  pkg/planner/core/casetest/rule/BUILD.bazel
  pkg/planner/core/casetest/rule/rule_outer2inner_test.go
  pkg/planner/core/casetest/rule/testdata/outer2inner_in.json
  pkg/planner/core/casetest/rule/testdata/outer2inner_out.json
  pkg/planner/core/operator/logicalop/logical_aggregation.go
  pkg/planner/core/rule_aggregation_push_down.go
  pkg/planner/util/null_misc.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#56607 expression: fix wrong flen from baseFunctionClass
  pkg/executor/test/issuetest/executor_issue_test.go
  pkg/expression/builtin_string.go
  pkg/expression/typeinfer_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#57473 planner: ONLY_FULL_GROUP_BY sql_mode was not working with VIEWs
  pkg/planner/core/issuetest/BUILD.bazel
  pkg/planner/core/issuetest/planner_issue_test.go
  pkg/planner/core/logical_plan_builder.go
Labels: sig/planner, release-note, size/S, approved, lgtm

#57493 br: fix br work with global index
  br/tests/br_table_partition/prepare.sh
  pkg/distsql/request_builder.go
Labels: size/M, release-note-none, approved, lgtm

#55477 *: disable insert null to not-null column for single-row insertion in non-strict mode | tidb-test=pr/2410
  pkg/ddl/reorg.go
  pkg/errctx/context.go
  pkg/executor/BUILD.bazel
  pkg/executor/executor_pkg_test.go
  pkg/executor/insert_test.go
  pkg/executor/load_data.go
  pkg/executor/select.go
  pkg/executor/test/writetest/write_test.go
  pkg/expression/builtin_miscellaneous_vec_test.go
  pkg/expression/evaluator_test.go
  pkg/expression/exprstatic/evalctx_test.go
  pkg/expression/sessionexpr/sessionctx_test.go
  pkg/lightning/backend/kv/context.go
  pkg/lightning/backend/kv/context_test.go
  pkg/lightning/errormanager/errormanager.go
  pkg/lightning/errormanager/errormanager_test.go
  pkg/lightning/errormanager/resolveconflict_test.go
  pkg/table/column.go
  pkg/table/column_test.go
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/r/executor/insert.result
  tests/integrationtest/t/executor/executor.test
  tests/integrationtest/t/executor/insert.test
Labels: release-note, compatibility-breaker, size/L, ok-to-test, approved, lgtm

#57511 executor: update log filter to avoid flaky test
  pkg/executor/test/oomtest/oom_test.go
Labels: size/XS, release-note-none, approved, lgtm

#57208 Restore: implement restorer for compacted SST/Snapshot/log files
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/import_mode_switcher.go
  br/pkg/restore/log_client/BUILD.bazel
  br/pkg/restore/log_client/client.go
  br/pkg/restore/log_client/client_test.go
  br/pkg/restore/log_client/compacted_file_strategy.go
  br/pkg/restore/log_client/export_test.go
  br/pkg/restore/log_client/import_retry_test.go
  br/pkg/restore/log_client/log_file_manager.go
  br/pkg/restore/log_client/log_file_manager_test.go
  br/pkg/restore/log_client/log_split_strategy.go
  br/pkg/restore/log_client/migration.go
  br/pkg/restore/log_client/migration_test.go
  br/pkg/restore/restorer.go
  br/pkg/restore/restorer_test.go
  br/pkg/restore/snap_client/BUILD.bazel
  br/pkg/restore/snap_client/client.go
  br/pkg/restore/snap_client/client_test.go
  br/pkg/restore/snap_client/export_test.go
  br/pkg/restore/snap_client/import.go
  br/pkg/restore/snap_client/import_test.go
  br/pkg/restore/snap_client/pipeline_items.go
  br/pkg/restore/snap_client/tikv_sender.go
  br/pkg/restore/snap_client/tikv_sender_test.go
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/mock_pd_client.go
  br/pkg/restore/split/split.go
  br/pkg/restore/split/split_test.go
  br/pkg/restore/split/splitter.go
  br/pkg/restore/utils/rewrite_rule.go
  br/pkg/stream/stream_metas.go
  br/pkg/task/restore.go
  br/pkg/task/restore_raw.go
  br/pkg/task/restore_txn.go
  br/pkg/task/stream.go
  br/pkg/utils/iter/combinator_types.go
  br/pkg/utils/iter/combinators.go
Labels: size/XXL, release-note-none, approved, lgtm

#57393 executor, session: fix ExecStmt.OriginText to use the actual original text
  pkg/executor/adapter.go
  pkg/session/session.go
  pkg/session/test/variable/BUILD.bazel
  pkg/session/test/variable/variable_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#57519 executor: fix data race in hash join v2 spill
  pkg/executor/join/hash_join_v2.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57525 Revert "util: fix codec for negative zero (#57343)" | tidb-test=pr/2432
  pkg/util/codec/codec_test.go
  pkg/util/codec/float.go
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/t/expression/issues.test
Labels: size/M, release-note-none, approved, lgtm

#57428 planner: Fix the issue where any(nil) is not considered equal to nil
  pkg/expression/aggregation/base_func.go
  pkg/expression/aggregation/descriptor.go
  pkg/expression/column.go
  pkg/expression/column_test.go
  pkg/expression/constant.go
  pkg/expression/scalar_function.go
  pkg/planner/cascades/memo/group.go
  pkg/planner/cascades/memo/group_and_expr_test.go
  pkg/planner/cascades/memo/group_expr.go
  pkg/planner/core/scalar_subq_expression.go
  pkg/planner/property/physical_property.go
  pkg/util/codec/codec_test.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#56597 external_storage: implement locking
  br/pkg/storage/locking.go
  br/pkg/storage/locking_test.go
  br/pkg/task/stream.go
  docs/design/2024-10-11-put-and-verify-transactions-for-external-storages.md
  docs/design/imgs/write-and-verfiy-tla-states.pdf
  docs/design/imgs/write-and-verify-tla.pdf
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#57506 planner: fix `count(*)` return wrong value for `information_schema.tables`
  pkg/executor/infoschema_reader_test.go
  pkg/planner/core/memtable_infoschema_extractor.go
  pkg/planner/core/memtable_predicate_extractor.go
Labels: sig/planner, size/S, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.5

#57484 expression: fix tikv crash when `bool like cast(bit as char)`
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_convert_charset.go
  pkg/expression/expr_to_pb_test.go
  pkg/planner/core/integration_test.go
  tests/integrationtest/r/expression/cast.result
  tests/integrationtest/t/expression/cast.test
  tests/realtikvtest/pushdowntest/BUILD.bazel
  tests/realtikvtest/pushdowntest/expr_test.go
  tests/realtikvtest/pushdowntest/main_test.go
Labels: sig/planner, release-note, size/L, approved, lgtm, needs-cherry-pick-release-8.5

#57501 dxf: reduce indent of scheduleTask and some log refactor
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/task_executor.go
Labels: size/L, release-note-none, approved, lgtm

#57555 statstics: fix wrong stats health metrics
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/metrics/metrics.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#57513 Dumpling: GCS always retry.
  br/pkg/storage/gcs.go
Labels: size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57282 *: bump client-go with some regression tests
  DEPS.bzl
  errors.toml
  go.mod
  go.sum
  pkg/errno/errcode.go
  pkg/errno/errname.go
  pkg/executor/adapter.go
  pkg/executor/executor_pkg_test.go
  pkg/executor/mem_reader.go
  pkg/executor/union_scan.go
  pkg/executor/union_scan_test.go
  pkg/kv/error.go
  pkg/kv/key.go
  pkg/kv/key_test.go
  pkg/session/test/txn/BUILD.bazel
  pkg/session/test/txn/txn_test.go
  pkg/store/driver/error/error.go
  pkg/store/driver/error/error_test.go
  tests/integrationtest/r/executor/ddl.result
  tests/integrationtest/r/globalindex/insert.result
  tests/integrationtest/t/executor/ddl.test
  tests/integrationtest/t/globalindex/insert.test
Labels: size/L, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.5

#57534 executor: fix nil pointer for query on tikv_region_status with non-exist table id
  pkg/executor/infoschema_reader.go
  tests/realtikvtest/sessiontest/session_fail_test.go
Labels: size/S, release-note-none, approved, lgtm
