Repository pingcap/tidb, pull requests merged in 2024-02, with the labels that each got.

#49774 errno: add test to check every errcode has its message
  pkg/domain/infosync/error.go
  pkg/errno/BUILD.bazel
  pkg/errno/errcode.go
  pkg/errno/errname.go
  pkg/errno/errname_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#50868 disttask: move framework integration tests into separate pkg
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/framework_err_handling_test.go
  pkg/disttask/framework/integrationtests/framework_ha_test.go
  pkg/disttask/framework/integrationtests/framework_pause_and_resume_test.go
  pkg/disttask/framework/integrationtests/framework_role_test.go
  pkg/disttask/framework/integrationtests/framework_rollback_test.go
  pkg/disttask/framework/integrationtests/framework_test.go
Labels: size/S, release-note-none, approved, lgtm

#50838 ddl, disttask: collect summary for each subtask
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/backfilling_import_cloud.go
  pkg/ddl/backfilling_merge_sort.go
  pkg/ddl/backfilling_read_index.go
  pkg/ddl/ddl.go
  pkg/disttask/framework/mock/execute/BUILD.bazel
  pkg/disttask/framework/mock/execute/execute_mock.go
  pkg/disttask/framework/mock/task_executor_mock.go
  pkg/disttask/framework/taskexecutor/execute/BUILD.bazel
  pkg/disttask/framework/taskexecutor/execute/interface.go
  pkg/disttask/framework/taskexecutor/execute/summary.go
  pkg/disttask/framework/taskexecutor/interface.go
  pkg/disttask/framework/taskexecutor/register.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
  pkg/disttask/framework/testutil/disttest_util.go
  pkg/disttask/framework/testutil/executor_util.go
  pkg/disttask/importinto/task_executor.go
  pkg/disttask/importinto/task_executor_test.go
Labels: size/XL, release-note-none, approved, lgtm

#50862 table: introduce `MutateContext` and `AllocatorContext` for `table.Table`
  br/pkg/lightning/backend/kv/BUILD.bazel
  br/pkg/lightning/backend/kv/base.go
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/backend/kv/sql2kv_test.go
  pkg/ddl/ddl_api.go
  pkg/ddl/table.go
  pkg/errctx/context.go
  pkg/executor/executor.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/importer/kv_encode.go
  pkg/executor/infoschema_reader.go
  pkg/executor/insert_common.go
  pkg/executor/show.go
  pkg/executor/test/ddl/ddl_test.go
  pkg/executor/write.go
  pkg/expression/simple_rewriter.go
  pkg/infoschema/tables.go
  pkg/planner/cardinality/trace.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/util/path.go
  pkg/table/BUILD.bazel
  pkg/table/column.go
  pkg/table/index.go
  pkg/table/table.go
  pkg/table/tables/cache.go
  pkg/table/tables/index.go
  pkg/table/tables/partition.go
  pkg/table/tables/tables.go
  pkg/table/tables/tables_test.go
  pkg/util/ranger/types.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#50870 ebs br: rename a tag for EBS snapshots
  br/pkg/aws/ebs.go
Labels: size/XS, release-note-none, approved, lgtm

#50779 planner/infoschema: add predicate pushdown for system tables
  pkg/executor/infoschema_reader.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/memtable_predicate_extractor.go
  pkg/planner/core/memtable_predicate_extractor_test.go
  pkg/planner/core/rule_column_pruning.go
  tests/integrationtest/r/executor/explainfor.result
  tests/integrationtest/r/infoschema/infoschema.result
  tests/integrationtest/t/executor/explainfor.test
  tests/integrationtest/t/infoschema/infoschema.test
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#50852 importinto: support import from stale read
  pkg/executor/adapter.go
  pkg/executor/builder.go
  pkg/executor/import_into.go
  pkg/planner/core/plan_test.go
  pkg/planner/core/planbuilder.go
  tests/realtikvtest/importintotest2/from_select_test.go
Labels: size/L, release-note-none, approved, lgtm

#50911 planner: use slices to eliminate branch check
  pkg/planner/core/flat_plan.go
  pkg/planner/core/rule_join_reorder_greedy.go
Labels: size/S, release-note-none, approved, lgtm

#50921 test: add more sleep time for `TestMemoryUsageAndOpsHistory` test
  pkg/infoschema/test/clustertablestest/tables_test.go
Labels: size/XS, release-note-none, approved, lgtm

#50896 codec: encode checksum for timestamp consider tz
  pkg/ddl/column.go
  pkg/table/tables/tables.go
  pkg/table/tables/tables_test.go
  pkg/util/rowcodec/bench_test.go
  pkg/util/rowcodec/common.go
  pkg/util/rowcodec/rowcodec_test.go
Labels: release-note, size/M, approved, lgtm

#50845 statistics: add refresher
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/interval.go
  pkg/statistics/handle/autoanalyze/priorityqueue/interval_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job_test.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
Labels: size/XL, release-note-none, approved, lgtm

#50923 variable: fix unexpected failure for `TestSetTiDBCloudStorageURI`
  pkg/sessionctx/variable/sysvar_test.go
Labels: size/XS, release-note-none, approved, lgtm

#50913 test: stabilize TestPiTRCreateNonUniqueIndex
  tests/realtikvtest/addindextestutil/workload.go
Labels: size/XS, release-note-none, approved, lgtm

#50816 executor: record the index usage on a the whole table
  pkg/executor/batch_point_get.go
  pkg/executor/distsql.go
  pkg/executor/index_merge_reader.go
  pkg/executor/internal/exec/BUILD.bazel
  pkg/executor/internal/exec/indexusage.go
  pkg/executor/internal/exec/indexusage_test.go
  pkg/executor/point_get.go
  pkg/statistics/handle/usage/indexusage/collector.go
Labels: size/M, release-note-none, approved, lgtm

#50853 *: force_init_stats doesn't block http api's startup
  br/pkg/mock/mock_cluster.go
  cmd/tidb-server/main.go
  pkg/server/handler/extractorhandler/extract_test.go
  pkg/server/handler/optimizor/optimize_trace_test.go
  pkg/server/handler/optimizor/plan_replayer_test.go
  pkg/server/handler/optimizor/statistics_handler_test.go
  pkg/server/handler/tests/http_handler_test.go
  pkg/server/server.go
  pkg/server/tests/commontest/tidb_test.go
  pkg/server/tests/servertestkit/testkit.go
  pkg/server/tests/tls/tls_test.go
Labels: size/M, release-note-none, approved, lgtm

#50935 codec: fix row codec unit test on timestamp cannot pass caused by local time zone not utc
  pkg/util/rowcodec/rowcodec_test.go
Labels: size/S, release-note-none, approved, lgtm

#50648 br: merge range in lightweight when snapshot restore
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/merge.go
  br/pkg/rtree/BUILD.bazel
  br/pkg/rtree/merge_fuzz_test.go
  br/pkg/rtree/rtree.go
  br/pkg/rtree/rtree_test.go
Labels: size/L, release-note-none, approved, lgtm

#50933 expression: fix the incorrect result of `json_length(cast(1 as json), null)`
  pkg/expression/builtin_json.go
  pkg/expression/builtin_json_test.go
  pkg/expression/builtin_json_vec.go
  tests/integrationtest/r/expression/json.result
  tests/integrationtest/t/expression/json.test
Labels: size/M, release-note-none, approved, lgtm

#50924 *: upgrade revive
  .github/dependabot.yml
  DEPS.bzl
  go.mod
  go.sum
Labels: size/L, release-note-none, approved, lgtm

#50848 *: some updates for feature-20240125
  MODULE.bazel.lock
  br/compatibility/credentials/application_default_credentials.json
  br/pkg/lightning/checkpoints/BUILD.bazel
  br/pkg/lightning/checkpoints/checkpoints.go
  br/pkg/lightning/checkpoints/checkpoints_sql_test.go
  br/pkg/lightning/checkpoints/glue_checkpoint.go
  br/pkg/lightning/common/util.go
  br/pkg/lightning/config/config.go
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/pkg/lightning/importer/get_pre_info.go
  br/pkg/lightning/importer/import.go
  br/pkg/lightning/importer/meta_manager.go
  br/pkg/lightning/importer/meta_manager_test.go
  br/pkg/lightning/importer/table_import.go
  br/pkg/lightning/mydump/loader.go
  br/tests/br_gcs/run.sh
  br/tests/docker_compatible_gcs/_run.sh
  cmd/benchkv/main.go
  cmd/benchraw/main.go
  dumpling/export/config.go
  pkg/config/BUILD.bazel
  pkg/config/config_test.go
  pkg/disttask/importinto/scheduler.go
  pkg/executor/importer/precheck.go
  pkg/privilege/privileges/BUILD.bazel
  pkg/privilege/privileges/ldap/BUILD.bazel
  pkg/privilege/privileges/ldap/ldap_common.go
  pkg/privilege/privileges/ldap/ldap_common_test.go
  pkg/privilege/privileges/tidb_auth_token_test.go
  pkg/server/server.go
  pkg/sessionctx/variable/statusvar.go
  pkg/util/misc.go
  pkg/util/security.go
Labels: size/XXL, release-note-none, component/dumpling, approved, lgtm

#50912 disttask: fix routine leak & refine logs & refactor failpoint
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/framework_err_handling_test.go
  pkg/disttask/framework/integrationtests/framework_ha_test.go
  pkg/disttask/framework/integrationtests/framework_pause_and_resume_test.go
  pkg/disttask/framework/integrationtests/framework_role_test.go
  pkg/disttask/framework/integrationtests/framework_rollback_test.go
  pkg/disttask/framework/integrationtests/framework_test.go
  pkg/disttask/framework/integrationtests/main_test.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_manager.go
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/manager_test.go
  pkg/disttask/framework/taskexecutor/slot.go
  pkg/disttask/framework/taskexecutor/slot_test.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/testutil/context.go
  pkg/testkit/testkit.go
Labels: size/XXL, release-note-none, approved, lgtm

#50932 planner: stop pushing Agg down through Projection if substitution fail
  pkg/expression/util.go
  pkg/planner/core/casetest/BUILD.bazel
  pkg/planner/core/casetest/integration_test.go
  pkg/planner/core/rule_aggregation_push_down.go
Labels: size/M, release-note-none, approved, lgtm

#50949 *: upgrade etcd to fix secruity alerms
  DEPS.bzl
  build/patches/com_github_grpc_ecosystem_grpc_gateway_v2.patch
  go.mod
  go.sum
Labels: size/XXL, release-note-none, approved, lgtm

#50916 infoschema: remove some redundant methods from InfoSchema
  pkg/ddl/ddl_api.go
  pkg/ddl/schematracker/info_store.go
  pkg/domain/plan_replayer_dump.go
  pkg/executor/show.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_test.go
  pkg/statistics/handle/autoanalyze/autoanalyze.go
Labels: size/M, release-note-none, approved, lgtm

#50956 *: avoid thundering herd problem when timeout the stats sync load
  pkg/statistics/handle/syncload/stats_syncload.go
Labels: size/XS, release-note-none, approved, lgtm

#50955 external: onefile writer should have onClose, and add KV count to WriteSummary
  br/pkg/lightning/backend/external/merge.go
  br/pkg/lightning/backend/external/merge_v2.go
  br/pkg/lightning/backend/external/onefile_writer.go
  br/pkg/lightning/backend/external/onefile_writer_test.go
  br/pkg/lightning/backend/external/util.go
  br/pkg/lightning/backend/external/writer.go
  pkg/disttask/importinto/BUILD.bazel
  pkg/disttask/importinto/task_executor.go
Labels: size/L, release-note-none, approved, lgtm

#49074 executor: Support spill of parallel hash aggregate
  pkg/executor/aggregate/BUILD.bazel
  pkg/executor/aggregate/agg_hash_base_worker.go
  pkg/executor/aggregate/agg_hash_executor.go
  pkg/executor/aggregate/agg_hash_final_worker.go
  pkg/executor/aggregate/agg_hash_partial_worker.go
  pkg/executor/aggregate/agg_spill.go
  pkg/executor/aggregate/agg_spill_test.go
  pkg/executor/aggregate/agg_util.go
  pkg/executor/internal/exec/executor.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
  pkg/util/chunk/chunk_in_disk.go
  tests/integrationtest/r/executor/executor.result
Labels: size/XXL, release-note-none, approved, lgtm

#50961 planner: refactor NewDistAggFunc for mpp agg aware of tipb's aggDesc execution mode
  pkg/expression/aggregation/aggregation.go
  pkg/store/mockstore/mockcopr/cop_handler_dag.go
  pkg/store/mockstore/unistore/cophandler/cop_handler.go
  pkg/store/mockstore/unistore/cophandler/mpp.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#50824 executor,bootstrap: add `tidb_index_usage` table and `cluster_tidb_index_usage` table
  pkg/executor/builder.go
  pkg/executor/infoschema_reader.go
  pkg/infoschema/cluster.go
  pkg/infoschema/tables.go
  pkg/infoschema/test/clustertablestest/BUILD.bazel
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
Labels: release-note, size/L, approved, lgtm

#50954 expression: fix some failed tests in local env
  pkg/executor/slow_query_test.go
  pkg/executor/stmtsummary_test.go
  pkg/expression/builtin_cast_test.go
  pkg/expression/builtin_time_test.go
  pkg/expression/context.go
  pkg/expression/helper_test.go
  pkg/expression/main_test.go
  pkg/store/mockstore/mockcopr/cop_handler_dag.go
  pkg/store/mockstore/unistore/cophandler/cop_handler.go
  pkg/table/column_test.go
  pkg/util/mock/context.go
Labels: size/L, release-note-none, approved, lgtm

#50146 expression: fix `reverse` function on `bit type column`
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_string.go
  pkg/expression/collation.go
  tests/integrationtest/r/expression/builtin.result
  tests/integrationtest/t/expression/builtin.test
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#50517 driver: convert ErrQueryInterrupted to actual error types
  DEPS.bzl
  go.mod
  go.sum
  pkg/store/driver/error/BUILD.bazel
  pkg/store/driver/error/error.go
  pkg/util/sqlkiller/sqlkiller.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#50925 ddl: make local sort generate only one subtask for each instance
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_dist_scheduler_test.go
Labels: size/S, release-note-none, approved, lgtm

#50964 statistics: implement stringer for analysis job
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
Labels: sig/planner, component/statistics, size/XL, release-note-none, approved, lgtm

#50962 disttask: add integration test for resource control
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/framework_err_handling_test.go
  pkg/disttask/framework/integrationtests/framework_ha_test.go
  pkg/disttask/framework/integrationtests/framework_pause_and_resume_test.go
  pkg/disttask/framework/integrationtests/framework_rollback_test.go
  pkg/disttask/framework/integrationtests/framework_test.go
  pkg/disttask/framework/integrationtests/resource_control_test.go
  pkg/disttask/framework/scheduler/balancer.go
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/main_test.go
  pkg/disttask/framework/scheduler/nodes.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_manager.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/main_test.go
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/testutil/context.go
  pkg/disttask/framework/testutil/disttest_util.go
  pkg/disttask/framework/testutil/scheduler_util.go
  pkg/disttask/framework/testutil/table_util.go
Labels: size/XXL, release-note-none, approved, lgtm

#50984 test: move some functions into another file
  br/pkg/lightning/backend/external/BUILD.bazel
  br/pkg/lightning/backend/external/bench_test.go
  br/pkg/lightning/backend/external/misc_bench_test.go
Labels: size/XXL, release-note-none, skip-issue-check, approved, lgtm

#50649 br: add restore stats config
  br/pkg/restore/client.go
  br/pkg/task/common.go
  br/pkg/task/common_test.go
  br/pkg/task/restore.go
Labels: release-note, size/S, approved, lgtm

#50983 txn: bump up dependency of client-go to enable pessimistic lock region rollback
  DEPS.bzl
  go.mod
  go.sum
Labels: type/enhancement, sig/transaction, size/S, release-note-none, ok-to-test, approved, lgtm

#50994 executor/join_test: add goleak ignore option
  pkg/executor/test/jointest/main_test.go
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#50965 external: increase an unit of read chunk to avoid a whole reload
  br/pkg/lightning/backend/external/bench_test.go
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/external/reader_test.go
Labels: size/L, release-note-none, approved, lgtm

#50958 expression: Fix the issue that cast str as datetime with time_zone results in loss of precision
  pkg/types/time.go
  pkg/types/time_test.go
  tests/integrationtest/r/expression/cast.result
  tests/integrationtest/t/expression/cast.test
Labels: release-note, size/S, approved, lgtm

#51002 grafana: add missing instance filter in tidb_summary.json
  pkg/metrics/grafana/tidb_summary.json
  pkg/metrics/grafana/tidb_summary.jsonnet
Labels: component/metrics, size/XS, release-note-none, approved, lgtm

#51012 executor: change ut parameters in parallel aggregate hash spill ut
  pkg/executor/aggregate/agg_spill_test.go
Labels: size/XS, release-note-none, approved, lgtm

#50574 planner: Correct cardinality estimate for subset index match | tidb-test=pr/2286
  pkg/planner/cardinality/BUILD.bazel
  pkg/planner/cardinality/row_count_index.go
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/cardinality/testdata/cardinality_suite_in.json
  pkg/planner/cardinality/testdata/cardinality_suite_out.json
  tests/integrationtest/r/planner/core/casetest/index/index.result
  tests/integrationtest/r/subquery.result
  tests/integrationtest/r/util/ranger.result
Labels: release-note, size/L, ok-to-test, approved, lgtm

#51006 external: use 2 membuf pools of difference block size
  br/pkg/lightning/backend/external/bench_test.go
  br/pkg/lightning/backend/external/byte_reader.go
  br/pkg/lightning/backend/external/engine.go
  br/pkg/lightning/backend/external/merge_v2.go
  br/pkg/lightning/backend/external/misc_bench_test.go
  br/pkg/lightning/backend/external/reader.go
  br/pkg/lightning/backend/external/reader_test.go
  br/pkg/lightning/backend/external/testutil.go
Labels: size/XXL, release-note-none, approved, lgtm

#50997 expression: refactor functions to build expressions
  br/pkg/lightning/backend/kv/sql2kv.go
  pkg/ddl/ddl_api.go
  pkg/ddl/partition.go
  pkg/ddl/ttl.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/import.go
  pkg/executor/importer/import_test.go
  pkg/executor/internal/querywatch/BUILD.bazel
  pkg/executor/internal/querywatch/query_watch.go
  pkg/expression/builtin_compare_test.go
  pkg/expression/expression.go
  pkg/expression/helper.go
  pkg/expression/simple_rewriter.go
  pkg/infoschema/perfschema/init.go
  pkg/planner/core/exhaust_physical_plans_test.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/expression_test.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/optimizer.go
  pkg/planner/core/partition_pruning_test.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/util/BUILD.bazel
  pkg/planner/util/expression.go
  pkg/sessiontxn/staleread/BUILD.bazel
  pkg/sessiontxn/staleread/util.go
  pkg/table/column.go
  pkg/table/column_test.go
  pkg/table/constraint.go
  pkg/table/tables/partition.go
  pkg/util/rowDecoder/decoder_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#50771 br: create database by db pool
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/task/restore.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#50776 br: remove evict slow store scheduler
  br/pkg/pdutil/pd.go
Labels: size/XS, release-note-none, approved, lgtm

#50629 br: check the first run by checkpoint meta
  br/pkg/restore/client.go
  br/pkg/task/restore.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#50917 *: store db ID in model.TableInfo and move SchemaByTable method out from InfoSchema
  br/pkg/restore/tiflashrec/tiflash_recorder.go
  pkg/ddl/db_rename_test.go
  pkg/ddl/ddl_api.go
  pkg/domain/historical_stats.go
  pkg/executor/analyze.go
  pkg/executor/analyze_global_stats.go
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/metrics_schema.go
  pkg/infoschema/perfschema/init.go
  pkg/meta/meta.go
  pkg/meta/meta_test.go
  pkg/parser/model/model.go
  pkg/planner/core/access_object.go
  pkg/planner/core/foreign_key.go
  pkg/planner/core/pb_to_plan.go
  pkg/planner/core/preprocess.go
  pkg/server/handler/tikvhandler/tikv_handler.go
  pkg/session/session.go
  pkg/session/test/meta/session_test.go
  pkg/statistics/handle/ddl/exchange_partition.go
  pkg/statistics/handle/ddl/truncate_partition.go
  pkg/statistics/handle/usage/session_stats_collect.go
  pkg/table/temptable/ddl.go
  pkg/util/keydecoder/keydecoder.go
  pkg/util/keydecoder/keydecoder_test.go
Labels: size/L, release-note-none, approved, lgtm

#51032 parser: update to go1.19
  DEPS.bzl
  go.mod
  go.sum
  pkg/parser/go.mod
  pkg/parser/go.sum
Labels: size/M, release-note-none, approved, lgtm

#51015 infoschema: split InfoSchemaMisc from InfoSchema interface
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_test.go
Labels: size/L, release-note-none, approved, lgtm

#50977 expression: Support cast decimal as real push down to tiflash
  pkg/expression/expr_to_pb_test.go
  pkg/expression/infer_pushdown.go
Labels: size/XS, release-note-none, approved, lgtm

#46991 br: fix register_test failed error for flaky test
  br/pkg/utils/register_test.go
Labels: size/S, release-note-none, approved, lgtm

#50869 br/streamhelper: fix panic while removing task
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/utils/worker.go
Labels: release-note, size/M, ok-to-test, approved, lgtm

#51029 executor,planner: make used stats info thread safe
  pkg/executor/internal/exec/indexusage.go
  pkg/executor/internal/exec/indexusage_test.go
  pkg/planner/cardinality/trace.go
  pkg/planner/core/casetest/planstats/plan_stats_test.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/stats.go
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/session_test.go
Labels: size/L, release-note-none, approved, lgtm

#51050 metrics: tidb_statistics_auto_analyze_total should be int
  pkg/metrics/grafana/tidb.json
Labels: size/XS, release-note-none, approved, lgtm

#50834 stats, metrics: add and fix stats related grafana panel
  pkg/metrics/grafana/tidb.json
  pkg/metrics/metrics.go
  pkg/metrics/stats.go
  pkg/statistics/handle/cache/BUILD.bazel
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/usage/BUILD.bazel
  pkg/statistics/handle/usage/session_stats_collect.go
Labels: sig/planner, size/XL, release-note-none, skip-issue-check, approved, lgtm, needs-cherry-pick-release-7.5

#51035 planner: adding missing code of similar definition for test
  pkg/executor/benchmark_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#51025 expression: remove direct dependencies with `sessionctx.Context` for package `expression`
  pkg/expression/BUILD.bazel
  pkg/expression/aggregation/BUILD.bazel
  pkg/expression/aggregation/agg_to_pb.go
  pkg/expression/aggregation/aggregation.go
  pkg/expression/aggregation/aggregation_test.go
  pkg/expression/aggregation/base_func.go
  pkg/expression/aggregation/descriptor.go
  pkg/expression/aggregation/explain.go
  pkg/expression/aggregation/window_func.go
  pkg/expression/bench_test.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_cast_bench_test.go
  pkg/expression/builtin_compare.go
  pkg/expression/builtin_encryption_test.go
  pkg/expression/builtin_regexp_vec_const_test.go
  pkg/expression/builtin_test.go
  pkg/expression/builtin_time.go
  pkg/expression/builtin_time_test.go
  pkg/expression/builtin_vectorized_test.go
  pkg/expression/constant.go
  pkg/expression/constant_propagation.go
  pkg/expression/constant_test.go
  pkg/expression/distsql_builtin.go
  pkg/expression/evaluator_test.go
  pkg/expression/expression.go
  pkg/expression/helper.go
  pkg/expression/typeinfer_test.go
  pkg/expression/util.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/util/byitem.go
  pkg/sessionctx/variable/session.go
Labels: size/XL, release-note-none, approved, lgtm

#50928 planner: skip MDL when analyzing table
  pkg/ddl/tests/metadatalock/BUILD.bazel
  pkg/ddl/tests/metadatalock/mdl_test.go
  pkg/planner/core/preprocess.go
Labels: release-note, size/L, approved, lgtm

#51049 ddl: support create key partition with empty column | tidb-test=pr/2293
  pkg/ddl/partition.go
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/parser/model/model.go
  tests/integrationtest/r/ddl/partition.result
  tests/integrationtest/r/table/partition.result
  tests/integrationtest/t/ddl/partition.test
Labels: size/L, release-note-none, approved, lgtm

#51077 importinto: add disable_precheck option & change default threadcnt when import from select
  pkg/executor/importer/import.go
  pkg/executor/importer/import_test.go
  pkg/executor/importer/precheck.go
  pkg/executor/importer/precheck_test.go
  tests/realtikvtest/importintotest/precheck_test.go
Labels: size/M, release-note-none, approved, lgtm

#49930 ddl: forbid create `Generated column` with `Grouping` function
  pkg/ddl/generated_column.go
  tests/integrationtest/r/ddl/db_integration.result
  tests/integrationtest/t/ddl/db_integration.test
Labels: size/S, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#51095 *: upgrade rules_go
  WORKSPACE
Labels: size/S, release-note-none, approved, lgtm

#50939 mock: add more mock to avoid dm ci failed
  pkg/ddl/schematracker/BUILD.bazel
  pkg/ddl/schematracker/dm_tracker_test.go
  pkg/util/mock/context.go
Labels: size/S, release-note-none, approved, lgtm

#51105 br/streamhelper: fix panic while removing task (#50869)
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
  br/pkg/utils/worker.go
  tablecodec/BUILD.bazel
Labels: release-note, size/L, approved, lgtm

#50871 import into: log checksum for each KV group
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/common/BUILD.bazel
  br/pkg/lightning/common/util.go
  br/pkg/lightning/common/util_test.go
  br/pkg/lightning/config/BUILD.bazel
  br/pkg/lightning/config/config_test.go
  br/pkg/lightning/verification/BUILD.bazel
  br/pkg/lightning/verification/checksum.go
  br/pkg/lightning/verification/checksum_test.go
  pkg/disttask/importinto/planner.go
  pkg/disttask/importinto/planner_test.go
  pkg/disttask/importinto/proto.go
  pkg/disttask/importinto/subtask_executor.go
  pkg/disttask/importinto/task_executor.go
  pkg/disttask/importinto/task_executor_testkit_test.go
  pkg/executor/importer/chunk_process.go
  pkg/executor/importer/chunk_process_testkit_test.go
  pkg/executor/importer/engine_process.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/importer/table_import.go
Labels: size/XXL, release-note-none, approved, lgtm

#49018 design: Priority Queue for Auto Analyze
  docs/design/2023-11-29-priority-queue-for-auto-analyze.md
  docs/design/imgs/analyze-dataflow.png
Labels: sig/planner, component/statistics, size/XL, release-note-none, skip-issue-check, approved, lgtm

#51108 ddl, lightning: use TiDB PD client's discovery to create local backend
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/backend/local/localhelper.go
  br/pkg/lightning/backend/local/localhelper_test.go
  br/pkg/lightning/importer/import.go
  br/pkg/lightning/importer/precheck.go
  br/pkg/lightning/importer/precheck_impl.go
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/index.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/backend_mgr.go
  pkg/ddl/ingest/mock.go
  pkg/executor/importer/table_import.go
Labels: size/L, release-note-none, approved, lgtm

#51115 ddl: update TestDefaultColumnWithReplace error code
  pkg/ddl/db_integration_test.go
Labels: size/XS, release-note-none, approved, lgtm

#51127 dumpling: add min tls version config item
  dumpling/export/config.go
  pkg/util/security.go
  pkg/util/security_test.go
Labels: size/M, release-note-none, component/dumpling, approved, lgtm

#51072 disttask: fix subtask cannot resume after upgrade
  pkg/disttask/framework/storage/task_table.go
  pkg/session/BUILD.bazel
  pkg/session/sync_upgrade.go
Labels: size/M, release-note-none, approved, lgtm

#51139 statistics: fix the test case by increase the time interval
  pkg/statistics/handle/autoanalyze/priorityqueue/job_test.go
Labels: size/S, release-note-none, approved, lgtm

#51123 statistics: skip create pseudo stats for partitions
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/types/interfaces.go
Labels: sig/planner, component/statistics, size/S, release-note-none, approved, lgtm

#50658 ddl: split range group for each index separately for global sort import
  br/pkg/lightning/backend/external/writer.go
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_dist_scheduler_test.go
  pkg/ddl/backfilling_import_cloud.go
  pkg/ddl/backfilling_merge_sort.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_read_index.go
Labels: size/XL, release-note-none, approved, lgtm

#51137 log_backup: added more info for slow regions in log backup advancer
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/regioniter.go
  pkg/metrics/log_backup.go
Labels: size/M, release-note-none, approved, lgtm

#51170 storage: local storage tolerates broken symlink when Walk
  br/pkg/storage/local.go
  br/pkg/storage/local_test.go
Labels: size/S, release-note-none, approved, lgtm

#51037 ddl/ingest: fix local flush logic for multi-schema change
  pkg/ddl/index.go
  pkg/ddl/ingest/checkpoint.go
  pkg/ddl/ingest/checkpoint_test.go
  pkg/ddl/reorg.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#51192 planner: fix typos and add more comments
  pkg/planner/core/rule_semi_join_rewrite.go
  pkg/planner/optimize.go
Labels: sig/planner, size/S, release-note-none, skip-issue-check, approved, lgtm

#51160 resource_control: dont check runaway after resp
  pkg/ddl/tests/resourcegroup/resource_group_test.go
  pkg/domain/resourcegroup/runaway.go
  pkg/store/copr/coprocessor.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#51164 *: support use like to build range for new collation columns
  pkg/executor/point_get.go
  pkg/planner/core/casetest/index/index_test.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/testdata/index_merge_suite_out.json
  pkg/util/ranger/BUILD.bazel
  pkg/util/ranger/checker.go
  pkg/util/ranger/detacher.go
  pkg/util/ranger/points.go
  pkg/util/ranger/ranger.go
  pkg/util/ranger/ranger_test.go
  pkg/util/ranger/types.go
  tests/integrationtest/r/explain_easy.result
  tests/integrationtest/r/expression/charset_and_collation.result
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_derive_topn_from_window.result
  tests/integrationtest/r/planner/core/indexmerge_path.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/r/planner/core/range_scan_for_like.result
  tests/integrationtest/t/planner/core/integration.test
  tests/integrationtest/t/planner/core/range_scan_for_like.test
Labels: Priority/P0, cherry-pick-approved, size/XXL, release-note-none, approved, lgtm

#47677 session/variable: forbid changing @@global.require_secure_transport to 'on' with SEM enabled
  pkg/sessionctx/sessionstates/BUILD.bazel
  pkg/sessionctx/sessionstates/session_states_test.go
  pkg/sessionctx/variable/sysvar.go
Labels: release-note, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#51017 br: update readme.md in br
  br/CONTRIBUTING.md
  br/README.md
Labels: size/S, release-note-none, approved, lgtm

#51208 planner: fix ExtractCorrelatedCols method in PhysicalTableScan (cherry-pick #51205)
  pkg/planner/core/physical_plans.go
Labels: release-note, size/XS, cherry-pick-approved, approved, lgtm

#51136 disttask: unify task order naming to 'rank' & refactor failpoint
  pkg/disttask/framework/handle/BUILD.bazel
  pkg/disttask/framework/handle/handle_test.go
  pkg/disttask/framework/integrationtests/framework_pause_and_resume_test.go
  pkg/disttask/framework/integrationtests/framework_role_test.go
  pkg/disttask/framework/integrationtests/framework_rollback_test.go
  pkg/disttask/framework/integrationtests/framework_test.go
  pkg/disttask/framework/proto/task.go
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_manager.go
  pkg/disttask/framework/scheduler/scheduler_test.go
  pkg/disttask/framework/scheduler/slots.go
  pkg/disttask/framework/scheduler/slots_test.go
  pkg/disttask/framework/storage/BUILD.bazel
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/task_executor_testkit_test.go
  pkg/disttask/framework/testutil/BUILD.bazel
  pkg/disttask/framework/testutil/context.go
  pkg/disttask/framework/testutil/table_util.go
  pkg/disttask/importinto/scheduler_testkit_test.go
  tests/realtikvtest/importintotest/detach_test.go
  tests/realtikvtest/importintotest/import_into_test.go
  tests/realtikvtest/importintotest/job_test.go
  tests/realtikvtest/importintotest/one_parquet_test.go
  tests/realtikvtest/importintotest/util_test.go
  tests/realtikvtest/importintotest2/BUILD.bazel
  tests/realtikvtest/importintotest2/from_select_test.go
  tests/realtikvtest/importintotest2/main_test.go
  tests/realtikvtest/importintotest3/BUILD.bazel
  tests/realtikvtest/importintotest3/main_test.go
  tests/realtikvtest/importintotest4/BUILD.bazel
  tests/realtikvtest/importintotest4/global_sort_test.go
  tests/realtikvtest/importintotest4/main_test.go
Labels: size/XL, release-note-none, approved, lgtm

#51197 *: recalculate the threshold of gctuner when ServerMemoryLimit is updated
  pkg/sessionctx/variable/sysvar.go
Labels: size/XS, release-note-none, approved, lgtm

#50887 bootstrap, br: add `sys.schema_unused_indexes` view | tidb-test=pr/2287
  br/pkg/backup/schema_test.go
  br/pkg/restore/BUILD.bazel
  br/pkg/restore/client.go
  br/pkg/restore/db_test.go
  br/pkg/restore/systable_restore.go
  br/pkg/task/restore_test.go
  br/pkg/utils/schema.go
  br/tests/_utils/make_tiflash_config
  br/tests/br_backup_version/run.sh
  pkg/ddl/db_test.go
  pkg/ddl/ddl_api.go
  pkg/ddl/tiflash_replica_test.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/infoschema_cluster_table_test.go
  pkg/infoschema/test/clustertablestest/BUILD.bazel
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
  pkg/parser/mysql/const.go
  pkg/server/handler/tests/http_handler_test.go
  pkg/session/bootstrap.go
  pkg/statistics/handle/storage/dump_test.go
  pkg/telemetry/BUILD.bazel
  pkg/telemetry/data_feature_usage_test.go
  pkg/util/misc.go
  pkg/util/sem/sem.go
  tests/integrationtest/r/executor/infoschema_reader.result
Labels: release-note, size/XL, approved, lgtm

#51201 importinto/lightning: fix incorrect datatime value for zero date
  br/pkg/lightning/backend/kv/session.go
  tests/realtikvtest/importintotest/import_into_test.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#51113 util: Adjust binary collate behavior to do pattern matching in bytes
  pkg/executor/test/issuetest/BUILD.bazel
  pkg/executor/test/issuetest/executor_issue_test.go
  pkg/privilege/privileges/cache.go
  pkg/util/collate/bin.go
  pkg/util/collate/collate.go
  pkg/util/collate/collate_bench_test.go
  pkg/util/collate/collate_test.go
  pkg/util/collate/gbk_bin.go
  pkg/util/collate/gbk_chinese_ci.go
  pkg/util/collate/general_ci.go
  pkg/util/collate/unicode_0400_ci_impl.go
  pkg/util/collate/unicode_0900_ai_ci_impl.go
  pkg/util/stringutil/string_util.go
Labels: size/L, release-note-none, approved, lgtm

#51219 planner: allow read from TiKV for `sys` schema when `tidb_isolation_read_engines` is set to tiflash
  pkg/planner/core/planbuilder.go
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/t/planner/core/integration.test
Labels: size/S, release-note-none, approved, lgtm

#51205 planner: fix ExtractCorrelatedCols method in PhysicalTableScan
  pkg/planner/core/physical_plan_test.go
  pkg/planner/core/physical_plans.go
Labels: release-note, size/M, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#51172 planner: replace context in planbuilder to PlanContext
  pkg/executor/executor.go
  pkg/executor/set.go
  pkg/executor/test/executor/executor_test.go
  pkg/lock/BUILD.bazel
  pkg/lock/context/BUILD.bazel
  pkg/lock/context/lockcontext.go
  pkg/lock/lock.go
  pkg/planner/BUILD.bazel
  pkg/planner/cardinality/BUILD.bazel
  pkg/planner/cardinality/row_count_column.go
  pkg/planner/cascades/BUILD.bazel
  pkg/planner/cascades/optimize.go
  pkg/planner/context/BUILD.bazel
  pkg/planner/context/context.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/common_plans.go
  pkg/planner/core/debugtrace.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/foreign_key.go
  pkg/planner/core/fragment.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/optimizer.go
  pkg/planner/core/pb_to_plan.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_cacheable_checker.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/preprocess.go
  pkg/planner/core/util.go
  pkg/planner/optimize.go
  pkg/planner/util/BUILD.bazel
  pkg/planner/util/expression.go
  pkg/sessionctx/BUILD.bazel
  pkg/sessionctx/context.go
  pkg/sessiontxn/isolation/optimistic.go
  pkg/sessiontxn/staleread/BUILD.bazel
  pkg/sessiontxn/staleread/processor.go
  pkg/sessiontxn/staleread/util.go
  pkg/table/column.go
  pkg/util/ranger/BUILD.bazel
  pkg/util/ranger/detacher.go
Labels: size/XL, release-note-none, approved, lgtm

#51182 disttask: add benchmark to test scheduler overhead
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/bench_test.go
  pkg/disttask/framework/integrationtests/framework_err_handling_test.go
  pkg/disttask/framework/integrationtests/framework_pause_and_resume_test.go
  pkg/disttask/framework/integrationtests/framework_role_test.go
  pkg/disttask/framework/integrationtests/framework_rollback_test.go
  pkg/disttask/framework/integrationtests/framework_test.go
  pkg/disttask/framework/integrationtests/resource_control_test.go
  pkg/disttask/framework/taskexecutor/main_test.go
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/testutil/context.go
  pkg/disttask/framework/testutil/disttest_util.go
  pkg/testkit/testkit.go
  tests/realtikvtest/importintotest/BUILD.bazel
  tests/realtikvtest/importintotest/import_into_test.go
  tests/realtikvtest/importintotest/util_test.go
  tests/realtikvtest/importintotest2/BUILD.bazel
  tests/realtikvtest/importintotest2/main_test.go
  tests/realtikvtest/importintotest3/BUILD.bazel
  tests/realtikvtest/importintotest3/main_test.go
  tests/realtikvtest/importintotest4/BUILD.bazel
  tests/realtikvtest/importintotest4/main_test.go
Labels: size/XL, release-note-none, approved, lgtm

#51195 statistics: check if stats is nil
  pkg/statistics/handle/autoanalyze/autoanalyze.go
Labels: sig/planner, component/statistics, size/S, release-note-none, approved, lgtm

#51216 variable: fix setting tidb_enable_tso_follower_proxy with TSO service
  DEPS.bzl
  go.mod
  go.sum
  pkg/domain/domain_sysvars.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: release-note, size/M, approved, lgtm

#50992 parser, ddl: data type default values support `UPPER(SUBSTRING_INDEX(user(),'@',1))`
  pkg/ddl/db_integration_test.go
  pkg/ddl/ddl_api.go
  pkg/parser/parser_test.go
Labels: size/L, release-note-none, approved, lgtm

#51224 executor: introduce `AggFuncUpdateContext` and `AggFuncBuildContext` to evaluate and build aggeration functions
  pkg/executor/aggfuncs/BUILD.bazel
  pkg/executor/aggfuncs/aggfuncs.go
  pkg/executor/aggfuncs/builder.go
  pkg/executor/aggfuncs/func_avg.go
  pkg/executor/aggfuncs/func_bitfuncs.go
  pkg/executor/aggfuncs/func_count.go
  pkg/executor/aggfuncs/func_count_distinct.go
  pkg/executor/aggfuncs/func_cume_dist.go
  pkg/executor/aggfuncs/func_first_row.go
  pkg/executor/aggfuncs/func_group_concat.go
  pkg/executor/aggfuncs/func_json_arrayagg.go
  pkg/executor/aggfuncs/func_json_objectagg.go
  pkg/executor/aggfuncs/func_lead_lag.go
  pkg/executor/aggfuncs/func_max_min.go
  pkg/executor/aggfuncs/func_ntile.go
  pkg/executor/aggfuncs/func_percent_rank.go
  pkg/executor/aggfuncs/func_percentile.go
  pkg/executor/aggfuncs/func_rank.go
  pkg/executor/aggfuncs/func_stddevpop.go
  pkg/executor/aggfuncs/func_stddevsamp.go
  pkg/executor/aggfuncs/func_sum.go
  pkg/executor/aggfuncs/func_value.go
  pkg/executor/aggfuncs/func_varpop.go
  pkg/executor/aggfuncs/func_varsamp.go
  pkg/executor/aggfuncs/row_number.go
  pkg/executor/aggregate/agg_hash_base_worker.go
  pkg/executor/aggregate/agg_hash_executor.go
Labels: size/XXL, release-note-none, approved, lgtm

#51045 statistics: build the table analysis job queue
  pkg/executor/test/analyzetest/BUILD.bazel
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/executor/test/analyzetest/memorycontrol/BUILD.bazel
  pkg/executor/test/analyzetest/memorycontrol/memory_control_test.go
  pkg/statistics/BUILD.bazel
  pkg/statistics/handle/autoanalyze/BUILD.bazel
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/autoanalyze/exec/BUILD.bazel
  pkg/statistics/handle/autoanalyze/exec/exec.go
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/calculator.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
  pkg/statistics/handle/updatetest/BUILD.bazel
  pkg/statistics/handle/updatetest/update_test.go
  pkg/statistics/integration_test.go
  pkg/ttl/ttlworker/BUILD.bazel
  pkg/ttl/ttlworker/job_manager_integration_test.go
Labels: sig/planner, component/statistics, size/XXL, release-note-none, approved, lgtm

#50941 ebs br: handle tag limit exceed issue
  br/pkg/aws/ebs.go
Labels: size/XS, release-note-none, approved, lgtm

#51193 lightning: don't check TiKV free space after v8.0.0
  br/pkg/lightning/backend/local/local.go
  br/pkg/lightning/common/retry.go
  br/pkg/lightning/tikv/tikv.go
Labels: size/M, release-note-none, approved, lgtm

#51244 statistics: remove unnecessary copy in the baseCollector
  pkg/statistics/row_sampler.go
Labels: size/XS, release-note-none, approved, lgtm

#51247 ddl: move backend register from backfillDistExecutor to its StepExecutor
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/backfilling_import_cloud.go
  pkg/ddl/backfilling_merge_sort.go
  pkg/ddl/backfilling_read_index.go
  pkg/ddl/index.go
  pkg/ddl/ingest/backend.go
  pkg/ddl/ingest/backend_mgr.go
  pkg/ddl/ingest/config.go
  pkg/ddl/ingest/mock.go
Labels: size/L, release-note-none, approved, lgtm

#51238 bootstrap: don't create sys schema for upgrade
  pkg/session/bootstrap.go
Labels: size/XS, release-note-none, approved, lgtm

#51245 planner: remove useless variable
  pkg/planner/core/task.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#50987 disttask: rollback subtasks without init taskexecutor
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/manager_test.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
Labels: size/L, release-note-none, approved, lgtm

#51203 planner,executor: fix join resolveIndex won't find its column from children schema & amend join's lused and rused logic for reversed column ref from join schema to its children
  pkg/executor/benchmark_test.go
  pkg/executor/builder.go
  pkg/executor/joiner.go
  pkg/executor/test/tiflashtest/tiflash_test.go
  pkg/planner/cascades/optimize.go
  pkg/planner/core/casetest/testdata/integration_suite_out.json
  pkg/planner/core/plan.go
  pkg/planner/core/resolve_indices.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_max_min_eliminate.go
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/t/planner/core/casetest/integration.test
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-7.5

#51253 br, lightning: change PD address type to []string in NewPdController
  br/pkg/conn/conn.go
  br/pkg/lightning/importer/import.go
  br/pkg/pdutil/pd.go
  br/pkg/task/common.go
  br/pkg/task/operator/cmd.go
  br/pkg/task/restore_ebs_meta.go
Labels: size/M, release-note-none, approved, lgtm

#51231 disttask: extract task/subtask base
  pkg/ddl/backfilling_dist_scheduler_test.go
  pkg/disttask/framework/mock/scheduler_mock.go
  pkg/disttask/framework/mock/task_executor_mock.go
  pkg/disttask/framework/proto/subtask.go
  pkg/disttask/framework/proto/subtask_test.go
  pkg/disttask/framework/proto/task.go
  pkg/disttask/framework/proto/task_test.go
  pkg/disttask/framework/scheduler/balancer.go
  pkg/disttask/framework/scheduler/balancer_test.go
  pkg/disttask/framework/scheduler/collector.go
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/scheduler_manager.go
  pkg/disttask/framework/scheduler/scheduler_nokit_test.go
  pkg/disttask/framework/scheduler/slots.go
  pkg/disttask/framework/scheduler/slots_test.go
  pkg/disttask/framework/storage/converter.go
  pkg/disttask/framework/storage/subtask_state.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/storage/task_table_test.go
  pkg/disttask/framework/taskexecutor/interface.go
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/manager_test.go
  pkg/disttask/framework/taskexecutor/slot.go
  pkg/disttask/framework/taskexecutor/slot_test.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
  pkg/disttask/importinto/BUILD.bazel
  pkg/disttask/importinto/scheduler_test.go
  pkg/disttask/importinto/scheduler_testkit_test.go
  pkg/disttask/importinto/subtask_executor_test.go
  pkg/disttask/importinto/task_executor_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#51242 ddl, disttask: add scan-region check before dispatch subtasks
  pkg/ddl/backfilling_dist_scheduler.go
Labels: size/M, release-note-none, approved, lgtm

#51058 infoschema,domain: introduce InfoSchemaV2, core data struct etc
  DEPS.bzl
  br/pkg/restore/db_test.go
  go.mod
  go.sum
  pkg/ddl/options_test.go
  pkg/ddl/placement_policy_ddl_test.go
  pkg/ddl/syncer/state_syncer_test.go
  pkg/ddl/syncer/syncer_test.go
  pkg/domain/domain.go
  pkg/domain/ru_stats_test.go
  pkg/executor/slow_query_test.go
  pkg/executor/stmtsummary_test.go
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/builder.go
  pkg/infoschema/cache.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/test/cachetest/cache_test.go
  pkg/owner/manager_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#51262 table: standalone implement for `table.MutateContext` and `table.AllocatorContext`
  br/pkg/lightning/backend/kv/BUILD.bazel
  br/pkg/lightning/backend/kv/base.go
  br/pkg/lightning/backend/kv/kv2sql_test.go
  br/pkg/lightning/backend/kv/session.go
  br/pkg/lightning/backend/kv/sql2kv.go
  br/pkg/lightning/backend/kv/sql2kv_test.go
  br/pkg/lightning/errormanager/errormanager.go
  br/pkg/lightning/errormanager/errormanager_test.go
  br/pkg/lightning/errormanager/resolveconflict_test.go
  pkg/ddl/column_change_test.go
  pkg/ddl/column_test.go
  pkg/ddl/db_table_test.go
  pkg/ddl/ddl_api.go
  pkg/ddl/index.go
  pkg/ddl/index_change_test.go
  pkg/ddl/schema_test.go
  pkg/ddl/stat_test.go
  pkg/ddl/table.go
  pkg/ddl/table_test.go
  pkg/executor/admin.go
  pkg/executor/delete.go
  pkg/executor/distsql_test.go
  pkg/executor/executor.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/importer/kv_encode.go
  pkg/executor/infoschema_reader.go
  pkg/executor/insert_common.go
  pkg/executor/show.go
  pkg/executor/test/admintest/admin_test.go
  pkg/executor/test/ddl/ddl_test.go
  pkg/executor/test/executor/executor_test.go
  pkg/executor/test/writetest/write_test.go
  pkg/executor/write.go
  pkg/session/BUILD.bazel
  pkg/session/bootstrap_test.go
  pkg/session/session.go
  pkg/sessionctx/BUILD.bazel
  pkg/sessionctx/context.go
  pkg/table/BUILD.bazel
  pkg/table/context/BUILD.bazel
  pkg/table/context/table.go
  pkg/table/contextimpl/BUILD.bazel
  pkg/table/contextimpl/table.go
  pkg/table/table.go
  pkg/table/tables/index_test.go
  pkg/table/tables/partition.go
  pkg/table/tables/tables.go
  pkg/table/tables/tables_test.go
  pkg/table/tables/test/partition/partition_test.go
  pkg/util/mock/BUILD.bazel
  pkg/util/mock/context.go
Labels: size/XXL, release-note-none, approved, lgtm

#51271 executor: refine topn
  pkg/executor/sortexec/sort.go
  pkg/executor/sortexec/topn.go
Labels: size/M, release-note-none, approved, lgtm

#51266 *: upgrade staticcheck
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#51284 executor: avoid prealloc too big slice for indexMerge
  pkg/executor/index_merge_reader.go
  tests/integrationtest/r/executor/index_merge_reader.result
  tests/integrationtest/t/executor/index_merge_reader.test
Labels: size/S, release-note-none, approved, lgtm

#51297 br: fix printf can tolerate type change
  br/pkg/conn/conn.go
Labels: size/XS, release-note-none, approved, lgtm

#51314 planner: add more test cases for plan cache with generated columns
  pkg/planner/core/indexmerge_path_test.go
Labels: size/M, release-note-none, approved, lgtm

#50523 executor, infoschema: add ticdc into table cluster_info
  pkg/domain/infosync/info.go
  pkg/executor/infoschema_cluster_table_test.go
  pkg/executor/infoschema_reader_test.go
  pkg/executor/inspection_result_test.go
  pkg/executor/memtable_reader.go
  pkg/executor/memtable_reader_test.go
  pkg/infoschema/tables.go
Labels: release-note, size/L, approved, lgtm

#51305 br/streamhelper: fix panic while removing task (#50869)
  br/pkg/streamhelper/BUILD.bazel
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/advancer_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
  br/pkg/utils/worker.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#49705 executor: Support Parallel Sort
  pkg/executor/sortexec/BUILD.bazel
  pkg/executor/sortexec/parallel_sort_test.go
  pkg/executor/sortexec/parallel_sort_worker.go
  pkg/executor/sortexec/sort.go
  pkg/executor/sortexec/sort_partition.go
  pkg/executor/sortexec/sort_spill.go
  pkg/executor/sortexec/sort_spill_test.go
  pkg/executor/sortexec/sort_util.go
  pkg/executor/sortexec/sortexec_pkg_test.go
  pkg/executor/sortexec/topn.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/XXL, release-note-none, approved, lgtm

#51128 planner, executor: enhance the index join's choice
  pkg/executor/builder.go
  pkg/planner/core/exhaust_physical_plans.go
  tests/integrationtest/r/planner/core/indexjoin.result
  tests/integrationtest/t/planner/core/indexjoin.test
Labels: size/L, release-note-none, approved, lgtm

#51071 disttask: refine manager retry
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/manager_test.go
Labels: size/M, release-note-none, approved, lgtm

#51076 parser, ddl: data type default values support `DATE_FORMAT(NOW(),'%Y-%m...')`
  pkg/ddl/db_integration_test.go
  pkg/ddl/ddl_api.go
  pkg/parser/parser_test.go
Labels: size/L, release-note-none, approved, lgtm

#51323 planner: add more test cases for plan cache with generated columns
  pkg/planner/core/indexmerge_path_test.go
Labels: size/L, release-note-none, approved, lgtm

#51152 statistics: build the table analysis job queue part2
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
Labels: sig/planner, component/statistics, size/XL, release-note-none, approved, lgtm

#51241 disttask: enlarge max-concurrent-task and optimize scheduler/executor loop
  pkg/disttask/framework/handle/handle.go
  pkg/disttask/framework/handle/handle_test.go
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/bench_test.go
  pkg/disttask/framework/integrationtests/framework_ha_test.go
  pkg/disttask/framework/mock/scheduler_mock.go
  pkg/disttask/framework/mock/task_executor_mock.go
  pkg/disttask/framework/proto/subtask.go
  pkg/disttask/framework/proto/task.go
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/taskexecutor/execute/interface.go
  pkg/disttask/framework/taskexecutor/interface.go
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/manager_test.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
  pkg/disttask/framework/testutil/disttest_util.go
  pkg/disttask/importinto/task_executor.go
  pkg/util/misc.go
Labels: size/XL, release-note-none, approved, lgtm

#51278 ddl: data type default values support `STR_TO_DATE('1980-01-01','%Y-%m-%d')`
  pkg/ddl/db_integration_test.go
  pkg/ddl/ddl_api.go
  pkg/executor/show.go
  pkg/parser/parser_test.go
Labels: size/L, release-note-none, approved, lgtm

#51270 bootstrap: aggregate the unused index across multiple nodes
  pkg/session/bootstrap.go
Labels: size/XS, release-note-none, approved, lgtm

#51287 statistics: use correct last update version
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
Labels: size/L, release-note-none, approved, lgtm

#50874 planner/infoschema: support push down lower to some memtables
  pkg/executor/infoschema_reader.go
  pkg/planner/core/memtable_predicate_extractor.go
  pkg/planner/core/memtable_predicate_extractor_test.go
  pkg/statistics/handle/cache/stats_table_row_cache.go
  pkg/util/set/string_set.go
  tests/integrationtest/r/executor/explainfor.result
  tests/integrationtest/r/executor/infoschema_reader.result
  tests/integrationtest/r/infoschema/infoschema.result
  tests/integrationtest/t/executor/explainfor.test
  tests/integrationtest/t/executor/infoschema_reader.test
  tests/integrationtest/t/infoschema/infoschema.test
Labels: size/XL, release-note-none, approved, lgtm

#51279 disttask: refine planErr state transition
  pkg/disttask/framework/integrationtests/framework_err_handling_test.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/testutil/scheduler_util.go
  tests/realtikvtest/importintotest4/global_sort_test.go
Labels: size/M, release-note-none, approved, lgtm

#51293 executor: make `checksum` block gc
  pkg/executor/adapter.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#51349 license: ignore checking license on `pkg/extension/enterprise/`
  .github/licenserc.yml
Labels: size/XS, release-note-none, approved, lgtm

#51335 importinto: remove separate wait routine in detached mode and refactor
  pkg/disttask/framework/handle/handle.go
  pkg/disttask/importinto/job.go
  pkg/disttask/importinto/scheduler.go
  pkg/disttask/importinto/task_executor.go
  pkg/executor/import_into.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/import.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/importer/progress.go
  pkg/executor/importer/table_import.go
  pkg/executor/importer/table_import_testkit_test.go
  pkg/metrics/disttask.go
  tests/realtikvtest/importintotest/detach_test.go
  tests/realtikvtest/importintotest/import_into_test.go
  tests/realtikvtest/importintotest/job_test.go
  tests/realtikvtest/importintotest/one_parquet_test.go
  tests/realtikvtest/importintotest3/BUILD.bazel
  tests/realtikvtest/importintotest3/from_server_test.go
Labels: size/XL, release-note-none, approved, lgtm

#51261 ddl: let tidb_ddl_reorg_worker_cnt controls fast DDL local backend concurrency
  pkg/ddl/ingest/config.go
Labels: release-note, size/XS, approved, lgtm

#51185 ddl: add privilege check for admin bdr commands
  pkg/executor/simple.go
  pkg/planner/core/planbuilder.go
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/ddl/bdr_mode.test
  tests/integrationtest/t/privilege/privileges.test
Labels: size/M, release-note-none, approved, lgtm

#51357 statistics: fix panic when to enable force-init-stats
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/BUILD.bazel
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/handletest/statstest/BUILD.bazel
  pkg/statistics/handle/handletest/statstest/stats_test.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#51351 planner: introduce a interface for binding cache
  pkg/bindinfo/binding_cache.go
  pkg/bindinfo/binding_cache_test.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/session_handle.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#51355 planner: fix flaky test TestPhysicalTableScanExtractCorrelatedCols
  pkg/planner/core/physical_plan_test.go
  pkg/planner/core/tiflash_selection_late_materialization.go
Labels: size/M, release-note-none, approved, lgtm

#51363 util/ranger: do not convert to binary collate for string values when `convertToSortKey` is `false`
  pkg/util/ranger/detacher.go
  pkg/util/ranger/ranger.go
  tests/integrationtest/r/planner/core/casetest/partition/integration_partition.result
  tests/integrationtest/t/planner/core/casetest/partition/integration_partition.test
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-7.5

#51342 executor: fix data race in hash agg ut
  pkg/executor/aggregate/agg_hash_executor.go
Labels: size/S, release-note-none, approved, lgtm

#51374 tools/check: adpot staged build to make ut a little bit faster
  tools/check/go-compile-without-link.sh
  tools/check/ut.go
Labels: size/M, release-note-none, approved, lgtm

#47208 partition: fix exchange partition validition check for null value
  pkg/ddl/partition.go
  pkg/ddl/tests/partition/BUILD.bazel
  pkg/ddl/tests/partition/db_partition_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#51309 table: fix issue of get default value from column when column doesn't have default value | tidb-test=pr/2305
  pkg/ddl/db_integration_test.go
  pkg/errctx/context.go
  pkg/executor/insert_common.go
  pkg/executor/test/executor/executor_test.go
  pkg/planner/core/planbuilder.go
  pkg/table/BUILD.bazel
  pkg/table/column.go
Labels: type/bug-fix, size/L, release-note-none, approved, lgtm

#51375 infoschema: run some infoschema ut without domain
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/infoschema_test.go
Labels: size/L, release-note-none, approved, lgtm

#51047 ddl: rename tidb_ddl_version to tidb_enable_fast_create_table
  pkg/ddl/ddl.go
  pkg/ddl/ddl_worker.go
  pkg/ddl/job_table.go
  pkg/ddl/table.go
  pkg/ddl/tests/fastcreatetable/BUILD.bazel
  pkg/ddl/tests/fastcreatetable/fastcreatetable_test.go
  pkg/ddl/tests/fastcreatetable/main_test.go
  pkg/parser/model/ddl.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: size/L, release-note-none, approved, lgtm

#51378 ddl: cleaning up `show status` unused fields
  pkg/ddl/restart_test.go
  pkg/ddl/schema_test.go
  pkg/ddl/stat.go
  pkg/ddl/stat_test.go
Labels: release-note, size/L, approved, lgtm

#51321 ddl: add sql-mode field in ddl job to make ticdc parse correctly
  pkg/ddl/ddl_api.go
  pkg/ddl/multi_schema_change.go
  pkg/parser/model/ddl.go
  pkg/parser/model/ddl_test.go
Labels: size/M, release-note-none, approved, lgtm

#51382 planner: seperate methods in `PlanContext` and `EvalContext`/`BuildContext`
  br/pkg/lightning/backend/kv/session.go
  pkg/executor/aggfuncs/func_group_concat_test.go
  pkg/executor/merge_join.go
  pkg/planner/cardinality/selectivity.go
  pkg/planner/cardinality/trace.go
  pkg/planner/cascades/transformation_rules.go
  pkg/planner/context/context.go
  pkg/planner/contextimpl/BUILD.bazel
  pkg/planner/contextimpl/impl.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/exhaust_physical_plans_test.go
  pkg/planner/core/explain.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/indexmerge_path.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans.go
  pkg/planner/core/optimizer.go
  pkg/planner/core/pb_to_plan.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_cache.go
  pkg/planner/core/plan_to_pb.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/point_get_plan.go
  pkg/planner/core/resolve_indices.go
  pkg/planner/core/rule_aggregation_elimination.go
  pkg/planner/core/rule_aggregation_push_down.go
  pkg/planner/core/rule_aggregation_skew_rewrite.go
  pkg/planner/core/rule_build_key_info.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_decorrelate.go
  pkg/planner/core/rule_derive_topn_from_window.go
  pkg/planner/core/rule_eliminate_projection.go
  pkg/planner/core/rule_generate_column_substitute.go
  pkg/planner/core/rule_inject_extra_projection.go
  pkg/planner/core/rule_join_reorder.go
  pkg/planner/core/rule_join_reorder_dp.go
  pkg/planner/core/rule_max_min_eliminate.go
  pkg/planner/core/rule_partition_processor.go
  pkg/planner/core/rule_predicate_push_down.go
  pkg/planner/core/rule_predicate_simplification.go
  pkg/planner/core/rule_semi_join_rewrite.go
  pkg/planner/core/rule_topn_push_down.go
  pkg/planner/core/runtime_filter.go
  pkg/planner/core/stats.go
  pkg/planner/core/task.go
  pkg/planner/core/tiflash_selection_late_materialization.go
  pkg/planner/core/util.go
  pkg/planner/util/path.go
  pkg/session/bootstrap_test.go
  pkg/session/contextimpl.go
  pkg/session/session.go
  pkg/util/ranger/detacher.go
  pkg/util/ranger/points.go
Labels: size/XXL, release-note-none, approved, lgtm

#51329 planner: remove the limitation that predicates can't be pushed through `Projection` on `TableDual`
  pkg/planner/core/logical_plans.go
  pkg/planner/core/rule_predicate_push_down.go
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/t/planner/core/casetest/integration.test
Labels: size/M, release-note-none, approved, lgtm
