Repository pingcap/tidb, pull requests merged in 2024-10, with the labels that each got.

#56441 executor: track the memory usage for building range in IndexLookUpExecutor | tidb-test=2eb0d03843bfec7539602dada4f96ea2ee982c0e
  pkg/distsql/request_builder.go
  pkg/executor/distsql.go
  pkg/executor/executor_pkg_test.go
Labels: size/S, release-note-none, approved, lgtm

#56461 expression: handle invalid date time properly | tidb-test=pr/2408
  pkg/expression/builtin_time.go
  pkg/store/mockstore/unistore/cophandler/mpp_exec.go
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/t/expression/issues.test
Labels: size/M, release-note-none, approved, lgtm

#54127 executor: reduce memory allocation in the initialization of hash agg executor
  pkg/executor/aggregate/agg_hash_executor.go
  pkg/executor/aggregate/agg_hash_final_worker.go
  pkg/executor/aggregate/agg_hash_partial_worker.go
  pkg/util/chunk/chunk.go
  pkg/util/chunk/column.go
Labels: size/M, release-note-none, approved, lgtm

#56465 *: remove `portgenerator` to cleanup codes
  .gitignore
  cmd/portgenerator/BUILD.bazel
  cmd/portgenerator/portgenerator.go
  tests/integrationtest/run-tests.sh
Labels: size/L, release-note-none, skip-issue-check, approved, lgtm

#56415 executor: fix data inconsistency after `load data ... replace into ...`
  pkg/executor/insert_common.go
  pkg/executor/test/loaddatatest/BUILD.bazel
  pkg/executor/test/loaddatatest/load_data_test.go
Labels: release-note, size/S, approved, lgtm

#56383 statistics: process DML changes in the new PQ
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/calculatoranalysis/calculator_analysis_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/worker_test.go
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/types/interfaces.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#55254 expression: implement vectorized evaluation for builtinVectorFloat32
  pkg/expression/BUILD.bazel
  pkg/expression/bench_test.go
  pkg/expression/builtin_vec_vec.go
  pkg/expression/builtin_vec_vec_test.go
  pkg/types/vector.go
Labels: size/XXL, release-note-none, approved, lgtm

#56470 planner: add more test cases for plan cache
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/others_test.go
  pkg/planner/core/plan_cache_rebuild_test.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/plan_clone_generator.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#56349 ddl: fix foreign key consistency under async commit
  pkg/ddl/foreign_key.go
  tests/realtikvtest/txntest/BUILD.bazel
  tests/realtikvtest/txntest/txn_test.go
Labels: release-note, size/M, approved, lgtm

#56418 executor: Provide the column_name, index_name in TIFLASH_INDEXES
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_test.go
  pkg/infoschema/tables.go
  pkg/meta/model/index.go
Labels: size/M, release-note-none, approved, lgtm

#56427 br: retry to flush checkpoint
  br/pkg/checkpoint/BUILD.bazel
  br/pkg/checkpoint/backup.go
  br/pkg/checkpoint/checkpoint.go
  br/pkg/checkpoint/checkpoint_test.go
  br/pkg/checkpoint/log_restore.go
  br/pkg/checkpoint/restore.go
Labels: size/L, release-note-none, approved, lgtm

#56435 statistics: handle DDL events in the new PQ
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2_ddl_handler.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2_ddl_handler_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#56469 executor: fix `set names` with `default_collation_for_utf8mb4` vars
  pkg/executor/set.go
  tests/integrationtest/r/new_character_set.result
  tests/integrationtest/t/new_character_set.test
Labels: size/M, release-note-none, approved, lgtm

#56238 executor: check kill signal for topn and parallel sort spill
  pkg/executor/sortexec/BUILD.bazel
  pkg/executor/sortexec/parallel_sort_spill_helper.go
  pkg/executor/sortexec/parallel_sort_worker.go
  pkg/executor/sortexec/sort.go
  pkg/executor/sortexec/sort_spill.go
  pkg/executor/sortexec/topn.go
  pkg/executor/sortexec/topn_chunk_heap.go
  pkg/executor/sortexec/topn_spill.go
  pkg/executor/sortexec/topn_spill_test.go
Labels: release-note, size/L, approved, lgtm

#56448 slowlog: print correct `Commit_primary_rpc_detail`
  pkg/util/execdetails/execdetails.go
  pkg/util/execdetails/execdetails_test.go
Labels: size/M, release-note-none, approved, lgtm

#56473 *: bump client-go to adopt cache for art
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#56468 *: Small refine for Vector Search related utils
  pkg/ddl/index.go
  pkg/executor/show.go
  pkg/meta/model/index.go
  pkg/sessionctx/variable/varsutil.go
Labels: size/M, release-note-none, approved, lgtm

#56420 ddl: abstract decode job args v1
  pkg/ddl/foreign_key_test.go
  pkg/ddl/table_test.go
  pkg/meta/model/job.go
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#56478 execdetails: Display vector search info in EXPLAIN ANALYZE
  pkg/util/execdetails/execdetails.go
  pkg/util/execdetails/execdetails_test.go
Labels: size/M, release-note-none, approved, lgtm

#56436 ddl: Stabilized TestRemovePartitioningAutoIDs test.
  pkg/ddl/tests/partition/db_partition_test.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#56487 br: use a unique session for checkpoint runner
  br/pkg/checkpoint/checkpoint.go
  br/pkg/checkpoint/checkpoint_test.go
  br/pkg/checkpoint/external_storage.go
  br/pkg/checkpoint/log_restore.go
  br/pkg/checkpoint/restore.go
  br/pkg/checkpoint/storage.go
  br/pkg/restore/log_client/client.go
  br/pkg/restore/snap_client/client.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
Labels: size/M, release-note-none, approved, lgtm

#56482 expression: remove unnecessary warnings for `AND/OR` expressions | tidb-test=pr/2409
  pkg/expression/builtin_op_vec.go
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/t/expression/issues.test
Labels: size/M, release-note-none, approved, lgtm

#56499 ddl: support add nonymous vector index when creating table
  pkg/ddl/create_table.go
  pkg/ddl/executor.go
  pkg/ddl/index_modify_test.go
Labels: size/S, release-note-none, approved, lgtm

#56497 executor: track the memory usage for building range in IndexLookUpExecutor
  pkg/distsql/request_builder.go
  pkg/executor/distsql.go
  pkg/executor/executor_pkg_test.go
Labels: size/S, release-note-none, approved, lgtm

#56424 planner: fix inner subq build process will ref-use outer's expand meta
  pkg/planner/core/expression_rewriter.go
  tests/integrationtest/r/executor/expand.result
  tests/integrationtest/t/executor/expand.test
Labels: sig/planner, release-note, size/L, ok-to-test, approved, lgtm

#56475 statistics,metrics: allow stats health to have finer granularity
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/metrics/metrics.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#56333 infoschema: only use old key in tableByID
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
  pkg/infoschema/infoschemav2_cache_test.go
  pkg/infoschema/internal/testkit.go
Labels: size/XL, release-note-none, approved, lgtm

#56503 *: replace exportloopref with copyloopvar
  .golangci.yml
  DEPS.bzl
  br/pkg/backup/prepare_snap/prepare.go
  br/pkg/metautil/metafile.go
  br/pkg/restore/data/data.go
  br/pkg/restore/split/client.go
  br/pkg/storage/gcs.go
  br/pkg/stream/stream_metas.go
  br/pkg/streamhelper/advancer.go
  br/pkg/utils/iter/combinator_types.go
  br/pkg/utils/retry_test.go
  build/BUILD.bazel
  build/linter/allrevive/analyzer.go
  build/linter/copyloopvar/BUILD.bazel
  build/linter/copyloopvar/analyzer.go
  build/linter/exportloopref/analyzer.go
  build/linter/gosec/analysis.go
  build/linter/noloopclosure/BUILD.bazel
  build/nogo_config.json
  go.mod
  go.sum
  lightning/pkg/importer/dup_detect.go
  lightning/pkg/importer/precheck_impl.go
  pkg/distsql/request_builder_test.go
  pkg/disttask/framework/proto/subtask_test.go
  pkg/executor/aggfuncs/func_max_min_test.go
  pkg/executor/aggfuncs/func_varpop_test.go
  pkg/executor/recover_test.go
  pkg/lightning/backend/external/iter.go
  pkg/lightning/backend/external/iter_test.go
  pkg/lightning/backend/external/merge.go
  pkg/lightning/backend/external/reader.go
  pkg/lightning/backend/external/split_test.go
  pkg/lightning/backend/external/util.go
  pkg/lightning/backend/local/duplicate.go
  pkg/lightning/backend/local/region_job_test.go
  pkg/lightning/mydump/region.go
  pkg/server/tests/commontest/tidb_test.go
  pkg/sessionctx/variable/session_test.go
  pkg/sessionctx/variable/varsutil_test.go
  pkg/store/helper/helper.go
  pkg/ttl/cache/infoschema.go
  pkg/types/json_path_expr_test.go
  pkg/types/parser_driver/value_expr_test.go
  pkg/util/extsort/disk_sorter.go
  pkg/util/sqlescape/utils_test.go
  tests/realtikvtest/addindextest2/global_sort_test.go
  tests/realtikvtest/addindextest3/ingest_test.go
Labels: size/L, release-note-none, approved, lgtm

#56512 domain: fix play replay dump cannot save the table in the foreign key's reference
  pkg/domain/extract.go
  pkg/domain/plan_replayer_dump.go
  pkg/server/handler/optimizor/BUILD.bazel
  pkg/server/handler/optimizor/plan_replayer_test.go
Labels: size/L, release-note-none, approved, lgtm

#56485 linter, executor: fix the `constructor` linter and add it to `BaseExecutor/BaseExecutorV2`
  build/linter/constructor/BUILD.bazel
  build/linter/constructor/analyzer.go
  build/linter/constructor/analyzer_test.go
  build/linter/constructor/testdata/src/github.com/pingcap/tidb/pkg/util/linter/constructor/BUILD.bazel
  build/linter/constructor/testdata/src/github.com/pingcap/tidb/pkg/util/linter/constructor/constructorflag.go
  build/linter/constructor/testdata/src/t/construct.go
  pkg/executor/builder.go
  pkg/executor/detach.go
  pkg/executor/detach_test.go
  pkg/executor/internal/exec/BUILD.bazel
  pkg/executor/internal/exec/executor.go
  pkg/executor/sortexec/topn_spill_test.go
  pkg/executor/test/seqtest/prepared_test.go
  pkg/kv/key_test.go
  pkg/statistics/handle/updatetest/update_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#56426 planner: some code clean after all logical op are migrated
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/core_init.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/operator/logicalop/base_logical_plan.go
  pkg/planner/core/operator/logicalop/logical_aggregation.go
  pkg/planner/core/operator/logicalop/logical_plans_misc.go
  pkg/planner/core/operator/logicalop/logical_sort.go
  pkg/planner/core/operator/logicalop/logical_top_n.go
  pkg/planner/core/rule_column_pruning.go
  pkg/planner/core/rule_topn_push_down.go
  pkg/planner/util/utilfuncp/BUILD.bazel
  pkg/planner/util/utilfuncp/func_pointer_misc.go
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm

#56519 stats: implement stats handler for DDL notifier part 2
  pkg/statistics/handle/ddl/subscriber.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#54334 planner: merge FullSchema and FullNames of subplans when rewriting "in (subquery)" to inner join
  pkg/planner/core/expression_rewriter.go
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: sig/planner, size/S, release-note-none, ok-to-test, approved, lgtm

#56521 executor: fix data inconsistency after `load data ... replace into ...` | tidb-test=e5f82b826aeb7e912c2d4dc36389960daac36d96
  executor/insert_common.go
  executor/write_test.go
Labels: size/S, do-not-merge/hold, release-note-none, ok-to-test, approved, lgtm

#56524 linter: enable defers linter in the govet
  build/BUILD.bazel
  build/nogo_config.json
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#56528 planner: add TPCC as a test case for index advisor
  pkg/planner/indexadvisor/BUILD.bazel
  pkg/planner/indexadvisor/indexadvisor_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#56534 testkit: unify the behavior for methods `MustXXXX`
  pkg/bindinfo/capture_test.go
  pkg/bindinfo/fuzzy_binding_test.go
  pkg/bindinfo/tests/bind_test.go
  pkg/statistics/handle/handletest/handle_test.go
  pkg/testkit/testkit.go
Labels: sig/planner, size/L, release-note-none, skip-issue-check, approved, lgtm

#56541 lightning: skip non-unique index when detect duplicate KV
  pkg/lightning/backend/local/duplicate.go
  pkg/lightning/backend/local/duplicate_test.go
Labels: size/M, release-note-none, approved, lgtm

#56526 stats: implement stats handler for DDL notifier part 3
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/drop_partition.go
  pkg/statistics/handle/ddl/exchange_partition.go
  pkg/statistics/handle/ddl/subscriber.go
  pkg/statistics/handle/ddl/truncate_partition.go
  pkg/statistics/handle/lockstats/lock_stats.go
  pkg/statistics/handle/lockstats/query_lock.go
  pkg/statistics/handle/lockstats/query_lock_test.go
  pkg/statistics/handle/lockstats/unlock_stats.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#56516 ttl: use a pessimistic transaction to finish the job
  pkg/ttl/ttlworker/BUILD.bazel
  pkg/ttl/ttlworker/job.go
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
  pkg/ttl/ttlworker/job_manager_test.go
  pkg/ttl/ttlworker/task_manager_test.go
Labels: release-note, size/L, approved, lgtm

#56444 br: fix flaky test br_txn
  br/pkg/rtree/BUILD.bazel
  br/pkg/rtree/rtree.go
  br/pkg/task/restore_txn.go
  br/tests/br_txn/client.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#56507 ddl: fix reorg handle not resumed after changing DDL owner
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_scheduler.go
  pkg/ddl/column_modify_test.go
  pkg/ddl/ingest/checkpoint.go
  pkg/ddl/ingest/checkpoint_test.go
  pkg/ddl/job_scheduler.go
  tests/realtikvtest/addindextest3/operator_test.go
Labels: size/L, release-note-none, approved, lgtm

#56527 domain: fix unexpected "infoschema v1/v2 switch" log
  pkg/domain/domain.go
Labels: size/S, release-note-none, approved, lgtm

#56538 statistics: reduce dumpStatsMaxDuration as 5min
  pkg/statistics/handle/usage/session_stats_collect.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#56540 ttl: fix a wrong ttl's job schedule for TTL table upgraded from 6.5
  pkg/executor/show.go
  pkg/meta/model/BUILD.bazel
  pkg/meta/model/table.go
  pkg/meta/model/table_test.go
  pkg/ttl/ttlworker/timer_sync.go
  pkg/ttl/ttlworker/timer_test.go
Labels: size/M, release-note-none, approved, lgtm

#56555 *: fix flaky test TestIndexUsageTable
  pkg/executor/infoschema_reader_test.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#56518 ttl: force to kill SQL in scan task when canceling TTL job/task
  pkg/ttl/session/BUILD.bazel
  pkg/ttl/session/session.go
  pkg/ttl/session/session_test.go
  pkg/ttl/ttlworker/scan.go
  pkg/ttl/ttlworker/scan_test.go
  pkg/ttl/ttlworker/session_test.go
Labels: release-note, size/L, approved, lgtm

#56492 br: avoid wrong warning
  br/pkg/utils/safe_point.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#56548 metrics: fix some panels of rc metrics that cannot show in the cluster deployed by the operator
  pkg/metrics/grafana/generate_json.sh
  pkg/metrics/grafana/tidb_resource_control.json
  pkg/metrics/grafana/tidb_resource_control.jsonnet
Labels: size/L, release-note-none, approved, lgtm

#56514 executor: fix mysql_insert_id() for "INSERT .. ON DUPLICATE KEY" statement
  pkg/executor/insert.go
  pkg/executor/insert_test.go
Labels: size/L, release-note-none, approved, lgtm

#56386 planner: remove the unused collectPredicateColumns flag
  pkg/planner/core/collect_column_stats_usage.go
Labels: sig/planner, size/L, approved, lgtm

#56434 br: add option to test encryption for all br int tests
  Makefile
  br/tests/BUILD.bazel
  br/tests/br_check_new_collocation_enable/run.sh
  br/tests/br_crypter/run.sh
  br/tests/br_crypter2/run.sh
  br/tests/br_encryption/run.sh
  br/tests/br_gcs/run.sh
  br/tests/br_other/run.sh
  br/tests/br_pitr/run.sh
  br/tests/br_rawkv/run.sh
  br/tests/br_txn/run.sh
  br/tests/run.sh
  br/tests/run_br
  br/tests/run_group_br_tests.sh
  br/tests/utils.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#56486 tests: add `integration2` for tools integration tests
  tests/integrationtest2/README.md
  tests/integrationtest2/config.toml
  tests/integrationtest2/download_integration_test_binaries.sh
  tests/integrationtest2/r/br_integration.result
  tests/integrationtest2/run-tests.sh
  tests/integrationtest2/t/br_integration.test
  tests/integrationtest2/t/dumpling_import_integration.test
  tests/integrationtest2/t/ticdc/cdc_integration.test
Labels: size/XXL, release-note-none, approved, lgtm

#56517 session: fix bootstrap panic when upgrading to master
  pkg/session/bootstrap.go
  pkg/session/session.go
Labels: size/M, release-note-none, approved, lgtm

#55707 docs: add proposal for vector index
  docs/design/2024-07-12-support-vector-index.md
  docs/design/imgs/vector-index.png
Labels: component/docs, type/new-feature, size/XL, release-note-none, approved, lgtm

#56579 planner: add more test cases for plan cache
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/others_test.go
  pkg/planner/core/plan_cache_utils.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#56598 *: replace reflect.TypeOf((*T)(nil)).Elem() with reflect.TypeFor[T]()
  pkg/disttask/framework/taskexecutor/execute/interface.go
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#56596 lightning: delete job.injected length check in TestDoImport
  pkg/lightning/backend/local/local_test.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#56570 planner: use go:generate go generate Plan Clone code
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/generator/BUILD.bazel
  pkg/planner/core/generator/plan_clone_generator.go
  pkg/planner/core/generator/plan_clone_test.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_clone_generated.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#56105 lightning: allow use azure as data source
  pkg/lightning/config/config.go
Labels: size/XS, release-note-none, approved, lgtm

#56586 ddl: pass runtime info through jobContext for rename table(s)
  pkg/ddl/job_worker.go
  pkg/ddl/schema_version.go
  pkg/ddl/table.go
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
Labels: size/L, release-note-none, approved, lgtm

#56602 lightning/importinto: set correct step to create single point allocator
  lightning/pkg/importer/import.go
  lightning/tests/lightning_csv/data/auto_incr_id.nonclustered_cache1_initial_autoid-schema.sql
  lightning/tests/lightning_csv/data/auto_incr_id.nonclustered_cache1_initial_autoid.0.csv
  lightning/tests/lightning_csv/run.sh
  pkg/lightning/common/BUILD.bazel
  pkg/lightning/common/common.go
  pkg/lightning/common/common_test.go
  tests/realtikvtest/importintotest2/write_after_import_test.go
Labels: size/S, release-note-none, approved, lgtm

#56610 planner: add more test cases for plan cache
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/concurrency_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#56130 ddl: args v2 for add/drop/rename index, include PK/vector-index
  br/pkg/restore/ingestrec/ingest_recorder.go
  br/pkg/restore/ingestrec/ingest_recorder_test.go
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/bdr.go
  pkg/ddl/bdr_test.go
  pkg/ddl/delete_range.go
  pkg/ddl/executor.go
  pkg/ddl/index.go
  pkg/ddl/index_test.go
  pkg/ddl/job_submitter.go
  pkg/ddl/job_worker.go
  pkg/ddl/multi_schema_change.go
  pkg/ddl/rollingback.go
  pkg/ddl/sanity_check.go
  pkg/ddl/stat_test.go
  pkg/meta/model/job.go
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#56585 ddl: fix a bug that create table with vector index and gbk charset column
  pkg/ddl/create_table.go
  pkg/ddl/executor.go
  pkg/ddl/index_modify_test.go
  pkg/ddl/tests/tiflash/ddl_tiflash_test.go
  pkg/ddl/tiflash_replica_test.go
  pkg/executor/test/tiflashtest/tiflash_test.go
  pkg/util/dbterror/ddl_terror.go
Labels: size/M, release-note-none, approved, lgtm

#56605 session: make all DDLs reentrant in upgradeToVer212
  pkg/session/bootstrap.go
  pkg/session/bootstrap_test.go
Labels: size/S, release-note-none, approved, lgtm

#55956 infoschema_v2: remove schemaTableInfos call of DeadTableLockChecker
  br/pkg/task/BUILD.bazel
  br/pkg/task/restore_data.go
  pkg/ddl/ddl_tiflash_api.go
  pkg/ddl/executor.go
  pkg/ddl/placement_policy.go
  pkg/ddl/util/dead_table_lock_checker.go
  pkg/executor/infoschema_reader.go
  pkg/executor/show_placement.go
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/builder_misc.go
  pkg/infoschema/context/infoschema.go
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
  pkg/infoschema/interface.go
  pkg/infoschema/test/infoschemav2test/BUILD.bazel
  pkg/infoschema/test/infoschemav2test/v2_test.go
  pkg/lock/BUILD.bazel
  pkg/lock/lock.go
  pkg/meta/BUILD.bazel
  pkg/meta/meta_test.go
  pkg/server/handler/tikvhandler/BUILD.bazel
  pkg/server/handler/tikvhandler/tikv_handler.go
  pkg/session/bootstrap.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/table_info.go
  pkg/ttl/cache/BUILD.bazel
  pkg/ttl/cache/infoschema.go
  pkg/ttl/ttlworker/BUILD.bazel
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/timer_sync.go
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm

#56437 statistics: enable the new PQ
  lightning/tests/lightning_checkpoint_chunks/run.sh
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/autoanalyze/exec/exec.go
  pkg/statistics/handle/autoanalyze/internal/heap/BUILD.bazel
  pkg/statistics/handle/autoanalyze/internal/heap/heap.go
  pkg/statistics/handle/autoanalyze/internal/heap/heap_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/non_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/static_partitioned_table_analysis_job.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
  pkg/statistics/handle/updatetest/update_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#56567 txn: test the `SAVEPOINT` statement with `foreign key`
  pkg/executor/test/txn/BUILD.bazel
  pkg/executor/test/txn/txn_test.go
Labels: size/M, release-note-none, approved, lgtm

#56624 ddl: change some param for cdc
  pkg/ddl/ddl_history.go
Labels: size/XS, release-note-none, approved, lgtm

#56628 *: fix wrong log because of wrongly rename
  cmd/importer/rand.go
  dumpling/export/dump.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#56614 statstics: avoid unnecessary try when to sync load
  pkg/statistics/handle/syncload/stats_syncload.go
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#56463 expression: use maximum length for integer display
  pkg/expression/builtin_control.go
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/t/expression/issues.test
Labels: release-note, size/M, ok-to-test, approved, lgtm, found/gs

#56608 ddl: process temp global index correctly
  pkg/ddl/index.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/integration_test.go
  pkg/ddl/reorg.go
  pkg/table/tables/partition.go
Labels: size/L, release-note-none, approved, lgtm

#56568 test: add tests for `IMPORT INTO` statement with Foreign Key
  tests/realtikvtest/importintotest/import_into_test.go
Labels: size/S, release-note-none, approved, lgtm

#56404 ddl: job context will be canceled when cancel or pause job
  pkg/ddl/cancel_test.go
  pkg/ddl/cluster.go
  pkg/ddl/column.go
  pkg/ddl/column_type_change_test.go
  pkg/ddl/constraint.go
  pkg/ddl/ddl.go
  pkg/ddl/foreign_key.go
  pkg/ddl/index.go
  pkg/ddl/ingest/backend.go
  pkg/ddl/job_scheduler.go
  pkg/ddl/job_worker.go
  pkg/ddl/main_test.go
  pkg/ddl/modify_column.go
  pkg/ddl/modify_column_test.go
  pkg/ddl/multi_schema_change.go
  pkg/ddl/partition.go
  pkg/ddl/reorg.go
  pkg/ddl/resource_group.go
  pkg/ddl/rollingback.go
  pkg/ddl/schema.go
  pkg/ddl/schema_version.go
  pkg/ddl/table.go
  pkg/ddl/tests/adminpause/BUILD.bazel
  pkg/ddl/tests/adminpause/global.go
  pkg/ddl/tests/serial/main_test.go
  pkg/ddl/tests/serial/serial_test.go
  tests/realtikvtest/addindextest3/ingest_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#56573 metrics: let resource group selector take effect to all panels
  pkg/metrics/grafana/tidb_resource_control.json
  pkg/metrics/grafana/tidb_resource_control.jsonnet
Labels: size/L, release-note-none, approved, lgtm

#56648 Makefile: add bazel_mirror_upload entry
  Makefile
Labels: size/XS, skip-issue-check, approved, lgtm

#56646 script: update guide to use `git apply -` to resolve bazel change
  tools/check/check-bazel-prepare-rbe.sh
  tools/check/check-bazel-prepare.sh
Labels: release-note-none, skip-issue-check, approved, lgtm

#56645 dep: upgrade github.com/dgryski/go-farm
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#56653 dep: update dependencies to update go-farm
  DEPS.bzl
  go.mod
  go.sum
Labels: size/M, release-note-none, approved, lgtm

#56609 planner, CTE, view: Fix default inline CTE which contains orderby/limit/distinct and inside of view | tidb-test=pr/2415
  pkg/planner/core/casetest/flatplan/testdata/flat_plan_suite_out.json
  pkg/planner/core/casetest/hint/testdata/integration_suite_out.json
  pkg/planner/core/casetest/planstats/BUILD.bazel
  pkg/planner/core/casetest/planstats/plan_stats_test.go
  pkg/planner/core/casetest/planstats/testdata/plan_stats_suite_in.json
  pkg/planner/core/casetest/planstats/testdata/plan_stats_suite_out.json
  pkg/planner/core/casetest/rule/testdata/outer2inner_in.json
  pkg/planner/core/casetest/rule/testdata/outer2inner_out.json
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/planbuilder.go
  pkg/planner/indexadvisor/BUILD.bazel
  pkg/planner/indexadvisor/indexadvisor_test.go
  tests/integrationtest/r/planner/core/casetest/physicalplantest/physical_plan.result
  tests/integrationtest/t/planner/core/casetest/physicalplantest/physical_plan.test
Labels: sig/planner, release-note, size/XL, affects-6.5, ok-to-test, affects-7.1, approved, lgtm, affects-7.5, affects-8.1

#56543 sessionctx: Deprecate static prune mode
  pkg/sessionctx/variable/sysvar.go
  pkg/table/tables/test/partition/partition_test.go
  tests/integrationtest/r/executor/partition/table.result
Labels: size/S, release-note-none, approved, lgtm

#56630 ddl: add `lease not found` and `deadline exceed` to retryable errors
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/index.go
  pkg/ddl/job_worker.go
  pkg/owner/manager.go
  pkg/util/dbterror/ddl_terror.go
  tests/realtikvtest/addindextest1/disttask_test.go
  tests/realtikvtest/addindextest3/ingest_test.go
Labels: size/M, release-note-none, approved, lgtm

#56457 planner: play replay load restore the table with foreign key with right order.
  pkg/domain/plan_replayer_dump.go
  pkg/executor/plan_replayer.go
  pkg/server/handler/optimizor/plan_replayer_test.go
Labels: release-note, size/L, approved, lgtm

#56536 ddl: arg v2 for modify column and multi schema change
  pkg/ddl/column.go
  pkg/ddl/column_modify_test.go
  pkg/ddl/create_table.go
  pkg/ddl/db_change_failpoints_test.go
  pkg/ddl/ddl.go
  pkg/ddl/delete_range.go
  pkg/ddl/executor.go
  pkg/ddl/index.go
  pkg/ddl/job_submitter.go
  pkg/ddl/job_worker_test.go
  pkg/ddl/modify_column.go
  pkg/ddl/modify_column_test.go
  pkg/ddl/multi_schema_change.go
  pkg/ddl/restart_test.go
  pkg/ddl/rollingback.go
  pkg/ddl/sanity_check.go
  pkg/ddl/schema_version.go
  pkg/ddl/schematracker/dm_tracker.go
  pkg/meta/model/job.go
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
  pkg/meta/model/job_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#56679 go.mod: update PD client to fix TSO follower proxy switch
  DEPS.bzl
  go.mod
  go.sum
Labels: release-note, size/S, approved, lgtm

#56680 planner: update access pathes when using the vector index
  pkg/planner/core/casetest/vectorsearch/BUILD.bazel
  pkg/planner/core/casetest/vectorsearch/vector_index_test.go
  pkg/planner/core/planbuilder.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.4

#56425 ddl_notifier: publish schema change event to store by `asyncNotifyEvent`
  pkg/ddl/add_column.go
  pkg/ddl/cluster.go
  pkg/ddl/create_table.go
  pkg/ddl/ddl.go
  pkg/ddl/job_worker.go
  pkg/ddl/modify_column.go
  pkg/ddl/notifier/BUILD.bazel
  pkg/ddl/notifier/events.go
  pkg/ddl/notifier/testkit_test.go
  pkg/ddl/partition.go
  pkg/ddl/table.go
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/subscriber.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#56656 ddl: pass runtime info through args for reorganize partition related
  pkg/ddl/partition.go
  pkg/ddl/rollingback.go
  pkg/ddl/schema_version.go
  pkg/meta/model/job_args.go
Labels: size/L, release-note-none, approved, lgtm

#56589 br: have better crypter key error msg
  br/pkg/task/BUILD.bazel
  br/pkg/task/common.go
  br/pkg/task/common_test.go
Labels: size/L, release-note-none, approved, lgtm

#56454 statistics: handle lock and unlock operations correctly
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2_ddl_handler.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2_test.go
  pkg/statistics/handle/handletest/lockstats/lock_partition_stats_test.go
  pkg/statistics/handle/lockstats/BUILD.bazel
  pkg/statistics/handle/lockstats/lock_stats.go
  pkg/statistics/handle/lockstats/lock_stats_test.go
  pkg/statistics/handle/lockstats/unlock_stats.go
  pkg/statistics/handle/lockstats/unlock_stats_test.go
  pkg/statistics/handle/updatetest/update_test.go
Labels: sig/planner, component/statistics, size/XL, release-note-none, approved, lgtm

#51057 Makefile: add gotag for make server_check
  Makefile
  pkg/executor/infoschema_reader.go
  pkg/expression/expropt/sessionvars.go
  pkg/expression/scalar_function.go
  pkg/expression/sessionexpr/sessionctx.go
  pkg/kv/txn.go
  pkg/planner/core/operator/logicalop/logical_join.go
  pkg/table/tables/partition.go
  pkg/testkit/testkit.go
  pkg/util/intest/BUILD.bazel
  pkg/util/intest/assert.go
  pkg/util/intest/in_unittest.go
  pkg/util/intest/no_assert.go
  pkg/util/intest/not_in_unittest.go
  tests/integrationtest/r/planner/core/indexmerge_path.result
  tests/integrationtest/t/planner/core/indexmerge_path.test
Labels: sig/planner, size/L, release-note-none, component/dumpling, skip-issue-check, approved, lgtm

#56729 tests: move one strange flaky test back to unit test
  pkg/planner/core/casetest/BUILD.bazel
  pkg/planner/core/casetest/integration_test.go
  tests/integrationtest/r/planner/core/indexmerge_path.result
  tests/integrationtest/t/planner/core/indexmerge_path.test
Labels: sig/planner, size/M, release-note-none, skip-issue-check, approved, lgtm

#56545 session: upgrade from old cluster infoschema v2 should not be used
  br/pkg/restore/snap_client/systable_restore_test.go
  pkg/session/bootstrap.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#56719 ttl: make some integration test faster
  pkg/timer/runtime/BUILD.bazel
  pkg/timer/runtime/runtime.go
  pkg/timer/runtime/runtime_test.go
  pkg/ttl/client/BUILD.bazel
  pkg/ttl/client/command.go
  pkg/ttl/ttlworker/config.go
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
  pkg/ttl/ttlworker/job_manager_test.go
  pkg/ttl/ttlworker/timer.go
Labels: size/XL, release-note-none, approved, lgtm

#55665 br/stream: Added toolkit for managing migrations
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/batch.go
  br/pkg/storage/batch_test.go
  br/pkg/storage/helper.go
  br/pkg/storage/local.go
  br/pkg/stream/BUILD.bazel
  br/pkg/stream/stream_metas.go
  br/pkg/stream/stream_metas_test.go
  br/pkg/stream/stream_mgr.go
  br/pkg/utils/iter/source.go
  br/pkg/utils/iter/source_types.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#56742 util: Move tiflashScanContext outof basic stats
  pkg/util/execdetails/execdetails.go
Labels: size/L, release-note-none, approved, lgtm

#56734 ddl_notifier: create system table in test and escape the string literal
  pkg/ddl/constant.go
  pkg/ddl/notifier/store.go
  pkg/ddl/notifier/testkit_test.go
  pkg/ddl/session/session.go
  pkg/executor/infoschema_cluster_table_test.go
  pkg/executor/infoschema_reader_test.go
  pkg/session/bootstrap_test.go
  pkg/session/session.go
Labels: size/M, release-note-none, approved, lgtm

#56660 *: make `default_authentication_plugin` more compatible with mysql
  pkg/executor/grant.go
  pkg/executor/show.go
  pkg/executor/simple.go
  tests/integrationtest/r/executor/simple.result
  tests/integrationtest/t/executor/simple.test
Labels: release-note, size/L, approved, lgtm

#56737 server: fix flaky test by using t.TempDir
  pkg/server/handler/optimizor/plan_replayer_test.go
Labels: size/S, release-note-none, approved, lgtm

#56739 ddl_notifier: split create tables event into multiple create table events
  pkg/ddl/add_column.go
  pkg/ddl/cluster.go
  pkg/ddl/constant.go
  pkg/ddl/create_table.go
  pkg/ddl/ddl.go
  pkg/ddl/modify_column.go
  pkg/ddl/notifier/events.go
  pkg/ddl/notifier/store.go
  pkg/ddl/notifier/testkit_test.go
  pkg/ddl/partition.go
  pkg/ddl/table.go
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/subscriber.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#55950 executor: support hash join spill
  pkg/executor/internal/testutil/testutil.go
  pkg/executor/join/BUILD.bazel
  pkg/executor/join/base_join_probe.go
  pkg/executor/join/hash_join_base.go
  pkg/executor/join/hash_join_spill.go
  pkg/executor/join/hash_join_spill_helper.go
  pkg/executor/join/hash_join_test_util.go
  pkg/executor/join/hash_join_v1.go
  pkg/executor/join/hash_join_v2.go
  pkg/executor/join/hash_table_v2.go
  pkg/executor/join/hash_table_v2_test.go
  pkg/executor/join/inner_join_probe_test.go
  pkg/executor/join/inner_join_spill_test.go
  pkg/executor/join/join_row_table.go
  pkg/executor/join/outer_join_probe.go
  pkg/executor/join/outer_join_spill_test.go
  pkg/executor/join/row_table_builder.go
  pkg/executor/join/row_table_builder_test.go
  pkg/executor/join/tagged_ptr.go
  pkg/executor/test/jointest/BUILD.bazel
  pkg/executor/test/jointest/join_test.go
  pkg/util/chunk/chunk_in_disk.go
  pkg/util/serialization/common_util.go
  tests/integrationtest/r/executor/jointest/join.result
  tests/integrationtest/t/executor/jointest/join.test
Labels: release-note, size/XXL, approved, lgtm

#56453 expression: fix errors set utc_timestamp precision | tidb-test=pr/2406
  errors.toml
  pkg/errno/errname.go
  pkg/expression/builtin_time.go
  pkg/expression/builtin_time_vec.go
  pkg/parser/mysql/errname.go
  pkg/util/misc.go
  tests/integrationtest/r/expression/builtin.result
  tests/integrationtest/r/expression/cast.result
  tests/integrationtest/t/expression/builtin.test
Labels: release-note, size/L, ok-to-test, approved, lgtm

#56752 planner, stats: overflow estimation may lead to wrong join reorder
  pkg/planner/core/rule_join_reorder_greedy.go
  pkg/statistics/histogram.go
  tests/integrationtest/r/statistics/overflow_calc.result
  tests/integrationtest/t/statistics/overflow_calc.test
Labels: sig/planner, release-note, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.4

#56604 ttl: always enable all read engines for TTL sessions
  pkg/ttl/ttlworker/job_manager_integration_test.go
  pkg/ttl/ttlworker/session.go
Labels: release-note, size/M, approved, lgtm

#56618 disttask: make task executor `onError` print error's stack.
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#56687 ddl: make args/DecodeArgs un-exported
  pkg/ddl/create_table.go
  pkg/ddl/ddl.go
  pkg/ddl/ddl_error_test.go
  pkg/ddl/executor.go
  pkg/ddl/job_submitter.go
  pkg/ddl/job_worker.go
  pkg/ddl/multi_schema_change.go
  pkg/meta/model/job.go
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
  pkg/meta/model/job_test.go
Labels: size/XL, release-note-none, approved, lgtm

#56759 disttask: print total count in log
  pkg/ddl/backfilling_operators.go
Labels: size/M, release-note-none, approved, lgtm

#56529 config: Make deprecate-integer-display-length default to true | tidb-test=pr/2414
  pkg/config/config.go
  pkg/config/config.toml.example
  pkg/config/config_test.go
  tests/integrationtest/r/cte.result
  tests/integrationtest/r/db_integration.result
  tests/integrationtest/r/ddl/column.result
  tests/integrationtest/r/ddl/column_modify.result
  tests/integrationtest/r/ddl/column_type_change.result
  tests/integrationtest/r/ddl/constraint.result
  tests/integrationtest/r/ddl/db.result
  tests/integrationtest/r/ddl/db_cache.result
  tests/integrationtest/r/ddl/db_integration.result
  tests/integrationtest/r/ddl/db_partition.result
  tests/integrationtest/r/ddl/default_as_expression.result
  tests/integrationtest/r/ddl/foreign_key.result
  tests/integrationtest/r/ddl/multi_schema_change.result
  tests/integrationtest/r/ddl/partition.result
  tests/integrationtest/r/ddl/reorg_partition.result
  tests/integrationtest/r/ddl/sequence.result
  tests/integrationtest/r/ddl/table_modify.result
  tests/integrationtest/r/executor/ddl.result
  tests/integrationtest/r/executor/foreign_key.result
  tests/integrationtest/r/executor/show.result
  tests/integrationtest/r/explain.result
  tests/integrationtest/r/explain_cte.result
  tests/integrationtest/r/explain_easy.result
  tests/integrationtest/r/explain_stats.result
  tests/integrationtest/r/expression/misc.result
  tests/integrationtest/r/globalindex/analyze.result
  tests/integrationtest/r/globalindex/ddl.result
  tests/integrationtest/r/globalindex/expression_index.result
  tests/integrationtest/r/globalindex/misc.result
  tests/integrationtest/r/index_merge.result
  tests/integrationtest/r/infoschema/infoschema.result
  tests/integrationtest/r/planner/cascades/integration.result
  tests/integrationtest/r/planner/core/casetest/expression_rewriter.result
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/r/planner/core/casetest/physicalplantest/physical_plan.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/r/planner/core/memtable_predicate_extractor.result
  tests/integrationtest/r/planner/core/plan.result
  tests/integrationtest/r/planner/core/rule_constant_propagation.result
  tests/integrationtest/r/planner/core/tests/prepare/prepare.result
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/r/session/temporary_table.result
  tests/integrationtest/r/table/index.result
  tests/integrationtest/r/table/partition.result
Labels: release-note, size/XXL, ok-to-test, approved, lgtm

#56234 mod: Update to the latest client-go for release 8.1
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#56768 expression: fix expression that duration type null equal with const null
  pkg/expression/builtin_compare.go
  pkg/expression/integration_test/integration_test.go
Labels: release-note, size/S, approved, lgtm

#56774 executor: fix plan replay cannot deal with placement mode
  pkg/executor/plan_replayer.go
  pkg/server/handler/optimizor/plan_replayer_test.go
Labels: size/S, release-note-none, approved, lgtm

#56601 planner: add stack based pattern binder logic.
  pkg/planner/cascades/memo/group.go
  pkg/planner/cascades/memo/group_and_expr_test.go
  pkg/planner/cascades/memo/group_expr.go
  pkg/planner/cascades/memo/memo.go
  pkg/planner/cascades/rule/BUILD.bazel
  pkg/planner/cascades/rule/binder.go
  pkg/planner/cascades/rule/binder_test.go
  pkg/planner/pattern/pattern.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#56769 planner: fix nulleq condition to calcalate index range
  pkg/planner/core/issuetest/BUILD.bazel
  pkg/planner/core/issuetest/planner_issue_test.go
  pkg/planner/core/tests/null/BUILD.bazel
  pkg/planner/core/tests/null/main_test.go
  pkg/planner/core/tests/null/null_test.go
  pkg/util/ranger/detacher.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#32882 parser: Add not null flag for ExtraPhysTblIDColInfo and ExtraPartitionIDColInfo
  pkg/meta/model/column.go
  pkg/meta/model/column_test.go
Labels: size/XS, release-note-none, approved, lgtm

#56414 planner: enable fix control for enforced | tidb-test=pr/2404
  pkg/executor/test/cte/cte_test.go
  pkg/executor/test/executor/executor_test.go
  pkg/planner/core/casetest/dag/testdata/plan_suite_out.json
  pkg/planner/core/casetest/hint/testdata/integration_suite_out.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/casetest/testdata/plan_normalized_suite_out.json
  pkg/planner/core/casetest/windows/testdata/window_push_down_suite_out.json
  pkg/planner/core/find_best_task.go
  pkg/planner/core/testdata/runtime_filter_generator_suite_in.json
  pkg/planner/core/testdata/runtime_filter_generator_suite_out.json
  tests/integrationtest/r/cte.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_derive_topn_from_window.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_join_reorder.result
  tests/integrationtest/r/planner/core/integration.result
  tests/integrationtest/t/cte.test
  tests/integrationtest/t/planner/core/integration.test
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#56790 executor: enable hash join v2 by default for tests
  pkg/sessionctx/variable/tidb_vars.go
  tests/integrationtest/r/sessionctx/setvar.result
Labels: size/XS, release-note-none, approved, lgtm

#56776 *: move ddl notifier as domain member and test pub/sub
  pkg/ddl/constant.go
  pkg/ddl/ddl.go
  pkg/ddl/index.go
  pkg/ddl/job_scheduler.go
  pkg/ddl/job_worker.go
  pkg/ddl/notifier/BUILD.bazel
  pkg/ddl/notifier/publish.go
  pkg/ddl/notifier/store.go
  pkg/ddl/notifier/subscribe.go
  pkg/ddl/notifier/testkit_test.go
  pkg/ddl/options.go
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/executor/test/seqtest/seq_executor_test.go
  pkg/server/internal/testserverclient/server_client.go
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/subscriber.go
  pkg/statistics/handle/globalstats/global_stats_test.go
  pkg/statistics/integration_test.go
Labels: sig/planner, size/XL, do-not-merge/hold, release-note-none, approved, lgtm

#56732 statistics: rename queue files for consistency
  pkg/statistics/handle/autoanalyze/priorityqueue/BUILD.bazel
  pkg/statistics/handle/autoanalyze/priorityqueue/queue.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_v2.go
  pkg/statistics/handle/autoanalyze/refresher/refresher.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#56798 test: stabilize TestAnalyzeColumnsWithVirtualColumnIndex
  pkg/resourcegroup/runaway/manager.go
  pkg/resourcegroup/runaway/record.go
  pkg/resourcegroup/runaway/record_test.go
Labels: size/XS, release-note-none, approved, lgtm

#56803 infoschema: improve usability of SchemaByTable
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_test.go
Labels: size/S, release-note-none, approved, lgtm

#56783 server: replace session in statsHistoryHandler with `types.Context`
  pkg/server/handler/optimizor/BUILD.bazel
  pkg/server/handler/optimizor/statistics_handler.go
Labels: size/S, release-note-none, approved, lgtm

#56750 planner: add hash64 and equals for logical aggregation
  pkg/expression/aggregation/BUILD.bazel
  pkg/expression/aggregation/aggregation_test.go
  pkg/expression/aggregation/base_func.go
  pkg/expression/aggregation/descriptor.go
  pkg/planner/core/operator/logicalop/logical_aggregation.go
  pkg/planner/core/operator/logicalop/logicalop_test/BUILD.bazel
  pkg/planner/core/operator/logicalop/logicalop_test/hash64_equals_test.go
  pkg/planner/util/BUILD.bazel
  pkg/planner/util/byitem.go
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm

#56795 ddl: add the ddl notifier as a listener to the stats owner
  pkg/ddl/notifier/BUILD.bazel
  pkg/ddl/notifier/subscribe.go
  pkg/ddl/notifier/testkit_test.go
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
Labels: size/L, release-note-none, approved, lgtm, component/ddl

#56722 stmtsummary: reduce the memory consumption by information_schema.statements_summary_evicted
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/util/stmtsummary/evicted.go
  pkg/util/stmtsummary/evicted_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#56818 *: use golang built-in functions rather than mathutil
  br/cmd/br/BUILD.bazel
  br/cmd/br/cmd.go
  br/pkg/stream/stream_metas.go
  cmd/importer/BUILD.bazel
  cmd/importer/data.go
  pkg/autoid_service/BUILD.bazel
  pkg/autoid_service/autoid.go
  pkg/ddl/executor.go
  pkg/ddl/partition.go
  pkg/ddl/sanity_check.go
  pkg/ddl/schema_version.go
  pkg/ddl/sequence.go
  pkg/ddl/tests/partition/BUILD.bazel
  pkg/ddl/tests/partition/reorg_partition_test.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/table_import.go
  pkg/expression/aggregation/avg.go
  pkg/expression/aggregation/base_func.go
  pkg/expression/builtin_arithmetic.go
  pkg/expression/builtin_control.go
  pkg/expression/builtin_math.go
  pkg/expression/builtin_math_vec.go
  pkg/expression/builtin_time.go
  pkg/expression/expression.go
  pkg/parser/goyacc/main.go
  pkg/parser/types/BUILD.bazel
  pkg/parser/types/field_type.go
  pkg/privilege/privileges/BUILD.bazel
  pkg/privilege/privileges/privileges.go
  pkg/util/cdcutil/BUILD.bazel
  pkg/util/cdcutil/cdc.go
  pkg/util/mathutil/math.go
  pkg/util/mathutil/math_test.go
  pkg/util/mvmap/BUILD.bazel
  pkg/util/mvmap/mvmap.go
  tools/tazel/BUILD.bazel
  tools/tazel/main.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#56725 planner, table: list partition support prune non point range
  pkg/planner/core/casetest/partition/testdata/integration_partition_suite_in.json
  pkg/planner/core/casetest/partition/testdata/integration_partition_suite_out.json
  pkg/planner/core/logical_plan_trace_test.go
  pkg/planner/core/rule_partition_processor.go
  pkg/table/tables/partition.go
  tests/integrationtest/r/planner/core/casetest/partition/integration_partition.result
  tests/integrationtest/r/planner/core/integration_partition.result
  tests/integrationtest/t/planner/core/integration_partition.test
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#56815 tests/integrationtest2: fix bugs in the tests
  tests/integrationtest2/r/br_integration.result
  tests/integrationtest2/r/dumpling_import_integration.result
  tests/integrationtest2/run-tests.sh
Labels: type/enhancement, size/S, release-note-none, approved, lgtm

#56834 executor: fix hash join v2 bug that mistakenly think the join has other condition
  pkg/executor/builder.go
Labels: size/M, release-note-none, approved, lgtm

#56808 ddl: fix some limitation of primary key + global index
  pkg/ddl/create_table.go
  pkg/ddl/executor.go
  tests/integrationtest/r/globalindex/ddl.result
  tests/integrationtest/r/globalindex/misc.result
  tests/integrationtest/t/globalindex/ddl.test
  tests/integrationtest/t/globalindex/misc.test
Labels: size/M, release-note-none, approved, lgtm

#56406 ddl: skip adding index reorg work for empty tables
  pkg/ddl/ddl.go
  pkg/ddl/index.go
  pkg/ddl/primary_key_handle_test.go
  pkg/ddl/reorg.go
  pkg/ddl/tests/indexmerge/merge_test.go
  pkg/server/handler/optimizor/plan_replayer_test.go
  tests/integrationtest/r/infoschema/infoschema.result
  tests/integrationtest/t/infoschema/infoschema.test
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#56382 *: Allow Point_Get during DDL with Global Index
  pkg/ddl/partition.go
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/ddl/tests/partition/multi_domain_test.go
  pkg/executor/point_get.go
  pkg/meta/model/table.go
  pkg/planner/core/find_best_task.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.4

#56830 readme: restructure the README.md
  README.md
  docs/logo.png
  docs/tidb-logo.png
Labels: size/L, release-note-none, skip-issue-check, approved, lgtm

#56852 obj storage: optimize azure reader
  br/pkg/storage/azblob.go
  br/pkg/storage/azblob_test.go
Labels: size/M, release-note-none, approved, lgtm

#56855 executor: fix outer join bug in hash join v2
  pkg/executor/join/inner_join_probe_test.go
  pkg/executor/join/left_outer_join_probe_test.go
  pkg/executor/join/outer_join_probe.go
  pkg/executor/join/right_outer_join_probe_test.go
  pkg/executor/test/jointest/hashjoin/BUILD.bazel
  pkg/executor/test/jointest/hashjoin/hash_join_test.go
Labels: size/L, release-note-none, approved, lgtm

#56859 tests/integrationtest2: go on fixing the tests
  tests/integrationtest2/r/ticdc/cdc_integration.result
Labels: size/XS, release-note-none, approved, lgtm

#56799 br: fix br integration test file corruption
  br/tests/br_pitr/run.sh
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#56869 planner: add more test cases for plan cache
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/concurrency_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#56682 executor: ignore foreign key error in `UPDATE/INSERT/DELETE ignore`
  pkg/executor/builder.go
  pkg/executor/delete.go
  pkg/executor/delete_test.go
  pkg/executor/foreign_key.go
  pkg/executor/insert.go
  pkg/executor/insert_common.go
  pkg/executor/update.go
  pkg/executor/write.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/point_get_plan.go
  tests/integrationtest/r/executor/delete.result
  tests/integrationtest/r/executor/insert.result
  tests/integrationtest/r/executor/update.result
  tests/integrationtest/t/executor/delete.test
  tests/integrationtest/t/executor/insert.test
  tests/integrationtest/t/executor/update.test
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#56800 planner: add base rule implementation and move task pkg into cascades
  pkg/planner/cascades/rule/BUILD.bazel
  pkg/planner/cascades/rule/join/BUILD.bazel
  pkg/planner/cascades/rule/join/join_to_apply.go
  pkg/planner/cascades/rule/rule.go
  pkg/planner/cascades/rule/rule_type.go
  pkg/planner/cascades/task/BUILD.bazel
  pkg/planner/cascades/task/task.go
  pkg/planner/cascades/task/task_scheduler.go
  pkg/planner/cascades/task/task_scheduler_test.go
  pkg/planner/cascades/task/task_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#56862 kv-client: update client-go to fix the retry issue(#56860)
  DEPS.bzl
  go.mod
  go.sum
Labels: release-note, size/S, cherry-pick-approved, ok-to-test, approved, lgtm

#56914 planner: add more test cases for plan cache
  pkg/planner/core/casetest/instanceplancache/BUILD.bazel
  pkg/planner/core/casetest/instanceplancache/concurrency_tpcc_test.go
  pkg/planner/core/casetest/instanceplancache/dml_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#56847 txn: fix issue innodb_lock_wait_timeout doesn't work in some case
  pkg/executor/test/txn/BUILD.bazel
  pkg/executor/test/txn/txn_test.go
  pkg/sessiontxn/isolation/readcommitted.go
  pkg/sessiontxn/isolation/repeatable_read.go
  pkg/store/mockstore/unistore/tikv/BUILD.bazel
  pkg/store/mockstore/unistore/tikv/server.go
Labels: size/M, release-note-none, ok-to-test, needs-cherry-pick-release-7.1, approved, lgtm

#56864 ddl: enable the ddl notifier by default
  pkg/ddl/ddl.go
  pkg/domain/domain.go
  pkg/meta/meta.go
  pkg/session/bootstrap_test.go
  pkg/session/session.go
Labels: size/L, release-note-none, approved, lgtm

#56702 ddl: support dropping multiple foreign keys
  pkg/ddl/executor.go
  pkg/ddl/multi_schema_change.go
  tests/integrationtest/r/ddl/multi_schema_change.result
  tests/integrationtest/t/ddl/multi_schema_change.test
Labels: size/M, release-note-none, approved, lgtm

#56356 executor: fix issue that query slow_query table return wrong result
  pkg/executor/cluster_table_test.go
  pkg/executor/slow_query.go
  pkg/executor/slow_query_test.go
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
  pkg/planner/core/memtable_predicate_extractor.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#56850 cardinality: remove the unnecessary limitation that the "exponential backoff" entry stats can't use iteself for estimation
  pkg/planner/cardinality/row_count_index.go
  pkg/planner/core/casetest/BUILD.bazel
  pkg/planner/core/casetest/integration_test.go
  tests/integrationtest/t/planner/core/indexmerge_path.test
Labels: sig/planner, release-note, size/S, approved, lgtm

#56920 copr: fix the issue about runaway index lookup query blocking
  pkg/executor/executor_failpoint_test.go
  pkg/store/copr/coprocessor.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.4

#56839 *: make table id in `metrics_schema` stable
  pkg/infoschema/metrics_schema.go
Labels: size/S, release-note-none, approved, lgtm
