Repository pingcap/tidb, pull requests merged in 2025-04, with the labels that each got.

#60342 planner: add basic struct for index join refactored to prop based mechanism.
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/index_join_path.go
  pkg/planner/core/task.go
  pkg/planner/core/task_base.go
  pkg/planner/property/physical_property.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#60348 *: update tipb to support more table scan statistics
  DEPS.bzl
  go.mod
  go.sum
  pkg/planner/core/find_best_task.go
  pkg/util/execdetails/execdetails.go
  pkg/util/execdetails/execdetails_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#57417 planner: utilize equivalence to eliminate unnecessary exchangers | tidb-test=pr/2482
  pkg/executor/test/tiflashtest/tiflash_test.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  pkg/planner/core/casetest/mpp/BUILD.bazel
  pkg/planner/core/casetest/mpp/mpp_test.go
  pkg/planner/core/casetest/mpp/testdata/integration_suite_in.json
  pkg/planner/core/casetest/mpp/testdata/integration_suite_out.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/casetest/rule/testdata/outer2inner_out.json
  pkg/planner/core/casetest/tpch/BUILD.bazel
  pkg/planner/core/casetest/tpch/main_test.go
  pkg/planner/core/casetest/tpch/testdata/tpch_suite_in.json
  pkg/planner/core/casetest/tpch/testdata/tpch_suite_out.json
  pkg/planner/core/casetest/tpch/tpch_test.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/issuetest/planner_issue_test.go
  pkg/planner/core/plan.go
  pkg/planner/core/task.go
  pkg/planner/funcdep/fd_graph.go
  pkg/planner/property/BUILD.bazel
  pkg/planner/property/physical_property.go
  pkg/planner/property/physical_property_test.go
  tests/integrationtest/r/explain_easy.result
  tests/integrationtest/r/explain_generate_column_substitute.result
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/r/planner/core/casetest/physicalplantest/physical_plan.result
  tests/integrationtest/r/planner/core/plan_cost_ver2.result
  tests/integrationtest/r/tpch.result
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#60351 privilege: uncomments two test cases
  pkg/privilege/privileges/privileges_test.go
Labels: size/S, release-note-none, approved, lgtm

#60337 executor: Refact pointGetExecutor init function to ensure member fields are correctly reset
  pkg/executor/adapter.go
  pkg/executor/builder.go
  pkg/executor/point_get.go
  pkg/executor/prepared_test.go
Labels: release-note, size/L, ok-to-test, approved, lgtm

#60355 *: cherry-pick #59694 #59659 #59767 to release 8.5.1 hotfix
  br/pkg/storage/ks3.go
  br/pkg/storage/s3.go
  br/pkg/storage/s3_test.go
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_test.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/integration_test.go
  pkg/lightning/backend/external/engine.go
  pkg/lightning/common/retry.go
  pkg/util/dbterror/ddl_terror.go
  tests/realtikvtest/addindextest4/failure_test.go
  tests/realtikvtest/importintotest4/global_sort_test.go
Labels: size/L, release-note-none, approved, lgtm

#60359 *: upgrade go 1.23.8
  WORKSPACE
  build/image/base
  build/image/parser_test
  dumpling/README.md
  go.mod
Labels: size/S, release-note-none, component/dumpling, approved, lgtm

#60365 session: set default value for hash join v2 in NewSessionVars
  pkg/sessionctx/variable/BUILD.bazel
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/sysvar_test.go
Labels: size/XS, release-note-none, approved, lgtm

#60296 planner: add an unique key into mysql.bind_info
  br/pkg/restore/snap_client/systable_restore_test.go
  pkg/bindinfo/binding_operator.go
  pkg/bindinfo/binding_operator_test.go
  pkg/session/BUILD.bazel
  pkg/session/bootstrap.go
  pkg/session/bootstrap_test.go
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm

#60315 importinto: retry scatter regions when finished percentage is not 100 | tidb-test=release-8.1.2
  br/pkg/errors/errors.go
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/client.go
  br/pkg/restore/split/mock_pd_client.go
  br/pkg/restore/split/split_test.go
  errors.toml
Labels: sig/planner, size/M, release-note-none, component/dumpling, approved, lgtm

#60363 importinto: disable switching to 'import mode' when global sort
  pkg/executor/importer/import.go
  pkg/executor/importer/import_test.go
  tests/realtikvtest/importintotest3/from_server_test.go
  tests/realtikvtest/importintotest4/global_sort_test.go
Labels: size/M, release-note-none, approved, lgtm

#60349 planner: add tableScan and indexScan build portal by feeling indexJoinProp.
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/index_join_path.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#60347 lightening: fix lightening int test
  br/tests/lightning_max_random/run.sh
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#59967 br: remove go leak in test
  br/tests/br_test_utils.sh
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#60388 config: set `proxy-protocol.fallbackable` to true
  pkg/config/config.go
Labels: release-note, size/XS, ok-to-test, approved, lgtm

#60248 planner: add Q18 MPP test for tpch
  pkg/planner/core/casetest/tpch/BUILD.bazel
  pkg/planner/core/casetest/tpch/testdata/tpch_suite_in.json
  pkg/planner/core/casetest/tpch/testdata/tpch_suite_out.json
  pkg/planner/core/casetest/tpch/tpch_test.go
Labels: sig/planner, size/L, release-note-none, skip-issue-check, approved, lgtm

#60318 statistics: remove invalid histogram items in loadNeededColumnHistograms and loadNeededIndexHistograms
  pkg/statistics/asyncload/BUILD.bazel
  pkg/statistics/asyncload/async_load_test.go
  pkg/statistics/handle/storage/read.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#59009 ddl: Implement TableMode feature
  errors.toml
  pkg/ddl/BUILD.bazel
  pkg/ddl/executor.go
  pkg/ddl/job_worker.go
  pkg/ddl/schematracker/checker.go
  pkg/ddl/schematracker/dm_tracker.go
  pkg/ddl/table_mode.go
  pkg/ddl/table_mode_test.go
  pkg/errno/errcode.go
  pkg/errno/errname.go
  pkg/executor/infoschema_reader.go
  pkg/executor/infoschema_reader_test.go
  pkg/infoschema/error.go
  pkg/infoschema/tables.go
  pkg/meta/meta_test.go
  pkg/meta/model/bdr.go
  pkg/meta/model/job.go
  pkg/meta/model/job_args.go
  pkg/meta/model/table.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/optimizer.go
  pkg/planner/core/resolve/resolve.go
  pkg/planner/optimize.go
  pkg/util/dbutil/table.go
  tests/integrationtest/r/infoschema/infoschema.result
  tests/integrationtest/r/planner/core/integration.result
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#60325 planner: enable non-prepared plan cache for dml
  pkg/planner/core/plan_cacheable_checker_test.go
  pkg/sessionctx/vardef/tidb_vars.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#60366 planner: recommend optimal plans in SHOW PLAN statement
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/binding_auto.go
  pkg/bindinfo/binding_auto_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#60396 planner: modernize some package
  build/nogo_config.json
  pkg/planner/core/base/plan_base.go
  pkg/planner/core/generator/hash64_equals/hash64_equals_generator.go
  pkg/planner/funcdep/fd_graph.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#60409 csv-parser: take empty string as NULL when base64 encoded | tidb-test=release-8.1.2
  pkg/lightning/mydump/csv_parser.go
  pkg/lightning/mydump/csv_parser_test.go
  tests/realtikvtest/importintotest3/base64_encode_test.go
Labels: size/S, release-note-none, approved, lgtm

#58490 statistics: speed up the backgroud stats update worker
  br/pkg/restore/snap_client/pipeline_items.go
  br/pkg/restore/snap_client/systable_restore_test.go
  pkg/session/bootstrap.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/statscache.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/ddl/subscriber.go
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/dump_test.go
  pkg/statistics/handle/storage/gc.go
  pkg/statistics/handle/storage/save.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/storage/update.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/table.go
Labels: sig/planner, release-note, size/L, approved, lgtm, needs-cherry-pick-release-8.5

#60356 importinto: fix error not returned when writing external meta (#60350) | tidb-test=release-8.1.2
  pkg/disttask/importinto/planner.go
  pkg/disttask/importinto/planner_test.go
Labels: size/S, release-note-none, approved, lgtm

#60308 stmtsummary: optimize performance
  pkg/sessionctx/stmtctx/stmtctx.go
  pkg/sessionctx/stmtctx/stmtctx_test.go
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/stmtsummary/v2/BUILD.bazel
  pkg/util/stmtsummary/v2/stmtsummary_benchmark_test.go
Labels: size/L, release-note-none, approved, lgtm

#60431 globalsort: fix wrong err is returned and fix log
  pkg/lightning/backend/external/onefile_writer.go
Labels: size/XS, release-note-none, approved, lgtm

#60354 *: inject random error for DXF (part2)
  pkg/disttask/framework/storage/nodes.go
  pkg/disttask/framework/storage/subtask_state.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/util/injectfailpoint/random_retry.go
Labels: size/M, release-note-none, approved, lgtm

#60419 *: add method to distinguish storage and build separate binary for NG tidb
  Makefile
  pkg/config/store.go
Labels: size/S, release-note-none, approved, lgtm

#59674 import: add a hidden option to enable manual recover for debug purpose
  pkg/disttask/framework/mock/plan_mock.go
  pkg/disttask/framework/planner/BUILD.bazel
  pkg/disttask/framework/planner/plan.go
  pkg/disttask/framework/planner/planner.go
  pkg/disttask/framework/planner/planner_test.go
  pkg/disttask/importinto/job.go
  pkg/disttask/importinto/job_testkit_test.go
  pkg/disttask/importinto/planner.go
  pkg/disttask/importinto/scheduler.go
  pkg/executor/import_into.go
  pkg/executor/importer/import.go
  pkg/executor/show.go
  pkg/executor/show_test.go
  tests/realtikvtest/importintotest4/BUILD.bazel
  tests/realtikvtest/importintotest4/manual_recovery_test.go
Labels: size/L, release-note-none, approved, lgtm

#60425 executor: tiny cleanup for `WithRecovery`
  pkg/executor/check_table_index.go
  pkg/util/wait_group_wrapper.go
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#60383 planner: add enumeration of simple index join and complete it with indexJoinInfo built bottom-up
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/operator/logicalop/logical_join.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/task.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#60221 workloadrepo: Fix other data race issues in the tests.
  pkg/util/workloadrepo/worker_test.go
Labels: size/M, release-note-none, approved, lgtm

#60438 stats: use `GetColOriginDefaultValue` to get default value of a column
  pkg/statistics/handle/storage/BUILD.bazel
  pkg/statistics/handle/storage/save.go
  tests/integrationtest/r/statistics/handle.result
  tests/integrationtest/t/statistics/handle.test
Labels: sig/planner, size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#60420 planner: add `inCreateOrDropTable` flag for `alter table stmt` when it's in prepare stmt
  pkg/planner/core/preprocess.go
  pkg/planner/core/preprocess_test.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#60168 session: provide AdvancedSysSessionPool for enhancement
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/session/syssession/BUILD.bazel
  pkg/session/syssession/main_test.go
  pkg/session/syssession/pool.go
  pkg/session/syssession/pool_test.go
  pkg/session/syssession/session.go
  pkg/session/syssession/session_integration_test.go
  pkg/session/syssession/session_test.go
  pkg/session/syssession/session_test_util.go
Labels: size/XXL, release-note-none, approved, lgtm

#60416 planner: avoid join reorder when to meet NULLEQ in the EQCond
  pkg/planner/core/casetest/join/join_test.go
  pkg/planner/core/issuetest/BUILD.bazel
  pkg/planner/core/issuetest/planner_issue_test.go
  pkg/planner/core/rule_join_reorder.go
Labels: sig/planner, release-note, size/L, approved, lgtm

#60448 session: A safer way to close session from the pool
  pkg/session/syssession/BUILD.bazel
  pkg/session/syssession/pool_test.go
  pkg/session/syssession/session.go
  pkg/session/syssession/session_test.go
Labels: size/L, release-note-none, approved, lgtm

#58628 br: fix flaky test TestGCServiceSafePoint
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/basic_lib_for_test.go
Labels: size/XS, release-note-none, approved, lgtm

#60132 ddl: Non clustered reorg duplicate tidb rowid fix
  pkg/ddl/partition.go
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/ddl/tests/partition/multi_domain_test.go
  pkg/table/table.go
  pkg/table/table_test.go
  pkg/table/tables/partition.go
  pkg/table/tables/tables.go
  tests/integrationtest/r/ddl/db_partition.result
Labels: release-note, size/XXL, approved, lgtm

#60449 planner: add enumeration of index join with indexJoinProp pushed down to inner plan.
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#59571 *: support columnar inverted index
  pkg/ddl/cancel_test.go
  pkg/ddl/create_table.go
  pkg/ddl/db_change_test.go
  pkg/ddl/executor.go
  pkg/ddl/index.go
  pkg/ddl/index_modify_test.go
  pkg/ddl/modify_column.go
  pkg/ddl/tests/adminpause/ddl_stmt_cases.go
  pkg/executor/show.go
  pkg/meta/model/index.go
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
  pkg/meta/model/job_test.go
  pkg/parser/ast/ddl.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/indexmerge_path_test.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/plan_to_pb.go
  pkg/types/etc.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#60467 executor: don't scanRowTable if build stage meet error
  pkg/executor/join/hash_join_base.go
  pkg/executor/join/hash_join_v2.go
Labels: size/M, release-note-none, approved, lgtm

#60403 ddl: Fix ddl owner doesn't use etcd keyspace prefix
  pkg/ddl/BUILD.bazel
  pkg/ddl/owner_mgr.go
  pkg/ddl/owner_mgr_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#60408 config: deprecate ConcurrentlyInitStats and make it always enabled by default
  pkg/config/config.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/handletest/initstats/load_stats_test.go
  pkg/statistics/handle/handletest/statstest/stats_test.go
Labels: sig/planner, release-note, size/M, approved, lgtm

#60491 ingestor: define ingest interface for next gen
  pkg/ingestor/BUILD.bazel
  pkg/ingestor/doc.go
  pkg/ingestor/ingestcli/BUILD.bazel
  pkg/ingestor/ingestcli/interface.go
Labels: size/L, release-note-none, approved, lgtm

#60406 planner: modernize some package
  build/nogo_config.json
  pkg/planner/core/operator/logicalop/base_logical_plan.go
  pkg/planner/core/operator/logicalop/logical_aggregation.go
  pkg/planner/core/operator/logicalop/logical_expand.go
  pkg/planner/core/operator/logicalop/logical_mem_table.go
  pkg/planner/core/operator/logicalop/logical_projection.go
  pkg/planner/core/operator/logicalop/logical_schema_producer.go
  pkg/planner/core/operator/logicalop/logical_table_dual.go
  pkg/planner/core/operator/logicalop/logical_union_all.go
  pkg/planner/core/operator/logicalop/logical_union_scan.go
  pkg/planner/core/operator/logicalop/logical_window.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#60492 globalsort: replace key and value slice with kvPair
  pkg/lightning/backend/external/engine.go
  pkg/lightning/backend/external/engine_test.go
  pkg/lightning/backend/external/file.go
  pkg/lightning/backend/external/file_test.go
  pkg/lightning/backend/external/iter_test.go
  pkg/lightning/backend/external/merge_v2.go
  pkg/lightning/backend/external/onefile_writer.go
  pkg/lightning/backend/external/onefile_writer_test.go
  pkg/lightning/backend/external/reader.go
  pkg/lightning/backend/external/reader_test.go
  pkg/lightning/backend/external/testutil.go
  pkg/lightning/backend/external/writer.go
  pkg/lightning/backend/external/writer_test.go
Labels: size/XL, release-note-none, approved, lgtm

#60494 util: fix typo in `DestroyParser` function name
  pkg/bindinfo/utils.go
  pkg/planner/core/plan_cache_param.go
  pkg/session/session.go
  pkg/util/generatedexpr/generated_expr.go
  pkg/util/parser/parser.go
Labels: sig/planner, size/S, release-note-none, ok-to-test, approved, lgtm

#60470 localbackend: abstract region job worker
  pkg/lightning/backend/local/BUILD.bazel
  pkg/lightning/backend/local/job_worker.go
  pkg/lightning/backend/local/job_worker_test.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/local/region_job.go
  pkg/lightning/common/ingest_data.go
Labels: size/XL, release-note-none, approved, lgtm

#60328 br: set default restore checksum to false
  br/cmd/br/backup.go
  br/pkg/task/common.go
  br/pkg/task/common_test.go
  pkg/executor/brie.go
  pkg/executor/brie_test.go
Labels: release-note, size/M, approved, lgtm

#60486 executor: split main building process of hash join V1/2 out based on childExec
  pkg/executor/builder.go
  pkg/executor/join/hash_join_v1.go
  pkg/executor/join/hash_join_v2.go
Labels: sig/planner, size/S, release-note-none, ok-to-test, approved, lgtm

#60402 external store: use separate ctx for GCS clients
  br/pkg/storage/gcs.go
  br/pkg/storage/gcs_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.5

#59382 lignthing/importinto: parallel reading files infos from data store
  lightning/pkg/importer/precheck.go
  lightning/pkg/server/lightning.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/import.go
  pkg/executor/importer/import_test.go
  pkg/lightning/mydump/BUILD.bazel
  pkg/lightning/mydump/loader.go
  pkg/lightning/mydump/loader_test.go
  pkg/lightning/mydump/parquet_parser.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#60462 session: syssession checks the concurrency of thread-unsafe calls
  pkg/session/syssession/BUILD.bazel
  pkg/session/syssession/pool_test.go
  pkg/session/syssession/session.go
  pkg/session/syssession/session_test.go
Labels: size/XL, release-note-none, approved, lgtm

#60452 ddl, planner: cascade updates of fk tables are adapted to tablemode
  pkg/ddl/cancel_test.go
  pkg/ddl/table_mode_test.go
  pkg/ddl/tests/adminpause/pause_cancel_test.go
  pkg/ddl/tests/adminpause/pause_resume_test.go
  pkg/ddl/tests/fk/BUILD.bazel
  pkg/ddl/tests/fk/foreign_key_test.go
  pkg/ddl/testutil/BUILD.bazel
  pkg/ddl/testutil/testutil.go
  pkg/planner/core/foreign_key.go
  pkg/util/dbutil/table.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#60495 planner: add datasource inner task build by feeling and building for index join prop.
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/index_join_path.go
  pkg/planner/property/physical_property.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#60506 globalsort: encode keyspace when writing to external storage
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_read_index.go
  pkg/disttask/importinto/encode_and_sort_operator.go
  pkg/lightning/backend/external/BUILD.bazel
  pkg/lightning/backend/external/engine.go
  pkg/lightning/backend/external/writer.go
Labels: size/M, release-note-none, approved, lgtm

#60512 planner: add optimizer cost factor tests
  pkg/planner/core/plan_cost_ver2_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#60343 br: Pre-alloc all table ids for restore
  br/pkg/restore/internal/prealloc_db/db.go
  br/pkg/restore/internal/prealloc_db/db_test.go
  br/pkg/restore/internal/prealloc_table_id/BUILD.bazel
  br/pkg/restore/internal/prealloc_table_id/alloc.go
  br/pkg/restore/internal/prealloc_table_id/alloc_test.go
  br/pkg/restore/snap_client/export_test.go
  pkg/executor/brie.go
  pkg/executor/brie_utils.go
Labels: size/XL, release-note-none, approved, lgtm

#60510 build: use makefile flag to control next gen build
  Makefile
  Makefile.common
  pkg/util/printer/printer.go
Labels: size/S, release-note-none, approved, lgtm

#60524 planner: fix the issue that the type of `BatchGet` with multiple columns is incorrect
  pkg/planner/core/point_get_plan.go
  pkg/server/tests/commontest/tidb_test.go
Labels: sig/planner, size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#60520 planner: fix bug in `PhysicalExchangeSender::ResolveIndicesItself`
  pkg/planner/core/physical_plan_test.go
  pkg/planner/core/resolve_indices.go
  pkg/planner/property/physical_property.go
Labels: sig/planner, release-note, size/M, approved, lgtm

#60519 planner: check drop privilege for `CREATE OR REPLACE VEIW` stmt | tidb-test=pr/2506
  pkg/planner/core/planbuilder.go
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/privilege/privileges.test
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#60560 planner: fix the issue that the type of BatchGet with multiple columns is incorrect (hotfix branch)
  pkg/planner/core/point_get_plan.go
  pkg/server/tests/tidb_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#60457 runaway: fix the issue where COOLDOWN/SWITCH_GROUP can't be triggered
  pkg/executor/adapter.go
  pkg/resourcegroup/runaway/checker.go
Labels: size/M, release-note-none, approved, lgtm

#60353 go.mod: upgrade client-go to support redact log
  DEPS.bzl
  go.mod
  go.sum
  pkg/parser/terror/terror_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.5

#59791 stats: use an alternative function to read the bound from `BLOB` stored in `mysql.stats_buckets`. | tidb-test=pr/2503
  pkg/statistics/handle/handletest/BUILD.bazel
  pkg/statistics/handle/handletest/handle_test.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/storage/save.go
  pkg/types/datum.go
Labels: sig/planner, release-note, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#60540 compacted log restore: solve the race of rule.
  br/pkg/restore/snap_client/import.go
  br/pkg/restore/utils/BUILD.bazel
  br/pkg/restore/utils/rewrite_rule.go
  br/pkg/restore/utils/rewrite_rule_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#60516 planner: add comments style hints check for the fast path
  pkg/planner/core/point_get_plan.go
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#60566 *: upgrade rules_go
  WORKSPACE
  WORKSPACE.patchgo
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#60522 planner: generalize vector index to columnar index
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/access_object.go
  pkg/planner/core/casetest/vectorsearch/vector_index_test.go
  pkg/planner/core/columnar_index_utils.go
  pkg/planner/core/explain.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/plan_cost_ver2.go
  pkg/planner/core/plan_to_pb.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#60340 tables: always append temp index values for unique index
  pkg/ddl/backfilling_operators.go
  pkg/executor/insert.go
  pkg/executor/insert_common.go
  pkg/executor/replace.go
  pkg/table/tables/index.go
  tests/realtikvtest/addindextest3/ingest_test.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#60564 planner: fix privileges for `select for update` stmt
  pkg/planner/core/logical_plan_builder.go
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/privilege/privileges.test
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#60558 planner: add hint support for optimizer cost factors
  pkg/planner/core/casetest/hint/BUILD.bazel
  pkg/planner/core/casetest/hint/hint_test.go
  pkg/planner/core/plan_cost_ver2_test.go
  pkg/sessionctx/variable/setvar_affect.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#60599 *: call scheduleUpdateConnectionCtxs after leader switch | tidb-test=e1d0c1e615f749e7139f5be95bc4a2b8cedb7380
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#60605 topsql: move fast plan check to beginning of observeStmtBeginForTopSQL when disable top sql
  pkg/executor/adapter.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.5

#60454 config: add tikv-worker url as TiDB config
  pkg/config/BUILD.bazel
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/ddl/ingest/config.go
  pkg/executor/importer/import.go
  pkg/lightning/backend/local/local.go
Labels: sig/planner, size/S, release-note-none, component/dumpling, approved, lgtm

#60542 planner: change the semantic of `tidb_opt_ordering_index_selectivity_threshold` from `<` to `<=` (#60255)
  planner/core/find_best_task.go
  statistics/integration_test.go
  statistics/testdata/integration_suite_in.json
  statistics/testdata/integration_suite_out.json
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#60594 *: cherry-pick #58138. #58324. #58466 #58815 to v8.5 branch
  DEPS.bzl
  go.mod
  go.sum
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#60531 executor: avoid scan row table if build is not finished in hash join v2
  pkg/executor/join/hash_join_base.go
  pkg/executor/join/hash_join_v2.go
Labels: size/M, release-note-none, approved, lgtm

#60436 planner: fix doesn't push down hash join to tiflash
  pkg/planner/core/casetest/tpch/BUILD.bazel
  pkg/planner/core/casetest/tpch/testdata/tpch_suite_in.json
  pkg/planner/core/casetest/tpch/testdata/tpch_suite_out.json
  pkg/planner/core/casetest/tpch/tpch_test.go
  pkg/planner/core/task.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#60536 grafana: fix the connection count panel in "tidb" page
  pkg/metrics/grafana/overview.json
  pkg/metrics/grafana/performance_overview.json
  pkg/metrics/grafana/tidb.json
Labels: size/XS, release-note-none, approved, lgtm

#60543 localbackend: add cloud region job worker | tidb-test=ccf9f5de6817ed2e54c18f2c1757056d2c8b4e4c
  Makefile
  pkg/ingestor/ingestcli/BUILD.bazel
  pkg/ingestor/ingestcli/interface.go
  pkg/ingestor/ingestcli/mock/BUILD.bazel
  pkg/ingestor/ingestcli/mock/client_mock.go
  pkg/lightning/backend/local/BUILD.bazel
  pkg/lightning/backend/local/job_worker.go
  pkg/lightning/backend/local/job_worker_test.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/local/region_job.go
Labels: size/XXL, release-note-none, approved, lgtm

#60596 statistics: Simplify histogram async load with defer cleanup
  pkg/statistics/asyncload/BUILD.bazel
  pkg/statistics/asyncload/async_load_test.go
  pkg/statistics/handle/storage/read.go
Labels: sig/planner, release-note, size/M, approved, lgtm

#60521 statistics: improve logging messages and add duration metrics for stats initialization
  pkg/domain/domain.go
  pkg/statistics/handle/bootstrap.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#60622 globalsort: add util functions to remove duplicates and some refactor
  pkg/lightning/backend/external/file.go
  pkg/lightning/backend/external/file_test.go
  pkg/lightning/backend/external/iter_test.go
  pkg/lightning/backend/external/kv_reader.go
  pkg/lightning/backend/external/onefile_writer.go
  pkg/lightning/backend/external/split_test.go
  pkg/lightning/backend/external/util.go
  pkg/lightning/backend/external/util_test.go
  pkg/lightning/backend/external/writer.go
Labels: size/XL, release-note-none, approved, lgtm

#60634 *: refine text and naming related to next-gen | tidb-test=ccf9f5de6817ed2e54c18f2c1757056d2c8b4e4c
  Makefile.common
  pkg/config/store.go
  pkg/lightning/backend/local/job_worker.go
  pkg/lightning/backend/local/job_worker_test.go
  pkg/lightning/backend/local/local.go
  pkg/util/printer/printer.go
Labels: size/M, release-note-none, approved, lgtm

#60638 executor: fix schema-table inconsistent issue in `IS.tables`
  pkg/planner/core/memtable_infoschema_extractor.go
  tests/integrationtest/r/executor/infoschema_reader.result
  tests/integrationtest/t/executor/infoschema_reader.test
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#60169 executor: support new sql syntax `show distribution jobs and distribute table t1`
  pkg/domain/infosync/region.go
  pkg/executor/BUILD.bazel
  pkg/executor/builder.go
  pkg/executor/compiler.go
  pkg/executor/distribute.go
  pkg/executor/distribute_table_test.go
  pkg/executor/distributions_test.go
  pkg/executor/show.go
  pkg/planner/core/common_plans.go
  pkg/planner/core/operator/logicalop/logical_show.go
  pkg/planner/core/planbuilder.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#60174 br: reduce the memory consumption of backup ranges
  br/cmd/br/debug.go
  br/pkg/backup/BUILD.bazel
  br/pkg/backup/check.go
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/backup/schema.go
  br/pkg/backup/schema_test.go
  br/pkg/backup/store.go
  br/pkg/checkpoint/backup.go
  br/pkg/checkpoint/checkpoint.go
  br/pkg/checkpoint/checkpoint_test.go
  br/pkg/checkpoint/manager.go
  br/pkg/checkpoint/storage.go
  br/pkg/checksum/BUILD.bazel
  br/pkg/checksum/validate.go
  br/pkg/restore/log_client/client.go
  br/pkg/restore/log_client/log_split_strategy.go
  br/pkg/restore/snap_client/client.go
  br/pkg/restore/split/split_test.go
  br/pkg/restore/utils/merge.go
  br/pkg/restore/utils/rewrite_rule_test.go
  br/pkg/rtree/BUILD.bazel
  br/pkg/rtree/logging.go
  br/pkg/rtree/logging_test.go
  br/pkg/rtree/merge_fuzz_test.go
  br/pkg/rtree/rtree.go
  br/pkg/rtree/rtree_test.go
  br/pkg/task/BUILD.bazel
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/backup_txn.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/misc.go
  br/pkg/utils/misc_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#60635 ddl: add deadline for cleanMDLInfo etcd operation
  pkg/ddl/job_scheduler.go
  pkg/ddl/util/util.go
Labels: release-note, size/XS, ok-to-test, approved, lgtm

#60633 IMPORTINTO: close store inside LoadDataController
  pkg/disttask/importinto/clean_s3.go
  pkg/disttask/importinto/planner.go
  pkg/disttask/importinto/task_executor.go
  pkg/executor/import_into.go
  pkg/executor/importer/import.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/importer/table_import.go
  pkg/executor/load_data.go
Labels: size/M, release-note-none, approved, lgtm

#60631 globalsort: add definition for conflict handling and refactor
  pkg/ingestor/engineapi/BUILD.bazel
  pkg/ingestor/engineapi/engine.go
  pkg/ingestor/engineapi/ingest_data.go
  pkg/lightning/backend/external/BUILD.bazel
  pkg/lightning/backend/external/engine.go
  pkg/lightning/backend/external/engine_test.go
  pkg/lightning/backend/local/BUILD.bazel
  pkg/lightning/backend/local/duplicate.go
  pkg/lightning/backend/local/engine.go
  pkg/lightning/backend/local/engine_mgr.go
  pkg/lightning/backend/local/engine_mgr_test.go
  pkg/lightning/backend/local/iterator.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/local/region_job.go
  pkg/lightning/backend/local/region_job_test.go
  pkg/lightning/common/BUILD.bazel
  pkg/lightning/common/engine.go
Labels: size/XL, release-note-none, approved, lgtm

#60544 Planner: add a column to save distance results from vector index in TopN plan.
  pkg/expression/util.go
  pkg/meta/model/table.go
  pkg/planner/core/casetest/vectorsearch/testdata/ann_index_suite_out.json
  pkg/planner/core/columnar_index_utils.go
  pkg/planner/core/explain.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/task.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#56676 stats: panic in the MergePartitionHist2GlobalHist
  pkg/planner/core/planbuilder.go
  pkg/statistics/handle/globalstats/BUILD.bazel
  pkg/statistics/handle/globalstats/global_stats.go
  pkg/statistics/handle/globalstats/global_stats_async.go
  pkg/statistics/handle/globalstats/global_stats_test.go
  pkg/statistics/histogram.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#60642 workloadrepo: Add permission checks to workload repo's ADMIN command.
  pkg/planner/core/planbuilder.go
  pkg/util/workloadrepo/BUILD.bazel
  pkg/util/workloadrepo/worker_test.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#60670 planner: drop procedure
  errors.toml
  pkg/planner/core/planbuilder.go
  pkg/util/dbterror/plannererrors/planner_terror.go
Labels: sig/planner, release-note, size/S, approved, lgtm

#60623 planner: modernize some package
  build/nogo_config.json
  pkg/planner/cardinality/cross_estimation.go
  pkg/planner/cardinality/pseudo.go
  pkg/planner/cardinality/row_count_index.go
  pkg/planner/cardinality/selectivity.go
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/cardinality/trace_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#60668 *: add kernel type and build for next gen
  Makefile.common
  pkg/config/kerneltype/BUILD.bazel
  pkg/config/kerneltype/classic.go
  pkg/config/kerneltype/doc.go
  pkg/config/kerneltype/nextgen.go
  pkg/util/printer/BUILD.bazel
  pkg/util/printer/printer.go
Labels: size/L, release-note-none, approved, lgtm

#60652 backup: adjust parameter description
  br/pkg/task/backup.go
Labels: size/XS, release-note-none, approved, lgtm

#60680 localbackend: fix retry on ingest err 'disk full'
  errors.toml
  pkg/lightning/backend/local/region_job.go
  pkg/lightning/backend/local/region_job_test.go
  pkg/lightning/common/errors.go
  pkg/lightning/common/retry_test.go
  tests/realtikvtest/importintotest2/from_select_test.go
Labels: size/M, release-note-none, approved, lgtm

#60675 planner: Fix issue #60556: Simplify Range Intersection Logic
  pkg/planner/core/casetest/index/index_test.go
  pkg/planner/core/casetest/index/testdata/index_range_in.json
  pkg/planner/core/casetest/index/testdata/index_range_out.json
  pkg/util/ranger/types.go
  pkg/util/ranger/types_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#59753 parser: Fix build issues on 32-bit arm
  pkg/parser/hintparser.go
  pkg/parser/hintparser.y
Labels: size/XS, release-note-none, approved, lgtm

#60696 client: upgrade pd client to solve tso block
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#60702 collate: latin1_bin has the same collate with utf8mb4_bin,utf8_bin
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/tests/subquery/BUILD.bazel
  pkg/planner/core/tests/subquery/main_test.go
  pkg/planner/core/tests/subquery/subquery_test.go
  pkg/util/collate/collate.go
Labels: sig/planner, release-note, size/L, approved, lgtm

#60691 localbackend: unify job stage transition during ingest | tidb-test=ccf9f5de6817ed2e54c18f2c1757056d2c8b4e4c
  errors.toml
  pkg/lightning/backend/local/job_worker.go
  pkg/lightning/backend/local/job_worker_test.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/local/region_job.go
  pkg/lightning/backend/local/region_job_test.go
  pkg/lightning/common/errors.go
Labels: size/XL, release-note-none, approved, lgtm

#60384 executor: tiny optimize import into from select performance
  pkg/executor/import_into.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/chunk_process.go
  pkg/executor/importer/engine_process.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/importer/table_import.go
  pkg/executor/importer/table_import_testkit_test.go
Labels: size/L, release-note-none, approved, lgtm

#60705 br: fix a PromQL syntax error
  br/metrics/grafana/br.json
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#60667 statistics: improve comments for empty histogram handling
  pkg/statistics/handle/globalstats/global_stats_async.go
  pkg/statistics/histogram.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#60703 Lightning: Fix grammar and spacing in Lightning error message
  lightning/pkg/importer/precheck_impl.go
  lightning/pkg/importer/table_import_test.go
Labels: size/XS, release-note-none, approved, lgtm

#60719 meta: Fix vector incompatibility with old version and TiFlash
  pkg/meta/model/index.go
  pkg/parser/ast/model.go
Labels: size/XS, release-note-none, approved, lgtm

#60724 *: update client-go version to fix backoff info lose issue
  DEPS.bzl
  go.mod
  go.sum
Labels: release-note, size/S, approved, lgtm

#60662 OWNERS: guard change for pkg/lightning/config
  pkg/lightning/config/OWNERS
Labels: size/XS, release-note-none, approved, lgtm

#60595 statistics: batch update the stats meta and skip updating stats meta history.
  br/pkg/restore/snap_client/BUILD.bazel
  br/pkg/restore/snap_client/pipeline_items.go
  pkg/statistics/BUILD.bazel
  pkg/statistics/handle/storage/save.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/integration_test.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#60694 planner: add back children's `Schema` when checking `LogicalJoin`'s used columns in column pruning
  pkg/planner/core/operator/logicalop/logical_join.go
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#60563 topsql: fix a possible race
  pkg/util/topsql/reporter/pubsub.go
Labels: size/S, release-note-none, approved, lgtm

#60741 ldap,test: re-generate crt/key for ldap test
  pkg/privilege/privileges/ldap/test/ca.crt
  pkg/privilege/privileges/ldap/test/ldap.crt
  pkg/privilege/privileges/ldap/test/ldap.key
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4, needs-cherry-pick-release-9.0-beta.1

#60733 planner: change the semantic of `tidb_opt_ordering_index_selectivity_threshold` from `<` to `<=` (#60255)
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/cardinality/testdata/cardinality_suite_in.json
  pkg/planner/cardinality/testdata/cardinality_suite_out.json
  pkg/planner/core/find_best_task.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#60626 planner: add tpch Q1 with tiflash
  build/nogo_config.json
  pkg/planner/core/casetest/tpch/BUILD.bazel
  pkg/planner/core/casetest/tpch/testdata/tpch_suite_in.json
  pkg/planner/core/casetest/tpch/testdata/tpch_suite_out.json
  pkg/planner/core/casetest/tpch/tpch_test.go
Labels: sig/planner, size/L, release-note-none, skip-issue-check, approved, lgtm

#60730 statistics: log schema not found for table in updateGlobalTableStats functions
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler.go
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/ddl/subscriber.go
Labels: sig/planner, release-note, size/L, approved, lgtm

#60648 planner: add skew risk for equals
  pkg/planner/cardinality/BUILD.bazel
  pkg/planner/cardinality/row_count_index.go
  pkg/planner/cardinality/selectivity_test.go
  pkg/sessionctx/vardef/tidb_vars.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/setvar_affect.go
  pkg/sessionctx/variable/sysvar.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#60774 build: gopls modernize
  build/linter/constructor/analyzer.go
  build/linter/printexpression/analyzer.go
Labels: size/XS, release-note-none, approved, lgtm

#60783 bindinfo: gopls modernize
  build/nogo_config.json
  pkg/bindinfo/binding_cache.go
  pkg/bindinfo/session_handle_test.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#60797 Parser: gopls modernize
  pkg/parser/ast/dml.go
  pkg/parser/ast/expressions.go
  pkg/parser/ast/functions.go
  pkg/parser/ast/misc.go
  pkg/parser/auth/caching_sha2.go
  pkg/parser/auth/tidb_sm3.go
  pkg/parser/charset/charset.go
  pkg/parser/charset/encoding_ascii.go
  pkg/parser/charset/encoding_bin.go
  pkg/parser/format/format.go
  pkg/parser/goyacc/format_yacc.go
  pkg/parser/goyacc/main.go
  pkg/parser/lexer.go
  pkg/parser/misc.go
  pkg/parser/mysql/error.go
  pkg/parser/mysql/privs.go
  pkg/parser/parser_test.go
  pkg/parser/test_driver/test_driver.go
  pkg/parser/test_driver/test_driver_datum.go
  pkg/parser/test_driver/test_driver_mydecimal.go
  pkg/parser/yy_parser.go
Labels: size/L, release-note-none, approved, lgtm

#60800 planner: fix panic when execute `select 1 for update`
  pkg/planner/core/logical_plan_builder.go
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/t/executor/executor.test
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#60802 dockerfile: upgrade base image version and address
  Dockerfile
  Dockerfile.enterprise
Labels: size/XS, release-note-none, approved, lgtm

#60687 br: introduce a parameter `--auto-analyze` to trigger `tidb_analyze_priority_queue` to analyze tables in the background.
  br/pkg/restore/snap_client/pipeline_items.go
  br/pkg/task/common_test.go
  br/pkg/task/restore.go
  br/tests/br_stats/run.sh
Labels: release-note, size/M, ok-to-test, approved, lgtm

#60778 statistics: gopls modernize
  build/nogo_config.json
  pkg/statistics/asyncload/async_load.go
  pkg/statistics/builder.go
  pkg/statistics/builder_test.go
  pkg/statistics/cmsketch.go
  pkg/statistics/cmsketch_test.go
  pkg/statistics/handle/autoanalyze/autoanalyze.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job.go
  pkg/statistics/handle/cache/internal/lfu/key_set_shard.go
  pkg/statistics/handle/cache/internal/lfu/lfu_cache_test.go
  pkg/statistics/handle/cache/stats_table_row_cache.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/globalstats/global_stats.go
  pkg/statistics/handle/globalstats/global_stats_async.go
  pkg/statistics/handle/globalstats/global_stats_internal_test.go
  pkg/statistics/handle/globalstats/merge_worker.go
  pkg/statistics/handle/globalstats/topn.go
  pkg/statistics/handle/globalstats/topn_bench_test.go
  pkg/statistics/handle/globalstats/topn_test.go
  pkg/statistics/handle/handletest/analyze/analyze_test.go
  pkg/statistics/handle/handletest/handle_test.go
  pkg/statistics/handle/handletest/statstest/stats_test.go
  pkg/statistics/handle/history/history_stats.go
  pkg/statistics/handle/initstats/load_stats_page.go
  pkg/statistics/handle/lockstats/query_lock_test.go
  pkg/statistics/handle/storage/dump_test.go
  pkg/statistics/handle/storage/gc.go
  pkg/statistics/handle/storage/json.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/storage/save.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/syncload/stats_syncload_test.go
  pkg/statistics/handle/updatetest/update_test.go
  pkg/statistics/handle/usage/collector/collector_test.go
  pkg/statistics/handle/usage/index_usage_integration_test.go
  pkg/statistics/handle/usage/indexusage/collector_test.go
  pkg/statistics/handle/usage/session_stats_collect.go
  pkg/statistics/handle/usage/session_stats_collect_test.go
  pkg/statistics/histogram.go
  pkg/statistics/histogram_bench_test.go
  pkg/statistics/integration_test.go
  pkg/statistics/main_test.go
  pkg/statistics/row_sampler.go
  pkg/statistics/sample.go
  pkg/statistics/sample_test.go
  pkg/statistics/scalar.go
  pkg/statistics/statistics_test.go
  pkg/statistics/table.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#60612 br: fix advancer log
  br/pkg/streamhelper/advancer.go
  br/pkg/streamhelper/flush_subscriber.go
  br/pkg/streamhelper/subscription_test.go
Labels: size/M, release-note-none, approved, lgtm

#60826 OWNERS: update planner owner
  OWNERS_ALIASES
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#60815 *: support building coverage image
  Makefile
Labels: size/S, release-note-none, approved, lgtm

#60807 ddl, partition: fix exchange partition between clustered table with nonclustered table
  pkg/ddl/executor.go
  tests/integrationtest/r/ddl/partition.result
  tests/integrationtest/t/ddl/partition.test
Labels: size/S, release-note-none, approved, lgtm

#60801 dumpling: return error if init log file failed
  DEPS.bzl
  dumpling/log/BUILD.bazel
  dumpling/log/log_test.go
  go.mod
  go.sum
Labels: size/M, release-note-none, component/dumpling, approved, lgtm, needs-cherry-pick-release-8.5

#60811 planner: use full schema to resolve and rewrite group by item and to build table dual's schema in building where clause | tidb-test=pr/2508
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/logical_plan_builder.go
  tests/integrationtest/r/planner/core/casetest/predicate_simplification.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_join_reorder.result
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#60676 ddl: fix OOM issue when adding many indexes
  pkg/ddl/backfilling_operators.go
  pkg/disttask/importinto/BUILD.bazel
  pkg/disttask/importinto/encode_and_sort_operator.go
  pkg/disttask/importinto/encode_and_sort_operator_test.go
  pkg/disttask/importinto/task_executor.go
  pkg/lightning/backend/external/writer.go
  pkg/lightning/backend/external/writer_test.go
Labels: size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#60824 planner: add skeleton of SPM AI Plan Evolution
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/binding_auto.go
  pkg/bindinfo/binding_auto_test.go
  pkg/bindinfo/binding_handle.go
  pkg/bindinfo/binding_plan_evolution.go
  pkg/bindinfo/binding_plan_evolution_test.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#60818 server: gopls modernize
  build/nogo_config.json
  pkg/server/conn.go
  pkg/server/conn_stmt.go
  pkg/server/conn_stmt_params.go
  pkg/server/conn_stmt_params_test.go
  pkg/server/conn_test.go
  pkg/server/handler/tests/http_handler_serial_test.go
  pkg/server/handler/tests/http_handler_test.go
  pkg/server/handler/tikvhandler/tikv_handler.go
  pkg/server/internal/column/column.go
  pkg/server/internal/column/column_test.go
  pkg/server/internal/parse/parse.go
  pkg/server/internal/testserverclient/server_client.go
  pkg/server/internal/util/util.go
  pkg/server/server.go
  pkg/server/tests/commontest/cursor_test.go
  pkg/server/tests/commontest/tidb_test.go
  pkg/server/tests/cursor/cursor_test.go
  pkg/server/tidb_library_test.go
  pkg/server/tidb_test.go
Labels: size/L, release-note-none, approved, lgtm

#60839 lightning: added retry times and two new retry reasons | tidb-test=release-8.1.2
  br/pkg/restore/split/BUILD.bazel
  br/pkg/restore/split/client.go
  br/pkg/restore/split/client_test.go
Labels: size/M, release-note-none, approved, lgtm

#60852 planner,indexjoin: Fix the panic of indexjoin + streamagg
  pkg/planner/core/exhaust_physical_plans.go
  tests/integrationtest/r/planner/core/indexjoin.result
  tests/integrationtest/t/planner/core/indexjoin.test
Labels: sig/planner, release-note, size/XXL, approved, lgtm, needs-cherry-pick-release-8.5

#60569 ingestor: abstract http client and impl retry for tikv-worker | tidb-test=ccf9f5de6817ed2e54c18f2c1757056d2c8b4e4c
  pkg/ingestor/ingestcli/BUILD.bazel
  pkg/ingestor/ingestcli/client.go
  pkg/ingestor/ingestcli/client_test.go
  pkg/ingestor/ingestcli/interface.go
  pkg/ingestor/ingestcli/mock/client_mock.go
  pkg/lightning/backend/local/job_worker.go
  pkg/lightning/backend/local/job_worker_test.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/local/region_job.go
Labels: size/XXL, release-note-none, approved, lgtm

#60870 ddl: fix create partition with binary type + empty string
  pkg/ddl/partition.go
  tests/integrationtest/r/ddl/partition.result
  tests/integrationtest/t/ddl/partition.test
Labels: size/S, release-note-none, approved, lgtm

#60860 owner: gopls modernize
  build/nogo_config.json
  pkg/owner/manager.go
  pkg/owner/manager_test.go
  pkg/owner/mock.go
Labels: size/S, release-note-none, approved, lgtm

#60865 *: Support metrics and slowlog with keyspace info for next gen
  pkg/executor/BUILD.bazel
  pkg/executor/adapter.go
  pkg/util/metricsutil/BUILD.bazel
  pkg/util/metricsutil/common.go
Labels: size/M, release-note-none, approved, lgtm

#60867 globalsort: support onDup param for writer
  pkg/ingestor/engineapi/engine.go
  pkg/lightning/backend/external/file.go
  pkg/lightning/backend/external/kv_reader.go
  pkg/lightning/backend/external/onefile_writer.go
  pkg/lightning/backend/external/writer.go
  pkg/lightning/backend/external/writer_test.go
  pkg/lightning/membuf/buffer.go
  pkg/lightning/membuf/buffer_test.go
Labels: size/XL, release-note-none, approved, lgtm

#60764 tests: gopls modernize on the tests directory
  tests/globalkilltest/global_kill_test.go
  tests/graceshutdown/graceshutdown_test.go
  tests/llmtest/generator/generator.go
  tests/realtikvtest/addindextest/add_index_test.go
  tests/realtikvtest/addindextest1/disttask_test.go
  tests/realtikvtest/addindextest2/alter_job_test.go
  tests/realtikvtest/addindextest2/global_sort_test.go
  tests/realtikvtest/addindextest3/functional_test.go
  tests/realtikvtest/addindextest3/ingest_test.go
  tests/realtikvtest/addindextest3/operator_test.go
  tests/realtikvtest/brietest/brie_test.go
  tests/realtikvtest/flashbacktest/flashback_test.go
  tests/realtikvtest/importintotest/import_into_test.go
  tests/realtikvtest/importintotest2/from_select_test.go
  tests/realtikvtest/importintotest3/from_server_test.go
  tests/realtikvtest/importintotest4/global_sort_test.go
  tests/realtikvtest/importintotest4/split_file_test.go
  tests/realtikvtest/pipelineddmltest/pipelineddml_test.go
  tests/realtikvtest/sessiontest/infoschema_v2_test.go
  tests/realtikvtest/sessiontest/paging_test.go
  tests/realtikvtest/testutils/common.go
  tests/realtikvtest/testutils/compatibility.go
  tests/realtikvtest/testutils/workload.go
  tests/realtikvtest/txntest/stale_read_test.go
  tests/realtikvtest/txntest/txn_state_test.go
Labels: size/L, release-note-none, approved, lgtm

#60854 Infoschema: gopls modernize
  build/nogo_config.json
  pkg/infoschema/bench_test.go
  pkg/infoschema/builder.go
  pkg/infoschema/cache.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/internal/sizer.go
  pkg/infoschema/test/cachetest/cache_test.go
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/infoschema/test/infoschemav2test/v2_test.go
Labels: size/M, release-note-none, approved, lgtm

#60793 store: gopls modernize
  pkg/store/copr/batch_coprocessor.go
  pkg/store/copr/batch_coprocessor_test.go
  pkg/store/copr/copr_test/coprocessor_test.go
  pkg/store/copr/coprocessor.go
  pkg/store/copr/coprocessor_cache.go
  pkg/store/copr/coprocessor_test.go
  pkg/store/copr/region_cache.go
  pkg/store/driver/txn/union_iter_test.go
  pkg/store/gcworker/gc_worker_test.go
  pkg/store/helper/helper.go
  pkg/store/mockstore/cluster_test.go
  pkg/store/mockstore/mockcopr/analyze.go
  pkg/store/mockstore/mockcopr/cop_handler_dag.go
  pkg/store/mockstore/unistore/cophandler/closure_exec.go
  pkg/store/mockstore/unistore/cophandler/cop_handler.go
  pkg/store/mockstore/unistore/cophandler/cop_handler_test.go
  pkg/store/mockstore/unistore/cophandler/mpp.go
  pkg/store/mockstore/unistore/cophandler/mpp_exec.go
  pkg/store/mockstore/unistore/lockstore/lockstore.go
  pkg/store/mockstore/unistore/lockstore/lockstore_test.go
  pkg/store/mockstore/unistore/pd.go
  pkg/store/mockstore/unistore/pd/client.go
  pkg/store/mockstore/unistore/pd_test.go
  pkg/store/mockstore/unistore/raw_handler.go
  pkg/store/mockstore/unistore/raw_handler_test.go
  pkg/store/mockstore/unistore/tikv/dbreader/db_reader.go
  pkg/store/mockstore/unistore/tikv/detector.go
  pkg/store/mockstore/unistore/tikv/mock_region.go
  pkg/store/mockstore/unistore/tikv/mvcc.go
  pkg/store/mockstore/unistore/tikv/mvcc/mvcc.go
  pkg/store/mockstore/unistore/tikv/mvcc_test.go
  pkg/store/mockstore/unistore/tikv/region.go
  pkg/store/mockstore/unistore/tikv/server.go
  pkg/store/mockstore/unistore/tikv/server_batch.go
  pkg/store/mockstore/unistore/tikv/util.go
  pkg/store/mockstore/unistore/tikv/write.go
  pkg/store/mockstore/unistore/util/lockwaiter/lockwaiter.go
  pkg/store/pdtypes/typeutil.go
  pkg/store/store_test.go
Labels: size/XL, release-note-none, approved, lgtm

#60828 ddl: update row count periodically when running reorg job
  pkg/ddl/backfilling.go
  pkg/ddl/index.go
  pkg/ddl/index_change_test.go
  pkg/ddl/job_worker.go
  pkg/ddl/modify_column.go
  pkg/ddl/multi_schema_change.go
  pkg/ddl/multi_schema_change_test.go
  pkg/ddl/partition.go
  pkg/ddl/reorg.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#60698 sessionctx: disable fair locking in next-gen
  pkg/sessionctx/variable/BUILD.bazel
  pkg/sessionctx/variable/error.go
  pkg/sessionctx/variable/nextgen_test.go
  pkg/sessionctx/variable/sysvar.go
  pkg/store/driver/txn/BUILD.bazel
  pkg/store/driver/txn/txn_driver.go
Labels: size/M, release-note-none, approved, lgtm

#60879 localbackend: merge feature branch next-gen
  Makefile
  pkg/config/BUILD.bazel
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_read_index.go
  pkg/ddl/ingest/config.go
  pkg/disttask/importinto/encode_and_sort_operator.go
  pkg/executor/importer/import.go
  pkg/ingestor/BUILD.bazel
  pkg/ingestor/doc.go
  pkg/ingestor/engineapi/ingest_data.go
  pkg/ingestor/ingestcli/BUILD.bazel
  pkg/ingestor/ingestcli/client.go
  pkg/ingestor/ingestcli/client_test.go
  pkg/ingestor/ingestcli/interface.go
  pkg/ingestor/ingestcli/mock/BUILD.bazel
  pkg/ingestor/ingestcli/mock/client_mock.go
  pkg/lightning/backend/external/BUILD.bazel
  pkg/lightning/backend/external/engine.go
  pkg/lightning/backend/external/writer.go
  pkg/lightning/backend/local/BUILD.bazel
  pkg/lightning/backend/local/job_worker.go
  pkg/lightning/backend/local/job_worker_test.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/local_test.go
  pkg/lightning/backend/local/region_job.go
  pkg/lightning/backend/local/region_job_test.go
Labels: size/XXL, release-note-none, approved, lgtm
