Repository pingcap/tidb, pull requests merged in 2025-02, with the labels that each got.

#59242 *: upgrade go.1.23.6
  WORKSPACE
  build/image/base
  build/image/parser_test
  dumpling/README.md
  go.mod
Labels: size/S, release-note-none, component/dumpling, skip-issue-check, approved, lgtm

#59240 planner: typo in index costing
  pkg/planner/core/plan_cost_ver2.go
  tests/integrationtest/r/planner/core/casetest/integration.result
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#59246 infoschema: fix schema and data mismatch for TIDB_SERVERS_INFO
  pkg/executor/BUILD.bazel
  pkg/executor/infoschema_reader_test.go
  pkg/infoschema/tables.go
Labels: size/S, release-note-none, approved, lgtm

#59250 *: upgrade golang/glog to fix insecure temporary file usage
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#59259 executor: Add test for columnames to TestForServersInfo
  pkg/executor/infoschema_reader_test.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm, needs-cherry-pick-release-8.5

#58630 *: Build TiDB with PGO
  DEPS.bzl
  cmd/pluginpkg/pluginpkg.go
  go.mod
  go.sum
Labels: size/M, release-note-none, approved, lgtm

#56773 session: remove distributed tasks limitation from upgrade
  pkg/session/bootstrap.go
  pkg/session/bootstrap_test.go
Labels: size/M, release-note-none, approved, lgtm

#59241 planner: add tolerance for row count floating point comparison
  pkg/planner/core/casetest/index/testdata/index_range_out.json
  pkg/planner/core/casetest/testdata/plan_normalized_suite_out.json
  pkg/planner/core/cost/factors_thresholds.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/stats.go
  tests/integrationtest/r/clustered_index.result
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#59266 planner: remove slicegrow in the planner.core/unfoldWildStar
  pkg/planner/core/logical_plan_builder.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#59268 br: fix intergration test check unapplied error type
  br/tests/br_check_dup_table/run.sh
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#59272 planner: refactor some code related to binding
  pkg/bindinfo/binding.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/session_handle_test.go
  pkg/bindinfo/tests/bind_test.go
  pkg/executor/bind.go
  pkg/executor/show.go
  pkg/planner/core/planbuilder.go
  pkg/session/bootstrap.go
  pkg/session/bootstrap_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#59298 OWNERS: update planner owner
  OWNERS_ALIASES
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#59304 generatedexpr: reuse parser to improve performance
  pkg/util/generatedexpr/generated_expr.go
Labels: size/XS, release-note-none, approved, lgtm

#58676 txn: skips resolving lock in auto commit optimistic statement
  pkg/kv/option.go
  pkg/session/txn.go
  pkg/sessiontxn/isolation/base.go
  pkg/sessiontxn/isolation/optimistic.go
  pkg/store/driver/txn/txn_driver.go
Labels: release-note, size/M, approved, lgtm

#59312 ddl, meta: don't update `tblInfo.UpdateTS` for exchangePartition and truncatePartition
  pkg/ddl/table.go
  pkg/ddl/table_test.go
  pkg/meta/model/table.go
Labels: size/M, release-note-none, approved, lgtm

#59313 *: bump pd client
  DEPS.bzl
  go.mod
  go.sum
  pkg/store/mockstore/unistore/pd.go
Labels: size/M, release-note-none, approved, lgtm

#59199 planner: change more conditions that are always false to dual | tidb-test=pr/2466
  pkg/executor/prepared_test.go
  pkg/expression/util.go
  pkg/planner/core/casetest/rule/BUILD.bazel
  pkg/planner/core/casetest/rule/dual_test.go
  pkg/planner/core/casetest/rule/testdata/outer2inner_out.json
  pkg/planner/core/issuetest/main_test.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/expression_util.go
  pkg/planner/core/operator/logicalop/logical_datasource.go
  pkg/planner/core/operator/logicalop/logical_join.go
  pkg/planner/core/testdata/plan_suite_unexported_out.json
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/r/planner/core/casetest/index/index.result
  tests/integrationtest/r/planner/core/casetest/predicate_simplification.result
  tests/integrationtest/r/tpch.result
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#59157 ddl notifier: use pessimistic txn and fix updating memory state too early
  pkg/ddl/notifier/BUILD.bazel
  pkg/ddl/notifier/store.go
  pkg/ddl/notifier/subscribe.go
  pkg/ddl/notifier/testkit_test.go
  pkg/ddl/session/BUILD.bazel
  pkg/ddl/session/session.go
  pkg/ddl/session/session_pool_test.go
  tests/integrationtest/r/executor/analyze.result
  tests/integrationtest/r/executor/issues.result
  tests/integrationtest/t/executor/analyze.test
  tests/integrationtest/t/executor/issues.test
Labels: size/L, release-note-none, approved, lgtm

#59331 datum: remove wrong usage of pool and prealloc the buffer
  pkg/types/datum.go
Labels: size/S, release-note-none, approved, lgtm

#59327 external: improve S3 error message
  br/pkg/storage/ks3.go
  br/pkg/storage/s3.go
  br/pkg/storage/s3_test.go
Labels: size/M, release-note-none, approved, lgtm

#57873 planner: support sub-merge needEnforceExchanger
  pkg/planner/core/task.go
  pkg/planner/property/physical_property.go
Labels: sig/planner, size/S, release-note-none, ok-to-test, approved, lgtm

#59348 ttl: fix the issue that the TTL jobs are skipped or handled multiple times in one iteration
  pkg/ttl/client/notification.go
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#59346 planner : refactor the usage of int set.
  pkg/planner/cascades/old/BUILD.bazel
  pkg/planner/cascades/old/transformation_rules.go
  pkg/planner/core/rule/util/BUILD.bazel
  pkg/planner/core/rule/util/misc.go
  pkg/planner/core/rule_join_elimination.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#59337 executor: support showing session_states when signing cert is unavailable
  pkg/executor/show.go
  pkg/executor/show_test.go
Labels: size/M, release-note-none, approved, lgtm

#59349 executor: fix parse slow_query when db or index name contains `: `
  pkg/executor/slow_query.go
  pkg/executor/slow_query_test.go
Labels: size/S, release-note-none, approved, lgtm

#59345 dxf: optimize querying eligible tasks in task executor manager
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
Labels: size/M, release-note-none, approved, lgtm

#58980 statistics: do not ignore DDL event handing errors
  pkg/ddl/notifier/subscribe.go
  pkg/statistics/handle/ddl/BUILD.bazel
  pkg/statistics/handle/ddl/ddl.go
  pkg/statistics/handle/ddl/ddl_test.go
  pkg/statistics/handle/storage/save.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#59363 statistics: remove some dead codes
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/types/interfaces.go
Labels: sig/planner, size/M, release-note-none, skip-issue-check, approved, lgtm

#59364 statstics: remove useless code
  pkg/statistics/handle/cache/stats_table_row_cache.go
Labels: sig/planner, size/S, release-note-none, skip-issue-check, approved, lgtm

#58839 *: remove the variable txn_scope
  pkg/ddl/placement_sql_test.go
  pkg/expression/integration_test/integration_test.go
  pkg/server/server.go
  pkg/session/schematest/BUILD.bazel
  pkg/session/schematest/schema_test.go
  pkg/session/test/txn/BUILD.bazel
  pkg/session/test/txn/txn_test.go
  pkg/sessionctx/vardef/tidb_vars.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/sysvar_test.go
  pkg/sessionctx/variable/variable_test.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#59256 lightning: redact external storage url
  lightning/pkg/server/lightning.go
  pkg/lightning/config/BUILD.bazel
  pkg/lightning/config/config.go
  pkg/lightning/config/config_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, approved, lgtm

#59362 expr: support str_to_date pushdown to tikv
  pkg/expression/expr_to_pb_test.go
  pkg/expression/infer_pushdown.go
Labels: release-note, size/S, ok-to-test, approved, lgtm

#59374 bazel: Added http_timeout_scaling quicker downloads, if cache is not accessible
  .bazelrc
Labels: size/XS, release-note-none, approved, lgtm

#59273 executor: change the evaluation order of columns in `Update` and `Insert` statements (#57123)
  executor/insert.go
  executor/insert_test.go
  executor/update.go
  executor/update_test.go
  executor/write.go
Labels: cherry-pick-approved, size/XXL, release-note-none, approved, lgtm

#58945 privilege/privileges: refactor the data struct for user privilege data
  pkg/domain/domain.go
  pkg/privilege/privileges/BUILD.bazel
  pkg/privilege/privileges/cache.go
  pkg/privilege/privileges/cache_test.go
  pkg/privilege/privileges/tidb_auth_token_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#59360 csv-parser: rename fields to better reflect its meaning
  lightning/pkg/importer/check_info_test.go
  lightning/pkg/importer/table_import_test.go
  lightning/pkg/server/lightning_server_serial_test.go
  pkg/executor/importer/chunk_process_testkit_test.go
  pkg/executor/importer/import.go
  pkg/lightning/config/config.go
  pkg/lightning/config/config_test.go
  pkg/lightning/mydump/csv_parser.go
  pkg/lightning/mydump/csv_parser_test.go
  pkg/lightning/mydump/region.go
  pkg/lightning/mydump/region_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#59255 executor: add more explain analyze info for hash join spill
  pkg/executor/join/hash_join_spill_helper.go
  pkg/executor/join/hash_join_stats.go
  pkg/executor/join/hash_join_v2.go
  pkg/executor/join/hash_table_v2.go
  pkg/util/chunk/chunk_in_disk.go
  pkg/util/util.go
Labels: size/L, release-note-none, approved, lgtm

#59381 executor: fix the incorrect return when hash join encounters error
  pkg/executor/join/BUILD.bazel
  pkg/executor/join/hash_join_base.go
  pkg/executor/join/hash_join_v2.go
  pkg/executor/join/outer_join_spill_test.go
Labels: release-note, size/L, approved, lgtm, needs-cherry-pick-release-8.5

#59358 ttl: only gc in leader to save performance
  pkg/metrics/grafana/tidb.json
  pkg/ttl/metrics/metrics.go
  pkg/ttl/ttlworker/BUILD.bazel
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
  pkg/ttl/ttlworker/job_manager_test.go
Labels: size/L, release-note-none, approved, lgtm

#58644 ttl: don't GC running TTL jobs
  pkg/ttl/ttlworker/job.go
  pkg/ttl/ttlworker/job_manager.go
  pkg/ttl/ttlworker/job_manager_integration_test.go
  pkg/ttl/ttlworker/job_manager_test.go
Labels: size/L, release-note-none, approved, lgtm

#59355 planner: add a util function of finding common equivs between mutli fds.
  pkg/planner/funcdep/BUILD.bazel
  pkg/planner/funcdep/fd_graph.go
  pkg/planner/funcdep/fd_graph_test.go
Labels: sig/planner, size/M, release-note-none, ok-to-test, approved, lgtm

#59159 br: concurrently repairing indexes
  br/pkg/checkpoint/log_restore.go
  br/pkg/glue/progressing.go
  br/pkg/restore/log_client/BUILD.bazel
  br/pkg/restore/log_client/client.go
  br/pkg/restore/log_client/client_test.go
  br/pkg/restore/log_client/export_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#58512 *: add sql variable @@tidb_accelerate_user_creation_update
  pkg/domain/domain.go
  pkg/privilege/privileges/BUILD.bazel
  pkg/privilege/privileges/cache.go
  pkg/privilege/privileges/privileges_test.go
  pkg/privilege/privileges/tidb_auth_token_test.go
  pkg/sessionctx/vardef/tidb_vars.go
  pkg/sessionctx/variable/sysvar.go
Labels: size/M, release-note-none, approved, lgtm

#59155 planner: enhance partition prune when comparing partition key with constant of different types
  pkg/planner/core/casetest/integration_test.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/rule_partition_processor.go
  tests/integrationtest/r/planner/core/casetest/partition/partition_pruner.result
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm

#59212 planner: fix planner can't error for union-all query when new-only-full-group-check is enabled
  pkg/planner/core/operator/logicalop/logical_projection.go
  pkg/planner/core/operator/logicalop/logical_union_all.go
  pkg/planner/core/stringer.go
  pkg/planner/funcdep/extract_fd_test.go
  pkg/planner/funcdep/fd_graph.go
  tests/integrationtest/r/planner/funcdep/only_full_group_by.result
  tests/integrationtest/t/planner/funcdep/only_full_group_by.test
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#57305 session: track LastCommitTS in SessionVars and check timestamps of later txns are larger
  pkg/kv/interface_mock_test.go
  pkg/kv/kv.go
  pkg/session/session.go
  pkg/session/test/txn/BUILD.bazel
  pkg/session/test/txn/txn_test.go
  pkg/session/txn.go
  pkg/sessionctx/variable/session.go
  pkg/sessiontxn/isolation/BUILD.bazel
  pkg/sessiontxn/isolation/base.go
Labels: sig/planner, require-LGT3, size/M, release-note-none, component/dumpling, ok-to-test, approved, lgtm

#59485 planner: avoid skipping plan cache when extracting funcdep
  pkg/expression/aggregation/descriptor.go
  pkg/expression/expression.go
  pkg/expression/expression_test.go
  pkg/planner/core/operator/logicalop/logical_aggregation.go
  pkg/planner/core/operator/logicalop/logical_join.go
  pkg/planner/core/operator/logicalop/logical_projection.go
  pkg/planner/util/funcdep_misc.go
  pkg/planner/util/null_misc.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#59503 ddl notifier: allow another error in CI assert
  pkg/ddl/notifier/subscribe.go
  pkg/statistics/handle/ddl/ddl.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#59475 planner: maintain functional dependency in the cascades group
  pkg/planner/cascades/memo/BUILD.bazel
  pkg/planner/cascades/memo/group_expr.go
  pkg/planner/core/casetest/cascades/memo_test.go
  pkg/planner/core/casetest/cascades/testdata/cascades_suite_out.json
  pkg/planner/core/optimizer.go
  pkg/planner/property/BUILD.bazel
  pkg/planner/property/logical_property.go
  tests/integrationtest/r/planner/cascades/integration.result
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#59375 statistics: avoid throw error when data contains invalid date value
  statistics/scalar.go
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#59486 expression: fix incorrect results of `json_keys(json, path)` with JSONTypeCodeArray as the first argument | tidb-test=pr/2480
  pkg/expression/builtin_json.go
  pkg/expression/builtin_json_test.go
  pkg/expression/builtin_json_vec.go
  tests/integrationtest/r/expression/json.result
  tests/integrationtest/t/expression/json.test
Labels: size/M, release-note-none, approved, lgtm

#59512 executor,metrics: Add network transmission metrics
  pkg/executor/adapter.go
  pkg/executor/metrics/metrics.go
  pkg/metrics/executor.go
  pkg/metrics/grafana/tidb.json
  pkg/metrics/metrics.go
Labels: size/L, release-note-none, approved, lgtm

#59488 keyspace: fix keyspace autoid etcd key
  pkg/meta/autoid/BUILD.bazel
  pkg/meta/autoid/autoid_service.go
  pkg/meta/autoid/autoid_test.go
Labels: release-note, size/M, approved, lgtm

#59498 expr: Support `unix_timestamp` pushdown to TiKV
  pkg/expression/expr_to_pb_test.go
  pkg/expression/infer_pushdown.go
  pkg/expression/scalar_function_test.go
Labels: release-note, size/S, approved, lgtm

#59511 bootstrap: add `cluster_id` to the `mysql.tidb` table
  br/pkg/restore/snap_client/systable_restore_test.go
  pkg/ddl/schematracker/checker.go
  pkg/session/bootstrap.go
  pkg/session/bootstrap_test.go
Labels: release-note, size/L, approved, lgtm

#59496 prefetch: the prefetch buffer should be fully filled
  pkg/util/prefetch/reader.go
  pkg/util/prefetch/reader_test.go
Labels: size/M, release-note-none, approved, lgtm

#59518 import: fix oom on global sort when the target table has large number of indices
  br/pkg/membuf/BUILD.bazel
  br/pkg/membuf/buffer.go
  br/pkg/membuf/buffer_test.go
  pkg/disttask/importinto/BUILD.bazel
  pkg/disttask/importinto/encode_and_sort_operator.go
  pkg/disttask/importinto/encode_and_sort_operator_test.go
  pkg/disttask/importinto/task_executor.go
Labels: size/M, release-note-none, approved, lgtm

#58808 meta: support getting all table infos quickly
  pkg/ddl/db_test.go
  pkg/meta/BUILD.bazel
  pkg/meta/meta.go
  pkg/structure/hash.go
Labels: size/L, release-note-none, approved, lgtm

#55776 backup: use resolveLocksForRead to get ignore locks
  br/pkg/backup/client.go
  br/tests/br_key_locked/run.sh
Labels: size/S, release-note-none, approved, lgtm

#59472 dxf: add integration test for modify param during subtask running
  pkg/disttask/framework/integrationtests/modify_test.go
Labels: size/L, release-note-none, approved, lgtm

#59505 *: Disable non-ga hash join types in hash join v2 | tidb-test=pr/2481
  pkg/executor/join/joinversion/join_version.go
  pkg/planner/cascades/cascades_test.go
  pkg/planner/core/casetest/enforcempp/enforce_mpp_test.go
  pkg/planner/core/casetest/physicalplantest/physical_plan_test.go
  pkg/planner/core/exhaust_physical_plans.go
  tests/integrationtest/r/cte.result
  tests/integrationtest/r/naaj.result
  tests/integrationtest/r/planner/cascades/integration.result
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/r/planner/core/casetest/physicalplantest/physical_plan.result
  tests/integrationtest/t/cte.test
  tests/integrationtest/t/naaj.test
  tests/integrationtest/t/planner/cascades/integration.test
  tests/integrationtest/t/planner/core/casetest/integration.test
  tests/integrationtest/t/planner/core/casetest/physicalplantest/physical_plan.test
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#59477 import/lightning: add fields_encoded_by=base64 | tidb-test=release-8.1.2
  pkg/executor/importer/import.go
  pkg/lightning/config/BUILD.bazel
  pkg/lightning/config/config.go
  pkg/lightning/config/config_test.go
  pkg/lightning/mydump/BUILD.bazel
  pkg/lightning/mydump/csv_parser.go
  pkg/lightning/mydump/csv_parser_test.go
  tests/realtikvtest/importintotest3/BUILD.bazel
  tests/realtikvtest/importintotest3/base64_encode_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#59547 ddl: let partition table pre split index regions
  pkg/ddl/split_region.go
  pkg/ddl/tests/partition/db_partition_test.go
  pkg/executor/test/splittest/split_table_test.go
Labels: size/M, release-note-none, approved, lgtm

#59553 Dumpling: GCS client always retry and also retry for 401 error. (#58198)
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/gcs.go
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#59046 ddl: part 1 of add-index integrating dxf dynamic modify param
  Makefile
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling.go
  pkg/ddl/column.go
  pkg/ddl/index.go
  pkg/ddl/index_nokit_test.go
  pkg/ddl/job_scheduler.go
  pkg/ddl/job_worker.go
  pkg/ddl/modify_column.go
  pkg/ddl/partition.go
  pkg/ddl/systable/manager.go
  pkg/disttask/framework/handle/handle.go
  pkg/disttask/framework/handle/handle_test.go
  pkg/disttask/framework/mock/BUILD.bazel
  pkg/disttask/framework/mock/storage_manager_mock.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/taskexecutor/task_executor.go
Labels: size/XXL, release-note-none, approved, lgtm

#59526 *: (6.5) fix TSO retrieval failure during read TS validation
  DEPS.bzl
  go.mod
  go.sum
  tests/realtikvtest/txntest/BUILD.bazel
  tests/realtikvtest/txntest/txn_test.go
Labels: release-note, size/S, cherry-pick-approved, approved, lgtm

#59529 Lightning: fix performance regression introduced by behavior change of columnAPI.Cols()
  br/pkg/lightning/backend/kv/sql2kv.go
Labels: size/S, cherry-pick-approved, release-note-none, ok-to-test, approved, lgtm

#59578 planner: gen shallow ref usage of logical projection.
  pkg/planner/core/generator/shallow_ref/shallow_ref_generator.go
  pkg/planner/core/operator/logicalop/logical_projection.go
  pkg/planner/core/operator/logicalop/shallow_ref_generated.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#59580 Revert "expr: support str_to_date pushdown to tikv #59362"
  pkg/expression/expr_to_pb_test.go
  pkg/expression/infer_pushdown.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#59510 expression: Support aggregation in window function pushdown to TiFlash
  pkg/executor/test/tiflashtest/tiflash_test.go
  pkg/expression/aggregation/window_func.go
  pkg/planner/core/casetest/windows/testdata/window_push_down_suite_in.json
  pkg/planner/core/casetest/windows/testdata/window_push_down_suite_out.json
  pkg/planner/core/integration_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#59581 planner: remove some useless binding code
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/planbuilder.go
  pkg/util/stmtsummary/BUILD.bazel
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/stmtsummary/statement_summary_test.go
  pkg/util/stmtsummary/v2/stmtsummary.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#59105 stats, infoschema: avoid some network cost of reading table meta kv
  pkg/infoschema/infoschema.go
  pkg/infoschema/infoschema_test.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
  pkg/infoschema/interface.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/handle/usage/session_stats_collect.go
  pkg/statistics/handle/util/table_info.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#58937 dxf: add `tidb_max_dist_task_nodes` to specify max node count
  br/pkg/restore/snap_client/systable_restore_test.go
  pkg/ddl/backfilling_dist_scheduler_test.go
  pkg/ddl/executor.go
  pkg/ddl/index.go
  pkg/disttask/example/app_test.go
  pkg/disttask/framework/handle/handle.go
  pkg/disttask/framework/handle/handle_test.go
  pkg/disttask/framework/integrationtests/bench_test.go
  pkg/disttask/framework/integrationtests/modify_test.go
  pkg/disttask/framework/integrationtests/resource_control_test.go
  pkg/disttask/framework/planner/plan.go
  pkg/disttask/framework/planner/planner.go
  pkg/disttask/framework/proto/task.go
  pkg/disttask/framework/scheduler/balancer.go
  pkg/disttask/framework/scheduler/balancer_test.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_manager_test.go
  pkg/disttask/framework/scheduler/scheduler_test.go
  pkg/disttask/framework/storage/converter.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_state_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/taskexecutor/task_executor_testkit_test.go
  pkg/disttask/framework/testutil/disttest_util.go
  pkg/disttask/importinto/job.go
  pkg/disttask/importinto/job_testkit_test.go
  pkg/disttask/importinto/scheduler_testkit_test.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/import.go
  pkg/executor/show_ddl_jobs.go
  pkg/executor/show_ddl_jobs_test.go
  pkg/meta/model/reorg.go
  pkg/session/bootstrap.go
  pkg/sessionctx/vardef/tidb_vars.go
  pkg/sessionctx/variable/sysvar.go
Labels: size/XL, release-note-none, approved, lgtm

#59596 stats: Supplement some comments on analyze result struct
  pkg/statistics/analyze.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#59556 expression: avoid slicesgrow in the PushDownExprsWithExtraInfo
  pkg/expression/infer_pushdown.go
  pkg/planner/core/find_best_task.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#59597 planner: move function GetDupAgnosticAggCols to logicalop.
  pkg/planner/cascades/old/transformation_rules.go
  pkg/planner/core/operator/logicalop/logical_plans_misc.go
  pkg/planner/core/rule_join_elimination.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#59593 external storage: retry on a new http2 error | tidb-test=release-8.1.2
  br/pkg/storage/gcs.go
Labels: size/XS, release-note-none, approved, lgtm

#59338 metrics: add circuit breaker metrics
  DEPS.bzl
  go.mod
  go.sum
  pkg/metrics/grafana/tidb.json
Labels: size/L, release-note-none, approved, lgtm

#59610 test: disable some test | tidb-test=release-8.1.2
  pkg/disttask/framework/storage/table_test.go
Labels: size/XS, release-note-none, approved, lgtm

#59605 br: fix ci fail due to unexpected gc safepoint
  br/pkg/task/operator/config.go
  br/pkg/task/operator/prepare_snap.go
  tests/realtikvtest/brietest/BUILD.bazel
  tests/realtikvtest/brietest/operator_test.go
Labels: size/M, release-note-none, approved, lgtm

#59611 lightning: not retry on `Keys must be added in strict ascending order` | tidb-test=release-8.1.2
  pkg/lightning/common/retry.go
Labels: size/XS, release-note-none, approved, lgtm

#59609 lightning: use 2 level split & scatter | tidb-test=release-8.1.2
  pkg/lightning/backend/local/localhelper.go
Labels: size/S, release-note-none, approved, lgtm

#59546 statistics: add Destroy method and handle session recycling
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/tests/cross_db_binding_test.go
  pkg/ddl/notifier/testkit_test.go
  pkg/domain/domain.go
  pkg/domain/infosync/info.go
  pkg/planner/core/rule_collect_plan_stats.go
  pkg/server/server.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/handle.go
  pkg/statistics/handle/lockstats/lock_stats.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/pool.go
  pkg/statistics/handle/util/util.go
  pkg/statistics/handle/util/util_test.go
  pkg/testkit/mocksessionmanager.go
  pkg/util/processinfo.go
  pkg/util/session_pool.go
  pkg/util/session_pool_test.go
Labels: sig/planner, release-note, size/L, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#59601 session, variable: add privilege check to `set session_states`
  pkg/session/session.go
  pkg/sessionctx/variable/session.go
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/privilege/privileges.test
Labels: release-note, size/M, ok-to-test, approved, lgtm

#59564 planner: fix a estimation case when column.hist.NDV is greater than topN.num.
  pkg/planner/cardinality/row_count_column.go
  pkg/planner/core/casetest/cbotest/BUILD.bazel
  pkg/planner/core/casetest/cbotest/cbo_test.go
  pkg/planner/core/casetest/cbotest/testdata/analyze_suite_in.json
  pkg/planner/core/casetest/cbotest/testdata/analyze_suite_out.json
  pkg/planner/core/casetest/cbotest/testdata/issue59563.json
  pkg/statistics/cmsketch.go
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#59599 dxf: make task enter `awaiting-resolution` state on error | tidb-test=release-8.1.2
  pkg/disttask/framework/mock/scheduler_mock.go
  pkg/disttask/framework/proto/task.go
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/storage/task_state.go
  pkg/disttask/importinto/scheduler.go
  pkg/disttask/importinto/scheduler_testkit_test.go
  tests/integrationtest/r/ddl/db.result
  tests/integrationtest/r/ddl/db_integration.result
  tests/integrationtest/r/ddl/multi_schema_change.result
  tests/integrationtest/r/executor/partition/write.result
  tests/integrationtest/r/executor/write.result
  tests/integrationtest/r/generated_columns.result
  tests/integrationtest/r/session/clustered_index.result
  tests/integrationtest/t/ddl/db.test
  tests/integrationtest/t/ddl/db_integration.test
  tests/integrationtest/t/ddl/multi_schema_change.test
  tests/integrationtest/t/executor/partition/write.test
  tests/integrationtest/t/executor/write.test
  tests/integrationtest/t/generated_columns.test
  tests/integrationtest/t/session/clustered_index.test
  tests/realtikvtest/importintotest/BUILD.bazel
  tests/realtikvtest/importintotest/import_into_test.go
Labels: size/L, release-note-none, approved, lgtm

#59328 br/storage: adapt copier for azure and gcs
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/azblob.go
  br/pkg/storage/azblob_test.go
  br/pkg/storage/gcs.go
Labels: size/XL, release-note-none, approved, lgtm

#59634 statistics: add Destroy method and handle session recycling (#59546)
  pkg/domain/domain.go
  pkg/domain/infosync/info.go
  pkg/planner/core/plan_stats.go
  pkg/server/server.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/handle_hist.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/util.go
  pkg/statistics/handle/util/util_test.go
  pkg/testkit/mocksessionmanager.go
  pkg/util/processinfo.go
Labels: sig/planner, release-note, size/L, approved, lgtm

#59608 infoschema: avoid strings.toUpper in the IsClusterTableByName
  pkg/infoschema/cluster.go
  pkg/infoschema/tables.go
  pkg/planner/core/explain.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#59525 *: (7.1) fix TSO retrieval failure during read TS validation
  DEPS.bzl
  go.mod
  go.sum
  tests/realtikvtest/txntest/BUILD.bazel
  tests/realtikvtest/txntest/txn_test.go
Labels: release-note, size/S, cherry-pick-approved, approved, lgtm

#59523 *: (7.5) fix TSO retrieval failure during read TS validation
  DEPS.bzl
  go.mod
  go.sum
  tests/realtikvtest/txntest/BUILD.bazel
  tests/realtikvtest/txntest/txn_test.go
Labels: release-note, size/M, cherry-pick-approved, approved, lgtm

#59589 *: migrate stale_txn tests to real tikv tests
  pkg/executor/BUILD.bazel
  pkg/sessiontxn/staleread/util.go
  tests/realtikvtest/txntest/BUILD.bazel
  tests/realtikvtest/txntest/stale_read_test.go
Labels: size/L, release-note-none, approved, lgtm

#59644 planner: refactor some code related to binding
  pkg/bindinfo/binding.go
  pkg/bindinfo/binding_cache.go
  pkg/bindinfo/binding_cache_test.go
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/session_handle_test.go
  pkg/planner/core/planbuilder.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#59343 ddl: modify param at runtime for add-index on DXF local sort
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_read_index.go
  pkg/ddl/db_test.go
  pkg/ddl/index.go
  pkg/ddl/ingest/integration_test.go
  pkg/disttask/framework/taskexecutor/execute/interface.go
  pkg/disttask/framework/taskexecutor/interface.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/testutil/context.go
  pkg/disttask/operator/operator.go
  pkg/disttask/operator/pipeline.go
  pkg/executor/operate_ddl_jobs.go
  pkg/meta/model/job.go
  pkg/resourcemanager/pool/workerpool/BUILD.bazel
  pkg/resourcemanager/pool/workerpool/workerpool.go
  pkg/resourcemanager/pool/workerpool/workpool_test.go
  tests/realtikvtest/addindextest1/BUILD.bazel
  tests/realtikvtest/addindextest1/disttask_test.go
  tests/realtikvtest/addindextest2/BUILD.bazel
  tests/realtikvtest/addindextest2/alter_job_test.go
  tests/realtikvtest/addindextest3/operator_test.go
Labels: size/XL, release-note-none, approved, lgtm

#59648 planner: revert support sub-merge needEnforceExchanger
  pkg/planner/core/task.go
  pkg/planner/property/physical_property.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#59236 workloadrepo: Simplify the snapshot code.
  pkg/executor/workloadrepo.go
  pkg/util/workloadrepo/const.go
  pkg/util/workloadrepo/snapshot.go
  pkg/util/workloadrepo/worker.go
  pkg/util/workloadrepo/worker_test.go
Labels: size/L, release-note-none, approved, lgtm

#59582 executor: minor refine of `newTableMeta`
  pkg/executor/join/join_table_meta.go
Labels: size/L, release-note-none, approved, lgtm

#59126 workload-based learning: save the metrics and create new workload_values table
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/infoschema_cluster_table_test.go
  pkg/executor/infoschema_reader_test.go
  pkg/expression/integration_test/integration_test.go
  pkg/kv/option.go
  pkg/session/bootstrap.go
  pkg/session/bootstrap_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/dynamic_partitioned_table_analysis_job_test.go
  pkg/statistics/handle/handletest/initstats/load_stats_test.go
  pkg/workloadbasedlearning/BUILD.bazel
  pkg/workloadbasedlearning/handle.go
  pkg/workloadlearning/BUILD.bazel
  pkg/workloadlearning/handle.go
  pkg/workloadlearning/handle_test.go
  pkg/workloadlearning/metrics.go
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm

#59636 storage/azblob: Added Minimal Sleep Duration to Avoid Busy Requests
  br/pkg/storage/azblob.go
Labels: size/XS, release-note-none, approved, lgtm

#59645 sysvar: add validation check for tidb_max_dist_task_nodes
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/framework_scope_test.go
  pkg/sessionctx/variable/sysvar.go
Labels: size/S, release-note-none, approved, lgtm

#59520 *: (8.5) fix TSO retrieval failure during read TS validation
  DEPS.bzl
  go.mod
  go.sum
  tests/realtikvtest/txntest/txn_test.go
Labels: release-note, size/M, cherry-pick-approved, approved, lgtm

#59666 *: avoid unlock of unlocked mutex panic on TableDeltaMap | tidb-test=920d9bf1b1137cda1272bdd59ae527aee8067944 (#57799)
  sessionctx/variable/session.go
Labels: size/XS, release-note-none, approved, lgtm

#59607 disttask: add local disk space to node resource managed by DXF
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_dist_scheduler_test.go
  pkg/ddl/ingest/env.go
  pkg/disttask/framework/proto/node.go
  pkg/disttask/framework/scheduler/balancer_test.go
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/scheduler_manager.go
  pkg/disttask/framework/scheduler/scheduler_manager_nokit_test.go
  pkg/disttask/framework/scheduler/scheduler_test.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/manager.go
  pkg/disttask/framework/taskexecutor/manager_test.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
  pkg/disttask/framework/taskexecutor/task_executor_testkit_test.go
  pkg/disttask/framework/testutil/BUILD.bazel
  pkg/disttask/framework/testutil/context.go
  pkg/disttask/importinto/scheduler_testkit_test.go
  pkg/domain/BUILD.bazel
  pkg/domain/domain.go
Labels: size/XL, release-note-none, approved, lgtm

#59171 planner: add decorrelate-apply test & add support for move out intermediary GE from memo.
  pkg/planner/cascades/BUILD.bazel
  pkg/planner/cascades/base/cascadesctx/BUILD.bazel
  pkg/planner/cascades/base/cascadesctx/cascades_ctx.go
  pkg/planner/cascades/cascades.go
  pkg/planner/cascades/memo/memo.go
  pkg/planner/cascades/rule/apply/decorrelate_apply/BUILD.bazel
  pkg/planner/cascades/rule/apply/decorrelateapply/BUILD.bazel
  pkg/planner/cascades/rule/apply/decorrelateapply/xf_decorrelate_apply_base.go
  pkg/planner/cascades/rule/apply/decorrelateapply/xf_decorrelate_apply_test.go
  pkg/planner/cascades/rule/apply/decorrelateapply/xf_decorrelate_simple_apply.go
  pkg/planner/cascades/rule/join/join_to_apply.go
  pkg/planner/cascades/rule/rule.go
  pkg/planner/cascades/rule/rule_type.go
  pkg/planner/cascades/rule/ruleset/BUILD.bazel
  pkg/planner/cascades/rule/ruleset/rule_set.go
  pkg/planner/cascades/task/task_apply_rule.go
  pkg/planner/cascades/task/task_opt_group_expression.go
  pkg/planner/core/operator/logicalop/base_logical_plan.go
Labels: sig/planner, size/XL, release-note-none, approved, lgtm

#59549 br: clone backend options
  br/pkg/storage/parse.go
  br/pkg/storage/parse_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#59679 import: show/cancel import job integrate `awaiting-resolution` state | tidb-test=release-8.1.2
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/storage/task_state.go
  pkg/disttask/importinto/job.go
  pkg/disttask/importinto/job_testkit_test.go
  pkg/executor/show.go
  tests/realtikvtest/importintotest/import_into_test.go
Labels: size/M, release-note-none, approved, lgtm

#58688 planner: Recognize potential for correlation in subset index match
  pkg/planner/cardinality/cross_estimation.go
  pkg/planner/cardinality/row_count_index.go
  pkg/planner/cardinality/selectivity.go
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/core/debugtrace.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/find_best_task.go
  pkg/planner/core/stats.go
  pkg/planner/util/path.go
  pkg/statistics/statistics_test.go
  pkg/statistics/table.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#59647 statistics: correct the bucket order when merging global hist
  pkg/executor/analyze_global_stats.go
  pkg/statistics/histogram.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#59627 workloadrepo: exclude tables that contact the PD server on read
  pkg/util/workloadrepo/worker.go
  pkg/util/workloadrepo/worker_test.go
Labels: size/S, release-note-none, approved, lgtm

#59676 planner: refactor some code related to binding
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/binding.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/tests/BUILD.bazel
  pkg/bindinfo/tests/bind_test.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/preprocess.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#59690 makefile: fix `make failpoint-enable` reports warn
  Makefile.common
Labels: size/XS, release-note-none, skip-issue-check, approved, lgtm

#59665 workloadlearning: enable linter
  build/nogo_config.json
  pkg/workloadlearning/handle.go
Labels: size/S, release-note-none, skip-issue-check, approved, lgtm

#59694 objstore: fix read position on retry when reading a file range using s3
  br/pkg/storage/ks3.go
  br/pkg/storage/s3.go
  br/pkg/storage/s3_test.go
Labels: size/M, release-note-none, approved, lgtm

#59692 planner: refactor some code related to binding
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/global_handle_test.go
  pkg/session/bootstrap_test.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#59687 json: extract the `$[last]` entry from json object should also return itself
  pkg/types/json_binary_functions.go
  tests/integrationtest/r/expression/json.result
  tests/integrationtest/t/expression/json.test
Labels: size/S, release-note-none, approved, lgtm

#58572 import-into: support running with 1 thread when using global sort
  pkg/disttask/importinto/job.go
  pkg/disttask/importinto/planner.go
  pkg/disttask/importinto/planner_test.go
  pkg/disttask/importinto/proto.go
  pkg/disttask/importinto/scheduler.go
  pkg/disttask/importinto/scheduler_testkit_test.go
  pkg/disttask/importinto/wrapper.go
  pkg/executor/import_into.go
  pkg/executor/importer/import.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/importer/precheck.go
  pkg/executor/importer/precheck_test.go
  pkg/executor/importer/table_import.go
  pkg/meta/model/table.go
Labels: release-note, size/L, approved, lgtm

#59691 executor: Fix mpp coordinator leak issue
  pkg/executor/internal/mpp/executor_with_retry.go
  pkg/executor/internal/mpp/local_mpp_coordinator.go
  pkg/executor/mpp_gather.go
  pkg/executor/mppcoordmanager/mpp_coordinator_manager.go
  pkg/executor/test/tiflashtest/BUILD.bazel
  pkg/executor/test/tiflashtest/tiflash_test.go
Labels: size/M, release-note-none, approved, lgtm

#59641 dxf: add manual recovery mode
  pkg/ddl/backfilling_dist_scheduler_test.go
  pkg/disttask/framework/doc.go
  pkg/disttask/framework/handle/handle.go
  pkg/disttask/framework/integrationtests/BUILD.bazel
  pkg/disttask/framework/integrationtests/framework_err_handling_test.go
  pkg/disttask/framework/mock/scheduler_mock.go
  pkg/disttask/framework/planner/planner.go
  pkg/disttask/framework/proto/task.go
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_manager_test.go
  pkg/disttask/framework/scheduler/scheduler_test.go
  pkg/disttask/framework/storage/converter.go
  pkg/disttask/framework/storage/table_test.go
  pkg/disttask/framework/storage/task_state.go
  pkg/disttask/framework/storage/task_state_test.go
  pkg/disttask/framework/storage/task_table.go
  pkg/disttask/framework/taskexecutor/task_executor_testkit_test.go
  pkg/disttask/framework/testutil/disttest_util.go
  pkg/disttask/importinto/job_testkit_test.go
  pkg/disttask/importinto/scheduler_testkit_test.go
  pkg/session/bootstrap.go
Labels: size/XL, release-note-none, approved, lgtm

#59626 tests: add LLM based test generation tool
  DEPS.bzl
  go.mod
  go.sum
  pkg/server/tests/commontest/BUILD.bazel
  tests/llmtest/BUILD.bazel
  tests/llmtest/README.md
  tests/llmtest/generator/BUILD.bazel
  tests/llmtest/generator/dml.go
  tests/llmtest/generator/expression.go
  tests/llmtest/generator/generator.go
  tests/llmtest/generator/misc.go
  tests/llmtest/generator/prompt.go
  tests/llmtest/logger/BUILD.bazel
  tests/llmtest/logger/log.go
  tests/llmtest/main.go
  tests/llmtest/main_test.go
  tests/llmtest/testcase/BUILD.bazel
  tests/llmtest/testcase/run.go
  tests/llmtest/testcase/testcase.go
  tests/llmtest/testdata/dml.json
  tests/llmtest/testdata/expression.json
  tests/llmtest/testdata/misc.json
Labels: size/XXL, release-note-none, approved, lgtm

#59699 unistore: Added error if row is too long to be locked
  pkg/executor/insert_test.go
  pkg/store/mockstore/unistore/lockstore/lockstore.go
  pkg/store/mockstore/unistore/tikv/write.go
Labels: release-note, size/S, approved, lgtm

#59721 executor: fix traffic replay jobs are shown when the user doesn't have the TRAFFIC_REPLAY_ADMIN privilege
  pkg/executor/BUILD.bazel
  pkg/executor/traffic.go
  pkg/executor/traffic_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#59719 br: fix pre allocate id exceeds bound
  br/pkg/restore/internal/prealloc_table_id/BUILD.bazel
  br/pkg/restore/internal/prealloc_table_id/alloc.go
  br/pkg/restore/internal/prealloc_table_id/alloc_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#59733 ddl: fix vector indexes do not been dropped on TiFlash side
  pkg/ddl/index.go
Labels: size/S, release-note-none, approved, lgtm

#59613 external: fix decoding the last key in split keys
  pkg/lightning/backend/external/BUILD.bazel
  pkg/lightning/backend/external/engine.go
  pkg/lightning/backend/external/engine_test.go
Labels: release-note, size/L, approved, lgtm

#59711 expression: refine invalid char error msg for string conversion
  pkg/expression/builtin_convert_charset.go
  pkg/store/driver/txn/error.go
  pkg/table/tables/index.go
  pkg/util/util.go
  tests/integrationtest/r/executor/insert.result
  tests/integrationtest/r/expression/charset_and_collation.result
  tests/integrationtest/r/new_character_set_builtin.result
  tests/integrationtest/t/executor/insert.test
  tests/integrationtest/t/new_character_set_builtin.test
Labels: size/M, release-note-none, approved, lgtm

#59688 json: fix the issue that two arrays are merged but not append in `JSON_ARRAY_APPEND`.
  pkg/expression/builtin_json.go
  tests/integrationtest/r/expression/json.result
  tests/integrationtest/t/expression/json.test
Labels: size/S, release-note-none, approved, lgtm

#59742 external: fix decoding the last key in split keys | tidb-test=release-8.1.2
  pkg/lightning/backend/external/BUILD.bazel
  pkg/lightning/backend/external/engine.go
  pkg/lightning/backend/external/engine_test.go
Labels: size/L, release-note-none, approved, lgtm

#59741 *: (release-6.5) Validate ts only for stale read
  DEPS.bzl
  executor/BUILD.bazel
  executor/set.go
  go.mod
  go.sum
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#59234 br: mem dump when about to OOM
  br/cmd/br/cmd.go
  br/cmd/br/main.go
  br/pkg/utils/BUILD.bazel
  br/pkg/utils/memory_monitor.go
  br/pkg/utils/memory_monitor_test.go
  pkg/domain/domain.go
  pkg/util/memoryusagealarm/BUILD.bazel
  pkg/util/memoryusagealarm/memoryusagealarm.go
  pkg/util/memoryusagealarm/memoryusagealarm_test.go
Labels: size/XL, release-note-none, approved, lgtm

#59763 planner: fix the possible panic when fixcontrol#44855 enabled
  pkg/planner/core/stats.go
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/t/planner/core/issuetest/planner_issue.test
Labels: sig/planner, release-note, size/M, approved, lgtm

#59739 privilege: handle username with "@" correctly for role(RBAC) related code
  pkg/privilege/privileges/cache.go
  pkg/privilege/privileges/cache_test.go
  pkg/privilege/privileges/tidb_auth_token_test.go
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/privilege/privileges.test
Labels: size/M, release-note-none, approved, lgtm

#59750 dxf: increase memory quota for session of generating subtasks | tidb-test=release-8.1.2
  pkg/disttask/framework/storage/task_table.go
Labels: size/XS, release-note-none, approved, lgtm

#59768 table: Revert "table: fix the issue that the default value for `BIT` column is wrong (#57303)"
  ddl/ddl_api.go
  ddl/integration_test.go
  executor/write_test.go
  types/datum.go
  types/datum_test.go
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#59745 planner: change the cascades explain test as explain with brief format.
  tests/integrationtest/r/planner/cascades/integration.result
  tests/integrationtest/t/planner/cascades/integration.test
Labels: size/XXL, release-note-none, approved, lgtm

#59756 executor: 'alter user' requires 'CREATE USER' privilege in most cases
  pkg/executor/simple.go
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/privilege/privileges.test
Labels: compatibility-breaker, size/M, release-note-none, approved, lgtm

#59777 *: (release-7.5) validate ts only for stale read
  DEPS.bzl
  go.mod
  go.sum
  pkg/executor/BUILD.bazel
  pkg/executor/set.go
Labels: size/S, cherry-pick-approved, release-note-none, approved, lgtm

#59668 executor: modify some hash join stats
  pkg/executor/builder.go
  pkg/executor/join/hash_join_stats.go
  pkg/executor/join/hash_join_v2.go
  pkg/executor/test/jointest/hashjoin/hash_join_test.go
  pkg/planner/core/exhaust_physical_plans.go
  tests/integrationtest/r/planner/core/cbo.result
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#59487 privilege, domain: reduce the memory jitter of privilege reload activity for 2M users
  pkg/domain/domain.go
  pkg/privilege/privileges/cache.go
  pkg/privilege/privileges/cache_test.go
  pkg/privilege/privileges/privileges.go
Labels: size/XXL, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#59813 executor: fix that traffic replay from S3 always report an error
  pkg/executor/BUILD.bazel
  pkg/executor/traffic.go
  pkg/executor/traffic_test.go
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#59767 ddl: refine range validation after scaning regions
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_test.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/integration_test.go
  pkg/util/dbterror/ddl_terror.go
  tests/realtikvtest/addindextest4/failure_test.go
Labels: size/M, release-note-none, approved, lgtm

#59818 ddl: refine range validation after scaning regions (#59767)
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_test.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/integration_test.go
  pkg/util/dbterror/ddl_terror.go
Labels: size/L, release-note-none, approved, lgtm

#59612 ddl: Add checks for all partitioning columns during EXCHANGE PARTITION for RANGE COLUMNS
  pkg/ddl/partition.go
  pkg/ddl/partition_test.go
  pkg/ddl/tests/partition/BUILD.bazel
  pkg/ddl/tests/partition/exchange_partition_test.go
  pkg/ddl/tests/partition/multi_domain_test.go
Labels: release-note, size/L, approved, lgtm, needs-cherry-pick-release-7.5

#59840 table: Revert "table: fix the issue that the default value for `BIT` column is wrong (#57303)"
  pkg/ddl/ddl_api.go
  pkg/executor/test/writetest/write_test.go
  pkg/types/datum.go
  pkg/types/datum_test.go
  tests/integrationtest/r/ddl/column.result
  tests/integrationtest/r/table/tables.result
  tests/integrationtest/t/ddl/column.test
  tests/integrationtest/t/table/tables.test
Labels: size/L, cherry-pick-approved, release-note-none, approved, lgtm

#59533 metrics: add metrics for active users count
  pkg/metrics/grafana/tidb.json
  pkg/metrics/metrics.go
  pkg/metrics/server.go
  pkg/privilege/privileges/BUILD.bazel
  pkg/privilege/privileges/cache.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#59844 executor: fix warning message for insert ignore with binary type
  pkg/executor/batch_checker.go
  tests/integrationtest/r/executor/insert.result
  tests/integrationtest/t/executor/insert.test
Labels: size/M, release-note-none, approved, lgtm
