Repository pingcap/tidb, pull requests merged in 2025-01, with the labels that each got.

#58648 planner: support left outer anti semi join for hash join v2
  pkg/planner/core/exhaust_physical_plans.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#58635 planner: leverage stats collection rule to get operator num
  pkg/planner/cascades/memo/memo.go
  pkg/planner/core/casetest/cascades/memo_test.go
  pkg/planner/core/casetest/cascades/testdata/cascades_suite_out.json
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/collect_column_stats_usage_test.go
  pkg/planner/core/rule_collect_plan_stats.go
  pkg/sessionctx/stmtctx/stmtctx.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58533 lightning: fix lightning-ctl dump checkpoint file name
  lightning/cmd/tidb-lightning-ctl/main.go
  lightning/tests/lightning_local_backend/run.sh
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#58557 planner: add logical plan iterator inside a memo starting with a root group.
  pkg/planner/cascades/memo/BUILD.bazel
  pkg/planner/cascades/memo/memo.go
  pkg/planner/cascades/memo/memo_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58660 *: replace any with specific type in log
  pkg/executor/cte.go
  pkg/executor/index_merge_reader.go
  pkg/executor/internal/mpp/executor_with_retry.go
  pkg/executor/traffic.go
  pkg/resourcemanager/pool/workerpool/workpool_test.go
  pkg/store/copr/batch_coprocessor.go
  pkg/store/copr/batch_coprocessor_test.go
  pkg/util/memoryusagealarm/memoryusagealarm.go
  pkg/util/tiflashcompute/topo_fetcher.go
  tests/globalkilltest/util.go
Labels: size/M, release-note-none, approved, lgtm

#58593 planner: Choose index with statistics vs one without
  pkg/planner/cardinality/BUILD.bazel
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/core/find_best_task.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm, affects-7.5, affects-8.1, affects-8.5

#58679 dumpling: Update README
  dumpling/README.md
  dumpling/docs/cn/user-guide.md
  dumpling/docs/en/user-guide.md
Labels: size/L, release-note-none, component/dumpling, skip-issue-check, ok-to-test, approved, lgtm

#55783 copr, executor: remove some unused function parameters
  pkg/executor/benchmark_test.go
  pkg/store/copr/batch_coprocessor.go
Labels: size/XS, release-note-none, approved, lgtm

#58432 linter: upgrade intrange
  DEPS.bzl
  build/nogo_config.json
  go.mod
  go.sum
  pkg/util/checksum/checksum_test.go
  pkg/util/encrypt/crypt.go
  pkg/util/extsort/disk_sorter_test.go
Labels: size/M, release-note-none, skip-issue-check, approved, lgtm

#58656 expression: fix incorrect short path in `truncate` function
  pkg/expression/builtin_math.go
  pkg/expression/integration_test/integration_test.go
Labels: release-note, size/S, approved, lgtm

#58653 br/lightning: support pd_enable_follower_handle_region
  br/pkg/restore/split/client.go
  br/pkg/streamhelper/advancer_env.go
  pkg/ddl/BUILD.bazel
  pkg/ddl/partition.go
  pkg/lightning/backend/local/localhelper.go
  pkg/server/handler/BUILD.bazel
  pkg/server/handler/tikv_handler.go
  pkg/server/handler/tikvhandler/BUILD.bazel
  pkg/server/handler/tikvhandler/tikv_handler.go
Labels: release-note, size/M, approved, lgtm

#58664 planner: simplify the bindinfo package
  pkg/bindinfo/BUILD.bazel
  pkg/bindinfo/binding.go
  pkg/bindinfo/global_handle.go
  pkg/bindinfo/global_handle_test.go
  pkg/bindinfo/tests/bind_test.go
  pkg/planner/core/planbuilder.go
  pkg/sessionctx/sessionstates/session_states_test.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#58681 statistics: remove unused HavePhysicalID field from HistColl struct
  pkg/planner/cardinality/selectivity_test.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/analysis_job_factory_test.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/cache/internal/testutil/testutil.go
  pkg/statistics/handle/storage/json.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/statistics_test.go
  pkg/statistics/table.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#53914 br: revert backup progress
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/rtree/BUILD.bazel
  br/pkg/rtree/rtree.go
  br/pkg/rtree/rtree_test.go
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/backup_txn.go
  br/tests/br_300_small_tables/run.sh
Labels: size/L, release-note-none, ok-to-test, approved, lgtm

#58500 planner, executor: support inline projection for TopN | tidb-test=pr/2464
  pkg/executor/benchmark_test.go
  pkg/executor/builder.go
  pkg/executor/sortexec/topn.go
  pkg/executor/sortexec/topn_chunk_heap.go
  pkg/planner/core/casetest/cbotest/testdata/analyze_suite_out.json
  pkg/planner/core/casetest/dag/testdata/plan_suite_out.json
  pkg/planner/core/casetest/vectorsearch/BUILD.bazel
  pkg/planner/core/casetest/vectorsearch/testdata/ann_index_suite_in.json
  pkg/planner/core/casetest/vectorsearch/testdata/ann_index_suite_out.json
  pkg/planner/core/casetest/vectorsearch/vector_index_test.go
  pkg/planner/core/exhaust_physical_plans.go
  pkg/planner/core/operator/logicalop/hash64_equals_generated.go
  pkg/planner/core/operator/logicalop/logical_top_n.go
  pkg/planner/core/physical_plans.go
  pkg/planner/core/plan_clone_generated.go
  pkg/planner/core/resolve_indices.go
  pkg/planner/core/task.go
  pkg/util/chunk/chunk.go
  pkg/util/chunk/chunk_test.go
  tests/integrationtest/r/executor/index_merge_reader.result
  tests/integrationtest/r/explain_easy.result
  tests/integrationtest/r/globalindex/mem_index_merge.result
  tests/integrationtest/r/planner/core/casetest/integration.result
  tests/integrationtest/r/planner/core/casetest/partition/integration_partition.result
  tests/integrationtest/r/planner/core/casetest/rule/rule_result_reorder.result
  tests/integrationtest/r/planner/core/issuetest/planner_issue.result
  tests/integrationtest/r/select.result
Labels: sig/planner, size/XXL, release-note-none, ok-to-test, approved, lgtm

#58636 lightning: replace information_schema query when importing table schema with separate show create table
  lightning/tests/lightning_character_sets/run.sh
  lightning/tests/lightning_no_schema/data/noschema.invalid-schema.sql
  lightning/tests/lightning_no_schema/data/noschema.invalid.sql
  lightning/tests/lightning_no_schema/run.sh
  pkg/lightning/mydump/BUILD.bazel
  pkg/lightning/mydump/schema_import.go
  pkg/lightning/mydump/schema_import_test.go
Labels: size/L, release-note-none, approved, lgtm

#58698 ddl: fix 'Execute Duration' panel of DDL not aggregated by instance
  pkg/metrics/grafana/tidb.json
Labels: size/XS, release-note-none, approved, lgtm

#58641 importinto/lightning: fix negative value cast to upper bound in non strict sql mode
  pkg/lightning/backend/kv/BUILD.bazel
  pkg/lightning/backend/kv/context.go
  pkg/lightning/backend/kv/context_test.go
  pkg/util/misc.go
  tests/realtikvtest/importintotest2/from_select_test.go
Labels: size/M, release-note-none, approved, lgtm

#58707 distsql: Fix backoff execution info inaccurate issue
  pkg/distsql/select_result.go
  pkg/distsql/select_result_test.go
Labels: release-note, size/S, approved, lgtm

#57391 *: fix a bug for default_authentication_plugin
  pkg/domain/domain.go
  pkg/executor/grant.go
  pkg/executor/simple.go
  pkg/executor/utils.go
  pkg/executor/utils_test.go
  pkg/parser/ast/BUILD.bazel
  pkg/parser/ast/misc.go
  pkg/parser/ast/misc_test.go
  pkg/privilege/privilege.go
  pkg/privilege/privileges/cache.go
  pkg/privilege/privileges/privileges.go
  pkg/privilege/privileges/privileges_test.go
  pkg/server/conn.go
  tests/integrationtest/r/executor/simple.result
  tests/integrationtest/t/executor/simple.test
Labels: size/XL, release-note-none, approved, lgtm

#58542 dupdetect: gRPC cancel should trigger retry
  pkg/lightning/backend/local/duplicate.go
Labels: size/XS, release-note-none, approved, lgtm

#58596 *: don't handle live updates of column size
  pkg/disttask/importinto/proto.go
  pkg/disttask/importinto/scheduler.go
  pkg/disttask/importinto/subtask_executor.go
  pkg/disttask/importinto/task_executor.go
  pkg/executor/delete.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/engine_process.go
  pkg/executor/importer/import.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/importer/kv_encode.go
  pkg/executor/importer/progress.go
  pkg/executor/importer/table_import.go
  pkg/executor/infoschema_reader_test.go
  pkg/executor/internal/exec/executor.go
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/executor/test/analyzetest/memorycontrol/BUILD.bazel
  pkg/executor/test/analyzetest/memorycontrol/memory_control_test.go
  pkg/lightning/backend/kv/context.go
  pkg/lightning/backend/kv/context_test.go
  pkg/lightning/backend/kv/session.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/indexadvisor/optimizer_test.go
  pkg/server/handler/tests/BUILD.bazel
  pkg/server/handler/tests/http_handler_serial_test.go
  pkg/session/session.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/session_test.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
  pkg/statistics/handle/handletest/handle_test.go
  pkg/statistics/handle/storage/update.go
  pkg/statistics/handle/updatetest/update_test.go
  pkg/statistics/handle/usage/session_stats_collect.go
  pkg/table/BUILD.bazel
  pkg/table/table.go
  pkg/table/tables/tables.go
  pkg/table/tblctx/BUILD.bazel
  pkg/table/tblctx/buffers.go
  pkg/table/tblctx/buffers_test.go
  pkg/table/tblctx/table.go
  pkg/table/tblsession/table.go
  pkg/table/tblsession/table_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#58615 disttask: cancel subtask context if scheduled away
  pkg/disttask/framework/scheduler/balancer.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
  tests/realtikvtest/addindextest1/disttask_test.go
Labels: size/M, release-note-none, approved, lgtm

#58739 statistics: add recover to protect background task
  pkg/metrics/metrics.go
  pkg/statistics/handle/usage/session_stats_collect.go
  pkg/statistics/handle/util/BUILD.bazel
  pkg/statistics/handle/util/util.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#58730 executor: fix issue that query slow_query table return wrong result (#56356) | tidb-test=c1ec4c1217f86e83e4c07da09ef909e3af84ee7e
  executor/cluster_table_test.go
  executor/slow_query.go
  executor/slow_query_test.go
  infoschema/cluster_tables_test.go
  planner/core/memtable_predicate_extractor.go
  tools/check/check-bazel-prepare.sh
Labels: size/M, release-note-none, approved, lgtm

#58726 executor: fix issue that query slow_query table return wrong result | tidb-test=345b2782950dafda7b4a938c84bffb7f46834add
  pkg/executor/cluster_table_test.go
  pkg/executor/slow_query.go
  pkg/executor/slow_query_test.go
  pkg/infoschema/test/clustertablestest/cluster_tables_test.go
  pkg/planner/core/memtable_predicate_extractor.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#58657 statistics: refactor stats meta handling to use DeltaUpdate for multi-table support
  pkg/statistics/handle/ddl/subscriber.go
  pkg/statistics/handle/storage/update.go
  pkg/statistics/handle/usage/session_stats_collect.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58385 var: enable `pd_enable_follower_handle_region` as default
  pkg/executor/set_test.go
  pkg/metrics/grafana/tidb.json
  pkg/sessionctx/variable/tidb_vars.go
  tests/integrationtest/r/session/vars.result
  tests/integrationtest/t/session/vars.test
Labels: release-note, size/L, approved, lgtm

#58101 util/stmtsummary: add the network traffic related fields
  pkg/infoschema/tables.go
  pkg/util/stmtsummary/reader.go
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/stmtsummary/statement_summary_test.go
  pkg/util/stmtsummary/v2/column.go
  pkg/util/stmtsummary/v2/record.go
  tests/integrationtest/r/index_merge.result
Labels: release-note, size/XXL, approved, lgtm

#58678 ddl: supports non-unique global index
  pkg/ddl/executor.go
  pkg/ddl/index_modify_test.go
  pkg/ddl/ingest/integration_test.go
  pkg/ddl/partition.go
  tests/integrationtest/r/globalindex/ddl.result
  tests/integrationtest/r/globalindex/expression_index.result
  tests/integrationtest/r/globalindex/insert.result
  tests/integrationtest/r/globalindex/update.result
  tests/integrationtest/t/globalindex/ddl.test
  tests/integrationtest/t/globalindex/expression_index.test
  tests/integrationtest/t/globalindex/insert.test
  tests/integrationtest/t/globalindex/update.test
Labels: size/XL, release-note-none, approved, lgtm

#58785 planner: prealloc the slices in the SplitCorColAccessCondFromFilters
  pkg/planner/util/path.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#58646 planner: improve warning messages for unsupported HASH_JOIN hints
  pkg/planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  pkg/planner/core/casetest/join/join_test.go
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/exhaust_physical_plans.go
  tests/integrationtest/r/planner/core/casetest/physicalplantest/physical_plan.result
Labels: sig/planner, release-note, size/M, approved, lgtm

#58750 ttl, test: scale TTL workers during the fault tests
  pkg/ttl/ttlworker/job_manager_integration_test.go
Labels: size/M, release-note-none, approved, lgtm

#58752 *: upgrade pd client to make sure tso client initiate successfully
  DEPS.bzl
  go.mod
  go.sum
Labels: release-note, size/S, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#58771 planner: fix an unexpected result of the inlineprojection of TopN
  pkg/planner/core/operator/logicalop/logical_top_n.go
  pkg/planner/core/operator/logicalop/logicalop_test/BUILD.bazel
  pkg/planner/core/operator/logicalop/logicalop_test/plan_execute_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58266 workloadrepo: Add unit testing for the Workload Repository.
  pkg/util/workloadrepo/BUILD.bazel
  pkg/util/workloadrepo/housekeeper.go
  pkg/util/workloadrepo/sampling.go
  pkg/util/workloadrepo/snapshot.go
  pkg/util/workloadrepo/table.go
  pkg/util/workloadrepo/utils.go
  pkg/util/workloadrepo/worker.go
  pkg/util/workloadrepo/worker_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#58759 ttl: disable paging in TTL
  pkg/ttl/ttlworker/scan.go
  pkg/ttl/ttlworker/session.go
  pkg/ttl/ttlworker/session_integration_test.go
Labels: size/L, release-note-none, approved, lgtm

#58013 statistics: stats cache set default quota as 20%
  pkg/statistics/handle/cache/internal/lfu/lfu_cache.go
Labels: sig/planner, release-note, size/XS, approved, lgtm

#58669 executor: fix hash join analyze statistic when spill is triggered
  pkg/executor/join/BUILD.bazel
  pkg/executor/join/hash_join_base.go
  pkg/executor/join/hash_join_stats.go
  pkg/executor/join/hash_join_v1.go
  pkg/executor/join/hash_join_v2.go
  pkg/util/execdetails/execdetails.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#58717 ddl: Fix vector index for high dimensional vectors
  pkg/ddl/index.go
  pkg/expression/integration_test/BUILD.bazel
  pkg/expression/integration_test/integration_test.go
  pkg/meta/model/index.go
  pkg/table/tables/tables.go
Labels: size/L, release-note-none, approved, lgtm

#58637 ddl: Remove explicit exclude for "engine" notIn "tiflash"
  pkg/ddl/placement/bundle.go
  pkg/ddl/placement/bundle_test.go
  pkg/ddl/placement/constraint.go
  pkg/ddl/placement/constraint_test.go
Labels: release-note, size/M, approved, lgtm

#58702 statistics: remove unused Flag field from Column and Index structs
  pkg/statistics/column.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/globalstats/global_stats.go
  pkg/statistics/handle/storage/dump_test.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/storage/save.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/histogram.go
  pkg/statistics/index.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#58229 ddl: Fix issue with concurrent update getting reverted by BackfillData
  pkg/ddl/partition.go
  pkg/ddl/tests/partition/multi_domain_test.go
Labels: release-note, size/XL, approved, lgtm, needs-cherry-pick-release-8.5

#58427 stmtsummary: check authUsers using the polymorphic stmtSummaryStats
  pkg/util/stmtsummary/reader.go
  pkg/util/stmtsummary/statement_summary_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#51922 planner: correct plan when scan tidb related cluster table with KeepOrder
  pkg/planner/core/find_best_task.go
  pkg/planner/core/task.go
  tests/integrationtest/r/infoschema/cluster_tables.result
  tests/integrationtest/t/infoschema/cluster_tables.test
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58830 planner: allow semi_join_rewrite hint to work for in-subquery
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/util/hint/hint.go
Labels: sig/planner, size/S, release-note-none, ok-to-test, approved, lgtm

#58841 types: throw error when input exceeds the range of float32 in vector
  pkg/expression/integration_test/integration_test.go
  pkg/types/vector.go
  pkg/types/vector_test.go
Labels: size/S, release-note-none, approved, lgtm

#58855 ddl: fix args count for modify column
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
Labels: size/S, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#58812 br/stream: allow pitr to create oversized indices (#58433)
  br/pkg/task/common_test.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
  br/tests/br_pitr/config/tidb-max-index-length.toml
  br/tests/br_pitr/incremental_data/ingest_repair.sql
  br/tests/br_pitr/prepare_data/ingest_repair.sql
  br/tests/br_pitr/run.sh
Labels: release-note, size/M, cherry-pick-approved, ok-to-test, approved, lgtm

#58833 ddl notifier: fix shared session by List and DeleteAndCommit
  pkg/ddl/notifier/BUILD.bazel
  pkg/ddl/notifier/subscribe.go
  pkg/ddl/notifier/testkit_test.go
Labels: size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#58659 coprocessor: fix performance regression when execute DML with lite-cop-worker meet region error
  pkg/distsql/select_result.go
  pkg/store/copr/copr_test/BUILD.bazel
  pkg/store/copr/copr_test/coprocessor_test.go
  pkg/store/copr/coprocessor.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#58874 variable: disable fair locking when cse mode is enabled
  pkg/sessionctx/variable/sysvar.go
Labels: size/S, release-note-none

#58758 *: update client-go to interpret InvalidMaxTsUpdate error
  DEPS.bzl
  go.mod
  go.sum
Labels: size/S, release-note-none, approved, lgtm

#58828 globalsort: skip retry when context has error
  pkg/lightning/backend/external/writer.go
Labels: size/XS, release-note-none, approved, lgtm

#58705 executor: reduce overhead of copystack in idxlookup workers
  pkg/executor/distsql.go
  pkg/executor/utils.go
  pkg/executor/utils_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#58751 planner: add cascades wrapper for integrating cascades into current logical optimization phase.
  pkg/planner/cascades/BUILD.bazel
  pkg/planner/cascades/base/cascadesctx/cascades_ctx.go
  pkg/planner/cascades/cascades.go
  pkg/planner/cascades/cascades_test.go
  pkg/planner/cascades/memo/memo.go
  pkg/planner/cascades/task/base.go
  pkg/planner/cascades/task/task_apply_rule.go
  pkg/planner/cascades/task/task_opt_group.go
  pkg/planner/cascades/task/task_opt_group_expression.go
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/optimizer.go
  tests/integrationtest/r/planner/cascades/integration.result
  tests/integrationtest/t/planner/cascades/integration.test
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#58859 statistics: remove unused LastAnalyzePos field
  pkg/statistics/column.go
  pkg/statistics/handle/bootstrap.go
  pkg/statistics/handle/handletest/statstest/stats_test.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/storage/save.go
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/index.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#58791 statistics: optimize stats delta dumping with batch processing
  pkg/statistics/handle/handletest/statstest/BUILD.bazel
  pkg/statistics/handle/handletest/statstest/stats_test.go
  pkg/statistics/handle/storage/update.go
  pkg/statistics/handle/usage/BUILD.bazel
  pkg/statistics/handle/usage/session_stats_collect.go
Labels: sig/planner, release-note, size/XL, approved, lgtm, needs-cherry-pick-release-8.5

#58876 integration test: fix test case "br_pitr"
  br/tests/br_pitr/run.sh
Labels: size/XS, do-not-merge/hold, cherry-pick-approved, release-note-none, skip-issue-check, ok-to-test, approved, lgtm

#58652 copr: add MppVersionV3
  pkg/executor/test/tiflashtest/tiflash_test.go
  pkg/expression/integration_test/integration_test.go
  pkg/kv/mpp.go
  pkg/kv/version_test.go
  pkg/planner/core/casetest/cbotest/testdata/analyze_suite_out.json
  pkg/planner/core/casetest/enforcempp/testdata/enforce_mpp_suite_out.json
  pkg/planner/core/casetest/hint/testdata/integration_suite_out.json
  pkg/planner/core/casetest/mpp/testdata/integration_suite_out.json
  pkg/planner/core/casetest/physicalplantest/testdata/plan_suite_out.json
  pkg/planner/core/casetest/pushdown/testdata/integration_suite_out.json
  pkg/planner/core/casetest/rule/testdata/derive_topn_from_window_out.json
  pkg/planner/core/casetest/rule/testdata/join_reorder_suite_out.json
  pkg/planner/core/casetest/testdata/integration_suite_out.json
  pkg/planner/core/casetest/vectorsearch/testdata/ann_index_suite_out.json
  pkg/planner/core/casetest/windows/testdata/window_push_down_suite_out.json
  pkg/planner/core/integration_test.go
  pkg/planner/core/testdata/runtime_filter_generator_suite_out.json
  pkg/planner/core/tests/redact/redact_test.go
  pkg/sessionctx/sessionstates/session_states_test.go
  tests/integrationtest/r/executor/set.result
  tests/integrationtest/r/planner/core/plan.result
  tests/integrationtest/t/executor/set.test
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#58832 planner: add physical plan memorization for multi cascades logical alternative.
  pkg/planner/cascades/memo/memo.go
  pkg/planner/cascades/memo/memo_test.go
  pkg/planner/core/base/plan_base.go
  pkg/planner/core/operator/logicalop/base_logical_plan.go
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#58795 statistics: collect duration of failed stats cache sync
  pkg/statistics/handle/cache/statscache.go
Labels: sig/planner, release-note, size/XS, approved, lgtm

#58889 executor: modify the spill chunk size of topn
  pkg/executor/sortexec/topn.go
Labels: size/XS, release-note-none, approved, lgtm

#58734 br/restore/log_client: use input ts as filter
  DEPS.bzl
  br/pkg/restore/log_client/BUILD.bazel
  br/pkg/restore/log_client/export_test.go
  br/pkg/restore/log_client/migration.go
  br/pkg/restore/log_client/migration_test.go
  br/pkg/stream/stream_metas.go
  br/pkg/stream/stream_metas_test.go
  br/pkg/streamhelper/basic_lib_for_test.go
  go.mod
  go.sum
Labels: size/L, release-note-none, approved, lgtm

#58877 ddl: fix drop column args count for v1
  pkg/meta/model/job_args.go
  pkg/meta/model/job_args_test.go
Labels: size/S, release-note-none, approved, lgtm

#58882 executor: fix a bug that global temporary table send cop request
  pkg/executor/builder.go
  pkg/executor/temporary_table_test.go
Labels: size/M, release-note-none, ok-to-test, approved, lgtm

#58872 executor: fix prepared protocol charset
  pkg/executor/prepared.go
  pkg/executor/prepared_test.go
Labels: release-note, size/M, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#58881 ddl/dxf: refine internal docs and some log refactor
  pkg/ddl/job_scheduler.go
  pkg/ddl/job_worker.go
  pkg/disttask/framework/BUILD.bazel
  pkg/disttask/framework/doc.go
  pkg/disttask/framework/proto/subtask.go
  pkg/disttask/framework/proto/task.go
  pkg/meta/model/table.go
Labels: size/XL, release-note-none, approved, lgtm

#58781 infoschema,metrics: add a metric for infoschema v2 cache objects count
  pkg/infoschema/infoschemav2_cache_test.go
  pkg/infoschema/metrics.go
  pkg/infoschema/sieve.go
  pkg/metrics/grafana/tidb.json
  pkg/metrics/infoschema.go
  pkg/metrics/metrics.go
Labels: size/L, release-note-none, approved, lgtm

#58805 planner: remove skip prealloc tag
  pkg/planner/core/operator/logicalop/logical_aggregation.go
  pkg/planner/core/rule_join_reorder.go
  pkg/planner/core/rule_join_reorder_dp.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#58909 *: Update client-go and verify all read ts
  DEPS.bzl
  go.mod
  go.sum
  pkg/ddl/column_change_test.go
  pkg/ddl/column_test.go
  pkg/ddl/db_integration_test.go
  pkg/ddl/index_change_test.go
  pkg/ddl/job_worker_test.go
  pkg/executor/set.go
  pkg/executor/test/executor/executor_test.go
  pkg/executor/test/writetest/BUILD.bazel
  pkg/executor/test/writetest/write_test.go
  pkg/planner/core/planbuilder.go
  pkg/sessionctx/context.go
  pkg/sessiontxn/staleread/processor.go
  pkg/sessiontxn/staleread/util.go
  pkg/store/copr/BUILD.bazel
  pkg/store/copr/batch_coprocessor.go
  pkg/store/copr/batch_request_sender.go
  pkg/store/copr/mpp.go
  pkg/util/mock/BUILD.bazel
  pkg/util/mock/context.go
  pkg/util/mock/fortest.go
Labels: sig/planner, release-note, size/L, cherry-pick-approved, approved, lgtm

#58862 executor: support capturing to and replaying from shared storage
  pkg/executor/traffic.go
  pkg/executor/traffic_test.go
Labels: size/XL, release-note-none, ok-to-test, approved, lgtm

#58801 br/cmd: added operator checksum-as|force-flush
  DEPS.bzl
  br/cmd/br/operator.go
  br/pkg/task/operator/BUILD.bazel
  br/pkg/task/operator/checksum_table.go
  br/pkg/task/operator/config.go
  br/pkg/task/operator/force_flush.go
  br/tests/br_test_utils.sh
  go.mod
  go.sum
Labels: size/XXL, release-note-none, approved, lgtm

#58899 json: add json fuzz test for `json_extract` function and fix several bugs found by it | tidb-test=pr/2467
  pkg/types/BUILD.bazel
  pkg/types/json_binary.go
  pkg/types/json_binary_functions.go
  pkg/types/json_binary_test.go
  pkg/types/json_path_expr.go
  pkg/types/json_path_expr_test.go
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/r/expression/builtin.result
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/r/expression/json.result
  tests/integrationtest/t/expression/issues.test
  tests/integrationtest/t/expression/json.test
Labels: size/XL, release-note-none, approved, lgtm

#58943 ttl: rollback the scan trasnaction even if the `BEGIN` failed.
  pkg/ttl/session/session.go
  pkg/ttl/ttlworker/BUILD.bazel
  pkg/ttl/ttlworker/scan_integration_test.go
  pkg/ttl/ttlworker/scan_test.go
Labels: release-note, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#58770 ddl: fix a bug that create two views with same name success
  pkg/ddl/create_table.go
  pkg/ddl/table_test.go
Labels: size/S, release-note-none, approved, lgtm

#58887 statistics: fix the panic when to async load stats with dropped index
  pkg/statistics/handle/storage/read.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#57716 br: copy full backup to pitr storage
  br/pkg/checkpoint/restore.go
  br/pkg/errors/errors.go
  br/pkg/gluetidb/glue.go
  br/pkg/logutil/logging.go
  br/pkg/logutil/rate.go
  br/pkg/restore/import_mode_switcher.go
  br/pkg/restore/log_client/BUILD.bazel
  br/pkg/restore/log_client/client.go
  br/pkg/restore/log_client/client_test.go
  br/pkg/restore/log_client/compacted_file_strategy.go
  br/pkg/restore/log_client/export_test.go
  br/pkg/restore/log_client/log_file_manager.go
  br/pkg/restore/log_client/migration.go
  br/pkg/restore/log_client/migration_test.go
  br/pkg/restore/log_client/ssts.go
  br/pkg/restore/restorer.go
  br/pkg/restore/snap_client/BUILD.bazel
  br/pkg/restore/snap_client/client.go
  br/pkg/restore/snap_client/import.go
  br/pkg/restore/snap_client/pitr_collector.go
  br/pkg/restore/snap_client/pitr_collector_test.go
  br/pkg/restore/utils/BUILD.bazel
  br/pkg/restore/utils/rewrite_rule.go
  br/pkg/storage/BUILD.bazel
  br/pkg/storage/ks3.go
  br/pkg/storage/local.go
  br/pkg/storage/locking.go
  br/pkg/storage/locking_test.go
  br/pkg/storage/s3.go
  br/pkg/storage/storage.go
  br/pkg/stream/BUILD.bazel
  br/pkg/stream/stream_metas.go
  br/pkg/stream/stream_metas_test.go
  br/pkg/summary/summary.go
  br/pkg/task/BUILD.bazel
  br/pkg/task/common.go
  br/pkg/task/operator/force_flush.go
  br/pkg/task/operator/list_migration.go
  br/pkg/task/operator/migrate_to.go
  br/pkg/task/operator/prepare_snap.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
  br/pkg/utils/iter/iter.go
  errors.toml
  pkg/executor/brie.go
  pkg/metrics/BUILD.bazel
  pkg/metrics/br.go
  pkg/metrics/metrics.go
  pkg/util/BUILD.bazel
  pkg/util/util.go
  pkg/util/util_test.go
  tests/realtikvtest/brietest/BUILD.bazel
  tests/realtikvtest/brietest/main_test.go
  tests/realtikvtest/brietest/pitr_test.go
Labels: size/XXL, release-note-none, approved, lgtm

#58671 br: output backup error from TiKV
  br/pkg/backup/client.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#58972 *: cherry-pick #58138. #58324. #58466 #58815 to the hotfix branch
  DEPS.bzl
  go.mod
  go.sum
  pkg/infoschema/BUILD.bazel
  pkg/infoschema/builder.go
  pkg/infoschema/infoschema_v2.go
  pkg/infoschema/infoschema_v2_test.go
  pkg/metrics/grafana/tidb.json
Labels: size/L, release-note-none, approved, lgtm

#58929 statistics: enhance dumpStatsDeltaToKV to return updated batch updates and ensure proper sorting
  pkg/statistics/handle/usage/session_stats_collect.go
Labels: sig/planner, size/S, release-note-none, approved, lgtm

#58988 makefile: ignore go template files in .idea dir when enable failpoints
  Makefile.common
Labels: size/XS, release-note-none, approved, lgtm

#58989 planner: add logical operator clone test
  pkg/planner/core/operator/logicalop/logicalop_test/BUILD.bazel
  pkg/planner/core/operator/logicalop/logicalop_test/logical_operator_test.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58938 dxf: add an example application
  pkg/disttask/example/BUILD.bazel
  pkg/disttask/example/app_test.go
  pkg/disttask/example/doc.go
  pkg/disttask/example/proto.go
  pkg/disttask/example/scheduler.go
  pkg/disttask/example/task_executor.go
  pkg/disttask/framework/scheduler/interface.go
Labels: size/XL, release-note-none, approved, lgtm

#58982 bazel: upgrade rules_go 0.52.0
  WORKSPACE
Labels: release-note-none, skip-issue-check, approved, lgtm

#58925 *: Update client-go and verify all read ts
  DEPS.bzl
  br/pkg/lightning/config/bytesize_test.go
  go.mod
  go.sum
  pkg/executor/set.go
  pkg/executor/test/executor/executor_test.go
  pkg/planner/core/planbuilder.go
  pkg/sessionctx/context.go
  pkg/sessiontxn/staleread/processor.go
  pkg/sessiontxn/staleread/util.go
  pkg/store/copr/BUILD.bazel
  pkg/store/copr/batch_coprocessor.go
  pkg/store/copr/batch_request_sender.go
  pkg/store/copr/mpp.go
  pkg/util/mock/BUILD.bazel
  pkg/util/mock/context.go
Labels: sig/planner, release-note, size/L, cherry-pick-approved, approved, lgtm

#58923 *: Update client-go and verify all read ts
  DEPS.bzl
  go.mod
  go.sum
  pkg/executor/set.go
  pkg/executor/test/writetest/write_test.go
  pkg/planner/core/planbuilder.go
  pkg/sessionctx/context.go
  pkg/sessiontxn/staleread/processor.go
  pkg/sessiontxn/staleread/util.go
  pkg/store/copr/BUILD.bazel
  pkg/store/copr/batch_coprocessor.go
  pkg/store/copr/batch_request_sender.go
  pkg/store/copr/mpp.go
  pkg/util/mock/BUILD.bazel
  pkg/util/mock/context.go
Labels: sig/planner, release-note, size/L, cherry-pick-approved, approved, lgtm

#59004 *: upgrade go 1.23.5
  WORKSPACE
  build/image/base
  build/image/parser_test
  dumpling/README.md
  go.mod
Labels: size/S, release-note-none, component/dumpling, skip-issue-check, approved, lgtm

#58991 ddl: filter zero job IDs when puting `DDLAllSchemaVersionsByJob` key
  pkg/ddl/schemaver/syncer.go
Labels: release-note, size/XS, approved, lgtm

#57011 planner: Using converted value in newBatchPointGetPlan, fix for partitioned table and IN
  pkg/planner/core/point_get_plan.go
  tests/integrationtest/r/planner/core/casetest/partition/integration_partition.result
  tests/integrationtest/t/planner/core/casetest/partition/integration_partition.test
Labels: release-note, size/M, cherry-pick-approved, approved, lgtm

#58987 runaway: fix race problem when using multiple coprocessor workers
  pkg/resourcegroup/runaway/BUILD.bazel
  pkg/resourcegroup/runaway/checker.go
  pkg/resourcegroup/runaway/checker_test.go
Labels: size/L, release-note-none, approved, lgtm

#57770 ddl/ingest: remove backend context manager and refactor code
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_dist_executor.go
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_import_cloud.go
  pkg/ddl/backfilling_operators.go
  pkg/ddl/backfilling_read_index.go
  pkg/ddl/backfilling_test.go
  pkg/ddl/export_test.go
  pkg/ddl/index.go
  pkg/ddl/index_presplit.go
  pkg/ddl/ingest/BUILD.bazel
  pkg/ddl/ingest/backend.go
  pkg/ddl/ingest/backend_mgr.go
  pkg/ddl/ingest/checkpoint.go
  pkg/ddl/ingest/checkpoint_test.go
  pkg/ddl/ingest/disk_root.go
  pkg/ddl/ingest/engine.go
  pkg/ddl/ingest/engine_mgr.go
  pkg/ddl/ingest/env.go
  pkg/ddl/ingest/integration_test.go
  pkg/ddl/ingest/main_test.go
  pkg/ddl/ingest/mem_root.go
  pkg/ddl/ingest/mem_root_test.go
  pkg/ddl/ingest/mock.go
  pkg/ddl/ingest/testutil/BUILD.bazel
  pkg/ddl/ingest/testutil/testutil.go
  pkg/ddl/main_test.go
  pkg/ddl/reorg.go
  pkg/ddl/rollingback.go
  pkg/ddl/tests/metadatalock/mdl_test.go
  pkg/lightning/backend/local/local.go
  pkg/lightning/backend/local/region_job.go
  tests/realtikvtest/BUILD.bazel
  tests/realtikvtest/addindextest3/BUILD.bazel
  tests/realtikvtest/addindextest3/functional_test.go
  tests/realtikvtest/addindextest3/ingest_test.go
  tests/realtikvtest/addindextest3/operator_test.go
  tests/realtikvtest/testkit.go
Labels: size/XXL, release-note-none, ok-to-test, approved, lgtm

#59012 *: add test cases for non-unique global index
  br/tests/br_table_partition/prepare.sh
  br/tests/br_table_partition/run.sh
  dumpling/tests/partition_table/data/pt_case_0.sql
  dumpling/tests/partition_table/data/pt_case_1.sql
  dumpling/tests/partition_table/data/pt_case_2.sql
  dumpling/tests/partition_table/result/pt_case_0-schema.sql
  dumpling/tests/partition_table/result/pt_case_1-schema.sql
  dumpling/tests/partition_table/result/pt_case_2-schema.sql
  lightning/tests/lightning_partitioned-table/data/partitioned.a-schema.sql
  lightning/tests/lightning_partitioned-table/data/partitioned.defaultlist-schema.sql
  lightning/tests/lightning_partitioned-table/data/partitioned.list-schema.sql
  lightning/tests/lightning_partitioned-table/data/partitioned.range-schema.sql
  lightning/tests/lightning_partitioned-table/run.sh
  tests/realtikvtest/importintotest/import_into_test.go
Labels: size/M, release-note-none, component/dumpling, approved, lgtm

#59013 ddl/dxf: some rename and merge explicit impl of scheduler.Extension with scheduler
  pkg/ddl/BUILD.bazel
  pkg/ddl/backfilling.go
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/ddl/backfilling_dist_scheduler_test.go
  pkg/ddl/backfilling_txn_executor.go
  pkg/disttask/importinto/scheduler.go
  pkg/disttask/importinto/scheduler_test.go
  pkg/disttask/importinto/scheduler_testkit_test.go
Labels: size/XL, release-note-none, approved, lgtm

#58996 statistics: optimize stats delta dumping with batch processing
  pkg/disttask/importinto/proto.go
  pkg/disttask/importinto/scheduler.go
  pkg/disttask/importinto/subtask_executor.go
  pkg/disttask/importinto/task_executor.go
  pkg/domain/domain.go
  pkg/executor/delete.go
  pkg/executor/importer/BUILD.bazel
  pkg/executor/importer/engine_process.go
  pkg/executor/importer/import.go
  pkg/executor/importer/importer_testkit_test.go
  pkg/executor/importer/kv_encode.go
  pkg/executor/importer/progress.go
  pkg/executor/importer/table_import.go
  pkg/executor/infoschema_reader_test.go
  pkg/executor/internal/exec/executor.go
  pkg/executor/test/analyzetest/analyze_test.go
  pkg/executor/test/analyzetest/memorycontrol/BUILD.bazel
  pkg/executor/test/analyzetest/memorycontrol/memory_control_test.go
  pkg/lightning/backend/kv/context.go
  pkg/lightning/backend/kv/context_test.go
  pkg/lightning/backend/kv/session.go
  pkg/planner/core/integration_test.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/indexadvisor/optimizer_test.go
  pkg/server/handler/tests/BUILD.bazel
  pkg/server/handler/tests/http_handler_serial_test.go
  pkg/session/session.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/session_test.go
  pkg/statistics/handle/autoanalyze/autoanalyze_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_ddl_handler_test.go
  pkg/statistics/handle/autoanalyze/priorityqueue/queue_test.go
  pkg/statistics/handle/autoanalyze/refresher/BUILD.bazel
  pkg/statistics/handle/autoanalyze/refresher/refresher_test.go
  pkg/statistics/handle/ddl/subscriber.go
  pkg/statistics/handle/handletest/handle_test.go
  pkg/statistics/handle/handletest/statstest/BUILD.bazel
  pkg/statistics/handle/handletest/statstest/stats_test.go
  pkg/statistics/handle/storage/update.go
  pkg/statistics/handle/updatetest/update_test.go
  pkg/statistics/handle/usage/BUILD.bazel
  pkg/statistics/handle/usage/session_stats_collect.go
  pkg/table/BUILD.bazel
  pkg/table/table.go
  pkg/table/tables/tables.go
  pkg/table/tblctx/BUILD.bazel
  pkg/table/tblctx/buffers.go
  pkg/table/tblctx/buffers_test.go
  pkg/table/tblctx/table.go
  pkg/table/tblsession/table.go
  pkg/table/tblsession/table_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#59020 ddl: fix context usage and wait adjust worker count routine exit before return
  pkg/ddl/backfilling.go
Labels: size/S, release-note-none, approved, lgtm

#59007 *: bump client-go to adopt some optimizations
  DEPS.bzl
  go.mod
  go.sum
  pkg/executor/stale_txn_test.go
  pkg/metrics/grafana/performance_overview.json
  pkg/session/test/session_test.go
  pkg/session/txn.go
  pkg/store/mockstore/unistore/rpc.go
Labels: size/M, release-note-none, approved, lgtm

#59030 util: split the tests of workloadrepo into multiple shard
  pkg/util/workloadrepo/BUILD.bazel
  tools/tazel/util.go
Labels: size/XS, release-note-none, approved, lgtm

#58946 *: fix tidb panic in (*memoryUsageAlarm).recordSQL
  util/expensivequery/expensivequerey_test.go
  util/expensivequery/memory_usage_alarm.go
Labels: release-note, size/M, cherry-pick-approved, approved, lgtm

#59033 dxf: add comment to explain current schedule strategy
  pkg/disttask/framework/scheduler/scheduler.go
Labels: size/S, release-note-none, approved, lgtm

#55261 br: disable stats for log task
  br/cmd/br/stream.go
Labels: size/XS, cherry-pick-approved, release-note-none, approved, lgtm

#58990 dxf: support modify app param on scheduler part
  pkg/ddl/backfilling_dist_scheduler.go
  pkg/disttask/framework/integrationtests/modify_test.go
  pkg/disttask/framework/mock/scheduler_mock.go
  pkg/disttask/framework/proto/modify.go
  pkg/disttask/framework/scheduler/BUILD.bazel
  pkg/disttask/framework/scheduler/interface.go
  pkg/disttask/framework/scheduler/mock/scheduler_mock.go
  pkg/disttask/framework/scheduler/scheduler.go
  pkg/disttask/framework/scheduler/scheduler_manager_nokit_test.go
  pkg/disttask/framework/scheduler/scheduler_nokit_test.go
  pkg/disttask/framework/scheduler/testutil.go
  pkg/disttask/framework/testutil/scheduler_util.go
  pkg/disttask/importinto/scheduler.go
Labels: size/L, release-note-none, approved, lgtm

#59044 backup/pitr_coll: use target client of S3
  br/pkg/storage/s3.go
Labels: size/XS, release-note-none, approved, lgtm

#58225 cherry-pick-7.5: br: restore checksum shouldn't rely on backup checksum (#56712)
  br/cmd/br/backup.go
  br/cmd/br/cmd.go
  br/cmd/br/main.go
  br/cmd/br/restore.go
  br/pkg/backup/schema.go
  br/pkg/metautil/metafile.go
  br/pkg/restore/client.go
  br/pkg/task/backup.go
  br/pkg/task/common.go
  br/pkg/task/common_test.go
  br/pkg/task/restore.go
  br/pkg/task/restore_raw.go
  br/pkg/task/restore_txn.go
  br/tests/br_file_corruption/run.sh
  br/tests/br_full_ddl/run.sh
  br/tests/br_full_index/run.sh
  build/BUILD.bazel
  pkg/executor/brie.go
Labels: release-note, size/L, cherry-pick-approved, approved, lgtm

#58683 executor,util: Stat inner/inter zone network traffic for MPP tasks
  DEPS.bzl
  go.mod
  go.sum
  pkg/executor/adapter.go
  pkg/executor/internal/mpp/BUILD.bazel
  pkg/executor/internal/mpp/local_mpp_coordinator.go
  pkg/executor/internal/mpp/local_mpp_coordinator_test.go
  pkg/util/execdetails/execdetails.go
  pkg/util/execdetails/execdetails_test.go
Labels: sig/planner, size/XXL, release-note-none, approved, lgtm

#59050 backup/pitr_coll: use target client of S3 (#59044)
  br/pkg/storage/s3.go
Labels: size/XS, release-note-none, approved, lgtm

#58963 br: add retry for raw kv client put
  br/pkg/restore/log_client/BUILD.bazel
  br/pkg/restore/log_client/client.go
  br/pkg/restore/log_client/client_test.go
  br/pkg/utils/backoff.go
Labels: release-note, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#59031 statistics: fix the behavior of DROP STATS after #58596 | tidb-test=pr/2471
  pkg/executor/simple.go
  pkg/executor/test/simpletest/BUILD.bazel
  pkg/executor/test/simpletest/simple_test.go
  pkg/statistics/handle/cache/internal/testutil/testutil.go
  pkg/statistics/handle/storage/gc.go
  pkg/statistics/handle/storage/read.go
  pkg/statistics/handle/syncload/stats_syncload.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/table.go
  tests/integrationtest/r/executor/expand.result
  tests/integrationtest/r/executor/kv.result
  tests/integrationtest/r/planner/core/casetest/partition/partition_pruner.result
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#58588 expression: Fixing Expression Rewrite Bug in Predicate Push Down for NULLIF with Type Mismatch
  pkg/expression/aggregation/base_func.go
  pkg/expression/builtin.go
  pkg/expression/builtin_cast.go
  pkg/expression/builtin_cast_test.go
  pkg/planner/core/expression_rewriter.go
  pkg/planner/core/rule_aggregation_elimination.go
  tests/integrationtest/r/expression/issues.result
  tests/integrationtest/t/expression/issues.test
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#58478 executor, indexusage: don't load stats for point get index usage reporter
  pkg/executor/builder.go
  pkg/executor/internal/exec/indexusage.go
  pkg/executor/internal/exec/indexusage_test.go
  pkg/executor/point_get.go
Labels: size/M, release-note-none, approved, lgtm

#59049 table: Don't cast date default values (same as timestamp/datetime) | tidb-test=pr/2472
  ddl/db_partition_test.go
  table/column.go
Labels: release-note, size/S, cherry-pick-approved, approved, lgtm

#58818 infoschema: remove domain init reload when reload time greater than half of schemaLease
  pkg/domain/domain.go
Labels: size/S, release-note-none, ok-to-test, approved, lgtm

#59052 *: upgrade pebble to support build on loong64
  DEPS.bzl
  go.mod
  go.sum
Labels: size/M, release-note-none, approved, lgtm

#59077 planner: move some ut into new package
  pkg/planner/core/BUILD.bazel
  pkg/planner/core/tests/pointget/BUILD.bazel
  pkg/planner/core/tests/pointget/main_test.go
  pkg/planner/core/tests/pointget/point_get_plan_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#59085 expression: fix wrong size in the baseBuiltinFunc.cloneFrom
  pkg/expression/builtin.go
Labels: size/XS, release-note-none, approved, lgtm

#58853 planner: avoid slicesgrow in the buildDataSource
  pkg/planner/core/logical_plan_builder.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#59091 execdetails: use slices.SortFunc to eliminate bound checker
  pkg/util/execdetails/execdetails.go
Labels: size/XS, release-note-none, approved, lgtm

#59092 test: fix error checking
  br/pkg/stream/stream_metas_test.go
  br/pkg/streamhelper/integration_test.go
  br/pkg/task/stream_test.go
  br/pkg/utils/backoff_test.go
  pkg/ddl/tests/tiflash/ddl_tiflash_test.go
  pkg/executor/sortexec/topn_chunk_heap.go
  pkg/executor/test/admintest/admin_test.go
  pkg/expression/helper_test.go
  pkg/expression/integration_test/integration_test.go
  pkg/owner/manager_test.go
  pkg/planner/core/plan_cache_lru_test.go
  pkg/table/column_test.go
  pkg/table/temptable/interceptor_test.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm

#59095 *: support ALPN for the status server
  pkg/server/http_status.go
Labels: size/XS, release-note-none, ok-to-test, approved, lgtm

#59054 planner, executor: add privilege check for traffic replay
  pkg/executor/traffic.go
  pkg/executor/traffic_test.go
  pkg/planner/core/planbuilder.go
  pkg/planner/core/planbuilder_test.go
  pkg/privilege/privileges/privileges.go
  tests/integrationtest/r/executor/executor.result
  tests/integrationtest/r/privilege/privileges.result
  tests/integrationtest/t/privilege/privileges.test
Labels: sig/planner, size/L, release-note-none, ok-to-test, approved, lgtm

#59100 executor: make TestWorkerPool stable
  pkg/executor/utils_test.go
Labels: size/S, release-note-none, approved, lgtm

#58729 planner: Ensure index without stats survives for skyling pruning | tidb-test=pr/2465
  pkg/planner/cardinality/BUILD.bazel
  pkg/planner/cardinality/selectivity_test.go
  pkg/planner/cardinality/testdata/cardinality_suite_out.json
  pkg/planner/core/casetest/testdata/plan_normalized_suite_out.json
  pkg/planner/core/find_best_task.go
  pkg/planner/core/logical_plans_test.go
  pkg/planner/util/path.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#59041 sessionctx, executor, infoschema: Add fine grained network traffic stats in slow log
  pkg/executor/adapter.go
  pkg/executor/slow_query.go
  pkg/executor/slow_query_test.go
  pkg/infoschema/internal/testkit.go
  pkg/infoschema/tables.go
  pkg/infoschema/test/clustertablestest/tables_test.go
  pkg/sessionctx/variable/session.go
  pkg/sessionctx/variable/session_test.go
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/stmtsummary/statement_summary_test.go
  pkg/util/stmtsummary/v2/record.go
Labels: size/L, release-note-none, approved, lgtm

#59098 br: fix data race for the function IsLeaseExpired
  pkg/domain/schema_validator.go
Labels: size/XS, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, approved, lgtm

#58935 dxf: support param modify for active running subtask
  pkg/disttask/framework/integrationtests/modify_test.go
  pkg/disttask/framework/mock/execute/execute_mock.go
  pkg/disttask/framework/taskexecutor/BUILD.bazel
  pkg/disttask/framework/taskexecutor/execute/interface.go
  pkg/disttask/framework/taskexecutor/interface.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
Labels: size/XL, release-note-none, approved, lgtm

#56612 br: improve summary and progress visualization of br
  br/pkg/backup/client.go
  br/pkg/glue/glue.go
  br/pkg/restore/restorer.go
  br/pkg/restore/restorer_test.go
  br/pkg/restore/snap_client/client.go
  br/pkg/restore/snap_client/pipeline_items.go
  br/pkg/restore/snap_client/tikv_sender.go
  br/pkg/restore/snap_client/tikv_sender_test.go
  br/pkg/task/restore.go
  br/pkg/task/stream.go
Labels: size/XL, needs-rebase, release-note-none, ok-to-test, approved, lgtm

#59037 statistics: update RecordHistoricalStatsMeta to handle multiple table IDs
  pkg/executor/historical_stats_test.go
  pkg/statistics/handle/ddl/subscriber.go
  pkg/statistics/handle/history/BUILD.bazel
  pkg/statistics/handle/history/history_stats.go
  pkg/statistics/handle/storage/stats_read_writer.go
  pkg/statistics/handle/types/interfaces.go
  pkg/statistics/handle/usage/session_stats_collect.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#58934 *: Update client-go and verify all read ts
  DEPS.bzl
  executor/executor_test.go
  executor/set.go
  go.mod
  go.sum
  planner/core/planbuilder.go
  sessionctx/context.go
  sessiontxn/staleread/processor.go
  sessiontxn/staleread/util.go
  store/copr/BUILD.bazel
  store/copr/batch_coprocessor.go
  store/copr/batch_request_sender.go
  store/copr/mpp.go
Labels: release-note, size/M, cherry-pick-approved, approved, lgtm

#59119 statsistics: add a intest when put stats table into statscache
  pkg/statistics/handle/cache/BUILD.bazel
  pkg/statistics/handle/cache/statscacheinner.go
Labels: sig/planner, size/XS, release-note-none, skip-issue-check, approved, lgtm

#58997 *: Update client-go and verify all read ts (#58054)
  DEPS.bzl
  executor/set.go
  go.mod
  go.sum
  planner/core/planbuilder.go
  sessionctx/context.go
  sessiontxn/staleread/processor.go
  sessiontxn/staleread/util.go
  store/copr/BUILD.bazel
  store/copr/batch_coprocessor.go
  store/copr/batch_request_sender.go
  store/copr/mpp.go
Labels: release-note, size/M, cherry-pick-approved, approved, lgtm

#59102 planner: Bound Check Elimination in the PhysicalTableScan.Clone
  pkg/planner/core/physical_plans.go
Labels: sig/planner, size/XS, release-note-none, approved, lgtm

#58893 DXF: check the cause of `subtaskCtx` to decide the subtask state
  pkg/disttask/framework/integrationtests/framework_test.go
  pkg/disttask/framework/scheduler/balancer.go
  pkg/disttask/framework/taskexecutor/task_executor.go
  pkg/disttask/framework/taskexecutor/task_executor_test.go
  tests/realtikvtest/addindextest1/disttask_test.go
Labels: size/S, release-note-none, approved, lgtm

#59127 statistics: refactor RecordHistoricalStatsMeta to handle single table
  pkg/statistics/handle/history/history_stats.go
  pkg/statistics/handle/types/interfaces.go
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#58866 workloadrepo: Use better error codes for errors in the Workload Repository.
  pkg/util/workloadrepo/BUILD.bazel
  pkg/util/workloadrepo/const.go
  pkg/util/workloadrepo/housekeeper.go
  pkg/util/workloadrepo/sampling.go
  pkg/util/workloadrepo/snapshot.go
  pkg/util/workloadrepo/table.go
  pkg/util/workloadrepo/utils.go
  pkg/util/workloadrepo/worker.go
  pkg/util/workloadrepo/worker_test.go
Labels: size/M, release-note-none, approved, lgtm

#59136 types: avoid slicegrow in the FieldName.String()
  pkg/types/field_name.go
Labels: size/XS, release-note-none, approved, lgtm

#59138 *: cherry pick #58946 to release-6.1-20231229-v6.1.7 branch
  util/expensivequery/expensivequerey_test.go
  util/expensivequery/memory_usage_alarm.go
Labels: size/M, release-note-none, approved, lgtm

#59129 parser: redact passwords and secrets for traffic statements
  pkg/parser/ast/misc.go
  pkg/parser/ast/misc_test.go
Labels: size/M, release-note-none, approved, lgtm

#58962 planner: remove redundant branches in the OR list | tidb-test=pr/2470
  pkg/planner/core/rule_predicate_simplification.go
  tests/integrationtest/r/executor/partition/partition_boundaries.result
  tests/integrationtest/r/planner/core/casetest/predicate_simplification.result
  tests/integrationtest/r/planner/core/indexmerge_path.result
  tests/integrationtest/t/planner/core/casetest/predicate_simplification.test
Labels: sig/planner, size/L, release-note-none, approved, lgtm

#59117 planner: stats async load only load real predicate columns
  pkg/planner/core/casetest/planstats/testdata/plan_stats_suite_out.json
  pkg/planner/core/collect_column_stats_usage.go
  pkg/planner/core/collect_column_stats_usage_test.go
  pkg/planner/core/rule_collect_plan_stats.go
  pkg/planner/core/stats.go
Labels: sig/planner, size/M, release-note-none, approved, lgtm, needs-cherry-pick-release-8.5

#59147 executor: fix a bug that global temporary table send cop request #58882
  MODULE.bazel.lock
  executor/builder.go
  executor/temporary_table_test.go
Labels: size/L, release-note-none, approved, lgtm

#59149 table: Don't cast date default values (same as timestamp/datetime) | tidb-test=920d9bf1b1137cda1272bdd59ae527aee8067944
  ddl/db_partition_test.go
  table/column.go
Labels: release-note, size/S, approved, lgtm

#59131 statistics: BinarySearchRemoveVal should use decoded val instead of encoded
  pkg/statistics/BUILD.bazel
  pkg/statistics/handle/globalstats/global_stats_internal_test.go
  pkg/statistics/handle/globalstats/merge_worker.go
  pkg/statistics/handle/globalstats/topn.go
  pkg/statistics/histogram.go
  pkg/statistics/histogram_test.go
Labels: sig/planner, release-note, size/M, approved, lgtm, needs-cherry-pick-release-8.5

#59124 planner: make the logical op's shallow ref generator.
  pkg/planner/core/generator/shallow_ref/BUILD.bazel
  pkg/planner/core/generator/shallow_ref/shallow_ref_generator.go
  pkg/planner/core/generator/shallow_ref/shallow_ref_test.go
  pkg/planner/core/operator/logicalop/BUILD.bazel
  pkg/planner/core/operator/logicalop/logical_join.go
  pkg/planner/core/operator/logicalop/logical_plans_misc.go
  pkg/planner/core/operator/logicalop/shallow_ref_generated.go
Labels: sig/planner, size/XL, release-note-none, ok-to-test, approved, lgtm

#58643 *: fix insert max unsigned int64 to non-clustered table
  pkg/autoid_service/autoid.go
  pkg/autoid_service/autoid_test.go
  pkg/ddl/db_integration_test.go
  pkg/meta/autoid/autoid.go
  pkg/meta/autoid/autoid_test.go
  pkg/table/tables/tables.go
  tests/integrationtest/r/executor/autoid.result
  tests/integrationtest/t/executor/autoid.test
Labels: size/M, release-note-none, approved, lgtm

#59164 variable: disable fair locking all the time
  pkg/sessionctx/variable/sysvar.go
Labels: size/S, release-note-none

#58941 expr: support from_unixtime pushdown to tikv
  pkg/expression/expr_to_pb_test.go
  pkg/expression/infer_pushdown.go
  tests/integrationtest/r/planner/core/casetest/integration.result
Labels: release-note, size/S, approved, lgtm

#58737 *: integrate circuitbreaker for get region calls to PD
  pkg/domain/BUILD.bazel
  pkg/domain/domain_sysvars.go
  pkg/sessionctx/vardef/tidb_vars.go
  pkg/sessionctx/variable/sysvar.go
  pkg/sessionctx/variable/sysvar_test.go
  pkg/sessionctx/variable/tidb_vars.go
Labels: release-note, size/M, ok-to-test, approved, lgtm

#59088 stmtsummary: Add network related stats in tidb_statements_stats table
  pkg/infoschema/tables.go
  pkg/util/stmtsummary/reader.go
  pkg/util/stmtsummary/statement_summary.go
  pkg/util/stmtsummary/statement_summary_test.go
  pkg/util/stmtsummary/v2/column.go
Labels: size/XXL, release-note-none, approved, lgtm

#59112 compacted restore: ignore some keys out of specific range
  br/pkg/restore/log_client/client.go
  br/pkg/restore/log_client/compacted_file_strategy.go
  br/pkg/restore/log_client/log_file_manager.go
  br/pkg/restore/log_client/migration.go
  br/pkg/restore/log_client/ssts.go
  br/pkg/restore/snap_client/import.go
  br/pkg/restore/utils/BUILD.bazel
  br/pkg/restore/utils/rewrite_rule.go
  br/pkg/restore/utils/rewrite_rule_test.go
  br/pkg/task/stream.go
Labels: size/L, release-note-none, approved, lgtm

#59160 planner: add iter for HandleCols
  pkg/executor/builder.go
  pkg/planner/core/logical_plan_builder.go
  pkg/planner/core/operator/logicalop/logical_lock.go
  pkg/planner/core/operator/logicalop/logical_table_scan.go
  pkg/planner/util/handle_cols.go
Labels: sig/planner, size/M, release-note-none, skip-issue-check, approved, lgtm
